swagger: '2.0'
info:
  version: '2013-01-01'
  x-release: v4
  title: Amazon CloudSearch
  description: '<fullname>Amazon CloudSearch Configuration Service</fullname> <p>You use the Amazon CloudSearch configuration service to create, configure, and manage search domains. Configuration service requests are submitted using the AWS Query protocol. AWS Query requests are HTTP or HTTPS requests submitted via HTTP GET or POST with a query parameter named Action.</p> <p>The endpoint for configuration service requests is region-specific: cloudsearch.<i>region</i>.amazonaws.com. For example, cloudsearch.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href="http://docs.aws.amazon.com/general/latest/gr/rande.html#cloudsearch_region" target="_blank">Regions and Endpoints</a>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: cloudsearch
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cloudsearch-2013-01-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/cloudsearch/'
host: cloudsearch.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://cloudsearch.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon CloudSearch multi-region endpoint
  - url: 'https://cloudsearch.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon CloudSearch multi-region endpoint
  - url: 'http://cloudsearch.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon CloudSearch endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://cloudsearch.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon CloudSearch endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - text/xml
produces:
  - text/xml
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#Action=BuildSuggesters':
    get:
      x-aws-operation-name: BuildSuggesters
      operationId: GET BuildSuggesters
      description: 'Indexes the search suggestions. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html#configuring-suggesters">Configuring Suggesters</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BuildSuggestersResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - BuildSuggesters
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: BuildSuggesters
      operationId: POST BuildSuggesters
      description: 'Indexes the search suggestions. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html#configuring-suggesters">Configuring Suggesters</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BuildSuggestersResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - BuildSuggesters
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=CreateDomain':
    get:
      x-aws-operation-name: CreateDomain
      operationId: GET CreateDomain
      description: 'Creates a new search domain. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/creating-domains.html" target="_blank">Creating a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDomainResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDomain
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateDomain
      operationId: POST CreateDomain
      description: 'Creates a new search domain. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/creating-domains.html" target="_blank">Creating a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDomainResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDomain
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=DefineAnalysisScheme':
    get:
      x-aws-operation-name: DefineAnalysisScheme
      operationId: GET DefineAnalysisScheme
      description: 'Configures an analysis scheme that can be applied to a <code>text</code> or <code>text-array</code> field to define language-specific text processing options. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html" target="_blank">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineAnalysisSchemeResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: AnalysisScheme.AnalysisSchemeName
          in: query
          description: |
            Configuration information for an analysis scheme. Each analysis scheme has a unique name and specifies the language of the text to be processed. The following options can be configured for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>, <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.
          type: string
        - name: AnalysisScheme.AnalysisSchemeLanguage
          in: query
          description: |
            Configuration information for an analysis scheme. Each analysis scheme has a unique name and specifies the language of the text to be processed. The following options can be configured for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>, <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.
          type: string
        - name: AnalysisScheme.AnalysisOptions
          in: query
          description: |
            Configuration information for an analysis scheme. Each analysis scheme has a unique name and specifies the language of the text to be processed. The following options can be configured for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>, <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DefineAnalysisScheme
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DefineAnalysisScheme
      operationId: POST DefineAnalysisScheme
      description: 'Configures an analysis scheme that can be applied to a <code>text</code> or <code>text-array</code> field to define language-specific text processing options. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html" target="_blank">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineAnalysisSchemeResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: AnalysisScheme.AnalysisSchemeName
          in: formData
          description: |
            Configuration information for an analysis scheme. Each analysis scheme has a unique name and specifies the language of the text to be processed. The following options can be configured for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>, <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.
          type: string
        - name: AnalysisScheme.AnalysisSchemeLanguage
          in: formData
          description: |
            Configuration information for an analysis scheme. Each analysis scheme has a unique name and specifies the language of the text to be processed. The following options can be configured for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>, <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.
          type: string
        - name: AnalysisScheme.AnalysisOptions
          in: formData
          description: |
            Configuration information for an analysis scheme. Each analysis scheme has a unique name and specifies the language of the text to be processed. The following options can be configured for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>, <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DefineAnalysisScheme
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=DefineExpression':
    get:
      x-aws-operation-name: DefineExpression
      operationId: GET DefineExpression
      description: 'Configures an <code><a>Expression</a></code> for the search domain. Used to create new expressions and modify existing ones. If the expression exists, the new configuration replaces the old one. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html" target="_blank">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineExpressionResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Expression.ExpressionName
          in: query
          description: |
            A named expression that can be evaluated at search time. Can be used to sort the search results, define other expressions, or return computed information in the search results. 
          type: string
        - name: Expression.ExpressionValue
          in: query
          description: |
            A named expression that can be evaluated at search time. Can be used to sort the search results, define other expressions, or return computed information in the search results. 
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DefineExpression
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DefineExpression
      operationId: POST DefineExpression
      description: 'Configures an <code><a>Expression</a></code> for the search domain. Used to create new expressions and modify existing ones. If the expression exists, the new configuration replaces the old one. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html" target="_blank">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineExpressionResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Expression.ExpressionName
          in: formData
          description: |
            A named expression that can be evaluated at search time. Can be used to sort the search results, define other expressions, or return computed information in the search results. 
          type: string
        - name: Expression.ExpressionValue
          in: formData
          description: |
            A named expression that can be evaluated at search time. Can be used to sort the search results, define other expressions, or return computed information in the search results. 
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DefineExpression
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=DefineIndexField':
    get:
      x-aws-operation-name: DefineIndexField
      operationId: GET DefineIndexField
      description: 'Configures an <code><a>IndexField</a></code> for the search domain. Used to create new fields and modify existing ones. You must specify the name of the domain you are configuring and an index field configuration. The index field configuration specifies a unique name, the index field type, and the options you want to configure for the field. The options you can specify depend on the <code><a>IndexFieldType</a></code>. If the field exists, the new configuration replaces the old one. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html" target="_blank">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineIndexFieldResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: IndexField.IndexFieldName
          in: query
          description: |-
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
            <p>A string that represents the name of an index field. CloudSearch supports regular index fields as well as dynamic fields. A dynamic field's name defines a pattern that begins or ends with a wildcard. Any document fields that don't map to a regular index field but do match a dynamic field's pattern are configured with the dynamic field's indexing options. </p> <p>Regular field names begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Dynamic field names must begin or end with a wildcard (*). The wildcard can also be the only character in a dynamic field name. Multiple wildcards, and wildcards embedded within a string are not supported. </p> <p>The name <code>score</code> is reserved and cannot be used as a field name. To reference a document's ID, you can use the name <code>_id</code>. </p>
          type: string
        - name: IndexField.IndexFieldType
          in: query
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.IntOptions
          in: query
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.DoubleOptions
          in: query
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.LiteralOptions
          in: query
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.TextOptions
          in: query
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.DateOptions
          in: query
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.LatLonOptions
          in: query
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.IntArrayOptions
          in: query
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.DoubleArrayOptions
          in: query
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.LiteralArrayOptions
          in: query
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.TextArrayOptions
          in: query
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.DateArrayOptions
          in: query
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DefineIndexField
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DefineIndexField
      operationId: POST DefineIndexField
      description: 'Configures an <code><a>IndexField</a></code> for the search domain. Used to create new fields and modify existing ones. You must specify the name of the domain you are configuring and an index field configuration. The index field configuration specifies a unique name, the index field type, and the options you want to configure for the field. The options you can specify depend on the <code><a>IndexFieldType</a></code>. If the field exists, the new configuration replaces the old one. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html" target="_blank">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineIndexFieldResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: IndexField.IndexFieldName
          in: formData
          description: |-
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
            <p>A string that represents the name of an index field. CloudSearch supports regular index fields as well as dynamic fields. A dynamic field's name defines a pattern that begins or ends with a wildcard. Any document fields that don't map to a regular index field but do match a dynamic field's pattern are configured with the dynamic field's indexing options. </p> <p>Regular field names begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Dynamic field names must begin or end with a wildcard (*). The wildcard can also be the only character in a dynamic field name. Multiple wildcards, and wildcards embedded within a string are not supported. </p> <p>The name <code>score</code> is reserved and cannot be used as a field name. To reference a document's ID, you can use the name <code>_id</code>. </p>
          type: string
        - name: IndexField.IndexFieldType
          in: formData
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.IntOptions
          in: formData
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.DoubleOptions
          in: formData
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.LiteralOptions
          in: formData
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.TextOptions
          in: formData
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.DateOptions
          in: formData
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.LatLonOptions
          in: formData
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.IntArrayOptions
          in: formData
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.DoubleArrayOptions
          in: formData
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.LiteralArrayOptions
          in: formData
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.TextArrayOptions
          in: formData
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: IndexField.DateArrayOptions
          in: formData
          description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DefineIndexField
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=DefineSuggester':
    get:
      x-aws-operation-name: DefineSuggester
      operationId: GET DefineSuggester
      description: 'Configures a suggester for a domain. A suggester enables you to display possible matches before users finish typing their queries. When you configure a suggester, you must specify the name of the text field you want to search for possible matches and a unique name for the suggester. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html" target="_blank">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineSuggesterResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Suggester.SuggesterName
          in: query
          description: |
            Configuration information for a search suggester. Each suggester has a unique name and specifies the text field you want to use for suggestions. The following options can be configured for a suggester: <code>FuzzyMatching</code>, <code>SortExpression</code>. 
          type: string
        - name: Suggester.DocumentSuggesterOptions
          in: query
          description: |
            Configuration information for a search suggester. Each suggester has a unique name and specifies the text field you want to use for suggestions. The following options can be configured for a suggester: <code>FuzzyMatching</code>, <code>SortExpression</code>. 
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DefineSuggester
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DefineSuggester
      operationId: POST DefineSuggester
      description: 'Configures a suggester for a domain. A suggester enables you to display possible matches before users finish typing their queries. When you configure a suggester, you must specify the name of the text field you want to search for possible matches and a unique name for the suggester. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html" target="_blank">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineSuggesterResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Suggester.SuggesterName
          in: formData
          description: |
            Configuration information for a search suggester. Each suggester has a unique name and specifies the text field you want to use for suggestions. The following options can be configured for a suggester: <code>FuzzyMatching</code>, <code>SortExpression</code>. 
          type: string
        - name: Suggester.DocumentSuggesterOptions
          in: formData
          description: |
            Configuration information for a search suggester. Each suggester has a unique name and specifies the text field you want to use for suggestions. The following options can be configured for a suggester: <code>FuzzyMatching</code>, <code>SortExpression</code>. 
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DefineSuggester
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=DeleteAnalysisScheme':
    get:
      x-aws-operation-name: DeleteAnalysisScheme
      operationId: GET DeleteAnalysisScheme
      description: 'Deletes an analysis scheme. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html" target="_blank">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAnalysisSchemeResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: AnalysisSchemeName
          in: query
          required: true
          description: 'Names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore).'
          type: string
          pattern: '[a-z][a-z0-9_]*'
          minLength: 1
          maxLength: 64
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteAnalysisScheme
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteAnalysisScheme
      operationId: POST DeleteAnalysisScheme
      description: 'Deletes an analysis scheme. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html" target="_blank">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAnalysisSchemeResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: AnalysisSchemeName
          in: formData
          required: true
          description: 'Names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore).'
          type: string
          pattern: '[a-z][a-z0-9_]*'
          minLength: 1
          maxLength: 64
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteAnalysisScheme
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=DeleteDomain':
    get:
      x-aws-operation-name: DeleteDomain
      operationId: GET DeleteDomain
      description: 'Permanently deletes a search domain and all of its data. Once a domain has been deleted, it cannot be recovered. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/deleting-domains.html" target="_blank">Deleting a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDomainResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDomain
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteDomain
      operationId: POST DeleteDomain
      description: 'Permanently deletes a search domain and all of its data. Once a domain has been deleted, it cannot be recovered. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/deleting-domains.html" target="_blank">Deleting a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDomainResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDomain
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=DeleteExpression':
    get:
      x-aws-operation-name: DeleteExpression
      operationId: GET DeleteExpression
      description: 'Removes an <code><a>Expression</a></code> from the search domain. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html" target="_blank">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteExpressionResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: ExpressionName
          in: query
          required: true
          description: 'Names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore).'
          type: string
          pattern: '[a-z][a-z0-9_]*'
          minLength: 1
          maxLength: 64
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteExpression
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteExpression
      operationId: POST DeleteExpression
      description: 'Removes an <code><a>Expression</a></code> from the search domain. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html" target="_blank">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteExpressionResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: ExpressionName
          in: formData
          required: true
          description: 'Names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore).'
          type: string
          pattern: '[a-z][a-z0-9_]*'
          minLength: 1
          maxLength: 64
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteExpression
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=DeleteIndexField':
    get:
      x-aws-operation-name: DeleteIndexField
      operationId: GET DeleteIndexField
      description: 'Removes an <code><a>IndexField</a></code> from the search domain. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html" target="_blank">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIndexFieldResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: IndexFieldName
          in: query
          required: true
          description: The name of the index field your want to remove from the domain's indexing options.
          type: string
          pattern: '([a-z][a-z0-9_]*\*?|\*[a-z0-9_]*)'
          minLength: 1
          maxLength: 64
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteIndexField
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteIndexField
      operationId: POST DeleteIndexField
      description: 'Removes an <code><a>IndexField</a></code> from the search domain. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html" target="_blank">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIndexFieldResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: IndexFieldName
          in: formData
          required: true
          description: The name of the index field your want to remove from the domain's indexing options.
          type: string
          pattern: '([a-z][a-z0-9_]*\*?|\*[a-z0-9_]*)'
          minLength: 1
          maxLength: 64
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteIndexField
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=DeleteSuggester':
    get:
      x-aws-operation-name: DeleteSuggester
      operationId: GET DeleteSuggester
      description: 'Deletes a suggester. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html" target="_blank">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSuggesterResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: SuggesterName
          in: query
          required: true
          description: 'Names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore).'
          type: string
          pattern: '[a-z][a-z0-9_]*'
          minLength: 1
          maxLength: 64
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteSuggester
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteSuggester
      operationId: POST DeleteSuggester
      description: 'Deletes a suggester. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html" target="_blank">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSuggesterResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: SuggesterName
          in: formData
          required: true
          description: 'Names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore).'
          type: string
          pattern: '[a-z][a-z0-9_]*'
          minLength: 1
          maxLength: 64
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteSuggester
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=DescribeAnalysisSchemes':
    get:
      x-aws-operation-name: DescribeAnalysisSchemes
      operationId: GET DescribeAnalysisSchemes
      description: 'Gets the analysis schemes configured for a domain. An analysis scheme defines language-specific text processing options for a <code>text</code> field. Can be limited to specific analysis schemes by name. By default, shows all analysis schemes and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html" target="_blank">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAnalysisSchemesResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: AnalysisSchemeNames
          in: query
          required: false
          description: The analysis schemes you want to describe.
          type: array
          items:
            type: string
        - name: Deployed
          in: query
          required: false
          description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeAnalysisSchemes
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeAnalysisSchemes
      operationId: POST DescribeAnalysisSchemes
      description: 'Gets the analysis schemes configured for a domain. An analysis scheme defines language-specific text processing options for a <code>text</code> field. Can be limited to specific analysis schemes by name. By default, shows all analysis schemes and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html" target="_blank">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAnalysisSchemesResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: AnalysisSchemeNames
          in: formData
          required: false
          description: The analysis schemes you want to describe.
          type: array
          items:
            type: string
        - name: Deployed
          in: formData
          required: false
          description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeAnalysisSchemes
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=DescribeAvailabilityOptions':
    get:
      x-aws-operation-name: DescribeAvailabilityOptions
      operationId: GET DescribeAvailabilityOptions
      description: 'Gets the availability options configured for a domain. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html" target="_blank">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAvailabilityOptionsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '485':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Deployed
          in: query
          required: false
          description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeAvailabilityOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeAvailabilityOptions
      operationId: POST DescribeAvailabilityOptions
      description: 'Gets the availability options configured for a domain. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html" target="_blank">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAvailabilityOptionsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '485':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Deployed
          in: formData
          required: false
          description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeAvailabilityOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=DescribeDomainEndpointOptions':
    get:
      x-aws-operation-name: DescribeDomainEndpointOptions
      operationId: GET DescribeDomainEndpointOptions
      description: 'Returns the domain''s endpoint options, specifically whether all requests to the domain must arrive over HTTPS. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-domain-endpoint-options.html" target="_blank">Configuring Domain Endpoint Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDomainEndpointOptionsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Deployed
          in: query
          required: false
          description: 'Whether to retrieve the latest configuration (which might be in a Processing state) or the current, active configuration. Defaults to <code>false</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDomainEndpointOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeDomainEndpointOptions
      operationId: POST DescribeDomainEndpointOptions
      description: 'Returns the domain''s endpoint options, specifically whether all requests to the domain must arrive over HTTPS. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-domain-endpoint-options.html" target="_blank">Configuring Domain Endpoint Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDomainEndpointOptionsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Deployed
          in: formData
          required: false
          description: 'Whether to retrieve the latest configuration (which might be in a Processing state) or the current, active configuration. Defaults to <code>false</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDomainEndpointOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=DescribeDomains':
    get:
      x-aws-operation-name: DescribeDomains
      operationId: GET DescribeDomains
      description: 'Gets information about the search domains owned by this account. Can be limited to specific domains. Shows all domains by default. To get the number of searchable documents in a domain, use the console or submit a <code>matchall</code> request to your domain''s search endpoint: <code>q=matchall&amp;amp;q.parser=structured&amp;amp;size=0</code>. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html" target="_blank">Getting Information about a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDomainsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainNames
          in: query
          required: false
          description: A list of domain names.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDomains
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeDomains
      operationId: POST DescribeDomains
      description: 'Gets information about the search domains owned by this account. Can be limited to specific domains. Shows all domains by default. To get the number of searchable documents in a domain, use the console or submit a <code>matchall</code> request to your domain''s search endpoint: <code>q=matchall&amp;amp;q.parser=structured&amp;amp;size=0</code>. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html" target="_blank">Getting Information about a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDomainsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainNames
          in: formData
          required: false
          description: A list of domain names.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDomains
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=DescribeExpressions':
    get:
      x-aws-operation-name: DescribeExpressions
      operationId: GET DescribeExpressions
      description: 'Gets the expressions configured for the search domain. Can be limited to specific expressions by name. By default, shows all expressions and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html" target="_blank">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeExpressionsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: ExpressionNames
          in: query
          required: false
          description: 'Limits the <code><a>DescribeExpressions</a></code> response to the specified expressions. If not specified, all expressions are shown.'
          type: array
          items:
            type: string
        - name: Deployed
          in: query
          required: false
          description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeExpressions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeExpressions
      operationId: POST DescribeExpressions
      description: 'Gets the expressions configured for the search domain. Can be limited to specific expressions by name. By default, shows all expressions and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html" target="_blank">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeExpressionsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: ExpressionNames
          in: formData
          required: false
          description: 'Limits the <code><a>DescribeExpressions</a></code> response to the specified expressions. If not specified, all expressions are shown.'
          type: array
          items:
            type: string
        - name: Deployed
          in: formData
          required: false
          description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeExpressions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=DescribeIndexFields':
    get:
      x-aws-operation-name: DescribeIndexFields
      operationId: GET DescribeIndexFields
      description: 'Gets information about the index fields configured for the search domain. Can be limited to specific fields by name. By default, shows all fields and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html" target="_blank">Getting Domain Information</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeIndexFieldsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: FieldNames
          in: query
          required: false
          description: 'A list of the index fields you want to describe. If not specified, information is returned for all configured index fields.'
          type: array
          items:
            type: string
        - name: Deployed
          in: query
          required: false
          description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeIndexFields
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeIndexFields
      operationId: POST DescribeIndexFields
      description: 'Gets information about the index fields configured for the search domain. Can be limited to specific fields by name. By default, shows all fields and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html" target="_blank">Getting Domain Information</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeIndexFieldsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: FieldNames
          in: formData
          required: false
          description: 'A list of the index fields you want to describe. If not specified, information is returned for all configured index fields.'
          type: array
          items:
            type: string
        - name: Deployed
          in: formData
          required: false
          description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeIndexFields
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-01-01'
  '/#Action=DescribeScalingParameters':
    get:
      x-aws-operation-name: DescribeScalingParameters
      operationId: GET DescribeScalingParameters
      description: 'Gets the scaling parameters configured for a domain. A domain''s scaling parameters specify the desired search instance type and replication count. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-scaling-options.html" target="_blank">Configuring Scaling Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeScalingParametersResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
[...]
