swagger: '2.0'
schemes:
  - https
  - http
host: cloudsearch.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Amazon CloudSearch Configuration Service</fullname> <p>You use the Amazon CloudSearch configuration service to create, configure, and manage search domains. Configuration service requests are submitted using the AWS Query protocol. AWS Query requests are HTTP or HTTPS requests submitted via HTTP GET or POST with a query parameter named Action.</p> <p>The endpoint for configuration service requests is region-specific: cloudsearch.<i>region</i>.amazonaws.com. For example, cloudsearch.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href="http://docs.aws.amazon.com/general/latest/gr/rande.html#cloudsearch_region" target="_blank">Regions and Endpoints</a>.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon CloudSearch
  version: '2013-01-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cloudsearch-2013-01-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: cloudsearch
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/cloudsearch/'
consumes:
  - text/xml
produces:
  - text/xml
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#Action=BuildSuggesters':
    get:
      description: 'Indexes the search suggestions. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html#configuring-suggesters">Configuring Suggesters</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET BuildSuggesters
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - BuildSuggesters
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BuildSuggestersResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: BuildSuggesters
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Indexes the search suggestions. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html#configuring-suggesters">Configuring Suggesters</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST BuildSuggesters
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - BuildSuggesters
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BuildSuggestersResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: BuildSuggesters
  '/#Action=CreateDomain':
    get:
      description: 'Creates a new search domain. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/creating-domains.html" target="_blank">Creating a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET CreateDomain
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - CreateDomain
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDomainResponse'
        '409':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: CreateDomain
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a new search domain. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/creating-domains.html" target="_blank">Creating a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST CreateDomain
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - CreateDomain
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDomainResponse'
        '409':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: CreateDomain
  '/#Action=DefineAnalysisScheme':
    get:
      description: 'Configures an analysis scheme that can be applied to a <code>text</code> or <code>text-array</code> field to define language-specific text processing options. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html" target="_blank">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET DefineAnalysisScheme
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: |
            Configuration information for an analysis scheme. Each analysis scheme has a unique name and specifies the language of the text to be processed. The following options can be configured for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>, <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.
          in: query
          name: AnalysisScheme.AnalysisSchemeName
          type: string
        - description: |
            Configuration information for an analysis scheme. Each analysis scheme has a unique name and specifies the language of the text to be processed. The following options can be configured for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>, <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.
          in: query
          name: AnalysisScheme.AnalysisSchemeLanguage
          type: string
        - description: |
            Configuration information for an analysis scheme. Each analysis scheme has a unique name and specifies the language of the text to be processed. The following options can be configured for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>, <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.
          in: query
          name: AnalysisScheme.AnalysisOptions
          type: string
        - enum:
            - DefineAnalysisScheme
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineAnalysisSchemeResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DefineAnalysisScheme
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Configures an analysis scheme that can be applied to a <code>text</code> or <code>text-array</code> field to define language-specific text processing options. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html" target="_blank">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST DefineAnalysisScheme
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: |
            Configuration information for an analysis scheme. Each analysis scheme has a unique name and specifies the language of the text to be processed. The following options can be configured for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>, <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.
          in: formData
          name: AnalysisScheme.AnalysisSchemeName
          type: string
        - description: |
            Configuration information for an analysis scheme. Each analysis scheme has a unique name and specifies the language of the text to be processed. The following options can be configured for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>, <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.
          in: formData
          name: AnalysisScheme.AnalysisSchemeLanguage
          type: string
        - description: |
            Configuration information for an analysis scheme. Each analysis scheme has a unique name and specifies the language of the text to be processed. The following options can be configured for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>, <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.
          in: formData
          name: AnalysisScheme.AnalysisOptions
          type: string
        - enum:
            - DefineAnalysisScheme
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineAnalysisSchemeResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DefineAnalysisScheme
  '/#Action=DefineExpression':
    get:
      description: 'Configures an <code><a>Expression</a></code> for the search domain. Used to create new expressions and modify existing ones. If the expression exists, the new configuration replaces the old one. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html" target="_blank">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET DefineExpression
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: |
            A named expression that can be evaluated at search time. Can be used to sort the search results, define other expressions, or return computed information in the search results. 
          in: query
          name: Expression.ExpressionName
          type: string
        - description: |
            A named expression that can be evaluated at search time. Can be used to sort the search results, define other expressions, or return computed information in the search results. 
          in: query
          name: Expression.ExpressionValue
          type: string
        - enum:
            - DefineExpression
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineExpressionResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DefineExpression
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Configures an <code><a>Expression</a></code> for the search domain. Used to create new expressions and modify existing ones. If the expression exists, the new configuration replaces the old one. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html" target="_blank">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST DefineExpression
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: |
            A named expression that can be evaluated at search time. Can be used to sort the search results, define other expressions, or return computed information in the search results. 
          in: formData
          name: Expression.ExpressionName
          type: string
        - description: |
            A named expression that can be evaluated at search time. Can be used to sort the search results, define other expressions, or return computed information in the search results. 
          in: formData
          name: Expression.ExpressionValue
          type: string
        - enum:
            - DefineExpression
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineExpressionResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DefineExpression
  '/#Action=DefineIndexField':
    get:
      description: 'Configures an <code><a>IndexField</a></code> for the search domain. Used to create new fields and modify existing ones. You must specify the name of the domain you are configuring and an index field configuration. The index field configuration specifies a unique name, the index field type, and the options you want to configure for the field. The options you can specify depend on the <code><a>IndexFieldType</a></code>. If the field exists, the new configuration replaces the old one. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html" target="_blank">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>. '
      operationId: GET DefineIndexField
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: |-
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
            <p>A string that represents the name of an index field. CloudSearch supports regular index fields as well as dynamic fields. A dynamic field's name defines a pattern that begins or ends with a wildcard. Any document fields that don't map to a regular index field but do match a dynamic field's pattern are configured with the dynamic field's indexing options. </p> <p>Regular field names begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Dynamic field names must begin or end with a wildcard (*). The wildcard can also be the only character in a dynamic field name. Multiple wildcards, and wildcards embedded within a string are not supported. </p> <p>The name <code>score</code> is reserved and cannot be used as a field name. To reference a document's ID, you can use the name <code>_id</code>. </p>
          in: query
          name: IndexField.IndexFieldName
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: query
          name: IndexField.IndexFieldType
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: query
          name: IndexField.IntOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: query
          name: IndexField.DoubleOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: query
          name: IndexField.LiteralOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: query
          name: IndexField.TextOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: query
          name: IndexField.DateOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: query
          name: IndexField.LatLonOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: query
          name: IndexField.IntArrayOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: query
          name: IndexField.DoubleArrayOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: query
          name: IndexField.LiteralArrayOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: query
          name: IndexField.TextArrayOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: query
          name: IndexField.DateArrayOptions
          type: string
        - enum:
            - DefineIndexField
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineIndexFieldResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DefineIndexField
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Configures an <code><a>IndexField</a></code> for the search domain. Used to create new fields and modify existing ones. You must specify the name of the domain you are configuring and an index field configuration. The index field configuration specifies a unique name, the index field type, and the options you want to configure for the field. The options you can specify depend on the <code><a>IndexFieldType</a></code>. If the field exists, the new configuration replaces the old one. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html" target="_blank">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>. '
      operationId: POST DefineIndexField
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: |-
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
            <p>A string that represents the name of an index field. CloudSearch supports regular index fields as well as dynamic fields. A dynamic field's name defines a pattern that begins or ends with a wildcard. Any document fields that don't map to a regular index field but do match a dynamic field's pattern are configured with the dynamic field's indexing options. </p> <p>Regular field names begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Dynamic field names must begin or end with a wildcard (*). The wildcard can also be the only character in a dynamic field name. Multiple wildcards, and wildcards embedded within a string are not supported. </p> <p>The name <code>score</code> is reserved and cannot be used as a field name. To reference a document's ID, you can use the name <code>_id</code>. </p>
          in: formData
          name: IndexField.IndexFieldName
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: formData
          name: IndexField.IndexFieldType
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: formData
          name: IndexField.IntOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: formData
          name: IndexField.DoubleOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: formData
          name: IndexField.LiteralOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: formData
          name: IndexField.TextOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: formData
          name: IndexField.DateOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: formData
          name: IndexField.LatLonOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: formData
          name: IndexField.IntArrayOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: formData
          name: IndexField.DoubleArrayOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: formData
          name: IndexField.LiteralArrayOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: formData
          name: IndexField.TextArrayOptions
          type: string
        - description: |
            Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.
          in: formData
          name: IndexField.DateArrayOptions
          type: string
        - enum:
            - DefineIndexField
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineIndexFieldResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DefineIndexField
  '/#Action=DefineSuggester':
    get:
      description: 'Configures a suggester for a domain. A suggester enables you to display possible matches before users finish typing their queries. When you configure a suggester, you must specify the name of the text field you want to search for possible matches and a unique name for the suggester. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html" target="_blank">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET DefineSuggester
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: |
            Configuration information for a search suggester. Each suggester has a unique name and specifies the text field you want to use for suggestions. The following options can be configured for a suggester: <code>FuzzyMatching</code>, <code>SortExpression</code>. 
          in: query
          name: Suggester.SuggesterName
          type: string
        - description: |
            Configuration information for a search suggester. Each suggester has a unique name and specifies the text field you want to use for suggestions. The following options can be configured for a suggester: <code>FuzzyMatching</code>, <code>SortExpression</code>. 
          in: query
          name: Suggester.DocumentSuggesterOptions
          type: string
        - enum:
            - DefineSuggester
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineSuggesterResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DefineSuggester
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Configures a suggester for a domain. A suggester enables you to display possible matches before users finish typing their queries. When you configure a suggester, you must specify the name of the text field you want to search for possible matches and a unique name for the suggester. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html" target="_blank">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST DefineSuggester
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: |
            Configuration information for a search suggester. Each suggester has a unique name and specifies the text field you want to use for suggestions. The following options can be configured for a suggester: <code>FuzzyMatching</code>, <code>SortExpression</code>. 
          in: formData
          name: Suggester.SuggesterName
          type: string
        - description: |
            Configuration information for a search suggester. Each suggester has a unique name and specifies the text field you want to use for suggestions. The following options can be configured for a suggester: <code>FuzzyMatching</code>, <code>SortExpression</code>. 
          in: formData
          name: Suggester.DocumentSuggesterOptions
          type: string
        - enum:
            - DefineSuggester
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineSuggesterResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DefineSuggester
  '/#Action=DeleteAnalysisScheme':
    get:
      description: 'Deletes an analysis scheme. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html" target="_blank">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>. '
      operationId: GET DeleteAnalysisScheme
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'Names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore).'
          in: query
          maxLength: 64
          minLength: 1
          name: AnalysisSchemeName
          pattern: '[a-z][a-z0-9_]*'
          required: true
          type: string
        - enum:
            - DeleteAnalysisScheme
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAnalysisSchemeResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DeleteAnalysisScheme
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes an analysis scheme. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html" target="_blank">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>. '
      operationId: POST DeleteAnalysisScheme
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'Names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore).'
          in: formData
          maxLength: 64
          minLength: 1
          name: AnalysisSchemeName
          pattern: '[a-z][a-z0-9_]*'
          required: true
          type: string
        - enum:
            - DeleteAnalysisScheme
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAnalysisSchemeResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DeleteAnalysisScheme
  '/#Action=DeleteDomain':
    get:
      description: 'Permanently deletes a search domain and all of its data. Once a domain has been deleted, it cannot be recovered. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/deleting-domains.html" target="_blank">Deleting a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>. '
      operationId: GET DeleteDomain
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DeleteDomain
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDomainResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DeleteDomain
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Permanently deletes a search domain and all of its data. Once a domain has been deleted, it cannot be recovered. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/deleting-domains.html" target="_blank">Deleting a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>. '
      operationId: POST DeleteDomain
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DeleteDomain
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDomainResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DeleteDomain
  '/#Action=DeleteExpression':
    get:
      description: 'Removes an <code><a>Expression</a></code> from the search domain. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html" target="_blank">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET DeleteExpression
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'Names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore).'
          in: query
          maxLength: 64
          minLength: 1
          name: ExpressionName
          pattern: '[a-z][a-z0-9_]*'
          required: true
          type: string
        - enum:
            - DeleteExpression
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteExpressionResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DeleteExpression
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Removes an <code><a>Expression</a></code> from the search domain. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html" target="_blank">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST DeleteExpression
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'Names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore).'
          in: formData
          maxLength: 64
          minLength: 1
          name: ExpressionName
          pattern: '[a-z][a-z0-9_]*'
          required: true
          type: string
        - enum:
            - DeleteExpression
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteExpressionResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DeleteExpression
  '/#Action=DeleteIndexField':
    get:
      description: 'Removes an <code><a>IndexField</a></code> from the search domain. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html" target="_blank">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET DeleteIndexField
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: The name of the index field your want to remove from the domain's indexing options.
          in: query
          maxLength: 64
          minLength: 1
          name: IndexFieldName
          pattern: '([a-z][a-z0-9_]*\*?|\*[a-z0-9_]*)'
          required: true
          type: string
        - enum:
            - DeleteIndexField
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIndexFieldResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DeleteIndexField
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Removes an <code><a>IndexField</a></code> from the search domain. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html" target="_blank">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST DeleteIndexField
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: The name of the index field your want to remove from the domain's indexing options.
          in: formData
          maxLength: 64
          minLength: 1
          name: IndexFieldName
          pattern: '([a-z][a-z0-9_]*\*?|\*[a-z0-9_]*)'
          required: true
          type: string
        - enum:
            - DeleteIndexField
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIndexFieldResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DeleteIndexField
  '/#Action=DeleteSuggester':
    get:
      description: 'Deletes a suggester. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html" target="_blank">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET DeleteSuggester
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'Names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore).'
          in: query
          maxLength: 64
          minLength: 1
          name: SuggesterName
          pattern: '[a-z][a-z0-9_]*'
          required: true
          type: string
        - enum:
            - DeleteSuggester
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSuggesterResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DeleteSuggester
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes a suggester. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html" target="_blank">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST DeleteSuggester
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'Names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore).'
          in: formData
          maxLength: 64
          minLength: 1
          name: SuggesterName
          pattern: '[a-z][a-z0-9_]*'
          required: true
          type: string
        - enum:
            - DeleteSuggester
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSuggesterResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DeleteSuggester
  '/#Action=DescribeAnalysisSchemes':
    get:
      description: 'Gets the analysis schemes configured for a domain. An analysis scheme defines language-specific text processing options for a <code>text</code> field. Can be limited to specific analysis schemes by name. By default, shows all analysis schemes and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html" target="_blank">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET DescribeAnalysisSchemes
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: The analysis schemes you want to describe.
          in: query
          items:
            type: string
          name: AnalysisSchemeNames
          required: false
          type: array
        - description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          in: query
          name: Deployed
          required: false
          type: boolean
        - enum:
            - DescribeAnalysisSchemes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAnalysisSchemesResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeAnalysisSchemes
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets the analysis schemes configured for a domain. An analysis scheme defines language-specific text processing options for a <code>text</code> field. Can be limited to specific analysis schemes by name. By default, shows all analysis schemes and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html" target="_blank">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST DescribeAnalysisSchemes
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: The analysis schemes you want to describe.
          in: formData
          items:
            type: string
          name: AnalysisSchemeNames
          required: false
          type: array
        - description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          in: formData
          name: Deployed
          required: false
          type: boolean
        - enum:
            - DescribeAnalysisSchemes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAnalysisSchemesResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeAnalysisSchemes
  '/#Action=DescribeAvailabilityOptions':
    get:
      description: 'Gets the availability options configured for a domain. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html" target="_blank">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET DescribeAvailabilityOptions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          in: query
          name: Deployed
          required: false
          type: boolean
        - enum:
            - DescribeAvailabilityOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAvailabilityOptionsResponse'
        '409':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeAvailabilityOptions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets the availability options configured for a domain. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html" target="_blank">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST DescribeAvailabilityOptions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          in: formData
          name: Deployed
          required: false
          type: boolean
        - enum:
            - DescribeAvailabilityOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAvailabilityOptionsResponse'
        '409':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeAvailabilityOptions
  '/#Action=DescribeDomains':
    get:
      description: 'Gets information about the search domains owned by this account. Can be limited to specific domains. Shows all domains by default. To get the number of searchable documents in a domain, use the console or submit a <code>matchall</code> request to your domain''s search endpoint: <code>q=matchall&amp;amp;q.parser=structured&amp;amp;size=0</code>. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html" target="_blank">Getting Information about a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET DescribeDomains
      parameters:
        - description: A list of domain names.
          in: query
          items:
            type: string
          name: DomainNames
          required: false
          type: array
        - enum:
            - DescribeDomains
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDomainsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeDomains
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets information about the search domains owned by this account. Can be limited to specific domains. Shows all domains by default. To get the number of searchable documents in a domain, use the console or submit a <code>matchall</code> request to your domain''s search endpoint: <code>q=matchall&amp;amp;q.parser=structured&amp;amp;size=0</code>. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html" target="_blank">Getting Information about a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST DescribeDomains
      parameters:
        - description: A list of domain names.
          in: formData
          items:
            type: string
          name: DomainNames
          required: false
          type: array
        - enum:
            - DescribeDomains
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDomainsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeDomains
  '/#Action=DescribeExpressions':
    get:
      description: 'Gets the expressions configured for the search domain. Can be limited to specific expressions by name. By default, shows all expressions and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html" target="_blank">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET DescribeExpressions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'Limits the <code><a>DescribeExpressions</a></code> response to the specified expressions. If not specified, all expressions are shown.'
          in: query
          items:
            type: string
          name: ExpressionNames
          required: false
          type: array
        - description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          in: query
          name: Deployed
          required: false
          type: boolean
        - enum:
            - DescribeExpressions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeExpressionsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeExpressions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets the expressions configured for the search domain. Can be limited to specific expressions by name. By default, shows all expressions and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html" target="_blank">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST DescribeExpressions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'Limits the <code><a>DescribeExpressions</a></code> response to the specified expressions. If not specified, all expressions are shown.'
          in: formData
          items:
            type: string
          name: ExpressionNames
          required: false
          type: array
        - description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          in: formData
          name: Deployed
          required: false
          type: boolean
        - enum:
            - DescribeExpressions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeExpressionsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeExpressions
  '/#Action=DescribeIndexFields':
    get:
      description: 'Gets information about the index fields configured for the search domain. Can be limited to specific fields by name. By default, shows all fields and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html" target="_blank">Getting Domain Information</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET DescribeIndexFields
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'A list of the index fields you want to describe. If not specified, information is returned for all configured index fields.'
          in: query
          items:
            type: string
          name: FieldNames
          required: false
          type: array
        - description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          in: query
          name: Deployed
          required: false
          type: boolean
        - enum:
            - DescribeIndexFields
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeIndexFieldsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeIndexFields
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets information about the index fields configured for the search domain. Can be limited to specific fields by name. By default, shows all fields and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html" target="_blank">Getting Domain Information</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST DescribeIndexFields
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'A list of the index fields you want to describe. If not specified, information is returned for all configured index fields.'
          in: formData
          items:
            type: string
          name: FieldNames
          required: false
          type: array
        - description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          in: formData
          name: Deployed
          required: false
          type: boolean
        - enum:
            - DescribeIndexFields
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeIndexFieldsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeIndexFields
  '/#Action=DescribeScalingParameters':
    get:
      description: 'Gets the scaling parameters configured for a domain. A domain''s scaling parameters specify the desired search instance type and replication count. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-scaling-options.html" target="_blank">Configuring Scaling Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET DescribeScalingParameters
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DescribeScalingParameters
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeScalingParametersResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeScalingParameters
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets the scaling parameters configured for a domain. A domain''s scaling parameters specify the desired search instance type and replication count. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-scaling-options.html" target="_blank">Configuring Scaling Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST DescribeScalingParameters
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DescribeScalingParameters
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeScalingParametersResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeScalingParameters
  '/#Action=DescribeServiceAccessPolicies':
    get:
      description: 'Gets information about the access policies that control access to the domain''s document and search endpoints. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-access.html" target="_blank">Configuring Access for a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET DescribeServiceAccessPolicies
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          in: query
          name: Deployed
          required: false
          type: boolean
        - enum:
            - DescribeServiceAccessPolicies
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeServiceAccessPoliciesResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeServiceAccessPolicies
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets information about the access policies that control access to the domain''s document and search endpoints. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-access.html" target="_blank">Configuring Access for a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST DescribeServiceAccessPolicies
      parameters:
        - description: 'A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.
          in: formData
          name: Deployed
          required: false
          type: boolean
        - enum:
            - DescribeServiceAccessPolicies
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeServiceAccessPoliciesResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeServiceAccessPolicies
  '/#Action=DescribeSuggesters':
    get:
[...]
