swagger: '2.0'
schemes:
  - https
host: genomics.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Upload, process, query, and search Genomics data in the cloud.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Genomics
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://genomics.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: genomics
externalDocs:
  url: 'https://cloud.google.com/genomics'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/bigquery': View and manage your data in Google BigQuery
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/devstorage.read_write': Manage your data in Google Cloud Storage
      'https://www.googleapis.com/auth/genomics': View and manage Genomics data
      'https://www.googleapis.com/auth/genomics.readonly': View Genomics data
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/bigquery': View and manage your data in Google BigQuery
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/devstorage.read_write': Manage your data in Google Cloud Storage
      'https://www.googleapis.com/auth/genomics': View and manage Genomics data
      'https://www.googleapis.com/auth/genomics.readonly': View Genomics data
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: annotations
  - name: annotationsets
  - name: callsets
  - name: datasets
  - name: operations
  - name: readgroupsets
  - name: reads
  - name: references
  - name: referencesets
  - name: variants
  - name: variantsets
paths:
  /v1/annotations:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Creates a new annotation. Caller must have WRITE permission
        for the associated annotation set.

        The following fields are required:

        * annotationSetId
        * referenceName or
          referenceId

        ### Transcripts

        For annotations of type TRANSCRIPT, the following fields of
        transcript must be provided:

        * exons.start
        * exons.end

        All other fields may be optionally specified, unless documented as being
        server-generated (for example, the `id` field). The annotated
        range must be no longer than 100Mbp (mega base pairs). See the
        Annotation resource
        for additional restrictions on each field.
      operationId: genomics.annotations.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Annotation'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Annotation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - annotations
  /v1/annotations/search:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Searches for annotations that match the given criteria. Results are
        ordered by genomic coordinate (by reference sequence, then position).
        Annotations with equivalent genomic coordinates are returned in an
        unspecified order. This order is consistent, such that two queries for the
        same content (regardless of page size) yield annotations in the same order
        across their respective streams of paginated responses. Caller must have
        READ permission for the queried annotation sets.
      operationId: genomics.annotations.search
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchAnnotationsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SearchAnnotationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - annotations
  '/v1/annotations/{annotationId}':
    delete:
      description: |-
        Deletes an annotation. Caller must have WRITE permission for
        the associated annotation set.
      operationId: genomics.annotations.delete
      parameters:
        - description: The ID of the annotation to be deleted.
          in: path
          name: annotationId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - annotations
    get:
      description: |-
        Gets an annotation. Caller must have READ permission
        for the associated annotation set.
      operationId: genomics.annotations.get
      parameters:
        - description: The ID of the annotation to be retrieved.
          in: path
          name: annotationId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Annotation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - annotations
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    put:
      description: |-
        Updates an annotation. Caller must have
        WRITE permission for the associated dataset.
      operationId: genomics.annotations.update
      parameters:
        - description: The ID of the annotation to be updated.
          in: path
          name: annotationId
          required: true
          type: string
        - description: |-
            An optional mask specifying which fields to update. Mutable fields are
            name,
            variant,
            transcript, and
            info. If unspecified, all mutable
            fields will be updated.
          in: query
          name: updateMask
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Annotation'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Annotation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - annotations
  '/v1/annotations:batchCreate':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Creates one or more new annotations atomically. All annotations must
        belong to the same annotation set. Caller must have WRITE
        permission for this annotation set. For optimal performance, batch
        positionally adjacent annotations together.

        If the request has a systemic issue, such as an attempt to write to
        an inaccessible annotation set, the entire RPC will fail accordingly. For
        lesser data issues, when possible an error will be isolated to the
        corresponding batch entry in the response; the remaining well formed
        annotations will be created normally.

        For details on the requirements for each individual annotation resource,
        see
        CreateAnnotation.
      operationId: genomics.annotations.batchCreate
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BatchCreateAnnotationsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BatchCreateAnnotationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - annotations
  /v1/annotationsets:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Creates a new annotation set. Caller must have WRITE permission for the
        associated dataset.

        The following fields are required:

          * datasetId
          * referenceSetId

        All other fields may be optionally specified, unless documented as being
        server-generated (for example, the `id` field).
      operationId: genomics.annotationsets.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AnnotationSet'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AnnotationSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - annotationsets
  /v1/annotationsets/search:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Searches for annotation sets that match the given criteria. Annotation sets
        are returned in an unspecified order. This order is consistent, such that
        two queries for the same content (regardless of page size) yield annotation
        sets in the same order across their respective streams of paginated
        responses. Caller must have READ permission for the queried datasets.
      operationId: genomics.annotationsets.search
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchAnnotationSetsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SearchAnnotationSetsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - annotationsets
  '/v1/annotationsets/{annotationSetId}':
    delete:
      description: |-
        Deletes an annotation set. Caller must have WRITE permission
        for the associated annotation set.
      operationId: genomics.annotationsets.delete
      parameters:
        - description: The ID of the annotation set to be deleted.
          in: path
          name: annotationSetId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - annotationsets
    get:
      description: |-
        Gets an annotation set. Caller must have READ permission for
        the associated dataset.
      operationId: genomics.annotationsets.get
      parameters:
        - description: The ID of the annotation set to be retrieved.
          in: path
          name: annotationSetId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AnnotationSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - annotationsets
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    put:
      description: |-
        Updates an annotation set. The update must respect all mutability
        restrictions and other invariants described on the annotation set resource.
        Caller must have WRITE permission for the associated dataset.
      operationId: genomics.annotationsets.update
      parameters:
        - description: The ID of the annotation set to be updated.
          in: path
          name: annotationSetId
          required: true
          type: string
        - description: |-
            An optional mask specifying which fields to update. Mutable fields are
            name,
            source_uri, and
            info. If unspecified, all
            mutable fields will be updated.
          in: query
          name: updateMask
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AnnotationSet'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AnnotationSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - annotationsets
  /v1/callsets:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Creates a new call set.

        For the definitions of call sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.callsets.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CallSet'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CallSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - callsets
  /v1/callsets/search:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Gets a list of call sets matching the criteria.

        For the definitions of call sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        Implements
        [GlobalAllianceApi.searchCallSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L178).
      operationId: genomics.callsets.search
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchCallSetsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SearchCallSetsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - callsets
  '/v1/callsets/{callSetId}':
    delete:
      description: |-
        Deletes a call set.

        For the definitions of call sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.callsets.delete
      parameters:
        - description: The ID of the call set to be deleted.
          in: path
          name: callSetId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - callsets
    get:
      description: |-
        Gets a call set by ID.

        For the definitions of call sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.callsets.get
      parameters:
        - description: The ID of the call set.
          in: path
          name: callSetId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CallSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - callsets
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    patch:
      description: |-
        Updates a call set.

        For the definitions of call sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        This method supports patch semantics.
      operationId: genomics.callsets.patch
      parameters:
        - description: The ID of the call set to be updated.
          in: path
          name: callSetId
          required: true
          type: string
        - description: |-
            An optional mask specifying which fields to update. At this time, the only
            mutable field is name. The only
            acceptable value is "name". If unspecified, all mutable fields will be
            updated.
          in: query
          name: updateMask
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CallSet'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CallSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - callsets
  /v1/datasets:
    get:
      description: |-
        Lists datasets within a project.

        For the definitions of datasets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.datasets.list
      parameters:
        - description: |-
            The continuation token, which is used to page through large result sets.
            To get the next page of results, set this parameter to the value of
            `nextPageToken` from the previous response.
          in: query
          name: pageToken
          type: string
        - description: |-
            The maximum number of results to return in a single page. If unspecified,
            defaults to 50. The maximum value is 1024.
          in: query
          name: pageSize
          type: integer
        - description: Required. The Google Cloud project ID to list datasets for.
          in: query
          name: projectId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListDatasetsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - datasets
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Creates a new dataset.

        For the definitions of datasets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.datasets.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Dataset'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Dataset'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - datasets
  '/v1/datasets/{datasetId}':
    delete:
      description: |-
        Deletes a dataset and all of its contents (all read group sets,
        reference sets, variant sets, call sets, annotation sets, etc.)
        This is reversible (up to one week after the deletion) via
        the
        datasets.undelete
        operation.

        For the definitions of datasets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.datasets.delete
      parameters:
        - description: The ID of the dataset to be deleted.
          in: path
          name: datasetId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - datasets
    get:
      description: |-
        Gets a dataset by ID.

        For the definitions of datasets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.datasets.get
      parameters:
        - description: The ID of the dataset.
          in: path
          name: datasetId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Dataset'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - datasets
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    patch:
      description: |-
        Updates a dataset.

        For the definitions of datasets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        This method supports patch semantics.
      operationId: genomics.datasets.patch
      parameters:
        - description: The ID of the dataset to be updated.
          in: path
          name: datasetId
          required: true
          type: string
        - description: |-
            An optional mask specifying which fields to update. At this time, the only
            mutable field is name. The only
            acceptable value is "name". If unspecified, all mutable fields will be
            updated.
          in: query
          name: updateMask
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Dataset'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Dataset'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - datasets
  '/v1/datasets/{datasetId}:undelete':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Undeletes a dataset by restoring a dataset which was deleted via this API.

        For the definitions of datasets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        This operation is only possible for a week after the deletion occurred.
      operationId: genomics.datasets.undelete
      parameters:
        - description: The ID of the dataset to be undeleted.
          in: path
          name: datasetId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UndeleteDatasetRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Dataset'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - datasets
  /v1/readgroupsets/search:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Searches for read group sets matching the criteria.

        For the definitions of read group sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        Implements
        [GlobalAllianceApi.searchReadGroupSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/readmethods.avdl#L135).
      operationId: genomics.readgroupsets.search
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchReadGroupSetsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SearchReadGroupSetsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - readgroupsets
  '/v1/readgroupsets/{readGroupSetId}':
    delete:
      description: |-
        Deletes a read group set.

        For the definitions of read group sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.readgroupsets.delete
      parameters:
        - description: |-
            The ID of the read group set to be deleted. The caller must have WRITE
            permissions to the dataset associated with this read group set.
          in: path
          name: readGroupSetId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - readgroupsets
    get:
      description: |-
        Gets a read group set by ID.

        For the definitions of read group sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.readgroupsets.get
      parameters:
        - description: The ID of the read group set.
          in: path
          name: readGroupSetId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ReadGroupSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - readgroupsets
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    patch:
      description: |-
        Updates a read group set.

        For the definitions of read group sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        This method supports patch semantics.
      operationId: genomics.readgroupsets.patch
      parameters:
        - description: |-
            The ID of the read group set to be updated. The caller must have WRITE
            permissions to the dataset associated with this read group set.
          in: path
          name: readGroupSetId
          required: true
          type: string
        - description: |-
            An optional mask specifying which fields to update. Supported fields:

            * name.
            * referenceSetId.

            Leaving `updateMask` unset is equivalent to specifying all mutable
            fields.
          in: query
          name: updateMask
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ReadGroupSet'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ReadGroupSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - readgroupsets
  '/v1/readgroupsets/{readGroupSetId}/coveragebuckets':
    get:
      description: |-
        Lists fixed width coverage buckets for a read group set, each of which
        correspond to a range of a reference sequence. Each bucket summarizes
        coverage information across its corresponding genomic range.

        For the definitions of read group sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        Coverage is defined as the number of reads which are aligned to a given
        base in the reference sequence. Coverage buckets are available at several
        precomputed bucket widths, enabling retrieval of various coverage 'zoom
        levels'. The caller must have READ permissions for the target read group
        set.
      operationId: genomics.readgroupsets.coveragebuckets.list
      parameters:
        - description: Required. The ID of the read group set over which coverage is requested.
          in: path
          name: readGroupSetId
          required: true
          type: string
        - description: |-
            The end position of the range on the reference, 0-based exclusive. If
            specified, `referenceName` must also be specified. If unset or 0, defaults
            to the length of the reference.
          in: query
          name: end
          type: string
        - description: |-
            The continuation token, which is used to page through large result sets.
            To get the next page of results, set this parameter to the value of
            `nextPageToken` from the previous response.
          in: query
          name: pageToken
          type: string
        - description: |-
            The maximum number of results to return in a single page. If unspecified,
            defaults to 1024. The maximum value is 2048.
          in: query
          name: pageSize
          type: integer
        - description: |-
            The start position of the range on the reference, 0-based inclusive. If
            specified, `referenceName` must also be specified. Defaults to 0.
          in: query
          name: start
          type: string
        - description: |-
            The desired width of each reported coverage bucket in base pairs. This
            will be rounded down to the nearest precomputed bucket width; the value
            of which is returned as `bucketWidth` in the response. Defaults
            to infinity (each bucket spans an entire reference sequence) or the length
            of the target range, if specified. The smallest precomputed
            `bucketWidth` is currently 2048 base pairs; this is subject to
            change.
          in: query
          name: targetBucketWidth
          type: string
        - description: |-
            The name of the reference to query, within the reference set associated
            with this query. Optional.
          in: query
          name: referenceName
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListCoverageBucketsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - readgroupsets
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
  '/v1/readgroupsets/{readGroupSetId}:export':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Exports a read group set to a BAM file in Google Cloud Storage.

        For the definitions of read group sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        Note that currently there may be some differences between exported BAM
        files and the original BAM file at the time of import. See
        ImportReadGroupSets
        for caveats.
      operationId: genomics.readgroupsets.export
      parameters:
        - description: |-
            Required. The ID of the read group set to export. The caller must have
            READ access to this read group set.
          in: path
          name: readGroupSetId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ExportReadGroupSetRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - readgroupsets
  '/v1/readgroupsets:import':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Creates read group sets by asynchronously importing the provided
        information.

        For the definitions of read group sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        The caller must have WRITE permissions to the dataset.

        ## Notes on [BAM](https://samtools.github.io/hts-specs/SAMv1.pdf) import

        - Tags will be converted to strings - tag types are not preserved
        - Comments (`@CO`) in the input file header will not be preserved
        - Original header order of references (`@SQ`) will not be preserved
        - Any reverse stranded unmapped reads will be reverse complemented, and
        their qualities (also the "BQ" and "OQ" tags, if any) will be reversed
        - Unmapped reads will be stripped of positional information (reference name
        and position)
      operationId: genomics.readgroupsets.import
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ImportReadGroupSetsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - readgroupsets
  /v1/reads/search:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Gets a list of reads for one or more read group sets.

        For the definitions of read group sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        Reads search operates over a genomic coordinate space of reference sequence
        & position defined over the reference sequences to which the requested
        read group sets are aligned.

        If a target positional range is specified, search returns all reads whose
        alignment to the reference genome overlap the range. A query which
        specifies only read group set IDs yields all reads in those read group
        sets, including unmapped reads.

        All reads returned (including reads on subsequent pages) are ordered by
        genomic coordinate (by reference sequence, then position). Reads with
        equivalent genomic coordinates are returned in an unspecified order. This
        order is consistent, such that two queries for the same content (regardless
        of page size) yield reads in the same order across their respective streams
        of paginated responses.

        Implements
        [GlobalAllianceApi.searchReads](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/readmethods.avdl#L85).
      operationId: genomics.reads.search
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchReadsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SearchReadsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - reads
  /v1/references/search:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Searches for references which match the given criteria.

        For the definitions of references and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        Implements
        [GlobalAllianceApi.searchReferences](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L146).
      operationId: genomics.references.search
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchReferencesRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SearchReferencesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - references
  '/v1/references/{referenceId}':
    get:
      description: |-
        Gets a reference.

        For the definitions of references and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        Implements
        [GlobalAllianceApi.getReference](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L158).
      operationId: genomics.references.get
      parameters:
        - description: The ID of the reference.
          in: path
          name: referenceId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Reference'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - references
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
  '/v1/references/{referenceId}/bases':
    get:
      description: |-
        Lists the bases in a reference, optionally restricted to a range.

        For the definitions of references and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        Implements
        [GlobalAllianceApi.getReferenceBases](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L221).
      operationId: genomics.references.bases.list
      parameters:
        - description: The ID of the reference.
          in: path
          name: referenceId
          required: true
          type: string
        - description: |-
            The end position (0-based, exclusive) of this query. Defaults to the length
            of this reference.
          in: query
          name: end
          type: string
        - description: |-
            The continuation token, which is used to page through large result sets.
            To get the next page of results, set this parameter to the value of
            `nextPageToken` from the previous response.
          in: query
          name: pageToken
          type: string
        - description: |-
            The maximum number of bases to return in a single page. If unspecified,
            defaults to 200Kbp (kilo base pairs). The maximum value is 10Mbp (mega base
            pairs).
          in: query
          name: pageSize
          type: integer
        - description: The start position (0-based) of this query. Defaults to 0.
          in: query
          name: start
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListBasesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - references
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
  /v1/referencesets/search:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Searches for reference sets which match the given criteria.

        For the definitions of references and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        Implements
        [GlobalAllianceApi.searchReferenceSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L71)
      operationId: genomics.referencesets.search
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchReferenceSetsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SearchReferenceSetsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - referencesets
  '/v1/referencesets/{referenceSetId}':
    get:
      description: |-
        Gets a reference set.

        For the definitions of references and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        Implements
        [GlobalAllianceApi.getReferenceSet](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L83).
      operationId: genomics.referencesets.get
      parameters:
        - description: The ID of the reference set.
          in: path
          name: referenceSetId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ReferenceSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - referencesets
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
  /v1/variants:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Creates a new variant.

        For the definitions of variants and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.variants.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Variant'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Variant'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - variants
  /v1/variants/search:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Gets a list of variants matching the criteria.

        For the definitions of variants and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        Implements
        [GlobalAllianceApi.searchVariants](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L126).
      operationId: genomics.variants.search
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchVariantsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SearchVariantsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - variants
  '/v1/variants/{variantId}':
    delete:
      description: |-
        Deletes a variant.

        For the definitions of variants and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.variants.delete
      parameters:
        - description: The ID of the variant to be deleted.
          in: path
          name: variantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - variants
    get:
      description: |-
        Gets a variant by ID.

        For the definitions of variants and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.variants.get
      parameters:
        - description: The ID of the variant.
          in: path
          name: variantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Variant'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - variants
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    patch:
      description: |-
        Updates a variant.

        For the definitions of variants and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        This method supports patch semantics. Returns the modified variant without
        its calls.
      operationId: genomics.variants.patch
      parameters:
        - description: The ID of the variant to be updated.
          in: path
          name: variantId
          required: true
          type: string
        - description: |-
            An optional mask specifying which fields to update. At this time, mutable
            fields are names and
            info. Acceptable values are "names" and
            "info". If unspecified, all mutable fields will be updated.
          in: query
          name: updateMask
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Variant'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Variant'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - variants
  '/v1/variants:import':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Creates variant data by asynchronously importing the provided information.

        For the definitions of variant sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        The variants for import will be merged with any existing variant that
        matches its reference sequence, start, end, reference bases, and
        alternative bases. If no such variant exists, a new one will be created.

        When variants are merged, the call information from the new variant
        is added to the existing variant, and Variant info fields are merged
        as specified in
        infoMergeConfig.
        As a special case, for single-sample VCF files, QUAL and FILTER fields will
        be moved to the call level; these are sometimes interpreted in a
        call-specific context.
        Imported VCF headers are appended to the metadata already in a variant set.
      operationId: genomics.variants.import
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ImportVariantsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - variants
  '/v1/variants:merge':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Merges the given variants with existing variants.

        For the definitions of variants and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        Each variant will be
        merged with an existing variant that matches its reference sequence,
        start, end, reference bases, and alternative bases. If no such variant
        exists, a new one will be created.

        When variants are merged, the call information from the new variant
        is added to the existing variant. Variant info fields are merged as
        specified in the
        infoMergeConfig
        field of the MergeVariantsRequest.

        Please exercise caution when using this method!  It is easy to introduce
        mistakes in existing variants and difficult to back out of them.  For
        example,
        suppose you were trying to merge a new variant with an existing one and
        both
        variants contain calls that belong to callsets with the same callset ID.

            // Existing variant - irrelevant fields trimmed for clarity
            {
                "variantSetId": "10473108253681171589",
                "referenceName": "1",
                "start": "10582",
                "referenceBases": "G",
                "alternateBases": [
                    "A"
                ],
                "calls": [
                    {
                        "callSetId": "10473108253681171589-0",
                        "callSetName": "CALLSET0",
                        "genotype": [
                            0,
                            1
                        ],
                    }
                ]
            }

            // New variant with conflicting call information
            {
                "variantSetId": "10473108253681171589",
                "referenceName": "1",
                "start": "10582",
                "referenceBases": "G",
                "alternateBases": [
                    "A"
                ],
                "calls": [
                    {
                        "callSetId": "10473108253681171589-0",
                        "callSetName": "CALLSET0",
                        "genotype": [
                            1,
                            1
                        ],
                    }
                ]
            }

        The resulting merged variant would overwrite the existing calls with those
        from the new variant:

            {
                "variantSetId": "10473108253681171589",
                "referenceName": "1",
                "start": "10582",
                "referenceBases": "G",
                "alternateBases": [
                    "A"
                ],
                "calls": [
                    {
                        "callSetId": "10473108253681171589-0",
                        "callSetName": "CALLSET0",
                        "genotype": [
                            1,
                            1
                        ],
                    }
                ]
            }

        This may be the desired outcome, but it is up to the user to determine if
        if that is indeed the case.
      operationId: genomics.variants.merge
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/MergeVariantsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - variants
  /v1/variantsets:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Creates a new variant set.

        For the definitions of variant sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        The provided variant set must have a valid `datasetId` set - all other
        fields are optional. Note that the `id` field will be ignored, as this is
        assigned by the server.
      operationId: genomics.variantsets.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/VariantSet'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/VariantSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - variantsets
  /v1/variantsets/search:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Returns a list of all variant sets matching search criteria.

        For the definitions of variant sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        Implements
        [GlobalAllianceApi.searchVariantSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L49).
      operationId: genomics.variantsets.search
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchVariantSetsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SearchVariantSetsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - variantsets
  '/v1/variantsets/{variantSetId}':
    delete:
      description: |-
        Deletes a variant set including all variants, call sets, and calls within.
        This is not reversible.

        For the definitions of variant sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.variantsets.delete
      parameters:
        - description: The ID of the variant set to be deleted.
          in: path
          name: variantSetId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - variantsets
    get:
      description: |-
        Gets a variant set by ID.

        For the definitions of variant sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.variantsets.get
      parameters:
        - description: Required. The ID of the variant set.
          in: path
          name: variantSetId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/VariantSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics.readonly'
      tags:
        - variantsets
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    patch:
      description: |-
        Updates a variant set using patch semantics.

        For the definitions of variant sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.variantsets.patch
      parameters:
        - description: The ID of the variant to be updated (must already exist).
          in: path
          name: variantSetId
          required: true
          type: string
        - description: |-
            An optional mask specifying which fields to update. Supported fields:

            * metadata.
            * name.
            * description.

            Leaving `updateMask` unset is equivalent to specifying all mutable
            fields.
          in: query
          name: updateMask
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/VariantSet'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/VariantSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - variantsets
  '/v1/variantsets/{variantSetId}:export':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Exports variant set data to an external destination.

        For the definitions of variant sets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.variantsets.export
      parameters:
        - description: |-
            Required. The ID of the variant set that contains variant data which
            should be exported. The caller must have READ access to this variant set.
          in: path
          name: variantSetId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ExportVariantSetRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - variantsets
  '/v1/{name}':
    get:
      description: Lists operations that match the specified filter in the request.
      operationId: genomics.operations.list
      parameters:
        - description: |-
            A string for filtering Operations.
            The following filter fields are supported&#58;

            * projectId&#58; Required. Corresponds to
              OperationMetadata.projectId.
            * createTime&#58; The time this job was created, in seconds from the
              [epoch](http://en.wikipedia.org/wiki/Unix_time). Can use `>=` and/or `<=`
              operators.
            * status&#58; Can be `RUNNING`, `SUCCESS`, `FAILURE`, or `CANCELED`. Only
              one status may be specified.
            * labels.key where key is a label key.

            Examples&#58;

            * `projectId = my-project AND createTime >= 1432140000`
            * `projectId = my-project AND createTime >= 1432140000 AND createTime <= 1432150000 AND status = RUNNING`
            * `projectId = my-project AND labels.color = *`
            * `projectId = my-project AND labels.color = red`
          in: query
          name: filter
          type: string
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            The maximum number of results to return. If unspecified, defaults to
            256. The maximum value is 2048.
          in: query
          name: pageSize
          type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListOperationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - operations
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
  '/v1/{name}:cancel':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: 'Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. Clients may use Operations.GetOperation or Operations.ListOperations to check whether the cancellation succeeded or the operation completed despite cancellation.'
      operationId: genomics.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CancelOperationRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - operations
  '/v1/{resource}:getIamPolicy':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Gets the access control policy for the dataset. This is empty if the
        policy or resource does not exist.

        See <a href="/iam/docs/managing-policies#getting_a_policy">Getting a
        Policy</a> for more information.

        For the definitions of datasets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.datasets.getIamPolicy
      parameters:
        - description: |-
            REQUIRED: The resource for which policy is being specified. Format is
            `datasets/<dataset ID>`.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetIamPolicyRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - datasets
  '/v1/{resource}:setIamPolicy':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Sets the access control policy on the specified dataset. Replaces any
        existing policy.

        For the definitions of datasets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)

        See <a href="/iam/docs/managing-policies#setting_a_policy">Setting a
        Policy</a> for more information.
      operationId: genomics.datasets.setIamPolicy
      parameters:
        - description: |-
            REQUIRED: The resource for which policy is being specified. Format is
            `datasets/<dataset ID>`.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetIamPolicyRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/genomics'
          Oauth2c:
            - 'https://www.googleapis.com/auth/genomics'
      tags:
        - datasets
  '/v1/{resource}:testIamPermissions':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: |-
        Returns permissions that a caller has on the specified resource.
        See <a href="/iam/docs/managing-policies#testing_permissions">Testing
        Permissions</a> for more information.

        For the definitions of datasets and other genomics resources, see
        [Fundamentals of Google
        Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)
      operationId: genomics.datasets.testIamPermissions
      parameters:
        - description: |-
            REQUIRED: The resource for which policy is being specified. Format is
            `datasets/<dataset ID>`.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
[...]
