openapi: 3.0.0
servers:
  - url: https://api.motaword.com/
  - url: https://sandbox.motaword.com/
  - url: http://localhost/
info:
  description: Use MotaWord API to post and track your translation projects.
  title: MotaWord API
  version: "1.0"
  x-apiClientRegistration:
    url: https://www.motaword.com/developer/register
  x-apisguru-categories:
    - text
  x-logo:
    url: https://dentycj2qhk72.cloudfront.net/new/images/new_logo_horizontal.png
  x-origin:
    - format: openapi
      url: https://api.motaword.com/swagger
      version: "3.0"
  x-providerName: motaword.com
externalDocs:
  url: https://www.motaword.com/developer
security:
  - mwoAuth:
      - default
paths:
  /:
    get:
      description: >
        The root endpoint will provide you a JSON Swagger definition.
      operationId: getEndpoints
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: JSON representation of our Swagger API definition.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Authentication error
      security: []
      summary: Available endpoints
      tags:
        - Static
  /async/download:
    get:
      description: Download async request files
      operationId: downloadAsync
      parameters:
        - description: Async operation key
          in: query
          name: async_request_key
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: File
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Download async request files
      tags:
        - Async
  /blogs:
    get:
      operationId: getBlogPosts
      parameters:
        - description: Article language, default `en`. When no blog article is available and `fallback=true` is specified, it falls back to `en`.
          in: query
          name: locale
          required: false
          schema:
            type: string
        - description: When `true`, and no article is found in the locale, it falls back to `locale=en`.
          in: query
          name: fallback
          required: false
          schema:
            type: boolean
        - in: query
          name: page
          required: false
          schema:
            default: 1
            format: int64
            type: integer
        - in: query
          name: per_page
          required: false
          schema:
            default: 1
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlogArticleList"
          description: List of blog articles
      summary: Get blog posts - ordered by created desc by default
      tags:
        - Blog
  /commissions:
    get:
      operationId: getCommissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommissionList"
          description: Commissions for client.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UnauthorizedUser
      summary: Returns a commission list of current client.
      tags:
        - Commission
    post:
      operationId: getCommissionsByFilter
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportFilter"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommissionList"
          description: Commissions for client.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UnauthorizedUser
      summary: Returns a commission list of current client.
      tags:
        - Commission
  "/corporates/{corporateId}/users":
    get:
      description: Get a list of users for this corporate id
      operationId: getCorporateUsers
      parameters:
        - description: Corporate ID
          in: path
          name: corporateId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
          description: User list
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Get a list of users for this corporate id
      tags:
        - Corporate
  /delete-account:
    delete:
      operationId: deleteAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Successful operation
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UserNotFound
      summary: Delete requester account
      tags:
        - User
  /documents:
    get:
      description: Get a list of your documents
      operationId: getDocuments
      parameters:
        - description: When true, this will return the most 4 recent active documents.
          in: query
          name: recent
          required: false
          schema:
            default: 0
            type: boolean
        - in: query
          name: search
          required: false
          schema:
            type: string
        - in: query
          name: type_filter
          required: false
          schema:
            default: ALL
            enum:
              - ALL
              - TEXT_DOCUMENTS
              - PRESENTATIONS
              - SPREADSHEETS
              - PDFS
              - IMAGES
              - SUBTITLES
              - DESIGNS
              - LOCALIZATION
              - WEB
              - STYLE_GUIDES
              - GLOSSARIES
            type: string
        - description: searches in source language of documents, in source and target languages of document's quote
          in: query
          name: language_code
          required: false
          schema:
            type: string
        - in: query
          name: page
          required: false
          schema:
            default: 1
            format: int64
            type: integer
        - in: query
          name: per_page
          required: false
          schema:
            default: 10
            format: int64
            type: integer
        - in: query
          name: order_by
          required: false
          schema:
            default: updated_at
            enum:
              - id
              - updated_at
              - created_at
              - name
            type: string
        - in: query
          name: order_type
          required: false
          schema:
            $ref: "#/components/schemas/ListOrderType"
            default: desc
        - description: Attach further information. Possible values 'preview' to fetch temporary preview URLs for Box.com or native PDF. This is NOT recommended to be used with list calls. Only use with[]=preview for single document/style guide calls.
          in: query
          name: with[]
          required: false
          schema:
            items:
              enum:
                - preview
                - editors
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentList"
          description: Document list
      summary: Get a list of your documents
      tags:
        - Document
  "/documents/{documentId}/similars":
    get:
      description: Find documents similar to this document. Optionally, include translation information.
      operationId: getSimilarDocuments
      parameters:
        - description: Document ID
          in: path
          name: documentId
          required: true
          schema:
            format: int64
            type: integer
        - description: Determines the number of similar documents to return.
          in: query
          name: per_page
          required: false
          schema:
            default: 1
            format: int64
            type: integer
        - description: Attach further information. Possible values 'preview' to fetch temporary preview URLs for Box.com or native PDF. This is NOT recommended to be used with list calls. Only use with[]=preview for single document/style guide calls.
          in: query
          name: with[]
          required: false
          schema:
            items:
              enum:
                - preview
                - editors
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentList"
          description: Document list
      summary: Find documents similar to this document.
      tags:
        - Document
  "/documents/{documentId}/use_as_draft":
    post:
      description: Use the translation of given source manual document as manual draft source for the given target document.
      operationId: useAsDraft
      parameters:
        - description: Document ID
          in: path
          name: documentId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UseAsDraftPayload"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Operation status
      summary: Use the translation of given source manual document as manual draft source for the given target document.
      tags:
        - Document
  "/documents/{documentId}/use_as_regular":
    post:
      description: Use the translation of the given manual document as a regular file.
      operationId: useAsRegular
      parameters:
        - description: Document ID
          in: path
          name: documentId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UseAsRegularPayload"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Operation status
      summary: Use the translation of the given manual document as a regular file.
      tags:
        - Document
  /downgrade-proofreader:
    post:
      operationId: downgradeProofreader
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Successful operation
        "304":
          description: Vendor is already a translator
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: VendorNotFound
      tags:
        - User
  /earnings:
    get:
      operationId: getEarnings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Earnings"
          description: Earnings for vendors
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UserNotFound
      summary: Returns your vendor earnings. Includes real-time earnings from ongoing projects, and fixed earnings from completed projects. Also includes total earnings and string edits.
      tags:
        - User
  /formats:
    get:
      description: >
        Get a list of supported formats for documents, style guides and extensions.
      operationId: getFormats
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Formats"
                type: object
          description: A list of supported formats
      security: []
      summary: Get a list of supported formats
      tags:
        - Static
  /freeze-account:
    post:
      operationId: freezeAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Successful operation
        "304":
          description: Account is already frozen for notifications
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UserNotFound
      summary: Freeze requester account for project notifications
      tags:
        - User
  /glossary:
    get:
      description: Download your corporate account's global glossary. This endpoint is available only for corporate account customers.
      operationId: downloadGlobalGlossary
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Glossary file streamed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: GlossaryNotFound
      summary: Download the global glossary.
      tags:
        - Glossary
    post:
      description: Update your corporate account's global glossary. This endpoint is available only for corporate account customers.
      operationId: updateGlobalGlossary
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                glossary:
                  description: >
                    Glossary file. Currently supported formats: .xlsx, .tbx
                  format: binary
                  type: string
              required:
                - glossary
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: FileTooLarge FileTooSmall NoFileUploaded
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UnsupportedGlossaryFormat
      summary: Create or update the global glossary.
      tags:
        - Glossary
  /languages:
    get:
      description: Get a list of supported languages
      operationId: getLanguages
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Language"
                type: array
          description: A list of supported languages
      security: []
      summary: Get a list of supported languages
      tags:
        - Static
  /location:
    post:
      operationId: logLocation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LocationUpdateContent"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Successful operation
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UserNotFound
      summary: Log user's current location. This data is used in our Intelligent Project Manager for various data analysis, including project prioritization for vendors and account validation.
      tags:
        - User
  /make-proofreader:
    post:
      operationId: makeProofreader
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Successful operation
        "304":
          description: Vendor is already a proofreader
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: VendorNotFound
      tags:
        - User
  /me:
    get:
      operationId: getMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: User summary
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UserNotFound
      summary: Get your user information, including client or vendor specific info.
      tags:
        - User
    post:
      operationId: updateMe
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserUpdateContent"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: User info
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UserNotFound
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UserNotFound
      summary: Update your user information.
      tags:
        - User
  /notifications/subscribe:
    post:
      operationId: subscribeNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationSubscription"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Saved notification subscription information
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: MissingParameter | Failed to save subscription
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UserNotFound
      tags:
        - User
  /notifications/unsubscribe:
    post:
      operationId: unsubscribeNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationSubscription"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Deleted notification subscription information
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: MissingParameter | Failed to delete subscription
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UserNotFound
      tags:
        - User
  /password:
    post:
      operationId: updatePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordUpdateContent"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Successful operation
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UserNotFound
      summary: Update user password. Password should contain at least one uppercase, lowercase character and one number
      tags:
        - User
  /payment:
    get:
      operationId: getPaymentInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentInfo"
          description: Returns billing and saved card information for user, and their corporate if present.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UserNotFound UnauthorizedUser
      summary: Get your payment Info
      tags:
        - User
    post:
      operationId: updatePaymentInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePaymentInfo"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentInfo"
          description: Successful operation
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UserNotFound
      summary: Update payment info
      tags:
        - User
  /profile-picture:
    post:
      operationId: uploadProfilePicture
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                profile_picture:
                  description: Profile picture file contents. Accepted extensions are png, jpg.
                  format: binary
                  type: string
              required:
                - profile_picture
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Email already exists
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UserNotFound
      tags:
        - User
  /projects:
    get:
      description: Get a list of your projects
      operationId: getProjects
      parameters:
        - in: query
          name: page
          required: false
          schema:
            default: 1
            format: int64
            type: integer
        - in: query
          name: per_page
          required: false
          schema:
            default: 10
            format: int64
            type: integer
        - description: Filter projects by status. Accepts multiple statuses. Possible values 'pending', 'started', 'completed'
          in: query
          name: status[]
          required: false
          schema:
            items:
              $ref: "#/components/schemas/ProjectStatus"
              description: progress-related project status enums are not supported, such as "translated", "proofread".
            type: array
        - deprecated: true
          description: deprecated. use `status[]` param.
          in: query
          name: with_pending
          required: false
          schema:
            default: true
            type: boolean
        - deprecated: true
          description: deprecated. use `status[]` param.
          in: query
          name: with_started
          required: false
          schema:
            default: true
            type: boolean
        - deprecated: true
          description: deprecated. use `status[]` param.
          in: query
          name: with_completed
          required: false
          schema:
            default: true
            type: boolean
        - in: query
          name: order_by
          required: false
          schema:
            default: id
            enum:
              - id
              - status
              - delivery
              - price
            type: string
        - in: query
          name: order_type
          required: false
          schema:
            $ref: "#/components/schemas/ListOrderType"
            default: desc
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectList"
          description: Project list
      summary: Get a list of your projects
      tags:
        - Project
    post:
      description: Create a new project
      operationId: createProject
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                callback_url:
                  description: Optional. If you provide a callback URL, we will send POST callbacks when the status of the current project is changed. Possible status changes are, 'translated', 'proofread', 'completed'.
                  type: string
                coupon_code:
                  description: Coupon code to redeem
                  type: string
                custom:
                  description: Optional. This is a consistent custom data parameter that will be given to you in the response across every request of this project model. Values should be provided like this, custom[my_key] = my_value.
                  items:
                    type: string
                  type: array
                "documents[]":
                  description: Optional. You can add as many files as you want in documents[] parameter. Or you add your documents later in separate calls.
                  format: binary
                  type: string
                "glossaries[]":
                  description: Optional. Only one glossary is supported at the moment.
                  format: binary
                  type: string
                source_language:
                  type: string
                "styleguides[]":
                  description: Optional. You can add as many files as you want in styleguides[] parameter. Or you add your style guides later in separate calls.
                  format: binary
                  type: string
                "target_languages[]":
                  items:
                    type: string
                  type: array
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
          description: Newly created project
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: FileTooLarge FileTooSmall FileWasAlreadyUploaded
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UnsupportedDocumentFormat UnsupportedStyleGuideFormat UnsupportedGlossaryFormat
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UnsupportedLanguage TooManyGlossaries ProjectAlreadyHasGlossary
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectInsertFailed
      summary: Get a new quote
      tags:
        - Project
  "/projects/from-internal-id/{projectId}":
    get:
      description: Get Quote Id
      operationId: getQuoteIdFromInternalId
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  internal-id:
                    format: int64
                    type: integer
                  public-id:
                    format: int64
                    type: integer
                type: object
          description: QuoteId
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Get Quote Id
      tags:
        - Project
  /projects/vendor:
    get:
      description: Get a list of your vendor projects
      operationId: getVendorProjects
      parameters:
        - description: Return only projects that this user has already joined
          in: query
          name: joined
          required: false
          schema:
            type: boolean
        - description: Return only projects that have been completed. When `true`, this makes `joined` true as well.
          in: query
          name: completed
          required: false
          schema:
            type: boolean
        - in: query
          name: page
          required: false
          schema:
            default: 1
            format: int64
            type: integer
        - in: query
          name: per_page
          required: false
          schema:
            default: 10
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectList"
          description: Vendor project list
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: VendorNotFound - this is not a vendor user account
      summary: Get a list of your vendor projects
      tags:
        - Project
  "/projects/{id}":
    delete:
      description: Delete(cancel) a project.
      operationId: deleteProject
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Project canceled successfully
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Delete a project
      tags:
        - Project
    get:
      description: Get single project
      operationId: getProject
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: Include detailed information. Possible values 'client', 'vendor', 'score'
          in: query
          name: with[]
          required: false
          schema:
            items:
              enum:
                - client
                - vendor
                - score
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
          description: Project model
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Get single project
      tags:
        - Project
    put:
      description: Update project language pairs
      operationId: updateProject
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                callback_url:
                  description: Optional. If you provide a callback URL, we will send POST callbacks when the status of the current project is changed. Possible status changes are, 'translated', 'proofread', 'completed'.
                  type: string
                coupon_code:
                  description: Coupon code to redeem
                  type: string
                custom:
                  description: Optional. This is a consistent custom data parameter that will be given to you in the response across every request of this project model. Values should be provided like this, custom[my_key] = my_value. If you previously provided one, it will be replaced.
                  items:
                    type: string
                  type: array
                source_language:
                  type: string
                "target_languages[]":
                  items:
                    type: string
                  type: array
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
          description: Updated project
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UnsupportedLanguage
      summary: Update project language pairs
      tags:
        - Project
  "/projects/{id}/callback/{actionType}":
    get:
      description: Trigger a call to your callback URL related to this project.
      operationId: triggerCallback
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: Callback type
          in: path
          name: actionType
          required: true
          schema:
            enum:
              - translated
              - proofread
              - completed
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallbackResult"
          description: Callback result
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Trigger a call to your callback URL related to this project.
      tags:
        - Project
  "/projects/{id}/cancel":
    post:
      operationId: cancelProject
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                reason:
                  description: Cancellation reason
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Project canceled successfully
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Cancel your translation project
      tags:
        - Project
  "/projects/{id}/deliver":
    post:
      operationId: deliverProject
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Operation started successfully
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Deliver project
      tags:
        - Project
  "/projects/{id}/download":
    get:
      description: Download the latest translation package. You must have given a /package call beforehand and wait until the packaging status is 'completed'.
      operationId: download
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Translation package streamed. The streamed file is always a ZIP file, except when the API client is configured for Drupal and Wordpress.
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotLaunchedYet
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: TranslationPackageNotFound
      summary: Download the latest translation package.
      tags:
        - Project
  "/projects/{id}/download/{language}":
    get:
      description: Download only the translation package of this language. You must have given a /package call beforehand and wait until the packaging status is 'completed'.
      operationId: downloadLanguage
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: Language code. You can download the translation of only a specific language.
          in: path
          name: language
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Translation package streamed. The streamed file is always a ZIP file, except when the API client is configured for Drupal and Wordpress.
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotLaunchedYet
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: TranslationPackageNotFound
      summary: Download the latest translation package.
      tags:
        - Project
  "/projects/{id}/invoice":
    get:
      description: Get invoice details
      operationId: getInvoice
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
          description: Invoice
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound or InvoiceNotFound
      summary: Get invoice details
      tags:
        - Project
  "/projects/{id}/invoice.html":
    get:
      description: Download invoice as html by project id.
      operationId: downloadHtmlInvoice
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: Invoice
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound or InvoiceNotFound
      summary: Download invoice as hmtl
      tags:
        - Project
  "/projects/{id}/invoice.pdf":
    get:
      description: Download invoice as pdf by project id.
      operationId: downloadPdfInvoice
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
          description: Invoice
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound or InvoiceNotFound
      summary: Download invoice as pdf
      tags:
        - Project
  "/projects/{id}/launch":
    post:
      operationId: launchProject
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                bin:
                  description: Last 4 digits of the credit card you are using one-time. This parameter is only required when stripe_token is provided.
                  type: string
                budget_code:
                  description: Optional with corporate accounts. Not available for others.
                  type: string
                card_id:
                  description: Optional. `client`, `app`, `corporate_card` methods require a credit card ID. `credit` method requires Stripe token and bin.
                  format: int64
                  type: integer
                payment_code:
                  description: Optional. `corporate` payment method requires this.s
                  type: string
                payment_method:
                  description: Optional. Determines which method to use for payment. `client`, `app`, `corporate_card` methods require a credit card ID. `credit` method requires Stripe token and bin. `corporate` method follows corporate account policy automatically, either follows invoicing flow or automatically charges corporate's primary card.
                  enum:
                    - corporate
                    - client
                    - app
                    - credit
                    - corporate_card
                  type: string
                stripe_token:
                  description: This is required if you are using a one-time credit card. This is the token generted from frontend via Stripe SDK. If you are using a one-time card with `stripe_token`, you must also provide `bin`, last 4 digits of the card.
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectLaunchResponse"
          description: Project launched successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: MissingPaymentCode MissingCorporateAccount MissingPaymentMethod
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: CorporateAccountNotAllowedForApiPayment ApiClientMissingPaymentInformation
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Launch your translation project
      tags:
        - Project
  "/projects/{id}/package":
    post:
      description: Package the translation project, make it ready to be downloaded.
      operationId: package
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: If you want to package and download the translation synchronously, mark this parameter as '0'. It will package the translation and then return the packaged file in the response, identical to /download call after an asynchronous /package call.
          in: query
          name: async
          schema:
            default: 0
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Packaged translation streamed.
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotLaunchedYet
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: TranslationPackageNotFound
      summary: Package the translation of all languages to be downloaded.
      tags:
        - Project
  "/projects/{id}/package/check":
    get:
      description: This request will tell you the current progress of the translation packaging. You will use the 'key' provided by the /package call.
      operationId: trackPackage
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: This is the package tracking key provided in the response of a /package call.
          in: query
          name: key
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PackageStatus"
          description: Current status of packaging process.
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotLaunchedYet
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: PackagingStatusMissing
      summary: Track the status of translation packaging.
      tags:
        - Project
  "/projects/{id}/package/{language}":
    post:
      description: Package the translation project, make it ready to be downloaded.
      operationId: packageLanguage
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: Language code. You can package the translation of only a specific language.
          in: path
          name: language
          required: true
          schema:
            type: string
        - description: If you want to package and download the translation synchronously, mark this parameter as '0'. It will package the translation and then return the packaged file in the response, identical to /download call after an asynchronous /package call.
          in: query
          name: async
          schema:
            default: 0
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Package"
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Packaging status and tracking code. With the package key, you can track the progress of translation packaging.Also packaged translation streamed.
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotLaunchedYet
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: TranslationPackageNotFound
      summary: Package the translation of a specific target language to be downloaded.
      tags:
        - Project
  "/projects/{id}/progress":
    get:
      description: Get the progress of an already launched project.
      operationId: getProgress
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: This will return a more raw progress information for translation and proofreading. For instance, when completed, we will return 100% for both tasks by default, whereas their actual progress may be lower than 100%.
          in: query
          name: raw
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Progress"
          description: Progress information
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotLaunchedYet
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Get project progress
      tags:
        - Project
  "/projects/{id}/recreate":
    post:
      operationId: recreateProject
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Project recreation process started successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UnauthorizedUser
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Recreate your translation project from scratch. This is a risky action, you will lose current translations.
      tags:
        - Project
  "/projects/{id}/reports":
    post:
      operationId: submitProjectReports
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                activity_type:
                  description: Activity Type
                  type: string
                message:
                  description: Report Message
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Report submitted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: MissingMessage
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Submit reports for a project
      tags:
        - Project
  "/projects/{id}/sales/activities":
    get:
      operationId: getSalesActivities
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - in: query
          name: excludeOwner
          required: false
          schema:
            type: string
        - in: query
          name: type
          required: false
          schema:
            $ref: "#/components/schemas/SalesActivityType"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SalesActivities"
          description: Activities fetched successfully
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Get sales activities for a project
      tags:
        - Activity
    post:
      operationId: insertSalesActivity
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                subject:
                  type: string
                timestamp:
                  format: int64
                  type: integer
                type:
                  description: Activity Type
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Acvitity inserted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: BadRequest
      summary: Insert sales activity for a project
      tags:
        - Activity
  "/projects/{id}/webhooks":
    delete:
      description: Delete project webhooks. Projects currently support registering only 1 webhook. This endpoint deletes the previously registered webhook.
      operationId: deleteProjectWebhook
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Project webhook deleted successfully
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Delete project webhooks
      tags:
        - Project Webhooks
    get:
      description: Get project information (includes callback_url for webhook). Currently projects can have only 1 webhook registered.
      operationId: getProjectWebhooks
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
          description: Project model
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Get project information (includes callback_url for webhook)
      tags:
        - Project Webhooks
    post:
      description: Update project webhook URL
      operationId: postProjectWebhook
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                callback_url:
                  description: Webhook URL. We will send POST callbacks when the status of the current project is changed. Possible status changes are, 'translated', 'proofread', 'completed'.
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
          description: Updated project
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Update project webhook URL
      tags:
        - Project Webhooks
    put:
      description: Update project webhook URL
      operationId: updateProjectWebhook
      parameters:
        - description: Project ID
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                callback_url:
                  description: Webhook URL. We will send POST callbacks when the status of the current project is changed. Possible status changes are, 'translated', 'proofread', 'completed'.
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
          description: Updated project
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Update project webhook URL
      tags:
        - Project Webhooks
  "/projects/{projectId}/activities":
    get:
      description: Get a list of realtime activities on the project, such as translation suggestion and translation approval.
      operationId: getActivities
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - in: query
          name: page
          schema:
            default: 1
            format: int64
            type: integer
        - in: query
          name: per_page
          schema:
            default: 10
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityList"
          description: A list of activity models
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Get a list of realtime activities.
      tags:
        - Activity
  "/projects/{projectId}/activities/{activityId}":
    get:
      description: Get a single realtime activity.
      operationId: getActivity
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Activity ID
          in: path
          name: activityId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activity"
          description: Activity model
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectActivityNotFound
      summary: Get a single realtime activity.
      tags:
        - Activity
    post:
      description: Submit a comment to an activity.
      operationId: submitComment
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Activity ID
          in: path
          name: activityId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                comment:
                  description: Comment text.
                  type: string
              required:
                - comment
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
          description: Comment model
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectActivityNotFound
      summary: Submit a blog to an activity.
      tags:
        - Activity
  "/projects/{projectId}/activities/{activityId}/comments":
    get:
      description: Get a list of comments belonging to this activity.
      operationId: getActivityComments
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Activity ID
          in: path
          name: activityId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentList"
          description: A list of Comment models
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectActivityNotFound
      summary: Get a list of comments belonging to this activity.
      tags:
        - Activity
  "/projects/{projectId}/comments":
    get:
      description: Get a list of activity comments throughout the whole project.
      operationId: getComments
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - in: query
          name: page
          schema:
            default: 1
            format: int64
            type: integer
        - in: query
          name: per_page
          schema:
            default: 10
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentList"
          description: A list of Comment models
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Get a list of activity comments throughout the whole project.
      tags:
        - Activity
  "/projects/{projectId}/documents":
    get:
      description: Get a list of documents
      operationId: getProjectDocuments
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Attach further information. Possible values 'preview' to fetch temporary preview URLs for Box.com or native PDF. This is NOT recommended to be used with list calls. Only use with[]=preview for single document/style guide calls.
          in: query
          name: with[]
          required: false
          schema:
            items:
              enum:
                - preview
                - editors
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentList"
          description: A list of document models
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Get a list of documents
      tags:
        - Project Document
    post:
      description: Upload a new document
      operationId: createProjectDocument
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                "documents[]":
                  description: You can add as many files as you want in documents[] parameter.
                  items:
                    format: binary
                    type: string
                  type: array
                "schemes[]":
                  description: JSON string. If your documents have a scheme, as in cases of CSV files, use the same array index keys for `schemes` parameter to specify their schemes. See `Document Schemes` title in the API documentation.
                  type: string
                "source-links[]":
                  description: When provided, we will download the files from these URLs, in addition to files provded in `documents` parameter and then save as source documents
                  items:
                    $ref: "#/components/schemas/LinkedSourceDocument"
                  type: array
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentList"
          description: A list of successfully added new documents.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: FileTooLarge FileTooSmall FileWasAlreadyUploaded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UnsupportedDocumentFormat
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: InvalidDocumentScheme
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectAlreadyStarted
      summary: Upload a new document
      tags:
        - Project Document
  "/projects/{projectId}/documents/{documentId}":
    delete:
      description: Delete the document
      operationId: deleteProjectDocument
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Document ID
          in: path
          name: documentId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Document deleted successfully
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: DocumentNotFound
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectAlreadyStarted
      summary: Delete the document
      tags:
        - Project Document
    get:
      description: Get single document
      operationId: getProjectDocument
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Document ID
          in: path
          name: documentId
          required: true
          schema:
            format: int64
            type: integer
        - description: Attach further information. Possible values 'preview' to fetch temporary preview URLs for Box.com or native PDF. This is NOT recommended to be used with list calls. Only use with[]=preview for single document/style guide calls.
          in: query
          name: with[]
          required: false
          schema:
            items:
              enum:
                - preview
                - editors
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
          description: Document model
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: DocumentNotFound
      summary: Get single document
      tags:
        - Project Document
    post:
      description: Update the document. File name and contents will replaced with the new one.
      operationId: updateProjectDocument
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Document ID
          in: path
          name: documentId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                documents:
                  description: Single file data. The name is plural to provide a consistent naming convention.
                  format: binary
                  type: string
                schemes:
                  description: JSON string. If your documents have a scheme, as in cases of CSV files, use the same array index keys for `schemes` parameter to specify their schemes. See `Document Schemes` title in the API documentation.
                  type: string
                source-link:
                  $ref: "#/components/schemas/LinkedSourceDocument"
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
          description: Updated document model
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: FileTooLarge FileTooSmall FileWasAlreadyUploaded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: DocumentNotFound
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UnsupportedDocumentFormat
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: InvalidDocumentScheme
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectAlreadyStarted
      summary: Update the document.
      tags:
        - Project Document
  "/projects/{projectId}/documents/{documentId}/download":
    get:
      description: Download a document
      operationId: downloadProjectDocument
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Document ID
          in: path
          name: documentId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Document streamed
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: DocumentNotFound
      summary: Download a document
      tags:
        - Project Document
  "/projects/{projectId}/documents/{documentId}/translations":
    get:
      operationId: getDocumentTranslations
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Document ID
          in: path
          name: documentId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StringList"
          description: Response for strings and their translations
      summary: Get a list of strings and its translations in the document.
      tags:
        - Translations
  "/projects/{projectId}/documents/{documentId}/translations/{language}":
    get:
      operationId: getDocumentTranslationsForLanguage
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Document ID
          in: path
          name: documentId
          required: true
          schema:
            format: int64
            type: integer
        - description: Target language code.
          in: path
          name: language
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StringList"
          description: Response for strings and their translations
      summary: Get a list of strings and its translations in the document for this target language of the project.
      tags:
        - Translations
  "/projects/{projectId}/glossaries":
    get:
      description: Get a list of glossaries
      operationId: getGlossaries
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GlossaryList"
          description: A list of glossary models
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Get a list of glossaries
      tags:
        - Glossary
    post:
      description: Upload a new glossary
      operationId: createGlossary
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                glossaries:
                  description: You can only add one glossary, even though the name suggests multiple glossaries. This may be updated in the future to support multiple glossaries.
                  format: binary
                  type: string
              required:
                - glossaries
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Glossary"
          description: Newly created glossary model.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: FileTooLarge
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UnsupportedGlossaryFormat
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectAlreadyHasGlossary
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectAlreadyStarted
      summary: Upload a new glossary
      tags:
        - Glossary
  "/projects/{projectId}/glossaries/{glossaryId}":
    delete:
      description: Delete the glossary
      operationId: deleteGlossary
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Glossary ID
          in: path
          name: glossaryId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Glossary deleted successfully
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: GlossaryNotFound
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectAlreadyStarted
      summary: Delete the glossary
      tags:
        - Glossary
    get:
      description: Get single glossary
      operationId: getGlossary
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Glossary ID
          in: path
          name: glossaryId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Glossary"
          description: Glossary model
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: GlossaryNotFound
      summary: Get single glossary
      tags:
        - Glossary
    put:
      description: Update the glossary. File name and contents will replaced with the new one.
      operationId: updateGlossary
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Glossary ID
          in: path
          name: glossaryId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                glossaries:
                  description: Single file data. The name is plural to provide a consistent naming convention.
                  format: binary
                  type: string
              required:
                - glossaries
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Glossary"
          description: Updated glossary model
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: FileTooLarge
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: GlossaryNotFound
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UnsupportedGlossaryFormat
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectAlreadyStarted
      summary: Update the glossary.
      tags:
        - Glossary
  "/projects/{projectId}/glossaries/{glossaryId}/download":
    get:
      description: Download a glossary
      operationId: downloadGlossary
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Glossary ID
          in: path
          name: glossaryId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Glossary streamed
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: GlossaryNotFound
      summary: Download a glossary
      tags:
        - Glossary
  "/projects/{projectId}/strings":
    get:
      operationId: getProjectStrings
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StringList"
          description: Response for strings and their translations
      summary: Get a list of strings and its translations in the project.
      tags:
        - Strings
  "/projects/{projectId}/strings/package":
    post:
      operationId: packageProjectTranslationMemory
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: If you want to package and download the translation memory synchronously, mark this parameter as '0'. It will package the translation memory and then return the packaged file in the response, identical to async/download call after an asynchronous /package call.
          in: query
          name: async
          schema:
            default: 0
            format: int64
            type: integer
        - description: Translation Memory file format
          in: query
          name: format
          required: false
          schema:
            default: tmx
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncOperationStatus"
            application/xml:
              schema:
                format: binary
                type: string
          description: Response in TMX or async request
      summary: Get the translation memory of a project in TMX format
      tags:
        - Strings
  "/projects/{projectId}/strings/package/status":
    get:
      operationId: packageProjectTranslationMemoryStatus
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Async operation key
          in: query
          name: async_request_key
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncOperationStatus"
          description: Async operation status. Use the key to query status of this operation.
      summary: If package call was async, check the status of the request
      tags:
        - Strings
  "/projects/{projectId}/strings/{languageCode}/package":
    post:
      operationId: packageProjectTranslationMemoryForLanguage
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Language Code
          in: path
          name: languageCode
          required: true
          schema:
            type: string
        - description: If you want to package and download the translation memory synchronously, mark this parameter as '0'. It will package the translation memory and then return the packaged file in the response, identical to async/download call after an asynchronous /package call.
          in: query
          name: async
          schema:
            default: 0
            format: int64
            type: integer
        - description: Translation Memory file format
          in: query
          name: format
          required: false
          schema:
            default: tmx
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncOperationStatus"
            application/xml:
              schema:
                format: binary
                type: string
          description: Response in TMX or async request
      summary: Get the translation memory of a project in TMX format
      tags:
        - Strings
  "/projects/{projectId}/strings/{languageCode}/package/status":
    get:
      operationId: packageProjectTranslationMemoryForLanguageStatus
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Language Code
          in: path
          name: languageCode
          required: true
          schema:
            type: string
        - description: Async operation key
          in: query
          name: async_request_key
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncOperationStatus"
          description: Async operation status. Use the key to query status of this operation.
      summary: If package call was async, check the status of the request
      tags:
        - Strings
  "/projects/{projectId}/strings/{language}":
    get:
      operationId: getProjectStringsForLanguage
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Target language code
          in: path
          name: language
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StringList"
          description: Response for strings and their translations
      summary: Get a list of strings and its translations in the project for this target language in the project.
      tags:
        - Strings
  "/projects/{projectId}/styleguides":
    get:
      description: Get a list of style guides
      operationId: getStyleGuides
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Attach further information. Possible values 'preview' to fetch temporary preview URLs for Box.com or native PDF. This is NOT recommended to be used with list calls. Only use with[]=preview for single document/style guide calls.
          in: query
          name: with[]
          required: false
          schema:
            items:
              enum:
                - preview
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StyleGuideList"
          description: A list of style guide models
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
      summary: Get a list of style guides
      tags:
        - Style Guide
    post:
      description: Upload a new style guide
      operationId: createStyleGuide
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                "styleguides[]":
                  description: You can add as many files as you want in styleguides[] parameter.
                  format: binary
                  type: string
              required:
                - styleguides[]
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StyleGuideList"
          description: Newly created style guide model or a list of new style guide models
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: FileTooLarge
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectNotFound
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UnsupportedStyleGuideFormat
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectAlreadyStarted
      summary: Upload a new style guide
      tags:
        - Style Guide
  "/projects/{projectId}/styleguides/{styleGuideId}":
    delete:
      description: Delete the style guide
      operationId: deleteStyleGuide
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Style Guide ID
          in: path
          name: styleGuideId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
          description: Style guide deleted successfully
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: StyleGuideNotFound
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectAlreadyStarted
      summary: Delete the style guide
      tags:
        - Style Guide
    get:
      description: Get single style guide
      operationId: getStyleGuide
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Style Guide ID
          in: path
          name: styleGuideId
          required: true
          schema:
            format: int64
            type: integer
        - description: Attach further information. Possible values 'preview' to fetch temporary preview URLs for Box.com or native PDF. This is NOT recommended to be used with list calls. Only use with[]=preview for single document/style guide calls.
          in: query
          name: with[]
          required: false
          schema:
            items:
              enum:
                - preview
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StyleGuide"
          description: Style guide model
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: StyleGuideNotFound
      summary: Get single style guide
      tags:
        - Style Guide
    put:
      description: Update the style guide. File name and contents will replaced with the new one.
      operationId: updateStyleGuide
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Style guide ID
          in: path
          name: styleGuideId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                styleguides:
                  description: Single file data. The name is plural to provide a consistent naming convention.
                  format: binary
                  type: string
              required:
                - styleguides
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StyleGuide"
          description: Updated style guide model
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: FileTooLarge
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: StyleGuideNotFound
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: UnsupportedStyleGuideFormat
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: ProjectAlreadyStarted
      summary: Update the style guide.
      tags:
        - Style Guide
  "/projects/{projectId}/styleguides/{styleGuideId}/download":
    get:
      description: Download a style guide
      operationId: downloadStyleGuide
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Style Guide ID
          in: path
          name: styleGuideId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Style guide streamed
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: StyleGuideNotFound
      summary: Download a style guide
      tags:
        - Style Guide
  "/projects/{projectId}/translations":
    get:
      deprecated: true
      operationId: getProjectTranslations
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StringList"
          description: Response for strings and their translations
      summary: Deprecated. Use /projects/{projectId}/strings instead.
      tags:
        - Translations
  "/projects/{projectId}/translations/{language}":
    get:
      deprecated: true
      operationId: getProjectTranslationsForLanguage
      parameters:
        - description: Project ID
          in: path
          name: projectId
          required: true
          schema:
            format: int64
            type: integer
        - description: Target language code
          in: path
[...]
