swagger: '2.0'
schemes:
  - https
host: api.apitore.com
basePath: /api/17
info:
  description: 'Simple sentence separator.<BR />[Endpoint] https://api.apitore.com/api/17'
  title: Sentence separator APIs
  version: 0.0.1
  x-description-language: jp
  x-logo:
    url: 'https://apitore.com/img/apis/17.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.apitore.com/json/17'
      version: '2.0'
  x-providerName: apitore.com
  x-serviceName: sentenceSeparatorApis
consumes:
  - application/json
produces:
  - application/json
tags:
  - description: Sentence Separator Controller
    name: sentence-separator-controller
paths:
  /sentence-separate/heuristics:
    get:
      description: 'Sentence separator.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/summarize-response">summarize-response</a><BR />&nbsp; Class: com.apitore.banana.response.summarize.SentenceResponseEntity<BR />'
      operationId: heuristicsUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: text
          in: query
          name: text
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SentenceResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Separate from text to sentence.
      tags:
        - sentence-separator-controller
definitions:
  SentenceResponseEntity:
    properties:
      endTime:
        description: End date
        type: string
      log:
        description: Log message
        type: string
      processTime:
        description: 'Process time [millisecond]'
        type: string
      sentences:
        description: 'Output: sentences'
        items:
          type: string
        type: array
      startTime:
        description: Start date
        type: string
      text:
        description: 'Input: text'
        type: string
    required:
      - endTime
      - log
      - processTime
      - sentences
      - startTime
      - text
    type: object
