openapi: 3.0.0
servers:
  - url: https://androidenterprise.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Manages the deployment of apps to Android Enterprise devices.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Play EMM API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://androidenterprise.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: androidenterprise
externalDocs:
  url: https://developers.google.com/android/work/play/emm-api
tags:
  - name: devices
  - name: enterprises
  - name: entitlements
  - name: grouplicenses
  - name: grouplicenseusers
  - name: installs
  - name: managedconfigurationsfordevice
  - name: managedconfigurationsforuser
  - name: managedconfigurationssettings
  - name: permissions
  - name: products
  - name: serviceaccountkeys
  - name: storelayoutclusters
  - name: storelayoutpages
  - name: users
  - name: webapps
paths:
  /androidenterprise/v1/enterprises:
    get:
      description: Looks up an enterprise by domain name. This is only supported for enterprises created via the Google-initiated creation flow. Lookup of the id is not needed for enterprises created via the EMM-initiated flow since the EMM learns the enterprise ID in the callback specified in the Enterprises.generateSignupUrl call.
      operationId: androidenterprise.enterprises.list
      parameters:
        - description: Required. The exact primary domain name of the enterprise to look up.
          in: query
          name: domain
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnterprisesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - enterprises
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /androidenterprise/v1/enterprises/acknowledgeNotificationSet:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Acknowledges notifications that were received from Enterprises.PullNotificationSet to prevent subsequent calls from returning the same notifications.
      operationId: androidenterprise.enterprises.acknowledgeNotificationSet
      parameters:
        - description: The notification set ID as returned by Enterprises.PullNotificationSet. This must be provided.
          in: query
          name: notificationSetId
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - enterprises
  /androidenterprise/v1/enterprises/completeSignup:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Completes the signup flow, by specifying the Completion token and Enterprise token. This request must not be called multiple times for a given Enterprise Token.
      operationId: androidenterprise.enterprises.completeSignup
      parameters:
        - description: The Completion token initially returned by GenerateSignupUrl.
          in: query
          name: completionToken
          schema:
            type: string
        - description: The Enterprise token appended to the Callback URL.
          in: query
          name: enterpriseToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enterprise"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - enterprises
  /androidenterprise/v1/enterprises/enroll:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Enrolls an enterprise with the calling EMM.
      operationId: androidenterprise.enterprises.enroll
      parameters:
        - description: Required. The token provided by the enterprise to register the EMM.
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Enterprise"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enterprise"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - enterprises
  /androidenterprise/v1/enterprises/pullNotificationSet:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Pulls and returns a notification set for the enterprises associated with the service account authenticated for the request. The notification set may be empty if no notification are pending. A notification set returned needs to be acknowledged within 20 seconds by calling Enterprises.AcknowledgeNotificationSet, unless the notification set is empty. Notifications that are not acknowledged within the 20 seconds will eventually be included again in the response to another PullNotificationSet request, and those that are never acknowledged will ultimately be deleted according to the Google Cloud Platform Pub/Sub system policy. Multiple requests might be performed concurrently to retrieve notifications, in which case the pending notifications (if any) will be split among each caller, if any are pending. If no notifications are present, an empty notification list is returned. Subsequent requests may return more notifications once they become available.
      operationId: androidenterprise.enterprises.pullNotificationSet
      parameters:
        - description: The request mode for pulling notifications. Specifying waitForNotifications will cause the request to block and wait until one or more notifications are present, or return an empty notification list if no notifications are present after some time. Specifying returnImmediately will cause the request to immediately return the pending notifications, or an empty list if no notifications are present. If omitted, defaults to waitForNotifications.
          in: query
          name: requestMode
          schema:
            enum:
              - waitForNotifications
              - returnImmediately
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationSet"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - enterprises
  /androidenterprise/v1/enterprises/signupUrl:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates a sign-up URL.
      operationId: androidenterprise.enterprises.generateSignupUrl
      parameters:
        - description: The callback URL to which the Admin will be redirected after successfully creating an enterprise. Before redirecting there the system will add a single query parameter to this URL named "enterpriseToken" which will contain an opaque token to be used for the CompleteSignup request. Beware that this means that the URL will be parsed, the parameter added and then a new URL formatted, i.e. there may be some minor formatting changes and, more importantly, the URL must be well-formed so that it can be parsed.
          in: query
          name: callbackUrl
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignupInfo"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - enterprises
  "/androidenterprise/v1/enterprises/{enterpriseId}":
    get:
      description: Retrieves the name and domain of an enterprise.
      operationId: androidenterprise.enterprises.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enterprise"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - enterprises
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidenterprise/v1/enterprises/{enterpriseId}/account":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Sets the account that will be used to authenticate to the API as the enterprise.
      operationId: androidenterprise.enterprises.setAccount
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnterpriseAccount"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnterpriseAccount"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - enterprises
  "/androidenterprise/v1/enterprises/{enterpriseId}/createEnrollmentToken":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Returns a token for device enrollment. The DPC can encode this token within the QR/NFC/zero-touch enrollment payload or fetch it before calling the on-device API to authenticate the user. The token can be generated for each device or reused across multiple devices.
      operationId: androidenterprise.enterprises.createEnrollmentToken
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: Whether it’s a dedicated device or a knowledge worker device.
          in: query
          name: deviceType
          schema:
            enum:
              - unknown
              - dedicatedDevice
              - knowledgeWorker
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateEnrollmentTokenResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - enterprises
  "/androidenterprise/v1/enterprises/{enterpriseId}/createWebToken":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Returns a unique token to access an embeddable UI. To generate a web UI, pass the generated token into the managed Google Play javascript API. Each token may only be used to start one UI session. See the javascript API documentation for further information.
      operationId: androidenterprise.enterprises.createWebToken
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdministratorWebTokenSpec"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdministratorWebToken"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - enterprises
  "/androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses":
    get:
      description: Retrieves IDs of all products for which the enterprise has a group license. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations.
      operationId: androidenterprise.grouplicenses.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupLicensesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - grouplicenses
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}":
    get:
      description: Retrieves details of an enterprise's group license for a product. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations.
      operationId: androidenterprise.grouplicenses.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the product the group license is for, e.g. "app:com.google.android.gm".
          in: path
          name: groupLicenseId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupLicense"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - grouplicenses
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}/users":
    get:
      description: Retrieves the IDs of the users who have been granted entitlements under the license. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations.
      operationId: androidenterprise.grouplicenseusers.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the product the group license is for, e.g. "app:com.google.android.gm".
          in: path
          name: groupLicenseId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupLicenseUsersListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - grouplicenseusers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidenterprise/v1/enterprises/{enterpriseId}/products":
    get:
      description: "Finds approved products that match a query, or all approved products if there is no query. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations. "
      operationId: androidenterprise.products.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: Specifies whether to search among all products (false) or among only products that have been approved (true). Only "true" is supported, and should be specified.
          in: query
          name: approved
          schema:
            type: boolean
        - description: The BCP47 tag for the user's preferred language (e.g. "en-US", "de"). Results are returned in the language best matching the preferred language.
          in: query
          name: language
          schema:
            type: string
        - description: Defines how many results the list operation should return. The default number depends on the resource collection.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: The search query as typed in the Google Play store search box. If omitted, all approved apps will be returned (using the pagination parameters), including apps that are not available in the store (e.g. unpublished apps).
          in: query
          name: query
          schema:
            type: string
        - description: Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled.
          in: query
          name: token
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - products
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}":
    get:
      description: Retrieves details of a product for display to an enterprise admin.
      operationId: androidenterprise.products.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the product, e.g. "app:com.google.android.gm".
          in: path
          name: productId
          required: true
          schema:
            type: string
        - description: The BCP47 tag for the user's preferred language (e.g. "en-US", "de").
          in: query
          name: language
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - products
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/appRestrictionsSchema":
    get:
      description: Retrieves the schema that defines the configurable properties for this product. All products have a schema, but this schema may be empty if no managed configurations have been defined. This schema can be used to populate a UI that allows an admin to configure the product. To apply a managed configuration based on the schema obtained using this API, see Managed Configurations through Play.
      operationId: androidenterprise.products.getAppRestrictionsSchema
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          schema:
            type: string
        - description: The BCP47 tag for the user's preferred language (e.g. "en-US", "de").
          in: query
          name: language
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppRestrictionsSchema"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - products
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/approve":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: " Approves the specified product and the relevant app permissions, if any. The maximum number of products that you can approve per enterprise customer is 1,000. To learn how to use managed Google Play to design and create a store layout to display approved products to your users, see Store Layout Design. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations. "
      operationId: androidenterprise.products.approve
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductsApproveRequest"
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - products
  "/androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/generateApprovalUrl":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Generates a URL that can be rendered in an iframe to display the permissions (if any) of a product. An enterprise admin must view these permissions and accept them on behalf of their organization in order to approve that product. Admins should accept the displayed permissions by interacting with a separate UI element in the EMM console, which in turn should trigger the use of this URL as the approvalUrlInfo.approvalUrl property in a Products.approve call to approve the product. This URL can only be used to display permissions for up to 1 day. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations. "
      operationId: androidenterprise.products.generateApprovalUrl
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          schema:
            type: string
        - description: The BCP 47 language code used for permission names and descriptions in the returned iframe, for instance "en-US".
          in: query
          name: languageCode
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductsGenerateApprovalUrlResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - products
  "/androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/managedConfigurationsSettings":
    get:
      description: Lists all the managed configurations settings for the specified app.
      operationId: androidenterprise.managedconfigurationssettings.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the product for which the managed configurations settings applies to.
          in: path
          name: productId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedConfigurationsSettingsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - managedconfigurationssettings
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/permissions":
    get:
      description: Retrieves the Android app permissions required by this app.
      operationId: androidenterprise.products.getPermissions
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductPermissions"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - products
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/unapprove":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Unapproves the specified product (and the relevant app permissions, if any) **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations.
      operationId: androidenterprise.products.unapprove
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - products
  "/androidenterprise/v1/enterprises/{enterpriseId}/sendTestPushNotification":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Sends a test notification to validate the EMM integration with the Google Cloud Pub/Sub service for this enterprise.
      operationId: androidenterprise.enterprises.sendTestPushNotification
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnterprisesSendTestPushNotificationResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - enterprises
  "/androidenterprise/v1/enterprises/{enterpriseId}/serviceAccount":
    get:
      description: Returns a service account and credentials. The service account can be bound to the enterprise by calling setAccount. The service account is unique to this enterprise and EMM, and will be deleted if the enterprise is unbound. The credentials contain private key data and are not stored server-side. This method can only be called after calling Enterprises.Enroll or Enterprises.CompleteSignup, and before Enterprises.SetAccount; at other times it will return an error. Subsequent calls after the first will generate a new, unique set of credentials, and invalidate the previously generated credentials. Once the service account is bound to the enterprise, it can be managed using the serviceAccountKeys resource.
      operationId: androidenterprise.enterprises.getServiceAccount
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The type of credential to return with the service account. Required.
          in: query
          name: keyType
          schema:
            enum:
              - googleCredentials
              - pkcs12
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceAccount"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - enterprises
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys":
    get:
      description: Lists all active credentials for the service account associated with this enterprise. Only the ID and key type are returned. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount.
      operationId: androidenterprise.serviceaccountkeys.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceAccountKeysListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - serviceaccountkeys
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates new credentials for the service account associated with this enterprise. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount. Only the type of the key should be populated in the resource to be inserted.
      operationId: androidenterprise.serviceaccountkeys.insert
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceAccountKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceAccountKey"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - serviceaccountkeys
  "/androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys/{keyId}":
    delete:
      description: Removes and invalidates the specified credentials for the service account associated with this enterprise. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount.
      operationId: androidenterprise.serviceaccountkeys.delete
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the key.
          in: path
          name: keyId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - serviceaccountkeys
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidenterprise/v1/enterprises/{enterpriseId}/storeLayout":
    get:
      description: Returns the store layout for the enterprise. If the store layout has not been set, returns "basic" as the store layout type and no homepage.
      operationId: androidenterprise.enterprises.getStoreLayout
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreLayout"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - enterprises
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Sets the store layout for the enterprise. By default, storeLayoutType is set to "basic" and the basic store layout is enabled. The basic layout only contains apps approved by the admin, and that have been added to the available product set for a user (using the setAvailableProductSet call). Apps on the page are sorted in order of their product ID value. If you create a custom store layout (by setting storeLayoutType = "custom" and setting a homepage), the basic store layout is disabled.
      operationId: androidenterprise.enterprises.setStoreLayout
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreLayout"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreLayout"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - enterprises
  "/androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages":
    get:
      description: Retrieves the details of all pages in the store.
      operationId: androidenterprise.storelayoutpages.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreLayoutPagesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - storelayoutpages
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Inserts a new store page.
      operationId: androidenterprise.storelayoutpages.insert
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StorePage"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorePage"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - storelayoutpages
  "/androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}":
    delete:
      description: Deletes a store page.
      operationId: androidenterprise.storelayoutpages.delete
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - storelayoutpages
    get:
      description: Retrieves details of a store page.
      operationId: androidenterprise.storelayoutpages.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorePage"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - storelayoutpages
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates the content of a store page.
      operationId: androidenterprise.storelayoutpages.update
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StorePage"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorePage"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - storelayoutpages
  "/androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters":
    get:
      description: Retrieves the details of all clusters on the specified page.
      operationId: androidenterprise.storelayoutclusters.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreLayoutClustersListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - storelayoutclusters
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Inserts a new cluster in a page.
      operationId: androidenterprise.storelayoutclusters.insert
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreCluster"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreCluster"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - storelayoutclusters
  "/androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}":
    delete:
      description: Deletes a cluster.
      operationId: androidenterprise.storelayoutclusters.delete
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          schema:
            type: string
        - description: The ID of the cluster.
          in: path
          name: clusterId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - storelayoutclusters
    get:
      description: Retrieves details of a cluster.
      operationId: androidenterprise.storelayoutclusters.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          schema:
            type: string
        - description: The ID of the cluster.
          in: path
          name: clusterId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreCluster"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - storelayoutclusters
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates a cluster.
      operationId: androidenterprise.storelayoutclusters.update
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          schema:
            type: string
        - description: The ID of the cluster.
          in: path
          name: clusterId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreCluster"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreCluster"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - storelayoutclusters
  "/androidenterprise/v1/enterprises/{enterpriseId}/unenroll":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Unenrolls an enterprise from the calling EMM.
      operationId: androidenterprise.enterprises.unenroll
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - enterprises
  "/androidenterprise/v1/enterprises/{enterpriseId}/users":
    get:
      description: Looks up a user by primary email address. This is only supported for Google-managed users. Lookup of the id is not needed for EMM-managed users because the id is already returned in the result of the Users.insert call.
      operationId: androidenterprise.users.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: Required. The exact primary email address of the user to look up.
          in: query
          name: email
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - users
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new EMM-managed user. The Users resource passed in the body of the request should include an accountIdentifier and an accountType. If a corresponding user already exists with the same account identifier, the user will be updated with the resource. In this case only the displayName field can be changed.
      operationId: androidenterprise.users.insert
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - users
  "/androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}":
    delete:
      description: Deleted an EMM-managed user.
      operationId: androidenterprise.users.delete
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - users
    get:
      description: Retrieves a user's details.
      operationId: androidenterprise.users.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - users
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates the details of an EMM-managed user. Can be used with EMM-managed users only (not Google managed users). Pass the new details in the Users resource in the request body. Only the displayName field can be changed. Other fields must either be unset or have the currently active value.
      operationId: androidenterprise.users.update
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - users
  "/androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/authenticationToken":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates an authentication token which the device policy client can use to provision the given EMM-managed user account on a device. The generated token is single-use and expires after a few minutes. You can provision a maximum of 10 devices per user. This call only works with EMM-managed accounts.
      operationId: androidenterprise.users.generateAuthenticationToken
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationToken"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - users
  "/androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/availableProductSet":
    get:
      description: Retrieves the set of products a user is entitled to access. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations.
      operationId: androidenterprise.users.getAvailableProductSet
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductSet"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - users
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Modifies the set of products that a user is entitled to access (referred to as *whitelisted* products). Only products that are approved or products that were previously approved (products with revoked approval) can be whitelisted. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations.
      operationId: androidenterprise.users.setAvailableProductSet
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductSet"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductSet"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - users
  "/androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/deviceAccess":
    delete:
      description: Revokes access to all devices currently provisioned to the user. The user will no longer be able to use the managed Play store on any of their managed devices. This call only works with EMM-managed accounts.
      operationId: androidenterprise.users.revokeDeviceAccess
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - users
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices":
    get:
      description: Retrieves the IDs of all of a user's devices.
      operationId: androidenterprise.devices.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DevicesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - devices
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}":
    get:
      description: Retrieves the details of a device.
      operationId: androidenterprise.devices.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
        - description: The ID of the device.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - devices
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates the device policy. To ensure the policy is properly enforced, you need to prevent unmanaged accounts from accessing Google Play by setting the allowed_accounts in the managed configuration for the Google Play package. See restrict accounts in Google Play. When provisioning a new device, you should set the device policy using this method before adding the managed Google Play Account to the device, otherwise the policy will not be applied for a short period of time after adding the account to the device.
      operationId: androidenterprise.devices.update
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
        - description: The ID of the device.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
        - description: Mask that identifies which fields to update. If not set, all modifiable fields will be modified. When set in a query parameter, this field should be specified as updateMask=<field1>,<field2>,...
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Device"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - devices
  "/androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/forceReportUpload":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Uploads a report containing any changes in app states on the device since the last report was generated. You can call this method up to 3 times every 24 hours for a given device. If you exceed the quota, then the Google Play EMM API returns HTTP 429 Too Many Requests.
      operationId: androidenterprise.devices.forceReportUpload
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
        - description: The ID of the device.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - devices
  "/androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs":
    get:
      description: Retrieves the details of all apps installed on the specified device.
      operationId: androidenterprise.installs.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstallsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - installs
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}":
    delete:
      description: Requests to remove an app from a device. A call to get or list will still show the app as installed on the device until it is actually removed.
      operationId: androidenterprise.installs.delete
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
        - description: The ID of the product represented by the install, e.g. "app:com.google.android.gm".
          in: path
          name: installId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - installs
    get:
      description: Retrieves details of an installation of an app on a device.
      operationId: androidenterprise.installs.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
        - description: The ID of the product represented by the install, e.g. "app:com.google.android.gm".
          in: path
          name: installId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Install"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - installs
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Requests to install the latest version of an app to a device. If the app is already installed, then it is updated to the latest version if necessary.
      operationId: androidenterprise.installs.update
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
        - description: The ID of the product represented by the install, e.g. "app:com.google.android.gm".
          in: path
          name: installId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Install"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Install"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - installs
  "/androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice":
    get:
      description: Lists all the per-device managed configurations for the specified device. Only the ID is set.
      operationId: androidenterprise.managedconfigurationsfordevice.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedConfigurationsForDeviceListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - managedconfigurationsfordevice
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}":
    delete:
      description: Removes a per-device managed configuration for an app for the specified device.
      operationId: androidenterprise.managedconfigurationsfordevice.delete
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
        - description: The ID of the managed configuration (a product ID), e.g. "app:com.google.android.gm".
          in: path
          name: managedConfigurationForDeviceId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - managedconfigurationsfordevice
    get:
      description: Retrieves details of a per-device managed configuration.
      operationId: androidenterprise.managedconfigurationsfordevice.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
        - description: The ID of the managed configuration (a product ID), e.g. "app:com.google.android.gm".
          in: path
          name: managedConfigurationForDeviceId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedConfiguration"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - managedconfigurationsfordevice
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Adds or updates a per-device managed configuration for an app for the specified device.
      operationId: androidenterprise.managedconfigurationsfordevice.update
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
        - description: The ID of the managed configuration (a product ID), e.g. "app:com.google.android.gm".
          in: path
          name: managedConfigurationForDeviceId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManagedConfiguration"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedConfiguration"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - managedconfigurationsfordevice
  "/androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state":
    get:
      description: Retrieves whether a device's access to Google services is enabled or disabled. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services. This is only supported for Google-managed users.
      operationId: androidenterprise.devices.getState
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
        - description: The ID of the device.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceState"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
            - https://www.googleapis.com/auth/androidenterprise
      tags:
        - devices
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Sets whether a device's access to Google services is enabled or disabled. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services. This is only supported for Google-managed users.
      operationId: androidenterprise.devices.setState
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          schema:
            type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          schema:
            type: string
        - description: The ID of the device.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceState"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceState"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidenterprise
          Oauth2c:
[...]
