swagger: '2.0'
schemes:
  - https
  - http
host: opsworks-cm.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>AWS OpsWorks CM</fullname> <p>AWS OpsWorks for configuration management (CM) is a service that runs and manages configuration management servers. You can use AWS OpsWorks CM to create and manage AWS OpsWorks for Chef Automate and AWS OpsWorks for Puppet Enterprise servers, and add or remove nodes for the servers to manage.</p> <p> <b>Glossary of terms</b> </p> <ul> <li> <p> <b>Server</b>: A configuration management server that can be highly-available. The configuration management server runs on an Amazon Elastic Compute Cloud (EC2) instance, and may use various other AWS services, such as Amazon Relational Database Service (RDS) and Elastic Load Balancing. A server is a generic abstraction over the configuration manager that you want to use, much like Amazon RDS. In AWS OpsWorks CM, you do not start or stop servers. After you create servers, they continue to run until they are deleted.</p> </li> <li> <p> <b>Engine</b>: The engine is the specific configuration manager that you want to use. Valid values in this release include <code>ChefAutomate</code> and <code>Puppet</code>.</p> </li> <li> <p> <b>Backup</b>: This is an application-level backup of the data that the configuration manager stores. AWS OpsWorks CM creates an S3 bucket for backups when you launch the first server. A backup maintains a snapshot of a server''s configuration-related attributes at the time the backup starts.</p> </li> <li> <p> <b>Events</b>: Events are always related to a server. Events are written during server creation, when health checks run, when backups are created, when system maintenance is performed, etc. When you delete a server, the server''s events are also deleted.</p> </li> <li> <p> <b>Account attributes</b>: Every account has attributes that are assigned in the AWS OpsWorks CM database. These attributes store information about configuration limits (servers, backups, etc.) and your customer account. </p> </li> </ul> <p> <b>Endpoints</b> </p> <p>AWS OpsWorks CM supports the following endpoints, all HTTPS. You must connect to one of the following endpoints. Your servers can only be accessed or managed within the endpoint in which they are created.</p> <ul> <li> <p>opsworks-cm.us-east-1.amazonaws.com</p> </li> <li> <p>opsworks-cm.us-east-2.amazonaws.com</p> </li> <li> <p>opsworks-cm.us-west-1.amazonaws.com</p> </li> <li> <p>opsworks-cm.us-west-2.amazonaws.com</p> </li> <li> <p>opsworks-cm.ap-northeast-1.amazonaws.com</p> </li> <li> <p>opsworks-cm.ap-southeast-1.amazonaws.com</p> </li> <li> <p>opsworks-cm.ap-southeast-2.amazonaws.com</p> </li> <li> <p>opsworks-cm.eu-central-1.amazonaws.com</p> </li> <li> <p>opsworks-cm.eu-west-1.amazonaws.com</p> </li> </ul> <p> <b>Throttling limits</b> </p> <p>All API operations allow for five requests per second with a burst of 10 requests per second.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS OpsWorks CM
  version: '2016-11-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/opsworkscm-2016-11-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: opsworkscm
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/opsworks-cm/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=OpsWorksCM_V2016_11_01.AssociateNode':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> Associates a new node with the server. For more information about how to disassociate a node, see <a>DisassociateNode</a>.</p> <p> On a Chef server: This command is an alternative to <code>knife bootstrap</code>.</p> <p> Example (Chef): <code>aws opsworks-cm associate-node --server-name <i>MyServer</i> --node-name <i>MyManagedNode</i> --engine-attributes "Name=<i>CHEF_ORGANIZATION</i>,Value=default" "Name=<i>CHEF_NODE_PUBLIC_KEY</i>,Value=<i>public-key-pem</i>"</code> </p> <p> On a Puppet server, this command is an alternative to the <code>puppet cert sign</code> command that signs a Puppet node CSR. </p> <p> Example (Chef): <code>aws opsworks-cm associate-node --server-name <i>MyServer</i> --node-name <i>MyManagedNode</i> --engine-attributes "Name=<i>PUPPET_NODE_CSR</i>,Value=<i>csr-pem</i>"</code> </p> <p> A node can can only be associated with servers that are in a <code>HEALTHY</code> state. Otherwise, an <code>InvalidStateException</code> is thrown. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. The AssociateNode API call can be integrated into Auto Scaling configurations, AWS Cloudformation templates, or the user data of a server''s instance. </p>'
      operationId: AssociateNode
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AssociateNodeRequest'
        - enum:
            - OpsWorksCM_V2016_11_01.AssociateNode
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateNodeResponse'
        '480':
          description: InvalidStateException
          schema:
            $ref: '#/definitions/InvalidStateException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  '/#X-Amz-Target=OpsWorksCM_V2016_11_01.CreateBackup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> Creates an application-level backup of a server. While the server is in the <code>BACKING_UP</code> state, the server cannot be changed, and no additional backup can be created. </p> <p> Backups can be created for servers in <code>RUNNING</code>, <code>HEALTHY</code>, and <code>UNHEALTHY</code> states. By default, you can create a maximum of 50 manual backups. </p> <p> This operation is asynchronous. </p> <p> A <code>LimitExceededException</code> is thrown when the maximum number of manual backups is reached. An <code>InvalidStateException</code> is thrown when the server is not in any of the following states: RUNNING, HEALTHY, or UNHEALTHY. A <code>ResourceNotFoundException</code> is thrown when the server is not found. A <code>ValidationException</code> is thrown when parameters of the request are not valid. </p>'
      operationId: CreateBackup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateBackupRequest'
        - enum:
            - OpsWorksCM_V2016_11_01.CreateBackup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateBackupResponse'
        '480':
          description: InvalidStateException
          schema:
            $ref: '#/definitions/InvalidStateException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  '/#X-Amz-Target=OpsWorksCM_V2016_11_01.CreateServer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> Creates and immedately starts a new server. The server is ready to use when it is in the <code>HEALTHY</code> state. By default, you can create a maximum of 10 servers. </p> <p> This operation is asynchronous. </p> <p> A <code>LimitExceededException</code> is thrown when you have created the maximum number of servers (10). A <code>ResourceAlreadyExistsException</code> is thrown when a server with the same name already exists in the account. A <code>ResourceNotFoundException</code> is thrown when you specify a backup ID that is not valid or is for a backup that does not exist. A <code>ValidationException</code> is thrown when parameters of the request are not valid. </p> <p> If you do not specify a security group by adding the <code>SecurityGroupIds</code> parameter, AWS OpsWorks creates a new security group. </p> <p> <i>Chef Automate:</i> The default security group opens the Chef server to the world on TCP port 443. If a KeyName is present, AWS OpsWorks enables SSH access. SSH is also open to the world on TCP port 22. </p> <p> <i>Puppet Enterprise:</i> The default security group opens TCP ports 22, 443, 4433, 8140, 8142, 8143, and 8170. If a KeyName is present, AWS OpsWorks enables SSH access. SSH is also open to the world on TCP port 22. </p> <p>By default, your server is accessible from any IP address. We recommend that you update your security group rules to allow access from known IP addresses and address ranges only. To edit security group rules, open Security Groups in the navigation pane of the EC2 management console. </p>'
      operationId: CreateServer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateServerRequest'
        - enum:
            - OpsWorksCM_V2016_11_01.CreateServer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateServerResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  '/#X-Amz-Target=OpsWorksCM_V2016_11_01.DeleteBackup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p> Deletes a backup. You can delete both manual and automated backups. This operation is asynchronous. </p> <p> An <code>InvalidStateException</code> is thrown when a backup deletion is already in progress. A <code>ResourceNotFoundException</code> is thrown when the backup does not exist. A <code>ValidationException</code> is thrown when parameters of the request are not valid. </p>
      operationId: DeleteBackup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBackupRequest'
        - enum:
            - OpsWorksCM_V2016_11_01.DeleteBackup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteBackupResponse'
        '480':
          description: InvalidStateException
          schema:
            $ref: '#/definitions/InvalidStateException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  '/#X-Amz-Target=OpsWorksCM_V2016_11_01.DeleteServer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> Deletes the server and the underlying AWS CloudFormation stacks (including the server''s EC2 instance). When you run this command, the server state is updated to <code>DELETING</code>. After the server is deleted, it is no longer returned by <code>DescribeServer</code> requests. If the AWS CloudFormation stack cannot be deleted, the server cannot be deleted. </p> <p> This operation is asynchronous. </p> <p> An <code>InvalidStateException</code> is thrown when a server deletion is already in progress. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p> <p> </p>'
      operationId: DeleteServer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteServerRequest'
        - enum:
            - OpsWorksCM_V2016_11_01.DeleteServer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteServerResponse'
        '480':
          description: InvalidStateException
          schema:
            $ref: '#/definitions/InvalidStateException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  '/#X-Amz-Target=OpsWorksCM_V2016_11_01.DescribeAccountAttributes':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p> Describes your OpsWorks-CM account attributes. </p> <p> This operation is synchronous. </p>
      operationId: DescribeAccountAttributes
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAccountAttributesRequest'
        - enum:
            - OpsWorksCM_V2016_11_01.DescribeAccountAttributes
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountAttributesResponse'
  '/#X-Amz-Target=OpsWorksCM_V2016_11_01.DescribeBackups':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> Describes backups. The results are ordered by time, with newest backups first. If you do not specify a BackupId or ServerName, the command returns all backups. </p> <p> This operation is synchronous. </p> <p> A <code>ResourceNotFoundException</code> is thrown when the backup does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>'
      operationId: DescribeBackups
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeBackupsRequest'
        - enum:
            - OpsWorksCM_V2016_11_01.DescribeBackups
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeBackupsResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
  '/#X-Amz-Target=OpsWorksCM_V2016_11_01.DescribeEvents':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> Describes events for a specified server. Results are ordered by time, with newest events first. </p> <p> This operation is synchronous. </p> <p> A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>'
      operationId: DescribeEvents
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventsRequest'
        - enum:
            - OpsWorksCM_V2016_11_01.DescribeEvents
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventsResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=OpsWorksCM_V2016_11_01.DescribeNodeAssociationStatus':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> Returns the current status of an existing association or disassociation request. </p> <p> A <code>ResourceNotFoundException</code> is thrown when no recent association or disassociation request with the specified token is found, or when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>'
      operationId: DescribeNodeAssociationStatus
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeNodeAssociationStatusRequest'
        - enum:
            - OpsWorksCM_V2016_11_01.DescribeNodeAssociationStatus
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeNodeAssociationStatusResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  '/#X-Amz-Target=OpsWorksCM_V2016_11_01.DescribeServers':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p> Lists all configuration management servers that are identified with your account. Only the stored results from Amazon DynamoDB are returned. AWS OpsWorks CM does not query other services. </p> <p> This operation is synchronous. </p> <p> A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>
      operationId: DescribeServers
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeServersRequest'
        - enum:
            - OpsWorksCM_V2016_11_01.DescribeServers
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeServersResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
  '/#X-Amz-Target=OpsWorksCM_V2016_11_01.DisassociateNode':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> Disassociates a node from an AWS OpsWorks CM server, and removes the node from the server''s managed nodes. After a node is disassociated, the node key pair is no longer valid for accessing the configuration manager''s API. For more information about how to associate a node, see <a>AssociateNode</a>. </p> <p>A node can can only be disassociated from a server that is in a <code>HEALTHY</code> state. Otherwise, an <code>InvalidStateException</code> is thrown. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>'
      operationId: DisassociateNode
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateNodeRequest'
        - enum:
            - OpsWorksCM_V2016_11_01.DisassociateNode
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateNodeResponse'
        '480':
          description: InvalidStateException
          schema:
            $ref: '#/definitions/InvalidStateException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  '/#X-Amz-Target=OpsWorksCM_V2016_11_01.ExportServerEngineAttribute':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> Exports a specified server engine attribute as a base64-encoded string. For example, you can export user data that you can use in EC2 to associate nodes with a server. </p> <p> This operation is synchronous. </p> <p> A <code>ValidationException</code> is raised when parameters of the request are not valid. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. An <code>InvalidStateException</code> is thrown when the server is in any of the following states: CREATING, TERMINATED, FAILED or DELETING. </p>'
      operationId: ExportServerEngineAttribute
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ExportServerEngineAttributeRequest'
        - enum:
            - OpsWorksCM_V2016_11_01.ExportServerEngineAttribute
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ExportServerEngineAttributeResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidStateException
          schema:
            $ref: '#/definitions/InvalidStateException'
  '/#X-Amz-Target=OpsWorksCM_V2016_11_01.RestoreServer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> Restores a backup to a server that is in a <code>CONNECTION_LOST</code>, <code>HEALTHY</code>, <code>RUNNING</code>, <code>UNHEALTHY</code>, or <code>TERMINATED</code> state. When you run RestoreServer, the server''s EC2 instance is deleted, and a new EC2 instance is configured. RestoreServer maintains the existing server endpoint, so configuration management of the server''s client devices (nodes) should continue to work. </p> <p> This operation is asynchronous. </p> <p> An <code>InvalidStateException</code> is thrown when the server is not in a valid state. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>'
      operationId: RestoreServer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RestoreServerRequest'
        - enum:
            - OpsWorksCM_V2016_11_01.RestoreServer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RestoreServerResponse'
        '480':
          description: InvalidStateException
          schema:
            $ref: '#/definitions/InvalidStateException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  '/#X-Amz-Target=OpsWorksCM_V2016_11_01.StartMaintenance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> Manually starts server maintenance. This command can be useful if an earlier maintenance attempt failed, and the underlying cause of maintenance failure has been resolved. The server is in an <code>UNDER_MAINTENANCE</code> state while maintenance is in progress. </p> <p> Maintenance can only be started on servers in <code>HEALTHY</code> and <code>UNHEALTHY</code> states. Otherwise, an <code>InvalidStateException</code> is thrown. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>'
      operationId: StartMaintenance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartMaintenanceRequest'
        - enum:
            - OpsWorksCM_V2016_11_01.StartMaintenance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartMaintenanceResponse'
        '480':
          description: InvalidStateException
          schema:
            $ref: '#/definitions/InvalidStateException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  '/#X-Amz-Target=OpsWorksCM_V2016_11_01.UpdateServer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p> Updates settings for a server. </p> <p> This operation is synchronous. </p>
      operationId: UpdateServer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateServerRequest'
        - enum:
            - OpsWorksCM_V2016_11_01.UpdateServer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateServerResponse'
        '480':
          description: InvalidStateException
          schema:
            $ref: '#/definitions/InvalidStateException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  '/#X-Amz-Target=OpsWorksCM_V2016_11_01.UpdateServerEngineAttributes':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> Updates engine-specific attributes on a specified server. The server enters the <code>MODIFYING</code> state when this operation is in progress. Only one update can occur at a time. You can use this command to reset a Chef server''s public key (<code>CHEF_PIVOTAL_KEY</code>) or a Puppet server''s admin password (<code>PUPPET_ADMIN_PASSWORD</code>). </p> <p> This operation is asynchronous. </p> <p> This operation can only be called for servers in <code>HEALTHY</code> or <code>UNHEALTHY</code> states. Otherwise, an <code>InvalidStateException</code> is raised. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>'
      operationId: UpdateServerEngineAttributes
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateServerEngineAttributesRequest'
        - enum:
            - OpsWorksCM_V2016_11_01.UpdateServerEngineAttributes
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateServerEngineAttributesResponse'
        '480':
          description: InvalidStateException
          schema:
            $ref: '#/definitions/InvalidStateException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
definitions:
  AccountAttribute:
    description: 'Stores account attributes. '
    properties:
      Maximum:
        $ref: '#/definitions/Integer'
        description: ' The maximum allowed value. '
      Name:
        $ref: '#/definitions/String'
        description: '<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li> </ul>'
      Used:
        $ref: '#/definitions/Integer'
        description: ' The current usage, such as the current number of servers that are associated with the account. '
    type: object
  AccountAttributes:
    description: ' A list of individual account attributes. '
    items:
      $ref: '#/definitions/AccountAttribute'
    type: array
  AssociateNodeRequest:
    properties:
      EngineAttributes:
        $ref: '#/definitions/EngineAttributes'
        description: '<p>Engine attributes used for associating the node. </p> <p class="title"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class="title"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li> </ul>'
      NodeName:
        $ref: '#/definitions/NodeName'
        description: 'The name of the node. '
      ServerName:
        $ref: '#/definitions/ServerName'
        description: 'The name of the server with which to associate the node. '
    required:
      - ServerName
      - NodeName
      - EngineAttributes
    type: object
  AssociateNodeResponse:
    properties:
      NodeAssociationStatusToken:
        $ref: '#/definitions/NodeAssociationStatusToken'
        description: 'Contains a token which can be passed to the <code>DescribeNodeAssociationStatus</code> API call to get the status of the association request. '
    type: object
  AttributeName:
    maxLength: 64
    minLength: 1
    pattern: '[A-Z][A-Z0-9_]*'
    type: string
  AttributeValue:
    type: string
  Backup:
    description: 'Describes a single backup. '
    properties:
      BackupArn:
        $ref: '#/definitions/String'
        description: 'The ARN of the backup. '
      BackupId:
        $ref: '#/definitions/BackupId'
        description: ' The generated ID of the backup. Example: <code>myServerName-yyyyMMddHHmmssSSS</code> '
      BackupType:
        $ref: '#/definitions/BackupType'
        description: ' The backup type. Valid values are <code>automated</code> or <code>manual</code>. '
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: ' The time stamp when the backup was created in the database. Example: <code>2016-07-29T13:38:47.520Z</code> '
      Description:
        $ref: '#/definitions/String'
        description: ' A user-provided description for a manual backup. This field is empty for automated backups. '
      Engine:
        $ref: '#/definitions/String'
        description: ' The engine type that is obtained from the server when the backup is created. '
      EngineModel:
        $ref: '#/definitions/String'
        description: ' The engine model that is obtained from the server when the backup is created. '
      EngineVersion:
        $ref: '#/definitions/String'
        description: ' The engine version that is obtained from the server when the backup is created. '
      InstanceProfileArn:
        $ref: '#/definitions/String'
        description: ' The EC2 instance profile ARN that is obtained from the server when the backup is created. Because this value is stored, you are not required to provide the InstanceProfileArn again if you restore a backup. '
      InstanceType:
        $ref: '#/definitions/String'
        description: ' The instance type that is obtained from the server when the backup is created. '
      KeyPair:
        $ref: '#/definitions/String'
        description: ' The key pair that is obtained from the server when the backup is created. '
      PreferredBackupWindow:
        $ref: '#/definitions/TimeWindowDefinition'
        description: ' The preferred backup period that is obtained from the server when the backup is created. '
      PreferredMaintenanceWindow:
        $ref: '#/definitions/TimeWindowDefinition'
        description: ' The preferred maintenance period that is obtained from the server when the backup is created. '
      S3DataSize:
        $ref: '#/definitions/Integer'
        description: ' This field is deprecated and is no longer used. '
      S3DataUrl:
        $ref: '#/definitions/String'
        description: ' This field is deprecated and is no longer used. '
      S3LogUrl:
        $ref: '#/definitions/String'
        description: ' The Amazon S3 URL of the backup''s log file. '
      SecurityGroupIds:
        $ref: '#/definitions/Strings'
        description: ' The security group IDs that are obtained from the server when the backup is created. '
      ServerName:
        $ref: '#/definitions/ServerName'
        description: ' The name of the server from which the backup was made. '
      ServiceRoleArn:
        $ref: '#/definitions/String'
        description: ' The service role ARN that is obtained from the server when the backup is created. '
      Status:
        $ref: '#/definitions/BackupStatus'
        description: 'The status of a backup while in progress. '
      StatusDescription:
        $ref: '#/definitions/String'
        description: ' An informational message about backup status. '
      SubnetIds:
        $ref: '#/definitions/Strings'
        description: ' The subnet IDs that are obtained from the server when the backup is created. '
      ToolsVersion:
        $ref: '#/definitions/String'
        description: ' The version of AWS OpsWorks CM-specific tools that is obtained from the server when the backup is created. '
      UserArn:
        $ref: '#/definitions/String'
        description: ' The IAM user ARN of the requester for manual backups. This field is empty for automated backups. '
    type: object
  BackupId:
    maxLength: 79
    type: string
  BackupRetentionCountDefinition:
    minimum: 1
    type: integer
  BackupStatus:
    enum:
      - IN_PROGRESS
      - OK
      - FAILED
      - DELETING
    type: string
  BackupType:
    enum:
      - AUTOMATED
      - MANUAL
    type: string
  Backups:
    items:
      $ref: '#/definitions/Backup'
    type: array
  Boolean:
    type: boolean
  CreateBackupRequest:
    properties:
      Description:
        $ref: '#/definitions/String'
        description: ' A user-defined description of the backup. '
      ServerName:
        $ref: '#/definitions/ServerName'
        description: 'The name of the server that you want to back up. '
    required:
      - ServerName
    type: object
  CreateBackupResponse:
    properties:
      Backup:
        $ref: '#/definitions/Backup'
        description: Backup created by request.
    type: object
  CreateServerRequest:
    properties:
      AssociatePublicIpAddress:
        $ref: '#/definitions/Boolean'
        description: ' Associate a public IP address with a server that you are launching. Valid values are <code>true</code> or <code>false</code>. The default value is <code>true</code>. '
      BackupId:
        $ref: '#/definitions/BackupId'
        description: ' If you specify this field, AWS OpsWorks CM creates the server by using the backup represented by BackupId. '
      BackupRetentionCount:
        $ref: '#/definitions/BackupRetentionCountDefinition'
        description: ' The number of automated backups that you want to keep. Whenever a new backup is created, AWS OpsWorks CM deletes the oldest backups if this number is exceeded. The default value is <code>1</code>. '
      DisableAutomatedBackup:
        $ref: '#/definitions/Boolean'
        description: ' Enable or disable scheduled backups. Valid values are <code>true</code> or <code>false</code>. The default value is <code>true</code>. '
      Engine:
        $ref: '#/definitions/String'
        description: ' The configuration management engine to use. Valid values include <code>ChefAutomate</code> and <code>Puppet</code>. '
      EngineAttributes:
        $ref: '#/definitions/EngineAttributes'
        description: '<p>Optional engine attributes on a specified server. </p> <p class="title"> <b>Attributes accepted in a Chef createServer request:</b> </p> <ul> <li> <p> <code>CHEF_AUTOMATE_PIVOTAL_KEY</code>: A base64-encoded RSA public key. The corresponding private key is required to access the Chef API. When no CHEF_AUTOMATE_PIVOTAL_KEY is set, a private key is generated and returned in the response. </p> </li> <li> <p> <code>CHEF_AUTOMATE_ADMIN_PASSWORD</code>: The password for the administrative user in the Chef Automate web-based dashboard. The password length is a minimum of eight characters, and a maximum of 32. The password can contain letters, numbers, and special characters (!/@#$%^&amp;+=_). The password must contain at least one lower case letter, one upper case letter, one number, and one special character. When no CHEF_AUTOMATE_ADMIN_PASSWORD is set, one is generated and returned in the response.</p> </li> </ul> <p class="title"> <b>Attributes accepted in a Puppet createServer request:</b> </p> <ul> <li> <p> <code>PUPPET_ADMIN_PASSWORD</code>: To work with the Puppet Enterprise console, a password must use ASCII characters.</p> </li> <li> <p> <code>PUPPET_R10K_REMOTE</code>: The r10k remote is the URL of your control repository (for example, ssh://git@your.git-repo.com:user/control-repo.git). Specifying an r10k remote opens TCP port 8170.</p> </li> <li> <p> <code>PUPPET_R10K_PRIVATE_KEY</code>: If you are using a private Git repository, add PUPPET_R10K_PRIVATE_KEY to specify a PEM-encoded private SSH key.</p> </li> </ul>'
      EngineModel:
        $ref: '#/definitions/String'
        description: ' The engine model of the server. Valid values in this release include <code>Monolithic</code> for Puppet and <code>Single</code> for Chef. '
      EngineVersion:
        $ref: '#/definitions/String'
        description: ' The major release version of the engine that you want to use. For a Chef server, the valid value for EngineVersion is currently <code>12</code>. For a Puppet server, the valid value is <code>2017</code>. '
      InstanceProfileArn:
        $ref: '#/definitions/InstanceProfileArn'
        description: ' The ARN of the instance profile that your Amazon EC2 instances use. Although the AWS OpsWorks console typically creates the instance profile for you, if you are using API commands instead, run the service-role-creation.yaml AWS CloudFormation template, located at https://s3.amazonaws.com/opsworks-cm-us-east-1-prod-default-assets/misc/opsworks-cm-roles.yaml. This template creates a CloudFormation stack that includes the instance profile you need. '
      InstanceType:
        $ref: '#/definitions/String'
        description: ' The Amazon EC2 instance type to use. For example, <code>m5.large</code>. '
      KeyPair:
        $ref: '#/definitions/KeyPair'
        description: ' The Amazon EC2 key pair to set for the instance. This parameter is optional; if desired, you may specify this parameter to connect to your instances by using SSH. '
      PreferredBackupWindow:
        $ref: '#/definitions/TimeWindowDefinition'
        description: '<p> The start time for a one-hour period during which AWS OpsWorks CM backs up application-level data on your server if automated backups are enabled. Valid values must be specified in one of the following formats: </p> <ul> <li> <p> <code>HH:MM</code> for daily backups</p> </li> <li> <p> <code>DDD:HH:MM</code> for weekly backups</p> </li> </ul> <p>The specified time is in coordinated universal time (UTC). The default value is a random, daily start time.</p> <p> <b>Example:</b> <code>08:00</code>, which represents a daily start time of 08:00 UTC.</p> <p> <b>Example:</b> <code>Mon:08:00</code>, which represents a start time of every Monday at 08:00 UTC. (8:00 a.m.)</p>'
      PreferredMaintenanceWindow:
        $ref: '#/definitions/TimeWindowDefinition'
        description: '<p> The start time for a one-hour period each week during which AWS OpsWorks CM performs maintenance on the instance. Valid values must be specified in the following format: <code>DDD:HH:MM</code>. The specified time is in coordinated universal time (UTC). The default value is a random one-hour period on Tuesday, Wednesday, or Friday. See <code>TimeWindowDefinition</code> for more information. </p> <p> <b>Example:</b> <code>Mon:08:00</code>, which represents a start time of every Monday at 08:00 UTC. (8:00 a.m.) </p>'
      SecurityGroupIds:
        $ref: '#/definitions/Strings'
        description: '<p> A list of security group IDs to attach to the Amazon EC2 instance. If you add this parameter, the specified security groups must be within the VPC that is specified by <code>SubnetIds</code>. </p> <p> If you do not specify this parameter, AWS OpsWorks CM creates one new security group that uses TCP ports 22 and 443, open to 0.0.0.0/0 (everyone). </p>'
      ServerName:
        $ref: '#/definitions/ServerName'
        description: ' The name of the server. The server name must be unique within your AWS account, within each region. Server names must start with a letter; then letters, numbers, or hyphens (-) are allowed, up to a maximum of 40 characters. '
      ServiceRoleArn:
        $ref: '#/definitions/ServiceRoleArn'
        description: ' The service role that the AWS OpsWorks CM service backend uses to work with your account. Although the AWS OpsWorks management console typically creates the service role for you, if you are using the AWS CLI or API commands, run the service-role-creation.yaml AWS CloudFormation template, located at https://s3.amazonaws.com/opsworks-cm-us-east-1-prod-default-assets/misc/opsworks-cm-roles.yaml. This template creates a CloudFormation stack that includes the service role and instance profile that you need. '
      SubnetIds:
        $ref: '#/definitions/Strings'
        description: '<p> The IDs of subnets in which to launch the server EC2 instance. </p> <p> Amazon EC2-Classic customers: This field is required. All servers must run within a VPC. The VPC must have "Auto Assign Public IP" enabled. </p> <p> EC2-VPC customers: This field is optional. If you do not specify subnet IDs, your EC2 instances are created in a default subnet that is selected by Amazon EC2. If you specify subnet IDs, the VPC must have "Auto Assign Public IP" enabled. </p> <p>For more information about supported Amazon EC2 platforms, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-supported-platforms.html">Supported Platforms</a>.</p>'
    required:
      - ServerName
      - InstanceProfileArn
      - InstanceType
      - ServiceRoleArn
    type: object
  CreateServerResponse:
    properties:
      Server:
        $ref: '#/definitions/Server'
        description: 'The server that is created by the request. '
    type: object
  DeleteBackupRequest:
    properties:
      BackupId:
        $ref: '#/definitions/BackupId'
        description: 'The ID of the backup to delete. Run the DescribeBackups command to get a list of backup IDs. Backup IDs are in the format <code>ServerName-yyyyMMddHHmmssSSS</code>. '
    required:
      - BackupId
    type: object
  DeleteBackupResponse:
    properties: {}
    type: object
  DeleteServerRequest:
    properties:
      ServerName:
        $ref: '#/definitions/ServerName'
        description: The ID of the server to delete.
    required:
      - ServerName
    type: object
  DeleteServerResponse:
    properties: {}
    type: object
  DescribeAccountAttributesRequest:
    properties: {}
    type: object
  DescribeAccountAttributesResponse:
    properties:
      Attributes:
        $ref: '#/definitions/AccountAttributes'
        description: ' The attributes that are currently set for the account. '
    type: object
  DescribeBackupsRequest:
    properties:
      BackupId:
        $ref: '#/definitions/BackupId'
        description: 'Describes a single backup. '
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: This is not currently implemented for <code>DescribeBackups</code> requests.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: This is not currently implemented for <code>DescribeBackups</code> requests.
      ServerName:
        $ref: '#/definitions/ServerName'
        description: 'Returns backups for the server with the specified ServerName. '
    type: object
  DescribeBackupsResponse:
    properties:
      Backups:
        $ref: '#/definitions/Backups'
        description: 'Contains the response to a <code>DescribeBackups</code> request. '
      NextToken:
        $ref: '#/definitions/String'
        description: This is not currently implemented for <code>DescribeBackups</code> requests.
    type: object
  DescribeEventsRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'To receive a paginated response, use this parameter to specify the maximum number of results to be returned with a single call. If the number of available results exceeds this maximum, the response includes a <code>NextToken</code> value that you can assign to the <code>NextToken</code> request parameter to get the next set of results. '
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'NextToken is a string that is returned in some command responses. It indicates that not all entries have been returned, and that you must run at least one more request to get remaining items. To get remaining results, call <code>DescribeEvents</code> again, and assign the token from the previous results as the value of the <code>nextToken</code> parameter. If there are no more results, the response object''s <code>nextToken</code> parameter value is <code>null</code>. Setting a <code>nextToken</code> value that was not returned in your previous results causes an <code>InvalidNextTokenException</code> to occur. '
      ServerName:
        $ref: '#/definitions/ServerName'
        description: The name of the server for which you want to view events.
    required:
      - ServerName
    type: object
  DescribeEventsResponse:
    properties:
      NextToken:
        $ref: '#/definitions/String'
        description: 'NextToken is a string that is returned in some command responses. It indicates that not all entries have been returned, and that you must run at least one more request to get remaining items. To get remaining results, call <code>DescribeEvents</code> again, and assign the token from the previous results as the value of the <code>nextToken</code> parameter. If there are no more results, the response object''s <code>nextToken</code> parameter value is <code>null</code>. Setting a <code>nextToken</code> value that was not returned in your previous results causes an <code>InvalidNextTokenException</code> to occur. '
      ServerEvents:
        $ref: '#/definitions/ServerEvents'
        description: 'Contains the response to a <code>DescribeEvents</code> request. '
    type: object
  DescribeNodeAssociationStatusRequest:
    properties:
      NodeAssociationStatusToken:
        $ref: '#/definitions/NodeAssociationStatusToken'
        description: 'The token returned in either the AssociateNodeResponse or the DisassociateNodeResponse. '
      ServerName:
        $ref: '#/definitions/ServerName'
        description: 'The name of the server from which to disassociate the node. '
    required:
      - NodeAssociationStatusToken
      - ServerName
    type: object
  DescribeNodeAssociationStatusResponse:
    properties:
      EngineAttributes:
        $ref: '#/definitions/EngineAttributes'
        description: 'Attributes specific to the node association. In Puppet, the attibute PUPPET_NODE_CERT contains the signed certificate (the result of the CSR). '
      NodeAssociationStatus:
        $ref: '#/definitions/NodeAssociationStatus'
        description: '<p>The status of the association or disassociation request. </p> <p class="title"> <b>Possible values:</b> </p> <ul> <li> <p> <code>SUCCESS</code>: The association or disassociation succeeded. </p> </li> <li> <p> <code>FAILED</code>: The association or disassociation failed. </p> </li> <li> <p> <code>IN_PROGRESS</code>: The association or disassociation is still in progress. </p> </li> </ul>'
    type: object
  DescribeServersRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'This is not currently implemented for <code>DescribeServers</code> requests. '
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'This is not currently implemented for <code>DescribeServers</code> requests. '
      ServerName:
        $ref: '#/definitions/ServerName'
        description: Describes the server with the specified ServerName.
    type: object
  DescribeServersResponse:
    properties:
      NextToken:
        $ref: '#/definitions/String'
        description: 'This is not currently implemented for <code>DescribeServers</code> requests. '
      Servers:
        $ref: '#/definitions/Servers'
        description: '<p>Contains the response to a <code>DescribeServers</code> request.</p> <p> <i>For Puppet Server:</i> <code>DescribeServersResponse$Servers$EngineAttributes</code> contains PUPPET_API_CA_CERT. This is the PEM-encoded CA certificate that is used by the Puppet API over TCP port number 8140. The CA certificate is also used to sign node certificates.</p>'
    type: object
  DisassociateNodeRequest:
    properties:
      EngineAttributes:
        $ref: '#/definitions/EngineAttributes'
        description: '<p>Engine attributes that are used for disassociating the node. No attributes are required for Puppet. </p> <p class="title"> <b>Attributes required in a DisassociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node was associated. By default only one organization named <code>default</code> can exist. </p> </li> </ul>'
      NodeName:
        $ref: '#/definitions/NodeName'
        description: 'The name of the client node. '
      ServerName:
        $ref: '#/definitions/ServerName'
        description: 'The name of the server from which to disassociate the node. '
    required:
      - ServerName
      - NodeName
    type: object
  DisassociateNodeResponse:
    properties:
      NodeAssociationStatusToken:
        $ref: '#/definitions/NodeAssociationStatusToken'
        description: 'Contains a token which can be passed to the <code>DescribeNodeAssociationStatus</code> API call to get the status of the disassociation request. '
    type: object
  EngineAttribute:
    description: 'A name and value pair that is specific to the engine of the server. '
    properties:
      Name:
        $ref: '#/definitions/EngineAttributeName'
        description: 'The name of the engine attribute. '
      Value:
        $ref: '#/definitions/EngineAttributeValue'
        description: 'The value of the engine attribute. '
    type: object
  EngineAttributeName:
    type: string
  EngineAttributeValue:
    format: password
    type: string
  EngineAttributes:
    items:
      $ref: '#/definitions/EngineAttribute'
    type: array
  ExportServerEngineAttributeRequest:
    properties:
      ExportAttributeName:
        $ref: '#/definitions/String'
        description: 'The name of the export attribute. Currently, the supported export attribute is <code>Userdata</code>. This exports a user data script that includes parameters and values provided in the <code>InputAttributes</code> list.'
      InputAttributes:
        $ref: '#/definitions/EngineAttributes'
        description: '<p>The list of engine attributes. The list type is <code>EngineAttribute</code>. An <code>EngineAttribute</code> list item is a pair that includes an attribute name and its value. For the <code>Userdata</code> ExportAttributeName, the following are supported engine attribute names.</p> <ul> <li> <p> <b>RunList</b> In Chef, a list of roles or recipes that are run in the specified order. In Puppet, this parameter is ignored.</p> </li> <li> <p> <b>OrganizationName</b> In Chef, an organization name. AWS OpsWorks for Chef Automate always creates the organization <code>default</code>. In Puppet, this parameter is ignored.</p> </li> <li> <p> <b>NodeEnvironment</b> In Chef, a node environment (for example, development, staging, or one-box). In Puppet, this parameter is ignored.</p> </li> <li> <p> <b>NodeClientVersion</b> In Chef, the version of the Chef engine (three numbers separated by dots, such as 13.8.5). If this attribute is empty, OpsWorks for Chef Automate uses the most current version. In Puppet, this parameter is ignored.</p> </li> </ul>'
      ServerName:
        $ref: '#/definitions/ServerName'
        description: The name of the server from which you are exporting the attribute.
    required:
      - ExportAttributeName
      - ServerName
    type: object
  ExportServerEngineAttributeResponse:
    properties:
      EngineAttribute:
        $ref: '#/definitions/EngineAttribute'
        description: The requested engine attribute pair with attribute name and value.
      ServerName:
        $ref: '#/definitions/ServerName'
        description: The server name used in the request.
    type: object
  InstanceProfileArn:
    pattern: 'arn:aws:iam::[0-9]{12}:instance-profile/.*'
    type: string
  Integer:
    type: integer
  InvalidNextTokenException: {}
  InvalidStateException: {}
  KeyPair:
    type: string
  LimitExceededException: {}
  MaintenanceStatus:
    enum:
      - SUCCESS
      - FAILED
    type: string
  MaxResults:
    minimum: 1
    type: integer
  NextToken:
    type: string
  NodeAssociationStatus:
    description: '<p>The status of the association or disassociation request. </p> <p class="title"> <b>Possible values:</b> </p> <ul> <li> <p> <code>SUCCESS</code>: The association or disassociation succeeded. </p> </li> <li> <p> <code>FAILED</code>: The association or disassociation failed. </p> </li> <li> <p> <code>IN_PROGRESS</code>: The association or disassociation is still in progress. </p> </li> </ul>'
    enum:
      - SUCCESS
      - FAILED
      - IN_PROGRESS
    type: string
  NodeAssociationStatusToken:
    type: string
  NodeName:
    description: 'The node name that is used by <code>chef-client</code> or <code>puppet-agent</code>for a new node. We recommend to use a unique FQDN as hostname. For more information, see the <a href="https://docs.aws.amazon.com/https:/docs.chef.io/nodes.html#about-node-names">Chef</a> or <a href="https://docs.aws.amazon.com/https:/docs.puppet.com/puppet/4.10/man/agent.html">Puppet</a> documentation. '
    pattern: '^[\-\p{Alnum}_:.]+$'
    type: string
  ResourceAlreadyExistsException: {}
  ResourceNotFoundException: {}
  RestoreServerRequest:
    properties:
      BackupId:
        $ref: '#/definitions/BackupId'
        description: ' The ID of the backup that you want to use to restore a server. '
      InstanceType:
        $ref: '#/definitions/String'
        description: ' The type of the instance to create. Valid values must be specified in the following format: <code>^([cm][34]|t2).*</code> For example, <code>m5.large</code>. Valid values are <code>m5.large</code>, <code>r5.xlarge</code>, and <code>r5.2xlarge</code>. If you do not specify this parameter, RestoreServer uses the instance type from the specified backup. '
      KeyPair:
        $ref: '#/definitions/KeyPair'
        description: ' The name of the key pair to set on the new EC2 instance. This can be helpful if the administrator no longer has the SSH key. '
      ServerName:
        $ref: '#/definitions/ServerName'
        description: ' The name of the server that you want to restore. '
    required:
      - BackupId
      - ServerName
    type: object
  RestoreServerResponse:
    properties: {}
    type: object
  Server:
    description: 'Describes a configuration management server. '
    properties:
      AssociatePublicIpAddress:
        $ref: '#/definitions/Boolean'
        description: 'Associate a public IP address with a server that you are launching. '
      BackupRetentionCount:
        $ref: '#/definitions/Integer'
        description: 'The number of automated backups to keep. '
      CloudFormationStackArn:
        $ref: '#/definitions/String'
        description: 'The ARN of the CloudFormation stack that was used to create the server. '
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'Time stamp of server creation. Example <code>2016-07-29T13:38:47.520Z</code> '
      DisableAutomatedBackup:
        $ref: '#/definitions/Boolean'
        description: 'Disables automated backups. The number of stored backups is dependent on the value of PreferredBackupCount. '
      Endpoint:
        $ref: '#/definitions/String'
        description: ' A DNS name that can be used to access the engine. Example: <code>myserver-asdfghjkl.us-east-1.opsworks.io</code> '
      Engine:
        $ref: '#/definitions/String'
        description: 'The engine type of the server. Valid values in this release include <code>ChefAutomate</code> and <code>Puppet</code>. '
      EngineAttributes:
        $ref: '#/definitions/EngineAttributes'
        description: '<p>The response of a createServer() request returns the master credential to access the server in EngineAttributes. These credentials are not stored by AWS OpsWorks CM; they are returned only as part of the result of createServer(). </p> <p class="title"> <b>Attributes returned in a createServer response for Chef</b> </p> <ul> <li> <p> <code>CHEF_AUTOMATE_PIVOTAL_KEY</code>: A base64-encoded RSA private key that is generated by AWS OpsWorks for Chef Automate. This private key is required to access the Chef API.</p> </li> <li> <p> <code>CHEF_STARTER_KIT</code>: A base64-encoded ZIP file. The ZIP file contains a Chef starter kit, which includes a README, a configuration file, and the required RSA private key. Save this file, unzip it, and then change to the directory where you''ve unzipped the file contents. From this directory, you can run Knife commands.</p> </li> </ul> <p class="title"> <b>Attributes returned in a createServer response for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_STARTER_KIT</code>: A base64-encoded ZIP file. The ZIP file contains a Puppet starter kit, including a README and a required private key. Save this file, unzip it, and then change to the directory where you''ve unzipped the file contents.</p> </li> <li> <p> <code>PUPPET_ADMIN_PASSWORD</code>: An administrator password that you can use to sign in to the Puppet Enterprise console after the server is online.</p> </li> </ul>'
      EngineModel:
        $ref: '#/definitions/String'
        description: 'The engine model of the server. Valid values in this release include <code>Monolithic</code> for Puppet and <code>Single</code> for Chef. '
      EngineVersion:
        $ref: '#/definitions/String'
        description: 'The engine version of the server. For a Chef server, the valid value for EngineVersion is currently <code>12</code>. For a Puppet server, the valid value is <code>2017</code>. '
      InstanceProfileArn:
        $ref: '#/definitions/String'
        description: 'The instance profile ARN of the server. '
      InstanceType:
        $ref: '#/definitions/String'
        description: ' The instance type for the server, as specified in the CloudFormation stack. This might not be the same instance type that is shown in the EC2 console. '
      KeyPair:
        $ref: '#/definitions/String'
        description: 'The key pair associated with the server. '
      MaintenanceStatus:
        $ref: '#/definitions/MaintenanceStatus'
        description: 'The status of the most recent server maintenance run. Shows <code>SUCCESS</code> or <code>FAILED</code>. '
      PreferredBackupWindow:
        $ref: '#/definitions/TimeWindowDefinition'
        description: 'The preferred backup period specified for the server. '
      PreferredMaintenanceWindow:
        $ref: '#/definitions/TimeWindowDefinition'
        description: 'The preferred maintenance period specified for the server. '
      SecurityGroupIds:
        $ref: '#/definitions/Strings'
        description: ' The security group IDs for the server, as specified in the CloudFormation stack. These might not be the same security groups that are shown in the EC2 console. '
      ServerArn:
        $ref: '#/definitions/String'
        description: 'The ARN of the server. '
      ServerName:
        $ref: '#/definitions/String'
        description: 'The name of the server. '
      ServiceRoleArn:
        $ref: '#/definitions/String'
        description: 'The service role ARN used to create the server. '
      Status:
        $ref: '#/definitions/ServerStatus'
        description: ' The server''s status. This field displays the states of actions in progress, such as creating, running, or backing up the server, as well as the server''s health state. '
      StatusReason:
        $ref: '#/definitions/String'
        description: ' Depending on the server status, this field has either a human-readable message (such as a create or backup error), or an escaped block of JSON (used for health check results). '
      SubnetIds:
        $ref: '#/definitions/Strings'
        description: ' The subnet IDs specified in a CreateServer request. '
    type: object
  ServerEvent:
    description: 'An event that is related to the server, such as the start of maintenance or backup. '
    properties:
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The time when the event occurred. '
      LogUrl:
        $ref: '#/definitions/String'
        description: The Amazon S3 URL of the event's log file.
      Message:
        $ref: '#/definitions/String'
        description: A human-readable informational or status message.
      ServerName:
        $ref: '#/definitions/String'
        description: 'The name of the server on or for which the event occurred. '
    type: object
  ServerEvents:
    items:
      $ref: '#/definitions/ServerEvent'
    type: array
  ServerName:
    maxLength: 40
    minLength: 1
    pattern: '[a-zA-Z][a-zA-Z0-9\-]*'
    type: string
  ServerStatus:
    enum:
      - BACKING_UP
      - CONNECTION_LOST
      - CREATING
      - DELETING
      - MODIFYING
      - FAILED
      - HEALTHY
      - RUNNING
      - RESTORING
      - SETUP
      - UNDER_MAINTENANCE
      - UNHEALTHY
      - TERMINATED
    type: string
  Servers:
    items:
      $ref: '#/definitions/Server'
    type: array
  ServiceRoleArn:
    pattern: 'arn:aws:iam::[0-9]{12}:role/.*'
    type: string
  StartMaintenanceRequest:
    properties:
      EngineAttributes:
        $ref: '#/definitions/EngineAttributes'
        description: 'Engine attributes that are specific to the server on which you want to run maintenance. '
      ServerName:
        $ref: '#/definitions/ServerName'
        description: 'The name of the server on which to run maintenance. '
    required:
      - ServerName
    type: object
  StartMaintenanceResponse:
    properties:
      Server:
        $ref: '#/definitions/Server'
        description: 'Contains the response to a <code>StartMaintenance</code> request. '
    type: object
  String:
    type: string
  Strings:
    items:
      $ref: '#/definitions/String'
    type: array
  TimeWindowDefinition:
    description: '<p> <code>DDD:HH:MM</code> (weekly start time) or <code>HH:MM</code> (daily start time). </p> <p> Time windows always use coordinated universal time (UTC). Valid strings for day of week (<code>DDD</code>) are: <code>Mon</code>, <code>Tue</code>, <code>Wed</code>, <code>Thr</code>, <code>Fri</code>, <code>Sat</code>, or <code>Sun</code>.</p>'
    pattern: '^((Mon|Tue|Wed|Thu|Fri|Sat|Sun):)?([0-1][0-9]|2[0-3]):[0-5][0-9]$'
    type: string
  Timestamp:
    format: date-time
    type: string
  UpdateServerEngineAttributesRequest:
    properties:
      AttributeName:
        $ref: '#/definitions/AttributeName'
        description: 'The name of the engine attribute to update. '
      AttributeValue:
        $ref: '#/definitions/AttributeValue'
        description: 'The value to set for the attribute. '
      ServerName:
        $ref: '#/definitions/ServerName'
        description: 'The name of the server to update. '
    required:
      - ServerName
      - AttributeName
    type: object
  UpdateServerEngineAttributesResponse:
    properties:
      Server:
        $ref: '#/definitions/Server'
        description: 'Contains the response to an <code>UpdateServerEngineAttributes</code> request. '
    type: object
  UpdateServerRequest:
    properties:
      BackupRetentionCount:
        $ref: '#/definitions/Integer'
        description: 'Sets the number of automated backups that you want to keep. '
      DisableAutomatedBackup:
        $ref: '#/definitions/Boolean'
        description: 'Setting DisableAutomatedBackup to <code>true</code> disables automated or scheduled backups. Automated backups are enabled by default. '
      PreferredBackupWindow:
        $ref: '#/definitions/TimeWindowDefinition'
      PreferredMaintenanceWindow:
        $ref: '#/definitions/TimeWindowDefinition'
      ServerName:
        $ref: '#/definitions/ServerName'
        description: 'The name of the server to update. '
    required:
      - ServerName
    type: object
  UpdateServerResponse:
    properties:
      Server:
        $ref: '#/definitions/Server'
        description: 'Contains the response to a <code>UpdateServer</code> request. '
    type: object
  ValidationException: {}
x-servers:
  - description: The OpsWorksCM multi-region endpoint
    url: 'http://opsworks-cm.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The OpsWorksCM multi-region endpoint
    url: 'https://opsworks-cm.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The OpsWorksCM endpoint for China (Beijing) and China (Ningxia)
    url: 'http://opsworks-cm.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The OpsWorksCM endpoint for China (Beijing) and China (Ningxia)
    url: 'https://opsworks-cm.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
