swagger: '2.0'
schemes:
  - https
host: adexchangebuyer.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Accesses the latest features for managing Ad Exchange accounts and Real-Time Bidding configurations and auction metrics.
  title: Ad Exchange Buyer API II
  version: v2beta1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    format: google
    url: 'https://adexchangebuyer.googleapis.com/$discovery/rest?version=v2beta1'
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: adexchangebuyer2
externalDocs:
  url: 'https://developers.google.com/ad-exchange/buyer-rest/guides/client-access/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/adexchange.buyer': Manage your Ad Exchange buyer account configuration
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: accounts
paths:
  '/v2beta1/accounts/{accountId}/clients':
    get:
      description: Lists all the clients for the current sponsor buyer.
      operationId: adexchangebuyer2.accounts.clients.list
      parameters:
        - description: Unique numerical account ID of the sponsor buyer to list the clients for.
          in: path
          name: accountId
          required: true
          type: string
        - description: |-
            Requested page size. The server may return fewer clients than requested.
            If unspecified, the server will pick an appropriate default.
          in: query
          name: pageSize
          type: integer
        - description: |-
            A token identifying a page of results the server should return.
            Typically, this is the value of
            ListClientsResponse.nextPageToken
            returned from the previous call to the
            accounts.clients.list method.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListClientsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a new client buyer.
      operationId: adexchangebuyer2.accounts.clients.create
      parameters:
        - description: |-
            Unique numerical account ID for the buyer of which the client buyer
            is a customer; the sponsor buyer to create a client for. (required)
          in: path
          name: accountId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Client'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Client'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
  '/v2beta1/accounts/{accountId}/clients/{clientAccountId}':
    get:
      description: Gets a client buyer with a given client account ID.
      operationId: adexchangebuyer2.accounts.clients.get
      parameters:
        - description: Numerical account ID of the client's sponsor buyer. (required)
          in: path
          name: accountId
          required: true
          type: string
        - description: Numerical account ID of the client buyer to retrieve. (required)
          in: path
          name: clientAccountId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Client'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    put:
      description: Updates an existing client buyer.
      operationId: adexchangebuyer2.accounts.clients.update
      parameters:
        - description: |-
            Unique numerical account ID for the buyer of which the client buyer
            is a customer; the sponsor buyer to update a client for. (required)
          in: path
          name: accountId
          required: true
          type: string
        - description: Unique numerical account ID of the client to update. (required)
          in: path
          name: clientAccountId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Client'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Client'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
  '/v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations':
    get:
      description: |-
        Lists all the client users invitations for a client
        with a given account ID.
      operationId: adexchangebuyer2.accounts.clients.invitations.list
      parameters:
        - description: Numerical account ID of the client's sponsor buyer. (required)
          in: path
          name: accountId
          required: true
          type: string
        - description: |-
            Numerical account ID of the client buyer to list invitations for.
            (required)
            You must either specify a string representation of a
            numerical account identifier or the `-` character
            to list all the invitations for all the clients
            of a given sponsor buyer.
          in: path
          name: clientAccountId
          required: true
          type: string
        - description: |-
            Requested page size. Server may return fewer clients than requested.
            If unspecified, server will pick an appropriate default.
          in: query
          name: pageSize
          type: integer
        - description: |-
            A token identifying a page of results the server should return.
            Typically, this is the value of
            ListClientUserInvitationsResponse.nextPageToken
            returned from the previous call to the
            clients.invitations.list
            method.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListClientUserInvitationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates and sends out an email invitation to access
        an Ad Exchange client buyer account.
      operationId: adexchangebuyer2.accounts.clients.invitations.create
      parameters:
        - description: Numerical account ID of the client's sponsor buyer. (required)
          in: path
          name: accountId
          required: true
          type: string
        - description: |-
            Numerical account ID of the client buyer that the user
            should be associated with. (required)
          in: path
          name: clientAccountId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ClientUserInvitation'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ClientUserInvitation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
  '/v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}':
    get:
      description: Retrieves an existing client user invitation.
      operationId: adexchangebuyer2.accounts.clients.invitations.get
      parameters:
        - description: Numerical account ID of the client's sponsor buyer. (required)
          in: path
          name: accountId
          required: true
          type: string
        - description: |-
            Numerical account ID of the client buyer that the user invitation
            to be retrieved is associated with. (required)
          in: path
          name: clientAccountId
          required: true
          type: string
        - description: Numerical identifier of the user invitation to retrieve. (required)
          in: path
          name: invitationId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ClientUserInvitation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/accounts/{accountId}/clients/{clientAccountId}/users':
    get:
      description: |-
        Lists all the known client users for a specified
        sponsor buyer account ID.
      operationId: adexchangebuyer2.accounts.clients.users.list
      parameters:
        - description: |-
            Numerical account ID of the sponsor buyer of the client to list users for.
            (required)
          in: path
          name: accountId
          required: true
          type: string
        - description: |-
            The account ID of the client buyer to list users for. (required)
            You must specify either a string representation of a
            numerical account identifier or the `-` character
            to list all the client users for all the clients
            of a given sponsor buyer.
          in: path
          name: clientAccountId
          required: true
          type: string
        - description: |-
            Requested page size. The server may return fewer clients than requested.
            If unspecified, the server will pick an appropriate default.
          in: query
          name: pageSize
          type: integer
        - description: |-
            A token identifying a page of results the server should return.
            Typically, this is the value of
            ListClientUsersResponse.nextPageToken
            returned from the previous call to the
            accounts.clients.users.list method.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListClientUsersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}':
    get:
      description: Retrieves an existing client user.
      operationId: adexchangebuyer2.accounts.clients.users.get
      parameters:
        - description: Numerical account ID of the client's sponsor buyer. (required)
          in: path
          name: accountId
          required: true
          type: string
        - description: |-
            Numerical account ID of the client buyer
            that the user to be retrieved is associated with. (required)
          in: path
          name: clientAccountId
          required: true
          type: string
        - description: Numerical identifier of the user to retrieve. (required)
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ClientUser'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    put:
      description: |-
        Updates an existing client user.
        Only the user status can be changed on update.
      operationId: adexchangebuyer2.accounts.clients.users.update
      parameters:
        - description: Numerical account ID of the client's sponsor buyer. (required)
          in: path
          name: accountId
          required: true
          type: string
        - description: |-
            Numerical account ID of the client buyer that the user to be retrieved
            is associated with. (required)
          in: path
          name: clientAccountId
          required: true
          type: string
        - description: Numerical identifier of the user to retrieve. (required)
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ClientUser'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ClientUser'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
  '/v2beta1/accounts/{accountId}/filterSets':
    get:
      description: Lists all filter sets for the account with the given account ID.
      operationId: adexchangebuyer2.accounts.filterSets.list
      parameters:
        - description: Account ID of the buyer.
          in: path
          name: accountId
          required: true
          type: string
        - description: |-
            Requested page size. The server may return fewer than requested.
            If unspecified, the server will pick an appropriate default.
          in: query
          name: pageSize
          type: integer
        - description: |-
            A token identifying a page of results the server should return.
            Typically, this is the value of
            ListFilterSetsResponse.nextPageToken
            returned from the previous call to the
            accounts.rtbBreakout.filterSets.list method.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListFilterSetsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates the specified filter set for the account with the given account ID.
      operationId: adexchangebuyer2.accounts.filterSets.create
      parameters:
        - description: Account ID of the buyer.
          in: path
          name: accountId
          required: true
          type: string
        - description: |-
            Whether the filter set is transient, or should be persisted indefinitely.
            By default, filter sets are not transient.
            If transient, it will be available for at least 1 hour after creation.
          in: query
          name: isTransient
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/FilterSet'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/FilterSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
  '/v2beta1/accounts/{accountId}/filterSets/{filterSetId}':
    delete:
      description: |-
        Deletes the requested filter set from the account with the given account
        ID.
      operationId: adexchangebuyer2.accounts.filterSets.delete
      parameters:
        - description: Account ID of the buyer.
          in: path
          name: accountId
          required: true
          type: string
        - description: The ID of the filter set to delete.
          in: path
          name: filterSetId
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    get:
      description: |-
        Retrieves the requested filter set for the account with the given account
        ID.
      operationId: adexchangebuyer2.accounts.filterSets.get
      parameters:
        - description: Account ID of the buyer.
          in: path
          name: accountId
          required: true
          type: string
        - description: The ID of the filter set to get.
          in: path
          name: filterSetId
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/FilterSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/accounts/{accountId}/filterSets/{filterSetId}/bidMetrics':
    get:
      description: Gets all metrics that are measured in terms of number of bids.
      operationId: adexchangebuyer2.accounts.filterSets.getBidMetrics
      parameters:
        - description: Account ID of the buyer.
          in: path
          name: accountId
          required: true
          type: string
        - description: The ID of the filter set to apply.
          in: path
          name: filterSetId
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BidMetrics'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/accounts/{accountId}/filterSets/{filterSetId}/filteredBids':
    get:
      description: |-
        List all reasons for which bids were filtered, with the number of bids
        filtered for each reason.
      operationId: adexchangebuyer2.accounts.filterSets.filteredBids.list
      parameters:
        - description: Account ID of the buyer.
          in: path
          name: accountId
          required: true
          type: string
        - description: The ID of the filter set to apply.
          in: path
          name: filterSetId
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListFilteredBidsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/accounts/{accountId}/filterSets/{filterSetId}/filteredBids/{creativeStatusId}/creatives':
    get:
      description: |-
        List all creatives associated with a specific reason for which bids were
        filtered, with the number of bids filtered for each creative.
      operationId: adexchangebuyer2.accounts.filterSets.filteredBids.creatives.list
      parameters:
        - description: Account ID of the buyer.
          in: path
          name: accountId
          required: true
          type: string
        - description: The ID of the filter set to apply.
          in: path
          name: filterSetId
          required: true
          type: integer
        - description: |-
            The ID of the creative status for which to retrieve a breakdown by
            creative.
            See creative-status-codes.
          in: path
          name: creativeStatusId
          required: true
          type: integer
        - description: |-
            Requested page size. The server may return fewer than requested.
            If unspecified, the server will pick an appropriate default.
          in: query
          name: pageSize
          type: integer
        - description: |-
            A token identifying a page of results the server should return.
            Typically, this is the value of
            ListCreativeStatusBreakdownByCreativeResponse.nextPageToken
            returned from the previous call to the
            accounts.filterSets.filteredBids.creatives.list method.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListCreativeStatusBreakdownByCreativeResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/accounts/{accountId}/filterSets/{filterSetId}/filteredBids/{creativeStatusId}/creatives/{creativeId}/details':
    get:
      description: |-
        List all details associated with a specific reason for which bids were
        filtered and a specific creative that was filtered for that reason, with
        the number of bids filtered for each detail.
      operationId: adexchangebuyer2.accounts.filterSets.filteredBids.creatives.details.list
      parameters:
        - description: Account ID of the buyer.
          in: path
          name: accountId
          required: true
          type: string
        - description: The ID of the filter set to apply.
          in: path
          name: filterSetId
          required: true
          type: integer
        - description: |-
            The ID of the creative status for which to retrieve a breakdown by detail.
            See creative-status-codes.
          in: path
          name: creativeStatusId
          required: true
          type: integer
        - description: The creative ID for which to retrieve a breakdown by detail.
          in: path
          name: creativeId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListCreativeStatusAndCreativeBreakdownByDetailResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/accounts/{accountId}/filterSets/{filterSetId}/filteredBids/{creativeStatusId}/details':
    get:
      description: |-
        List all details associated with a specific reason for which bids were
        filtered, with the number of bids filtered for each detail.
      operationId: adexchangebuyer2.accounts.filterSets.filteredBids.details.list
      parameters:
        - description: Account ID of the buyer.
          in: path
          name: accountId
          required: true
          type: string
        - description: The ID of the filter set to apply.
          in: path
          name: filterSetId
          required: true
          type: integer
        - description: |-
            The ID of the creative status for which to retrieve a breakdown by detail.
            See creative-status-codes.
          in: path
          name: creativeStatusId
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListCreativeStatusBreakdownByDetailResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/accounts/{accountId}/filterSets/{filterSetId}/filteredImpressions':
    get:
      description: |-
        List all reasons that caused an impression to be filtered (i.e. not
        considered as an inventory match), with the number of impressions that were
        filtered for each reason.
      operationId: adexchangebuyer2.accounts.filterSets.filteredImpressions.list
      parameters:
        - description: Account ID of the buyer.
          in: path
          name: accountId
          required: true
          type: string
        - description: The ID of the filter set to apply.
          in: path
          name: filterSetId
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListFilteredImpressionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/accounts/{accountId}/filterSets/{filterSetId}/filteredRequests':
    get:
      description: |-
        List all reasons that caused a bid request not to be sent for an
        impression, with the number of bid requests not sent for each reason.
      operationId: adexchangebuyer2.accounts.filterSets.filteredRequests.list
      parameters:
        - description: Account ID of the buyer.
          in: path
          name: accountId
          required: true
          type: string
        - description: The ID of the filter set to apply.
          in: path
          name: filterSetId
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListFilteredRequestsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/accounts/{accountId}/filterSets/{filterSetId}/impressionMetrics':
    get:
      description: Gets all metrics that are measured in terms of number of impressions.
      operationId: adexchangebuyer2.accounts.filterSets.getImpressionMetrics
      parameters:
        - description: Account ID of the buyer.
          in: path
          name: accountId
          required: true
          type: string
        - description: The ID of the filter set to apply.
          in: path
          name: filterSetId
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ImpressionMetrics'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/accounts/{accountId}/filterSets/{filterSetId}/losingBids':
    get:
      description: |-
        List all reasons for which bids lost in the auction, with the number of
        bids that lost for each reason.
      operationId: adexchangebuyer2.accounts.filterSets.losingBids.list
      parameters:
        - description: Account ID of the buyer.
          in: path
          name: accountId
          required: true
          type: string
        - description: The ID of the filter set to apply.
          in: path
          name: filterSetId
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListLosingBidsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/accounts/{accountId}/filterSets/{filterSetId}/responseErrors':
    get:
      description: |-
        List all errors that occurred in bid responses, with the number of bid
        responses affected for each reason.
      operationId: adexchangebuyer2.accounts.filterSets.responseErrors.list
      parameters:
        - description: Account ID of the buyer.
          in: path
          name: accountId
          required: true
          type: string
        - description: The ID of the filter set to apply.
          in: path
          name: filterSetId
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListResponseErrorsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/accounts/{accountId}/filterSets/{filterSetId}/responsesWithoutBids':
    get:
      description: |-
        List all reasons for which bid responses were considered to have no
        applicable bids, with the number of bid responses affected for each reason.
      operationId: adexchangebuyer2.accounts.filterSets.responsesWithoutBids.list
      parameters:
        - description: Account ID of the buyer.
          in: path
          name: accountId
          required: true
          type: string
        - description: The ID of the filter set to apply.
          in: path
          name: filterSetId
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListResponsesWithoutBidsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
definitions:
  AbsoluteDateRange:
    description: |-
      An absolute date range, specified by its start date and end date.
      The supported range of dates begins 30 days before today and ends today.
      Validity checked upon filter set creation. If a filter set with an absolute
      date range is run at a later date more than 30 days after start_date, it will
      fail.
    properties:
      endDate:
        $ref: '#/definitions/Date'
        description: |-
          The end date of the range (inclusive).
          Must be within the 30 days leading up to current date, and must be equal to
          or after start_date.
      startDate:
        $ref: '#/definitions/Date'
        description: |-
          The start date of the range (inclusive).
          Must be within the 30 days leading up to current date, and must be equal to
          or before end_date.
    type: object
  BidMetrics:
    description: |-
      The set of metrics that are measured in numbers of bids, representing how
      many bids were considered eligible at each stage of the bidding funnel.
    properties:
      bids:
        description: The number of bids that Ad Exchange received from the buyer.
        format: int64
        type: string
      bidsInAuction:
        description: The number of bids that were permitted to compete in the auction.
        format: int64
        type: string
      endTime:
        description: |-
          The timestamp marking the end of the range (exclusive) for which data is
          included.
        format: google-datetime
        type: string
      impressionsWon:
        description: The number of bids that won an impression.
        format: int64
        type: string
      startTime:
        description: |-
          The timestamp marking the start of the range (inclusive) for which data is
          included.
        format: google-datetime
        type: string
    type: object
  CalloutStatusFrequency:
    description: |-
      The number of impressions for which the corresponding callouts had the
      specified status.
    properties:
      calloutStatusId:
        description: |-
          The ID of the callout status.
          See callout-status-codes.
        format: int32
        type: integer
      impressionCount:
        description: The number of impressions associated with the specified status.
        format: int64
        type: string
    type: object
  Client:
    description: |-
      A client resource represents a client buyer&mdash;an agency,
      a brand, or an advertiser customer of the sponsor buyer.
      Users associated with the client buyer have restricted access to
      the Ad Exchange Marketplace and certain other sections
      of the Ad Exchange Buyer UI based on the role
      granted to the client buyer.
      All fields are required unless otherwise specified.
    properties:
      clientAccountId:
        description: |-
          The globally-unique numerical ID of the client.
          The value of this field is ignored in create and update operations.
        format: int64
        type: string
      clientName:
        description: |-
          Name used to represent this client to publishers.
          You may have multiple clients that map to the same entity,
          but for each client the combination of `clientName` and entity
          must be unique.
          You can specify this field as empty.
        type: string
      entityId:
        description: |-
          Numerical identifier of the client entity.
          The entity can be an advertiser, a brand, or an agency.
          This identifier is unique among all the entities with the same type.

          A list of all known advertisers with their identifiers is available in the
          [advertisers.txt](https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt)
          file.

          A list of all known brands with their identifiers is available in the
          [brands.txt](https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt)
          file.

          A list of all known agencies with their identifiers is available in the
          [agencies.txt](https://storage.googleapis.com/adx-rtb-dictionaries/agencies.txt)
          file.
        format: int64
        type: string
      entityName:
        description: |-
          The name of the entity. This field is automatically fetched based on
          the type and ID.
          The value of this field is ignored in create and update operations.
        type: string
      entityType:
        description: 'The type of the client entity: `ADVERTISER`, `BRAND`, or `AGENCY`.'
        enum:
          - ENTITY_TYPE_UNSPECIFIED
          - ADVERTISER
          - BRAND
          - AGENCY
        type: string
      role:
        description: |-
          The role which is assigned to the client buyer. Each role implies a set of
          permissions granted to the client. Must be one of `CLIENT_DEAL_VIEWER`,
          `CLIENT_DEAL_NEGOTIATOR`, or `CLIENT_DEAL_APPROVER`.
        enum:
          - CLIENT_ROLE_UNSPECIFIED
          - CLIENT_DEAL_VIEWER
          - CLIENT_DEAL_NEGOTIATOR
          - CLIENT_DEAL_APPROVER
        type: string
      status:
        description: The status of the client buyer.
        enum:
          - CLIENT_STATUS_UNSPECIFIED
          - DISABLED
          - ACTIVE
        type: string
      visibleToSeller:
        description: Whether the client buyer will be visible to sellers.
        type: boolean
    type: object
  ClientUser:
    description: |-
      A client user is created under a client buyer and has restricted access to
      the Ad Exchange Marketplace and certain other sections
      of the Ad Exchange Buyer UI based on the role
      granted to the associated client buyer.

      The only way a new client user can be created is via accepting an
      email invitation
      (see the
      accounts.clients.invitations.create
      method).

      All fields are required unless otherwise specified.
    properties:
      clientAccountId:
        description: |-
          Numerical account ID of the client buyer
          with which the user is associated; the
          buyer must be a client of the current sponsor buyer.
          The value of this field is ignored in an update operation.
        format: int64
        type: string
      email:
        description: |-
          User's email address. The value of this field
          is ignored in an update operation.
        type: string
      status:
        description: The status of the client user.
        enum:
          - USER_STATUS_UNSPECIFIED
          - PENDING
          - ACTIVE
          - DISABLED
        type: string
      userId:
        description: |-
          The unique numerical ID of the client user
          that has accepted an invitation.
          The value of this field is ignored in an update operation.
        format: int64
        type: string
    type: object
  ClientUserInvitation:
    description: |-
      An invitation for a new client user to get access to the AdExchange Buyer UI.

      All fields are required unless otherwise specified.
    properties:
      clientAccountId:
        description: |-
          Numerical account ID of the client buyer
          that the invited user is associated with.
          The value of this field is ignored in create operations.
        format: int64
        type: string
      email:
        description: |-
          The email address to which the invitation is sent. Email
          addresses should be unique among all client users under each sponsor
          buyer.
        type: string
      invitationId:
        description: |-
          The unique numerical ID of the invitation that is sent to the user.
          The value of this field is ignored in create operations.
        format: int64
        type: string
    type: object
  CreativeFrequency:
    description: The number of bids for a given creative.
    properties:
      bidCount:
        description: The number of bids associated with the specified creative.
        format: int64
        type: string
      creativeId:
        description: The ID of the creative.
        type: string
    type: object
  CreativeStatusFrequency:
    description: The number of bids with the specified creative status.
    properties:
      bidCount:
        description: The number of bids associated with the specified status.
        format: int64
        type: string
      creativeStatusId:
        description: |-
          The ID of the creative status.
          See creative-status-codes.
        format: int32
        type: integer
    type: object
  Date:
    description: |-
      Represents a whole calendar date, e.g. date of birth. The time of day and
      time zone are either specified elsewhere or are not significant. The date
      is relative to the Proleptic Gregorian Calendar. The day may be 0 to
      represent a year and month where the day is not significant, e.g. credit card
      expiration date. The year may be 0 to represent a month and day independent
      of year, e.g. anniversary date. Related types are google.type.TimeOfDay
      and `google.protobuf.Timestamp`.
    properties:
      day:
        description: |-
          Day of month. Must be from 1 to 31 and valid for the year and month, or 0
          if specifying a year/month where the day is not significant.
        format: int32
        type: integer
      month:
        description: Month of year. Must be from 1 to 12.
        format: int32
        type: integer
      year:
        description: |-
          Year of date. Must be from 1 to 9999, or 0 if specifying a date without
          a year.
        format: int32
        type: integer
    type: object
  DetailFrequency:
    description: |-
      The number of bids, among those with a given creative status, that had the
      specified detail.
    properties:
      bidCount:
        description: The number of bids associated with the specified detail.
        format: int64
        type: string
      detailId:
        description: |-
          The ID of the detail. The associated value can be looked up in the
          dictionary file corresponding to the DetailType in the response message.
        format: int32
        type: integer
    type: object
  Empty:
    description: |-
      A generic empty message that you can re-use to avoid defining duplicated
      empty messages in your APIs. A typical example is to use it as the request
      or the response type of an API method. For instance:

          service Foo {
            rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);
          }

      The JSON representation for `Empty` is empty JSON object `{}`.
    properties: {}
    type: object
  FilterSet:
    description: |-
      A set of filters that is applied to a request for data from the
      RtbTroubleshootingService. Within a filter set, an AND operation is performed
      across the filters represented by each field. An OR operation is performed
      across the filters represented by the multiple values of a repeated field.
      E.g.
      "format=VIDEO AND deal_id=12 AND (web_property_id=34 OR web_property_id=56)"
    properties:
      absoluteDateRange:
        $ref: '#/definitions/AbsoluteDateRange'
        description: 'An absolute date range, defined by a start date and an end date.'
      buyerAccountId:
        description: The ID of the buyer account on which to filter; optional.
        format: int64
        type: string
      creativeId:
        description: The ID of the creative on which to filter; optional.
        type: string
      dealId:
        description: The ID of the deal on which to filter; optional.
        format: int64
        type: string
      filterSetId:
        description: |-
          The ID of the filter set; unique within the account of the filter set
          owner.
          The value of this field is ignored in create operations.
        format: int32
        type: integer
      filterSetOwnerAccountId:
        description: |-
          The account ID of the buyer who owns this filter set.
          The value of this field is ignored in create operations.
        format: int64
        type: string
      format:
        description: The format on which to filter; optional.
        enum:
          - FORMAT_UNSPECIFIED
          - DISPLAY
          - VIDEO
        type: string
      platform:
        description: The platform on which to filter; optional.
        enum:
          - PLATFORM_UNSPECIFIED
          - DESKTOP
          - TABLET_WEB
          - TABLET_APP
          - MOBILE_WEB
          - MOBILE_APP
        type: string
      relativeDateRange:
        $ref: '#/definitions/RelativeDateRange'
        description: 'A relative date range, defined by an offset from today and a duration.'
      webPropertyIds:
        description: |-
          The list of IDs of web properties on which to filter; may be empty.
          The filters represented by multiple web property IDs are ORed together
          (i.e. if non-empty, results must match any one of the web properties).
        items:
          format: int64
          type: string
        type: array
    type: object
  FilteredImpressionStatusFrequency:
    description: The number of impressions filtered due to the specified status.
    properties:
      impressionCount:
        description: The number of impressions associated with the specified status.
        format: int64
        type: string
      status:
        description: The status for which impressions were filtered.
        enum:
          - STATUS_UNSPECIFIED
          - PRETARGETING_CONFIGURATIONS
        type: string
    type: object
  ImpressionMetrics:
    description: |-
      The set of metrics that are measured in numbers of impressions, representing
      how many impressions were considered eligible at each stage of the bidding
      funnel.
    properties:
      availableImpressions:
        description: |-
          The number of impressions available to the buyer on Ad Exchange.
          In some cases this value may be unavailable.
        format: int64
        type: string
      bidRequests:
        description: |-
          The number of impressions for which Ad Exchange sent the buyer a bid
          request.
        format: int64
        type: string
      endTime:
        description: |-
          The timestamp marking the end of the range (exclusive) for which data is
          included.
        format: google-datetime
        type: string
      inventoryMatches:
        description: The number of impressions that match the buyer's inventory pretargeting.
        format: int64
        type: string
      responsesWithBids:
        description: |-
          The number of impressions for which Ad Exchange received a response from
          the buyer that contained at least one applicable bid.
        format: int64
        type: string
      startTime:
        description: |-
          The timestamp marking the start of the range (inclusive) for which data is
          included.
        format: google-datetime
        type: string
      successfulResponses:
        description: |-
          The number of impressions for which the buyer successfully sent a response
          to Ad Exchange.
        format: int64
        type: string
    type: object
  ListClientUserInvitationsResponse:
    properties:
      invitations:
        description: The returned list of client users.
        items:
          $ref: '#/definitions/ClientUserInvitation'
        type: array
      nextPageToken:
        description: |-
          A token to retrieve the next page of results.
          Pass this value in the
          ListClientUserInvitationsRequest.pageToken
          field in the subsequent call to the
          clients.invitations.list
          method to retrieve the next
          page of results.
        type: string
    type: object
  ListClientUsersResponse:
    properties:
      nextPageToken:
        description: |-
          A token to retrieve the next page of results.
          Pass this value in the
          ListClientUsersRequest.pageToken
          field in the subsequent call to the
          clients.invitations.list
          method to retrieve the next
          page of results.
        type: string
      users:
        description: The returned list of client users.
        items:
          $ref: '#/definitions/ClientUser'
        type: array
    type: object
  ListClientsResponse:
    properties:
      clients:
        description: The returned list of clients.
        items:
          $ref: '#/definitions/Client'
        type: array
      nextPageToken:
        description: |-
          A token to retrieve the next page of results.
          Pass this value in the
          ListClientsRequest.pageToken
          field in the subsequent call to the
          accounts.clients.list method
          to retrieve the next page of results.
        type: string
    type: object
  ListCreativeStatusAndCreativeBreakdownByDetailResponse:
    description: |-
      Response message for listing all details associated with a given filtered bid
      reason and a given creative.
    properties:
      creativeId:
        description: The ID of the creative associated with a bid filtered from the auction.
        type: string
      creativeStatusId:
        description: |-
          The ID of the creative status that identifies the reason the bid was
          filtered before the auction.
          See creative-status-codes.
        format: int32
        type: integer
      detailType:
        description: The type of detail that the detail IDs represent.
        enum:
          - TYPE_UNSPECIFIED
          - CREATIVE_ATTRIBUTE
          - VENDOR
          - SENSITIVE_CATEGORY
          - PRODUCT_CATEGORY
        type: string
      endTime:
        description: |-
          The timestamp marking the end of the range (exclusive) for which data is
          included.
        format: google-datetime
        type: string
      frequencies:
        description: |-
          List of all detail IDs with their associated bid counts.
          There is a fixed set of details, hence results are not paged.
        items:
          $ref: '#/definitions/DetailFrequency'
        type: array
      startTime:
        description: |-
          The timestamp marking the start of the range (inclusive) for which data is
          included.
        format: google-datetime
        type: string
    type: object
  ListCreativeStatusBreakdownByCreativeResponse:
    description: |-
      Response message for listing all creatives associated with a given filtered
      bid reason.
    properties:
      creativeStatusId:
        description: |-
          The ID of the creative status that identifies the reason the bid was
          filtered before the auction.
          See creative-status-codes.
        format: int32
        type: integer
      endTime:
        description: |-
          The timestamp marking the end of the range (exclusive) for which data is
          included.
        format: google-datetime
        type: string
      frequencies:
        description: List of creative IDs with their associated bid counts.
        items:
          $ref: '#/definitions/CreativeFrequency'
        type: array
      nextPageToken:
        description: |-
          A token to retrieve the next page of results.
          Pass this value in the
          ListCreativeStatusBreakdownByCreativeRequest.pageToken
          field in the subsequent call to the
          accounts.filterSets.filteredBids.creatives.list
          method to retrieve the next page of results.
        type: string
      startTime:
        description: |-
          The timestamp marking the start of the range (inclusive) for which data is
          included.
        format: google-datetime
        type: string
    type: object
  ListCreativeStatusBreakdownByDetailResponse:
    description: |-
      Response message for listing all details associated with a given filtered bid
      reason.
    properties:
      creativeStatusId:
        description: |-
          The ID of the creative status that identifies the reason the bid was
          filtered before the auction.
          See creative-status-codes.
        format: int32
        type: integer
      detailType:
        description: The type of detail that the detail IDs represent.
        enum:
          - TYPE_UNSPECIFIED
          - CREATIVE_ATTRIBUTE
          - VENDOR
          - SENSITIVE_CATEGORY
          - PRODUCT_CATEGORY
        type: string
      endTime:
        description: |-
          The timestamp marking the end of the range (exclusive) for which data is
          included.
        format: google-datetime
        type: string
      frequencies:
        description: |-
          List of all detail IDs with their associated bid counts.
          There is a fixed set of details, hence results are not paged.
        items:
          $ref: '#/definitions/DetailFrequency'
        type: array
      startTime:
        description: |-
          The timestamp marking the start of the range (inclusive) for which data is
          included.
        format: google-datetime
        type: string
    type: object
  ListFilterSetsResponse:
    description: Response message for listing filter sets.
    properties:
      filterSets:
        description: The filter sets belonging to the buyer.
        items:
          $ref: '#/definitions/FilterSet'
        type: array
      nextPageToken:
        description: |-
          A token to retrieve the next page of results.
          Pass this value in the
          ListFilterSetsRequest.pageToken
          field in the subsequent call to the
          accounts.filterSets.list
          method to retrieve the next page of results.
        type: string
    type: object
  ListFilteredBidsResponse:
    description: |-
      Response message for listing all reasons that bids were filtered from the
      auction.
    properties:
      endTime:
        description: |-
          The timestamp marking the end of the range (exclusive) for which data is
          included.
        format: google-datetime
        type: string
      frequencies:
        description: |-
          List of all creative status IDs, identifying the reason the bids were
          filtered from the auction, with their associated bid counts.
          See creative-status-codes.
          There is a fixed set of statuses, hence results are not paged.
        items:
          $ref: '#/definitions/CreativeStatusFrequency'
        type: array
      startTime:
        description: |-
          The timestamp marking the start of the range (inclusive) for which data is
          included.
        format: google-datetime
        type: string
    type: object
  ListFilteredImpressionsResponse:
    description: |-
      Response message for listing all reasons that impressions were filtered (i.e.
      not considered as an inventory match) for the buyer.
    properties:
      endTime:
        description: |-
          The timestamp marking the end of the range (exclusive) for which data is
          included.
        format: google-datetime
        type: string
      frequencies:
        description: |-
          List of all statuses identifying the reason the bid request was filtered,
          with their associated impression counts.
          There is a fixed set of statuses, hence results are not paged.
        items:
          $ref: '#/definitions/FilteredImpressionStatusFrequency'
        type: array
      startTime:
        description: |-
          The timestamp marking the start of the range (inclusive) for which data is
          included.
        format: google-datetime
        type: string
    type: object
  ListFilteredRequestsResponse:
    description: |-
      Response message for listing all reasons that bid requests were filtered and
      not sent to the buyer.
    properties:
      endTime:
        description: |-
          The timestamp marking the end of the range (exclusive) for which data is
          included.
        format: google-datetime
        type: string
      frequencies:
        description: |-
          List of all callout status IDs, identifying the reason the bid request was
          filtered, with their associated impression counts.
          See callout-status-codes.
          There is a fixed set of statuses, hence results are not paged.
        items:
          $ref: '#/definitions/CalloutStatusFrequency'
        type: array
      startTime:
        description: |-
          The timestamp marking the start of the range (inclusive) for which data is
          included.
        format: google-datetime
        type: string
    type: object
  ListLosingBidsResponse:
    description: Response message for listing all reasons that bids lost in the auction.
    properties:
      endTime:
        description: |-
          The timestamp marking the end of the range (exclusive) for which data is
          included.
        format: google-datetime
        type: string
      frequencies:
        description: |-
          List of all creative status IDs with their associated bid counts.
          See creative-status-codes.
          There is a fixed set of statuses, hence results are not paged.
        items:
          $ref: '#/definitions/CreativeStatusFrequency'
        type: array
      startTime:
        description: |-
          The timestamp marking the start of the range (inclusive) for which data is
          included.
        format: google-datetime
        type: string
    type: object
  ListResponseErrorsResponse:
    description: |-
      Response message for listing all reasons that bid responses resulted in an
      error.
    properties:
      endTime:
        description: |-
          The timestamp marking the end of the range (exclusive) for which data is
          included.
        format: google-datetime
        type: string
      frequencies:
        description: |-
          List of all callout status IDs, identifying the error in the bid responses,
          with their associated impression counts.
          See callout-status-codes.
          There is a fixed set of statuses, hence results are not paged.
        items:
          $ref: '#/definitions/CalloutStatusFrequency'
        type: array
      startTime:
        description: |-
          The timestamp marking the start of the range (inclusive) for which data is
          included.
        format: google-datetime
        type: string
    type: object
  ListResponsesWithoutBidsResponse:
    description: |-
      Response message for listing all reasons that bid responses were considered
      to have no applicable bids.
    properties:
      endTime:
        description: |-
          The timestamp marking the end of the range (exclusive) for which data is
          included.
        format: google-datetime
        type: string
      frequencies:
        description: |-
          List of all statuses with their associated impression counts.
          There is a fixed set of statuses, hence results are not paged.
        items:
          $ref: '#/definitions/ResponsesWithoutBidsStatusFrequency'
        type: array
      startTime:
        description: |-
          The timestamp marking the start of the range (inclusive) for which data is
          included.
        format: google-datetime
        type: string
    type: object
  RelativeDateRange:
    description: |-
      A relative date range, specified by an offset and a duration.
      The supported range of dates begins 30 days before today and ends today.
      I.e. the limits for these values are:
      offset_days >= 0
      duration_days >= 1
      offset_days + duration_days <= 30
    properties:
      durationDays:
        description: |-
          The number of days in the requested date range. E.g. for a range spanning
          today, 1. For a range spanning the last 7 days, 7.
        format: int32
        type: integer
      offsetDays:
        description: |-
          The end date of the filter set, specified as the number of days before
          today. E.g. for a range where the last date is today, 0.
        format: int32
        type: integer
    type: object
  ResponsesWithoutBidsStatusFrequency:
    description: |-
      The number of impressions for which the corresponding response had no
      applicable bids, as described by the specified status.
    properties:
      impressionCount:
        description: The number of impressions associated with the specified status.
        format: int64
        type: string
      status:
        description: |-
          The status that caused the bid response to be considered to have no
          applicable bids.
        enum:
          - STATUS_UNSPECIFIED
          - RESPONSES_WITHOUT_BIDS
          - RESPONSES_WITHOUT_BIDS_FOR_ACCOUNT
          - RESPONSES_WITHOUT_BIDS_FOR_DEAL
        type: string
    type: object
