openapi: 3.0.0
servers:
  - url: 'https://api.apitore.com/api/16'
info:
  description: 'Document frequency of Wikipedia.<BR />[Endpoint] https://api.apitore.com/api/16'
  title: Document frequency APIs
  version: 0.0.1
  x-description-language: jp
  x-logo:
    url: 'https://apitore.com/img/apis/16.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.apitore.com/json/16'
      version: '2.0'
  x-providerName: apitore.com
  x-serviceName: documentFrequencyApis
tags:
  - description: Document Frequency Controller
    name: document-frequency-controller
paths:
  /documentfrequency/get:
    get:
      description: 'Document Frequency by JaWikipedia 2016-9-15 dump.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/summarize-response">summarize-response</a><BR />&nbsp; Class: com.apitore.banana.response.summarize.DocumentFrequencyResponseEntity<BR />'
      operationId: getUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          schema:
            type: string
        - description: word
          in: query
          name: word
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentFrequencyResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Get document frequency
      tags:
        - document-frequency-controller
components:
  schemas:
    DocumentFrequencyResponseEntity:
      properties:
        documentFrequency:
          description: 'Output: document frequency'
          format: double
          type: number
        endTime:
          description: End date
          type: string
        log:
          description: Log message
          type: string
        processTime:
          description: 'Process time [millisecond]'
          type: string
        startTime:
          description: Start date
          type: string
        word:
          description: 'Input: word'
          type: string
      required:
        - documentFrequency
        - endTime
        - log
        - processTime
        - startTime
        - word
      type: object
