openapi: 3.0.1
servers:
  - url: https://conversations.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Conversations
  version: 1.42.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_conversations_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_conversations_v1
paths:
  /v1/Configuration:
    description: The Configuration resource manages a set of account-level settings applicable to the Conversations API.
    get:
      description: Fetch the global configuration of conversations on your account
      operationId: FetchConfiguration
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.configuration"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update the global configuration of conversations on your account
      operationId: UpdateConfiguration
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                DefaultChatServiceSid:
                  description: The SID of the default [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to use when creating a conversation.
                  maxLength: 34
                  minLength: 34
                  pattern: ^IS[0-9a-fA-F]{32}$
                  type: string
                DefaultClosedTimer:
                  description: Default ISO8601 duration when conversation will be switched to `closed` state. Minimum value for this timer is 10 minutes.
                  type: string
                DefaultInactiveTimer:
                  description: Default ISO8601 duration when conversation will be switched to `inactive` state. Minimum value for this timer is 1 minute.
                  type: string
                DefaultMessagingServiceSid:
                  description: The SID of the default [Messaging Service](https://www.twilio.com/docs/sms/services/api) to use when creating a conversation.
                  maxLength: 34
                  minLength: 34
                  pattern: ^MG[0-9a-fA-F]{32}$
                  type: string
              title: UpdateConfigurationRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.configuration"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - account_sid
        - default_chat_service_sid
        - default_messaging_service_sid
      pathType: instance
  /v1/Configuration/Addresses:
    description: Address Configuration resource manages the configurations related to a unique address within Conversations
    get:
      description: Retrieve a list of address configurations for an account
      operationId: ListConfigurationAddress
      parameters:
        - description: "Filter the address configurations by its type. This value can be one of: `whatsapp`, `sms`."
          in: query
          name: Type
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  address_configurations:
                    items:
                      $ref: "#/components/schemas/conversations.v1.configuration_address"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListConfigurationAddressResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new address configuration
      operationId: CreateConfigurationAddress
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Address:
                  description: The unique address to be configured. The address can be a whatsapp address or phone number
                  type: string
                AutoCreation.ConversationServiceSid:
                  description: Conversation Service for the auto-created conversation. If not set, the conversation is created in the default service.
                  maxLength: 34
                  minLength: 34
                  pattern: ^IS[0-9a-fA-F]{32}$
                  type: string
                AutoCreation.Enabled:
                  description: Enable/Disable auto-creating conversations for messages to this address
                  type: boolean
                AutoCreation.StudioFlowSid:
                  description: For type `studio`, the studio flow SID where the webhook should be sent to.
                  maxLength: 34
                  minLength: 34
                  pattern: ^FW[0-9a-fA-F]{32}$
                  type: string
                AutoCreation.StudioRetryCount:
                  description: For type `studio`, number of times to retry the webhook request
                  type: integer
                AutoCreation.Type:
                  $ref: "#/components/schemas/configuration_address_enum_auto_creation_type"
                  description: Type of Auto Creation. Value can be one of `webhook`, `studio` or `default`.
                  type: string
                AutoCreation.WebhookFilters:
                  description: "The list of events, firing webhook event for this Conversation. Values can be any of the following: `onMessageAdded`, `onMessageUpdated`, `onMessageRemoved`, `onConversationUpdated`, `onConversationStateUpdated`, `onConversationRemoved`, `onParticipantAdded`, `onParticipantUpdated`, `onParticipantRemoved`, `onDeliveryUpdated`"
                  items:
                    type: string
                  type: array
                AutoCreation.WebhookMethod:
                  $ref: "#/components/schemas/configuration_address_enum_method"
                  description: For type `webhook`, the HTTP method to be used when sending a webhook request.
                  type: string
                AutoCreation.WebhookUrl:
                  description: For type `webhook`, the url for the webhook request.
                  type: string
                FriendlyName:
                  description: The human-readable name of this configuration, limited to 256 characters. Optional.
                  type: string
                Type:
                  $ref: "#/components/schemas/configuration_address_enum_type"
                  description: Type of Address. Value can be `whatsapp` or `sms`.
                  type: string
              required:
                - Type
                - Address
              title: CreateConfigurationAddressRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.configuration_address"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - type
        - address
        - friendly_name
      mountName: address_configurations
      pathType: list
  "/v1/Configuration/Addresses/{Sid}":
    delete:
      description: Remove an existing address configuration
      operationId: DeleteConfigurationAddress
      parameters:
        - description: The SID of the Address Configuration resource. This value can be either the `sid` or the `address` of the configuration
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Address Configuration resource manages the configurations related to a unique address within Conversations
    get:
      description: "Fetch an address configuration "
      operationId: FetchConfigurationAddress
      parameters:
        - description: The SID of the Address Configuration resource. This value can be either the `sid` or the `address` of the configuration
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.configuration_address"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update an existing address configuration
      operationId: UpdateConfigurationAddress
      parameters:
        - description: The SID of the Address Configuration resource. This value can be either the `sid` or the `address` of the configuration
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AutoCreation.ConversationServiceSid:
                  description: Conversation Service for the auto-created conversation. If not set, the conversation is created in the default service.
                  maxLength: 34
                  minLength: 34
                  pattern: ^IS[0-9a-fA-F]{32}$
                  type: string
                AutoCreation.Enabled:
                  description: Enable/Disable auto-creating conversations for messages to this address
                  type: boolean
                AutoCreation.StudioFlowSid:
                  description: For type `studio`, the studio flow SID where the webhook should be sent to.
                  maxLength: 34
                  minLength: 34
                  pattern: ^FW[0-9a-fA-F]{32}$
                  type: string
                AutoCreation.StudioRetryCount:
                  description: For type `studio`, number of times to retry the webhook request
                  type: integer
                AutoCreation.Type:
                  $ref: "#/components/schemas/configuration_address_enum_auto_creation_type"
                  description: Type of Auto Creation. Value can be one of `webhook`, `studio` or `default`.
                  type: string
                AutoCreation.WebhookFilters:
                  description: "The list of events, firing webhook event for this Conversation. Values can be any of the following: `onMessageAdded`, `onMessageUpdated`, `onMessageRemoved`, `onConversationUpdated`, `onConversationStateUpdated`, `onConversationRemoved`, `onParticipantAdded`, `onParticipantUpdated`, `onParticipantRemoved`, `onDeliveryUpdated`"
                  items:
                    type: string
                  type: array
                AutoCreation.WebhookMethod:
                  $ref: "#/components/schemas/configuration_address_enum_method"
                  description: For type `webhook`, the HTTP method to be used when sending a webhook request.
                  type: string
                AutoCreation.WebhookUrl:
                  description: For type `webhook`, the url for the webhook request.
                  type: string
                FriendlyName:
                  description: The human-readable name of this configuration, limited to 256 characters. Optional.
                  type: string
              title: UpdateConfigurationAddressRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.configuration_address"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - type
        - address
        - friendly_name
      mountName: address_configurations
      pathType: instance
  /v1/Configuration/Webhooks:
    description: A Webhook resource manages a service-level set of callback URLs and their configuration for receiving all conversation events.
    get:
      description: ""
      operationId: FetchConfigurationWebhook
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.configuration.configuration_webhook"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateConfigurationWebhook
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Filters:
                  description: "The list of webhook event triggers that are enabled for this Service: `onMessageAdded`, `onMessageUpdated`, `onMessageRemoved`, `onConversationUpdated`, `onConversationRemoved`, `onParticipantAdded`, `onParticipantUpdated`, `onParticipantRemoved`"
                  items:
                    type: string
                  type: array
                Method:
                  description: The HTTP method to be used when sending a webhook request.
                  type: string
                PostWebhookUrl:
                  description: The absolute url the post-event webhook request should be sent to.
                  type: string
                PreWebhookUrl:
                  description: The absolute url the pre-event webhook request should be sent to.
                  type: string
                Target:
                  $ref: "#/components/schemas/configuration_webhook_enum_target"
                  description: The routing target of the webhook.
                  type: string
              title: UpdateConfigurationWebhookRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.configuration.configuration_webhook"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - target
        - method
        - pre_webhook_url
        - post_webhook_url
      parent: /Configuration
      pathType: instance
  /v1/Conversations:
    description: A Conversation resource represents an omnichannel group conversation with an ordered list of messages and a participant roster.
    get:
      description: Retrieve a list of conversations in your account's default service
      operationId: ListConversation
      parameters:
        - description: Start date or time in ISO8601 format for filtering list of Conversations. If a date is provided, the start time of the date is used (YYYY-MM-DDT00:00:00Z). Can be combined with other filters.
          in: query
          name: StartDate
          schema:
            type: string
        - description: End date or time in ISO8601 format for filtering list of Conversations. If a date is provided, the end time of the date is used (YYYY-MM-DDT23:59:59Z). Can be combined with other filters.
          in: query
          name: EndDate
          schema:
            type: string
        - description: State for sorting and filtering list of Conversations. Can be `active`, `inactive` or `closed`
          in: query
          name: State
          schema:
            $ref: "#/components/schemas/conversation_enum_state"
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  conversations:
                    items:
                      $ref: "#/components/schemas/conversations.v1.conversation"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListConversationResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new conversation in your account's default service
      operationId: CreateConversation
      parameters:
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/conversation_enum_webhook_enabled_type"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
                  type: string
                DateCreated:
                  description: The date that this resource was created.
                  format: date-time
                  type: string
                DateUpdated:
                  description: The date that this resource was last updated.
                  format: date-time
                  type: string
                FriendlyName:
                  description: The human-readable name of this conversation, limited to 256 characters. Optional.
                  type: string
                MessagingServiceSid:
                  description: The unique ID of the [Messaging Service](https://www.twilio.com/docs/sms/services/api) this conversation belongs to.
                  maxLength: 34
                  minLength: 34
                  pattern: ^MG[0-9a-fA-F]{32}$
                  type: string
                State:
                  $ref: "#/components/schemas/conversation_enum_state"
                  description: Current state of this conversation. Can be either `active`, `inactive` or `closed` and defaults to `active`
                  type: string
                Timers.Closed:
                  description: ISO8601 duration when conversation will be switched to `closed` state. Minimum value for this timer is 10 minutes.
                  type: string
                Timers.Inactive:
                  description: ISO8601 duration when conversation will be switched to `inactive` state. Minimum value for this timer is 1 minute.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. It can be used to address the resource in place of the resource's `sid` in the URL.
                  type: string
              title: CreateConversationRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.conversation"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - chat_service_sid
        - friendly_name
        - date_created
      pathType: list
  "/v1/Conversations/{ConversationSid}/Messages":
    description: A Message resource represents a message in a conversation.
    get:
      description: Retrieve a list of all messages in the conversation
      operationId: ListConversationMessage
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for messages.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
        - description: "The sort order of the returned messages. Can be: `asc` (ascending) or `desc` (descending), with `asc` as the default."
          in: query
          name: Order
          schema:
            $ref: "#/components/schemas/conversation_message_enum_order_type"
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  messages:
                    items:
                      $ref: "#/components/schemas/conversations.v1.conversation.conversation_message"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListConversationMessageResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Add a new message to the conversation
      operationId: CreateConversationMessage
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/conversation_message_enum_webhook_enabled_type"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: A string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
                  type: string
                Author:
                  description: The channel specific identifier of the message's author. Defaults to `system`.
                  type: string
                Body:
                  description: The content of the message, can be up to 1,600 characters long.
                  type: string
                ContentSid:
                  description: The unique ID of the multi-channel [Rich Content](https://www.twilio.com/docs/content-api) template, required for template-generated messages.  **Note** that if this field is set, `Body` and `MediaSid` parameters are ignored.
                  maxLength: 34
                  minLength: 34
                  pattern: ^HX[0-9a-fA-F]{32}$
                  type: string
                ContentVariables:
                  description: A structurally valid JSON string that contains values to resolve Rich Content template variables.
                  type: string
                DateCreated:
                  description: The date that this resource was created.
                  format: date-time
                  type: string
                DateUpdated:
                  description: The date that this resource was last updated. `null` if the message has not been edited.
                  format: date-time
                  type: string
                MediaSid:
                  description: The Media SID to be attached to the new Message.
                  maxLength: 34
                  minLength: 34
                  pattern: ^ME[0-9a-fA-F]{32}$
                  type: string
              title: CreateConversationMessageRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.conversation.conversation_message"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - index
        - author
        - date_created
      parent: /Conversations/{Sid}
      pathType: list
  "/v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts":
    description: A Message Receipt resource represents a delivery/read receipt of a message in a conversation.
    get:
      description: Retrieve a list of all delivery and read receipts of the conversation message
      operationId: ListConversationMessageReceipt
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
        - description: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to.
          in: path
          name: MessageSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IM[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  delivery_receipts:
                    items:
                      $ref: "#/components/schemas/conversations.v1.conversation.conversation_message.conversation_message_receipt"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListConversationMessageReceiptResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - message_sid
        - status
        - date_created
      mountName: delivery_receipts
      parent: /Conversations/{ConversationSid}/Messages/{Sid}
      pathType: list
  "/v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts/{Sid}":
    description: A Message Receipt resource represents a delivery/read receipt of a message in a conversation.
    get:
      description: Fetch the delivery and read receipts of the conversation message
      operationId: FetchConversationMessageReceipt
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
        - description: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to.
          in: path
          name: MessageSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IM[0-9a-fA-F]{32}$
            type: string
        - description: A 34 character string that uniquely identifies this resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DY[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.conversation.conversation_message.conversation_message_receipt"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - message_sid
        - status
        - date_created
      mountName: delivery_receipts
      parent: /Conversations/{ConversationSid}/Messages/{Sid}
      pathType: instance
  "/v1/Conversations/{ConversationSid}/Messages/{Sid}":
    delete:
      description: Remove a message from the conversation
      operationId: DeleteConversationMessage
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
        - description: A 34 character string that uniquely identifies this resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IM[0-9a-fA-F]{32}$
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/conversation_message_enum_webhook_enabled_type"
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: A Message resource represents a message in a conversation.
    get:
      description: Fetch a message from the conversation
      operationId: FetchConversationMessage
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
        - description: A 34 character string that uniquely identifies this resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IM[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.conversation.conversation_message"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update an existing message in the conversation
      operationId: UpdateConversationMessage
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
        - description: A 34 character string that uniquely identifies this resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IM[0-9a-fA-F]{32}$
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/conversation_message_enum_webhook_enabled_type"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: A string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
                  type: string
                Author:
                  description: The channel specific identifier of the message's author. Defaults to `system`.
                  type: string
                Body:
                  description: The content of the message, can be up to 1,600 characters long.
                  type: string
                DateCreated:
                  description: The date that this resource was created.
                  format: date-time
                  type: string
                DateUpdated:
                  description: The date that this resource was last updated. `null` if the message has not been edited.
                  format: date-time
                  type: string
              title: UpdateConversationMessageRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.conversation.conversation_message"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - index
        - author
        - date_created
      parent: /Conversations/{Sid}
      pathType: instance
  "/v1/Conversations/{ConversationSid}/Participants":
    description: A Participant resource represents a member of the conversation.
    get:
      description: Retrieve a list of all participants of the conversation
      operationId: ListConversationParticipant
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for participants.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  participants:
                    items:
                      $ref: "#/components/schemas/conversations.v1.conversation.conversation_participant"
                    type: array
                title: ListConversationParticipantResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Add a new participant to the conversation
      operationId: CreateConversationParticipant
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/conversation_participant_enum_webhook_enabled_type"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
                  type: string
                DateCreated:
                  description: The date that this resource was created.
                  format: date-time
                  type: string
                DateUpdated:
                  description: The date that this resource was last updated.
                  format: date-time
                  type: string
                Identity:
                  description: A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters.
                  type: string
                MessagingBinding.Address:
                  description: The address of the participant's device, e.g. a phone or WhatsApp number. Together with the Proxy address, this determines a participant uniquely. This field (with proxy_address) is only null when the participant is interacting from an SDK endpoint (see the 'identity' field).
                  type: string
                MessagingBinding.ProjectedAddress:
                  description: The address of the Twilio phone number that is used in Group MMS. Communication mask for the Conversation participant with Identity.
                  type: string
                MessagingBinding.ProxyAddress:
                  description: The address of the Twilio phone number (or WhatsApp number) that the participant is in contact with. This field, together with participant address, is only null when the participant is interacting from an SDK endpoint (see the 'identity' field).
                  type: string
                RoleSid:
                  description: The SID of a conversation-level [Role](https://www.twilio.com/docs/conversations/api/role-resource) to assign to the participant.
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
              title: CreateConversationParticipantRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.conversation.conversation_participant"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - messaging_binding
      parent: /Conversations/{Sid}
      pathType: list
  "/v1/Conversations/{ConversationSid}/Participants/{Sid}":
    delete:
      description: Remove a participant from the conversation
      operationId: DeleteConversationParticipant
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
        - description: A 34 character string that uniquely identifies this resource.
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/conversation_participant_enum_webhook_enabled_type"
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: A Participant resource represents a member of the conversation.
    get:
      description: Fetch a participant of the conversation
      operationId: FetchConversationParticipant
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
        - description: A 34 character string that uniquely identifies this resource.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.conversation.conversation_participant"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update an existing participant in the conversation
      operationId: UpdateConversationParticipant
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
        - description: A 34 character string that uniquely identifies this resource.
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/conversation_participant_enum_webhook_enabled_type"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
                  type: string
                DateCreated:
                  description: The date that this resource was created.
                  format: date-time
                  type: string
                DateUpdated:
                  description: The date that this resource was last updated.
                  format: date-time
                  type: string
                Identity:
                  description: A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters.
                  type: string
                LastReadMessageIndex:
                  description: Index of last “read” message in the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for the Participant.
                  nullable: true
                  type: integer
                LastReadTimestamp:
                  description: Timestamp of last “read” message in the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for the Participant.
                  type: string
                MessagingBinding.ProjectedAddress:
                  description: The address of the Twilio phone number that is used in Group MMS. 'null' value will remove it.
                  type: string
                MessagingBinding.ProxyAddress:
                  description: The address of the Twilio phone number that the participant is in contact with. 'null' value will remove it.
                  type: string
                RoleSid:
                  description: The SID of a conversation-level [Role](https://www.twilio.com/docs/conversations/api/role-resource) to assign to the participant.
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
              title: UpdateConversationParticipantRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.conversation.conversation_participant"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - messaging_binding
      parent: /Conversations/{Sid}
      pathType: instance
  "/v1/Conversations/{ConversationSid}/Webhooks":
    description: A Scoped Webhook resource manages a set of callback URLs and their configuration for receiving events specific to one conversation.
    get:
      description: Retrieve a list of all webhooks scoped to the conversation
      operationId: ListConversationScopedWebhook
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  webhooks:
                    items:
                      $ref: "#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook"
                    type: array
                title: ListConversationScopedWebhookResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new webhook scoped to the conversation
      operationId: CreateConversationScopedWebhook
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Configuration.Filters:
                  description: The list of events, firing webhook event for this Conversation.
                  items:
                    type: string
                  type: array
                Configuration.FlowSid:
                  description: The studio flow SID, where the webhook should be sent to.
                  maxLength: 34
                  minLength: 34
                  pattern: ^FW[0-9a-fA-F]{32}$
                  type: string
                Configuration.Method:
                  $ref: "#/components/schemas/conversation_scoped_webhook_enum_method"
                  description: The HTTP method to be used when sending a webhook request.
                  type: string
                Configuration.ReplayAfter:
                  description: The message index for which and it's successors the webhook will be replayed. Not set by default
                  type: integer
                Configuration.Triggers:
                  description: The list of keywords, firing webhook event for this Conversation.
                  items:
                    type: string
                  type: array
                Configuration.Url:
                  description: The absolute url the webhook request should be sent to.
                  type: string
                Target:
                  $ref: "#/components/schemas/conversation_scoped_webhook_enum_target"
                  description: "The target of this webhook: `webhook`, `studio`, `trigger`"
                  type: string
              required:
                - Target
              title: CreateConversationScopedWebhookRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - target
      parent: /Conversations/{Sid}
      pathType: list
  "/v1/Conversations/{ConversationSid}/Webhooks/{Sid}":
    delete:
      description: Remove an existing webhook scoped to the conversation
      operationId: DeleteConversationScopedWebhook
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
        - description: A 34 character string that uniquely identifies this resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WH[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: A Scoped Webhook resource manages a set of callback URLs and their configuration for receiving events specific to one conversation.
    get:
      description: Fetch the configuration of a conversation-scoped webhook
      operationId: FetchConversationScopedWebhook
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
        - description: A 34 character string that uniquely identifies this resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WH[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update an existing conversation-scoped webhook
      operationId: UpdateConversationScopedWebhook
      parameters:
        - description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
          in: path
          name: ConversationSid
          required: true
          schema:
            type: string
        - description: A 34 character string that uniquely identifies this resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WH[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Configuration.Filters:
                  description: The list of events, firing webhook event for this Conversation.
                  items:
                    type: string
                  type: array
                Configuration.FlowSid:
                  description: The studio flow SID, where the webhook should be sent to.
                  maxLength: 34
                  minLength: 34
                  pattern: ^FW[0-9a-fA-F]{32}$
                  type: string
                Configuration.Method:
                  $ref: "#/components/schemas/conversation_scoped_webhook_enum_method"
                  description: The HTTP method to be used when sending a webhook request.
                  type: string
                Configuration.Triggers:
                  description: The list of keywords, firing webhook event for this Conversation.
                  items:
                    type: string
                  type: array
                Configuration.Url:
                  description: The absolute url the webhook request should be sent to.
                  type: string
              title: UpdateConversationScopedWebhookRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - target
      parent: /Conversations/{Sid}
      pathType: instance
  "/v1/Conversations/{Sid}":
    delete:
      description: Remove a conversation from your account's default service
      operationId: DeleteConversation
      parameters:
        - description: A 34 character string that uniquely identifies this resource. Can also be the `unique_name` of the Conversation.
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/conversation_enum_webhook_enabled_type"
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: A Conversation resource represents an omnichannel group conversation with an ordered list of messages and a participant roster.
    get:
      description: Fetch a conversation from your account's default service
      operationId: FetchConversation
      parameters:
        - description: A 34 character string that uniquely identifies this resource. Can also be the `unique_name` of the Conversation.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.conversation"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update an existing conversation in your account's default service
      operationId: UpdateConversation
      parameters:
        - description: A 34 character string that uniquely identifies this resource. Can also be the `unique_name` of the Conversation.
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/conversation_enum_webhook_enabled_type"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
                  type: string
                DateCreated:
                  description: The date that this resource was created.
                  format: date-time
                  type: string
                DateUpdated:
                  description: The date that this resource was last updated.
                  format: date-time
                  type: string
                FriendlyName:
                  description: The human-readable name of this conversation, limited to 256 characters. Optional.
                  type: string
                MessagingServiceSid:
                  description: The unique ID of the [Messaging Service](https://www.twilio.com/docs/sms/services/api) this conversation belongs to.
                  maxLength: 34
                  minLength: 34
                  pattern: ^MG[0-9a-fA-F]{32}$
                  type: string
                State:
                  $ref: "#/components/schemas/conversation_enum_state"
                  description: Current state of this conversation. Can be either `active`, `inactive` or `closed` and defaults to `active`
                  type: string
                Timers.Closed:
                  description: ISO8601 duration when conversation will be switched to `closed` state. Minimum value for this timer is 10 minutes.
                  type: string
                Timers.Inactive:
                  description: ISO8601 duration when conversation will be switched to `inactive` state. Minimum value for this timer is 1 minute.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. It can be used to address the resource in place of the resource's `sid` in the URL.
                  type: string
              title: UpdateConversationRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.conversation"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - chat_service_sid
        - friendly_name
        - date_created
      pathType: instance
  /v1/Credentials:
    description: A Credential resource represents a push notification credential.
    get:
      description: Retrieve a list of all push notification credentials on your account
      operationId: ListCredential
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  credentials:
                    items:
                      $ref: "#/components/schemas/conversations.v1.credential"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListCredentialResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Add a new push notification credential to your account
      operationId: CreateCredential
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ApiKey:
                  description: "[GCM only] The API key for the project that was obtained from the Google Developer console for your GCM Service application credential."
                  type: string
                Certificate:
                  description: |-
                    [APN only] The URL encoded representation of the certificate. For example, 
                    `-----BEGIN CERTIFICATE-----
                    MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEF.....A==
                    -----END CERTIFICATE-----`.
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the new resource. It can be up to 64 characters long.
                  type: string
                PrivateKey:
                  description: |-
                    [APN only] The URL encoded representation of the private key. For example,
                    `-----BEGIN RSA PRIVATE KEY-----
                    MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fG...
                    -----END RSA PRIVATE KEY-----`.
                  type: string
                Sandbox:
                  description: "[APN only] Whether to send the credential to sandbox APNs. Can be `true` to send to sandbox APNs or `false` to send to production."
                  type: boolean
                Secret:
                  description: "[FCM only] The **Server key** of your project from the Firebase console, found under Settings / Cloud messaging."
                  type: string
                Type:
                  $ref: "#/components/schemas/credential_enum_push_type"
                  description: "The type of push-notification service the credential is for. Can be: `fcm`, `gcm`, or `apn`."
                  type: string
              required:
                - Type
              title: CreateCredentialRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.credential"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - type
      pathType: list
  "/v1/Credentials/{Sid}":
    delete:
      description: Remove a push notification credential from your account
      operationId: DeleteCredential
      parameters:
        - description: A 34 character string that uniquely identifies this resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CR[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: A Credential resource represents a push notification credential.
    get:
      description: Fetch a push notification credential from your account
      operationId: FetchCredential
      parameters:
        - description: A 34 character string that uniquely identifies this resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CR[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.credential"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update an existing push notification credential on your account
      operationId: UpdateCredential
      parameters:
        - description: A 34 character string that uniquely identifies this resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CR[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ApiKey:
                  description: "[GCM only] The API key for the project that was obtained from the Google Developer console for your GCM Service application credential."
                  type: string
                Certificate:
                  description: |-
                    [APN only] The URL encoded representation of the certificate. For example, 
                    `-----BEGIN CERTIFICATE-----
                    MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEF.....A==
                    -----END CERTIFICATE-----`.
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the new resource. It can be up to 64 characters long.
                  type: string
                PrivateKey:
                  description: |-
                    [APN only] The URL encoded representation of the private key. For example,
                    `-----BEGIN RSA PRIVATE KEY-----
                    MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fG...
                    -----END RSA PRIVATE KEY-----`.
                  type: string
                Sandbox:
                  description: "[APN only] Whether to send the credential to sandbox APNs. Can be `true` to send to sandbox APNs or `false` to send to production."
                  type: boolean
                Secret:
                  description: "[FCM only] The **Server key** of your project from the Firebase console, found under Settings / Cloud messaging."
                  type: string
                Type:
                  $ref: "#/components/schemas/credential_enum_push_type"
                  description: "The type of push-notification service the credential is for. Can be: `fcm`, `gcm`, or `apn`."
                  type: string
              title: UpdateCredentialRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.credential"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - type
      pathType: instance
  /v1/ParticipantConversations:
    description: Participant Conversations resource represents a list of Conversations that this Participant belongs to belonging to a default conversation service.
    get:
      description: Retrieve a list of all Conversations that this Participant belongs to by identity or by address. Only one parameter should be specified.
      operationId: ListParticipantConversation
      parameters:
        - description: A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters.
          in: query
          name: Identity
          schema:
            type: string
        - description: A unique string identifier for the conversation participant who's not a Conversation User. This parameter could be found in messaging_binding.address field of Participant resource. It should be url-encoded.
          in: query
          name: Address
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  conversations:
                    items:
                      $ref: "#/components/schemas/conversations.v1.participant_conversation"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListParticipantConversationResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - chat_service_sid
        - participant_sid
        - conversation_sid
      pathType: list
  /v1/Roles:
    description: A Role resource represents a set of permissions granted to a user within a service or a conversation.
    get:
      description: Retrieve a list of all user roles in your account's default service
      operationId: ListRole
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  roles:
                    items:
                      $ref: "#/components/schemas/conversations.v1.role"
                    type: array
                title: ListRoleResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new user role in your account's default service
      operationId: CreateRole
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: A descriptive string that you create to describe the new resource. It can be up to 64 characters long.
                  type: string
                Permission:
                  description: A permission that you grant to the new role. Only one permission can be granted per parameter. To assign more than one permission, repeat this parameter for each permission value. The values for this parameter depend on the role's `type`.
                  items:
                    type: string
                  type: array
                Type:
                  $ref: "#/components/schemas/role_enum_role_type"
                  description: "The type of role. Can be: `conversation` for [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) roles or `service` for [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) roles."
                  type: string
              required:
                - FriendlyName
                - Type
                - Permission
              title: CreateRoleRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.role"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - type
      pathType: list
  "/v1/Roles/{Sid}":
    delete:
      description: Remove a user role from your account's default service
      operationId: DeleteRole
      parameters:
        - description: The SID of the Role resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RL[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: A Role resource represents a set of permissions granted to a user within a service or a conversation.
    get:
      description: Fetch a user role from your account's default service
      operationId: FetchRole
      parameters:
        - description: The SID of the Role resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RL[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.role"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update an existing user role in your account's default service
      operationId: UpdateRole
      parameters:
        - description: The SID of the Role resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RL[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Permission:
                  description: A permission that you grant to the role. Only one permission can be granted per parameter. To assign more than one permission, repeat this parameter for each permission value. Note that the update action replaces all previously assigned permissions with those defined in the update action. To remove a permission, do not include it in the subsequent update action. The values for this parameter depend on the role's `type`.
                  items:
                    type: string
                  type: array
              required:
                - Permission
              title: UpdateRoleRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.role"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - type
      pathType: instance
  /v1/Services:
    description: A Service resource is a top-level conversation resource container that serves as a data silo.
    get:
      description: Retrieve a list of all conversation services on your account
      operationId: ListService
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  services:
                    items:
                      $ref: "#/components/schemas/conversations.v1.service"
                    type: array
                title: ListServiceResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new conversation service on your account
      operationId: CreateService
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: The human-readable name of this service, limited to 256 characters. Optional.
                  type: string
              required:
                - FriendlyName
              title: CreateServiceRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.service"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      pathType: list
  "/v1/Services/{ChatServiceSid}/Bindings":
    description: A Binding resource represents a push notification binding and its configuration, for delivering conversation events to mobile or web endpoints.
    get:
      description: Retrieve a list of all push notification bindings in the conversation service
      operationId: ListServiceBinding
      parameters:
        - description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Binding resource is associated with.
          in: path
          name: ChatServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: "The push technology used by the Binding resources to read.  Can be: `apn`, `gcm`, or `fcm`.  See [push notification configuration](https://www.twilio.com/docs/chat/push-notification-configuration) for more info."
          in: query
          name: BindingType
          schema:
            items:
              $ref: "#/components/schemas/service_binding_enum_binding_type"
              type: string
            type: array
        - description: The identity of a [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource) this binding belongs to. See [access tokens](https://www.twilio.com/docs/conversations/create-tokens) for more details.
          in: query
          name: Identity
          schema:
            items:
              type: string
            type: array
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  bindings:
                    items:
                      $ref: "#/components/schemas/conversations.v1.service.service_binding"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListServiceBindingResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - endpoint
        - identity
      parent: /Services/{Sid}
      pathType: list
  "/v1/Services/{ChatServiceSid}/Bindings/{Sid}":
    delete:
      description: Remove a push notification binding from the conversation service
      operationId: DeleteServiceBinding
      parameters:
        - description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to delete the Binding resource from.
          in: path
          name: ChatServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Binding resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BS[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: A Binding resource represents a push notification binding and its configuration, for delivering conversation events to mobile or web endpoints.
    get:
      description: Fetch a push notification binding from the conversation service
      operationId: FetchServiceBinding
      parameters:
        - description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Binding resource is associated with.
          in: path
          name: ChatServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: A 34 character string that uniquely identifies this resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BS[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.service.service_binding"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - endpoint
        - identity
      parent: /Services/{Sid}
      pathType: instance
  "/v1/Services/{ChatServiceSid}/Configuration":
    description: A Service Configuration resource manages service-level settings applicable to the Conversation API.
    get:
      description: Fetch the configuration of a conversation service
      operationId: FetchServiceConfiguration
      parameters:
        - description: The SID of the Service configuration resource to fetch.
          in: path
          name: ChatServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.service.service_configuration"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update configuration settings of a conversation service
      operationId: UpdateServiceConfiguration
      parameters:
        - description: The SID of the Service configuration resource to update.
          in: path
          name: ChatServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                DefaultChatServiceRoleSid:
                  description: The service-level role assigned to users when they are added to the service. See the [Conversation Role](https://www.twilio.com/docs/conversations/api/role-resource) for more info about roles.
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
                DefaultConversationCreatorRoleSid:
                  description: The conversation-level role assigned to a conversation creator when they join a new conversation. See the [Conversation Role](https://www.twilio.com/docs/conversations/api/role-resource) for more info about roles.
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
                DefaultConversationRoleSid:
                  description: The conversation-level role assigned to users when they are added to a conversation. See the [Conversation Role](https://www.twilio.com/docs/conversations/api/role-resource) for more info about roles.
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
                ReachabilityEnabled:
                  description: Whether the [Reachability Indicator](https://www.twilio.com/docs/chat/reachability-indicator) is enabled for this Conversations Service. The default is `false`.
                  type: boolean
              title: UpdateServiceConfigurationRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.service.service_configuration"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
        - chat_service_sid
      parent: /Services/{Sid}
      pathType: instance
  "/v1/Services/{ChatServiceSid}/Configuration/Notifications":
    description: A Service Notification resource manages a set of settings to determine push notification behavior at service level.
    get:
      description: Fetch push notification service settings
      operationId: FetchServiceNotification
      parameters:
        - description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Configuration applies to.
          in: path
          name: ChatServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversations.v1.service.service_configuration.service_notification"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update push notification service settings
      operationId: UpdateServiceNotification
      parameters:
        - description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Configuration applies to.
          in: path
          name: ChatServiceSid
          required: true
[...]
