swagger: '2.0'
info:
  version: '2016-10-20'
  x-release: v4
  title: AWS Budgets
  description: '<p>The AWS Budgets API enables you to use AWS Budgets to plan your service usage, service costs, and instance reservations. The API reference provides descriptions, syntax, and usage examples for each of the actions and data types for AWS Budgets. </p> <p>Budgets provide you with a way to see the following information:</p> <ul> <li> <p>How close your plan is to your budgeted amount or to the free tier limits</p> </li> <li> <p>Your usage-to-date, including how much you''ve used of your Reserved Instances (RIs)</p> </li> <li> <p>Your current estimated charges from AWS, and how much your predicted usage will accrue in charges by the end of the month</p> </li> <li> <p>How much of your budget has been used</p> </li> </ul> <p>AWS updates your budget status several times a day. Budgets track your unblended costs, subscriptions, refunds, and RIs. You can create the following types of budgets:</p> <ul> <li> <p> <b>Cost budgets</b> - Plan how much you want to spend on a service.</p> </li> <li> <p> <b>Usage budgets</b> - Plan how much you want to use one or more services.</p> </li> <li> <p> <b>RI utilization budgets</b> - Define a utilization threshold, and receive alerts when your RI usage falls below that threshold. This lets you see if your RIs are unused or under-utilized.</p> </li> <li> <p> <b>RI coverage budgets</b> - Define a coverage threshold, and receive alerts when the number of your instance hours that are covered by RIs fall below that threshold. This lets you see how much of your instance usage is covered by a reservation.</p> </li> </ul> <p>Service Endpoint</p> <p>The AWS Budgets API provides the following endpoint:</p> <ul> <li> <p>https://budgets.amazonaws.com</p> </li> </ul> <p>For information about costs that are associated with the AWS Budgets API, see <a href="https://aws.amazon.com/aws-cost-management/pricing/">AWS Cost Management Pricing</a>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: budgets
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/budgets-2016-10-20.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/budgets/'
host: budgets.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'https://budgets.amazonaws.com'
    variables: {}
    description: The general AWSBudgets multi-region endpoint
  - url: 'http://budgets.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWSBudgets endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://budgets.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWSBudgets endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=AWSBudgetServiceGateway.CreateBudget':
    post:
      operationId: CreateBudget
      description: '<p>Creates a budget and, if included, notifications and subscribers. </p> <important> <p>Only one of <code>BudgetLimit</code> or <code>PlannedBudgetLimits</code> can be present in the syntax at one time. Use the syntax that matches your case. The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href="https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_CreateBudget.html#API_CreateBudget_Examples">Examples</a> section. </p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateBudgetResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: CreationLimitExceededException
          schema:
            $ref: '#/definitions/CreationLimitExceededException'
        '483':
          description: DuplicateRecordException
          schema:
            $ref: '#/definitions/DuplicateRecordException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateBudgetRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSBudgetServiceGateway.CreateBudget
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSBudgetServiceGateway.CreateNotification':
    post:
      operationId: CreateNotification
      description: Creates a notification. You must create the budget before you create the associated notification.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateNotificationResponse'
        '480':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: CreationLimitExceededException
          schema:
            $ref: '#/definitions/CreationLimitExceededException'
        '484':
          description: DuplicateRecordException
          schema:
            $ref: '#/definitions/DuplicateRecordException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateNotificationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSBudgetServiceGateway.CreateNotification
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSBudgetServiceGateway.CreateSubscriber':
    post:
      operationId: CreateSubscriber
      description: Creates a subscriber. You must create the associated budget and notification before you create the subscriber.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSubscriberResponse'
        '480':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: CreationLimitExceededException
          schema:
            $ref: '#/definitions/CreationLimitExceededException'
        '483':
          description: DuplicateRecordException
          schema:
            $ref: '#/definitions/DuplicateRecordException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateSubscriberRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSBudgetServiceGateway.CreateSubscriber
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSBudgetServiceGateway.DeleteBudget':
    post:
      operationId: DeleteBudget
      description: <p>Deletes a budget. You can delete your budget at any time.</p> <important> <p>Deleting a budget also deletes the notifications and subscribers that are associated with that budget.</p> </important>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteBudgetResponse'
        '480':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBudgetRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSBudgetServiceGateway.DeleteBudget
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSBudgetServiceGateway.DeleteNotification':
    post:
      operationId: DeleteNotification
      description: <p>Deletes a notification.</p> <important> <p>Deleting a notification also deletes the subscribers that are associated with the notification.</p> </important>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteNotificationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteNotificationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSBudgetServiceGateway.DeleteNotification
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSBudgetServiceGateway.DeleteSubscriber':
    post:
      operationId: DeleteSubscriber
      description: <p>Deletes a subscriber.</p> <important> <p>Deleting the last subscriber to a notification also deletes the notification.</p> </important>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSubscriberResponse'
        '480':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSubscriberRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSBudgetServiceGateway.DeleteSubscriber
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSBudgetServiceGateway.DescribeBudget':
    post:
      operationId: DescribeBudget
      description: '<p>Describes a budget.</p> <important> <p>The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href="https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_DescribeBudget.html#API_DescribeBudget_Examples">Examples</a> section. </p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeBudgetResponse'
        '480':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeBudgetRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSBudgetServiceGateway.DescribeBudget
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSBudgetServiceGateway.DescribeBudgetPerformanceHistory':
    post:
      operationId: DescribeBudgetPerformanceHistory
      description: 'Describes the history for <code>DAILY</code>, <code>MONTHLY</code>, and <code>QUARTERLY</code> budgets. Budget history isn''t available for <code>ANNUAL</code> budgets.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeBudgetPerformanceHistoryResponse'
        '480':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: ExpiredNextTokenException
          schema:
            $ref: '#/definitions/ExpiredNextTokenException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeBudgetPerformanceHistoryRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSBudgetServiceGateway.DescribeBudgetPerformanceHistory
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSBudgetServiceGateway.DescribeBudgets':
    post:
      operationId: DescribeBudgets
      description: '<p>Lists the budgets that are associated with an account.</p> <important> <p>The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href="https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_DescribeBudgets.html#API_DescribeBudgets_Examples">Examples</a> section. </p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeBudgetsResponse'
        '480':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: ExpiredNextTokenException
          schema:
            $ref: '#/definitions/ExpiredNextTokenException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeBudgetsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSBudgetServiceGateway.DescribeBudgets
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSBudgetServiceGateway.DescribeNotificationsForBudget':
    post:
      operationId: DescribeNotificationsForBudget
      description: Lists the notifications that are associated with a budget.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeNotificationsForBudgetResponse'
        '480':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: ExpiredNextTokenException
          schema:
            $ref: '#/definitions/ExpiredNextTokenException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeNotificationsForBudgetRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSBudgetServiceGateway.DescribeNotificationsForBudget
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSBudgetServiceGateway.DescribeSubscribersForNotification':
    post:
      operationId: DescribeSubscribersForNotification
      description: Lists the subscribers that are associated with a notification.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSubscribersForNotificationResponse'
        '480':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: ExpiredNextTokenException
          schema:
            $ref: '#/definitions/ExpiredNextTokenException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSubscribersForNotificationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSBudgetServiceGateway.DescribeSubscribersForNotification
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSBudgetServiceGateway.UpdateBudget':
    post:
      operationId: UpdateBudget
      description: '<p>Updates a budget. You can change every part of a budget except for the <code>budgetName</code> and the <code>calculatedSpend</code>. When you modify a budget, the <code>calculatedSpend</code> drops to zero until AWS has new usage data to use for forecasting.</p> <important> <p>Only one of <code>BudgetLimit</code> or <code>PlannedBudgetLimits</code> can be present in the syntax at one time. Use the syntax that matches your case. The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href="https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_UpdateBudget.html#API_UpdateBudget_Examples">Examples</a> section. </p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateBudgetResponse'
        '480':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateBudgetRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSBudgetServiceGateway.UpdateBudget
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSBudgetServiceGateway.UpdateNotification':
    post:
      operationId: UpdateNotification
      description: Updates a notification.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateNotificationResponse'
        '480':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: DuplicateRecordException
          schema:
            $ref: '#/definitions/DuplicateRecordException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateNotificationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSBudgetServiceGateway.UpdateNotification
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSBudgetServiceGateway.UpdateSubscriber':
    post:
      operationId: UpdateSubscriber
      description: Updates a subscriber.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateSubscriberResponse'
        '480':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: DuplicateRecordException
          schema:
            $ref: '#/definitions/DuplicateRecordException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateSubscriberRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSBudgetServiceGateway.UpdateSubscriber
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  CreateBudgetResponse:
    type: object
    properties: {}
    description: ' Response of CreateBudget '
  CreateBudgetRequest:
    type: object
    required:
      - AccountId
      - Budget
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The <code>accountId</code> that is associated with the budget.
      Budget:
        $ref: '#/definitions/Budget'
        description: The budget object that you want to create.
      NotificationsWithSubscribers:
        $ref: '#/definitions/NotificationWithSubscribersList'
        description: 'A notification that you want to associate with a budget. A budget can have up to five notifications, and each notification can have one SNS subscriber and up to 10 email subscribers. If you include notifications and subscribers in your <code>CreateBudget</code> call, AWS creates the notifications and subscribers for you.'
    description: ' Request of CreateBudget '
  InvalidParameterException: {}
  InternalErrorException: {}
  CreationLimitExceededException: {}
  DuplicateRecordException: {}
  AccessDeniedException: {}
  CreateNotificationResponse:
    type: object
    properties: {}
    description: ' Response of CreateNotification '
  CreateNotificationRequest:
    type: object
    required:
      - AccountId
      - BudgetName
      - Notification
      - Subscribers
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The <code>accountId</code> that is associated with the budget that you want to create a notification for.
      BudgetName:
        $ref: '#/definitions/BudgetName'
        description: The name of the budget that you want AWS to notify you about. Budget names must be unique within an account.
      Notification:
        $ref: '#/definitions/Notification'
        description: The notification that you want to create.
      Subscribers:
        $ref: '#/definitions/Subscribers'
        description: A list of subscribers that you want to associate with the notification. Each notification can have one SNS subscriber and up to 10 email subscribers.
    description: ' Request of CreateNotification '
  NotFoundException: {}
  CreateSubscriberResponse:
    type: object
    properties: {}
    description: ' Response of CreateSubscriber '
  CreateSubscriberRequest:
    type: object
    required:
      - AccountId
      - BudgetName
      - Notification
      - Subscriber
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The <code>accountId</code> that is associated with the budget that you want to create a subscriber for.
      BudgetName:
        $ref: '#/definitions/BudgetName'
        description: The name of the budget that you want to subscribe to. Budget names must be unique within an account.
      Notification:
        $ref: '#/definitions/Notification'
        description: The notification that you want to create a subscriber for.
      Subscriber:
        $ref: '#/definitions/Subscriber'
        description: The subscriber that you want to associate with a budget notification.
    description: ' Request of CreateSubscriber '
  DeleteBudgetResponse:
    type: object
    properties: {}
    description: ' Response of DeleteBudget '
  DeleteBudgetRequest:
    type: object
    required:
      - AccountId
      - BudgetName
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The <code>accountId</code> that is associated with the budget that you want to delete.
      BudgetName:
        $ref: '#/definitions/BudgetName'
        description: The name of the budget that you want to delete.
    description: ' Request of DeleteBudget '
  DeleteNotificationResponse:
    type: object
    properties: {}
    description: ' Response of DeleteNotification '
  DeleteNotificationRequest:
    type: object
    required:
      - AccountId
      - BudgetName
      - Notification
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The <code>accountId</code> that is associated with the budget whose notification you want to delete.
      BudgetName:
        $ref: '#/definitions/BudgetName'
        description: The name of the budget whose notification you want to delete.
      Notification:
        $ref: '#/definitions/Notification'
        description: The notification that you want to delete.
    description: ' Request of DeleteNotification '
  DeleteSubscriberResponse:
    type: object
    properties: {}
    description: ' Response of DeleteSubscriber '
  DeleteSubscriberRequest:
    type: object
    required:
      - AccountId
      - BudgetName
      - Notification
      - Subscriber
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The <code>accountId</code> that is associated with the budget whose subscriber you want to delete.
      BudgetName:
        $ref: '#/definitions/BudgetName'
        description: The name of the budget whose subscriber you want to delete.
      Notification:
        $ref: '#/definitions/Notification'
        description: The notification whose subscriber you want to delete.
      Subscriber:
        $ref: '#/definitions/Subscriber'
        description: The subscriber that you want to delete.
    description: ' Request of DeleteSubscriber '
  DescribeBudgetResponse:
    type: object
    properties:
      Budget:
        $ref: '#/definitions/Budget'
        description: The description of the budget.
    description: ' Response of DescribeBudget '
  DescribeBudgetRequest:
    type: object
    required:
      - AccountId
      - BudgetName
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The <code>accountId</code> that is associated with the budget that you want a description of.
      BudgetName:
        $ref: '#/definitions/BudgetName'
        description: The name of the budget that you want a description of.
    description: ' Request of DescribeBudget '
  DescribeBudgetPerformanceHistoryResponse:
    type: object
    properties:
      BudgetPerformanceHistory:
        $ref: '#/definitions/BudgetPerformanceHistory'
        description: '<p>The history of how often the budget has gone into an <code>ALARM</code> state.</p> <p>For <code>DAILY</code> budgets, the history saves the state of the budget for the last 60 days. For <code>MONTHLY</code> budgets, the history saves the state of the budget for the current month plus the last 12 months. For <code>QUARTERLY</code> budgets, the history saves the state of the budget for the last four quarters.</p>'
      NextToken:
        $ref: '#/definitions/GenericString'
  DescribeBudgetPerformanceHistoryRequest:
    type: object
    required:
      - AccountId
      - BudgetName
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
      BudgetName:
        $ref: '#/definitions/BudgetName'
      TimePeriod:
        $ref: '#/definitions/TimePeriod'
        description: Retrieves how often the budget went into an <code>ALARM</code> state for the specified time period.
      MaxResults:
        $ref: '#/definitions/MaxResults'
      NextToken:
        $ref: '#/definitions/GenericString'
  InvalidNextTokenException: {}
  ExpiredNextTokenException: {}
  DescribeBudgetsResponse:
    type: object
    properties:
      Budgets:
        $ref: '#/definitions/Budgets'
        description: A list of budgets.
      NextToken:
        $ref: '#/definitions/GenericString'
        description: The pagination token in the service response that indicates the next set of results that you can retrieve.
    description: ' Response of DescribeBudgets '
  DescribeBudgetsRequest:
    type: object
    required:
      - AccountId
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The <code>accountId</code> that is associated with the budgets that you want descriptions of.
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: An optional integer that represents how many entries a paginated response contains. The maximum is 100.
      NextToken:
        $ref: '#/definitions/GenericString'
        description: The pagination token that you include in your request to indicate the next set of results that you want to retrieve.
    description: ' Request of DescribeBudgets '
  DescribeNotificationsForBudgetResponse:
    type: object
    properties:
      Notifications:
        $ref: '#/definitions/Notifications'
        description: A list of notifications that are associated with a budget.
      NextToken:
        $ref: '#/definitions/GenericString'
        description: The pagination token in the service response that indicates the next set of results that you can retrieve.
    description: ' Response of GetNotificationsForBudget '
  DescribeNotificationsForBudgetRequest:
    type: object
    required:
      - AccountId
      - BudgetName
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The <code>accountId</code> that is associated with the budget whose notifications you want descriptions of.
      BudgetName:
        $ref: '#/definitions/BudgetName'
        description: The name of the budget whose notifications you want descriptions of.
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: An optional integer that represents how many entries a paginated response contains. The maximum is 100.
      NextToken:
        $ref: '#/definitions/GenericString'
        description: The pagination token that you include in your request to indicate the next set of results that you want to retrieve.
    description: ' Request of DescribeNotificationsForBudget '
  DescribeSubscribersForNotificationResponse:
    type: object
    properties:
      Subscribers:
        $ref: '#/definitions/Subscribers'
        description: A list of subscribers that are associated with a notification.
      NextToken:
        $ref: '#/definitions/GenericString'
        description: The pagination token in the service response that indicates the next set of results that you can retrieve.
    description: ' Response of DescribeSubscribersForNotification '
  DescribeSubscribersForNotificationRequest:
    type: object
    required:
      - AccountId
      - BudgetName
      - Notification
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The <code>accountId</code> that is associated with the budget whose subscribers you want descriptions of.
      BudgetName:
        $ref: '#/definitions/BudgetName'
        description: The name of the budget whose subscribers you want descriptions of.
      Notification:
        $ref: '#/definitions/Notification'
        description: The notification whose subscribers you want to list.
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: An optional integer that represents how many entries a paginated response contains. The maximum is 100.
      NextToken:
        $ref: '#/definitions/GenericString'
        description: The pagination token that you include in your request to indicate the next set of results that you want to retrieve.
    description: ' Request of DescribeSubscribersForNotification '
  UpdateBudgetResponse:
    type: object
    properties: {}
    description: ' Response of UpdateBudget '
  UpdateBudgetRequest:
    type: object
    required:
      - AccountId
      - NewBudget
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The <code>accountId</code> that is associated with the budget that you want to update.
      NewBudget:
        $ref: '#/definitions/Budget'
        description: The budget that you want to update your budget to.
    description: ' Request of UpdateBudget '
  UpdateNotificationResponse:
    type: object
    properties: {}
    description: ' Response of UpdateNotification '
  UpdateNotificationRequest:
    type: object
    required:
      - AccountId
      - BudgetName
      - OldNotification
      - NewNotification
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The <code>accountId</code> that is associated with the budget whose notification you want to update.
      BudgetName:
        $ref: '#/definitions/BudgetName'
        description: The name of the budget whose notification you want to update.
      OldNotification:
        $ref: '#/definitions/Notification'
        description: The previous notification that is associated with a budget.
      NewNotification:
        $ref: '#/definitions/Notification'
        description: The updated notification to be associated with a budget.
    description: ' Request of UpdateNotification '
  UpdateSubscriberResponse:
    type: object
    properties: {}
    description: ' Response of UpdateSubscriber '
  UpdateSubscriberRequest:
    type: object
    required:
      - AccountId
      - BudgetName
      - Notification
      - OldSubscriber
      - NewSubscriber
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The <code>accountId</code> that is associated with the budget whose subscriber you want to update.
      BudgetName:
        $ref: '#/definitions/BudgetName'
        description: The name of the budget whose subscriber you want to update.
      Notification:
        $ref: '#/definitions/Notification'
        description: The notification whose subscriber you want to update.
      OldSubscriber:
        $ref: '#/definitions/Subscriber'
        description: The previous subscriber that is associated with a budget notification.
      NewSubscriber:
        $ref: '#/definitions/Subscriber'
        description: The updated subscriber that is associated with a budget notification.
    description: ' Request of UpdateSubscriber '
  AccountId:
    type: string
    pattern: '\d{12}'
    description: The account ID of the user. It should be a 12-digit number.
    minLength: 12
    maxLength: 12
  BudgetName:
    type: string
    pattern: '[^:\\]+'
    description: ' A string that represents the budget name. The ":" and "\" characters aren''t allowed.'
    minLength: 1
    maxLength: 100
  Spend:
    type: object
    required:
      - Amount
      - Unit
    properties:
      Amount:
        $ref: '#/definitions/NumericValue'
        description: 'The cost or usage amount that is associated with a budget forecast, actual spend, or budget threshold.'
      Unit:
        $ref: '#/definitions/UnitValue'
        description: 'The unit of measurement that is used for the budget forecast, actual spend, or budget threshold, such as dollars or GB.'
    description: '<p>The amount of cost or usage that is measured for a budget.</p> <p>For example, a <code>Spend</code> for <code>3 GB</code> of S3 usage would have the following parameters:</p> <ul> <li> <p>An <code>Amount</code> of <code>3</code> </p> </li> <li> <p>A <code>unit</code> of <code>GB</code> </p> </li> </ul>'
  PlannedBudgetLimits:
    type: object
    additionalProperties:
      $ref: '#/definitions/Spend'
  CostFilters:
    type: object
    description: ' A map that represents the cost filters that are applied to the budget.'
    additionalProperties:
      $ref: '#/definitions/DimensionValues'
  CostTypes:
    type: object
    properties:
      IncludeTax:
        $ref: '#/definitions/NullableBoolean'
        description: <p>Specifies whether a budget includes taxes.</p> <p>The default value is <code>true</code>.</p>
      IncludeSubscription:
        $ref: '#/definitions/NullableBoolean'
        description: <p>Specifies whether a budget includes subscriptions.</p> <p>The default value is <code>true</code>.</p>
      UseBlended:
        $ref: '#/definitions/NullableBoolean'
        description: <p>Specifies whether a budget uses a blended rate.</p> <p>The default value is <code>false</code>.</p>
      IncludeRefund:
        $ref: '#/definitions/NullableBoolean'
        description: <p>Specifies whether a budget includes refunds.</p> <p>The default value is <code>true</code>.</p>
      IncludeCredit:
        $ref: '#/definitions/NullableBoolean'
        description: <p>Specifies whether a budget includes credits.</p> <p>The default value is <code>true</code>.</p>
      IncludeUpfront:
        $ref: '#/definitions/NullableBoolean'
        description: <p>Specifies whether a budget includes upfront RI costs.</p> <p>The default value is <code>true</code>.</p>
      IncludeRecurring:
        $ref: '#/definitions/NullableBoolean'
        description: <p>Specifies whether a budget includes recurring fees such as monthly RI fees.</p> <p>The default value is <code>true</code>.</p>
      IncludeOtherSubscription:
        $ref: '#/definitions/NullableBoolean'
        description: <p>Specifies whether a budget includes non-RI subscription costs.</p> <p>The default value is <code>true</code>.</p>
      IncludeSupport:
        $ref: '#/definitions/NullableBoolean'
        description: <p>Specifies whether a budget includes support subscription fees.</p> <p>The default value is <code>true</code>.</p>
      IncludeDiscount:
        $ref: '#/definitions/NullableBoolean'
        description: <p>Specifies whether a budget includes discounts.</p> <p>The default value is <code>true</code>.</p>
      UseAmortized:
        $ref: '#/definitions/NullableBoolean'
        description: <p>Specifies whether a budget uses the amortized rate.</p> <p>The default value is <code>false</code>.</p>
    description: '<p>The types of cost that are included in a <code>COST</code> budget, such as tax and subscriptions.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, and <code>RI_COVERAGE</code> budgets do not have <code>CostTypes</code>.</p>'
  TimeUnit:
    type: string
    enum:
      - DAILY
      - MONTHLY
      - QUARTERLY
      - ANNUALLY
    description: ' The time unit of the budget, such as MONTHLY or QUARTERLY.'
  TimePeriod:
    type: object
    properties:
      Start:
        $ref: '#/definitions/GenericTimestamp'
        description: '<p>The start date for a budget. If you created your budget and didn''t specify a start date, AWS defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn''t set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API.</p> <p>You can change your start date with the <code>UpdateBudget</code> operation.</p>'
      End:
        $ref: '#/definitions/GenericTimestamp'
        description: '<p>The end date for a budget. If you didn''t specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers. You can change your end date with the <code>UpdateBudget</code> operation.</p>'
    description: 'The period of time that is covered by a budget. The period has a start date and an end date. The start date must come before the end date. There are no restrictions on the end date. '
  CalculatedSpend:
    type: object
    required:
      - ActualSpend
    properties:
      ActualSpend:
        $ref: '#/definitions/Spend'
        description: 'The amount of cost, usage, or RI units that you have used.'
      ForecastedSpend:
        $ref: '#/definitions/Spend'
        description: 'The amount of cost, usage, or RI units that you are forecasted to use.'
    description: '<p>The spend objects that are associated with this budget. The <code>actualSpend</code> tracks how much you''ve used, cost, usage, or RI units, and the <code>forecastedSpend</code> tracks how much you are predicted to spend if your current usage remains steady.</p> <p>For example, if it is the 20th of the month and you have spent <code>50</code> dollars on Amazon EC2, your <code>actualSpend</code> is <code>50 USD</code>, and your <code>forecastedSpend</code> is <code>75 USD</code>.</p>'
  BudgetType:
    type: string
    enum:
      - USAGE
      - COST
      - RI_UTILIZATION
      - RI_COVERAGE
      - SAVINGS_PLANS_UTILIZATION
      - SAVINGS_PLANS_COVERAGE
    description: '<p> The type of a budget. It must be one of the following types: </p> <p> <code>COST</code>, <code>USAGE</code>, <code>RI_UTILIZATION</code>, or <code>RI_COVERAGE</code>.</p>'
  GenericTimestamp:
    type: string
    description: ' A generic time stamp. In Java, it is transformed to a <code>Date</code> object.'
    format: date-time
  Budget:
    type: object
    required:
      - BudgetName
      - TimeUnit
      - BudgetType
    properties:
      BudgetName:
        $ref: '#/definitions/BudgetName'
        description: 'The name of a budget. The name must be unique within an account. The <code>:</code> and <code>\</code> characters aren''t allowed in <code>BudgetName</code>.'
      BudgetLimit:
        $ref: '#/definitions/Spend'
        description: '<p>The total amount of cost, usage, RI utilization, RI coverage, Savings Plans utilization, or Savings Plans coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI or Savings Plans utilization or coverage budgets. RI and Savings Plans utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI or Savings Plans utilization or coverage budgets. You can''t use <code>BudgetLimit</code> with <code>PlannedBudgetLimits</code> for <code>CreateBudget</code> and <code>UpdateBudget</code> actions. </p>'
      PlannedBudgetLimits:
        $ref: '#/definitions/PlannedBudgetLimits'
        description: '<p>A map containing multiple <code>BudgetLimit</code>, including current or future limits.</p> <p> <code>PlannedBudgetLimits</code> is available for cost or usage budget and supports monthly and quarterly <code>TimeUnit</code>. </p> <p>For monthly budgets, provide 12 months of <code>PlannedBudgetLimits</code> values. This must start from the current month and include the next 11 months. The <code>key</code> is the start of the month, <code>UTC</code> in epoch seconds. </p> <p>For quarterly budgets, provide 4 quarters of <code>PlannedBudgetLimits</code> value entries in standard calendar quarter increments. This must start from the current quarter and include the next 3 quarters. The <code>key</code> is the start of the quarter, <code>UTC</code> in epoch seconds. </p> <p>If the planned budget expires before 12 months for monthly or 4 quarters for quarterly, provide the <code>PlannedBudgetLimits</code> values only for the remaining periods.</p> <p>If the budget begins at a date in the future, provide <code>PlannedBudgetLimits</code> values from the start date of the budget. </p> <p>After all of the <code>BudgetLimit</code> values in <code>PlannedBudgetLimits</code> are used, the budget continues to use the last limit as the <code>BudgetLimit</code>. At that point, the planned budget provides the same experience as a fixed budget. </p> <p> <code>DescribeBudget</code> and <code>DescribeBudgets</code> response along with <code>PlannedBudgetLimits</code> will also contain <code>BudgetLimit</code> representing the current month or quarter limit present in <code>PlannedBudgetLimits</code>. This only applies to budgets created with <code>PlannedBudgetLimits</code>. Budgets created without <code>PlannedBudgetLimits</code> will only contain <code>BudgetLimit</code>, and no <code>PlannedBudgetLimits</code>.</p>'
      CostFilters:
        $ref: '#/definitions/CostFilters'
        description: '<p>The cost filters, such as service or tag, that are applied to a budget.</p> <p>AWS Budgets supports the following services as a filter for RI budgets:</p> <ul> <li> <p>Amazon Elastic Compute Cloud - Compute</p> </li> <li> <p>Amazon Redshift</p> </li> <li> <p>Amazon Relational Database Service</p> </li> <li> <p>Amazon ElastiCache</p> </li> <li> <p>Amazon Elasticsearch Service</p> </li> </ul>'
      CostTypes:
        $ref: '#/definitions/CostTypes'
        description: '<p>The types of costs that are included in this <code>COST</code> budget.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, <code>RI_COVERAGE</code>, <code>Savings_Plans_Utilization</code>, and <code>Savings_Plans_Coverage</code> budgets do not have <code>CostTypes</code>.</p>'
      TimeUnit:
        $ref: '#/definitions/TimeUnit'
        description: 'The length of time until a budget resets the actual and forecasted spend. <code>DAILY</code> is available only for <code>RI_UTILIZATION</code>, <code>RI_COVERAGE</code>, <code>Savings_Plans_Utilization</code>, and <code>Savings_Plans_Coverage</code> budgets.'
      TimePeriod:
        $ref: '#/definitions/TimePeriod'
        description: '<p>The period of time that is covered by a budget. The period has a start date and an end date. The start date must come before the end date. The end date must come before <code>06/15/87 00:00 UTC</code>. </p> <p>If you create your budget and don''t specify a start date, AWS defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn''t set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn''t specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.</p>'
      CalculatedSpend:
        $ref: '#/definitions/CalculatedSpend'
        description: The actual and forecasted cost or usage that the budget tracks.
      BudgetType:
        $ref: '#/definitions/BudgetType'
        description: 'Whether this budget tracks costs, usage, RI utilization, RI coverage, Savings Plans utilization, or Savings Plans coverage.'
      LastUpdatedTime:
        $ref: '#/definitions/GenericTimestamp'
        description: The last time that you updated this budget.
    description: '<p>Represents the output of the <code>CreateBudget</code> operation. The content consists of the detailed metadata and data file information, and the current status of the <code>budget</code> object.</p> <p>This is the ARN pattern for a budget: </p> <p> <code>arn:aws:budgetservice::AccountId:budget/budgetName</code> </p>'
  BudgetedAndActualAmountsList:
    type: array
    items:
      $ref: '#/definitions/BudgetedAndActualAmounts'
  BudgetPerformanceHistory:
    type: object
    properties:
      BudgetName:
        $ref: '#/definitions/BudgetName'
      BudgetType:
        $ref: '#/definitions/BudgetType'
      CostFilters:
        $ref: '#/definitions/CostFilters'
        description: The history of the cost filters for a budget during the specified time period.
      CostTypes:
        $ref: '#/definitions/CostTypes'
        description: The history of the cost types for a budget during the specified time period.
      TimeUnit:
        $ref: '#/definitions/TimeUnit'
      BudgetedAndActualAmountsList:
        $ref: '#/definitions/BudgetedAndActualAmountsList'
        description: 'A list of amounts of cost or usage that you created budgets for, compared to your actual costs or usage.'
    description: A history of the state of a budget at the end of the budget's specified time period.
  BudgetedAndActualAmounts:
    type: object
    properties:
      BudgetedAmount:
        $ref: '#/definitions/Spend'
        description: The amount of cost or usage that you created the budget for.
      ActualAmount:
        $ref: '#/definitions/Spend'
        description: Your actual costs or usage for a budget period.
      TimePeriod:
        $ref: '#/definitions/TimePeriod'
        description: The time period covered by this budget comparison.
    description: 'The amount of cost or usage that you created the budget for, compared to your actual costs or usage.'
  Budgets:
    type: array
    description: ' A list of budgets.'
    items:
      $ref: '#/definitions/Budget'
  ComparisonOperator:
    type: string
    enum:
      - GREATER_THAN
      - LESS_THAN
      - EQUAL_TO
    description: '<p> The comparison operator of a notification. Currently the service supports the following operators:</p> <p> <code>GREATER_THAN</code>, <code>LESS_THAN</code>, <code>EQUAL_TO</code> </p>'
  DimensionValues:
    type: array
    items:
      $ref: '#/definitions/GenericString'
  NullableBoolean:
    type: boolean
  NotificationWithSubscribersList:
    type: array
    description: ' A list of notifications, each with a list of subscribers.'
    items:
      $ref: '#/definitions/NotificationWithSubscribers'
    maxItems: 5
  Notification:
    type: object
    required:
      - NotificationType
      - ComparisonOperator
      - Threshold
    properties:
      NotificationType:
        $ref: '#/definitions/NotificationType'
        description: Whether the notification is for how much you have spent (<code>ACTUAL</code>) or for how much you're forecasted to spend (<code>FORECASTED</code>).
      ComparisonOperator:
        $ref: '#/definitions/ComparisonOperator'
        description: The comparison that is used for this notification.
      Threshold:
        $ref: '#/definitions/NotificationThreshold'
        description: The threshold that is associated with a notification. Thresholds are always a percentage.
      ThresholdType:
        $ref: '#/definitions/ThresholdType'
        description: 'The type of threshold for a notification. For <code>ABSOLUTE_VALUE</code> thresholds, AWS notifies you when you go over or are forecasted to go over your total cost threshold. For <code>PERCENTAGE</code> thresholds, AWS notifies you when you go over or are forecasted to go over a certain percentage of your forecasted spend. For example, if you have a budget for 200 dollars and you have a <code>PERCENTAGE</code> threshold of 80%, AWS notifies you when you go over 160 dollars.'
      NotificationState:
        $ref: '#/definitions/NotificationState'
        description: 'Whether this notification is in alarm. If a budget notification is in the <code>ALARM</code> state, you have passed the set threshold for the budget.'
    description: '<p>A notification that is associated with a budget. A budget can have up to five notifications. </p> <p>Each notification must have at least one subscriber. A notification can have one SNS subscriber and up to 10 email subscribers, for a total of 11 subscribers.</p> <p>For example, if you have a budget for 200 dollars and you want to be notified when you go over 160 dollars, create a notification with the following parameters:</p> <ul> <li> <p>A notificationType of <code>ACTUAL</code> </p> </li> <li> <p>A <code>thresholdType</code> of <code>PERCENTAGE</code> </p> </li> <li> <p>A <code>comparisonOperator</code> of <code>GREATER_THAN</code> </p> </li> <li> <p>A notification <code>threshold</code> of <code>80</code> </p> </li> </ul>'
  Subscribers:
    type: array
    description: ' A list of subscribers.'
    items:
      $ref: '#/definitions/Subscriber'
    minItems: 1
    maxItems: 11
  Subscriber:
    type: object
    required:
      - SubscriptionType
      - Address
    properties:
      SubscriptionType:
        $ref: '#/definitions/SubscriptionType'
        description: The type of notification that AWS sends to a subscriber.
      Address:
        $ref: '#/definitions/SubscriberAddress'
        description: '<p>The address that AWS sends budget notifications to, either an SNS topic or an email.</p> <p>When you create a subscriber, the value of <code>Address</code> can''t contain line breaks.</p>'
    description: '<p>The subscriber to a budget notification. The subscriber consists of a subscription type and either an Amazon SNS topic or an email address.</p> <p>For example, an email subscriber would have the following parameters:</p> <ul> <li> <p>A <code>subscriptionType</code> of <code>EMAIL</code> </p> </li> <li> <p>An <code>address</code> of <code>example@example.com</code> </p> </li> </ul>'
  MaxResults:
    type: integer
    description: ' An integer that represents how many entries a paginated response contains. The maximum is 100.'
    minimum: 1
    maximum: 100
  GenericString:
    type: string
    pattern: .*
    description: ' A generic string.'
    minLength: 0
    maxLength: 2147483647
  Notifications:
    type: array
    description: ' A list of notifications.'
    items:
      $ref: '#/definitions/Notification'
  NotificationType:
    type: string
    enum:
      - ACTUAL
      - FORECASTED
    description: ' The type of a notification. It must be ACTUAL or FORECASTED.'
  NotificationThreshold:
    type: number
    description: ' The threshold of a notification. It must be a number between 0 and 1,000,000,000.'
    format: double
    minimum: 0
    maximum: 1000000000
  ThresholdType:
    type: string
    enum:
      - PERCENTAGE
      - ABSOLUTE_VALUE
    description: ' The type of threshold for a notification. It can be PERCENTAGE or ABSOLUTE_VALUE.'
  NotificationState:
    type: string
    enum:
      - OK
      - ALARM
  NotificationWithSubscribers:
    type: object
    required:
      - Notification
      - Subscribers
    properties:
      Notification:
        $ref: '#/definitions/Notification'
        description: The notification that is associated with a budget.
      Subscribers:
        $ref: '#/definitions/Subscribers'
        description: A list of subscribers who are subscribed to this notification.
    description: 'A notification with subscribers. A notification can have one SNS subscriber and up to 10 email subscribers, for a total of 11 subscribers.'
  NumericValue:
    type: string
    pattern: '([0-9]*\.)?[0-9]+'
    description: ' A string that represents a numeric value.'
    minLength: 1
    maxLength: 2147483647
  UnitValue:
    type: string
    pattern: .*
    description: ' A string that represents the spend unit of a budget. It can''t be null or empty.'
    minLength: 1
    maxLength: 2147483647
  SubscriptionType:
    type: string
    enum:
      - SNS
      - EMAIL
    description: ' The subscription type of the subscriber. It can be SMS or EMAIL.'
  SubscriberAddress:
    type: string
    pattern: '(.*[\n\r\t\f\ ]?)*'
    description: ' A string that contains an email address or SNS topic for the subscriber''s address.'
    minLength: 1
    maxLength: 2147483647
    format: password
