swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /dfareporting/v1.2
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Lets you create, run and download reports.'
  title: DFA Reporting
  version: v1.2
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/dfareporting/v1.2/rest'
    version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: dfareporting
externalDocs:
  url: 'https://developers.google.com/doubleclick-advertisers/reporting/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/dfareporting': View and manage DoubleClick for Advertisers reports
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
paths:
  '/reports/{reportId}/files/{fileId}':
    get:
      description: Retrieves a report file by its report ID and file ID.
      operationId: dfareporting.files.get
      parameters:
        - description: The ID of the report.
          in: path
          name: reportId
          required: true
          type: string
        - description: The ID of the report file.
          in: path
          name: fileId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/File'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
      tags:
        - files
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /userprofiles:
    get:
      description: Retrieves list of user profiles for a user.
      operationId: dfareporting.userProfiles.list
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UserProfileList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
      tags:
        - userProfiles
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}':
    get:
      description: Gets one user profile by ID.
      operationId: dfareporting.userProfiles.get
      parameters:
        - description: The user profile ID.
          in: path
          name: profileId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UserProfile'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
      tags:
        - userProfiles
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/dimensionvalues/query':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Retrieves list of report dimension values for a list of filters.
      operationId: dfareporting.dimensionValues.query
      parameters:
        - description: The DFA user profile ID.
          in: path
          name: profileId
          required: true
          type: string
        - description: Maximum number of results to return.
          in: query
          maximum: 100
          minimum: 0
          name: maxResults
          type: integer
        - description: The value of the nextToken from the previous result page.
          in: query
          name: pageToken
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DimensionValueRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DimensionValueList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
      tags:
        - dimensionValues
  '/userprofiles/{profileId}/files':
    get:
      description: Lists files for a user profile.
      operationId: dfareporting.files.list
      parameters:
        - description: The DFA profile ID.
          in: path
          name: profileId
          required: true
          type: string
        - description: Maximum number of results to return.
          in: query
          maximum: 10
          minimum: 0
          name: maxResults
          type: integer
        - description: The value of the nextToken from the previous result page.
          in: query
          name: pageToken
          type: string
        - default: MINE
          description: "The scope that defines which results are returned, default is 'MINE'."
          enum:
            - ALL
            - MINE
            - SHARED_WITH_ME
          in: query
          name: scope
          type: string
        - default: LAST_MODIFIED_TIME
          description: The field by which to sort the list.
          enum:
            - ID
            - LAST_MODIFIED_TIME
          in: query
          name: sortField
          type: string
        - default: DESCENDING
          description: "Order of sorted results, default is 'DESCENDING'."
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: sortOrder
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/FileList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
      tags:
        - files
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/reports':
    get:
      description: Retrieves list of reports.
      operationId: dfareporting.reports.list
      parameters:
        - description: The DFA user profile ID.
          in: path
          name: profileId
          required: true
          type: string
        - description: Maximum number of results to return.
          in: query
          maximum: 10
          minimum: 0
          name: maxResults
          type: integer
        - description: The value of the nextToken from the previous result page.
          in: query
          name: pageToken
          type: string
        - default: MINE
          description: "The scope that defines which results are returned, default is 'MINE'."
          enum:
            - ALL
            - MINE
          in: query
          name: scope
          type: string
        - default: LAST_MODIFIED_TIME
          description: The field by which to sort the list.
          enum:
            - ID
            - LAST_MODIFIED_TIME
            - NAME
          in: query
          name: sortField
          type: string
        - default: DESCENDING
          description: "Order of sorted results, default is 'DESCENDING'."
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: sortOrder
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ReportList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
      tags:
        - reports
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a report.
      operationId: dfareporting.reports.insert
      parameters:
        - description: The DFA user profile ID.
          in: path
          name: profileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Report'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Report'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
      tags:
        - reports
  '/userprofiles/{profileId}/reports/{reportId}':
    delete:
      description: Deletes a report by its ID.
      operationId: dfareporting.reports.delete
      parameters:
        - description: The DFA user profile ID.
          in: path
          name: profileId
          required: true
          type: string
        - description: The ID of the report.
          in: path
          name: reportId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
      tags:
        - reports
    get:
      description: Retrieves a report by its ID.
      operationId: dfareporting.reports.get
      parameters:
        - description: The DFA user profile ID.
          in: path
          name: profileId
          required: true
          type: string
        - description: The ID of the report.
          in: path
          name: reportId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Report'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
      tags:
        - reports
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a report. This method supports patch semantics.
      operationId: dfareporting.reports.patch
      parameters:
        - description: The DFA user profile ID.
          in: path
          name: profileId
          required: true
          type: string
        - description: The ID of the report.
          in: path
          name: reportId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Report'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Report'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
      tags:
        - reports
    put:
      description: Updates a report.
      operationId: dfareporting.reports.update
      parameters:
        - description: The DFA user profile ID.
          in: path
          name: profileId
          required: true
          type: string
        - description: The ID of the report.
          in: path
          name: reportId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Report'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Report'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
      tags:
        - reports
  '/userprofiles/{profileId}/reports/{reportId}/files':
    get:
      description: Lists files for a report.
      operationId: dfareporting.reports.files.list
      parameters:
        - description: The DFA profile ID.
          in: path
          name: profileId
          required: true
          type: string
        - description: The ID of the parent report.
          in: path
          name: reportId
          required: true
          type: string
        - description: Maximum number of results to return.
          in: query
          maximum: 10
          minimum: 0
          name: maxResults
          type: integer
        - description: The value of the nextToken from the previous result page.
          in: query
          name: pageToken
          type: string
        - default: LAST_MODIFIED_TIME
          description: The field by which to sort the list.
          enum:
            - ID
            - LAST_MODIFIED_TIME
          in: query
          name: sortField
          type: string
        - default: DESCENDING
          description: "Order of sorted results, default is 'DESCENDING'."
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: sortOrder
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/FileList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
      tags:
        - reports
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/reports/{reportId}/files/{fileId}':
    get:
      description: Retrieves a report file.
      operationId: dfareporting.reports.files.get
      parameters:
        - description: The DFA profile ID.
          in: path
          name: profileId
          required: true
          type: string
        - description: The ID of the report.
          in: path
          name: reportId
          required: true
          type: string
        - description: The ID of the report file.
          in: path
          name: fileId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/File'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
      tags:
        - reports
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/reports/{reportId}/run':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Runs a report.
      operationId: dfareporting.reports.run
      parameters:
        - description: The DFA profile ID.
          in: path
          name: profileId
          required: true
          type: string
        - description: The ID of the report.
          in: path
          name: reportId
          required: true
          type: string
        - description: 'If set and true, tries to run the report synchronously.'
          in: query
          name: synchronous
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/File'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
      tags:
        - reports
definitions:
  Activities:
    description: Represents an activity group.
    properties:
      filters:
        description: 'List of activity filters. The dimension values need to be all either of type "dfa:activity" or "dfa:activityGroup".'
        items:
          $ref: '#/definitions/DimensionValue'
        type: array
      kind:
        default: 'dfareporting#activities'
        description: 'The kind of resource this is, in this case dfareporting#activities.'
        type: string
      metricNames:
        description: List of names of floodlight activity metrics.
        items:
          type: string
        type: array
    type: object
  CustomRichMediaEvents:
    description: Represents a Custom Rich Media Events group.
    properties:
      filteredEventIds:
        description: 'List of custom rich media event IDs. Dimension values must be all of type dfa:richMediaEventTypeIdAndName.'
        items:
          $ref: '#/definitions/DimensionValue'
        type: array
      kind:
        default: 'dfareporting#customRichMediaEvents'
        description: 'The kind of resource this is, in this case dfareporting#customRichMediaEvents.'
        type: string
    type: object
  DateRange:
    description: Represents a date range.
    properties:
      endDate:
        description: 'The end date of the date range, inclusive. A string of the format: "yyyy-MM-dd".'
        format: date
        type: string
      kind:
        default: 'dfareporting#dateRange'
        description: 'The kind of resource this is, in this case dfareporting#dateRange.'
        type: string
      relativeDateRange:
        description: "The date range relative to the date of when the report is run, one of:  \n- \"TODAY\" \n- \"YESTERDAY\" \n- \"WEEK_TO_DATE\" \n- \"MONTH_TO_DATE\" \n- \"QUARTER_TO_DATE\" \n- \"YEAR_TO_DATE\" \n- \"PREVIOUS_WEEK\" \n- \"PREVIOUS_MONTH\" \n- \"PREVIOUS_QUARTER\" \n- \"PREVIOUS_YEAR\" \n- \"LAST_7_DAYS\" \n- \"LAST_30_DAYS\" \n- \"LAST_90_DAYS\" \n- \"LAST_365_DAYS\" \n- \"LAST_24_MONTHS\""
        type: string
      startDate:
        description: 'The start date of the date range, inclusive. A string of the format: "yyyy-MM-dd".'
        format: date
        type: string
    type: object
  DimensionFilter:
    description: Represents a dimension filter.
    properties:
      dimensionName:
        description: The name of the dimension to filter.
        type: string
      kind:
        default: 'dfareporting#dimensionFilter'
        description: 'The kind of resource this is, in this case dfareporting#dimensionFilter.'
        type: string
      value:
        description: The value of the dimension to filter.
        type: string
    type: object
  DimensionValue:
    description: Represents a DimensionValue resource.
    properties:
      dimensionName:
        description: The name of the dimension.
        type: string
      etag:
        description: The eTag of this response for caching purposes.
        type: string
      id:
        description: The ID associated with the value if available.
        type: string
      kind:
        default: 'dfareporting#dimensionValue'
        description: 'The kind of resource this is, in this case dfareporting#dimensionValue.'
        type: string
      matchType:
        description: "Determines how the 'value' field is matched when filtering. One of:  \n- EXACT (default if not specified) \n- CONTAINS \n- BEGINS_WITH \n- WILDCARD_EXPRESSION (allowing '*' as a placeholder for variable length character sequences, it can be escaped with a backslash.)  Note, only paid search dimensions ('dfa:paidSearch*') allow a matchType other than EXACT."
        type: string
      value:
        description: The value of the dimension.
        type: string
    type: object
  DimensionValueList:
    description: Represents the list of DimensionValue resources.
    properties:
      etag:
        description: The eTag of this response for caching purposes.
        type: string
      items:
        description: The dimension values returned in this response.
        items:
          $ref: '#/definitions/DimensionValue'
        type: array
      kind:
        default: 'dfareporting#dimensionValueList'
        description: 'The kind of list this is, in this case dfareporting#dimensionValueList.'
        type: string
      nextPageToken:
        description: "Continuation token used to page through dimension values. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted."
        type: string
    type: object
  DimensionValueRequest:
    description: Represents a DimensionValuesRequest.
    properties:
      dimensionName:
        description: The name of the dimension for which values should be requested.
        type: string
      endDate:
        description: 'The end date of the date range for which to retrieve dimension values. A string of the format: "yyyy-MM-dd".'
        format: date
        type: string
      filters:
        description: The list of filters by which to filter values. The filters are ANDed.
        items:
          $ref: '#/definitions/DimensionFilter'
        type: array
      kind:
        default: 'dfareporting#dimensionValueRequest'
        description: 'The kind of request this is, in this case dfareporting#dimensionValueRequest.'
        type: string
      startDate:
        description: 'The start date of the date range for which to retrieve dimension values. A string of the format: "yyyy-MM-dd".'
        format: date
        type: string
    type: object
  File:
    description: 'Represents a File resource. A File contains the meta-data for a report run. It shows the status of the run and holds the urls to the generated report data if the run is finished and the status is "REPORT_AVAILABLE".'
    properties:
      dateRange:
        $ref: '#/definitions/DateRange'
        description: The date range for which the file has report data. The date range will always be the absolute date range for which the report is run.
      etag:
        description: The eTag of this response for caching purposes.
        type: string
      fileName:
        description: The file name of the file.
        type: string
      format:
        description: The output format of the report. Only available once the file is available.
        type: string
      id:
        description: The unique ID of this report file.
        format: int64
        type: string
      kind:
        default: 'dfareporting#file'
        description: 'The kind of resource this is, in this case dfareporting#file.'
        type: string
      lastModifiedTime:
        description: The timestamp in milliseconds since epoch when this file was last modified.
        format: int64
        type: string
      reportId:
        description: The ID of the report this file was generated from.
        format: int64
        type: string
      status:
        description: "The status of the report file, one of:  \n- \"PROCESSING\" \n- \"REPORT_AVAILABLE\" \n- \"FAILED\" \n- \"CANCELLED\""
        type: string
      urls:
        description: The urls where the completed report file can be downloaded.
        properties:
          apiUrl:
            description: The url for downloading the report data through the API.
            type: string
          browserUrl:
            description: The url for downloading the report data through a browser.
            type: string
        type: object
    type: object
  FileList:
    description: Represents the list of File resources.
    properties:
      etag:
        description: The eTag of this response for caching purposes.
        type: string
      items:
        description: The files returned in this response.
        items:
          $ref: '#/definitions/File'
        type: array
      kind:
        default: 'dfareporting#fileList'
        description: 'The kind of list this is, in this case dfareporting#fileList.'
        type: string
      nextPageToken:
        description: "Continuation token used to page through files. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted."
        type: string
    type: object
  Recipient:
    description: Represents a recipient.
    properties:
      deliveryType:
        description: "The delivery type for the recipient, one of:  \n- \"ATTACHMENT\" \n- \"LINK\""
        type: string
      email:
        description: The email address of the recipient.
        type: string
      kind:
        default: 'dfareporting#recipient'
        description: 'The kind of resource this is, in this case dfareporting#recipient.'
        type: string
    type: object
  Report:
    description: Represents a Report resource.
    properties:
      accountId:
        description: The account ID to which this report belongs.
        format: int64
        type: string
      activeGrpCriteria:
        description: 'The report criteria for a report of type "ACTIVE_GRP".'
        properties:
          dateRange:
            $ref: '#/definitions/DateRange'
            description: The date range this report should be run for.
          dimensionFilters:
            description: |-
              The list of filters on which dimensions are filtered.
              Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.
              A valid active GRP report needs to have exactly one DimensionValue for the United States in addition to any advertiser or campaign dimension values.
            items:
              $ref: '#/definitions/DimensionValue'
            type: array
          dimensions:
            description: The list of dimensions the report should include.
            items:
              $ref: '#/definitions/SortedDimension'
            type: array
          metricNames:
            description: The list of names of metrics the report should include.
            items:
              type: string
            type: array
        type: object
      criteria:
        description: 'The report criteria for a report of type "STANDARD".'
        properties:
          activities:
            $ref: '#/definitions/Activities'
            description: Activity group.
          customRichMediaEvents:
            $ref: '#/definitions/CustomRichMediaEvents'
            description: Custom Rich Media Events group.
          dateRange:
            $ref: '#/definitions/DateRange'
            description: The date range for which this report should be run.
          dimensionFilters:
            description: |-
              The list of filters on which dimensions are filtered.
              Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.
            items:
              $ref: '#/definitions/DimensionValue'
            type: array
          dimensions:
            description: The list of standard dimensions the report should include.
            items:
              $ref: '#/definitions/SortedDimension'
            type: array
          metricNames:
            description: The list of names of metrics the report should include.
            items:
              type: string
            type: array
        type: object
      crossDimensionReachCriteria:
        description: 'The report criteria for a report of type "CROSS_DIMENSION_REACH".'
        properties:
          breakdown:
            description: The list of dimensions the report should include.
            items:
              $ref: '#/definitions/SortedDimension'
            type: array
          dateRange:
            $ref: '#/definitions/DateRange'
            description: The date range this report should be run for.
          dimension:
            description: "The dimension option, one of:  \n- \"ADVERTISER\" \n- \"CAMPAIGN\" \n- \"SITE_BY_ADVERTISER\" \n- \"SITE_BY_CAMPAIGN\""
            type: string
          dimensionFilters:
            description: The list of filters on which dimensions are filtered.
            items:
              $ref: '#/definitions/DimensionValue'
            type: array
          metricNames:
            description: The list of names of metrics the report should include.
            items:
              type: string
            type: array
          overlapMetricNames:
            description: The list of names of overlap metrics the report should include.
            items:
              type: string
            type: array
          pivoted:
            description: Whether the report is pivoted or not. Defaults to true.
            type: boolean
        type: object
      delivery:
        description: "The report's email delivery settings."
        properties:
          emailOwner:
            description: Whether the report should be emailed to the report owner.
            type: boolean
          emailOwnerDeliveryType:
            description: "The type of delivery for the owner to receive, if enabled. One of:  \n- \"ATTACHMENT\" \n- \"LINK\""
            type: string
          message:
            description: The message to be sent with each email.
            type: string
          recipients:
            description: The list of recipients to which to email the report.
            items:
              $ref: '#/definitions/Recipient'
            type: array
        type: object
      etag:
        description: The eTag of this response for caching purposes.
        type: string
      fileName:
        description: The file name used when generating report files for this report.
        type: string
      floodlightCriteria:
        description: 'The report criteria for a report of type "FLOODLIGHT".'
        properties:
          dateRange:
            $ref: '#/definitions/DateRange'
            description: The date range this report should be run for.
          dimensionFilters:
            description: |-
              The list of filters on which dimensions are filtered.
              Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.
            items:
              $ref: '#/definitions/DimensionValue'
            type: array
          dimensions:
            description: The list of dimensions the report should include.
            items:
              $ref: '#/definitions/SortedDimension'
            type: array
          floodlightConfigId:
            $ref: '#/definitions/DimensionValue'
            description: "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'."
          metricNames:
            description: The list of names of metrics the report should include.
            items:
              type: string
            type: array
          reportProperties:
            description: The properties of the report.
            properties:
              includeAttributedIPConversions:
                description: 'Include conversions that have no cookie, but do have an exposure path.'
                type: boolean
              includeUnattributedCookieConversions:
                description: 'Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window.'
                type: boolean
              includeUnattributedIPConversions:
                description: Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion.
                type: boolean
            type: object
        type: object
      format:
        description: "The output format of the report, one of:  \n- \"CSV\" \n- \"EXCEL\"  If not specified, default format is \"CSV\". Note that the actual format in the completed report file might differ if for instance the report's size exceeds the format's capabilities. \"CSV\" will then be the fallback format."
        type: string
      id:
        description: The unique ID identifying this report resource.
        format: int64
        type: string
      kind:
        default: 'dfareporting#report'
        description: 'The kind of resource this is, in this case dfareporting#report.'
        type: string
      lastModifiedTime:
        description: The timestamp (in milliseconds since epoch) of when this report was last modified.
        format: uint64
        type: string
      name:
        description: The name of the report.
        type: string
      ownerProfileId:
        description: The user profile id of the owner of this report.
        format: int64
        type: string
      pathToConversionCriteria:
        description: 'The report criteria for a report of type "PATH_TO_CONVERSION".'
        properties:
          activityFilters:
            description: "The list of 'dfa:activity' values to filter on."
            items:
              $ref: '#/definitions/DimensionValue'
            type: array
          conversionDimensions:
            description: The list of conversion dimensions the report should include.
            items:
              $ref: '#/definitions/SortedDimension'
            type: array
          customFloodlightVariables:
            description: The list of custom floodlight variables the report should include.
            items:
              $ref: '#/definitions/SortedDimension'
            type: array
          dateRange:
            $ref: '#/definitions/DateRange'
            description: The date range this report should be run for.
          floodlightConfigId:
            $ref: '#/definitions/DimensionValue'
            description: "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'."
          metricNames:
            description: The list of names of metrics the report should include.
            items:
              type: string
            type: array
          perInteractionDimensions:
            description: The list of per interaction dimensions the report should include.
            items:
              $ref: '#/definitions/SortedDimension'
            type: array
          reportProperties:
            description: The properties of the report.
            properties:
              clicksLookbackWindow:
                description: 'DFA checks to see if a click interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.'
                format: int32
                type: integer
              impressionsLookbackWindow:
                description: 'DFA checks to see if an impression interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.'
                format: int32
                type: integer
              includeAttributedIPConversions:
                description: 'Include conversions that have no cookie, but do have an exposure path.'
                type: boolean
              includeUnattributedCookieConversions:
                description: 'Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window.'
                type: boolean
              includeUnattributedIPConversions:
                description: Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion.
                type: boolean
              maximumClickInteractions:
                description: 'The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.'
                format: int32
                type: integer
              maximumImpressionInteractions:
                description: 'The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.'
                format: int32
                type: integer
              maximumInteractionGap:
                description: 'The maximum amount of time that can take place between interactions (clicks or impressions) by the same user. Valid values: 1-90.'
                format: int32
                type: integer
              pivotOnInteractionPath:
                description: Enable pivoting on interaction path.
                type: boolean
            type: object
        type: object
      reachCriteria:
        description: 'The report criteria for a report of type "REACH".'
        properties:
          activities:
            $ref: '#/definitions/Activities'
            description: Activity group.
          customRichMediaEvents:
            $ref: '#/definitions/CustomRichMediaEvents'
            description: Custom Rich Media Events group.
          dateRange:
            $ref: '#/definitions/DateRange'
            description: The date range this report should be run for.
          dimensionFilters:
            description: |-
              The list of filters on which dimensions are filtered.
              Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.
            items:
              $ref: '#/definitions/DimensionValue'
            type: array
          dimensions:
            description: The list of dimensions the report should include.
            items:
              $ref: '#/definitions/SortedDimension'
            type: array
          metricNames:
            description: The list of names of metrics the report should include.
            items:
              type: string
            type: array
          reachByFrequencyMetricNames:
            description: The list of names of  Reach By Frequency metrics the report should include.
            items:
              type: string
            type: array
        type: object
      schedule:
        description: "The report's schedule. Can only be set if the report's 'dateRange' is a relative date range and the relative date range is not \"TODAY\"."
        properties:
          active:
            description: Whether the schedule is active or not. Must be set to either true or false.
            type: boolean
          every:
            description: 'Defines every how many days, weeks or months the report should be run. Needs to be set when "repeats" is either "DAILY", "WEEKLY" or "MONTHLY".'
            format: int32
            type: integer
          expirationDate:
            description: The expiration date when the scheduled report stops running.
            format: date
            type: string
          repeats:
            description: "The interval for which the report is repeated, one of:  \n- \"DAILY\", also requires field \"every\" to be set. \n- \"WEEKLY\", also requires fields \"every\" and \"repeatsOnWeekDays\" to be set. \n- \"TWICE_A_MONTH\" \n- \"MONTHLY\", also requires fields \"every\" and \"runsOnDayOfMonth\" to be set. \n- \"QUARTERLY\" \n- \"YEARLY\""
            type: string
          repeatsOnWeekDays:
            description: 'List of week days "WEEKLY" on which scheduled reports should run.'
            items:
              type: string
            type: array
          runsOnDayOfMonth:
            description: "Enum to define for \"MONTHLY\" scheduled reports whether reports should be repeated on the same day of the month as \"startDate\" or the same day of the week of the month. Possible values are:  \n- DAY_OF_MONTH \n- WEEK_OF_MONTH  \nExample: If 'startDate' is Monday, April 2nd 2012 (2012-04-02), \"DAY_OF_MONTH\" would run subsequent reports on the 2nd of every Month, and \"WEEK_OF_MONTH\" would run subsequent reports on the first Monday of the month."
            type: string
          startDate:
            description: Start date of date range for which scheduled reports should be run.
            format: date
            type: string
        type: object
      subAccountId:
        description: The subbaccount ID to which this report belongs if applicable.
        format: int64
        type: string
      type:
        description: "The type of the report, one of:  \n- STANDARD \n- REACH \n- ACTIVE_GRP \n- PATH_TO_CONVERSION \n- FLOODLIGHT \n- CROSS_DIMENSION_REACH"
        type: string
    type: object
  ReportList:
    description: Represents the list of reports.
    properties:
      etag:
        description: The eTag of this response for caching purposes.
        type: string
      items:
        description: The reports returned in this response.
        items:
          $ref: '#/definitions/Report'
        type: array
      kind:
        default: 'dfareporting#reportList'
        description: 'The kind of list this is, in this case dfareporting#reportList.'
        type: string
      nextPageToken:
        description: "Continuation token used to page through reports. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted."
        type: string
    type: object
  SortedDimension:
    description: Represents a sorted dimension.
    properties:
      kind:
        default: 'dfareporting#sortedDimension'
        description: 'The kind of resource this is, in this case dfareporting#sortedDimension.'
        type: string
      name:
        description: The name of the dimension.
        type: string
      sortOrder:
        description: "An optional sort order for the dimension column, one of:  \n- \"ASCENDING\" \n- \"DESCENDING\""
        type: string
    type: object
  UserProfile:
    description: Represents a UserProfile resource.
    properties:
      accountId:
        description: The account ID to which this profile belongs.
        format: int64
        type: string
      accountName:
        description: The account name this profile belongs to.
        type: string
      etag:
        description: The eTag of this response for caching purposes.
        type: string
      kind:
        default: 'dfareporting#userProfile'
        description: 'The kind of resource this is, in this case dfareporting#userProfile.'
        type: string
      profileId:
        description: The unique ID of the user profile.
        format: int64
        type: string
      subAccountId:
        description: The sub account ID this profile belongs to if applicable.
        format: int64
        type: string
      subAccountName:
        description: The sub account name this profile belongs to if applicable.
        type: string
      userName:
        description: The user name.
        type: string
    type: object
  UserProfileList:
    description: Represents the list of user profiles.
    properties:
      etag:
        description: The eTag of this response for caching purposes.
        type: string
      items:
        description: The user profiles returned in this response.
        items:
          $ref: '#/definitions/UserProfile'
        type: array
      kind:
        default: 'dfareporting#userProfileList'
        description: 'The kind of list this is, in this case dfareporting#userProfileList.'
        type: string
    type: object
