swagger: '2.0'
info:
  version: '2014-10-31'
  x-release: v4
  title: Amazon DocumentDB with MongoDB compatibility
  description: Amazon DocumentDB API documentation
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: docdb
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/docdb-2014-10-31.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/rds/'
host: rds.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://rds.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon DocDB multi-region endpoint
  - url: 'https://rds.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon DocDB multi-region endpoint
  - url: 'http://rds.amazonaws.com'
    variables: {}
    description: The general Amazon DocDB multi-region endpoint
  - url: 'https://rds.amazonaws.com'
    variables: {}
    description: The general Amazon DocDB multi-region endpoint
  - url: 'http://rds.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon DocDB endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://rds.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon DocDB endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - text/xml
produces:
  - text/xml
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#Action=AddTagsToResource':
    get:
      x-aws-operation-name: AddTagsToResource
      operationId: GET AddTagsToResource
      description: Adds metadata tags to an Amazon DocumentDB resource. You can use these tags with cost allocation reporting to track costs that are associated with Amazon DocumentDB resources. or in a <code>Condition</code> statement in an AWS Identity and Access Management (IAM) policy for Amazon DocumentDB.
      responses:
        '200':
          description: Success
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
      parameters:
        - name: ResourceName
          in: query
          required: true
          description: The Amazon DocumentDB resource that the tags are added to. This value is an Amazon Resource Name (ARN).
          type: string
        - name: Tags
          in: query
          required: true
          description: 'The tags to be assigned to the Amazon DocumentDB resource. '
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddTagsToResource
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: AddTagsToResource
      operationId: POST AddTagsToResource
      description: Adds metadata tags to an Amazon DocumentDB resource. You can use these tags with cost allocation reporting to track costs that are associated with Amazon DocumentDB resources. or in a <code>Condition</code> statement in an AWS Identity and Access Management (IAM) policy for Amazon DocumentDB.
      responses:
        '200':
          description: Success
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
      parameters:
        - name: ResourceName
          in: formData
          required: true
          description: The Amazon DocumentDB resource that the tags are added to. This value is an Amazon Resource Name (ARN).
          type: string
        - name: Tags
          in: formData
          required: true
          description: 'The tags to be assigned to the Amazon DocumentDB resource. '
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddTagsToResource
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=ApplyPendingMaintenanceAction':
    get:
      x-aws-operation-name: ApplyPendingMaintenanceAction
      operationId: GET ApplyPendingMaintenanceAction
      description: 'Applies a pending maintenance action to a resource (for example, to a DB instance).'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplyPendingMaintenanceActionResult'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
      parameters:
        - name: ResourceIdentifier
          in: query
          required: true
          description: The Amazon Resource Name (ARN) of the resource that the pending maintenance action applies to.
          type: string
        - name: ApplyAction
          in: query
          required: true
          description: '<p>The pending maintenance action to apply to this resource.</p> <p>Valid values: <code>system-update</code>, <code>db-upgrade</code> </p>'
          type: string
        - name: OptInType
          in: query
          required: true
          description: '<p>A value that specifies the type of opt-in request or undoes an opt-in request. An opt-in request of type <code>immediate</code> can''t be undone.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ApplyPendingMaintenanceAction
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: ApplyPendingMaintenanceAction
      operationId: POST ApplyPendingMaintenanceAction
      description: 'Applies a pending maintenance action to a resource (for example, to a DB instance).'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplyPendingMaintenanceActionResult'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
      parameters:
        - name: ResourceIdentifier
          in: formData
          required: true
          description: The Amazon Resource Name (ARN) of the resource that the pending maintenance action applies to.
          type: string
        - name: ApplyAction
          in: formData
          required: true
          description: '<p>The pending maintenance action to apply to this resource.</p> <p>Valid values: <code>system-update</code>, <code>db-upgrade</code> </p>'
          type: string
        - name: OptInType
          in: formData
          required: true
          description: '<p>A value that specifies the type of opt-in request or undoes an opt-in request. An opt-in request of type <code>immediate</code> can''t be undone.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ApplyPendingMaintenanceAction
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=CopyDBClusterParameterGroup':
    get:
      x-aws-operation-name: CopyDBClusterParameterGroup
      operationId: GET CopyDBClusterParameterGroup
      description: Copies the specified cluster parameter group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterParameterGroupResult'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '481':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '482':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      parameters:
        - name: SourceDBClusterParameterGroupIdentifier
          in: query
          required: true
          description: '<p>The identifier or Amazon Resource Name (ARN) for the source cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid cluster parameter group.</p> </li> <li> <p>If the source cluster parameter group is in the same AWS Region as the copy, specify a valid parameter group identifier; for example, <code>my-db-cluster-param-group</code>, or a valid ARN.</p> </li> <li> <p>If the source parameter group is in a different AWS Region than the copy, specify a valid cluster parameter group ARN; for example, <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p> </li> </ul>'
          type: string
        - name: TargetDBClusterParameterGroupIdentifier
          in: query
          required: true
          description: '<p>The identifier for the copied cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank.</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-param-group1</code> </p>'
          type: string
        - name: TargetDBClusterParameterGroupDescription
          in: query
          required: true
          description: A description for the copied cluster parameter group.
          type: string
        - name: Tags
          in: query
          required: false
          description: The tags that are to be assigned to the parameter group.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopyDBClusterParameterGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CopyDBClusterParameterGroup
      operationId: POST CopyDBClusterParameterGroup
      description: Copies the specified cluster parameter group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterParameterGroupResult'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '481':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '482':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      parameters:
        - name: SourceDBClusterParameterGroupIdentifier
          in: formData
          required: true
          description: '<p>The identifier or Amazon Resource Name (ARN) for the source cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid cluster parameter group.</p> </li> <li> <p>If the source cluster parameter group is in the same AWS Region as the copy, specify a valid parameter group identifier; for example, <code>my-db-cluster-param-group</code>, or a valid ARN.</p> </li> <li> <p>If the source parameter group is in a different AWS Region than the copy, specify a valid cluster parameter group ARN; for example, <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p> </li> </ul>'
          type: string
        - name: TargetDBClusterParameterGroupIdentifier
          in: formData
          required: true
          description: '<p>The identifier for the copied cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank.</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-param-group1</code> </p>'
          type: string
        - name: TargetDBClusterParameterGroupDescription
          in: formData
          required: true
          description: A description for the copied cluster parameter group.
          type: string
        - name: Tags
          in: formData
          required: false
          description: The tags that are to be assigned to the parameter group.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopyDBClusterParameterGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=CopyDBClusterSnapshot':
    get:
      x-aws-operation-name: CopyDBClusterSnapshot
      operationId: GET CopyDBClusterSnapshot
      description: '<p>Copies a snapshot of a cluster.</p> <p>To copy a cluster snapshot from a shared manual cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the shared cluster snapshot.</p> <p>To cancel the copy operation after it is in progress, delete the target cluster snapshot identified by <code>TargetDBClusterSnapshotIdentifier</code> while that DB cluster snapshot is in the <i>copying</i> status.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterSnapshotResult'
        '480':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '481':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
        '482':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '483':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '484':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '485':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      parameters:
        - name: SourceDBClusterSnapshotIdentifier
          in: query
          required: true
          description: '<p>The identifier of the cluster snapshot to copy. This parameter is not case sensitive.</p> <p>You can''t copy an encrypted, shared cluster snapshot from one AWS Region to another.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot in the "available" state.</p> </li> <li> <p>If the source snapshot is in the same AWS Region as the copy, specify a valid snapshot identifier.</p> </li> <li> <p>If the source snapshot is in a different AWS Region than the copy, specify a valid cluster snapshot ARN.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>'
          type: string
        - name: TargetDBClusterSnapshotIdentifier
          in: query
          required: true
          description: '<p>The identifier of the new cluster snapshot to create from the source cluster snapshot. This parameter is not case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot2</code> </p>'
          type: string
        - name: KmsKeyId
          in: query
          required: false
          description: '<p>The AWS KMS key ID for an encrypted cluster snapshot. The AWS KMS key ID is the Amazon Resource Name (ARN), AWS KMS key identifier, or the AWS KMS key alias for the AWS KMS encryption key. </p> <p>If you copy an encrypted cluster snapshot from your AWS account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new AWS KMS encryption key. If you don''t specify a value for <code>KmsKeyId</code>, then the copy of the cluster snapshot is encrypted with the same AWS KMS key as the source cluster snapshot. </p> <p>If you copy an encrypted cluster snapshot that is shared from another AWS account, then you must specify a value for <code>KmsKeyId</code>. </p> <p>To copy an encrypted cluster snapshot to another AWS Region, set <code>KmsKeyId</code> to the AWS KMS key ID that you want to use to encrypt the copy of the cluster snapshot in the destination Region. AWS KMS encryption keys are specific to the AWS Region that they are created in, and you can''t use encryption keys from one Region in another Region.</p> <p>If you copy an unencrypted cluster snapshot and specify a value for the <code>KmsKeyId</code> parameter, an error is returned.</p>'
          type: string
        - name: PreSignedUrl
          in: query
          required: false
          description: '<p>The URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> API action in the AWS Region that contains the source cluster snapshot to copy. You must use the <code>PreSignedUrl</code> parameter when copying an encrypted cluster snapshot from another AWS Region.</p> <p>The presigned URL must be a valid request for the <code>CopyDBSClusterSnapshot</code> API action that can be executed in the source AWS Region that contains the encrypted DB cluster snapshot to be copied. The presigned URL request must contain the following parameter values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS KMS key identifier for the key to use to encrypt the copy of the cluster snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> action that is called in the destination AWS Region, and the action contained in the presigned URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the AWS Region that the DB cluster snapshot will be created in.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The cluster snapshot identifier for the encrypted cluster snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, if you are copying an encrypted cluster snapshot from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:my-cluster-snapshot-20161115</code>.</p> </li> </ul>'
          type: string
        - name: CopyTags
          in: query
          required: false
          description: 'Set to <code>true</code> to copy all tags from the source cluster snapshot to the target cluster snapshot, and otherwise <code>false</code>. The default is <code>false</code>.'
          type: boolean
        - name: Tags
          in: query
          required: false
          description: The tags to be assigned to the cluster snapshot.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopyDBClusterSnapshot
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CopyDBClusterSnapshot
      operationId: POST CopyDBClusterSnapshot
      description: '<p>Copies a snapshot of a cluster.</p> <p>To copy a cluster snapshot from a shared manual cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the shared cluster snapshot.</p> <p>To cancel the copy operation after it is in progress, delete the target cluster snapshot identified by <code>TargetDBClusterSnapshotIdentifier</code> while that DB cluster snapshot is in the <i>copying</i> status.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterSnapshotResult'
        '480':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '481':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
        '482':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '483':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '484':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '485':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      parameters:
        - name: SourceDBClusterSnapshotIdentifier
          in: formData
          required: true
          description: '<p>The identifier of the cluster snapshot to copy. This parameter is not case sensitive.</p> <p>You can''t copy an encrypted, shared cluster snapshot from one AWS Region to another.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot in the "available" state.</p> </li> <li> <p>If the source snapshot is in the same AWS Region as the copy, specify a valid snapshot identifier.</p> </li> <li> <p>If the source snapshot is in a different AWS Region than the copy, specify a valid cluster snapshot ARN.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>'
          type: string
        - name: TargetDBClusterSnapshotIdentifier
          in: formData
          required: true
          description: '<p>The identifier of the new cluster snapshot to create from the source cluster snapshot. This parameter is not case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot2</code> </p>'
          type: string
        - name: KmsKeyId
          in: formData
          required: false
          description: '<p>The AWS KMS key ID for an encrypted cluster snapshot. The AWS KMS key ID is the Amazon Resource Name (ARN), AWS KMS key identifier, or the AWS KMS key alias for the AWS KMS encryption key. </p> <p>If you copy an encrypted cluster snapshot from your AWS account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new AWS KMS encryption key. If you don''t specify a value for <code>KmsKeyId</code>, then the copy of the cluster snapshot is encrypted with the same AWS KMS key as the source cluster snapshot. </p> <p>If you copy an encrypted cluster snapshot that is shared from another AWS account, then you must specify a value for <code>KmsKeyId</code>. </p> <p>To copy an encrypted cluster snapshot to another AWS Region, set <code>KmsKeyId</code> to the AWS KMS key ID that you want to use to encrypt the copy of the cluster snapshot in the destination Region. AWS KMS encryption keys are specific to the AWS Region that they are created in, and you can''t use encryption keys from one Region in another Region.</p> <p>If you copy an unencrypted cluster snapshot and specify a value for the <code>KmsKeyId</code> parameter, an error is returned.</p>'
          type: string
        - name: PreSignedUrl
          in: formData
          required: false
          description: '<p>The URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> API action in the AWS Region that contains the source cluster snapshot to copy. You must use the <code>PreSignedUrl</code> parameter when copying an encrypted cluster snapshot from another AWS Region.</p> <p>The presigned URL must be a valid request for the <code>CopyDBSClusterSnapshot</code> API action that can be executed in the source AWS Region that contains the encrypted DB cluster snapshot to be copied. The presigned URL request must contain the following parameter values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS KMS key identifier for the key to use to encrypt the copy of the cluster snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> action that is called in the destination AWS Region, and the action contained in the presigned URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the AWS Region that the DB cluster snapshot will be created in.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The cluster snapshot identifier for the encrypted cluster snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, if you are copying an encrypted cluster snapshot from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:my-cluster-snapshot-20161115</code>.</p> </li> </ul>'
          type: string
        - name: CopyTags
          in: formData
          required: false
          description: 'Set to <code>true</code> to copy all tags from the source cluster snapshot to the target cluster snapshot, and otherwise <code>false</code>. The default is <code>false</code>.'
          type: boolean
        - name: Tags
          in: formData
          required: false
          description: The tags to be assigned to the cluster snapshot.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopyDBClusterSnapshot
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=CreateDBCluster':
    get:
      x-aws-operation-name: CreateDBCluster
      operationId: GET CreateDBCluster
      description: Creates a new Amazon DocumentDB cluster.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterResult'
        '480':
          description: DBClusterAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterAlreadyExistsFault'
        '481':
          description: InsufficientStorageClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientStorageClusterCapacityFault'
        '482':
          description: DBClusterQuotaExceededFault
          schema:
            $ref: '#/definitions/DBClusterQuotaExceededFault'
        '483':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '484':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '485':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '486':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '487':
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        '488':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '489':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '490':
          description: DBClusterParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterParameterGroupNotFoundFault'
        '491':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '492':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '493':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '494':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
      parameters:
        - name: AvailabilityZones
          in: query
          required: false
          description: A list of Amazon EC2 Availability Zones that instances in the cluster can be created in.
          type: array
          items:
            type: string
        - name: BackupRetentionPeriod
          in: query
          required: false
          description: '<p>The number of days for which automated backups are retained. You must specify a minimum value of 1.</p> <p>Default: 1</p> <p>Constraints:</p> <ul> <li> <p>Must be a value from 1 to 35.</p> </li> </ul>'
          type: integer
        - name: DBClusterIdentifier
          in: query
          required: true
          description: '<p>The cluster identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster</code> </p>'
          type: string
        - name: DBClusterParameterGroupName
          in: query
          required: false
          description: ' The name of the cluster parameter group to associate with this cluster.'
          type: string
        - name: VpcSecurityGroupIds
          in: query
          required: false
          description: A list of EC2 VPC security groups to associate with this cluster.
          type: array
          items:
            type: string
        - name: DBSubnetGroupName
          in: query
          required: false
          description: '<p>A subnet group to associate with this cluster.</p> <p>Constraints: Must match the name of an existing <code>DBSubnetGroup</code>. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>'
          type: string
        - name: Engine
          in: query
          required: true
          description: '<p>The name of the database engine to be used for this cluster.</p> <p>Valid values: <code>docdb</code> </p>'
          type: string
        - name: EngineVersion
          in: query
          required: false
          description: The version number of the database engine to use.
          type: string
        - name: Port
          in: query
          required: false
          description: The port number on which the instances in the cluster accept connections.
          type: integer
        - name: MasterUsername
          in: query
          required: true
          description: '<p>The name of the master user for the cluster.</p> <p>Constraints:</p> <ul> <li> <p>Must be from 1 to 63 letters or numbers.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot be a reserved word for the chosen database engine.</p> </li> </ul>'
          type: string
        - name: MasterUserPassword
          in: query
          required: true
          description: '<p>The password for the master database user. This password can contain any printable ASCII character except forward slash (/), double quote ("), or the "at" symbol (@).</p> <p>Constraints: Must contain from 8 to 100 characters.</p>'
          type: string
        - name: PreferredBackupWindow
          in: query
          required: false
          description: '<p>The daily time range during which automated backups are created if automated backups are enabled using the <code>BackupRetentionPeriod</code> parameter. </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region. </p> <p>Constraints:</p> <ul> <li> <p>Must be in the format <code>hh24:mi-hh24:mi</code>.</p> </li> <li> <p>Must be in Universal Coordinated Time (UTC).</p> </li> <li> <p>Must not conflict with the preferred maintenance window.</p> </li> <li> <p>Must be at least 30 minutes.</p> </li> </ul>'
          type: string
        - name: PreferredMaintenanceWindow
          in: query
          required: false
          description: '<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p>Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region, occurring on a random day of the week.</p> <p>Valid days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>'
          type: string
        - name: Tags
          in: query
          required: false
          description: The tags to be assigned to the cluster.
          type: array
          items:
            type: string
        - name: StorageEncrypted
          in: query
          required: false
          description: Specifies whether the cluster is encrypted.
          type: boolean
        - name: KmsKeyId
          in: query
          required: false
          description: '<p>The AWS KMS key identifier for an encrypted cluster.</p> <p>The AWS KMS key identifier is the Amazon Resource Name (ARN) for the AWS KMS encryption key. If you are creating a cluster using the same AWS account that owns the AWS KMS encryption key that is used to encrypt the new cluster, you can use the AWS KMS key alias instead of the ARN for the AWS KMS encryption key.</p> <p>If an encryption key is not specified in <code>KmsKeyId</code>:</p> <ul> <li> <p>If <code>ReplicationSourceIdentifier</code> identifies an encrypted source, then Amazon DocumentDB uses the encryption key that is used to encrypt the source. Otherwise, Amazon DocumentDB uses your default encryption key. </p> </li> <li> <p>If the <code>StorageEncrypted</code> parameter is <code>true</code> and <code>ReplicationSourceIdentifier</code> is not specified, Amazon DocumentDB uses your default encryption key.</p> </li> </ul> <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.</p> <p>If you create a replica of an encrypted cluster in another AWS Region, you must set <code>KmsKeyId</code> to a KMS key ID that is valid in the destination AWS Region. This key is used to encrypt the replica in that AWS Region.</p>'
          type: string
        - name: EnableCloudwatchLogsExports
          in: query
          required: false
          description: A list of log types that need to be enabled for exporting to Amazon CloudWatch Logs.
          type: array
          items:
            type: string
        - name: DeletionProtection
          in: query
          required: false
          description: 'Specifies whether this cluster can be deleted. If <code>DeletionProtection</code> is enabled, the cluster cannot be deleted unless it is modified and <code>DeletionProtection</code> is disabled. <code>DeletionProtection</code> protects clusters from being accidentally deleted.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBCluster
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateDBCluster
      operationId: POST CreateDBCluster
      description: Creates a new Amazon DocumentDB cluster.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterResult'
        '480':
          description: DBClusterAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterAlreadyExistsFault'
        '481':
          description: InsufficientStorageClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientStorageClusterCapacityFault'
        '482':
          description: DBClusterQuotaExceededFault
          schema:
            $ref: '#/definitions/DBClusterQuotaExceededFault'
        '483':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '484':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '485':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '486':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '487':
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        '488':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '489':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '490':
          description: DBClusterParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterParameterGroupNotFoundFault'
        '491':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '492':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '493':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '494':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
      parameters:
        - name: AvailabilityZones
          in: formData
          required: false
          description: A list of Amazon EC2 Availability Zones that instances in the cluster can be created in.
          type: array
          items:
            type: string
        - name: BackupRetentionPeriod
          in: formData
          required: false
          description: '<p>The number of days for which automated backups are retained. You must specify a minimum value of 1.</p> <p>Default: 1</p> <p>Constraints:</p> <ul> <li> <p>Must be a value from 1 to 35.</p> </li> </ul>'
          type: integer
        - name: DBClusterIdentifier
          in: formData
          required: true
          description: '<p>The cluster identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster</code> </p>'
          type: string
        - name: DBClusterParameterGroupName
          in: formData
          required: false
          description: ' The name of the cluster parameter group to associate with this cluster.'
          type: string
        - name: VpcSecurityGroupIds
          in: formData
          required: false
          description: A list of EC2 VPC security groups to associate with this cluster.
          type: array
          items:
            type: string
        - name: DBSubnetGroupName
          in: formData
          required: false
          description: '<p>A subnet group to associate with this cluster.</p> <p>Constraints: Must match the name of an existing <code>DBSubnetGroup</code>. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>'
          type: string
        - name: Engine
          in: formData
          required: true
          description: '<p>The name of the database engine to be used for this cluster.</p> <p>Valid values: <code>docdb</code> </p>'
          type: string
        - name: EngineVersion
          in: formData
          required: false
          description: The version number of the database engine to use.
          type: string
        - name: Port
          in: formData
          required: false
          description: The port number on which the instances in the cluster accept connections.
          type: integer
        - name: MasterUsername
          in: formData
          required: true
          description: '<p>The name of the master user for the cluster.</p> <p>Constraints:</p> <ul> <li> <p>Must be from 1 to 63 letters or numbers.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot be a reserved word for the chosen database engine.</p> </li> </ul>'
          type: string
        - name: MasterUserPassword
          in: formData
          required: true
          description: '<p>The password for the master database user. This password can contain any printable ASCII character except forward slash (/), double quote ("), or the "at" symbol (@).</p> <p>Constraints: Must contain from 8 to 100 characters.</p>'
          type: string
        - name: PreferredBackupWindow
          in: formData
          required: false
          description: '<p>The daily time range during which automated backups are created if automated backups are enabled using the <code>BackupRetentionPeriod</code> parameter. </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region. </p> <p>Constraints:</p> <ul> <li> <p>Must be in the format <code>hh24:mi-hh24:mi</code>.</p> </li> <li> <p>Must be in Universal Coordinated Time (UTC).</p> </li> <li> <p>Must not conflict with the preferred maintenance window.</p> </li> <li> <p>Must be at least 30 minutes.</p> </li> </ul>'
          type: string
        - name: PreferredMaintenanceWindow
          in: formData
          required: false
          description: '<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p>Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region, occurring on a random day of the week.</p> <p>Valid days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>'
          type: string
        - name: Tags
          in: formData
          required: false
          description: The tags to be assigned to the cluster.
          type: array
          items:
            type: string
        - name: StorageEncrypted
          in: formData
          required: false
          description: Specifies whether the cluster is encrypted.
          type: boolean
        - name: KmsKeyId
          in: formData
          required: false
          description: '<p>The AWS KMS key identifier for an encrypted cluster.</p> <p>The AWS KMS key identifier is the Amazon Resource Name (ARN) for the AWS KMS encryption key. If you are creating a cluster using the same AWS account that owns the AWS KMS encryption key that is used to encrypt the new cluster, you can use the AWS KMS key alias instead of the ARN for the AWS KMS encryption key.</p> <p>If an encryption key is not specified in <code>KmsKeyId</code>:</p> <ul> <li> <p>If <code>ReplicationSourceIdentifier</code> identifies an encrypted source, then Amazon DocumentDB uses the encryption key that is used to encrypt the source. Otherwise, Amazon DocumentDB uses your default encryption key. </p> </li> <li> <p>If the <code>StorageEncrypted</code> parameter is <code>true</code> and <code>ReplicationSourceIdentifier</code> is not specified, Amazon DocumentDB uses your default encryption key.</p> </li> </ul> <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.</p> <p>If you create a replica of an encrypted cluster in another AWS Region, you must set <code>KmsKeyId</code> to a KMS key ID that is valid in the destination AWS Region. This key is used to encrypt the replica in that AWS Region.</p>'
          type: string
        - name: EnableCloudwatchLogsExports
          in: formData
          required: false
          description: A list of log types that need to be enabled for exporting to Amazon CloudWatch Logs.
          type: array
          items:
            type: string
        - name: DeletionProtection
          in: formData
          required: false
          description: 'Specifies whether this cluster can be deleted. If <code>DeletionProtection</code> is enabled, the cluster cannot be deleted unless it is modified and <code>DeletionProtection</code> is disabled. <code>DeletionProtection</code> protects clusters from being accidentally deleted.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBCluster
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=CreateDBClusterParameterGroup':
    get:
      x-aws-operation-name: CreateDBClusterParameterGroup
      operationId: GET CreateDBClusterParameterGroup
      description: '<p>Creates a new cluster parameter group.</p> <p>Parameters in a cluster parameter group apply to all of the instances in a DB cluster.</p> <p>A cluster parameter group is initially created with the default parameters for the database engine used by instances in the cluster. To provide custom values for any of the parameters, you must modify the group after you create it. After you create a DB cluster parameter group, you must associate it with your cluster. For the new DB cluster parameter group and associated settings to take effect, you must then reboot the instances in the cluster without failover.</p> <important> <p>After you create a cluster parameter group, you should wait at least 5 minutes before creating your first cluster that uses that cluster parameter group as the default parameter group. This allows Amazon DocumentDB to fully complete the create action before the cluster parameter group is used as the default for a new cluster. This step is especially important for parameters that are critical when creating the default database for a cluster, such as the character set for the default database defined by the <code>character_set_database</code> parameter.</p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterParameterGroupResult'
        '480':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '481':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      parameters:
        - name: DBClusterParameterGroupName
          in: query
          required: true
          description: '<p>The name of the cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must match the name of an existing <code>DBClusterParameterGroup</code>.</p> </li> </ul> <note> <p>This value is stored as a lowercase string.</p> </note>'
          type: string
        - name: DBParameterGroupFamily
          in: query
          required: true
          description: The cluster parameter group family name.
          type: string
        - name: Description
          in: query
          required: true
          description: The description for the cluster parameter group.
          type: string
        - name: Tags
          in: query
          required: false
          description: The tags to be assigned to the cluster parameter group.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBClusterParameterGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateDBClusterParameterGroup
      operationId: POST CreateDBClusterParameterGroup
      description: '<p>Creates a new cluster parameter group.</p> <p>Parameters in a cluster parameter group apply to all of the instances in a DB cluster.</p> <p>A cluster parameter group is initially created with the default parameters for the database engine used by instances in the cluster. To provide custom values for any of the parameters, you must modify the group after you create it. After you create a DB cluster parameter group, you must associate it with your cluster. For the new DB cluster parameter group and associated settings to take effect, you must then reboot the instances in the cluster without failover.</p> <important> <p>After you create a cluster parameter group, you should wait at least 5 minutes before creating your first cluster that uses that cluster parameter group as the default parameter group. This allows Amazon DocumentDB to fully complete the create action before the cluster parameter group is used as the default for a new cluster. This step is especially important for parameters that are critical when creating the default database for a cluster, such as the character set for the default database defined by the <code>character_set_database</code> parameter.</p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterParameterGroupResult'
        '480':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '481':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      parameters:
        - name: DBClusterParameterGroupName
          in: formData
          required: true
          description: '<p>The name of the cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must match the name of an existing <code>DBClusterParameterGroup</code>.</p> </li> </ul> <note> <p>This value is stored as a lowercase string.</p> </note>'
          type: string
        - name: DBParameterGroupFamily
          in: formData
          required: true
          description: The cluster parameter group family name.
          type: string
        - name: Description
          in: formData
          required: true
          description: The description for the cluster parameter group.
          type: string
        - name: Tags
          in: formData
          required: false
          description: The tags to be assigned to the cluster parameter group.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBClusterParameterGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=CreateDBClusterSnapshot':
    get:
      x-aws-operation-name: CreateDBClusterSnapshot
      operationId: GET CreateDBClusterSnapshot
      description: 'Creates a snapshot of a cluster. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterSnapshotResult'
        '480':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
      parameters:
        - name: DBClusterSnapshotIdentifier
          in: query
          required: true
          description: '<p>The identifier of the cluster snapshot. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>'
          type: string
        - name: DBClusterIdentifier
          in: query
          required: true
          description: '<p>The identifier of the cluster to create a snapshot for. This parameter is not case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match the identifier of an existing <code>DBCluster</code>.</p> </li> </ul> <p>Example: <code>my-cluster</code> </p>'
          type: string
        - name: Tags
          in: query
          required: false
          description: The tags to be assigned to the cluster snapshot.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBClusterSnapshot
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateDBClusterSnapshot
      operationId: POST CreateDBClusterSnapshot
      description: 'Creates a snapshot of a cluster. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterSnapshotResult'
        '480':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
      parameters:
        - name: DBClusterSnapshotIdentifier
          in: formData
          required: true
          description: '<p>The identifier of the cluster snapshot. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>'
          type: string
        - name: DBClusterIdentifier
          in: formData
          required: true
          description: '<p>The identifier of the cluster to create a snapshot for. This parameter is not case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match the identifier of an existing <code>DBCluster</code>.</p> </li> </ul> <p>Example: <code>my-cluster</code> </p>'
          type: string
        - name: Tags
          in: formData
          required: false
          description: The tags to be assigned to the cluster snapshot.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBClusterSnapshot
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=CreateDBInstance':
    get:
      x-aws-operation-name: CreateDBInstance
      operationId: GET CreateDBInstance
      description: Creates a new instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBInstanceResult'
        '480':
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        '481':
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        '482':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '483':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '484':
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        '485':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '486':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '487':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '488':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '489':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '490':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '491':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '492':
          description: StorageTypeNotSupportedFault
          schema:
            $ref: '#/definitions/StorageTypeNotSupportedFault'
        '493':
          description: AuthorizationNotFoundFault
          schema:
            $ref: '#/definitions/AuthorizationNotFoundFault'
        '494':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      parameters:
        - name: DBInstanceIdentifier
          in: query
          required: true
          description: '<p>The instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>mydbinstance</code> </p>'
          type: string
        - name: DBInstanceClass
          in: query
          required: true
          description: 'The compute and memory capacity of the instance; for example, <code>db.r5.large</code>. '
          type: string
        - name: Engine
          in: query
          required: true
          description: '<p>The name of the database engine to be used for this instance.</p> <p>Valid value: <code>docdb</code> </p>'
          type: string
        - name: AvailabilityZone
          in: query
          required: false
          description: '<p> The Amazon EC2 Availability Zone that the instance is created in.</p> <p>Default: A random, system-chosen Availability Zone in the endpoint''s AWS Region.</p> <p> Example: <code>us-east-1d</code> </p> <p> Constraint: The <code>AvailabilityZone</code> parameter can''t be specified if the <code>MultiAZ</code> parameter is set to <code>true</code>. The specified Availability Zone must be in the same AWS Region as the current endpoint. </p>'
          type: string
        - name: PreferredMaintenanceWindow
          in: query
          required: false
          description: '<p>The time range each week during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region, occurring on a random day of the week. </p> <p>Valid days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>'
          type: string
        - name: AutoMinorVersionUpgrade
          in: query
          required: false
          description: '<p>Indicates that minor engine upgrades are applied automatically to the instance during the maintenance window.</p> <p>Default: <code>true</code> </p>'
          type: boolean
        - name: Tags
          in: query
          required: false
          description: The tags to be assigned to the instance. You can assign up to 10 tags to an instance.
          type: array
          items:
            type: string
        - name: DBClusterIdentifier
          in: query
          required: true
          description: The identifier of the cluster that the instance will belong to.
          type: string
        - name: PromotionTier
          in: query
          required: false
          description: '<p>A value that specifies the order in which an Amazon DocumentDB replica is promoted to the primary instance after a failure of the existing primary instance.</p> <p>Default: 1</p> <p>Valid values: 0-15</p>'
          type: integer
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBInstance
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateDBInstance
      operationId: POST CreateDBInstance
      description: Creates a new instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBInstanceResult'
        '480':
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        '481':
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        '482':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '483':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '484':
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        '485':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '486':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '487':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '488':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '489':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '490':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '491':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '492':
          description: StorageTypeNotSupportedFault
          schema:
            $ref: '#/definitions/StorageTypeNotSupportedFault'
        '493':
          description: AuthorizationNotFoundFault
          schema:
            $ref: '#/definitions/AuthorizationNotFoundFault'
        '494':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      parameters:
        - name: DBInstanceIdentifier
          in: formData
          required: true
          description: '<p>The instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>mydbinstance</code> </p>'
          type: string
        - name: DBInstanceClass
          in: formData
          required: true
          description: 'The compute and memory capacity of the instance; for example, <code>db.r5.large</code>. '
          type: string
        - name: Engine
          in: formData
          required: true
          description: '<p>The name of the database engine to be used for this instance.</p> <p>Valid value: <code>docdb</code> </p>'
          type: string
        - name: AvailabilityZone
          in: formData
          required: false
          description: '<p> The Amazon EC2 Availability Zone that the instance is created in.</p> <p>Default: A random, system-chosen Availability Zone in the endpoint''s AWS Region.</p> <p> Example: <code>us-east-1d</code> </p> <p> Constraint: The <code>AvailabilityZone</code> parameter can''t be specified if the <code>MultiAZ</code> parameter is set to <code>true</code>. The specified Availability Zone must be in the same AWS Region as the current endpoint. </p>'
          type: string
        - name: PreferredMaintenanceWindow
          in: formData
          required: false
          description: '<p>The time range each week during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region, occurring on a random day of the week. </p> <p>Valid days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>'
          type: string
        - name: AutoMinorVersionUpgrade
          in: formData
          required: false
          description: '<p>Indicates that minor engine upgrades are applied automatically to the instance during the maintenance window.</p> <p>Default: <code>true</code> </p>'
          type: boolean
        - name: Tags
          in: formData
          required: false
          description: The tags to be assigned to the instance. You can assign up to 10 tags to an instance.
          type: array
          items:
            type: string
        - name: DBClusterIdentifier
          in: formData
          required: true
          description: The identifier of the cluster that the instance will belong to.
          type: string
        - name: PromotionTier
          in: formData
          required: false
          description: '<p>A value that specifies the order in which an Amazon DocumentDB replica is promoted to the primary instance after a failure of the existing primary instance.</p> <p>Default: 1</p> <p>Valid values: 0-15</p>'
          type: integer
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBInstance
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=CreateDBSubnetGroup':
    get:
      x-aws-operation-name: CreateDBSubnetGroup
      operationId: GET CreateDBSubnetGroup
      description: Creates a new subnet group. subnet groups must contain at least one subnet in at least two Availability Zones in the AWS Region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSubnetGroupResult'
        '480':
          description: DBSubnetGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSubnetGroupAlreadyExistsFault'
        '481':
          description: DBSubnetGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetGroupQuotaExceededFault'
        '482':
          description: DBSubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetQuotaExceededFault'
        '483':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '484':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
      parameters:
        - name: DBSubnetGroupName
          in: query
          required: true
          description: '<p>The name for the subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 letters, numbers, periods, underscores, spaces, or hyphens. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>'
          type: string
        - name: DBSubnetGroupDescription
          in: query
          required: true
          description: The description for the subnet group.
          type: string
        - name: SubnetIds
          in: query
          required: true
          description: The Amazon EC2 subnet IDs for the subnet group.
          type: array
          items:
            type: string
        - name: Tags
          in: query
          required: false
          description: The tags to be assigned to the subnet group.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBSubnetGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateDBSubnetGroup
      operationId: POST CreateDBSubnetGroup
      description: Creates a new subnet group. subnet groups must contain at least one subnet in at least two Availability Zones in the AWS Region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSubnetGroupResult'
        '480':
          description: DBSubnetGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSubnetGroupAlreadyExistsFault'
        '481':
          description: DBSubnetGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetGroupQuotaExceededFault'
        '482':
          description: DBSubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetQuotaExceededFault'
        '483':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '484':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
      parameters:
        - name: DBSubnetGroupName
          in: formData
          required: true
          description: '<p>The name for the subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 letters, numbers, periods, underscores, spaces, or hyphens. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>'
          type: string
        - name: DBSubnetGroupDescription
          in: formData
          required: true
          description: The description for the subnet group.
          type: string
        - name: SubnetIds
          in: formData
          required: true
          description: The Amazon EC2 subnet IDs for the subnet group.
          type: array
          items:
            type: string
        - name: Tags
          in: formData
          required: false
          description: The tags to be assigned to the subnet group.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBSubnetGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=DeleteDBCluster':
    get:
      x-aws-operation-name: DeleteDBCluster
      operationId: GET DeleteDBCluster
      description: '<p>Deletes a previously provisioned cluster. When you delete a cluster, all automated backups for that cluster are deleted and can''t be recovered. Manual DB cluster snapshots of the specified cluster are not deleted.</p> <p/>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBClusterResult'
        '480':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
      parameters:
        - name: DBClusterIdentifier
          in: query
          required: true
          description: '<p>The cluster identifier for the cluster to be deleted. This parameter isn''t case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match an existing <code>DBClusterIdentifier</code>.</p> </li> </ul>'
          type: string
        - name: SkipFinalSnapshot
          in: query
          required: false
          description: '<p> Determines whether a final cluster snapshot is created before the cluster is deleted. If <code>true</code> is specified, no cluster snapshot is created. If <code>false</code> is specified, a cluster snapshot is created before the DB cluster is deleted. </p> <note> <p>If <code>SkipFinalSnapshot</code> is <code>false</code>, you must specify a <code>FinalDBSnapshotIdentifier</code> parameter.</p> </note> <p>Default: <code>false</code> </p>'
          type: boolean
        - name: FinalDBSnapshotIdentifier
          in: query
          required: false
          description: '<p> The cluster snapshot identifier of the new cluster snapshot created when <code>SkipFinalSnapshot</code> is set to <code>false</code>. </p> <note> <p> Specifying this parameter and also setting the <code>SkipFinalShapshot</code> parameter to <code>true</code> results in an error. </p> </note> <p>Constraints:</p> <ul> <li> <p>Must be from 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBCluster
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteDBCluster
      operationId: POST DeleteDBCluster
      description: '<p>Deletes a previously provisioned cluster. When you delete a cluster, all automated backups for that cluster are deleted and can''t be recovered. Manual DB cluster snapshots of the specified cluster are not deleted.</p> <p/>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBClusterResult'
        '480':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
      parameters:
        - name: DBClusterIdentifier
          in: formData
          required: true
          description: '<p>The cluster identifier for the cluster to be deleted. This parameter isn''t case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match an existing <code>DBClusterIdentifier</code>.</p> </li> </ul>'
          type: string
        - name: SkipFinalSnapshot
          in: formData
          required: false
          description: '<p> Determines whether a final cluster snapshot is created before the cluster is deleted. If <code>true</code> is specified, no cluster snapshot is created. If <code>false</code> is specified, a cluster snapshot is created before the DB cluster is deleted. </p> <note> <p>If <code>SkipFinalSnapshot</code> is <code>false</code>, you must specify a <code>FinalDBSnapshotIdentifier</code> parameter.</p> </note> <p>Default: <code>false</code> </p>'
          type: boolean
        - name: FinalDBSnapshotIdentifier
          in: formData
          required: false
          description: '<p> The cluster snapshot identifier of the new cluster snapshot created when <code>SkipFinalSnapshot</code> is set to <code>false</code>. </p> <note> <p> Specifying this parameter and also setting the <code>SkipFinalShapshot</code> parameter to <code>true</code> results in an error. </p> </note> <p>Constraints:</p> <ul> <li> <p>Must be from 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBCluster
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=DeleteDBClusterParameterGroup':
    get:
      x-aws-operation-name: DeleteDBClusterParameterGroup
      operationId: GET DeleteDBClusterParameterGroup
      description: Deletes a specified cluster parameter group. The cluster parameter group to be deleted can't be associated with any clusters.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBParameterGroupStateFault'
        '481':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      parameters:
        - name: DBClusterParameterGroupName
          in: query
          required: true
          description: '<p>The name of the cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must be the name of an existing cluster parameter group.</p> </li> <li> <p>You can''t delete a default cluster parameter group.</p> </li> <li> <p>Cannot be associated with any clusters.</p> </li> </ul>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBClusterParameterGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteDBClusterParameterGroup
      operationId: POST DeleteDBClusterParameterGroup
      description: Deletes a specified cluster parameter group. The cluster parameter group to be deleted can't be associated with any clusters.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBParameterGroupStateFault'
        '481':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      parameters:
        - name: DBClusterParameterGroupName
          in: formData
          required: true
          description: '<p>The name of the cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must be the name of an existing cluster parameter group.</p> </li> <li> <p>You can''t delete a default cluster parameter group.</p> </li> <li> <p>Cannot be associated with any clusters.</p> </li> </ul>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBClusterParameterGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=DeleteDBClusterSnapshot':
    get:
      x-aws-operation-name: DeleteDBClusterSnapshot
      operationId: GET DeleteDBClusterSnapshot
      description: '<p>Deletes a cluster snapshot. If the snapshot is being copied, the copy operation is terminated.</p> <note> <p>The cluster snapshot must be in the <code>available</code> state to be deleted.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBClusterSnapshotResult'
        '480':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '481':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
      parameters:
        - name: DBClusterSnapshotIdentifier
          in: query
          required: true
          description: '<p>The identifier of the cluster snapshot to delete.</p> <p>Constraints: Must be the name of an existing cluster snapshot in the <code>available</code> state.</p>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBClusterSnapshot
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteDBClusterSnapshot
      operationId: POST DeleteDBClusterSnapshot
      description: '<p>Deletes a cluster snapshot. If the snapshot is being copied, the copy operation is terminated.</p> <note> <p>The cluster snapshot must be in the <code>available</code> state to be deleted.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBClusterSnapshotResult'
        '480':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '481':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
      parameters:
        - name: DBClusterSnapshotIdentifier
          in: formData
          required: true
          description: '<p>The identifier of the cluster snapshot to delete.</p> <p>Constraints: Must be the name of an existing cluster snapshot in the <code>available</code> state.</p>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBClusterSnapshot
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=DeleteDBInstance':
    get:
      x-aws-operation-name: DeleteDBInstance
      operationId: GET DeleteDBInstance
      description: 'Deletes a previously provisioned instance. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBInstanceResult'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '482':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
      parameters:
        - name: DBInstanceIdentifier
          in: query
          required: true
          description: '<p>The instance identifier for the instance to be deleted. This parameter isn''t case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match the name of an existing instance.</p> </li> </ul>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBInstance
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteDBInstance
      operationId: POST DeleteDBInstance
      description: 'Deletes a previously provisioned instance. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBInstanceResult'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '482':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
      parameters:
        - name: DBInstanceIdentifier
          in: formData
          required: true
          description: '<p>The instance identifier for the instance to be deleted. This parameter isn''t case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match the name of an existing instance.</p> </li> </ul>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBInstance
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=DeleteDBSubnetGroup':
    get:
      x-aws-operation-name: DeleteDBSubnetGroup
      operationId: GET DeleteDBSubnetGroup
      description: <p>Deletes a subnet group.</p> <note> <p>The specified database subnet group must not be associated with any DB instances.</p> </note>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        '481':
          description: InvalidDBSubnetStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetStateFault'
        '482':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
      parameters:
        - name: DBSubnetGroupName
          in: query
          required: true
          description: '<p>The name of the database subnet group to delete.</p> <note> <p>You can''t delete the default subnet group.</p> </note> <p>Constraints:</p> <p>Must match the name of an existing <code>DBSubnetGroup</code>. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBSubnetGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteDBSubnetGroup
      operationId: POST DeleteDBSubnetGroup
[...]
