swagger: '2.0'
info:
  version: '2014-10-31'
  x-release: v4
  title: Amazon DocumentDB with MongoDB compatibility
  description: Amazon DocumentDB API documentation
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: docdb
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/docdb-2014-10-31.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/rds/'
host: rds.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes: []
produces: []
parameters:
  Action:
    name: Action
    in: query
    type: string
    required: true
  Version:
    name: Version
    in: query
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddTagsToResource
      description: Adds metadata tags to an Amazon DocumentDB resource. You can use these tags with cost allocation reporting to track costs that are associated with Amazon DocumentDB resources. or in a <code>Condition</code> statement in an AWS Identity and Access Management (IAM) policy for Amazon DocumentDB.
      responses:
        '200':
          description: Success
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsToResourceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ApplyPendingMaintenanceAction':
    post:
      operationId: ApplyPendingMaintenanceAction
      description: 'Applies a pending maintenance action to a resource (for example, to a DB instance).'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplyPendingMaintenanceActionResult'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ApplyPendingMaintenanceActionMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CopyDBClusterParameterGroup':
    post:
      operationId: CopyDBClusterParameterGroup
      description: Copies the specified DB cluster parameter group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterParameterGroupResult'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '481':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '482':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CopyDBClusterParameterGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CopyDBClusterSnapshot':
    post:
      operationId: CopyDBClusterSnapshot
      description: '<p>Copies a snapshot of a DB cluster.</p> <p>To copy a DB cluster snapshot from a shared manual DB cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the shared DB cluster snapshot.</p> <p>To cancel the copy operation after it is in progress, delete the target DB cluster snapshot identified by <code>TargetDBClusterSnapshotIdentifier</code> while that DB cluster snapshot is in the <i>copying</i> status.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterSnapshotResult'
        '480':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '481':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
        '482':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '483':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '484':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '485':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CopyDBClusterSnapshotMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDBCluster':
    post:
      operationId: CreateDBCluster
      description: Creates a new Amazon DocumentDB DB cluster.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterResult'
        '480':
          description: DBClusterAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterAlreadyExistsFault'
        '481':
          description: InsufficientStorageClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientStorageClusterCapacityFault'
        '482':
          description: DBClusterQuotaExceededFault
          schema:
            $ref: '#/definitions/DBClusterQuotaExceededFault'
        '483':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '484':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '485':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '486':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '487':
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        '488':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '489':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '490':
          description: DBClusterParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterParameterGroupNotFoundFault'
        '491':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '492':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '493':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '494':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDBClusterMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDBClusterParameterGroup':
    post:
      operationId: CreateDBClusterParameterGroup
      description: '<p>Creates a new DB cluster parameter group.</p> <p>Parameters in a DB cluster parameter group apply to all of the instances in a DB cluster.</p> <p>A DB cluster parameter group is initially created with the default parameters for the database engine used by instances in the DB cluster. To provide custom values for any of the parameters, you must modify the group after you create it. After you create a DB cluster parameter group, you must associate it with your DB cluster. For the new DB cluster parameter group and associated settings to take effect, you must then reboot the DB instances in the DB cluster without failover.</p> <important> <p>After you create a DB cluster parameter group, you should wait at least 5 minutes before creating your first DB cluster that uses that DB cluster parameter group as the default parameter group. This allows Amazon DocumentDB to fully complete the create action before the DB cluster parameter group is used as the default for a new DB cluster. This step is especially important for parameters that are critical when creating the default database for a DB cluster, such as the character set for the default database defined by the <code>character_set_database</code> parameter.</p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterParameterGroupResult'
        '480':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '481':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDBClusterParameterGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDBClusterSnapshot':
    post:
      operationId: CreateDBClusterSnapshot
      description: 'Creates a snapshot of a DB cluster. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterSnapshotResult'
        '480':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDBClusterSnapshotMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDBInstance':
    post:
      operationId: CreateDBInstance
      description: Creates a new DB instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBInstanceResult'
        '480':
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        '481':
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        '482':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '483':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '484':
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        '485':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '486':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '487':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '488':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '489':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '490':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '491':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '492':
          description: StorageTypeNotSupportedFault
          schema:
            $ref: '#/definitions/StorageTypeNotSupportedFault'
        '493':
          description: AuthorizationNotFoundFault
          schema:
            $ref: '#/definitions/AuthorizationNotFoundFault'
        '494':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDBInstanceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDBSubnetGroup':
    post:
      operationId: CreateDBSubnetGroup
      description: Creates a new DB subnet group. DB subnet groups must contain at least one subnet in at least two Availability Zones in the AWS Region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSubnetGroupResult'
        '480':
          description: DBSubnetGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSubnetGroupAlreadyExistsFault'
        '481':
          description: DBSubnetGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetGroupQuotaExceededFault'
        '482':
          description: DBSubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetQuotaExceededFault'
        '483':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '484':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDBSubnetGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDBCluster':
    post:
      operationId: DeleteDBCluster
      description: '<p>Deletes a previously provisioned DB cluster. When you delete a DB cluster, all automated backups for that DB cluster are deleted and can''t be recovered. Manual DB cluster snapshots of the specified DB cluster are not deleted.</p> <p/>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBClusterResult'
        '480':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDBClusterMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDBClusterParameterGroup':
    post:
      operationId: DeleteDBClusterParameterGroup
      description: Deletes a specified DB cluster parameter group. The DB cluster parameter group to be deleted can't be associated with any DB clusters.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBParameterGroupStateFault'
        '481':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDBClusterParameterGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDBClusterSnapshot':
    post:
      operationId: DeleteDBClusterSnapshot
      description: '<p>Deletes a DB cluster snapshot. If the snapshot is being copied, the copy operation is terminated.</p> <note> <p>The DB cluster snapshot must be in the <code>available</code> state to be deleted.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBClusterSnapshotResult'
        '480':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '481':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDBClusterSnapshotMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDBInstance':
    post:
      operationId: DeleteDBInstance
      description: 'Deletes a previously provisioned DB instance. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBInstanceResult'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '482':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDBInstanceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDBSubnetGroup':
    post:
      operationId: DeleteDBSubnetGroup
      description: <p>Deletes a DB subnet group.</p> <note> <p>The specified database subnet group must not be associated with any DB instances.</p> </note>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        '481':
          description: InvalidDBSubnetStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetStateFault'
        '482':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDBSubnetGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDBClusterParameterGroups':
    post:
      operationId: DescribeDBClusterParameterGroups
      description: 'Returns a list of <code>DBClusterParameterGroup</code> descriptions. If a <code>DBClusterParameterGroupName</code> parameter is specified, the list contains only the description of the specified DB cluster parameter group. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBClusterParameterGroupsMessage'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDBClusterParameterGroupsMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDBClusterParameters':
    post:
      operationId: DescribeDBClusterParameters
      description: Returns the detailed parameter list for a particular DB cluster parameter group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBClusterParameterGroupDetails'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDBClusterParametersMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDBClusterSnapshotAttributes':
    post:
      operationId: DescribeDBClusterSnapshotAttributes
      description: '<p>Returns a list of DB cluster snapshot attribute names and values for a manual DB cluster snapshot.</p> <p>When you share snapshots with other AWS accounts, <code>DescribeDBClusterSnapshotAttributes</code> returns the <code>restore</code> attribute and a list of IDs for the AWS accounts that are authorized to copy or restore the manual DB cluster snapshot. If <code>all</code> is included in the list of values for the <code>restore</code> attribute, then the manual DB cluster snapshot is public and can be copied or restored by all AWS accounts.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDBClusterSnapshotAttributesResult'
        '480':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDBClusterSnapshotAttributesMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDBClusterSnapshots':
    post:
      operationId: DescribeDBClusterSnapshots
      description: Returns information about DB cluster snapshots. This API operation supports pagination.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBClusterSnapshotMessage'
        '480':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDBClusterSnapshotsMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDBClusters':
    post:
      operationId: DescribeDBClusters
      description: Returns information about provisioned Amazon DocumentDB DB clusters. This API operation supports pagination.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBClusterMessage'
        '480':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDBClustersMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDBEngineVersions':
    post:
      operationId: DescribeDBEngineVersions
      description: Returns a list of the available DB engines.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBEngineVersionMessage'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDBEngineVersionsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDBInstances':
    post:
      operationId: DescribeDBInstances
      description: Returns information about provisioned Amazon DocumentDB instances. This API supports pagination.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBInstanceMessage'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDBInstancesMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDBSubnetGroups':
    post:
      operationId: DescribeDBSubnetGroups
      description: 'Returns a list of <code>DBSubnetGroup</code> descriptions. If a <code>DBSubnetGroupName</code> is specified, the list will contain only the descriptions of the specified <code>DBSubnetGroup</code>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBSubnetGroupMessage'
        '480':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDBSubnetGroupsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEngineDefaultClusterParameters':
    post:
      operationId: DescribeEngineDefaultClusterParameters
      description: Returns the default engine and system parameter information for the cluster database engine.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEngineDefaultClusterParametersResult'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEngineDefaultClusterParametersMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEventCategories':
    post:
      operationId: DescribeEventCategories
      description: 'Displays a list of categories for all event source types, or, if specified, for a specified source type. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EventCategoriesMessage'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventCategoriesMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEvents':
    post:
      operationId: DescribeEvents
      description: 'Returns events related to DB instances, DB security groups, DB snapshots, and DB parameter groups for the past 14 days. You can obtain events specific to a particular DB instance, DB security group, DB snapshot, or DB parameter group by providing the name as a parameter. By default, the events of the past hour are returned.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EventsMessage'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeOrderableDBInstanceOptions':
    post:
      operationId: DescribeOrderableDBInstanceOptions
      description: Returns a list of orderable DB instance options for the specified engine.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OrderableDBInstanceOptionsMessage'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeOrderableDBInstanceOptionsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribePendingMaintenanceActions':
    post:
      operationId: DescribePendingMaintenanceActions
      description: 'Returns a list of resources (for example, DB instances) that have at least one pending maintenance action.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PendingMaintenanceActionsMessage'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribePendingMaintenanceActionsMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#FailoverDBCluster':
    post:
      operationId: FailoverDBCluster
      description: '<p>Forces a failover for a DB cluster.</p> <p>A failover for a DB cluster promotes one of the Amazon DocumentDB replicas (read-only instances) in the DB cluster to be the primary instance (the cluster writer).</p> <p>If the primary instance fails, Amazon DocumentDB automatically fails over to an Amazon DocumentDB replica, if one exists. You can force a failover when you want to simulate a failure of a primary instance for testing.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FailoverDBClusterResult'
        '480':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/FailoverDBClusterMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListTagsForResource':
    post:
      operationId: ListTagsForResource
      description: Lists all tags on an Amazon DocumentDB resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagListMessage'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyDBCluster':
    post:
      operationId: ModifyDBCluster
      description: 'Modifies a setting for an Amazon DocumentDB DB cluster. You can change one or more database configuration parameters by specifying these parameters and the new values in the request. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyDBClusterResult'
        '480':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '483':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '484':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '485':
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        '486':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '487':
          description: DBClusterParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterParameterGroupNotFoundFault'
        '488':
          description: InvalidDBSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSecurityGroupStateFault'
        '489':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '490':
          description: DBClusterAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterAlreadyExistsFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyDBClusterMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyDBClusterParameterGroup':
    post:
      operationId: ModifyDBClusterParameterGroup
      description: '<p> Modifies the parameters of a DB cluster parameter group. To modify more than one parameter, submit a list of the following: <code>ParameterName</code>, <code>ParameterValue</code>, and <code>ApplyMethod</code>. A maximum of 20 parameters can be modified in a single request. </p> <note> <p>Changes to dynamic parameters are applied immediately. Changes to static parameters require a reboot or maintenance window before the change can take effect.</p> </note> <important> <p>After you create a DB cluster parameter group, you should wait at least 5 minutes before creating your first DB cluster that uses that DB cluster parameter group as the default parameter group. This allows Amazon DocumentDB to fully complete the create action before the parameter group is used as the default for a new DB cluster. This step is especially important for parameters that are critical when creating the default database for a DB cluster, such as the character set for the default database defined by the <code>character_set_database</code> parameter.</p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBClusterParameterGroupNameMessage'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '481':
          description: InvalidDBParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBParameterGroupStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyDBClusterParameterGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyDBClusterSnapshotAttribute':
    post:
      operationId: ModifyDBClusterSnapshotAttribute
      description: '<p>Adds an attribute and values to, or removes an attribute and values from, a manual DB cluster snapshot.</p> <p>To share a manual DB cluster snapshot with other AWS accounts, specify <code>restore</code> as the <code>AttributeName</code>, and use the <code>ValuesToAdd</code> parameter to add a list of IDs of the AWS accounts that are authorized to restore the manual DB cluster snapshot. Use the value <code>all</code> to make the manual DB cluster snapshot public, which means that it can be copied or restored by all AWS accounts. Do not add the <code>all</code> value for any manual DB cluster snapshots that contain private information that you don''t want available to all AWS accounts. If a manual DB cluster snapshot is encrypted, it can be shared, but only by specifying a list of authorized AWS account IDs for the <code>ValuesToAdd</code> parameter. You can''t use <code>all</code> as a value for that parameter in this case.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyDBClusterSnapshotAttributeResult'
        '480':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
        '481':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '482':
          description: SharedSnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SharedSnapshotQuotaExceededFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyDBClusterSnapshotAttributeMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyDBInstance':
    post:
      operationId: ModifyDBInstance
      description: Modifies settings for a DB instance. You can change one or more database configuration parameters by specifying these parameters and the new values in the request.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyDBInstanceResult'
        '480':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '481':
          description: InvalidDBSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSecurityGroupStateFault'
        '482':
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        '483':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '484':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '485':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '486':
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        '487':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '488':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '489':
          description: DBUpgradeDependencyFailureFault
          schema:
            $ref: '#/definitions/DBUpgradeDependencyFailureFault'
        '490':
          description: StorageTypeNotSupportedFault
          schema:
            $ref: '#/definitions/StorageTypeNotSupportedFault'
        '491':
          description: AuthorizationNotFoundFault
          schema:
            $ref: '#/definitions/AuthorizationNotFoundFault'
        '492':
          description: CertificateNotFoundFault
          schema:
            $ref: '#/definitions/CertificateNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyDBInstanceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyDBSubnetGroup':
    post:
      operationId: ModifyDBSubnetGroup
      description: Modifies an existing DB subnet group. DB subnet groups must contain at least one subnet in at least two Availability Zones in the AWS Region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyDBSubnetGroupResult'
        '480':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '481':
          description: DBSubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetQuotaExceededFault'
        '482':
          description: SubnetAlreadyInUse
          schema:
            $ref: '#/definitions/SubnetAlreadyInUse'
        '483':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '484':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyDBSubnetGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RebootDBInstance':
    post:
      operationId: RebootDBInstance
      description: '<p>You might need to reboot your DB instance, usually for maintenance reasons. For example, if you make certain changes, or if you change the DB cluster parameter group that is associated with the DB instance, you must reboot the instance for the changes to take effect. </p> <p>Rebooting a DB instance restarts the database engine service. Rebooting a DB instance results in a momentary outage, during which the DB instance status is set to <i>rebooting</i>. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RebootDBInstanceResult'
        '480':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '481':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RebootDBInstanceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RemoveTagsFromResource':
    post:
      operationId: RemoveTagsFromResource
      description: Removes metadata tags from an Amazon DocumentDB resource.
      responses:
        '200':
          description: Success
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveTagsFromResourceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ResetDBClusterParameterGroup':
    post:
      operationId: ResetDBClusterParameterGroup
      description: '<p> Modifies the parameters of a DB cluster parameter group to the default value. To reset specific parameters, submit a list of the following: <code>ParameterName</code> and <code>ApplyMethod</code>. To reset the entire DB cluster parameter group, specify the <code>DBClusterParameterGroupName</code> and <code>ResetAllParameters</code> parameters. </p> <p> When you reset the entire group, dynamic parameters are updated immediately and static parameters are set to <code>pending-reboot</code> to take effect on the next DB instance reboot.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBClusterParameterGroupNameMessage'
        '480':
          description: InvalidDBParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBParameterGroupStateFault'
        '481':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResetDBClusterParameterGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RestoreDBClusterFromSnapshot':
    post:
      operationId: RestoreDBClusterFromSnapshot
      description: '<p>Creates a new DB cluster from a DB snapshot or DB cluster snapshot.</p> <p>If a DB snapshot is specified, the target DB cluster is created from the source DB snapshot with a default configuration and default security group.</p> <p>If a DB cluster snapshot is specified, the target DB cluster is created from the source DB cluster restore point with the same configuration as the original source DB cluster, except that the new DB cluster is created with the default security group.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RestoreDBClusterFromSnapshotResult'
        '480':
          description: DBClusterAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterAlreadyExistsFault'
        '481':
          description: DBClusterQuotaExceededFault
          schema:
            $ref: '#/definitions/DBClusterQuotaExceededFault'
        '482':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '483':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '484':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '485':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
        '486':
          description: InsufficientDBClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBClusterCapacityFault'
        '487':
          description: InsufficientStorageClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientStorageClusterCapacityFault'
        '488':
          description: InvalidDBSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBSnapshotStateFault'
        '489':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '490':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '491':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '492':
          description: InvalidRestoreFault
          schema:
            $ref: '#/definitions/InvalidRestoreFault'
        '493':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '494':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '495':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RestoreDBClusterFromSnapshotMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RestoreDBClusterToPointInTime':
    post:
      operationId: RestoreDBClusterToPointInTime
      description: 'Restores a DB cluster to an arbitrary point in time. Users can restore to any point in time before <code>LatestRestorableTime</code> for up to <code>BackupRetentionPeriod</code> days. The target DB cluster is created from the source DB cluster with the same configuration as the original DB cluster, except that the new DB cluster is created with the default DB security group. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RestoreDBClusterToPointInTimeResult'
        '480':
          description: DBClusterAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterAlreadyExistsFault'
        '481':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '482':
          description: DBClusterQuotaExceededFault
          schema:
            $ref: '#/definitions/DBClusterQuotaExceededFault'
        '483':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
        '484':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '485':
          description: InsufficientDBClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBClusterCapacityFault'
        '486':
          description: InsufficientStorageClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientStorageClusterCapacityFault'
        '487':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '488':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '489':
          description: InvalidDBSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBSnapshotStateFault'
        '490':
          description: InvalidRestoreFault
          schema:
            $ref: '#/definitions/InvalidRestoreFault'
        '491':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '492':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '493':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '494':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RestoreDBClusterToPointInTimeMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AddTagsToResourceMessage:
    type: object
    required:
      - ResourceName
      - Tags
    properties:
      ResourceName:
        $ref: '#/definitions/String'
        description: The Amazon DocumentDB resource that the tags are added to. This value is an Amazon Resource Name (ARN).
      Tags:
        $ref: '#/definitions/TagList'
        description: 'The tags to be assigned to the Amazon DocumentDB resource. '
    description: Represents the input to <a>AddTagsToResource</a>.
  DBInstanceNotFoundFault: {}
  DBSnapshotNotFoundFault: {}
  DBClusterNotFoundFault: {}
  ApplyPendingMaintenanceActionResult:
    type: object
    properties:
      ResourcePendingMaintenanceActions:
        $ref: '#/definitions/ResourcePendingMaintenanceActions'
  ApplyPendingMaintenanceActionMessage:
    type: object
    required:
      - ResourceIdentifier
      - ApplyAction
      - OptInType
    properties:
      ResourceIdentifier:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource that the pending maintenance action applies to.
      ApplyAction:
        $ref: '#/definitions/String'
        description: '<p>The pending maintenance action to apply to this resource.</p> <p>Valid values: <code>system-update</code>, <code>db-upgrade</code> </p>'
      OptInType:
        $ref: '#/definitions/String'
        description: '<p>A value that specifies the type of opt-in request or undoes an opt-in request. An opt-in request of type <code>immediate</code> can''t be undone.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>'
    description: Represents the input to <a>ApplyPendingMaintenanceAction</a>.
  ResourceNotFoundFault: {}
  CopyDBClusterParameterGroupResult:
    type: object
    properties:
      DBClusterParameterGroup:
        $ref: '#/definitions/DBClusterParameterGroup'
  CopyDBClusterParameterGroupMessage:
    type: object
    required:
      - SourceDBClusterParameterGroupIdentifier
      - TargetDBClusterParameterGroupIdentifier
      - TargetDBClusterParameterGroupDescription
    properties:
      SourceDBClusterParameterGroupIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The identifier or Amazon Resource Name (ARN) for the source DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB cluster parameter group.</p> </li> <li> <p>If the source DB cluster parameter group is in the same AWS Region as the copy, specify a valid DB parameter group identifier; for example, <code>my-db-cluster-param-group</code>, or a valid ARN.</p> </li> <li> <p>If the source DB parameter group is in a different AWS Region than the copy, specify a valid DB cluster parameter group ARN; for example, <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p> </li> </ul>'
      TargetDBClusterParameterGroupIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The identifier for the copied DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank.</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-param-group1</code> </p>'
      TargetDBClusterParameterGroupDescription:
        $ref: '#/definitions/String'
        description: A description for the copied DB cluster parameter group.
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags that are to be assigned to the parameter group.
    description: Represents the input to <a>CopyDBClusterParameterGroup</a>.
  DBParameterGroupNotFoundFault: {}
  DBParameterGroupQuotaExceededFault: {}
  DBParameterGroupAlreadyExistsFault: {}
  CopyDBClusterSnapshotResult:
    type: object
    properties:
      DBClusterSnapshot:
        $ref: '#/definitions/DBClusterSnapshot'
  CopyDBClusterSnapshotMessage:
    type: object
    required:
      - SourceDBClusterSnapshotIdentifier
      - TargetDBClusterSnapshotIdentifier
    properties:
      SourceDBClusterSnapshotIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The identifier of the DB cluster snapshot to copy. This parameter is not case sensitive.</p> <p>You can''t copy an encrypted, shared DB cluster snapshot from one AWS Region to another.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot in the "available" state.</p> </li> <li> <p>If the source snapshot is in the same AWS Region as the copy, specify a valid DB snapshot identifier.</p> </li> <li> <p>If the source snapshot is in a different AWS Region than the copy, specify a valid DB cluster snapshot ARN.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>'
      TargetDBClusterSnapshotIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The identifier of the new DB cluster snapshot to create from the source DB cluster snapshot. This parameter is not case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot2</code> </p>'
      KmsKeyId:
        $ref: '#/definitions/String'
        description: '<p>The AWS KMS key ID for an encrypted DB cluster snapshot. The AWS KMS key ID is the Amazon Resource Name (ARN), AWS KMS key identifier, or the AWS KMS key alias for the AWS KMS encryption key. </p> <p>If you copy an encrypted DB cluster snapshot from your AWS account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new AWS KMS encryption key. If you don''t specify a value for <code>KmsKeyId</code>, then the copy of the DB cluster snapshot is encrypted with the same AWS KMS key as the source DB cluster snapshot. </p> <p>If you copy an encrypted DB cluster snapshot that is shared from another AWS account, then you must specify a value for <code>KmsKeyId</code>. </p> <p>To copy an encrypted DB cluster snapshot to another AWS Region, set <code>KmsKeyId</code> to the AWS KMS key ID that you want to use to encrypt the copy of the DB cluster snapshot in the destination Region. AWS KMS encryption keys are specific to the AWS Region that they are created in, and you can''t use encryption keys from one Region in another Region.</p> <p>If you copy an unencrypted DB cluster snapshot and specify a value for the <code>KmsKeyId</code> parameter, an error is returned.</p>'
      PreSignedUrl:
        $ref: '#/definitions/String'
        description: '<p>The URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> API action in the AWS Region that contains the source DB cluster snapshot to copy. You must use the <code>PreSignedUrl</code> parameter when copying an encrypted DB cluster snapshot from another AWS Region.</p> <p>The presigned URL must be a valid request for the <code>CopyDBSClusterSnapshot</code> API action that can be executed in the source AWS Region that contains the encrypted DB cluster snapshot to be copied. The presigned URL request must contain the following parameter values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS KMS key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> action that is called in the destination AWS Region, and the action contained in the presigned URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the AWS Region that the DB cluster snapshot will be created in.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, if you are copying an encrypted DB cluster snapshot from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:my-cluster-snapshot-20161115</code>.</p> </li> </ul>'
      CopyTags:
        $ref: '#/definitions/BooleanOptional'
        description: 'Set to <code>true</code> to copy all tags from the source DB cluster snapshot to the target DB cluster snapshot, and otherwise <code>false</code>. The default is <code>false</code>.'
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags to be assigned to the DB cluster snapshot.
    description: Represents the input to <a>CopyDBClusterSnapshot</a>.
  DBClusterSnapshotAlreadyExistsFault: {}
  DBClusterSnapshotNotFoundFault: {}
  InvalidDBClusterStateFault: {}
  InvalidDBClusterSnapshotStateFault: {}
  SnapshotQuotaExceededFault: {}
  KMSKeyNotAccessibleFault: {}
  CreateDBClusterResult:
    type: object
    properties:
      DBCluster:
        $ref: '#/definitions/DBCluster'
  CreateDBClusterMessage:
    type: object
    required:
      - DBClusterIdentifier
      - Engine
    properties:
      AvailabilityZones:
        $ref: '#/definitions/AvailabilityZones'
        description: A list of Amazon EC2 Availability Zones that instances in the DB cluster can be created in.
      BackupRetentionPeriod:
        $ref: '#/definitions/IntegerOptional'
        description: '<p>The number of days for which automated backups are retained. You must specify a minimum value of 1.</p> <p>Default: 1</p> <p>Constraints:</p> <ul> <li> <p>Must be a value from 1 to 35.</p> </li> </ul>'
      DBClusterIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The DB cluster identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster</code> </p>'
      DBClusterParameterGroupName:
        $ref: '#/definitions/String'
        description: ' The name of the DB cluster parameter group to associate with this DB cluster.'
      VpcSecurityGroupIds:
        $ref: '#/definitions/VpcSecurityGroupIdList'
        description: A list of EC2 VPC security groups to associate with this DB cluster.
      DBSubnetGroupName:
        $ref: '#/definitions/String'
        description: '<p>A DB subnet group to associate with this DB cluster.</p> <p>Constraints: Must match the name of an existing <code>DBSubnetGroup</code>. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>'
      Engine:
        $ref: '#/definitions/String'
        description: '<p>The name of the database engine to be used for this DB cluster.</p> <p>Valid values: <code>docdb</code> </p>'
      EngineVersion:
        $ref: '#/definitions/String'
        description: The version number of the database engine to use.
      Port:
        $ref: '#/definitions/IntegerOptional'
        description: The port number on which the instances in the DB cluster accept connections.
      MasterUsername:
        $ref: '#/definitions/String'
        description: '<p>The name of the master user for the DB cluster.</p> <p>Constraints:</p> <ul> <li> <p>Must be from 1 to 16 letters or numbers.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot be a reserved word for the chosen database engine.</p> </li> </ul>'
      MasterUserPassword:
        $ref: '#/definitions/String'
        description: '<p>The password for the master database user. This password can contain any printable ASCII character except "/", """, or "@".</p> <p>Constraints: Must contain from 8 to 41 characters.</p>'
      PreferredBackupWindow:
        $ref: '#/definitions/String'
        description: '<p>The daily time range during which automated backups are created if automated backups are enabled using the <code>BackupRetentionPeriod</code> parameter. </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region. </p> <p>Constraints:</p> <ul> <li> <p>Must be in the format <code>hh24:mi-hh24:mi</code>.</p> </li> <li> <p>Must be in Universal Coordinated Time (UTC).</p> </li> <li> <p>Must not conflict with the preferred maintenance window.</p> </li> <li> <p>Must be at least 30 minutes.</p> </li> </ul>'
      PreferredMaintenanceWindow:
        $ref: '#/definitions/String'
        description: '<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p>Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region, occurring on a random day of the week.</p> <p>Valid days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>'
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags to be assigned to the DB cluster.
      StorageEncrypted:
        $ref: '#/definitions/BooleanOptional'
        description: Specifies whether the DB cluster is encrypted.
      KmsKeyId:
        $ref: '#/definitions/String'
        description: '<p>The AWS KMS key identifier for an encrypted DB cluster.</p> <p>The AWS KMS key identifier is the Amazon Resource Name (ARN) for the AWS KMS encryption key. If you are creating a DB cluster using the same AWS account that owns the AWS KMS encryption key that is used to encrypt the new DB cluster, you can use the AWS KMS key alias instead of the ARN for the AWS KMS encryption key.</p> <p>If an encryption key is not specified in <code>KmsKeyId</code>:</p> <ul> <li> <p>If <code>ReplicationSourceIdentifier</code> identifies an encrypted source, then Amazon DocumentDB uses the encryption key that is used to encrypt the source. Otherwise, Amazon DocumentDB uses your default encryption key. </p> </li> <li> <p>If the <code>StorageEncrypted</code> parameter is <code>true</code> and <code>ReplicationSourceIdentifier</code> is not specified, Amazon DocumentDB uses your default encryption key.</p> </li> </ul> <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.</p> <p>If you create a replica of an encrypted DB cluster in another AWS Region, you must set <code>KmsKeyId</code> to a KMS key ID that is valid in the destination AWS Region. This key is used to encrypt the replica in that AWS Region.</p>'
      EnableCloudwatchLogsExports:
        $ref: '#/definitions/LogTypeList'
        description: A list of log types that need to be enabled for exporting to Amazon CloudWatch Logs.
    description: Represents the input to <a>CreateDBCluster</a>.
  DBClusterAlreadyExistsFault: {}
  InsufficientStorageClusterCapacityFault: {}
  DBClusterQuotaExceededFault: {}
  StorageQuotaExceededFault: {}
  DBSubnetGroupNotFoundFault: {}
  InvalidVPCNetworkStateFault: {}
  InvalidDBSubnetGroupStateFault: {}
  InvalidSubnet: {}
  InvalidDBInstanceStateFault: {}
  DBClusterParameterGroupNotFoundFault: {}
  DBSubnetGroupDoesNotCoverEnoughAZs: {}
  CreateDBClusterParameterGroupResult:
    type: object
    properties:
      DBClusterParameterGroup:
        $ref: '#/definitions/DBClusterParameterGroup'
  CreateDBClusterParameterGroupMessage:
    type: object
    required:
      - DBClusterParameterGroupName
      - DBParameterGroupFamily
      - Description
    properties:
      DBClusterParameterGroupName:
        $ref: '#/definitions/String'
        description: '<p>The name of the DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must match the name of an existing <code>DBClusterParameterGroup</code>.</p> </li> </ul> <note> <p>This value is stored as a lowercase string.</p> </note>'
      DBParameterGroupFamily:
        $ref: '#/definitions/String'
        description: The DB cluster parameter group family name.
      Description:
        $ref: '#/definitions/String'
        description: The description for the DB cluster parameter group.
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags to be assigned to the DB cluster parameter group.
    description: Represents the input of <a>CreateDBClusterParameterGroup</a>.
  CreateDBClusterSnapshotResult:
    type: object
    properties:
      DBClusterSnapshot:
        $ref: '#/definitions/DBClusterSnapshot'
  CreateDBClusterSnapshotMessage:
    type: object
    required:
      - DBClusterSnapshotIdentifier
      - DBClusterIdentifier
    properties:
      DBClusterSnapshotIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The identifier of the DB cluster snapshot. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>'
      DBClusterIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The identifier of the DB cluster to create a snapshot for. This parameter is not case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match the identifier of an existing <code>DBCluster</code>.</p> </li> </ul> <p>Example: <code>my-cluster</code> </p>'
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags to be assigned to the DB cluster snapshot.
    description: Represents the input of <a>CreateDBClusterSnapshot</a>.
  CreateDBInstanceResult:
    type: object
    properties:
      DBInstance:
        $ref: '#/definitions/DBInstance'
  CreateDBInstanceMessage:
    type: object
    required:
      - DBInstanceIdentifier
      - DBInstanceClass
      - Engine
      - DBClusterIdentifier
    properties:
      DBInstanceIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The DB instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>mydbinstance</code> </p>'
      DBInstanceClass:
        $ref: '#/definitions/String'
        description: 'The compute and memory capacity of the DB instance; for example, <code>db.m4.large</code>. '
      Engine:
        $ref: '#/definitions/String'
        description: '<p>The name of the database engine to be used for this instance.</p> <p>Valid value: <code>docdb</code> </p>'
      AvailabilityZone:
        $ref: '#/definitions/String'
        description: '<p> The Amazon EC2 Availability Zone that the DB instance is created in.</p> <p>Default: A random, system-chosen Availability Zone in the endpoint''s AWS Region.</p> <p> Example: <code>us-east-1d</code> </p> <p> Constraint: The <code>AvailabilityZone</code> parameter can''t be specified if the <code>MultiAZ</code> parameter is set to <code>true</code>. The specified Availability Zone must be in the same AWS Region as the current endpoint. </p>'
      PreferredMaintenanceWindow:
        $ref: '#/definitions/String'
        description: '<p>The time range each week during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region, occurring on a random day of the week. </p> <p>Valid days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>'
      AutoMinorVersionUpgrade:
        $ref: '#/definitions/BooleanOptional'
        description: '<p>Indicates that minor engine upgrades are applied automatically to the DB instance during the maintenance window.</p> <p>Default: <code>true</code> </p>'
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags to be assigned to the DB instance.
      DBClusterIdentifier:
        $ref: '#/definitions/String'
        description: The identifier of the DB cluster that the instance will belong to.
      PromotionTier:
        $ref: '#/definitions/IntegerOptional'
        description: '<p>A value that specifies the order in which an Amazon DocumentDB replica is promoted to the primary instance after a failure of the existing primary instance.</p> <p>Default: 1</p> <p>Valid values: 0-15</p>'
    description: Represents the input to <a>CreateDBInstance</a>.
  DBInstanceAlreadyExistsFault: {}
  InsufficientDBInstanceCapacityFault: {}
  DBSecurityGroupNotFoundFault: {}
  InstanceQuotaExceededFault: {}
  StorageTypeNotSupportedFault: {}
  AuthorizationNotFoundFault: {}
  CreateDBSubnetGroupResult:
    type: object
    properties:
      DBSubnetGroup:
        $ref: '#/definitions/DBSubnetGroup'
  CreateDBSubnetGroupMessage:
    type: object
    required:
      - DBSubnetGroupName
      - DBSubnetGroupDescription
      - SubnetIds
    properties:
      DBSubnetGroupName:
        $ref: '#/definitions/String'
        description: '<p>The name for the DB subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 letters, numbers, periods, underscores, spaces, or hyphens. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>'
      DBSubnetGroupDescription:
        $ref: '#/definitions/String'
        description: The description for the DB subnet group.
      SubnetIds:
        $ref: '#/definitions/SubnetIdentifierList'
        description: The Amazon EC2 subnet IDs for the DB subnet group.
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags to be assigned to the DB subnet group.
    description: Represents the input to <a>CreateDBSubnetGroup</a>.
  DBSubnetGroupAlreadyExistsFault: {}
  DBSubnetGroupQuotaExceededFault: {}
  DBSubnetQuotaExceededFault: {}
  DeleteDBClusterResult:
    type: object
    properties:
      DBCluster:
        $ref: '#/definitions/DBCluster'
  DeleteDBClusterMessage:
    type: object
    required:
      - DBClusterIdentifier
    properties:
      DBClusterIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The DB cluster identifier for the DB cluster to be deleted. This parameter isn''t case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match an existing <code>DBClusterIdentifier</code>.</p> </li> </ul>'
      SkipFinalSnapshot:
        $ref: '#/definitions/Boolean'
        description: '<p> Determines whether a final DB cluster snapshot is created before the DB cluster is deleted. If <code>true</code> is specified, no DB cluster snapshot is created. If <code>false</code> is specified, a DB cluster snapshot is created before the DB cluster is deleted. </p> <note> <p>If <code>SkipFinalSnapshot</code> is <code>false</code>, you must specify a <code>FinalDBSnapshotIdentifier</code> parameter.</p> </note> <p>Default: <code>false</code> </p>'
      FinalDBSnapshotIdentifier:
        $ref: '#/definitions/String'
        description: '<p> The DB cluster snapshot identifier of the new DB cluster snapshot created when <code>SkipFinalSnapshot</code> is set to <code>false</code>. </p> <note> <p> Specifying this parameter and also setting the <code>SkipFinalShapshot</code> parameter to <code>true</code> results in an error. </p> </note> <p>Constraints:</p> <ul> <li> <p>Must be from 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul>'
    description: Represents the input to <a>DeleteDBCluster</a>.
  DeleteDBClusterParameterGroupMessage:
    type: object
    required:
      - DBClusterParameterGroupName
    properties:
      DBClusterParameterGroupName:
        $ref: '#/definitions/String'
        description: '<p>The name of the DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must be the name of an existing DB cluster parameter group.</p> </li> <li> <p>You can''t delete a default DB cluster parameter group.</p> </li> <li> <p>Cannot be associated with any DB clusters.</p> </li> </ul>'
    description: Represents the input to <a>DeleteDBClusterParameterGroup</a>.
  InvalidDBParameterGroupStateFault: {}
  DeleteDBClusterSnapshotResult:
    type: object
    properties:
      DBClusterSnapshot:
        $ref: '#/definitions/DBClusterSnapshot'
  DeleteDBClusterSnapshotMessage:
    type: object
    required:
      - DBClusterSnapshotIdentifier
    properties:
      DBClusterSnapshotIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The identifier of the DB cluster snapshot to delete.</p> <p>Constraints: Must be the name of an existing DB cluster snapshot in the <code>available</code> state.</p>'
    description: Represents the input to <a>DeleteDBClusterSnapshot</a>.
  DeleteDBInstanceResult:
    type: object
    properties:
      DBInstance:
        $ref: '#/definitions/DBInstance'
  DeleteDBInstanceMessage:
    type: object
    required:
      - DBInstanceIdentifier
    properties:
      DBInstanceIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The DB instance identifier for the DB instance to be deleted. This parameter isn''t case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match the name of an existing DB instance.</p> </li> </ul>'
    description: Represents the input to <a>DeleteDBInstance</a>.
  DBSnapshotAlreadyExistsFault: {}
  DeleteDBSubnetGroupMessage:
    type: object
    required:
      - DBSubnetGroupName
    properties:
      DBSubnetGroupName:
        $ref: '#/definitions/String'
        description: '<p>The name of the database subnet group to delete.</p> <note> <p>You can''t delete the default subnet group.</p> </note> <p>Constraints:</p> <p>Must match the name of an existing <code>DBSubnetGroup</code>. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>'
    description: Represents the input to <a>DeleteDBSubnetGroup</a>.
  InvalidDBSubnetStateFault: {}
  DBClusterParameterGroupsMessage:
    type: object
    properties:
      Marker:
        $ref: '#/definitions/String'
        description: 'An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>.'
      DBClusterParameterGroups:
        $ref: '#/definitions/DBClusterParameterGroupList'
        description: A list of DB cluster parameter groups.
    description: Represents the output of <a>DBClusterParameterGroups</a>.
  DescribeDBClusterParameterGroupsMessage:
    type: object
    properties:
      DBClusterParameterGroupName:
        $ref: '#/definitions/String'
        description: '<p>The name of a specific DB cluster parameter group to return details for.</p> <p>Constraints:</p> <ul> <li> <p>If provided, must match the name of an existing <code>DBClusterParameterGroup</code>.</p> </li> </ul>'
      Filters:
        $ref: '#/definitions/FilterList'
        description: This parameter is not currently supported.
      MaxRecords:
        $ref: '#/definitions/IntegerOptional'
        description: '<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token (marker) is included in the response so that the remaining results can be retrieved.</p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>'
      Marker:
        $ref: '#/definitions/String'
        description: 'An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>.'
    description: Represents the input to <a>DescribeDBClusterParameterGroups</a>.
  DBClusterParameterGroupDetails:
    type: object
    properties:
      Parameters:
        $ref: '#/definitions/ParametersList'
        description: Provides a list of parameters for the DB cluster parameter group.
      Marker:
        $ref: '#/definitions/String'
        description: 'An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>.'
    description: Represents the output of <a>DBClusterParameterGroup</a>.
  DescribeDBClusterParametersMessage:
    type: object
    required:
      - DBClusterParameterGroupName
    properties:
      DBClusterParameterGroupName:
        $ref: '#/definitions/String'
        description: '<p>The name of a specific DB cluster parameter group to return parameter details for.</p> <p>Constraints:</p> <ul> <li> <p>If provided, must match the name of an existing <code>DBClusterParameterGroup</code>.</p> </li> </ul>'
      Source:
        $ref: '#/definitions/String'
        description: ' A value that indicates to return only parameters for a specific source. Parameter sources can be <code>engine</code>, <code>service</code>, or <code>customer</code>. '
      Filters:
        $ref: '#/definitions/FilterList'
        description: This parameter is not currently supported.
      MaxRecords:
        $ref: '#/definitions/IntegerOptional'
        description: '<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token (marker) is included in the response so that the remaining results can be retrieved.</p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>'
      Marker:
        $ref: '#/definitions/String'
        description: 'An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>.'
    description: Represents the input to <a>DescribeDBClusterParameters</a>.
  DescribeDBClusterSnapshotAttributesResult:
    type: object
    properties:
      DBClusterSnapshotAttributesResult:
[...]
