swagger: '2.0'
schemes:
  - https
  - http
host: rds.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: Amazon DocumentDB API documentation
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon DocumentDB with MongoDB compatibility
  version: '2014-10-31'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/docdb-2014-10-31.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: docdb
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/rds/'
consumes:
  - text/xml
produces:
  - text/xml
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#Action=AddTagsToResource':
    get:
      description: Adds metadata tags to an Amazon DocumentDB resource. You can use these tags with cost allocation reporting to track costs that are associated with Amazon DocumentDB resources. or in a <code>Condition</code> statement in an AWS Identity and Access Management (IAM) policy for Amazon DocumentDB.
      operationId: GET AddTagsToResource
      parameters:
        - description: The Amazon DocumentDB resource that the tags are added to. This value is an Amazon Resource Name (ARN).
          in: query
          name: ResourceName
          required: true
          type: string
        - description: 'The tags to be assigned to the Amazon DocumentDB resource. '
          in: query
          items:
            type: string
          name: Tags
          required: true
          type: array
        - enum:
            - AddTagsToResource
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
      x-aws-operation-name: AddTagsToResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds metadata tags to an Amazon DocumentDB resource. You can use these tags with cost allocation reporting to track costs that are associated with Amazon DocumentDB resources. or in a <code>Condition</code> statement in an AWS Identity and Access Management (IAM) policy for Amazon DocumentDB.
      operationId: POST AddTagsToResource
      parameters:
        - description: The Amazon DocumentDB resource that the tags are added to. This value is an Amazon Resource Name (ARN).
          in: formData
          name: ResourceName
          required: true
          type: string
        - description: 'The tags to be assigned to the Amazon DocumentDB resource. '
          in: formData
          items:
            type: string
          name: Tags
          required: true
          type: array
        - enum:
            - AddTagsToResource
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
      x-aws-operation-name: AddTagsToResource
  '/#Action=ApplyPendingMaintenanceAction':
    get:
      description: 'Applies a pending maintenance action to a resource (for example, to a DB instance).'
      operationId: GET ApplyPendingMaintenanceAction
      parameters:
        - description: The Amazon Resource Name (ARN) of the resource that the pending maintenance action applies to.
          in: query
          name: ResourceIdentifier
          required: true
          type: string
        - description: '<p>The pending maintenance action to apply to this resource.</p> <p>Valid values: <code>system-update</code>, <code>db-upgrade</code> </p>'
          in: query
          name: ApplyAction
          required: true
          type: string
        - description: '<p>A value that specifies the type of opt-in request or undoes an opt-in request. An opt-in request of type <code>immediate</code> can''t be undone.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>'
          in: query
          name: OptInType
          required: true
          type: string
        - enum:
            - ApplyPendingMaintenanceAction
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplyPendingMaintenanceActionResult'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
      x-aws-operation-name: ApplyPendingMaintenanceAction
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Applies a pending maintenance action to a resource (for example, to a DB instance).'
      operationId: POST ApplyPendingMaintenanceAction
      parameters:
        - description: The Amazon Resource Name (ARN) of the resource that the pending maintenance action applies to.
          in: formData
          name: ResourceIdentifier
          required: true
          type: string
        - description: '<p>The pending maintenance action to apply to this resource.</p> <p>Valid values: <code>system-update</code>, <code>db-upgrade</code> </p>'
          in: formData
          name: ApplyAction
          required: true
          type: string
        - description: '<p>A value that specifies the type of opt-in request or undoes an opt-in request. An opt-in request of type <code>immediate</code> can''t be undone.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>'
          in: formData
          name: OptInType
          required: true
          type: string
        - enum:
            - ApplyPendingMaintenanceAction
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplyPendingMaintenanceActionResult'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
      x-aws-operation-name: ApplyPendingMaintenanceAction
  '/#Action=CopyDBClusterParameterGroup':
    get:
      description: Copies the specified DB cluster parameter group.
      operationId: GET CopyDBClusterParameterGroup
      parameters:
        - description: '<p>The identifier or Amazon Resource Name (ARN) for the source DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB cluster parameter group.</p> </li> <li> <p>If the source DB cluster parameter group is in the same AWS Region as the copy, specify a valid DB parameter group identifier; for example, <code>my-db-cluster-param-group</code>, or a valid ARN.</p> </li> <li> <p>If the source DB parameter group is in a different AWS Region than the copy, specify a valid DB cluster parameter group ARN; for example, <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p> </li> </ul>'
          in: query
          name: SourceDBClusterParameterGroupIdentifier
          required: true
          type: string
        - description: '<p>The identifier for the copied DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank.</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-param-group1</code> </p>'
          in: query
          name: TargetDBClusterParameterGroupIdentifier
          required: true
          type: string
        - description: A description for the copied DB cluster parameter group.
          in: query
          name: TargetDBClusterParameterGroupDescription
          required: true
          type: string
        - description: The tags that are to be assigned to the parameter group.
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CopyDBClusterParameterGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterParameterGroupResult'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '481':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '482':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      x-aws-operation-name: CopyDBClusterParameterGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Copies the specified DB cluster parameter group.
      operationId: POST CopyDBClusterParameterGroup
      parameters:
        - description: '<p>The identifier or Amazon Resource Name (ARN) for the source DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB cluster parameter group.</p> </li> <li> <p>If the source DB cluster parameter group is in the same AWS Region as the copy, specify a valid DB parameter group identifier; for example, <code>my-db-cluster-param-group</code>, or a valid ARN.</p> </li> <li> <p>If the source DB parameter group is in a different AWS Region than the copy, specify a valid DB cluster parameter group ARN; for example, <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p> </li> </ul>'
          in: formData
          name: SourceDBClusterParameterGroupIdentifier
          required: true
          type: string
        - description: '<p>The identifier for the copied DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank.</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-param-group1</code> </p>'
          in: formData
          name: TargetDBClusterParameterGroupIdentifier
          required: true
          type: string
        - description: A description for the copied DB cluster parameter group.
          in: formData
          name: TargetDBClusterParameterGroupDescription
          required: true
          type: string
        - description: The tags that are to be assigned to the parameter group.
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CopyDBClusterParameterGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterParameterGroupResult'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '481':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '482':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      x-aws-operation-name: CopyDBClusterParameterGroup
  '/#Action=CopyDBClusterSnapshot':
    get:
      description: '<p>Copies a snapshot of a DB cluster.</p> <p>To copy a DB cluster snapshot from a shared manual DB cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the shared DB cluster snapshot.</p> <p>To cancel the copy operation after it is in progress, delete the target DB cluster snapshot identified by <code>TargetDBClusterSnapshotIdentifier</code> while that DB cluster snapshot is in the <i>copying</i> status.</p>'
      operationId: GET CopyDBClusterSnapshot
      parameters:
        - description: '<p>The identifier of the DB cluster snapshot to copy. This parameter is not case sensitive.</p> <p>You can''t copy an encrypted, shared DB cluster snapshot from one AWS Region to another.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot in the "available" state.</p> </li> <li> <p>If the source snapshot is in the same AWS Region as the copy, specify a valid DB snapshot identifier.</p> </li> <li> <p>If the source snapshot is in a different AWS Region than the copy, specify a valid DB cluster snapshot ARN.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>'
          in: query
          name: SourceDBClusterSnapshotIdentifier
          required: true
          type: string
        - description: '<p>The identifier of the new DB cluster snapshot to create from the source DB cluster snapshot. This parameter is not case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot2</code> </p>'
          in: query
          name: TargetDBClusterSnapshotIdentifier
          required: true
          type: string
        - description: '<p>The AWS KMS key ID for an encrypted DB cluster snapshot. The AWS KMS key ID is the Amazon Resource Name (ARN), AWS KMS key identifier, or the AWS KMS key alias for the AWS KMS encryption key. </p> <p>If you copy an encrypted DB cluster snapshot from your AWS account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new AWS KMS encryption key. If you don''t specify a value for <code>KmsKeyId</code>, then the copy of the DB cluster snapshot is encrypted with the same AWS KMS key as the source DB cluster snapshot. </p> <p>If you copy an encrypted DB cluster snapshot that is shared from another AWS account, then you must specify a value for <code>KmsKeyId</code>. </p> <p>To copy an encrypted DB cluster snapshot to another AWS Region, set <code>KmsKeyId</code> to the AWS KMS key ID that you want to use to encrypt the copy of the DB cluster snapshot in the destination Region. AWS KMS encryption keys are specific to the AWS Region that they are created in, and you can''t use encryption keys from one Region in another Region.</p> <p>If you copy an unencrypted DB cluster snapshot and specify a value for the <code>KmsKeyId</code> parameter, an error is returned.</p>'
          in: query
          name: KmsKeyId
          required: false
          type: string
        - description: '<p>The URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> API action in the AWS Region that contains the source DB cluster snapshot to copy. You must use the <code>PreSignedUrl</code> parameter when copying an encrypted DB cluster snapshot from another AWS Region.</p> <p>The presigned URL must be a valid request for the <code>CopyDBSClusterSnapshot</code> API action that can be executed in the source AWS Region that contains the encrypted DB cluster snapshot to be copied. The presigned URL request must contain the following parameter values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS KMS key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> action that is called in the destination AWS Region, and the action contained in the presigned URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the AWS Region that the DB cluster snapshot will be created in.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, if you are copying an encrypted DB cluster snapshot from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:my-cluster-snapshot-20161115</code>.</p> </li> </ul>'
          in: query
          name: PreSignedUrl
          required: false
          type: string
        - description: 'Set to <code>true</code> to copy all tags from the source DB cluster snapshot to the target DB cluster snapshot, and otherwise <code>false</code>. The default is <code>false</code>.'
          in: query
          name: CopyTags
          required: false
          type: boolean
        - description: The tags to be assigned to the DB cluster snapshot.
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CopyDBClusterSnapshot
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterSnapshotResult'
        '480':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '481':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
        '482':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '483':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '484':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '485':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      x-aws-operation-name: CopyDBClusterSnapshot
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Copies a snapshot of a DB cluster.</p> <p>To copy a DB cluster snapshot from a shared manual DB cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the shared DB cluster snapshot.</p> <p>To cancel the copy operation after it is in progress, delete the target DB cluster snapshot identified by <code>TargetDBClusterSnapshotIdentifier</code> while that DB cluster snapshot is in the <i>copying</i> status.</p>'
      operationId: POST CopyDBClusterSnapshot
      parameters:
        - description: '<p>The identifier of the DB cluster snapshot to copy. This parameter is not case sensitive.</p> <p>You can''t copy an encrypted, shared DB cluster snapshot from one AWS Region to another.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot in the "available" state.</p> </li> <li> <p>If the source snapshot is in the same AWS Region as the copy, specify a valid DB snapshot identifier.</p> </li> <li> <p>If the source snapshot is in a different AWS Region than the copy, specify a valid DB cluster snapshot ARN.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>'
          in: formData
          name: SourceDBClusterSnapshotIdentifier
          required: true
          type: string
        - description: '<p>The identifier of the new DB cluster snapshot to create from the source DB cluster snapshot. This parameter is not case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot2</code> </p>'
          in: formData
          name: TargetDBClusterSnapshotIdentifier
          required: true
          type: string
        - description: '<p>The AWS KMS key ID for an encrypted DB cluster snapshot. The AWS KMS key ID is the Amazon Resource Name (ARN), AWS KMS key identifier, or the AWS KMS key alias for the AWS KMS encryption key. </p> <p>If you copy an encrypted DB cluster snapshot from your AWS account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new AWS KMS encryption key. If you don''t specify a value for <code>KmsKeyId</code>, then the copy of the DB cluster snapshot is encrypted with the same AWS KMS key as the source DB cluster snapshot. </p> <p>If you copy an encrypted DB cluster snapshot that is shared from another AWS account, then you must specify a value for <code>KmsKeyId</code>. </p> <p>To copy an encrypted DB cluster snapshot to another AWS Region, set <code>KmsKeyId</code> to the AWS KMS key ID that you want to use to encrypt the copy of the DB cluster snapshot in the destination Region. AWS KMS encryption keys are specific to the AWS Region that they are created in, and you can''t use encryption keys from one Region in another Region.</p> <p>If you copy an unencrypted DB cluster snapshot and specify a value for the <code>KmsKeyId</code> parameter, an error is returned.</p>'
          in: formData
          name: KmsKeyId
          required: false
          type: string
        - description: '<p>The URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> API action in the AWS Region that contains the source DB cluster snapshot to copy. You must use the <code>PreSignedUrl</code> parameter when copying an encrypted DB cluster snapshot from another AWS Region.</p> <p>The presigned URL must be a valid request for the <code>CopyDBSClusterSnapshot</code> API action that can be executed in the source AWS Region that contains the encrypted DB cluster snapshot to be copied. The presigned URL request must contain the following parameter values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS KMS key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> action that is called in the destination AWS Region, and the action contained in the presigned URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the AWS Region that the DB cluster snapshot will be created in.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, if you are copying an encrypted DB cluster snapshot from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:my-cluster-snapshot-20161115</code>.</p> </li> </ul>'
          in: formData
          name: PreSignedUrl
          required: false
          type: string
        - description: 'Set to <code>true</code> to copy all tags from the source DB cluster snapshot to the target DB cluster snapshot, and otherwise <code>false</code>. The default is <code>false</code>.'
          in: formData
          name: CopyTags
          required: false
          type: boolean
        - description: The tags to be assigned to the DB cluster snapshot.
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CopyDBClusterSnapshot
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterSnapshotResult'
        '480':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '481':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
        '482':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '483':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '484':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '485':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      x-aws-operation-name: CopyDBClusterSnapshot
  '/#Action=CreateDBCluster':
    get:
      description: Creates a new Amazon DocumentDB DB cluster.
      operationId: GET CreateDBCluster
      parameters:
        - description: A list of Amazon EC2 Availability Zones that instances in the DB cluster can be created in.
          in: query
          items:
            type: string
          name: AvailabilityZones
          required: false
          type: array
        - description: '<p>The number of days for which automated backups are retained. You must specify a minimum value of 1.</p> <p>Default: 1</p> <p>Constraints:</p> <ul> <li> <p>Must be a value from 1 to 35.</p> </li> </ul>'
          in: query
          name: BackupRetentionPeriod
          required: false
          type: integer
        - description: '<p>The DB cluster identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster</code> </p>'
          in: query
          name: DBClusterIdentifier
          required: true
          type: string
        - description: ' The name of the DB cluster parameter group to associate with this DB cluster.'
          in: query
          name: DBClusterParameterGroupName
          required: false
          type: string
        - description: A list of EC2 VPC security groups to associate with this DB cluster.
          in: query
          items:
            type: string
          name: VpcSecurityGroupIds
          required: false
          type: array
        - description: '<p>A DB subnet group to associate with this DB cluster.</p> <p>Constraints: Must match the name of an existing <code>DBSubnetGroup</code>. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>'
          in: query
          name: DBSubnetGroupName
          required: false
          type: string
        - description: '<p>The name of the database engine to be used for this DB cluster.</p> <p>Valid values: <code>docdb</code> </p>'
          in: query
          name: Engine
          required: true
          type: string
        - description: The version number of the database engine to use.
          in: query
          name: EngineVersion
          required: false
          type: string
        - description: The port number on which the instances in the DB cluster accept connections.
          in: query
          name: Port
          required: false
          type: integer
        - description: '<p>The name of the master user for the DB cluster.</p> <p>Constraints:</p> <ul> <li> <p>Must be from 1 to 16 letters or numbers.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot be a reserved word for the chosen database engine.</p> </li> </ul>'
          in: query
          name: MasterUsername
          required: true
          type: string
        - description: '<p>The password for the master database user. This password can contain any printable ASCII character except forward slash (/), double quote ("), or the "at" symbol (@).</p> <p>Constraints: Must contain from 8 to 41 characters.</p>'
          in: query
          name: MasterUserPassword
          required: true
          type: string
        - description: '<p>The daily time range during which automated backups are created if automated backups are enabled using the <code>BackupRetentionPeriod</code> parameter. </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region. </p> <p>Constraints:</p> <ul> <li> <p>Must be in the format <code>hh24:mi-hh24:mi</code>.</p> </li> <li> <p>Must be in Universal Coordinated Time (UTC).</p> </li> <li> <p>Must not conflict with the preferred maintenance window.</p> </li> <li> <p>Must be at least 30 minutes.</p> </li> </ul>'
          in: query
          name: PreferredBackupWindow
          required: false
          type: string
        - description: '<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p>Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region, occurring on a random day of the week.</p> <p>Valid days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>'
          in: query
          name: PreferredMaintenanceWindow
          required: false
          type: string
        - description: The tags to be assigned to the DB cluster.
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - description: Specifies whether the DB cluster is encrypted.
          in: query
          name: StorageEncrypted
          required: false
          type: boolean
        - description: '<p>The AWS KMS key identifier for an encrypted DB cluster.</p> <p>The AWS KMS key identifier is the Amazon Resource Name (ARN) for the AWS KMS encryption key. If you are creating a DB cluster using the same AWS account that owns the AWS KMS encryption key that is used to encrypt the new DB cluster, you can use the AWS KMS key alias instead of the ARN for the AWS KMS encryption key.</p> <p>If an encryption key is not specified in <code>KmsKeyId</code>:</p> <ul> <li> <p>If <code>ReplicationSourceIdentifier</code> identifies an encrypted source, then Amazon DocumentDB uses the encryption key that is used to encrypt the source. Otherwise, Amazon DocumentDB uses your default encryption key. </p> </li> <li> <p>If the <code>StorageEncrypted</code> parameter is <code>true</code> and <code>ReplicationSourceIdentifier</code> is not specified, Amazon DocumentDB uses your default encryption key.</p> </li> </ul> <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.</p> <p>If you create a replica of an encrypted DB cluster in another AWS Region, you must set <code>KmsKeyId</code> to a KMS key ID that is valid in the destination AWS Region. This key is used to encrypt the replica in that AWS Region.</p>'
          in: query
          name: KmsKeyId
          required: false
          type: string
        - description: A list of log types that need to be enabled for exporting to Amazon CloudWatch Logs.
          in: query
          items:
            type: string
          name: EnableCloudwatchLogsExports
          required: false
          type: array
        - description: 'Specifies whether this cluster can be deleted. If <code>DeletionProtection</code> is enabled, the cluster cannot be deleted unless it is modified and <code>DeletionProtection</code> is disabled. <code>DeletionProtection</code> protects clusters from being accidentally deleted.'
          in: query
          name: DeletionProtection
          required: false
          type: boolean
        - enum:
            - CreateDBCluster
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterResult'
        '480':
          description: DBClusterAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterAlreadyExistsFault'
        '481':
          description: InsufficientStorageClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientStorageClusterCapacityFault'
        '482':
          description: DBClusterQuotaExceededFault
          schema:
            $ref: '#/definitions/DBClusterQuotaExceededFault'
        '483':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '484':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '485':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '486':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '487':
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        '488':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '489':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '490':
          description: DBClusterParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterParameterGroupNotFoundFault'
        '491':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '492':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '493':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '494':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
      x-aws-operation-name: CreateDBCluster
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new Amazon DocumentDB DB cluster.
      operationId: POST CreateDBCluster
      parameters:
        - description: A list of Amazon EC2 Availability Zones that instances in the DB cluster can be created in.
          in: formData
          items:
            type: string
          name: AvailabilityZones
          required: false
          type: array
        - description: '<p>The number of days for which automated backups are retained. You must specify a minimum value of 1.</p> <p>Default: 1</p> <p>Constraints:</p> <ul> <li> <p>Must be a value from 1 to 35.</p> </li> </ul>'
          in: formData
          name: BackupRetentionPeriod
          required: false
          type: integer
        - description: '<p>The DB cluster identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster</code> </p>'
          in: formData
          name: DBClusterIdentifier
          required: true
          type: string
        - description: ' The name of the DB cluster parameter group to associate with this DB cluster.'
          in: formData
          name: DBClusterParameterGroupName
          required: false
          type: string
        - description: A list of EC2 VPC security groups to associate with this DB cluster.
          in: formData
          items:
            type: string
          name: VpcSecurityGroupIds
          required: false
          type: array
        - description: '<p>A DB subnet group to associate with this DB cluster.</p> <p>Constraints: Must match the name of an existing <code>DBSubnetGroup</code>. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>'
          in: formData
          name: DBSubnetGroupName
          required: false
          type: string
        - description: '<p>The name of the database engine to be used for this DB cluster.</p> <p>Valid values: <code>docdb</code> </p>'
          in: formData
          name: Engine
          required: true
          type: string
        - description: The version number of the database engine to use.
          in: formData
          name: EngineVersion
          required: false
          type: string
        - description: The port number on which the instances in the DB cluster accept connections.
          in: formData
          name: Port
          required: false
          type: integer
        - description: '<p>The name of the master user for the DB cluster.</p> <p>Constraints:</p> <ul> <li> <p>Must be from 1 to 16 letters or numbers.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot be a reserved word for the chosen database engine.</p> </li> </ul>'
          in: formData
          name: MasterUsername
          required: true
          type: string
        - description: '<p>The password for the master database user. This password can contain any printable ASCII character except forward slash (/), double quote ("), or the "at" symbol (@).</p> <p>Constraints: Must contain from 8 to 41 characters.</p>'
          in: formData
          name: MasterUserPassword
          required: true
          type: string
        - description: '<p>The daily time range during which automated backups are created if automated backups are enabled using the <code>BackupRetentionPeriod</code> parameter. </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region. </p> <p>Constraints:</p> <ul> <li> <p>Must be in the format <code>hh24:mi-hh24:mi</code>.</p> </li> <li> <p>Must be in Universal Coordinated Time (UTC).</p> </li> <li> <p>Must not conflict with the preferred maintenance window.</p> </li> <li> <p>Must be at least 30 minutes.</p> </li> </ul>'
          in: formData
          name: PreferredBackupWindow
          required: false
          type: string
        - description: '<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p>Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region, occurring on a random day of the week.</p> <p>Valid days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>'
          in: formData
          name: PreferredMaintenanceWindow
          required: false
          type: string
        - description: The tags to be assigned to the DB cluster.
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - description: Specifies whether the DB cluster is encrypted.
          in: formData
          name: StorageEncrypted
          required: false
          type: boolean
        - description: '<p>The AWS KMS key identifier for an encrypted DB cluster.</p> <p>The AWS KMS key identifier is the Amazon Resource Name (ARN) for the AWS KMS encryption key. If you are creating a DB cluster using the same AWS account that owns the AWS KMS encryption key that is used to encrypt the new DB cluster, you can use the AWS KMS key alias instead of the ARN for the AWS KMS encryption key.</p> <p>If an encryption key is not specified in <code>KmsKeyId</code>:</p> <ul> <li> <p>If <code>ReplicationSourceIdentifier</code> identifies an encrypted source, then Amazon DocumentDB uses the encryption key that is used to encrypt the source. Otherwise, Amazon DocumentDB uses your default encryption key. </p> </li> <li> <p>If the <code>StorageEncrypted</code> parameter is <code>true</code> and <code>ReplicationSourceIdentifier</code> is not specified, Amazon DocumentDB uses your default encryption key.</p> </li> </ul> <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.</p> <p>If you create a replica of an encrypted DB cluster in another AWS Region, you must set <code>KmsKeyId</code> to a KMS key ID that is valid in the destination AWS Region. This key is used to encrypt the replica in that AWS Region.</p>'
          in: formData
          name: KmsKeyId
          required: false
          type: string
        - description: A list of log types that need to be enabled for exporting to Amazon CloudWatch Logs.
          in: formData
          items:
            type: string
          name: EnableCloudwatchLogsExports
          required: false
          type: array
        - description: 'Specifies whether this cluster can be deleted. If <code>DeletionProtection</code> is enabled, the cluster cannot be deleted unless it is modified and <code>DeletionProtection</code> is disabled. <code>DeletionProtection</code> protects clusters from being accidentally deleted.'
          in: formData
          name: DeletionProtection
          required: false
          type: boolean
        - enum:
            - CreateDBCluster
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterResult'
        '480':
          description: DBClusterAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterAlreadyExistsFault'
        '481':
          description: InsufficientStorageClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientStorageClusterCapacityFault'
        '482':
          description: DBClusterQuotaExceededFault
          schema:
            $ref: '#/definitions/DBClusterQuotaExceededFault'
        '483':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '484':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '485':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '486':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '487':
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        '488':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '489':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '490':
          description: DBClusterParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterParameterGroupNotFoundFault'
        '491':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '492':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '493':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '494':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
      x-aws-operation-name: CreateDBCluster
  '/#Action=CreateDBClusterParameterGroup':
    get:
      description: '<p>Creates a new DB cluster parameter group.</p> <p>Parameters in a DB cluster parameter group apply to all of the instances in a DB cluster.</p> <p>A DB cluster parameter group is initially created with the default parameters for the database engine used by instances in the DB cluster. To provide custom values for any of the parameters, you must modify the group after you create it. After you create a DB cluster parameter group, you must associate it with your DB cluster. For the new DB cluster parameter group and associated settings to take effect, you must then reboot the DB instances in the DB cluster without failover.</p> <important> <p>After you create a DB cluster parameter group, you should wait at least 5 minutes before creating your first DB cluster that uses that DB cluster parameter group as the default parameter group. This allows Amazon DocumentDB to fully complete the create action before the DB cluster parameter group is used as the default for a new DB cluster. This step is especially important for parameters that are critical when creating the default database for a DB cluster, such as the character set for the default database defined by the <code>character_set_database</code> parameter.</p> </important>'
      operationId: GET CreateDBClusterParameterGroup
      parameters:
        - description: '<p>The name of the DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must match the name of an existing <code>DBClusterParameterGroup</code>.</p> </li> </ul> <note> <p>This value is stored as a lowercase string.</p> </note>'
          in: query
          name: DBClusterParameterGroupName
          required: true
          type: string
        - description: The DB cluster parameter group family name.
          in: query
          name: DBParameterGroupFamily
          required: true
          type: string
        - description: The description for the DB cluster parameter group.
          in: query
          name: Description
          required: true
          type: string
        - description: The tags to be assigned to the DB cluster parameter group.
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CreateDBClusterParameterGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterParameterGroupResult'
        '480':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '481':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      x-aws-operation-name: CreateDBClusterParameterGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a new DB cluster parameter group.</p> <p>Parameters in a DB cluster parameter group apply to all of the instances in a DB cluster.</p> <p>A DB cluster parameter group is initially created with the default parameters for the database engine used by instances in the DB cluster. To provide custom values for any of the parameters, you must modify the group after you create it. After you create a DB cluster parameter group, you must associate it with your DB cluster. For the new DB cluster parameter group and associated settings to take effect, you must then reboot the DB instances in the DB cluster without failover.</p> <important> <p>After you create a DB cluster parameter group, you should wait at least 5 minutes before creating your first DB cluster that uses that DB cluster parameter group as the default parameter group. This allows Amazon DocumentDB to fully complete the create action before the DB cluster parameter group is used as the default for a new DB cluster. This step is especially important for parameters that are critical when creating the default database for a DB cluster, such as the character set for the default database defined by the <code>character_set_database</code> parameter.</p> </important>'
      operationId: POST CreateDBClusterParameterGroup
      parameters:
        - description: '<p>The name of the DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must match the name of an existing <code>DBClusterParameterGroup</code>.</p> </li> </ul> <note> <p>This value is stored as a lowercase string.</p> </note>'
          in: formData
          name: DBClusterParameterGroupName
          required: true
          type: string
        - description: The DB cluster parameter group family name.
          in: formData
          name: DBParameterGroupFamily
          required: true
          type: string
        - description: The description for the DB cluster parameter group.
          in: formData
          name: Description
          required: true
          type: string
        - description: The tags to be assigned to the DB cluster parameter group.
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CreateDBClusterParameterGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterParameterGroupResult'
        '480':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '481':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      x-aws-operation-name: CreateDBClusterParameterGroup
  '/#Action=CreateDBClusterSnapshot':
    get:
      description: 'Creates a snapshot of a DB cluster. '
      operationId: GET CreateDBClusterSnapshot
      parameters:
        - description: '<p>The identifier of the DB cluster snapshot. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>'
          in: query
          name: DBClusterSnapshotIdentifier
          required: true
          type: string
        - description: '<p>The identifier of the DB cluster to create a snapshot for. This parameter is not case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match the identifier of an existing <code>DBCluster</code>.</p> </li> </ul> <p>Example: <code>my-cluster</code> </p>'
          in: query
          name: DBClusterIdentifier
          required: true
          type: string
        - description: The tags to be assigned to the DB cluster snapshot.
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CreateDBClusterSnapshot
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterSnapshotResult'
        '480':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
      x-aws-operation-name: CreateDBClusterSnapshot
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a snapshot of a DB cluster. '
      operationId: POST CreateDBClusterSnapshot
      parameters:
        - description: '<p>The identifier of the DB cluster snapshot. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>'
          in: formData
          name: DBClusterSnapshotIdentifier
          required: true
          type: string
        - description: '<p>The identifier of the DB cluster to create a snapshot for. This parameter is not case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match the identifier of an existing <code>DBCluster</code>.</p> </li> </ul> <p>Example: <code>my-cluster</code> </p>'
          in: formData
          name: DBClusterIdentifier
          required: true
          type: string
        - description: The tags to be assigned to the DB cluster snapshot.
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CreateDBClusterSnapshot
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterSnapshotResult'
        '480':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
      x-aws-operation-name: CreateDBClusterSnapshot
  '/#Action=CreateDBInstance':
    get:
      description: Creates a new DB instance.
      operationId: GET CreateDBInstance
      parameters:
        - description: '<p>The DB instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>mydbinstance</code> </p>'
          in: query
          name: DBInstanceIdentifier
          required: true
          type: string
        - description: 'The compute and memory capacity of the DB instance; for example, <code>db.r5.large</code>. '
          in: query
          name: DBInstanceClass
          required: true
          type: string
        - description: '<p>The name of the database engine to be used for this instance.</p> <p>Valid value: <code>docdb</code> </p>'
          in: query
          name: Engine
          required: true
          type: string
        - description: '<p> The Amazon EC2 Availability Zone that the DB instance is created in.</p> <p>Default: A random, system-chosen Availability Zone in the endpoint''s AWS Region.</p> <p> Example: <code>us-east-1d</code> </p> <p> Constraint: The <code>AvailabilityZone</code> parameter can''t be specified if the <code>MultiAZ</code> parameter is set to <code>true</code>. The specified Availability Zone must be in the same AWS Region as the current endpoint. </p>'
          in: query
          name: AvailabilityZone
          required: false
          type: string
        - description: '<p>The time range each week during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region, occurring on a random day of the week. </p> <p>Valid days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>'
          in: query
          name: PreferredMaintenanceWindow
          required: false
          type: string
        - description: '<p>Indicates that minor engine upgrades are applied automatically to the DB instance during the maintenance window.</p> <p>Default: <code>true</code> </p>'
          in: query
          name: AutoMinorVersionUpgrade
          required: false
          type: boolean
        - description: The tags to be assigned to the DB instance.
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - description: The identifier of the DB cluster that the instance will belong to.
          in: query
          name: DBClusterIdentifier
          required: true
          type: string
        - description: '<p>A value that specifies the order in which an Amazon DocumentDB replica is promoted to the primary instance after a failure of the existing primary instance.</p> <p>Default: 1</p> <p>Valid values: 0-15</p>'
          in: query
          name: PromotionTier
          required: false
          type: integer
        - enum:
            - CreateDBInstance
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBInstanceResult'
        '480':
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        '481':
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        '482':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '483':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '484':
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        '485':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '486':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '487':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '488':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '489':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '490':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '491':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '492':
          description: StorageTypeNotSupportedFault
          schema:
            $ref: '#/definitions/StorageTypeNotSupportedFault'
        '493':
          description: AuthorizationNotFoundFault
          schema:
            $ref: '#/definitions/AuthorizationNotFoundFault'
        '494':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      x-aws-operation-name: CreateDBInstance
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new DB instance.
      operationId: POST CreateDBInstance
      parameters:
        - description: '<p>The DB instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>mydbinstance</code> </p>'
          in: formData
          name: DBInstanceIdentifier
          required: true
          type: string
        - description: 'The compute and memory capacity of the DB instance; for example, <code>db.r5.large</code>. '
          in: formData
          name: DBInstanceClass
          required: true
          type: string
        - description: '<p>The name of the database engine to be used for this instance.</p> <p>Valid value: <code>docdb</code> </p>'
          in: formData
          name: Engine
          required: true
          type: string
        - description: '<p> The Amazon EC2 Availability Zone that the DB instance is created in.</p> <p>Default: A random, system-chosen Availability Zone in the endpoint''s AWS Region.</p> <p> Example: <code>us-east-1d</code> </p> <p> Constraint: The <code>AvailabilityZone</code> parameter can''t be specified if the <code>MultiAZ</code> parameter is set to <code>true</code>. The specified Availability Zone must be in the same AWS Region as the current endpoint. </p>'
          in: formData
          name: AvailabilityZone
          required: false
          type: string
        - description: '<p>The time range each week during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region, occurring on a random day of the week. </p> <p>Valid days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>'
          in: formData
          name: PreferredMaintenanceWindow
          required: false
          type: string
        - description: '<p>Indicates that minor engine upgrades are applied automatically to the DB instance during the maintenance window.</p> <p>Default: <code>true</code> </p>'
          in: formData
          name: AutoMinorVersionUpgrade
          required: false
          type: boolean
        - description: The tags to be assigned to the DB instance.
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - description: The identifier of the DB cluster that the instance will belong to.
          in: formData
          name: DBClusterIdentifier
          required: true
          type: string
        - description: '<p>A value that specifies the order in which an Amazon DocumentDB replica is promoted to the primary instance after a failure of the existing primary instance.</p> <p>Default: 1</p> <p>Valid values: 0-15</p>'
          in: formData
          name: PromotionTier
          required: false
          type: integer
        - enum:
            - CreateDBInstance
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBInstanceResult'
        '480':
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        '481':
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        '482':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '483':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '484':
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        '485':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '486':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '487':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '488':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '489':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '490':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '491':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '492':
          description: StorageTypeNotSupportedFault
          schema:
            $ref: '#/definitions/StorageTypeNotSupportedFault'
        '493':
          description: AuthorizationNotFoundFault
          schema:
            $ref: '#/definitions/AuthorizationNotFoundFault'
        '494':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      x-aws-operation-name: CreateDBInstance
  '/#Action=CreateDBSubnetGroup':
    get:
      description: Creates a new DB subnet group. DB subnet groups must contain at least one subnet in at least two Availability Zones in the AWS Region.
      operationId: GET CreateDBSubnetGroup
      parameters:
        - description: '<p>The name for the DB subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 letters, numbers, periods, underscores, spaces, or hyphens. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>'
          in: query
          name: DBSubnetGroupName
          required: true
          type: string
        - description: The description for the DB subnet group.
          in: query
          name: DBSubnetGroupDescription
          required: true
          type: string
        - description: The Amazon EC2 subnet IDs for the DB subnet group.
          in: query
          items:
            type: string
          name: SubnetIds
          required: true
          type: array
        - description: The tags to be assigned to the DB subnet group.
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CreateDBSubnetGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSubnetGroupResult'
        '480':
          description: DBSubnetGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSubnetGroupAlreadyExistsFault'
        '481':
          description: DBSubnetGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetGroupQuotaExceededFault'
        '482':
          description: DBSubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetQuotaExceededFault'
        '483':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '484':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
      x-aws-operation-name: CreateDBSubnetGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new DB subnet group. DB subnet groups must contain at least one subnet in at least two Availability Zones in the AWS Region.
      operationId: POST CreateDBSubnetGroup
      parameters:
        - description: '<p>The name for the DB subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 letters, numbers, periods, underscores, spaces, or hyphens. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>'
          in: formData
          name: DBSubnetGroupName
          required: true
          type: string
        - description: The description for the DB subnet group.
          in: formData
          name: DBSubnetGroupDescription
          required: true
          type: string
        - description: The Amazon EC2 subnet IDs for the DB subnet group.
          in: formData
          items:
            type: string
          name: SubnetIds
          required: true
          type: array
        - description: The tags to be assigned to the DB subnet group.
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CreateDBSubnetGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSubnetGroupResult'
        '480':
          description: DBSubnetGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSubnetGroupAlreadyExistsFault'
        '481':
          description: DBSubnetGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetGroupQuotaExceededFault'
        '482':
          description: DBSubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetQuotaExceededFault'
        '483':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '484':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
      x-aws-operation-name: CreateDBSubnetGroup
  '/#Action=DeleteDBCluster':
    get:
      description: '<p>Deletes a previously provisioned DB cluster. When you delete a DB cluster, all automated backups for that DB cluster are deleted and can''t be recovered. Manual DB cluster snapshots of the specified DB cluster are not deleted.</p> <p/>'
      operationId: GET DeleteDBCluster
      parameters:
        - description: '<p>The DB cluster identifier for the DB cluster to be deleted. This parameter isn''t case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match an existing <code>DBClusterIdentifier</code>.</p> </li> </ul>'
          in: query
          name: DBClusterIdentifier
          required: true
          type: string
        - description: '<p> Determines whether a final DB cluster snapshot is created before the DB cluster is deleted. If <code>true</code> is specified, no DB cluster snapshot is created. If <code>false</code> is specified, a DB cluster snapshot is created before the DB cluster is deleted. </p> <note> <p>If <code>SkipFinalSnapshot</code> is <code>false</code>, you must specify a <code>FinalDBSnapshotIdentifier</code> parameter.</p> </note> <p>Default: <code>false</code> </p>'
          in: query
          name: SkipFinalSnapshot
          required: false
          type: boolean
        - description: '<p> The DB cluster snapshot identifier of the new DB cluster snapshot created when <code>SkipFinalSnapshot</code> is set to <code>false</code>. </p> <note> <p> Specifying this parameter and also setting the <code>SkipFinalShapshot</code> parameter to <code>true</code> results in an error. </p> </note> <p>Constraints:</p> <ul> <li> <p>Must be from 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul>'
          in: query
          name: FinalDBSnapshotIdentifier
          required: false
          type: string
        - enum:
            - DeleteDBCluster
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBClusterResult'
        '480':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
      x-aws-operation-name: DeleteDBCluster
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a previously provisioned DB cluster. When you delete a DB cluster, all automated backups for that DB cluster are deleted and can''t be recovered. Manual DB cluster snapshots of the specified DB cluster are not deleted.</p> <p/>'
      operationId: POST DeleteDBCluster
      parameters:
        - description: '<p>The DB cluster identifier for the DB cluster to be deleted. This parameter isn''t case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match an existing <code>DBClusterIdentifier</code>.</p> </li> </ul>'
          in: formData
          name: DBClusterIdentifier
          required: true
          type: string
        - description: '<p> Determines whether a final DB cluster snapshot is created before the DB cluster is deleted. If <code>true</code> is specified, no DB cluster snapshot is created. If <code>false</code> is specified, a DB cluster snapshot is created before the DB cluster is deleted. </p> <note> <p>If <code>SkipFinalSnapshot</code> is <code>false</code>, you must specify a <code>FinalDBSnapshotIdentifier</code> parameter.</p> </note> <p>Default: <code>false</code> </p>'
          in: formData
          name: SkipFinalSnapshot
          required: false
          type: boolean
        - description: '<p> The DB cluster snapshot identifier of the new DB cluster snapshot created when <code>SkipFinalSnapshot</code> is set to <code>false</code>. </p> <note> <p> Specifying this parameter and also setting the <code>SkipFinalShapshot</code> parameter to <code>true</code> results in an error. </p> </note> <p>Constraints:</p> <ul> <li> <p>Must be from 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul>'
          in: formData
          name: FinalDBSnapshotIdentifier
          required: false
          type: string
        - enum:
            - DeleteDBCluster
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBClusterResult'
        '480':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
      x-aws-operation-name: DeleteDBCluster
  '/#Action=DeleteDBClusterParameterGroup':
    get:
      description: Deletes a specified DB cluster parameter group. The DB cluster parameter group to be deleted can't be associated with any DB clusters.
      operationId: GET DeleteDBClusterParameterGroup
      parameters:
        - description: '<p>The name of the DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must be the name of an existing DB cluster parameter group.</p> </li> <li> <p>You can''t delete a default DB cluster parameter group.</p> </li> <li> <p>Cannot be associated with any DB clusters.</p> </li> </ul>'
          in: query
          name: DBClusterParameterGroupName
          required: true
          type: string
        - enum:
            - DeleteDBClusterParameterGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBParameterGroupStateFault'
        '481':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      x-aws-operation-name: DeleteDBClusterParameterGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a specified DB cluster parameter group. The DB cluster parameter group to be deleted can't be associated with any DB clusters.
      operationId: POST DeleteDBClusterParameterGroup
      parameters:
        - description: '<p>The name of the DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must be the name of an existing DB cluster parameter group.</p> </li> <li> <p>You can''t delete a default DB cluster parameter group.</p> </li> <li> <p>Cannot be associated with any DB clusters.</p> </li> </ul>'
          in: formData
          name: DBClusterParameterGroupName
          required: true
          type: string
        - enum:
            - DeleteDBClusterParameterGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBParameterGroupStateFault'
        '481':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      x-aws-operation-name: DeleteDBClusterParameterGroup
  '/#Action=DeleteDBClusterSnapshot':
    get:
      description: '<p>Deletes a DB cluster snapshot. If the snapshot is being copied, the copy operation is terminated.</p> <note> <p>The DB cluster snapshot must be in the <code>available</code> state to be deleted.</p> </note>'
      operationId: GET DeleteDBClusterSnapshot
      parameters:
        - description: '<p>The identifier of the DB cluster snapshot to delete.</p> <p>Constraints: Must be the name of an existing DB cluster snapshot in the <code>available</code> state.</p>'
          in: query
          name: DBClusterSnapshotIdentifier
          required: true
          type: string
        - enum:
            - DeleteDBClusterSnapshot
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBClusterSnapshotResult'
        '480':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '481':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
      x-aws-operation-name: DeleteDBClusterSnapshot
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a DB cluster snapshot. If the snapshot is being copied, the copy operation is terminated.</p> <note> <p>The DB cluster snapshot must be in the <code>available</code> state to be deleted.</p> </note>'
      operationId: POST DeleteDBClusterSnapshot
      parameters:
        - description: '<p>The identifier of the DB cluster snapshot to delete.</p> <p>Constraints: Must be the name of an existing DB cluster snapshot in the <code>available</code> state.</p>'
          in: formData
          name: DBClusterSnapshotIdentifier
          required: true
          type: string
        - enum:
            - DeleteDBClusterSnapshot
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBClusterSnapshotResult'
        '480':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '481':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
      x-aws-operation-name: DeleteDBClusterSnapshot
  '/#Action=DeleteDBInstance':
    get:
      description: 'Deletes a previously provisioned DB instance. '
      operationId: GET DeleteDBInstance
      parameters:
        - description: '<p>The DB instance identifier for the DB instance to be deleted. This parameter isn''t case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match the name of an existing DB instance.</p> </li> </ul>'
          in: query
          name: DBInstanceIdentifier
          required: true
          type: string
        - enum:
            - DeleteDBInstance
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBInstanceResult'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '482':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
      x-aws-operation-name: DeleteDBInstance
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes a previously provisioned DB instance. '
      operationId: POST DeleteDBInstance
      parameters:
        - description: '<p>The DB instance identifier for the DB instance to be deleted. This parameter isn''t case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match the name of an existing DB instance.</p> </li> </ul>'
          in: formData
          name: DBInstanceIdentifier
          required: true
          type: string
        - enum:
            - DeleteDBInstance
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBInstanceResult'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '482':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
      x-aws-operation-name: DeleteDBInstance
  '/#Action=DeleteDBSubnetGroup':
    get:
      description: <p>Deletes a DB subnet group.</p> <note> <p>The specified database subnet group must not be associated with any DB instances.</p> </note>
      operationId: GET DeleteDBSubnetGroup
      parameters:
        - description: '<p>The name of the database subnet group to delete.</p> <note> <p>You can''t delete the default subnet group.</p> </note> <p>Constraints:</p> <p>Must match the name of an existing <code>DBSubnetGroup</code>. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>'
          in: query
          name: DBSubnetGroupName
          required: true
          type: string
        - enum:
            - DeleteDBSubnetGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        '481':
          description: InvalidDBSubnetStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetStateFault'
        '482':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
      x-aws-operation-name: DeleteDBSubnetGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deletes a DB subnet group.</p> <note> <p>The specified database subnet group must not be associated with any DB instances.</p> </note>
      operationId: POST DeleteDBSubnetGroup
      parameters:
        - description: '<p>The name of the database subnet group to delete.</p> <note> <p>You can''t delete the default subnet group.</p> </note> <p>Constraints:</p> <p>Must match the name of an existing <code>DBSubnetGroup</code>. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>'
          in: formData
          name: DBSubnetGroupName
          required: true
          type: string
        - enum:
            - DeleteDBSubnetGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        '481':
          description: InvalidDBSubnetStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetStateFault'
        '482':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
      x-aws-operation-name: DeleteDBSubnetGroup
  '/#Action=DescribeDBClusterParameterGroups':
    get:
[...]
