openapi: 3.0.0
servers:
  - url: https://verifiedaccess.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Chrome Verified Access API
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://verifiedaccess.googleapis.com/$discovery/rest?version=v2
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: verifiedaccess
externalDocs:
  url: https://developers.google.com/chrome/verified-access
tags:
  - name: challenge
paths:
  /v2/challenge:generate:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates a new challenge.
      operationId: verifiedaccess.challenge.generate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Empty"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Challenge"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/verifiedaccess
          Oauth2c:
            - https://www.googleapis.com/auth/verifiedaccess
      tags:
        - challenge
  /v2/challenge:verify:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Verifies the challenge response.
      operationId: verifiedaccess.challenge.verify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyChallengeResponseRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyChallengeResponseResult"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/verifiedaccess
          Oauth2c:
            - https://www.googleapis.com/auth/verifiedaccess
      tags:
        - challenge
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Challenge:
      description: Result message for VerifiedAccess.GenerateChallenge.
      properties:
        challenge:
          description: Generated challenge, the bytes representation of SignedData.
          format: byte
          type: string
      type: object
    CrowdStrikeAgent:
      description: Properties of the CrowdStrike agent installed on a device.
      properties:
        agentId:
          description: The Agent ID of the Crowdstrike agent.
          type: string
        customerId:
          description: The Customer ID to which the agent belongs to.
          type: string
      type: object
    DeviceSignals:
      description: The device signals as reported by Chrome. Unless otherwise specified, signals are available on all platforms.
      properties:
        allowScreenLock:
          description: Value of the AllowScreenLock policy on the device. See https://chromeenterprise.google/policies/?policy=AllowScreenLock for more details. Available on ChromeOS only.
          type: boolean
        browserVersion:
          description: 'Current version of the Chrome browser which generated this set of signals. Example value: "107.0.5286.0".'
          type: string
        builtInDnsClientEnabled:
          description: "Whether Chrome's built-in DNS client is used. The OS DNS client is otherwise used. This value may be controlled by an enterprise policy: https://chromeenterprise.google/policies/#BuiltInDnsClientEnabled."
          type: boolean
        chromeRemoteDesktopAppBlocked:
          description: Whether access to the Chrome Remote Desktop application is blocked via a policy.
          type: boolean
        crowdStrikeAgent:
          $ref: "#/components/schemas/CrowdStrikeAgent"
          description: Crowdstrike agent properties installed on the device, if any. Available on Windows and MacOS only.
        deviceAffiliationIds:
          description: Affiliation IDs of the organizations that are affiliated with the organization that is currently managing the device. When the sets of device and profile affiliation IDs overlap, it means that the organizations managing the device and user are affiliated. To learn more about user affiliation, visit https://support.google.com/chrome/a/answer/12801245?ref_topic=9027936.
          items:
            type: string
          type: array
        deviceEnrollmentDomain:
          description: Enrollment domain of the customer which is currently managing the device.
          type: string
        deviceManufacturer:
          description: The name of the device's manufacturer.
          type: string
        deviceModel:
          description: The name of the device's model.
          type: string
        diskEncryption:
          description: The encryption state of the disk. On ChromeOS, the main disk is always ENCRYPTED.
          enum:
            - DISK_ENCRYPTION_UNSPECIFIED
            - DISK_ENCRYPTION_UNKNOWN
            - DISK_ENCRYPTION_DISABLED
            - DISK_ENCRYPTION_ENCRYPTED
          type: string
        displayName:
          description: The display name of the device, as defined by the user.
          type: string
        hostname:
          description: Hostname of the device.
          type: string
        imei:
          description: International Mobile Equipment Identity (IMEI) of the device. Available on ChromeOS only.
          items:
            type: string
          type: array
        macAddresses:
          description: MAC addresses of the device.
          items:
            type: string
          type: array
        meid:
          description: Mobile Equipment Identifier (MEID) of the device. Available on ChromeOS only.
          items:
            type: string
          type: array
        operatingSystem:
          description: The type of the Operating System currently running on the device.
          enum:
            - OPERATING_SYSTEM_UNSPECIFIED
            - CHROME_OS
            - CHROMIUM_OS
            - WINDOWS
            - MAC_OS_X
            - LINUX
          type: string
        osFirewall:
          description: The state of the OS level firewall. On ChromeOS, the value will always be ENABLED on regular devices and UNKNOWN on devices in developer mode.
          enum:
            - OS_FIREWALL_UNSPECIFIED
            - OS_FIREWALL_UNKNOWN
            - OS_FIREWALL_DISABLED
            - OS_FIREWALL_ENABLED
          type: string
        osVersion:
          description: The current version of the Operating System. On Windows and linux, the value will also include the security patch information.
          type: string
        passwordProtectionWarningTrigger:
          description: "Whether the Password Protection Warning feature is enabled or not. Password protection alerts users when they reuse their protected password on potentially suspicious sites. This setting is controlled by an enterprise policy: https://chromeenterprise.google/policies/#PasswordProtectionWarningTrigger. Note that the policy unset does not have the same effects as having the policy explicitly set to `PASSWORD_PROTECTION_OFF`."
          enum:
            - PASSWORD_PROTECTION_WARNING_TRIGGER_UNSPECIFIED
            - POLICY_UNSET
            - PASSWORD_PROTECTION_OFF
            - PASSWORD_REUSE
            - PHISHING_REUSE
          type: string
        profileAffiliationIds:
          description: Affiliation IDs of the organizations that are affiliated with the organization that is currently managing the Chrome Profile’s user or ChromeOS user.
          items:
            type: string
          type: array
        realtimeUrlCheckMode:
          description: "Whether Enterprise-grade (i.e. custom) unsafe URL scanning is enabled or not. This setting may be controlled by an enterprise policy: https://chromeenterprise.google/policies/#EnterpriseRealTimeUrlCheckMode"
          enum:
            - REALTIME_URL_CHECK_MODE_UNSPECIFIED
            - REALTIME_URL_CHECK_MODE_DISABLED
            - REALTIME_URL_CHECK_MODE_ENABLED_MAIN_FRAME
          type: string
        safeBrowsingProtectionLevel:
          description: "Safe Browsing Protection Level. That setting may be controlled by an enterprise policy: https://chromeenterprise.google/policies/#SafeBrowsingProtectionLevel."
          enum:
            - SAFE_BROWSING_PROTECTION_LEVEL_UNSPECIFIED
            - INACTIVE
            - STANDARD
            - ENHANCED
          type: string
        screenLockSecured:
          description: The state of the Screen Lock password protection. On ChromeOS, this value will always be ENABLED as there is not way to disable requiring a password or pin when unlocking the device.
          enum:
            - SCREEN_LOCK_SECURED_UNSPECIFIED
            - SCREEN_LOCK_SECURED_UNKNOWN
            - SCREEN_LOCK_SECURED_DISABLED
            - SCREEN_LOCK_SECURED_ENABLED
          type: string
        secureBootMode:
          description: Whether the device's startup software has its Secure Boot feature enabled. Available on Windows only.
          enum:
            - SECURE_BOOT_MODE_UNSPECIFIED
            - SECURE_BOOT_MODE_UNKNOWN
            - SECURE_BOOT_MODE_DISABLED
            - SECURE_BOOT_MODE_ENABLED
          type: string
        serialNumber:
          description: The serial number of the device. On Windows, this represents the BIOS's serial number. Not available on most Linux distributions.
          type: string
        siteIsolationEnabled:
          description: "Whether the Site Isolation (a.k.a Site Per Process) setting is enabled. That setting may be controlled by an enterprise policy: https://chromeenterprise.google/policies/#SitePerProcess"
          type: boolean
        systemDnsServers:
          description: List of the addesses of all OS level DNS servers configured in the device's network settings.
          items:
            type: string
          type: array
        thirdPartyBlockingEnabled:
          description: "Whether Chrome is blocking third-party software injection or not. This setting may be controlled by an enterprise policy: https://chromeenterprise.google/policies/?policy=ThirdPartyBlockingEnabled. Available on Windows only."
          type: boolean
        trigger:
          description: The trigger which generated this set of signals.
          enum:
            - TRIGGER_UNSPECIFIED
            - TRIGGER_BROWSER_NAVIGATION
            - TRIGGER_LOGIN_SCREEN
          type: string
        windowsMachineDomain:
          description: Windows domain that the current machine has joined. Available on Windows only.
          type: string
        windowsUserDomain:
          description: Windows domain for the current OS user. Available on Windows only.
          type: string
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    VerifyChallengeResponseRequest:
      description: Signed ChallengeResponse.
      properties:
        challengeResponse:
          description: Required. The generated response to the challenge, the bytes representation of SignedData.
          format: byte
          type: string
        expectedIdentity:
          description: Optional. Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.
          type: string
      type: object
    VerifyChallengeResponseResult:
      description: Result message for VerifiedAccess.VerifyChallengeResponse.
      properties:
        attestedDeviceId:
          description: Attested device ID (ADID).
          type: string
        customerId:
          description: Unique customer id that this device belongs to, as defined by the Google Admin SDK at https://developers.google.com/admin-sdk/directory/v1/guides/manage-customers
          type: string
        deviceEnrollmentId:
          description: Device enrollment id for ChromeOS devices.
          type: string
        devicePermanentId:
          description: Device permanent id is returned in this field (for the machine response only).
          type: string
        deviceSignal:
          description: Deprecated. Device signal in json string representation. Prefer using `device_signals` instead.
          type: string
        deviceSignals:
          $ref: "#/components/schemas/DeviceSignals"
          description: Device signals.
        keyTrustLevel:
          description: Device attested key trust level.
          enum:
            - KEY_TRUST_LEVEL_UNSPECIFIED
            - CHROME_OS_VERIFIED_MODE
            - CHROME_OS_DEVELOPER_MODE
            - CHROME_BROWSER_HW_KEY
            - CHROME_BROWSER_OS_KEY
            - CHROME_BROWSER_NO_KEY
          type: string
        profileCustomerId:
          description: Unique customer id that this profile belongs to, as defined by the Google Admin SDK at https://developers.google.com/admin-sdk/directory/v1/guides/manage-customers
          type: string
        profileKeyTrustLevel:
          description: Profile attested key trust level.
          enum:
            - KEY_TRUST_LEVEL_UNSPECIFIED
            - CHROME_OS_VERIFIED_MODE
            - CHROME_OS_DEVELOPER_MODE
            - CHROME_BROWSER_HW_KEY
            - CHROME_BROWSER_OS_KEY
            - CHROME_BROWSER_NO_KEY
          type: string
        signedPublicKeyAndChallenge:
          description: Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)
          type: string
        virtualDeviceId:
          description: Virtual device id of the device. The definition of virtual device id is platform-specific.
          type: string
        virtualProfileId:
          description: The ID of a profile on the device.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/verifiedaccess: Verify your enterprise credentials
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/verifiedaccess: Verify your enterprise credentials
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
