swagger: '2.0'
schemes:
  - https
host: public.je-apis.com
basePath: /
info:
  contact:
    x-twitter: justeat_tech
  title: Just Eat Tenant API
  version: 2.0.0.0
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: 'https://twitter.com/justeat_tech/profile_image?size=original'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.6.2
      format: swagger
      url: 'https://public.je-apis.com/api-docs/'
      version: '1.2'
  x-providerName: je-apis.com
tags:
  - description: Operations about application
    name: application
  - description: Operations about baskets
    name: baskets
  - description: Operations about consumer
    name: consumer
  - description: Operations about countries
    name: countries
  - description: Operations about discovery
    name: discovery
  - description: Operations about experiments
    name: experiments
  - description: Operations about health
    name: health
  - description: Operations about internal
    name: internal
  - description: Operations about logins
    name: logins
  - description: Operations about menus
    name: menus
  - description: Operations about orders
    name: orders
  - description: Operations about ratings
    name: ratings
  - description: Operations about reset-password-tokens
    name: reset-password-tokens
  - description: Operations about restaurants
    name: restaurants
  - description: Operations about terms
    name: terms
  - description: Operations about zipcodeautocomplete
    name: zipcodeautocomplete
paths:
  /application/onlinestatus:
    get:
      description: Uri template /application/onlinestatus
      operationId: GetOnlineStatus
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.Core.Model.OrderOnlineState'
      summary: Gets the status
      tags:
        - application
  '/application/{applicationId}/versionstatus/{versionId}':
    get:
      description: 'Uri template /application/{applicationId}/versionstatus/{versionId}'
      operationId: GetVersionAndStatus
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: applicationId
          required: true
          type: string
        - in: path
          name: versionId
          required: true
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.Core.Model.VersionOnlineStatus'
      summary: Gets the application version and status
      tags:
        - application
  '/application/{applicationId}/versionupdate/{versionId}':
    get:
      description: 'Uri template /application/{applicationId}/versionupdate/{versionId}'
      operationId: GetApplicationVersion
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: applicationId
          required: true
          type: string
        - in: path
          name: versionId
          required: true
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.Core.Model.ApplicationVersion'
      summary: 'Gets the application version [Obsolete (As verified by Android/Ios on 23-02-2016)]'
      tags:
        - application
  /baskets:
    post:
      description: Uri template /baskets
      operationId: CreateBasket
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: body
          name: createBasketRequest
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.CreateBasketRequest'
            maximum: 0
            minimum: 0
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.BasketCreateResponse'
        '400':
          description: Bad request
      summary: Creates a Basket
      tags:
        - baskets
  '/baskets/{basketId}':
    get:
      description: 'Uri template /baskets/{basketId}'
      operationId: GetBasket
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: basketId
          required: true
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.BasketDetailsResponse'
        '400':
          description: Bad request
      summary: Gets a Basket
      tags:
        - baskets
  '/baskets/{basketId}/contactdetails/':
    put:
      description: 'Uri template /baskets/{basketId}/contactdetails/'
      operationId: SetOrderContactDetails
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: basketId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Basket.OrderContactDetailsRequest'
            maximum: 0
            minimum: 0
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Basket.SetOrderContactDetailsResult'
      summary: Set order contact details
      tags:
        - baskets
  '/baskets/{basketId}/fulfilmenttime':
    put:
      description: 'Uri template /baskets/{basketId}/fulfilmenttime?time={time}&asap={asap}'
      operationId: SetRequestedFulfilmentTime
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: basketId
          required: true
          type: string
        - in: query
          name: time
          required: false
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/System.Object'
            maximum: 0
            minimum: 0
        - in: query
          name: asap
          required: false
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Basket.SetRequestedFulfilmentTimeResult'
            items:
              $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Basket.SetRequestedFulfilmentTimeResult'
      summary: 'Set preferred order fulfilment time. We''re expecting the time to be one of the choices that you got back from the GET, unadjusted for timezone.'
      tags:
        - baskets
  '/baskets/{basketId}/fulfilmenttimeslots/':
    get:
      description: 'Uri template /baskets/{basketId}/fulfilmenttimeslots/'
      operationId: GetFulfilmentTimeslots
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: basketId
          required: true
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Basket.GetFulfilmentTimeSlotsResult'
      summary: Get available fulfilment times for basket
      tags:
        - baskets
  '/baskets/{basketId}/notes':
    put:
      description: 'Uri template /baskets/{basketId}/notes'
      operationId: SetOrderNotes
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: basketId
          required: true
          type: string
        - in: body
          name: notes
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Basket.SetOrderNotesRequest'
            maximum: 0
            minimum: 0
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Basket.SetOrderNotesResult'
      summary: '***STUB*** Set order notes'
      tags:
        - baskets
  '/baskets/{basketId}/orderitems':
    post:
      description: 'Uri template /baskets/{basketId}/orderitems'
      operationId: AddProductToBasket
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: basketId
          required: true
          type: string
        - in: body
          name: addProductRequest
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.AddProductRequest'
            maximum: 0
            minimum: 0
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.OrderItemInsertResponse'
        '400':
          description: Bad request
      summary: Add products into a given basket
      tags:
        - baskets
  '/baskets/{basketId}/orderitems/{orderItemId}':
    delete:
      description: 'Uri template /baskets/{basketId}/orderitems/{orderItemId}'
      operationId: RemoveProductFromBasket
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: basketId
          required: true
          type: string
        - in: path
          name: orderItemId
          required: true
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.OrderItemRemoveResponse'
        '400':
          description: Bad request
      summary: Remove products from a given basket
      tags:
        - baskets
  '/baskets/{basketId}/orderitems/{orderItemId}/mealparts':
    post:
      description: 'Uri template /baskets/{basketId}/orderitems/{orderItemId}/mealparts'
      operationId: UpdateProductsMealParts
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: basketId
          required: true
          type: string
        - in: path
          name: orderItemId
          required: true
          type: string
        - in: body
          name: updateMealPartsRequest
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.UpdateMealPartsRequest'
            maximum: 0
            minimum: 0
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.MealPartsResponse'
        '400':
          description: Bad request
      summary: Add meal parts into a given product inside a given basket
      tags:
        - baskets
  '/baskets/{basketId}/orderitems/{orderItemId}/optionalaccessories':
    post:
      description: 'Uri template /baskets/{basketId}/orderitems/{orderItemId}/optionalaccessories'
      operationId: UpdateProductsOptionalAccessories
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: basketId
          required: true
          type: string
        - in: path
          name: orderItemId
          required: true
          type: string
        - in: body
          name: updateOptionalAccessoriesRequest
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.UpdateOptionalAccessoriesRequest'
            maximum: 0
            minimum: 0
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.OptionalAccessoriesResponse'
        '400':
          description: Bad request
      summary: Add optional accessories into a given product inside a given basket
      tags:
        - baskets
  '/baskets/{basketId}/orderitems/{orderItemId}/requiredaccessories':
    post:
      description: 'Uri template /baskets/{basketId}/orderitems/{orderItemId}/requiredaccessories'
      operationId: UpdateProductsRequiredAccessories
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: basketId
          required: true
          type: string
        - in: path
          name: orderItemId
          required: true
          type: string
        - in: body
          name: updateRequiredAccessoriesRequest
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.UpdateRequiredAccessoriesRequest'
            maximum: 0
            minimum: 0
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.RequiredAccessoriesResponse'
        '400':
          description: Bad request
      summary: Add required accessories into a given product inside a given basket
      tags:
        - baskets
  '/baskets/{basketId}/paymentoptions':
    get:
      description: 'Uri template /baskets/{basketId}/paymentoptions?applePay={applePay}&androidPay={androidPay}&platform={platform}&voucherCode={voucherCode}'
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: basketId
          required: true
          type: string
        - in: query
          name: platform
          required: false
          type: string
        - in: query
          maximum: 0
          minimum: 0
          name: applePay
          required: false
          type: boolean
        - in: query
          maximum: 0
          minimum: 0
          name: androidPay
          required: false
          type: boolean
        - in: query
          name: voucherCode
          required: false
          type: string
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Payments.BasketPaymentOptionsResult'
        '400':
          description: Bad request
      summary: Get payment options for a basket
      tags:
        - baskets
  '/baskets/{basketId}/serviceoptions':
    put:
      description: 'Uri template /baskets/{basketId}/serviceoptions'
      operationId: UpdateBasketServiceOptions
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: basketId
          required: true
          type: string
        - in: body
          name: basketServiceOptionsRequest
          required: false
          schema:
            $ref: '#/definitions/JE.Api.Basket.DTOs.BasketServiceOptionsRequest'
            maximum: 0
            minimum: 0
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JE.Api.Basket.DTOs.OrderBasketResponse'
        '400':
          description: Bad request
      summary: Change service options for Basket
      tags:
        - baskets
  '/baskets/{basketId}/user':
    put:
      description: 'Uri template /baskets/{basketId}/user'
      operationId: UpdateBasket
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: basketId
          required: true
          type: string
        - in: body
          name: request
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.UpdateUserRequest'
            maximum: 0
            minimum: 0
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.BasketUserUpdateResponse'
        '400':
          description: Bad request
      summary: Updates a user of a basket
      tags:
        - baskets
  '/baskets/{basketId}/zipcode':
    post:
      description: 'Uri template /baskets/{basketId}/zipcode'
      operationId: UpdateZipCode
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: basketId
          required: true
          type: string
        - in: body
          name: zipCodeRequest
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.ZipCodeRequest'
            maximum: 0
            minimum: 0
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.ZipCodeResponse'
        '400':
          description: Bad request
      summary: Update zipcode from a given basket
      tags:
        - baskets
  /consumer:
    get:
      description: Uri template /consumer
      operationId: GetConsumerDetails
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Retrieve successful
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerDetailsResponse'
        '403':
          description: 'There is no auth token supplied, or the auth token is invalid or expired'
      summary: Gets a consumer via either Basic Authorization/Auth-Token or a Bearer token
      tags:
        - consumer
    patch:
      description: Uri template /consumer
      operationId: UpdateConsumer
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: body
          name: updateRequest
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.ConsumerUpdateRequest'
            maximum: 0
            minimum: 0
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Update successful
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerDetailsUpdateResponse'
        '404':
          description: Could not identify the consumer from the auth token or no auth token supplied
      summary: Updates a consumer
      tags:
        - consumer
    post:
      description: Uri template /consumer
      operationId: CreateConsumer
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: body
          name: consumerDetails
          required: false
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerDetailsCreateRequest'
            maximum: 0
            minimum: 0
      responses:
        '200':
          description: No response was specified
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.ConsumerLoginResponse'
        '201':
          description: Creation successful
        '403':
          description: Forbidden
      summary: Creates a consumer
      tags:
        - consumer
  /consumer/addresses:
    get:
      description: Uri template /consumer/addresses
      operationId: GetConsumerAddresses
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Addresses retrieval successful
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerAddressesResponse'
        '403':
          description: 'There is no auth token supplied, or the auth token is invalid or expired'
      summary: Gets a consumers addresses by the Auth-Token header
      tags:
        - consumer
  /consumer/devicetokens:
    delete:
      description: Uri template /consumer/devicetokens
      operationId: DeActivateDeviceToken
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: body
          name: deviceTokenRequest
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.DeviceTokenRequest'
            maximum: 0
            minimum: 0
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Delete successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.ConsumerDeviceTokenResponse'
            items:
              $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.ConsumerDeviceTokenResponse'
        '400':
          description: No device token
        '401':
          description: 'There is no auth token supplied, or the auth token is invalid or expired'
      summary: Delete a device token for a consumer
      tags:
        - consumer
    put:
      description: Uri template /consumer/devicetokens
      operationId: ActivateDeviceToken
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: body
          name: deviceTokenRequest
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.DeviceTokenRequest'
            maximum: 0
            minimum: 0
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Activation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.ConsumerDeviceTokenResponse'
        '400':
          description: No device token
        '401':
          description: 'There is no auth token supplied, or the auth token is invalid or expired'
      summary: Activate a device token for a consumer
      tags:
        - consumer
  /consumer/inflight-order-status:
    get:
      description: 'Uri template /consumer/inflight-order-status<br/><br/>Accept-Version:1 StatusNames: <br/>[''AwaitingPayment'' or ''Processing'' or ''Completed'' or ''Canceled'' or ''Declined'' or ''Accepted'' or ''OnItsWay'' or ''DueDateChanged'']<br/><br/>Accept-Version:2 StatusNames: <br/>[''DueDateDelayed'']<br/><br/>Accept-Version:3 StatusNames: <br/>[''OrderReady'']<br/><br/>Accept-Version:4 StatusNames: <br/>[''PreOrderPending'']'
      operationId: GetInFlightOrderStatuses
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: header
          name: Auth-Token
          required: false
          type: string
        - in: header
          name: Accept-Version
          required: true
          type: string
      responses:
        '200':
          description: Retrieve successful
          schema:
            $ref: '#/definitions/JE.Api.InFlightOrderStatus.DTOs.InFlightOrderResponse'
        '400':
          description: Bad Request
        '403':
          description: User not authorised
        '404':
          description: User not found
      summary: Returns statuses for InFlight orders for a given consumer
      tags:
        - consumer
  /consumer/order-history:
    get:
      description: 'Uri template /consumer/order-history?page={page}&pageSize={pageSize}'
      operationId: GetOrderHistory
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - format: int32
          in: query
          maximum: 0
          minimum: 0
          name: page
          required: false
          type: integer
        - format: int32
          in: query
          maximum: 0
          minimum: 0
          name: pageSize
          required: false
          type: integer
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Retrieve successful
          schema:
            $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.OrderHistoryDto'
        '401':
          description: User not authorised
      summary: Return order history by Auth-Token
      tags:
        - consumer
  /consumer/password:
    put:
      description: Uri template /consumer/password
      operationId: UpdateConsumerPassword
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: body
          name: credentialsRequest
          required: false
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.UpdatePasswordRequest'
            maximum: 0
            minimum: 0
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Changed and logged in
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.ChangePasswordLoginResponse'
        '403':
          description: Invalid auth token - reset password or consumer auth token required
      summary: Changes a consumer password and logs in
      tags:
        - consumer
  /consumer/preferences:
    get:
      description: Uri template /consumer/preferences
      operationId: GetConsumerPreferences
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Preference retrieved successful
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerPreferencesResponse'
        '403':
          description: 'There is no auth token supplied, or the auth token is invalid or expired'
      summary: Get a consumers preferences by the Auth-Token header
      tags:
        - consumer
    post:
      description: Uri template /consumer/preferences
      operationId: SetConsumerPreferences
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: body
          name: updateRequest
          required: false
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerPreferencesUpdateRequest'
            maximum: 0
            minimum: 0
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Preference successfully posted
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerPreferencesUpdateResponse'
        '400':
          description: Preference have duplicates or invalid keys
        '403':
          description: 'There is no auth token supplied, or the auth token is invalid or expired'
      summary: Update a consumers preferences by the Auth-Token header
      tags:
        - consumer
  '/consumer/serviceable-addresses/restaurant/{restaurantId}':
    get:
      description: 'Uri template /consumer/serviceable-addresses/restaurant/{restaurantId}'
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - format: int32
          in: path
          maximum: 0
          minimum: 0
          name: restaurantId
          required: true
          type: integer
        - format: int32
          in: query
          maximum: 0
          minimum: 0
          name: maxAmount
          required: false
          type: integer
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Addresses retrieval successful
          schema:
            $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.ServiceableAddresses.ServiceableAddressesResponse'
        '401':
          description: User not authorised
        '404':
          description: Parameters out of bounds
      summary: Returns the consumers serviceable addresses based the Auth-Token and the TR id
      tags:
        - consumer
  '/consumer/serviceable-addresses/restaurant/{restaurantId}/{maxAmount}':
    get:
      description: 'Uri template /consumer/serviceable-addresses/restaurant/{restaurantId}/{maxAmount}'
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - format: int32
          in: path
          maximum: 0
          minimum: 0
          name: restaurantId
          required: true
          type: integer
        - format: int32
          in: path
          maximum: 0
          minimum: 0
          name: maxAmount
          required: true
          type: integer
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Addresses retrieval successful
          schema:
            $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.ServiceableAddresses.ServiceableAddressesResponse'
            items:
              $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.ServiceableAddresses.ServiceableAddressesResponse'
        '401':
          description: User not authorised
        '404':
          description: Parameters out of bounds
      summary: Returns the consumers serviceable addresses based the Auth-Token and the TR id
      tags:
        - consumer
  /countries:
    get:
      description: Uri template /countries
      operationId: GetCountries
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
      responses:
        '200':
          description: Retrieval sucessful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.CountryResponse'
      summary: Get all country codes - response is an array of strings
      tags:
        - countries
  /discovery/metadata:
    get:
      description: 'Uri template /discovery/metadata?postcode={postcode}'
      operationId: GetMetadata
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: query
          name: postcode
          required: false
          type: string
        - format: int32
          in: query
          maximum: 0
          minimum: 0
          name: userId
          required: false
          type: integer
      responses:
        '200':
          description: Operation successful
          schema:
            items:
              $ref: '#/definitions/JE.Api.RestaurantMenu.DTOs.Discovery.DiscoveryMetadata'
            type: array
      summary: Get discovery metadata
      tags:
        - discovery
  '/discovery/{postcode}/restaurants/{categoryId}':
    get:
      description: 'Uri template /discovery/{postcode}/restaurants/{categoryId}'
      operationId: GetRestaurants
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: postcode
          required: true
          type: string
        - format: int32
          in: path
          maximum: 0
          minimum: 0
          name: categoryId
          required: true
          type: integer
        - format: int32
          in: query
          maximum: 0
          minimum: 0
          name: userId
          required: false
          type: integer
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JE.Api.RestaurantMenu.DTOs.Restaurants.Version2.ConsumerSearchResponse'
      summary: Get discovery restaurants
      tags:
        - discovery
  /experiments/active:
    post:
      description: Uri template /experiments/active
      operationId: GetActiveExperiments
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: body
          name: context
          required: false
          schema:
            $ref: '#/definitions/JE.Api.Experiment.Contract.ExperimentContext'
            maximum: 0
            minimum: 0
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JE.Api.Experiment.Contract.ExperimentResults'
      summary: Get active experiments
      tags:
        - experiments
  /health/check:
    get:
      description: Uri template /health/check
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.HealthResponse'
      summary: HealthHandler.Check
      tags:
        - health
  /health/validate:
    get:
      description: Uri template /health/validate
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.HealthResponse'
            items:
              $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.HealthResponse'
      summary: HealthHandler.Check
      tags:
        - health
  '/internal/for-testing/{basketId}/contactdetails/':
    put:
      description: 'Uri template /internal/for-testing/{basketId}/contactdetails/'
      operationId: Put
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: basketId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Basket.OrderContactDetailsRequest'
            maximum: 0
            minimum: 0
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.ForTestsResponse'
      summary: Testing validation
      tags:
        - internal
  /internal/health/all:
    get:
      description: Uri template /internal/health/all
      operationId: GetHealth
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
      responses:
        '200':
          description: API is healthy; all checks good
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.HealthCheckResponse'
        '500':
          description: Something went wrong with running 1 or more tests (but not test failure)
        '502':
          description: 1 or more tests actively failed
      summary: Runs all known health checks - response is array of HealthCheckResult
      tags:
        - internal
  /logins:
    post:
      description: Uri template /logins
      operationId: CreateLoginToken
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: body
          name: credentialsRequest
          required: false
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.CredentialsRequest'
            maximum: 0
            minimum: 0
      responses:
        '200':
          description: No response was specified
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.LoginResponse'
        '401':
          description: reCaptcha challenge must be completed before proceeding. Add x-recaptcha-answer header to request after user solves it and then re-run.
        '403':
          description: A user with the given username and password does not exist
        '429':
          description: Too many login attempts for username. Temporarily throttled (see ThrottleTimeoutSeconds header / response body)
      summary: Login a user and return an Auth-Token
      tags:
        - logins
  '/menus/{menuId}/deliveryareas':
    get:
      description: 'Uri template /menus/{menuId}/deliveryareas'
      operationId: GetDeliveryAreas
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - format: int32
          in: path
          maximum: 0
          minimum: 0
          name: menuId
          required: true
          type: integer
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.DeliveryAreasResponse'
      summary: Gets delivery areas from a given menu
      tags:
        - menus
  '/menus/{menuId}/productcategories':
    get:
      description: 'Uri template /menus/{menuId}/productcategories'
      operationId: GetCategoriesForMenu
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - format: int32
          in: path
          maximum: 0
          minimum: 0
          name: menuId
          required: true
          type: integer
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.ResponseData.ProductCategoryResult'
      summary: Gets categories for a given menu
      tags:
        - menus
  '/menus/{menuId}/productcategories/{categoryId}/products':
    get:
      description: 'Uri template /menus/{menuId}/productcategories/{categoryId}/products'
      operationId: GetProducts
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - format: int32
          in: path
          maximum: 0
          minimum: 0
          name: menuId
          required: true
          type: integer
        - format: int32
          in: path
          maximum: 0
          minimum: 0
          name: categoryId
          required: true
          type: integer
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.ResponseData.ProductResults'
      summary: Gets all products from a given category
      tags:
        - menus
  '/menus/{menuId}/products/{productId}':
    get:
      description: 'Uri template /menus/{menuId}/products/{productId}'
      operationId: GetProduct
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - format: int32
          in: path
          maximum: 0
          minimum: 0
          name: menuId
          required: true
          type: integer
        - format: int32
          in: path
          maximum: 0
          minimum: 0
          name: productId
          required: true
          type: integer
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.ResponseData.ProductResult'
            items:
              $ref: '#/definitions/JustEat.PublicApi.Site.ResponseData.ProductResult'
      summary: 'Gets product from a given menu (Deprecated, do not use)'
      tags:
        - menus
  /orders/:
    post:
      description: 'SuccessState values are: Unknown = 0, Successful, InvalidBasket, BasketNotOrderable, PotentialDuplicate, BasketDoesNotExist, BasketTooBig, InvalidContactDetails, GuestAccountCannotBeCreated, InvalidAuthToken'
      operationId: CreateOrderFromBasket
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: body
          name: createOrderRequest
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.CreateOrderRequest'
            maximum: 0
            minimum: 0
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.OrderCreatedResponse'
        '400':
          description: 'Order creation prerequisite not met, see response body for details.'
        '401':
          description: Consumer unauthorized (invalid or expired Auth-Token)
        '429':
          description: Too many requests
      summary: Create an Order from a Basket
      tags:
        - orders
  '/orders/{orderId}':
    get:
      description: 'Uri template /orders/{orderId}'
      operationId: GetOrderDetails
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: orderId
          required: true
          type: string
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Retrieve successful
          schema:
            $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.ConsumerOrderDto'
        '401':
          description: Not a valid consumer auth token
        '404':
          description: OrderId or User Token invalid
      summary: Gets an order by OrderId
      tags:
        - orders
  '/orders/{orderId}/campaigncontent':
    get:
      description: 'Uri template /orders/{orderId}/campaigncontent'
      operationId: GetOrderGivenAway
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.CampaignContentResponse'
        '400':
          description: Bad request
      summary: Get campaign content details of orders that have been given away
      tags:
        - orders
  '/orders/{orderId}/pay/accountcredit':
    post:
      description: 'Uri template /orders/{orderId}/pay/accountcredit'
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: orderId
          required: true
          type: string
        - in: body
          name: request
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Payments.CashCheckoutPaymentRequest'
            maximum: 0
            minimum: 0
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JE.Api.Payments.Contracts.CheckingOut.CheckoutAttemptResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
      summary: Pay for an order using account credit
      tags:
        - orders
  '/orders/{orderId}/pay/android/':
    post:
      description: 'Uri template /orders/{orderId}/pay/android/'
      operationId: MakePaymentUsingAndroidPay
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: orderId
          required: true
          type: string
        - in: body
          name: androidPayPaymentRequest
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.AndroidPay.AndroidPayPaymentRequest'
            maximum: 0
            minimum: 0
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.AndroidPay.AndroidPayPaymentResponse'
        '400':
          description: BadRequest
        '401':
          description: UnAuthorized
        '500':
          description: InternalServerError
      summary: Pay using Android Pay
      tags:
        - orders
  '/orders/{orderId}/pay/apple/':
    post:
      description: 'Uri template /orders/{orderId}/pay/apple/'
      operationId: MakePaymentUsingApplePay
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: orderId
          required: true
          type: string
        - in: body
          name: applePayPaymentRequest
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ApplePay.ApplePayPaymentRequest'
            maximum: 0
            minimum: 0
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ApplePay.ApplePayPaymentResponse'
        '400':
          description: BadRequest
        '401':
          description: UnAuthorized
      summary: Pay using Apple Pay
      tags:
        - orders
  '/orders/{orderId}/pay/cash':
    post:
      description: 'Uri template /orders/{orderId}/pay/cash'
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: orderId
          required: true
          type: string
        - in: body
          name: request
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Payments.CashCheckoutPaymentRequest'
            maximum: 0
            minimum: 0
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JE.Api.Payments.Contracts.CheckingOut.Cash.CashPaymentResponse'
        '400':
          description: Bad request
        '403':
          description: 'There is no auth token supplied, or the auth token is invalid or expired'
      summary: Pay for an order using cash
      tags:
        - orders
  '/orders/{orderId}/pay/savedcard':
    post:
      description: 'Uri template /orders/{orderId}/pay/savedcard'
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: orderId
          required: true
          type: string
        - in: body
          name: request
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Payments.SavedCardCheckoutPaymentRequest'
            maximum: 0
            minimum: 0
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Payments.SavedCardCheckoutPaymentResponse'
        '400':
          description: Bad request
        '403':
          description: 'There is no auth token supplied, or the auth token is invalid or expired'
      summary: Pay for an order using a saved card
      tags:
        - orders
  '/orders/{orderId}/payment/status/':
    get:
      description: 'Uri template /orders/{orderId}/payment/status/'
      operationId: GetOrderPaymentStatus
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Payments.GetOrderPaymentStatusResult'
        '400':
          description: Bad request
      summary: Gets the current status of the payment for an order
      tags:
        - orders
  '/orders/{orderId}/paymentoptions':
    get:
      description: 'Uri template /orders/{orderId}/paymentoptions?applePay={applePay}&androidPay={androidPay}&platform={platform}&voucherCode={voucherCode}'
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: orderId
          required: true
          type: string
        - in: query
          name: platform
          required: false
          type: string
        - in: query
          maximum: 0
          minimum: 0
          name: applePay
          required: false
          type: boolean
        - in: query
          maximum: 0
          minimum: 0
          name: androidPay
          required: false
          type: boolean
        - in: query
          name: voucherCode
          required: false
          type: string
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Payments.OrderPaymentOptionsResult'
        '400':
          description: Bad request
      summary: Get payment options for an order
      tags:
        - orders
  '/orders/{orderId}/reorder':
    post:
      description: 'Uri template /orders/{orderId}/reorder'
      operationId: CreateBasketFromOrder
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: orderId
          required: true
          type: string
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.Reorder.ReorderBasketDto'
        '201':
          description: Creation successful
        '400':
          description: The requested order is not reorderable
        '401':
          description: Auth-Token invalid
        '404':
          description: OrderId not found
      summary: Creates a new basket from a previous order
      tags:
        - orders
  /ratings:
    post:
      description: Uri template /ratings
      operationId: PostReview
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: body
          name: postRatingData
          required: false
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.PostRatingsRequest'
            maximum: 0
            minimum: 0
        - in: header
          name: Auth-Token
          required: false
          type: string
      responses:
        '200':
          description: review submitted
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.PostReviewResponse'
        '403':
          description: 'There is no auth token supplied, or the auth token is invalid or expired'
      summary: Submits a user review for a given order
      tags:
        - ratings
  /reset-password-tokens:
    post:
      description: Uri template /reset-password-tokens
      operationId: CreateResetToken
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: body
          name: forgottenPasswordRequest
          required: false
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.ResetPasswordTokenRequest'
            maximum: 0
            minimum: 0
      responses:
        '200':
          description: 'Reset password token created, forgotten password email is being sent'
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.ResetPasswordTokenResponse'
      summary: 'Creates a reset password token, initiates sending an email to the consumer with a link to reset their password. Device type will currently allow for customisation of email links; include if the calling device requires custom templates.'
      tags:
        - reset-password-tokens
  /restaurants:
    get:
      description: 'Uri template /restaurants?freetext={freeText}&cuisine={cuisine}&name={restaurantName}'
      operationId: GetRestaurantsByFreeText
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: query
          name: freeText
          required: false
          type: string
        - in: query
          name: cuisine
          required: false
          type: string
        - in: query
          name: restaurantName
          required: false
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.DTOs.Responses.ConsumerSearchResponseFreeText'
      summary: Search restaurants by free text
      tags:
        - restaurants
  /restaurants/available_badges:
    get:
      description: Uri template restaurants/available_badges
      operationId: GetAvailableBadges
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.BadgesResponse'
        '400':
          description: Bad request
      summary: Gets available badges
      tags:
        - restaurants
  /restaurants/v3:
    get:
      description: 'Uri template /restaurants/v3?q={postCode}&c={cuisine}&name={restaurantName}'
      operationId: SearchVersion3
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: query
          name: postCode
          required: false
          type: string
        - in: query
          name: cuisine
          required: false
          type: string
        - in: query
          name: restaurantName
          required: false
          type: string
        - in: header
          name: Accept-Version
          required: true
          type: string
        - in: header
          maximum: 0
          minimum: 0
          name: UseSearchOrchestrator
          required: false
          type: boolean
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JE.Api.RestaurantMenu.DTOs.Restaurants.Version2.ConsumerSearchResponse'
      summary: 'Search V3 restaurants by postcode and/or cuisine type, version header kept for backwards compatibility'
      tags:
        - restaurants
  '/restaurants/{restaurantId}/details':
    get:
      description: 'Uri template /restaurants/{restaurantId}/details'
      operationId: GetRestaurantDetails
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: path
          name: restaurantId
          required: true
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.DataAccess.InternalApiClients.ClientModels.RestaurantDetailResult'
      summary: Gets restaurant details
      tags:
        - restaurants
  '/restaurants/{restaurantId}/menus':
    get:
      description: 'Uri template /restaurants/{restaurantId}/menus?delivery={delivery}&current={current}&postcode={postcode}'
      operationId: GetMenus
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - format: int32
          in: path
          maximum: 0
          minimum: 0
          name: restaurantId
          required: true
          type: integer
        - in: query
          maximum: 0
          minimum: 0
          name: current
          required: false
          type: boolean
        - in: query
          maximum: 0
          minimum: 0
          name: delivery
          required: false
          type: boolean
        - in: query
          name: postcode
          required: false
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.ResponseData.MenuResult'
      summary: Gets menus of a restaurant
      tags:
        - restaurants
  '/restaurants/{restaurantId}/menus/available':
    get:
      description: 'Uri template /restaurants/{restaurantId}/menus/available?time={utcTime}'
      operationId: GetAvailableMenus
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - format: int32
          in: path
          maximum: 0
          minimum: 0
          name: restaurantId
          required: true
          type: integer
        - in: query
          name: utcTime
          required: false
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.DataAccess.InternalApiClients.ClientModels.AvailableMenusResult'
      summary: Gets all available menus for a given restaurant and time
      tags:
        - restaurants
  '/restaurants/{restaurantId}/productcategories':
    get:
      description: 'Uri template /restaurants/{restaurantId}/productcategories?type={serviceType}&time={utcTime}&zipcode={zipcode}'
      operationId: GetProductCategories
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - format: int32
          in: path
          maximum: 0
          minimum: 0
          name: restaurantId
          required: true
          type: integer
        - in: query
          name: serviceType
          required: false
          type: string
        - in: query
          name: utcTime
          required: false
          type: string
        - in: query
          name: zipcode
          required: false
          type: string
        - in: header
          name: Accept-Version
          required: true
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.DataAccess.InternalApiClients.ClientModels.ProductCategoriesResult'
      summary: Gets all product categories for a given restaurant
      tags:
        - restaurants
  '/restaurants/{restaurantId}/reviews':
    get:
      description: 'Uri template /restaurants/{restaurantId}/reviews?p={pageNumber}&s={pageSize}'
      operationId: GetRestaurantReviews
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - format: int32
          in: path
          maximum: 0
          minimum: 0
          name: restaurantId
          required: true
          type: integer
        - format: int32
          in: query
          maximum: 0
          minimum: 0
          name: pageNumber
          required: false
          type: integer
        - format: int32
          in: query
          maximum: 0
          minimum: 0
          name: pageSize
          required: false
          type: integer
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.RestaurantReview.RestaurantReviewResponse'
      summary: Get paged list of reviews for a given restaurant
      tags:
        - restaurants
  /terms:
    get:
      description: Uri template /terms
      operationId: GetLatestTermsAndConditions
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
      responses:
        '200':
          description: Retrieve successful
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.TermsAndConditionsResponse'
      summary: Gets the latest terms and conditions
      tags:
        - terms
  /zipcodeautocomplete:
    get:
      description: 'Uri template /zipcodeautocomplete?term={term}&resultsCount={resultsCount}'
      operationId: GetZipCodeAutoCompleteSuggestions
      parameters:
        - description: uk
          in: header
          name: Accept-Tenant
          required: true
          type: string
        - in: header
          name: Authorization
          required: true
          type: string
        - in: query
          name: term
          required: false
          type: string
        - in: query
          name: resultsCount
          required: false
          type: string
      responses:
        '200':
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.ZipCodeAutoCompleteResponse'
      summary: Gets zipcode autocomplete suggestions
      tags:
        - zipcodeautocomplete
definitions:
  JE.Api.Basket.DTOs.BasketServiceOptionsRequest:
    properties:
      IsReorder:
        description: Boolean
        type: boolean
      ServiceTime:
        description: DateTime
        format: date-time
        type: string
      ServiceType:
        description: DeliveryServiceType
        enum:
          - Delivery
          - Collection
          - NoDeliveryServiceType
        type: string
    required:
      - ServiceType
  JE.Api.Basket.DTOs.MealPart:
    properties:
      GroupId:
        description: Int32
        format: int32
        type: integer
      Id:
        description: Int32
        format: int32
        type: integer
      OptionalAccessories:
        description: 'IEnumerable[JE.Api.Basket.DTOs.OptionalAccessory]'
        items:
          $ref: '#/definitions/JE.Api.Basket.DTOs.OptionalAccessory'
        type: array
      RequiredAccessories:
        description: 'IEnumerable[JE.Api.Basket.DTOs.RequiredAccessory]'
        items:
          $ref: '#/definitions/JE.Api.Basket.DTOs.RequiredAccessory'
        type: array
  JE.Api.Basket.DTOs.MessageKeyValue:
    properties:
      DisplayValue:
        description: String
        type: string
      KeyName:
        description: String
        type: string
  JE.Api.Basket.DTOs.MultiBuyDiscount:
    properties:
      Amount:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      DiscountType:
        description: String
        type: string
      OrderItemId:
        description: String
        type: string
      ProductTypeId:
        description: Int32
        format: int32
        type: integer
  JE.Api.Basket.DTOs.OfferDetails:
    properties:
      Discount:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      DiscountType:
        description: String
        type: string
      Id:
        description: Int32
        format: int32
        type: integer
      QualifyingValue:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
  JE.Api.Basket.DTOs.OptionalAccessory:
    properties:
      Id:
        description: Int32
        format: int32
        type: integer
      Quantity:
        description: Int32
        format: int32
        type: integer
      UnitPrice:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
  JE.Api.Basket.DTOs.OrderBasketResponse:
    properties:
      DeliveryCharge:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      Discount:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      Discounts:
        description: 'IEnumerable[JE.Api.Basket.DTOs.OfferDetails]'
        items:
          $ref: '#/definitions/JE.Api.Basket.DTOs.OfferDetails'
        type: array
      Id:
        description: String
        type: string
      MenuId:
        description: Int32
        format: int32
        type: integer
      MultiBuyDiscount:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      MultiBuyDiscounts:
        description: 'IEnumerable[JE.Api.Basket.DTOs.MultiBuyDiscount]'
        items:
          $ref: '#/definitions/JE.Api.Basket.DTOs.MultiBuyDiscount'
        type: array
      OrderItems:
        description: 'IEnumerable[JE.Api.Basket.DTOs.OrderItemView]'
        items:
          $ref: '#/definitions/JE.Api.Basket.DTOs.OrderItemView'
        type: array
      Orderable:
        description: Boolean
        type: boolean
      RestaurantId:
        description: Int32
        format: int32
        type: integer
      ServiceType:
        description: String
        type: string
      SubTotal:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      Taxes:
        description: 'IEnumerable[JE.Api.Basket.DTOs.Tax]'
        items:
          $ref: '#/definitions/JE.Api.Basket.DTOs.Tax'
        type: array
      ToSpend:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      Total:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      TotalTipsAmount:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      Totals:
        description: 'IEnumerable[JE.Api.Basket.DTOs.User]'
        items:
          $ref: '#/definitions/JE.Api.Basket.DTOs.User'
        type: array
      UserPrompt:
        description: 'IEnumerable[JE.Api.Basket.DTOs.UserPrompt]'
        items:
          $ref: '#/definitions/JE.Api.Basket.DTOs.UserPrompt'
        type: array
      ZipCode:
        description: String
        type: string
  JE.Api.Basket.DTOs.OrderItemView:
    properties:
      CombinedPrice:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      MealParts:
        description: 'IEnumerable[JE.Api.Basket.DTOs.MealPart]'
        items:
          $ref: '#/definitions/JE.Api.Basket.DTOs.MealPart'
        type: array
      Name:
        description: String
        type: string
      OptionalAccessories:
        description: 'IEnumerable[JE.Api.Basket.DTOs.OptionalAccessory]'
        items:
          $ref: '#/definitions/JE.Api.Basket.DTOs.OptionalAccessory'
        type: array
      OrderItemId:
        description: String
        type: string
      ProductId:
        description: Int32
        format: int32
        type: integer
      ProductTypeId:
        description: Int32
        format: int32
        type: integer
      RequiredAccessories:
        description: 'IEnumerable[JE.Api.Basket.DTOs.RequiredAccessory]'
        items:
          $ref: '#/definitions/JE.Api.Basket.DTOs.RequiredAccessory'
        type: array
      Synonym:
        description: String
        type: string
      UnitPrice:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      UserDisplayName:
        description: String
        type: string
  JE.Api.Basket.DTOs.RequiredAccessory:
    properties:
      GroupId:
        description: Int32
        format: int32
        type: integer
      Id:
        description: Int32
        format: int32
        type: integer
      UnitPrice:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
  JE.Api.Basket.DTOs.SimpleProductResponse:
    properties:
      Id:
        description: Int32
        format: int32
        type: integer
      Name:
        description: String
        type: string
  JE.Api.Basket.DTOs.Tax:
    properties:
      TaxName:
        description: String
        type: string
      TaxRate:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      TaxRateAmount:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
  JE.Api.Basket.DTOs.User:
    properties:
      DisplayName:
        description: String
        type: string
      Total:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
  JE.Api.Basket.DTOs.UserPrompt:
    properties:
      DefaultMessage:
        description: String
        type: string
      MessageValues:
        description: 'IEnumerable[JE.Api.Basket.DTOs.MessageKeyValue]'
        items:
          $ref: '#/definitions/JE.Api.Basket.DTOs.MessageKeyValue'
        type: array
      StatusCode:
        description: String
        type: string
  JE.Api.Consumer.DTOs.ConsumerAddressCreateRequest:
    properties:
      AddressName:
        description: String
        type: string
      City:
        description: String
        type: string
      Line1:
        description: String
        type: string
      Line2:
        description: String
        type: string
      Line3:
        description: String
        type: string
      ZipCode:
        description: String
        type: string
    required:
      - Line1
      - City
      - ZipCode
      - AddressName
  JE.Api.Consumer.DTOs.ConsumerAddressResponse:
    properties:
      AddressName:
        description: String
        type: string
      City:
        description: String
        type: string
      IsDefault:
        description: Boolean
        type: boolean
      Line1:
        description: String
        type: string
      Line2:
        description: String
        type: string
      Line3:
        description: String
        type: string
      ZipCode:
        description: String
        type: string
  JE.Api.Consumer.DTOs.ConsumerAddressesResponse:
    properties:
      Addresses:
        description: 'IEnumerable[JE.Api.Consumer.DTOs.ConsumerAddressResponse]'
        items:
          $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerAddressResponse'
        type: array
  JE.Api.Consumer.DTOs.ConsumerDetailsCreateRequest:
    properties:
      AccountType:
        description: String
        type: string
      AddressRequest:
        $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerAddressCreateRequest'
        description: ConsumerAddressCreateRequest
      DateOfBirth:
        description: DateTime
        format: date-time
        type: string
      DeviceId:
        description: String
        type: string
      DeviceName:
        description: String
        type: string
      DeviceToken:
        description: String
        type: string
      DeviceType:
        description: String
        type: string
      EmailAddress:
        description: String
        type: string
      FirstName:
        description: String
        type: string
      LastName:
        description: String
        type: string
      Password:
        description: String
        type: string
      PhoneNumber:
        description: String
        type: string
      TermsAndConditionsId:
        description: Int32
        format: int32
        type: integer
      WantsNewsletter:
        description: Boolean
        type: boolean
    required:
      - Password
      - DeviceId
      - DeviceName
      - DeviceType
      - EmailAddress
      - FirstName
      - LastName
      - TermsAndConditionsId
  JE.Api.Consumer.DTOs.ConsumerDetailsResponse:
    properties:
      AccountType:
        description: String
        type: string
      ConsumerId:
        description: Int32
        format: int32
        type: integer
      ConsumerStatus:
        description: String
        type: string
      CreatedDate:
        description: DateTime
        format: date-time
        type: string
      DateOfBirth:
        description: DateTime
        format: date-time
        type: string
      EmailAddress:
        description: String
        type: string
      FirstName:
        description: String
        type: string
      Id:
        description: String
        type: string
      LastName:
        description: String
        type: string
      PhoneNumber:
        description: String
        type: string
      TermsAndConditionsId:
        description: Int32
        format: int32
        type: integer
      WantsNewsletter:
        description: Boolean
        type: boolean
    required:
      - ConsumerId
      - Id
      - EmailAddress
      - FirstName
      - LastName
      - TermsAndConditionsId
  JE.Api.Consumer.DTOs.ConsumerDetailsUpdateResponse: {}
  JE.Api.Consumer.DTOs.ConsumerPreference:
    properties:
      Email:
        description: Boolean
        type: boolean
      Key:
        description: String
        type: string
      Push:
        description: Boolean
        type: boolean
      Sms:
        description: Boolean
        type: boolean
    required:
      - Key
      - Push
      - Email
      - Sms
  JE.Api.Consumer.DTOs.ConsumerPreferencesResponse:
    properties:
      PreferenceVersionViewed:
        description: Int32
        format: int32
        type: integer
      Preferences:
        description: 'IEnumerable[JE.Api.Consumer.DTOs.DisplayConsumerPreference]'
        items:
          $ref: '#/definitions/JE.Api.Consumer.DTOs.DisplayConsumerPreference'
        type: array
    required:
      - Preferences
      - PreferenceVersionViewed
  JE.Api.Consumer.DTOs.ConsumerPreferencesUpdateRequest:
    properties:
      DeviceToken:
        description: String
        type: string
      DeviceType:
        description: String
        type: string
      EmailAddress:
        description: String
        type: string
      PhoneNumber:
        description: String
        type: string
      PreferenceVersionViewed:
        description: Int32
        format: int32
        type: integer
      Preferences:
        description: 'IEnumerable[JE.Api.Consumer.DTOs.ConsumerPreference]'
        items:
          $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerPreference'
        type: array
    required:
      - Preferences
      - PreferenceVersionViewed
  JE.Api.Consumer.DTOs.ConsumerPreferencesUpdateResponse: {}
  JE.Api.Consumer.DTOs.CredentialsRequest:
    properties:
      DeviceId:
        description: String
        type: string
      DeviceName:
        description: String
        type: string
      DeviceToken:
        description: String
        type: string
      DeviceType:
        description: String
        type: string
      Password:
        description: String
        type: string
      Username:
        description: String
        type: string
    required:
      - Username
      - Password
      - DeviceId
      - DeviceName
      - DeviceType
  JE.Api.Consumer.DTOs.DisplayConsumerPreference:
    properties:
      DisplayName:
        description: String
        type: string
      Email:
        description: Boolean
        type: boolean
      Key:
        description: String
        type: string
      Push:
        description: Boolean
        type: boolean
      Sms:
        description: Boolean
        type: boolean
      Sort:
        description: Int32
        format: int32
        type: integer
    required:
      - DisplayName
      - Key
      - Push
      - Email
      - Sms
  JE.Api.Consumer.DTOs.LoginResponse:
    properties:
      Token:
        description: String
        type: string
    required:
      - Token
  JE.Api.Consumer.DTOs.PasswordValidation:
    properties:
      Enabled:
        description: Boolean
        type: boolean
      ErrorText:
        description: String
        type: string
      InfoText:
        description: String
        type: string
      Regex:
        description: String
        type: string
    required:
      - Enabled
      - ErrorText
      - InfoText
      - Regex
  JE.Api.Consumer.DTOs.ResetPasswordTokenRequest:
    properties:
      DeviceType:
        description: String
        type: string
      EmailAddress:
        description: String
        type: string
    required:
      - EmailAddress
  JE.Api.Consumer.DTOs.ResetPasswordTokenResponse: {}
  JE.Api.Consumer.DTOs.TermsAndConditionsResponse:
    properties:
      Id:
        description: Int32
        format: int32
        type: integer
      Link:
        description: String
        type: string
  JE.Api.Consumer.DTOs.UpdatePasswordRequest:
    properties:
      DeviceId:
        description: String
        type: string
      DeviceName:
        description: String
        type: string
      DeviceType:
        description: String
        type: string
      Password:
        description: String
        type: string
    required:
      - Password
      - DeviceId
      - DeviceName
      - DeviceType
  JE.Api.ConsumerOrder.DTOs.ConsumerOrderDto:
    properties:
      AskUserToReview:
        description: Boolean
        type: boolean
      Basket:
        $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.BasketInfo'
        description: BasketInfo
      Consumer:
        $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.ConsumerInfo'
        description: ConsumerInfo
      Delivery:
        $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.DeliveryDto'
        description: DeliveryDto
      Id:
        description: String
        type: string
      IsFixed:
        description: Boolean
        type: boolean
      IsLocked:
        description: Boolean
        type: boolean
      IsReorderable:
        description: Boolean
        type: boolean
      LegacyId:
        description: Int64
        format: int64
        type: integer
      Order:
        $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.OrderInfo'
        description: OrderInfo
      Payment:
        $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.PaymentInfo'
        description: PaymentInfo
      Rating:
        $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.RatingMeta'
        description: RatingMeta
      Restaurant:
        $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.RestaurantDto'
        description: RestaurantDto
      Review:
        $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.Review'
        description: Review
      Status:
        description: String
        type: string
  JE.Api.ConsumerOrder.DTOs.DeliveryDto:
    properties:
      Address:
        description: String
        type: string
      City:
        description: String
        type: string
      Email:
        description: String
        type: string
      Geoposition:
        $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.Geoposition'
        description: Geoposition
      Name:
        description: String
        type: string
      PhoneNumber:
        description: String
        type: string
      Postcode:
        description: String
        type: string
  JE.Api.ConsumerOrder.DTOs.Geoposition:
    properties:
      AccuracyDescription:
        description: String
        type: string
      AccuracyInMetres:
        description: Double
        format: double
        type: number
      Latitude:
        description: Double
        format: double
        type: number
      Longitude:
        description: Double
        format: double
        type: number
      Source:
        description: String
        type: string
  JE.Api.ConsumerOrder.DTOs.OrderDetails.BasketInfo:
    properties:
      BasketId:
        description: String
        type: string
      DeliveryCharge:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      Discount:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      Discounts:
        description: 'IEnumerable[JE.Api.ConsumerOrder.DTOs.OrderDetails.OfferDetails]'
        items:
          $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.OfferDetails'
        type: array
      Items:
        description: 'IEnumerable[JE.Api.ConsumerOrder.DTOs.OrderDetails.BasketItem]'
        items:
          $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.BasketItem'
        type: array
      MenuId:
        description: Int32
        format: int32
        type: integer
      MultiBuyDiscount:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      SubTotal:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      ToSpend:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      Total:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
  JE.Api.ConsumerOrder.DTOs.OrderDetails.BasketItem:
    properties:
      CombinedPrice:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      Description:
        description: String
        type: string
      Discounts:
        description: 'IEnumerable[JE.Api.ConsumerOrder.DTOs.OrderDetails.Discount]'
        items:
          $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.Discount'
        type: array
      MealParts:
        description: 'IEnumerable[JE.Api.ConsumerOrder.DTOs.OrderDetails.MealPart]'
        items:
          $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.MealPart'
        type: array
      MenuCardNumber:
        description: String
        type: string
      MultiBuyDiscounts:
        description: 'IEnumerable[JE.Api.ConsumerOrder.DTOs.OrderDetails.MultiDiscount]'
        items:
          $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.MultiDiscount'
        type: array
      Name:
        description: String
        type: string
      OptionalAccessories:
        description: 'IEnumerable[JE.Api.ConsumerOrder.DTOs.OrderDetails.OptionalAccessory]'
        items:
          $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.OptionalAccessory'
        type: array
      ProductId:
        description: Int32
        format: int32
        type: integer
      ProductTypeId:
        description: Int32
        format: int32
        type: integer
      ProductTypeName:
        description: String
        type: string
      RequiredAccessories:
        description: 'IEnumerable[JE.Api.ConsumerOrder.DTOs.OrderDetails.RequiredAccessory]'
        items:
          $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.RequiredAccessory'
        type: array
      Synonym:
        description: String
        type: string
      UnitPrice:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
  JE.Api.ConsumerOrder.DTOs.OrderDetails.ConsumerInfo:
    properties:
      ConsumerId:
        description: String
        type: string
  JE.Api.ConsumerOrder.DTOs.OrderDetails.Discount:
    properties:
      Amount:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      DiscountType:
        description: String
        type: string
  JE.Api.ConsumerOrder.DTOs.OrderDetails.MealPart:
    properties:
      GroupId:
        description: Int32
        format: int32
        type: integer
      MealPartId:
        description: Int32
        format: int32
        type: integer
      Name:
        description: String
        type: string
      OptionalAccessories:
        description: 'IEnumerable[JE.Api.ConsumerOrder.DTOs.OrderDetails.OptionalAccessory]'
        items:
          $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.OptionalAccessory'
        type: array
      RequiredAccessories:
        description: 'IEnumerable[JE.Api.ConsumerOrder.DTOs.OrderDetails.RequiredAccessory]'
        items:
          $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.RequiredAccessory'
        type: array
      Synonym:
        description: String
        type: string
  JE.Api.ConsumerOrder.DTOs.OrderDetails.MultiDiscount:
    properties:
      Amount:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      DiscountType:
        description: String
        type: string
      OrderItemId:
        description: String
        type: string
      ProductTypeId:
        description: Int32
        format: int32
        type: integer
  JE.Api.ConsumerOrder.DTOs.OrderDetails.OfferDetails:
    properties:
      Discount:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      DiscountType:
        description: String
        type: string
      Id:
        description: Int32
        format: int32
        type: integer
      QualifyingValue:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
  JE.Api.ConsumerOrder.DTOs.OrderDetails.OptionalAccessory:
    properties:
      Name:
        description: String
        type: string
      OptionalAccessoryId:
        description: Int32
        format: int32
        type: integer
      Quantity:
        description: Int32
        format: int32
        type: integer
      UnitPrice:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
  JE.Api.ConsumerOrder.DTOs.OrderDetails.OrderInfo:
    properties:
      DueDate:
        description: DateTimeOffset
        format: time-span
        type: string
      InitialDueDate:
        description: DateTimeOffset
        format: time-span
        type: string
      NoteToRestaurant:
        description: String
        type: string
      PlacedDate:
        description: DateTimeOffset
        format: time-span
        type: string
      PromptAsap:
        description: Boolean
        type: boolean
      ServiceType:
        description: ServiceType
        enum:
          - Collection
          - Delivery
        type: string
  JE.Api.ConsumerOrder.DTOs.OrderDetails.PaymentInfo:
    properties:
      FeeText:
        description: String
        type: string
      OrderId:
        description: String
        type: string
      PaidDate:
        description: DateTimeOffset
        format: time-span
        type: string
      PaymentLines:
        description: 'IEnumerable[JE.Api.ConsumerOrder.DTOs.OrderDetails.PaymentLine]'
        items:
          $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.PaymentLine'
        type: array
      Total:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      TotalComplementary:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      TotalComplimentary:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
  JE.Api.ConsumerOrder.DTOs.OrderDetails.PaymentLine:
    properties:
      AvsCheckInfo:
        description: String
        type: string
      CardFee:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
      CardType:
        description: String
        type: string
      LastCardDigits:
        description: String
        type: string
      PaymentTransactionRef:
        description: String
        type: string
      PspName:
        description: String
        type: string
      Type:
        description: PaymentMethod
        enum:
          - Cash
          - Card
          - AccountCredit
          - Voucher
        type: string
      Value:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
  JE.Api.ConsumerOrder.DTOs.OrderDetails.RequiredAccessory:
    properties:
      GroupId:
        description: Int32
        format: int32
        type: integer
      Name:
        description: String
        type: string
      RequiredAccessoryId:
        description: Int32
        format: int32
        type: integer
      UnitPrice:
        $ref: '#/definitions/System.Decimal'
        description: Decimal
        items:
          $ref: '#/definitions/System.Decimal'
  JE.Api.ConsumerOrder.DTOs.OrderHistoryDto:
    properties:
      History:
        description: 'IEnumerable[JE.Api.ConsumerOrder.DTOs.ConsumerOrderDto]'
        items:
          $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.ConsumerOrderDto'
        type: array
  JE.Api.ConsumerOrder.DTOs.RatingMeta:
    properties:
      MaximumScore:
        description: Int32
        format: int32
        type: integer
      RatingCode:
        description: String
        type: string
  JE.Api.ConsumerOrder.DTOs.Reorder.ReorderBasketDto:
    properties:
      Basket:
        $ref: '#/definitions/JE.Api.Basket.DTOs.OrderBasketResponse'
        description: OrderBasketResponse
      UnavailableProductIds:
        description: 'IEnumerable[System.Int32]'
        items:
          type: integer
        type: array
      UnavailableProducts:
        description: 'IEnumerable[JE.Api.Basket.DTOs.SimpleProductResponse]'
        items:
          $ref: '#/definitions/JE.Api.Basket.DTOs.SimpleProductResponse'
        type: array
  JE.Api.ConsumerOrder.DTOs.Restaurant.Address:
    properties:
      City:
        description: String
        type: string
      FirstLine:
        description: String
[...]
