{
  "swagger": "2.0",
  "info": {
    "title": "CustomSearch API",
    "x-serviceName": "customsearch",
    "description": "Lets you search over a website or collection of websites",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1",
    "x-origin": {
      "format": "google",
      "version": "v1",
      "uri": "https://www.googleapis.com/discovery/v1/apis/customsearch/v1/rest"
    }
  },
  "host": "www.googleapis.com",
  "basePath": "/customsearch",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1": {
      "get": {
        "description": "Returns metadata about the search performed, metadata about the custom search engine used for the search, and the search results.",
        "operationId": "search.cse.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Search"
            }
          }
        },
        "parameters": [
          {
            "name": "c2coff",
            "in": "query",
            "description": "Turns off the translation between zh-CN and zh-TW.",
            "type": "string"
          },
          {
            "name": "cr",
            "in": "query",
            "description": "Country restrict(s).",
            "type": "string"
          },
          {
            "name": "cref",
            "in": "query",
            "description": "The URL of a linked custom search engine",
            "type": "string"
          },
          {
            "name": "cx",
            "in": "query",
            "description": "The custom search engine ID to scope this search query",
            "type": "string"
          },
          {
            "name": "dateRestrict",
            "in": "query",
            "description": "Specifies all search results are from a time period",
            "type": "string"
          },
          {
            "name": "exactTerms",
            "in": "query",
            "description": "Identifies a phrase that all documents in the search results must contain",
            "type": "string"
          },
          {
            "name": "excludeTerms",
            "in": "query",
            "description": "Identifies a word or phrase that should not appear in any documents in the search results",
            "type": "string"
          },
          {
            "name": "fileType",
            "in": "query",
            "description": "Returns images of a specified type. Some of the allowed values are: bmp, gif, png, jpg, svg, pdf, ...",
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Controls turning on or off the duplicate content filter.",
            "type": "string",
            "enum": [
              "0",
              "1"
            ]
          },
          {
            "name": "gl",
            "in": "query",
            "description": "Geolocation of end user.",
            "type": "string"
          },
          {
            "name": "googlehost",
            "in": "query",
            "description": "The local Google domain to use to perform the search.",
            "type": "string"
          },
          {
            "name": "highRange",
            "in": "query",
            "description": "Creates a range in form as_nlo value..as_nhi value and attempts to append it to query",
            "type": "string"
          },
          {
            "name": "hl",
            "in": "query",
            "description": "Sets the user interface language.",
            "type": "string"
          },
          {
            "name": "hq",
            "in": "query",
            "description": "Appends the extra query terms to the query.",
            "type": "string"
          },
          {
            "name": "imgColorType",
            "in": "query",
            "description": "Returns black and white, grayscale, or color images: mono, gray, and color.",
            "type": "string",
            "enum": [
              "color",
              "gray",
              "mono"
            ]
          },
          {
            "name": "imgDominantColor",
            "in": "query",
            "description": "Returns images of a specific dominant color: yellow, green, teal, blue, purple, pink, white, gray, black and brown.",
            "type": "string",
            "enum": [
              "black",
              "blue",
              "brown",
              "gray",
              "green",
              "pink",
              "purple",
              "teal",
              "white",
              "yellow"
            ]
          },
          {
            "name": "imgSize",
            "in": "query",
            "description": "Returns images of a specified size, where size can be one of: icon, small, medium, large, xlarge, xxlarge, and huge.",
            "type": "string",
            "enum": [
              "huge",
              "icon",
              "large",
              "medium",
              "small",
              "xlarge",
              "xxlarge"
            ]
          },
          {
            "name": "imgType",
            "in": "query",
            "description": "Returns images of a type, which can be one of: clipart, face, lineart, news, and photo.",
            "type": "string",
            "enum": [
              "clipart",
              "face",
              "lineart",
              "news",
              "photo"
            ]
          },
          {
            "name": "linkSite",
            "in": "query",
            "description": "Specifies that all search results should contain a link to a particular URL",
            "type": "string"
          },
          {
            "name": "lowRange",
            "in": "query",
            "description": "Creates a range in form as_nlo value..as_nhi value and attempts to append it to query",
            "type": "string"
          },
          {
            "name": "lr",
            "in": "query",
            "description": "The language restriction for the search results",
            "type": "string",
            "enum": [
              "lang_ar",
              "lang_bg",
              "lang_ca",
              "lang_cs",
              "lang_da",
              "lang_de",
              "lang_el",
              "lang_en",
              "lang_es",
              "lang_et",
              "lang_fi",
              "lang_fr",
              "lang_hr",
              "lang_hu",
              "lang_id",
              "lang_is",
              "lang_it",
              "lang_iw",
              "lang_ja",
              "lang_ko",
              "lang_lt",
              "lang_lv",
              "lang_nl",
              "lang_no",
              "lang_pl",
              "lang_pt",
              "lang_ro",
              "lang_ru",
              "lang_sk",
              "lang_sl",
              "lang_sr",
              "lang_sv",
              "lang_tr",
              "lang_zh-CN",
              "lang_zh-TW"
            ]
          },
          {
            "name": "num",
            "in": "query",
            "description": "Number of search results to return",
            "default": "10",
            "type": "integer"
          },
          {
            "name": "orTerms",
            "in": "query",
            "description": "Provides additional search terms to check for in a document, where each document in the search results must contain at least one of the additional search terms",
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Query",
            "required": true,
            "type": "string"
          },
          {
            "name": "relatedSite",
            "in": "query",
            "description": "Specifies that all search results should be pages that are related to the specified URL",
            "type": "string"
          },
          {
            "name": "rights",
            "in": "query",
            "description": "Filters based on licensing. Supported values include: cc_publicdomain, cc_attribute, cc_sharealike, cc_noncommercial, cc_nonderived and combinations of these.",
            "type": "string"
          },
          {
            "name": "safe",
            "in": "query",
            "description": "Search safety level",
            "default": "off",
            "type": "string",
            "enum": [
              "high",
              "medium",
              "off"
            ]
          },
          {
            "name": "searchType",
            "in": "query",
            "description": "Specifies the search type: image.",
            "type": "string",
            "enum": [
              "image"
            ]
          },
          {
            "name": "siteSearch",
            "in": "query",
            "description": "Specifies all search results should be pages from a given site",
            "type": "string"
          },
          {
            "name": "siteSearchFilter",
            "in": "query",
            "description": "Controls whether to include or exclude results from the site named in the as_sitesearch parameter",
            "type": "string",
            "enum": [
              "e",
              "i"
            ]
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort expression to apply to the results",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "The index of the first result to return",
            "type": "integer"
          }
        ],
        "tags": [
          "cse"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "Context": {
      "type": "object",
      "properties": {
        "facets": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "anchor": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "label_with_op": {
                  "type": "string"
                }
              }
            }
          }
        },
        "title": {
          "type": "string"
        }
      }
    },
    "Promotion": {
      "type": "object",
      "properties": {
        "bodyLines": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "htmlTitle": {
                "type": "string"
              },
              "link": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            }
          }
        },
        "displayLink": {
          "type": "string"
        },
        "htmlTitle": {
          "type": "string"
        },
        "image": {
          "type": "object",
          "properties": {
            "height": {
              "type": "integer",
              "format": "int32"
            },
            "source": {
              "type": "string"
            },
            "width": {
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "link": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "Query": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "cr": {
          "type": "string"
        },
        "cref": {
          "type": "string"
        },
        "cx": {
          "type": "string"
        },
        "dateRestrict": {
          "type": "string"
        },
        "disableCnTwTranslation": {
          "type": "string"
        },
        "exactTerms": {
          "type": "string"
        },
        "excludeTerms": {
          "type": "string"
        },
        "fileType": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "gl": {
          "type": "string"
        },
        "googleHost": {
          "type": "string"
        },
        "highRange": {
          "type": "string"
        },
        "hl": {
          "type": "string"
        },
        "hq": {
          "type": "string"
        },
        "imgColorType": {
          "type": "string"
        },
        "imgDominantColor": {
          "type": "string"
        },
        "imgSize": {
          "type": "string"
        },
        "imgType": {
          "type": "string"
        },
        "inputEncoding": {
          "type": "string"
        },
        "language": {
          "type": "string"
        },
        "linkSite": {
          "type": "string"
        },
        "lowRange": {
          "type": "string"
        },
        "orTerms": {
          "type": "string"
        },
        "outputEncoding": {
          "type": "string"
        },
        "relatedSite": {
          "type": "string"
        },
        "rights": {
          "type": "string"
        },
        "safe": {
          "type": "string"
        },
        "searchTerms": {
          "type": "string"
        },
        "searchType": {
          "type": "string"
        },
        "siteSearch": {
          "type": "string"
        },
        "siteSearchFilter": {
          "type": "string"
        },
        "sort": {
          "type": "string"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32"
        },
        "startPage": {
          "type": "integer",
          "format": "int32"
        },
        "title": {
          "type": "string"
        },
        "totalResults": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Result": {
      "type": "object",
      "properties": {
        "cacheId": {
          "type": "string"
        },
        "displayLink": {
          "type": "string"
        },
        "fileFormat": {
          "type": "string"
        },
        "formattedUrl": {
          "type": "string"
        },
        "htmlFormattedUrl": {
          "type": "string"
        },
        "htmlSnippet": {
          "type": "string"
        },
        "htmlTitle": {
          "type": "string"
        },
        "image": {
          "type": "object",
          "properties": {
            "byteSize": {
              "type": "integer",
              "format": "int32"
            },
            "contextLink": {
              "type": "string"
            },
            "height": {
              "type": "integer",
              "format": "int32"
            },
            "thumbnailHeight": {
              "type": "integer",
              "format": "int32"
            },
            "thumbnailLink": {
              "type": "string"
            },
            "thumbnailWidth": {
              "type": "integer",
              "format": "int32"
            },
            "width": {
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "kind": {
          "type": "string",
          "default": "customsearch#result"
        },
        "labels": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string"
              },
              "label_with_op": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        },
        "link": {
          "type": "string"
        },
        "mime": {
          "type": "string"
        },
        "pagemap": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          }
        },
        "snippet": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "Search": {
      "type": "object",
      "properties": {
        "context": {
          "$ref": "#/definitions/Context"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Result"
          }
        },
        "kind": {
          "type": "string",
          "default": "customsearch#search"
        },
        "promotions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Promotion"
          }
        },
        "queries": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Query"
            }
          }
        },
        "searchInformation": {
          "type": "object",
          "properties": {
            "formattedSearchTime": {
              "type": "string"
            },
            "formattedTotalResults": {
              "type": "string"
            },
            "searchTime": {
              "type": "number",
              "format": "double"
            },
            "totalResults": {
              "type": "string",
              "format": "int64"
            }
          }
        },
        "spelling": {
          "type": "object",
          "properties": {
            "correctedQuery": {
              "type": "string"
            },
            "htmlCorrectedQuery": {
              "type": "string"
            }
          }
        },
        "url": {
          "type": "object",
          "properties": {
            "template": {
              "type": "string",
              "default": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
            },
            "type": {
              "type": "string",
              "default": "application/json"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "atom",
        "json"
      ]
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "userIp": {
      "name": "userIp",
      "in": "query",
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "type": "string"
    }
  },
  "externalDocs": {
    "url": "https://developers.google.com/custom-search/v1/using_rest"
  }
}