openapi: 3.0.0
servers:
  - description: Live Test Server (live data - latest nightly version)
    url: https://peertube2.cpy.re/api/v1
  - description: Live Test Server (live data - latest RC version)
    url: https://peertube3.cpy.re/api/v1
  - description: Live Test Server (live data - stable version)
    url: https://peertube.cpy.re/api/v1
info:
  contact:
    name: PeerTube Community
    url: https://joinpeertube.org
  description: |
    The PeerTube API is built on HTTP(S) and is RESTful. You can use your favorite
    HTTP/REST library for your programming language to use PeerTube. The spec API is fully compatible with
    [openapi-generator](https://github.com/OpenAPITools/openapi-generator/wiki/API-client-generator-HOWTO)
    which generates a client SDK in the language of your choice - we generate some client SDKs automatically:

    - [Python](https://framagit.org/framasoft/peertube/clients/python)
    - [Go](https://framagit.org/framasoft/peertube/clients/go)
    - [Kotlin](https://framagit.org/framasoft/peertube/clients/kotlin)

    See the [REST API quick start](https://docs.joinpeertube.org/api-rest-getting-started) for a few
    examples of using the PeerTube API.

    # Authentication

    When you sign up for an account on a PeerTube instance, you are given the possibility
    to generate sessions on it, and authenticate there using an access token. Only __one
    access token can currently be used at a time__.

    ## Roles

    Accounts are given permissions based on their role. There are three roles on
    PeerTube: Administrator, Moderator, and User. See the [roles guide](https://docs.joinpeertube.org/admin-managing-users?id=roles) for a detail of their permissions.

    # Errors

    The API uses standard HTTP status codes to indicate the success or failure
    of the API call.

    ```
    HTTP 1.1 404 Not Found
    Content-Type: application/json

    {
      "errorCode": 1
      "error": "Account not found"
    }
    ```

    We provide error codes for [a growing number of cases](https://github.com/Chocobozzz/PeerTube/blob/develop/shared/models/server/server-error-code.enum.ts),
    but it is still optional.

    ### Validation errors

    Each parameter is evaluated on its own against a set of rules before the route validator
    proceeds with potential testing involving parameter combinations. Errors coming from Validation
    errors appear earlier and benefit from a more detailed error type:

    ```
    HTTP 1.1 400 Bad Request
    Content-Type: application/json

    {
      "errors": {
        "id": {
          "value": "a117eb-c6a9-4756-bb09-2a956239f",
          "msg": "Should have a valid id",
          "param": "id",
          "location": "params"
        }
      }
    }
    ```

    Where `id` is the name of the field concerned by the error, within the route definition.
    `errors.<field>.location` can be either 'params', 'body', 'header', 'query' or 'cookies', and
    `errors.<field>.value` reports the value that didn't pass validation whose `errors.<field>.msg`
    is about.

    # Rate limits

    We are rate-limiting all endpoints of PeerTube's API. Custom values can be set by administrators:

    | Endpoint (prefix: `/api/v1`) | Calls         | Time frame   |
    |------------------------------|---------------|--------------|
    | `/*`                         | 50            | 10 seconds   |
    | `POST /users/token`          | 15            | 5 minutes    |
    | `POST /users/register`       | 2<sup>*</sup> | 5 minutes    |
    | `POST /users/ask-send-verify-email` | 3      | 5 minutes    |

    Depending on the endpoint, <sup>*</sup>failed requests are not taken into account. A service
    limit is announced by a `429 Too Many Requests` status code.

    You can get details about the current state of your rate limit by reading the
    following headers:

    | Header                  | Description                                                |
    |-------------------------|------------------------------------------------------------|
    | `X-RateLimit-Limit`     | Number of max requests allowed in the current time period  |
    | `X-RateLimit-Remaining` | Number of remaining requests in the current time period    |
    | `X-RateLimit-Reset`     | Timestamp of end of current time period as UNIX timestamp  |
    | `Retry-After`           | Seconds to delay after the first `429` is received         |

    # CORS

    This API features [Cross-Origin Resource Sharing (CORS)](https://fetch.spec.whatwg.org/),
    allowing cross-domain communication from the browser for some routes:

    | Endpoint                    |
    |------------------------- ---|
    | `/api/*`                    |
    | `/download/*`               |
    | `/lazy-static/*`            |
    | `/live/segments-sha256/*`   |
    | `/.well-known/webfinger`    |

    In addition, all routes serving ActivityPub are CORS-enabled for all origins.
  license:
    name: AGPLv3.0
    url: https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE
  title: PeerTube
  version: 3.2.1
  x-apisguru-categories:
    - social
  x-logo:
    altText: PeerTube Project Homepage
    url: https://joinpeertube.org/img/brand.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: openapi
      url: https://raw.githubusercontent.com/Chocobozzz/PeerTube/develop/support/doc/api/openapi.yaml
      version: "3.0"
  x-providerName: cpy.re
  x-serviceName: peertube
externalDocs:
  url: https://docs.joinpeertube.org/api-rest-reference.html
tags:
  - description: |
      As a visitor, you can use this API to open an account (if registrations are open on
      that PeerTube instance). As an admin, you should use the dedicated [User creation
      API](#operation/addUser) instead.
    name: Register
  - description: |
      Sessions deal with access tokens over time. Only __one session token can currently be used at a time__.
    name: Session
    x-displayName: Login/Logout
  - description: |
      Accounts encompass remote accounts discovered across the federation, and correspond to the main Actor, along with video channels a user can create, which are also Actors.
      When a comment is posted, it is done with your Account's Actor.
    name: Accounts
  - description: |
      Using some features of PeerTube require authentication, for which User provide different levels of permission as well as associated user information. Each user has a corresponding local Account for federation.
    name: Users
  - description: |
      Operations related to your own User, when logged-in.
    name: My User
  - description: |
      Operations related to your subscriptions to video channels, their new videos, and how to keep up to date with their latest publications!
    name: My Subscriptions
  - description: |
      Operations related to your watch history.
    name: My History
  - description: |
      Notifications following new videos, follows or reports. They allow you to keep track of the interactions and overall important information that concerns you. You MAY set per-notification type delivery preference, to receive the info either by mail, by in-browser notification or both.
    name: My Notifications
  - description: |
      Each server exposes public information regarding supported videos and options.
    name: Config
  - description: |
      Jobs are long-running tasks enqueued and processed by the instance itself. No additional worker registration is currently available.
    name: Job
  - description: |
      Managing servers which the instance interacts with is crucial to the concept of federation in PeerTube and external video indexation. The PeerTube server then deals with inter-server ActivityPub operations and propagates information across its social graph by posting activities to actors' inbox endpoints.
    externalDocs:
      url: https://docs.joinpeertube.org/admin-following-instances?id=instances-follows
    name: Instance Follows
  - description: |
      Redundancy is part of the inter-server solidarity that PeerTube fosters. Manage the list of instances you wish to help by seeding their videos according to the policy of video selection of your choice. Note that you have a similar functionality to mirror individual videos, see [video mirroring](#tag/Video-Mirroring).
    externalDocs:
      url: https://docs.joinpeertube.org/admin-following-instances?id=instances-redundancy
    name: Instance Redundancy
  - description: |
      Managing plugins installed from a local path or from NPM, or search for new ones.
    externalDocs:
      url: https://docs.joinpeertube.org/api-plugins
    name: Plugins
  - description: |
      Abuses deal with reports of local or remote videos/comments/accounts alike.
    name: Abuses
  - description: |
      Operations dealing with listing, uploading, fetching or modifying videos.
    name: Video
  - description: |
      Operations dealing with adding video or audio. PeerTube supports two upload modes, and three import modes.

      ### Upload

      - [_legacy_](#operation/uploadLegacy), where the video file is sent in a single request
      - [_resumable_](#operation/uploadResumableInit), where the video file is sent in chunks

      You can upload videos more reliably by using the resumable variant. Its protocol lets
      you resume an upload operation after a network interruption or other transmission failure,
      saving time and bandwidth in the event of network failures.

      Favor using resumable uploads in any of the following cases:
      - You are transferring large files
      - The likelihood of a network interruption is high
      - Uploads are originating from a device with a low-bandwidth or unstable Internet connection,
        such as a mobile device

      ### Import

      - _URL_-based: where the URL points to any service supported by [youtube-dl](https://ytdl-org.github.io/youtube-dl/)
      - _magnet_-based: where the URI resolves to a BitTorrent ressource containing a single supported video file
      - _torrent_-based: where the metainfo file resolves to a BitTorrent ressource containing a single supported video file

      The import function is practical when the desired video/audio is available online. It makes PeerTube
      download it for you, saving you as much bandwidth and avoiding any instability or limitation your network might have.
    name: Video Upload
  - description: Operations dealing with listing, adding and removing closed captions of a video.
    name: Video Captions
  - description: Operations dealing with the creation, modification and listing of videos within a channel.
    name: Video Channels
  - description: |
      Operations dealing with comments to a video. Comments are organized in threads: adding a comment in response to the video starts a thread, adding a reply to a comment adds it to its root comment thread.
    name: Video Comments
  - description: Operations dealing with blocking videos (removing them from view and preventing interactions).
    name: Video Blocks
  - description: Like/dislike a video.
    name: Video Rates
  - description: Operations dealing with playlists of videos. Playlists are bound to users and/or channels.
    name: Video Playlists
  - description: Server syndication feeds
    name: Feeds
  - description: |
      The search helps to find _videos_ or _channels_ from within the instance and beyond.
      Videos from other instances federated by the instance (that is, instances
      followed by the instance) can be found via keywords and other criteria of
      the advanced search.

      Administrators can also enable the use of a remote search system, indexing
      videos and channels not could be not federated by the instance.
    name: Search
  - description: Get and update the custom homepage
    name: Homepage
  - description: |
      PeerTube instances can mirror videos from one another, and help distribute some videos.

      For importing videos as your own, refer to [video imports](#operation/importVideo).
    name: Video Mirroring
paths:
  /abuses:
    get:
      operationId: getAbuses
      parameters:
        - description: only list the report with this id
          in: query
          name: id
          schema:
            type: integer
        - description: predefined reason the listed reports should contain
          in: query
          name: predefinedReason
          schema:
            $ref: "#/components/schemas/PredefinedAbuseReasons"
        - description: plain search that will match with video titles, reporter names and more
          in: query
          name: search
          schema:
            type: string
        - in: query
          name: state
          schema:
            $ref: "#/components/schemas/AbuseStateSet"
        - description: only list reports of a specific reporter
          in: query
          name: searchReporter
          schema:
            type: string
        - description: only list reports of a specific reportee
          in: query
          name: searchReportee
          schema:
            type: string
        - description: only list reports of a specific video
          in: query
          name: searchVideo
          schema:
            type: string
        - description: only list reports of a specific video channel
          in: query
          name: searchVideoChannel
          schema:
            type: string
        - description: only list blacklisted or deleted videos
          in: query
          name: videoIs
          schema:
            enum:
              - deleted
              - blacklisted
            type: string
        - description: only list account, comment or video reports
          in: query
          name: filter
          schema:
            enum:
              - video
              - comment
              - account
            type: string
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/abusesSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Abuse"
                    type: array
                  total:
                    example: 1
                    type: integer
                type: object
          description: successful operation
      security:
        - OAuth2:
            - admin
            - moderator
      summary: List abuses
      tags:
        - Abuses
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                account:
                  properties:
                    id:
                      description: Account id to report
                      type: integer
                  type: object
                comment:
                  properties:
                    id:
                      allOf:
                        - $ref: "#/components/schemas/VideoComment/properties/id"
                      description: Comment id to report
                  type: object
                predefinedReasons:
                  $ref: "#/components/schemas/PredefinedAbuseReasons"
                reason:
                  description: Reason why the user reports this video
                  maxLength: 3000
                  minLength: 2
                  type: string
                video:
                  properties:
                    endAt:
                      description: Timestamp in the video that marks the ending of the report
                      format: seconds
                      minimum: 0
                      type: integer
                    id:
                      allOf:
                        - $ref: "#/components/schemas/Video/properties/id"
                      description: Video id to report
                    startAt:
                      description: Timestamp in the video that marks the beginning of the report
                      format: seconds
                      minimum: 0
                      type: integer
                  type: object
              required:
                - reason
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  abuse:
                    properties:
                      id:
                        $ref: "#/components/schemas/id"
                    type: object
                type: object
          description: successful operation
        "400":
          description: incorrect request parameters
      security:
        - OAuth2: []
      summary: Report an abuse
      tags:
        - Abuses
  "/abuses/{abuseId}":
    delete:
      parameters:
        - $ref: "#/components/parameters/abuseId"
      responses:
        "204":
          description: successful operation
        "404":
          description: block not found
      security:
        - OAuth2:
            - admin
            - moderator
      summary: Delete an abuse
      tags:
        - Abuses
    put:
      parameters:
        - $ref: "#/components/parameters/abuseId"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                moderationComment:
                  description: Update the report comment visible only to the moderation team
                  maxLength: 3000
                  minLength: 2
                  type: string
                state:
                  $ref: "#/components/schemas/AbuseStateSet"
              type: object
      responses:
        "204":
          description: successful operation
        "404":
          description: abuse not found
      security:
        - OAuth2:
            - admin
            - moderator
      summary: Update an abuse
      tags:
        - Abuses
  "/abuses/{abuseId}/messages":
    get:
      parameters:
        - $ref: "#/components/parameters/abuseId"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/AbuseMessage"
                    type: array
                  total:
                    example: 1
                    type: integer
                type: object
          description: successful operation
      security:
        - OAuth2: []
      summary: List messages of an abuse
      tags:
        - Abuses
    post:
      parameters:
        - $ref: "#/components/parameters/abuseId"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                message:
                  description: Message to send
                  maxLength: 3000
                  minLength: 2
                  type: string
              required:
                - message
              type: object
        required: true
      responses:
        "200":
          description: successful operation
        "400":
          description: incorrect request parameters
      security:
        - OAuth2: []
      summary: Add message to an abuse
      tags:
        - Abuses
  "/abuses/{abuseId}/messages/{abuseMessageId}":
    delete:
      parameters:
        - $ref: "#/components/parameters/abuseId"
        - $ref: "#/components/parameters/abuseMessageId"
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Delete an abuse message
      tags:
        - Abuses
  /accounts:
    get:
      operationId: getAccounts
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Account"
                type: array
          description: successful operation
      summary: List accounts
      tags:
        - Accounts
  "/accounts/{name}":
    get:
      operationId: getAccount
      parameters:
        - $ref: "#/components/parameters/name"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: successful operation
        "404":
          description: account not found
      summary: Get an account
      tags:
        - Accounts
  "/accounts/{name}/ratings":
    get:
      parameters:
        - $ref: "#/components/parameters/name"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
        - description: Optionally filter which ratings to retrieve
          in: query
          name: rating
          required: false
          schema:
            enum:
              - like
              - dislike
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/VideoRating"
                type: array
          description: successful operation
      security:
        - OAuth2: []
      summary: List ratings of an account
      tags:
        - Accounts
  "/accounts/{name}/video-channels":
    get:
      parameters:
        - $ref: "#/components/parameters/name"
        - description: include view statistics for the last 30 days (only if authentified as the account user)
          in: query
          name: withStats
          schema:
            type: boolean
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoChannelList"
          description: successful operation
      summary: List video channels of an account
      tags:
        - Video Channels
        - Accounts
  "/accounts/{name}/videos":
    get:
      operationId: getAccountVideos
      parameters:
        - $ref: "#/components/parameters/name"
        - $ref: "#/components/parameters/categoryOneOf"
        - $ref: "#/components/parameters/isLive"
        - $ref: "#/components/parameters/tagsOneOf"
        - $ref: "#/components/parameters/tagsAllOf"
        - $ref: "#/components/parameters/licenceOneOf"
        - $ref: "#/components/parameters/languageOneOf"
        - $ref: "#/components/parameters/nsfw"
        - $ref: "#/components/parameters/filter"
        - $ref: "#/components/parameters/skipCount"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/videosSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
          description: successful operation
      summary: List videos of an account
      tags:
        - Accounts
        - Video
      x-codeSamples:
        - lang: JavaScript
          source: |
            fetch('https://peertube2.cpy.re/api/v1/accounts/{name}/videos')
            .then(function(response) {
              return response.json()
            }).then(function(data) {
              console.log(data)
            })
        - lang: Shell
          source: |
            ## DEPENDENCIES: jq
            curl -s https://peertube2.cpy.re/api/v1/accounts/{name}/videos | jq
        - lang: Ruby
          source: |
            require 'net/http'
            require 'json'

            uri = URI.parse("https://peertube2.cpy.re/api/v1/accounts/{name}/videos")

            http = Net::HTTP.new(uri.host, uri.port)
            http.use_ssl = true

            response = http.get(uri.request_uri)

            puts JSON.parse(response.read_body)
        - lang: Python
          source: |
            import requests

            r = requests.get("https://peertube2.cpy.re/api/v1//accounts/{name}/videos")
            json = r.json()

            print(json)
  /config:
    get:
      operationId: getConfig
      responses:
        "200":
          content:
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/api/v1/config
              schema:
                $ref: "#/components/schemas/ServerConfig"
          description: successful operation
      summary: Get instance public configuration
      tags:
        - Config
  /config/about:
    get:
      operationId: getAbout
      responses:
        "200":
          content:
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/api/v1/config/about
              schema:
                $ref: "#/components/schemas/ServerConfigAbout"
          description: successful operation
      summary: Get instance "About" information
      tags:
        - Config
  /config/custom:
    delete:
      operationId: delCustomConfig
      responses:
        "200":
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: Delete instance runtime configuration
      tags:
        - Config
    get:
      operationId: getCustomConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerConfigCustom"
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: Get instance runtime configuration
      tags:
        - Config
    put:
      operationId: putCustomConfig
      responses:
        "200":
          description: successful operation
        "400":
          description: |
            Arises when:
              - the emailer is disabled and the instance is open to registrations
              - webtorrent and hls are disabled with transcoding enabled - you need at least one enabled
          x-summary: field inconsistencies
      security:
        - OAuth2:
            - admin
      summary: Set instance runtime configuration
      tags:
        - Config
  /custom-pages/homepage/instance:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomHomepage"
          description: successful operation
        "404":
          description: No homepage set
      summary: Get instance custom homepage
      tags:
        - Homepage
    put:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                content:
                  description: content of the homepage, that will be injected in the client
                  type: string
              type: object
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: Set instance custom homepage
      tags:
        - Homepage
  "/feeds/subscriptions.{format}":
    get:
      operationId: getSyndicatedSubscriptionVideos
      parameters:
        - description: format expected (we focus on making `rss` the most featureful ; it serves [Media RSS](https://www.rssboard.org/media-rss))
          in: path
          name: format
          required: true
          schema:
            enum:
              - xml
              - rss
              - rss2
              - atom
              - atom1
              - json
              - json1
            type: string
        - description: limit listing to a specific account
          in: query
          name: accountId
          required: true
          schema:
            type: string
        - description: private token allowing access
          in: query
          name: token
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/nsfw"
        - $ref: "#/components/parameters/filter"
      responses:
        "204":
          content:
            application/atom+xml:
              schema:
                $ref: "#/components/schemas/VideosForXML"
            application/json:
              schema:
                type: object
            application/rss+xml:
              schema:
                $ref: "#/components/schemas/VideosForXML"
            application/xml:
              schema:
                $ref: "#/components/schemas/VideosForXML"
            text/xml:
              schema:
                $ref: "#/components/schemas/VideosForXML"
          description: successful operation
          headers:
            Cache-Control:
              schema:
                default: max-age=900
                type: string
        "406":
          description: accept header unsupported
      summary: List videos of subscriptions tied to a token
      tags:
        - Feeds
        - Account
  "/feeds/video-comments.{format}":
    get:
      operationId: getSyndicatedComments
      parameters:
        - description: format expected (we focus on making `rss` the most featureful ; it serves [Media RSS](https://www.rssboard.org/media-rss))
          in: path
          name: format
          required: true
          schema:
            enum:
              - xml
              - rss
              - rss2
              - atom
              - atom1
              - json
              - json1
            type: string
        - description: limit listing to a specific video
          in: query
          name: videoId
          schema:
            type: string
        - description: limit listing to a specific account
          in: query
          name: accountId
          schema:
            type: string
        - description: limit listing to a specific account
          in: query
          name: accountName
          schema:
            type: string
        - description: limit listing to a specific video channel
          in: query
          name: videoChannelId
          schema:
            type: string
        - description: limit listing to a specific video channel
          in: query
          name: videoChannelName
          schema:
            type: string
      responses:
        "204":
          content:
            application/atom+xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/video-comments.atom?filter=local
              schema:
                $ref: "#/components/schemas/VideoCommentsForXML"
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/video-comments.json?filter=local
              schema:
                type: object
            application/rss+xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/video-comments.rss?filter=local
              schema:
                $ref: "#/components/schemas/VideoCommentsForXML"
            application/xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/video-comments.xml?filter=local
              schema:
                $ref: "#/components/schemas/VideoCommentsForXML"
            text/xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/video-comments.xml?filter=local
              schema:
                $ref: "#/components/schemas/VideoCommentsForXML"
          description: successful operation
          headers:
            Cache-Control:
              schema:
                default: max-age=900
                type: string
        "400":
          description: |
            Arises when:
              - videoId filter is mixed with a channel filter
          x-summary: field inconsistencies
        "404":
          description: video, video channel or account not found
        "406":
          description: accept header unsupported
      summary: List comments on videos
      tags:
        - Feeds
  "/feeds/videos.{format}":
    get:
      operationId: getSyndicatedVideos
      parameters:
        - description: format expected (we focus on making `rss` the most featureful ; it serves [Media RSS](https://www.rssboard.org/media-rss))
          in: path
          name: format
          required: true
          schema:
            enum:
              - xml
              - rss
              - rss2
              - atom
              - atom1
              - json
              - json1
            type: string
        - description: limit listing to a specific account
          in: query
          name: accountId
          schema:
            type: string
        - description: limit listing to a specific account
          in: query
          name: accountName
          schema:
            type: string
        - description: limit listing to a specific video channel
          in: query
          name: videoChannelId
          schema:
            type: string
        - description: limit listing to a specific video channel
          in: query
          name: videoChannelName
          schema:
            type: string
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/nsfw"
        - $ref: "#/components/parameters/filter"
      responses:
        "204":
          content:
            application/atom+xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/videos.atom?filter=local
              schema:
                $ref: "#/components/schemas/VideosForXML"
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/videos.json?filter=local
              schema:
                type: object
            application/rss+xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/videos.rss?filter=local
              schema:
                $ref: "#/components/schemas/VideosForXML"
            application/xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/videos.xml?filter=local
              schema:
                $ref: "#/components/schemas/VideosForXML"
            text/xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/videos.xml?filter=local
              schema:
                $ref: "#/components/schemas/VideosForXML"
          description: successful operation
          headers:
            Cache-Control:
              schema:
                default: max-age=900
                type: string
        "404":
          description: video channel or account not found
        "406":
          description: accept header unsupported
      summary: List videos
      tags:
        - Feeds
  "/jobs/{state}":
    get:
      operationId: getJobs
      parameters:
        - description: The state of the job ('' for for no filter)
          in: path
          name: state
          required: true
          schema:
            enum:
              - ""
              - active
              - completed
              - failed
              - waiting
              - delayed
            type: string
        - $ref: "#/components/parameters/jobType"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Job"
                    maxItems: 100
                    type: array
                  total:
                    example: 1
                    type: integer
                type: object
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: List instance jobs
      tags:
        - Job
  /oauth-clients/local:
    get:
      description: You need to retrieve a client id and secret before [logging in](#operation/getOAuthToken).
      operationId: getOAuthClient
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthClient"
          description: successful operation
          links:
            UseOAuthClientToLogin:
              operationId: getOAuthToken
              parameters:
                client_id: $response.body#/client_id
                client_secret: $response.body#/client_secret
      summary: Login prerequisite
      tags:
        - Session
      x-codeSamples:
        - lang: Shell
          source: |
            API="https://peertube2.cpy.re/api/v1"

            ## AUTH
            curl -s "$API/oauth-clients/local"
  /plugins:
    get:
      operationId: getPlugins
      parameters:
        - in: query
          name: pluginType
          schema:
            type: integer
        - in: query
          name: uninstalled
          schema:
            type: boolean
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PluginResponse"
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: List plugins
      tags:
        - Plugins
  /plugins/available:
    get:
      operationId: getAvailablePlugins
      parameters:
        - in: query
          name: search
          schema:
            type: string
        - in: query
          name: pluginType
          schema:
            type: integer
        - in: query
          name: currentPeerTubeEngine
          schema:
            type: string
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PluginResponse"
          description: successful operation
        "503":
          description: plugin index unavailable
      security:
        - OAuth2:
            - admin
      summary: List available plugins
      tags:
        - Plugins
  /plugins/install:
    post:
      operationId: addPlugin
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - additionalProperties: false
                  properties:
                    npmName:
                      example: peertube-plugin-auth-ldap
                      type: string
                  required:
                    - npmName
                  type: object
                - additionalProperties: false
                  properties:
                    path:
                      type: string
                  required:
                    - path
                  type: object
      responses:
        "204":
          description: successful operation
        "400":
          description: should have either `npmName` or `path` set
      security:
        - OAuth2:
            - admin
      summary: Install a plugin
      tags:
        - Plugins
  /plugins/uninstall:
    post:
      operationId: uninstallPlugin
      requestBody:
        content:
          application/json:
            schema:
              properties:
                npmName:
                  description: name of the plugin/theme in its package.json
                  example: peertube-plugin-auth-ldap
                  type: string
              required:
                - npmName
              type: object
      responses:
        "204":
          description: successful operation
        "404":
          description: existing plugin not found
      security:
        - OAuth2:
            - admin
      summary: Uninstall a plugin
      tags:
        - Plugins
  /plugins/update:
    post:
      operationId: updatePlugin
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - additionalProperties: false
                  properties:
                    npmName:
                      example: peertube-plugin-auth-ldap
                      type: string
                  required:
                    - npmName
                  type: object
                - additionalProperties: false
                  properties:
                    path:
                      type: string
                  required:
                    - path
                  type: object
      responses:
        "204":
          description: successful operation
        "400":
          description: should have either `npmName` or `path` set
        "404":
          description: existing plugin not found
      security:
        - OAuth2:
            - admin
      summary: Update a plugin
      tags:
        - Plugins
  "/plugins/{npmName}":
    get:
      operationId: getPlugin
      parameters:
        - $ref: "#/components/parameters/npmName"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Plugin"
          description: successful operation
        "404":
          description: plugin not found
      security:
        - OAuth2:
            - admin
      summary: Get a plugin
      tags:
        - Plugins
  "/plugins/{npmName}/public-settings":
    get:
      parameters:
        - $ref: "#/components/parameters/npmName"
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: successful operation
        "404":
          description: plugin not found
      summary: Get a plugin's public settings
      tags:
        - Plugins
  "/plugins/{npmName}/registered-settings":
    get:
      parameters:
        - $ref: "#/components/parameters/npmName"
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: successful operation
        "404":
          description: plugin not found
      security:
        - OAuth2:
            - admin
      summary: Get a plugin's registered settings
      tags:
        - Plugins
  "/plugins/{npmName}/settings":
    put:
      parameters:
        - $ref: "#/components/parameters/npmName"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                settings:
                  additionalProperties: true
                  type: object
              type: object
      responses:
        "204":
          description: successful operation
        "404":
          description: plugin not found
      security:
        - OAuth2:
            - admin
      summary: Set a plugin's settings
      tags:
        - Plugins
  /search/video-channels:
    get:
      callbacks:
        searchTarget === search-index:
          $ref: "#/components/callbacks/searchIndex"
      operationId: searchChannels
      parameters:
        - description: |
            String to search. If the user can make a remote URI search, and the string is an URI then the PeerTube instance will fetch the remote object and add it to its database. Then, you can use the REST API to fetch the complete channel information and interact with it.
          in: query
          name: search
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/searchTarget"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoChannelList"
          description: successful operation
        "500":
          description: search index unavailable
      summary: Search channels
      tags:
        - Search
  /search/videos:
    get:
      callbacks:
        searchTarget === search-index:
          $ref: "#/components/callbacks/searchIndex"
      operationId: searchVideos
      parameters:
        - allowEmptyValue: false
          description: |
            String to search. If the user can make a remote URI search, and the string is an URI then the PeerTube instance will fetch the remote object and add it to its database. Then, you can use the REST API to fetch the complete video information and interact with it.
          in: query
          name: search
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/categoryOneOf"
        - $ref: "#/components/parameters/isLive"
        - $ref: "#/components/parameters/tagsOneOf"
        - $ref: "#/components/parameters/tagsAllOf"
        - $ref: "#/components/parameters/licenceOneOf"
        - $ref: "#/components/parameters/languageOneOf"
        - $ref: "#/components/parameters/nsfw"
        - $ref: "#/components/parameters/filter"
        - $ref: "#/components/parameters/skipCount"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/searchTarget"
        - $ref: "#/components/parameters/videosSearchSort"
        - description: Get videos that are published after this date
          in: query
          name: startDate
          schema:
            format: date-time
            type: string
        - description: Get videos that are published before this date
          in: query
          name: endDate
          schema:
            format: date-time
            type: string
        - description: Get videos that are originally published after this date
          in: query
          name: originallyPublishedStartDate
          schema:
            format: date-time
            type: string
        - description: Get videos that are originally published before this date
          in: query
          name: originallyPublishedEndDate
          schema:
            format: date-time
            type: string
        - description: Get videos that have this minimum duration
          in: query
          name: durationMin
          schema:
            type: integer
        - description: Get videos that have this maximum duration
          in: query
          name: durationMax
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
          description: successful operation
        "500":
          description: search index unavailable
      summary: Search videos
      tags:
        - Search
  /server/blocklist/accounts:
    get:
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: List account blocks
      tags:
        - Account Blocks
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                accountName:
                  description: account to block, in the form `username@domain`
                  example: chocobozzz@example.org
                  type: string
              required:
                - accountName
              type: object
      responses:
        "200":
          description: successful operation
        "409":
          description: self-blocking forbidden
      security:
        - OAuth2:
            - admin
      summary: Block an account
      tags:
        - Account Blocks
  "/server/blocklist/accounts/{accountName}":
    delete:
      parameters:
        - description: account to unblock, in the form `username@domain`
          in: path
          name: accountName
          required: true
          schema:
            type: string
      responses:
        "201":
          description: successful operation
        "404":
          description: account or account block does not exist
      security:
        - OAuth2:
            - admin
      summary: Unblock an account by its handle
      tags:
        - Account Blocks
  /server/blocklist/servers:
    get:
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: List server blocks
      tags:
        - Server Blocks
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                host:
                  description: server domain to block
                  format: hostname
                  type: string
              required:
                - host
              type: object
      responses:
        "204":
          description: successful operation
        "409":
          description: self-blocking forbidden
      security:
        - OAuth2:
            - admin
      summary: Block a server
      tags:
        - Server Blocks
  "/server/blocklist/servers/{host}":
    delete:
      parameters:
        - description: server domain to unblock
          in: path
          name: host
          required: true
          schema:
            format: hostname
            type: string
      responses:
        "204":
          description: successful operation
        "404":
          description: account block does not exist
      security:
        - OAuth2:
            - admin
      summary: Unblock a server by its domain
      tags:
        - Server Blocks
  /server/followers:
    get:
      parameters:
        - $ref: "#/components/parameters/followState"
        - $ref: "#/components/parameters/actorType"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Follow"
                    type: array
                  total:
                    example: 1
                    type: integer
                type: object
          description: successful operation
      summary: List instances following the server
      tags:
        - Instance Follows
  "/server/followers/{nameWithHost}":
    delete:
      parameters:
        - description: The remote actor handle to remove from your followers
          in: path
          name: nameWithHost
          required: true
          schema:
            format: email
            type: string
      responses:
        "204":
          description: successful operation
        "404":
          description: follower not found
      security:
        - OAuth2:
            - admin
      summary: Remove or reject a follower to your server
      tags:
        - Instance Follows
  "/server/followers/{nameWithHost}/accept":
    post:
      parameters:
        - description: The remote actor handle to remove from your followers
          in: path
          name: nameWithHost
          required: true
          schema:
            format: email
            type: string
      responses:
        "204":
          description: successful operation
        "404":
          description: follower not found
      security:
        - OAuth2:
            - admin
      summary: Accept a pending follower to your server
      tags:
        - Instance Follows
  "/server/followers/{nameWithHost}/reject":
    post:
      parameters:
        - description: The remote actor handle to remove from your followers
          in: path
          name: nameWithHost
          required: true
          schema:
            format: email
            type: string
      responses:
        "204":
          description: successful operation
        "404":
          description: follower not found
      security:
        - OAuth2:
            - admin
      summary: Reject a pending follower to your server
      tags:
        - Instance Follows
  /server/following:
    get:
      parameters:
        - $ref: "#/components/parameters/followState"
        - $ref: "#/components/parameters/actorType"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Follow"
                    type: array
                  total:
                    example: 1
                    type: integer
                type: object
          description: successful operation
      summary: List instances followed by the server
      tags:
        - Instance Follows
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                hosts:
                  items:
                    format: hostname
                    type: string
                  type: array
                  uniqueItems: true
              type: object
      responses:
        "204":
          description: successful operation
        "500":
          description: cannot follow a non-HTTPS server
      security:
        - OAuth2:
            - admin
      summary: Follow a list of servers
      tags:
        - Instance Follows
  "/server/following/{host}":
    delete:
      parameters:
        - description: The host to unfollow
          in: path
          name: host
          required: true
          schema:
            format: hostname
            type: string
      responses:
        "204":
          description: successful operation
        "404":
          description: host not found
      security:
        - OAuth2:
            - admin
      summary: Unfollow a server
      tags:
        - Instance Follows
  /server/redundancy/videos:
    get:
      operationId: getMirroredVideos
      parameters:
        - description: direction of the mirror
          in: query
          name: target
          required: true
          schema:
            enum:
              - my-videos
              - remote-videos
            type: string
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/videoRedundanciesSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/VideoRedundancy"
                type: array
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: List videos being mirrored
      tags:
        - Video Mirroring
    post:
      operationId: putMirroredVideo
      requestBody:
        content:
          application/json:
            schema:
              properties:
                videoId:
                  $ref: "#/components/schemas/Video/properties/id"
              required:
                - videoId
              type: object
      responses:
        "204":
          description: successful operation
        "400":
          description: cannot mirror a local video
        "404":
          description: video does not exist
        "409":
          description: video is already mirrored
      security:
        - OAuth2:
            - admin
      summary: Mirror a video
      tags:
        - Video Mirroring
  "/server/redundancy/videos/{redundancyId}":
    delete:
      operationId: delMirroredVideo
      parameters:
        - description: id of an existing redundancy on a video
          in: path
          name: redundancyId
          required: true
          schema:
            type: string
      responses:
        "204":
          description: successful operation
        "404":
          description: video redundancy not found
      security:
        - OAuth2:
            - admin
      summary: Delete a mirror done on a video
      tags:
        - Video Mirroring
  "/server/redundancy/{host}":
    put:
      parameters:
        - description: server domain to mirror
          in: path
          name: host
          required: true
          schema:
            format: hostname
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                redundancyAllowed:
                  description: allow mirroring of the host's local videos
                  type: boolean
              required:
                - redundancyAllowed
              type: object
      responses:
        "204":
          description: successful operation
        "404":
          description: server is not already known
      security:
        - OAuth2:
            - admin
      summary: Update a server redundancy policy
      tags:
        - Instance Redundancy
  /users:
    get:
      operationId: getUsers
      parameters:
        - $ref: "#/components/parameters/usersSearch"
        - $ref: "#/components/parameters/usersBlocked"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/usersSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/User"
                type: array
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: List users
      tags:
        - Users
    post:
      operationId: addUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddUser"
        description: |
          If the smtp server is configured, you can leave the password empty and an email will be sent
          asking the user to set it first.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddUserResponse"
          description: user created
          links:
            DelUser:
              operationId: delUser
              parameters:
                id: $response.body#/user/id
            GetUser:
              operationId: getUser
              parameters:
                id: $response.body#/user/id
            PutUser:
              operationId: putUser
              parameters:
                id: $response.body#/user/id
        "403":
          description: insufficient authority to create an admin or moderator
      security:
        - OAuth2:
            - admin
      summary: Create a user
      tags:
        - Users
  /users/ask-send-verify-email:
    post:
      operationId: resendEmailToVerifyUser
      responses:
        "204":
          description: successful operation
      summary: Resend user verification link
      tags:
        - Users
        - Register
  /users/me:
    get:
      operationId: getUserInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/User"
                type: array
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Get my user information
      tags:
        - My User
    put:
      operationId: putUserInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMe"
        required: true
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Update my user information
      tags:
        - My User
  /users/me/abuses:
    get:
      operationId: getMyAbuses
      parameters:
        - description: only list the report with this id
          in: query
          name: id
          schema:
            type: integer
        - in: query
          name: state
          schema:
            $ref: "#/components/schemas/AbuseStateSet"
        - $ref: "#/components/parameters/abusesSort"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Abuse"
                    type: array
                  total:
                    example: 1
                    type: integer
                type: object
          description: successful operation
      security:
        - OAuth2: []
      summary: List my abuses
      tags:
        - Abuses
        - My User
  /users/me/avatar:
    delete:
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Delete my avatar
      tags:
        - My User
  /users/me/avatar/pick:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              avatarfile:
                contentType: image/png, image/jpeg
            schema:
              properties:
                avatarfile:
                  description: The file to upload
                  format: binary
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  avatar:
                    $ref: "#/components/schemas/ActorImage"
                type: object
          description: successful operation
        "413":
          description: image file too large
          headers:
            X-File-Maximum-Size:
              description: Maximum file size for the avatar
              schema:
                format: Nginx size
                type: string
      security:
        - OAuth2: []
      summary: Update my user avatar
      tags:
        - My User
  /users/me/history/videos:
    get:
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
          description: successful operation
      security:
        - OAuth2: []
      summary: List watched videos history
      tags:
        - My History
  /users/me/history/videos/remove:
    post:
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                beforeDate:
                  description: history before this date will be deleted
                  format: date-time
                  type: string
              type: object
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Clear video history
      tags:
        - My History
  /users/me/notification-settings:
    put:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                abuseAsModerator:
                  $ref: "#/components/schemas/NotificationSettingValue"
                autoInstanceFollowing:
                  $ref: "#/components/schemas/NotificationSettingValue"
                blacklistOnMyVideo:
                  $ref: "#/components/schemas/NotificationSettingValue"
                commentMention:
                  $ref: "#/components/schemas/NotificationSettingValue"
                myVideoImportFinished:
                  $ref: "#/components/schemas/NotificationSettingValue"
                myVideoPublished:
                  $ref: "#/components/schemas/NotificationSettingValue"
                newCommentOnMyVideo:
                  $ref: "#/components/schemas/NotificationSettingValue"
                newFollow:
                  $ref: "#/components/schemas/NotificationSettingValue"
                newInstanceFollower:
                  $ref: "#/components/schemas/NotificationSettingValue"
                newUserRegistration:
                  $ref: "#/components/schemas/NotificationSettingValue"
                newVideoFromSubscription:
                  $ref: "#/components/schemas/NotificationSettingValue"
                videoAutoBlacklistAsModerator:
                  $ref: "#/components/schemas/NotificationSettingValue"
              type: object
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Update my notification settings
      tags:
        - My Notifications
  /users/me/notifications:
    get:
      parameters:
        - description: only list unread notifications
          in: query
          name: unread
          schema:
            type: boolean
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationListResponse"
          description: successful operation
      security:
        - OAuth2: []
      summary: List my notifications
      tags:
        - My Notifications
  /users/me/notifications/read:
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                ids:
                  description: ids of the notifications to mark as read
                  items:
                    type: integer
                  type: array
              required:
                - ids
              type: object
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Mark notifications as read by their id
      tags:
        - My Notifications
  /users/me/notifications/read-all:
    post:
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Mark all my notification as read
      tags:
        - My Notifications
  /users/me/subscriptions:
    get:
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoChannelList"
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Get my user subscriptions
      tags:
        - My Subscriptions
    post:
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  uri: 008a0e54-375d-49d0-8379-143202e24152@video.lqdn.fr
            schema:
              properties:
                uri:
                  description: uri of the video channels to subscribe to
                  format: uri
                  type: string
              required:
                - uri
              type: object
      responses:
        "200":
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Add subscription to my user
      tags:
        - My Subscriptions
  /users/me/subscriptions/exist:
    get:
      parameters:
        - $ref: "#/components/parameters/subscriptionsUris"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Get if subscriptions exist for my user
      tags:
        - My Subscriptions
  /users/me/subscriptions/videos:
    get:
      parameters:
        - $ref: "#/components/parameters/categoryOneOf"
        - $ref: "#/components/parameters/isLive"
        - $ref: "#/components/parameters/tagsOneOf"
        - $ref: "#/components/parameters/tagsAllOf"
        - $ref: "#/components/parameters/licenceOneOf"
        - $ref: "#/components/parameters/languageOneOf"
        - $ref: "#/components/parameters/nsfw"
        - $ref: "#/components/parameters/filter"
        - $ref: "#/components/parameters/skipCount"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/videosSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: List videos of subscriptions of my user
      tags:
        - My Subscriptions
        - Videos
  "/users/me/subscriptions/{subscriptionHandle}":
    delete:
      parameters:
        - $ref: "#/components/parameters/subscriptionHandle"
      responses:
        "200":
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Delete subscription of my user
      tags:
        - My Subscriptions
    get:
      parameters:
        - $ref: "#/components/parameters/subscriptionHandle"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoChannel"
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Get subscription of my user
      tags:
        - My Subscriptions
  /users/me/video-playlists/videos-exist:
    get:
      parameters:
        - description: The video ids to check
          in: query
          name: videoIds
          required: true
          schema:
            items:
              $ref: "#/components/schemas/Video/properties/id"
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  videoId:
                    items:
                      properties:
                        playlistElementId:
                          type: integer
                        playlistId:
                          type: integer
                        startTimestamp:
                          format: seconds
                          type: integer
                        stopTimestamp:
                          format: seconds
                          type: integer
                      type: object
                    type: array
                type: object
          description: successful operation
      security:
        - OAuth2: []
      summary: Check video exists in my playlists
      tags:
        - Video Playlists
  /users/me/video-quota-used:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  videoQuotaUsed:
                    description: The user video quota used so far in bytes
                    example: 16810141515
                    type: number
                  videoQuotaUsedDaily:
                    description: The user video quota used today in bytes
                    example: 1681014151
                    type: number
                type: object
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Get my user used quota
      tags:
        - My User
  /users/me/videos:
    get:
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Get videos of my user
      tags:
        - My User
        - Videos
  /users/me/videos/imports:
    get:
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoImportsList"
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Get video imports of my user
      tags:
        - Videos
        - My User
  "/users/me/videos/{videoId}/rating":
    get:
      parameters:
        - description: The video id
          in: path
          name: videoId
          required: true
          schema:
            $ref: "#/components/schemas/Video/properties/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMeVideoRating"
          description: successful operation
      security:
        - OAuth2: []
      summary: Get rate of my user for a video
      tags:
        - My User
        - Video Rates
  /users/register:
    post:
      operationId: registerUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterUser"
        required: true
      responses:
        "204":
          description: successful operation
      summary: Register a user
      tags:
        - Users
        - Register
  /users/revoke-token:
    post:
      description: Revokes your access token and its associated refresh token, destroying your current session.
      operationId: revokeOAuthToken
      responses:
        "200":
          description: successful operation
      security:
        - OAuth2: []
      summary: Logout
      tags:
        - Session
  /users/token:
    post:
      description: With your [client id and secret](#operation/getOAuthClient), you can retrieve an access and refresh tokens.
      operationId: getOAuthToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              discriminator:
                mapping:
                  password: "#/components/schemas/OAuthToken-password"
                  refresh_token: "#/components/schemas/OAuthToken-refresh_token"
                propertyName: grant_type
              oneOf:
                - $ref: "#/components/schemas/OAuthToken-password"
                - $ref: "#/components/schemas/OAuthToken-refresh_token"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  access_token:
                    description: valid for 1 day
                    example: 90286a0bdf0f7315d9d3fe8dabf9e1d2be9c97d0
                    type: string
                  expires_in:
                    example: 14399
                    minimum: 0
                    type: integer
                  refresh_token:
                    description: valid for 2 weeks
                    example: 2e0d675df9fc96d2e4ec8a3ebbbf45eca9137bb7
                    type: string
                  refresh_token_expires_in:
                    example: 1209600
                    minimum: 0
                    type: integer
                  token_type:
                    example: Bearer
                    type: string
                type: object
          description: successful operation
      summary: Login
      tags:
        - Session
      x-codeSamples:
        - lang: Shell
          source: |
            ## DEPENDENCIES: jq
            API="https://peertube2.cpy.re/api/v1"
            USERNAME="<your_username>"
            PASSWORD="<your_password>"

            ## AUTH
            client_id=$(curl -s "$API/oauth-clients/local" | jq -r ".client_id")
            client_secret=$(curl -s "$API/oauth-clients/local" | jq -r ".client_secret")
            curl -s "$API/users/token" \
              --data client_id="$client_id" \
              --data client_secret="$client_secret" \
              --data grant_type=password \
              --data username="$USERNAME" \
              --data password="$PASSWORD" \
              | jq -r ".access_token"
  "/users/{id}":
    delete:
      operationId: delUser
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: Delete a user
      tags:
        - Users
    get:
      operationId: getUser
      parameters:
        - description: include statistics about the user (only available as a moderator/admin)
          in: query
          name: withStats
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/User"
                  - $ref: "#/components/schemas/UserWithStats"
          description: |
            As an admin/moderator, you can request a response augmented with statistics about the user's
            moderation relations and videos usage, by using the `withStats` parameter.
          x-summary: successful operation
      security:
        - OAuth2: []
      summary: Get a user
      tags:
        - Users
    parameters:
      - $ref: "#/components/parameters/id"
    put:
      operationId: putUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUser"
        required: true
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Update a user
      tags:
        - Users
  "/users/{id}/verify-email":
    post:
      description: |
        Following a user registration, the new user will receive an email asking to click a link
        containing a secret.
      operationId: verifyUser
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                isPendingEmail:
                  type: boolean
                verificationString:
                  format: url
                  type: string
              required:
                - verificationString
              type: object
      responses:
        "204":
          description: successful operation
        "403":
          description: invalid verification string
        "404":
          description: user not found
      summary: Verify a user
      tags:
        - Users
        - Register
  /video-channels:
    get:
      operationId: getVideoChannels
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoChannelList"
          description: successful operation
      summary: List video channels
      tags:
        - Video Channels
    post:
      operationId: addVideoChannel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VideoChannelCreate"
      responses:
        "204":
          content:
            application/json:
              schema:
                properties:
                  videoChannel:
                    properties:
                      id:
                        $ref: "#/components/schemas/VideoChannel/properties/id"
                    type: object
                type: object
          description: successful operation
      security:
        - OAuth2: []
      summary: Create a video channel
      tags:
        - Video Channels
  "/video-channels/{channelHandle}":
    delete:
      operationId: delVideoChannel
      parameters:
        - $ref: "#/components/parameters/channelHandle"
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Delete a video channel
      tags:
        - Video Channels
    get:
      operationId: getVideoChannel
      parameters:
        - $ref: "#/components/parameters/channelHandle"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoChannel"
          description: successful operation
      summary: Get a video channel
      tags:
        - Video Channels
    put:
      operationId: putVideoChannel
      parameters:
        - $ref: "#/components/parameters/channelHandle"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VideoChannelUpdate"
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Update a video channel
      tags:
        - Video Channels
  "/video-channels/{channelHandle}/avatar":
    delete:
      parameters:
        - $ref: "#/components/parameters/channelHandle"
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Delete channel avatar
      tags:
        - Video Channels
  "/video-channels/{channelHandle}/avatar/pick":
    post:
      parameters:
        - $ref: "#/components/parameters/channelHandle"
      requestBody:
        content:
          multipart/form-data:
            encoding:
              avatarfile:
                contentType: image/png, image/jpeg
            schema:
              properties:
                avatarfile:
                  description: The file to upload.
                  format: binary
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  avatar:
                    $ref: "#/components/schemas/ActorImage"
                type: object
          description: successful operation
        "413":
          description: image file too large
          headers:
            X-File-Maximum-Size:
              description: Maximum file size for the avatar
              schema:
                format: Nginx size
                type: string
      security:
        - OAuth2: []
      summary: Update channel avatar
      tags:
        - Video Channels
  "/video-channels/{channelHandle}/banner":
    delete:
      parameters:
        - $ref: "#/components/parameters/channelHandle"
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Delete channel banner
      tags:
        - Video Channels
  "/video-channels/{channelHandle}/banner/pick":
    post:
      parameters:
        - $ref: "#/components/parameters/channelHandle"
      requestBody:
        content:
          multipart/form-data:
            encoding:
              bannerfile:
                contentType: image/png, image/jpeg
            schema:
              properties:
                bannerfile:
                  description: The file to upload.
                  format: binary
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  banner:
                    $ref: "#/components/schemas/ActorImage"
                type: object
          description: successful operation
        "413":
          description: image file too large
          headers:
            X-File-Maximum-Size:
              description: Maximum file size for the banner
              schema:
                format: Nginx size
                type: string
      security:
        - OAuth2: []
      summary: Update channel banner
      tags:
        - Video Channels
  "/video-channels/{channelHandle}/videos":
    get:
      operationId: getVideoChannelVideos
      parameters:
        - $ref: "#/components/parameters/channelHandle"
        - $ref: "#/components/parameters/categoryOneOf"
        - $ref: "#/components/parameters/isLive"
        - $ref: "#/components/parameters/tagsOneOf"
        - $ref: "#/components/parameters/tagsAllOf"
        - $ref: "#/components/parameters/licenceOneOf"
        - $ref: "#/components/parameters/languageOneOf"
        - $ref: "#/components/parameters/nsfw"
        - $ref: "#/components/parameters/filter"
        - $ref: "#/components/parameters/skipCount"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/videosSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
          description: successful operation
      summary: List videos of a video channel
      tags:
        - Video
        - Video Channels
  /video-playlists:
    get:
      operationId: getPlaylists
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/VideoPlaylist"
                    type: array
                  total:
                    example: 1
                    type: integer
                type: object
          description: successful operation
      summary: List video playlists
      tags:
        - Video Playlists
    post:
      description: If the video playlist is set as public, `videoChannelId` is mandatory.
      operationId: addPlaylist
      requestBody:
        content:
          multipart/form-data:
            encoding:
              thumbnailfile:
                contentType: image/jpeg
            schema:
              properties:
                description:
                  description: Video playlist description
                  maxLength: 1000
                  minLength: 3
                  type: string
                displayName:
                  description: Video playlist display name
                  maxLength: 120
                  minLength: 1
                  type: string
                privacy:
                  $ref: "#/components/schemas/VideoPlaylistPrivacySet"
                thumbnailfile:
                  description: Video playlist thumbnail file
                  format: binary
                  type: string
                videoChannelId:
                  allOf:
                    - $ref: "#/components/schemas/id"
                  description: Video channel in which the playlist will be published
              required:
                - displayName
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  videoPlaylist:
                    properties:
                      id:
                        $ref: "#/components/schemas/VideoPlaylist/properties/id"
                      uuid:
                        $ref: "#/components/schemas/VideoPlaylist/properties/uuid"
                    type: object
                type: object
          description: successful operation
      security:
        - OAuth2: []
      summary: Create a video playlist
      tags:
        - Video Playlists
  /video-playlists/privacies:
    get:
      operationId: getPlaylistPrivacyPolicies
      responses:
        "200":
          content:
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/api/v1/video-playlists/privacies
              schema:
                items:
                  type: string
                type: array
          description: successful operation
      summary: List available playlist privacy policies
      tags:
        - Video Playlists
  "/video-playlists/{playlistId}":
    delete:
      parameters:
        - $ref: "#/components/parameters/playlistId"
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Delete a video playlist
      tags:
        - Video Playlists
    get:
      parameters:
        - $ref: "#/components/parameters/playlistId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoPlaylist"
          description: successful operation
      summary: Get a video playlist
      tags:
        - Video Playlists
    put:
      description: If the video playlist is set as public, the playlist must have a assigned channel.
      parameters:
        - $ref: "#/components/parameters/playlistId"
      requestBody:
        content:
          multipart/form-data:
            encoding:
              thumbnailfile:
                contentType: image/jpeg
            schema:
              properties:
                description:
                  description: Video playlist description
                  type: string
                displayName:
                  description: Video playlist display name
                  maxLength: 120
                  minLength: 1
                  type: string
                privacy:
                  $ref: "#/components/schemas/VideoPlaylistPrivacySet"
                thumbnailfile:
                  description: Video playlist thumbnail file
                  format: binary
                  type: string
                videoChannelId:
                  allOf:
                    - $ref: "#/components/schemas/id"
                  description: Video channel in which the playlist will be published
              type: object
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Update a video playlist
      tags:
        - Video Playlists
  "/video-playlists/{playlistId}/videos":
    get:
      operationId: getVideoPlaylistVideos
      parameters:
        - $ref: "#/components/parameters/playlistId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
          description: successful operation
      summary: List videos of a playlist
      tags:
        - Videos
        - Video Playlists
    post:
      operationId: addVideoPlaylistVideo
      parameters:
        - $ref: "#/components/parameters/playlistId"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                startTimestamp:
                  description: Start the video at this specific timestamp
                  format: seconds
                  type: integer
                stopTimestamp:
                  description: Stop the video at this specific timestamp
                  format: seconds
                  type: integer
                videoId:
                  description: Video to add in the playlist
                  oneOf:
                    - $ref: "#/components/schemas/Video/properties/uuid"
                    - $ref: "#/components/schemas/Video/properties/id"
              required:
                - videoId
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  videoPlaylistElement:
                    properties:
                      id:
                        example: 2
                        type: integer
                    type: object
                type: object
          description: successful operation
      security:
        - OAuth2: []
      summary: Add a video in a playlist
      tags:
        - Videos
        - Video Playlists
  "/video-playlists/{playlistId}/videos/reorder":
    post:
      operationId: reorderVideoPlaylist
      parameters:
        - $ref: "#/components/parameters/playlistId"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                insertAfterPosition:
                  description: New position for the block to reorder, to add the block before the first element
                  minimum: 0
                  type: integer
                reorderLength:
                  description: How many element from `startPosition` to reorder
                  minimum: 1
                  type: integer
                startPosition:
                  description: Start position of the element to reorder
                  minimum: 1
                  type: integer
              required:
                - startPosition
                - insertAfterPosition
              type: object
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Reorder a playlist
      tags:
        - Video Playlists
  "/video-playlists/{playlistId}/videos/{playlistElementId}":
    delete:
      operationId: delVideoPlaylistVideo
      parameters:
        - $ref: "#/components/parameters/playlistId"
        - $ref: "#/components/parameters/playlistElementId"
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Delete an element from a playlist
      tags:
        - Video Playlists
    put:
      operationId: putVideoPlaylistVideo
      parameters:
        - $ref: "#/components/parameters/playlistId"
        - $ref: "#/components/parameters/playlistElementId"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                startTimestamp:
                  description: Start the video at this specific timestamp
                  format: seconds
                  type: integer
                stopTimestamp:
                  description: Stop the video at this specific timestamp
                  format: seconds
                  type: integer
              type: object
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Update a playlist element
      tags:
        - Video Playlists
  /videos:
    get:
      operationId: getVideos
      parameters:
        - $ref: "#/components/parameters/categoryOneOf"
        - $ref: "#/components/parameters/isLive"
        - $ref: "#/components/parameters/tagsOneOf"
        - $ref: "#/components/parameters/tagsAllOf"
        - $ref: "#/components/parameters/licenceOneOf"
        - $ref: "#/components/parameters/languageOneOf"
        - $ref: "#/components/parameters/nsfw"
        - $ref: "#/components/parameters/filter"
        - $ref: "#/components/parameters/skipCount"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/videosSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
          description: successful operation
      summary: List videos
      tags:
        - Video
  /videos/blacklist:
    get:
      operationId: getVideoBlocks
      parameters:
        - description: |
            list only blocks that match this type:
            - `1`: manual block
            - `2`: automatic block that needs review
          in: query
          name: type
          schema:
            enum:
              - 1
              - 2
            type: integer
        - description: plain search that will match with video titles, and more
          in: query
          name: search
          schema:
            type: string
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/blacklistsSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/VideoBlacklist"
                    type: array
                  total:
                    example: 1
                    type: integer
                type: object
          description: successful operation
      security:
        - OAuth2:
            - admin
            - moderator
      summary: List video blocks
      tags:
        - Video Blocks
  /videos/categories:
    get:
      operationId: getCategories
      responses:
        "200":
          content:
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/api/v1/videos/categories
              schema:
                items:
                  type: string
                type: array
          description: successful operation
      summary: List available video categories
      tags:
        - Video
  /videos/imports:
    post:
      description: Import a torrent or magnetURI or HTTP resource (if enabled by the instance administrator)
      operationId: importVideo
      requestBody:
        content:
          multipart/form-data:
            encoding:
              previewfile:
                contentType: image/jpeg
              thumbnailfile:
                contentType: image/jpeg
              torrentfile:
                contentType: application/x-bittorrent
            schema:
              $ref: "#/components/schemas/VideoCreateImport"
      responses:
        "200":
          content:
[...]
