swagger: '2.0'
info:
  version: '2017-08-08'
  x-release: v4
  title: Amazon Connect Service
  description: '<p>Amazon Connect is a cloud-based contact center solution that makes it easy to set up and manage a customer contact center and provide reliable customer engagement at any scale.</p> <p>Amazon Connect provides rich metrics and real-time reporting that allow you to optimize contact routing. You can also resolve customer issues more efficiently by putting customers in touch with the right agents.</p> <p>There are limits to the number of Amazon Connect resources that you can create and limits to the number of requests that you can make per second. For more information, see <a href="https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html">Amazon Connect Service Limits</a> in the <i>Amazon Connect Administrator Guide</i>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: connect
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/connect-2017-08-08.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/connect/'
host: connect.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://connect.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon Connect multi-region endpoint
  - url: 'https://connect.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon Connect multi-region endpoint
  - url: 'http://connect.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon Connect endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://connect.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon Connect endpoint for China (Beijing) and China (Ningxia)
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/users/{InstanceId}':
    put:
      operationId: CreateUser
      description: Creates a user account for the specified Amazon Connect instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateUserResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: DuplicateResourceException
          schema:
            $ref: '#/definitions/DuplicateResourceException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '485':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '486':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Username
              - PhoneConfig
              - SecurityProfileIds
              - RoutingProfileId
            properties:
              Username:
                description: 'The user name for the account. For instances not using SAML for identity management, the user name can include up to 20 characters. If you are using SAML for identity management, the user name can include up to 64 characters from [a-zA-Z0-9_-.\@]+.'
                type: string
                pattern: '[a-zA-Z0-9\_\-\.]+'
                minLength: 1
                maxLength: 20
              Password:
                description: 'The password for the user account. A password is required if you are using Amazon Connect for identity management. Otherwise, it is an error to include a password.'
                type: string
                pattern: '/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d\S]{8,64}$/'
              IdentityInfo:
                description: Contains information about the identity of a user.
                type: object
                properties:
                  FirstName:
                    $ref: '#/definitions/AgentFirstName'
                    description: The first name. This is required if you are using Amazon Connect or SAML for identity management.
                  LastName:
                    $ref: '#/definitions/AgentLastName'
                    description: The last name. This is required if you are using Amazon Connect or SAML for identity management.
                  Email:
                    $ref: '#/definitions/Email'
                    description: 'The email address. If you are using SAML for identity management and include this parameter, an error is returned.'
              PhoneConfig:
                description: Contains information about the phone configuration settings for a user.
                type: object
                properties:
                  PhoneType:
                    $ref: '#/definitions/PhoneType'
                    description: The phone type.
                  AutoAccept:
                    $ref: '#/definitions/AutoAccept'
                    description: The Auto accept setting.
                  AfterContactWorkTimeLimit:
                    $ref: '#/definitions/AfterContactWorkTimeLimit'
                    description: 'The After Call Work (ACW) timeout setting, in seconds.'
                  DeskPhoneNumber:
                    $ref: '#/definitions/PhoneNumber'
                    description: The phone number for the user's desk phone.
              DirectoryUserId:
                description: '<p>The identifier of the user account in the directory used for identity management. If Amazon Connect cannot access the directory, you can specify this identifier to authenticate users. If you include the identifier, we assume that Amazon Connect cannot access the directory. Otherwise, the identity information is used to authenticate users from your directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an error is returned.</p>'
                type: string
              SecurityProfileIds:
                description: The identifier of the security profile for the user.
                type: array
                items:
                  $ref: '#/definitions/SecurityProfileId'
                minItems: 1
                maxItems: 10
              RoutingProfileId:
                description: The identifier of the routing profile for the user.
                type: string
              HierarchyGroupId:
                description: The identifier of the hierarchy group for the user.
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}':
    delete:
      operationId: DeleteUser
      description: Deletes a user account from the specified Amazon Connect instance.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: UserId
          in: path
          required: true
          description: The identifier of the user.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeUser
      description: Describes the specified user account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeUserResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: UserId
          in: path
          required: true
          description: The identifier of the user account.
          type: string
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
  '/user-hierarchy-groups/{InstanceId}/{HierarchyGroupId}':
    get:
      operationId: DescribeUserHierarchyGroup
      description: Describes the specified hierarchy group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeUserHierarchyGroupResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: HierarchyGroupId
          in: path
          required: true
          description: The identifier of the hierarchy group.
          type: string
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/user-hierarchy-structure/{InstanceId}':
    get:
      operationId: DescribeUserHierarchyStructure
      description: Describes the hierarchy structure of the specified Amazon Connect instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeUserHierarchyStructureResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/contact/attributes/{InstanceId}/{InitialContactId}':
    get:
      operationId: GetContactAttributes
      description: Retrieves the contact attributes for the specified contact.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetContactAttributesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: InitialContactId
          in: path
          required: true
          description: The identifier of the initial contact.
          type: string
          minLength: 1
          maxLength: 256
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/metrics/current/{InstanceId}':
    post:
      operationId: GetCurrentMetricData
      description: '<p>Gets the real-time metric data from the specified Amazon Connect instance.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/connect/latest/adminguide/real-time-metrics-reports.html">Real-time Metrics Reports</a> in the <i>Amazon Connect Administrator Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCurrentMetricDataResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Filters
              - CurrentMetrics
            properties:
              Filters:
                description: Contains the filter to apply when retrieving metrics.
                type: object
                properties:
                  Queues:
                    $ref: '#/definitions/Queues'
                    description: The queues to use to filter the metrics. You can specify up to 100 queues per request.
                  Channels:
                    $ref: '#/definitions/Channels'
                    description: The channel to use to filter the metrics.
              Groupings:
                description: '<p>The grouping applied to the metrics returned. For example, when grouped by <code>QUEUE</code>, the metrics returned apply to each queue rather than aggregated for all queues. If you group by <code>CHANNEL</code>, you should include a Channels filter. The only supported channel is <code>VOICE</code>.</p> <p>If no <code>Grouping</code> is included in the request, a summary of metrics is returned.</p>'
                type: array
                items:
                  $ref: '#/definitions/Grouping'
                maxItems: 2
              CurrentMetrics:
                description: '<p>The metrics to retrieve. Specify the name and unit for each metric. The following metrics are available:</p> <dl> <dt>AGENTS_AFTER_CONTACT_WORK</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_AVAILABLE</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_ERROR</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_NON_PRODUCTIVE</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_ON_CALL</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_ONLINE</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_STAFFED</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>CONTACTS_IN_QUEUE</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>CONTACTS_SCHEDULED</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>OLDEST_CONTACT_AGE</dt> <dd> <p>Unit: SECONDS</p> </dd> </dl>'
                type: array
                items:
                  $ref: '#/definitions/CurrentMetric'
              NextToken:
                description: <p>The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.</p> <p>The token expires after 5 minutes from the time it is created. Subsequent requests that use the token must use the same request parameters as the request that generated the token.</p>
                type: string
              MaxResults:
                description: The maximimum number of results to return per page.
                type: integer
                minimum: 1
                maximum: 100
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/user/federate/{InstanceId}':
    get:
      operationId: GetFederationToken
      description: Retrieves a token for federation.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFederationTokenResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: UserNotFoundException
          schema:
            $ref: '#/definitions/UserNotFoundException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '485':
          description: DuplicateResourceException
          schema:
            $ref: '#/definitions/DuplicateResourceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/metrics/historical/{InstanceId}':
    post:
      operationId: GetMetricData
      description: '<p>Gets historical metric data from the specified Amazon Connect instance.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/connect/latest/adminguide/historical-metrics.html">Historical Metrics Reports</a> in the <i>Amazon Connect Administrator Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMetricDataResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - StartTime
              - EndTime
              - Filters
              - HistoricalMetrics
            properties:
              StartTime:
                description: '<p>The timestamp, in UNIX Epoch time format, at which to start the reporting interval for the retrieval of historical metrics data. The time must be specified using a multiple of 5 minutes, such as 10:05, 10:10, 10:15.</p> <p>The start time cannot be earlier than 24 hours before the time of the request. Historical metrics are available only for 24 hours.</p>'
                type: string
                format: date-time
              EndTime:
                description: '<p>The timestamp, in UNIX Epoch time format, at which to end the reporting interval for the retrieval of historical metrics data. The time must be specified using an interval of 5 minutes, such as 11:00, 11:05, 11:10, and must be later than the start time timestamp.</p> <p>The time range between the start and end time must be less than 24 hours.</p>'
                type: string
                format: date-time
              Filters:
                description: Contains the filter to apply when retrieving metrics.
                type: object
                properties:
                  Queues:
                    $ref: '#/definitions/Queues'
                    description: The queues to use to filter the metrics. You can specify up to 100 queues per request.
                  Channels:
                    $ref: '#/definitions/Channels'
                    description: The channel to use to filter the metrics.
              Groupings:
                description: '<p>The grouping applied to the metrics returned. For example, when results are grouped by queue, the metrics returned are grouped by queue. The values returned apply to the metrics for each queue rather than aggregated for all queues.</p> <p>The only supported grouping is <code>QUEUE</code>.</p> <p>If no grouping is specified, a summary of metrics for all queues is returned.</p>'
                type: array
                items:
                  $ref: '#/definitions/Grouping'
                maxItems: 2
              HistoricalMetrics:
                description: '<p>The metrics to retrieve. Specify the name, unit, and statistic for each metric. The following historical metrics are available:</p> <dl> <dt>ABANDON_TIME</dt> <dd> <p>Unit: SECONDS</p> <p>Statistic: AVG</p> </dd> <dt>AFTER_CONTACT_WORK_TIME</dt> <dd> <p>Unit: SECONDS</p> <p>Statistic: AVG</p> </dd> <dt>API_CONTACTS_HANDLED</dt> <dd> <p>Unit: COUNT</p> <p>Statistic: SUM</p> </dd> <dt>CALLBACK_CONTACTS_HANDLED</dt> <dd> <p>Unit: COUNT</p> <p>Statistic: SUM</p> </dd> <dt>CONTACTS_ABANDONED</dt> <dd> <p>Unit: COUNT</p> <p>Statistic: SUM</p> </dd> <dt>CONTACTS_AGENT_HUNG_UP_FIRST</dt> <dd> <p>Unit: COUNT</p> <p>Statistic: SUM</p> </dd> <dt>CONTACTS_CONSULTED</dt> <dd> <p>Unit: COUNT</p> <p>Statistic: SUM</p> </dd> <dt>CONTACTS_HANDLED</dt> <dd> <p>Unit: COUNT</p> <p>Statistic: SUM</p> </dd> <dt>CONTACTS_HANDLED_INCOMING</dt> <dd> <p>Unit: COUNT</p> <p>Statistic: SUM</p> </dd> <dt>CONTACTS_HANDLED_OUTBOUND</dt> <dd> <p>Unit: COUNT</p> <p>Statistic: SUM</p> </dd> <dt>CONTACTS_HOLD_ABANDONS</dt> <dd> <p>Unit: COUNT</p> <p>Statistic: SUM</p> </dd> <dt>CONTACTS_MISSED</dt> <dd> <p>Unit: COUNT</p> <p>Statistic: SUM</p> </dd> <dt>CONTACTS_QUEUED</dt> <dd> <p>Unit: COUNT</p> <p>Statistic: SUM</p> </dd> <dt>CONTACTS_TRANSFERRED_IN</dt> <dd> <p>Unit: COUNT</p> <p>Statistic: SUM</p> </dd> <dt>CONTACTS_TRANSFERRED_IN_FROM_QUEUE</dt> <dd> <p>Unit: COUNT</p> <p>Statistic: SUM</p> </dd> <dt>CONTACTS_TRANSFERRED_OUT</dt> <dd> <p>Unit: COUNT</p> <p>Statistic: SUM</p> </dd> <dt>CONTACTS_TRANSFERRED_OUT_FROM_QUEUE</dt> <dd> <p>Unit: COUNT</p> <p>Statistic: SUM</p> </dd> <dt>HANDLE_TIME</dt> <dd> <p>Unit: SECONDS</p> <p>Statistic: AVG</p> </dd> <dt>HOLD_TIME</dt> <dd> <p>Unit: SECONDS</p> <p>Statistic: AVG</p> </dd> <dt>INTERACTION_AND_HOLD_TIME</dt> <dd> <p>Unit: SECONDS</p> <p>Statistic: AVG</p> </dd> <dt>INTERACTION_TIME</dt> <dd> <p>Unit: SECONDS</p> <p>Statistic: AVG</p> </dd> <dt>OCCUPANCY</dt> <dd> <p>Unit: PERCENT</p> <p>Statistic: AVG</p> </dd> <dt>QUEUE_ANSWER_TIME</dt> <dd> <p>Unit: SECONDS</p> <p>Statistic: AVG</p> </dd> <dt>QUEUED_TIME</dt> <dd> <p>Unit: SECONDS</p> <p>Statistic: MAX</p> </dd> <dt>SERVICE_LEVEL</dt> <dd> <p>Unit: PERCENT</p> <p>Statistic: AVG</p> <p>Threshold: Only "Less than" comparisons are supported, with the following service level thresholds: 15, 20, 25, 30, 45, 60, 90, 120, 180, 240, 300, 600</p> </dd> </dl>'
                type: array
                items:
                  $ref: '#/definitions/HistoricalMetric'
              NextToken:
                description: The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.
                type: string
              MaxResults:
                description: The maximimum number of results to return per page.
                type: integer
                minimum: 1
                maximum: 100
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/contact-flows-summary/{InstanceId}':
    get:
      operationId: ListContactFlows
      description: Provides information about the contact flows for the specified Amazon Connect instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListContactFlowsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: contactFlowTypes
          in: query
          required: false
          description: The type of contact flow.
          type: array
          items:
            type: string
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximimum number of results to return per page.
          type: integer
          minimum: 1
          maximum: 1000
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/hours-of-operations-summary/{InstanceId}':
    get:
      operationId: ListHoursOfOperations
      description: Provides information about the hours of operation for the specified Amazon Connect instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListHoursOfOperationsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximimum number of results to return per page.
          type: integer
          minimum: 1
          maximum: 1000
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/phone-numbers-summary/{InstanceId}':
    get:
      operationId: ListPhoneNumbers
      description: Provides information about the phone numbers for the specified Amazon Connect instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPhoneNumbersResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: phoneNumberTypes
          in: query
          required: false
          description: The type of phone number.
          type: array
          items:
            type: string
        - name: phoneNumberCountryCodes
          in: query
          required: false
          description: The ISO country code.
          type: array
          items:
            type: string
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximimum number of results to return per page.
          type: integer
          minimum: 1
          maximum: 1000
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/queues-summary/{InstanceId}':
    get:
      operationId: ListQueues
      description: Provides information about the queues for the specified Amazon Connect instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListQueuesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: queueTypes
          in: query
          required: false
          description: The type of queue.
          type: array
          items:
            type: string
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximimum number of results to return per page.
          type: integer
          minimum: 1
          maximum: 1000
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/routing-profiles-summary/{InstanceId}':
    get:
      operationId: ListRoutingProfiles
      description: Provides summary information about the routing profiles for the specified Amazon Connect instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListRoutingProfilesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximimum number of results to return per page.
          type: integer
          minimum: 1
          maximum: 1000
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/security-profiles-summary/{InstanceId}':
    get:
      operationId: ListSecurityProfiles
      description: Provides summary information about the security profiles for the specified Amazon Connect instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSecurityProfilesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximimum number of results to return per page.
          type: integer
          minimum: 1
          maximum: 1000
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/user-hierarchy-groups-summary/{InstanceId}':
    get:
      operationId: ListUserHierarchyGroups
      description: Provides summary information about the hierarchy groups for the specified Amazon Connect instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListUserHierarchyGroupsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximimum number of results to return per page.
          type: integer
          minimum: 1
          maximum: 1000
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users-summary/{InstanceId}':
    get:
      operationId: ListUsers
      description: Provides summary information about the users for the specified Amazon Connect instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListUsersResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximimum number of results to return per page.
          type: integer
          minimum: 1
          maximum: 1000
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /contact/outbound-voice:
    put:
      operationId: StartOutboundVoiceContact
      description: '<p>Initiates a contact flow to place an outbound call to a customer.</p> <p>There is a 60 second dialing timeout for this operation. If the call is not connected after 60 seconds, it fails.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartOutboundVoiceContactResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: DestinationNotAllowedException
          schema:
            $ref: '#/definitions/DestinationNotAllowedException'
        '486':
          description: OutboundContactNotPermittedException
          schema:
            $ref: '#/definitions/OutboundContactNotPermittedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - DestinationPhoneNumber
              - ContactFlowId
              - InstanceId
            properties:
              DestinationPhoneNumber:
                description: 'The phone number of the customer, in E.164 format.'
                type: string
              ContactFlowId:
                description: The identifier of the contact flow for the outbound call.
                type: string
                maxLength: 500
              InstanceId:
                description: The identifier of the Amazon Connect instance.
                type: string
                minLength: 1
                maxLength: 100
              ClientToken:
                description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. The token is valid for 7 days after creation. If a contact is already started, the contact ID is returned. If the contact is disconnected, a new contact is started.'
                type: string
                maxLength: 500
              SourcePhoneNumber:
                description: 'The phone number associated with the Amazon Connect instance, in E.164 format. If you do not specify a source phone number, you must specify a queue.'
                type: string
              QueueId:
                description: 'The queue for the call. If you specify a queue, the phone displayed for caller ID is the phone number specified in the queue. If you do not specify a queue, the queue defined in the contact flow is used. If you do not specify a queue, you must specify a source phone number.'
                type: string
              Attributes:
                description: '<p>A custom key-value pair using an attribute map. The attributes are standard Amazon Connect attributes, and can be accessed in contact flows just like any other contact attributes.</p> <p>There can be up to 32,768 UTF-8 bytes across all key-value pairs per contact. Attribute keys can include only alphanumeric, dash, and underscore characters.</p>'
                type: object
                additionalProperties:
                  $ref: '#/definitions/AttributeValue'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /contact/stop:
    post:
      operationId: StopContact
      description: Ends the specified contact.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopContactResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ContactNotFoundException
          schema:
            $ref: '#/definitions/ContactNotFoundException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - ContactId
              - InstanceId
            properties:
              ContactId:
                description: The ID of the contact.
                type: string
                minLength: 1
                maxLength: 256
              InstanceId:
                description: The identifier of the Amazon Connect instance.
                type: string
                minLength: 1
                maxLength: 100
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /contact/attributes:
    post:
      operationId: UpdateContactAttributes
      description: '<p>Creates or updates the contact attributes associated with the specified contact.</p> <p>You can add or update attributes for both ongoing and completed contacts. For example, you can update the customer''s name or the reason the customer called while the call is active, or add notes about steps that the agent took during the call that are displayed to the next agent that takes the call. You can also update attributes for a contact using data from your CRM application and save the data with the contact in Amazon Connect. You could also flag calls for additional analysis, such as legal review or identifying abusive callers.</p> <p>Contact attributes are available in Amazon Connect for 24 months, and are then deleted.</p> <p> <b>Important:</b> You cannot use the operation to update attributes for contacts that occurred prior to the release of the API, September 12, 2018. You can update attributes only for contacts that started after the release of the API. If you attempt to update attributes for a contact that occurred prior to the release of the API, a 400 error is returned. This applies also to queued callbacks that were initiated prior to the release of the API but are still active in your instance.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateContactAttributesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - InitialContactId
              - InstanceId
              - Attributes
            properties:
              InitialContactId:
                description: The identifier of the contact. This is the identifier of the contact associated with the first interaction with the contact center.
                type: string
                minLength: 1
                maxLength: 256
              InstanceId:
                description: The identifier of the Amazon Connect instance.
                type: string
                minLength: 1
                maxLength: 100
              Attributes:
                description: '<p>The Amazon Connect attributes. These attributes can be accessed in contact flows just like any other contact attributes.</p> <p>You can have up to 32,768 UTF-8 bytes across all attributes for a contact. Attribute keys can include only alphanumeric, dash, and underscore characters.</p>'
                type: object
                additionalProperties:
                  $ref: '#/definitions/AttributeValue'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}/hierarchy':
    post:
      operationId: UpdateUserHierarchy
      description: Assigns the specified hierarchy group to the specified user.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: UserId
          in: path
          required: true
          description: The identifier of the user account.
          type: string
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              HierarchyGroupId:
                description: The identifier of the hierarchy group.
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}/identity-info':
    post:
      operationId: UpdateUserIdentityInfo
      description: Updates the identity information for the specified user.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: UserId
          in: path
          required: true
          description: The identifier of the user account.
          type: string
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - IdentityInfo
            properties:
              IdentityInfo:
                description: Contains information about the identity of a user.
                type: object
                properties:
                  FirstName:
                    $ref: '#/definitions/AgentFirstName'
                    description: The first name. This is required if you are using Amazon Connect or SAML for identity management.
                  LastName:
                    $ref: '#/definitions/AgentLastName'
                    description: The last name. This is required if you are using Amazon Connect or SAML for identity management.
                  Email:
                    $ref: '#/definitions/Email'
                    description: 'The email address. If you are using SAML for identity management and include this parameter, an error is returned.'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}/phone-config':
    post:
      operationId: UpdateUserPhoneConfig
      description: Updates the phone configuration settings for the specified user.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: UserId
          in: path
          required: true
          description: The identifier of the user account.
          type: string
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - PhoneConfig
            properties:
              PhoneConfig:
                description: Contains information about the phone configuration settings for a user.
                type: object
                properties:
                  PhoneType:
                    $ref: '#/definitions/PhoneType'
                    description: The phone type.
                  AutoAccept:
                    $ref: '#/definitions/AutoAccept'
                    description: The Auto accept setting.
                  AfterContactWorkTimeLimit:
                    $ref: '#/definitions/AfterContactWorkTimeLimit'
                    description: 'The After Call Work (ACW) timeout setting, in seconds.'
                  DeskPhoneNumber:
                    $ref: '#/definitions/PhoneNumber'
                    description: The phone number for the user's desk phone.
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}/routing-profile':
    post:
      operationId: UpdateUserRoutingProfile
      description: Assigns the specified routing profile to the specified user.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: UserId
          in: path
          required: true
          description: The identifier of the user account.
          type: string
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - RoutingProfileId
            properties:
              RoutingProfileId:
                description: The identifier of the routing profile for the user.
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}/security-profiles':
    post:
      operationId: UpdateUserSecurityProfiles
      description: Assigns the specified security profiles to the specified user.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: UserId
          in: path
          required: true
          description: The identifier of the user account.
          type: string
        - name: InstanceId
          in: path
          required: true
          description: The identifier of the Amazon Connect instance.
          type: string
          minLength: 1
          maxLength: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - SecurityProfileIds
            properties:
              SecurityProfileIds:
                description: The identifiers of the security profiles for the user.
                type: array
                items:
                  $ref: '#/definitions/SecurityProfileId'
                minItems: 1
                maxItems: 10
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  CreateUserResponse:
    type: object
    properties:
      UserId:
        $ref: '#/definitions/UserId'
        description: The identifier of the user account.
      UserArn:
        $ref: '#/definitions/ARN'
        description: The Amazon Resource Name (ARN) of the user account.
  AgentFirstName:
    type: string
    minLength: 1
    maxLength: 100
  AgentLastName:
    type: string
    minLength: 1
    maxLength: 100
  Email:
    type: string
  PhoneType:
    type: string
    enum:
      - SOFT_PHONE
      - DESK_PHONE
  AutoAccept:
    type: boolean
  AfterContactWorkTimeLimit:
    type: integer
    minimum: 0
  PhoneNumber:
    type: string
  SecurityProfileId:
    type: string
  InvalidRequestException: {}
  InvalidParameterException: {}
  LimitExceededException: {}
  DuplicateResourceException: {}
  ResourceNotFoundException: {}
  ThrottlingException: {}
  InternalServiceException: {}
  DescribeUserResponse:
    type: object
    properties:
      User:
        $ref: '#/definitions/User'
        description: Information about the user account and configuration settings.
  DescribeUserHierarchyGroupResponse:
    type: object
    properties:
      HierarchyGroup:
        $ref: '#/definitions/HierarchyGroup'
        description: Information about the hierarchy group.
  DescribeUserHierarchyStructureResponse:
    type: object
    properties:
      HierarchyStructure:
        $ref: '#/definitions/HierarchyStructure'
        description: Information about the hierarchy structure.
  GetContactAttributesResponse:
    type: object
    properties:
      Attributes:
        $ref: '#/definitions/Attributes'
        description: Information about the attributes.
  GetCurrentMetricDataResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>If there are additional results, this is the token for the next set of results.</p> <p>The token expires after 5 minutes from the time it is created. Subsequent requests that use the token must use the same request parameters as the request that generated the token.</p>'
      MetricResults:
        $ref: '#/definitions/CurrentMetricResults'
        description: Information about the real-time metrics.
      DataSnapshotTime:
        $ref: '#/definitions/timestamp'
        description: The time at which the metrics were retrieved and cached for pagination.
  Queues:
    type: array
    items:
      $ref: '#/definitions/QueueId'
    minItems: 1
    maxItems: 100
  Channels:
    type: array
    items:
      $ref: '#/definitions/Channel'
    maxItems: 1
  Grouping:
    type: string
    enum:
      - QUEUE
      - CHANNEL
  CurrentMetric:
    type: object
    properties:
      Name:
        $ref: '#/definitions/CurrentMetricName'
        description: The name of the metric.
      Unit:
        $ref: '#/definitions/Unit'
        description: The unit for the metric.
    description: Contains information about a real-time metric.
  GetFederationTokenResponse:
    type: object
    properties:
      Credentials:
        $ref: '#/definitions/Credentials'
        description: The credentials to use for federation.
  UserNotFoundException: {}
  GetMetricDataResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>If there are additional results, this is the token for the next set of results.</p> <p>The token expires after 5 minutes from the time it is created. Subsequent requests that use the token must use the same request parameters as the request that generated the token.</p>'
      MetricResults:
        $ref: '#/definitions/HistoricalMetricResults'
        description: '<p>Information about the historical metrics.</p> <p>If no grouping is specified, a summary of metric data is returned.</p>'
  HistoricalMetric:
    type: object
    properties:
      Name:
        $ref: '#/definitions/HistoricalMetricName'
        description: The name of the metric.
      Threshold:
        $ref: '#/definitions/Threshold'
        description: 'The threshold for the metric, used with service level metrics.'
      Statistic:
        $ref: '#/definitions/Statistic'
        description: The statistic for the metric.
      Unit:
        $ref: '#/definitions/Unit'
        description: The unit for the metric.
    description: Contains information about a historical metric.
  ListContactFlowsResponse:
    type: object
    properties:
      ContactFlowSummaryList:
        $ref: '#/definitions/ContactFlowSummaryList'
        description: Information about the contact flows.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If there are additional results, this is the token for the next set of results.'
  ContactFlowType:
    type: string
    enum:
      - CONTACT_FLOW
      - CUSTOMER_QUEUE
      - CUSTOMER_HOLD
      - CUSTOMER_WHISPER
      - AGENT_HOLD
      - AGENT_WHISPER
      - OUTBOUND_WHISPER
      - AGENT_TRANSFER
      - QUEUE_TRANSFER
  ListHoursOfOperationsResponse:
    type: object
    properties:
      HoursOfOperationSummaryList:
        $ref: '#/definitions/HoursOfOperationSummaryList'
        description: Information about the hours of operation.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If there are additional results, this is the token for the next set of results.'
  ListPhoneNumbersResponse:
    type: object
    properties:
      PhoneNumberSummaryList:
        $ref: '#/definitions/PhoneNumberSummaryList'
        description: Information about the phone numbers.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If there are additional results, this is the token for the next set of results.'
  PhoneNumberType:
    type: string
    enum:
      - TOLL_FREE
      - DID
  PhoneNumberCountryCode:
    type: string
    enum:
      - AF
      - AL
      - DZ
      - AS
      - AD
      - AO
      - AI
      - AQ
      - AG
      - AR
      - AM
      - AW
      - AU
      - AT
      - AZ
      - BS
      - BH
      - BD
      - BB
      - BY
      - BE
      - BZ
      - BJ
      - BM
      - BT
      - BO
      - BA
      - BW
      - BR
      - IO
      - VG
      - BN
      - BG
      - BF
      - BI
      - KH
      - CM
      - CA
      - CV
      - KY
      - CF
      - TD
      - CL
      - CN
      - CX
      - CC
      - CO
      - KM
      - CK
      - CR
      - HR
      - CU
      - CW
      - CY
      - CZ
      - CD
      - DK
      - DJ
      - DM
      - DO
      - TL
      - EC
      - EG
      - SV
      - GQ
      - ER
      - EE
      - ET
      - FK
      - FO
      - FJ
      - FI
      - FR
      - PF
      - GA
      - GM
      - GE
      - DE
      - GH
      - GI
      - GR
      - GL
      - GD
      - GU
      - GT
      - GG
      - GN
      - GW
      - GY
      - HT
      - HN
      - HK
      - HU
      - IS
      - IN
      - ID
      - IR
      - IQ
      - IE
      - IM
      - IL
      - IT
      - CI
      - JM
      - JP
      - JE
      - JO
      - KZ
      - KE
      - KI
      - KW
      - KG
      - LA
      - LV
      - LB
      - LS
      - LR
      - LY
      - LI
      - LT
      - LU
      - MO
      - MK
      - MG
      - MW
      - MY
      - MV
      - ML
      - MT
      - MH
      - MR
      - MU
      - YT
      - MX
      - FM
      - MD
      - MC
      - MN
      - ME
      - MS
      - MA
      - MZ
      - MM
      - NA
      - NR
      - NP
      - NL
      - AN
      - NC
      - NZ
      - NI
      - NE
      - NG
      - NU
      - KP
      - MP
      - 'NO'
      - OM
      - PK
      - PW
      - PA
      - PG
      - PY
      - PE
      - PH
      - PN
      - PL
      - PT
      - PR
      - QA
      - CG
      - RE
      - RO
      - RU
      - RW
      - BL
      - SH
      - KN
      - LC
      - MF
      - PM
      - VC
      - WS
      - SM
      - ST
      - SA
      - SN
      - RS
      - SC
      - SL
      - SG
      - SX
      - SK
      - SI
      - SB
      - SO
      - ZA
      - KR
      - ES
      - LK
      - SD
      - SR
      - SJ
      - SZ
      - SE
      - CH
      - SY
      - TW
      - TJ
      - TZ
      - TH
      - TG
      - TK
      - TO
      - TT
      - TN
      - TR
      - TM
      - TC
      - TV
      - VI
      - UG
      - UA
      - AE
      - GB
      - US
      - UY
      - UZ
      - VU
      - VA
      - VE
      - VN
      - WF
      - EH
      - YE
      - ZM
      - ZW
  ListQueuesResponse:
    type: object
    properties:
      QueueSummaryList:
        $ref: '#/definitions/QueueSummaryList'
        description: Information about the queues.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If there are additional results, this is the token for the next set of results.'
  QueueType:
    type: string
    enum:
      - STANDARD
      - AGENT
  ListRoutingProfilesResponse:
    type: object
    properties:
      RoutingProfileSummaryList:
        $ref: '#/definitions/RoutingProfileSummaryList'
        description: Information about the routing profiles.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If there are additional results, this is the token for the next set of results.'
  ListSecurityProfilesResponse:
    type: object
    properties:
      SecurityProfileSummaryList:
        $ref: '#/definitions/SecurityProfileSummaryList'
        description: Information about the security profiles.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If there are additional results, this is the token for the next set of results.'
  ListUserHierarchyGroupsResponse:
    type: object
    properties:
      UserHierarchyGroupSummaryList:
        $ref: '#/definitions/HierarchyGroupSummaryList'
        description: Information about the hierarchy groups.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If there are additional results, this is the token for the next set of results.'
  ListUsersResponse:
    type: object
    properties:
      UserSummaryList:
        $ref: '#/definitions/UserSummaryList'
        description: Information about the users.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If there are additional results, this is the token for the next set of results.'
  StartOutboundVoiceContactResponse:
    type: object
    properties:
      ContactId:
        $ref: '#/definitions/ContactId'
        description: The identifier of this contact within the Amazon Connect instance.
  AttributeValue:
    type: string
    minLength: 0
    maxLength: 32767
  DestinationNotAllowedException: {}
  OutboundContactNotPermittedException: {}
  StopContactResponse:
    type: object
    properties: {}
  ContactNotFoundException: {}
  UpdateContactAttributesResponse:
    type: object
    properties: {}
  ARN:
    type: string
  AgentUsername:
    type: string
    pattern: '[a-zA-Z0-9\_\-\.]+'
    minLength: 1
    maxLength: 20
  AttributeName:
    type: string
    minLength: 1
    maxLength: 32767
  Attributes:
    type: object
    additionalProperties:
      $ref: '#/definitions/AttributeValue'
  Channel:
    type: string
    enum:
      - VOICE
  ClientToken:
    type: string
    maxLength: 500
  Comparison:
    type: string
    enum:
      - LT
  ContactFlowId:
    type: string
    maxLength: 500
  ContactFlowName:
    type: string
  ContactFlowSummary:
    type: object
    properties:
      Id:
        $ref: '#/definitions/ContactFlowId'
        description: The identifier of the contact flow.
      Arn:
        $ref: '#/definitions/ARN'
        description: The Amazon Resource Name (ARN) of the contact flow.
      Name:
        $ref: '#/definitions/ContactFlowName'
        description: The name of the contact flow.
      ContactFlowType:
        $ref: '#/definitions/ContactFlowType'
        description: The type of contact flow.
    description: Contains summary information about a contact flow.
  ContactFlowSummaryList:
    type: array
    items:
      $ref: '#/definitions/ContactFlowSummary'
  ContactFlowTypes:
    type: array
    items:
      $ref: '#/definitions/ContactFlowType'
    maxItems: 10
  ContactId:
    type: string
    minLength: 1
    maxLength: 256
  Password:
    type: string
    pattern: '/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d\S]{8,64}$/'
  UserIdentityInfo:
    type: object
    properties:
      FirstName:
        $ref: '#/definitions/AgentFirstName'
        description: The first name. This is required if you are using Amazon Connect or SAML for identity management.
      LastName:
        $ref: '#/definitions/AgentLastName'
        description: The last name. This is required if you are using Amazon Connect or SAML for identity management.
      Email:
        $ref: '#/definitions/Email'
        description: 'The email address. If you are using SAML for identity management and include this parameter, an error is returned.'
    description: Contains information about the identity of a user.
  UserPhoneConfig:
    type: object
    required:
      - PhoneType
    properties:
      PhoneType:
        $ref: '#/definitions/PhoneType'
        description: The phone type.
      AutoAccept:
        $ref: '#/definitions/AutoAccept'
        description: The Auto accept setting.
      AfterContactWorkTimeLimit:
        $ref: '#/definitions/AfterContactWorkTimeLimit'
        description: 'The After Call Work (ACW) timeout setting, in seconds.'
      DeskPhoneNumber:
        $ref: '#/definitions/PhoneNumber'
        description: The phone number for the user's desk phone.
    description: Contains information about the phone configuration settings for a user.
  DirectoryUserId:
    type: string
  SecurityProfileIds:
    type: array
    items:
      $ref: '#/definitions/SecurityProfileId'
    minItems: 1
    maxItems: 10
  RoutingProfileId:
    type: string
  HierarchyGroupId:
    type: string
  InstanceId:
    type: string
    minLength: 1
    maxLength: 100
  CreateUserRequest:
    type: object
    required:
      - Username
      - PhoneConfig
      - SecurityProfileIds
      - RoutingProfileId
    properties:
      Username:
        $ref: '#/definitions/AgentUsername'
        description: 'The user name for the account. For instances not using SAML for identity management, the user name can include up to 20 characters. If you are using SAML for identity management, the user name can include up to 64 characters from [a-zA-Z0-9_-.\@]+.'
      Password:
        $ref: '#/definitions/Password'
        description: 'The password for the user account. A password is required if you are using Amazon Connect for identity management. Otherwise, it is an error to include a password.'
      IdentityInfo:
        $ref: '#/definitions/UserIdentityInfo'
        description: The information about the identity of the user.
      PhoneConfig:
        $ref: '#/definitions/UserPhoneConfig'
        description: The phone settings for the user.
      DirectoryUserId:
        $ref: '#/definitions/DirectoryUserId'
        description: '<p>The identifier of the user account in the directory used for identity management. If Amazon Connect cannot access the directory, you can specify this identifier to authenticate users. If you include the identifier, we assume that Amazon Connect cannot access the directory. Otherwise, the identity information is used to authenticate users from your directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an error is returned.</p>'
      SecurityProfileIds:
        $ref: '#/definitions/SecurityProfileIds'
        description: The identifier of the security profile for the user.
      RoutingProfileId:
        $ref: '#/definitions/RoutingProfileId'
        description: The identifier of the routing profile for the user.
      HierarchyGroupId:
        $ref: '#/definitions/HierarchyGroupId'
        description: The identifier of the hierarchy group for the user.
  UserId:
    type: string
  SecurityToken:
    type: string
    format: password
  timestamp:
    type: string
    format: date-time
  Credentials:
    type: object
    properties:
      AccessToken:
        $ref: '#/definitions/SecurityToken'
        description: An access token generated for a federated user to access Amazon Connect.
      AccessTokenExpiration:
        $ref: '#/definitions/timestamp'
        description: A token generated with an expiration time for the session a user is logged in to Amazon Connect.
      RefreshToken:
        $ref: '#/definitions/SecurityToken'
        description: Renews a token generated for a user to access the Amazon Connect instance.
      RefreshTokenExpiration:
        $ref: '#/definitions/timestamp'
        description: Renews the expiration timer for a generated token.
    description: Contains credentials to use for federation.
  CurrentMetricName:
    type: string
    enum:
      - AGENTS_ONLINE
      - AGENTS_AVAILABLE
      - AGENTS_ON_CALL
      - AGENTS_NON_PRODUCTIVE
      - AGENTS_AFTER_CONTACT_WORK
      - AGENTS_ERROR
      - AGENTS_STAFFED
      - CONTACTS_IN_QUEUE
      - OLDEST_CONTACT_AGE
      - CONTACTS_SCHEDULED
    description: The current metric names.
  Unit:
    type: string
    enum:
      - SECONDS
      - COUNT
      - PERCENT
  Value:
    type: number
    format: double
  CurrentMetricData:
    type: object
    properties:
      Metric:
        $ref: '#/definitions/CurrentMetric'
        description: Information about the metric.
      Value:
        $ref: '#/definitions/Value'
        description: The value of the metric.
    description: Contains the data for a real-time metric.
  CurrentMetricDataCollections:
    type: array
    items:
      $ref: '#/definitions/CurrentMetricData'
  Dimensions:
    type: object
    properties:
      Queue:
        $ref: '#/definitions/QueueReference'
        description: Information about the queue for which metrics are returned.
      Channel:
        $ref: '#/definitions/Channel'
        description: The channel used for grouping and filters.
    description: Contains information about the dimensions for a set of metrics.
  CurrentMetricResult:
    type: object
    properties:
      Dimensions:
        $ref: '#/definitions/Dimensions'
        description: The dimensions for the metrics.
      Collections:
        $ref: '#/definitions/CurrentMetricDataCollections'
        description: The set of metrics.
    description: Contains information about a set of real-time metrics.
  CurrentMetricResults:
    type: array
    items:
      $ref: '#/definitions/CurrentMetricResult'
  CurrentMetrics:
    type: array
    items:
      $ref: '#/definitions/CurrentMetric'
  DeleteUserRequest:
    type: object
    properties: {}
  DescribeUserHierarchyGroupRequest:
    type: object
    properties: {}
  HierarchyGroup:
    type: object
    properties:
      Id:
        $ref: '#/definitions/HierarchyGroupId'
        description: The identifier of the hierarchy group.
      Arn:
        $ref: '#/definitions/ARN'
        description: The Amazon Resource Name (ARN) of the hierarchy group.
      Name:
        $ref: '#/definitions/HierarchyGroupName'
        description: The name of the hierarchy group.
      LevelId:
        $ref: '#/definitions/HierarchyLevelId'
        description: The identifier of the level in the hierarchy group.
      HierarchyPath:
        $ref: '#/definitions/HierarchyPath'
        description: Information about the levels in the hierarchy group.
    description: Contains information about a hierarchy group.
  DescribeUserHierarchyStructureRequest:
    type: object
    properties: {}
  HierarchyStructure:
    type: object
    properties:
      LevelOne:
        $ref: '#/definitions/HierarchyLevel'
        description: Information about level one.
      LevelTwo:
        $ref: '#/definitions/HierarchyLevel'
        description: Information about level two.
      LevelThree:
        $ref: '#/definitions/HierarchyLevel'
        description: Information about level three.
      LevelFour:
        $ref: '#/definitions/HierarchyLevel'
        description: Information about level four.
      LevelFive:
        $ref: '#/definitions/HierarchyLevel'
        description: Information about level five.
    description: Contains information about a hierarchy structure.
  DescribeUserRequest:
    type: object
    properties: {}
  User:
    type: object
    properties:
      Id:
        $ref: '#/definitions/UserId'
        description: The identifier of the user account.
      Arn:
        $ref: '#/definitions/ARN'
        description: The Amazon Resource Name (ARN) of the user account.
      Username:
        $ref: '#/definitions/AgentUsername'
        description: The user name assigned to the user account.
      IdentityInfo:
        $ref: '#/definitions/UserIdentityInfo'
        description: Information about the user identity.
      PhoneConfig:
        $ref: '#/definitions/UserPhoneConfig'
        description: Information about the phone configuration for the user.
      DirectoryUserId:
        $ref: '#/definitions/DirectoryUserId'
        description: The identifier of the user account in the directory used for identity management.
      SecurityProfileIds:
        $ref: '#/definitions/SecurityProfileIds'
        description: The identifiers of the security profiles for the user.
      RoutingProfileId:
        $ref: '#/definitions/RoutingProfileId'
        description: The identifier of the routing profile for the user.
      HierarchyGroupId:
        $ref: '#/definitions/HierarchyGroupId'
        description: The identifier of the hierarchy group for the user.
    description: Contains information about a user account for a Amazon Connect instance.
  QueueReference:
    type: object
    properties:
      Id:
        $ref: '#/definitions/QueueId'
        description: The identifier of the queue.
      Arn:
        $ref: '#/definitions/ARN'
        description: The Amazon Resource Name (ARN) of the queue.
    description: Contains information about a queue resource for which metrics are returned.
  Filters:
    type: object
    properties:
      Queues:
        $ref: '#/definitions/Queues'
        description: The queues to use to filter the metrics. You can specify up to 100 queues per request.
      Channels:
        $ref: '#/definitions/Channels'
        description: The channel to use to filter the metrics.
    description: Contains the filter to apply when retrieving metrics.
  GetContactAttributesRequest:
    type: object
    properties: {}
  Groupings:
    type: array
    items:
      $ref: '#/definitions/Grouping'
    maxItems: 2
  NextToken:
    type: string
  MaxResult100:
    type: integer
    minimum: 1
    maximum: 100
  GetCurrentMetricDataRequest:
    type: object
    required:
      - Filters
      - CurrentMetrics
    properties:
      Filters:
        $ref: '#/definitions/Filters'
        description: 'The queues, up to 100, or channels, to use to filter the metrics returned. Metric data is retrieved only for the resources associated with the queues or channels included in the filter. You can include both queue IDs and queue ARNs in the same request. The only supported channel is <code>VOICE</code>.'
      Groupings:
        $ref: '#/definitions/Groupings'
        description: '<p>The grouping applied to the metrics returned. For example, when grouped by <code>QUEUE</code>, the metrics returned apply to each queue rather than aggregated for all queues. If you group by <code>CHANNEL</code>, you should include a Channels filter. The only supported channel is <code>VOICE</code>.</p> <p>If no <code>Grouping</code> is included in the request, a summary of metrics is returned.</p>'
      CurrentMetrics:
        $ref: '#/definitions/CurrentMetrics'
        description: '<p>The metrics to retrieve. Specify the name and unit for each metric. The following metrics are available:</p> <dl> <dt>AGENTS_AFTER_CONTACT_WORK</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_AVAILABLE</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_ERROR</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_NON_PRODUCTIVE</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_ON_CALL</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_ONLINE</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_STAFFED</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>CONTACTS_IN_QUEUE</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>CONTACTS_SCHEDULED</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>OLDEST_CONTACT_AGE</dt> <dd> <p>Unit: SECONDS</p> </dd> </dl>'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: <p>The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.</p> <p>The token expires after 5 minutes from the time it is created. Subsequent requests that use the token must use the same request parameters as the request that generated the token.</p>
      MaxResults:
        $ref: '#/definitions/MaxResult100'
        description: The maximimum number of results to return per page.
  GetFederationTokenRequest:
    type: object
    properties: {}
  HistoricalMetrics:
    type: array
    items:
      $ref: '#/definitions/HistoricalMetric'
  GetMetricDataRequest:
    type: object
    required:
      - StartTime
      - EndTime
      - Filters
      - HistoricalMetrics
    properties:
      StartTime:
        $ref: '#/definitions/timestamp'
        description: '<p>The timestamp, in UNIX Epoch time format, at which to start the reporting interval for the retrieval of historical metrics data. The time must be specified using a multiple of 5 minutes, such as 10:05, 10:10, 10:15.</p> <p>The start time cannot be earlier than 24 hours before the time of the request. Historical metrics are available only for 24 hours.</p>'
      EndTime:
        $ref: '#/definitions/timestamp'
        description: '<p>The timestamp, in UNIX Epoch time format, at which to end the reporting interval for the retrieval of historical metrics data. The time must be specified using an interval of 5 minutes, such as 11:00, 11:05, 11:10, and must be later than the start time timestamp.</p> <p>The time range between the start and end time must be less than 24 hours.</p>'
      Filters:
        $ref: '#/definitions/Filters'
        description: 'The queues, up to 100, or channels, to use to filter the metrics returned. Metric data is retrieved only for the resources associated with the queues or channels included in the filter. You can include both queue IDs and queue ARNs in the same request. The only supported channel is <code>VOICE</code>.'
      Groupings:
        $ref: '#/definitions/Groupings'
[...]
