swagger: '2.0'
info:
  version: '2017-08-08'
  x-release: v4
  title: Amazon Connect Service
  description: 'The Amazon Connect API Reference provides descriptions, syntax, and usage examples for each of the Amazon Connect actions, data types, parameters, and errors. Amazon Connect is a cloud-based contact center solution that makes it easy to set up and manage a customer contact center and provide reliable customer engagement at any scale.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: connect
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/connect-2017-08-08.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/connect/'
host: connect.amazonaws.com
basePath: /
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/users/{InstanceId}':
    put:
      operationId: CreateUser
      description: Creates a new user account in your Amazon Connect instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateUserResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: DuplicateResourceException
          schema:
            $ref: '#/definitions/DuplicateResourceException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '485':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '486':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateUserRequest'
        - name: InstanceId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}':
    delete:
      operationId: DeleteUser
      description: Deletes a user account from Amazon Connect.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteUserRequest'
        - name: InstanceId
          in: path
          type: string
          required: true
        - name: UserId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeUser
      description: Returns a <code>User</code> object that contains information about the user account specified by the <code>UserId</code>.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeUserResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeUserRequest'
        - name: InstanceId
          in: path
          type: string
          required: true
        - name: UserId
          in: path
          type: string
          required: true
  '/user-hierarchy-groups/{InstanceId}/{HierarchyGroupId}':
    get:
      operationId: DescribeUserHierarchyGroup
      description: Returns a <code>HierarchyGroup</code> object that includes information about a hierarchy group in your instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeUserHierarchyGroupResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeUserHierarchyGroupRequest'
        - name: InstanceId
          in: path
          type: string
          required: true
        - name: HierarchyGroupId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/user-hierarchy-structure/{InstanceId}':
    get:
      operationId: DescribeUserHierarchyStructure
      description: 'Returns a <code>HiearchyGroupStructure</code> object, which contains data about the levels in the agent hierarchy.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeUserHierarchyStructureResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeUserHierarchyStructureRequest'
        - name: InstanceId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/user/federate/{InstanceId}':
    get:
      operationId: GetFederationToken
      description: Retrieves a token for federation.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFederationTokenResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: UserNotFoundException
          schema:
            $ref: '#/definitions/UserNotFoundException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '485':
          description: DuplicateResourceException
          schema:
            $ref: '#/definitions/DuplicateResourceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetFederationTokenRequest'
        - name: InstanceId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/routing-profiles-summary/{InstanceId}':
    get:
      operationId: ListRoutingProfiles
      description: Returns an array of <code>RoutingProfileSummary</code> objects that includes information about the routing profiles in your instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListRoutingProfilesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListRoutingProfilesRequest'
        - name: InstanceId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/security-profiles-summary/{InstanceId}':
    get:
      operationId: ListSecurityProfiles
      description: 'Returns an array of SecurityProfileSummary objects that contain information about the security profiles in your instance, including the ARN, Id, and Name of the security profile.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSecurityProfilesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSecurityProfilesRequest'
        - name: InstanceId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/user-hierarchy-groups-summary/{InstanceId}':
    get:
      operationId: ListUserHierarchyGroups
      description: 'Returns a <code>UserHierarchyGroupSummaryList</code>, which is an array of <code>HierarchyGroupSummary</code> objects that contain information about the hierarchy groups in your instance.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListUserHierarchyGroupsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListUserHierarchyGroupsRequest'
        - name: InstanceId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users-summary/{InstanceId}':
    get:
      operationId: ListUsers
      description: 'Returns a <code>UserSummaryList</code>, which is an array of <code>UserSummary</code> objects.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListUsersResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListUsersRequest'
        - name: InstanceId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /contact/outbound-voice:
    put:
      operationId: StartOutboundVoiceContact
      description: '<p>The <code>StartOutboundVoiceContact</code> operation initiates a contact flow to place an outbound call to a customer.</p> <p>There is a throttling limit placed on usage of the API that includes a RateLimit of 2 per second, and a BurstLimit of 5 per second.</p> <p>If you are using an IAM account, it must have permission to the <code>connect:StartOutboundVoiceContact</code> action.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartOutboundVoiceContactResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: DestinationNotAllowedException
          schema:
            $ref: '#/definitions/DestinationNotAllowedException'
        '486':
          description: OutboundContactNotPermittedException
          schema:
            $ref: '#/definitions/OutboundContactNotPermittedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartOutboundVoiceContactRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /contact/stop:
    post:
      operationId: StopContact
      description: '<p>Ends the contact initiated by the <code>StartOutboundVoiceContact</code> operation.</p> <p>If you are using an IAM account, it must have permission to the <code>connect:StopContact</code> action.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopContactResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ContactNotFoundException
          schema:
            $ref: '#/definitions/ContactNotFoundException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopContactRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}/hierarchy':
    post:
      operationId: UpdateUserHierarchy
      description: Assigns the specified hierarchy group to the user.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateUserHierarchyRequest'
        - name: InstanceId
          in: path
          type: string
          required: true
        - name: UserId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}/identity-info':
    post:
      operationId: UpdateUserIdentityInfo
      description: 'Updates the identity information for the specified user in a <code>UserIdentityInfo</code> object, including email, first name, and last name.'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateUserIdentityInfoRequest'
        - name: InstanceId
          in: path
          type: string
          required: true
        - name: UserId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}/phone-config':
    post:
      operationId: UpdateUserPhoneConfig
      description: Updates the phone configuration settings in the <code>UserPhoneConfig</code> object for the specified user.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateUserPhoneConfigRequest'
        - name: InstanceId
          in: path
          type: string
          required: true
        - name: UserId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}/routing-profile':
    post:
      operationId: UpdateUserRoutingProfile
      description: Assigns the specified routing profile to a user.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateUserRoutingProfileRequest'
        - name: InstanceId
          in: path
          type: string
          required: true
        - name: UserId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}/security-profiles':
    post:
      operationId: UpdateUserSecurityProfiles
      description: Update the security profiles assigned to the user.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateUserSecurityProfilesRequest'
        - name: InstanceId
          in: path
          type: string
          required: true
        - name: UserId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  ARN:
    type: string
  AfterContactWorkTimeLimit:
    type: integer
    minimum: 0
  AgentFirstName:
    type: string
    minLength: 1
    maxLength: 100
  AgentLastName:
    type: string
    minLength: 1
    maxLength: 100
  AgentUsername:
    type: string
    pattern: '[a-zA-Z0-9\_\-\.]+'
    minLength: 1
    maxLength: 20
  AttributeName:
    type: string
    description: Key for the key value pair to be used for additional attributes.
    minLength: 1
    maxLength: 32767
  AttributeValue:
    type: string
    description: Value for the key value pair to be used for additional attributes.
    minLength: 0
    maxLength: 32767
  Attributes:
    type: array
    description: Additional attributes can be provided in the request using this field. This will be passed to the contact flow execution. Client can make use of this additional info in their contact flow.
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/AttributeName'
        value:
          $ref: '#/definitions/AttributeValue'
  AutoAccept:
    type: boolean
  ClientToken:
    type: string
    description: Dedupe token to be provided by the client. This token is used to avoid duplicate calls to the customer.
    maxLength: 500
  ContactFlowId:
    type: string
    description: Amazon resource name for the contact flow to be executed to handle the current call.
    maxLength: 500
  ContactId:
    type: string
    description: Amazon Connect contact identifier. An unique ContactId will be generated for each contact request.
    minLength: 1
    maxLength: 256
  ContactNotFoundException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: The message.
    description: The contact with the specified ID is not active or does not exist.
  CreateUserRequest:
    type: object
    required:
      - Username
      - PhoneConfig
      - SecurityProfileIds
      - RoutingProfileId
    properties:
      Username:
        $ref: '#/definitions/AgentUsername'
        description: The user name in Amazon Connect for the user to create.
      Password:
        $ref: '#/definitions/Password'
        description: 'The password for the user account to create. This is required if you are using Amazon Connect for identity management. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.'
      IdentityInfo:
        $ref: '#/definitions/UserIdentityInfo'
        description: 'Information about the user, including email address, first name, and last name.'
      PhoneConfig:
        $ref: '#/definitions/UserPhoneConfig'
        description: 'Specifies the phone settings for the user, including AfterContactWorkTimeLimit, AutoAccept, DeskPhoneNumber, and PhoneType.'
      DirectoryUserId:
        $ref: '#/definitions/DirectoryUserId'
        description: '<p>The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>'
      SecurityProfileIds:
        $ref: '#/definitions/SecurityProfileIds'
        description: The unique identifier of the security profile to assign to the user created.
      RoutingProfileId:
        $ref: '#/definitions/RoutingProfileId'
        description: The unique identifier for the routing profile to assign to the user created.
      HierarchyGroupId:
        $ref: '#/definitions/HierarchyGroupId'
        description: The unique identifier for the hierarchy group to assign to the user created.
  CreateUserResponse:
    type: object
    properties:
      UserId:
        $ref: '#/definitions/UserId'
        description: The unique identifier for the user account in Amazon Connect
      UserArn:
        $ref: '#/definitions/ARN'
        description: The Amazon Resource Name (ARN) of the user account created.
  Credentials:
    type: object
    properties:
      AccessToken:
        $ref: '#/definitions/SecurityToken'
        description: An access token generated for a federated user to access Amazon Connect
      AccessTokenExpiration:
        $ref: '#/definitions/timestamp'
        description: A token generated with an expiration time for the session a user is logged in to Amazon Connect
      RefreshToken:
        $ref: '#/definitions/SecurityToken'
        description: Renews a token generated for a user to access the Amazon Connect instance.
      RefreshTokenExpiration:
        $ref: '#/definitions/timestamp'
        description: Renews the expiration timer for a generated token.
    description: The credentials to use for federation.
  DeleteUserRequest:
    type: object
    properties: {}
  DescribeUserHierarchyGroupRequest:
    type: object
    properties: {}
  DescribeUserHierarchyGroupResponse:
    type: object
    properties:
      HierarchyGroup:
        $ref: '#/definitions/HierarchyGroup'
        description: Returns a <code>HierarchyGroup</code> object.
  DescribeUserHierarchyStructureRequest:
    type: object
    properties: {}
  DescribeUserHierarchyStructureResponse:
    type: object
    properties:
      HierarchyStructure:
        $ref: '#/definitions/HierarchyStructure'
        description: A <code>HierarchyStructure</code> object.
  DescribeUserRequest:
    type: object
    properties: {}
  DescribeUserResponse:
    type: object
    properties:
      User:
        $ref: '#/definitions/User'
        description: A <code>User</code> object that contains information about the user account and configuration settings.
  DestinationNotAllowedException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: The message.
    description: Outbound calls to the destination number are not allowed.
  DirectoryUserId:
    type: string
  DuplicateResourceException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
    description: A resource with that name already exisits.
  Email:
    type: string
  GetFederationTokenRequest:
    type: object
    properties: {}
  GetFederationTokenResponse:
    type: object
    properties:
      Credentials:
        $ref: '#/definitions/Credentials'
        description: The credentials to use for federation.
  HierarchyGroup:
    type: object
    properties:
      Id:
        $ref: '#/definitions/HierarchyGroupId'
        description: The identifier for the hierarchy group.
      Arn:
        $ref: '#/definitions/ARN'
        description: The Amazon Resource Name (ARN) for the hierarchy group.
      Name:
        $ref: '#/definitions/HierarchyGroupName'
        description: The name of the hierarchy group in your instance.
      LevelId:
        $ref: '#/definitions/HierarchyLevelId'
        description: The identifier for the level in the hierarchy group.
      HierarchyPath:
        $ref: '#/definitions/HierarchyPath'
        description: A <code>HierarchyPath</code> object that contains information about the levels in the hierarchy group.
    description: A <code>HierarchyGroup</code> object that contains information about a hierarchy group in your Amazon Connect instance.
  HierarchyGroupId:
    type: string
  HierarchyGroupName:
    type: string
  HierarchyGroupSummary:
    type: object
    properties:
      Id:
        $ref: '#/definitions/HierarchyGroupId'
        description: The identifier of the hierarchy group.
      Arn:
        $ref: '#/definitions/ARN'
        description: The ARN for the hierarchy group.
      Name:
        $ref: '#/definitions/HierarchyGroupName'
        description: The name of the hierarchy group.
    description: 'A <code>HierarchyGroupSummary</code> object that contains information about the hierarchy group, including ARN, Id, and Name.'
  HierarchyGroupSummaryList:
    type: array
    items:
      $ref: '#/definitions/HierarchyGroupSummary'
  HierarchyLevel:
    type: object
    properties:
      Id:
        $ref: '#/definitions/HierarchyLevelId'
        description: The identifier for the hierarchy group level.
      Arn:
        $ref: '#/definitions/ARN'
        description: The ARN for the hierarchy group level.
      Name:
        $ref: '#/definitions/HierarchyLevelName'
        description: The name of the hierarchy group level.
    description: 'A <code>HierarchyLevel</code> object that contains information about the levels in a hierarchy group, including ARN, Id, and Name.'
  HierarchyLevelId:
    type: string
  HierarchyLevelName:
    type: string
  HierarchyPath:
    type: object
    properties:
      LevelOne:
        $ref: '#/definitions/HierarchyGroupSummary'
        description: 'A <code>HierarchyGroupSummary</code> object that contains information about the level of the hierarchy group, including ARN, Id, and Name.'
      LevelTwo:
        $ref: '#/definitions/HierarchyGroupSummary'
        description: 'A <code>HierarchyGroupSummary</code> object that contains information about the level of the hierarchy group, including ARN, Id, and Name.'
      LevelThree:
        $ref: '#/definitions/HierarchyGroupSummary'
        description: 'A <code>HierarchyGroupSummary</code> object that contains information about the level of the hierarchy group, including ARN, Id, and Name.'
      LevelFour:
        $ref: '#/definitions/HierarchyGroupSummary'
        description: 'A <code>HierarchyGroupSummary</code> object that contains information about the level of the hierarchy group, including ARN, Id, and Name.'
      LevelFive:
        $ref: '#/definitions/HierarchyGroupSummary'
        description: 'A <code>HierarchyGroupSummary</code> object that contains information about the level of the hierarchy group, including ARN, Id, and Name.'
    description: A <code>HierarchyPath</code> object that contains information about the levels of the hierarchy group.
  HierarchyStructure:
    type: object
    properties:
      LevelOne:
        $ref: '#/definitions/HierarchyLevel'
        description: A <code>HierarchyLevel</code> object that contains information about the hierarchy group level.
      LevelTwo:
        $ref: '#/definitions/HierarchyLevel'
        description: A <code>HierarchyLevel</code> object that contains information about the hierarchy group level.
      LevelThree:
        $ref: '#/definitions/HierarchyLevel'
        description: A <code>HierarchyLevel</code> object that contains information about the hierarchy group level.
      LevelFour:
        $ref: '#/definitions/HierarchyLevel'
        description: A <code>HierarchyLevel</code> object that contains information about the hierarchy group level.
      LevelFive:
        $ref: '#/definitions/HierarchyLevel'
        description: A <code>HierarchyLevel</code> object that contains information about the hierarchy group level.
    description: A <code>HierarchyStructure</code> object that contains information about the hierarchy group structure.
  InstanceId:
    type: string
    description: Amazon Connect Organization ARN. A client must provide its organization ARN in order to place a call. This defines the call from organization.
    minLength: 1
    maxLength: 100
  InternalServiceException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: The message.
    description: Request processing failed due to an error or failure with the service.
  InvalidParameterException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: The message.
    description: One or more of the parameters provided to the operation are not valid.
  InvalidRequestException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: The message.
    description: The request is not valid.
  LimitExceededException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: The message.
    description: The limit exceeded the maximum allowed active calls in a queue.
  ListRoutingProfilesRequest:
    type: object
    properties: {}
  ListRoutingProfilesResponse:
    type: object
    properties:
      RoutingProfileSummaryList:
        $ref: '#/definitions/RoutingProfileSummaryList'
        description: 'An array of <code>RoutingProfileSummary</code> objects that include the ARN, Id, and Name of the routing profile.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: A string returned in the response. Use the value returned in the response as the value of the NextToken in a subsequent request to retrieve the next set of results.
  ListSecurityProfilesRequest:
    type: object
    properties: {}
  ListSecurityProfilesResponse:
    type: object
    properties:
      SecurityProfileSummaryList:
        $ref: '#/definitions/SecurityProfileSummaryList'
        description: An array of <code>SecurityProfileSummary</code> objects.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: A string returned in the response. Use the value returned in the response as the value of the NextToken in a subsequent request to retrieve the next set of results.
  ListUserHierarchyGroupsRequest:
    type: object
    properties: {}
  ListUserHierarchyGroupsResponse:
    type: object
    properties:
      UserHierarchyGroupSummaryList:
        $ref: '#/definitions/HierarchyGroupSummaryList'
        description: An array of <code>HierarchyGroupSummary</code> objects.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: A string returned in the response. Use the value returned in the response as the value of the NextToken in a subsequent request to retrieve the next set of results.
  ListUsersRequest:
    type: object
    properties: {}
  ListUsersResponse:
    type: object
    properties:
      UserSummaryList:
        $ref: '#/definitions/UserSummaryList'
        description: An array of <code>UserSummary</code> objects that contain information about the users in your instance.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: A string returned in the response. Use the value returned in the response as the value of the NextToken in a subsequent request to retrieve the next set of results.
  MaxResult1000:
    type: integer
    minimum: 1
    maximum: 1000
  Message:
    type: string
  NextToken:
    type: string
  OutboundContactNotPermittedException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: The message.
    description: The contact is not permitted.
  Password:
    type: string
    pattern: '/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d\S]{8,}$/'
  PhoneNumber:
    type: string
    description: End customer's phone number to call.
  PhoneType:
    type: string
    enum:
      - SOFT_PHONE
      - DESK_PHONE
  QueueId:
    type: string
    description: Identifier of the queue to be used for the contact routing.
  ResourceNotFoundException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: The message.
    description: The specified resource was not found.
  RoutingProfileId:
    type: string
  RoutingProfileName:
    type: string
    minLength: 1
    maxLength: 100
  RoutingProfileSummary:
    type: object
    properties:
      Id:
        $ref: '#/definitions/RoutingProfileId'
        description: The identifier of the routing profile.
      Arn:
        $ref: '#/definitions/ARN'
        description: The ARN of the routing profile.
      Name:
        $ref: '#/definitions/RoutingProfileName'
        description: The name of the routing profile.
    description: 'A <code>RoutingProfileSummary</code> object that contains information about a routing profile, including ARN, Id, and Name.'
  RoutingProfileSummaryList:
    type: array
    items:
      $ref: '#/definitions/RoutingProfileSummary'
  SecurityProfileId:
    type: string
  SecurityProfileIds:
    type: array
    items:
      $ref: '#/definitions/SecurityProfileId'
    minItems: 1
    maxItems: 10
  SecurityProfileName:
    type: string
  SecurityProfileSummary:
    type: object
    properties:
      Id:
        $ref: '#/definitions/SecurityProfileId'
        description: The identifier of the security profile.
      Arn:
        $ref: '#/definitions/ARN'
        description: The ARN of the security profile.
      Name:
        $ref: '#/definitions/SecurityProfileName'
        description: The name of the security profile.
    description: 'A <code>SecurityProfileSummary</code> object that contains information about a security profile, including ARN, Id, Name.'
  SecurityProfileSummaryList:
    type: array
    items:
      $ref: '#/definitions/SecurityProfileSummary'
  SecurityToken:
    type: string
    format: password
  StartOutboundVoiceContactRequest:
    type: object
    required:
      - DestinationPhoneNumber
      - ContactFlowId
      - InstanceId
    properties:
      DestinationPhoneNumber:
        $ref: '#/definitions/PhoneNumber'
        description: The phone number of the customer in E.164 format.
      ContactFlowId:
        $ref: '#/definitions/ContactFlowId'
        description: '<p>The identifier for the contact flow to connect the outbound call to.</p> <p>To find the <code>ContactFlowId</code>, open the contact flow you want to use in the Amazon Connect contact flow editor. The ID for the contact flow is displayed in the address bar as part of the URL. For example, the contact flow ID is the set of characters at the end of the URL, after ''contact-flow/'' such as <code>78ea8fd5-2659-4f2b-b528-699760ccfc1b</code>.</p>'
      InstanceId:
        $ref: '#/definitions/InstanceId'
        description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
      ClientToken:
        $ref: '#/definitions/ClientToken'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. The token is valid for 7 days after creation. If a contact is already started, the contact ID is returned. If the contact is disconnected, a new contact is started.'
      SourcePhoneNumber:
        $ref: '#/definitions/PhoneNumber'
        description: 'The phone number, in E.164 format, associated with your Amazon Connect instance to use for the outbound call.'
      QueueId:
        $ref: '#/definitions/QueueId'
        description: '<p>The queue to add the call to. If you specify a queue, the phone displayed for caller ID is the phone number specified in the queue. If you do not specify a queue, the queue used will be the queue defined in the contact flow.</p> <p>To find the <code>QueueId</code>, open the queue you want to use in the Amazon Connect Queue editor. The ID for the queue is displayed in the address bar as part of the URL. For example, the queue ID is the set of characters at the end of the URL, after ''queue/'' such as <code>queue/aeg40574-2d01-51c3-73d6-bf8624d2168c</code>.</p>'
      Attributes:
        $ref: '#/definitions/Attributes'
        description: '<p>Specify a custom key-value pair using an attribute map. The attributes are standard Amazon Connect attributes, and can be accessed in contact flows just like any other contact attributes.</p> <p>There can be up to 32,768 UTF-8 bytes across all key-value pairs. Attribute keys can include only alphanumeric, dash, and underscore characters.</p> <p>For example, if you want play a greeting when the customer answers the call, you can pass the customer name in attributes similar to the following:</p>'
  StartOutboundVoiceContactResponse:
    type: object
    properties:
      ContactId:
        $ref: '#/definitions/ContactId'
        description: The unique identifier of this contact within your Amazon Connect instance.
  StopContactRequest:
    type: object
    required:
      - ContactId
      - InstanceId
    properties:
      ContactId:
        $ref: '#/definitions/ContactId'
        description: The unique identifier of the contact to end.
      InstanceId:
        $ref: '#/definitions/InstanceId'
        description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
  StopContactResponse:
    type: object
    properties: {}
  ThrottlingException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
    description: The throttling limit has been exceeded.
  UpdateUserHierarchyRequest:
    type: object
    properties:
      HierarchyGroupId:
        $ref: '#/definitions/HierarchyGroupId'
        description: The identifier for the hierarchy group to assign to the user.
  UpdateUserIdentityInfoRequest:
    type: object
    required:
      - IdentityInfo
    properties:
      IdentityInfo:
        $ref: '#/definitions/UserIdentityInfo'
        description: A <code>UserIdentityInfo</code> object.
  UpdateUserPhoneConfigRequest:
    type: object
    required:
      - PhoneConfig
    properties:
      PhoneConfig:
        $ref: '#/definitions/UserPhoneConfig'
        description: 'A <code>UserPhoneConfig</code> object that contains settings for <code>AfterContactWorkTimeLimit</code>, <code>AutoAccept</code>, <code>DeskPhoneNumber</code>, and <code>PhoneType</code> to assign to the user.'
  UpdateUserRoutingProfileRequest:
    type: object
    required:
      - RoutingProfileId
    properties:
      RoutingProfileId:
        $ref: '#/definitions/RoutingProfileId'
        description: The identifier of the routing profile to assign to the user.
  UpdateUserSecurityProfilesRequest:
    type: object
    required:
      - SecurityProfileIds
    properties:
      SecurityProfileIds:
        $ref: '#/definitions/SecurityProfileIds'
        description: The identifiers for the security profiles to assign to the user.
  User:
    type: object
    properties:
      Id:
        $ref: '#/definitions/UserId'
        description: The identifier of the user account.
      Arn:
        $ref: '#/definitions/ARN'
        description: The ARN of the user account.
      Username:
        $ref: '#/definitions/AgentUsername'
        description: The user name assigned to the user account.
      IdentityInfo:
        $ref: '#/definitions/UserIdentityInfo'
        description: A <code>UserIdentityInfo</code> object.
      PhoneConfig:
        $ref: '#/definitions/UserPhoneConfig'
        description: A <code>UserPhoneConfig</code> object.
      DirectoryUserId:
        $ref: '#/definitions/DirectoryUserId'
        description: The directory Id for the user account in the existing directory used for identity management.
      SecurityProfileIds:
        $ref: '#/definitions/SecurityProfileIds'
        description: The identifier(s) for the security profile assigned to the user.
      RoutingProfileId:
        $ref: '#/definitions/RoutingProfileId'
        description: The identifier of the routing profile assigned to the user.
      HierarchyGroupId:
        $ref: '#/definitions/HierarchyGroupId'
        description: The identifier for the hierarchy group assigned to the user.
    description: 'A <code>User</code> object that contains information about a user account in your Amazon Connect instance, including configuration settings.'
  UserId:
    type: string
  UserIdentityInfo:
    type: object
    properties:
      FirstName:
        $ref: '#/definitions/AgentFirstName'
        description: The first name used in the user account. This is required if you are using Amazon Connect or SAML for identity management.
      LastName:
        $ref: '#/definitions/AgentLastName'
        description: The last name used in the user account. This is required if you are using Amazon Connect or SAML for identity management.
      Email:
        $ref: '#/definitions/Email'
        description: 'The email address added to the user account. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.'
    description: 'A <code>UserIdentityInfo</code> object that contains information about the user''s identity, including email address, first name, and last name.'
  UserNotFoundException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
    description: No user with the specified credentials was found in the Amazon Connect instance.
  UserPhoneConfig:
    type: object
    required:
      - PhoneType
    properties:
      PhoneType:
        $ref: '#/definitions/PhoneType'
        description: 'The phone type selected for the user, either Soft phone or Desk phone.'
      AutoAccept:
        $ref: '#/definitions/AutoAccept'
        description: 'The Auto accept setting for the user, Yes or No.'
      AfterContactWorkTimeLimit:
        $ref: '#/definitions/AfterContactWorkTimeLimit'
        description: 'The After Call Work (ACW) timeout setting, in seconds, for the user.'
      DeskPhoneNumber:
        $ref: '#/definitions/PhoneNumber'
        description: The phone number for the user's desk phone.
    description: A <code>UserPhoneConfig</code> object that contains information about the user phone configuration settings.
  UserSummary:
    type: object
    properties:
      Id:
        $ref: '#/definitions/UserId'
        description: The identifier for the user account.
      Arn:
        $ref: '#/definitions/ARN'
        description: The ARN for the user account.
      Username:
        $ref: '#/definitions/AgentUsername'
        description: The Amazon Connect user name for the user account.
    description: 'A <code>UserSummary</code> object that contains Information about a user, including ARN, Id, and user name.'
  UserSummaryList:
    type: array
    items:
      $ref: '#/definitions/UserSummary'
  timestamp:
    type: string
    format: date-time
