swagger: '2.0'
info:
  version: '2017-08-08'
  x-release: v4
  title: Amazon Connect Service
  description: '<p>The Amazon Connect API Reference provides descriptions, syntax, and usage examples for each of the Amazon Connect actions, data types, parameters, and errors. Amazon Connect is a cloud-based contact center solution that makes it easy to set up and manage a customer contact center and provide reliable customer engagement at any scale.</p> <p>Throttling limits for the Amazon Connect API operations:</p> <p>For the <code>GetMetricData</code> and <code>GetCurrentMetricData</code> operations, a RateLimit of 5 per second, and a BurstLimit of 8 per second.</p> <p>For all other operations, a RateLimit of 2 per second, and a BurstLimit of 5 per second.</p> <p>You can request an increase to the throttling limits by submitting a <a href="https://console.aws.amazon.com/support/home#/case/create?issueType=service-limit-increase">Amazon Connect service limits increase form</a>. You must be signed in to your AWS account to access the form.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: connect
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/connect-2017-08-08.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/connect/'
host: connect.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://connect.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
    description: The Amazon Connect multi-region endpoint
  - url: 'https://connect.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
    description: The Amazon Connect multi-region endpoint
  - url: 'http://connect.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
    description: The Amazon Connect endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://connect.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
    description: The Amazon Connect endpoint for China (Beijing) and China (Ningxia)
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/users/{InstanceId}':
    put:
      operationId: CreateUser
      description: Creates a new user account in your Amazon Connect instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateUserResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: DuplicateResourceException
          schema:
            $ref: '#/definitions/DuplicateResourceException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '485':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '486':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Username
              - PhoneConfig
              - SecurityProfileIds
              - RoutingProfileId
            properties:
              Username:
                description: 'The user name in Amazon Connect for the account to create. If you are using SAML for identity management in your Amazon Connect, the value for <code>Username</code> can include up to 64 characters from [a-zA-Z0-9_-.\@]+.'
                type: string
                pattern: '[a-zA-Z0-9\_\-\.]+'
                minLength: 1
                maxLength: 20
              Password:
                description: 'The password for the user account to create. This is required if you are using Amazon Connect for identity management. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.'
                type: string
                pattern: '/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d\S]{8,64}$/'
              IdentityInfo:
                description: 'A <code>UserIdentityInfo</code> object that contains information about the user''s identity, including email address, first name, and last name.'
                type: object
                properties:
                  FirstName:
                    $ref: '#/definitions/AgentFirstName'
                    description: The first name used in the user account. This is required if you are using Amazon Connect or SAML for identity management.
                  LastName:
                    $ref: '#/definitions/AgentLastName'
                    description: The last name used in the user account. This is required if you are using Amazon Connect or SAML for identity management.
                  Email:
                    $ref: '#/definitions/Email'
                    description: 'The email address added to the user account. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.'
              PhoneConfig:
                description: A <code>UserPhoneConfig</code> object that contains information about the user phone configuration settings.
                type: object
                properties:
                  PhoneType:
                    $ref: '#/definitions/PhoneType'
                    description: 'The phone type selected for the user, either Soft phone or Desk phone.'
                  AutoAccept:
                    $ref: '#/definitions/AutoAccept'
                    description: 'The Auto accept setting for the user, Yes or No.'
                  AfterContactWorkTimeLimit:
                    $ref: '#/definitions/AfterContactWorkTimeLimit'
                    description: 'The After Call Work (ACW) timeout setting, in seconds, for the user.'
                  DeskPhoneNumber:
                    $ref: '#/definitions/PhoneNumber'
                    description: The phone number for the user's desk phone.
              DirectoryUserId:
                description: '<p>The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the <code>UserIdentityInfo</code> is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>'
                type: string
              SecurityProfileIds:
                description: The unique identifier of the security profile to assign to the user created.
                type: array
                items:
                  $ref: '#/definitions/SecurityProfileId'
                minItems: 1
                maxItems: 10
              RoutingProfileId:
                description: The unique identifier for the routing profile to assign to the user created.
                type: string
              HierarchyGroupId:
                description: The unique identifier for the hierarchy group to assign to the user created.
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}':
    delete:
      operationId: DeleteUser
      description: Deletes a user account from Amazon Connect.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
        - name: UserId
          in: path
          required: true
          description: The unique identifier of the user to delete.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeUser
      description: Returns a <code>User</code> object that contains information about the user account specified by the <code>UserId</code>.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeUserResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: UserId
          in: path
          required: true
          description: Unique identifier for the user account to return.
          type: string
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
  '/user-hierarchy-groups/{InstanceId}/{HierarchyGroupId}':
    get:
      operationId: DescribeUserHierarchyGroup
      description: Returns a <code>HierarchyGroup</code> object that includes information about a hierarchy group in your instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeUserHierarchyGroupResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: HierarchyGroupId
          in: path
          required: true
          description: The identifier for the hierarchy group to return.
          type: string
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/user-hierarchy-structure/{InstanceId}':
    get:
      operationId: DescribeUserHierarchyStructure
      description: 'Returns a <code>HiearchyGroupStructure</code> object, which contains data about the levels in the agent hierarchy.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeUserHierarchyStructureResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/contact/attributes/{InstanceId}/{InitialContactId}':
    get:
      operationId: GetContactAttributes
      description: Retrieves the contact attributes associated with a contact.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetContactAttributesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: The instance ID for the instance from which to retrieve contact attributes.
          type: string
          minLength: 1
          maxLength: 100
        - name: InitialContactId
          in: path
          required: true
          description: The ID for the initial contact in Amazon Connect associated with the attributes to update.
          type: string
          minLength: 1
          maxLength: 256
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/metrics/current/{InstanceId}':
    post:
      operationId: GetCurrentMetricData
      description: '<p>The <code>GetCurrentMetricData</code> operation retrieves current metric data from your Amazon Connect instance.</p> <p>If you are using an IAM account, it must have permission to the <code>connect:GetCurrentMetricData</code> action.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCurrentMetricDataResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Filters
              - CurrentMetrics
            properties:
              Filters:
                description: 'The filter, either channel or queues, to apply to the metric results retrieved.'
                type: object
                properties:
                  Queues:
                    $ref: '#/definitions/Queues'
                    description: A list of up to 100 queue IDs or queue ARNs to use to filter the metrics retrieved. You can include both IDs and ARNs in a request.
                  Channels:
                    $ref: '#/definitions/Channels'
                    description: The Channel to use as a filter for the metrics returned. Only VOICE is supported.
              Groupings:
                description: '<p>The grouping applied to the metrics returned. For example, when grouped by QUEUE, the metrics returned apply to each queue rather than aggregated for all queues. If you group by CHANNEL, you should include a Channels filter. The only supported channel is VOICE.</p> <p>If no <code>Grouping</code> is included in the request, a summary of <code>CurrentMetrics</code> is returned.</p>'
                type: array
                items:
                  $ref: '#/definitions/Grouping'
                maxItems: 2
              CurrentMetrics:
                description: '<p>A list of <code>CurrentMetric</code> objects for the metrics to retrieve. Each <code>CurrentMetric</code> includes a name of a metric to retrieve and the unit to use for it. You must list each metric to retrieve data for in the request.</p> <p>The following metrics are available:</p> <dl> <dt>AGENTS_AVAILABLE</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_ONLINE</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_ON_CALL</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_STAFFED</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_AFTER_CONTACT_WORK</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_NON_PRODUCTIVE</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_ERROR</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>CONTACTS_IN_QUEUE</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>OLDEST_CONTACT_AGE</dt> <dd> <p>Unit: SECONDS</p> </dd> <dt>CONTACTS_SCHEDULED</dt> <dd> <p>Unit: COUNT</p> </dd> </dl>'
                type: array
                items:
                  $ref: '#/definitions/CurrentMetric'
              NextToken:
                description: <p>The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.</p> <p>The token expires after 5 minutes from the time it is created. Subsequent requests that use the <a href="">NextToken</a> must use the same request parameters as the request that generated the token.</p>
                type: string
              MaxResults:
                description: ' <code>MaxResults</code> indicates the maximum number of results to return per page in the response, between 1 and 100.'
                type: integer
                minimum: 1
                maximum: 100
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/user/federate/{InstanceId}':
    get:
      operationId: GetFederationToken
      description: Retrieves a token for federation.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFederationTokenResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: UserNotFoundException
          schema:
            $ref: '#/definitions/UserNotFoundException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '485':
          description: DuplicateResourceException
          schema:
            $ref: '#/definitions/DuplicateResourceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/metrics/historical/{InstanceId}':
    post:
      operationId: GetMetricData
      description: '<p>The <code>GetMetricData</code> operation retrieves historical metrics data from your Amazon Connect instance.</p> <p>If you are using an IAM account, it must have permission to the <code>connect:GetMetricData</code> action.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMetricDataResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - StartTime
              - EndTime
              - Filters
              - HistoricalMetrics
            properties:
              StartTime:
                description: '<p>The timestamp, in UNIX Epoch time format, at which to start the reporting interval for the retrieval of historical metrics data. The time must be specified using a multiple of 5 minutes, such as 10:05, 10:10, 10:15.</p> <p> <code>StartTime</code> cannot be earlier than 24 hours before the time of the request. Historical metrics are available in Amazon Connect only for 24 hours.</p>'
                type: string
                format: date-time
              EndTime:
                description: '<p>The timestamp, in UNIX Epoch time format, at which to end the reporting interval for the retrieval of historical metrics data. The time must be specified using an interval of 5 minutes, such as 11:00, 11:05, 11:10, and must be later than the <code>StartTime</code> timestamp.</p> <p>The time range between <code>StartTime</code> and <code>EndTime</code> must be less than 24 hours.</p>'
                type: string
                format: date-time
              Filters:
                description: 'The filter, either channel or queues, to apply to the metric results retrieved.'
                type: object
                properties:
                  Queues:
                    $ref: '#/definitions/Queues'
                    description: A list of up to 100 queue IDs or queue ARNs to use to filter the metrics retrieved. You can include both IDs and ARNs in a request.
                  Channels:
                    $ref: '#/definitions/Channels'
                    description: The Channel to use as a filter for the metrics returned. Only VOICE is supported.
              Groupings:
                description: '<p>The grouping applied to the metrics returned. For example, when results are grouped by queueId, the metrics returned are grouped by queue. The values returned apply to the metrics for each queue rather than aggregated for all queues.</p> <p>The current version supports grouping by Queue</p> <p>If no <code>Grouping</code> is included in the request, a summary of <code>HistoricalMetrics</code> for all queues is returned.</p>'
                type: array
                items:
                  $ref: '#/definitions/Grouping'
                maxItems: 2
              HistoricalMetrics:
                description: '<p>A list of <code>HistoricalMetric</code> objects that contain the metrics to retrieve with the request.</p> <p>A <code>HistoricalMetric</code> object contains: <code>HistoricalMetricName</code>, <code>Statistic</code>, <code>Threshold</code>, and <code>Unit</code>.</p> <p>You must list each metric to retrieve data for in the request. For each historical metric you include in the request, you must include a <code>Unit</code> and a <code>Statistic</code>. </p> <p>The following historical metrics are available:</p> <dl> <dt>CONTACTS_QUEUED</dt> <dd> <p>Unit: COUNT</p> <p>Statistic: SUM</p> </dd> <dt>CONTACTS_HANDLED</dt> <dd> <p>Unit: COUNT</p> <p>Statistics: SUM</p> </dd> <dt>CONTACTS_ABANDONED</dt> <dd> <p>Unit: COUNT</p> <p>Statistics: SUM</p> </dd> <dt>CONTACTS_CONSULTED</dt> <dd> <p>Unit: COUNT</p> <p>Statistics: SUM</p> </dd> <dt>CONTACTS_AGENT_HUNG_UP_FIRST</dt> <dd> <p>Unit: COUNT</p> <p>Statistics: SUM</p> </dd> <dt>CONTACTS_HANDLED_INCOMING</dt> <dd> <p>Unit: COUNT</p> <p>Statistics: SUM</p> </dd> <dt>CONTACTS_HANDLED_OUTBOUND</dt> <dd> <p>Unit: COUNT</p> <p>Statistics: SUM</p> </dd> <dt>CONTACTS_HOLD_ABANDONS</dt> <dd> <p>Unit: COUNT</p> <p>Statistics: SUM</p> </dd> <dt>CONTACTS_TRANSFERRED_IN</dt> <dd> <p>Unit: COUNT</p> <p>Statistics: SUM</p> </dd> <dt>CONTACTS_TRANSFERRED_OUT</dt> <dd> <p>Unit: COUNT</p> <p>Statistics: SUM</p> </dd> <dt>CONTACTS_TRANSFERRED_IN_FROM_QUEUE</dt> <dd> <p>Unit: COUNT</p> <p>Statistics: SUM</p> </dd> <dt>CONTACTS_TRANSFERRED_OUT_FROM_QUEUE</dt> <dd> <p>Unit: COUNT</p> <p>Statistics: SUM</p> </dd> <dt>CALLBACK_CONTACTS_HANDLED</dt> <dd> <p>Unit: COUNT</p> <p>Statistics: SUM</p> </dd> <dt>CALLBACK_CONTACTS_HANDLED</dt> <dd> <p>Unit: COUNT</p> <p>Statistics: SUM</p> </dd> <dt>API_CONTACTS_HANDLED</dt> <dd> <p>Unit: COUNT</p> <p>Statistics: SUM</p> </dd> <dt>CONTACTS_MISSED</dt> <dd> <p>Unit: COUNT</p> <p>Statistics: SUM</p> </dd> <dt>OCCUPANCY</dt> <dd> <p>Unit: PERCENT</p> <p>Statistics: AVG</p> </dd> <dt>HANDLE_TIME</dt> <dd> <p>Unit: SECONDS</p> <p>Statistics: AVG</p> </dd> <dt>AFTER_CONTACT_WORK_TIME</dt> <dd> <p>Unit: SECONDS</p> <p>Statistics: AVG</p> </dd> <dt>QUEUED_TIME</dt> <dd> <p>Unit: SECONDS</p> <p>Statistics: MAX</p> </dd> <dt>ABANDON_TIME</dt> <dd> <p>Unit: COUNT</p> <p>Statistics: SUM</p> </dd> <dt>QUEUE_ANSWER_TIME</dt> <dd> <p>Unit: SECONDS</p> <p>Statistics: AVG</p> </dd> <dt>HOLD_TIME</dt> <dd> <p>Unit: SECONDS</p> <p>Statistics: AVG</p> </dd> <dt>INTERACTION_TIME</dt> <dd> <p>Unit: SECONDS</p> <p>Statistics: AVG</p> </dd> <dt>INTERACTION_AND_HOLD_TIME</dt> <dd> <p>Unit: SECONDS</p> <p>Statistics: AVG</p> </dd> <dt>SERVICE_LEVEL</dt> <dd> <p>Unit: PERCENT</p> <p>Statistics: AVG</p> <p>Threshold: Only "Less than" comparisons are supported, with the following service level thresholds: 15, 20, 25, 30, 45, 60, 90, 120, 180, 240, 300, 600</p> </dd> </dl>'
                type: array
                items:
                  $ref: '#/definitions/HistoricalMetric'
              NextToken:
                description: The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.
                type: string
              MaxResults:
                description: 'Indicates the maximum number of results to return per page in the response, between 1-100.'
                type: integer
                minimum: 1
                maximum: 100
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/routing-profiles-summary/{InstanceId}':
    get:
      operationId: ListRoutingProfiles
      description: Returns an array of <code>RoutingProfileSummary</code> objects that includes information about the routing profiles in your instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListRoutingProfilesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of routing profiles to return in the response.
          type: integer
          minimum: 1
          maximum: 1000
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/security-profiles-summary/{InstanceId}':
    get:
      operationId: ListSecurityProfiles
      description: 'Returns an array of SecurityProfileSummary objects that contain information about the security profiles in your instance, including the ARN, Id, and Name of the security profile.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSecurityProfilesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of security profiles to return.
          type: integer
          minimum: 1
          maximum: 1000
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/user-hierarchy-groups-summary/{InstanceId}':
    get:
      operationId: ListUserHierarchyGroups
      description: 'Returns a <code>UserHierarchyGroupSummaryList</code>, which is an array of <code>HierarchyGroupSummary</code> objects that contain information about the hierarchy groups in your instance.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListUserHierarchyGroupsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of hierarchy groups to return.
          type: integer
          minimum: 1
          maximum: 1000
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users-summary/{InstanceId}':
    get:
      operationId: ListUsers
      description: 'Returns a <code>UserSummaryList</code>, which is an array of <code>UserSummary</code> objects.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListUsersResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of results to return in the response.
          type: integer
          minimum: 1
          maximum: 1000
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /contact/outbound-voice:
    put:
      operationId: StartOutboundVoiceContact
      description: '<p>The <code>StartOutboundVoiceContact</code> operation initiates a contact flow to place an outbound call to a customer.</p> <p>If you are using an IAM account, it must have permission to the <code>connect:StartOutboundVoiceContact</code> action.</p> <p>There is a 60 second dialing timeout for this operation. If the call is not connected after 60 seconds, the call fails.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartOutboundVoiceContactResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: DestinationNotAllowedException
          schema:
            $ref: '#/definitions/DestinationNotAllowedException'
        '486':
          description: OutboundContactNotPermittedException
          schema:
            $ref: '#/definitions/OutboundContactNotPermittedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - DestinationPhoneNumber
              - ContactFlowId
              - InstanceId
            properties:
              DestinationPhoneNumber:
                description: The phone number of the customer in E.164 format.
                type: string
              ContactFlowId:
                description: '<p>The identifier for the contact flow to connect the outbound call to.</p> <p>To find the <code>ContactFlowId</code>, open the contact flow you want to use in the Amazon Connect contact flow editor. The ID for the contact flow is displayed in the address bar as part of the URL. For example, the contact flow ID is the set of characters at the end of the URL, after ''contact-flow/'' such as <code>78ea8fd5-2659-4f2b-b528-699760ccfc1b</code>.</p>'
                type: string
                maxLength: 500
              InstanceId:
                description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
                type: string
                minLength: 1
                maxLength: 100
              ClientToken:
                description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. The token is valid for 7 days after creation. If a contact is already started, the contact ID is returned. If the contact is disconnected, a new contact is started.'
                type: string
                maxLength: 500
              SourcePhoneNumber:
                description: 'The phone number, in E.164 format, associated with your Amazon Connect instance to use for the outbound call.'
                type: string
              QueueId:
                description: '<p>The queue to add the call to. If you specify a queue, the phone displayed for caller ID is the phone number specified in the queue. If you do not specify a queue, the queue used will be the queue defined in the contact flow.</p> <p>To find the <code>QueueId</code>, open the queue you want to use in the Amazon Connect Queue editor. The ID for the queue is displayed in the address bar as part of the URL. For example, the queue ID is the set of characters at the end of the URL, after ''queue/'' such as <code>queue/aeg40574-2d01-51c3-73d6-bf8624d2168c</code>.</p>'
                type: string
              Attributes:
                description: '<p>Specify a custom key-value pair using an attribute map. The attributes are standard Amazon Connect attributes, and can be accessed in contact flows just like any other contact attributes.</p> <p>There can be up to 32,768 UTF-8 bytes across all key-value pairs per contact. Attribute keys can include only alphanumeric, dash, and underscore characters.</p> <p>For example, if you want play a greeting when the customer answers the call, you can pass the customer name in attributes similar to the following:</p>'
                type: object
                additionalProperties:
                  $ref: '#/definitions/AttributeValue'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /contact/stop:
    post:
      operationId: StopContact
      description: '<p>Ends the contact initiated by the <code>StartOutboundVoiceContact</code> operation.</p> <p>If you are using an IAM account, it must have permission to the <code>connect:StopContact</code> action.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopContactResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ContactNotFoundException
          schema:
            $ref: '#/definitions/ContactNotFoundException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - ContactId
              - InstanceId
            properties:
              ContactId:
                description: The unique identifier of the contact to end.
                type: string
                minLength: 1
                maxLength: 256
              InstanceId:
                description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
                type: string
                minLength: 1
                maxLength: 100
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /contact/attributes:
    post:
      operationId: UpdateContactAttributes
      description: '<p>The <code>UpdateContactAttributes</code> operation lets you programmatically create new, or update existing, contact attributes associated with a contact. You can use the operation to add or update attributes for both ongoing and completed contacts. For example, you can update the customer''s name or the reason the customer called while the call is active, or add notes about steps that the agent took during the call that are displayed to the next agent that takes the call. You can also use the <code>UpdateContactAttributes</code> operation to update attributes for a contact using data from your CRM application and save the data with the contact in Amazon Connect. You could also flag calls for additional analysis, such as legal review or identifying abusive callers.</p> <p>Contact attributes are available in Amazon Connect for 24 months, and are then deleted.</p> <p> <i>Important:</i> </p> <p>You cannot use the operation to update attributes for contacts that occurred prior to the release of the API, September 12, 2018. You can update attributes only for contacts that started after the release of the API. If you attempt to update attributes for a contact that occurred prior to the release of the API, a 400 error is returned. This applies also to queued callbacks that were initiated prior to the release of the API but are still active in your instance.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateContactAttributesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - InitialContactId
              - InstanceId
              - Attributes
            properties:
              InitialContactId:
                description: The unique identifier of the contact for which to update attributes. This is the identifier for the contact associated with the first interaction with the contact center.
                type: string
                minLength: 1
                maxLength: 256
              InstanceId:
                description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
                type: string
                minLength: 1
                maxLength: 100
              Attributes:
                description: '<p>Specify a custom key-value pair using an attribute map. The attributes are standard Amazon Connect attributes, and can be accessed in contact flows just like any other contact attributes.</p> <p>There can be up to 32,768 UTF-8 bytes across all key-value pairs per contact. Attribute keys can include only alphanumeric, dash, and underscore characters.</p>'
                type: object
                additionalProperties:
                  $ref: '#/definitions/AttributeValue'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}/hierarchy':
    post:
      operationId: UpdateUserHierarchy
      description: Assigns the specified hierarchy group to the user.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: UserId
          in: path
          required: true
          description: The identifier of the user account to assign the hierarchy group to.
          type: string
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              HierarchyGroupId:
                description: The identifier for the hierarchy group to assign to the user.
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}/identity-info':
    post:
      operationId: UpdateUserIdentityInfo
      description: 'Updates the identity information for the specified user in a <code>UserIdentityInfo</code> object, including email, first name, and last name.'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: UserId
          in: path
          required: true
          description: The identifier for the user account to update identity information for.
          type: string
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - IdentityInfo
            properties:
              IdentityInfo:
                description: 'A <code>UserIdentityInfo</code> object that contains information about the user''s identity, including email address, first name, and last name.'
                type: object
                properties:
                  FirstName:
                    $ref: '#/definitions/AgentFirstName'
                    description: The first name used in the user account. This is required if you are using Amazon Connect or SAML for identity management.
                  LastName:
                    $ref: '#/definitions/AgentLastName'
                    description: The last name used in the user account. This is required if you are using Amazon Connect or SAML for identity management.
                  Email:
                    $ref: '#/definitions/Email'
                    description: 'The email address added to the user account. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}/phone-config':
    post:
      operationId: UpdateUserPhoneConfig
      description: Updates the phone configuration settings in the <code>UserPhoneConfig</code> object for the specified user.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: UserId
          in: path
          required: true
          description: The identifier for the user account to change phone settings for.
          type: string
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - PhoneConfig
            properties:
              PhoneConfig:
                description: A <code>UserPhoneConfig</code> object that contains information about the user phone configuration settings.
                type: object
                properties:
                  PhoneType:
                    $ref: '#/definitions/PhoneType'
                    description: 'The phone type selected for the user, either Soft phone or Desk phone.'
                  AutoAccept:
                    $ref: '#/definitions/AutoAccept'
                    description: 'The Auto accept setting for the user, Yes or No.'
                  AfterContactWorkTimeLimit:
                    $ref: '#/definitions/AfterContactWorkTimeLimit'
                    description: 'The After Call Work (ACW) timeout setting, in seconds, for the user.'
                  DeskPhoneNumber:
                    $ref: '#/definitions/PhoneNumber'
                    description: The phone number for the user's desk phone.
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}/routing-profile':
    post:
      operationId: UpdateUserRoutingProfile
      description: Assigns the specified routing profile to a user.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: UserId
          in: path
          required: true
          description: The identifier for the user account to assign the routing profile to.
          type: string
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - RoutingProfileId
            properties:
              RoutingProfileId:
                description: The identifier of the routing profile to assign to the user.
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/users/{InstanceId}/{UserId}/security-profiles':
    post:
      operationId: UpdateUserSecurityProfiles
      description: Updates the security profiles assigned to the user.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: UserId
          in: path
          required: true
          description: The identifier of the user account to assign the security profiles.
          type: string
        - name: InstanceId
          in: path
          required: true
          description: 'The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
          type: string
          minLength: 1
          maxLength: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - SecurityProfileIds
            properties:
              SecurityProfileIds:
                description: The identifiers for the security profiles to assign to the user.
                type: array
                items:
                  $ref: '#/definitions/SecurityProfileId'
                minItems: 1
                maxItems: 10
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  CreateUserResponse:
    type: object
    properties:
      UserId:
        $ref: '#/definitions/UserId'
        description: The unique identifier for the user account in Amazon Connect
      UserArn:
        $ref: '#/definitions/ARN'
        description: The Amazon Resource Name (ARN) of the user account created.
  AgentFirstName:
    type: string
    minLength: 1
    maxLength: 100
  AgentLastName:
    type: string
    minLength: 1
    maxLength: 100
  Email:
    type: string
  PhoneType:
    type: string
    enum:
      - SOFT_PHONE
      - DESK_PHONE
  AutoAccept:
    type: boolean
  AfterContactWorkTimeLimit:
    type: integer
    minimum: 0
  PhoneNumber:
    type: string
  SecurityProfileId:
    type: string
  InvalidRequestException: {}
  InvalidParameterException: {}
  LimitExceededException: {}
  DuplicateResourceException: {}
  ResourceNotFoundException: {}
  ThrottlingException: {}
  InternalServiceException: {}
  DescribeUserResponse:
    type: object
    properties:
      User:
        $ref: '#/definitions/User'
        description: A <code>User</code> object that contains information about the user account and configuration settings.
  DescribeUserHierarchyGroupResponse:
    type: object
    properties:
      HierarchyGroup:
        $ref: '#/definitions/HierarchyGroup'
        description: Returns a <code>HierarchyGroup</code> object.
  DescribeUserHierarchyStructureResponse:
    type: object
    properties:
      HierarchyStructure:
        $ref: '#/definitions/HierarchyStructure'
        description: A <code>HierarchyStructure</code> object.
  GetContactAttributesResponse:
    type: object
    properties:
      Attributes:
        $ref: '#/definitions/Attributes'
        description: The attributes to update.
  GetCurrentMetricDataResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: <p>A string returned in the response. Use the value returned in the response as the value of the NextToken in a subsequent request to retrieve the next set of results.</p> <p>The token expires after 5 minutes from the time it is created. Subsequent requests that use the NextToken must use the same request parameters as the request that generated the token. </p>
      MetricResults:
        $ref: '#/definitions/CurrentMetricResults'
        description: '<p>A list of <code>CurrentMetricResult</code> objects organized by <code>Dimensions</code> combining with <code>CurrentMetricDataCollections</code>.</p> <p> <code>Dimensions</code> is the resourceId specified in the <code>Filters</code> of the request. </p> <p> <code>Collections</code> is a list of <code>CurrentMetricData</code> objects with corresponding values to the <code>CurrentMetrics</code> specified in the request.</p> <p>If no <code>Grouping</code> is specified in the request, <code>Collections</code> is a summary for the <code>CurrentMetric</code> returned.</p>'
      DataSnapshotTime:
        $ref: '#/definitions/timestamp'
        description: The time at which <code>CurrentMetricData</code> was retrieved and cached for pagination.
  Queues:
    type: array
    items:
      $ref: '#/definitions/QueueId'
    minItems: 1
    maxItems: 100
  Channels:
    type: array
    items:
      $ref: '#/definitions/Channel'
    maxItems: 1
  Grouping:
    type: string
    enum:
      - QUEUE
      - CHANNEL
  CurrentMetric:
    type: object
    properties:
      Name:
        $ref: '#/definitions/CurrentMetricName'
        description: The name of the metric.
      Unit:
        $ref: '#/definitions/Unit'
        description: The unit for the metric.
    description: A <code>CurrentMetric</code> object that contains the Name and Unit for the metric.
  GetFederationTokenResponse:
    type: object
    properties:
      Credentials:
        $ref: '#/definitions/Credentials'
        description: The credentials to use for federation.
  UserNotFoundException: {}
  GetMetricDataResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: <p>A string returned in the response. Use the value returned in the response as the value of the NextToken in a subsequent request to retrieve the next set of results.</p> <p>The token expires after 5 minutes from the time it is created. Subsequent requests that use the NextToken must use the same request parameters as the request that generated the token. </p>
      MetricResults:
        $ref: '#/definitions/HistoricalMetricResults'
        description: '<p>A list of <code>HistoricalMetricResult</code> objects, organized by <code>Dimensions</code>, which is the ID of the resource specified in the <code>Filters</code> used for the request. The metrics are combined with the metrics included in <code>Collections</code>, which is a list of <code>HisotricalMetricData</code> objects.</p> <p>If no <code>Grouping</code> is specified in the request, <code>Collections</code> includes summary data for the <code>HistoricalMetrics</code>.</p>'
  HistoricalMetric:
    type: object
    properties:
      Name:
        $ref: '#/definitions/HistoricalMetricName'
        description: The name of the historical metric.
      Threshold:
        $ref: '#/definitions/Threshold'
        description: 'The threshold for the metric, used with service level metrics.'
      Statistic:
        $ref: '#/definitions/Statistic'
        description: The statistic for the metric.
      Unit:
        $ref: '#/definitions/Unit'
        description: The unit for the metric.
    description: 'A <code>HistoricalMetric</code> object that contains the Name, Unit, Statistic, and Threshold for the metric.'
  ListRoutingProfilesResponse:
    type: object
    properties:
      RoutingProfileSummaryList:
        $ref: '#/definitions/RoutingProfileSummaryList'
        description: 'An array of <code>RoutingProfileSummary</code> objects that include the ARN, Id, and Name of the routing profile.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: A string returned in the response. Use the value returned in the response as the value of the NextToken in a subsequent request to retrieve the next set of results.
  ListSecurityProfilesResponse:
    type: object
    properties:
      SecurityProfileSummaryList:
        $ref: '#/definitions/SecurityProfileSummaryList'
        description: An array of <code>SecurityProfileSummary</code> objects.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: A string returned in the response. Use the value returned in the response as the value of the NextToken in a subsequent request to retrieve the next set of results.
  ListUserHierarchyGroupsResponse:
    type: object
    properties:
      UserHierarchyGroupSummaryList:
        $ref: '#/definitions/HierarchyGroupSummaryList'
        description: An array of <code>HierarchyGroupSummary</code> objects.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: A string returned in the response. Use the value returned in the response as the value of the NextToken in a subsequent request to retrieve the next set of results.
  ListUsersResponse:
    type: object
    properties:
      UserSummaryList:
        $ref: '#/definitions/UserSummaryList'
        description: An array of <code>UserSummary</code> objects that contain information about the users in your instance.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: A string returned in the response. Use the value returned in the response as the value of the NextToken in a subsequent request to retrieve the next set of results.
  StartOutboundVoiceContactResponse:
    type: object
    properties:
      ContactId:
        $ref: '#/definitions/ContactId'
        description: The unique identifier of this contact within your Amazon Connect instance.
  AttributeValue:
    type: string
    minLength: 0
    maxLength: 32767
  DestinationNotAllowedException: {}
  OutboundContactNotPermittedException: {}
  StopContactResponse:
    type: object
    properties: {}
  ContactNotFoundException: {}
  UpdateContactAttributesResponse:
    type: object
    properties: {}
  ARN:
    type: string
  AgentUsername:
    type: string
    pattern: '[a-zA-Z0-9\_\-\.]+'
    minLength: 1
    maxLength: 20
  AttributeName:
    type: string
    minLength: 1
    maxLength: 32767
  Attributes:
    type: object
    additionalProperties:
      $ref: '#/definitions/AttributeValue'
  Channel:
    type: string
    enum:
      - VOICE
  ClientToken:
    type: string
    maxLength: 500
  Comparison:
    type: string
    enum:
      - LT
  ContactFlowId:
    type: string
    maxLength: 500
  ContactId:
    type: string
    minLength: 1
    maxLength: 256
  Password:
    type: string
    pattern: '/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d\S]{8,64}$/'
  UserIdentityInfo:
    type: object
    properties:
      FirstName:
        $ref: '#/definitions/AgentFirstName'
        description: The first name used in the user account. This is required if you are using Amazon Connect or SAML for identity management.
      LastName:
        $ref: '#/definitions/AgentLastName'
        description: The last name used in the user account. This is required if you are using Amazon Connect or SAML for identity management.
      Email:
        $ref: '#/definitions/Email'
        description: 'The email address added to the user account. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.'
    description: 'A <code>UserIdentityInfo</code> object that contains information about the user''s identity, including email address, first name, and last name.'
  UserPhoneConfig:
    type: object
    required:
      - PhoneType
    properties:
      PhoneType:
        $ref: '#/definitions/PhoneType'
        description: 'The phone type selected for the user, either Soft phone or Desk phone.'
      AutoAccept:
        $ref: '#/definitions/AutoAccept'
        description: 'The Auto accept setting for the user, Yes or No.'
      AfterContactWorkTimeLimit:
        $ref: '#/definitions/AfterContactWorkTimeLimit'
        description: 'The After Call Work (ACW) timeout setting, in seconds, for the user.'
      DeskPhoneNumber:
        $ref: '#/definitions/PhoneNumber'
        description: The phone number for the user's desk phone.
    description: A <code>UserPhoneConfig</code> object that contains information about the user phone configuration settings.
  DirectoryUserId:
    type: string
  SecurityProfileIds:
    type: array
    items:
      $ref: '#/definitions/SecurityProfileId'
    minItems: 1
    maxItems: 10
  RoutingProfileId:
    type: string
  HierarchyGroupId:
    type: string
  InstanceId:
    type: string
    minLength: 1
    maxLength: 100
  CreateUserRequest:
    type: object
    required:
      - Username
      - PhoneConfig
      - SecurityProfileIds
      - RoutingProfileId
    properties:
      Username:
        $ref: '#/definitions/AgentUsername'
        description: 'The user name in Amazon Connect for the account to create. If you are using SAML for identity management in your Amazon Connect, the value for <code>Username</code> can include up to 64 characters from [a-zA-Z0-9_-.\@]+.'
      Password:
        $ref: '#/definitions/Password'
        description: 'The password for the user account to create. This is required if you are using Amazon Connect for identity management. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.'
      IdentityInfo:
        $ref: '#/definitions/UserIdentityInfo'
        description: 'Information about the user, including email address, first name, and last name.'
      PhoneConfig:
        $ref: '#/definitions/UserPhoneConfig'
        description: 'Specifies the phone settings for the user, including <code>AfterContactWorkTimeLimit</code>, <code>AutoAccept</code>, <code>DeskPhoneNumber</code>, and <code>PhoneType</code>.'
      DirectoryUserId:
        $ref: '#/definitions/DirectoryUserId'
        description: '<p>The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the <code>UserIdentityInfo</code> is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>'
      SecurityProfileIds:
        $ref: '#/definitions/SecurityProfileIds'
        description: The unique identifier of the security profile to assign to the user created.
      RoutingProfileId:
        $ref: '#/definitions/RoutingProfileId'
        description: The unique identifier for the routing profile to assign to the user created.
      HierarchyGroupId:
        $ref: '#/definitions/HierarchyGroupId'
        description: The unique identifier for the hierarchy group to assign to the user created.
  UserId:
    type: string
  SecurityToken:
    type: string
    format: password
  timestamp:
    type: string
    format: date-time
  Credentials:
    type: object
    properties:
      AccessToken:
        $ref: '#/definitions/SecurityToken'
        description: An access token generated for a federated user to access Amazon Connect
      AccessTokenExpiration:
        $ref: '#/definitions/timestamp'
        description: A token generated with an expiration time for the session a user is logged in to Amazon Connect
      RefreshToken:
        $ref: '#/definitions/SecurityToken'
        description: Renews a token generated for a user to access the Amazon Connect instance.
      RefreshTokenExpiration:
        $ref: '#/definitions/timestamp'
        description: Renews the expiration timer for a generated token.
    description: The credentials to use for federation.
  CurrentMetricName:
    type: string
    enum:
      - AGENTS_ONLINE
      - AGENTS_AVAILABLE
      - AGENTS_ON_CALL
      - AGENTS_NON_PRODUCTIVE
      - AGENTS_AFTER_CONTACT_WORK
      - AGENTS_ERROR
      - AGENTS_STAFFED
      - CONTACTS_IN_QUEUE
      - OLDEST_CONTACT_AGE
      - CONTACTS_SCHEDULED
    description: A list of current metric names.
  Unit:
    type: string
    enum:
      - SECONDS
      - COUNT
      - PERCENT
  Value:
    type: number
    format: double
  CurrentMetricData:
    type: object
    properties:
      Metric:
        $ref: '#/definitions/CurrentMetric'
        description: The metric in a <code>CurrentMetricData</code> object.
      Value:
        $ref: '#/definitions/Value'
        description: The value of the metric in the CurrentMetricData object.
    description: A <code>CurrentMetricData</code> object.
  CurrentMetricDataCollections:
    type: array
    items:
      $ref: '#/definitions/CurrentMetricData'
  Dimensions:
    type: object
    properties:
      Queue:
        $ref: '#/definitions/QueueReference'
        description: A <code>QueueReference</code> object used as one part of dimension for the metrics results.
      Channel:
        $ref: '#/definitions/Channel'
        description: The channel used for grouping and filters. Only VOICE is supported.
    description: A <code>Dimensions</code> object that includes the Channel and Queue for the metric.
  CurrentMetricResult:
    type: object
    properties:
      Dimensions:
        $ref: '#/definitions/Dimensions'
        description: The <code>Dimensions</code> for the <code>CurrentMetricResult</code> object.
      Collections:
        $ref: '#/definitions/CurrentMetricDataCollections'
        description: The <code>Collections</code> for the <code>CurrentMetricResult</code> object.
    description: A <code>CurrentMetricResult</code> object.
  CurrentMetricResults:
    type: array
    items:
      $ref: '#/definitions/CurrentMetricResult'
  CurrentMetrics:
    type: array
    items:
      $ref: '#/definitions/CurrentMetric'
  DeleteUserRequest:
    type: object
    properties: {}
  DescribeUserHierarchyGroupRequest:
    type: object
    properties: {}
  HierarchyGroup:
    type: object
    properties:
      Id:
        $ref: '#/definitions/HierarchyGroupId'
        description: The identifier for the hierarchy group.
      Arn:
        $ref: '#/definitions/ARN'
        description: The Amazon Resource Name (ARN) for the hierarchy group.
      Name:
        $ref: '#/definitions/HierarchyGroupName'
        description: The name of the hierarchy group in your instance.
      LevelId:
        $ref: '#/definitions/HierarchyLevelId'
        description: The identifier for the level in the hierarchy group.
      HierarchyPath:
        $ref: '#/definitions/HierarchyPath'
        description: A <code>HierarchyPath</code> object that contains information about the levels in the hierarchy group.
    description: A <code>HierarchyGroup</code> object that contains information about a hierarchy group in your Amazon Connect instance.
  DescribeUserHierarchyStructureRequest:
    type: object
    properties: {}
  HierarchyStructure:
    type: object
    properties:
      LevelOne:
        $ref: '#/definitions/HierarchyLevel'
        description: A <code>HierarchyLevel</code> object that contains information about the hierarchy group level.
      LevelTwo:
        $ref: '#/definitions/HierarchyLevel'
        description: A <code>HierarchyLevel</code> object that contains information about the hierarchy group level.
      LevelThree:
        $ref: '#/definitions/HierarchyLevel'
        description: A <code>HierarchyLevel</code> object that contains information about the hierarchy group level.
      LevelFour:
        $ref: '#/definitions/HierarchyLevel'
        description: A <code>HierarchyLevel</code> object that contains information about the hierarchy group level.
      LevelFive:
        $ref: '#/definitions/HierarchyLevel'
        description: A <code>HierarchyLevel</code> object that contains information about the hierarchy group level.
    description: A <code>HierarchyStructure</code> object that contains information about the hierarchy group structure.
  DescribeUserRequest:
    type: object
    properties: {}
  User:
    type: object
    properties:
      Id:
        $ref: '#/definitions/UserId'
        description: The identifier of the user account.
      Arn:
        $ref: '#/definitions/ARN'
        description: The ARN of the user account.
      Username:
        $ref: '#/definitions/AgentUsername'
        description: The user name assigned to the user account.
      IdentityInfo:
        $ref: '#/definitions/UserIdentityInfo'
        description: A <code>UserIdentityInfo</code> object.
      PhoneConfig:
        $ref: '#/definitions/UserPhoneConfig'
        description: A <code>UserPhoneConfig</code> object.
      DirectoryUserId:
        $ref: '#/definitions/DirectoryUserId'
        description: The directory Id for the user account in the existing directory used for identity management.
      SecurityProfileIds:
        $ref: '#/definitions/SecurityProfileIds'
        description: The identifier(s) for the security profile assigned to the user.
      RoutingProfileId:
        $ref: '#/definitions/RoutingProfileId'
        description: The identifier of the routing profile assigned to the user.
      HierarchyGroupId:
        $ref: '#/definitions/HierarchyGroupId'
        description: The identifier for the hierarchy group assigned to the user.
    description: 'A <code>User</code> object that contains information about a user account in your Amazon Connect instance, including configuration settings.'
  QueueReference:
    type: object
    properties:
      Id:
        $ref: '#/definitions/QueueId'
        description: The ID of the queue associated with the metrics returned.
      Arn:
        $ref: '#/definitions/ARN'
        description: The Amazon Resource Name (ARN) of queue.
    description: A QueueReference object that contains the the QueueId and ARN for the queue resource for which metrics are returned.
  Filters:
    type: object
    properties:
      Queues:
        $ref: '#/definitions/Queues'
        description: A list of up to 100 queue IDs or queue ARNs to use to filter the metrics retrieved. You can include both IDs and ARNs in a request.
      Channels:
        $ref: '#/definitions/Channels'
        description: The Channel to use as a filter for the metrics returned. Only VOICE is supported.
    description: 'The filter, either channel or queues, to apply to the metric results retrieved.'
  GetContactAttributesRequest:
    type: object
    properties: {}
  Groupings:
    type: array
    items:
      $ref: '#/definitions/Grouping'
    maxItems: 2
  NextToken:
    type: string
  MaxResult100:
    type: integer
    minimum: 1
    maximum: 100
  GetCurrentMetricDataRequest:
    type: object
    required:
      - Filters
      - CurrentMetrics
    properties:
      Filters:
        $ref: '#/definitions/Filters'
        description: '<p>A <code>Filters</code> object that contains a list of queue IDs or queue ARNs, up to 100, or list of Channels to use to filter the metrics returned in the response. Metric data is retrieved only for the resources associated with the queue IDs, ARNs, or Channels included in the filter. You can include both IDs and ARNs in the same request. To retrieve metrics for all queues, add the queue ID or ARN for each queue in your instance. Only VOICE is supported for Channels.</p> <p>To find the ARN for a queue, open the queue you want to use in the Amazon Connect Queue editor. The ARN for the queue is displayed in the address bar as part of the URL. For example, the queue ARN is the set of characters at the end of the URL, after ''id='' such as <code>arn:aws:connect:us-east-1:270923740243:instance/78fb859d-1b7d-44b1-8aa3-12f0835c5855/queue/1d1a4575-9618-40ab-bbeb-81e45795fe61</code>. The queue ID is also included in the URL, and is the string after ''queue/''.</p>'
      Groupings:
        $ref: '#/definitions/Groupings'
        description: '<p>The grouping applied to the metrics returned. For example, when grouped by QUEUE, the metrics returned apply to each queue rather than aggregated for all queues. If you group by CHANNEL, you should include a Channels filter. The only supported channel is VOICE.</p> <p>If no <code>Grouping</code> is included in the request, a summary of <code>CurrentMetrics</code> is returned.</p>'
      CurrentMetrics:
        $ref: '#/definitions/CurrentMetrics'
        description: '<p>A list of <code>CurrentMetric</code> objects for the metrics to retrieve. Each <code>CurrentMetric</code> includes a name of a metric to retrieve and the unit to use for it. You must list each metric to retrieve data for in the request.</p> <p>The following metrics are available:</p> <dl> <dt>AGENTS_AVAILABLE</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_ONLINE</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_ON_CALL</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_STAFFED</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_AFTER_CONTACT_WORK</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_NON_PRODUCTIVE</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>AGENTS_ERROR</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>CONTACTS_IN_QUEUE</dt> <dd> <p>Unit: COUNT</p> </dd> <dt>OLDEST_CONTACT_AGE</dt> <dd> <p>Unit: SECONDS</p> </dd> <dt>CONTACTS_SCHEDULED</dt> <dd> <p>Unit: COUNT</p> </dd> </dl>'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: <p>The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.</p> <p>The token expires after 5 minutes from the time it is created. Subsequent requests that use the <a href="">NextToken</a> must use the same request parameters as the request that generated the token.</p>
      MaxResults:
        $ref: '#/definitions/MaxResult100'
        description: ' <code>MaxResults</code> indicates the maximum number of results to return per page in the response, between 1 and 100.'
  GetFederationTokenRequest:
    type: object
    properties: {}
  HistoricalMetrics:
    type: array
    items:
      $ref: '#/definitions/HistoricalMetric'
  GetMetricDataRequest:
    type: object
    required:
      - StartTime
      - EndTime
      - Filters
      - HistoricalMetrics
    properties:
      StartTime:
        $ref: '#/definitions/timestamp'
        description: '<p>The timestamp, in UNIX Epoch time format, at which to start the reporting interval for the retrieval of historical metrics data. The time must be specified using a multiple of 5 minutes, such as 10:05, 10:10, 10:15.</p> <p> <code>StartTime</code> cannot be earlier than 24 hours before the time of the request. Historical metrics are available in Amazon Connect only for 24 hours.</p>'
      EndTime:
        $ref: '#/definitions/timestamp'
        description: '<p>The timestamp, in UNIX Epoch time format, at which to end the reporting interval for the retrieval of historical metrics data. The time must be specified using an interval of 5 minutes, such as 11:00, 11:05, 11:10, and must be later than the <code>StartTime</code> timestamp.</p> <p>The time range between <code>StartTime</code> and <code>EndTime</code> must be less than 24 hours.</p>'
      Filters:
        $ref: '#/definitions/Filters'
[...]
