swagger: '2.0'
info:
  version: '2017-08-08'
  x-release: v4
  title: Amazon Connect Service
  description: 'The Amazon Connect API Reference provides descriptions, syntax, and usage examples for each of the Amazon Connect actions, data types, parameters, and errors. Amazon Connect is a cloud-based contact center solution that makes it easy to set up and manage a customer contact center and provide reliable customer engagement at any scale.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: connect
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/connect-2017-08-08.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/connect/'
host: connect.amazonaws.com
basePath: /
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /contact/outbound-voice:
    put:
      operationId: StartOutboundVoiceContact
      description: '<p>The <code>StartOutboundVoiceContact</code> operation initiates a contact flow to place an outbound call to a customer.</p> <p>There is a throttling limit placed on usage of the API that includes a <code>RateLimit</code> of 2 per second, and a <code>BurstLimit</code> of 5 per second.</p> <p>If you are using an IAM account, it must have permissions to the <code>connect:StartOutboundVoiceContact</code> action.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartOutboundVoiceContactResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: DestinationNotAllowedException
          schema:
            $ref: '#/definitions/DestinationNotAllowedException'
        '486':
          description: OutboundContactNotPermittedException
          schema:
            $ref: '#/definitions/OutboundContactNotPermittedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartOutboundVoiceContactRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /contact/stop:
    post:
      operationId: StopContact
      description: '<p>Ends the contact initiated by the <code>StartOutboundVoiceContact</code> operation.</p> <p>If you are using an IAM account, it must have permissions to the <code>connect:StopContact</code> operation.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopContactResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ContactNotFoundException
          schema:
            $ref: '#/definitions/ContactNotFoundException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopContactRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AttributeName:
    type: string
    description: Key for the key value pair to be used for additional attributes.
    minLength: 1
    maxLength: 32767
  AttributeValue:
    type: string
    description: Value for the key value pair to be used for additional attributes.
    minLength: 0
    maxLength: 32767
  Attributes:
    type: array
    description: Additional attributes can be provided in the request using this field. This will be passed to the contact flow execution. Client can make use of this additional info in their contact flow.
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/AttributeName'
        value:
          $ref: '#/definitions/AttributeValue'
  ClientToken:
    type: string
    description: Dedupe token to be provided by the client. This token is used to avoid duplicate calls to the customer.
    maxLength: 500
  ContactFlowId:
    type: string
    description: Amazon resource name for the contact flow to be executed to handle the current call.
    maxLength: 500
  ContactId:
    type: string
    description: Amazon Connect contact identifier. An unique ContactId will be generated for each contact request.
    minLength: 1
    maxLength: 256
  ContactNotFoundException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: The message.
    description: The contact with the specified ID is not active or does not exist.
  DestinationNotAllowedException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: The message.
    description: 'Outbound calls to the destination number are not allowed for your instance. You can request that the country be included in the allowed countries for your instance by submitting a <a href="https://console.aws.amazon.com/support/v1#/case/create?issueType=service-limit-increase">Service Limit Increase</a>.'
  InstanceId:
    type: string
    description: Amazon Connect Organization ARN. A client must provide its organization ARN in order to place a call. This defines the call from organization.
  InternalServiceException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: The message.
    description: Request processing failed due to an error or failure with the service.
  InvalidParameterException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: The message.
    description: One or more of the parameters provided to the operation are not valid.
  InvalidRequestException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: The message.
    description: The request is not valid.
  LimitExceededException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: The message.
    description: The limit exceeded the maximum allowed active calls in a queue.
  Message:
    type: string
  OutboundContactNotPermittedException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: The message.
    description: The contact is not permitted because outbound calling is not enabled for the instance.
  PhoneNumber:
    type: string
    description: End customer's phone number to call.
  QueueId:
    type: string
    description: Identifier of the queue to be used for the contact routing.
  ResourceNotFoundException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: The message.
    description: The specified resource was not found.
  StartOutboundVoiceContactRequest:
    type: object
    required:
      - DestinationPhoneNumber
      - ContactFlowId
      - InstanceId
    properties:
      DestinationPhoneNumber:
        $ref: '#/definitions/PhoneNumber'
        description: 'The phone number, in E.164 format, of the customer to call with the outbound contact.'
      ContactFlowId:
        $ref: '#/definitions/ContactFlowId'
        description: '<p>The identifier for the contact flow to execute for the outbound call. This is a GUID value only. Amazon Resource Name (ARN) values are not supported.</p> <p>To find the <code>ContactFlowId</code>, open the contact flow to use in the Amazon Connect contact flow designer. The ID for the contact flow is displayed in the address bar as part of the URL. For example, an address displayed when you open a contact flow is similar to the following: <code>https://myconnectinstance.awsapps.com/connect/contact-flows/edit?id=arn:aws:connect:us-east-1:361814831152:instance/2fb42df9-78a2-4b99-b484-f5cf80dc300c/contact-flow/<i>b0b8f2dd-ed1b-4c44-af36-ce189a178181</i> </code>. At the end of the URL, you see <code>contact-flow/b0b8f2dd-ed1b-4c44-af36-ce189a178181</code>. The <code>ContactFlowID</code> for this contact flow is <code> <i>b0b8f2dd-ed1b-4c44-af36-ce189a178181</i> </code>. Make sure to include only the GUID after the "contact-flow/" in your requests.</p>'
      InstanceId:
        $ref: '#/definitions/InstanceId'
        description: 'The identifier for your Amazon Connect instance. To find the <code>InstanceId</code> value for your Amazon Connect instance, open the <a href="https://console.aws.amazon.com/connect/">Amazon Connect console</a>. Select the instance alias of the instance and view the instance ID in the <b>Overview</b> section. For example, the instance ID is the set of characters at the end of the instance ARN, after "instance/", such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.'
      ClientToken:
        $ref: '#/definitions/ClientToken'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. The token is valid for 7 days after creation. If a contact is already started, the contact ID is returned. If the contact is disconnected, a new contact is started.'
      SourcePhoneNumber:
        $ref: '#/definitions/PhoneNumber'
        description: 'The phone number, in E.164 format, associated with your Amazon Connect instance to use to place the outbound call.'
      QueueId:
        $ref: '#/definitions/QueueId'
        description: '<p>The queue to which to add the call. If you specify a queue, the phone displayed for caller ID is the phone number defined for the queue. If you do not specify a queue, the queue used is the queue defined in the contact flow specified by <code>ContactFlowId</code>.</p> <p>To find the <code>QueueId</code>, open the queue to use in the Amazon Connect queue editor. The ID for the queue is displayed in the address bar as part of the URL. For example, the <code>QueueId</code> value is the set of characters at the end of the URL, after "queue/", such as <code>aeg40574-2d01-51c3-73d6-bf8624d2168c</code>.</p>'
      Attributes:
        $ref: '#/definitions/Attributes'
        description: '<p>Specify a custom key-value pair using an attribute map. The attributes are standard Amazon Connect attributes, and can be accessed in contact flows just like any other contact attributes.</p> <p>There can be up to 32,768 UTF-8 bytes across all key-value pairs. Attribute keys can include only alphanumeric, dash, and underscore characters.</p> <p>For example, to play a greeting when the customer answers the call, you can pass the customer name in attributes similar to the following:</p>'
  StartOutboundVoiceContactResponse:
    type: object
    properties:
      ContactId:
        $ref: '#/definitions/ContactId'
        description: The unique identifier of this contact within your Amazon Connect instance.
  StopContactRequest:
    type: object
    required:
      - ContactId
      - InstanceId
    properties:
      ContactId:
        $ref: '#/definitions/ContactId'
        description: The unique identifier of the contact to end. This is the <code>ContactId</code> value returned from the <code>StartOutboundVoiceContact</code> operation.
      InstanceId:
        $ref: '#/definitions/InstanceId'
        description: The identifier of the Amazon Connect instance in which the contact is active.
  StopContactResponse:
    type: object
    properties: {}
