openapi: 3.0.1
servers:
  - url: https://verify.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Verify
  version: 1.42.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_verify_v2.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_verify_v2
paths:
  /v2/Attempts:
    description: "TODO: Resource-level docs"
    get:
      description: List all the verification attempts for a given Account.
      operationId: ListVerificationAttempt
      parameters:
        - description: Datetime filter used to query Verification Attempts created after this datetime. Given as GMT in RFC 2822 format.
          in: query
          name: DateCreatedAfter
          schema:
            format: date-time
            type: string
        - description: Datetime filter used to query Verification Attempts created before this datetime. Given as GMT in RFC 2822 format.
          in: query
          name: DateCreatedBefore
          schema:
            format: date-time
            type: string
        - description: Destination of a verification. It is phone number in E.164 format.
          in: query
          name: ChannelData.To
          schema:
            type: string
        - description: Filter used to query Verification Attempts sent to the specified destination country.
          in: query
          name: Country
          schema:
            format: iso-country-code
            type: string
        - description: Filter used to query Verification Attempts by communication channel. Valid values are `SMS` and `CALL`
          in: query
          name: Channel
          schema:
            $ref: "#/components/schemas/verification_attempt_enum_channels"
            type: string
        - description: Filter used to query Verification Attempts by verify service. Only attempts of the provided SID will be returned.
          in: query
          name: VerifyServiceSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: Filter used to return all the Verification Attempts of a single verification. Only attempts of the provided verification SID will be returned.
          in: query
          name: VerificationSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VE[0-9a-fA-F]{32}$
            type: string
        - description: Filter used to query Verification Attempts by conversion status. Valid values are `UNCONVERTED`, for attempts that were not converted, and `CONVERTED`, for attempts that were confirmed.
          in: query
          name: Status
          schema:
            $ref: "#/components/schemas/verification_attempt_enum_conversion_status"
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  attempts:
                    items:
                      $ref: "#/components/schemas/verify.v2.verification_attempt"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListVerificationAttemptResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - date_created
        - date_updated
        - conversion_status
        - channel
      mountName: verification_attempts
      pathType: list
  /v2/Attempts/Summary:
    description: "TODO: Resource-level docs"
    get:
      description: Get a summary of how many attempts were made and how many were converted.
      operationId: FetchVerificationAttemptsSummary
      parameters:
        - description: Filter used to consider only Verification Attempts of the given verify service on the summary aggregation.
          in: query
          name: VerifyServiceSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: Datetime filter used to consider only Verification Attempts created after this datetime on the summary aggregation. Given as GMT in RFC 2822 format.
          in: query
          name: DateCreatedAfter
          schema:
            format: date-time
            type: string
        - description: Datetime filter used to consider only Verification Attempts created before this datetime on the summary aggregation. Given as GMT in RFC 2822 format.
          in: query
          name: DateCreatedBefore
          schema:
            format: date-time
            type: string
        - description: Filter used to consider only Verification Attempts sent to the specified destination country on the summary aggregation.
          in: query
          name: Country
          schema:
            format: iso-country-code
            type: string
        - description: Filter Verification Attempts considered on the summary aggregation by communication channel. Valid values are `SMS` and `CALL`
          in: query
          name: Channel
          schema:
            $ref: "#/components/schemas/verification_attempts_summary_enum_channels"
            type: string
        - description: Filter the Verification Attempts considered on the summary aggregation by Destination prefix. It is the prefix of a phone number in E.164 format.
          in: query
          name: DestinationPrefix
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.verification_attempts_summary"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - total_attempts
        - total_converted
        - total_unconverted
        - conversion_rate_percentage
      mountName: verification_attempts_summary
      pathType: instance
  "/v2/Attempts/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific verification attempt.
      operationId: FetchVerificationAttempt
      parameters:
        - description: The unique SID identifier of a Verification Attempt
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VL[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.verification_attempt"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - date_created
        - date_updated
        - conversion_status
        - channel
      mountName: verification_attempts
      pathType: instance
  "/v2/Forms/{FormType}":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch the forms for a specific Form Type.
      operationId: FetchForm
      parameters:
        - description: The Type of this Form. Currently only `form-push` is supported.
          in: path
          name: FormType
          required: true
          schema:
            $ref: "#/components/schemas/form_enum_form_types"
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.form"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - form_type
      pathType: instance
  /v2/SafeList/Numbers:
    description: "TODO: Resource-level docs"
    post:
      description: Add a new phone number to SafeList.
      operationId: CreateSafelist
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                PhoneNumber:
                  description: The phone number to be added in SafeList. Phone numbers must be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164).
                  type: string
              required:
                - PhoneNumber
              title: CreateSafelistRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.safelist"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - phone_number
      mountName: safelist
      pathType: list
  "/v2/SafeList/Numbers/{PhoneNumber}":
    delete:
      description: Remove a phone number from SafeList.
      operationId: DeleteSafelist
      parameters:
        - description: The phone number to be removed from SafeList. Phone numbers must be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164).
          in: path
          name: PhoneNumber
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: "TODO: Resource-level docs"
    get:
      description: Check if a phone number exists in SafeList.
      operationId: FetchSafelist
      parameters:
        - description: The phone number to be fetched from SafeList. Phone numbers must be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164).
          in: path
          name: PhoneNumber
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.safelist"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - phone_number
      mountName: safelist
      pathType: instance
  /v2/Services:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Verification Services for an account.
      operationId: ListService
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  services:
                    items:
                      $ref: "#/components/schemas/verify.v2.service"
                    type: array
                title: ListServiceResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new Verification Service.
      operationId: CreateService
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CodeLength:
                  description: The length of the verification code to generate. Must be an integer value between 4 and 10, inclusive.
                  type: integer
                CustomCodeEnabled:
                  description: Whether to allow sending verifications with a custom code instead of a randomly generated one. Not available for all customers.
                  type: boolean
                DefaultTemplateSid:
                  description: The default message [template](https://www.twilio.com/docs/verify/api/templates). Will be used for all SMS verifications unless explicitly overriden. SMS channel only.
                  maxLength: 34
                  minLength: 34
                  pattern: ^HJ[0-9a-fA-F]{32}$
                  type: string
                DoNotShareWarningEnabled:
                  description: "Whether to add a security warning at the end of an SMS verification body. Disabled by default and applies only to SMS. Example SMS body: `Your AppName verification code is: 1234. Don’t share this code with anyone; our employees will never ask for the code`"
                  type: boolean
                DtmfInputRequired:
                  description: Whether to ask the user to press a number before delivering the verify code in a phone call.
                  type: boolean
                FriendlyName:
                  description: A descriptive string that you create to describe the verification service. It can be up to 32 characters long. **This value should not contain PII.**
                  type: string
                LookupEnabled:
                  description: Whether to perform a lookup with each verification started and return info about the phone number.
                  type: boolean
                Psd2Enabled:
                  description: Whether to pass PSD2 transaction parameters when starting a verification.
                  type: boolean
                Push.ApnCredentialSid:
                  description: Optional configuration for the Push factors. Set the APN Credential for this service. This will allow to send push notifications to iOS devices. See [Credential Resource](https://www.twilio.com/docs/notify/api/credential-resource)
                  maxLength: 34
                  minLength: 34
                  pattern: ^CR[0-9a-fA-F]{32}$
                  type: string
                Push.FcmCredentialSid:
                  description: Optional configuration for the Push factors. Set the FCM Credential for this service. This will allow to send push notifications to Android devices. See [Credential Resource](https://www.twilio.com/docs/notify/api/credential-resource)
                  maxLength: 34
                  minLength: 34
                  pattern: ^CR[0-9a-fA-F]{32}$
                  type: string
                Push.IncludeDate:
                  description: "Optional configuration for the Push factors. If true, include the date in the Challenge's response. Otherwise, the date is omitted from the response. See [Challenge](https://www.twilio.com/docs/verify/api/challenge) resource’s details parameter for more info. Default: false. **Deprecated** do not use this parameter. This timestamp value is the same one as the one found in `date_created`, please use that one instead."
                  type: boolean
                SkipSmsToLandlines:
                  description: Whether to skip sending SMS verifications to landlines. Requires `lookup_enabled`.
                  type: boolean
                Totp.CodeLength:
                  description: Optional configuration for the TOTP factors. Number of digits for generated TOTP codes. Must be between 3 and 8, inclusive. Defaults to 6
                  type: integer
                Totp.Issuer:
                  description: Optional configuration for the TOTP factors. Set TOTP Issuer for this service. This will allow to configure the issuer of the TOTP URI. Defaults to the service friendly name if not provided.
                  type: string
                Totp.Skew:
                  description: Optional configuration for the TOTP factors. The number of time-steps, past and future, that are valid for validation of TOTP codes. Must be between 0 and 2, inclusive. Defaults to 1
                  type: integer
                Totp.TimeStep:
                  description: Optional configuration for the TOTP factors. Defines how often, in seconds, are TOTP codes generated. i.e, a new TOTP code is generated every time_step seconds. Must be between 20 and 60 seconds, inclusive. Defaults to 30 seconds
                  type: integer
                TtsName:
                  description: The name of an alternative text-to-speech service to use in phone calls. Applies only to TTS languages.
                  type: string
              required:
                - FriendlyName
              title: CreateServiceRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - date_created
      pathType: list
  "/v2/Services/{ServiceSid}/AccessTokens":
    description: "TODO: Resource-level docs"
    post:
      description: Create a new enrollment Access Token for the Entity
      operationId: CreateAccessToken
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FactorFriendlyName:
                  description: The friendly name of the factor that is going to be created with this access token
                  type: string
                FactorType:
                  $ref: "#/components/schemas/access_token_enum_factor_types"
                  description: The Type of this Factor. Eg. `push`
                  type: string
                Identity:
                  description: The unique external identifier for the Entity of the Service. This identifier should be immutable, not PII, and generated by your external system, such as your user's UUID, GUID, or SID.
                  type: string
                Ttl:
                  description: How long, in seconds, the access token is valid. Can be an integer between 60 and 300. Default is 60.
                  type: integer
              required:
                - Identity
                - FactorType
              title: CreateAccessTokenRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.access_token"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - account_sid
        - service_sid
        - entity_identity
        - factor_type
        - factor_friendly_name
        - token
        - ttl
        - date_created
      parent: /Services/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/AccessTokens/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch an Access Token for the Entity
      operationId: FetchAccessToken
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: A 34 character string that uniquely identifies this Access Token.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^YK[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.access_token"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - account_sid
        - service_sid
        - entity_identity
        - factor_type
        - factor_friendly_name
        - token
        - ttl
        - date_created
      parent: /Services/{Sid}
      pathType: instance
  "/v2/Services/{ServiceSid}/Entities":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Entities for a Service.
      operationId: ListEntity
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  entities:
                    items:
                      $ref: "#/components/schemas/verify.v2.service.entity"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListEntityResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new Entity for the Service
      operationId: CreateEntity
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Identity:
                  description: The unique external identifier for the Entity of the Service. This identifier should be immutable, not PII, length between 8 and 64 characters, and generated by your external system, such as your user's UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric characters.
                  type: string
              required:
                - Identity
              title: CreateEntityRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.entity"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - identity
        - date_created
      parent: /Services/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/Entities/{Identity}":
    delete:
      description: Delete a specific Entity.
      operationId: DeleteEntity
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: The unique external identifier for the Entity of the Service. This identifier should be immutable, not PII, length between 8 and 64 characters, and generated by your external system, such as your user's UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric characters.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Entity.
      operationId: FetchEntity
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: The unique external identifier for the Entity of the Service. This identifier should be immutable, not PII, length between 8 and 64 characters, and generated by your external system, such as your user's UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric characters.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.entity"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - identity
        - date_created
      parent: /Services/{Sid}
      pathType: instance
  "/v2/Services/{ServiceSid}/Entities/{Identity}/Challenges":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Challenges for a Factor.
      operationId: ListChallenge
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: Customer unique identity for the Entity owner of the Challenge. This identifier should be immutable, not PII, length between 8 and 64 characters, and generated by your external system, such as your user's UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric characters.
          in: path
          name: Identity
          required: true
          schema:
            type: string
        - description: The unique SID identifier of the Factor.
          in: query
          name: FactorSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^YF[0-9a-fA-F]{32}$
            type: string
        - description: The Status of the Challenges to fetch. One of `pending`, `expired`, `approved` or `denied`.
          in: query
          name: Status
          schema:
            $ref: "#/components/schemas/challenge_enum_challenge_statuses"
            type: string
        - description: The desired sort order of the Challenges list. One of `asc` or `desc` for ascending and descending respectively. Defaults to `asc`.
          in: query
          name: Order
          schema:
            $ref: "#/components/schemas/challenge_enum_list_orders"
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  challenges:
                    items:
                      $ref: "#/components/schemas/verify.v2.service.entity.challenge"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListChallengeResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new Challenge for the Factor
      operationId: CreateChallenge
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: Customer unique identity for the Entity owner of the Challenge. This identifier should be immutable, not PII, length between 8 and 64 characters, and generated by your external system, such as your user's UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric characters.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AuthPayload:
                  description: Optional payload used to verify the Challenge upon creation. Only used with a Factor of type `totp` to carry the TOTP code that needs to be verified. For `TOTP` this value must be between 3 and 8 characters long.
                  type: string
                Details.Fields:
                  description: A list of objects that describe the Fields included in the Challenge. Each object contains the label and value of the field, the label can be up to 36 characters in length and the value can be up to 128 characters in length. Used when `factor_type` is `push`. There can be up to 20 details fields.
                  items: {}
                  type: array
                Details.Message:
                  description: Shown to the user when the push notification arrives. Required when `factor_type` is `push`. Can be up to 256 characters in length
                  type: string
                ExpirationDate:
                  description: The date-time when this Challenge expires, given in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format. The default value is five (5) minutes after Challenge creation. The max value is sixty (60) minutes after creation.
                  format: date-time
                  type: string
                FactorSid:
                  description: The unique SID identifier of the Factor.
                  maxLength: 34
                  minLength: 34
                  pattern: ^YF[0-9a-fA-F]{32}$
                  type: string
                HiddenDetails:
                  description: 'Details provided to give context about the Challenge. Not shown to the end user. It must be a stringified JSON with only strings values eg. `{"ip": "172.168.1.234"}`. Can be up to 1024 characters in length'
              required:
                - FactorSid
              title: CreateChallengeRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.entity.challenge"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - factor_type
        - status
        - responded_reason
        - date_created
      parent: /Services/{ServiceSid}/Entities/{Identity}
      pathType: list
  "/v2/Services/{ServiceSid}/Entities/{Identity}/Challenges/{ChallengeSid}/Notifications":
    description: "TODO: Resource-level docs"
    post:
      description: Create a new Notification for the corresponding Challenge
      operationId: CreateNotification
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: Customer unique identity for the Entity owner of the Challenge. This identifier should be immutable, not PII, length between 8 and 64 characters, and generated by your external system, such as your user's UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric characters.
          in: path
          name: Identity
          required: true
          schema:
            type: string
        - description: The unique SID identifier of the Challenge.
          in: path
          name: ChallengeSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^YC[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Ttl:
                  description: How long, in seconds, the notification is valid. Can be an integer between 0 and 300. Default is 300. Delivery is attempted until the TTL elapses, even if the device is offline. 0 means that the notification delivery is attempted immediately, only once, and is not stored for future delivery.
                  type: integer
              title: CreateNotificationRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.entity.challenge.notification"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - identity
        - challenge_sid
        - date_created
      parent: /Services/{ServiceSid}/Entities/{Identity}/Challenges/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/Entities/{Identity}/Challenges/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Challenge.
      operationId: FetchChallenge
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: Customer unique identity for the Entity owner of the Challenges. This identifier should be immutable, not PII, length between 8 and 64 characters, and generated by your external system, such as your user's UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric characters.
          in: path
          name: Identity
          required: true
          schema:
            type: string
        - description: A 34 character string that uniquely identifies this Challenge.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^YC[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.entity.challenge"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Verify a specific Challenge.
      operationId: UpdateChallenge
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: Customer unique identity for the Entity owner of the Challenge. This identifier should be immutable, not PII, length between 8 and 64 characters, and generated by your external system, such as your user's UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric characters.
          in: path
          name: Identity
          required: true
          schema:
            type: string
        - description: A 34 character string that uniquely identifies this Challenge.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^YC[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AuthPayload:
                  description: The optional payload needed to verify the Challenge. E.g., a TOTP would use the numeric code. For `TOTP` this value must be between 3 and 8 characters long. For `Push` this value can be up to 5456 characters in length
                  type: string
                Metadata:
                  description: 'Custom metadata associated with the challenge. This is added by the Device/SDK directly to allow for the inclusion of device information. It must be a stringified JSON with only strings values eg. `{"os": "Android"}`. Can be up to 1024 characters in length.'
              title: UpdateChallengeRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.entity.challenge"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - factor_type
        - status
        - responded_reason
        - date_created
      parent: /Services/{ServiceSid}/Entities/{Identity}
      pathType: instance
  "/v2/Services/{ServiceSid}/Entities/{Identity}/Factors":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Factors for an Entity.
      operationId: ListFactor
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: Customer unique identity for the Entity owner of the Factors. This identifier should be immutable, not PII, length between 8 and 64 characters, and generated by your external system, such as your user's UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric characters.
          in: path
          name: Identity
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  factors:
                    items:
                      $ref: "#/components/schemas/verify.v2.service.entity.factor"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListFactorResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new Factor for the Entity
      operationId: CreateNewFactor
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: Customer unique identity for the Entity owner of the Factor. This identifier should be immutable, not PII, length between 8 and 64 characters, and generated by your external system, such as your user's UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric characters.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Binding.Alg:
                  description: "The algorithm used when `factor_type` is `push`. Algorithm supported: `ES256`"
                  type: string
                Binding.PublicKey:
                  description: |-
                    The Ecdsa public key in PKIX, ASN.1 DER format encoded in Base64.

                    Required when `factor_type` is `push`
                  type: string
                Binding.Secret:
                  description: |-
                    The shared secret for TOTP factors encoded in Base32. This can be provided when creating the Factor, otherwise it will be generated.

                    Used when `factor_type` is `totp`
                  type: string
                Config.Alg:
                  $ref: "#/components/schemas/new_factor_enum_totp_algorithms"
                  description: |-
                    The algorithm used to derive the TOTP codes. Can be `sha1`, `sha256` or `sha512`. Defaults to `sha1`.

                    Used when `factor_type` is `totp`
                  type: string
                Config.AppId:
                  description: |-
                    The ID that uniquely identifies your app in the Google or Apple store, such as `com.example.myapp`. It can be up to 100 characters long.

                    Required when `factor_type` is `push`.
                  type: string
                Config.CodeLength:
                  description: |-
                    Number of digits for generated TOTP codes. Must be between 3 and 8, inclusive. The default value is defined at the service level in the property `totp.code_length`. If not configured defaults to 6.

                    Used when `factor_type` is `totp`
                  type: integer
                Config.NotificationPlatform:
                  $ref: "#/components/schemas/new_factor_enum_notification_platforms"
                  description: |-
                    The transport technology used to generate the Notification Token. Can be `apn`, `fcm` or `none`.

                    Required when `factor_type` is `push`.
                  type: string
                Config.NotificationToken:
                  description: |-
                    For APN, the device token. For FCM, the registration token. It is used to send the push notifications. Must be between 32 and 255 characters long.

                    Required when `factor_type` is `push`.
                  type: string
                Config.SdkVersion:
                  description: |-
                    The Verify Push SDK version used to configure the factor

                    Required when `factor_type` is `push`
                  type: string
                Config.Skew:
                  description: |-
                    The number of time-steps, past and future, that are valid for validation of TOTP codes. Must be between 0 and 2, inclusive. The default value is defined at the service level in the property `totp.skew`. If not configured defaults to 1.

                    Used when `factor_type` is `totp`
                  type: integer
                Config.TimeStep:
                  description: |-
                    Defines how often, in seconds, are TOTP codes generated. i.e, a new TOTP code is generated every time_step seconds. Must be between 20 and 60 seconds, inclusive. The default value is defined at the service level in the property `totp.time_step`. Defaults to 30 seconds if not configured.

                    Used when `factor_type` is `totp`
                  type: integer
                FactorType:
                  $ref: "#/components/schemas/new_factor_enum_factor_types"
                  description: The Type of this Factor. Currently `push` and `totp` are supported.
                  type: string
                FriendlyName:
                  description: |-
                    The friendly name of this Factor. This can be any string up to 64 characters, meant for humans to distinguish between Factors.
                    For `factor_type` `push`, this could be a device name.
                    For `factor_type` `totp`, this value is used as the “account name” in constructing the `binding.uri` property.
                    At the same time, we recommend avoiding providing PII.
                  type: string
                Metadata:
                  description: 'Custom metadata associated with the factor. This is added by the Device/SDK directly to allow for the inclusion of device information. It must be a stringified JSON with only strings values eg. `{"os": "Android"}`. Can be up to 1024 characters in length.'
              required:
                - FriendlyName
                - FactorType
              title: CreateNewFactorRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.entity.new_factor"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
      x-twilio:
        mountName: new_factors
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - status
        - factor_type
      parent: /Services/{ServiceSid}/Entities/{Identity}
      pathType: list
  "/v2/Services/{ServiceSid}/Entities/{Identity}/Factors/{Sid}":
    delete:
      description: Delete a specific Factor.
      operationId: DeleteFactor
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: Customer unique identity for the Entity owner of the Factor. This identifier should be immutable, not PII, length between 8 and 64 characters, and generated by your external system, such as your user's UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric characters.
          in: path
          name: Identity
          required: true
          schema:
            type: string
        - description: A 34 character string that uniquely identifies this Factor.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^YF[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Factor.
      operationId: FetchFactor
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: Customer unique identity for the Entity owner of the Factor. This identifier should be immutable, not PII, length between 8 and 64 characters, and generated by your external system, such as your user's UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric characters.
          in: path
          name: Identity
          required: true
          schema:
            type: string
        - description: A 34 character string that uniquely identifies this Factor.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^YF[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.entity.factor"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update a specific Factor. This endpoint can be used to Verify a Factor if passed an `AuthPayload` param.
      operationId: UpdateFactor
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: Customer unique identity for the Entity owner of the Factor. This identifier should be immutable, not PII, length between 8 and 64 characters, and generated by your external system, such as your user's UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric characters.
          in: path
          name: Identity
          required: true
          schema:
            type: string
        - description: A 34 character string that uniquely identifies this Factor.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^YF[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AuthPayload:
                  description: The optional payload needed to verify the Factor for the first time. E.g. for a TOTP, the numeric code.
                  type: string
                Config.Alg:
                  $ref: "#/components/schemas/factor_enum_totp_algorithms"
                  description: The algorithm used to derive the TOTP codes. Can be `sha1`, `sha256` or `sha512`
                  type: string
                Config.CodeLength:
                  description: Number of digits for generated TOTP codes. Must be between 3 and 8, inclusive
                  type: integer
                Config.NotificationPlatform:
                  description: |-
                    The transport technology used to generate the Notification Token. Can be `apn`, `fcm` or `none`.

                    Required when `factor_type` is `push`.
                  type: string
                Config.NotificationToken:
                  description: For APN, the device token. For FCM, the registration token. It is used to send the push notifications. Required when `factor_type` is `push`. If specified, this value must be between 32 and 255 characters long.
                  type: string
                Config.SdkVersion:
                  description: The Verify Push SDK version used to configure the factor
                  type: string
                Config.Skew:
                  description: The number of time-steps, past and future, that are valid for validation of TOTP codes. Must be between 0 and 2, inclusive
                  type: integer
                Config.TimeStep:
                  description: Defines how often, in seconds, are TOTP codes generated. i.e, a new TOTP code is generated every time_step seconds. Must be between 20 and 60 seconds, inclusive
                  type: integer
                FriendlyName:
                  description: The new friendly name of this Factor. It can be up to 64 characters.
                  type: string
              title: UpdateFactorRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.entity.factor"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - status
        - factor_type
      parent: /Services/{ServiceSid}/Entities/{Identity}
      pathType: instance
  "/v2/Services/{ServiceSid}/MessagingConfigurations":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Messaging Configurations for a Service.
      operationId: ListMessagingConfiguration
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/verify/api/service) that the resource is associated with.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  messaging_configurations:
                    items:
                      $ref: "#/components/schemas/verify.v2.service.messaging_configuration"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListMessagingConfigurationResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new MessagingConfiguration for a service.
      operationId: CreateMessagingConfiguration
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/verify/api/service) that the resource is associated with.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Country:
                  description: The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the country this configuration will be applied to. If this is a global configuration, Country will take the value `all`.
                  type: string
                MessagingServiceSid:
                  description: The SID of the [Messaging Service](https://www.twilio.com/docs/sms/services/api) to be used to send SMS to the country of this configuration.
                  maxLength: 34
                  minLength: 34
                  pattern: ^MG[0-9a-fA-F]{32}$
                  type: string
              required:
                - Country
                - MessagingServiceSid
              title: CreateMessagingConfigurationRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.messaging_configuration"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - account_sid
        - service_sid
        - country
        - messaging_service_sid
        - date_created
        - date_updated
      parent: /Services/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/MessagingConfigurations/{Country}":
    delete:
      description: Delete a specific MessagingConfiguration.
      operationId: DeleteMessagingConfiguration
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/verify/api/service) that the resource is associated with.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the country this configuration will be applied to. If this is a global configuration, Country will take the value `all`.
          in: path
          name: Country
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific MessagingConfiguration.
      operationId: FetchMessagingConfiguration
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/verify/api/service) that the resource is associated with.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the country this configuration will be applied to. If this is a global configuration, Country will take the value `all`.
          in: path
          name: Country
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.messaging_configuration"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update a specific MessagingConfiguration
      operationId: UpdateMessagingConfiguration
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/verify/api/service) that the resource is associated with.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the country this configuration will be applied to. If this is a global configuration, Country will take the value `all`.
          in: path
          name: Country
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                MessagingServiceSid:
                  description: The SID of the [Messaging Service](https://www.twilio.com/docs/sms/services/api) to be used to send SMS to the country of this configuration.
                  maxLength: 34
                  minLength: 34
                  pattern: ^MG[0-9a-fA-F]{32}$
                  type: string
              required:
                - MessagingServiceSid
              title: UpdateMessagingConfigurationRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.messaging_configuration"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - account_sid
        - service_sid
        - country
        - messaging_service_sid
        - date_created
        - date_updated
      parent: /Services/{Sid}
      pathType: instance
  "/v2/Services/{ServiceSid}/RateLimits":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Rate Limits for a service.
      operationId: ListRateLimit
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/verify/api/service) the resource is associated with.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  rate_limits:
                    items:
                      $ref: "#/components/schemas/verify.v2.service.rate_limit"
                    type: array
                title: ListRateLimitResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new Rate Limit for a Service
      operationId: CreateRateLimit
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/verify/api/service) the resource is associated with.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Description:
                  description: Description of this Rate Limit
                  type: string
                UniqueName:
                  description: Provides a unique and addressable name to be assigned to this Rate Limit, assigned by the developer, to be optionally used in addition to SID. **This value should not contain PII.**
                  type: string
              required:
                - UniqueName
              title: CreateRateLimitRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.rate_limit"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - service_sid
        - account_sid
        - unique_name
        - description
        - date_created
        - date_updated
      parent: /Services/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/RateLimits/{RateLimitSid}/Buckets":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Buckets for a Rate Limit.
      operationId: ListBucket
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/verify/api/service) the resource is associated with.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Rate Limit resource.
          in: path
          name: RateLimitSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RK[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  buckets:
                    items:
                      $ref: "#/components/schemas/verify.v2.service.rate_limit.bucket"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListBucketResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new Bucket for a Rate Limit
      operationId: CreateBucket
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/verify/api/service) the resource is associated with.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Rate Limit resource.
          in: path
          name: RateLimitSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RK[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Interval:
                  description: Number of seconds that the rate limit will be enforced over.
                  type: integer
                Max:
                  description: Maximum number of requests permitted in during the interval.
                  type: integer
              required:
                - Max
                - Interval
              title: CreateBucketRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.rate_limit.bucket"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - service_sid
        - rate_limit_sid
        - account_sid
        - max
        - interval
        - date_created
        - date_updated
      parent: /Services/{ServiceSid}/RateLimits/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/RateLimits/{RateLimitSid}/Buckets/{Sid}":
    delete:
      description: Delete a specific Bucket.
      operationId: DeleteBucket
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/verify/api/service) the resource is associated with.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Rate Limit resource.
          in: path
          name: RateLimitSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RK[0-9a-fA-F]{32}$
            type: string
        - description: A 34 character string that uniquely identifies this Bucket.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BL[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Bucket.
      operationId: FetchBucket
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/verify/api/service) the resource is associated with.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Rate Limit resource.
          in: path
          name: RateLimitSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RK[0-9a-fA-F]{32}$
            type: string
        - description: A 34 character string that uniquely identifies this Bucket.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BL[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.rate_limit.bucket"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update a specific Bucket.
      operationId: UpdateBucket
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/verify/api/service) the resource is associated with.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Rate Limit resource.
          in: path
          name: RateLimitSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RK[0-9a-fA-F]{32}$
            type: string
        - description: A 34 character string that uniquely identifies this Bucket.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BL[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Interval:
                  description: Number of seconds that the rate limit will be enforced over.
                  type: integer
                Max:
                  description: Maximum number of requests permitted in during the interval.
                  type: integer
              title: UpdateBucketRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.rate_limit.bucket"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - service_sid
        - rate_limit_sid
        - account_sid
        - max
        - interval
        - date_created
        - date_updated
      parent: /Services/{ServiceSid}/RateLimits/{Sid}
      pathType: instance
  "/v2/Services/{ServiceSid}/RateLimits/{Sid}":
    delete:
      description: Delete a specific Rate Limit.
      operationId: DeleteRateLimit
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/verify/api/service) the resource is associated with.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Rate Limit resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RK[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Rate Limit.
      operationId: FetchRateLimit
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/verify/api/service) the resource is associated with.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Rate Limit resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RK[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.rate_limit"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update a specific Rate Limit.
      operationId: UpdateRateLimit
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/verify/api/service) the resource is associated with.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Rate Limit resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RK[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Description:
                  description: Description of this Rate Limit
                  type: string
              title: UpdateRateLimitRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.rate_limit"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - service_sid
        - account_sid
        - unique_name
        - description
        - date_created
        - date_updated
      parent: /Services/{Sid}
      pathType: instance
  "/v2/Services/{ServiceSid}/VerificationCheck":
    description: "TODO: Resource-level docs"
    post:
      description: challenge a specific Verification Check.
      operationId: CreateVerificationCheck
      parameters:
        - description: The SID of the verification [Service](https://www.twilio.com/docs/verify/api/service) to create the resource under.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Amount:
                  description: The amount of the associated PSD2 compliant transaction. Requires the PSD2 Service flag enabled.
                  type: string
                Code:
                  description: The 4-10 character string being verified.
                  type: string
                Payee:
                  description: The payee of the associated PSD2 compliant transaction. Requires the PSD2 Service flag enabled.
                  type: string
                To:
                  description: The phone number or [email](https://www.twilio.com/docs/verify/email) to verify. Either this parameter or the `verification_sid` must be specified. Phone numbers must be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164).
                  type: string
                VerificationSid:
                  description: A SID that uniquely identifies the Verification Check. Either this parameter or the `to` phone number/[email](https://www.twilio.com/docs/verify/email) must be specified.
                  maxLength: 34
                  minLength: 34
                  pattern: ^VE[0-9a-fA-F]{32}$
                  type: string
              title: CreateVerificationCheckRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.verification_check"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - to
        - channel
        - status
        - valid
        - date_created
      mountName: verification_checks
      parent: /Services/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/Verifications":
    description: "TODO: Resource-level docs"
    post:
      description: Create a new Verification using a Service
      operationId: CreateVerification
      parameters:
        - description: The SID of the verification [Service](https://www.twilio.com/docs/verify/api/service) to create the resource under.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Amount:
                  description: The amount of the associated PSD2 compliant transaction. Requires the PSD2 Service flag enabled.
                  type: string
                AppHash:
                  description: "Your [App Hash](https://developers.google.com/identity/sms-retriever/verify#computing_your_apps_hash_string) to be appended at the end of your verification SMS body. Applies only to SMS. Example SMS body: `<#> Your AppName verification code is: 1234 He42w354ol9`."
                  type: string
                Channel:
                  description: "The verification method to use. One of: [`email`](https://www.twilio.com/docs/verify/email), `sms`, `whatsapp`, `call`, `sna` or `auto`."
                  type: string
                ChannelConfiguration:
                  description: "[`email`](https://www.twilio.com/docs/verify/email) channel configuration in json format. The fields 'from' and 'from_name' are optional but if included the 'from' field must have a valid email address."
                CustomCode:
                  description: A pre-generated code to use for verification. The code can be between 4 and 10 characters, inclusive.
                  type: string
                CustomFriendlyName:
                  description: A custom user defined friendly name that overwrites the existing one in the verification message
                  type: string
                CustomMessage:
                  description: The text of a custom message to use for the verification.
                  type: string
                DeviceIp:
                  description: Strongly encouraged if using the auto channel. The IP address of the client's device. If provided, it has to be a valid IPv4 or IPv6 address.
                  type: string
                Locale:
                  description: Locale will automatically resolve based on phone number country code for SMS, WhatsApp, and call channel verifications. It will fallback to English or the template’s default translation if the selected translation is not available. This parameter will override the automatic locale resolution. [See supported languages and more information here](https://www.twilio.com/docs/verify/supported-languages).
                  type: string
                Payee:
                  description: The payee of the associated PSD2 compliant transaction. Requires the PSD2 Service flag enabled.
                  type: string
                RateLimits:
                  description: The custom key-value pairs of Programmable Rate Limits. Keys correspond to `unique_name` fields defined when [creating your Rate Limit](https://www.twilio.com/docs/verify/api/service-rate-limits). Associated value pairs represent values in the request that you are rate limiting on. You may include multiple Rate Limit values in each request.
                SendDigits:
                  description: The digits to send after a phone call is answered, for example, to dial an extension. For more information, see the Programmable Voice documentation of [sendDigits](https://www.twilio.com/docs/voice/twiml/number#attributes-sendDigits).
                  type: string
                TemplateCustomSubstitutions:
                  description: A stringified JSON object in which the keys are the template's special variables and the values are the variables substitutions.
                  type: string
                TemplateSid:
                  description: The message [template](https://www.twilio.com/docs/verify/api/templates). If provided, will override the default template for the Service. SMS and Voice channels only.
                  maxLength: 34
                  minLength: 34
                  pattern: ^HJ[0-9a-fA-F]{32}$
                  type: string
                To:
                  description: The phone number or [email](https://www.twilio.com/docs/verify/email) to verify. Phone numbers must be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164).
                  type: string
              required:
                - To
                - Channel
              title: CreateVerificationRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.verification"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - to
        - channel
        - status
        - valid
        - date_created
      parent: /Services/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/Verifications/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Verification
      operationId: FetchVerification
      parameters:
        - description: The SID of the verification [Service](https://www.twilio.com/docs/verify/api/service) to fetch the resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Verification resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.verification"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update a Verification status
      operationId: UpdateVerification
      parameters:
        - description: The SID of the verification [Service](https://www.twilio.com/docs/verify/api/service) to update the resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Verification resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Status:
                  $ref: "#/components/schemas/verification_enum_status"
                  description: "The new status of the resource. Can be: `canceled` or `approved`."
                  type: string
              required:
                - Status
              title: UpdateVerificationRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verify.v2.service.verification"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - to
        - channel
        - status
        - valid
        - date_created
      parent: /Services/{Sid}
      pathType: instance
  "/v2/Services/{ServiceSid}/Webhooks":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Webhooks for a Service.
      operationId: ListWebhook
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  webhooks:
                    items:
                      $ref: "#/components/schemas/verify.v2.service.webhook"
                    type: array
                title: ListWebhookResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new Webhook for the Service
      operationId: CreateWebhook
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VA[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                EventTypes:
                  description: "The array of events that this Webhook is subscribed to. Possible event types: `*, factor.deleted, factor.created, factor.verified, challenge.approved, challenge.denied`"
                  items:
                    type: string
                  type: array
                FriendlyName:
                  description: The string that you assigned to describe the webhook. **This value should not contain PII.**
                  type: string
                Status:
                  $ref: "#/components/schemas/webhook_enum_status"
                  description: "The webhook status. Default value is `enabled`. One of: `enabled` or `disabled`"
                  type: string
                Version:
                  $ref: "#/components/schemas/webhook_enum_version"
[...]
