swagger: '2.0'
info:
  version: '2016-01-14'
  x-release: v4
  title: AWSMarketplace Metering
  description: '<fullname>AWS Marketplace Metering Service</fullname> <p>This reference provides descriptions of the low-level AWS Marketplace Metering Service API.</p> <p>AWS Marketplace sellers can use this API to submit usage data for custom usage dimensions.</p> <p> <b>Submitting Metering Records</b> </p> <ul> <li> <p> <i>MeterUsage</i>- Submits the metering record for a Marketplace product. MeterUsage is called from an EC2 instance.</p> </li> <li> <p> <i>BatchMeterUsage</i>- Submits the metering record for a set of customers. BatchMeterUsage is called from a software-as-a-service (SaaS) application.</p> </li> </ul> <p> <b>Accepting New Customers</b> </p> <ul> <li> <p> <i>ResolveCustomer</i>- Called by a SaaS application during the registration process. When a buyer visits your website during the registration process, the buyer submits a Registration Token through the browser. The Registration Token is resolved through this API to obtain a CustomerIdentifier and Product Code.</p> </li> </ul>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: meteringmarketplace
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/meteringmarketplace-2016-01-14.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/marketplace/'
host: metering.marketplace.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: BatchMeterUsage
      description: '<p>BatchMeterUsage is called from a SaaS application listed on the AWS Marketplace to post metering records for a set of customers.</p> <p>For identical requests, the API is idempotent; requests can be retried with the same records or a subset of the input records.</p> <p>Every request to BatchMeterUsage is for one product. If you need to meter usage for multiple products, you must make multiple calls to BatchMeterUsage.</p> <p>BatchMeterUsage can process up to 25 UsageRecords at a time.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchMeterUsageResult'
        '480':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '481':
          description: InvalidProductCodeException
          schema:
            $ref: '#/definitions/InvalidProductCodeException'
        '482':
          description: InvalidUsageDimensionException
          schema:
            $ref: '#/definitions/InvalidUsageDimensionException'
        '483':
          description: InvalidCustomerIdentifierException
          schema:
            $ref: '#/definitions/InvalidCustomerIdentifierException'
        '484':
          description: TimestampOutOfBoundsException
          schema:
            $ref: '#/definitions/TimestampOutOfBoundsException'
        '485':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchMeterUsageRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#MeterUsage':
    post:
      operationId: MeterUsage
      description: '<p>API to emit metering records. For identical requests, the API is idempotent. It simply returns the metering record ID.</p> <p>MeterUsage is authenticated on the buyer''s AWS account, generally when running from an EC2 instance on the AWS Marketplace.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MeterUsageResult'
        '480':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '481':
          description: InvalidProductCodeException
          schema:
            $ref: '#/definitions/InvalidProductCodeException'
        '482':
          description: InvalidUsageDimensionException
          schema:
            $ref: '#/definitions/InvalidUsageDimensionException'
        '483':
          description: InvalidEndpointRegionException
          schema:
            $ref: '#/definitions/InvalidEndpointRegionException'
        '484':
          description: TimestampOutOfBoundsException
          schema:
            $ref: '#/definitions/TimestampOutOfBoundsException'
        '485':
          description: DuplicateRequestException
          schema:
            $ref: '#/definitions/DuplicateRequestException'
        '486':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/MeterUsageRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ResolveCustomer':
    post:
      operationId: ResolveCustomer
      description: 'ResolveCustomer is called by a SaaS application during the registration process. When a buyer visits your website during the registration process, the buyer submits a registration token through their browser. The registration token is resolved through this API to obtain a CustomerIdentifier and product code.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResolveCustomerResult'
        '480':
          description: InvalidTokenException
          schema:
            $ref: '#/definitions/InvalidTokenException'
        '481':
          description: ExpiredTokenException
          schema:
            $ref: '#/definitions/ExpiredTokenException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResolveCustomerRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  BatchMeterUsageResult:
    type: object
    properties:
      Results:
        $ref: '#/definitions/UsageRecordResultList'
        description: Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.
      UnprocessedRecords:
        $ref: '#/definitions/UsageRecordList'
        description: Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.
    description: Contains the UsageRecords processed by BatchMeterUsage and any records that have failed due to transient error.
  BatchMeterUsageRequest:
    type: object
    required:
      - UsageRecords
      - ProductCode
    properties:
      UsageRecords:
        $ref: '#/definitions/UsageRecordList'
        description: The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.
      ProductCode:
        $ref: '#/definitions/ProductCode'
        description: Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.
    description: 'A BatchMeterUsageRequest contains UsageRecords, which indicate quantities of usage within your application.'
  InternalServiceErrorException:
    type: object
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    description: 'An internal error has occurred. Retry your request. If the problem persists, post a message with details on the AWS forums.'
  InvalidProductCodeException:
    type: object
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    description: The product code passed does not match the product code used for publishing the product.
  InvalidUsageDimensionException:
    type: object
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    description: The usage dimension does not match one of the UsageDimensions associated with products.
  InvalidCustomerIdentifierException:
    type: object
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    description: You have metered usage for a CustomerIdentifier that does not exist.
  TimestampOutOfBoundsException:
    type: object
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    description: The timestamp value passed in the meterUsage() is out of allowed range.
  ThrottlingException:
    type: object
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    description: The calls to the MeterUsage API are throttled.
  MeterUsageResult:
    type: object
    properties:
      MeteringRecordId:
        $ref: '#/definitions/String'
  MeterUsageRequest:
    type: object
    required:
      - ProductCode
      - Timestamp
      - UsageDimension
      - UsageQuantity
      - DryRun
    properties:
      ProductCode:
        $ref: '#/definitions/ProductCode'
        description: Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.
      Timestamp:
        $ref: '#/definitions/Timestamp'
        description: 'Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.'
      UsageDimension:
        $ref: '#/definitions/UsageDimension'
        description: It will be one of the fcp dimension name provided during the publishing of the product.
      UsageQuantity:
        $ref: '#/definitions/UsageQuantity'
        description: Consumption value for the hour.
      DryRun:
        $ref: '#/definitions/Boolean'
        description: 'Checks whether you have the permissions required for the action, but does not make the request. If you have the permissions, the request returns DryRunOperation; otherwise, it returns UnauthorizedException.'
  InvalidEndpointRegionException:
    type: object
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    description: The endpoint being called is in a region different from your EC2 instance. The region of the Metering service endpoint and the region of the EC2 instance must match.
  DuplicateRequestException:
    type: object
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    description: 'A metering record has already been emitted by the same EC2 instance for the given {usageDimension, timestamp} with a different usageQuantity.'
  ResolveCustomerResult:
    type: object
    properties:
      CustomerIdentifier:
        $ref: '#/definitions/CustomerIdentifier'
        description: The CustomerIdentifier is used to identify an individual customer in your application. Calls to BatchMeterUsage require CustomerIdentifiers for each UsageRecord.
      ProductCode:
        $ref: '#/definitions/ProductCode'
        description: The product code is returned to confirm that the buyer is registering for your product. Subsequent BatchMeterUsage calls should be made using this product code.
    description: The result of the ResolveCustomer operation. Contains the CustomerIdentifier and product code.
  ResolveCustomerRequest:
    type: object
    required:
      - RegistrationToken
    properties:
      RegistrationToken:
        $ref: '#/definitions/NonEmptyString'
        description: 'When a buyer visits your website during the registration process, the buyer submits a registration token through the browser. The registration token is resolved to obtain a CustomerIdentifier and product code.'
    description: Contains input to the ResolveCustomer operation.
  InvalidTokenException:
    type: object
    properties:
      message:
        $ref: '#/definitions/errorMessage'
  ExpiredTokenException:
    type: object
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    description: 'The submitted registration token has expired. This can happen if the buyer''s browser takes too long to redirect to your page, the buyer has resubmitted the registration token, or your application has held on to the registration token for too long. Your SaaS registration website should redeem this token as soon as it is submitted by the buyer''s browser.'
  UsageRecordList:
    type: array
    items:
      $ref: '#/definitions/UsageRecord'
    minItems: 0
    maxItems: 25
  ProductCode:
    type: string
    minLength: 1
    maxLength: 255
  UsageRecordResultList:
    type: array
    items:
      $ref: '#/definitions/UsageRecordResult'
  Boolean:
    type: boolean
  CustomerIdentifier:
    type: string
    minLength: 1
    maxLength: 255
  errorMessage:
    type: string
  Timestamp:
    type: string
    format: date-time
  UsageDimension:
    type: string
    minLength: 1
    maxLength: 255
  UsageQuantity:
    type: integer
    minimum: 0
    maximum: 1000000
  String:
    type: string
  NonEmptyString:
    type: string
    pattern: \S+
  UsageRecord:
    type: object
    required:
      - Timestamp
      - CustomerIdentifier
      - Dimension
      - Quantity
    properties:
      Timestamp:
        $ref: '#/definitions/Timestamp'
        description: '<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p> <p>Your application can meter usage for up to one hour in the past.</p>'
      CustomerIdentifier:
        $ref: '#/definitions/CustomerIdentifier'
        description: The CustomerIdentifier is obtained through the ResolveCustomer operation and represents an individual buyer in your application.
      Dimension:
        $ref: '#/definitions/UsageDimension'
        description: 'During the process of registering a product on AWS Marketplace, up to eight dimensions are specified. These represent different units of value in your application.'
      Quantity:
        $ref: '#/definitions/UsageQuantity'
        description: The quantity of usage consumed by the customer for the given dimension and time.
    description: '<p>A UsageRecord indicates a quantity of usage for a given product, customer, dimension and time.</p> <p>Multiple requests with the same UsageRecords as input will be deduplicated to prevent double charges.</p>'
  UsageRecordResultStatus:
    type: string
    enum:
      - Success
      - CustomerNotSubscribed
      - DuplicateRecord
  UsageRecordResult:
    type: object
    properties:
      UsageRecord:
        $ref: '#/definitions/UsageRecord'
        description: The UsageRecord that was part of the BatchMeterUsage request.
      MeteringRecordId:
        $ref: '#/definitions/String'
        description: The MeteringRecordId is a unique identifier for this metering event.
      Status:
        $ref: '#/definitions/UsageRecordResultStatus'
        description: '<p>The UsageRecordResult Status indicates the status of an individual UsageRecord processed by BatchMeterUsage.</p> <ul> <li> <p> <i>Success</i>- The UsageRecord was accepted and honored by BatchMeterUsage.</p> </li> <li> <p> <i>CustomerNotSubscribed</i>- The CustomerIdentifier specified is not subscribed to your product. The UsageRecord was not honored. Future UsageRecords for this customer will fail until the customer subscribes to your product.</p> </li> <li> <p> <i>DuplicateRecord</i>- Indicates that the UsageRecord was invalid and not honored. A previously metered UsageRecord had the same customer, dimension, and time, but a different quantity.</p> </li> </ul>'
    description: A UsageRecordResult indicates the status of a given UsageRecord processed by BatchMeterUsage.
