openapi: 3.0.0
servers:
  - url: https://tagmanager.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: This API allows clients to access and modify container and tag configuration.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Tag Manager API
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://tagmanager.googleapis.com/$discovery/rest?version=v2
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: tagmanager
externalDocs:
  url: https://developers.google.com/tag-manager
tags:
  - name: accounts
paths:
  /tagmanager/v2/accounts:
    get:
      description: Lists all GTM Accounts that a user has access to.
      operationId: tagmanager.accounts.list
      parameters:
        - description: Also retrieve accounts associated with Google Tag when true.
          in: query
          name: includeGoogleTags
          schema:
            type: boolean
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccountsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.manage.accounts
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.manage.accounts
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /tagmanager/v2/accounts/containers:lookup:
    get:
      description: Looks up a Container by destination ID.
      operationId: tagmanager.accounts.containers.lookup
      parameters:
        - description: "Destination ID linked to a GTM Container, e.g. AW-123456789. Example: accounts/containers:lookup?destination_id={destination_id}."
          in: query
          name: destinationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Container"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/tagmanager/v2/{parent}/built_in_variables":
    get:
      description: Lists all the enabled Built-In Variables of a GTM Container.
      operationId: tagmanager.accounts.containers.workspaces.built_in_variables.list
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEnabledBuiltInVariablesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates one or more GTM Built-In Variables.
      operationId: tagmanager.accounts.containers.workspaces.built_in_variables.create
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The types of built-in variables to enable.
          explode: true
          in: query
          name: type
          schema:
            items:
              enum:
                - builtInVariableTypeUnspecified
                - pageUrl
                - pageHostname
                - pagePath
                - referrer
                - event
                - clickElement
                - clickClasses
                - clickId
                - clickTarget
                - clickUrl
                - clickText
                - firstPartyServingUrl
                - formElement
                - formClasses
                - formId
                - formTarget
                - formUrl
                - formText
                - errorMessage
                - errorUrl
                - errorLine
                - newHistoryUrl
                - oldHistoryUrl
                - newHistoryFragment
                - oldHistoryFragment
                - newHistoryState
                - oldHistoryState
                - historySource
                - containerVersion
                - debugMode
                - randomNumber
                - containerId
                - appId
                - appName
                - appVersionCode
                - appVersionName
                - language
                - osVersion
                - platform
                - sdkVersion
                - deviceName
                - resolution
                - advertiserId
                - advertisingTrackingEnabled
                - htmlId
                - environmentName
                - ampBrowserLanguage
                - ampCanonicalPath
                - ampCanonicalUrl
                - ampCanonicalHost
                - ampReferrer
                - ampTitle
                - ampClientId
                - ampClientTimezone
                - ampClientTimestamp
                - ampClientScreenWidth
                - ampClientScreenHeight
                - ampClientScrollX
                - ampClientScrollY
                - ampClientMaxScrollX
                - ampClientMaxScrollY
                - ampTotalEngagedTime
                - ampPageViewId
                - ampPageLoadTime
                - ampPageDownloadTime
                - ampGtmEvent
                - eventName
                - firebaseEventParameterCampaign
                - firebaseEventParameterCampaignAclid
                - firebaseEventParameterCampaignAnid
                - firebaseEventParameterCampaignClickTimestamp
                - firebaseEventParameterCampaignContent
                - firebaseEventParameterCampaignCp1
                - firebaseEventParameterCampaignGclid
                - firebaseEventParameterCampaignSource
                - firebaseEventParameterCampaignTerm
                - firebaseEventParameterCurrency
                - firebaseEventParameterDynamicLinkAcceptTime
                - firebaseEventParameterDynamicLinkLinkid
                - firebaseEventParameterNotificationMessageDeviceTime
                - firebaseEventParameterNotificationMessageId
                - firebaseEventParameterNotificationMessageName
                - firebaseEventParameterNotificationMessageTime
                - firebaseEventParameterNotificationTopic
                - firebaseEventParameterPreviousAppVersion
                - firebaseEventParameterPreviousOsVersion
                - firebaseEventParameterPrice
                - firebaseEventParameterProductId
                - firebaseEventParameterQuantity
                - firebaseEventParameterValue
                - videoProvider
                - videoUrl
                - videoTitle
                - videoDuration
                - videoPercent
                - videoVisible
                - videoStatus
                - videoCurrentTime
                - scrollDepthThreshold
                - scrollDepthUnits
                - scrollDepthDirection
                - elementVisibilityRatio
                - elementVisibilityTime
                - elementVisibilityFirstTime
                - elementVisibilityRecentTime
                - requestPath
                - requestMethod
                - clientName
                - queryString
                - serverPageLocationUrl
                - serverPageLocationPath
                - serverPageLocationHostname
                - visitorRegion
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBuiltInVariableResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{parent}/clients":
    get:
      description: Lists all GTM Clients of a GTM container workspace.
      operationId: tagmanager.accounts.containers.workspaces.clients.list
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClientsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a GTM Client.
      operationId: tagmanager.accounts.containers.workspaces.clients.create
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Client"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Client"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{parent}/containers":
    get:
      description: Lists all Containers that belongs to a GTM Account.
      operationId: tagmanager.accounts.containers.list
      parameters:
        - description: "GTM Account's API relative path. Example: accounts/{account_id}."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListContainersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a Container.
      operationId: tagmanager.accounts.containers.create
      parameters:
        - description: "GTM Account's API relative path. Example: accounts/{account_id}."
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Container"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Container"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{parent}/destinations":
    get:
      description: Lists all Destinations linked to a GTM Container.
      operationId: tagmanager.accounts.containers.destinations.list
      parameters:
        - description: "GTM parent Container's API relative path. Example: accounts/{account_id}/containers/{container_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDestinationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/tagmanager/v2/{parent}/destinations:link":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Adds a Destination to this Container and removes it from the Container to which it is currently linked.
      operationId: tagmanager.accounts.containers.destinations.link
      parameters:
        - description: "GTM parent Container's API relative path. Example: accounts/{account_id}/containers/{container_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Must be set to true to allow features.user_permissions to change from false to true. If this operation causes an update but this bit is false, the operation will fail.
          in: query
          name: allowUserPermissionFeatureUpdate
          schema:
            type: boolean
        - description: Destination ID to be linked to the current container.
          in: query
          name: destinationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Destination"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{parent}/environments":
    get:
      description: Lists all GTM Environments of a GTM Container.
      operationId: tagmanager.accounts.containers.environments.list
      parameters:
        - description: "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEnvironmentsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a GTM Environment.
      operationId: tagmanager.accounts.containers.environments.create
      parameters:
        - description: "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Environment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Environment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{parent}/folders":
    get:
      description: Lists all GTM Folders of a Container.
      operationId: tagmanager.accounts.containers.workspaces.folders.list
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListFoldersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a GTM Folder.
      operationId: tagmanager.accounts.containers.workspaces.folders.create
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Folder"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Folder"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{parent}/gtag_config":
    get:
      description: Lists all Google tag configs in a Container.
      operationId: tagmanager.accounts.containers.workspaces.gtag_config.list
      parameters:
        - description: "Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListGtagConfigResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a Google tag config.
      operationId: tagmanager.accounts.containers.workspaces.gtag_config.create
      parameters:
        - description: "Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GtagConfig"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GtagConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{parent}/tags":
    get:
      description: Lists all GTM Tags of a Container.
      operationId: tagmanager.accounts.containers.workspaces.tags.list
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTagsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a GTM Tag.
      operationId: tagmanager.accounts.containers.workspaces.tags.create
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Tag"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{parent}/templates":
    get:
      description: Lists all GTM Templates of a GTM container workspace.
      operationId: tagmanager.accounts.containers.workspaces.templates.list
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTemplatesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a GTM Custom Template.
      operationId: tagmanager.accounts.containers.workspaces.templates.create
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomTemplate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomTemplate"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{parent}/triggers":
    get:
      description: Lists all GTM Triggers of a Container.
      operationId: tagmanager.accounts.containers.workspaces.triggers.list
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTriggersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a GTM Trigger.
      operationId: tagmanager.accounts.containers.workspaces.triggers.create
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Trigger"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trigger"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{parent}/user_permissions":
    get:
      description: List all users that have access to the account along with Account and Container user access granted to each of them.
      operationId: tagmanager.accounts.user_permissions.list
      parameters:
        - description: "GTM Account's API relative path. Example: accounts/{account_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListUserPermissionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.manage.users
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a user's Account & Container access.
      operationId: tagmanager.accounts.user_permissions.create
      parameters:
        - description: "GTM Account's API relative path. Example: accounts/{account_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPermission"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPermission"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.manage.users
      tags:
        - accounts
  "/tagmanager/v2/{parent}/variables":
    get:
      description: Lists all GTM Variables of a Container.
      operationId: tagmanager.accounts.containers.workspaces.variables.list
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVariablesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a GTM Variable.
      operationId: tagmanager.accounts.containers.workspaces.variables.create
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Variable"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Variable"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{parent}/version_headers":
    get:
      description: Lists all Container Versions of a GTM Container.
      operationId: tagmanager.accounts.containers.version_headers.list
      parameters:
        - description: "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Also retrieve deleted (archived) versions when true.
          in: query
          name: includeDeleted
          schema:
            type: boolean
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListContainerVersionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/tagmanager/v2/{parent}/version_headers:latest":
    get:
      description: Gets the latest container version header
      operationId: tagmanager.accounts.containers.version_headers.latest
      parameters:
        - description: "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerVersionHeader"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/tagmanager/v2/{parent}/versions:live":
    get:
      description: Gets the live (i.e. published) container version
      operationId: tagmanager.accounts.containers.versions.live
      parameters:
        - description: "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerVersion"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/tagmanager/v2/{parent}/workspaces":
    get:
      description: Lists all Workspaces that belong to a GTM Container.
      operationId: tagmanager.accounts.containers.workspaces.list
      parameters:
        - description: "GTM parent Container's API relative path. Example: accounts/{account_id}/containers/{container_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWorkspacesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a Workspace.
      operationId: tagmanager.accounts.containers.workspaces.create
      parameters:
        - description: "GTM parent Container's API relative path. Example: accounts/{account_id}/containers/{container_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Workspace"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspace"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{parent}/zones":
    get:
      description: Lists all GTM Zones of a GTM container workspace.
      operationId: tagmanager.accounts.containers.workspaces.zones.list
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListZonesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a GTM Zone.
      operationId: tagmanager.accounts.containers.workspaces.zones.create
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Zone"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Zone"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{path}":
    delete:
      description: Removes a user from the account, revoking access to it and all of its containers.
      operationId: tagmanager.accounts.user_permissions.delete
      parameters:
        - description: "GTM UserPermission's API relative path. Example: accounts/{account_id}/user_permissions/{user_permission_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
        - description: The types of built-in variables to delete.
          explode: true
          in: query
          name: type
          schema:
            items:
              enum:
                - builtInVariableTypeUnspecified
                - pageUrl
                - pageHostname
                - pagePath
                - referrer
                - event
                - clickElement
                - clickClasses
                - clickId
                - clickTarget
                - clickUrl
                - clickText
                - firstPartyServingUrl
                - formElement
                - formClasses
                - formId
                - formTarget
                - formUrl
                - formText
                - errorMessage
                - errorUrl
                - errorLine
                - newHistoryUrl
                - oldHistoryUrl
                - newHistoryFragment
                - oldHistoryFragment
                - newHistoryState
                - oldHistoryState
                - historySource
                - containerVersion
                - debugMode
                - randomNumber
                - containerId
                - appId
                - appName
                - appVersionCode
                - appVersionName
                - language
                - osVersion
                - platform
                - sdkVersion
                - deviceName
                - resolution
                - advertiserId
                - advertisingTrackingEnabled
                - htmlId
                - environmentName
                - ampBrowserLanguage
                - ampCanonicalPath
                - ampCanonicalUrl
                - ampCanonicalHost
                - ampReferrer
                - ampTitle
                - ampClientId
                - ampClientTimezone
                - ampClientTimestamp
                - ampClientScreenWidth
                - ampClientScreenHeight
                - ampClientScrollX
                - ampClientScrollY
                - ampClientMaxScrollX
                - ampClientMaxScrollY
                - ampTotalEngagedTime
                - ampPageViewId
                - ampPageLoadTime
                - ampPageDownloadTime
                - ampGtmEvent
                - eventName
                - firebaseEventParameterCampaign
                - firebaseEventParameterCampaignAclid
                - firebaseEventParameterCampaignAnid
                - firebaseEventParameterCampaignClickTimestamp
                - firebaseEventParameterCampaignContent
                - firebaseEventParameterCampaignCp1
                - firebaseEventParameterCampaignGclid
                - firebaseEventParameterCampaignSource
                - firebaseEventParameterCampaignTerm
                - firebaseEventParameterCurrency
                - firebaseEventParameterDynamicLinkAcceptTime
                - firebaseEventParameterDynamicLinkLinkid
                - firebaseEventParameterNotificationMessageDeviceTime
                - firebaseEventParameterNotificationMessageId
                - firebaseEventParameterNotificationMessageName
                - firebaseEventParameterNotificationMessageTime
                - firebaseEventParameterNotificationTopic
                - firebaseEventParameterPreviousAppVersion
                - firebaseEventParameterPreviousOsVersion
                - firebaseEventParameterPrice
                - firebaseEventParameterProductId
                - firebaseEventParameterQuantity
                - firebaseEventParameterValue
                - videoProvider
                - videoUrl
                - videoTitle
                - videoDuration
                - videoPercent
                - videoVisible
                - videoStatus
                - videoCurrentTime
                - scrollDepthThreshold
                - scrollDepthUnits
                - scrollDepthDirection
                - elementVisibilityRatio
                - elementVisibilityTime
                - elementVisibilityFirstTime
                - elementVisibilityRecentTime
                - requestPath
                - requestMethod
                - clientName
                - queryString
                - serverPageLocationUrl
                - serverPageLocationPath
                - serverPageLocationHostname
                - visitorRegion
              type: string
            type: array
          style: form
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.manage.users
      tags:
        - accounts
    get:
      description: Gets a user's Account & Container access.
      operationId: tagmanager.accounts.user_permissions.get
      parameters:
        - description: "GTM UserPermission's API relative path. Example: accounts/{account_id}/user_permissions/{user_permission_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
        - description: The GTM ContainerVersion ID. Specify published to retrieve the currently published version.
          in: query
          name: containerVersionId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPermission"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.manage.users
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates a user's Account & Container access.
      operationId: tagmanager.accounts.user_permissions.update
      parameters:
        - description: "GTM UserPermission's API relative path. Example: accounts/{account_id}/user_permissions/{user_permission_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
        - description: When provided, this fingerprint must match the fingerprint of the zone in storage.
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPermission"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPermission"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.manage.users
      tags:
        - accounts
  "/tagmanager/v2/{path}/built_in_variables:revert":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Reverts changes to a GTM Built-In Variables in a GTM Workspace.
      operationId: tagmanager.accounts.containers.workspaces.built_in_variables.revert
      parameters:
        - description: "GTM BuiltInVariable's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/built_in_variables"
          in: path
          name: path
          required: true
          schema:
            type: string
        - description: The type of built-in variable to revert.
          in: query
          name: type
          schema:
            enum:
              - builtInVariableTypeUnspecified
              - pageUrl
              - pageHostname
              - pagePath
              - referrer
              - event
              - clickElement
              - clickClasses
              - clickId
              - clickTarget
              - clickUrl
              - clickText
              - firstPartyServingUrl
              - formElement
              - formClasses
              - formId
              - formTarget
              - formUrl
              - formText
              - errorMessage
              - errorUrl
              - errorLine
              - newHistoryUrl
              - oldHistoryUrl
              - newHistoryFragment
              - oldHistoryFragment
              - newHistoryState
              - oldHistoryState
              - historySource
              - containerVersion
              - debugMode
              - randomNumber
              - containerId
              - appId
              - appName
              - appVersionCode
              - appVersionName
              - language
              - osVersion
              - platform
              - sdkVersion
              - deviceName
              - resolution
              - advertiserId
              - advertisingTrackingEnabled
              - htmlId
              - environmentName
              - ampBrowserLanguage
              - ampCanonicalPath
              - ampCanonicalUrl
              - ampCanonicalHost
              - ampReferrer
              - ampTitle
              - ampClientId
              - ampClientTimezone
              - ampClientTimestamp
              - ampClientScreenWidth
              - ampClientScreenHeight
              - ampClientScrollX
              - ampClientScrollY
              - ampClientMaxScrollX
              - ampClientMaxScrollY
              - ampTotalEngagedTime
              - ampPageViewId
              - ampPageLoadTime
              - ampPageDownloadTime
              - ampGtmEvent
              - eventName
              - firebaseEventParameterCampaign
              - firebaseEventParameterCampaignAclid
              - firebaseEventParameterCampaignAnid
              - firebaseEventParameterCampaignClickTimestamp
              - firebaseEventParameterCampaignContent
              - firebaseEventParameterCampaignCp1
              - firebaseEventParameterCampaignGclid
              - firebaseEventParameterCampaignSource
              - firebaseEventParameterCampaignTerm
              - firebaseEventParameterCurrency
              - firebaseEventParameterDynamicLinkAcceptTime
              - firebaseEventParameterDynamicLinkLinkid
              - firebaseEventParameterNotificationMessageDeviceTime
              - firebaseEventParameterNotificationMessageId
              - firebaseEventParameterNotificationMessageName
              - firebaseEventParameterNotificationMessageTime
              - firebaseEventParameterNotificationTopic
              - firebaseEventParameterPreviousAppVersion
              - firebaseEventParameterPreviousOsVersion
              - firebaseEventParameterPrice
              - firebaseEventParameterProductId
              - firebaseEventParameterQuantity
              - firebaseEventParameterValue
              - videoProvider
              - videoUrl
              - videoTitle
              - videoDuration
              - videoPercent
              - videoVisible
              - videoStatus
              - videoCurrentTime
              - scrollDepthThreshold
              - scrollDepthUnits
              - scrollDepthDirection
              - elementVisibilityRatio
              - elementVisibilityTime
              - elementVisibilityFirstTime
              - elementVisibilityRecentTime
              - requestPath
              - requestMethod
              - clientName
              - queryString
              - serverPageLocationUrl
              - serverPageLocationPath
              - serverPageLocationHostname
              - visitorRegion
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevertBuiltInVariableResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{path}/status":
    get:
      description: Finds conflicting and modified entities in the workspace.
      operationId: tagmanager.accounts.containers.workspaces.getStatus
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetWorkspaceStatusResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/tagmanager/v2/{path}:combine":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Combines Containers.
      operationId: tagmanager.accounts.containers.combine
      parameters:
        - description: "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
        - description: Must be set to true to allow features.user_permissions to change from false to true. If this operation causes an update but this bit is false, the operation will fail.
          in: query
          name: allowUserPermissionFeatureUpdate
          schema:
            type: boolean
        - description: ID of container that will be merged into the current container.
          in: query
          name: containerId
          schema:
            type: string
        - description: Specify the source of config setting after combine
          in: query
          name: settingSource
          schema:
            enum:
              - settingSourceUnspecified
              - current
              - other
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Container"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{path}:create_version":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a Container Version from the entities present in the workspace, deletes the workspace, and sets the base container version to the newly created version.
      operationId: tagmanager.accounts.containers.workspaces.create_version
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContainerVersionRequestVersionOptions"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateContainerVersionResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
      tags:
        - accounts
  "/tagmanager/v2/{path}:entities":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: List all entities in a GTM Folder.
      operationId: tagmanager.accounts.containers.workspaces.folders.entities
      parameters:
        - description: "GTM Folder's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderEntities"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
  "/tagmanager/v2/{path}:move_entities_to_folder":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Moves entities to a GTM Folder.
      operationId: tagmanager.accounts.containers.workspaces.folders.move_entities_to_folder
      parameters:
        - description: "GTM Folder's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
        - description: The tags to be moved to the folder.
          explode: true
          in: query
          name: tagId
          schema:
            items:
              type: string
            type: array
          style: form
        - description: The triggers to be moved to the folder.
          explode: true
          in: query
          name: triggerId
          schema:
            items:
              type: string
            type: array
          style: form
        - description: The variables to be moved to the folder.
          explode: true
          in: query
          name: variableId
          schema:
            items:
              type: string
            type: array
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Folder"
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{path}:move_tag_id":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Move Tag ID out of a Container.
      operationId: tagmanager.accounts.containers.move_tag_id
      parameters:
        - description: "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
        - description: Must be set to true to allow features.user_permissions to change from false to true. If this operation causes an update but this bit is false, the operation will fail.
          in: query
          name: allowUserPermissionFeatureUpdate
          schema:
            type: boolean
        - description: Whether or not to copy tag settings from this tag to the new tag.
          in: query
          name: copySettings
          schema:
            type: boolean
        - description: Must be set to true to accept all terms of service agreements copied from the current tag to the newly created tag. If this bit is false, the operation will fail.
          in: query
          name: copyTermsOfService
          schema:
            type: boolean
        - description: Whether or not to copy users from this tag to the new tag.
          in: query
          name: copyUsers
          schema:
            type: boolean
        - description: Tag ID to be removed from the current Container.
          in: query
          name: tagId
          schema:
            type: string
        - description: The name for the newly created tag.
          in: query
          name: tagName
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Container"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{path}:publish":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Publishes a Container Version.
      operationId: tagmanager.accounts.containers.versions.publish
      parameters:
        - description: "GTM ContainerVersion's API relative path. Example: accounts/{account_id}/containers/{container_id}/versions/{version_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
        - description: When provided, this fingerprint must match the fingerprint of the container version in storage.
          in: query
          name: fingerprint
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishContainerVersionResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.publish
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.publish
      tags:
        - accounts
  "/tagmanager/v2/{path}:quick_preview":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Quick previews a workspace by creating a fake container version from all entities in the provided workspace.
      operationId: tagmanager.accounts.containers.workspaces.quick_preview
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuickPreviewResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
      tags:
        - accounts
  "/tagmanager/v2/{path}:reauthorize":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Re-generates the authorization code for a GTM Environment.
      operationId: tagmanager.accounts.containers.environments.reauthorize
      parameters:
        - description: "GTM Environment's API relative path. Example: accounts/{account_id}/containers/{container_id}/environments/{environment_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Environment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Environment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.publish
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.publish
      tags:
        - accounts
  "/tagmanager/v2/{path}:resolve_conflict":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resolves a merge conflict for a workspace entity by updating it to the resolved entity passed in the request.
      operationId: tagmanager.accounts.containers.workspaces.resolve_conflict
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
        - description: When provided, this fingerprint must match the fingerprint of the entity_in_workspace in the merge conflict.
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Entity"
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{path}:revert":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Reverts changes to a GTM Zone in a GTM Workspace.
      operationId: tagmanager.accounts.containers.workspaces.zones.revert
      parameters:
        - description: "GTM Zone's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/zones/{zone_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
        - description: When provided, this fingerprint must match the fingerprint of the zone in storage.
          in: query
          name: fingerprint
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevertZoneResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{path}:set_latest":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Sets the latest version used for synchronization of workspaces when detecting conflicts and errors.
      operationId: tagmanager.accounts.containers.versions.set_latest
      parameters:
        - description: "GTM ContainerVersion's API relative path. Example: accounts/{account_id}/containers/{container_id}/versions/{version_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerVersion"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{path}:snippet":
    get:
      description: Gets the tagging snippet for a Container.
      operationId: tagmanager.accounts.containers.snippet
      parameters:
        - description: "Container snippet's API relative path. Example: accounts/{account_id}/containers/{container_id}:snippet"
          in: path
          name: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetContainerSnippetResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/tagmanager/v2/{path}:sync":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Syncs a workspace to the latest container version by updating all unmodified workspace entities and displaying conflicts for modified entities.
      operationId: tagmanager.accounts.containers.workspaces.sync
      parameters:
        - description: "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncWorkspaceResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v2/{path}:undelete":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Undeletes a Container Version.
      operationId: tagmanager.accounts.containers.versions.undelete
      parameters:
        - description: "GTM ContainerVersion's API relative path. Example: accounts/{account_id}/containers/{container_id}/versions/{version_id}"
          in: path
          name: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerVersion"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
      tags:
        - accounts
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Account:
      description: Represents a Google Tag Manager Account.
      properties:
        accountId:
          description: The Account ID uniquely identifies the GTM Account.
          type: string
        features:
          $ref: "#/components/schemas/AccountFeatures"
          description: Read-only Account feature set
        fingerprint:
          description: The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.
          type: string
        name:
          description: Account display name. @mutable tagmanager.accounts.create @mutable tagmanager.accounts.update
          type: string
        path:
          description: GTM Account's API relative path.
          type: string
        shareData:
          description: Whether the account shares data anonymously with Google and others. This flag enables benchmarking by sharing your data in an anonymous form. Google will remove all identifiable information about your website, combine the data with hundreds of other anonymous sites and report aggregate trends in the benchmarking service. @mutable tagmanager.accounts.create @mutable tagmanager.accounts.update
          type: boolean
        tagManagerUrl:
          description: Auto generated link to the tag manager UI
          type: string
      type: object
    AccountAccess:
      description: Defines the Google Tag Manager Account access permissions.
      properties:
        permission:
          description: Whether the user has no access, user access, or admin access to an account. @mutable tagmanager.accounts.permissions.create @mutable tagmanager.accounts.permissions.update
          enum:
            - accountPermissionUnspecified
            - noAccess
            - user
            - admin
          type: string
      type: object
    AccountFeatures:
      properties:
        supportMultipleContainers:
          description: Whether this Account supports multiple Containers.
          type: boolean
        supportUserPermissions:
          description: Whether this Account supports user permissions managed by GTM.
          type: boolean
      type: object
    BuiltInVariable:
      description: Built-in variables are a special category of variables that are pre-created and non-customizable. They provide common functionality like accessing properties of the gtm data layer, monitoring clicks, or accessing elements of a page URL.
      properties:
        accountId:
          description: GTM Account ID.
          type: string
        containerId:
          description: GTM Container ID.
          type: string
        name:
          description: Name of the built-in variable to be used to refer to the built-in variable.
          type: string
        path:
          description: GTM BuiltInVariable's API relative path.
          type: string
        type:
          description: Type of built-in variable. @required.tagmanager.accounts.containers.workspaces.built_in_variable.update @mutable tagmanager.accounts.containers.workspaces.built_in_variable.update
          enum:
            - builtInVariableTypeUnspecified
            - pageUrl
            - pageHostname
            - pagePath
            - referrer
            - event
            - clickElement
            - clickClasses
            - clickId
            - clickTarget
            - clickUrl
            - clickText
            - firstPartyServingUrl
            - formElement
            - formClasses
            - formId
            - formTarget
            - formUrl
            - formText
            - errorMessage
            - errorUrl
            - errorLine
            - newHistoryUrl
            - oldHistoryUrl
            - newHistoryFragment
            - oldHistoryFragment
            - newHistoryState
            - oldHistoryState
            - historySource
            - containerVersion
            - debugMode
            - randomNumber
            - containerId
[...]
