openapi: 3.0.0
servers:
  - url: 'http://elasticache.amazonaws.com/'
info:
  version: '2015-02-02'
  x-release: v4
  title: Amazon ElastiCache
  description: '<fullname>Amazon ElastiCache</fullname> <p>Amazon ElastiCache is a web service that makes it easier to set up, operate, and scale a distributed cache in the cloud.</p> <p>With ElastiCache, customers get all of the benefits of a high-performance, in-memory cache with less of the administrative burden involved in launching and managing a distributed cache. The service makes setup, scaling, and cluster failure handling much simpler than in a self-managed cache deployment.</p> <p>In addition, through integration with Amazon CloudWatch, customers get enhanced visibility into the key performance statistics associated with their cache and can receive alarms if a part of their cache runs hot.</p>'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: elasticache
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticache-2015-02-02.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/elasticache/'
x-hasEquivalentPaths: true
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddTagsToResource
      description: '<p>Adds up to 50 cost allocation tags to the named resource. A cost allocation tag is a key-value pair where the key and value are case-sensitive. You can use cost allocation tags to categorize and track your AWS costs.</p> <p> When you apply tags to your ElastiCache resources, AWS generates a cost allocation report as a comma-separated value (CSV) file with your usage and costs aggregated by your tags. You can apply tags that represent business categories (such as cost centers, application names, or owners) to organize your costs across multiple services. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Tagging.html">Using Cost Allocation Tags in Amazon ElastiCache</a> in the <i>ElastiCache User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TagListMessage'
        '480':
          description: CacheClusterNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheClusterNotFoundFault'
        '481':
          description: SnapshotNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotNotFoundFault'
        '482':
          description: TagQuotaPerResourceExceeded
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TagQuotaPerResourceExceeded'
        '483':
          description: InvalidARNFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidARNFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTagsToResourceMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#AuthorizeCacheSecurityGroupIngress':
    post:
      operationId: AuthorizeCacheSecurityGroupIngress
      description: '<p>Allows network ingress to a cache security group. Applications using ElastiCache must be running on Amazon EC2, and Amazon EC2 security groups are used as the authorization mechanism.</p> <note> <p>You cannot authorize ingress from an Amazon EC2 security group in one region to an ElastiCache cluster in another region.</p> </note>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AuthorizeCacheSecurityGroupIngressResult'
        '480':
          description: CacheSecurityGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSecurityGroupNotFoundFault'
        '481':
          description: InvalidCacheSecurityGroupStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidCacheSecurityGroupStateFault'
        '482':
          description: AuthorizationAlreadyExistsFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AuthorizationAlreadyExistsFault'
        '483':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '484':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizeCacheSecurityGroupIngressMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CopySnapshot':
    post:
      operationId: CopySnapshot
      description: '<p>Makes a copy of an existing snapshot.</p> <note> <p>This operation is valid for Redis only.</p> </note> <important> <p>Users or groups that have permissions to use the <code>CopySnapshot</code> operation can create their own Amazon S3 buckets and copy snapshots to it. To control access to your snapshots, use an IAM policy to control who has the ability to use the <code>CopySnapshot</code> operation. For more information about using IAM to control the use of ElastiCache operations, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Snapshots.Exporting.html">Exporting Snapshots</a> and <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/IAM.html">Authentication &amp; Access Control</a>.</p> </important> <p>You could receive the following error messages.</p> <p class="title"> <b>Error Messages</b> </p> <ul> <li> <p> <b>Error Message:</b> The S3 bucket %s is outside of the region.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Snapshots.Exporting.html#Snapshots.Exporting.CreateBucket">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s does not exist.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Snapshots.Exporting.html#Snapshots.Exporting.CreateBucket">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s is not owned by the authenticated user.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Snapshots.Exporting.html#Snapshots.Exporting.CreateBucket">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The authenticated user does not have sufficient permissions to perform the desired activity.</p> <p> <b>Solution:</b> Contact your system administrator to get the needed permissions.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s already contains an object with key %s.</p> <p> <b>Solution:</b> Give the <code>TargetSnapshotName</code> a new and unique value. If exporting a snapshot, you could alternatively create a new Amazon S3 bucket and use this same value for <code>TargetSnapshotName</code>.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted READ permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add List and Read permissions on the bucket. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Snapshots.Exporting.html#Snapshots.Exporting.GrantAccess">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted WRITE permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add Upload/Delete permissions on the bucket. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Snapshots.Exporting.html#Snapshots.Exporting.GrantAccess">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted READ_ACP permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add View Permissions on the bucket. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Snapshots.Exporting.html#Snapshots.Exporting.GrantAccess">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CopySnapshotResult'
        '480':
          description: SnapshotAlreadyExistsFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotAlreadyExistsFault'
        '481':
          description: SnapshotNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotNotFoundFault'
        '482':
          description: SnapshotQuotaExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotQuotaExceededFault'
        '483':
          description: InvalidSnapshotStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidSnapshotStateFault'
        '484':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '485':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopySnapshotMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateCacheCluster':
    post:
      operationId: CreateCacheCluster
      description: '<p>Creates a cache cluster. All nodes in the cache cluster run the same protocol-compliant cache engine software, either Memcached or Redis.</p> <important> <p>Due to current limitations on Redis (cluster mode disabled), this operation or parameter is not supported on Redis (cluster mode enabled) replication groups.</p> </important>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateCacheClusterResult'
        '480':
          description: ReplicationGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReplicationGroupNotFoundFault'
        '481':
          description: InvalidReplicationGroupStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidReplicationGroupStateFault'
        '482':
          description: CacheClusterAlreadyExistsFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheClusterAlreadyExistsFault'
        '483':
          description: InsufficientCacheClusterCapacityFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InsufficientCacheClusterCapacityFault'
        '484':
          description: CacheSecurityGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSecurityGroupNotFoundFault'
        '485':
          description: CacheSubnetGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSubnetGroupNotFoundFault'
        '486':
          description: ClusterQuotaForCustomerExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClusterQuotaForCustomerExceededFault'
        '487':
          description: NodeQuotaForClusterExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NodeQuotaForClusterExceededFault'
        '488':
          description: NodeQuotaForCustomerExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NodeQuotaForCustomerExceededFault'
        '489':
          description: CacheParameterGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheParameterGroupNotFoundFault'
        '490':
          description: InvalidVPCNetworkStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidVPCNetworkStateFault'
        '491':
          description: TagQuotaPerResourceExceeded
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TagQuotaPerResourceExceeded'
        '492':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '493':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCacheClusterMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateCacheParameterGroup':
    post:
      operationId: CreateCacheParameterGroup
      description: '<p>Creates a new Amazon ElastiCache cache parameter group. An ElastiCache cache parameter group is a collection of parameters and their values that are applied to all of the nodes in any cache cluster or replication group using the CacheParameterGroup.</p> <p>A newly created CacheParameterGroup is an exact duplicate of the default parameter group for the CacheParameterGroupFamily. To customize the newly created CacheParameterGroup you can change the values of specific parameters. For more information, see:</p> <ul> <li> <p> <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_ModifyCacheParameterGroup.html">ModifyCacheParameterGroup</a> in the ElastiCache API Reference.</p> </li> <li> <p> <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/ParameterGroups.html">Parameters and Parameter Groups</a> in the ElastiCache User Guide.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateCacheParameterGroupResult'
        '480':
          description: CacheParameterGroupQuotaExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheParameterGroupQuotaExceededFault'
        '481':
          description: CacheParameterGroupAlreadyExistsFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheParameterGroupAlreadyExistsFault'
        '482':
          description: InvalidCacheParameterGroupStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidCacheParameterGroupStateFault'
        '483':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '484':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCacheParameterGroupMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateCacheSecurityGroup':
    post:
      operationId: CreateCacheSecurityGroup
      description: '<p>Creates a new cache security group. Use a cache security group to control access to one or more cache clusters.</p> <p>Cache security groups are only used when you are creating a cache cluster outside of an Amazon Virtual Private Cloud (Amazon VPC). If you are creating a cache cluster inside of a VPC, use a cache subnet group instead. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_CreateCacheSubnetGroup.html">CreateCacheSubnetGroup</a>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateCacheSecurityGroupResult'
        '480':
          description: CacheSecurityGroupAlreadyExistsFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSecurityGroupAlreadyExistsFault'
        '481':
          description: CacheSecurityGroupQuotaExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSecurityGroupQuotaExceededFault'
        '482':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCacheSecurityGroupMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateCacheSubnetGroup':
    post:
      operationId: CreateCacheSubnetGroup
      description: <p>Creates a new cache subnet group.</p> <p>Use this parameter only when you are creating a cluster in an Amazon Virtual Private Cloud (Amazon VPC).</p>
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateCacheSubnetGroupResult'
        '480':
          description: CacheSubnetGroupAlreadyExistsFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSubnetGroupAlreadyExistsFault'
        '481':
          description: CacheSubnetGroupQuotaExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSubnetGroupQuotaExceededFault'
        '482':
          description: CacheSubnetQuotaExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSubnetQuotaExceededFault'
        '483':
          description: InvalidSubnet
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidSubnet'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCacheSubnetGroupMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateReplicationGroup':
    post:
      operationId: CreateReplicationGroup
      description: '<p>Creates a Redis (cluster mode disabled) or a Redis (cluster mode enabled) replication group.</p> <p>A Redis (cluster mode disabled) replication group is a collection of cache clusters, where one of the cache clusters is a read/write primary and the others are read-only replicas. Writes to the primary are asynchronously propagated to the replicas.</p> <p>A Redis (cluster mode enabled) replication group is a collection of 1 to 15 node groups (shards). Each node group (shard) has one read/write primary node and up to 5 read-only replica nodes. Writes to the primary are asynchronously propagated to the replicas. Redis (cluster mode enabled) replication groups partition the data across node groups (shards).</p> <p>When a Redis (cluster mode disabled) replication group has been successfully created, you can add one or more read replicas to it, up to a total of 5 read replicas. You cannot alter a Redis (cluster mode enabled) replication group after it has been created. However, if you need to increase or decrease the number of node groups (console: shards), you can avail yourself of ElastiCache for Redis'' enhanced backup and restore. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/backups-restoring.html">Restoring From a Backup with Cluster Resizing</a> in the <i>ElastiCache User Guide</i>.</p> <note> <p>This operation is valid for Redis only.</p> </note>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateReplicationGroupResult'
        '480':
          description: CacheClusterNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheClusterNotFoundFault'
        '481':
          description: InvalidCacheClusterStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidCacheClusterStateFault'
        '482':
          description: ReplicationGroupAlreadyExistsFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReplicationGroupAlreadyExistsFault'
        '483':
          description: InsufficientCacheClusterCapacityFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InsufficientCacheClusterCapacityFault'
        '484':
          description: CacheSecurityGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSecurityGroupNotFoundFault'
        '485':
          description: CacheSubnetGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSubnetGroupNotFoundFault'
        '486':
          description: ClusterQuotaForCustomerExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClusterQuotaForCustomerExceededFault'
        '487':
          description: NodeQuotaForClusterExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NodeQuotaForClusterExceededFault'
        '488':
          description: NodeQuotaForCustomerExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NodeQuotaForCustomerExceededFault'
        '489':
          description: CacheParameterGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheParameterGroupNotFoundFault'
        '490':
          description: InvalidVPCNetworkStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidVPCNetworkStateFault'
        '491':
          description: TagQuotaPerResourceExceeded
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TagQuotaPerResourceExceeded'
        '492':
          description: NodeGroupsPerReplicationGroupQuotaExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NodeGroupsPerReplicationGroupQuotaExceededFault'
        '493':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '494':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReplicationGroupMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateSnapshot':
    post:
      operationId: CreateSnapshot
      description: <p>Creates a copy of an entire cache cluster or replication group at a specific moment in time.</p> <note> <p>This operation is valid for Redis only.</p> </note>
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateSnapshotResult'
        '480':
          description: SnapshotAlreadyExistsFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotAlreadyExistsFault'
        '481':
          description: CacheClusterNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheClusterNotFoundFault'
        '482':
          description: ReplicationGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReplicationGroupNotFoundFault'
        '483':
          description: InvalidCacheClusterStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidCacheClusterStateFault'
        '484':
          description: InvalidReplicationGroupStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidReplicationGroupStateFault'
        '485':
          description: SnapshotQuotaExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotQuotaExceededFault'
        '486':
          description: SnapshotFeatureNotSupportedFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotFeatureNotSupportedFault'
        '487':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
        '488':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSnapshotMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteCacheCluster':
    post:
      operationId: DeleteCacheCluster
      description: '<p>Deletes a previously provisioned cache cluster. <code>DeleteCacheCluster</code> deletes all associated cache nodes, node endpoints and the cache cluster itself. When you receive a successful response from this operation, Amazon ElastiCache immediately begins deleting the cache cluster; you cannot cancel or revert this operation.</p> <p>This operation cannot be used to delete a cache cluster that is the last read replica of a replication group or node group (shard) that has Multi-AZ mode enabled or a cache cluster from a Redis (cluster mode enabled) replication group.</p> <important> <p>Due to current limitations on Redis (cluster mode disabled), this operation or parameter is not supported on Redis (cluster mode enabled) replication groups.</p> </important>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteCacheClusterResult'
        '480':
          description: CacheClusterNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheClusterNotFoundFault'
        '481':
          description: InvalidCacheClusterStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidCacheClusterStateFault'
        '482':
          description: SnapshotAlreadyExistsFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotAlreadyExistsFault'
        '483':
          description: SnapshotFeatureNotSupportedFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotFeatureNotSupportedFault'
        '484':
          description: SnapshotQuotaExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotQuotaExceededFault'
        '485':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '486':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteCacheClusterMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteCacheParameterGroup':
    post:
      operationId: DeleteCacheParameterGroup
      description: Deletes the specified cache parameter group. You cannot delete a cache parameter group if it is associated with any cache clusters.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidCacheParameterGroupStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidCacheParameterGroupStateFault'
        '481':
          description: CacheParameterGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheParameterGroupNotFoundFault'
        '482':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteCacheParameterGroupMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteCacheSecurityGroup':
    post:
      operationId: DeleteCacheSecurityGroup
      description: <p>Deletes a cache security group.</p> <note> <p>You cannot delete a cache security group if it is associated with any cache clusters.</p> </note>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidCacheSecurityGroupStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidCacheSecurityGroupStateFault'
        '481':
          description: CacheSecurityGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSecurityGroupNotFoundFault'
        '482':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteCacheSecurityGroupMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteCacheSubnetGroup':
    post:
      operationId: DeleteCacheSubnetGroup
      description: <p>Deletes a cache subnet group.</p> <note> <p>You cannot delete a cache subnet group if it is associated with any cache clusters.</p> </note>
      responses:
        '200':
          description: Success
        '480':
          description: CacheSubnetGroupInUse
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSubnetGroupInUse'
        '481':
          description: CacheSubnetGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSubnetGroupNotFoundFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteCacheSubnetGroupMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteReplicationGroup':
    post:
      operationId: DeleteReplicationGroup
      description: '<p>Deletes an existing replication group. By default, this operation deletes the entire replication group, including the primary/primaries and all of the read replicas. If the replication group has only one primary, you can optionally delete only the read replicas, while retaining the primary by setting <code>RetainPrimaryCluster=true</code>.</p> <p>When you receive a successful response from this operation, Amazon ElastiCache immediately begins deleting the selected resources; you cannot cancel or revert this operation.</p> <note> <p>This operation is valid for Redis only.</p> </note>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteReplicationGroupResult'
        '480':
          description: ReplicationGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReplicationGroupNotFoundFault'
        '481':
          description: InvalidReplicationGroupStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidReplicationGroupStateFault'
        '482':
          description: SnapshotAlreadyExistsFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotAlreadyExistsFault'
        '483':
          description: SnapshotFeatureNotSupportedFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotFeatureNotSupportedFault'
        '484':
          description: SnapshotQuotaExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotQuotaExceededFault'
        '485':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '486':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteReplicationGroupMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteSnapshot':
    post:
      operationId: DeleteSnapshot
      description: '<p>Deletes an existing snapshot. When you receive a successful response from this operation, ElastiCache immediately begins deleting the snapshot; you cannot cancel or revert this operation.</p> <note> <p>This operation is valid for Redis only.</p> </note>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteSnapshotResult'
        '480':
          description: SnapshotNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotNotFoundFault'
        '481':
          description: InvalidSnapshotStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidSnapshotStateFault'
        '482':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSnapshotMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeCacheClusters':
    post:
      operationId: DescribeCacheClusters
      description: '<p>Returns information about all provisioned cache clusters if no cache cluster identifier is specified, or about a specific cache cluster if a cache cluster identifier is supplied.</p> <p>By default, abbreviated information about the cache clusters is returned. You can use the optional <i>ShowCacheNodeInfo</i> flag to retrieve detailed information about the cache nodes associated with the cache clusters. These details include the DNS address and port for the cache node endpoint.</p> <p>If the cluster is in the <i>creating</i> state, only cluster-level information is displayed until all of the nodes are successfully provisioned.</p> <p>If the cluster is in the <i>deleting</i> state, only cluster-level information is displayed.</p> <p>If cache nodes are currently being added to the cache cluster, node endpoint information and creation time for the additional nodes are not displayed until they are completely provisioned. When the cache cluster state is <i>available</i>, the cluster is ready for use.</p> <p>If cache nodes are currently being removed from the cache cluster, no endpoint information for the removed nodes is displayed.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheClusterMessage'
        '480':
          description: CacheClusterNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheClusterNotFoundFault'
        '481':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '482':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: Marker
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      x-waiters:
        - acceptors:
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: available
              matcher: pathAll
              state: success
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: deleted
              matcher: pathAny
              state: failure
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: deleting
              matcher: pathAny
              state: failure
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: incompatible-network
              matcher: pathAny
              state: failure
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: restore-failed
              matcher: pathAny
              state: failure
          delay: 15
          description: Wait until ElastiCache cluster is available.
          maxAttempts: 40
          operation: DescribeCacheClusters
        - acceptors:
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: deleted
              matcher: pathAll
              state: success
            - expected: CacheClusterNotFound
              matcher: error
              state: success
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: available
              matcher: pathAny
              state: failure
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: creating
              matcher: pathAny
              state: failure
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: incompatible-network
              matcher: pathAny
              state: failure
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: modifying
              matcher: pathAny
              state: failure
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: restore-failed
              matcher: pathAny
              state: failure
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: snapshotting
              matcher: pathAny
              state: failure
          delay: 15
          description: Wait until ElastiCache cluster is deleted.
          maxAttempts: 40
          operation: DescribeCacheClusters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeCacheClustersMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeCacheEngineVersions':
    post:
      operationId: DescribeCacheEngineVersions
      description: Returns a list of the available cache engines and their versions.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheEngineVersionMessage'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: Marker
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeCacheEngineVersionsMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeCacheParameterGroups':
    post:
      operationId: DescribeCacheParameterGroups
      description: 'Returns a list of cache parameter group descriptions. If a cache parameter group name is specified, the list contains only the descriptions for that group.'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheParameterGroupsMessage'
        '480':
          description: CacheParameterGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheParameterGroupNotFoundFault'
        '481':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '482':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: Marker
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeCacheParameterGroupsMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeCacheParameters':
    post:
      operationId: DescribeCacheParameters
      description: Returns the detailed parameter list for a particular cache parameter group.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheParameterGroupDetails'
        '480':
          description: CacheParameterGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheParameterGroupNotFoundFault'
        '481':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '482':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: Marker
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeCacheParametersMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeCacheSecurityGroups':
    post:
      operationId: DescribeCacheSecurityGroups
      description: 'Returns a list of cache security group descriptions. If a cache security group name is specified, the list contains only the description of that group.'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSecurityGroupMessage'
        '480':
          description: CacheSecurityGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSecurityGroupNotFoundFault'
        '481':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '482':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: Marker
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeCacheSecurityGroupsMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeCacheSubnetGroups':
    post:
      operationId: DescribeCacheSubnetGroups
      description: 'Returns a list of cache subnet group descriptions. If a subnet group name is specified, the list contains only the description of that group.'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSubnetGroupMessage'
        '480':
          description: CacheSubnetGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSubnetGroupNotFoundFault'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: Marker
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeCacheSubnetGroupsMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeEngineDefaultParameters':
    post:
      operationId: DescribeEngineDefaultParameters
      description: Returns the default engine and system parameter information for the specified cache engine.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DescribeEngineDefaultParametersResult'
        '480':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '481':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: Marker
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeEngineDefaultParametersMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeEvents':
    post:
      operationId: DescribeEvents
      description: '<p>Returns events related to cache clusters, cache security groups, and cache parameter groups. You can obtain events specific to a particular cache cluster, cache security group, or cache parameter group by providing the name as a parameter.</p> <p>By default, only the events occurring within the last hour are returned; however, you can retrieve up to 14 days'' worth of events if necessary.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventsMessage'
        '480':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '481':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: Marker
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeEventsMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeReplicationGroups':
    post:
      operationId: DescribeReplicationGroups
      description: '<p>Returns information about a particular replication group. If no identifier is specified, <code>DescribeReplicationGroups</code> returns information about all replication groups.</p> <note> <p>This operation is valid for Redis only.</p> </note>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReplicationGroupMessage'
        '480':
          description: ReplicationGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReplicationGroupNotFoundFault'
        '481':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '482':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: Marker
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      x-waiters:
        - acceptors:
            - argument: 'ReplicationGroups[].Status'
              expected: available
              matcher: pathAll
              state: success
            - argument: 'ReplicationGroups[].Status'
              expected: deleted
              matcher: pathAny
              state: failure
          delay: 15
          description: Wait until ElastiCache replication group is available.
          maxAttempts: 40
          operation: DescribeReplicationGroups
        - acceptors:
            - argument: 'ReplicationGroups[].Status'
              expected: deleted
              matcher: pathAll
              state: success
            - argument: 'ReplicationGroups[].Status'
              expected: available
              matcher: pathAny
              state: failure
            - expected: ReplicationGroupNotFoundFault
              matcher: error
              state: success
          delay: 15
          description: Wait until ElastiCache replication group is deleted.
          maxAttempts: 40
          operation: DescribeReplicationGroups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeReplicationGroupsMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeReservedCacheNodes':
    post:
      operationId: DescribeReservedCacheNodes
      description: 'Returns information about reserved cache nodes for this account, or about a specified reserved cache node.'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReservedCacheNodeMessage'
        '480':
          description: ReservedCacheNodeNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReservedCacheNodeNotFoundFault'
        '481':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '482':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: Marker
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeReservedCacheNodesMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeReservedCacheNodesOfferings':
    post:
      operationId: DescribeReservedCacheNodesOfferings
      description: Lists available reserved cache node offerings.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReservedCacheNodesOfferingMessage'
        '480':
          description: ReservedCacheNodesOfferingNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReservedCacheNodesOfferingNotFoundFault'
        '481':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '482':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: Marker
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeReservedCacheNodesOfferingsMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeSnapshots':
    post:
      operationId: DescribeSnapshots
      description: '<p>Returns information about cache cluster or replication group snapshots. By default, <code>DescribeSnapshots</code> lists all of your snapshots; it can optionally describe a single snapshot, or just the snapshots associated with a particular cache cluster.</p> <note> <p>This operation is valid for Redis only.</p> </note>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DescribeSnapshotsListMessage'
        '480':
          description: CacheClusterNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheClusterNotFoundFault'
        '481':
          description: SnapshotNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotNotFoundFault'
        '482':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: Marker
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeSnapshotsMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListAllowedNodeTypeModifications':
    post:
      operationId: ListAllowedNodeTypeModifications
      description: '<p>Lists all available node types that you can scale your Redis cluster''s or replication group''s current node type up to.</p> <p>When you use the <code>ModifyCacheCluster</code> or <code>ModifyReplicationGroup</code> operations to scale up your cluster or replication group, the value of the <code>CacheNodeType</code> parameter must be one of the node types returned by this operation.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AllowedNodeTypeModificationsMessage'
        '480':
          description: CacheClusterNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheClusterNotFoundFault'
        '481':
          description: ReplicationGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReplicationGroupNotFoundFault'
        '482':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
        '483':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAllowedNodeTypeModificationsMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListTagsForResource':
    post:
      operationId: ListTagsForResource
      description: '<p>Lists all cost allocation tags currently on the named resource. A <code>cost allocation tag</code> is a key-value pair where the key is case-sensitive and the value is optional. You can use cost allocation tags to categorize and track your AWS costs.</p> <p>You can have a maximum of 50 cost allocation tags on an ElastiCache resource. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/BestPractices.html">Using Cost Allocation Tags in Amazon ElastiCache</a>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TagListMessage'
        '480':
          description: CacheClusterNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheClusterNotFoundFault'
        '481':
          description: SnapshotNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotNotFoundFault'
        '482':
          description: InvalidARNFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidARNFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListTagsForResourceMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ModifyCacheCluster':
    post:
      operationId: ModifyCacheCluster
      description: Modifies the settings for a cache cluster. You can use this operation to change one or more cluster configuration parameters by specifying the parameters and the new values.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ModifyCacheClusterResult'
        '480':
          description: InvalidCacheClusterStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidCacheClusterStateFault'
        '481':
          description: InvalidCacheSecurityGroupStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidCacheSecurityGroupStateFault'
        '482':
          description: InsufficientCacheClusterCapacityFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InsufficientCacheClusterCapacityFault'
        '483':
          description: CacheClusterNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheClusterNotFoundFault'
        '484':
          description: NodeQuotaForClusterExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NodeQuotaForClusterExceededFault'
        '485':
          description: NodeQuotaForCustomerExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NodeQuotaForCustomerExceededFault'
        '486':
          description: CacheSecurityGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSecurityGroupNotFoundFault'
        '487':
          description: CacheParameterGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheParameterGroupNotFoundFault'
        '488':
          description: InvalidVPCNetworkStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidVPCNetworkStateFault'
        '489':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '490':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyCacheClusterMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ModifyCacheParameterGroup':
    post:
      operationId: ModifyCacheParameterGroup
      description: Modifies the parameters of a cache parameter group. You can modify up to 20 parameters in a single request by submitting a list parameter name and value pairs.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheParameterGroupNameMessage'
        '480':
          description: CacheParameterGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheParameterGroupNotFoundFault'
        '481':
          description: InvalidCacheParameterGroupStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidCacheParameterGroupStateFault'
        '482':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyCacheParameterGroupMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ModifyCacheSubnetGroup':
    post:
      operationId: ModifyCacheSubnetGroup
      description: Modifies an existing cache subnet group.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ModifyCacheSubnetGroupResult'
        '480':
          description: CacheSubnetGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSubnetGroupNotFoundFault'
        '481':
          description: CacheSubnetQuotaExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSubnetQuotaExceededFault'
        '482':
          description: SubnetInUse
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubnetInUse'
        '483':
          description: InvalidSubnet
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidSubnet'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyCacheSubnetGroupMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ModifyReplicationGroup':
    post:
      operationId: ModifyReplicationGroup
      description: '<p>Modifies the settings for a replication group.</p> <important> <p>Due to current limitations on Redis (cluster mode disabled), this operation or parameter is not supported on Redis (cluster mode enabled) replication groups.</p> </important> <note> <p>This operation is valid for Redis only.</p> </note>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ModifyReplicationGroupResult'
        '480':
          description: ReplicationGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReplicationGroupNotFoundFault'
        '481':
          description: InvalidReplicationGroupStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidReplicationGroupStateFault'
        '482':
          description: InvalidCacheClusterStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidCacheClusterStateFault'
        '483':
          description: InvalidCacheSecurityGroupStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidCacheSecurityGroupStateFault'
        '484':
          description: InsufficientCacheClusterCapacityFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InsufficientCacheClusterCapacityFault'
        '485':
          description: CacheClusterNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheClusterNotFoundFault'
        '486':
          description: NodeQuotaForClusterExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NodeQuotaForClusterExceededFault'
        '487':
          description: NodeQuotaForCustomerExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NodeQuotaForCustomerExceededFault'
        '488':
          description: CacheSecurityGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSecurityGroupNotFoundFault'
        '489':
          description: CacheParameterGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheParameterGroupNotFoundFault'
        '490':
          description: InvalidVPCNetworkStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidVPCNetworkStateFault'
        '491':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '492':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyReplicationGroupMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#PurchaseReservedCacheNodesOffering':
    post:
      operationId: PurchaseReservedCacheNodesOffering
      description: Allows you to purchase a reserved cache node offering.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PurchaseReservedCacheNodesOfferingResult'
        '480':
          description: ReservedCacheNodesOfferingNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReservedCacheNodesOfferingNotFoundFault'
        '481':
          description: ReservedCacheNodeAlreadyExistsFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReservedCacheNodeAlreadyExistsFault'
        '482':
          description: ReservedCacheNodeQuotaExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReservedCacheNodeQuotaExceededFault'
        '483':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '484':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseReservedCacheNodesOfferingMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#RebootCacheCluster':
    post:
      operationId: RebootCacheCluster
      description: '<p>Reboots some, or all, of the cache nodes within a provisioned cache cluster. This operation applies any modified cache parameter groups to the cache cluster. The reboot operation takes place as soon as possible, and results in a momentary outage to the cache cluster. During the reboot, the cache cluster status is set to REBOOTING.</p> <p>The reboot causes the contents of the cache (for each cache node being rebooted) to be lost.</p> <p>When the reboot is complete, a cache cluster event is created.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RebootCacheClusterResult'
        '480':
          description: InvalidCacheClusterStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidCacheClusterStateFault'
        '481':
          description: CacheClusterNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheClusterNotFoundFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RebootCacheClusterMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#RemoveTagsFromResource':
    post:
      operationId: RemoveTagsFromResource
      description: Removes the tags identified by the <code>TagKeys</code> list from the named resource.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TagListMessage'
        '480':
          description: CacheClusterNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheClusterNotFoundFault'
        '481':
          description: SnapshotNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotNotFoundFault'
        '482':
          description: InvalidARNFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidARNFault'
        '483':
          description: TagNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TagNotFoundFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveTagsFromResourceMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ResetCacheParameterGroup':
    post:
      operationId: ResetCacheParameterGroup
      description: 'Modifies the parameters of a cache parameter group to the engine or system default value. You can reset specific parameters by submitting a list of parameter names. To reset the entire cache parameter group, specify the <code>ResetAllParameters</code> and <code>CacheParameterGroupName</code> parameters.'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheParameterGroupNameMessage'
        '480':
          description: InvalidCacheParameterGroupStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidCacheParameterGroupStateFault'
        '481':
          description: CacheParameterGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheParameterGroupNotFoundFault'
        '482':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetCacheParameterGroupMessage'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#RevokeCacheSecurityGroupIngress':
    post:
      operationId: RevokeCacheSecurityGroupIngress
      description: Revokes ingress from a cache security group. Use this operation to disallow access from an Amazon EC2 security group that had been previously authorized.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RevokeCacheSecurityGroupIngressResult'
        '480':
          description: CacheSecurityGroupNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CacheSecurityGroupNotFoundFault'
        '481':
          description: AuthorizationNotFoundFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AuthorizationNotFoundFault'
        '482':
          description: InvalidCacheSecurityGroupStateFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidCacheSecurityGroupStateFault'
        '483':
          description: InvalidParameterValueException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterValueException'
        '484':
          description: InvalidParameterCombinationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidParameterCombinationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeCacheSecurityGroupIngressMessage'
[...]
