swagger: '2.0'
info:
  version: '2015-02-02'
  x-release: v4
  title: Amazon ElastiCache
  description: '<fullname>Amazon ElastiCache</fullname> <p>Amazon ElastiCache is a web service that makes it easier to set up, operate, and scale a distributed cache in the cloud.</p> <p>With ElastiCache, customers get all of the benefits of a high-performance, in-memory cache with less of the administrative burden involved in launching and managing a distributed cache. The service makes setup, scaling, and cluster failure handling much simpler than in a self-managed cache deployment.</p> <p>In addition, through integration with Amazon CloudWatch, customers get enhanced visibility into the key performance statistics associated with their cache and can receive alarms if a part of their cache runs hot.</p>'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: elasticache
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticache-2015-02-02.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
    - format: swagger
      version: '2.0'
      url: 'https://raw.githubusercontent.com/mermade/openapi-definitions/master/aws/elasticache/2015-02-02/swagger.yaml'
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/elasticache/'
host: elasticache.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - http
consumes: []
produces: []
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddTagsToResource
      description: '<p>Adds up to 50 cost allocation tags to the named resource. A cost allocation tag is a key-value pair where the key and value are case-sensitive. You can use cost allocation tags to categorize and track your AWS costs.</p> <p> When you apply tags to your ElastiCache resources, AWS generates a cost allocation report as a comma-separated value (CSV) file with your usage and costs aggregated by your tags. You can apply tags that represent business categories (such as cost centers, application names, or owners) to organize your costs across multiple services. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Tagging.html">Using Cost Allocation Tags in Amazon ElastiCache</a> in the <i>ElastiCache User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagListMessage'
        '480':
          description: CacheClusterNotFoundFault
          schema:
            $ref: '#/definitions/CacheClusterNotFoundFault'
        '481':
          description: SnapshotNotFoundFault
          schema:
            $ref: '#/definitions/SnapshotNotFoundFault'
        '482':
          description: TagQuotaPerResourceExceeded
          schema:
            $ref: '#/definitions/TagQuotaPerResourceExceeded'
        '483':
          description: InvalidARNFault
          schema:
            $ref: '#/definitions/InvalidARNFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsToResourceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AuthorizeCacheSecurityGroupIngress':
    post:
      operationId: AuthorizeCacheSecurityGroupIngress
      description: '<p>Allows network ingress to a cache security group. Applications using ElastiCache must be running on Amazon EC2, and Amazon EC2 security groups are used as the authorization mechanism.</p> <note> <p>You cannot authorize ingress from an Amazon EC2 security group in one region to an ElastiCache cluster in another region.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthorizeCacheSecurityGroupIngressResult'
        '480':
          description: CacheSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheSecurityGroupNotFoundFault'
        '481':
          description: InvalidCacheSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidCacheSecurityGroupStateFault'
        '482':
          description: AuthorizationAlreadyExistsFault
          schema:
            $ref: '#/definitions/AuthorizationAlreadyExistsFault'
        '483':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '484':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AuthorizeCacheSecurityGroupIngressMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CopySnapshot':
    post:
      operationId: CopySnapshot
      description: '<p>Makes a copy of an existing snapshot.</p> <note> <p>This operation is valid for Redis only.</p> </note> <important> <p>Users or groups that have permissions to use the <code>CopySnapshot</code> operation can create their own Amazon S3 buckets and copy snapshots to it. To control access to your snapshots, use an IAM policy to control who has the ability to use the <code>CopySnapshot</code> operation. For more information about using IAM to control the use of ElastiCache operations, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Snapshots.Exporting.html">Exporting Snapshots</a> and <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/IAM.html">Authentication &amp; Access Control</a>.</p> </important> <p>You could receive the following error messages.</p> <p class="title"> <b>Error Messages</b> </p> <ul> <li> <p> <b>Error Message:</b> The S3 bucket %s is outside of the region.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Snapshots.Exporting.html#Snapshots.Exporting.CreateBucket">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s does not exist.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Snapshots.Exporting.html#Snapshots.Exporting.CreateBucket">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s is not owned by the authenticated user.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Snapshots.Exporting.html#Snapshots.Exporting.CreateBucket">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The authenticated user does not have sufficient permissions to perform the desired activity.</p> <p> <b>Solution:</b> Contact your system administrator to get the needed permissions.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s already contains an object with key %s.</p> <p> <b>Solution:</b> Give the <code>TargetSnapshotName</code> a new and unique value. If exporting a snapshot, you could alternatively create a new Amazon S3 bucket and use this same value for <code>TargetSnapshotName</code>.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted READ permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add List and Read permissions on the bucket. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Snapshots.Exporting.html#Snapshots.Exporting.GrantAccess">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted WRITE permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add Upload/Delete permissions on the bucket. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Snapshots.Exporting.html#Snapshots.Exporting.GrantAccess">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted READ_ACP permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add View Permissions on the bucket. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Snapshots.Exporting.html#Snapshots.Exporting.GrantAccess">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopySnapshotResult'
        '480':
          description: SnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/SnapshotAlreadyExistsFault'
        '481':
          description: SnapshotNotFoundFault
          schema:
            $ref: '#/definitions/SnapshotNotFoundFault'
        '482':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '483':
          description: InvalidSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidSnapshotStateFault'
        '484':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '485':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CopySnapshotMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateCacheCluster':
    post:
      operationId: CreateCacheCluster
      description: '<p>Creates a cache cluster. All nodes in the cache cluster run the same protocol-compliant cache engine software, either Memcached or Redis.</p> <important> <p>Due to current limitations on Redis (cluster mode disabled), this operation or parameter is not supported on Redis (cluster mode enabled) replication groups.</p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateCacheClusterResult'
        '480':
          description: ReplicationGroupNotFoundFault
          schema:
            $ref: '#/definitions/ReplicationGroupNotFoundFault'
        '481':
          description: InvalidReplicationGroupStateFault
          schema:
            $ref: '#/definitions/InvalidReplicationGroupStateFault'
        '482':
          description: CacheClusterAlreadyExistsFault
          schema:
            $ref: '#/definitions/CacheClusterAlreadyExistsFault'
        '483':
          description: InsufficientCacheClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientCacheClusterCapacityFault'
        '484':
          description: CacheSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheSecurityGroupNotFoundFault'
        '485':
          description: CacheSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheSubnetGroupNotFoundFault'
        '486':
          description: ClusterQuotaForCustomerExceededFault
          schema:
            $ref: '#/definitions/ClusterQuotaForCustomerExceededFault'
        '487':
          description: NodeQuotaForClusterExceededFault
          schema:
            $ref: '#/definitions/NodeQuotaForClusterExceededFault'
        '488':
          description: NodeQuotaForCustomerExceededFault
          schema:
            $ref: '#/definitions/NodeQuotaForCustomerExceededFault'
        '489':
          description: CacheParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheParameterGroupNotFoundFault'
        '490':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '491':
          description: TagQuotaPerResourceExceeded
          schema:
            $ref: '#/definitions/TagQuotaPerResourceExceeded'
        '492':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '493':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateCacheClusterMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateCacheParameterGroup':
    post:
      operationId: CreateCacheParameterGroup
      description: '<p>Creates a new Amazon ElastiCache cache parameter group. An ElastiCache cache parameter group is a collection of parameters and their values that are applied to all of the nodes in any cache cluster or replication group using the CacheParameterGroup.</p> <p>A newly created CacheParameterGroup is an exact duplicate of the default parameter group for the CacheParameterGroupFamily. To customize the newly created CacheParameterGroup you can change the values of specific parameters. For more information, see:</p> <ul> <li> <p> <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_ModifyCacheParameterGroup.html">ModifyCacheParameterGroup</a> in the ElastiCache API Reference.</p> </li> <li> <p> <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/ParameterGroups.html">Parameters and Parameter Groups</a> in the ElastiCache User Guide.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateCacheParameterGroupResult'
        '480':
          description: CacheParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/CacheParameterGroupQuotaExceededFault'
        '481':
          description: CacheParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/CacheParameterGroupAlreadyExistsFault'
        '482':
          description: InvalidCacheParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidCacheParameterGroupStateFault'
        '483':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '484':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateCacheParameterGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateCacheSecurityGroup':
    post:
      operationId: CreateCacheSecurityGroup
      description: '<p>Creates a new cache security group. Use a cache security group to control access to one or more cache clusters.</p> <p>Cache security groups are only used when you are creating a cache cluster outside of an Amazon Virtual Private Cloud (Amazon VPC). If you are creating a cache cluster inside of a VPC, use a cache subnet group instead. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_CreateCacheSubnetGroup.html">CreateCacheSubnetGroup</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateCacheSecurityGroupResult'
        '480':
          description: CacheSecurityGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/CacheSecurityGroupAlreadyExistsFault'
        '481':
          description: CacheSecurityGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/CacheSecurityGroupQuotaExceededFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateCacheSecurityGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateCacheSubnetGroup':
    post:
      operationId: CreateCacheSubnetGroup
      description: <p>Creates a new cache subnet group.</p> <p>Use this parameter only when you are creating a cluster in an Amazon Virtual Private Cloud (Amazon VPC).</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateCacheSubnetGroupResult'
        '480':
          description: CacheSubnetGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/CacheSubnetGroupAlreadyExistsFault'
        '481':
          description: CacheSubnetGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/CacheSubnetGroupQuotaExceededFault'
        '482':
          description: CacheSubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/CacheSubnetQuotaExceededFault'
        '483':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateCacheSubnetGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateReplicationGroup':
    post:
      operationId: CreateReplicationGroup
      description: '<p>Creates a Redis (cluster mode disabled) or a Redis (cluster mode enabled) replication group.</p> <p>A Redis (cluster mode disabled) replication group is a collection of cache clusters, where one of the cache clusters is a read/write primary and the others are read-only replicas. Writes to the primary are asynchronously propagated to the replicas.</p> <p>A Redis (cluster mode enabled) replication group is a collection of 1 to 15 node groups (shards). Each node group (shard) has one read/write primary node and up to 5 read-only replica nodes. Writes to the primary are asynchronously propagated to the replicas. Redis (cluster mode enabled) replication groups partition the data across node groups (shards).</p> <p>When a Redis (cluster mode disabled) replication group has been successfully created, you can add one or more read replicas to it, up to a total of 5 read replicas. You cannot alter a Redis (cluster mode enabled) replication group after it has been created. However, if you need to increase or decrease the number of node groups (console: shards), you can avail yourself of ElastiCache for Redis'' enhanced backup and restore. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/backups-restoring.html">Restoring From a Backup with Cluster Resizing</a> in the <i>ElastiCache User Guide</i>.</p> <note> <p>This operation is valid for Redis only.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReplicationGroupResult'
        '480':
          description: CacheClusterNotFoundFault
          schema:
            $ref: '#/definitions/CacheClusterNotFoundFault'
        '481':
          description: InvalidCacheClusterStateFault
          schema:
            $ref: '#/definitions/InvalidCacheClusterStateFault'
        '482':
          description: ReplicationGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/ReplicationGroupAlreadyExistsFault'
        '483':
          description: InsufficientCacheClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientCacheClusterCapacityFault'
        '484':
          description: CacheSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheSecurityGroupNotFoundFault'
        '485':
          description: CacheSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheSubnetGroupNotFoundFault'
        '486':
          description: ClusterQuotaForCustomerExceededFault
          schema:
            $ref: '#/definitions/ClusterQuotaForCustomerExceededFault'
        '487':
          description: NodeQuotaForClusterExceededFault
          schema:
            $ref: '#/definitions/NodeQuotaForClusterExceededFault'
        '488':
          description: NodeQuotaForCustomerExceededFault
          schema:
            $ref: '#/definitions/NodeQuotaForCustomerExceededFault'
        '489':
          description: CacheParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheParameterGroupNotFoundFault'
        '490':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '491':
          description: TagQuotaPerResourceExceeded
          schema:
            $ref: '#/definitions/TagQuotaPerResourceExceeded'
        '492':
          description: NodeGroupsPerReplicationGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/NodeGroupsPerReplicationGroupQuotaExceededFault'
        '493':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '494':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateReplicationGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateSnapshot':
    post:
      operationId: CreateSnapshot
      description: <p>Creates a copy of an entire cache cluster or replication group at a specific moment in time.</p> <note> <p>This operation is valid for Redis only.</p> </note>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSnapshotResult'
        '480':
          description: SnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/SnapshotAlreadyExistsFault'
        '481':
          description: CacheClusterNotFoundFault
          schema:
            $ref: '#/definitions/CacheClusterNotFoundFault'
        '482':
          description: ReplicationGroupNotFoundFault
          schema:
            $ref: '#/definitions/ReplicationGroupNotFoundFault'
        '483':
          description: InvalidCacheClusterStateFault
          schema:
            $ref: '#/definitions/InvalidCacheClusterStateFault'
        '484':
          description: InvalidReplicationGroupStateFault
          schema:
            $ref: '#/definitions/InvalidReplicationGroupStateFault'
        '485':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '486':
          description: SnapshotFeatureNotSupportedFault
          schema:
            $ref: '#/definitions/SnapshotFeatureNotSupportedFault'
        '487':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
        '488':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateSnapshotMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteCacheCluster':
    post:
      operationId: DeleteCacheCluster
      description: '<p>Deletes a previously provisioned cache cluster. <code>DeleteCacheCluster</code> deletes all associated cache nodes, node endpoints and the cache cluster itself. When you receive a successful response from this operation, Amazon ElastiCache immediately begins deleting the cache cluster; you cannot cancel or revert this operation.</p> <p>This operation cannot be used to delete a cache cluster that is the last read replica of a replication group or node group (shard) that has Multi-AZ mode enabled or a cache cluster from a Redis (cluster mode enabled) replication group.</p> <important> <p>Due to current limitations on Redis (cluster mode disabled), this operation or parameter is not supported on Redis (cluster mode enabled) replication groups.</p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteCacheClusterResult'
        '480':
          description: CacheClusterNotFoundFault
          schema:
            $ref: '#/definitions/CacheClusterNotFoundFault'
        '481':
          description: InvalidCacheClusterStateFault
          schema:
            $ref: '#/definitions/InvalidCacheClusterStateFault'
        '482':
          description: SnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/SnapshotAlreadyExistsFault'
        '483':
          description: SnapshotFeatureNotSupportedFault
          schema:
            $ref: '#/definitions/SnapshotFeatureNotSupportedFault'
        '484':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '485':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '486':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteCacheClusterMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteCacheParameterGroup':
    post:
      operationId: DeleteCacheParameterGroup
      description: Deletes the specified cache parameter group. You cannot delete a cache parameter group if it is associated with any cache clusters.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidCacheParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidCacheParameterGroupStateFault'
        '481':
          description: CacheParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheParameterGroupNotFoundFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteCacheParameterGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteCacheSecurityGroup':
    post:
      operationId: DeleteCacheSecurityGroup
      description: <p>Deletes a cache security group.</p> <note> <p>You cannot delete a cache security group if it is associated with any cache clusters.</p> </note>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidCacheSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidCacheSecurityGroupStateFault'
        '481':
          description: CacheSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheSecurityGroupNotFoundFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteCacheSecurityGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteCacheSubnetGroup':
    post:
      operationId: DeleteCacheSubnetGroup
      description: <p>Deletes a cache subnet group.</p> <note> <p>You cannot delete a cache subnet group if it is associated with any cache clusters.</p> </note>
      responses:
        '200':
          description: Success
        '480':
          description: CacheSubnetGroupInUse
          schema:
            $ref: '#/definitions/CacheSubnetGroupInUse'
        '481':
          description: CacheSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheSubnetGroupNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteCacheSubnetGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteReplicationGroup':
    post:
      operationId: DeleteReplicationGroup
      description: '<p>Deletes an existing replication group. By default, this operation deletes the entire replication group, including the primary/primaries and all of the read replicas. If the replication group has only one primary, you can optionally delete only the read replicas, while retaining the primary by setting <code>RetainPrimaryCluster=true</code>.</p> <p>When you receive a successful response from this operation, Amazon ElastiCache immediately begins deleting the selected resources; you cannot cancel or revert this operation.</p> <note> <p>This operation is valid for Redis only.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReplicationGroupResult'
        '480':
          description: ReplicationGroupNotFoundFault
          schema:
            $ref: '#/definitions/ReplicationGroupNotFoundFault'
        '481':
          description: InvalidReplicationGroupStateFault
          schema:
            $ref: '#/definitions/InvalidReplicationGroupStateFault'
        '482':
          description: SnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/SnapshotAlreadyExistsFault'
        '483':
          description: SnapshotFeatureNotSupportedFault
          schema:
            $ref: '#/definitions/SnapshotFeatureNotSupportedFault'
        '484':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '485':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '486':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteReplicationGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteSnapshot':
    post:
      operationId: DeleteSnapshot
      description: '<p>Deletes an existing snapshot. When you receive a successful response from this operation, ElastiCache immediately begins deleting the snapshot; you cannot cancel or revert this operation.</p> <note> <p>This operation is valid for Redis only.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSnapshotResult'
        '480':
          description: SnapshotNotFoundFault
          schema:
            $ref: '#/definitions/SnapshotNotFoundFault'
        '481':
          description: InvalidSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidSnapshotStateFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSnapshotMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeCacheClusters':
    post:
      operationId: DescribeCacheClusters
      description: '<p>Returns information about all provisioned cache clusters if no cache cluster identifier is specified, or about a specific cache cluster if a cache cluster identifier is supplied.</p> <p>By default, abbreviated information about the cache clusters is returned. You can use the optional <i>ShowCacheNodeInfo</i> flag to retrieve detailed information about the cache nodes associated with the cache clusters. These details include the DNS address and port for the cache node endpoint.</p> <p>If the cluster is in the <i>creating</i> state, only cluster-level information is displayed until all of the nodes are successfully provisioned.</p> <p>If the cluster is in the <i>deleting</i> state, only cluster-level information is displayed.</p> <p>If cache nodes are currently being added to the cache cluster, node endpoint information and creation time for the additional nodes are not displayed until they are completely provisioned. When the cache cluster state is <i>available</i>, the cluster is ready for use.</p> <p>If cache nodes are currently being removed from the cache cluster, no endpoint information for the removed nodes is displayed.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CacheClusterMessage'
        '480':
          description: CacheClusterNotFoundFault
          schema:
            $ref: '#/definitions/CacheClusterNotFoundFault'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeCacheClustersMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
      x-waiters:
        - acceptors:
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: available
              matcher: pathAll
              state: success
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: deleted
              matcher: pathAny
              state: failure
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: deleting
              matcher: pathAny
              state: failure
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: incompatible-network
              matcher: pathAny
              state: failure
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: restore-failed
              matcher: pathAny
              state: failure
          delay: 15
          description: Wait until ElastiCache cluster is available.
          maxAttempts: 40
          operation: DescribeCacheClusters
        - acceptors:
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: deleted
              matcher: pathAll
              state: success
            - expected: CacheClusterNotFound
              matcher: error
              state: success
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: available
              matcher: pathAny
              state: failure
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: creating
              matcher: pathAny
              state: failure
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: incompatible-network
              matcher: pathAny
              state: failure
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: modifying
              matcher: pathAny
              state: failure
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: restore-failed
              matcher: pathAny
              state: failure
            - argument: 'CacheClusters[].CacheClusterStatus'
              expected: snapshotting
              matcher: pathAny
              state: failure
          delay: 15
          description: Wait until ElastiCache cluster is deleted.
          maxAttempts: 40
          operation: DescribeCacheClusters
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeCacheEngineVersions':
    post:
      operationId: DescribeCacheEngineVersions
      description: Returns a list of the available cache engines and their versions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CacheEngineVersionMessage'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeCacheEngineVersionsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeCacheParameterGroups':
    post:
      operationId: DescribeCacheParameterGroups
      description: 'Returns a list of cache parameter group descriptions. If a cache parameter group name is specified, the list contains only the descriptions for that group.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CacheParameterGroupsMessage'
        '480':
          description: CacheParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheParameterGroupNotFoundFault'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeCacheParameterGroupsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeCacheParameters':
    post:
      operationId: DescribeCacheParameters
      description: Returns the detailed parameter list for a particular cache parameter group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CacheParameterGroupDetails'
        '480':
          description: CacheParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheParameterGroupNotFoundFault'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeCacheParametersMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeCacheSecurityGroups':
    post:
      operationId: DescribeCacheSecurityGroups
      description: 'Returns a list of cache security group descriptions. If a cache security group name is specified, the list contains only the description of that group.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CacheSecurityGroupMessage'
        '480':
          description: CacheSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheSecurityGroupNotFoundFault'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeCacheSecurityGroupsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeCacheSubnetGroups':
    post:
      operationId: DescribeCacheSubnetGroups
      description: 'Returns a list of cache subnet group descriptions. If a subnet group name is specified, the list contains only the description of that group.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CacheSubnetGroupMessage'
        '480':
          description: CacheSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheSubnetGroupNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeCacheSubnetGroupsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEngineDefaultParameters':
    post:
      operationId: DescribeEngineDefaultParameters
      description: Returns the default engine and system parameter information for the specified cache engine.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEngineDefaultParametersResult'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEngineDefaultParametersMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEvents':
    post:
      operationId: DescribeEvents
      description: '<p>Returns events related to cache clusters, cache security groups, and cache parameter groups. You can obtain events specific to a particular cache cluster, cache security group, or cache parameter group by providing the name as a parameter.</p> <p>By default, only the events occurring within the last hour are returned; however, you can retrieve up to 14 days'' worth of events if necessary.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EventsMessage'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeReplicationGroups':
    post:
      operationId: DescribeReplicationGroups
      description: '<p>Returns information about a particular replication group. If no identifier is specified, <code>DescribeReplicationGroups</code> returns information about all replication groups.</p> <note> <p>This operation is valid for Redis only.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ReplicationGroupMessage'
        '480':
          description: ReplicationGroupNotFoundFault
          schema:
            $ref: '#/definitions/ReplicationGroupNotFoundFault'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReplicationGroupsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
      x-waiters:
        - acceptors:
            - argument: 'ReplicationGroups[].Status'
              expected: available
              matcher: pathAll
              state: success
            - argument: 'ReplicationGroups[].Status'
              expected: deleted
              matcher: pathAny
              state: failure
          delay: 15
          description: Wait until ElastiCache replication group is available.
          maxAttempts: 40
          operation: DescribeReplicationGroups
        - acceptors:
            - argument: 'ReplicationGroups[].Status'
              expected: deleted
              matcher: pathAll
              state: success
            - argument: 'ReplicationGroups[].Status'
              expected: available
              matcher: pathAny
              state: failure
            - expected: ReplicationGroupNotFoundFault
              matcher: error
              state: success
          delay: 15
          description: Wait until ElastiCache replication group is deleted.
          maxAttempts: 40
          operation: DescribeReplicationGroups
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeReservedCacheNodes':
    post:
      operationId: DescribeReservedCacheNodes
      description: 'Returns information about reserved cache nodes for this account, or about a specified reserved cache node.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ReservedCacheNodeMessage'
        '480':
          description: ReservedCacheNodeNotFoundFault
          schema:
            $ref: '#/definitions/ReservedCacheNodeNotFoundFault'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReservedCacheNodesMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeReservedCacheNodesOfferings':
    post:
      operationId: DescribeReservedCacheNodesOfferings
      description: Lists available reserved cache node offerings.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ReservedCacheNodesOfferingMessage'
        '480':
          description: ReservedCacheNodesOfferingNotFoundFault
          schema:
            $ref: '#/definitions/ReservedCacheNodesOfferingNotFoundFault'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReservedCacheNodesOfferingsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeSnapshots':
    post:
      operationId: DescribeSnapshots
      description: '<p>Returns information about cache cluster or replication group snapshots. By default, <code>DescribeSnapshots</code> lists all of your snapshots; it can optionally describe a single snapshot, or just the snapshots associated with a particular cache cluster.</p> <note> <p>This operation is valid for Redis only.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSnapshotsListMessage'
        '480':
          description: CacheClusterNotFoundFault
          schema:
            $ref: '#/definitions/CacheClusterNotFoundFault'
        '481':
          description: SnapshotNotFoundFault
          schema:
            $ref: '#/definitions/SnapshotNotFoundFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSnapshotsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListAllowedNodeTypeModifications':
    post:
      operationId: ListAllowedNodeTypeModifications
      description: '<p>Lists all available node types that you can scale your Redis cluster''s or replication group''s current node type up to.</p> <p>When you use the <code>ModifyCacheCluster</code> or <code>ModifyReplicationGroup</code> operations to scale up your cluster or replication group, the value of the <code>CacheNodeType</code> parameter must be one of the node types returned by this operation.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AllowedNodeTypeModificationsMessage'
        '480':
          description: CacheClusterNotFoundFault
          schema:
            $ref: '#/definitions/CacheClusterNotFoundFault'
        '481':
          description: ReplicationGroupNotFoundFault
          schema:
            $ref: '#/definitions/ReplicationGroupNotFoundFault'
        '482':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
        '483':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListAllowedNodeTypeModificationsMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListTagsForResource':
    post:
      operationId: ListTagsForResource
      description: '<p>Lists all cost allocation tags currently on the named resource. A <code>cost allocation tag</code> is a key-value pair where the key is case-sensitive and the value is optional. You can use cost allocation tags to categorize and track your AWS costs.</p> <p>You can have a maximum of 50 cost allocation tags on an ElastiCache resource. For more information, see <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/BestPractices.html">Using Cost Allocation Tags in Amazon ElastiCache</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagListMessage'
        '480':
          description: CacheClusterNotFoundFault
          schema:
            $ref: '#/definitions/CacheClusterNotFoundFault'
        '481':
          description: SnapshotNotFoundFault
          schema:
            $ref: '#/definitions/SnapshotNotFoundFault'
        '482':
          description: InvalidARNFault
          schema:
            $ref: '#/definitions/InvalidARNFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyCacheCluster':
    post:
      operationId: ModifyCacheCluster
      description: Modifies the settings for a cache cluster. You can use this operation to change one or more cluster configuration parameters by specifying the parameters and the new values.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyCacheClusterResult'
        '480':
          description: InvalidCacheClusterStateFault
          schema:
            $ref: '#/definitions/InvalidCacheClusterStateFault'
        '481':
          description: InvalidCacheSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidCacheSecurityGroupStateFault'
        '482':
          description: InsufficientCacheClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientCacheClusterCapacityFault'
        '483':
          description: CacheClusterNotFoundFault
          schema:
            $ref: '#/definitions/CacheClusterNotFoundFault'
        '484':
          description: NodeQuotaForClusterExceededFault
          schema:
            $ref: '#/definitions/NodeQuotaForClusterExceededFault'
        '485':
          description: NodeQuotaForCustomerExceededFault
          schema:
            $ref: '#/definitions/NodeQuotaForCustomerExceededFault'
        '486':
          description: CacheSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheSecurityGroupNotFoundFault'
        '487':
          description: CacheParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheParameterGroupNotFoundFault'
        '488':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '489':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '490':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyCacheClusterMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyCacheParameterGroup':
    post:
      operationId: ModifyCacheParameterGroup
      description: Modifies the parameters of a cache parameter group. You can modify up to 20 parameters in a single request by submitting a list parameter name and value pairs.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CacheParameterGroupNameMessage'
        '480':
          description: CacheParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheParameterGroupNotFoundFault'
        '481':
          description: InvalidCacheParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidCacheParameterGroupStateFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyCacheParameterGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyCacheSubnetGroup':
    post:
      operationId: ModifyCacheSubnetGroup
      description: Modifies an existing cache subnet group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyCacheSubnetGroupResult'
        '480':
          description: CacheSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheSubnetGroupNotFoundFault'
        '481':
          description: CacheSubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/CacheSubnetQuotaExceededFault'
        '482':
          description: SubnetInUse
          schema:
            $ref: '#/definitions/SubnetInUse'
        '483':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyCacheSubnetGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyReplicationGroup':
    post:
      operationId: ModifyReplicationGroup
      description: '<p>Modifies the settings for a replication group.</p> <important> <p>Due to current limitations on Redis (cluster mode disabled), this operation or parameter is not supported on Redis (cluster mode enabled) replication groups.</p> </important> <note> <p>This operation is valid for Redis only.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyReplicationGroupResult'
        '480':
          description: ReplicationGroupNotFoundFault
          schema:
            $ref: '#/definitions/ReplicationGroupNotFoundFault'
        '481':
          description: InvalidReplicationGroupStateFault
          schema:
            $ref: '#/definitions/InvalidReplicationGroupStateFault'
        '482':
          description: InvalidCacheClusterStateFault
          schema:
            $ref: '#/definitions/InvalidCacheClusterStateFault'
        '483':
          description: InvalidCacheSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidCacheSecurityGroupStateFault'
        '484':
          description: InsufficientCacheClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientCacheClusterCapacityFault'
        '485':
          description: CacheClusterNotFoundFault
          schema:
            $ref: '#/definitions/CacheClusterNotFoundFault'
        '486':
          description: NodeQuotaForClusterExceededFault
          schema:
            $ref: '#/definitions/NodeQuotaForClusterExceededFault'
        '487':
          description: NodeQuotaForCustomerExceededFault
          schema:
            $ref: '#/definitions/NodeQuotaForCustomerExceededFault'
        '488':
          description: CacheSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheSecurityGroupNotFoundFault'
        '489':
          description: CacheParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheParameterGroupNotFoundFault'
        '490':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '491':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '492':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyReplicationGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PurchaseReservedCacheNodesOffering':
    post:
      operationId: PurchaseReservedCacheNodesOffering
      description: Allows you to purchase a reserved cache node offering.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PurchaseReservedCacheNodesOfferingResult'
        '480':
          description: ReservedCacheNodesOfferingNotFoundFault
          schema:
            $ref: '#/definitions/ReservedCacheNodesOfferingNotFoundFault'
        '481':
          description: ReservedCacheNodeAlreadyExistsFault
          schema:
            $ref: '#/definitions/ReservedCacheNodeAlreadyExistsFault'
        '482':
          description: ReservedCacheNodeQuotaExceededFault
          schema:
            $ref: '#/definitions/ReservedCacheNodeQuotaExceededFault'
        '483':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '484':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PurchaseReservedCacheNodesOfferingMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RebootCacheCluster':
    post:
      operationId: RebootCacheCluster
      description: '<p>Reboots some, or all, of the cache nodes within a provisioned cache cluster. This operation applies any modified cache parameter groups to the cache cluster. The reboot operation takes place as soon as possible, and results in a momentary outage to the cache cluster. During the reboot, the cache cluster status is set to REBOOTING.</p> <p>The reboot causes the contents of the cache (for each cache node being rebooted) to be lost.</p> <p>When the reboot is complete, a cache cluster event is created.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RebootCacheClusterResult'
        '480':
          description: InvalidCacheClusterStateFault
          schema:
            $ref: '#/definitions/InvalidCacheClusterStateFault'
        '481':
          description: CacheClusterNotFoundFault
          schema:
            $ref: '#/definitions/CacheClusterNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RebootCacheClusterMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RemoveTagsFromResource':
    post:
      operationId: RemoveTagsFromResource
      description: Removes the tags identified by the <code>TagKeys</code> list from the named resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagListMessage'
        '480':
          description: CacheClusterNotFoundFault
          schema:
            $ref: '#/definitions/CacheClusterNotFoundFault'
        '481':
          description: SnapshotNotFoundFault
          schema:
            $ref: '#/definitions/SnapshotNotFoundFault'
        '482':
          description: InvalidARNFault
          schema:
            $ref: '#/definitions/InvalidARNFault'
        '483':
          description: TagNotFoundFault
          schema:
            $ref: '#/definitions/TagNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveTagsFromResourceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ResetCacheParameterGroup':
    post:
      operationId: ResetCacheParameterGroup
      description: 'Modifies the parameters of a cache parameter group to the engine or system default value. You can reset specific parameters by submitting a list of parameter names. To reset the entire cache parameter group, specify the <code>ResetAllParameters</code> and <code>CacheParameterGroupName</code> parameters.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CacheParameterGroupNameMessage'
        '480':
          description: InvalidCacheParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidCacheParameterGroupStateFault'
        '481':
          description: CacheParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheParameterGroupNotFoundFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResetCacheParameterGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RevokeCacheSecurityGroupIngress':
    post:
      operationId: RevokeCacheSecurityGroupIngress
      description: Revokes ingress from a cache security group. Use this operation to disallow access from an Amazon EC2 security group that had been previously authorized.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RevokeCacheSecurityGroupIngressResult'
        '480':
          description: CacheSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/CacheSecurityGroupNotFoundFault'
        '481':
          description: AuthorizationNotFoundFault
          schema:
            $ref: '#/definitions/AuthorizationNotFoundFault'
        '482':
          description: InvalidCacheSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidCacheSecurityGroupStateFault'
        '483':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '484':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RevokeCacheSecurityGroupIngressMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#TestFailover':
    post:
      operationId: TestFailover
      description: '<p>Represents the input of a <code>TestFailover</code> operation which test automatic failover on a specified node group (called shard in the console) in a replication group (called cluster in the console).</p> <p class="title"> <b>Note the following</b> </p> <ul> <li> <p>A customer can use this operation to test automatic failover on up to 5 shards (called node groups in the ElastiCache API and AWS CLI) in any rolling 24-hour period.</p> </li> <li> <p>If calling this operation on shards in different clusters (called replication groups in the API and CLI), the calls can be made concurrently.</p> <p> </p> </li> <li> <p>If calling this operation multiple times on different shards in the same Redis (cluster mode enabled) replication group, the first node replacement must complete before a subsequent call can be made.</p> </li> <li> <p>To determine whether the node replacement is complete you can check Events using the Amazon ElastiCache console, the AWS CLI, or the ElastiCache API. Look for the following automatic failover related events, listed here in order of occurrance:</p> <ol> <li> <p>Replication group message: <code>Test Failover API called for node group &lt;node-group-id&gt;</code> </p> </li> <li> <p>Cache cluster message: <code>Failover from master node &lt;primary-node-id&gt; to replica node &lt;node-id&gt; completed</code> </p> </li> <li> <p>Replication group message: <code>Failover from master node &lt;primary-node-id&gt; to replica node &lt;node-id&gt; completed</code> </p> </li> <li> <p>Cache cluster message: <code>Recovering cache nodes &lt;node-id&gt;</code> </p> </li> <li> <p>Cache cluster message: <code>Finished recovery for cache nodes &lt;node-id&gt;</code> </p> </li> </ol> <p>For more information see:</p> <ul> <li> <p> <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/ECEvents.Viewing.html">Viewing ElastiCache Events</a> in the <i>ElastiCache User Guide</i> </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_DescribeEvents.html">DescribeEvents</a> in the ElastiCache API Reference</p> </li> </ul> </li> </ul> <p>Also see, <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/AutoFailover.html#auto-failover-test">Testing Multi-AZ with Automatic Failover</a> in the <i>ElastiCache User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TestFailoverResult'
        '480':
          description: APICallRateForCustomerExceededFault
          schema:
            $ref: '#/definitions/APICallRateForCustomerExceededFault'
        '481':
          description: InvalidCacheClusterStateFault
          schema:
            $ref: '#/definitions/InvalidCacheClusterStateFault'
        '482':
          description: InvalidReplicationGroupStateFault
          schema:
            $ref: '#/definitions/InvalidReplicationGroupStateFault'
        '483':
          description: NodeGroupNotFoundFault
          schema:
            $ref: '#/definitions/NodeGroupNotFoundFault'
        '484':
          description: ReplicationGroupNotFoundFault
          schema:
            $ref: '#/definitions/ReplicationGroupNotFoundFault'
        '485':
          description: TestFailoverNotAvailableFault
          schema:
            $ref: '#/definitions/TestFailoverNotAvailableFault'
        '486':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '487':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TestFailoverMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  APICallRateForCustomerExceededFault:
    type: object
    properties: {}
    description: The customer has exceeded the allowed rate of API calls.
  AZMode:
    type: string
    enum:
      - single-az
      - cross-az
  AddTagsToResourceMessage:
    type: object
    required:
      - ResourceName
      - Tags
    properties:
      ResourceName:
        $ref: '#/definitions/String'
        description: '<p>The Amazon Resource Name (ARN) of the resource to which the tags are to be added, for example <code>arn:aws:elasticache:us-west-2:0123456789:cluster:myCluster</code> or <code>arn:aws:elasticache:us-west-2:0123456789:snapshot:mySnapshot</code>.</p> <p>For more information about ARNs, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>'
      Tags:
        $ref: '#/definitions/TagList'
        description: A list of cost allocation tags to be added to this resource. A tag is a key-value pair. A tag key must be accompanied by a tag value.
    description: Represents the input of an AddTagsToResource operation.
  AllowedNodeTypeModificationsMessage:
    type: object
    properties:
      ScaleUpModifications:
        $ref: '#/definitions/NodeTypeList'
        description: '<p>A string list, each element of which specifies a cache node type which you can use to scale your cache cluster or replication group.</p> <p>When scaling up a Redis cluster or replication group using <code>ModifyCacheCluster</code> or <code>ModifyReplicationGroup</code>, use a value from this list for the <code>CacheNodeType</code> parameter.</p>'
    description: Represents the allowed node types you can use to modify your cache cluster or replication group.
  AuthorizationAlreadyExistsFault:
    type: object
    properties: {}
    description: The specified Amazon EC2 security group is already authorized for the specified cache security group.
  AuthorizationNotFoundFault:
    type: object
    properties: {}
    description: The specified Amazon EC2 security group is not authorized for the specified cache security group.
  AuthorizeCacheSecurityGroupIngressMessage:
    type: object
    required:
      - CacheSecurityGroupName
      - EC2SecurityGroupName
      - EC2SecurityGroupOwnerId
    properties:
      CacheSecurityGroupName:
        $ref: '#/definitions/String'
        description: The cache security group that allows network ingress.
      EC2SecurityGroupName:
        $ref: '#/definitions/String'
        description: The Amazon EC2 security group to be authorized for ingress to the cache security group.
      EC2SecurityGroupOwnerId:
        $ref: '#/definitions/String'
        description: The AWS account number of the Amazon EC2 security group owner. Note that this is not the same thing as an AWS access key ID - you must provide a valid AWS account number for this parameter.
    description: Represents the input of an AuthorizeCacheSecurityGroupIngress operation.
  AuthorizeCacheSecurityGroupIngressResult:
    type: object
    properties:
      CacheSecurityGroup:
        $ref: '#/definitions/CacheSecurityGroup'
  AutomaticFailoverStatus:
    type: string
    enum:
      - enabled
      - disabled
      - enabling
      - disabling
  AvailabilityZone:
    type: object
    properties:
      Name:
        $ref: '#/definitions/String'
        description: The name of the Availability Zone.
    description: Describes an Availability Zone in which the cache cluster is launched.
  AvailabilityZonesList:
    type: array
    items:
      $ref: '#/definitions/String'
  AwsQueryErrorMessage:
    type: string
  Boolean:
    type: boolean
  BooleanOptional:
    type: boolean
  CacheCluster:
    type: object
    properties:
      CacheClusterId:
        $ref: '#/definitions/String'
        description: The user-supplied identifier of the cache cluster. This identifier is a unique key that identifies a cache cluster.
      ConfigurationEndpoint:
        $ref: '#/definitions/Endpoint'
        description: '<p>Represents a Memcached cluster endpoint which, if Automatic Discovery is enabled on the cluster, can be used by an application to connect to any node in the cluster. The configuration endpoint will always have <code>.cfg</code> in it.</p> <p>Example: <code>mem-3.9dvc4r<u>.cfg</u>.usw2.cache.amazonaws.com:11211</code> </p>'
      ClientDownloadLandingPage:
        $ref: '#/definitions/String'
        description: The URL of the web page where you can download the latest ElastiCache client library.
      CacheNodeType:
        $ref: '#/definitions/String'
        description: '<p>The name of the compute and memory capacity node type for the cache cluster.</p> <p>Valid node types are as follows:</p> <ul> <li> <p>General purpose:</p> <ul> <li> <p>Current generation: <code>cache.t2.micro</code>, <code>cache.t2.small</code>, <code>cache.t2.medium</code>, <code>cache.m3.medium</code>, <code>cache.m3.large</code>, <code>cache.m3.xlarge</code>, <code>cache.m3.2xlarge</code>, <code>cache.m4.large</code>, <code>cache.m4.xlarge</code>, <code>cache.m4.2xlarge</code>, <code>cache.m4.4xlarge</code>, <code>cache.m4.10xlarge</code> </p> </li> <li> <p>Previous generation: <code>cache.t1.micro</code>, <code>cache.m1.small</code>, <code>cache.m1.medium</code>, <code>cache.m1.large</code>, <code>cache.m1.xlarge</code> </p> </li> </ul> </li> <li> <p>Compute optimized: <code>cache.c1.xlarge</code> </p> </li> <li> <p>Memory optimized:</p> <ul> <li> <p>Current generation: <code>cache.r3.large</code>, <code>cache.r3.xlarge</code>, <code>cache.r3.2xlarge</code>, <code>cache.r3.4xlarge</code>, <code>cache.r3.8xlarge</code> </p> </li> <li> <p>Previous generation: <code>cache.m2.xlarge</code>, <code>cache.m2.2xlarge</code>, <code>cache.m2.4xlarge</code> </p> </li> </ul> </li> </ul> <p> <b>Notes:</b> </p> <ul> <li> <p>All T2 instances are created in an Amazon Virtual Private Cloud (Amazon VPC).</p> </li> <li> <p>Redis backup/restore is not supported for Redis (cluster mode disabled) T1 and T2 instances. Backup/restore is supported on Redis (cluster mode enabled) T2 instances.</p> </li> <li> <p>Redis Append-only files (AOF) functionality is not supported for T1 or T2 instances.</p> </li> </ul> <p>For a complete listing of node types and specifications, see <a href="http://aws.amazon.com/elasticache/details">Amazon ElastiCache Product Features and Details</a> and either <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/CacheParameterGroups.Memcached.html#ParameterGroups.Memcached.NodeSpecific">Cache Node Type-Specific Parameters for Memcached</a> or <a href="http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/CacheParameterGroups.Redis.html#ParameterGroups.Redis.NodeSpecific">Cache Node Type-Specific Parameters for Redis</a>.</p>'
      Engine:
        $ref: '#/definitions/String'
        description: The name of the cache engine (<code>memcached</code> or <code>redis</code>) to be used for this cache cluster.
      EngineVersion:
        $ref: '#/definitions/String'
        description: The version of the cache engine that is used in this cache cluster.
      CacheClusterStatus:
        $ref: '#/definitions/String'
        description: 'The current state of this cache cluster, one of the following values: <code>available</code>, <code>creating</code>, <code>deleted</code>, <code>deleting</code>, <code>incompatible-network</code>, <code>modifying</code>, <code>rebooting cache cluster nodes</code>, <code>restore-failed</code>, or <code>snapshotting</code>.'
      NumCacheNodes:
        $ref: '#/definitions/IntegerOptional'
        description: '<p>The number of cache nodes in the cache cluster.</p> <p>For clusters running Redis, this value must be 1. For clusters running Memcached, this value must be between 1 and 20.</p>'
      PreferredAvailabilityZone:
        $ref: '#/definitions/String'
        description: The name of the Availability Zone in which the cache cluster is located or "Multiple" if the cache nodes are located in different Availability Zones.
      CacheClusterCreateTime:
        $ref: '#/definitions/TStamp'
        description: The date and time when the cache cluster was created.
      PreferredMaintenanceWindow:
        $ref: '#/definitions/String'
        description: '<p>Specifies the weekly time range during which maintenance on the cluster is performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock UTC). The minimum maintenance window is a 60 minute period.</p> <p>Valid values for <code>ddd</code> are:</p> <ul> <li> <p> <code>sun</code> </p> </li> <li> <p> <code>mon</code> </p> </li> <li> <p> <code>tue</code> </p> </li> <li> <p> <code>wed</code> </p> </li> <li> <p> <code>thu</code> </p> </li> <li> <p> <code>fri</code> </p> </li> <li> <p> <code>sat</code> </p> </li> </ul> <p>Example: <code>sun:23:00-mon:01:30</code> </p>'
      PendingModifiedValues:
        $ref: '#/definitions/PendingModifiedValues'
      NotificationConfiguration:
        $ref: '#/definitions/NotificationConfiguration'
      CacheSecurityGroups:
        $ref: '#/definitions/CacheSecurityGroupMembershipList'
        description: 'A list of cache security group elements, composed of name and status sub-elements.'
      CacheParameterGroup:
        $ref: '#/definitions/CacheParameterGroupStatus'
      CacheSubnetGroupName:
        $ref: '#/definitions/String'
        description: The name of the cache subnet group associated with the cache cluster.
      CacheNodes:
        $ref: '#/definitions/CacheNodeList'
        description: A list of cache nodes that are members of the cache cluster.
      AutoMinorVersionUpgrade:
        $ref: '#/definitions/Boolean'
        description: This parameter is currently disabled.
      SecurityGroups:
        $ref: '#/definitions/SecurityGroupMembershipList'
        description: A list of VPC Security Groups associated with the cache cluster.
      ReplicationGroupId:
        $ref: '#/definitions/String'
        description: 'The replication group to which this cache cluster belongs. If this field is empty, the cache cluster is not associated with any replication group.'
      SnapshotRetentionLimit:
        $ref: '#/definitions/IntegerOptional'
[...]
