openapi: 3.0.0
servers:
  - url: //app.files.com/api/rest/v1
info:
  contact:
    email: support@files.com
    name: Files.com Customer Success Team
  title: Files.com API
  version: 0.0.1
  x-apisguru-categories:
    - developer_tools
  x-origin:
    - format: openapi
      url: https://app.files.com/api/rest/v1/swagger_doc.json
      version: "3.0"
  x-providerName: files.com
tags:
  - description: Operations about api_keys
    name: api_key
  - description: Operations about api_keys
    name: api_keys
  - description: Operations about sites
    name: site
  - description: Operations about users
    name: user
  - description: Operations about users
    name: users
  - description: Operations about apps
    name: apps
  - description: Operations about as2_keys
    name: as2_keys
  - description: Operations about automations
    name: automations
  - description: Operations about bandwidth_snapshots
    name: bandwidth_snapshots
  - description: Operations about behaviors
    name: behaviors
  - description: Operations about bundles
    name: bundles
  - description: Operations about bundle_downloads
    name: bundle_downloads
  - description: Operations about bundle_recipients
    name: bundle_recipients
  - description: Operations about bundle_registrations
    name: bundle_registrations
  - description: Operations about clickwraps
    name: clickwraps
  - description: Operations about dns_records
    name: dns_records
  - description: Operations about external_events
    name: external_events
  - description: Operations about files
    name: files
  - description: Operations about file_actions
    name: file_actions
  - description: Operations about file_comments
    name: file_comments
  - description: Operations about file_comment_reactions
    name: file_comment_reactions
  - description: Operations about folders
    name: folders
  - description: Operations about form_field_sets
    name: form_field_sets
  - description: Operations about groups
    name: groups
  - description: Operations about group_users
    name: group_users
  - description: Operations about histories
    name: history
  - description: Operations about history_exports
    name: history_exports
  - description: Operations about history_export_results
    name: history_export_results
  - description: Operations about inbox_recipients
    name: inbox_recipients
  - description: Operations about inbox_registrations
    name: inbox_registrations
  - description: Operations about inbox_uploads
    name: inbox_uploads
  - description: Operations about invoices
    name: invoices
  - description: Operations about ip_addresses
    name: ip_addresses
  - description: Operations about locks
    name: locks
  - description: Operations about messages
    name: messages
  - description: Operations about message_comments
    name: message_comments
  - description: Operations about message_comment_reactions
    name: message_comment_reactions
  - description: Operations about message_reactions
    name: message_reactions
  - description: Operations about notifications
    name: notifications
  - description: Operations about payments
    name: payments
  - description: Operations about permissions
    name: permissions
  - description: Operations about projects
    name: projects
  - description: Operations about public_keys
    name: public_keys
  - description: Operations about remote_servers
    name: remote_servers
  - description: Operations about requests
    name: requests
  - description: Operations about sessions
    name: sessions
  - description: Operations about settings_changes
    name: settings_changes
  - description: Operations about sso_strategies
    name: sso_strategies
  - description: Operations about styles
    name: styles
  - description: Operations about usage_snapshots
    name: usage_snapshots
  - description: Operations about usage_daily_snapshots
    name: usage_daily_snapshots
  - description: Operations about user_cipher_uses
    name: user_cipher_uses
  - description: Operations about user_requests
    name: user_requests
paths:
  /api_key:
    delete:
      description: Delete current API key.  (Requires current API connection to be using an API key.)
      operationId: DeleteCurrent
      parameters:
        - in: query
          name: format
          required: false
          schema:
            type: string
          x-ms-summary: null
        - in: query
          name: api_key
          required: false
          schema:
            type: object
          x-ms-summary: null
      responses:
        "204":
          description: No body.
          x-ms-summary: No body.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Delete current API key.  (Requires current API connection to be using an API key.)
      tags:
        - api_key
      x-authentication:
        - desktop_app
        - office_integration
    get:
      description: Show information about current API key.  (Requires current API connection to be using an API key.)
      operationId: FindCurrent
      parameters:
        - in: query
          name: format
          required: false
          schema:
            type: string
          x-ms-summary: null
        - in: query
          name: api_key
          required: false
          schema:
            type: object
          x-ms-summary: null
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyEntity"
          description: The ApiKey object.
          x-ms-summary: The ApiKey object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show information about current API key.  (Requires current API connection to be using an API key.)
      tags:
        - api_key
      x-authentication:
        - desktop_app
        - office_integration
    patch:
      description: Update current API key.  (Requires current API connection to be using an API key.)
      operationId: UpdateCurrent
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                expires_at:
                  default: 2000-01-01T01:00:00Z
                  description: API Key expiration date
                  example: 2000-01-01T01:00:00Z
                  format: date-time
                  type: string
                  x-ms-summary: API Key expiration date
                name:
                  default: My Main API Key
                  description: Internal name for the API Key.  For your use.
                  example: My Main API Key
                  type: string
                  x-ms-summary: Internal name for the API Key.  For your use.
                permission_set:
                  default: full
                  description: Permissions for this API Key.  Keys with the `desktop_app` permission set only have the ability to do the functions provided in our Desktop App (File and Share Link operations).  Additional permission sets may become available in the future, such as for a Site Admin to give a key with no administrator privileges.  If you have ideas for permission sets, please let us know.
                  enum:
                    - none
                    - full
                    - desktop_app
                    - sync_app
                    - office_integration
                  example: full
                  type: string
                  x-ms-summary: Permissions for this API Key.  Keys with the `desktop_app` permission set only have the ability to do the functions provided in our Desktop App (File and Share Link operations).  Additional permission sets may become available in the future, such as for a Site Admin to give a key with no administrator privileges.  If you have ideas for permission sets, please let us know.
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyEntity"
          description: The ApiKey object.
          x-ms-summary: The ApiKey object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Update current API key.  (Requires current API connection to be using an API key.)
      tags:
        - api_key
      x-authentication:
        - desktop_app
        - office_integration
  /api_keys:
    get:
      description: List Api Keys
      operationId: GetApiKeys
      parameters:
        - description: User ID.  Provide a value of `0` to operate the current session's user.
          in: query
          name: user_id
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: User ID.  Provide a value of `0` to operate the current session's user.
        - description: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `expires_at`.
          in: query
          name: sort_by
          required: false
          schema:
            type: object
          x-ms-summary: If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `expires_at`.
        - description: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `expires_at`.
          in: query
          name: filter
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `expires_at`.
        - description: If set, return records where the specifiied field is greater than the supplied value. Valid fields are `expires_at`.
          in: query
          name: filter_gt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is greater than the supplied value. Valid fields are `expires_at`.
        - description: If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `expires_at`.
          in: query
          name: filter_gteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `expires_at`.
        - description: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `expires_at`.
          in: query
          name: filter_like
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `expires_at`.
        - description: If set, return records where the specifiied field is less than the supplied value. Valid fields are `expires_at`.
          in: query
          name: filter_lt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is less than the supplied value. Valid fields are `expires_at`.
        - description: If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `expires_at`.
          in: query
          name: filter_lteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `expires_at`.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ApiKeyEntity"
                type: array
          description: A list of ApiKeys objects.
          x-ms-summary: A list of ApiKeys objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Api Keys
      tags:
        - api_keys
      x-authentication:
        - self_managed
      x-path_aliases:
        - site/api_keys
        - user/api_keys
        - users/:user_id/api_keys
    post:
      description: Create Api Key
      operationId: PostApiKeys
      requestBody:
        $ref: "#/components/requestBodies/PostApiKeys"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyEntity"
          description: The ApiKeys object.
          x-ms-summary: The ApiKeys object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Create Api Key
      tags:
        - api_keys
      x-authentication: []
      x-path_aliases:
        - site/api_keys
        - user/api_keys
        - users/:user_id/api_keys
  "/api_keys/{id}":
    delete:
      description: Delete Api Key
      operationId: DeleteApiKeysId
      parameters:
        - description: Api Key ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: Api Key ID.
      responses:
        "204":
          description: No body.
          x-ms-summary: No body.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Delete Api Key
      tags:
        - api_keys
      x-authentication:
        - self_managed
    get:
      description: Show Api Key
      operationId: GetApiKeysId
      parameters:
        - description: Api Key ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: Api Key ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyEntity"
          description: The ApiKeys object.
          x-ms-summary: The ApiKeys object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show Api Key
      tags:
        - api_keys
      x-authentication:
        - self_managed
    patch:
      description: Update Api Key
      operationId: PatchApiKeysId
      parameters:
        - description: Api Key ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: Api Key ID.
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                expires_at:
                  default: 2000-01-01T01:00:00Z
                  description: API Key expiration date
                  example: 2000-01-01T01:00:00Z
                  format: date-time
                  type: string
                  x-ms-summary: API Key expiration date
                name:
                  default: My Main API Key
                  description: Internal name for the API Key.  For your use.
                  example: My Main API Key
                  type: string
                  x-ms-summary: Internal name for the API Key.  For your use.
                permission_set:
                  default: full
                  description: Permissions for this API Key.  Keys with the `desktop_app` permission set only have the ability to do the functions provided in our Desktop App (File and Share Link operations).  Additional permission sets may become available in the future, such as for a Site Admin to give a key with no administrator privileges.  If you have ideas for permission sets, please let us know.
                  enum:
                    - none
                    - full
                    - desktop_app
                    - sync_app
                    - office_integration
                  example: full
                  type: string
                  x-ms-summary: Permissions for this API Key.  Keys with the `desktop_app` permission set only have the ability to do the functions provided in our Desktop App (File and Share Link operations).  Additional permission sets may become available in the future, such as for a Site Admin to give a key with no administrator privileges.  If you have ideas for permission sets, please let us know.
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyEntity"
          description: The ApiKeys object.
          x-ms-summary: The ApiKeys object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Update Api Key
      tags:
        - api_keys
      x-authentication:
        - self_managed
  /apps:
    get:
      description: List Apps
      operationId: GetApps
      parameters:
        - description: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `name` and `app_type`.
          in: query
          name: sort_by
          required: false
          schema:
            type: object
          x-ms-summary: If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `name` and `app_type`.
        - description: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `name` and `app_type`.
          in: query
          name: filter
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `name` and `app_type`.
        - description: If set, return records where the specifiied field is greater than the supplied value. Valid fields are `name` and `app_type`.
          in: query
          name: filter_gt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is greater than the supplied value. Valid fields are `name` and `app_type`.
        - description: If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `name` and `app_type`.
          in: query
          name: filter_gteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `name` and `app_type`.
        - description: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `name` and `app_type`.
          in: query
          name: filter_like
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `name` and `app_type`.
        - description: If set, return records where the specifiied field is less than the supplied value. Valid fields are `name` and `app_type`.
          in: query
          name: filter_lt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is less than the supplied value. Valid fields are `name` and `app_type`.
        - description: If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `name` and `app_type`.
          in: query
          name: filter_lteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `name` and `app_type`.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AppEntity"
                type: array
          description: A list of Apps objects.
          x-ms-summary: A list of Apps objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Apps
      tags:
        - apps
      x-authentication:
        - none
  /as2_keys:
    get:
      description: List As2 Keys
      operationId: GetAs2Keys
      parameters:
        - description: User ID.  Provide a value of `0` to operate the current session's user.
          in: query
          name: user_id
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: User ID.  Provide a value of `0` to operate the current session's user.
        - description: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/As2KeyEntity"
                type: array
          description: A list of As2Keys objects.
          x-ms-summary: A list of As2Keys objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List As2 Keys
      tags:
        - as2_keys
      x-authentication:
        - self_managed
        - trusted_relay_without_user
      x-path_aliases:
        - user/as2_keys
        - users/:user_id/as2_keys
    post:
      description: Create As2 Key
      operationId: PostAs2Keys
      requestBody:
        $ref: "#/components/requestBodies/PostUserAs2Keys"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/As2KeyEntity"
          description: The As2Keys object.
          x-ms-summary: The As2Keys object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Create As2 Key
      tags:
        - as2_keys
      x-authentication:
        - self_managed
      x-path_aliases:
        - user/as2_keys
        - users/:user_id/as2_keys
  "/as2_keys/{id}":
    delete:
      description: Delete As2 Key
      operationId: DeleteAs2KeysId
      parameters:
        - description: As2 Key ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: As2 Key ID.
      responses:
        "204":
          description: No body.
          x-ms-summary: No body.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Delete As2 Key
      tags:
        - as2_keys
      x-authentication:
        - self_managed
    get:
      description: Show As2 Key
      operationId: GetAs2KeysId
      parameters:
        - description: As2 Key ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: As2 Key ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/As2KeyEntity"
          description: The As2Keys object.
          x-ms-summary: The As2Keys object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show As2 Key
      tags:
        - as2_keys
      x-authentication:
        - self_managed
    patch:
      description: Update As2 Key
      operationId: PatchAs2KeysId
      parameters:
        - description: As2 Key ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: As2 Key ID.
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                as2_partnership_name:
                  default: Test
                  description: AS2 Partnership Name
                  example: Test
                  type: string
                  x-ms-summary: AS2 Partnership Name
              required:
                - as2_partnership_name
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/As2KeyEntity"
          description: The As2Keys object.
          x-ms-summary: The As2Keys object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Update As2 Key
      tags:
        - as2_keys
      x-authentication:
        - self_managed
  /automations:
    get:
      description: List Automations
      operationId: GetAutomations
      parameters:
        - description: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `automation`.
          in: query
          name: sort_by
          required: false
          schema:
            type: object
          x-ms-summary: If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `automation`.
        - description: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `automation`.
          in: query
          name: filter
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `automation`.
        - description: If set, return records where the specifiied field is greater than the supplied value. Valid fields are `automation`.
          in: query
          name: filter_gt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is greater than the supplied value. Valid fields are `automation`.
        - description: If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `automation`.
          in: query
          name: filter_gteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `automation`.
        - description: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `automation`.
          in: query
          name: filter_like
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `automation`.
        - description: If set, return records where the specifiied field is less than the supplied value. Valid fields are `automation`.
          in: query
          name: filter_lt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is less than the supplied value. Valid fields are `automation`.
        - description: If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `automation`.
          in: query
          name: filter_lteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `automation`.
        - description: "DEPRECATED: Type of automation to filter by. Use `filter[automation]` instead."
          in: query
          name: automation
          required: false
          schema:
            type: string
          x-ms-summary: "DEPRECATED: Type of automation to filter by. Use `filter[automation]` instead."
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AutomationEntity"
                type: array
          description: A list of Automations objects.
          x-ms-summary: A list of Automations objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Automations
      tags:
        - automations
      x-authentication:
        - folder_admin
    post:
      description: Create Automation
      operationId: PostAutomations
      requestBody:
        $ref: "#/components/requestBodies/PatchAutomationsId"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationEntity"
          description: The Automations object.
          x-ms-summary: The Automations object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Create Automation
      tags:
        - automations
      x-authentication:
        - folder_admin
  "/automations/{id}":
    delete:
      description: Delete Automation
      operationId: DeleteAutomationsId
      parameters:
        - description: Automation ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: Automation ID.
      responses:
        "204":
          description: No body.
          x-ms-summary: No body.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Delete Automation
      tags:
        - automations
      x-authentication:
        - folder_admin
    get:
      description: Show Automation
      operationId: GetAutomationsId
      parameters:
        - description: Automation ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: Automation ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationEntity"
          description: The Automations object.
          x-ms-summary: The Automations object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show Automation
      tags:
        - automations
      x-authentication:
        - folder_admin
    patch:
      description: Update Automation
      operationId: PatchAutomationsId
      parameters:
        - description: Automation ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: Automation ID.
      requestBody:
        $ref: "#/components/requestBodies/PatchAutomationsId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationEntity"
          description: The Automations object.
          x-ms-summary: The Automations object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Update Automation
      tags:
        - automations
      x-authentication:
        - folder_admin
  /bandwidth_snapshots:
    get:
      description: List Bandwidth Snapshots
      operationId: GetBandwidthSnapshots
      parameters:
        - description: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `logged_at`.
          in: query
          name: sort_by
          required: false
          schema:
            type: object
          x-ms-summary: If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `logged_at`.
        - description: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `logged_at`.
          in: query
          name: filter
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `logged_at`.
        - description: If set, return records where the specifiied field is greater than the supplied value. Valid fields are `logged_at`.
          in: query
          name: filter_gt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is greater than the supplied value. Valid fields are `logged_at`.
        - description: If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `logged_at`.
          in: query
          name: filter_gteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `logged_at`.
        - description: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `logged_at`.
          in: query
          name: filter_like
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `logged_at`.
        - description: If set, return records where the specifiied field is less than the supplied value. Valid fields are `logged_at`.
          in: query
          name: filter_lt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is less than the supplied value. Valid fields are `logged_at`.
        - description: If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `logged_at`.
          in: query
          name: filter_lteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `logged_at`.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BandwidthSnapshotEntity"
                type: array
          description: A list of BandwidthSnapshots objects.
          x-ms-summary: A list of BandwidthSnapshots objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Bandwidth Snapshots
      tags:
        - bandwidth_snapshots
      x-authentication:
        - site
  /behaviors:
    get:
      description: List Behaviors
      operationId: GetBehaviors
      parameters:
        - description: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `behavior`.
          in: query
          name: sort_by
          required: false
          schema:
            type: object
          x-ms-summary: If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `behavior`.
        - description: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `behavior`.
          in: query
          name: filter
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `behavior`.
        - description: If set, return records where the specifiied field is greater than the supplied value. Valid fields are `behavior`.
          in: query
          name: filter_gt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is greater than the supplied value. Valid fields are `behavior`.
        - description: If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `behavior`.
          in: query
          name: filter_gteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `behavior`.
        - description: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `behavior`.
          in: query
          name: filter_like
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `behavior`.
        - description: If set, return records where the specifiied field is less than the supplied value. Valid fields are `behavior`.
          in: query
          name: filter_lt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is less than the supplied value. Valid fields are `behavior`.
        - description: If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `behavior`.
          in: query
          name: filter_lteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `behavior`.
        - description: If set, only shows folder behaviors matching this behavior type.
          in: query
          name: behavior
          required: false
          schema:
            type: string
          x-ms-summary: If set, only shows folder behaviors matching this behavior type.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BehaviorEntity"
                type: array
          description: A list of Behaviors objects.
          x-ms-summary: A list of Behaviors objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Behaviors
      tags:
        - behaviors
      x-authentication: []
    post:
      description: Create Behavior
      operationId: PostBehaviors
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                attachment_file:
                  description: Certain behaviors may require a file, for instance, the "watermark" behavior requires a watermark image
                  format: binary
                  type: string
                  x-ms-summary: Certain behaviors may require a file, for instance, the "watermark" behavior requires a watermark image
                behavior:
                  default: webhook
                  description: Behavior type.
                  example: webhook
                  type: string
                  x-ms-summary: Behavior type.
                path:
                  description: Folder behaviors path.
                  type: string
                  x-ms-summary: Folder behaviors path.
                value:
                  default: '{"method": "GET"}'
                  description: The value of the folder behavior.  Can be a integer, array, or hash depending on the type of folder behavior.
                  example: '{"method": "GET"}'
                  type: string
                  x-ms-summary: The value of the folder behavior.  Can be a integer, array, or hash depending on the type of folder behavior.
              required:
                - path
                - behavior
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BehaviorEntity"
          description: The Behaviors object.
          x-ms-summary: The Behaviors object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Create Behavior
      tags:
        - behaviors
      x-authentication: []
  "/behaviors/folders/{path}":
    get:
      description: List Behaviors by path
      operationId: ListForPath
      parameters:
        - description: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `behavior`.
          in: query
          name: sort_by
          required: false
          schema:
            type: object
          x-ms-summary: If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `behavior`.
        - description: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `behavior`.
          in: query
          name: filter
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `behavior`.
        - description: If set, return records where the specifiied field is greater than the supplied value. Valid fields are `behavior`.
          in: query
          name: filter_gt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is greater than the supplied value. Valid fields are `behavior`.
        - description: If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `behavior`.
          in: query
          name: filter_gteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `behavior`.
        - description: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `behavior`.
          in: query
          name: filter_like
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `behavior`.
        - description: If set, return records where the specifiied field is less than the supplied value. Valid fields are `behavior`.
          in: query
          name: filter_lt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is less than the supplied value. Valid fields are `behavior`.
        - description: If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `behavior`.
          in: query
          name: filter_lteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `behavior`.
        - description: Path to operate on.
          in: path
          name: path
          required: true
          schema:
            type: string
          x-ms-summary: Path to operate on.
        - description: Show behaviors above this path?
          in: query
          name: recursive
          required: false
          schema:
            type: string
          x-ms-summary: Show behaviors above this path?
        - description: "DEPRECATED: If set only shows folder behaviors matching this behavior type. Use `filter[behavior]` instead."
          in: query
          name: behavior
          required: false
          schema:
            type: string
          x-ms-summary: "DEPRECATED: If set only shows folder behaviors matching this behavior type. Use `filter[behavior]` instead."
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BehaviorEntity"
                type: array
          description: A list of Behaviors objects.
          x-ms-summary: A list of Behaviors objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Behaviors by path
      tags:
        - behaviors
      x-authentication: []
  /behaviors/webhook/test:
    post:
      description: Test webhook.
      operationId: PostBehaviorsWebhookTest
      requestBody:
        $ref: "#/components/requestBodies/PostSiteTestWebhook"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusEntity"
          description: The Behaviors object.
          x-ms-summary: The Behaviors object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Test webhook.
      tags:
        - behaviors
      x-authentication:
        - folder_admin
      x-path_aliases:
        - site/test-webhook
  "/behaviors/{id}":
    delete:
      description: Delete Behavior
      operationId: DeleteBehaviorsId
      parameters:
        - description: Behavior ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: Behavior ID.
      responses:
        "204":
          description: No body.
          x-ms-summary: No body.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Delete Behavior
      tags:
        - behaviors
      x-authentication: []
    get:
      description: Show Behavior
      operationId: GetBehaviorsId
      parameters:
        - description: Behavior ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: Behavior ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BehaviorEntity"
          description: The Behaviors object.
          x-ms-summary: The Behaviors object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show Behavior
      tags:
        - behaviors
      x-authentication: []
    patch:
      description: Update Behavior
      operationId: PatchBehaviorsId
      parameters:
        - description: Behavior ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: Behavior ID.
          x-types:
            - type: string
            - format: int32
              type: integer
            - type: object
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                attachment_file:
                  description: Certain behaviors may require a file, for instance, the "watermark" behavior requires a watermark image
                  format: binary
                  type: string
                  x-ms-summary: Certain behaviors may require a file, for instance, the "watermark" behavior requires a watermark image
                behavior:
                  default: webhook
                  description: Behavior type.
                  example: webhook
                  type: string
                  x-ms-summary: Behavior type.
                path:
                  description: Folder behaviors path.
                  type: string
                  x-ms-summary: Folder behaviors path.
                  x-types:
                    - type: string
                    - format: int32
                      type: integer
                    - type: object
                value:
                  default: '{"method": "GET"}'
                  description: The value of the folder behavior.  Can be a integer, array, or hash depending on the type of folder behavior.
                  example: '{"method": "GET"}'
                  type: string
                  x-ms-summary: The value of the folder behavior.  Can be a integer, array, or hash depending on the type of folder behavior.
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BehaviorEntity"
          description: The Behaviors object.
          x-ms-summary: The Behaviors object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Update Behavior
      tags:
        - behaviors
      x-authentication: []
  /bundle_downloads:
    get:
      description: List Bundle Downloads
      operationId: GetBundleDownloads
      parameters:
        - description: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: Bundle ID
          in: query
          name: bundle_id
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: Bundle ID
        - description: BundleRegistration ID
          in: query
          name: bundle_registration_id
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: BundleRegistration ID
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BundleDownloadEntity"
                type: array
          description: A list of BundleDownloads objects.
          x-ms-summary: A list of BundleDownloads objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Bundle Downloads
      tags:
        - bundle_downloads
      x-authentication: []
  /bundle_recipients:
    get:
      description: List Bundle Recipients
      operationId: GetBundleRecipients
      parameters:
        - description: User ID.  Provide a value of `0` to operate the current session's user.
          in: query
          name: user_id
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: User ID.  Provide a value of `0` to operate the current session's user.
        - description: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `has_registrations`.
          in: query
          name: sort_by
          required: false
          schema:
            type: object
          x-ms-summary: If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `has_registrations`.
        - description: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `has_registrations`.
          in: query
          name: filter
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `has_registrations`.
        - description: If set, return records where the specifiied field is greater than the supplied value. Valid fields are `has_registrations`.
          in: query
          name: filter_gt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is greater than the supplied value. Valid fields are `has_registrations`.
        - description: If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `has_registrations`.
          in: query
          name: filter_gteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `has_registrations`.
        - description: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `has_registrations`.
          in: query
          name: filter_like
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `has_registrations`.
        - description: If set, return records where the specifiied field is less than the supplied value. Valid fields are `has_registrations`.
          in: query
          name: filter_lt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is less than the supplied value. Valid fields are `has_registrations`.
        - description: If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `has_registrations`.
          in: query
          name: filter_lteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `has_registrations`.
        - description: List recipients for the bundle with this ID.
          in: query
          name: bundle_id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: List recipients for the bundle with this ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BundleRecipientEntity"
                type: array
          description: A list of BundleRecipients objects.
          x-ms-summary: A list of BundleRecipients objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Bundle Recipients
      tags:
        - bundle_recipients
      x-authentication: []
    post:
      description: Create Bundle Recipient
      operationId: PostBundleRecipients
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                bundle_id:
                  description: Bundle to share.
                  format: int32
                  type: integer
                  x-ms-summary: Bundle to share.
                company:
                  default: Acme Ltd
                  description: Company of recipient.
                  example: Acme Ltd
                  type: string
                  x-ms-summary: Company of recipient.
                name:
                  default: John Smith
                  description: Name of recipient.
                  example: John Smith
                  type: string
                  x-ms-summary: Name of recipient.
                note:
                  default: Just a note.
                  description: Note to include in email.
                  example: Just a note.
                  type: string
                  x-ms-summary: Note to include in email.
                recipient:
                  default: johndoe@gmail.com
                  description: Email addresses to share this bundle with.
                  example: johndoe@gmail.com
                  type: string
                  x-ms-summary: Email addresses to share this bundle with.
                share_after_create:
                  description: Set to true to share the link with the recipient upon creation.
                  type: boolean
                  x-ms-summary: Set to true to share the link with the recipient upon creation.
                user_id:
                  description: User ID.  Provide a value of `0` to operate the current session's user.
                  format: int32
                  type: integer
                  x-ms-summary: User ID.  Provide a value of `0` to operate the current session's user.
              required:
                - bundle_id
                - recipient
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BundleRecipientEntity"
          description: The BundleRecipients object.
          x-ms-summary: The BundleRecipients object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Create Bundle Recipient
      tags:
        - bundle_recipients
      x-authentication: []
  /bundle_registrations:
    get:
      description: List Bundle Registrations
      operationId: GetBundleRegistrations
      parameters:
        - description: User ID.  Provide a value of `0` to operate the current session's user.
          in: query
          name: user_id
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: User ID.  Provide a value of `0` to operate the current session's user.
        - description: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: ID of the associated Bundle
          in: query
          name: bundle_id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: ID of the associated Bundle
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BundleRegistrationEntity"
                type: array
          description: A list of BundleRegistrations objects.
          x-ms-summary: A list of BundleRegistrations objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Bundle Registrations
      tags:
        - bundle_registrations
      x-authentication: []
  /bundles:
    get:
      description: List Bundles
      operationId: GetBundles
      parameters:
        - description: User ID.  Provide a value of `0` to operate the current session's user.
          in: query
          name: user_id
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: User ID.  Provide a value of `0` to operate the current session's user.
        - description: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `created_at` and `code`.
          in: query
          name: sort_by
          required: false
          schema:
            type: object
          x-ms-summary: If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `created_at` and `code`.
        - description: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `created_at`.
          in: query
          name: filter
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `created_at`.
        - description: If set, return records where the specifiied field is greater than the supplied value. Valid fields are `created_at`.
          in: query
          name: filter_gt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is greater than the supplied value. Valid fields are `created_at`.
        - description: If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `created_at`.
          in: query
          name: filter_gteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `created_at`.
        - description: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `created_at`.
          in: query
          name: filter_like
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is equal to the supplied value. Valid fields are `created_at`.
        - description: If set, return records where the specifiied field is less than the supplied value. Valid fields are `created_at`.
          in: query
          name: filter_lt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is less than the supplied value. Valid fields are `created_at`.
        - description: If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `created_at`.
          in: query
          name: filter_lteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `created_at`.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BundleEntity"
                type: array
          description: A list of Bundles objects.
          x-ms-summary: A list of Bundles objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Bundles
      tags:
        - bundles
      x-authentication: []
    post:
      description: Create Bundle
      operationId: PostBundles
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                clickwrap_id:
                  default: 1
                  description: ID of the clickwrap to use with this bundle.
                  example: 1
                  format: int32
                  type: integer
                  x-ms-summary: ID of the clickwrap to use with this bundle.
                code:
                  default: abc123
                  description: Bundle code.  This code forms the end part of the Public URL.
                  example: abc123
                  type: string
                  x-ms-summary: Bundle code.  This code forms the end part of the Public URL.
                description:
                  default: The public description of the bundle.
                  description: Public description
                  example: The public description of the bundle.
                  type: string
                  x-ms-summary: Public description
                expires_at:
                  default: 2000-01-01T01:00:00Z
                  description: Bundle expiration date/time
                  example: 2000-01-01T01:00:00Z
                  format: date-time
                  type: string
                  x-ms-summary: Bundle expiration date/time
                form_field_set_id:
                  description: Id of Form Field Set to use with this bundle
                  format: int32
                  type: integer
                  x-ms-summary: Id of Form Field Set to use with this bundle
                inbox_id:
                  default: 1
                  description: ID of the associated inbox, if available.
                  example: 1
                  format: int32
                  type: integer
                  x-ms-summary: ID of the associated inbox, if available.
                max_uses:
                  default: 1
                  description: Maximum number of times bundle can be accessed
                  example: 1
[...]
