swagger: "2.0"
schemes:
  - https
host: app.files.com
basePath: /api/rest/v1
info:
  contact:
    email: support@files.com
    name: Files.com Customer Success Team
  title: Files.com
  version: 0.0.1
  x-apisguru-categories:
    - developer_tools
  x-origin:
    - format: swagger
      url: https://app.files.com/api/rest/v1/swagger_doc.json
      version: "2.0"
  x-providerName: files.com
  x-preferred: true
produces:
  - application/json
  - application/xml
securityDefinitions:
  api_key:
    description: API Key - supports user-based or site-wide API keys
    in: header
    name: X-FilesAPI-Key
    type: apiKey
tags:
  - description: Operations about api_keys
    name: api_key
  - description: Operations about api_keys
    name: api_keys
  - description: Operations about sites
    name: site
  - description: Operations about users
    name: user
  - description: Operations about users
    name: users
  - description: Operations about as2_keys
    name: as2_keys
  - description: Operations about automations
    name: automations
  - description: Operations about behaviors
    name: behaviors
  - description: Operations about bundles
    name: bundles
  - description: Operations about dns_records
    name: dns_records
  - description: Operations about files
    name: files
  - description: Operations about file_actions
    name: file_actions
  - description: Operations about file_comments
    name: file_comments
  - description: Operations about file_comment_reactions
    name: file_comment_reactions
  - description: Operations about folders
    name: folders
  - description: Operations about groups
    name: groups
  - description: Operations about group_users
    name: group_users
  - description: Operations about histories
    name: history
  - description: Operations about history_exports
    name: history_exports
  - description: Operations about invoices
    name: invoices
  - description: Operations about ip_addresses
    name: ip_addresses
  - description: Operations about locks
    name: locks
  - description: Operations about messages
    name: messages
  - description: Operations about message_comments
    name: message_comments
  - description: Operations about message_comment_reactions
    name: message_comment_reactions
  - description: Operations about message_reactions
    name: message_reactions
  - description: Operations about notifications
    name: notifications
  - description: Operations about payments
    name: payments
  - description: Operations about permissions
    name: permissions
  - description: Operations about projects
    name: projects
  - description: Operations about public_keys
    name: public_keys
  - description: Operations about remote_servers
    name: remote_servers
  - description: Operations about requests
    name: requests
  - description: Operations about sessions
    name: sessions
  - description: Operations about sso_strategies
    name: sso_strategies
  - description: Operations about styles
    name: styles
  - description: Operations about usage_snapshots
    name: usage_snapshots
  - description: Operations about usage_daily_snapshots
    name: usage_daily_snapshots
  - description: Operations about user_cipher_uses
    name: user_cipher_uses
paths:
  /api_key:
    delete:
      description: Delete current API key.  (Requires current API connection to be using an API key.)
      operationId: DeleteCurrent
      produces:
        - application/json
      responses:
        "204":
          description: No body.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - api_key
      x-authentication:
        - desktop_app
    get:
      description: Show information about current API key.  (Requires current API connection to be using an API key.)
      operationId: FindCurrent
      produces:
        - application/json
      responses:
        "200":
          description: The ApiKey object.
          schema:
            $ref: "#/definitions/ApiKeyEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - api_key
      x-authentication:
        - desktop_app
    patch:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Update current API key.  (Requires current API connection to be using an API key.)
      operationId: UpdateCurrent
      parameters:
        - default: My Key
          description: Internal name for key.  For your reference only.
          in: formData
          name: name
          required: false
          type: string
        - description: Leave blank, or set to `desktop_app` to restrict the key to only desktop app functions.
          in: formData
          name: permission_set
          required: false
          type: string
        - description: Have the key expire at this date/time.
          in: formData
          name: expires_at
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The ApiKey object.
          schema:
            $ref: "#/definitions/ApiKeyEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - api_key
      x-authentication:
        - desktop_app
  /api_keys:
    get:
      description: List Api Keys
      operationId: getApiKeys
      parameters:
        - description: User ID.  Provide a value of `0` to operate the current session's user.
          format: int32
          in: query
          name: user_id
          required: false
          type: integer
        - description: Current page number.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: "Deprecated: If set to `count` returns a count of matching records rather than the records themselves."
          in: query
          name: action
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: A list of ApiKeys objects.
          schema:
            items:
              $ref: "#/definitions/ApiKeyEntity"
            type: array
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - api_keys
      x-authentication:
        - self_managed
      x-path_aliases:
        - site/api_keys
        - user/api_keys
        - users/:user_id/api_keys
    post:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Create Api Key
      operationId: postApiKeys
      parameters:
        - description: User ID.  Provide a value of `0` to operate the current session's user.
          format: int32
          in: formData
          name: user_id
          required: false
          type: integer
        - default: My Key
          description: Internal name for key.  For your reference only.
          in: formData
          name: name
          required: false
          type: string
        - description: Leave blank, or set to 'desktop_app' to restrict the key to only desktop app functions.
          in: formData
          name: permission_set
          required: false
          type: string
        - description: Have the key expire at this date/time.
          in: formData
          name: expires_at
          required: false
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: The ApiKeys object.
          schema:
            $ref: "#/definitions/ApiKeyEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - api_keys
      x-authentication: []
      x-path_aliases:
        - site/api_keys
        - user/api_keys
        - users/:user_id/api_keys
  "/api_keys/{id}":
    delete:
      description: Delete Api Key
      operationId: deleteApiKeysId
      parameters:
        - description: Api Key ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "204":
          description: No body.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - api_keys
      x-authentication:
        - self_managed
    get:
      description: Show Api Key
      operationId: getApiKeysId
      parameters:
        - description: Api Key ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The ApiKeys object.
          schema:
            $ref: "#/definitions/ApiKeyEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - api_keys
      x-authentication:
        - self_managed
    patch:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Update Api Key
      operationId: patchApiKeysId
      parameters:
        - description: Api Key ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - default: My Key
          description: Internal name for key.  For your reference only.
          in: formData
          name: name
          required: false
          type: string
        - description: Leave blank, or set to 'desktop_app' to restrict the key to only desktop app functions.
          in: formData
          name: permission_set
          required: false
          type: string
        - description: Have the key expire at this date/time.
          in: formData
          name: expires_at
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The ApiKeys object.
          schema:
            $ref: "#/definitions/ApiKeyEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - api_keys
      x-authentication:
        - self_managed
  /as2_keys:
    get:
      description: List As2 Keys
      operationId: getAs2Keys
      parameters:
        - description: User ID.  Provide a value of `0` to operate the current session's user.
          format: int32
          in: query
          name: user_id
          required: false
          type: integer
        - description: Current page number.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: "Deprecated: If set to `count` returns a count of matching records rather than the records themselves."
          in: query
          name: action
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: A list of As2Keys objects.
          schema:
            items:
              $ref: "#/definitions/As2KeyEntity"
            type: array
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - as2_keys
      x-authentication:
        - self_managed
      x-path_aliases:
        - user/as2_keys
        - users/:user_id/as2_keys
    post:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Create As2 Key
      operationId: postAs2Keys
      parameters:
        - description: User ID.  Provide a value of `0` to operate the current session's user.
          format: int32
          in: formData
          name: user_id
          required: false
          type: integer
        - default: Test
          description: AS2 Partnership Name
          in: formData
          name: as2_partnership_name
          required: true
          type: string
        - description: Actual contents of Public key.
          in: formData
          name: public_key
          required: true
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: The As2Keys object.
          schema:
            $ref: "#/definitions/As2KeyEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - as2_keys
      x-authentication:
        - self_managed
      x-path_aliases:
        - user/as2_keys
        - users/:user_id/as2_keys
  "/as2_keys/{id}":
    delete:
      description: Delete As2 Key
      operationId: deleteAs2KeysId
      parameters:
        - description: As2 Key ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "204":
          description: No body.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - as2_keys
      x-authentication:
        - self_managed
    get:
      description: Show As2 Key
      operationId: getAs2KeysId
      parameters:
        - description: As2 Key ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The As2Keys object.
          schema:
            $ref: "#/definitions/As2KeyEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - as2_keys
      x-authentication:
        - self_managed
    patch:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Update As2 Key
      operationId: patchAs2KeysId
      parameters:
        - description: As2 Key ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - default: Test
          description: AS2 Partnership Name
          in: formData
          name: as2_partnership_name
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The As2Keys object.
          schema:
            $ref: "#/definitions/As2KeyEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - as2_keys
      x-authentication:
        - self_managed
  /automations:
    get:
      description: List Automations
      operationId: getAutomations
      parameters:
        - description: Current page number.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: "Deprecated: If set to `count` returns a count of matching records rather than the records themselves."
          in: query
          name: action
          required: false
          type: string
        - description: Type of automation to filter by.
          in: query
          name: automation
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: A list of Automations objects.
          schema:
            items:
              $ref: "#/definitions/AutomationEntity"
            type: array
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - automations
      x-authentication:
        - site
    post:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Create Automation
      operationId: postAutomations
      parameters:
        - default: create_folder
          description: "Type of automation.  One of: `create_folder`, `request_file`, `request_move`"
          in: formData
          name: automation
          required: true
          type: string
        - default: source
          description: Source Path
          in: formData
          name: source
          required: false
          type: string
        - default: destination
          description: Destination Path
          in: formData
          name: destination
          required: false
          type: string
        - description: If set, this string in the destination path will be replaced with the value in `destination_replace_to`.
          in: formData
          name: destination_replace_from
          required: false
          type: string
        - description: If set, this string will replace the value `destination_replace_from` in the destination filename. You can use special patterns here.
          in: formData
          name: destination_replace_to
          required: false
          type: string
        - default: year
          description: "How often to run this automation? One of: `day`, `week`, `week_end`, `month`, `month_end`, `quarter`, `quarter_end`, `year`, `year_end`"
          in: formData
          name: interval
          required: false
          type: string
        - description: Path on which this Automation runs.  Supports globs.
          in: formData
          name: path
          required: false
          type: string
        - description: A list of user IDs the automation is associated with. If sent as a string, it should be comma-delimited.
          in: formData
          name: user_ids
          required: false
          type: string
        - description: A list of group IDs the automation is associated with. If sent as a string, it should be comma-delimited.
          in: formData
          name: group_ids
          required: false
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: The Automations object.
          schema:
            $ref: "#/definitions/AutomationEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - automations
      x-authentication:
        - site
  "/automations/{id}":
    delete:
      description: Delete Automation
      operationId: deleteAutomationsId
      parameters:
        - description: Automation ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "204":
          description: No body.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - automations
      x-authentication:
        - site
    get:
      description: Show Automation
      operationId: getAutomationsId
      parameters:
        - description: Automation ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The Automations object.
          schema:
            $ref: "#/definitions/AutomationEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - automations
      x-authentication:
        - site
    patch:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Update Automation
      operationId: patchAutomationsId
      parameters:
        - description: Automation ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - default: create_folder
          description: "Type of automation.  One of: `create_folder`, `request_file`, `request_move`"
          in: formData
          name: automation
          required: true
          type: string
        - default: source
          description: Source Path
          in: formData
          name: source
          required: false
          type: string
        - default: destination
          description: Destination Path
          in: formData
          name: destination
          required: false
          type: string
        - description: If set, this string in the destination path will be replaced with the value in `destination_replace_to`.
          in: formData
          name: destination_replace_from
          required: false
          type: string
        - description: If set, this string will replace the value `destination_replace_from` in the destination filename. You can use special patterns here.
          in: formData
          name: destination_replace_to
          required: false
          type: string
        - default: year
          description: "How often to run this automation? One of: `day`, `week`, `week_end`, `month`, `month_end`, `quarter`, `quarter_end`, `year`, `year_end`"
          in: formData
          name: interval
          required: false
          type: string
        - description: Path on which this Automation runs.  Supports globs.
          in: formData
          name: path
          required: false
          type: string
        - description: A list of user IDs the automation is associated with. If sent as a string, it should be comma-delimited.
          in: formData
          name: user_ids
          required: false
          type: string
        - description: A list of group IDs the automation is associated with. If sent as a string, it should be comma-delimited.
          in: formData
          name: group_ids
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The Automations object.
          schema:
            $ref: "#/definitions/AutomationEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - automations
      x-authentication:
        - site
  /behaviors:
    get:
      description: List Behaviors
      operationId: getBehaviors
      parameters:
        - description: Current page number.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: "Deprecated: If set to `count` returns a count of matching records rather than the records themselves."
          in: query
          name: action
          required: false
          type: string
        - description: If set, only shows folder behaviors matching this behavior type.
          in: query
          name: behavior
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: A list of Behaviors objects.
          schema:
            items:
              $ref: "#/definitions/BehaviorEntity"
            type: array
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - behaviors
      x-authentication: []
    post:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Create Behavior
      operationId: postBehaviors
      parameters:
        - default: '{"method": "GET"}'
          description: The value of the folder behavior.  Can be a integer, array, or hash depending on the type of folder behavior.
          in: formData
          name: value
          required: false
          type: string
        - description: Certain behaviors may require a file, for instance, the "watermark" behavior requires a watermark image
          in: formData
          name: attachment_file
          required: false
          type: file
        - description: Folder behaviors path.
          in: formData
          name: path
          required: true
          type: string
        - default: webhook
          description: Behavior type.
          in: formData
          name: behavior
          required: true
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: The Behaviors object.
          schema:
            $ref: "#/definitions/BehaviorEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - behaviors
      x-authentication: []
  /behaviors/folders/?*path:
    get:
      description: List Behaviors by path
      parameters:
        - description: Current page number.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: "Deprecated: If set to `count` returns a count of matching records rather than the records themselves."
          in: query
          name: action
          required: false
          type: string
        - description: Path to operate on.
          in: query
          name: path
          required: true
          type: string
        - description: Show behaviors above this path?
          in: query
          name: recursive
          required: false
          type: string
        - description: If set only shows folder behaviors matching this behavior type.
          in: query
          name: behavior
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: A list of Behaviors objects.
          schema:
            items:
              $ref: "#/definitions/BehaviorEntity"
            type: array
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - behaviors
      x-authentication: []
  /behaviors/webhook/test:
    post:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Test webhook.
      operationId: postBehaviorsWebhookTest
      parameters:
        - default: https://www.site.com/...
          description: URL for testing the webhook.
          in: formData
          name: url
          required: true
          type: string
        - default: GET
          description: HTTP method(GET or POST).
          in: formData
          name: method
          required: false
          type: string
        - default: RAW
          description: HTTP encoding method.  Can be JSON, XML, or RAW (form data).
          in: formData
          name: encoding
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The Behaviors object.
          schema:
            $ref: "#/definitions/StatusEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - behaviors
      x-authentication:
        - folder_admin
      x-path_aliases:
        - site/test-webhook
  "/behaviors/{id}":
    delete:
      description: Delete Behavior
      operationId: deleteBehaviorsId
      parameters:
        - description: Behavior ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "204":
          description: No body.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - behaviors
      x-authentication: []
    get:
      description: Show Behavior
      operationId: getBehaviorsId
      parameters:
        - description: Behavior ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The Behaviors object.
          schema:
            $ref: "#/definitions/BehaviorEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - behaviors
      x-authentication: []
    patch:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Update Behavior
      operationId: patchBehaviorsId
      parameters:
        - description: Behavior ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
          x-types:
            - type: string
            - format: int32
              type: integer
            - type: object
        - default: '{"method": "GET"}'
          description: The value of the folder behavior.  Can be a integer, array, or hash depending on the type of folder behavior.
          in: formData
          name: value
          required: false
          type: string
        - description: Certain behaviors may require a file, for instance, the "watermark" behavior requires a watermark image
          in: formData
          name: attachment_file
          required: false
          type: file
          x-types:
            - type: string
            - format: int32
              type: integer
            - type: object
      produces:
        - application/json
      responses:
        "200":
          description: The Behaviors object.
          schema:
            $ref: "#/definitions/BehaviorEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - behaviors
      x-authentication: []
  /bundles:
    get:
      description: List Bundles
      operationId: getBundles
      parameters:
        - description: User ID.  Provide a value of `0` to operate the current session's user.
          format: int32
          in: query
          name: user_id
          required: false
          type: integer
        - description: Current page number.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: "Deprecated: If set to `count` returns a count of matching records rather than the records themselves."
          in: query
          name: action
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: A list of Bundles objects.
          schema:
            items:
              $ref: "#/definitions/BundleEntity"
            type: array
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - bundles
      x-authentication: []
    post:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Create Bundle
      operationId: postBundles
      parameters:
        - description: User ID.  Provide a value of `0` to operate the current session's user.
          format: int32
          in: formData
          name: user_id
          required: false
          type: integer
        - description: A list of paths to include in this bundle.
          in: formData
          items:
            type: string
          name: paths
          required: true
          type: array
        - default: Password
          description: Password for this bundle.
          in: formData
          name: password
          required: false
          type: string
        - description: Bundle expiration date/time
          format: date-time
          in: formData
          name: expires_at
          required: false
          type: string
        - default: The public description of the bundle.
          description: Public description
          in: formData
          name: description
          required: false
          type: string
        - default: The internal note on the bundle.
          description: Bundle internal note
          in: formData
          name: note
          required: false
          type: string
        - default: abc123
          description: Bundle code.  This code forms the end part of the Public URL.
          in: formData
          name: code
          required: false
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: The Bundles object.
          schema:
            $ref: "#/definitions/BundleEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - bundles
      x-authentication:
        - desktop_app
  "/bundles/{id}":
    delete:
      description: Delete Bundle
      operationId: deleteBundlesId
      parameters:
        - description: Bundle ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "204":
          description: No body.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - bundles
      x-authentication: []
    get:
      description: Show Bundle
      operationId: getBundlesId
      parameters:
        - description: Bundle ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The Bundles object.
          schema:
            $ref: "#/definitions/BundleEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - bundles
      x-authentication: []
    patch:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Update Bundle
      operationId: patchBundlesId
      parameters:
        - description: Bundle ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - default: Password
          description: Password for this bundle.
          in: formData
          name: password
          required: false
          type: string
        - description: Bundle expiration date/time
          format: date-time
          in: formData
          name: expires_at
          required: false
          type: string
        - default: The public description of the bundle.
          description: Public description
          in: formData
          name: description
          required: false
          type: string
        - default: The internal note on the bundle.
          description: Bundle internal note
          in: formData
          name: note
          required: false
          type: string
        - default: abc123
          description: Bundle code.  This code forms the end part of the Public URL.
          in: formData
          name: code
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The Bundles object.
          schema:
            $ref: "#/definitions/BundleEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - bundles
      x-authentication: []
  "/bundles/{id}/share":
    post:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Send email(s) with a link to bundle
      operationId: postBundlesIdShare
      parameters:
        - description: Bundle ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: A list of email addresses to share this bundle with.
          in: formData
          items:
            type: string
          name: to
          required: true
          type: array
        - default: Just a note.
          description: Note to include in email.
          in: formData
          name: note
          required: false
          type: string
      produces:
        - application/json
      responses:
        "204":
          description: No body.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - bundles
      x-authentication: []
  /dns_records:
    get:
      description: Show site DNS configuration.
      operationId: getDnsRecords
      parameters:
        - description: Current page number.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: "Deprecated: If set to `count` returns a count of matching records rather than the records themselves."
          in: query
          name: action
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: A list of DnsRecords objects.
          schema:
            items:
              $ref: "#/definitions/DnsRecordEntity"
            type: array
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - dns_records
      x-authentication:
        - site
        - overdue_ok
      x-path_aliases:
        - site/dns_records
  /file_actions/begin_upload/?*path:
    post:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Begin file upload
      operationId: BeginUpload
      parameters:
        - description: Path to operate on.
          in: formData
          name: path
          required: true
          type: string
        - description: Create parent directories if they do not exist?
          in: formData
          name: mkdir_parents
          required: false
          type: boolean
        - description: Part if uploading a part.
          format: int32
          in: formData
          name: part
          required: false
          type: integer
        - description: How many parts to fetch?
          format: int32
          in: formData
          name: parts
          required: false
          type: integer
        - description: ""
          in: formData
          name: ref
          required: false
          type: string
        - description: File byte offset to restart from.
          format: int32
          in: formData
          name: restart
          required: false
          type: integer
        - description: Allow file rename instead of overwrite?
          in: formData
          name: with_rename
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: The FileActions object.
          schema:
            $ref: "#/definitions/FilePartUploadEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - file_actions
      x-authentication:
        - desktop_app
        - inbox
  /file_actions/copy/?*path:
    post:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Copy file/folder
      operationId: Copy
      parameters:
        - description: Path to operate on.
          in: formData
          name: path
          required: true
          type: string
        - description: Copy destination path.
          in: formData
          name: destination
          required: true
          type: string
      produces:
        - application/json
      responses:
        "204":
          description: No body.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - file_actions
      x-authentication:
        - desktop_app
  /file_actions/move/?*path:
    post:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Move file/folder
      operationId: Move
      parameters:
        - description: Path to operate on.
          in: formData
          name: path
          required: true
          type: string
        - description: Move destination path.
          in: formData
          name: destination
          required: true
          type: string
      produces:
        - application/json
      responses:
        "204":
          description: No body.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - file_actions
      x-authentication:
        - desktop_app
  /file_comment_reactions:
    post:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Create File Comment Reaction
      operationId: postFileCommentReactions
      parameters:
        - description: User ID.  Provide a value of `0` to operate the current session's user.
          format: int32
          in: formData
          name: user_id
          required: false
          type: integer
        - description: ID of file comment to attach reaction to.
          format: int32
          in: formData
          name: file_comment_id
          required: true
          type: integer
        - description: Emoji to react with.
          in: formData
          name: emoji
          required: true
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: The FileCommentReactions object.
          schema:
            $ref: "#/definitions/FileCommentReactionEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - file_comment_reactions
      x-authentication: []
  "/file_comment_reactions/{id}":
    delete:
      description: Delete File Comment Reaction
      operationId: deleteFileCommentReactionsId
      parameters:
        - description: File Comment Reaction ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "204":
          description: No body.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - file_comment_reactions
      x-authentication: []
  /file_comments:
    post:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Create File Comment
      operationId: postFileComments
      parameters:
        - description: Comment body.
          in: formData
          name: body
          required: true
          type: string
        - description: File path.
          in: formData
          name: path
          required: true
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: The FileComments object.
          schema:
            $ref: "#/definitions/FileCommentEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - file_comments
      x-authentication: []
  /file_comments/files/?*path:
    get:
      description: List File Comments by path
      parameters:
        - description: Current page number.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: "Deprecated: If set to `count` returns a count of matching records rather than the records themselves."
          in: query
          name: action
          required: false
          type: string
        - description: Path to operate on.
          in: query
          name: path
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: A list of FileComments objects.
          schema:
            items:
              $ref: "#/definitions/FileCommentEntity"
            type: array
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - file_comments
      x-authentication: []
  "/file_comments/{id}":
    delete:
      description: Delete File Comment
      operationId: deleteFileCommentsId
      parameters:
        - description: File Comment ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "204":
          description: No body.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - file_comments
      x-authentication: []
    patch:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Update File Comment
      operationId: patchFileCommentsId
      parameters:
        - description: File Comment ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: Comment body.
          in: formData
          name: body
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The FileComments object.
          schema:
            $ref: "#/definitions/FileCommentEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - file_comments
      x-authentication: []
  /files/?*path:
    delete:
      description: Delete file/folder
      operationId: deleteFiles?*path
      parameters:
        - description: Path to operate on.
          in: query
          name: path
          required: true
          type: string
        - description: "If true, will recursively delete folers.  Otherwise, will error on non-empty folders.  For legacy reasons, this parameter may also be provided as the HTTP header `Depth: Infinity`"
          in: query
          name: recursive
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "204":
          description: No body.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - files
      x-authentication:
        - desktop_app
        - no_readonly
    get:
      description: Download file
      operationId: Download
      parameters:
        - description: Path to operate on.
          in: query
          name: path
          required: true
          type: string
        - description: Can be blank, `redirect` or `stat`.  If set to `stat`, we will return file information but without a download URL, and without logging a download.  If set to `redirect` we will serve a 302 redirect directly to the file.  This is used for integrations with Zapier, and is not recommended for most integrations.
          in: query
          name: action
          required: false
          type: string
        - description: If provided, lookup the file by id instead of path.
          format: int32
          in: query
          name: id
          required: false
          type: integer
        - description: Include file preview information?
          in: query
          name: with_previews
          required: false
          type: boolean
        - description: Include file priority color information?
          in: query
          name: with_priority_color
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: The Files object.
          schema:
            $ref: "#/definitions/FileEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - files
      x-authentication:
        - desktop_app
        - no_readonly
    patch:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Update file/folder metadata
      operationId: patchFiles?*path
      parameters:
        - description: Path to operate on.
          in: formData
          name: path
          required: true
          type: string
        - description: Modified time of file.
          in: formData
          name: provided_mtime
          required: false
          type: string
        - default: red
          description: Priority/Bookmark color of file.
          in: formData
          name: priority_color
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The Files object.
          schema:
            $ref: "#/definitions/FileEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - files
      x-authentication:
        - desktop_app
        - no_readonly
    post:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Upload file
      operationId: postFiles?*path
      parameters:
        - description: Path to operate on.
          in: formData
          name: path
          required: true
          type: string
        - description: The action to perform.  Can be `append`, `attachment`, `end`, `upload`, `put`, or may not exist
          in: formData
          name: action
          required: false
          type: string
        - description: etag identifier.
          in: formData
          items:
            type: string
          name: etags[etag]
          required: true
          type: array
        - description: Part number.
          in: formData
          items:
            format: int32
            type: integer
          name: etags[part]
          required: true
          type: array
        - description: Length of file.
          format: int32
          in: formData
          name: length
          required: false
          type: integer
        - description: Create parent directories if they do not exist?
          in: formData
          name: mkdir_parents
          required: false
          type: boolean
        - description: Part if uploading a part.
          format: int32
          in: formData
          name: part
          required: false
          type: integer
        - description: How many parts to fetch?
          format: int32
          in: formData
          name: parts
          required: false
          type: integer
        - description: User provided modification time.
          in: formData
          name: provided_mtime
          required: false
          type: string
        - description: ""
          in: formData
          name: ref
          required: false
          type: string
        - description: File byte offset to restart from.
          format: int32
          in: formData
          name: restart
          required: false
          type: integer
        - description: Size of file.
          format: int32
          in: formData
          name: size
          required: false
          type: integer
        - description: If copying folder, copy just the structure?
          in: formData
          name: structure
          required: false
          type: string
        - description: Allow file rename instead of overwrite?
          in: formData
          name: with_rename
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "201":
          description: The Files object.
          schema:
            $ref: "#/definitions/FileEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - files
      x-authentication:
        - desktop_app
        - inbox
  /folders/?*path:
    get:
      description: List Folders by path
      parameters:
        - description: Current page number.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: Action to take.  Can be `count`, `count_nrs` (non recursive), `size`, `permissions`, or blank.
          in: query
          name: action
          required: false
          type: string
        - description: Path to operate on.
          in: query
          name: path
          required: true
          type: string
        - description: Send cursor to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor header.
          in: query
          name: cursor
          required: false
          type: string
        - description: If specified, will to filter folders/files list by this string.  Wildcards of `*` and `?` are acceptable here.
          in: query
          name: filter
          required: false
          type: string
        - description: Request a preview size.  Can be `small` (default), `large`, `xlarge`, or `pdf`.
          in: query
          name: preview_size
          required: false
          type: string
        - description: If `search_all` is `true`, provide the search string here.  Otherwise, this parameter acts like an alias of `filter`.
          in: query
          name: search
          required: false
          type: string
        - description: Search entire site?
          in: query
          name: search_all
          required: false
          type: boolean
        - description: Include file priority color information?
          in: query
          name: with_priority_color
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: A list of Folders objects.
          schema:
            items:
              $ref: "#/definitions/FileEntity"
            type: array
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - folders
      x-authentication:
        - desktop_app
    post:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Create folder
      operationId: postFolders?*path
      parameters:
        - description: Path to operate on.
          in: formData
          name: path
          required: true
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: The Folders object.
          schema:
            $ref: "#/definitions/FileEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - folders
      x-authentication:
        - desktop_app
  /group_users:
    get:
      description: List Group Users
      operationId: getGroupUsers
      parameters:
        - description: User ID.  If provided, will return groups of which this user is a member.
          format: int32
          in: query
          name: user_id
          required: false
          type: integer
        - description: Current page number.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: "Deprecated: If set to `count` returns a count of matching records rather than the records themselves."
          in: query
          name: action
          required: false
          type: string
        - description: Group ID.  If provided, will return members of this group.
          format: int32
          in: query
          name: group_id
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: A list of GroupUsers objects.
          schema:
            items:
              $ref: "#/definitions/GroupUserEntity"
            type: array
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - group_users
      x-authentication: []
      x-path_aliases:
        - user/groups
        - users/:user_id/groups
        - groups/:group_id/users
  "/group_users/{id}":
    delete:
      description: Delete Group User
      operationId: deleteGroupUsersId
      parameters:
        - description: Group User ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "204":
          description: No body.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - group_users
      x-authentication:
        - site
      x-path_aliases:
        - groups/:group_id/memberships/:user_id
    patch:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Update Group User
      operationId: patchGroupUsersId
      parameters:
        - description: Group User ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: Group ID to add user to.
          format: int32
          in: formData
          name: group_id
          required: true
          type: integer
        - description: User ID to add to group.
          format: int32
          in: formData
          name: user_id
          required: true
          type: integer
        - description: Is the user a group administrator?
          in: formData
          name: admin
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: The GroupUsers object.
          schema:
            $ref: "#/definitions/GroupUserEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - group_users
      x-authentication:
        - site
      x-path_aliases:
        - groups/:group_id/memberships/:user_id
  /groups:
    get:
      description: List Groups
      operationId: getGroups
      parameters:
        - description: Current page number.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: "Deprecated: If set to `count` returns a count of matching records rather than the records themselves."
          in: query
          name: action
          required: false
          type: string
        - description: Comma-separated list of group ids to include in results.
          in: query
          name: ids
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: A list of Groups objects.
          schema:
            items:
              $ref: "#/definitions/GroupEntity"
            type: array
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - groups
      x-authentication:
        - folder_admin
    post:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Create Group
      operationId: postGroups
      parameters:
        - description: Group name.
          in: formData
          name: name
          required: false
          type: string
        - description: Group notes.
          in: formData
          name: notes
          required: false
          type: string
        - description: A list of user ids. If sent as a string, should be comma-delimited.
          in: formData
          name: user_ids
          required: false
          type: string
        - description: A list of group admin user ids. If sent as a string, should be comma-delimited.
          in: formData
          name: admin_ids
          required: false
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: The Groups object.
          schema:
            $ref: "#/definitions/GroupEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - groups
      x-authentication:
        - site
  "/groups/{group_id}/memberships/{user_id}":
    delete:
      description: Delete Group User
      operationId: deleteGroupsGroupIdMembershipsUserId
      parameters:
        - format: int32
          in: path
          name: group_id
          required: true
          type: integer
        - format: int32
          in: path
          name: user_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "204":
          description: No body.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - groups
      x-authentication:
        - site
      x-path_aliases:
        - groups/:group_id/memberships/:user_id
    patch:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Update Group User
      operationId: patchGroupsGroupIdMembershipsUserId
      parameters:
        - description: Group ID to add user to.
          format: int32
          in: path
          name: group_id
          required: true
          type: integer
        - description: User ID to add to group.
          format: int32
          in: path
          name: user_id
          required: true
          type: integer
        - description: Is the user a group administrator?
          in: formData
          name: admin
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: The GroupUsers object.
          schema:
            $ref: "#/definitions/GroupUserEntity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - groups
      x-authentication:
        - site
      x-path_aliases:
        - groups/:group_id/memberships/:user_id
  "/groups/{group_id}/permissions":
    get:
      description: List Permissions
      operationId: getGroupsGroupIdPermissions
      parameters:
        - description: Current page number.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: "Deprecated: If set to `count` returns a count of matching records rather than the records themselves."
          in: query
          name: action
          required: false
          type: string
        - description: Permission path.  If provided, will scope permissions to this path.
          in: query
          name: path
          required: false
          type: string
        - description: Group ID.  If provided, will scope permissions to this group.
          in: path
          name: group_id
          required: true
          type: string
        - description: User ID.  If provided, will scope permissions to this user.
          in: query
          name: user_id
          required: false
          type: string
        - description: If searching by user or group, also include user's permissions that are inherited from its groups?
          in: query
          name: include_groups
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: A list of Permissions objects.
          schema:
            items:
              $ref: "#/definitions/PermissionEntity"
            type: array
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - groups
      x-authentication: []
      x-path_aliases:
        - groups/:group_id/permissions
        - users/:user_id/permissions
  "/groups/{group_id}/users":
    get:
      description: List Group Users
      operationId: getGroupsGroupIdUsers
      parameters:
        - description: User ID.  If provided, will return groups of which this user is a member.
          format: int32
          in: query
          name: user_id
          required: false
          type: integer
        - description: Current page number.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: "Deprecated: If set to `count` returns a count of matching records rather than the records themselves."
          in: query
          name: action
          required: false
          type: string
        - description: Group ID.  If provided, will return members of this group.
          format: int32
          in: path
          name: group_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: A list of GroupUsers objects.
          schema:
            items:
              $ref: "#/definitions/GroupUserEntity"
            type: array
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "409":
          description: Conflict
        "412":
          description: Precondition Failed
        "422":
          description: Unprocessable Entity
        "423":
          description: Locked
        "429":
          description: Too Many Requests
      tags:
        - groups
      x-authentication: []
      x-path_aliases:
        - user/groups
        - users/:user_id/groups
        - groups/:group_id/users
    post:
      consumes:
        - application/json
        - application/x-www-form-urlencoded
        - multipart/form-data
      description: Create User
      operationId: postGroupsGroupIdUsers
      parameters:
        - description: An image file for your user avatar.
          in: formData
          name: avatar_file
          required: false
          type: file
        - description: If true, the avatar will be deleted.
          in: formData
          name: avatar_delete
          required: false
          type: boolean
        - description: Used for changing a password on an existing user.
          in: formData
          name: change_password
          required: false
          type: string
        - description: Optional, but if provided, we will ensure that it matches the value sent in `change_password`.
          in: formData
          name: change_password_confirmation
          required: false
          type: string
        - description: User's email.
          in: formData
          name: email
          required: false
          type: string
        - description: Permission to grant on the user root.  Can be blank or `full`, `read`, `write`, `preview`, or `history`.
          in: formData
          name: grant_permission
          required: false
          type: string
        - description: Group ID to associate this user with.
          format: int32
          in: path
          name: group_id
          required: true
          type: integer
        - description: A list of group ids to associate this user with.  Comma delimited.
          in: formData
          name: group_ids
          required: false
          type: string
        - description: User password.
          in: formData
          name: password
          required: false
          type: string
        - description: Optional, but if provided, we will ensure that it matches the value sent in `password`.
          in: formData
          name: password_confirmation
          required: false
          type: string
        - description: Signifies that the user has read all the announcements in the UI.
          in: formData
          name: announcements_read
          required: false
          type: boolean
        - default: 127.0.0.1
          description: A list of allowed IPs if applicable.  Newline delimited
          in: formData
          name: allowed_ips
          required: false
          type: string
        - description: Can the user create Bundles (aka Share Links)?  This field will be aliased or renamed in the future to `bundles_permission`.
          in: formData
          name: attachments_permission
          required: false
          type: boolean
        - description: Scheduled Date/Time at which user will be deactivated
          format: date-time
          in: formData
          name: authenticate_until
          required: false
          type: string
        - default: password
          description: How is this user authenticated?
          enum:
            - password
            - ldap
            - sso
            - none
          in: formData
          name: authentication_method
          required: false
          type: string
        - description: Allow this user to perform operations on the account, payments, and invoices?
          in: formData
          name: billing_permission
          required: false
          type: boolean
        - description: Exempt this user from being disabled based on inactivity?
          in: formData
          name: bypass_inactive_disable
          required: false
          type: boolean
        - description: Allow this user to skip site-wide IP blacklists?
          in: formData
          name: bypass_site_allowed_ips
          required: false
          type: boolean
        - description: Can the user connect with WebDAV?
          in: formData
          name: dav_permission
          required: false
          type: boolean
        - description: Is user disabled? Disabled users cannot log in, and do not count for billing purposes.  Users can be automatically disabled after an inactivity period via a Site setting.
          in: formData
          name: disabled
          required: false
          type: boolean
        - description: Can the user access with FTP/FTPS?
          in: formData
          name: ftp_permission
          required: false
          type: boolean
        - default: en
          description: Preferred language
          in: formData
          name: language
          required: false
          type: string
        - default: 18
          description: Hour of the day at which daily notifications should be sent. Can be in range 0 to 23
          format: int32
          in: formData
          name: notification_daily_send_time
          required: false
          type: integer
        - default: John Doe
          description: User's full name
          in: formData
          name: name
          required: false
          type: string
        - default: Internal notes on this user.
          description: Any internal notes on the user
          in: formData
          name: notes
          required: false
          type: string
        - description: Number of days to allow user to use the same password
          format: int32
          in: formData
          name: password_validity_days
          required: false
          type: integer
        - description: Should the user receive admin alerts such a certificate expiration notifications and overages?
          in: formData
          name: receive_admin_alerts
          required: false
          type: boolean
        - description: Is a password change required upon next user login?
          in: formData
          name: require_password_change
          required: false
          type: boolean
        - description: Can this user access the REST API?
          in: formData
          name: restapi_permission
          required: false
          type: boolean
        - description: Does this user manage it's own credentials or is it a shared/bot user?
          in: formData
          name: self_managed
          required: false
          type: boolean
        - description: Can the user access with SFTP?
          in: formData
          name: sftp_permission
          required: false
          type: boolean
        - description: Is the user an administrator for this site?
          in: formData
          name: site_admin
          required: false
          type: boolean
        - description: Skip Welcome page in the UI?
          in: formData
          name: skip_welcome_screen
          required: false
          type: boolean
        - default: always_require
          description: SSL required setting
          enum:
            - use_system_setting
            - always_require
            - never_require
          in: formData
          name: ssl_required
          required: false
          type: string
        - default: 1
          description: SSO (Single Sign On) strategy ID for the user, if applicable.
          format: int32
          in: formData
          name: sso_strategy_id
          required: false
          type: integer
        - description: Is the user subscribed to the newsletter?
          in: formData
          name: subscribe_to_newsletter
          required: false
          type: boolean
[...]
