swagger: '2.0'
schemes:
  - https
host: api.open.fec.gov
basePath: /v1
info:
  contact:
    x-twitter: FEC
  description: |-
    This API allows you to explore the way candidates and committees fund their campaigns. 

     The FEC API is a RESTful web service supporting full-text and field-specific searches on FEC data. [Bulk downloads](https://www.fec.gov/data/advanced/?tab=bulk-data) are available on the current site. Information is tied to the underlying forms by file ID and image ID. Data is updated nightly. 

     There is a lot of data, but a good place to start is to use search to find interesting candidates and committees. Then, you can use their IDs to find report or line item details with the other endpoints. If you are interested in individual donors, check out contributor information in schedule_a. 

     Get an [API key here](https://api.data.gov/signup/). That will enable you to place up to 1,000 calls an hour. Each call is limited to 100 results per page. You can email questions, comments or a request to get a key for 120 calls per minute to [APIinfo@fec.gov](mailto:apiinfo@fec.gov). You can also ask questions and discuss the data in the [FEC data Google Group](https://groups.google.com/forum/#!forum/fec-data). API changes will also be added to this group in advance of the change. 

     

     The model definitions and schema are available at [/swagger](/swagger/). This is useful for making wrappers and exploring the data. 

     A few restrictions limit the way you can use FEC data. For example, you can’t use contributor lists for commercial purposes or to solicit donations. [Learn more here](https://www.fec.gov/updates/sale-or-use-contributor-information/). 

     [View our source code](https://github.com/fecgov/openFEC). We welcome issues and pull requests!
  title: OpenFEC
  version: '1.0'
  x-apisguru-categories:
    - open_data
  x-logo:
    url: 'https://twitter.com/FEC/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://api.open.fec.gov/swagger/'
      version: '2.0'
  x-providerName: fec.gov
produces:
  - application/json
securityDefinitions:
  apiKey:
    in: query
    name: api_key
    type: apiKey
security:
  - apiKey: []
parameters: {}
tags:
  - description: |-
      Candidate endpoints give you access to information about the people running for office. This information is organized by candidate_id. If you're unfamiliar with candidate IDs, using `/candidates/search` will help you locate a particular candidate. 

       Officially, a candidate is an individual seeking nomination for election to a federal office. People become candidates when they (or agents working on their behalf) raise contributions or make expenditures that exceed $5,000. 

       The candidate endpoints primarily use data from FEC registration [Form 1](http://www.fec.gov/pdf/forms/fecfrm1.pdf), for candidate information, and [Form 2](http://www.fec.gov/pdf/forms/fecfrm2.pdf), for committee information.
    name: candidate
  - description: |-
      Committees are entities that spend and raise money in an election. Their characteristics and relationships with candidates can change over time. 

       You might want to use filters or search endpoints to find the committee you're looking for. Then you can use other committee endpoints to explore information about the committee that interests you. 

       Financial information is organized by `committee_id`, so finding the committee you're interested in will lead you to more granular financial information. 

       The committee endpoints include all FEC filers, even if they aren't registered as a committee. 

       Officially, committees include the committees and organizations that file with the FEC. Several different types of organizations file financial reports with the FEC: 

       *Campaign committees authorized by particular candidates to raise and spend funds in their campaigns. Non-party committees (e.g., PACs), some of which may be sponsored by corporations, unions, trade or membership groups, etc. Political party committees at the national, state, and local levels. Groups and individuals making only independent expenditures Corporations, unions, and other organizations making internal communications* 

       The committee endpoints primarily use data from FEC registration Form 1 and Form 2.
    name: committee
  - description: 'Reporting deadlines, election dates FEC meetings, events etc.'
    name: dates
  - description: |-
      Fetch key information about a committee's Form 3, Form 3X, or Form 3P financial reports. 

       Most committees are required to summarize their financial activity in each filing; those summaries are included in these files. Generally, committees file reports on a quarterly or monthly basis, but some must also submit a report 12 days before primary elections. Therefore, during the primary season, the period covered by this file may be different for different committees. These totals also incorporate any changes made by committees, if any report covering the period is amended. 

       Information is made available on the API as soon as it's processed. Keep in mind, complex paper filings take longer to process. 

       The financial endpoints use data from FEC [form 5](http://www.fec.gov/pdf/forms/fecfrm5.pdf), for independent expenditors; or the summary and detailed summary pages of the FEC [Form 3](http://www.fec.gov/pdf/forms/fecfrm3.pdf), for House and Senate committees; [Form 3X](http://www.fec.gov/pdf/forms/fecfrm3x.pdf), for PACs and parties; and [Form 3P](http://www.fec.gov/pdf/forms/fecfrm3p.pdf), for presidential committees.
    name: financial
  - description: 'Search for candidates, committees by name.'
    name: search
  - description: |-
      All official records and reports filed by or delivered to the FEC. 

       Note: because the filings data includes many records, counts for large result sets are approximate; you will want to page through the records until no records are returned.
    name: filings
  - description: |-
      Schedule A records describe itemized receipts reported by a committee. This is where you can look for individual contributors. If you are interested in individual donors, `/schedules/schedule_a` will be the endpoint you use. 

       Once a person gives more than a total of $200, the donations of that person must be reported by committees that file F3, F3X and F3P forms. 

       Contributions $200 and under are not required to be itemized, but you can find the total amount of these small donations by looking up the "unitemized" field in the `/reports` or `/totals` endpoints. 

       When comparing the totals from reports to line items. the totals will not match unless you only look at items where `"is_individual":true` since the same transaction is in the data multiple ways to explain the way it may move though different committees as an earmark. See the `is_individual` sql function within the migrations for more details. 

       For the Schedule A aggregates, such as by_occupation and by_state, include only unique individual contributions. See below for full methodology. 

       __Methodology for determining unique, individual contributions__ 

       For receipts over $200 use FEC code line_number to identify individuals. 

       The line numbers that specify individuals that are automatically included: 

       Line number with description - 10 Contribution to Independent Expenditure-Only Committees (Super PACs), Political Committees with non-contribution accounts (Hybrid PACs) and nonfederal party "soft money" accounts (1991-2002) from a person (individual, partnership, limited liability company, corporation, labor organization, or any other organization or group of persons) - 15 Contribution to political committees (other than Super PACs and Hybrid PACs) from an individual, partnership or limited liability company - 15E Earmarked contributions to political committees (other than Super PACs and Hybrid PACs) from an individual, partnership or limited liability company - 15J Memo - Recipient committee's percentage of contribution from an individual, partnership or limited liability company given to joint fundraising committee - 18J | Memo - Recipient committee's percentage of contribution from a registered committee given to joint fundraising committee - 30, 30T, 31, 31T, 32 Individual party codes 

       For receipts under $200: We check the following codes and see if there is "earmark" (or a variation) in the `memo_text` description of the contribution. 

       Line number with description -11AI The itemized individual contributions from F3 schedule A -12 Nonfederal other receipt - Levin Account (Line 2) -17 Itemized individual contributions from Form 3P -17A Itemized individual contributions from Form 3P -18 Itemized individual contributions from Form 3P 

       Of those transactions,[under $200, and having "earmark" in the memo text OR transactions having the codes 11A, 12, 17, 17A, or 18], we then want to exclude earmarks.
    name: receipts
  - description: 'Schedule B filings describe itemized disbursements. This data explains how committees and other filers spend their money. These figures are reported as part of forms F3, F3X and F3P.'
    name: disbursements
  - description: 'Schedule C shows all loans, endorsements and loan guarantees a committee receives or makes.'
    name: loans
  - description: 'Schedule D, it shows debts and obligations owed to or by the committee that are required to be disclosed.'
    name: debts
  - description: |-
      Schedule E covers the line item expenditures for independent expenditures. For example, if a super PAC bought ads on TV to oppose a federal candidate, each ad purchase would be recorded here with the expenditure amount, name and id of the candidate, and whether the ad supported or opposed the candidate. 

       An independent expenditure is an expenditure for a communication "expressly advocating the election or defeat of a clearly identified candidate that is not made in cooperation, consultation, or concert with, or at the request or suggestion of, a candidate, a candidate’s authorized committee, or their agents, or a political party or its agents." 

       Aggregates by candidate do not include 24 and 48 hour reports. This ensures we don't double count expenditures and the totals are more accurate. You can still find the information from 24 and 48 hour reports in `/schedule/schedule_e/`.
    name: independent expenditures
  - description: 'Schedule F, it shows all special expenditures a national or state party committee makes in connection with the general election campaigns of federal candidates.'
    name: party-coordinated expenditures
  - description: 'Reports of communication costs by corporations and membership organizations from the FEC [F7 forms](http://www.fec.gov/pdf/forms/fecform7.pdf).'
    name: communication cost
  - description: |-
      An electioneering communication is any broadcast, cable or satellite communication that fulfills each of the following conditions: 

       _The communication refers to a clearly identified federal candidate._ 

       _The communication is publicly distributed by a television station, radio station, cable television system or satellite system for a fee._ 

       _The communication is distributed within 60 days prior to a general election or 30 days prior to a primary election to federal office._
    name: electioneering
  - description: |-
      Useful tools for those who file with the FEC. 

       Look up RAD analyst with telephone extension by committee_id.
    name: filer resources
  - description: |-
      Efiling endpoints provide real-time campaign finance data for electronic filers. 

       These endpoints are perfect for watching filings roll in when you want to know the latest information. Efiling endpoints only contain the most recent two years worth of data and don't contain the processed and coded data that you can find on the other endpoints. Those endpoints are better for in-depth analysis. 

       Senate candidates and committees are required to file by paper. Other committees who raise and spend less than $50,000 in a calendar can choose whether to file electronically or by paper. 

       DISCLAIMER: The field labels contained within this resource are subject to change.  We are attempting to succinctly label these fields while conveying clear meaning to ensure accessibility for all users.
    name: efiling
  - description: |-
      The agency’s monitoring process may detect potential violations through a review of a committee’s reports or through a Commission audit. By law, all enforcement cases must remain confidential until they’re closed. 

       The Commission is required by law to audit Presidential campaigns that accept public funds. In addition, the Commission audits a committee when it appears not to have met the threshold requirements for substantial compliance with the Federal Election Campaign Act. The audit determines whether the committee complied with limitations, prohibitions and disclosure requirements. 

       These endpoints contain Final Audit Reports approved by the Commission since inception.
    name: audit
  - description: 'Explore relevant statutes, regulations and Commission actions.'
    name: legal
paths:
  /audit-case/:
    get:
      description: |

        This endpoint contains Final Audit Reports approved by the Commission since inception.
        The search can be based on information about the audited committee (Name, FEC ID Number, Type, 
        Election Cycle) or the issues covered in the report.
      parameters:
        - collectionFormat: multi
          description: |

            A unique identifier assigned to each candidate registered with the FEC.
            If a person runs for several offices, that person will have separate candidate IDs for each office.
          in: query
          items:
            type: string
          name: candidate_id
          required: false
          type: array
        - collectionFormat: multi
          description: Name of candidate running for office
          in: query
          items:
            type: string
          name: qq
          required: false
          type: array
        - default: false
          description: Toggle that filters out all rows having sort column that is non-null
          in: query
          name: sort_null_only
          required: false
          type: boolean
        - description: |

            Filter records to only those that are applicable to a given two-year
            period. This cycle follows the traditional House election cycle and
            subdivides the presidential and Senate elections into comparable
            two-year blocks. The cycle begins with an odd year and is named for its
            ending, even year.
          format: int32
          in: query
          name: min_election_cycle
          required: false
          type: integer
        - default: all
          description: |

            Audit category ID (table PK)
          in: query
          name: primary_category_id
          required: false
          type: string
        - default: 20
          description: The number of results returned per page. Defaults to 20.
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - default: false
          description: Hide null values on sorted column(s).
          in: query
          name: sort_hide_null
          required: false
          type: boolean
        - collectionFormat: multi
          description: |

            Filter records to only those that are applicable to a given two-year
            period. This cycle follows the traditional House election cycle and
            subdivides the presidential and Senate elections into comparable
            two-year blocks. The cycle begins with an odd year and is named for its
            ending, even year.
          in: query
          items:
            format: int32
            type: integer
          name: cycle
          required: false
          type: array
        - default: all
          description: |

            The finding id of an audit. Finding are a category of broader issues. Each category has an unique ID.
          in: query
          name: sub_category_id
          required: false
          type: string
        - collectionFormat: multi
          description: 'The name of the committee. If a committee changes its name,     the most recent name will be shown. Committee names are not unique. Use committee_id     for looking up records.'
          in: query
          items:
            type: string
          name: q
          required: false
          type: array
        - collectionFormat: multi
          description: |

            A unique identifier assigned to each committee or filer registered with the FEC. In general committee id's begin with the letter C which is followed by eight digits.
          in: query
          items:
            type: string
          name: committee_id
          required: false
          type: array
        - collectionFormat: multi
          description: |

            Primary/foreign key for audit tables
          in: query
          items:
            type: string
          name: audit_case_id
          required: false
          type: array
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
        - default: DEMO_KEY
          description: |

            API key for https://api.data.gov. Get one at https://api.data.gov/signup.
          in: query
          name: api_key
          required: true
          type: string
        - collectionFormat: multi
          description: |

            The audit issue. Each subcategory has an unique ID
          in: query
          items:
            format: int32
            type: integer
          name: audit_id
          required: false
          type: array
        - default: 1
          description: 'For paginating through results, starting at page 1'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - collectionFormat: multi
          description: |
            The one-letter type code of the organization:
                    - C communication cost
                    - D delegate
                    - E electioneering communication
                    - H House
                    - I independent expenditor (person or group)
                    - N PAC - nonqualified
                    - O independent expenditure-only (super PACs)
                    - P presidential
                    - Q PAC - qualified
                    - S Senate
                    - U single candidate independent expenditure
                    - V PAC with non-contribution account, nonqualified
                    - W PAC with non-contribution account, qualified
                    - X party, nonqualified
                    - Y party, qualified
                    - Z national party non-federal account
          in: query
          items:
            type: string
          name: committee_type
          required: false
          type: array
        - collectionFormat: multi
          default:
            - '-cycle'
            - committee_name
          description: Provide a field to sort by. Use - for descending order.
          in: query
          items:
            type: string
          name: sort
          required: false
          type: array
          x-nullable: true
        - description: |

            Filter records to only those that are applicable to a given two-year
            period. This cycle follows the traditional House election cycle and
            subdivides the presidential and Senate elections into comparable
            two-year blocks. The cycle begins with an odd year and is named for its
            ending, even year.
          format: int32
          in: query
          name: max_election_cycle
          required: false
          type: integer
        - description: |
            Type of committee:
                    - H or S - Congressional
                    - P - Presidential
                    - X or Y or Z - Party
                    - N or Q - PAC
                    - I - Independent expenditure
                    - O - Super PAC 
          in: query
          name: committee_designation
          required: false
          type: string
      responses:
        default:
          description: ''
          schema:
            $ref: '#/definitions/AuditCasePage'
      tags:
        - audit
  /audit-category/:
    get:
      description: |

        This lists the options for the categories and subcategories available in the /audit-search/ endpoint.
      parameters:
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
        - default: DEMO_KEY
          description: |

            API key for https://api.data.gov. Get one at https://api.data.gov/signup.
          in: query
          name: api_key
          required: true
          type: string
        - default: false
          description: Toggle that filters out all rows having sort column that is non-null
          in: query
          name: sort_null_only
          required: false
          type: boolean
        - collectionFormat: multi
          description: |

            Audit category ID (table PK)
          in: query
          items:
            type: string
          name: primary_category_id
          required: false
          type: array
        - default: 20
          description: The number of results returned per page. Defaults to 20.
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - default: 1
          description: 'For paginating through results, starting at page 1'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - default: false
          description: Hide null values on sorted column(s).
          in: query
          name: sort_hide_null
          required: false
          type: boolean
        - default: primary_category_name
          description: Provide a field to sort by. Use - for descending order.
          in: query
          name: sort
          required: false
          type: string
        - collectionFormat: multi
          description: |
            Primary Audit Category
                - No Findings or Issues/Not a Committee
                - Net Outstanding Campaign/Convention Expenditures/Obligations
                - Payments/Disgorgements
                - Allocation Issues
                - Prohibited Contributions
                - Disclosure
                - Recordkeeping
                - Repayment to US Treasury
                - Other
                - Misstatement of Financial Activity
                - Excessive Contributions
                - Failure to File Reports/Schedules/Notices
                - Loans
                - Referred Findings Not Listed
          in: query
          items:
            type: string
          name: primary_category_name
          required: false
          type: array
      responses:
        default:
          description: ''
          schema:
            $ref: '#/definitions/AuditCategoryPage'
      tags:
        - audit
  /audit-primary-category/:
    get:
      description: |

        This lists the options for the primary categories available in the /audit-search/ endpoint.
      parameters:
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
        - default: DEMO_KEY
          description: |

            API key for https://api.data.gov. Get one at https://api.data.gov/signup.
          in: query
          name: api_key
          required: true
          type: string
        - default: false
          description: Toggle that filters out all rows having sort column that is non-null
          in: query
          name: sort_null_only
          required: false
          type: boolean
        - collectionFormat: multi
          description: |

            Audit category ID (table PK)
          in: query
          items:
            type: string
          name: primary_category_id
          required: false
          type: array
        - default: 20
          description: The number of results returned per page. Defaults to 20.
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - default: 1
          description: 'For paginating through results, starting at page 1'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - default: false
          description: Hide null values on sorted column(s).
          in: query
          name: sort_hide_null
          required: false
          type: boolean
        - default: primary_category_name
          description: Provide a field to sort by. Use - for descending order.
          in: query
          name: sort
          required: false
          type: string
        - collectionFormat: multi
          description: |
            Primary Audit Category
                - No Findings or Issues/Not a Committee
                - Net Outstanding Campaign/Convention Expenditures/Obligations
                - Payments/Disgorgements
                - Allocation Issues
                - Prohibited Contributions
                - Disclosure
                - Recordkeeping
                - Repayment to US Treasury
                - Other
                - Misstatement of Financial Activity
                - Excessive Contributions
                - Failure to File Reports/Schedules/Notices
                - Loans
                - Referred Findings Not Listed
          in: query
          items:
            type: string
          name: primary_category_name
          required: false
          type: array
      responses:
        default:
          description: ''
          schema:
            $ref: '#/definitions/AuditPrimaryCategoryPage'
      tags:
        - audit
  /calendar-dates/:
    get:
      description: |

        Combines the election and reporting dates with Commission meetings, conferences, outreach, Advisory Opinions, rules, litigation dates and other
        events into one calendar.

        State and report type filtering is no longer available.
      parameters:
        - collectionFormat: multi
          description: |

            Each type of event has a calendar category with an integer id. Options are: Open Meetings: 32, Executive Sessions: 39, Public Hearings: 40,
            Conferences: 33, Roundtables: 34, Election Dates: 36, Federal Holidays: 37, FEA Periods: 38, Commission Meetings: 20,
            Reporting Deadlines: 21, Conferences and Outreach: 22, AOs and Rules: 23, Other: 24, Quarterly: 25, Monthly: 26,
            Pre and Post-Elections: 27, EC Periods:28, and IE Periods: 29
          in: query
          items:
            format: int32
            type: integer
          name: calendar_category_id
          required: false
          type: array
        - description: |

            The minimum end date.(MM/DD/YYYY or YYYY-MM-DD)
          format: date
          in: query
          name: min_end_date
          required: false
          type: string
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
        - default: DEMO_KEY
          description: |

            API key for https://api.data.gov. Get one at https://api.data.gov/signup.
          in: query
          name: api_key
          required: true
          type: string
        - collectionFormat: multi
          description: Longer description of event
          in: query
          items:
            type: string
          name: summary
          required: false
          type: array
        - description: |

            The minimum start date.(MM/DD/YYYY or YYYY-MM-DD)
          format: date
          in: query
          name: min_start_date
          required: false
          type: string
        - description: 'An unique ID for an event. Useful for downloading a single event to your calendar. This ID is not a permanent, persistent ID.'
          format: int32
          in: query
          name: event_id
          required: false
          type: integer
        - default: false
          description: Toggle that filters out all rows having sort column that is non-null
          in: query
          name: sort_null_only
          required: false
          type: boolean
        - collectionFormat: multi
          description: Brief description of event
          in: query
          items:
            type: string
          name: description
          required: false
          type: array
        - default: 1
          description: 'For paginating through results, starting at page 1'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - default: 20
          description: The number of results returned per page. Defaults to 20.
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: |

            The maximum start date.(MM/DD/YYYY or YYYY-MM-DD)
          format: date
          in: query
          name: max_start_date
          required: false
          type: string
        - default: false
          description: Hide null values on sorted column(s).
          in: query
          name: sort_hide_null
          required: false
          type: boolean
        - default: '-start_date'
          description: Provide a field to sort by. Use - for descending order.
          in: query
          name: sort
          required: false
          type: string
        - description: |

            The maximum end date.(MM/DD/YYYY or YYYY-MM-DD)
          format: date
          in: query
          name: max_end_date
          required: false
          type: string
      responses:
        default:
          description: ''
          schema:
            $ref: '#/definitions/CalendarDatePage'
      tags:
        - dates
  /calendar-dates/export/:
    get:
      description: |+

        Returns CSV or ICS for downloading directly into calendar applications like Google, Outlook or other applications.

        Combines the election and reporting dates with Commission meetings, conferences, outreach, Advisory Opinions, rules, litigation dates and other
        events into one calendar.

        State filtering now applies to elections, reports and reporting periods.

        Presidential pre-primary report due dates are not shown on even years.
        Filers generally opt to file monthly rather than submit over 50 pre-primary election
        reports. All reporting deadlines are available at /reporting-dates/ for reference.

        This is [the sql function](https://github.com/fecgov/openFEC/blob/develop/data/migrations/V40__omnibus_dates.sql)
        that creates the calendar.

      parameters:
        - collectionFormat: multi
          description: |

            Each type of event has a calendar category with an integer id. Options are: Open Meetings: 32, Executive Sessions: 39, Public Hearings: 40,
            Conferences: 33, Roundtables: 34, Election Dates: 36, Federal Holidays: 37, FEA Periods: 38, Commission Meetings: 20,
            Reporting Deadlines: 21, Conferences and Outreach: 22, AOs and Rules: 23, Other: 24, Quarterly: 25, Monthly: 26,
            Pre and Post-Elections: 27, EC Periods:28, and IE Periods: 29
          in: query
          items:
            format: int32
            type: integer
          name: calendar_category_id
          required: false
          type: array
        - description: |

            The minimum end date.(MM/DD/YYYY or YYYY-MM-DD)
          format: date
          in: query
          name: min_end_date
          required: false
          type: string
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
        - default: ics
          enum:
            - ics
            - csv
          in: query
          name: renderer
          required: false
          type: string
        - default: DEMO_KEY
          description: |

            API key for https://api.data.gov. Get one at https://api.data.gov/signup.
          in: query
          name: api_key
          required: true
          type: string
        - collectionFormat: multi
          description: Longer description of event
          in: query
          items:
            type: string
          name: summary
          required: false
          type: array
        - description: |

            The minimum start date.(MM/DD/YYYY or YYYY-MM-DD)
          format: date
          in: query
          name: min_start_date
          required: false
          type: string
        - description: 'An unique ID for an event. Useful for downloading a single event to your calendar. This ID is not a permanent, persistent ID.'
          format: int32
          in: query
          name: event_id
          required: false
          type: integer
        - default: false
          description: Toggle that filters out all rows having sort column that is non-null
          in: query
          name: sort_null_only
          required: false
          type: boolean
        - collectionFormat: multi
          description: Brief description of event
          in: query
          items:
            type: string
          name: description
          required: false
          type: array
        - default: 1
          description: 'For paginating through results, starting at page 1'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: |

            The maximum start date.(MM/DD/YYYY or YYYY-MM-DD)
          format: date
          in: query
          name: max_start_date
          required: false
          type: string
        - default: 20
          description: The number of results returned per page. Defaults to 20.
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - default: false
          description: Hide null values on sorted column(s).
          in: query
          name: sort_hide_null
          required: false
          type: boolean
        - default: '-start_date'
          description: Provide a field to sort by. Use - for descending order.
          in: query
          name: sort
          required: false
          type: string
        - description: |

            The maximum end date.(MM/DD/YYYY or YYYY-MM-DD)
          format: date
          in: query
          name: max_end_date
          required: false
          type: string
      responses:
        default:
          description: ''
          schema:
            $ref: '#/definitions/CalendarDatePage'
      tags:
        - dates
  '/candidate/{candidate_id}/':
    get:
      description: |+

        This endpoint is useful for finding detailed information about a particular candidate. Use the
        `candidate_id` to find the most recent information about that candidate.

      parameters:
        - collectionFormat: multi
          description: 'Three-letter code for the party affiliated with a candidate or committee. For example, DEM for Democratic Party and REP for Republican Party.'
          in: query
          items:
            type: string
          name: party
          required: false
          type: array
        - collectionFormat: multi
          description: |
            One-letter code explaining if the candidate is:
                    - C present candidate
                    - F future candidate
                    - N not yet a candidate
                    - P prior candidate
          in: query
          items:
            enum:
              - ''
              - C
              - F
              - 'N'
              - P
            type: string
          name: candidate_status
          required: false
          type: array
        - description: A boolean that describes if a candidate's committee has ever received any receipts for their campaign for this particular office. (Candidates have separate candidate IDs for each office.)
          in: query
          name: has_raised_funds
          required: false
          type: boolean
        - default: false
          description: Toggle that filters out all rows having sort column that is non-null
          in: query
          name: sort_null_only
          required: false
          type: boolean
        - default: 20
          description: The number of results returned per page. Defaults to 20.
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - default: false
          description: Hide null values on sorted column(s).
          in: query
          name: sort_hide_null
          required: false
          type: boolean
        - collectionFormat: multi
          description: |

            Two-year election cycle in which a candidate runs for office.
            Calculated from FEC Form 2. The cycle begins with
            an odd year and is named for its ending, even year. This cycle follows
            the traditional house election cycle and subdivides the presidential
            and Senate elections into comparable two-year blocks. To see data for
            the entire four years of a presidential term or six years of a senatorial term,
            you will need the `election_full` flag.
          in: query
          items:
            format: int32
            type: integer
          name: cycle
          required: false
          type: array
        - collectionFormat: multi
          description: 'One-letter code (''I'', ''C'', ''O'') explaining if the candidate is an incumbent, a challenger, or if the seat is open.'
          in: query
          items:
            enum:
              - ''
              - I
              - C
              - O
            type: string
          name: incumbent_challenge
          required: false
          type: array
        - collectionFormat: multi
          description: Name (candidate or committee) to search for. Alias for 'q'.
          in: query
          items:
            type: string
          name: name
          required: false
          type: array
        - collectionFormat: multi
          description: Year of election
          in: query
          items:
            format: int32
            type: integer
          name: election_year
          required: false
          type: array
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
        - description: See records pertaining to a particular election year. The list of election years is based on a candidate filing a statement of candidacy (F2) for that year.
          in: query
          name: year
          required: false
          type: string
        - default: DEMO_KEY
          description: |

            API key for https://api.data.gov. Get one at https://api.data.gov/signup.
          in: query
          name: api_key
          required: true
          type: string
        - description: A boolean the describes if a presidential candidate has accepted federal funds. The flag will be false for House and Senate candidates.
          in: query
          name: federal_funds_flag
          required: false
          type: boolean
        - default: 1
          description: 'For paginating through results, starting at page 1'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - collectionFormat: multi
          description: US state or territory where a candidate runs for office
          in: query
          items:
            type: string
          name: state
          required: false
          type: array
        - collectionFormat: multi
          description: 'Federal office candidate runs for: H, S or P'
          in: query
          items:
            enum:
              - ''
              - H
              - S
              - P
            type: string
          name: office
          required: false
          type: array
        - default: name
          description: Provide a field to sort by. Use - for descending order.
          in: query
          name: sort
          required: false
          type: string
        - collectionFormat: multi
          description: 'Two-digit US House distirict of the office the candidate is running for. Presidential, Senate and House at-large candidates will have District 00.'
          in: query
          items:
            type: string
          name: district
          required: false
          type: array
        - description: |

            A unique identifier assigned to each candidate registered with the FEC.
            If a person runs for several offices, that person will have separate candidate IDs for each office.
          in: path
          name: candidate_id
          required: true
          type: string
      responses:
        default:
          description: ''
          schema:
            $ref: '#/definitions/CandidateDetailPage'
      tags:
        - candidate
  '/candidate/{candidate_id}/committees/':
    get:
      description: |

        This endpoint is useful for finding detailed information about a particular committee or
        filer. Use the `committee_id` to find the most recent information about the committee.
      parameters:
        - collectionFormat: multi
          description: |
            The one-letter 
                code of the filing frequency:
                     - A Administratively terminated
                     - D Debt
                     - M Monthly filer
                     - Q Quarterly filer
                     - T Terminated
                     - W Waived
          in: query
          items:
            enum:
              - ''
              - A
              - M
              - 'N'
              - Q
              - T
              - W
              - '-A'
              - '-T'
            type: string
          name: filing_frequency
          required: false
          type: array
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
        - collectionFormat: multi
          description: A year that the committee was active— (after original registration date     or filing but before expiration date)
          in: query
          items:
            format: int32
            type: integer
          name: year
          required: false
          type: array
        - default: DEMO_KEY
          description: |

            API key for https://api.data.gov. Get one at https://api.data.gov/signup.
          in: query
          name: api_key
          required: true
          type: string
        - default: false
          description: Toggle that filters out all rows having sort column that is non-null
          in: query
          name: sort_null_only
          required: false
          type: boolean
        - collectionFormat: multi
          description: |
            The one-letter designation code of the organization:
                     - A authorized by a candidate
                     - J joint fundraising committee
                     - P principal campaign committee of a candidate
                     - U unauthorized
                     - B lobbyist/registrant PAC
                     - D leadership PAC
          in: query
          items:
            enum:
              - ''
              - A
              - J
              - P
              - U
              - B
              - D
            type: string
          name: designation
          required: false
          type: array
        - default: 1
          description: 'For paginating through results, starting at page 1'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - default: 20
          description: The number of results returned per page. Defaults to 20.
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - collectionFormat: multi
          description: |

            A two year election cycle that the committee was active- (after original registration
            date but before expiration date in FEC Form 1s) The cycle begins with
            an odd year and is named for its ending, even year.
          in: query
          items:
            format: int32
            type: integer
          name: cycle
          required: false
          type: array
        - collectionFormat: multi
          description: |
            The one-letter type code of the organization:
                    - C communication cost
                    - D delegate
                    - E electioneering communication
                    - H House
                    - I independent expenditor (person or group)
                    - N PAC - nonqualified
                    - O independent expenditure-only (super PACs)
                    - P presidential
                    - Q PAC - qualified
                    - S Senate
                    - U single candidate independent expenditure
                    - V PAC with non-contribution account, nonqualified
                    - W PAC with non-contribution account, qualified
                    - X party, nonqualified
                    - Y party, qualified
                    - Z national party non-federal account
          in: query
          items:
            enum:
              - ''
              - C
              - D
              - E
              - H
              - I
              - 'N'
              - O
              - P
              - Q
              - S
              - U
              - V
              - W
              - X
              - 'Y'
              - Z
            type: string
          name: committee_type
          required: false
          type: array
        - default: name
          description: Provide a field to sort by. Use - for descending order.
          in: query
          name: sort
          required: false
          type: string
        - collectionFormat: multi
          description: |
            The one-letter code for the kind for organization:
                    - C corporation
                    - L labor organization
                    - M membership organization
                    - T trade association
                    - V cooperative
                    - W corporation without capital stock
          in: query
          items:
            enum:
              - ''
              - C
              - L
              - M
              - T
              - V
              - W
            type: string
          name: organization_type
          required: false
          type: array
        - default: false
          description: Hide null values on sorted column(s).
          in: query
          name: sort_hide_null
          required: false
          type: boolean
        - description: |

            A unique identifier assigned to each candidate registered with the FEC.
            If a person runs for several offices, that person will have separate candidate IDs for each office.
          in: path
          name: candidate_id
          required: true
          type: string
      responses:
        default:
          description: ''
          schema:
            $ref: '#/definitions/CommitteeDetailPage'
      tags:
        - committee
  '/candidate/{candidate_id}/committees/history/':
    get:
      description: |

        Explore a filer's characteristics over time. This can be particularly useful if the
        committees change treasurers, designation, or `committee_type`.
      parameters:
        - default: false
          description: Aggregate values over full election period
          in: query
          name: election_full
          required: false
          type: boolean
        - default: 20
          description: The number of results returned per page. Defaults to 20.
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - default: 1
          description: 'For paginating through results, starting at page 1'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - default: false
          description: Hide null values on sorted column(s).
          in: query
          name: sort_hide_null
          required: false
          type: boolean
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
        - default: '-cycle'
          description: Provide a field to sort by. Use - for descending order.
          in: query
          name: sort
          required: false
          type: string
        - default: DEMO_KEY
          description: |

            API key for https://api.data.gov. Get one at https://api.data.gov/signup.
          in: query
          name: api_key
          required: true
          type: string
        - default: false
          description: Toggle that filters out all rows having sort column that is non-null
          in: query
          name: sort_null_only
          required: false
          type: boolean
        - description: |

            A unique identifier assigned to each candidate registered with the FEC.
            If a person runs for several offices, that person will have separate candidate IDs for each office.
          in: path
          name: candidate_id
          required: true
          type: string
      responses:
        default:
          description: ''
          schema:
            $ref: '#/definitions/CommitteeHistoryPage'
      tags:
        - committee
  '/candidate/{candidate_id}/committees/history/{cycle}/':
    get:
      description: |

        Explore a filer's characteristics over time. This can be particularly useful if the
        committees change treasurers, designation, or `committee_type`.
      parameters:
        - default: false
          description: Aggregate values over full election period
          in: query
          name: election_full
          required: false
          type: boolean
        - default: 20
          description: The number of results returned per page. Defaults to 20.
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - default: 1
          description: 'For paginating through results, starting at page 1'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - default: false
          description: Hide null values on sorted column(s).
          in: query
          name: sort_hide_null
          required: false
          type: boolean
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
        - default: '-cycle'
          description: Provide a field to sort by. Use - for descending order.
          in: query
          name: sort
          required: false
          type: string
        - default: DEMO_KEY
          description: |

            API key for https://api.data.gov. Get one at https://api.data.gov/signup.
          in: query
          name: api_key
          required: true
          type: string
        - default: false
          description: Toggle that filters out all rows having sort column that is non-null
          in: query
          name: sort_null_only
          required: false
          type: boolean
        - description: |

            A unique identifier assigned to each candidate registered with the FEC.
            If a person runs for several offices, that person will have separate candidate IDs for each office.
          in: path
          name: candidate_id
          required: true
          type: string
        - description: |

            A two year election cycle that the committee was active- (after original registration
            date but before expiration date in FEC Form 1s) The cycle begins with
            an odd year and is named for its ending, even year.
          format: int32
          in: path
          name: cycle
          required: true
          type: integer
      responses:
        default:
          description: ''
          schema:
            $ref: '#/definitions/CommitteeHistoryPage'
      tags:
        - committee
  '/candidate/{candidate_id}/filings/':
    get:
      description: |

        All official records and reports filed by or delivered to the FEC.

        Note: because the filings data includes many records, counts for large
        result sets are approximate; you will want to page through the records until no records are returned.
      parameters:
        - collectionFormat: multi
          description: 'Three-letter code for the party affiliated with a candidate or committee. For example, DEM for Democratic Party and REP for Republican Party.'
          in: query
          items:
            type: string
          name: party
          required: false
          type: array
        - description: 'The method used to file with the FEC, either electronic or on paper.'
          enum:
            - e-file
            - paper
          in: query
          name: filer_type
          required: false
          type: string
        - collectionFormat: multi
          description: |
            Name of report where the underlying data comes from:
                - 10D Pre-Election
                - 10G Pre-General
                - 10P Pre-Primary
                - 10R Pre-Run-Off
                - 10S Pre-Special
                - 12C Pre-Convention
                - 12G Pre-General
                - 12P Pre-Primary
                - 12R Pre-Run-Off
                - 12S Pre-Special
                - 30D Post-Election
                - 30G Post-General
                - 30P Post-Primary
                - 30R Post-Run-Off
                - 30S Post-Special
                - 60D Post-Convention
                - M1  January Monthly
                - M10 October Monthly
                - M11 November Monthly
                - M12 December Monthly
                - M2  February Monthly
                - M3  March Monthly
                - M4  April Monthly
                - M5  May Monthly
                - M6  June Monthly
                - M7  July Monthly
                - M8  August Monthly
                - M9  September Monthly
                - MY  Mid-Year Report
                - Q1  April Quarterly
                - Q2  July Quarterly
                - Q3  October Quarterly
                - TER Termination Report
                - YE  Year-End
                - ADJ COMP ADJUST AMEND
                - CA  COMPREHENSIVE AMEND
                - 90S Post Inaugural Supplement
                - 90D Post Inaugural
                - 48  48 Hour Notification
                - 24  24 Hour Notification
                - M7S July Monthly/Semi-Annual
                - MSA Monthly Semi-Annual (MY)
                - MYS Monthly Year End/Semi-Annual
                - Q2S July Quarterly/Semi-Annual
                - QSA Quarterly Semi-Annual (MY)
                - QYS Quarterly Year End/Semi-Annual
                - QYE Quarterly Semi-Annual (YE)
                - QMS Quarterly Mid-Year/ Semi-Annual
                - MSY Monthly Semi-Annual (YE)
          in: query
          items:
            type: string
          name: report_type
          required: false
          type: array
        - default: false
          description: Toggle that filters out all rows having sort column that is non-null
          in: query
          name: sort_null_only
          required: false
          type: boolean
        - collectionFormat: multi
          description: 'Primary, general or special election indicator'
          in: query
          items:
            type: string
          name: primary_general_indicator
          required: false
          type: array
        - default: 20
          description: The number of results returned per page. Defaults to 20.
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - default: false
          description: Hide null values on sorted column(s).
          in: query
          name: sort_hide_null
          required: false
          type: boolean
        - collectionFormat: multi
          description: |

            Filter records to only those that were applicable to a given
            two-year period.The cycle begins with an odd year and is named
            for its ending, even year.
          in: query
          items:
            format: int32
            type: integer
          name: cycle
          required: false
          type: array
        - description: Filing is either new or is the most-recently filed amendment
          in: query
          name: most_recent
          required: false
          type: boolean
        - description: Filing has been amended
          in: query
          name: is_amended
          required: false
          type: boolean
        - collectionFormat: multi
          description: |
            Requests for additional information (RFAIs) sent to filers. The request type is based on the type of document filed:
                - 1 Statement of Organization
                - 2 Report of Receipts and Expenditures (Form 3 and 3X)
                - 3 Second Notice - Reports
                - 4 Request for Additional Information
                - 5 Informational - Reports
                - 6 Second Notice - Statement of Organization
                - 7 Failure to File
                - 8 From Public Disclosure
                - 9 From Multi Candidate Status
          in: query
          items:
            type: string
          name: request_type
          required: false
          type: array
        - collectionFormat: multi
          description: |

            Forms with coverage date - 
                year from the coverage ending date.
            Forms without coverage date - 
                year from the receipt date.
          in: query
          items:
            format: int32
            type: integer
          name: report_year
          required: false
          type: array
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
        - collectionFormat: multi
          description: |

                -N   new
                -A   amendment
                -T   terminated
                -C   consolidated
                -M   multi-candidate
                -S   secondary

                Null might be new or amendment. If amendment indicator is null and the filings is the first or     first in a chain treat it as if it was a new. If it is not the first or first in a chain then     treat the filing as an amendment.
          in: query
          items:
            enum:
              - ''
              - 'N'
              - A
              - T
              - C
              - M
              - S
            type: string
          name: amendment_indicator
          required: false
          type: array
        - default: DEMO_KEY
          description: |

            API key for https://api.data.gov. Get one at https://api.data.gov/signup.
          in: query
          name: api_key
          required: true
          type: string
        - description: Selects all items received by FEC before this date
          format: date
          in: query
          name: max_receipt_date
          required: false
          type: string
        - collectionFormat: multi
          description: Filing ID number
          in: query
          items:
            format: int32
            type: integer
          name: file_number
          required: false
          type: array
        - default: 1
          description: 'For paginating through results, starting at page 1'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - collectionFormat: multi
          description: |

            The type of document for documents other than reports:
                - 2 24 Hour Contribution Notice
                - 4 48 Hour Contribution Notice
                - A Debt Settlement Statement
                - B Acknowledgment of Receipt of Debt Settlement Statement
                - C RFAI: Debt Settlement First Notice
                - D Commission Debt Settlement Review
                - E Commission Response TO Debt Settlement Request
                - F Administrative Termination
                - G Debt Settlement Plan Amendment
                - H Disavowal Notice
                - I Disavowal Response
                - J Conduit Report
                - K Termination Approval
                - L Repeat Non-Filer Notice
                - M Filing Frequency Change Notice
                - N Paper Amendment to Electronic Report
                - O Acknowledgment of Filing Frequency Change
                - S RFAI: Debt Settlement Second
                - T Miscellaneous Report TO FEC
                - V Repeat Violation Notice (441A OR 441B)
                - P Notice of Paper Filing
                - R F3L Filing Frequency Change Notice
                - Q Acknowledgment of F3L Filing Frequency Change
                - U Unregistered Committee Notice
          in: query
          items:
            type: string
          name: document_type
          required: false
          type: array
        - description: |
            The one-letter type code of the organization:
                    - C communication cost
                    - D delegate
                    - E electioneering communication
                    - H House
                    - I independent expenditor (person or group)
                    - N PAC - nonqualified
                    - O independent expenditure-only (super PACs)
                    - P presidential
                    - Q PAC - qualified
                    - S Senate
                    - U single candidate independent expenditure
                    - V PAC with non-contribution account, nonqualified
                    - W PAC with non-contribution account, qualified
                    - X party, nonqualified
                    - Y party, qualified
                    - Z national party non-federal account
          in: query
          name: committee_type
          required: false
          type: string
        - description: Selects all items received by FEC after this date
          format: date
          in: query
          name: min_receipt_date
          required: false
          type: string
        - collectionFormat: multi
          description: 'Federal office candidate runs for: H, S or P'
          in: query
          items:
            enum:
              - ''
              - H
              - S
              - P
            type: string
          name: office
          required: false
          type: array
        - collectionFormat: multi
          description: |

            Indicates the type of form that was filed.
            ex: F1, F2, F3P, F3X etc...
          in: query
          items:
            type: string
          name: form_type
          required: false
          type: array
        - collectionFormat: multi
          description: US state or territory where a candidate runs for office
          in: query
          items:
            type: string
          name: state
          required: false
          type: array
        - collectionFormat: multi
          default:
            - '-receipt_date'
          description: Provide a field to sort by. Use - for descending order.
          in: query
          items:
            type: string
          name: sort
          required: false
          type: array
          x-nullable: true
        - collectionFormat: multi
          description: 'Two-digit US House distirict of the office the candidate is running for. Presidential, Senate and House at-large candidates will have District 00.'
          in: query
          items:
            type: string
          name: district
          required: false
          type: array
        - collectionFormat: multi
          description: |

            Unique identifier for the electronic or paper report. This number is used to construct
            PDF URLs to the original document.
          in: query
          items:
            type: string
          name: beginning_image_number
          required: false
          type: array
        - description: |

            A unique identifier assigned to each candidate registered with the FEC.
            If a person runs for several offices, that person will have separate candidate IDs for each office.
          in: path
          name: candidate_id
          required: true
          type: string
      responses:
        default:
          description: ''
          schema:
            $ref: '#/definitions/FilingsPage'
      tags:
        - filings
  '/candidate/{candidate_id}/history/':
    get:
      description: |

        Find out a candidate's characteristics over time. This is particularly useful if the
        candidate runs for the same office in different districts or you want to know more about a candidate's
        previous races.

        This information is organized by `candidate_id`, so it won't help you find a candidate
        who ran for different offices over time; candidates get a new ID for each office.
      parameters:
        - default: false
          description: Aggregate values over full election period
          in: query
          name: election_full
          required: false
          type: boolean
        - default: 20
          description: The number of results returned per page. Defaults to 20.
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - default: 1
          description: 'For paginating through results, starting at page 1'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - default: false
          description: Hide null values on sorted column(s).
          in: query
          name: sort_hide_null
          required: false
          type: boolean
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
        - default: '-two_year_period'
          description: Provide a field to sort by. Use - for descending order.
          in: query
          name: sort
          required: false
          type: string
        - default: DEMO_KEY
          description: |

            API key for https://api.data.gov. Get one at https://api.data.gov/signup.
          in: query
          name: api_key
          required: true
          type: string
        - default: false
          description: Toggle that filters out all rows having sort column that is non-null
          in: query
          name: sort_null_only
          required: false
          type: boolean
        - description: |

            A unique identifier assigned to each candidate registered with the FEC.
            If a person runs for several offices, that person will have separate candidate IDs for each office.
          in: path
          name: candidate_id
          required: true
          type: string
      responses:
        default:
          description: ''
          schema:
            $ref: '#/definitions/CandidateHistoryPage'
      tags:
        - candidate
  '/candidate/{candidate_id}/history/{cycle}/':
    get:
      description: |

        Find out a candidate's characteristics over time. This is particularly useful if the
        candidate runs for the same office in different districts or you want to know more about a candidate's
        previous races.

        This information is organized by `candidate_id`, so it won't help you find a candidate
        who ran for different offices over time; candidates get a new ID for each office.
      parameters:
        - default: false
          description: Aggregate values over full election period
          in: query
          name: election_full
          required: false
          type: boolean
        - default: 20
          description: The number of results returned per page. Defaults to 20.
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - default: 1
          description: 'For paginating through results, starting at page 1'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - default: false
          description: Hide null values on sorted column(s).
          in: query
          name: sort_hide_null
          required: false
          type: boolean
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
        - default: '-two_year_period'
          description: Provide a field to sort by. Use - for descending order.
          in: query
          name: sort
          required: false
          type: string
        - default: DEMO_KEY
          description: |

            API key for https://api.data.gov. Get one at https://api.data.gov/signup.
          in: query
          name: api_key
          required: true
          type: string
        - default: false
          description: Toggle that filters out all rows having sort column that is non-null
          in: query
          name: sort_null_only
          required: false
          type: boolean
        - description: |

            A unique identifier assigned to each candidate registered with the FEC.
            If a person runs for several offices, that person will have separate candidate IDs for each office.
          in: path
          name: candidate_id
          required: true
          type: string
        - description: |

            Two-year election cycle in which a candidate runs for office.
            Calculated from FEC Form 2. The cycle begins with
            an odd year and is named for its ending, even year. This cycle follows
            the traditional house election cycle and subdivides the presidential
            and Senate elections into comparable two-year blocks. To see data for
            the entire four years of a presidential term or six years of a senatorial term,
            you will need the `election_full` flag.
          format: int32
          in: path
          name: cycle
          required: true
          type: integer
      responses:
        default:
          description: ''
          schema:
            $ref: '#/definitions/CandidateHistoryPage'
      tags:
        - candidate
  '/candidate/{candidate_id}/totals/':
    get:
      description: |

        This endpoint provides information about a committee's Form 3, Form 3X, or Form 3P financial reports,
        which are aggregated by two-year period. We refer to two-year periods as a `cycle`.

        The cycle is named after the even-numbered year and includes the year before it. To see
        totals from 2013 and 2014, you would use 2014. In odd-numbered years, the current cycle
        is the next year — for example, in 2015, the current cycle is 2016.

        For presidential and Senate candidates, multiple two-year cycles exist between elections.
      parameters:
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
        - default: DEMO_KEY
          description: |

            API key for https://api.data.gov. Get one at https://api.data.gov/signup.
          in: query
          name: api_key
          required: true
          type: string
        - default: false
          description: Toggle that filters out all rows having sort column that is non-null
          in: query
          name: sort_null_only
          required: false
          type: boolean
        - description: |
            The one-letter designation code of the organization:
                     - A authorized by a candidate
                     - J joint fundraising committee
                     - P principal campaign committee of a candidate
                     - U unauthorized
                     - B lobbyist/registrant PAC
                     - D leadership PAC
          in: query
          name: designation
          required: false
          type: string
        - default: 20
          description: The number of results returned per page. Defaults to 20.
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - default: false
          description: Hide null values on sorted column(s).
          in: query
          name: sort_hide_null
          required: false
          type: boolean
        - collectionFormat: multi
          description: |

            Filter records to only those that were applicable to a given
            two-year period.The cycle begins with an odd year and is named
            for its ending, even year.
          in: query
          items:
            format: int32
            type: integer
          name: cycle
          required: false
          type: array
        - default: 1
          description: 'For paginating through results, starting at page 1'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - default: '-cycle'
          description: Provide a field to sort by. Use - for descending order.
          in: query
          name: sort
          required: false
          type: string
        - description: |
            The one-letter type code of the organization:
                    - C communication cost
                    - D delegate
                    - E electioneering communication
                    - H House
                    - I independent expenditor (person or group)
                    - N PAC - nonqualified
                    - O independent expenditure-only (super PACs)
                    - P presidential
                    - Q PAC - qualified
                    - S Senate
                    - U single candidate independent expenditure
                    - V PAC with non-contribution account, nonqualified
                    - W PAC with non-contribution account, qualified
                    - X party, nonqualified
                    - Y party, qualified
                    - Z national party non-federal account
          in: query
          name: type
          required: false
          type: string
        - description: Get totals for full election period.
          in: query
          name: full_election
          required: false
          type: boolean
        - description: |

            A unique identifier assigned to each candidate registered with the FEC.
            If a person runs for several offices, that person will have separate candidate IDs for each office.
          in: path
          name: candidate_id
          required: true
          type: string
      responses:
        default:
          description: ''
          schema:
            $ref: '#/definitions/CommitteeTotalsPage'
      tags:
        - candidate
  /candidates/:
    get:
      description: |

        Fetch basic information about candidates, and use parameters to filter results to the
        candidates you're looking for.

        Each result reflects a unique FEC candidate ID. That ID is particular to the candidate for a
        particular office sought. If a candidate runs for the same office multiple times, the ID
        stays the same. If the same person runs for another office — for example, a House
        candidate runs for a Senate office — that candidate will get a unique ID for each office.
      parameters:
        - collectionFormat: multi
          description: 'Three-letter code for the party affiliated with a candidate or committee. For example, DEM for Democratic Party and REP for Republican Party.'
          in: query
          items:
            type: string
          name: party
          required: false
          type: array
        - description: Selects all candidates whose first filing was received by the FEC after this date
          format: date
          in: query
          name: min_first_file_date
          required: false
          type: string
        - collectionFormat: multi
          description: |
            One-letter code explaining if the candidate is:
                    - C present candidate
                    - F future candidate
                    - N not yet a candidate
                    - P prior candidate
          in: query
          items:
            enum:
              - ''
              - C
              - F
              - 'N'
              - P
            type: string
          name: candidate_status
          required: false
          type: array
        - collectionFormat: multi
          description: |

            A unique identifier assigned to each candidate registered with the FEC.
            If a person runs for several offices, that person will have separate candidate IDs for each office.
          in: query
          items:
            type: string
          name: candidate_id
          required: false
          type: array
        - description: A boolean that describes if a candidate's committee has ever received any receipts for their campaign for this particular office. (Candidates have separate candidate IDs for each office.)
          in: query
          name: has_raised_funds
          required: false
          type: boolean
        - description: Selects all candidates whose first filing was received by the FEC before this date
          format: date
          in: query
          name: max_first_file_date
          required: false
          type: string
        - default: false
          description: Toggle that filters out all rows having sort column that is non-null
          in: query
          name: sort_null_only
          required: false
          type: boolean
        - default: 20
          description: The number of results returned per page. Defaults to 20.
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - default: false
          description: Hide null values on sorted column(s).
          in: query
          name: sort_hide_null
          required: false
          type: boolean
        - collectionFormat: multi
          description: |

            Two-year election cycle in which a candidate runs for office.
            Calculated from FEC Form 2. The cycle begins with
            an odd year and is named for its ending, even year. This cycle follows
            the traditional house election cycle and subdivides the presidential
            and Senate elections into comparable two-year blocks. To see data for
            the entire four years of a presidential term or six years of a senatorial term,
            you will need the `election_full` flag.
          in: query
          items:
            format: int32
            type: integer
          name: cycle
          required: false
          type: array
        - collectionFormat: multi
          description: 'One-letter code (''I'', ''C'', ''O'') explaining if the candidate is an incumbent, a challenger, or if the seat is open.'
          in: query
          items:
            enum:
              - ''
              - I
              - C
              - O
            type: string
          name: incumbent_challenge
          required: false
          type: array
        - collectionFormat: multi
          description: Name (candidate or committee) to search for. Alias for 'q'.
          in: query
          items:
            type: string
          name: name
          required: false
          type: array
        - collectionFormat: multi
          description: Name of candidate running for office
          in: query
          items:
            type: string
          name: q
          required: false
          type: array
        - collectionFormat: multi
          description: Year of election
          in: query
          items:
            format: int32
            type: integer
          name: election_year
          required: false
          type: array
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
        - description: See records pertaining to a particular election year. The list of election years is based on a candidate filing a statement of candidacy (F2) for that year.
          in: query
          name: year
          required: false
          type: string
        - default: DEMO_KEY
          description: |

            API key for https://api.data.gov. Get one at https://api.data.gov/signup.
          in: query
          name: api_key
          required: true
          type: string
        - description: A boolean the describes if a presidential candidate has accepted federal funds. The flag will be false for House and Senate candidates.
          in: query
          name: federal_funds_flag
          required: false
          type: boolean
        - default: 1
          description: 'For paginating through results, starting at page 1'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - collectionFormat: multi
          description: US state or territory where a candidate runs for office
          in: query
          items:
            type: string
          name: state
          required: false
          type: array
        - collectionFormat: multi
          description: 'Federal office candidate runs for: H, S or P'
          in: query
          items:
            enum:
              - ''
              - H
              - S
              - P
            type: string
          name: office
          required: false
          type: array
        - default: name
          description: Provide a field to sort by. Use - for descending order.
          in: query
          name: sort
          required: false
          type: string
        - collectionFormat: multi
          description: 'Two-digit US House distirict of the office the candidate is running for. Presidential, Senate and House at-large candidates will have District 00.'
          in: query
          items:
            type: string
          name: district
          required: false
          type: array
      responses:
        default:
          description: ''
          schema:
            $ref: '#/definitions/CandidatePage'
      tags:
        - candidate
  /candidates/search/:
    get:
      description: |

        Fetch basic information about candidates and their principal committees.

        Each result reflects a unique FEC candidate ID. That ID is assigned to the candidate for a
        particular office sought. If a candidate runs for the same office over time, that ID
        stays the same. If the same person runs for multiple offices — for example, a House
        candidate runs for a Senate office — that candidate will get a unique ID for each office.

        The candidate endpoints primarily use data from FEC registration
        [Form 1](http://www.fec.gov/pdf/forms/fecfrm1.pdf), for candidate information, and
        [Form 2](http://www.fec.gov/pdf/forms/fecfrm2.pdf), for committees information, with additional information
        to provide context.
      parameters:
        - collectionFormat: multi
          description: 'Three-letter code for the party affiliated with a candidate or committee. For example, DEM for Democratic Party and REP for Republican Party.'
          in: query
          items:
            type: string
          name: party
          required: false
          type: array
        - description: Selects all candidates whose first filing was received by the FEC after this date
          format: date
          in: query
          name: min_first_file_date
          required: false
          type: string
        - collectionFormat: multi
          description: |
            One-letter code explaining if the candidate is:
                    - C present candidate
                    - F future candidate
                    - N not yet a candidate
                    - P prior candidate
          in: query
          items:
            enum:
              - ''
              - C
              - F
              - 'N'
              - P
            type: string
          name: candidate_status
          required: false
          type: array
        - collectionFormat: multi
          description: |

            A unique identifier assigned to each candidate registered with the FEC.
            If a person runs for several offices, that person will have separate candidate IDs for each office.
          in: query
          items:
            type: string
          name: candidate_id
          required: false
          type: array
        - description: A boolean that describes if a candidate's committee has ever received any receipts for their campaign for this particular office. (Candidates have separate candidate IDs for each office.)
          in: query
          name: has_raised_funds
          required: false
          type: boolean
        - description: Selects all candidates whose first filing was received by the FEC before this date
          format: date
          in: query
          name: max_first_file_date
          required: false
          type: string
        - default: false
          description: Toggle that filters out all rows having sort column that is non-null
          in: query
          name: sort_null_only
          required: false
          type: boolean
        - default: 20
          description: The number of results returned per page. Defaults to 20.
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - default: false
          description: Hide null values on sorted column(s).
          in: query
          name: sort_hide_null
          required: false
          type: boolean
        - collectionFormat: multi
          description: |

            Two-year election cycle in which a candidate runs for office.
            Calculated from FEC Form 2. The cycle begins with
            an odd year and is named for its ending, even year. This cycle follows
            the traditional house election cycle and subdivides the presidential
            and Senate elections into comparable two-year blocks. To see data for
            the entire four years of a presidential term or six years of a senatorial term,
            you will need the `election_full` flag.
          in: query
          items:
            format: int32
            type: integer
          name: cycle
          required: false
          type: array
        - collectionFormat: multi
          description: 'One-letter code (''I'', ''C'', ''O'') explaining if the candidate is an incumbent, a challenger, or if the seat is open.'
          in: query
          items:
            enum:
              - ''
              - I
              - C
              - O
            type: string
          name: incumbent_challenge
          required: false
          type: array
        - collectionFormat: multi
          description: Name (candidate or committee) to search for. Alias for 'q'.
          in: query
          items:
            type: string
          name: name
          required: false
          type: array
        - collectionFormat: multi
          description: Name of candidate running for office
          in: query
          items:
            type: string
          name: q
          required: false
          type: array
        - collectionFormat: multi
          description: Year of election
          in: query
          items:
            format: int32
            type: integer
          name: election_year
          required: false
          type: array
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
        - description: See records pertaining to a particular election year. The list of election years is based on a candidate filing a statement of candidacy (F2) for that year.
          in: query
          name: year
          required: false
          type: string
        - default: DEMO_KEY
          description: |

            API key for https://api.data.gov. Get one at https://api.data.gov/signup.
          in: query
          name: api_key
          required: true
          type: string
        - description: A boolean the describes if a presidential candidate has accepted federal funds. The flag will be false for House and Senate candidates.
          in: query
          name: federal_funds_flag
          required: false
          type: boolean
        - default: 1
          description: 'For paginating through results, starting at page 1'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - collectionFormat: multi
          description: US state or territory where a candidate runs for office
          in: query
          items:
            type: string
          name: state
          required: false
          type: array
        - collectionFormat: multi
          description: 'Federal office candidate runs for: H, S or P'
          in: query
          items:
            enum:
              - ''
              - H
              - S
              - P
            type: string
          name: office
          required: false
          type: array
        - default: name
          description: Provide a field to sort by. Use - for descending order.
          in: query
          name: sort
          required: false
          type: string
        - collectionFormat: multi
          description: 'Two-digit US House distirict of the office the candidate is running for. Presidential, Senate and House at-large candidates will have District 00.'
          in: query
          items:
            type: string
          name: district
          required: false
          type: array
      responses:
        default:
          description: ''
          schema:
            $ref: '#/definitions/CandidatePage'
      tags:
        - candidate
  /candidates/totals/:
    get:
      description: |

        Aggregated candidate receipts and disbursements grouped by cycle.
      parameters:
        - collectionFormat: multi
          description: Three-letter party code
          in: query
          items:
            type: string
          name: party
          required: false
          type: array
        - default: false
          description: Aggregate values over full election period
          in: query
          name: election_full
          required: false
          type: boolean
        - description: Maximum cash on hand
          in: query
          name: max_cash_on_hand_end_period
          required: false
          type: string
        - description: Minimum debt
          in: query
          name: min_debts_owed_by_committee
          required: false
          type: string
        - collectionFormat: multi
          description: |

            A unique identifier assigned to each candidate registered with the FEC.
            If a person runs for several offices, that person will have separate candidate IDs for each office.
          in: query
          items:
            type: string
          name: candidate_id
          required: false
          type: array
        - description: A boolean that describes if a candidate's committee has ever received any receipts for their campaign for this particular office. (Candidates have separate candidate IDs for each office.)
          in: query
          name: has_raised_funds
          required: false
          type: boolean
        - description: Maximum debt
          in: query
          name: max_debts_owed_by_committee
          required: false
          type: string
        - description: Minimum aggregated disbursements
          in: query
          name: min_disbursements
          required: false
          type: string
        - default: false
          description: Toggle that filters out all rows having sort column that is non-null
          in: query
          name: sort_null_only
          required: false
          type: boolean
        - default: 20
          description: The number of results returned per page. Defaults to 20.
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - default: false
          description: Hide null values on sorted column(s).
          in: query
          name: sort_hide_null
          required: false
          type: boolean
        - collectionFormat: multi
          description: |

            Filter records to only those that were applicable to a given
            two-year period.The cycle begins with an odd year and is named
            for its ending, even year.
          in: query
          items:
            format: int32
            type: integer
          name: cycle
          required: false
          type: array
        - description: Maximum aggregated receipts
          in: query
          name: max_receipts
          required: false
          type: string
        - collectionFormat: multi
          description: Name of candidate running for office
          in: query
          items:
            type: string
          name: q
          required: false
          type: array
        - collectionFormat: multi
          description: |

            Filter records to only those that were applicable to a given
            two-year period.The cycle begins with an odd year and is named
            for its ending, even year.
          in: query
          items:
            format: int32
            type: integer
          name: election_year
          required: false
          type: array
        - description: Maximum aggregated disbursements
          in: query
          name: max_disbursements
          required: false
          type: string
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
        - default: DEMO_KEY
          description: |

            API key for https://api.data.gov. Get one at https://api.data.gov/signup.
          in: query
          name: api_key
          required: true
          type: string
        - description: A boolean the describes if a presidential candidate has accepted federal funds. The flag will be false for House and Senate candidates.
          in: query
          name: federal_funds_flag
          required: false
          type: boolean
        - default: 1
          description: 'For paginating through results, starting at page 1'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Minimum cash on hand
          in: query
          name: min_cash_on_hand_end_period
          required: false
          type: string
        - collectionFormat: multi
          description: 'Governmental office candidate runs for: House, Senate or presidential'
          in: query
          items:
            enum:
              - ''
              - H
              - S
              - P
            type: string
          name: office
          required: false
          type: array
        - collectionFormat: multi
          description: State of candidate
          in: query
          items:
            type: string
          name: state
          required: false
          type: array
        - description: Provide a field to sort by. Use - for descending order.
          in: query
          name: sort
          required: false
          type: string
          x-nullable: true
        - collectionFormat: multi
          description: District of candidate
          in: query
          items:
            type: string
          name: district
          required: false
          type: array
        - description: Minimum aggregated receipts
          in: query
          name: min_receipts
          required: false
          type: string
      responses:
        default:
          description: ''
          schema:
            $ref: '#/definitions/CandidateHistoryTotalPage'
      tags:
        - candidate
  '/committee/{committee_id}/':
    get:
      description: |

        This endpoint is useful for finding detailed information about a particular committee or
        filer. Use the `committee_id` to find the most recent information about the committee.
      parameters:
        - collectionFormat: multi
          description: |
            The one-letter 
                code of the filing frequency:
                     - A Administratively terminated
                     - D Debt
                     - M Monthly filer
                     - Q Quarterly filer
                     - T Terminated
                     - W Waived
          in: query
          items:
            enum:
              - ''
              - A
              - M
              - 'N'
              - Q
              - T
              - W
              - '-A'
              - '-T'
            type: string
          name: filing_frequency
          required: false
          type: array
        - default: false
          description: Toggle that sorts null values last
          in: query
          name: sort_nulls_last
          required: false
          type: boolean
[...]
