swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: Cognitive Services Management Client
  title: CognitiveServicesManagementClient
  version: '2017-04-18'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/2017-04-18/cognitiveservices.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: cognitiveservices
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  apiVersionParameter:
    description: Version of the API to be used with the client request. Current version is 2017-04-18
    in: query
    name: api-version
    required: true
    type: string
  locationParameter:
    description: Resource location.
    in: path
    name: location
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Azure Subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.CognitiveServices/operations:
    get:
      deprecated: false
      description: Lists all the available Cognitive Services account operations.
      operationId: Operations_List
      parameters:
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/OperationEntityListResult'
      tags:
        - Operations
      x-ms-examples:
        Get Operations:
          parameters:
            api-version: '2017-04-18'
          responses:
            '200':
              body:
                value:
                  - display:
                      description: Reads API accounts.
                      operation: Read API Account
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/read
                    origin: 'user,system'
                  - display:
                      description: Writes API Accounts.
                      operation: Write API Account
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/write
                    origin: 'user,system'
                  - display:
                      description: Deletes API accounts
                      operation: Delete API Account
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/delete
                    origin: 'user,system'
                  - display:
                      description: List Keys
                      operation: List Keys
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/listKeys/action
                    origin: user
                  - display:
                      description: Regenerate Key
                      operation: Regenerate Key
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/regenerateKey/action
                    origin: user
                  - display:
                      description: Get the quota usage for an existing resource.
                      operation: Get the quota usage for an existing resource
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/usages/read
                    origin: user
                  - display:
                      description: Reads available SKUs for an existing resource.
                      operation: Read available SKUs for an existing resource
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/skus/read
                    origin: user
                  - display:
                      description: Gets the diagnostic setting for the resource.
                      operation: Read diagnostic setting
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/providers/Microsoft.Insights/diagnosticSettings/read
                    origin: system
                  - display:
                      description: Creates or updates the diagnostic setting for the resource.
                      operation: Write diagnostic setting
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/providers/Microsoft.Insights/diagnosticSettings/write
                    origin: system
                  - display:
                      description: Gets the available metrics for Cognitive Services.
                      operation: Read Cognitive Services metric definitions
                      provider: Microsoft Cognitive Services
                      resource: The metric definition of Cognitive Services
                    name: Microsoft.CognitiveServices/accounts/providers/Microsoft.Insights/metricDefinitions/read
                    origin: system
                    properties:
                      serviceSpecification:
                        metricSpecifications:
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Total number of calls.
                            displayName: Total Calls
                            name: TotalCalls
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Number of successful calls.
                            displayName: Successful Calls
                            name: SuccessfulCalls
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Total number of calls with error response (HTTP response code 4xx or 5xx).
                            displayName: Total Errors
                            name: TotalErrors
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Number of calls that exceeded rate or quota limit.
                            displayName: Blocked Calls
                            name: BlockedCalls
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Number of calls with service internal error (HTTP response code 5xx).
                            displayName: Server Errors
                            name: ServerErrors
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Number of calls with client side error (HTTP response code 4xx).
                            displayName: Client Errors
                            name: ClientErrors
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Size of incoming data in bytes.
                            displayName: Data In
                            name: DataIn
                            unit: Bytes
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Size of outgoing data in bytes.
                            displayName: Data Out
                            name: DataOut
                            unit: Bytes
                          - aggregationType: Average
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Latency in milliseconds.
                            displayName: Latency
                            name: Latency
                            unit: MilliSeconds
                  - display:
                      description: Description of the operation.
                      operation: Operation display name.
                      provider: Resource Provider display name.
                      resource: Resource type display name.
                    name: Microsoft.CognitiveServices/Operations/read
                    origin: 'user,system'
                  - display:
                      description: Reads avaible SKUs for an subscription.
                      operation: Reads avaible SKUs for an subscription.
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/checkSkuAvailabilityaction
                    origin: 'user,system'
                  - display:
                      description: Allow to create CognitiveServices account for an given subscription/ApiKind/location.
                      operation: Allow to create CognitiveServices account for an given subscription/ApiKind/location.
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/updateAccountsCreationSettingswrite
                    origin: 'user,system'
                  - display:
                      description: Get settings for given subscription/ApiKind/location.
                      operation: Get settings for given subscription/ApiKind/location.
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accountsCreationSettingsread
                    origin: 'user,system'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/accounts':
    get:
      description: Returns all the resources of a particular type belonging to a subscription.
      operationId: Accounts_List
      parameters:
        - $ref: '#/parameters/apiVersionParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        '200':
          description: |-
            The resource provider should return 200 (OK) to indicate that the operation completed successfully. For other errors (e.g. internal errors) use the appropriate HTTP error code.
            The nextLink field is expected to point to the URL the client should use to fetch the next page (per server side paging). This matches the OData guidelines for paged responses. If a resource provider does not support paging, it should return the same body but leave nextLink empty for future compatibility.
            For a detailed explanation of each field in the response body, please refer to the request body description in the PUT resource section. 
          schema:
            $ref: '#/definitions/CognitiveServicesAccountListResult'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/Error'
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        List Accounts by Subscription:
          parameters:
            api-version: '2017-04-18'
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            '200':
              body:
                value:
                  - etag: W/"datetime'2017-03-27T11%3A19%3A08.762494Z'"
                    id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/bvttest/providers/Microsoft.CognitiveServices/accounts/bingSearch
                    kind: Bing.Search
                    location: global
                    name: bingSearch
                    properties:
                      endpoint: 'https://api.cognitive.microsoft.com/bing/v5.0'
                      internalId: ceebe1e8e40f44e69554c1a759de4cf9
                      provisioningState: Succeeded
                    sku:
                      name: S1
                    type: Microsoft.CognitiveServices/accounts
                  - etag: W/"datetime'2017-03-31T08%3A57%3A07.4499566Z'"
                    id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/bvttest/providers/Microsoft.CognitiveServices/accounts/CrisProd
                    kind: CRIS
                    location: westus
                    name: CrisProd
                    properties:
                      endpoint: 'https://westus.api.cognitive.microsoft.com/sts/v1.0'
                      internalId: cb9a1ad4861a46ef8e440268f763d09e
                      provisioningState: Succeeded
                    sku:
                      name: S0
                    tags:
                      can't delete it successfully: v-yunjin
                    type: Microsoft.CognitiveServices/accounts
                  - etag: W/"datetime'2017-03-27T11%3A15%3A23.5232645Z'"
                    id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/bvttest/providers/Microsoft.CognitiveServices/accounts/rayrptest0308
                    kind: Face
                    location: westus
                    name: rayrptest0308
                    properties:
                      endpoint: 'https://westus.api.cognitive.microsoft.com/face/v1.0'
                      internalId: c83b58e58b6f4049a6d0d1328473326c
                      provisioningState: Succeeded
                    sku:
                      name: S0
                    type: Microsoft.CognitiveServices/accounts
                  - etag: W/"datetime'2017-04-04T02%3A07%3A07.3957572Z'"
                    id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/bvttest/providers/Microsoft.CognitiveServices/accounts/raytest02
                    kind: Emotion
                    location: westus
                    name: raytest02
                    properties:
                      endpoint: 'https://westus.api.cognitive.microsoft.com/emotion/v1.0'
                      internalId: c118e8b8f4534cff991f2b7c216342df
                      provisioningState: Succeeded
                    sku:
                      name: S0
                    type: Microsoft.CognitiveServices/accounts
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/locations/{location}/checkSkuAvailability':
    post:
      description: Check available SKUs.
      operationId: CheckSkuAvailability_List
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - $ref: '#/parameters/locationParameter'
        - description: Check SKU Availablity POST body.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/CheckSkuAvailabilityParameter'
          x-ms-client-flatten: true
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/CheckSkuAvailabilityResultList'
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        Check SKU Availability:
          parameters:
            api-version: '2017-04-18'
            location: westus
            parameters:
              kind: Face
              skus:
                - S0
              type: Microsoft.CognitiveServices/accounts
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            '200':
              body:
                value:
                  - kind: Face
                    message: null
                    reason: null
                    skuAvailable: true
                    skuName: S0
                    type: Microsoft.CognitiveServices/accounts
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts':
    get:
      description: Returns all the resources of a particular type belonging to a resource group
      operationId: Accounts_ListByResourceGroup
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: |-
            The resource provider should return 200 (OK) to indicate that the operation completed successfully. For other errors (e.g. internal errors) use the appropriate HTTP error code.
            The nextLink field is expected to point to the URL the client should use to fetch the next page (per server side paging). This matches the OData guidelines for paged responses here. If a resource provider does not support paging, it should return the same body (JSON object with “value” property) but omit nextLink entirely (or set to null, *not* empty string) for future compatibility.
            The nextLink should be implemented using following query parameters:
            · skipToken: opaque token that allows the resource provider to skip resources already enumerated. This value is defined and returned by the RP after first request via nextLink.
            · top: the optional client query parameter which defines the maximum number of records to be returned by the server.
            Implementation details:
            · NextLink may include all the query parameters (specifically OData $filter) used by the client in the first query. 
            · Server may return less records than requested with nextLink. Returning zero records with NextLink is an acceptable response. 
            Clients must fetch records until the nextLink is not returned back / null. Clients should never rely on number of returned records to determinate if pagination is completed.
          schema:
            $ref: '#/definitions/CognitiveServicesAccountListResult'
        default:
          description: 'Error response describing why the operation failed. If the resource group does not exist, 404 (NotFound) will be returned.'
          schema:
            $ref: '#/definitions/Error'
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        List Accounts by Resource Group:
          parameters:
            api-version: '2017-04-18'
            resourceGroupName: felixwa-01
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            '200':
              body:
                value:
                  - etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                    id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/felixwa-01/providers/Microsoft.CognitiveServices/accounts/felixwatest1
                    kind: Emotion
                    location: westus
                    name: felixwatest1
                    properties:
                      endpoint: 'https://westus.api.cognitive.microsoft.com/emotion/v1.0'
                      internalId: a6bb5ff85a3b4c6eb8de8798567a78c6
                      provisioningState: Succeeded
                    sku:
                      name: F0
                    tags:
                      ExpiredDate: 2017/09/01
                      Owner: felixwa
                    type: Microsoft.CognitiveServices/accounts
                  - etag: W/"datetime'2017-04-07T04%3A32%3A38.9187216Z'"
                    id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/felixwa-01/providers/Microsoft.CognitiveServices/accounts/TestPropertyWU2
                    kind: Face
                    location: westus
                    name: TestPropertyWU2
                    properties:
                      endpoint: 'https://westus.api.cognitive.microsoft.com/face/v1.0'
                      internalId: 0d40510f999141509dbfd9e1f9b259ca
                      provisioningState: Succeeded
                    sku:
                      name: S0
                    tags: {}
                    type: Microsoft.CognitiveServices/accounts
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}':
    delete:
      description: 'Deletes a Cognitive Services account from the resource group. '
      operationId: Accounts_Delete
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of Cognitive Services account.
          in: path
          maxLength: 64
          minLength: 2
          name: accountName
          pattern: '^[a-zA-Z0-9][a-zA-Z0-9_.-]*$'
          required: true
          type: string
        - $ref: '#/parameters/apiVersionParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        '200':
          description: A 200 (OK) should be returned if the object exists and was deleted successfully;
        '204':
          description: a 204 (NoContent) should be used if the resource does not exist and the request is well formed.
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/Error'
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        Delete Account:
          parameters:
            accountName: PropTest01
            api-version: '2017-04-18'
            resourceGroupName: felixwa-01
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            '200': {}
            '204': {}
    get:
      description: Returns a Cognitive Services account specified by the parameters.
      operationId: Accounts_GetProperties
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of Cognitive Services account.
          in: path
          maxLength: 64
          minLength: 2
          name: accountName
          pattern: '^[a-zA-Z0-9][a-zA-Z0-9_.-]*$'
          required: true
          type: string
        - $ref: '#/parameters/apiVersionParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        '200':
          description: "The resource provider should return 200 (OK) to indicate that the operation completed successfully.\nFor a detailed explanation of each field in the response body, please refer to the request body description in the PUT resource section. The only GET specific properties are “name,” “type” and “id.”\nField\tDescription\nKind\trequired.  String.\n\tThe API set for this API account. It can be \n\t· a single API, for example: Face API, Vision API, Speech API. \n\ta bundle of APIs:  Face + Speech, Vision + Emotion, etc.\nsku.name\tRequired.\n\tThe pricing tier/plan of this API. Could be: \n\tF0 - Free\n\tB0 - Basic\n\tS0 - Standard\n\tP0 - Premium\n"
          schema:
            $ref: '#/definitions/CognitiveServicesAccount'
        default:
          description: 'Error response describing why the operation failed. If the resource does not exist, 404 (NotFound) should be returned.'
          schema:
            $ref: '#/definitions/Error'
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        Get Account:
          parameters:
            accountName: felixwatest1
            api-version: '2017-04-18'
            resourceGroupName: felixwa-01
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            '200':
              body:
                etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/felixwa-01/providers/Microsoft.CognitiveServices/accounts/felixwatest1
                kind: Emotion
                location: westus
                name: felixwatest1
                properties:
                  endpoint: 'https://westus.api.cognitive.microsoft.com/emotion/v1.0'
                  internalId: a6bb5ff85a3b4c6eb8de8798567a78c6
                  provisioningState: Succeeded
                sku:
                  name: F0
                tags:
                  ExpiredDate: 2017/09/01
                  Owner: felixwa
                type: Microsoft.CognitiveServices/accounts
    patch:
      description: Updates a Cognitive Services account
      operationId: Accounts_Update
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of Cognitive Services account.
          in: path
          maxLength: 64
          minLength: 2
          name: accountName
          pattern: '^[a-zA-Z0-9][a-zA-Z0-9_.-]*$'
          required: true
          type: string
        - description: The parameters to provide for the created account.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/CognitiveServicesAccountUpdateParameters'
          x-ms-client-flatten: true
        - $ref: '#/parameters/apiVersionParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        '200':
          description: 'The resource provider should return 200 (OK) to indicate that the operation completed successfully. '
          schema:
            $ref: '#/definitions/CognitiveServicesAccount'
        default:
          description: 'Error response describing why the operation failed. If the resource group *or* resource does not exist, 404 (NotFound) should be returned.'
          schema:
            $ref: '#/definitions/Error'
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        Get Account:
          parameters:
            accountName: bingSearch
            api-version: '2017-04-18'
            parameters:
              sku:
                name: S2
            resourceGroupName: bvttest
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            '200':
              body:
                etag: W/"datetime'2017-04-10T07%3A46%3A21.5618831Z'"
                id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/bvttest/providers/Microsoft.CognitiveServices/accounts/bingSearch
                kind: Bing.Search
                location: global
                name: bingSearch
                properties:
                  endpoint: 'https://api.cognitive.microsoft.com/bing/v5.0'
                  internalId: ceebe1e8e40f44e69554c1a759de4cf9
                  provisioningState: Succeeded
                sku:
                  name: S2
                type: Microsoft.CognitiveServices/accounts
    put:
      description: Create Cognitive Services Account. Accounts is a resource group wide resource type. It holds the keys for developer to access intelligent APIs. It's also the resource type for billing.
      operationId: Accounts_Create
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of Cognitive Services account.
          in: path
          maxLength: 64
          minLength: 2
          name: accountName
          pattern: '^[a-zA-Z0-9][a-zA-Z0-9_.-]*$'
          required: true
          type: string
        - description: The parameters to provide for the created account.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/CognitiveServicesAccountCreateParameters'
        - $ref: '#/parameters/apiVersionParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        '200':
          description: 'If resource is created successfully or already existed, the service should return 200 (OK).'
          schema:
            $ref: '#/definitions/CognitiveServicesAccount'
        '201':
          description: 'If resource is created successfully, the service should return 201 (OK).'
          schema:
            $ref: '#/definitions/CognitiveServicesAccount'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/Error'
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        Get Account:
          parameters:
            accountName: testCreate1
            api-version: '2017-04-18'
            parameters:
              kind: Emotion
              location: West US
              properties: {}
              sku:
                name: S0
            resourceGroupName: felixwa-01
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            '200':
              body:
                etag: W/"datetime'2017-04-10T08%3A00%3A05.445595Z'"
                id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/felixwa-01/providers/Microsoft.CognitiveServices/accounts/testCreate1
                kind: Emotion
                location: West US
                name: testCreate1
                properties:
                  endpoint: 'https://westus.api.cognitive.microsoft.com/emotion/v1.0'
                  internalId: 9dc1c5b9bb95486aa63899acdaebd9a0
                  provisioningState: Succeeded
                sku:
                  name: S0
                type: Microsoft.CognitiveServices/accounts
            '201':
              body:
                etag: W/"datetime'2017-04-10T07%3A57%3A48.4582781Z'"
                id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/felixwa-01/providers/Microsoft.CognitiveServices/accounts/testCreate1
                kind: Emotion
                location: West US
                name: testCreate1
                properties:
                  endpoint: 'https://westus.api.cognitive.microsoft.com/emotion/v1.0'
                  internalId: 9dc1c5b9bb95486aa63899acdaebd9a0
                  provisioningState: Succeeded
                sku:
                  name: S0
                type: Microsoft.CognitiveServices/accounts
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/listKeys':
    post:
      description: Lists the account keys for the specified Cognitive Services account.
      operationId: Accounts_ListKeys
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of Cognitive Services account.
          in: path
          maxLength: 64
          minLength: 2
          name: accountName
          pattern: '^[a-zA-Z0-9][a-zA-Z0-9_.-]*$'
          required: true
          type: string
        - $ref: '#/parameters/apiVersionParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        '200':
          description: |-
            Returns with a response body containing the subscription keys for the resource: key1
            The first API key for authentication when client calls the API endpoint.

            key2
            The second API key for authentication when client calls the API endpoint.
          schema:
            $ref: '#/definitions/CognitiveServicesAccountKeys'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/Error'
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        List Keys:
          parameters:
            accountName: felixwatest1
            api-version: '2017-04-18'
            resourceGroupName: felixwa-01
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            '200':
              body:
                key1: KEY1
                key2: KEY2
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/regenerateKey':
    post:
      description: Regenerates the specified account key for the specified Cognitive Services account.
      operationId: Accounts_RegenerateKey
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of Cognitive Services account.
          in: path
          maxLength: 64
          minLength: 2
          name: accountName
          pattern: '^[a-zA-Z0-9][a-zA-Z0-9_.-]*$'
          required: true
          type: string
        - description: regenerate key parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/RegenerateKeyParameters'
          x-ms-client-flatten: true
        - $ref: '#/parameters/apiVersionParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CognitiveServicesAccountKeys'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/Error'
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        Regenerate Keys:
          parameters:
            accountName: felixwatest1
            api-version: '2017-04-18'
            parameters:
              keyName: Key2
            resourceGroupName: felixwa-01
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            '200':
              body:
                key1: KEY1
                key2: KEY2
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/skus':
    get:
      description: List available SKUs for the requested Cognitive Services account
      operationId: Accounts_ListSkus
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of Cognitive Services account.
          in: path
          maxLength: 64
          minLength: 2
          name: accountName
          pattern: '^[a-zA-Z0-9][a-zA-Z0-9_.-]*$'
          required: true
          type: string
        - $ref: '#/parameters/apiVersionParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        '200':
          description: "The resource provider should return 200 (OK) to indicate that the operation completed successfully.\nFor a detailed explanation of each field in the response body, please refer to the request body description in the PUT resource section. The only GET specific properties are “name,” “type” and “id.”\nField\tDescription\nsku\tRequired, object\n\tThe exact set of keys that define this sku. This matches the fields on the respective resource.\nsku.name\tRequired, string\n\tThe name of the SKU. This is typically a letter + number code, such as A0 or P3\nsku.tier\tRequired, string\n\tThe tier of this particular SKU. Typically one of:\n\t· Free\n\t· Basic\n\t· Standard\n\t· Premium\n"
          schema:
            $ref: '#/definitions/CognitiveServicesAccountEnumerateSkusResult'
        default:
          description: 'Error response describing why the operation failed. If the resource does not exist, 404 (NotFound) will be returned.'
          schema:
            $ref: '#/definitions/Error'
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        List SKUs:
          parameters:
            accountName: felixwatest1
            api-version: '2017-04-18'
            resourceGroupName: felixwa-01
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            '200':
              body:
                value:
                  - resourceType: Microsoft.CognitiveServices/accounts
                    sku:
                      name: F0
                      tier: Free
                  - resourceType: Microsoft.CognitiveServices/accounts
                    sku:
                      name: S0
                      tier: Standard
definitions:
  CheckSkuAvailabilityParameter:
    description: Check SKU availability parameter.
    properties:
      kind:
        $ref: '#/definitions/CognitiveServicesAccountKind'
        description: The Kind of the resource.
      skus:
        description: The SKU of the resource.
        items:
          $ref: '#/definitions/SkuName'
        type: array
      type:
        description: The Type of the resource.
        type: string
    required:
      - skus
      - kind
      - type
  CheckSkuAvailabilityResult:
    description: Check SKU availability result.
    properties:
      kind:
        $ref: '#/definitions/CognitiveServicesAccountKind'
        description: The Kind of the resource.
      message:
        description: Additional error message.
        type: string
      reason:
        description: Reason why the SKU is not available.
        type: string
      skuAvailable:
        description: Indicates the given SKU is available or not.
        type: boolean
      skuName:
        $ref: '#/definitions/SkuName'
        description: The SKU of Cognitive Services account.
      type:
        description: The Type of the resource.
        type: string
  CheckSkuAvailabilityResultList:
    description: Check SKU availability result list.
    properties:
      value:
        description: Check SKU availability result list.
        items:
          $ref: '#/definitions/CheckSkuAvailabilityResult'
        type: array
  CognitiveServicesAccount:
    description: 'Cognitive Services Account is an Azure resource representing the provisioned account, its type, location and SKU.'
    properties:
      etag:
        description: Entity Tag
        type: string
      id:
        description: The id of the created account
        readOnly: true
        type: string
      kind:
        description: Type of cognitive service account.
        type: string
      location:
        description: The location of the resource
        type: string
      name:
        description: The name of the created account
        readOnly: true
        type: string
      properties:
        $ref: '#/definitions/CognitiveServicesAccountProperties'
        description: Properties of Cognitive Services account.
        x-ms-client-flatten: true
      sku:
        $ref: '#/definitions/Sku'
        description: The SKU of Cognitive Services account.
      tags:
        additionalProperties:
          type: string
        description: Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  CognitiveServicesAccountCreateParameters:
    description: The parameters to provide for the account.
    properties:
      kind:
        $ref: '#/definitions/CognitiveServicesAccountKind'
        description: Required. Gets or sets the Kind of the resource.
      location:
        description: 'Required. Gets or sets the location of the resource. This will be one of the supported and registered Azure Geo Regions (e.g. West US, East US, Southeast Asia, etc.). The geo region of a resource cannot be changed once it is created, but if an identical geo region is specified on update the request will succeed.'
        type: string
      properties:
        description: Must exist in the request. Must be an empty object. Must not be null.
        type: object
      sku:
        $ref: '#/definitions/Sku'
        description: Required. Gets or sets the SKU of the resource.
      tags:
        additionalProperties:
          type: string
        description: Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.
        type: object
    required:
      - sku
      - kind
      - location
      - properties
  CognitiveServicesAccountEnumerateSkusResult:
    description: The list of cognitive services accounts operation response.
    properties:
      value:
        description: Gets the list of Cognitive Services accounts and their properties.
        items:
          $ref: '#/definitions/CognitiveServicesResourceAndSku'
        readOnly: true
        type: array
  CognitiveServicesAccountKeys:
    description: The access keys for the cognitive services account.
    properties:
      key1:
        description: Gets the value of key 1.
        type: string
      key2:
        description: Gets the value of key 2.
        type: string
  CognitiveServicesAccountKind:
    description: Required. Indicates the type of cognitive service account.
    enum:
      - Academic
      - Bing.Autosuggest
      - Bing.Autosuggest.v7
      - Bing.CustomSearch
      - Bing.Search
      - Bing.Search.v7
      - Bing.Speech
      - Bing.SpellCheck
      - Bing.SpellCheck.v7
      - ComputerVision
      - ContentModerator
      - CustomSpeech
      - Emotion
      - Face
      - LUIS
      - Recommendations
      - SpeakerRecognition
      - Speech
      - SpeechTranslation
      - TextAnalytics
      - TextTranslation
      - WebLM
    type: string
    x-ms-enum:
      modelAsString: true
      name: Kind
  CognitiveServicesAccountListResult:
    description: The list of cognitive services accounts operation response.
    properties:
      nextLink:
        description: The link used to get the next page of accounts.
        type: string
      value:
        description: Gets the list of Cognitive Services accounts and their properties.
        items:
          $ref: '#/definitions/CognitiveServicesAccount'
        readOnly: true
        type: array
  CognitiveServicesAccountProperties:
    description: Properties of Cognitive Services account.
    properties:
      endpoint:
        description: Endpoint of the created account.
        type: string
      internalId:
        description: The internal identifier.
        type: string
      provisioningState:
        description: Gets the status of the cognitive services account at the time the operation was called.
        enum:
          - Creating
          - ResolvingDNS
          - Moving
          - Deleting
          - Succeeded
          - Failed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
  CognitiveServicesAccountUpdateParameters:
    description: The parameters to provide for the account.
    properties:
      sku:
        $ref: '#/definitions/Sku'
        description: Gets or sets the SKU of the resource.
      tags:
        additionalProperties:
          type: string
        description: Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.
        type: object
  CognitiveServicesResourceAndSku:
    description: Cognitive Services resource type and SKU.
    properties:
      resourceType:
        description: Resource Namespace and Type
        type: string
      sku:
        $ref: '#/definitions/Sku'
        description: The SKU of Cognitive Services account.
  Error:
    description: Cognitive Services error object.
    properties:
      error:
        $ref: '#/definitions/ErrorBody'
        description: The error body.
  ErrorBody:
    description: Cognitive Services error body.
    properties:
      code:
        description: error code
        type: string
      message:
        description: error message
        type: string
    required:
      - code
      - message
  OperationDisplayInfo:
    description: The operation supported by Cognitive Services.
    properties:
      description:
        description: The description of the operation.
        type: string
      operation:
        description: 'The action that users can perform, based on their permission level.'
        type: string
      provider:
        description: 'Service provider: Microsoft Cognitive Services.'
        type: string
      resource:
        description: Resource on which the operation is performed.
        type: string
    type: object
  OperationEntity:
    description: The operation supported by Cognitive Services.
    properties:
      display:
        $ref: '#/definitions/OperationDisplayInfo'
        description: The operation supported by Cognitive Services.
      name:
        description: 'Operation name: {provider}/{resource}/{operation}.'
        type: string
      origin:
        description: The origin of the operation.
        type: string
      properties:
        description: Additional properties.
        type: object
    type: object
  OperationEntityListResult:
    description: The list of cognitive services accounts operation response.
    properties:
      nextLink:
        description: The link used to get the next page of operations.
        type: string
      value:
        description: The list of operations.
        items:
          $ref: '#/definitions/OperationEntity'
        type: array
    type: object
  RegenerateKeyParameters:
    description: Regenerate key parameters.
    properties:
      keyName:
        description: key name to generate (Key1|Key2)
        enum:
          - Key1
          - Key2
        type: string
        x-ms-enum:
          modelAsString: false
          name: KeyName
    required:
      - keyName
  Sku:
    description: The SKU of the cognitive services account.
    properties:
      name:
        $ref: '#/definitions/SkuName'
        description: 'Gets or sets the sku name. Required for account creation, optional for update.'
      tier:
        description: Gets the sku tier. This is based on the SKU name.
        enum:
          - Free
          - Standard
          - Premium
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: SkuTier
    required:
      - name
  SkuName:
    description: The name of SKU.
    enum:
      - F0
      - P0
      - P1
      - P2
      - S0
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6
    type: string
    x-ms-enum:
      modelAsString: true
      name: SkuName
