openapi: 3.0.2
servers:
  - description: Box Platform API server
    url: https://api.box.com/2.0
info:
  contact:
    email: devrel@box.com
    name: Box, Inc
    url: https://box.dev
    x-twitter: BoxHQ
  description: "[Box Platform](https://box.dev) provides functionality to provide access to content stored within [Box](https://box.com). It provides endpoints for basic manipulation of files and folders, management of users within an enterprise, as well as more complex topics such as legal holds and retention policies."
  license:
    name: Apache-2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9
  title: Box Platform API
  version: 2.0.0
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_BoxHQ_profile_image.jpeg
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: openapi
      url: https://opensource.box.com/box-openapi/openapi.json
      version: "3.0"
  x-providerName: box.com
externalDocs:
  description: Box Developer Documentation
  url: https://developer.box.com
security:
  - OAuth2Security: []
tags:
  - name: Authorization
    x-box-priority: true
    x-box-tag: authorization
  - name: Box Sign
    x-box-tag: sign_requests
  - name: Classifications
    x-box-tag: classifications
  - name: Classifications on files
    x-box-tag: file_classifications
  - name: Classifications on folders
    x-box-tag: folder_classifications
  - name: Collaborations
    x-box-tag: user_collaborations
  - name: Collaborations (List)
    x-box-tag: list_collaborations
  - name: Collections
    x-box-tag: collections
  - name: Comments
    x-box-tag: comments
  - name: Device pinners
    x-box-tag: device_pinners
  - name: Domain restrictions (User exemptions)
    x-box-tag: collaboration_allowlist_exempt_targets
  - name: Domain restrictions for collaborations
    x-box-tag: collaboration_allowlist_entries
  - name: Downloads
    x-box-tag: downloads
  - name: Email aliases
    x-box-tag: email_aliases
  - name: Events
    x-box-tag: events
  - name: File requests
    x-box-tag: file_requests
  - name: File version legal holds
    x-box-tag: file_version_legal_holds
  - name: File version retentions
    x-box-tag: file_version_retentions
  - name: File versions
    x-box-tag: file_versions
  - name: Files
    x-box-tag: files
  - name: Folder Locks
    x-box-tag: folder_locks
  - name: Folders
    x-box-tag: folders
  - name: Group memberships
    x-box-tag: memberships
  - name: Groups
    x-box-tag: groups
  - name: Invites
    x-box-tag: invites
  - name: Legal hold policies
    x-box-tag: legal_hold_policies
  - name: Legal hold policy assignments
    x-box-tag: legal_hold_policy_assignments
  - name: Metadata cascade policies
    x-box-tag: metadata_cascade_policies
  - name: Metadata instances (Files)
    x-box-tag: file_metadata
  - name: Metadata instances (Folders)
    x-box-tag: folder_metadata
  - name: Metadata templates
    x-box-tag: metadata_templates
  - name: Recent items
    x-box-tag: recent_items
  - name: Retention policies
    x-box-tag: retention_policies
  - name: Retention policy assignments
    x-box-tag: retention_policy_assignments
  - name: Search
    x-box-tag: search
  - name: Session termination
    x-box-tag: session_termination
  - name: Shared links (Files)
    x-box-tag: shared_links_files
  - name: Shared links (Folders)
    x-box-tag: shared_links_folders
  - name: Shared links (Web Links)
    x-box-tag: shared_links_web_links
  - name: Shield information barriers
    x-box-tag: shield_information_barriers
  - name: Shield information barrier segments
    x-box-tag: shield_information_barrier_segments
  - name: Shield information barrier segment members
    x-box-tag: shield_information_barrier_segment_members
  - name: Shield information barrier reports
    x-box-tag: shield_information_barrier_reports
  - name: Shield information barrier segment restrictions
    x-box-tag: shield_information_barrier_segment_restrictions
  - name: Skills
    x-box-tag: skills
  - name: Standard and Zones Storage Policies
    x-box-tag: storage_policies
  - name: Standard and Zones Storage Policy Assignments
    x-box-tag: storage_policy_assignments
  - name: Task assignments
    x-box-tag: task_assignments
  - name: Tasks
    x-box-tag: tasks
  - name: Terms of service
    x-box-tag: terms_of_services
  - name: Terms of service user statuses
    x-box-tag: terms_of_service_user_statuses
  - name: Termination message
    x-box-tag: termination_message
  - name: Transfer folders
    x-box-tag: transfer
  - name: Trashed files
    x-box-tag: trashed_files
  - name: Trashed folders
    x-box-tag: trashed_folders
  - name: Trashed items
    x-box-tag: trashed_items
  - name: Trashed web links
    x-box-tag: trashed_web_links
  - name: Uploads
    x-box-tag: uploads
  - name: Uploads (Chunked)
    x-box-tag: chunked_uploads
  - name: User avatars
    x-box-tag: avatars
  - name: Users
    x-box-tag: users
  - name: Watermarks (Files)
    x-box-tag: file_watermarks
  - name: Watermarks (Folders)
    x-box-tag: folder_watermarks
  - name: Web links
    x-box-tag: web_links
  - name: Webhooks
    x-box-tag: webhooks
  - name: Workflows
    x-box-tag: workflows
  - name: Zip Downloads
    x-box-tag: zip_downloads
paths:
  /authorize:
    get:
      description: |-
        Authorize a user by sending them through the [Box](https://box.com)
        website and request their permission to act on their behalf.

        This is the first step when authenticating a user using
        OAuth 2.0. To request a user's authorization to use the Box APIs
        on their behalf you will need to send a user to the URL with this
        format.
      operationId: get_authorize
      parameters:
        - description: The type of response we'd like to receive.
          example: code
          in: query
          name: response_type
          required: true
          schema:
            enum:
              - code
            format: token
            type: string
        - description: |-
            The Client ID of the application that is requesting to authenticate
            the user. To get the Client ID for your application, log in to your
            Box developer console and click the **Edit Application** link for
            the application you're working with. In the OAuth 2.0 Parameters section
            of the configuration page, find the item labelled `client_id`. The
            text of that item is your application's Client ID.
          example: ly1nj6n11vionaie65emwzk575hnnmrk
          in: query
          name: client_id
          required: true
          schema:
            type: string
        - description: |-
            The URI to which Box redirects the browser after the user has granted
            or denied the application permission. This URI match one of the redirect
            URIs in the configuration of your application. It must be a
            valid HTTPS URI and it needs to be able to handle the redirection to
            complete the next step in the OAuth 2.0 flow.
            Although this parameter is optional, it must be a part of the
            authorization URL if you configured multiple redirect URIs
            for the application in the developer console. A missing parameter causes
            a `redirect_uri_missing` error after the user grants application access.
          example: http://example.com/auth/callback
          in: query
          name: redirect_uri
          required: false
          schema:
            format: url
            type: string
        - description: |-
            A custom string of your choice. Box will pass the same string to
            the redirect URL when authentication is complete. This parameter
            can be used to identify a user on redirect, as well as protect
            against hijacked sessions and other exploits.
          example: my_state
          in: query
          name: state
          required: false
          schema:
            type: string
        - description: |-
            A comma-separated list of application scopes you'd like to
            authenticate the user for. This defaults to all the scopes configured
            for the application in its configuration page.
          example: admin_readwrite
          in: query
          name: scope
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            text/html:
              schema:
                format: html
                type: string
          description: Does not return any data, but rather should be used in the browser.
        default:
          content:
            text/html:
              schema:
                format: html
                type: string
          description: Does not return any data, but rather should be used in the browser.
      security: []
      servers:
        - description: Server for client-side authentication
          url: https://account.box.com/api/oauth2
      summary: Authorize user
      tags:
        - Authorization
      x-box-tag: authorization
  /collaboration_whitelist_entries:
    get:
      description: |-
        Returns the list domains that have been deemed safe to create collaborations
        for within the current enterprise.
      operationId: get_collaboration_whitelist_entries
      parameters:
        - description: |-
            Defines the position marker at which to begin returning results. This is
            used when paginating using marker-based pagination.

            This requires `usemarker` to be set to `true`.
          example: JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii
          in: query
          name: marker
          required: false
          schema:
            type: string
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            format: int64
            maximum: 1000
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollaborationAllowlistEntries"
          description: Returns a collection of domains that are allowed for collaboration.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: List allowed collaboration domains
      tags:
        - Domain restrictions for collaborations
      x-box-tag: collaboration_allowlist_entries
    post:
      description: |-
        Creates a new entry in the list of allowed domains to allow
        collaboration for.
      operationId: post_collaboration_whitelist_entries
      requestBody:
        content:
          application/json:
            schema:
              properties:
                direction:
                  description: The direction in which to allow collaborations.
                  enum:
                    - inbound
                    - outbound
                    - both
                  example: inbound
                  type: string
                domain:
                  description: The domain to add to the list of allowed domains.
                  example: example.com
                  type: string
              required:
                - domain
                - direction
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollaborationAllowlistEntry"
          description: Returns a new entry on the list of allowed domains.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Add domain to list of allowed collaboration domains
      tags:
        - Domain restrictions for collaborations
      x-box-tag: collaboration_allowlist_entries
  "/collaboration_whitelist_entries/{collaboration_whitelist_entry_id}":
    delete:
      description: |-
        Removes a domain from the list of domains that have been deemed safe to create
        collaborations for within the current enterprise.
      operationId: delete_collaboration_whitelist_entries_id
      parameters:
        - description: The ID of the entry in the list.
          example: "213123"
          in: path
          name: collaboration_whitelist_entry_id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: |-
            A blank response is returned if the entry was
            successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Remove domain from list of allowed collaboration domains
      tags:
        - Domain restrictions for collaborations
      x-box-tag: collaboration_allowlist_entries
    get:
      description: |-
        Returns a domain that has been deemed safe to create collaborations
        for within the current enterprise.
      operationId: get_collaboration_whitelist_entries_id
      parameters:
        - description: The ID of the entry in the list.
          example: "213123"
          in: path
          name: collaboration_whitelist_entry_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollaborationAllowlistEntry"
          description: Returns an entry on the list of allowed domains.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Get allowed collaboration domain
      tags:
        - Domain restrictions for collaborations
      x-box-tag: collaboration_allowlist_entries
  /collaboration_whitelist_exempt_targets:
    get:
      description: |-
        Returns a list of users who have been exempt from the collaboration
        domain restrictions.
      operationId: get_collaboration_whitelist_exempt_targets
      parameters:
        - description: |-
            Defines the position marker at which to begin returning results. This is
            used when paginating using marker-based pagination.

            This requires `usemarker` to be set to `true`.
          example: JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii
          in: query
          name: marker
          required: false
          schema:
            type: string
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            format: int64
            maximum: 1000
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollaborationAllowlistExemptTargets"
          description: Returns a collection of user exemptions.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: List users exempt from collaboration domain restrictions
      tags:
        - Domain restrictions (User exemptions)
      x-box-tag: collaboration_allowlist_exempt_targets
    post:
      description: |-
        Exempts a user from the restrictions set out by the allowed list of domains
        for collaborations.
      operationId: post_collaboration_whitelist_exempt_targets
      requestBody:
        content:
          application/json:
            schema:
              properties:
                user:
                  description: The user to exempt.
                  properties:
                    id:
                      description: The ID of the user to exempt.
                      example: "23522323"
                      type: string
                  required:
                    - id
                  type: object
              required:
                - user
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollaborationAllowlistExemptTarget"
          description: Returns a new exemption entry.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Create user exemption from collaboration domain restrictions
      tags:
        - Domain restrictions (User exemptions)
      x-box-tag: collaboration_allowlist_exempt_targets
  "/collaboration_whitelist_exempt_targets/{collaboration_whitelist_exempt_target_id}":
    delete:
      description: |-
        Removes a user's exemption from the restrictions set out by the allowed list
        of domains for collaborations.
      operationId: delete_collaboration_whitelist_exempt_targets_id
      parameters:
        - description: The ID of the exemption to the list.
          example: "984923"
          in: path
          name: collaboration_whitelist_exempt_target_id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: |-
            A blank response is returned if the exemption was
            successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Remove user from list of users exempt from domain restrictions
      tags:
        - Domain restrictions (User exemptions)
      x-box-tag: collaboration_allowlist_exempt_targets
    get:
      description: |-
        Returns a users who has been exempt from the collaboration
        domain restrictions.
      operationId: get_collaboration_whitelist_exempt_targets_id
      parameters:
        - description: The ID of the exemption to the list.
          example: "984923"
          in: path
          name: collaboration_whitelist_exempt_target_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollaborationAllowlistExemptTarget"
          description: Returns the user's exempted from the list of collaboration domains.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Get user exempt from collaboration domain restrictions
      tags:
        - Domain restrictions (User exemptions)
      x-box-tag: collaboration_allowlist_exempt_targets
  /collaborations:
    get:
      description: Retrieves all pending collaboration invites for this user.
      operationId: get_collaborations
      parameters:
        - description: The status of the collaborations to retrieve
          example: pending
          in: query
          name: status
          required: true
          schema:
            enum:
              - pending
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.

            Be aware that specifying this parameter will have the
            effect that none of the standard fields are returned in
            the response unless explicitly specified, instead only
            fields for the mini representation are returned, additional
            to the fields requested.
          example:
            - id
            - type
            - name
          explode: false
          in: query
          name: fields
          required: false
          schema:
            items:
              type: string
            type: array
        - description: |-
            The offset of the item at which to begin the response.

            Queries with offset parameter value
            exceeding 10000 will be rejected
            with a 400 response.
          example: 1000
          in: query
          name: offset
          required: false
          schema:
            default: 0
            format: int64
            type: integer
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            format: int64
            maximum: 1000
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Collaborations"
          description: |-
            Returns a collection of pending collaboration objects.

            If the user has no pending collaborations, the collection
            will be empty.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: List pending collaborations
      tags:
        - Collaborations (List)
      x-box-tag: list_collaborations
    post:
      description: |-
        Adds a collaboration for a single user or a single group to a file
        or folder.

        Collaborations can be created using email address, user IDs, or a
        group IDs.

        If a collaboration is being created with a group, access to
        this endpoint is dependent on the group's ability to be invited.
      operationId: post_collaborations
      parameters:
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.

            Be aware that specifying this parameter will have the
            effect that none of the standard fields are returned in
            the response unless explicitly specified, instead only
            fields for the mini representation are returned, additional
            to the fields requested.
          example:
            - id
            - type
            - name
          explode: false
          in: query
          name: fields
          required: false
          schema:
            items:
              type: string
            type: array
        - description: |-
            Determines if users should receive email notification
            for the action performed.
          example: true
          in: query
          name: notify
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              properties:
                accessible_by:
                  description: The user or group to give access to the item.
                  properties:
                    id:
                      description: |-
                        The ID of the user or group.

                        Alternatively, use `login` to specify a user by email
                        address.
                      example: "23522323"
                      type: string
                    login:
                      description: |-
                        The email address of the user to grant access to the item.

                        Alternatively, use `id` to specify a user by user ID.
                      example: john@example.com
                      type: string
                    type:
                      description: The type of collaborator to invite.
                      enum:
                        - user
                        - group
                      example: user
                      type: string
                  required:
                    - type
                  type: object
                can_view_path:
                  description: |-
                    Determines if the invited users can see the entire parent path to
                    the associated folder. The user will not gain privileges in any
                    parent folder and therefore can not see content the user is not
                    collaborated on.

                    Be aware that this meaningfully increases the time required to load the
                    invitee's **All Files** page. We recommend you limit the number of
                    collaborations with `can_view_path` enabled to 1,000 per user.

                    Only owner or co-owners can invite collaborators with a `can_view_path` of
                    `true`.

                    `can_view_path` can only be used for folder collaborations.
                  example: true
                  type: boolean
                expires_at:
                  description: |-
                    Set the expiration date for the collaboration. At this date, the
                    collaboration will be automatically removed from the item.

                    This feature will only work if the **Automatically remove invited
                    collaborators: Allow folder owners to extend the expiry date**
                    setting has been enabled in the **Enterprise Settings**
                    of the **Admin Console**. When the setting is not enabled,
                    collaborations can not have an expiry date and a value for this
                    field will be result in an error.
                  example: 2019-08-29T23:59:00-07:00
                  format: date-time
                  type: string
                item:
                  description: The item to attach the comment to.
                  properties:
                    id:
                      description: The ID of the item that will be granted access to
                      example: "11446498"
                      type: string
                    type:
                      description: |-
                        The type of the item that this collaboration will be
                        granted access to
                      enum:
                        - file
                        - folder
                      example: file
                      type: string
                  required:
                    - id
                    - type
                  type: object
                role:
                  description: The level of access granted.
                  enum:
                    - editor
                    - viewer
                    - previewer
                    - uploader
                    - previewer uploader
                    - viewer uploader
                    - co-owner
                  example: editor
                  type: string
              required:
                - item
                - accessible_by
                - role
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Collaboration"
          description: Returns a new collaboration object.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returns an error when the user does not have the
            right permissions to create the collaboration.

            * `forbidden_by_policy`: Creating a
            collaboration is forbidden due to information
            barrier restrictions.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Create collaboration
      tags:
        - Collaborations
      x-box-tag: user_collaborations
  "/collaborations/{collaboration_id}":
    delete:
      description: Deletes a single collaboration.
      operationId: delete_collaborations_id
      parameters:
        - description: The ID of the collaboration
          example: "1234"
          in: path
          name: collaboration_id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: |-
            A blank response is returned if the collaboration was
            successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Remove collaboration
      tags:
        - Collaborations
      x-box-tag: user_collaborations
    get:
      description: Retrieves a single collaboration.
      operationId: get_collaborations_id
      parameters:
        - description: The ID of the collaboration
          example: "1234"
          in: path
          name: collaboration_id
          required: true
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.

            Be aware that specifying this parameter will have the
            effect that none of the standard fields are returned in
            the response unless explicitly specified, instead only
            fields for the mini representation are returned, additional
            to the fields requested.
          example:
            - id
            - type
            - name
          explode: false
          in: query
          name: fields
          required: false
          schema:
            items:
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Collaboration"
          description: Returns a collaboration object.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Get collaboration
      tags:
        - Collaborations
      x-box-tag: user_collaborations
    put:
      description: |-
        Updates a collaboration.
        Can be used to change the owner of an item, or to
        accept collaboration invites.
      operationId: put_collaborations_id
      parameters:
        - description: The ID of the collaboration
          example: "1234"
          in: path
          name: collaboration_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                can_view_path:
                  description: |-
                    Determines if the invited users can see the entire parent path to
                    the associated folder. The user will not gain privileges in any
                    parent folder and therefore can not see content the user is not
                    collaborated on.

                    Be aware that this meaningfully increases the time required to load the
                    invitee's **All Files** page. We recommend you limit the number of
                    collaborations with `can_view_path` enabled to 1,000 per user.

                    Only owner or co-owners can invite collaborators with a `can_view_path` of
                    `true`.

                    `can_view_path` can only be used for folder collaborations.
                  example: true
                  type: boolean
                expires_at:
                  description: |-
                    Update the expiration date for the collaboration. At this date,
                    the collaboration will be automatically removed from the item.

                    This feature will only work if the **Automatically remove invited
                    collaborators: Allow folder owners to extend the expiry date**
                    setting has been enabled in the **Enterprise Settings**
                    of the **Admin Console**. When the setting is not enabled,
                    collaborations can not have an expiry date and a value for this
                    field will be result in an error.

                    Additionally, a collaboration can only be given an
                    expiration if it was created after the **Automatically remove
                    invited collaborator** setting was enabled.
                  example: 2019-08-29T23:59:00-07:00
                  format: date-time
                  type: string
                role:
                  description: The level of access granted.
                  enum:
                    - editor
                    - viewer
                    - previewer
                    - uploader
                    - previewer uploader
                    - viewer uploader
                    - co-owner
                    - owner
                  example: editor
                  type: string
                status:
                  description: |-
                    <!--alex ignore reject-->
                    Set the status of a `pending` collaboration invitation,
                    effectively accepting, or rejecting the invite.
                  enum:
                    - pending
                    - accepted
                    - rejected
                  example: accepted
                  type: string
              required:
                - role
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Collaboration"
          description: Returns an updated collaboration object unless the owner has changed.
        "204":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Collaboration"
          description: |-
            If the role is changed to `owner`, the collaboration is deleted
            and a new collaboration is created. The previous `owner` of
            the old collaboration will be a `co-owner` on the new collaboration.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returns an error if the authenticated user does not have the right
            permissions to update the collaboration.

            Additionally, this error may occur when attempting to update the
            `expires_at` field for the collaboration without the **Automatically
            remove invited collaborators: Allow folder owners to extend the expiry
            date** setting enabled in the admin dashboard of the enterprise.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Update collaboration
      tags:
        - Collaborations
      x-box-tag: user_collaborations
  /collections:
    get:
      description: |-
        Retrieves all collections for a given user.

        Currently, only the `favorites` collection
        is supported.
      operationId: get_collections
      parameters:
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.

            Be aware that specifying this parameter will have the
            effect that none of the standard fields are returned in
            the response unless explicitly specified, instead only
            fields for the mini representation are returned, additional
            to the fields requested.
          example:
            - id
            - type
            - name
          explode: false
          in: query
          name: fields
          required: false
          schema:
            items:
              type: string
            type: array
        - description: |-
            The offset of the item at which to begin the response.

            Queries with offset parameter value
            exceeding 10000 will be rejected
            with a 400 response.
          example: 1000
          in: query
          name: offset
          required: false
          schema:
            default: 0
            format: int64
            type: integer
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            format: int64
            maximum: 1000
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Collections"
          description: Returns all collections for the given user
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: List all collections
      tags:
        - Collections
      x-box-tag: collections
  "/collections/{collection_id}/items":
    get:
      description: |-
        Retrieves the files and/or folders contained within
        this collection.
      operationId: get_collections_id_items
      parameters:
        - description: The ID of the collection.
          example: "926489"
          in: path
          name: collection_id
          required: true
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.

            Be aware that specifying this parameter will have the
            effect that none of the standard fields are returned in
            the response unless explicitly specified, instead only
            fields for the mini representation are returned, additional
            to the fields requested.
          example:
            - id
            - type
            - name
          explode: false
          in: query
          name: fields
          required: false
          schema:
            items:
              type: string
            type: array
        - description: |-
            The offset of the item at which to begin the response.

            Queries with offset parameter value
            exceeding 10000 will be rejected
            with a 400 response.
          example: 1000
          in: query
          name: offset
          required: false
          schema:
            default: 0
            format: int64
            type: integer
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            format: int64
            maximum: 1000
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items"
          description: Returns an array of items in the collection.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: List collection items
      tags:
        - Collections
      x-box-tag: collections
  /comments:
    post:
      description: |-
        Adds a comment by the user to a specific file, or
        as a reply to an other comment.
      operationId: post_comments
      parameters:
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.

            Be aware that specifying this parameter will have the
            effect that none of the standard fields are returned in
            the response unless explicitly specified, instead only
            fields for the mini representation are returned, additional
            to the fields requested.
          example:
            - id
            - type
            - name
          explode: false
          in: query
          name: fields
          required: false
          schema:
            items:
              type: string
            type: array
      requestBody:
        content:
          application/json:
            schema:
              properties:
                item:
                  description: The item to attach the comment to.
                  properties:
                    id:
                      description: The ID of the item
                      example: "11446498"
                      type: string
                    type:
                      description: The type of the item that this comment will be placed on.
                      enum:
                        - file
                        - comment
                      example: file
                      type: string
                  required:
                    - id
                    - type
                  type: object
                message:
                  description: |-
                    The text of the comment.

                    To mention a user, use the `tagged_message`
                    parameter instead.
                  example: Review completed!
                  type: string
                tagged_message:
                  description: |-
                    The text of the comment, including `@[user_id:name]`
                    somewhere in the message to mention another user, which
                    will send them an email notification, letting them know
                    they have been mentioned.

                    The `user_id` is the target user's ID, where the `name`
                    can be any custom phrase. In the Box UI this name will
                    link to the user's profile.

                    If you are not mentioning another user, use `message`
                    instead.
                  example: "@[1234:John] Review completed!"
                  type: string
              required:
                - message
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
          description: |-
            Returns the newly created comment object.

            Not all available fields are returned by default. Use the
            [fields](#param-fields) query parameter to explicitly request
            any specific fields.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Create comment
      tags:
        - Comments
      x-box-tag: comments
  "/comments/{comment_id}":
    delete:
      description: Permanently deletes a comment.
      operationId: delete_comments_id
      parameters:
        - description: The ID of the comment.
          example: "12345"
          in: path
          name: comment_id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Returns an empty response when the comment has been deleted.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Remove comment
      tags:
        - Comments
      x-box-tag: comments
    get:
      description: |-
        Retrieves the message and metadata for a specific comment, as well
        as information on the user who created the comment.
      operationId: get_comments_id
      parameters:
        - description: The ID of the comment.
          example: "12345"
          in: path
          name: comment_id
          required: true
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.

            Be aware that specifying this parameter will have the
            effect that none of the standard fields are returned in
            the response unless explicitly specified, instead only
            fields for the mini representation are returned, additional
            to the fields requested.
          example:
            - id
            - type
            - name
          explode: false
          in: query
          name: fields
          required: false
          schema:
            items:
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
          description: Returns a full comment object.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Get comment
      tags:
        - Comments
      x-box-tag: comments
    put:
      description: Update the message of a comment.
      operationId: put_comments_id
      parameters:
        - description: The ID of the comment.
          example: "12345"
          in: path
          name: comment_id
          required: true
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.

            Be aware that specifying this parameter will have the
            effect that none of the standard fields are returned in
            the response unless explicitly specified, instead only
            fields for the mini representation are returned, additional
            to the fields requested.
          example:
            - id
            - type
            - name
          explode: false
          in: query
          name: fields
          required: false
          schema:
            items:
              type: string
            type: array
      requestBody:
        content:
          application/json:
            schema:
              properties:
                message:
                  description: The text of the comment to update
                  example: Review completed!
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
          description: Returns the updated comment object.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Update comment
      tags:
        - Comments
      x-box-tag: comments
  "/device_pinners/{device_pinner_id}":
    delete:
      description: Deletes an individual device pin.
      operationId: delete_device_pinners_id
      parameters:
        - description: The ID of the device pin
          example: "2324234"
          in: path
          name: device_pinner_id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Returns an empty response when the pin has been deleted.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Remove device pin
      tags:
        - Device pinners
      x-box-tag: device_pinners
    get:
      description: Retrieves information about an individual device pin.
      operationId: get_device_pinners_id
      parameters:
        - description: The ID of the device pin
          example: "2324234"
          in: path
          name: device_pinner_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DevicePinner"
          description: Returns information about a single device pin.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Get device pin
      tags:
        - Device pinners
      x-box-tag: device_pinners
  "/enterprises/{enterprise_id}/device_pinners":
    get:
      description: |-
        Retrieves all the device pins within an enterprise.

        The user must have admin privileges, and the application
        needs the "manage enterprise" scope to make this call.
      operationId: get_enterprises_id_device_pinners
      parameters:
        - description: The ID of the enterprise
          example: "3442311"
          in: path
          name: enterprise_id
          required: true
          schema:
            type: string
        - description: |-
            Defines the position marker at which to begin returning results. This is
            used when paginating using marker-based pagination.

            This requires `usemarker` to be set to `true`.
          example: JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii
          in: query
          name: marker
          required: false
          schema:
            type: string
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            format: int64
            maximum: 1000
            type: integer
        - description: |-
            The direction to sort results in. This can be either in alphabetical ascending
            (`ASC`) or descending (`DESC`) order.
          example: ASC
          in: query
          name: direction
          required: false
          schema:
            enum:
              - ASC
              - DESC
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DevicePinners"
          description: Returns a list of device pins for a given enterprise.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: List enterprise device pins
      tags:
        - Device pinners
      x-box-tag: device_pinners
  /events:
    get:
      description: |-
        Returns up to a year of past events for a given user
        or for the entire enterprise.

        By default this returns events for the authenticated user. To retrieve events
        for the entire enterprise, set the `stream_type` to `admin_logs_streaming`
        for live monitoring of new events, or `admin_logs` for querying across
        historical events. The user making the API call will
        need to have admin privileges, and the application will need to have the
        scope `manage enterprise properties` checked.
      operationId: get_events
      parameters:
        - description: |-
            Defines the type of events that are returned

            * `all` returns everything for a user and is the default
            * `changes` returns events that may cause file tree changes
              such as file updates or collaborations.
            * `sync` is similar to `changes` but only applies to synced folders
            * `admin_logs` returns all events for an entire enterprise and
              requires the user making the API call to have admin permissions. This
              stream type is for programmatically pulling from a 1 year history of
              events across all users within the enterprise and within a
              `created_after` and `created_before` time frame. The complete history
              of events will be returned in chronological order based on the event
              time, but latency will be much higher than `admin_logs_streaming`.
            * `admin_logs_streaming` returns all events for an entire enterprise and
              requires the user making the API call to have admin permissions. This
              stream type is for polling for recent events across all users within
              the enterprise. Latency will be much lower than `admin_logs`, but
              events will not be returned in chronological order and may
              contain duplicates.
          example: all
          in: query
          name: stream_type
          schema:
            default: all
            enum:
              - all
              - changes
              - sync
              - admin_logs
              - admin_logs_streaming
            type: string
        - description: |-
            The location in the event stream to start receiving events from.

            * `now` will return an empty list events and
            the latest stream position for initialization.
            * `0` or `null` will return all events.
          example: "1348790499819"
          in: query
          name: stream_position
          schema:
            type: string
        - description: |-
            Limits the number of events returned

            Note: Sometimes, the events less than the limit requested can be returned
            even when there may be more events remaining. This is primarily done in
            the case where a number of events have already been retrieved and these
            retrieved events are returned rather than delaying for an unknown amount
            of time to see if there are any more results.
          example: 50
          in: query
          name: limit
          schema:
            default: 100
            format: int64
            maximum: 500
            type: integer
        - description: |-
            A comma-separated list of events to filter by. This can only be used when
            requesting the events with a `stream_type` of `admin_logs` or
            `adming_logs_streaming`. For any other `stream_type` this value will be
            ignored.
          example:
            - ACCESS_GRANTED
          explode: false
          in: query
          name: event_type
          schema:
            items:
              description: An event type that can be filtered by
              enum:
                - ACCESS_GRANTED
                - ACCESS_REVOKED
                - ADD_DEVICE_ASSOCIATION
                - ADD_LOGIN_ACTIVITY_DEVICE
                - ADMIN_LOGIN
                - APPLICATION_CREATED
                - APPLICATION_PUBLIC_KEY_ADDED
                - APPLICATION_PUBLIC_KEY_DELETED
                - CHANGE_ADMIN_ROLE
                - CHANGE_FOLDER_PERMISSION
                - COLLABORATION_ACCEPT
                - COLLABORATION_EXPIRATION
                - COLLABORATION_INVITE
                - COLLABORATION_REMOVE
                - COLLABORATION_ROLE_CHANGE
                - COMMENT_CREATE
                - COMMENT_DELETE
                - CONTENT_WORKFLOW_ABNORMAL_DOWNLOAD_ACTIVITY
                - CONTENT_WORKFLOW_AUTOMATION_ADD
                - CONTENT_WORKFLOW_AUTOMATION_DELETE
                - CONTENT_WORKFLOW_POLICY_ADD
                - CONTENT_WORKFLOW_SHARING_POLICY_VIOLATION
                - CONTENT_WORKFLOW_UPLOAD_POLICY_VIOLATION
                - COPY
                - DATA_RETENTION_CREATE_RETENTION
                - DATA_RETENTION_REMOVE_RETENTION
                - DELETE
                - DELETE_USER
                - DEVICE_TRUST_CHECK_FAILED
                - DOWNLOAD
                - EDIT
                - EDIT_USER
                - EMAIL_ALIAS_CONFIRM
                - EMAIL_ALIAS_REMOVE
                - ENTERPRISE_APP_AUTHORIZATION_UPDATE
                - EXTERNAL_COLLAB_SECURITY_SETTINGS
                - FAILED_LOGIN
                - FILE_MARKED_MALICIOUS
                - FILE_WATERMARKED_DOWNLOAD
                - GROUP_ADD_ITEM
                - GROUP_ADD_USER
                - GROUP_CREATION
                - GROUP_DELETION
                - GROUP_EDITED
                - GROUP_REMOVE_ITEM
                - GROUP_REMOVE_USER
                - ITEM_MODIFY
                - ITEM_OPEN
                - ITEM_SHARED_UPDATE
                - ITEM_SYNC
                - ITEM_UNSYNC
                - LEGAL_HOLD_ASSIGNMENT_CREATE
                - LEGAL_HOLD_ASSIGNMENT_DELETE
                - LEGAL_HOLD_POLICY_CREATE
                - LEGAL_HOLD_POLICY_DELETE
                - LEGAL_HOLD_POLICY_UPDATE
                - LOCK
                - LOGIN
                - METADATA_INSTANCE_CREATE
                - METADATA_INSTANCE_DELETE
                - METADATA_INSTANCE_UPDATE
                - METADATA_TEMPLATE_CREATE
                - METADATA_TEMPLATE_DELETE
                - METADATA_TEMPLATE_UPDATE
                - MOVE
                - NEW_USER
                - OAUTH2_ACCESS_TOKEN_REVOKE
                - PREVIEW
                - REMOVE_DEVICE_ASSOCIATION
                - REMOVE_LOGIN_ACTIVITY_DEVICE
                - RENAME
                - RETENTION_POLICY_ASSIGNMENT_ADD
                - SHARE
                - SHARE_EXPIRATION
                - SHIELD_ALERT
                - SHIELD_EXTERNAL_COLLAB_ACCESS_BLOCKED
                - SHIELD_EXTERNAL_COLLAB_ACCESS_BLOCKED_MISSING_JUSTIFICATION
                - SHIELD_EXTERNAL_COLLAB_INVITE_BLOCKED
                - SHIELD_EXTERNAL_COLLAB_INVITE_BLOCKED_MISSING_JUSTIFICATION
                - SHIELD_JUSTIFICATION_APPROVAL
                - SIGN_DOCUMENT_ASSIGNED
                - SIGN_DOCUMENT_CANCELLED
                - SIGN_DOCUMENT_COMPLETED
                - SIGN_DOCUMENT_CONVERTED
                - SIGN_DOCUMENT_CREATED
                - SIGN_DOCUMENT_DECLINED
                - SIGN_DOCUMENT_EXPIRED
                - SIGN_DOCUMENT_SIGNED
                - SIGN_DOCUMENT_VIEWED_BY_SIGNED
                - SIGNER_DOWNLOADED
                - SIGNER_FORWARDED
                - STORAGE_EXPIRATION
                - TASK_ASSIGNMENT_CREATE
                - TASK_ASSIGNMENT_DELETE
                - TASK_ASSIGNMENT_UPDATE
                - TASK_CREATE
                - TASK_UPDATE
                - TERMS_OF_SERVICE_ACCEPT
                - TERMS_OF_SERVICE_REJECT
                - UNDELETE
                - UNLOCK
                - UNSHARE
                - UPDATE_COLLABORATION_EXPIRATION
                - UPDATE_SHARE_EXPIRATION
                - UPLOAD
                - USER_AUTHENTICATE_OAUTH2_ACCESS_TOKEN_CREATE
                - WATERMARK_LABEL_CREATE
                - WATERMARK_LABEL_DELETE
              type: string
            type: array
        - description: |-
            The lower bound date and time to return events for. This can only be used
            when requesting the events with a `stream_type` of `admin_logs`. For any
            other `stream_type` this value will be ignored.
          example: 2012-12-12T10:53:43-08:00
          in: query
          name: created_after
          schema:
            format: date-time
            type: string
        - description: |-
            The upper bound date and time to return events for. This can only be used
            when requesting the events with a `stream_type` of `admin_logs`. For any
            other `stream_type` this value will be ignored.
          example: 2013-12-12T10:53:43-08:00
          in: query
          name: created_before
          required: false
          schema:
            format: date-time
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Events"
          description: |-
            Returns a list of event objects.

            Events objects are returned in pages, with each page (chunk)
            including a list of event objects. The response includes a
            `chunk_size` parameter indicating how many events were returned in this
            chunk, as well as the next `stream_position` that can be
            queried.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: List user and enterprise events
      tags:
        - Events
      x-box-tag: events
    options:
      description: |-
        Returns a list of real-time servers that can be used for long-polling updates
        to the [event stream](#get-events).

        Long polling is the concept where a HTTP request is kept open until the
        server sends a response, then repeating the process over and over to receive
        updated responses.

        Long polling the event stream can only be used for user events, not for
        enterprise events.

        To use long polling, first use this endpoint to retrieve a list of long poll
        URLs. Next, make a long poll request to any of the provided URLs.

        When an event occurs in monitored account a response with the value
        `new_change` will be sent. The response contains no other details as
        it only serves as a prompt to take further action such as sending a
        request to the [events endpoint](#get-events) with the last known
        `stream_position`.

        After the server sends this response it closes the connection. You must now
        repeat the long poll process to begin listening for events again.

        If no events occur for a while and the connection times out you will
        receive a response with the value `reconnect`. When you receive this response
        you’ll make another call to this endpoint to restart the process.

        If you receive no events in `retry_timeout` seconds then you will need to
        make another request to the real-time server (one of the URLs in the response
        for this endpoint). This might be necessary due to network errors.

        Finally, if you receive a `max_retries` error when making a request to the
        real-time server, you should start over by making a call to this endpoint
        first.
      operationId: options_events
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RealtimeServers"
          description: |-
            Returns a paginated array of servers that can be used
            instead of the regular endpoints for long-polling events.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Get events long poll endpoint
      tags:
        - Events
      x-box-tag: events
  "/file_requests/{file_request_id}":
    delete:
      description: Deletes a file request permanently.
      operationId: delete_file_requests_id
      parameters:
        - description: |-
            The unique identifier that represent a file request.

            The ID for any file request can be determined
            by visiting a file request builder in the web application
            and copying the ID from the URL. For example,
            for the URL `https://*.app.box.com/filerequest/123`
            the `file_request_id` is `123`.
          example: "123"
          in: path
          name: file_request_id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: |-
            Returns an empty response when the file request has been successfully
            deleted.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returned when the access token provided in the `Authorization` header
            is not recognized or not provided.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returned if the file request is not found or has already been deleted,
            or the user does not have access to the associated folder.
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: Returned if the `file_request_id` is not in a recognized format.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Delete file request
      tags:
        - File requests
      x-box-sanitized: true
      x-box-tag: file_requests
    get:
      description: Retrieves the information about a file request.
      operationId: get_file_requests_id
      parameters:
        - description: |-
            The unique identifier that represent a file request.

            The ID for any file request can be determined
            by visiting a file request builder in the web application
            and copying the ID from the URL. For example,
            for the URL `https://*.app.box.com/filerequest/123`
            the `file_request_id` is `123`.
          example: "123"
          in: path
          name: file_request_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileRequest"
          description: Returns a file request object.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returned when the access token provided in the `Authorization` header
            is not recognized or not provided.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returned if the file request is not found, or the user does not
            have access to the associated folder.
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: Returned if the `file_request_id` is not in a recognized format.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Get file request
      tags:
        - File requests
      x-box-enable-explorer: true
      x-box-tag: file_requests
    put:
      description: |-
        Updates a file request. This can be used to activate or
        deactivate a file request.
      operationId: put_file_requests_id
      parameters:
        - description: |-
            The unique identifier that represent a file request.

            The ID for any file request can be determined
            by visiting a file request builder in the web application
            and copying the ID from the URL. For example,
            for the URL `https://*.app.box.com/filerequest/123`
            the `file_request_id` is `123`.
          example: "123"
          in: path
          name: file_request_id
          required: true
          schema:
            type: string
        - description: |-
            Ensures this item hasn't recently changed before
            making changes.

            Pass in the item's last observed `etag` value
            into this header and the endpoint will fail
            with a `412 Precondition Failed` if it
            has changed since.
          example: "1"
          in: header
          name: if-match
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileRequestUpdateRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileRequest"
          description: Returns the updated file request object.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returned when the access token provided in the `Authorization` header
            is not recognized or not provided.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returned if the user does not have all the permissions to complete the
            update.

            * `access_denied_insufficient_permissions` when the authenticated user
            does not have access to update the file request.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returned if the file request is not found, or the user does not
            have access to the associated folder.
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: Returned if the `file_request_id` is not in a recognized format.
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returns an error when the `If-Match` header does not match
            the current `etag` value of the file request. This indicates that the
            file request has changed since it was last requested.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Update file request
      tags:
        - File requests
      x-box-enable-explorer: true
      x-box-sanitized: true
      x-box-tag: file_requests
  "/file_requests/{file_request_id}/copy":
    post:
      description: |-
        Copies an existing file request that is already present on one folder,
        and applies it to another folder.
      operationId: post_file_requests_id_copy
      parameters:
        - description: |-
            The unique identifier that represent a file request.

            The ID for any file request can be determined
            by visiting a file request builder in the web application
            and copying the ID from the URL. For example,
            for the URL `https://*.app.box.com/filerequest/123`
            the `file_request_id` is `123`.
          example: "123"
          in: path
          name: file_request_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileRequestCopyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileRequest"
          description: Returns updated file request object.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returned when the access token provided in the `Authorization` header
            is not recognized or not provided.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returned if the user does not have all the permissions to complete the
            update.

            * `access_denied_insufficient_permissions` when the authenticated user
            does not have access to update the file request.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returned if the file request is not found, or the user does not
            have access to the associated folder.
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: Returned if the `file_request_id` is not in a recognized format.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Copy file request
      tags:
        - File requests
      x-box-enable-explorer: true
      x-box-sanitized: true
      x-box-tag: file_requests
  /file_version_legal_holds:
    get:
      description: |-
        Get a list of file versions on legal hold for a legal hold
        assignment.

        Due to ongoing re-architecture efforts this API might not return all file
        versions for this policy ID.

        Instead, this API will only return file versions held in the legacy
        architecture. Two new endpoints will available to request any file versions
        held in the new architecture.

        For file versions held in the new architecture, the `GET
        /legal_hold_policy_assignments/:id/file_versions_on_hold` API can be used to
        return all past file versions available for this policy assignment, and the
        `GET /legal_hold_policy_assignments/:id/files_on_hold` API can be used to
        return any current (latest) versions of a file under legal hold.

        The `GET /legal_hold_policy_assignments?policy_id={id}` API can be used to
        find a list of policy assignments for a given policy ID.

        Once the re-architecture is completed this API will be deprecated.
      operationId: get_file_version_legal_holds
      parameters:
        - description: |-
            The ID of the legal hold policy to get the file version legal
            holds for.
          example: "133870"
          in: query
          name: policy_id
          required: true
          schema:
            type: string
        - description: |-
            Defines the position marker at which to begin returning results. This is
            used when paginating using marker-based pagination.

            This requires `usemarker` to be set to `true`.
          example: JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii
          in: query
          name: marker
          required: false
          schema:
            type: string
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            format: int64
            maximum: 1000
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileVersionLegalHolds"
          description: |-
            Returns the list of file version legal holds for a specific legal
            hold policy.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: List file version legal holds
      tags:
        - File version legal holds
      x-box-tag: file_version_legal_holds
  "/file_version_legal_holds/{file_version_legal_hold_id}":
    get:
      description: |-
        Retrieves information about the legal hold policies
        assigned to a file version.
      operationId: get_file_version_legal_holds_id
      parameters:
        - description: The ID of the file version legal hold
          example: "2348213"
          in: path
          name: file_version_legal_hold_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileVersionLegalHold"
          description: Returns the legal hold policy assignments for the file version.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Get file version legal hold
      tags:
        - File version legal holds
      x-box-tag: file_version_legal_holds
  /file_version_retentions:
    get:
      description: Retrieves all file version retentions for the given enterprise.
      operationId: get_file_version_retentions
      parameters:
        - description: Filters results by files with this ID.
          example: "43123123"
          in: query
          name: file_id
          required: false
          schema:
            type: string
        - description: Filters results by file versions with this ID.
          example: "1"
          in: query
          name: file_version_id
          required: false
          schema:
            type: string
        - description: Filters results by the retention policy with this ID.
          example: "982312"
          in: query
          name: policy_id
          required: false
          schema:
            type: string
        - description: |-
            Filters results by the retention policy with this disposition
            action.
          example: permanently_delete
          in: query
          name: disposition_action
          required: false
          schema:
            enum:
              - permanently_delete
              - remove_retention
            type: string
        - description: |-
            Filters results by files that will have their disposition
            come into effect before this date.
          example: 2012-12-12T10:53:43-08:00
          in: query
          name: disposition_before
          required: false
          schema:
            type: string
        - description: |-
            Filters results by files that will have their disposition
            come into effect after this date.
          example: 2012-12-19T10:34:23-08:00
          in: query
          name: disposition_after
          required: false
          schema:
            type: string
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            format: int64
            maximum: 1000
            type: integer
        - description: |-
            Defines the position marker at which to begin returning results. This is
            used when paginating using marker-based pagination.

            This requires `usemarker` to be set to `true`.
          example: JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii
          in: query
          name: marker
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileVersionRetentions"
          description: Returns a list of all file version retentions for the enterprise.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: List file version retentions
      tags:
        - File version retentions
      x-box-tag: file_version_retentions
  "/file_version_retentions/{file_version_retention_id}":
    get:
      description: Returns information about a file version retention.
      operationId: get_file_version_retentions_id
      parameters:
        - description: The ID of the file version retention
          example: "3424234"
          in: path
          name: file_version_retention_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileVersionRetention"
          description: Returns a file version retention object.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Get retention on file
      tags:
        - File version retentions
      x-box-tag: file_version_retentions
  /files/content:
    options:
      description: |-
        Performs a check to verify that a file will be accepted by Box
        before you upload the entire file.
      operationId: options_files_content
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The name for the file
                  example: File.mp4
                  type: string
                parent:
                  allOf:
                    - description: The parent for this item
                      properties:
                        id:
                          description: The ID of parent item
                          example: "123"
                          type: string
                      type: object
                    - description: The parent folder to upload the file to
                size:
                  description: The size of the file in bytes
                  example: 1024
                  format: int32
                  type: integer
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadUrl"
          description: |-
            If the check passed, the response will include a session URL that
            can be used to upload the file to.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictError"
          description: |-
            If the check did not pass, the response will include some details on
            why it did not pass.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      summary: Preflight check before upload
      tags:
        - Files
      x-box-tag: uploads
    post:
      description: |-
        Uploads a small file to Box. For file sizes over 50MB we recommend
        using the Chunk Upload APIs.

        # Request body order

        The `attributes` part of the body must come **before** the
        `file` part. Requests that do not follow this format when
        uploading the file will receive a HTTP `400` error with a
        `metadata_after_file_contents` error code.
      operationId: post_files_content
      parameters:
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.

            Be aware that specifying this parameter will have the
            effect that none of the standard fields are returned in
            the response unless explicitly specified, instead only
            fields for the mini representation are returned, additional
            to the fields requested.
          example:
            - id
            - type
            - name
          explode: false
          in: query
          name: fields
          required: false
          schema:
            items:
              type: string
            type: array
        - description: |-
            An optional header containing the SHA1 hash of the file to
            ensure that the file was not corrupted in transit.
          example: 134b65991ed521fcfe4724b7d814ab8ded5185dc
          in: header
          name: content-md5
          required: false
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                attributes:
                  description: |-
                    The additional attributes of the file being uploaded. Mainly the
                    name and the parent folder. These attributes are part of the multi
                    part request body and are in JSON format.

                    <Message warning>

                      The `attributes` part of the body must come **before** the
                      `file` part. Requests that do not follow this format when
                      uploading the file will receive a HTTP `400` error with a
                      `metadata_after_file_contents` error code.

                    </Message>
                  properties:
                    content_created_at:
                      description: |-
                        Defines the time the file was originally created at.

                        If not set, the upload time will be used.
                      example: 2012-12-12T10:53:43-08:00
                      format: date-time
                      type: string
                    content_modified_at:
                      description: |-
                        Defines the time the file was last modified at.

                        If not set, the upload time will be used.
                      example: 2012-12-12T10:53:43-08:00
                      format: date-time
                      type: string
                    name:
                      description: The name of the file
                      example: Photo.png
                      type: string
                    parent:
                      description: The parent folder to upload the file to
                      properties:
                        id:
                          description: |-
                            The id of the parent folder. Use
                            `0` for the user's root folder.
                          example: "124132"
                          type: string
                      required:
                        - id
                      type: object
                  required:
                    - name
                    - parent
                  type: object
                file:
                  description: |-
                    The content of the file to upload to Box.

                    <Message warning>

                      The `attributes` part of the body must come **before** the
                      `file` part. Requests that do not follow this format when
                      uploading the file will receive a HTTP `400` error with a
                      `metadata_after_file_contents` error code.

                    </Message>
                  format: binary
                  type: string
              required:
                - attributes
                - file
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Files"
          description: Returns the new file object in a list.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returns an error if some of the parameters are missing or
            not valid.
            * `bad_request` when a parameter is missing or incorrect.
            * `item_name_too_long` when the folder name is too long.
            * `item_name_invalid` when the folder name contains
              non-valid characters.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returns an error if the file already exists,
            or the account has run out of disk space.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      servers:
        - description: Server for file uploads
          url: https://upload.box.com/api/2.0
      summary: Upload file
      tags:
        - Uploads
      x-box-tag: uploads
  /files/upload_sessions:
    post:
      description: Creates an upload session for a new file.
      operationId: post_files_upload_sessions
      requestBody:
        content:
          application/json:
            schema:
              properties:
                file_name:
                  description: The name of new file
                  example: Project.mov
                  type: string
                file_size:
                  description: The total number of bytes of the file to be uploaded
                  example: 104857600
                  format: int64
                  type: integer
                folder_id:
                  description: The ID of the folder to upload the new file to.
                  example: "0"
                  type: string
              required:
                - folder_id
                - file_size
                - file_name
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadSession"
          description: Returns a new upload session.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returns an error if some of the parameters are missing or
            not valid.

            * `missing_destination`: No `folder_id` was provided
            * `invalid_folder_id`: `folder_id` is not valid
            * `item_name_invalid`: `file_name` is not valid
            * `missing_file_size`: `file_size` was not provided
            * `invalid_file_size`: `file_size` was not a valid number
            * `file_size_too_small`: `file_size` is below minimum file size for
              uploads via this API
            * `missing_file_name`: `file_name` was not provided
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returns an error if the operation is not allowed for some reason.

            * `storage_limit_exceeded`: Account storage limit reached
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returns an error if the parent folder could not be found, or
            the authenticated user does not have access to it.

            * `invalid_parameter`: The `folder_id` value represents a
              folder that the user does not have access to, or does not
              exist.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returns an error if the file already exists,
            or the account has run out of disk space.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      servers:
        - description: Server for file uploads
          url: https://upload.box.com/api/2.0
      summary: Create upload session
      tags:
        - Uploads (Chunked)
      x-box-tag: chunked_uploads
  "/files/upload_sessions/{upload_session_id}":
    delete:
      description: |-
        Abort an upload session and discard all data uploaded.

        This cannot be reversed.
      operationId: delete_files_upload_sessions_id
      parameters:
        - description: The ID of the upload session.
          example: D5E3F7A
          in: path
          name: upload_session_id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: |-
            A blank response is returned if the session was
            successfully aborted.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      servers:
        - description: Server for file uploads
          url: https://upload.box.com/api/2.0
      summary: Remove upload session
      tags:
        - Uploads (Chunked)
      x-box-tag: chunked_uploads
    get:
      description: Return information about an upload session.
      operationId: get_files_upload_sessions_id
      parameters:
        - description: The ID of the upload session.
          example: D5E3F7A
          in: path
          name: upload_session_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadSession"
          description: Returns an upload session object.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      servers:
        - description: Server for file uploads
          url: https://upload.box.com/api/2.0
      summary: Get upload session
      tags:
        - Uploads (Chunked)
      x-box-tag: chunked_uploads
    put:
      description: Updates a chunk of an upload session for a file.
      operationId: put_files_upload_sessions_id
      parameters:
        - description: The ID of the upload session.
          example: D5E3F7A
          in: path
          name: upload_session_id
          required: true
          schema:
            type: string
        - description: |-
            The [RFC3230][1] message digest of the chunk uploaded.

            Only SHA1 is supported. The SHA1 digest must be base64
            encoded. The format of this header is as
            `sha=BASE64_ENCODED_DIGEST`.

            To get the value for the `SHA` digest, use the
            openSSL command to encode the file part:
            `openssl sha1 -binary <FILE_PART_NAME> | base64`

            [1]: https://tools.ietf.org/html/rfc3230
          example: sha=fpRyg5eVQletdZqEKaFlqwBXJzM=
          in: header
          name: digest
          required: true
          schema:
            type: string
        - description: |-
            The byte range of the chunk.

            Must not overlap with the range of a part already
            uploaded this session. Each part’s size must be
            exactly equal in size to the part size specified
            in the upload session that you created.
            One exception is the last part of the file, as this can be smaller.

            When providing the value for `content-range`, remember that:

            * The lower bound of each part's byte range
              must be a multiple of the part size.
            * The higher bound must be a multiple of the part size - 1.
          example: bytes 8388608-16777215/445856194
          in: header
          name: content-range
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              description: The binary content of the file
              format: binary
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadedPart"
          description: Chunk has been uploaded successfully.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returns an error if the chunk conflicts with another
            chunk previously uploaded.
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: Returns an error if a precondition was not met.
        "416":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: |-
            Returns an error if the content range does not match a specified range
            for the session.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientError"
          description: An unexpected client error.
      servers:
        - description: Server for file uploads
          url: https://upload.box.com/api/2.0
      summary: Upload part of file
      tags:
        - Uploads (Chunked)
      x-box-tag: chunked_uploads
  "/files/upload_sessions/{upload_session_id}/commit":
    post:
      description: |-
        Close an upload session and create a file from the
        uploaded chunks.
      operationId: post_files_upload_sessions_id_commit
      parameters:
        - description: The ID of the upload session.
          example: D5E3F7A
          in: path
          name: upload_session_id
          required: true
[...]
