swagger: '2.0'
schemes:
  - https
host: api.apitore.com
basePath: /api/39
info:
  description: 'Japanese sentiment analyzer. (tokenized by SentencePiece)<BR />[Endpoint] https://api.apitore.com/api/39'
  title: Sentiment APIs
  version: 0.0.1
  x-apisguru-categories:
    - developer_tools
    - text
  x-logo:
    url: 'https://apitore.com/img/apis/39.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.apitore.com/json/39'
      version: '2.0'
  x-providerName: apitore.com
  x-serviceName: sentimentApis
consumes:
  - application/json
produces:
  - application/json
tags:
  - description: Sentiment V 2 Controller
    name: sentiment-v-2-controller
paths:
  /sentiment-v2/predict:
    get:
      description: 'Sentiment Analysis, last update at 2017-4-29.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/word2vec-response">word2vec-response</a><BR />&nbsp; Class: com.apitore.banana.response.sentiment.SentimentResponseEntity<BR />'
      operationId: predictUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: text
          in: query
          name: text
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SentimentResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Sentiment predict
      tags:
        - sentiment-v-2-controller
definitions:
  SentimentEntity:
    properties:
      score:
        description: cosine distance
        format: double
        type: number
      sentiment:
        description: sentiment
        type: string
    required:
      - score
      - sentiment
    type: object
  SentimentResponseEntity:
    properties:
      endTime:
        description: End date
        type: string
      log:
        description: Log message
        type: string
      predict:
        $ref: '#/definitions/SentimentEntity'
        description: 'Output: prediction'
      processTime:
        description: 'Process time [millisecond]'
        type: string
      sentiments:
        description: 'Output: sentiments'
        items:
          $ref: '#/definitions/SentimentEntity'
        type: array
      startTime:
        description: Start date
        type: string
      text:
        description: 'Input: text'
        type: string
    required:
      - endTime
      - log
      - predict
      - processTime
      - sentiments
      - startTime
      - text
    type: object
