swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2017-10-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2017-10-01/networkWatcher.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: network-networkWatcher
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkWatchers':
    get:
      description: Gets all network watchers by subscription.
      operationId: NetworkWatchers_ListAll
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of network watcher resources.
          schema:
            $ref: '#/definitions/NetworkWatcherListResult'
      tags:
        - NetworkWatchers
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers':
    get:
      description: Gets all network watchers by resource group.
      operationId: NetworkWatchers_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of network watcher resources.
          schema:
            $ref: '#/definitions/NetworkWatcherListResult'
      tags:
        - NetworkWatchers
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}':
    delete:
      description: Deletes the specified network watcher resource.
      operationId: NetworkWatchers_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - NetworkWatchers
      x-ms-long-running-operation: true
    get:
      description: Gets the specified network watcher by resource group.
      operationId: NetworkWatchers_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a network watcher resource.
          schema:
            $ref: '#/definitions/NetworkWatcher'
      tags:
        - NetworkWatchers
    patch:
      description: Updates a network watcher tags.
      operationId: NetworkWatchers_UpdateTags
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: Parameters supplied to update network watcher tags.
          in: body
          name: parameters
          required: true
          schema:
            description: Tags object for patch operations.
            properties:
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting network watcher resource.
          schema:
            $ref: '#/definitions/NetworkWatcher'
      tags:
        - NetworkWatchers
      x-ms-examples:
        Update network watcher tags:
          parameters:
            api-version: '2017-10-01'
            networkWatcherName: nw1
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1
                location: eastus
                name: nw1
                properties:
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/networkWatchers
    put:
      description: Creates or updates a network watcher in the specified resource group.
      operationId: NetworkWatchers_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: Parameters that define the network watcher resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/NetworkWatcher'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting network watcher resource.
          schema:
            $ref: '#/definitions/NetworkWatcher'
        '201':
          description: Create successful. The operation returns the resulting network watcher resource.
          schema:
            $ref: '#/definitions/NetworkWatcher'
      tags:
        - NetworkWatchers
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/availableProvidersList':
    post:
      description: Lists all available internet service providers for a specified Azure region.
      operationId: NetworkWatchers_ListAvailableProviders
      parameters:
        - description: The name of the network watcher resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: Parameters that scope the list of available providers.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/AvailableProvidersListParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful request for list of available providers.
          schema:
            $ref: '#/definitions/AvailableProvidersList'
        '202':
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/AvailableProvidersList'
      tags:
        - NetworkWatchers
      x-ms-examples:
        Get Azure Reachability Report:
          parameters:
            api-version: '2017-08-01'
            networkWatcherName: nw1
            parameters:
              azureLocations:
                - West US
              city: seattle
              country: United States
              state: washington
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                countries:
                  - countryName: United States
                    states:
                      - cities:
                          - cityName: seattle
                            providers:
                              - 'Comcast Cable Communications, Inc. - ASN 7922'
                              - 'Comcast Cable Communications, LLC - ASN 7922'
                              - 'Level 3 Communications, Inc. (GBLX) - ASN 3549'
                              - 'Qwest Communications Company, LLC - ASN 209'
                        stateName: washington
            '202':
              body:
                countries:
                  - countryName: United States
                    states:
                      - cities:
                          - cityName: seattle
                            providers:
                              - 'Comcast Cable Communications, Inc. - ASN 7922'
                              - 'Comcast Cable Communications, LLC - ASN 7922'
                              - 'Level 3 Communications, Inc. (GBLX) - ASN 3549'
                              - 'Qwest Communications Company, LLC - ASN 209'
                        stateName: washington
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/azureReachabilityReport':
    post:
      description: Gets the relative latency score for internet service providers from a specified location to Azure regions.
      operationId: NetworkWatchers_GetAzureReachabilityReport
      parameters:
        - description: The name of the network watcher resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: Parameters that determine Azure reachability report configuration.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/AzureReachabilityReportParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful request for Azure reachability report.
          schema:
            $ref: '#/definitions/AzureReachabilityReport'
        '202':
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/AzureReachabilityReport'
      tags:
        - NetworkWatchers
      x-ms-examples:
        Get Azure Reachability Report:
          parameters:
            api-version: '2017-08-01'
            networkWatcherName: nw1
            parameters:
              azureLocations:
                - West US
              endTime: '2017-09-10T00:00:00Z'
              providerLocation:
                country: United States
                state: washington
              providers:
                - 'Frontier Communications of America, Inc. - ASN 5650'
              startTime: '2017-09-07T00:00:00Z'
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                aggregationLevel: State
                providerLocation:
                  country: United States
                  state: washington
                reachabilityReport:
                  - azureLocation: West US
                    latencies:
                      - score: 94
                        timeStamp: '2017-09-07T00:00:00Z'
                      - score: 94
                        timeStamp: '2017-09-08T00:00:00Z'
                      - score: 94
                        timeStamp: '2017-09-09T00:00:00Z'
                    provider: 'Frontier Communications of America, Inc. - ASN 5650'
            '202':
              body:
                aggregationLevel: State
                providerLocation:
                  country: United States
                  state: washington
                reachabilityReport:
                  - azureLocation: West US
                    latencies:
                      - score: 94
                        timeStamp: '2017-09-07T00:00:00Z'
                      - score: 94
                        timeStamp: '2017-09-08T00:00:00Z'
                      - score: 94
                        timeStamp: '2017-09-09T00:00:00Z'
                    provider: 'Frontier Communications of America, Inc. - ASN 5650'
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/configureFlowLog':
    post:
      description: Configures flow log on a specified resource.
      operationId: NetworkWatchers_SetFlowLogConfiguration
      parameters:
        - description: The name of the network watcher resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: Parameters that define the configuration of flow log.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/FlowLogInformation'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful request for setting flow log configuration.
          schema:
            $ref: '#/definitions/FlowLogInformation'
        '202':
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/FlowLogInformation'
      tags:
        - NetworkWatchers
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors':
    get:
      description: Lists all connection monitors for the specified Network Watcher.
      operationId: ConnectionMonitors_List
      parameters:
        - description: The name of the resource group containing Network Watcher.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Network Watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful connection monitor enumeration request.
          schema:
            $ref: '#/definitions/ConnectionMonitorListResult'
      tags:
        - ConnectionMonitors
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}':
    delete:
      description: Deletes the specified connection monitor.
      operationId: ConnectionMonitors_Delete
      parameters:
        - description: The name of the resource group containing Network Watcher.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Network Watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name of the connection monitor.
          in: path
          name: connectionMonitorName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: Accepted. The operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - ConnectionMonitors
      x-ms-long-running-operation: true
    get:
      description: Gets a connection monitor by name.
      operationId: ConnectionMonitors_Get
      parameters:
        - description: The name of the resource group containing Network Watcher.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Network Watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name of the connection monitor.
          in: path
          name: connectionMonitorName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a connection monitor.
          schema:
            $ref: '#/definitions/ConnectionMonitorResult'
      tags:
        - ConnectionMonitors
    put:
      description: Create or update a connection monitor.
      operationId: ConnectionMonitors_CreateOrUpdate
      parameters:
        - description: The name of the resource group containing Network Watcher.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Network Watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name of the connection monitor.
          in: path
          name: connectionMonitorName
          required: true
          type: string
        - description: Parameters that define the operation to create a connection monitor.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ConnectionMonitor'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting network watcher resource.
          schema:
            $ref: '#/definitions/ConnectionMonitorResult'
        '201':
          description: Create successful. The operation returns the resulting network watcher resource.
          schema:
            $ref: '#/definitions/ConnectionMonitorResult'
      tags:
        - ConnectionMonitors
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/query':
    post:
      description: Query a snapshot of the most recent connection states.
      operationId: ConnectionMonitors_Query
      parameters:
        - description: The name of the resource group containing Network Watcher.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Network Watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name given to the connection monitor.
          in: path
          name: connectionMonitorName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful query of connection states.
          schema:
            $ref: '#/definitions/ConnectionMonitorQueryResult'
        '202':
          description: Accepted query of connection states.
          schema:
            $ref: '#/definitions/ConnectionMonitorQueryResult'
      tags:
        - ConnectionMonitors
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/start':
    post:
      description: Starts the specified connection monitor.
      operationId: ConnectionMonitors_Start
      parameters:
        - description: The name of the resource group containing Network Watcher.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Network Watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name of the connection monitor.
          in: path
          name: connectionMonitorName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation starts the connection monitor.
        '202':
          description: Accepted. The operation will complete asynchronously.
      tags:
        - ConnectionMonitors
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/stop':
    post:
      description: Stops the specified connection monitor.
      operationId: ConnectionMonitors_Stop
      parameters:
        - description: The name of the resource group containing Network Watcher.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Network Watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name of the connection monitor.
          in: path
          name: connectionMonitorName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation stops the connection monitor.
        '202':
          description: Accepted. The operation will complete asynchronously.
      tags:
        - ConnectionMonitors
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectivityCheck':
    post:
      description: Verifies the possibility of establishing a direct TCP connection from a virtual machine to a given endpoint including another VM or an arbitrary remote server.
      operationId: NetworkWatchers_CheckConnectivity
      parameters:
        - description: The name of the network watcher resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: Parameters that determine how the connectivity check will be performed.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ConnectivityParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful request for checking connectivity.
          schema:
            $ref: '#/definitions/ConnectivityInformation'
        '202':
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/ConnectivityInformation'
      tags:
        - NetworkWatchers
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/ipFlowVerify':
    post:
      description: Verify IP flow from the specified VM to a location given the currently configured NSG rules.
      operationId: NetworkWatchers_VerifyIPFlow
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: Parameters that define the IP flow to be verified.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/VerificationIPFlowParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the result of IP flow verification.
          schema:
            $ref: '#/definitions/VerificationIPFlowResult'
        '202':
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/VerificationIPFlowResult'
      tags:
        - NetworkWatchers
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/nextHop':
    post:
      description: Gets the next hop from the specified VM.
      operationId: NetworkWatchers_GetNextHop
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: Parameters that define the source and destination endpoint.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/NextHopParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the next hop from the VM.
          schema:
            $ref: '#/definitions/NextHopResult'
        '202':
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/NextHopResult'
      tags:
        - NetworkWatchers
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures':
    get:
      description: Lists all packet capture sessions within the specified resource group.
      operationId: PacketCaptures_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Network Watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful packet capture enumeration request.
          schema:
            $ref: '#/definitions/PacketCaptureListResult'
      tags:
        - PacketCaptures
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}':
    delete:
      description: Deletes the specified packet capture session.
      operationId: PacketCaptures_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name of the packet capture session.
          in: path
          name: packetCaptureName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - PacketCaptures
      x-ms-long-running-operation: true
    get:
      description: Gets a packet capture session by name.
      operationId: PacketCaptures_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name of the packet capture session.
          in: path
          name: packetCaptureName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a packet capture session.
          schema:
            $ref: '#/definitions/PacketCaptureResult'
      tags:
        - PacketCaptures
    put:
      description: Create and start a packet capture on the specified VM.
      operationId: PacketCaptures_Create
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name of the packet capture session.
          in: path
          name: packetCaptureName
          required: true
          type: string
        - description: Parameters that define the create packet capture operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/PacketCapture'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: Request successful. The operation returns the resulting packet capture session.
          schema:
            $ref: '#/definitions/PacketCaptureResult'
      tags:
        - PacketCaptures
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}/queryStatus':
    post:
      description: Query the status of a running packet capture session.
      operationId: PacketCaptures_GetStatus
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Network Watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name given to the packet capture session.
          in: path
          name: packetCaptureName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful query of packet capture status.
          schema:
            $ref: '#/definitions/PacketCaptureQueryStatusResult'
        '202':
          description: Accepted query status of packet capture.
          schema:
            $ref: '#/definitions/PacketCaptureQueryStatusResult'
      tags:
        - PacketCaptures
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}/stop':
    post:
      description: Stops a specified packet capture session.
      operationId: PacketCaptures_Stop
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name of the packet capture session.
          in: path
          name: packetCaptureName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation stops the packet capture session.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - PacketCaptures
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/queryFlowLogStatus':
    post:
      description: Queries status of flow log on a specified resource.
      operationId: NetworkWatchers_GetFlowLogStatus
      parameters:
        - description: The name of the network watcher resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: Parameters that define a resource to query flow log status.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/FlowLogStatusParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful request for query flow log status.
          schema:
            $ref: '#/definitions/FlowLogInformation'
        '202':
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/FlowLogInformation'
      tags:
        - NetworkWatchers
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/queryTroubleshootResult':
    post:
      description: Get the last completed troubleshooting result on a specified resource
      operationId: NetworkWatchers_GetTroubleshootingResult
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: Parameters that define the resource to query the troubleshooting result.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/QueryTroubleshootingParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful get troubleshooting result request
          schema:
            $ref: '#/definitions/TroubleshootingResult'
        '202':
          description: Accepted get troubleshooting result request.
          schema:
            $ref: '#/definitions/TroubleshootingResult'
      tags:
        - NetworkWatchers
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/securityGroupView':
    post:
      description: Gets the configured and effective security group rules on the specified VM.
      operationId: NetworkWatchers_GetVMSecurityRules
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: Parameters that define the VM to check security groups for.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/SecurityGroupViewParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns security group rules on the VM.
          schema:
            $ref: '#/definitions/SecurityGroupViewResult'
        '202':
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/SecurityGroupViewResult'
      tags:
        - NetworkWatchers
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/topology':
    post:
      description: Gets the current network topology by resource group.
      operationId: NetworkWatchers_GetTopology
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: Parameters that define the representation of topology.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/TopologyParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the topology of resource group.
          schema:
            $ref: '#/definitions/Topology'
      tags:
        - NetworkWatchers
      x-ms-examples:
        Get Topology:
          parameters:
            api-version: '2017-10-01'
            networkWatcherName: nw1
            parameters:
              targetResourceGroupName: rg2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                createdDateTime: '2017-08-02T19:31:55.9461781Z'
                id: ce592f46-8164-4bf2-ad36-b8e4acf6fb68
                lastModified: '2017-05-27T00:00:13.2005337Z'
                resources:
                  - associations:
                      - associationType: Contains
                        name: appNic0
                        resourceId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkInterfaces/appNic0
                      - associationType: Contains
                        name: appNic10
                        resourceId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkInterfaces/appNic10
                    id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/MultiTierApp0
                    location: westus
                    name: MultiTierApp0
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/troubleshoot':
    post:
      description: Initiate troubleshooting on a specified resource
      operationId: NetworkWatchers_GetTroubleshooting
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: Parameters that define the resource to troubleshoot.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/TroubleshootingParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful troubleshooting request
          schema:
            $ref: '#/definitions/TroubleshootingResult'
        '202':
          description: Accepted get troubleshooting request.
          schema:
            $ref: '#/definitions/TroubleshootingResult'
      tags:
        - NetworkWatchers
      x-ms-long-running-operation: true
definitions:
  AvailableProvidersList:
    description: List of available countries with details.
    properties:
      countries:
        description: List of available countries.
        items:
          $ref: '#/definitions/AvailableProvidersListCountry'
        type: array
    required:
      - countries
  AvailableProvidersListCity:
    description: City or town details.
    properties:
      cityName:
        description: The city or town name.
        type: string
      providers:
        description: A list of Internet service providers.
        items:
          type: string
        type: array
  AvailableProvidersListCountry:
    description: Country details.
    properties:
      countryName:
        description: The country name.
        type: string
      providers:
        description: A list of Internet service providers.
        items:
          type: string
        type: array
      states:
        description: List of available states in the country.
        items:
          $ref: '#/definitions/AvailableProvidersListState'
        type: array
  AvailableProvidersListParameters:
    description: Constraints that determine the list of available Internet service providers.
    properties:
      azureLocations:
        description: A list of Azure regions.
        items:
          type: string
        type: array
      city:
        description: The city or town for available providers list.
        type: string
      country:
        description: The country for available providers list.
        type: string
      state:
        description: The state for available providers list.
        type: string
  AvailableProvidersListState:
    description: State details.
    properties:
      cities:
        description: List of available cities or towns in the state.
        items:
          $ref: '#/definitions/AvailableProvidersListCity'
        type: array
      providers:
        description: A list of Internet service providers.
        items:
          type: string
        type: array
      stateName:
        description: The state name.
        type: string
  AzureReachabilityReport:
    description: Azure reachability report details.
    properties:
      aggregationLevel:
        description: 'The aggregation level of Azure reachability report. Can be Country, State or City.'
        type: string
      providerLocation:
        $ref: '#/definitions/AzureReachabilityReportLocation'
      reachabilityReport:
        description: List of Azure reachability report items.
        items:
          $ref: '#/definitions/AzureReachabilityReportItem'
        type: array
    required:
      - aggregationLevel
      - providerLocation
      - reachabilityReport
  AzureReachabilityReportItem:
    description: Azure reachability report details for a given provider location.
    properties:
      azureLocation:
        description: The Azure region.
        type: string
      latencies:
        description: List of latency details for each of the time series.
        items:
          $ref: '#/definitions/AzureReachabilityReportLatencyInfo'
        type: array
      provider:
        description: The Internet service provider.
        type: string
  AzureReachabilityReportLatencyInfo:
    description: Details on latency for a time series.
    properties:
      score:
        description: 'The relative latency score between 1 and 100, higher values indicating a faster connection.'
        maximum: 100
        minimum: 1
        type: integer
      timeStamp:
        description: The time stamp.
        format: date-time
        type: string
  AzureReachabilityReportLocation:
    description: Parameters that define a geographic location.
    properties:
      city:
        description: The name of the city or town.
        type: string
      country:
        description: The name of the country.
        type: string
      state:
        description: The name of the state.
        type: string
    required:
      - country
  AzureReachabilityReportParameters:
    description: Geographic and time constraints for Azure reachability report.
    properties:
      azureLocations:
        description: Optional Azure regions to scope the query to.
        items:
          type: string
        type: array
      endTime:
        description: The end time for the Azure reachability report.
        format: date-time
        type: string
      providerLocation:
        $ref: '#/definitions/AzureReachabilityReportLocation'
      providers:
        description: List of Internet service providers.
        items:
          type: string
        type: array
      startTime:
        description: The start time for the Azure reachability report.
        format: date-time
        type: string
    required:
      - providerLocation
      - startTime
      - endTime
  ConnectionMonitor:
    description: Parameters that define the operation to create a connection monitor.
    properties:
      location:
        description: Connection monitor location.
        type: string
      properties:
        $ref: '#/definitions/ConnectionMonitorParameters'
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Connection monitor tags.
        type: object
    required:
      - properties
  ConnectionMonitorDestination:
    description: Describes the destination of connection monitor.
    properties:
      address:
        description: Address of the connection monitor destination (IP or domain name).
        type: string
      port:
        description: The destination port used by connection monitor.
        type: integer
      resourceId:
        description: The ID of the resource used as the destination by connection monitor.
        type: string
  ConnectionMonitorListResult:
    description: List of connection monitors.
    properties:
      value:
        description: Information about connection monitors.
        items:
          $ref: '#/definitions/ConnectionMonitorResult'
        type: array
  ConnectionMonitorParameters:
    description: Parameters that define the operation to create a connection monitor.
    properties:
      autoStart:
        default: true
        description: Determines if the connection monitor will start automatically once created.
        type: boolean
      destination:
        $ref: '#/definitions/ConnectionMonitorDestination'
      monitoringIntervalInSeconds:
        default: 60
        description: Monitoring interval in seconds.
        type: integer
      source:
        $ref: '#/definitions/ConnectionMonitorSource'
    required:
      - source
      - destination
  ConnectionMonitorQueryResult:
    description: List of connection states snapshots.
    properties:
      states:
        description: Information about connection states.
        items:
          $ref: '#/definitions/ConnectionStateSnapshot'
        type: array
  ConnectionMonitorResult:
    description: Information about the connection monitor.
    properties:
      etag:
        default: A unique read-only string that changes whenever the resource is updated.
        type: string
      id:
        description: ID of the connection monitor.
        readOnly: true
        type: string
      location:
        description: Connection monitor location.
        type: string
      name:
        description: Name of the connection monitor.
        readOnly: true
        type: string
      properties:
        $ref: '#/definitions/ConnectionMonitorResultProperties'
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Connection monitor tags.
        type: object
      type:
        description: Connection monitor type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  ConnectionMonitorResultProperties:
    allOf:
      - $ref: '#/definitions/ConnectionMonitorParameters'
    description: Describes the properties of a connection monitor.
    properties:
      monitoringStatus:
        description: The monitoring status of the connection monitor.
        type: string
      provisioningState:
        description: The provisioning state of the connection monitor.
        enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      startTime:
        description: The date and time when the connection monitor was started.
        format: date-time
        type: string
  ConnectionMonitorSource:
    description: Describes the source of connection monitor.
    properties:
      port:
        description: The source port used by connection monitor.
        type: integer
      resourceId:
        description: The ID of the resource used as the source by connection monitor.
        type: string
    required:
      - resourceId
  ConnectionStateSnapshot:
    description: Connection state snapshot.
    properties:
      connectionState:
        description: The connection state.
        enum:
          - Reachable
          - Unreachable
          - Unknown
        type: string
        x-ms-enum:
          modelAsString: true
          name: ConnectionState
      endTime:
        description: The end time of the connection snapshot.
        format: date-time
        type: string
      evaluationState:
        description: Connectivity analysis evaluation state.
        enum:
          - NotStarted
          - InProgress
          - Completed
        type: string
        x-ms-enum:
          modelAsString: true
          name: EvaluationState
      hops:
        description: List of hops between the source and the destination.
        items:
          $ref: '#/definitions/ConnectivityHop'
        readOnly: true
        type: array
      startTime:
        description: The start time of the connection snapshot.
        format: date-time
        type: string
  ConnectivityDestination:
    description: Parameters that define destination of connection.
    properties:
      address:
        description: The IP address or URI the resource to which a connection attempt will be made.
        type: string
      port:
        description: Port on which check connectivity will be performed.
        type: integer
      resourceId:
        description: The ID of the resource to which a connection attempt will be made.
        type: string
  ConnectivityHop:
    description: Information about a hop between the source and the destination.
    properties:
      address:
        description: The IP address of the hop.
        readOnly: true
        type: string
      id:
        description: The ID of the hop.
        readOnly: true
        type: string
      issues:
        description: List of issues.
        items:
          $ref: '#/definitions/ConnectivityIssue'
        readOnly: true
        type: array
      nextHopIds:
        description: List of next hop identifiers.
        items:
          type: string
        readOnly: true
        type: array
      resourceId:
        description: The ID of the resource corresponding to this hop.
        readOnly: true
        type: string
      type:
        description: The type of the hop.
        readOnly: true
        type: string
  ConnectivityInformation:
    description: Information on the connectivity status.
    properties:
      avgLatencyInMs:
        description: Average latency in milliseconds.
        readOnly: true
        type: integer
      connectionStatus:
        description: The connection status.
        enum:
          - Unknown
          - Connected
          - Disconnected
          - Degraded
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ConnectionStatus
      hops:
        description: List of hops between the source and the destination.
        items:
          $ref: '#/definitions/ConnectivityHop'
        readOnly: true
        type: array
      maxLatencyInMs:
        description: Maximum latency in milliseconds.
        readOnly: true
        type: integer
      minLatencyInMs:
        description: Minimum latency in milliseconds.
        readOnly: true
        type: integer
      probesFailed:
        description: Number of failed probes.
        readOnly: true
        type: integer
      probesSent:
        description: Total number of probes sent.
        readOnly: true
        type: integer
  ConnectivityIssue:
    description: Information about an issue encountered in the process of checking for connectivity.
    properties:
      context:
        description: Provides additional context on the issue.
        items:
          $ref: '#/definitions/IssueContext'
        readOnly: true
        type: array
      origin:
        description: The origin of the issue.
        enum:
          - Local
          - Inbound
          - Outbound
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: Origin
      severity:
        description: The severity of the issue.
        enum:
          - Error
          - Warning
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: Severity
      type:
        description: The type of issue.
        enum:
          - Unknown
          - AgentStopped
          - GuestFirewall
          - DnsResolution
          - SocketBind
          - NetworkSecurityRule
          - UserDefinedRoute
          - PortThrottled
          - Platform
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: IssueType
  ConnectivityParameters:
    description: Parameters that determine how the connectivity check will be performed.
    properties:
      destination:
        $ref: '#/definitions/ConnectivityDestination'
      source:
        $ref: '#/definitions/ConnectivitySource'
    required:
      - source
      - destination
  ConnectivitySource:
    description: Parameters that define the source of the connection.
    properties:
      port:
        description: The source port from which a connectivity check will be performed.
        type: integer
      resourceId:
        description: The ID of the resource from which a connectivity check will be initiated.
        type: string
    required:
      - resourceId
  FlowLogInformation:
    description: Information on the configuration of flow log.
    properties:
      properties:
        $ref: '#/definitions/FlowLogProperties'
        x-ms-client-flatten: true
      targetResourceId:
        description: The ID of the resource to configure for flow logging.
        type: string
    required:
      - targetResourceId
      - properties
  FlowLogProperties:
    description: Parameters that define the configuration of flow log.
    properties:
      enabled:
        description: Flag to enable/disable flow logging.
        type: boolean
      retentionPolicy:
        $ref: '#/definitions/RetentionPolicyParameters'
      storageId:
        description: ID of the storage account which is used to store the flow log.
        type: string
    required:
      - storageId
      - enabled
  FlowLogStatusParameters:
    description: Parameters that define a resource to query flow log status.
    properties:
      targetResourceId:
        description: The target resource where getting the flow logging status.
        type: string
    required:
      - targetResourceId
  IssueContext:
    additionalProperties:
      type: string
    description: A key-value pair that provides additional context on the issue.
    type: object
  NetworkInterfaceAssociation:
    description: Network interface and its custom security rules.
    properties:
      id:
        description: Network interface ID.
        readOnly: true
        type: string
      securityRules:
        description: Collection of custom security rules.
        items:
          allOf:
            - description: Reference to another subresource.
              properties:
                id:
                  description: Resource ID.
                  type: string
              x-ms-azure-resource: true
          description: Network security rule.
          properties:
            etag:
              description: A unique read-only string that changes whenever the resource is updated.
              type: string
            name:
              description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
              type: string
            properties:
              description: Security rule resource.
              properties:
                access:
                  description: 'The network traffic is allowed or denied. Possible values are: ''Allow'' and ''Deny''.'
                  enum:
                    - Allow
                    - Deny
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: SecurityRuleAccess
                description:
                  description: A description for this rule. Restricted to 140 chars.
                  type: string
                destinationAddressPrefix:
                  description: 'The destination address prefix. CIDR or destination IP range. Asterisk ''*'' can also be used to match all source IPs. Default tags such as ''VirtualNetwork'', ''AzureLoadBalancer'' and ''Internet'' can also be used.'
                  type: string
                destinationAddressPrefixes:
                  description: The destination address prefixes. CIDR or destination IP ranges.
                  items:
                    type: string
                  type: array
                destinationApplicationSecurityGroups:
                  description: The application security group specified as destination.
                  items:
                    allOf:
                      - description: Common resource representation.
                        properties:
                          id:
                            description: Resource ID.
                            type: string
                          location:
                            description: Resource location.
                            type: string
                          name:
                            description: Resource name.
                            readOnly: true
                            type: string
                          tags:
                            additionalProperties:
                              type: string
                            description: Resource tags.
                            type: object
                          type:
                            description: Resource type.
                            readOnly: true
                            type: string
                        x-ms-azure-resource: true
                    description: An application security group in a resource group.
                    properties:
                      etag:
                        description: A unique read-only string that changes whenever the resource is updated.
                        readOnly: true
                        type: string
                      properties:
                        description: Application security group properties.
                        properties:
                          provisioningState:
                            description: 'The provisioning state of the application security group resource. Possible values are: ''Succeeded'', ''Updating'', ''Deleting'', and ''Failed''.'
                            readOnly: true
                            type: string
                          resourceGuid:
                            description: 'The resource GUID property of the application security group resource. It uniquely identifies a resource, even if the user changes its name or migrate the resource across subscriptions or resource groups.'
                            readOnly: true
                            type: string
                  type: array
                destinationPortRange:
                  description: The destination port or range. Integer or range between 0 and 65535. Asterisk '*' can also be used to match all ports.
                  type: string
                destinationPortRanges:
                  description: The destination port ranges.
                  items:
                    description: The destination port.
                    type: string
                  type: array
                direction:
                  description: 'The direction of the rule. The direction specifies if rule will be evaluated on incoming or outgoing traffic. Possible values are: ''Inbound'' and ''Outbound''.'
                  enum:
                    - Inbound
                    - Outbound
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: SecurityRuleDirection
                priority:
                  description: 'The priority of the rule. The value can be between 100 and 4096. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule.'
                  format: int32
                  type: integer
                protocol:
                  description: 'Network protocol this rule applies to. Possible values are ''Tcp'', ''Udp'', and ''*''.'
                  enum:
                    - Tcp
                    - Udp
                    - '*'
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: SecurityRuleProtocol
                provisioningState:
                  description: 'The provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                  type: string
                sourceAddressPrefix:
                  description: 'The CIDR or source IP range. Asterisk ''*'' can also be used to match all source IPs. Default tags such as ''VirtualNetwork'', ''AzureLoadBalancer'' and ''Internet'' can also be used. If this is an ingress rule, specifies where network traffic originates from. '
                  type: string
                sourceAddressPrefixes:
                  description: The CIDR or source IP ranges.
                  items:
                    type: string
                  type: array
                sourceApplicationSecurityGroups:
                  description: The application security group specified as source.
                  items:
                    allOf:
                      - description: Common resource representation.
                        properties:
                          id:
                            description: Resource ID.
                            type: string
                          location:
                            description: Resource location.
                            type: string
                          name:
                            description: Resource name.
                            readOnly: true
                            type: string
                          tags:
                            additionalProperties:
                              type: string
                            description: Resource tags.
                            type: object
                          type:
                            description: Resource type.
                            readOnly: true
                            type: string
                        x-ms-azure-resource: true
                    description: An application security group in a resource group.
                    properties:
                      etag:
                        description: A unique read-only string that changes whenever the resource is updated.
                        readOnly: true
                        type: string
                      properties:
                        description: Application security group properties.
                        properties:
                          provisioningState:
                            description: 'The provisioning state of the application security group resource. Possible values are: ''Succeeded'', ''Updating'', ''Deleting'', and ''Failed''.'
                            readOnly: true
                            type: string
                          resourceGuid:
                            description: 'The resource GUID property of the application security group resource. It uniquely identifies a resource, even if the user changes its name or migrate the resource across subscriptions or resource groups.'
                            readOnly: true
                            type: string
                  type: array
                sourcePortRange:
                  description: The source port or range. Integer or range between 0 and 65535. Asterisk '*' can also be used to match all ports.
                  type: string
                sourcePortRanges:
                  description: The source port ranges.
                  items:
                    description: The source port.
                    type: string
                  type: array
              required:
                - protocol
                - access
                - direction
        type: array
  NetworkWatcher:
    allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Network watcher in a resource group.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      properties:
        $ref: '#/definitions/NetworkWatcherPropertiesFormat'
        x-ms-client-flatten: true
  NetworkWatcherListResult:
    description: List of network watcher resources.
    properties:
      value:
        items:
          $ref: '#/definitions/NetworkWatcher'
        type: array
  NetworkWatcherPropertiesFormat:
    description: The network watcher properties.
    properties:
      provisioningState:
        description: The provisioning state of the resource.
        enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
  NextHopParameters:
    description: Parameters that define the source and destination endpoint.
    properties:
      destinationIPAddress:
        description: The destination IP address.
        type: string
      sourceIPAddress:
        description: The source IP address.
        type: string
      targetNicResourceId:
        description: 'The NIC ID. (If VM has multiple NICs and IP forwarding is enabled on any of the nics, then this parameter must be specified. Otherwise optional).'
        type: string
      targetResourceId:
        description: The resource identifier of the target resource against which the action is to be performed.
        type: string
    required:
      - targetResourceId
      - sourceIPAddress
      - destinationIPAddress
  NextHopResult:
    description: The information about next hop from the specified VM.
    properties:
      nextHopIpAddress:
        description: Next hop IP Address
        type: string
      nextHopType:
        description: Next hop type.
        enum:
          - Internet
          - VirtualAppliance
          - VirtualNetworkGateway
          - VnetLocal
          - HyperNetGateway
          - None
        type: string
        x-ms-enum:
          modelAsString: true
          name: NextHopType
      routeTableId:
        description: The resource identifier for the route table associated with the route being returned. If the route being returned does not correspond to any user created routes then this field will be the string 'System Route'.
        type: string
  PacketCapture:
    description: Parameters that define the create packet capture operation.
    properties:
      properties:
        $ref: '#/definitions/PacketCaptureParameters'
        x-ms-client-flatten: true
    required:
      - properties
  PacketCaptureFilter:
    description: Filter that is applied to packet capture request. Multiple filters can be applied.
    properties:
      localIPAddress:
        description: 'Local IP Address to be filtered on. Notation: "127.0.0.1" for single address entry. "127.0.0.1-127.0.0.255" for range. "127.0.0.1;127.0.0.5"? for multiple entries. Multiple ranges not currently supported. Mixing ranges with multiple entries not currently supported. Default = null.'
        type: string
      localPort:
        description: 'Local port to be filtered on. Notation: "80" for single port entry."80-85" for range. "80;443;" for multiple entries. Multiple ranges not currently supported. Mixing ranges with multiple entries not currently supported. Default = null.'
        type: string
      protocol:
        default: Any
        description: Protocol to be filtered on.
        enum:
          - TCP
          - UDP
          - Any
        type: string
        x-ms-enum:
          modelAsString: true
          name: PcProtocol
      remoteIPAddress:
        description: 'Local IP Address to be filtered on. Notation: "127.0.0.1" for single address entry. "127.0.0.1-127.0.0.255" for range. "127.0.0.1;127.0.0.5;" for multiple entries. Multiple ranges not currently supported. Mixing ranges with multiple entries not currently supported. Default = null.'
        type: string
      remotePort:
        description: 'Remote port to be filtered on. Notation: "80" for single port entry."80-85" for range. "80;443;" for multiple entries. Multiple ranges not currently supported. Mixing ranges with multiple entries not currently supported. Default = null.'
        type: string
  PacketCaptureListResult:
    description: List of packet capture sessions.
    properties:
      value:
        description: Information about packet capture sessions.
        items:
          $ref: '#/definitions/PacketCaptureResult'
        type: array
  PacketCaptureParameters:
    description: Parameters that define the create packet capture operation.
    properties:
      bytesToCapturePerPacket:
        default: 0
        description: 'Number of bytes captured per packet, the remaining bytes are truncated.'
        type: integer
      filters:
        items:
          $ref: '#/definitions/PacketCaptureFilter'
        type: array
      storageLocation:
        $ref: '#/definitions/PacketCaptureStorageLocation'
      target:
        description: 'The ID of the targeted resource, only VM is currently supported.'
        type: string
      timeLimitInSeconds:
        default: 18000
        description: Maximum duration of the capture session in seconds.
        type: integer
      totalBytesPerSession:
        default: 1073741824
        description: Maximum size of the capture output.
        type: integer
    required:
      - target
      - storageLocation
  PacketCaptureQueryStatusResult:
    description: Status of packet capture session.
    properties:
      captureStartTime:
        description: The start time of the packet capture session.
        format: date-time
        type: string
      id:
        description: The ID of the packet capture resource.
        type: string
      name:
        description: The name of the packet capture resource.
        type: string
      packetCaptureError:
        description: List of errors of packet capture session.
        items:
          enum:
            - InternalError
            - AgentStopped
            - CaptureFailed
            - LocalFileFailed
            - StorageFailed
          type: string
          x-ms-enum:
            modelAsString: true
            name: PcError
        type: array
      packetCaptureStatus:
        description: The status of the packet capture session.
        enum:
          - NotStarted
          - Running
          - Stopped
          - Error
          - Unknown
        type: string
        x-ms-enum:
          modelAsString: true
          name: PcStatus
      stopReason:
        description: The reason the current packet capture session was stopped.
        type: string
  PacketCaptureResult:
    description: Information about packet capture session.
    properties:
      etag:
        default: A unique read-only string that changes whenever the resource is updated.
        type: string
      id:
        description: ID of the packet capture operation.
        readOnly: true
        type: string
      name:
        description: Name of the packet capture session.
        readOnly: true
        type: string
      properties:
        $ref: '#/definitions/PacketCaptureResultProperties'
        x-ms-client-flatten: true
  PacketCaptureResultProperties:
    allOf:
      - $ref: '#/definitions/PacketCaptureParameters'
    description: Describes the properties of a packet capture session.
    properties:
      provisioningState:
        description: The provisioning state of the packet capture session.
        enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
  PacketCaptureStorageLocation:
    description: Describes the storage location for a packet capture session.
    properties:
      filePath:
        description: 'A valid local path on the targeting VM. Must include the name of the capture file (*.cap). For linux virtual machine it must start with /var/captures. Required if no storage ID is provided, otherwise optional.'
        type: string
      storageId:
        description: The ID of the storage account to save the packet capture session. Required if no local file path is provided.
        type: string
      storagePath:
        description: The URI of the storage path to save the packet capture. Must be a well-formed URI describing the location to save the packet capture.
        type: string
  QueryTroubleshootingParameters:
    description: Parameters that define the resource to query the troubleshooting result.
    properties:
      targetResourceId:
        description: The target resource ID to query the troubleshooting result.
        type: string
    required:
      - targetResourceId
  RetentionPolicyParameters:
    description: Parameters that define the retention policy for flow log.
    properties:
      days:
        default: 0
        description: Number of days to retain flow log records.
        type: integer
      enabled:
        default: false
        description: Flag to enable/disable retention.
        type: boolean
  SecurityGroupNetworkInterface:
    description: Network interface and all its associated security rules.
    properties:
      id:
        description: ID of the network interface.
        type: string
      securityRuleAssociations:
        $ref: '#/definitions/SecurityRuleAssociations'
  SecurityGroupViewParameters:
    description: Parameters that define the VM to check security groups for.
    properties:
      targetResourceId:
        description: ID of the target VM.
        type: string
    required:
      - targetResourceId
  SecurityGroupViewResult:
    description: The information about security rules applied to the specified VM.
    properties:
      networkInterfaces:
        description: List of network interfaces on the specified VM.
        items:
          $ref: '#/definitions/SecurityGroupNetworkInterface'
        type: array
  SecurityRuleAssociations:
    description: All security rules associated with the network interface.
    properties:
      defaultSecurityRules:
        description: Collection of default security rules of the network security group.
        items:
          allOf:
            - description: Reference to another subresource.
              properties:
                id:
                  description: Resource ID.
                  type: string
              x-ms-azure-resource: true
          description: Network security rule.
          properties:
            etag:
              description: A unique read-only string that changes whenever the resource is updated.
              type: string
            name:
              description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
              type: string
            properties:
              description: Security rule resource.
              properties:
                access:
                  description: 'The network traffic is allowed or denied. Possible values are: ''Allow'' and ''Deny''.'
                  enum:
                    - Allow
                    - Deny
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: SecurityRuleAccess
                description:
                  description: A description for this rule. Restricted to 140 chars.
                  type: string
                destinationAddressPrefix:
                  description: 'The destination address prefix. CIDR or destination IP range. Asterisk ''*'' can also be used to match all source IPs. Default tags such as ''VirtualNetwork'', ''AzureLoadBalancer'' and ''Internet'' can also be used.'
                  type: string
                destinationAddressPrefixes:
                  description: The destination address prefixes. CIDR or destination IP ranges.
                  items:
                    type: string
                  type: array
                destinationApplicationSecurityGroups:
                  description: The application security group specified as destination.
                  items:
                    allOf:
                      - description: Common resource representation.
                        properties:
                          id:
                            description: Resource ID.
                            type: string
                          location:
                            description: Resource location.
                            type: string
                          name:
                            description: Resource name.
                            readOnly: true
                            type: string
                          tags:
                            additionalProperties:
                              type: string
                            description: Resource tags.
                            type: object
                          type:
                            description: Resource type.
                            readOnly: true
                            type: string
                        x-ms-azure-resource: true
                    description: An application security group in a resource group.
                    properties:
                      etag:
                        description: A unique read-only string that changes whenever the resource is updated.
                        readOnly: true
                        type: string
                      properties:
                        description: Application security group properties.
                        properties:
                          provisioningState:
                            description: 'The provisioning state of the application security group resource. Possible values are: ''Succeeded'', ''Updating'', ''Deleting'', and ''Failed''.'
                            readOnly: true
                            type: string
                          resourceGuid:
                            description: 'The resource GUID property of the application security group resource. It uniquely identifies a resource, even if the user changes its name or migrate the resource across subscriptions or resource groups.'
                            readOnly: true
                            type: string
                  type: array
                destinationPortRange:
                  description: The destination port or range. Integer or range between 0 and 65535. Asterisk '*' can also be used to match all ports.
                  type: string
                destinationPortRanges:
                  description: The destination port ranges.
                  items:
                    description: The destination port.
                    type: string
                  type: array
                direction:
                  description: 'The direction of the rule. The direction specifies if rule will be evaluated on incoming or outgoing traffic. Possible values are: ''Inbound'' and ''Outbound''.'
                  enum:
                    - Inbound
                    - Outbound
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: SecurityRuleDirection
                priority:
                  description: 'The priority of the rule. The value can be between 100 and 4096. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule.'
                  format: int32
                  type: integer
                protocol:
                  description: 'Network protocol this rule applies to. Possible values are ''Tcp'', ''Udp'', and ''*''.'
                  enum:
                    - Tcp
                    - Udp
                    - '*'
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: SecurityRuleProtocol
                provisioningState:
                  description: 'The provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                  type: string
                sourceAddressPrefix:
                  description: 'The CIDR or source IP range. Asterisk ''*'' can also be used to match all source IPs. Default tags such as ''VirtualNetwork'', ''AzureLoadBalancer'' and ''Internet'' can also be used. If this is an ingress rule, specifies where network traffic originates from. '
                  type: string
                sourceAddressPrefixes:
                  description: The CIDR or source IP ranges.
                  items:
                    type: string
                  type: array
                sourceApplicationSecurityGroups:
                  description: The application security group specified as source.
                  items:
                    allOf:
                      - description: Common resource representation.
                        properties:
                          id:
                            description: Resource ID.
                            type: string
                          location:
                            description: Resource location.
                            type: string
                          name:
                            description: Resource name.
                            readOnly: true
                            type: string
                          tags:
                            additionalProperties:
                              type: string
                            description: Resource tags.
                            type: object
                          type:
                            description: Resource type.
                            readOnly: true
                            type: string
                        x-ms-azure-resource: true
                    description: An application security group in a resource group.
                    properties:
                      etag:
                        description: A unique read-only string that changes whenever the resource is updated.
                        readOnly: true
                        type: string
                      properties:
                        description: Application security group properties.
                        properties:
                          provisioningState:
                            description: 'The provisioning state of the application security group resource. Possible values are: ''Succeeded'', ''Updating'', ''Deleting'', and ''Failed''.'
                            readOnly: true
                            type: string
                          resourceGuid:
                            description: 'The resource GUID property of the application security group resource. It uniquely identifies a resource, even if the user changes its name or migrate the resource across subscriptions or resource groups.'
                            readOnly: true
                            type: string
                  type: array
                sourcePortRange:
                  description: The source port or range. Integer or range between 0 and 65535. Asterisk '*' can also be used to match all ports.
                  type: string
                sourcePortRanges:
                  description: The source port ranges.
                  items:
                    description: The source port.
                    type: string
                  type: array
              required:
                - protocol
                - access
                - direction
        type: array
      effectiveSecurityRules:
        description: Collection of effective security rules.
        items:
          description: Effective network security rules.
          properties:
            access:
              description: 'Whether network traffic is allowed or denied. Possible values are: ''Allow'' and ''Deny''.'
              enum:
                - Allow
                - Deny
              type: string
              x-ms-enum:
                modelAsString: true
                name: SecurityRuleAccess
            destinationAddressPrefix:
              description: The destination address prefix.
              type: string
            destinationAddressPrefixes:
              description: 'The destination address prefixes. Expected values include CIDR IP ranges, Default Tags (VirtualNetwork, AzureLoadBalancer, Internet), System Tags, and the asterisk (*).'
              items:
                type: string
              type: array
            destinationPortRange:
              description: The destination port or range.
              type: string
            destinationPortRanges:
              description: 'The destination port ranges. Expected values include a single integer between 0 and 65535, a range using ''-'' as separator (e.g. 100-400), or an asterisk (*)'
              items:
                type: string
              type: array
            direction:
              description: 'The direction of the rule. Possible values are: ''Inbound and Outbound''.'
              enum:
                - Inbound
                - Outbound
              type: string
              x-ms-enum:
                modelAsString: true
                name: SecurityRuleDirection
            expandedDestinationAddressPrefix:
              description: Expanded destination address prefix.
              items:
                type: string
              type: array
            expandedSourceAddressPrefix:
              description: The expanded source address prefix.
              items:
                type: string
              type: array
            name:
              description: The name of the security rule specified by the user (if created by the user).
              type: string
            priority:
              description: The priority of the rule.
              format: int32
              type: integer
            protocol:
              description: 'The network protocol this rule applies to. Possible values are: ''Tcp'', ''Udp'', and ''All''.'
              enum:
                - Tcp
                - Udp
                - All
              type: string
              x-ms-enum:
                modelAsString: true
                name: EffectiveSecurityRuleProtocol
            sourceAddressPrefix:
              description: The source address prefix.
              type: string
            sourceAddressPrefixes:
              description: 'The source address prefixes. Expected values include CIDR IP ranges, Default Tags (VirtualNetwork, AzureLoadBalancer, Internet), System Tags, and the asterisk (*).'
              items:
                type: string
              type: array
            sourcePortRange:
              description: The source port or range.
              type: string
            sourcePortRanges:
              description: 'The source port ranges. Expected values include a single integer between 0 and 65535, a range using ''-'' as separator (e.g. 100-400), or an asterisk (*)'
              items:
                type: string
              type: array
        type: array
      networkInterfaceAssociation:
        $ref: '#/definitions/NetworkInterfaceAssociation'
      subnetAssociation:
        $ref: '#/definitions/SubnetAssociation'
  SubnetAssociation:
    description: Network interface and its custom security rules.
    properties:
      id:
        description: Subnet ID.
        readOnly: true
        type: string
      securityRules:
        description: Collection of custom security rules.
        items:
          allOf:
            - description: Reference to another subresource.
              properties:
                id:
                  description: Resource ID.
                  type: string
              x-ms-azure-resource: true
          description: Network security rule.
          properties:
            etag:
              description: A unique read-only string that changes whenever the resource is updated.
              type: string
            name:
              description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
              type: string
            properties:
              description: Security rule resource.
              properties:
                access:
                  description: 'The network traffic is allowed or denied. Possible values are: ''Allow'' and ''Deny''.'
                  enum:
                    - Allow
                    - Deny
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: SecurityRuleAccess
                description:
                  description: A description for this rule. Restricted to 140 chars.
                  type: string
                destinationAddressPrefix:
                  description: 'The destination address prefix. CIDR or destination IP range. Asterisk ''*'' can also be used to match all source IPs. Default tags such as ''VirtualNetwork'', ''AzureLoadBalancer'' and ''Internet'' can also be used.'
                  type: string
                destinationAddressPrefixes:
                  description: The destination address prefixes. CIDR or destination IP ranges.
                  items:
                    type: string
                  type: array
                destinationApplicationSecurityGroups:
                  description: The application security group specified as destination.
                  items:
                    allOf:
                      - description: Common resource representation.
                        properties:
                          id:
                            description: Resource ID.
                            type: string
                          location:
                            description: Resource location.
                            type: string
                          name:
                            description: Resource name.
                            readOnly: true
                            type: string
                          tags:
                            additionalProperties:
                              type: string
                            description: Resource tags.
                            type: object
                          type:
                            description: Resource type.
                            readOnly: true
                            type: string
                        x-ms-azure-resource: true
                    description: An application security group in a resource group.
                    properties:
                      etag:
                        description: A unique read-only string that changes whenever the resource is updated.
                        readOnly: true
                        type: string
                      properties:
                        description: Application security group properties.
                        properties:
                          provisioningState:
                            description: 'The provisioning state of the application security group resource. Possible values are: ''Succeeded'', ''Updating'', ''Deleting'', and ''Failed''.'
                            readOnly: true
                            type: string
                          resourceGuid:
                            description: 'The resource GUID property of the application security group resource. It uniquely identifies a resource, even if the user changes its name or migrate the resource across subscriptions or resource groups.'
                            readOnly: true
                            type: string
                  type: array
                destinationPortRange:
                  description: The destination port or range. Integer or range between 0 and 65535. Asterisk '*' can also be used to match all ports.
                  type: string
                destinationPortRanges:
                  description: The destination port ranges.
                  items:
                    description: The destination port.
                    type: string
                  type: array
                direction:
                  description: 'The direction of the rule. The direction specifies if rule will be evaluated on incoming or outgoing traffic. Possible values are: ''Inbound'' and ''Outbound''.'
                  enum:
                    - Inbound
                    - Outbound
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: SecurityRuleDirection
                priority:
                  description: 'The priority of the rule. The value can be between 100 and 4096. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule.'
                  format: int32
                  type: integer
                protocol:
                  description: 'Network protocol this rule applies to. Possible values are ''Tcp'', ''Udp'', and ''*''.'
                  enum:
                    - Tcp
                    - Udp
                    - '*'
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: SecurityRuleProtocol
                provisioningState:
                  description: 'The provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                  type: string
                sourceAddressPrefix:
[...]
