swagger: '2.0'
schemes:
  - https
host: visagecloud.com
basePath: /
info:
  contact:
    email: office@visagecloud.com
    name: VisageCloud
    url: 'http://visageCloud.com'
  description: 'Face search, recognition & classification API. Just make a call to our REST API each time your app needs to access face recognition and classification capabilities.'
  license:
    name: As per Developer Terms of Use
    url: 'http://visagecloud.com/developer-terms-of-use'
  termsOfService: 'http://visagecloud.com/terms-of-use'
  title: VisageCloud
  version: '1.1'
  x-logo:
    url: 'https://visagecloud.com/visage-cloud-logo.png'
  x-origin:
    format: swagger
    url: 'https://visagecloud.com/v2/api-docs'
    version: '2.0'
  x-providerName: visagecloud.com
produces:
  - '*/*'
securityDefinitions:
  accessKey:
    description: accessKey
    in: query
    name: accessKey
    type: apiKey
security:
  - accessKey: []
tags:
  - description: Collection Controller
    name: collection-controller
  - description: Analysis Controller
    name: analysis-controller
  - description: Profile Controller
    name: profile-controller
paths:
  /rest/v1.1/analysis/detection:
    post:
      consumes:
        - multipart/form-data
      operationId: performAnalysisUsingPOST
      parameters:
        - description: secretKey
          in: query
          name: secretKey
          required: true
          type: string
        - default: true
          description: storePicture
          in: query
          name: storePicture
          required: false
          type: boolean
        - description: pictureURL
          in: query
          name: pictureURL
          required: false
          type: string
        - description: picture
          in: formData
          name: picture
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestResponse'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Perform detection on a given picture or picture URL
      tags:
        - analysis-controller
  /rest/v1.1/analysis/listLatest:
    get:
      consumes:
        - application/json
      operationId: retriveLatestUsingGET
      parameters:
        - description: secretKey
          in: query
          name: secretKey
          required: true
          type: string
        - default: 100
          description: count
          format: int32
          in: query
          name: count
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Retrieve the last *count* operations per current account
      tags:
        - analysis-controller
  /rest/v1.1/analysis/recognition:
    post:
      consumes:
        - multipart/form-data
      operationId: performRecognitionUsingPOST
      parameters:
        - description: secretKey
          in: query
          name: secretKey
          required: true
          type: string
        - default: true
          description: storePicture
          in: query
          name: storePicture
          required: false
          type: boolean
        - description: collectionId
          in: query
          name: collectionId
          required: true
          type: string
        - collectionFormat: multi
          description: labels
          in: query
          items:
            type: string
          name: labels
          required: false
          type: array
        - collectionFormat: multi
          description: attributeFilters
          enum:
            - GENDER_FILTER
            - AGE_GROUP_FILTER
          in: query
          items:
            enum:
              - GENDER_FILTER
              - AGE_GROUP_FILTER
            type: string
          name: attributeFilters
          required: false
          type: array
        - description: pictureURL
          in: query
          name: pictureURL
          required: false
          type: string
        - description: picture
          in: formData
          name: picture
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestResponse'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Perform labeled recognition on a given picture or picture URL
      tags:
        - analysis-controller
  /rest/v1.1/analysis/retrieve:
    get:
      consumes:
        - application/json
      operationId: retrieveAnalysisUsingGET
      parameters:
        - description: secretKey
          in: query
          name: secretKey
          required: true
          type: string
        - description: analysisId
          in: query
          name: analysisId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Retrieve a complete analysis object including both detection and recognition information
      tags:
        - analysis-controller
  /rest/v1.1/collection/all:
    get:
      consumes:
        - application/json
      operationId: getAllCollectionsUsingGET
      parameters:
        - description: secretKey
          in: query
          name: secretKey
          required: true
          type: string
        - description: collectionId
          in: query
          name: collectionId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Retrieve all collections
      tags:
        - collection-controller
  /rest/v1.1/collection/collection:
    delete:
      consumes:
        - application/json
      operationId: removeFaceFromProfileUsingDELETE
      parameters:
        - description: secretKey
          in: query
          name: secretKey
          required: true
          type: string
        - description: collectionId
          in: query
          name: collectionId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestResponse'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: Delete existing collection
      tags:
        - collection-controller
    get:
      consumes:
        - application/json
      operationId: getProfilesFromCollectionUsingGET
      parameters:
        - description: secretKey
          in: query
          name: secretKey
          required: true
          type: string
        - description: collectionId
          in: query
          name: collectionId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Retrieve existing collection content.
      tags:
        - collection-controller
    post:
      consumes:
        - application/json
      operationId: addCollectionUsingPOST
      parameters:
        - description: secretKey
          in: query
          name: secretKey
          required: true
          type: string
        - description: collectionName
          in: query
          name: collectionName
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestResponse'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Create new empty collection with given name.
      tags:
        - collection-controller
  /rest/v1.1/profile/map:
    delete:
      consumes:
        - application/json
      operationId: removeFaceFromProfileUsingDELETE_1
      parameters:
        - description: secretKey
          in: query
          name: secretKey
          required: true
          type: string
        - description: faceHash
          in: query
          name: faceHash
          required: true
          type: string
        - description: profileId
          in: query
          name: profileId
          required: true
          type: string
        - description: collectionId
          in: query
          name: collectionId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestResponse'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: 'Removes (unmaps) a face, identified by faceHash, from a profile, identified by profileID.'
      tags:
        - profile-controller
    get:
      consumes:
        - application/json
      operationId: getFacesFromProfileUsingGET
      parameters:
        - description: secretKey
          in: query
          name: secretKey
          required: true
          type: string
        - description: profileId
          in: query
          name: profileId
          required: true
          type: string
        - description: collectionId
          in: query
          name: collectionId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Gets all the faceHashes associated to a profile.
      tags:
        - profile-controller
    post:
      consumes:
        - application/json
      operationId: mapFaceToProfileUsingPOST
      parameters:
        - description: secretKey
          in: query
          name: secretKey
          required: true
          type: string
        - description: faceHash
          in: query
          name: faceHash
          required: true
          type: string
        - description: profileId
          in: query
          name: profileId
          required: true
          type: string
        - description: collectionId
          in: query
          name: collectionId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestResponse'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: 'Adds (maps) a face, identified by faceHash, to a profile, identified by profileID.'
      tags:
        - profile-controller
  /rest/v1.1/profile/profile:
    post:
      consumes:
        - application/json
      operationId: addProfileUsingPOST
      parameters:
        - description: secretKey
          in: query
          name: secretKey
          required: true
          type: string
        - description: collectionId
          in: query
          name: collectionId
          required: true
          type: string
        - description: externalId
          in: query
          name: externalId
          required: false
          type: string
        - description: screenName
          in: query
          name: screenName
          required: false
          type: string
        - collectionFormat: multi
          description: labels
          in: query
          items:
            type: string
          name: labels
          required: false
          type: array
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestResponse'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Creates a new profile with no faces associated to it (empty profile).
      tags:
        - profile-controller
definitions:
  RestResponse:
    properties:
      message:
        type: string
      payload:
        type: object
      status:
        type: string
    type: object
