openapi: 3.0.0
servers:
  - url: https://androidmanagement.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Android Management API provides remote enterprise management of Android devices and apps.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Android Management API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: google
      url: https://androidmanagement.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: androidmanagement
externalDocs:
  url: https://developers.google.com/android/management
tags:
  - name: enterprises
  - name: signupUrls
paths:
  /v1/enterprises:
    get:
      description: Lists EMM-managed enterprises. Only BASIC fields are returned.
      operationId: androidmanagement.enterprises.list
      parameters:
        - description: The requested page size. The actual page size may be fixed to a min or max value.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results returned by the server.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Required. The Cloud project ID of the EMM managing the enterprises.
          in: query
          name: projectId
          schema:
            type: string
        - description: Specifies which Enterprise fields to return. This method only supports BASIC.
          in: query
          name: view
          schema:
            enum:
              - ENTERPRISE_VIEW_UNSPECIFIED
              - BASIC
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEnterprisesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidmanagement
          Oauth2c:
            - https://www.googleapis.com/auth/androidmanagement
      tags:
        - enterprises
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Creates an enterprise. This is the last step in the enterprise signup flow. See also: SigninDetail"
      operationId: androidmanagement.enterprises.create
      parameters:
        - description: Whether the enterprise admin has seen and agreed to the managed Google Play Agreement (https://www.android.com/enterprise/terms/). Do not set this field for any customer-managed enterprise (https://developers.google.com/android/management/create-enterprise#customer-managed_enterprises). Set this to field to true for all EMM-managed enterprises (https://developers.google.com/android/management/create-enterprise#emm-managed_enterprises).
          in: query
          name: agreementAccepted
          schema:
            type: boolean
        - description: The enterprise token appended to the callback URL. Set this when creating a customer-managed enterprise (https://developers.google.com/android/management/create-enterprise#customer-managed_enterprises) and not when creating a deprecated EMM-managed enterprise (https://developers.google.com/android/management/create-enterprise#emm-managed_enterprises).
          in: query
          name: enterpriseToken
          schema:
            type: string
        - description: The ID of the Google Cloud Platform project which will own the enterprise.
          in: query
          name: projectId
          schema:
            type: string
        - description: The name of the SignupUrl used to sign up for the enterprise. Set this when creating a customer-managed enterprise (https://developers.google.com/android/management/create-enterprise#customer-managed_enterprises) and not when creating a deprecated EMM-managed enterprise (https://developers.google.com/android/management/create-enterprise#emm-managed_enterprises).
          in: query
          name: signupUrlName
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Enterprise"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enterprise"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidmanagement
          Oauth2c:
            - https://www.googleapis.com/auth/androidmanagement
      tags:
        - enterprises
  /v1/signupUrls:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an enterprise signup URL.
      operationId: androidmanagement.signupUrls.create
      parameters:
        - description: The callback URL that the admin will be redirected to after successfully creating an enterprise. Before redirecting there the system will add a query parameter to this URL named enterpriseToken which will contain an opaque token to be used for the create enterprise request. The URL will be parsed then reformatted in order to add the enterpriseToken parameter, so there may be some minor formatting changes.
          in: query
          name: callbackUrl
          schema:
            type: string
        - description: The ID of the Google Cloud Platform project which will own the enterprise.
          in: query
          name: projectId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignupUrl"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidmanagement
          Oauth2c:
            - https://www.googleapis.com/auth/androidmanagement
      tags:
        - signupUrls
  "/v1/{name}":
    delete:
      description: Deletes a web app.
      operationId: androidmanagement.enterprises.webApps.delete
      parameters:
        - description: The name of the web app in the form enterprises/{enterpriseId}/webApps/{packageName}.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional flags that control the device wiping behavior.
          explode: true
          in: query
          name: wipeDataFlags
          schema:
            items:
              enum:
                - WIPE_DATA_FLAG_UNSPECIFIED
                - PRESERVE_RESET_PROTECTION_DATA
                - WIPE_EXTERNAL_STORAGE
              type: string
            type: array
          style: form
        - description: Optional. A short message displayed to the user before wiping the work profile on personal devices. This has no effect on company owned devices. The maximum message length is 200 characters.
          in: query
          name: wipeReasonMessage
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidmanagement
          Oauth2c:
            - https://www.googleapis.com/auth/androidmanagement
      tags:
        - enterprises
    get:
      description: Gets a web app.
      operationId: androidmanagement.enterprises.webApps.get
      parameters:
        - description: The name of the web app in the form enterprises/{enterpriseId}/webApp/{packageName}.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebApp"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidmanagement
          Oauth2c:
            - https://www.googleapis.com/auth/androidmanagement
      tags:
        - enterprises
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates a web app.
      operationId: androidmanagement.enterprises.webApps.patch
      parameters:
        - description: The name of the web app in the form enterprises/{enterpriseId}/webApps/{packageName}.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The field mask indicating the fields to update. If not set, all modifiable fields will be modified.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebApp"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebApp"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidmanagement
          Oauth2c:
            - https://www.googleapis.com/auth/androidmanagement
      tags:
        - enterprises
  "/v1/{name}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED.
      operationId: androidmanagement.enterprises.devices.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidmanagement
          Oauth2c:
            - https://www.googleapis.com/auth/androidmanagement
      tags:
        - enterprises
  "/v1/{name}:issueCommand":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Issues a command to a device. The Operation resource returned contains a Command in its metadata field. Use the get operation method to get the status of the command.
      operationId: androidmanagement.enterprises.devices.issueCommand
      parameters:
        - description: The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Command"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidmanagement
          Oauth2c:
            - https://www.googleapis.com/auth/androidmanagement
      tags:
        - enterprises
  "/v1/{parent}/devices":
    get:
      description: Lists devices for a given enterprise. Deleted devices are not returned in the response.
      operationId: androidmanagement.enterprises.devices.list
      parameters:
        - description: The name of the enterprise in the form enterprises/{enterpriseId}.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The requested page size. The actual page size may be fixed to a min or max value.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results returned by the server.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDevicesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidmanagement
          Oauth2c:
            - https://www.googleapis.com/auth/androidmanagement
      tags:
        - enterprises
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/enrollmentTokens":
    get:
      description: "Lists active, unexpired enrollment tokens for a given enterprise. The list items contain only a partial view of EnrollmentToken: all the fields but name and expiration_timestamp are empty. This method is meant to help manage active enrollment tokens lifecycle. For security reasons, it's recommended to delete active enrollment tokens as soon as they're not intended to be used anymore."
      operationId: androidmanagement.enterprises.enrollmentTokens.list
      parameters:
        - description: Required. The name of the enterprise in the form enterprises/{enterpriseId}.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The requested page size. The service may return fewer than this value. If unspecified, at most 10 items will be returned. The maximum value is 100; values above 100 will be coerced to 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results returned by the server.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEnrollmentTokensResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidmanagement
          Oauth2c:
            - https://www.googleapis.com/auth/androidmanagement
      tags:
        - enterprises
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an enrollment token for a given enterprise. It's up to the caller's responsibility to manage the lifecycle of newly created tokens and deleting them when they're not intended to be used anymore. Once an enrollment token has been created, it's not possible to retrieve the token's content anymore using AM API. It is recommended for EMMs to securely store the token if it's intended to be reused.
      operationId: androidmanagement.enterprises.enrollmentTokens.create
      parameters:
        - description: The name of the enterprise in the form enterprises/{enterpriseId}.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnrollmentToken"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnrollmentToken"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidmanagement
          Oauth2c:
            - https://www.googleapis.com/auth/androidmanagement
      tags:
        - enterprises
  "/v1/{parent}/policies":
    get:
      description: Lists policies for a given enterprise.
      operationId: androidmanagement.enterprises.policies.list
      parameters:
        - description: The name of the enterprise in the form enterprises/{enterpriseId}.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The requested page size. The actual page size may be fixed to a min or max value.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results returned by the server.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPoliciesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidmanagement
          Oauth2c:
            - https://www.googleapis.com/auth/androidmanagement
      tags:
        - enterprises
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/webApps":
    get:
      description: Lists web apps for a given enterprise.
      operationId: androidmanagement.enterprises.webApps.list
      parameters:
        - description: The name of the enterprise in the form enterprises/{enterpriseId}.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The requested page size. This is a hint and the actual page size in the response may be different.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results returned by the server.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebAppsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidmanagement
          Oauth2c:
            - https://www.googleapis.com/auth/androidmanagement
      tags:
        - enterprises
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a web app.
      operationId: androidmanagement.enterprises.webApps.create
      parameters:
        - description: The name of the enterprise in the form enterprises/{enterpriseId}.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebApp"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebApp"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidmanagement
          Oauth2c:
            - https://www.googleapis.com/auth/androidmanagement
      tags:
        - enterprises
  "/v1/{parent}/webTokens":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a web token to access an embeddable managed Google Play web UI for a given enterprise.
      operationId: androidmanagement.enterprises.webTokens.create
      parameters:
        - description: The name of the enterprise in the form enterprises/{enterpriseId}.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebToken"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebToken"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidmanagement
          Oauth2c:
            - https://www.googleapis.com/auth/androidmanagement
      tags:
        - enterprises
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AdbShellCommandEvent:
      description: A shell command was issued over ADB via “adb shell command”.
      properties:
        shellCmd:
          description: Shell command that was issued over ADB via "adb shell command". Redacted to empty string on organization-owned managed profile devices.
          type: string
      type: object
    AdbShellInteractiveEvent:
      description: An ADB interactive shell was opened via “adb shell”. Intentionally empty.
      properties: {}
      type: object
    AdvancedSecurityOverrides:
      description: Security policies set to secure values by default. To maintain the security posture of a device, we don't recommend overriding any of the default values.
      properties:
        commonCriteriaMode:
          description: "Controls Common Criteria Mode—security standards defined in the Common Criteria for Information Technology Security Evaluation (https://www.commoncriteriaportal.org/) (CC). Enabling Common Criteria Mode increases certain security components on a device, including AES-GCM encryption of Bluetooth Long Term Keys, and Wi-Fi configuration stores.Warning: Common Criteria Mode enforces a strict security model typically only required for IT products used in national security systems and other highly sensitive organizations. Standard device use may be affected. Only enabled if required."
          enum:
            - COMMON_CRITERIA_MODE_UNSPECIFIED
            - COMMON_CRITERIA_MODE_DISABLED
            - COMMON_CRITERIA_MODE_ENABLED
          type: string
        developerSettings:
          description: "Controls access to developer settings: developer options and safe boot. Replaces safeBootDisabled (deprecated) and debuggingFeaturesAllowed (deprecated)."
          enum:
            - DEVELOPER_SETTINGS_UNSPECIFIED
            - DEVELOPER_SETTINGS_DISABLED
            - DEVELOPER_SETTINGS_ALLOWED
          type: string
        googlePlayProtectVerifyApps:
          description: Whether Google Play Protect verification (https://support.google.com/accounts/answer/2812853) is enforced. Replaces ensureVerifyAppsEnabled (deprecated).
          enum:
            - GOOGLE_PLAY_PROTECT_VERIFY_APPS_UNSPECIFIED
            - VERIFY_APPS_ENFORCED
            - VERIFY_APPS_USER_CHOICE
          type: string
        personalAppsThatCanReadWorkNotifications:
          description: Personal apps that can read work profile notifications using a NotificationListenerService (https://developer.android.com/reference/android/service/notification/NotificationListenerService). By default, no personal apps (aside from system apps) can read work notifications. Each value in the list must be a package name.
          items:
            type: string
          type: array
        untrustedAppsPolicy:
          description: The policy for untrusted apps (apps from unknown sources) enforced on the device. Replaces install_unknown_sources_allowed (deprecated).
          enum:
            - UNTRUSTED_APPS_POLICY_UNSPECIFIED
            - DISALLOW_INSTALL
            - ALLOW_INSTALL_IN_PERSONAL_PROFILE_ONLY
            - ALLOW_INSTALL_DEVICE_WIDE
          type: string
      type: object
    AlwaysOnVpnPackage:
      description: Configuration for an always-on VPN connection.
      properties:
        lockdownEnabled:
          description: Disallows networking when the VPN is not connected.
          type: boolean
        packageName:
          description: The package name of the VPN app.
          type: string
      type: object
    ApiLevelCondition:
      description: A compliance rule condition which is satisfied if the Android Framework API level on the device doesn't meet a minimum requirement. There can only be one rule with this type of condition per policy.
      properties:
        minApiLevel:
          description: The minimum desired Android Framework API level. If the device doesn't meet the minimum requirement, this condition is satisfied. Must be greater than zero.
          format: int32
          type: integer
      type: object
    AppProcessInfo:
      description: Information about a process. It contains process name, start time, app Uid, app Pid, seinfo tag, hash of the base APK.
      properties:
        apkSha256Hash:
          description: SHA-256 hash of the base APK, in hexadecimal format.
          type: string
        packageNames:
          description: Package names of all packages that are associated with the particular user ID. In most cases, this will be a single package name, the package that has been assigned that user ID. If multiple application share a UID then all packages sharing UID will be included.
          items:
            type: string
          type: array
        pid:
          description: Process ID.
          format: int32
          type: integer
        processName:
          description: Process name.
          type: string
        seinfo:
          description: SELinux policy info.
          type: string
        startTime:
          description: Process start time.
          format: google-datetime
          type: string
        uid:
          description: UID of the package.
          format: int32
          type: integer
      type: object
    AppProcessStartEvent:
      description: An app process was started. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.
      properties:
        processInfo:
          $ref: "#/components/schemas/AppProcessInfo"
          description: Information about a process.
      type: object
    AppTrackInfo:
      description: Id to name association of a app track.
      properties:
        trackAlias:
          description: The track name associated with the trackId, set in the Play Console. The name is modifiable from Play Console.
          type: string
        trackId:
          description: The unmodifiable unique track identifier, taken from the releaseTrackId in the URL of the Play Console page that displays the app’s track information.
          type: string
      type: object
    AppVersion:
      description: This represents a single version of the app.
      properties:
        production:
          description: If the value is True, it indicates that this version is a production track.
          type: boolean
        trackIds:
          description: Track identifiers that the app version is published in. This does not include the production track (see production instead).
          items:
            type: string
          type: array
        versionCode:
          description: Unique increasing identifier for the app version.
          format: int32
          type: integer
        versionString:
          description: The string used in the Play store by the app developer to identify the version. The string is not necessarily unique or localized (for example, the string could be "1.4").
          type: string
      type: object
    Application:
      description: Information about an app.
      properties:
        appPricing:
          description: Whether this app is free, free with in-app purchases, or paid. If the pricing is unspecified, this means the app is not generally available anymore (even though it might still be available to people who own it).
          enum:
            - APP_PRICING_UNSPECIFIED
            - FREE
            - FREE_WITH_IN_APP_PURCHASE
            - PAID
          type: string
        appTracks:
          description: Application tracks visible to the enterprise.
          items:
            $ref: "#/components/schemas/AppTrackInfo"
          type: array
        appVersions:
          description: Versions currently available for this app.
          items:
            $ref: "#/components/schemas/AppVersion"
          type: array
        author:
          description: The name of the author of the apps (for example, the app developer).
          type: string
        availableCountries:
          description: The countries which this app is available in as per ISO 3166-1 alpha-2.
          items:
            type: string
          type: array
        category:
          description: The app category (e.g. RACING, SOCIAL, etc.)
          type: string
        contentRating:
          description: The content rating for this app.
          enum:
            - CONTENT_RATING_UNSPECIFIED
            - THREE_YEARS
            - SEVEN_YEARS
            - TWELVE_YEARS
            - SIXTEEN_YEARS
            - EIGHTEEN_YEARS
          type: string
        description:
          description: The localized promotional description, if available.
          type: string
        distributionChannel:
          description: How and to whom the package is made available.
          enum:
            - DISTRIBUTION_CHANNEL_UNSPECIFIED
            - PUBLIC_GOOGLE_HOSTED
            - PRIVATE_GOOGLE_HOSTED
            - PRIVATE_SELF_HOSTED
          type: string
        features:
          description: Noteworthy features (if any) of this app.
          items:
            enum:
              - APP_FEATURE_UNSPECIFIED
              - VPN_APP
            type: string
          type: array
        fullDescription:
          description: Full app description, if available.
          type: string
        iconUrl:
          description: A link to an image that can be used as an icon for the app. This image is suitable for use up to a pixel size of 512 x 512.
          type: string
        managedProperties:
          description: The set of managed properties available to be pre-configured for the app.
          items:
            $ref: "#/components/schemas/ManagedProperty"
          type: array
        minAndroidSdkVersion:
          description: The minimum Android SDK necessary to run the app.
          format: int32
          type: integer
        name:
          description: The name of the app in the form enterprises/{enterprise}/applications/{package_name}.
          type: string
        permissions:
          description: The permissions required by the app.
          items:
            $ref: "#/components/schemas/ApplicationPermission"
          type: array
        playStoreUrl:
          description: A link to the (consumer) Google Play details page for the app.
          type: string
        recentChanges:
          description: A localised description of the recent changes made to the app.
          type: string
        screenshotUrls:
          description: A list of screenshot links representing the app.
          items:
            type: string
          type: array
        smallIconUrl:
          description: A link to a smaller image that can be used as an icon for the app. This image is suitable for use up to a pixel size of 128 x 128.
          type: string
        title:
          description: The title of the app. Localized.
          type: string
        updateTime:
          description: Output only. The approximate time (within 7 days) the app was last published.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    ApplicationEvent:
      description: An app-related event.
      properties:
        createTime:
          description: The creation time of the event.
          format: google-datetime
          type: string
        eventType:
          description: App event type.
          enum:
            - APPLICATION_EVENT_TYPE_UNSPECIFIED
            - INSTALLED
            - CHANGED
            - DATA_CLEARED
            - REMOVED
            - REPLACED
            - RESTARTED
            - PINNED
            - UNPINNED
          type: string
      type: object
    ApplicationPermission:
      description: A permission required by the app.
      properties:
        description:
          description: A longer description of the permission, providing more detail on what it affects. Localized.
          type: string
        name:
          description: The name of the permission. Localized.
          type: string
        permissionId:
          description: An opaque string uniquely identifying the permission. Not localized.
          type: string
      type: object
    ApplicationPolicy:
      description: Policy for an individual app.
      properties:
        accessibleTrackIds:
          description: List of the app’s track IDs that a device belonging to the enterprise can access. If the list contains multiple track IDs, devices receive the latest version among all accessible tracks. If the list contains no track IDs, devices only have access to the app’s production track. More details about each track are available in AppTrackInfo.
          items:
            type: string
          type: array
        alwaysOnVpnLockdownExemption:
          description: Specifies whether the app is allowed networking when the VPN is not connected and alwaysOnVpnPackage.lockdownEnabled is enabled. If set to VPN_LOCKDOWN_ENFORCED, the app is not allowed networking, and if set to VPN_LOCKDOWN_EXEMPTION, the app is allowed networking. Only supported on devices running Android 10 and above. If this is not supported by the device, the device will contain a NonComplianceDetail with non_compliance_reason set to API_LEVEL and a fieldPath. If this is not applicable to the app, the device will contain a NonComplianceDetail with non_compliance_reason set to UNSUPPORTED and a fieldPath. The fieldPath is set to applications[i].alwaysOnVpnLockdownExemption, where i is the index of the package in the applications policy.
          enum:
            - ALWAYS_ON_VPN_LOCKDOWN_EXEMPTION_UNSPECIFIED
            - VPN_LOCKDOWN_ENFORCED
            - VPN_LOCKDOWN_EXEMPTION
          type: string
        autoUpdateMode:
          description: Controls the auto-update mode for the app.
          enum:
            - AUTO_UPDATE_MODE_UNSPECIFIED
            - AUTO_UPDATE_DEFAULT
            - AUTO_UPDATE_POSTPONED
            - AUTO_UPDATE_HIGH_PRIORITY
          type: string
        connectedWorkAndPersonalApp:
          description: Controls whether the app can communicate with itself across a device’s work and personal profiles, subject to user consent.
          enum:
            - CONNECTED_WORK_AND_PERSONAL_APP_UNSPECIFIED
            - CONNECTED_WORK_AND_PERSONAL_APP_DISALLOWED
            - CONNECTED_WORK_AND_PERSONAL_APP_ALLOWED
          type: string
        defaultPermissionPolicy:
          description: The default policy for all permissions requested by the app. If specified, this overrides the policy-level default_permission_policy which applies to all apps. It does not override the permission_grants which applies to all apps.
          enum:
            - PERMISSION_POLICY_UNSPECIFIED
            - PROMPT
            - GRANT
            - DENY
          type: string
        delegatedScopes:
          description: The scopes delegated to the app from Android Device Policy.
          items:
            enum:
              - DELEGATED_SCOPE_UNSPECIFIED
              - CERT_INSTALL
              - MANAGED_CONFIGURATIONS
              - BLOCK_UNINSTALL
              - PERMISSION_GRANT
              - PACKAGE_ACCESS
              - ENABLE_SYSTEM_APP
              - NETWORK_ACTIVITY_LOGS
              - SECURITY_LOGS
            type: string
          type: array
        disabled:
          description: Whether the app is disabled. When disabled, the app data is still preserved.
          type: boolean
        extensionConfig:
          $ref: "#/components/schemas/ExtensionConfig"
          description: Configuration to enable this app as an extension app, with the capability of interacting with Android Device Policy offline.This field can be set for at most one app.
        installType:
          description: The type of installation to perform.
          enum:
            - INSTALL_TYPE_UNSPECIFIED
            - PREINSTALLED
            - FORCE_INSTALLED
            - BLOCKED
            - AVAILABLE
            - REQUIRED_FOR_SETUP
            - KIOSK
          type: string
        lockTaskAllowed:
          description: Whether the app is allowed to lock itself in full-screen mode. DEPRECATED. Use InstallType KIOSK or kioskCustomLauncherEnabled to configure a dedicated device.
          type: boolean
        managedConfiguration:
          additionalProperties:
            description: Properties of the object.
          description: "Managed configuration applied to the app. The format for the configuration is dictated by the ManagedProperty values supported by the app. Each field name in the managed configuration must match the key field of the ManagedProperty. The field value must be compatible with the type of the ManagedProperty: *type* *JSON value* BOOL true or false STRING string INTEGER number CHOICE string MULTISELECT array of strings HIDDEN string BUNDLE_ARRAY array of objects "
          type: object
        managedConfigurationTemplate:
          $ref: "#/components/schemas/ManagedConfigurationTemplate"
          description: The managed configurations template for the app, saved from the managed configurations iframe. This field is ignored if managed_configuration is set.
        minimumVersionCode:
          description: The minimum version of the app that runs on the device. If set, the device attempts to update the app to at least this version code. If the app is not up-to-date, the device will contain a NonComplianceDetail with non_compliance_reason set to APP_NOT_UPDATED. The app must already be published to Google Play with a version code greater than or equal to this value. At most 20 apps may specify a minimum version code per policy.
          format: int32
          type: integer
        packageName:
          description: The package name of the app. For example, com.google.android.youtube for the YouTube app.
          type: string
        permissionGrants:
          description: Explicit permission grants or denials for the app. These values override the default_permission_policy and permission_grants which apply to all apps.
          items:
            $ref: "#/components/schemas/PermissionGrant"
          type: array
        workProfileWidgets:
          description: Specifies whether the app installed in the work profile is allowed to add widgets to the home screen.
          enum:
            - WORK_PROFILE_WIDGETS_UNSPECIFIED
            - WORK_PROFILE_WIDGETS_ALLOWED
            - WORK_PROFILE_WIDGETS_DISALLOWED
          type: string
      type: object
    ApplicationReport:
      description: Information reported about an installed app.
      properties:
        applicationSource:
          description: The source of the package.
          enum:
            - APPLICATION_SOURCE_UNSPECIFIED
            - SYSTEM_APP_FACTORY_VERSION
            - SYSTEM_APP_UPDATED_VERSION
            - INSTALLED_FROM_PLAY_STORE
          type: string
        displayName:
          description: The display name of the app.
          type: string
        events:
          description: The list of app events which have occurred in the last 30 hours.
          items:
            $ref: "#/components/schemas/ApplicationEvent"
          type: array
        installerPackageName:
          description: The package name of the app that installed this app.
          type: string
        keyedAppStates:
          description: List of keyed app states reported by the app.
          items:
            $ref: "#/components/schemas/KeyedAppState"
          type: array
        packageName:
          description: Package name of the app.
          type: string
        packageSha256Hash:
          description: The SHA-256 hash of the app's APK file, which can be used to verify the app hasn't been modified. Each byte of the hash value is represented as a two-digit hexadecimal number.
          type: string
        signingKeyCertFingerprints:
          description: The SHA-1 hash of each android.content.pm.Signature (https://developer.android.com/reference/android/content/pm/Signature.html) associated with the app package. Each byte of each hash value is represented as a two-digit hexadecimal number.
          items:
            type: string
          type: array
        state:
          description: Application state.
          enum:
            - APPLICATION_STATE_UNSPECIFIED
            - REMOVED
            - INSTALLED
          type: string
        versionCode:
          description: The app version code, which can be used to determine whether one version is more recent than another.
          format: int32
          type: integer
        versionName:
          description: The app version as displayed to the user.
          type: string
      type: object
    ApplicationReportingSettings:
      description: Settings controlling the behavior of application reports.
      properties:
        includeRemovedApps:
          description: Whether removed apps are included in application reports.
          type: boolean
      type: object
    BatchUsageLogEvents:
      description: Batched event logs of events from the device.
      properties:
        device:
          description: The name of the device in the form ‘enterprises/{enterpriseId}/devices/{deviceId}’
          type: string
        retrievalTime:
          description: The device timestamp when the batch of events were collected from the device.
          format: google-datetime
          type: string
        usageLogEvents:
          description: The list of UsageLogEvent that were reported by the device, sorted chronologically by the event time.
          items:
            $ref: "#/components/schemas/UsageLogEvent"
          type: array
        user:
          description: The resource name of the user that owns this device in the form ‘enterprises/{enterpriseId}/users/{userId}’.
          type: string
      type: object
    BlockAction:
      description: "An action to block access to apps and data on a fully managed device or in a work profile. This action also triggers a device or work profile to displays a user-facing notification with information (where possible) on how to correct the compliance issue. Note: wipeAction must also be specified."
      properties:
        blockAfterDays:
          description: Number of days the policy is non-compliant before the device or work profile is blocked. To block access immediately, set to 0. blockAfterDays must be less than wipeAfterDays.
          format: int32
          type: integer
        blockScope:
          description: Specifies the scope of this BlockAction. Only applicable to devices that are company-owned.
          enum:
            - BLOCK_SCOPE_UNSPECIFIED
            - BLOCK_SCOPE_WORK_PROFILE
            - BLOCK_SCOPE_DEVICE
          type: string
      type: object
    CertAuthorityInstalledEvent:
      description: A new root certificate was installed into the system's trusted credential storage. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.
      properties:
        certificate:
          description: Subject of the certificate.
          type: string
        success:
          description: Whether the installation event succeeded.
          type: boolean
        userId:
          description: The user in which the certificate install event happened. Only available for devices running Android 11 and above.
          format: int32
          type: integer
      type: object
    CertAuthorityRemovedEvent:
      description: A root certificate was removed from the system's trusted credential storage. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.
      properties:
        certificate:
          description: Subject of the certificate.
          type: string
        success:
          description: Whether the removal succeeded.
          type: boolean
        userId:
          description: The user in which the certificate removal event occurred. Only available for devices running Android 11 and above.
          format: int32
          type: integer
      type: object
    CertValidationFailureEvent:
      description: An X.509v3 certificate failed to validate, currently this validation is performed on the Wi-FI access point and failure may be due to a mismatch upon server certificate validation. However it may in the future include other validation events of an X.509v3 certificate.
      properties:
        failureReason:
          description: The reason why certification validation failed.
          type: string
      type: object
    ChoosePrivateKeyRule:
      description: Controls apps' access to private keys. The rule determines which private key, if any, Android Device Policy grants to the specified app. Access is granted either when the app calls KeyChain.choosePrivateKeyAlias (https://developer.android.com/reference/android/security/KeyChain#choosePrivateKeyAlias%28android.app.Activity,%20android.security.KeyChainAliasCallback,%20java.lang.String[],%20java.security.Principal[],%20java.lang.String,%20int,%20java.lang.String%29) (or any overloads) to request a private key alias for a given URL, or for rules that are not URL-specific (that is, if urlPattern is not set, or set to the empty string or .*) on Android 11 and above, directly so that the app can call KeyChain.getPrivateKey (https://developer.android.com/reference/android/security/KeyChain#getPrivateKey%28android.content.Context,%20java.lang.String%29), without first having to call KeyChain.choosePrivateKeyAlias.When an app calls KeyChain.choosePrivateKeyAlias if more than one choosePrivateKeyRules matches, the last matching rule defines which key alias to return.
      properties:
        packageNames:
          description: The package names to which this rule applies. The hash of the signing certificate for each app is verified against the hash provided by Play. If no package names are specified, then the alias is provided to all apps that call KeyChain.choosePrivateKeyAlias (https://developer.android.com/reference/android/security/KeyChain#choosePrivateKeyAlias%28android.app.Activity,%20android.security.KeyChainAliasCallback,%20java.lang.String[],%20java.security.Principal[],%20java.lang.String,%20int,%20java.lang.String%29) or any overloads (but not without calling KeyChain.choosePrivateKeyAlias, even on Android 11 and above). Any app with the same Android UID as a package specified here will have access when they call KeyChain.choosePrivateKeyAlias.
          items:
            type: string
          type: array
        privateKeyAlias:
          description: The alias of the private key to be used.
          type: string
        urlPattern:
          description: The URL pattern to match against the URL of the request. If not set or empty, it matches all URLs. This uses the regular expression syntax of java.util.regex.Pattern.
          type: string
      type: object
    ClearAppsDataParams:
      description: Parameters associated with the CLEAR_APP_DATA command to clear the data of specified apps from the device.
      properties:
        packageNames:
          description: The package names of the apps whose data will be cleared when the command is executed.
          items:
            type: string
          type: array
      type: object
    ClearAppsDataStatus:
      description: Status of the CLEAR_APP_DATA command to clear the data of specified apps from the device.
      properties:
        results:
          additionalProperties:
            $ref: "#/components/schemas/PerAppResult"
          description: The per-app results, a mapping from package names to the respective clearing result.
          type: object
      type: object
    Command:
      description: A command.
      properties:
        clearAppsDataParams:
          $ref: "#/components/schemas/ClearAppsDataParams"
          description: Parameters for the CLEAR_APP_DATA command to clear the data of specified apps from the device. See ClearAppsDataParams. If this is set, then it is suggested that type should not be set. In this case, the server automatically sets it to CLEAR_APP_DATA. It is also acceptable to explicitly set type to CLEAR_APP_DATA.
        clearAppsDataStatus:
          $ref: "#/components/schemas/ClearAppsDataStatus"
          description: Output only. Status of the CLEAR_APP_DATA command to clear the data of specified apps from the device. See ClearAppsDataStatus.
          readOnly: true
        createTime:
          description: The timestamp at which the command was created. The timestamp is automatically generated by the server.
          format: google-datetime
          type: string
        duration:
          description: The duration for which the command is valid. The command will expire if not executed by the device during this time. The default duration if unspecified is ten minutes. There is no maximum duration.
          format: google-duration
          type: string
        errorCode:
          description: If the command failed, an error code explaining the failure. This is not set when the command is cancelled by the caller.
          enum:
            - COMMAND_ERROR_CODE_UNSPECIFIED
            - UNKNOWN
            - API_LEVEL
            - MANAGEMENT_MODE
            - INVALID_VALUE
            - UNSUPPORTED
          type: string
        newPassword:
          description: For commands of type RESET_PASSWORD, optionally specifies the new password.
          type: string
        resetPasswordFlags:
          description: For commands of type RESET_PASSWORD, optionally specifies flags.
          items:
            enum:
              - RESET_PASSWORD_FLAG_UNSPECIFIED
              - REQUIRE_ENTRY
              - DO_NOT_ASK_CREDENTIALS_ON_BOOT
              - LOCK_NOW
            type: string
          type: array
        type:
          description: The type of the command.
          enum:
            - COMMAND_TYPE_UNSPECIFIED
            - LOCK
            - RESET_PASSWORD
            - REBOOT
            - RELINQUISH_OWNERSHIP
            - CLEAR_APP_DATA
          type: string
        userName:
          description: The resource name of the user that owns the device in the form enterprises/{enterpriseId}/users/{userId}. This is automatically generated by the server based on the device the command is sent to.
          type: string
      type: object
    CommonCriteriaModeInfo:
      description: Information about Common Criteria Mode—security standards defined in the Common Criteria for Information Technology Security Evaluation (https://www.commoncriteriaportal.org/) (CC).This information is only available if statusReportingSettings.commonCriteriaModeEnabled is true in the device's policy.
      properties:
        commonCriteriaModeStatus:
          description: Whether Common Criteria Mode is enabled.
          enum:
            - COMMON_CRITERIA_MODE_STATUS_UNKNOWN
            - COMMON_CRITERIA_MODE_DISABLED
            - COMMON_CRITERIA_MODE_ENABLED
          type: string
      type: object
    ComplianceRule:
      description: A rule declaring which mitigating actions to take when a device is not compliant with its policy. For every rule, there is always an implicit mitigating action to set policy_compliant to false for the Device resource, and display a message on the device indicating that the device is not compliant with its policy. Other mitigating actions may optionally be taken as well, depending on the field values in the rule.
      properties:
        apiLevelCondition:
          $ref: "#/components/schemas/ApiLevelCondition"
          description: A condition which is satisfied if the Android Framework API level on the device doesn't meet a minimum requirement.
        disableApps:
          description: If set to true, the rule includes a mitigating action to disable apps so that the device is effectively disabled, but app data is preserved. If the device is running an app in locked task mode, the app will be closed and a UI showing the reason for non-compliance will be displayed.
          type: boolean
        nonComplianceDetailCondition:
          $ref: "#/components/schemas/NonComplianceDetailCondition"
          description: A condition which is satisfied if there exists any matching NonComplianceDetail for the device.
        packageNamesToDisable:
          description: If set, the rule includes a mitigating action to disable apps specified in the list, but app data is preserved.
          items:
            type: string
          type: array
      type: object
    ConnectEvent:
      description: A TCP connect event was initiated through the standard network stack.
      properties:
        destinationIpAddress:
          description: The destination IP address of the connect call.
          type: string
        destinationPort:
          description: The destination port of the connect call.
          format: int32
          type: integer
        packageName:
          description: The package name of the UID that performed the connect call.
          type: string
      type: object
    ContactInfo:
      description: Contact details for managed Google Play enterprises.
      properties:
        contactEmail:
          description: Email address for a point of contact, which will be used to send important announcements related to managed Google Play.
          type: string
        dataProtectionOfficerEmail:
          description: The email of the data protection officer. The email is validated but not verified.
          type: string
        dataProtectionOfficerName:
          description: The name of the data protection officer.
          type: string
        dataProtectionOfficerPhone:
          description: The phone number of the data protection officer The phone number is validated but not verified.
          type: string
        euRepresentativeEmail:
          description: The email of the EU representative. The email is validated but not verified.
          type: string
        euRepresentativeName:
          description: The name of the EU representative.
          type: string
        euRepresentativePhone:
          description: The phone number of the EU representative. The phone number is validated but not verified.
          type: string
      type: object
    ContentProviderEndpoint:
      description: This feature is not generally available.
      properties:
        packageName:
          description: This feature is not generally available.
          type: string
        signingCertsSha256:
          description: Required. This feature is not generally available.
          items:
            type: string
          type: array
        uri:
          description: This feature is not generally available.
          type: string
      type: object
    CrossProfilePolicies:
      description: Cross-profile policies applied on the device.
      properties:
        crossProfileCopyPaste:
          description: Whether text copied from one profile (personal or work) can be pasted in the other profile.
          enum:
            - CROSS_PROFILE_COPY_PASTE_UNSPECIFIED
            - COPY_FROM_WORK_TO_PERSONAL_DISALLOWED
            - CROSS_PROFILE_COPY_PASTE_ALLOWED
          type: string
        crossProfileDataSharing:
          description: Whether data from one profile (personal or work) can be shared with apps in the other profile. Specifically controls simple data sharing via intents. Management of other cross-profile communication channels, such as contact search, copy/paste, or connected work & personal apps, are configured separately.
          enum:
            - CROSS_PROFILE_DATA_SHARING_UNSPECIFIED
            - CROSS_PROFILE_DATA_SHARING_DISALLOWED
            - DATA_SHARING_FROM_WORK_TO_PERSONAL_DISALLOWED
            - CROSS_PROFILE_DATA_SHARING_ALLOWED
          type: string
        showWorkContactsInPersonalProfile:
          description: Whether contacts stored in the work profile can be shown in personal profile contact searches and incoming calls.
          enum:
            - SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_UNSPECIFIED
            - SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_DISALLOWED
            - SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_ALLOWED
          type: string
        workProfileWidgetsDefault:
          description: Specifies the default behaviour for work profile widgets. If the policy does not specify work_profile_widgets for a specific application, it will behave according to the value specified here.
          enum:
            - WORK_PROFILE_WIDGETS_DEFAULT_UNSPECIFIED
            - WORK_PROFILE_WIDGETS_DEFAULT_ALLOWED
            - WORK_PROFILE_WIDGETS_DEFAULT_DISALLOWED
          type: string
      type: object
    CryptoSelfTestCompletedEvent:
      description: Validates whether Android’s built-in cryptographic library (BoringSSL) is valid. Should always succeed on device boot, if it fails, the device should be considered untrusted.
      properties:
        success:
          description: Whether the test succeeded.
          type: boolean
      type: object
    Date:
      description: "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: A full date, with non-zero year, month, and day values. A month and day, with a zero year (for example, an anniversary). A year on its own, with a zero month and a zero day. A year and month, with a zero day (for example, a credit card expiration date).Related types: google.type.TimeOfDay google.type.DateTime google.protobuf.Timestamp"
      properties:
        day:
          description: Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.
          format: int32
          type: integer
        month:
          description: Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.
          format: int32
          type: integer
        year:
          description: Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.
          format: int32
          type: integer
      type: object
    Device:
      description: A device owned by an enterprise. Unless otherwise noted, all fields are read-only and can't be modified by enterprises.devices.patch.
      properties:
        apiLevel:
          description: The API level of the Android platform version running on the device.
          format: int32
          type: integer
        applicationReports:
          description: Reports for apps installed on the device. This information is only available when application_reports_enabled is true in the device's policy.
          items:
            $ref: "#/components/schemas/ApplicationReport"
          type: array
        appliedPasswordPolicies:
          description: The password requirements currently applied to the device. The applied requirements may be slightly different from those specified in passwordPolicies in some cases. fieldPath is set based on passwordPolicies.
          items:
            $ref: "#/components/schemas/PasswordRequirements"
          type: array
        appliedPolicyName:
          description: The name of the policy currently applied to the device.
          type: string
        appliedPolicyVersion:
          description: The version of the policy currently applied to the device.
          format: int64
          type: string
        appliedState:
          description: The state currently applied to the device.
          enum:
            - DEVICE_STATE_UNSPECIFIED
            - ACTIVE
            - DISABLED
            - DELETED
            - PROVISIONING
          type: string
        commonCriteriaModeInfo:
          $ref: "#/components/schemas/CommonCriteriaModeInfo"
          description: Information about Common Criteria Mode—security standards defined in the Common Criteria for Information Technology Security Evaluation (https://www.commoncriteriaportal.org/) (CC).This information is only available if statusReportingSettings.commonCriteriaModeEnabled is true in the device's policy.
        deviceSettings:
          $ref: "#/components/schemas/DeviceSettings"
          description: Device settings information. This information is only available if deviceSettingsEnabled is true in the device's policy.
        disabledReason:
          $ref: "#/components/schemas/UserFacingMessage"
          description: If the device state is DISABLED, an optional message that is displayed on the device indicating the reason the device is disabled. This field can be modified by a patch request.
        displays:
          description: Detailed information about displays on the device. This information is only available if displayInfoEnabled is true in the device's policy.
          items:
            $ref: "#/components/schemas/Display"
          type: array
        enrollmentTime:
          description: The time of device enrollment.
          format: google-datetime
          type: string
        enrollmentTokenData:
          description: If the device was enrolled with an enrollment token with additional data provided, this field contains that data.
          type: string
        enrollmentTokenName:
          description: If the device was enrolled with an enrollment token, this field contains the name of the token.
          type: string
        hardwareInfo:
          $ref: "#/components/schemas/HardwareInfo"
          description: Detailed information about the device hardware.
        hardwareStatusSamples:
          description: Hardware status samples in chronological order. This information is only available if hardwareStatusEnabled is true in the device's policy.
          items:
            $ref: "#/components/schemas/HardwareStatus"
          type: array
        lastPolicyComplianceReportTime:
          description: Deprecated.
          format: google-datetime
          type: string
        lastPolicySyncTime:
          description: The last time the device fetched its policy.
          format: google-datetime
          type: string
        lastStatusReportTime:
          description: The last time the device sent a status report.
          format: google-datetime
          type: string
        managementMode:
          description: The type of management mode Android Device Policy takes on the device. This influences which policy settings are supported.
          enum:
            - MANAGEMENT_MODE_UNSPECIFIED
            - DEVICE_OWNER
            - PROFILE_OWNER
          type: string
        memoryEvents:
          description: Events related to memory and storage measurements in chronological order. This information is only available if memoryInfoEnabled is true in the device's policy.
          items:
            $ref: "#/components/schemas/MemoryEvent"
          type: array
        memoryInfo:
          $ref: "#/components/schemas/MemoryInfo"
          description: "Memory information: contains information about device memory and storage."
        name:
          description: The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.
          type: string
        networkInfo:
          $ref: "#/components/schemas/NetworkInfo"
          description: Device network information. This information is only available if networkInfoEnabled is true in the device's policy.
        nonComplianceDetails:
          description: Details about policy settings that the device is not compliant with.
          items:
            $ref: "#/components/schemas/NonComplianceDetail"
          type: array
        ownership:
          description: Ownership of the managed device.
          enum:
            - OWNERSHIP_UNSPECIFIED
            - COMPANY_OWNED
            - PERSONALLY_OWNED
          type: string
        policyCompliant:
          description: Whether the device is compliant with its policy.
          type: boolean
        policyName:
          description: The name of the policy applied to the device, in the form enterprises/{enterpriseId}/policies/{policyId}. If not specified, the policy_name for the device's user is applied. This field can be modified by a patch request. You can specify only the policyId when calling enterprises.devices.patch, as long as the policyId doesn’t contain any slashes. The rest of the policy name is inferred.
          type: string
        powerManagementEvents:
          description: Power management events on the device in chronological order. This information is only available if powerManagementEventsEnabled is true in the device's policy.
          items:
            $ref: "#/components/schemas/PowerManagementEvent"
          type: array
        previousDeviceNames:
          description: If the same physical device has been enrolled multiple times, this field contains its previous device names. The serial number is used as the unique identifier to determine if the same physical device has enrolled previously. The names are in chronological order.
          items:
            type: string
          type: array
        securityPosture:
          $ref: "#/components/schemas/SecurityPosture"
          description: Device's security posture value that reflects how secure the device is.
        softwareInfo:
          $ref: "#/components/schemas/SoftwareInfo"
          description: Detailed information about the device software. This information is only available if softwareInfoEnabled is true in the device's policy.
        state:
          description: The state to be applied to the device. This field can be modified by a patch request. Note that when calling enterprises.devices.patch, ACTIVE and DISABLED are the only allowable values. To enter the device into a DELETED state, call enterprises.devices.delete.
          enum:
            - DEVICE_STATE_UNSPECIFIED
            - ACTIVE
            - DISABLED
            - DELETED
            - PROVISIONING
          type: string
        systemProperties:
          additionalProperties:
            type: string
          description: Map of selected system properties name and value related to the device. This information is only available if systemPropertiesEnabled is true in the device's policy.
          type: object
        user:
          $ref: "#/components/schemas/User"
          description: The user who owns the device.
        userName:
          description: The resource name of the user that owns this device in the form enterprises/{enterpriseId}/users/{userId}.
          type: string
      type: object
    DeviceSettings:
      description: Information about security related device settings on device.
      properties:
        adbEnabled:
          description: Whether ADB (https://developer.android.com/studio/command-line/adb.html) is enabled on the device.
          type: boolean
        developmentSettingsEnabled:
          description: Whether developer mode is enabled on the device.
          type: boolean
        encryptionStatus:
          description: Encryption status from DevicePolicyManager.
          enum:
            - ENCRYPTION_STATUS_UNSPECIFIED
            - UNSUPPORTED
            - INACTIVE
            - ACTIVATING
            - ACTIVE
            - ACTIVE_DEFAULT_KEY
            - ACTIVE_PER_USER
          type: string
        isDeviceSecure:
          description: Whether the device is secured with PIN/password.
          type: boolean
        isEncrypted:
          description: Whether the storage encryption is enabled.
          type: boolean
        unknownSourcesEnabled:
          description: Whether installing apps from unknown sources is enabled.
          type: boolean
        verifyAppsEnabled:
          description: Whether Google Play Protect verification (https://support.google.com/accounts/answer/2812853) is enforced on the device.
          type: boolean
      type: object
    Display:
      description: Device display information.
      properties:
        density:
          description: Display density expressed as dots-per-inch.
          format: int32
          type: integer
        displayId:
          description: Unique display id.
          format: int32
          type: integer
        height:
          description: Display height in pixels.
          format: int32
          type: integer
        name:
          description: Name of the display.
          type: string
        refreshRate:
          description: Refresh rate of the display in frames per second.
          format: int32
          type: integer
        state:
          description: State of the display.
          enum:
            - DISPLAY_STATE_UNSPECIFIED
            - OFF
            - ON
            - DOZE
            - SUSPENDED
          type: string
        width:
          description: Display width in pixels.
          format: int32
          type: integer
      type: object
    DnsEvent:
      description: A DNS lookup event was initiated through the standard network stack.
      properties:
        hostname:
          description: The hostname that was looked up.
          type: string
        ipAddresses:
          description: The (possibly truncated) list of the IP addresses returned for DNS lookup (max 10 IPv4 or IPv6 addresses).
          items:
            type: string
          type: array
        packageName:
          description: The package name of the UID that performed the DNS lookup.
          type: string
        totalIpAddressesReturned:
          description: The number of IP addresses returned from the DNS lookup event. May be higher than the amount of ip_addresses if there were too many addresses to log.
          format: int64
          type: string
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } "
      properties: {}
      type: object
    EnrollmentToken:
      description: An enrollment token.
      properties:
        additionalData:
          description: Optional, arbitrary data associated with the enrollment token. This could contain, for example, the ID of an org unit the device is assigned to after enrollment. After a device enrolls with the token, this data will be exposed in the enrollment_token_data field of the Device resource. The data must be 1024 characters or less; otherwise, the creation request will fail.
          type: string
        allowPersonalUsage:
          description: "Controls whether personal usage is allowed on a device provisioned with this enrollment token.For company-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage requires the user provision the device as a fully managed device.For personally-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage will prevent the device from provisioning. Personal usage cannot be disabled on personally-owned device."
          enum:
            - ALLOW_PERSONAL_USAGE_UNSPECIFIED
            - PERSONAL_USAGE_ALLOWED
            - PERSONAL_USAGE_DISALLOWED
          type: string
        duration:
          description: The length of time the enrollment token is valid, ranging from 1 minute to Durations.MAX_VALUE (https://developers.google.com/protocol-buffers/docs/reference/java/com/google/protobuf/util/Durations.html#MAX_VALUE), approximately 10,000 years. If not specified, the default duration is 1 hour. Please note that if requested duration causes the resulting expiration_timestamp to exceed Timestamps.MAX_VALUE (https://developers.google.com/protocol-buffers/docs/reference/java/com/google/protobuf/util/Timestamps.html#MAX_VALUE), then expiration_timestamp is coerced to Timestamps.MAX_VALUE.
          format: google-duration
          type: string
        expirationTimestamp:
          description: The expiration time of the token. This is a read-only field generated by the server.
          format: google-datetime
          type: string
        name:
          description: The name of the enrollment token, which is generated by the server during creation, in the form enterprises/{enterpriseId}/enrollmentTokens/{enrollmentTokenId}.
          type: string
        oneTimeOnly:
          description: Whether the enrollment token is for one time use only. If the flag is set to true, only one device can use it for registration.
          type: boolean
        policyName:
          description: The name of the policy initially applied to the enrolled device, in the form enterprises/{enterpriseId}/policies/{policyId}. If not specified, the policy_name for the device’s user is applied. If user_name is also not specified, enterprises/{enterpriseId}/policies/default is applied by default. When updating this field, you can specify only the policyId as long as the policyId doesn’t contain any slashes. The rest of the policy name will be inferred.
          type: string
        qrCode:
          description: A JSON string whose UTF-8 representation can be used to generate a QR code to enroll a device with this enrollment token. To enroll a device using NFC, the NFC record must contain a serialized java.util.Properties representation of the properties in the JSON.
          type: string
        user:
          $ref: "#/components/schemas/User"
          description: The user associated with this enrollment token. If it's specified when the enrollment token is created and the user does not exist, the user will be created. This field must not contain personally identifiable information. Only the account_identifier field needs to be set.
        value:
          description: The token value that's passed to the device and authorizes the device to enroll. This is a read-only field generated by the server.
          type: string
      type: object
    Enterprise:
      description: The configuration applied to an enterprise.
      properties:
        appAutoApprovalEnabled:
          description: Deprecated and unused.
          type: boolean
        contactInfo:
          $ref: "#/components/schemas/ContactInfo"
          description: The enterprise contact info of an EMM-managed enterprise.
        enabledNotificationTypes:
          description: The types of Google Pub/Sub notifications enabled for the enterprise.
          items:
            enum:
              - NOTIFICATION_TYPE_UNSPECIFIED
              - ENROLLMENT
              - COMPLIANCE_REPORT
              - STATUS_REPORT
              - COMMAND
              - USAGE_LOGS
            type: string
          type: array
        enterpriseDisplayName:
          description: The name of the enterprise displayed to users. This field has a maximum length of 100 characters.
          type: string
        logo:
          $ref: "#/components/schemas/ExternalData"
          description: "An image displayed as a logo during device provisioning. Supported types are: image/bmp, image/gif, image/x-ico, image/jpeg, image/png, image/webp, image/vnd.wap.wbmp, image/x-adobe-dng."
        name:
          description: The name of the enterprise which is generated by the server during creation, in the form enterprises/{enterpriseId}.
          type: string
        primaryColor:
          description: "A color in RGB format that indicates the predominant color to display in the device management app UI. The color components are stored as follows: (red << 16) | (green << 8) | blue, where the value of each component is between 0 and 255, inclusive."
          format: int32
          type: integer
        pubsubTopic:
          description: The topic which Pub/Sub notifications are published to, in the form projects/{project}/topics/{topic}. This field is only required if Pub/Sub notifications are enabled.
          type: string
        signinDetails:
          description: Sign-in details of the enterprise.
          items:
            $ref: "#/components/schemas/SigninDetail"
          type: array
        termsAndConditions:
          description: Terms and conditions that must be accepted when provisioning a device for this enterprise. A page of terms is generated for each value in this list.
          items:
            $ref: "#/components/schemas/TermsAndConditions"
          type: array
      type: object
    ExtensionConfig:
      description: Configuration to enable an app as an extension app, with the capability of interacting with Android Device Policy offline. For Android versions 13 and above, extension apps are exempt from battery restrictions so will not be placed into the restricted App Standby Bucket (https://developer.android.com/topic/performance/appstandby#restricted-bucket). Extensions apps are also protected against users clearing their data or force-closing the application, although admins can continue to use the clear app data command (https://developer.android.com/management/reference/rest/v1/enterprises.devices/issueCommand#CommandType) on extension apps if needed for Android 13 and above.
      properties:
        notificationReceiver:
          description: Fully qualified class name of the receiver service class for Android Device Policy to notify the extension app of any local command status updates.
          type: string
        signingKeyFingerprintsSha256:
          description: Hex-encoded SHA-256 hash of the signing certificate of the extension app. Only hexadecimal string representations of 64 characters are valid.If not specified, the signature for the corresponding package name is obtained from the Play Store instead.If this list is empty, the signature of the extension app on the device must match the signature obtained from the Play Store for the app to be able to communicate with Android Device Policy.If this list is not empty, the signature of the extension app on the device must match one of the entries in this list for the app to be able to communicate with Android Device Policy.In production use cases, it is recommended to leave this empty.
          items:
            type: string
          type: array
      type: object
    ExternalData:
      description: Data hosted at an external location. The data is to be downloaded by Android Device Policy and verified against the hash.
      properties:
        sha256Hash:
          description: The base-64 encoded SHA-256 hash of the content hosted at url. If the content doesn't match this hash, Android Device Policy won't use the data.
          type: string
        url:
          description: The absolute URL to the data, which must use either the http or https scheme. Android Device Policy doesn't provide any credentials in the GET request, so the URL must be publicly accessible. Including a long, random component in the URL may be used to prevent attackers from discovering the URL.
          type: string
      type: object
    FilePulledEvent:
      description: A file was downloaded from the device.
      properties:
        filePath:
          description: The path of the file being pulled.
          type: string
      type: object
    FilePushedEvent:
      description: A file was uploaded onto the device.
      properties:
        filePath:
          description: The path of the file being pushed.
          type: string
      type: object
    FreezePeriod:
      description: "A system freeze period. When a device’s clock is within the freeze period, all incoming system updates (including security patches) are blocked and won’t be installed. When a device is outside the freeze period, normal update behavior applies. Leap years are ignored in freeze period calculations, in particular: * If Feb. 29th is set as the start or end date of a freeze period, the freeze period will start or end on Feb. 28th instead. * When a device’s system clock reads Feb. 29th, it’s treated as Feb. 28th. * When calculating the number of days in a freeze period or the time between two freeze periods, Feb. 29th is ignored and not counted as a day.Note: For Freeze Periods to take effect, SystemUpdateType cannot be specified as SYSTEM_UPDATE_TYPE_UNSPECIFIED, because freeze periods require a defined policy to be specified."
      properties:
        endDate:
          $ref: "#/components/schemas/Date"
          description: 'The end date (inclusive) of the freeze period. Must be no later than 90 days from the start date. If the end date is earlier than the start date, the freeze period is considered wrapping year-end. Note: year must not be set. For example, {"month": 1,"date": 30}.'
        startDate:
          $ref: "#/components/schemas/Date"
          description: 'The start date (inclusive) of the freeze period. Note: year must not be set. For example, {"month": 1,"date": 30}.'
      type: object
    HardwareInfo:
      description: Information about device hardware. The fields related to temperature thresholds are only available if hardwareStatusEnabled is true in the device's policy.
      properties:
        batteryShutdownTemperatures:
          description: Battery shutdown temperature thresholds in Celsius for each battery on the device.
          items:
            format: float
            type: number
          type: array
        batteryThrottlingTemperatures:
          description: Battery throttling temperature thresholds in Celsius for each battery on the device.
          items:
            format: float
            type: number
          type: array
        brand:
          description: Brand of the device. For example, Google.
          type: string
        cpuShutdownTemperatures:
          description: CPU shutdown temperature thresholds in Celsius for each CPU on the device.
          items:
            format: float
            type: number
          type: array
        cpuThrottlingTemperatures:
          description: CPU throttling temperature thresholds in Celsius for each CPU on the device.
          items:
            format: float
            type: number
          type: array
        deviceBasebandVersion:
          description: Baseband version. For example, MDM9625_104662.22.05.34p.
          type: string
        enterpriseSpecificId:
          description: Output only. ID that uniquely identifies a personally-owned device in a particular organization. On the same physical device when enrolled with the same organization, this ID persists across setups and even factory resets. This ID is available on personally-owned devices with a work profile on devices running Android 12 and above.
          readOnly: true
          type: string
        gpuShutdownTemperatures:
          description: GPU shutdown temperature thresholds in Celsius for each GPU on the device.
          items:
            format: float
            type: number
          type: array
        gpuThrottlingTemperatures:
          description: GPU throttling temperature thresholds in Celsius for each GPU on the device.
          items:
            format: float
            type: number
          type: array
        hardware:
          description: Name of the hardware. For example, Angler.
          type: string
        manufacturer:
          description: Manufacturer. For example, Motorola.
          type: string
        model:
          description: The model of the device. For example, Asus Nexus 7.
          type: string
        serialNumber:
          description: The device serial number.
          type: string
        skinShutdownTemperatures:
          description: Device skin shutdown temperature thresholds in Celsius.
          items:
            format: float
            type: number
          type: array
        skinThrottlingTemperatures:
          description: Device skin throttling temperature thresholds in Celsius.
          items:
            format: float
            type: number
          type: array
      type: object
    HardwareStatus:
      description: Hardware status. Temperatures may be compared to the temperature thresholds available in hardwareInfo to determine hardware health.
      properties:
        batteryTemperatures:
          description: Current battery temperatures in Celsius for each battery on the device.
          items:
            format: float
            type: number
          type: array
        cpuTemperatures:
          description: Current CPU temperatures in Celsius for each CPU on the device.
          items:
            format: float
            type: number
          type: array
        cpuUsages:
          description: CPU usages in percentage for each core available on the device. Usage is 0 for each unplugged core. Empty array implies that CPU usage is not supported in the system.
          items:
            format: float
            type: number
          type: array
        createTime:
          description: The time the measurements were taken.
          format: google-datetime
          type: string
        fanSpeeds:
          description: Fan speeds in RPM for each fan on the device. Empty array means that there are no fans or fan speed is not supported on the system.
          items:
            format: float
            type: number
          type: array
        gpuTemperatures:
          description: Current GPU temperatures in Celsius for each GPU on the device.
          items:
            format: float
            type: number
          type: array
        skinTemperatures:
          description: Current device skin temperatures in Celsius.
          items:
            format: float
            type: number
          type: array
      type: object
    IssueCommandResponse:
      description: Response on issuing a command. This is currently empty as a placeholder.
      properties: {}
      type: object
    KeyDestructionEvent:
      description: A cryptographic key including user installed, admin installed and system maintained private key is removed from the device either by the user or management. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.
      properties:
        applicationUid:
          description: UID of the application which owns the key.
          format: int32
          type: integer
        keyAlias:
          description: Alias of the key.
          type: string
        success:
          description: Whether the operation was successful.
          type: boolean
      type: object
    KeyGeneratedEvent:
      description: A cryptographic key including user installed, admin installed and system maintained private key is installed on the device either by the user or management.This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.
      properties:
        applicationUid:
          description: UID of the application which generated the key.
          format: int32
          type: integer
        keyAlias:
          description: Alias of the key.
          type: string
        success:
          description: Whether the operation was successful.
          type: boolean
      type: object
    KeyImportEvent:
      description: A cryptographic key including user installed, admin installed and system maintained private key is imported on the device either by the user or management. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.
      properties:
        applicationUid:
          description: UID of the application which imported the key
          format: int32
          type: integer
        keyAlias:
          description: Alias of the key.
          type: string
        success:
          description: Whether the operation was successful.
          type: boolean
      type: object
    KeyIntegrityViolationEvent:
      description: A cryptographic key including user installed, admin installed and system maintained private key is determined to be corrupted due to storage corruption, hardware failure or some OS issue. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.
      properties:
        applicationUid:
          description: UID of the application which owns the key
          format: int32
          type: integer
        keyAlias:
          description: Alias of the key.
          type: string
      type: object
    KeyedAppState:
      description: Keyed app state reported by the app.
      properties:
        createTime:
          description: The creation time of the app state on the device.
          format: google-datetime
          type: string
        data:
          description: Optionally, a machine-readable value to be read by the EMM. For example, setting values that the admin can choose to query against in the EMM console (e.g. “notify me if the battery_warning data < 10”).
          type: string
        key:
          description: The key for the app state. Acts as a point of reference for what the app is providing state for. For example, when providing managed configuration feedback, this key could be the managed configuration key.
          type: string
        lastUpdateTime:
          description: The time the app state was most recently updated.
          format: google-datetime
          type: string
        message:
          description: Optionally, a free-form message string to explain the app state. If the state was triggered by a particular value (e.g. a managed configuration value), it should be included in the message.
          type: string
        severity:
          description: The severity of the app state.
          enum:
            - SEVERITY_UNSPECIFIED
            - INFO
            - ERROR
          type: string
      type: object
    KeyguardDismissAuthAttemptEvent:
      description: An attempt was made to unlock the device.
      properties:
        strongAuthMethodUsed:
          description: Whether a strong form of authentication (password, PIN, or pattern) was used to unlock device.
          type: boolean
        success:
          description: Whether the unlock attempt was successful.
          type: boolean
      type: object
    KeyguardDismissedEvent:
      description: The keyguard was dismissed. Intentionally empty.
      properties: {}
      type: object
    KeyguardSecuredEvent:
      description: The device was locked either by user or timeout. Intentionally empty.
      properties: {}
      type: object
    KioskCustomization:
      description: Settings controlling the behavior of a device in kiosk mode. To enable kiosk mode, set kioskCustomLauncherEnabled to true or specify an app in the policy with installType KIOSK.
      properties:
        deviceSettings:
          description: Specifies whether the Settings app is allowed in kiosk mode.
          enum:
            - DEVICE_SETTINGS_UNSPECIFIED
            - SETTINGS_ACCESS_ALLOWED
            - SETTINGS_ACCESS_BLOCKED
          type: string
        powerButtonActions:
[...]
