swagger: '2.0'
schemes:
  - https
  - http
host: devicefarm.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: 'AWS Device Farm is a service that enables mobile app developers to test Android, iOS, and Fire OS apps on physical phones, tablets, and other devices in the cloud.'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Device Farm
  version: '2015-06-23'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/devicefarm-2015-06-23.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: devicefarm
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/devicefarm/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=DeviceFarm_20150623.CreateDevicePool':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a device pool.
      operationId: CreateDevicePool
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateDevicePoolRequest'
        - enum:
            - DeviceFarm_20150623.CreateDevicePool
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDevicePoolResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.CreateInstanceProfile':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a profile that can be applied to one or more private fleet device instances.
      operationId: CreateInstanceProfile
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateInstanceProfileRequest'
        - enum:
            - DeviceFarm_20150623.CreateInstanceProfile
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateInstanceProfileResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.CreateNetworkProfile':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a network profile.
      operationId: CreateNetworkProfile
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateNetworkProfileRequest'
        - enum:
            - DeviceFarm_20150623.CreateNetworkProfile
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateNetworkProfileResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.CreateProject':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new project.
      operationId: CreateProject
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateProjectRequest'
        - enum:
            - DeviceFarm_20150623.CreateProject
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateProjectResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
        '484':
          description: TagOperationException
          schema:
            $ref: '#/definitions/TagOperationException'
  '/#X-Amz-Target=DeviceFarm_20150623.CreateRemoteAccessSession':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Specifies and starts a remote access session.
      operationId: CreateRemoteAccessSession
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateRemoteAccessSessionRequest'
        - enum:
            - DeviceFarm_20150623.CreateRemoteAccessSession
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRemoteAccessSessionResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.CreateUpload':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Uploads an app or test scripts.
      operationId: CreateUpload
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateUploadRequest'
        - enum:
            - DeviceFarm_20150623.CreateUpload
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateUploadResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.CreateVPCEConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a configuration record in Device Farm for your Amazon Virtual Private Cloud (VPC) endpoint.
      operationId: CreateVPCEConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateVPCEConfigurationRequest'
        - enum:
            - DeviceFarm_20150623.CreateVPCEConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateVPCEConfigurationResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.DeleteDevicePool':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a device pool given the pool ARN. Does not allow deletion of curated pools owned by the system.
      operationId: DeleteDevicePool
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDevicePoolRequest'
        - enum:
            - DeviceFarm_20150623.DeleteDevicePool
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDevicePoolResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.DeleteInstanceProfile':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a profile that can be applied to one or more private device instances.
      operationId: DeleteInstanceProfile
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteInstanceProfileRequest'
        - enum:
            - DeviceFarm_20150623.DeleteInstanceProfile
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInstanceProfileResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.DeleteNetworkProfile':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a network profile.
      operationId: DeleteNetworkProfile
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteNetworkProfileRequest'
        - enum:
            - DeviceFarm_20150623.DeleteNetworkProfile
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteNetworkProfileResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.DeleteProject':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes an AWS Device Farm project, given the project ARN.</p> <p> <b>Note</b> Deleting this resource does not stop an in-progress run.</p>'
      operationId: DeleteProject
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteProjectRequest'
        - enum:
            - DeviceFarm_20150623.DeleteProject
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteProjectResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.DeleteRemoteAccessSession':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a completed remote access session and its results.
      operationId: DeleteRemoteAccessSession
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRemoteAccessSessionRequest'
        - enum:
            - DeviceFarm_20150623.DeleteRemoteAccessSession
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRemoteAccessSessionResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.DeleteRun':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes the run, given the run ARN.</p> <p> <b>Note</b> Deleting this resource does not stop an in-progress run.</p>'
      operationId: DeleteRun
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRunRequest'
        - enum:
            - DeviceFarm_20150623.DeleteRun
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRunResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.DeleteUpload':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes an upload given the upload ARN.
      operationId: DeleteUpload
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteUploadRequest'
        - enum:
            - DeviceFarm_20150623.DeleteUpload
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteUploadResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.DeleteVPCEConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a configuration for your Amazon Virtual Private Cloud (VPC) endpoint.
      operationId: DeleteVPCEConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteVPCEConfigurationRequest'
        - enum:
            - DeviceFarm_20150623.DeleteVPCEConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteVPCEConfigurationResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
        '483':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
  '/#X-Amz-Target=DeviceFarm_20150623.GetAccountSettings':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the number of unmetered iOS and/or unmetered Android devices that have been purchased by the account.
      operationId: GetAccountSettings
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetAccountSettingsRequest'
        - enum:
            - DeviceFarm_20150623.GetAccountSettings
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAccountSettingsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.GetDevice':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about a unique device type.
      operationId: GetDevice
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetDeviceRequest'
        - enum:
            - DeviceFarm_20150623.GetDevice
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeviceResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.GetDeviceInstance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about a device instance belonging to a private device fleet.
      operationId: GetDeviceInstance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetDeviceInstanceRequest'
        - enum:
            - DeviceFarm_20150623.GetDeviceInstance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeviceInstanceResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.GetDevicePool':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about a device pool.
      operationId: GetDevicePool
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetDevicePoolRequest'
        - enum:
            - DeviceFarm_20150623.GetDevicePool
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDevicePoolResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.GetDevicePoolCompatibility':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about compatibility with a device pool.
      operationId: GetDevicePoolCompatibility
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetDevicePoolCompatibilityRequest'
        - enum:
            - DeviceFarm_20150623.GetDevicePoolCompatibility
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDevicePoolCompatibilityResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.GetInstanceProfile':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about the specified instance profile.
      operationId: GetInstanceProfile
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetInstanceProfileRequest'
        - enum:
            - DeviceFarm_20150623.GetInstanceProfile
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInstanceProfileResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.GetJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about a job.
      operationId: GetJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetJobRequest'
        - enum:
            - DeviceFarm_20150623.GetJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.GetNetworkProfile':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about a network profile.
      operationId: GetNetworkProfile
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetNetworkProfileRequest'
        - enum:
            - DeviceFarm_20150623.GetNetworkProfile
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetNetworkProfileResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.GetOfferingStatus':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets the current status and future status of all offerings purchased by an AWS account. The response indicates how many offerings are currently available and the offerings that will be available in the next period. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href="mailto:aws-devicefarm-support@amazon.com">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.'
      operationId: GetOfferingStatus
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetOfferingStatusRequest'
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - DeviceFarm_20150623.GetOfferingStatus
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetOfferingStatusResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: NotEligibleException
          schema:
            $ref: '#/definitions/NotEligibleException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.GetProject':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about a project.
      operationId: GetProject
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetProjectRequest'
        - enum:
            - DeviceFarm_20150623.GetProject
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetProjectResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.GetRemoteAccessSession':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a link to a currently running remote access session.
      operationId: GetRemoteAccessSession
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetRemoteAccessSessionRequest'
        - enum:
            - DeviceFarm_20150623.GetRemoteAccessSession
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRemoteAccessSessionResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.GetRun':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about a run.
      operationId: GetRun
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetRunRequest'
        - enum:
            - DeviceFarm_20150623.GetRun
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRunResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.GetSuite':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about a suite.
      operationId: GetSuite
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetSuiteRequest'
        - enum:
            - DeviceFarm_20150623.GetSuite
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSuiteResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.GetTest':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about a test.
      operationId: GetTest
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetTestRequest'
        - enum:
            - DeviceFarm_20150623.GetTest
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTestResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.GetUpload':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about an upload.
      operationId: GetUpload
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetUploadRequest'
        - enum:
            - DeviceFarm_20150623.GetUpload
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetUploadResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.GetVPCEConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about the configuration settings for your Amazon Virtual Private Cloud (VPC) endpoint.
      operationId: GetVPCEConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetVPCEConfigurationRequest'
        - enum:
            - DeviceFarm_20150623.GetVPCEConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetVPCEConfigurationResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.InstallToRemoteAccessSession':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Installs an application to the device in a remote access session. For Android applications, the file must be in .apk format. For iOS applications, the file must be in .ipa format.'
      operationId: InstallToRemoteAccessSession
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/InstallToRemoteAccessSessionRequest'
        - enum:
            - DeviceFarm_20150623.InstallToRemoteAccessSession
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InstallToRemoteAccessSessionResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListArtifacts':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about artifacts.
      operationId: ListArtifacts
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListArtifactsRequest'
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - DeviceFarm_20150623.ListArtifacts
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListArtifactsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListDeviceInstances':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about the private device instances associated with one or more AWS accounts.
      operationId: ListDeviceInstances
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListDeviceInstancesRequest'
        - enum:
            - DeviceFarm_20150623.ListDeviceInstances
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeviceInstancesResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListDevicePools':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about device pools.
      operationId: ListDevicePools
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListDevicePoolsRequest'
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - DeviceFarm_20150623.ListDevicePools
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDevicePoolsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListDevices':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about unique device types.
      operationId: ListDevices
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListDevicesRequest'
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - DeviceFarm_20150623.ListDevices
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDevicesResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListInstanceProfiles':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about all the instance profiles in an AWS account.
      operationId: ListInstanceProfiles
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListInstanceProfilesRequest'
        - enum:
            - DeviceFarm_20150623.ListInstanceProfiles
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInstanceProfilesResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListJobs':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about jobs for a given test run.
      operationId: ListJobs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListJobsRequest'
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - DeviceFarm_20150623.ListJobs
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListNetworkProfiles':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the list of available network profiles.
      operationId: ListNetworkProfiles
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListNetworkProfilesRequest'
        - enum:
            - DeviceFarm_20150623.ListNetworkProfiles
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListNetworkProfilesResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListOfferingPromotions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of offering promotions. Each offering promotion record contains the ID and description of the promotion. The API returns a <code>NotEligible</code> error if the caller is not permitted to invoke the operation. Contact <a href="mailto:aws-devicefarm-support@amazon.com">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.'
      operationId: ListOfferingPromotions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListOfferingPromotionsRequest'
        - enum:
            - DeviceFarm_20150623.ListOfferingPromotions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListOfferingPromotionsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: NotEligibleException
          schema:
            $ref: '#/definitions/NotEligibleException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListOfferingTransactions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of all historical purchases, renewals, and system renewal transactions for an AWS account. The list is paginated and ordered by a descending timestamp (most recent transactions are first). The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href="mailto:aws-devicefarm-support@amazon.com">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.'
      operationId: ListOfferingTransactions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListOfferingTransactionsRequest'
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - DeviceFarm_20150623.ListOfferingTransactions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListOfferingTransactionsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: NotEligibleException
          schema:
            $ref: '#/definitions/NotEligibleException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListOfferings':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of products or offerings that the user can manage through the API. Each offering record indicates the recurring price per unit and the frequency for that offering. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href="mailto:aws-devicefarm-support@amazon.com">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.'
      operationId: ListOfferings
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListOfferingsRequest'
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - DeviceFarm_20150623.ListOfferings
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListOfferingsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: NotEligibleException
          schema:
            $ref: '#/definitions/NotEligibleException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListProjects':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about projects.
      operationId: ListProjects
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListProjectsRequest'
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - DeviceFarm_20150623.ListProjects
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListProjectsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListRemoteAccessSessions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of all currently running remote access sessions.
      operationId: ListRemoteAccessSessions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListRemoteAccessSessionsRequest'
        - enum:
            - DeviceFarm_20150623.ListRemoteAccessSessions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListRemoteAccessSessionsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListRuns':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets information about runs, given an AWS Device Farm project ARN.'
      operationId: ListRuns
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListRunsRequest'
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - DeviceFarm_20150623.ListRuns
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListRunsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListSamples':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets information about samples, given an AWS Device Farm job ARN.'
      operationId: ListSamples
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListSamplesRequest'
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - DeviceFarm_20150623.ListSamples
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSamplesResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListSuites':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about test suites for a given job.
      operationId: ListSuites
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListSuitesRequest'
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - DeviceFarm_20150623.ListSuites
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSuitesResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListTagsForResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: List the tags for an AWS Device Farm resource.
      operationId: ListTagsForResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
        - enum:
            - DeviceFarm_20150623.ListTagsForResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TagOperationException
          schema:
            $ref: '#/definitions/TagOperationException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListTests':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about tests in a given test suite.
      operationId: ListTests
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTestsRequest'
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - DeviceFarm_20150623.ListTests
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTestsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListUniqueProblems':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about unique problems.
      operationId: ListUniqueProblems
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListUniqueProblemsRequest'
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - DeviceFarm_20150623.ListUniqueProblems
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListUniqueProblemsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListUploads':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets information about uploads, given an AWS Device Farm project ARN.'
      operationId: ListUploads
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListUploadsRequest'
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - DeviceFarm_20150623.ListUploads
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListUploadsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ListVPCEConfigurations':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about all Amazon Virtual Private Cloud (VPC) endpoint configurations in the AWS account.
      operationId: ListVPCEConfigurations
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListVPCEConfigurationsRequest'
        - enum:
            - DeviceFarm_20150623.ListVPCEConfigurations
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListVPCEConfigurationsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.PurchaseOffering':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Immediately purchases offerings for an AWS account. Offerings renew with the latest total purchased quantity for an offering, unless the renewal was overridden. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href="mailto:aws-devicefarm-support@amazon.com">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.'
      operationId: PurchaseOffering
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PurchaseOfferingRequest'
        - enum:
            - DeviceFarm_20150623.PurchaseOffering
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PurchaseOfferingResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: NotEligibleException
          schema:
            $ref: '#/definitions/NotEligibleException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.RenewOffering':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Explicitly sets the quantity of devices to renew for an offering, starting from the <code>effectiveDate</code> of the next period. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href="mailto:aws-devicefarm-support@amazon.com">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.'
      operationId: RenewOffering
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RenewOfferingRequest'
        - enum:
            - DeviceFarm_20150623.RenewOffering
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RenewOfferingResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: NotEligibleException
          schema:
            $ref: '#/definitions/NotEligibleException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.ScheduleRun':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Schedules a run.
      operationId: ScheduleRun
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ScheduleRunRequest'
        - enum:
            - DeviceFarm_20150623.ScheduleRun
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ScheduleRunResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: IdempotencyException
          schema:
            $ref: '#/definitions/IdempotencyException'
        '484':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.StopJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Initiates a stop request for the current job. AWS Device Farm will immediately stop the job on the device where tests have not started executing, and you will not be billed for this device. On the device where tests have started executing, Setup Suite and Teardown Suite tests will run to completion before stopping execution on the device. You will be billed for Setup, Teardown, and any tests that were in progress or already completed.'
      operationId: StopJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopJobRequest'
        - enum:
            - DeviceFarm_20150623.StopJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopJobResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.StopRemoteAccessSession':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Ends a specified remote access session.
      operationId: StopRemoteAccessSession
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopRemoteAccessSessionRequest'
        - enum:
            - DeviceFarm_20150623.StopRemoteAccessSession
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopRemoteAccessSessionResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.StopRun':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Initiates a stop request for the current test run. AWS Device Farm will immediately stop the run on devices where tests have not started executing, and you will not be billed for these devices. On devices where tests have started executing, Setup Suite and Teardown Suite tests will run to completion before stopping execution on those devices. You will be billed for Setup, Teardown, and any tests that were in progress or already completed.'
      operationId: StopRun
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopRunRequest'
        - enum:
            - DeviceFarm_20150623.StopRun
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopRunResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.TagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Associates the specified tags to a resource with the specified <code>resourceArn</code>. If existing tags on a resource are not specified in the request parameters, they are not changed. When a resource is deleted, the tags associated with that resource are deleted as well.'
      operationId: TagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
        - enum:
            - DeviceFarm_20150623.TagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TagOperationException
          schema:
            $ref: '#/definitions/TagOperationException'
        '482':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '483':
          description: TagPolicyException
          schema:
            $ref: '#/definitions/TagPolicyException'
  '/#X-Amz-Target=DeviceFarm_20150623.UntagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified tags from a resource.
      operationId: UntagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
        - enum:
            - DeviceFarm_20150623.UntagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TagOperationException
          schema:
            $ref: '#/definitions/TagOperationException'
  '/#X-Amz-Target=DeviceFarm_20150623.UpdateDeviceInstance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates information about an existing private device instance.
      operationId: UpdateDeviceInstance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDeviceInstanceRequest'
        - enum:
            - DeviceFarm_20150623.UpdateDeviceInstance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDeviceInstanceResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
  '/#X-Amz-Target=DeviceFarm_20150623.UpdateDevicePool':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
[...]
