swagger: '2.0'
info:
  version: '2015-06-23'
  x-release: v4
  title: AWS Device Farm
  description: 'AWS Device Farm is a service that enables mobile app developers to test Android, iOS, and Fire OS apps on physical phones, tablets, and other devices in the cloud.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: devicefarm
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/devicefarm-2015-06-23.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/devicefarm/'
host: devicefarm.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: CreateDevicePool
      description: Creates a device pool.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDevicePoolResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDevicePoolRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateInstanceProfile':
    post:
      operationId: CreateInstanceProfile
      description: Creates a profile that can be applied to one or more private fleet device instances.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateInstanceProfileResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateInstanceProfileRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateNetworkProfile':
    post:
      operationId: CreateNetworkProfile
      description: Creates a network profile.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateNetworkProfileResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateNetworkProfileRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateProject':
    post:
      operationId: CreateProject
      description: Creates a new project.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateProjectResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateProjectRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateRemoteAccessSession':
    post:
      operationId: CreateRemoteAccessSession
      description: Specifies and starts a remote access session.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRemoteAccessSessionResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateRemoteAccessSessionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateUpload':
    post:
      operationId: CreateUpload
      description: Uploads an app or test scripts.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateUploadResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateUploadRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateVPCEConfiguration':
    post:
      operationId: CreateVPCEConfiguration
      description: Creates a configuration record in Device Farm for your Amazon Virtual Private Cloud (VPC) endpoint.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateVPCEConfigurationResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateVPCEConfigurationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDevicePool':
    post:
      operationId: DeleteDevicePool
      description: Deletes a device pool given the pool ARN. Does not allow deletion of curated pools owned by the system.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDevicePoolResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDevicePoolRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteInstanceProfile':
    post:
      operationId: DeleteInstanceProfile
      description: Deletes a profile that can be applied to one or more private device instances.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInstanceProfileResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteInstanceProfileRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteNetworkProfile':
    post:
      operationId: DeleteNetworkProfile
      description: Deletes a network profile.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteNetworkProfileResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteNetworkProfileRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteProject':
    post:
      operationId: DeleteProject
      description: '<p>Deletes an AWS Device Farm project, given the project ARN.</p> <p> <b>Note</b> Deleting this resource does not stop an in-progress run.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteProjectResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteProjectRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteRemoteAccessSession':
    post:
      operationId: DeleteRemoteAccessSession
      description: Deletes a completed remote access session and its results.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRemoteAccessSessionResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRemoteAccessSessionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteRun':
    post:
      operationId: DeleteRun
      description: '<p>Deletes the run, given the run ARN.</p> <p> <b>Note</b> Deleting this resource does not stop an in-progress run.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRunResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRunRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteUpload':
    post:
      operationId: DeleteUpload
      description: Deletes an upload given the upload ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteUploadResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteUploadRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteVPCEConfiguration':
    post:
      operationId: DeleteVPCEConfiguration
      description: Deletes a configuration for your Amazon Virtual Private Cloud (VPC) endpoint.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteVPCEConfigurationResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
        '483':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteVPCEConfigurationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetAccountSettings':
    post:
      operationId: GetAccountSettings
      description: Returns the number of unmetered iOS and/or unmetered Android devices that have been purchased by the account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAccountSettingsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetAccountSettingsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDevice':
    post:
      operationId: GetDevice
      description: Gets information about a unique device type.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeviceResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeviceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDeviceInstance':
    post:
      operationId: GetDeviceInstance
      description: Returns information about a device instance belonging to a private device fleet.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeviceInstanceResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeviceInstanceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDevicePool':
    post:
      operationId: GetDevicePool
      description: Gets information about a device pool.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDevicePoolResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDevicePoolRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDevicePoolCompatibility':
    post:
      operationId: GetDevicePoolCompatibility
      description: Gets information about compatibility with a device pool.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDevicePoolCompatibilityResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDevicePoolCompatibilityRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetInstanceProfile':
    post:
      operationId: GetInstanceProfile
      description: Returns information about the specified instance profile.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInstanceProfileResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetInstanceProfileRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetJob':
    post:
      operationId: GetJob
      description: Gets information about a job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetNetworkProfile':
    post:
      operationId: GetNetworkProfile
      description: Returns information about a network profile.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetNetworkProfileResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetNetworkProfileRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetOfferingStatus':
    post:
      operationId: GetOfferingStatus
      description: 'Gets the current status and future status of all offerings purchased by an AWS account. The response indicates how many offerings are currently available and the offerings that will be available in the next period. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href="mailto:aws-devicefarm-support@amazon.com">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetOfferingStatusResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: NotEligibleException
          schema:
            $ref: '#/definitions/NotEligibleException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetOfferingStatusRequest'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetProject':
    post:
      operationId: GetProject
      description: Gets information about a project.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetProjectResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetProjectRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetRemoteAccessSession':
    post:
      operationId: GetRemoteAccessSession
      description: Returns a link to a currently running remote access session.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRemoteAccessSessionResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetRemoteAccessSessionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetRun':
    post:
      operationId: GetRun
      description: Gets information about a run.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRunResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetRunRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetSuite':
    post:
      operationId: GetSuite
      description: Gets information about a suite.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSuiteResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetSuiteRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetTest':
    post:
      operationId: GetTest
      description: Gets information about a test.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTestResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetTestRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetUpload':
    post:
      operationId: GetUpload
      description: Gets information about an upload.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetUploadResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetUploadRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetVPCEConfiguration':
    post:
      operationId: GetVPCEConfiguration
      description: Returns information about the configuration settings for your Amazon Virtual Private Cloud (VPC) endpoint.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetVPCEConfigurationResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetVPCEConfigurationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#InstallToRemoteAccessSession':
    post:
      operationId: InstallToRemoteAccessSession
      description: 'Installs an application to the device in a remote access session. For Android applications, the file must be in .apk format. For iOS applications, the file must be in .ipa format.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InstallToRemoteAccessSessionResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/InstallToRemoteAccessSessionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListArtifacts':
    post:
      operationId: ListArtifacts
      description: Gets information about artifacts.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListArtifactsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListArtifactsRequest'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDeviceInstances':
    post:
      operationId: ListDeviceInstances
      description: Returns information about the private device instances associated with one or more AWS accounts.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeviceInstancesResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDeviceInstancesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDevicePools':
    post:
      operationId: ListDevicePools
      description: Gets information about device pools.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDevicePoolsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDevicePoolsRequest'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDevices':
    post:
      operationId: ListDevices
      description: Gets information about unique device types.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDevicesResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDevicesRequest'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListInstanceProfiles':
    post:
      operationId: ListInstanceProfiles
      description: Returns information about all the instance profiles in an AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInstanceProfilesResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListInstanceProfilesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListJobs':
    post:
      operationId: ListJobs
      description: Gets information about jobs for a given test run.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListJobsRequest'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListNetworkProfiles':
    post:
      operationId: ListNetworkProfiles
      description: Returns the list of available network profiles.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListNetworkProfilesResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListNetworkProfilesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListOfferingPromotions':
    post:
      operationId: ListOfferingPromotions
      description: 'Returns a list of offering promotions. Each offering promotion record contains the ID and description of the promotion. The API returns a <code>NotEligible</code> error if the caller is not permitted to invoke the operation. Contact <a href="mailto:aws-devicefarm-support@amazon.com">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListOfferingPromotionsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: NotEligibleException
          schema:
            $ref: '#/definitions/NotEligibleException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListOfferingPromotionsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListOfferingTransactions':
    post:
      operationId: ListOfferingTransactions
      description: 'Returns a list of all historical purchases, renewals, and system renewal transactions for an AWS account. The list is paginated and ordered by a descending timestamp (most recent transactions are first). The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href="mailto:aws-devicefarm-support@amazon.com">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListOfferingTransactionsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: NotEligibleException
          schema:
            $ref: '#/definitions/NotEligibleException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListOfferingTransactionsRequest'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListOfferings':
    post:
      operationId: ListOfferings
      description: 'Returns a list of products or offerings that the user can manage through the API. Each offering record indicates the recurring price per unit and the frequency for that offering. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href="mailto:aws-devicefarm-support@amazon.com">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListOfferingsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: NotEligibleException
          schema:
            $ref: '#/definitions/NotEligibleException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListOfferingsRequest'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListProjects':
    post:
      operationId: ListProjects
      description: Gets information about projects.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListProjectsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListProjectsRequest'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListRemoteAccessSessions':
    post:
      operationId: ListRemoteAccessSessions
      description: Returns a list of all currently running remote access sessions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListRemoteAccessSessionsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListRemoteAccessSessionsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListRuns':
    post:
      operationId: ListRuns
      description: 'Gets information about runs, given an AWS Device Farm project ARN.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListRunsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListRunsRequest'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListSamples':
    post:
      operationId: ListSamples
      description: 'Gets information about samples, given an AWS Device Farm project ARN'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSamplesResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSamplesRequest'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListSuites':
    post:
      operationId: ListSuites
      description: Gets information about test suites for a given job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSuitesResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSuitesRequest'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListTests':
    post:
      operationId: ListTests
      description: Gets information about tests in a given test suite.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTestsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTestsRequest'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListUniqueProblems':
    post:
      operationId: ListUniqueProblems
      description: Gets information about unique problems.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListUniqueProblemsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListUniqueProblemsRequest'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListUploads':
    post:
      operationId: ListUploads
      description: 'Gets information about uploads, given an AWS Device Farm project ARN.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListUploadsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListUploadsRequest'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListVPCEConfigurations':
    post:
      operationId: ListVPCEConfigurations
      description: Returns information about all Amazon Virtual Private Cloud (VPC) endpoint configurations in the AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListVPCEConfigurationsResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListVPCEConfigurationsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PurchaseOffering':
    post:
      operationId: PurchaseOffering
      description: 'Immediately purchases offerings for an AWS account. Offerings renew with the latest total purchased quantity for an offering, unless the renewal was overridden. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href="mailto:aws-devicefarm-support@amazon.com">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PurchaseOfferingResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: NotEligibleException
          schema:
            $ref: '#/definitions/NotEligibleException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PurchaseOfferingRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RenewOffering':
    post:
      operationId: RenewOffering
      description: 'Explicitly sets the quantity of devices to renew for an offering, starting from the <code>effectiveDate</code> of the next period. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. Please contact <a href="mailto:aws-devicefarm-support@amazon.com">aws-devicefarm-support@amazon.com</a> if you believe that you should be able to invoke this operation.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RenewOfferingResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: NotEligibleException
          schema:
            $ref: '#/definitions/NotEligibleException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RenewOfferingRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ScheduleRun':
    post:
      operationId: ScheduleRun
      description: Schedules a run.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ScheduleRunResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: IdempotencyException
          schema:
            $ref: '#/definitions/IdempotencyException'
        '484':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ScheduleRunRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopJob':
    post:
      operationId: StopJob
      description: 'Initiates a stop request for the current job. AWS Device Farm will immediately stop the job on the device where tests have not started executing, and you will not be billed for this device. On the device where tests have started executing, Setup Suite and Teardown Suite tests will run to completion before stopping execution on the device. You will be billed for Setup, Teardown, and any tests that were in progress or already completed.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopJobResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopRemoteAccessSession':
    post:
      operationId: StopRemoteAccessSession
      description: Ends a specified remote access session.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopRemoteAccessSessionResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopRemoteAccessSessionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopRun':
    post:
      operationId: StopRun
      description: 'Initiates a stop request for the current test run. AWS Device Farm will immediately stop the run on devices where tests have not started executing, and you will not be billed for these devices. On devices where tests have started executing, Setup Suite and Teardown Suite tests will run to completion before stopping execution on those devices. You will be billed for Setup, Teardown, and any tests that were in progress or already completed.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopRunResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopRunRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateDeviceInstance':
    post:
      operationId: UpdateDeviceInstance
      description: Updates information about an existing private device instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDeviceInstanceResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDeviceInstanceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateDevicePool':
    post:
      operationId: UpdateDevicePool
      description: 'Modifies the name, description, and rules in a device pool given the attributes and the pool ARN. Rule updates are all-or-nothing, meaning they can only be updated as a whole (or not at all).'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDevicePoolResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDevicePoolRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateInstanceProfile':
    post:
      operationId: UpdateInstanceProfile
      description: Updates information about an existing private device instance profile.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateInstanceProfileResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateInstanceProfileRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateNetworkProfile':
    post:
      operationId: UpdateNetworkProfile
      description: Updates the network profile with specific settings.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateNetworkProfileResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateNetworkProfileRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateProject':
    post:
      operationId: UpdateProject
      description: 'Modifies the specified project name, given the project ARN and a new name.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateProjectResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateProjectRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateUpload':
    post:
      operationId: UpdateUpload
      description: Update an uploaded test specification (test spec).
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateUploadResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateUploadRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateVPCEConfiguration':
    post:
      operationId: UpdateVPCEConfiguration
      description: Updates information about an existing Amazon Virtual Private Cloud (VPC) endpoint configuration.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateVPCEConfigurationResult'
        '480':
          description: ArgumentException
          schema:
            $ref: '#/definitions/ArgumentException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ServiceAccountException
          schema:
            $ref: '#/definitions/ServiceAccountException'
        '483':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateVPCEConfigurationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AWSAccountNumber:
    type: string
    minLength: 2
    maxLength: 16
  AccountSettings:
    type: object
    properties:
      awsAccountNumber:
        $ref: '#/definitions/AWSAccountNumber'
        description: The AWS account number specified in the <code>AccountSettings</code> container.
      unmeteredDevices:
        $ref: '#/definitions/PurchasedDevicesMap'
        description: Returns the unmetered devices you have purchased or want to purchase.
      unmeteredRemoteAccessDevices:
        $ref: '#/definitions/PurchasedDevicesMap'
        description: Returns the unmetered remote access devices you have purchased or want to purchase.
      maxJobTimeoutMinutes:
        $ref: '#/definitions/JobTimeoutMinutes'
        description: The maximum number of minutes a test run will execute before it times out.
      trialMinutes:
        $ref: '#/definitions/TrialMinutes'
        description: Information about an AWS account's usage of free trial device minutes.
      maxSlots:
        $ref: '#/definitions/MaxSlotMap'
        description: 'The maximum number of device slots that the AWS account can purchase. Each maximum is expressed as an <code>offering-id:number</code> pair, where the <code>offering-id</code> represents one of the IDs returned by the <code>ListOfferings</code> command.'
      defaultJobTimeoutMinutes:
        $ref: '#/definitions/JobTimeoutMinutes'
        description: The default number of minutes (at the account level) a test run will execute before it times out. Default value is 60 minutes.
      skipAppResign:
        $ref: '#/definitions/SkipAppResign'
        description: '<p>When set to <code>true</code>, for private devices, Device Farm will not sign your app again. For public devices, Device Farm always signs your apps again and this parameter has no effect.</p> <p>For more information about how Device Farm re-signs your app(s), see <a href="https://aws.amazon.com/device-farm/faq/">Do you modify my app?</a> in the <i>AWS Device Farm FAQs</i>.</p>'
    description: A container for account-level settings within AWS Device Farm.
  AccountsCleanup:
    type: boolean
  AmazonResourceName:
    type: string
    minLength: 32
  AmazonResourceNames:
    type: array
    items:
      $ref: '#/definitions/AmazonResourceName'
  AndroidPaths:
    type: array
    items:
      $ref: '#/definitions/String'
  AppPackagesCleanup:
    type: boolean
  ArgumentException:
    type: object
    properties:
      message:
        $ref: '#/definitions/Message'
        description: Any additional information about the exception.
    description: An invalid argument was specified.
  Artifact:
    type: object
    properties:
      arn:
        $ref: '#/definitions/AmazonResourceName'
        description: The artifact's ARN.
      name:
        $ref: '#/definitions/Name'
        description: The artifact's name.
      type:
        $ref: '#/definitions/ArtifactType'
[...]
