swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: 'The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.'
  title: SqlManagementClient
  version: 2015-05-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/managedInstances.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: sql-managedInstances
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: The API version to use for the request.
    in: query
    name: api-version
    required: true
    type: string
    x-ms-parameter-location: client
  BlobAuditingPolicyNameParameter:
    description: The name of the blob auditing policy.
    enum:
      - default
    in: path
    name: blobAuditingPolicyName
    required: true
    type: string
    x-ms-parameter-location: method
  DatabaseNameParameter:
    description: The name of the database.
    in: path
    name: databaseName
    required: true
    type: string
    x-ms-parameter-location: method
  ManagedInstanceNameParameter:
    description: The name of the managed instance.
    in: path
    name: managedInstanceName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
  SqlVirtualMachineContainerNameParameter:
    description: The name of the SqlVirtualMachineContainer.
    in: path
    name: sqlVirtualMachineContainerName
    required: true
    type: string
    x-ms-parameter-location: method
  SqlVirtualMachineInstanceNameParameter:
    description: The name of the SqlVirtualMachineInstance.
    in: path
    name: sqlVirtualMachineInstanceName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The subscription ID that identifies an Azure subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-parameter-location: client
  VirtualClusterNameParameter:
    description: The name of the virtual cluster.
    in: path
    name: virtualClusterName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Sql/managedInstances':
    get:
      description: Gets a list of all managed instances in the subscription.
      operationId: ManagedInstances_List
      parameters:
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the list of managed instances.
          schema:
            $ref: '#/definitions/ManagedInstanceListResult'
        default:
          description: '*** Error Responses: ***'
      tags:
        - ManagedInstances
      x-ms-examples:
        List managed instances:
          parameters:
            api-version: 2015-05-01-preview
            subscriptionId: 20D7082A-0FC7-4468-82BD-542694D5042B
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/20d7082a-0fc7-4468-82bd-542694d5042b/resourceGroups/Test1/providers/Microsoft.Sql/managedInstances/testcl
                    location: onebox
                    name: testcl
                    properties:
                      administratorLogin: cloudSA
                      collation: SQL_Latin1_General_CP1_CI_AS
                      dnsZone: 1b4e2caff2530
                      fullyQualifiedDomainName: testcl.1b4e2caff2530.database.windows.net
                      licenseType: Full
                      state: Ready
                      storageSizeInGB: 1024
                      vCores: 8
                    sku:
                      capacity: 1
                      name: CLS3
                      tier: Standard
                    type: Microsoft.Sql/managedInstances
                  - id: /subscriptions/20d7082a-0fc7-4468-82bd-542694d5042b/resourceGroups/Test1/providers/Microsoft.Sql/managedInstances/testcl2
                    location: onebox
                    name: testcl2
                    properties:
                      administratorLogin: cloudSA
                      collation: SQL_Latin1_General_CP1_CI_AS
                      dnsZone: 1b4e2caff2530
                      fullyQualifiedDomainName: testcl2.1b4e2caff2530.database.windows.net
                      licenseType: Full
                      state: Ready
                      storageSizeInGB: 1024
                      vCores: 8
                    sku:
                      capacity: 22
                      name: CLS15
                      tier: Standard
                    type: Microsoft.Sql/managedInstances
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances':
    get:
      description: Gets a list of managed instances in a resource group.
      operationId: ManagedInstances_ListByResourceGroup
      parameters:
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the list of managed instances.
          schema:
            $ref: '#/definitions/ManagedInstanceListResult'
        default:
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 404 SubscriptionDoesNotHaveManagedInstance - The requested managed instance was not found

             * 404 ManagedInstanceNotInSubscriptionResourceGroup - Specified managed instance does not exist in the specified resource group and subscription.

             * 404 ResourceNotFound - The requested resource was not found.

             * 409 ConflictingManagedInstanceOperation - An operation is currently in progress for the managed instance.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.
      tags:
        - ManagedInstances
      x-ms-examples:
        List managed instances by resource group:
          parameters:
            api-version: 2015-05-01-preview
            resourceGroupName: Test1
            subscriptionId: 20D7082A-0FC7-4468-82BD-542694D5042B
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/20d7082a-0fc7-4468-82bd-542694d5042b/resourceGroups/Test1/providers/Microsoft.Sql/managedInstances/testcl
                    location: onebox
                    name: testcl
                    properties:
                      administratorLogin: cloudSA
                      collation: SQL_Latin1_General_CP1_CI_AS
                      dnsZone: 1b4e2caff2530
                      fullyQualifiedDomainName: testcl.1b4e2caff2530.database.windows.net
                      licenseType: Full
                      state: Ready
                      storageSizeInGB: 1024
                      vCores: 8
                    sku:
                      capacity: 1
                      family: Gen5
                      name: CLS3
                      tier: Standard
                    type: Microsoft.Sql/managedInstances
                  - id: /subscriptions/20d7082a-0fc7-4468-82bd-542694d5042b/resourceGroups/Test1/providers/Microsoft.Sql/managedInstances/testcl2
                    location: onebox
                    name: testcl2
                    properties:
                      administratorLogin: cloudSA
                      collation: SQL_Latin1_General_CP1_CI_AS
                      dnsZone: 1b4e2caff2530
                      fullyQualifiedDomainName: testcl2.1b4e2caff2530.database.windows.net
                      licenseType: Full
                      state: Ready
                      storageSizeInGB: 1024
                      vCores: 8
                    sku:
                      capacity: 22
                      family: Gen4
                      name: CLS15
                      tier: Standard
                    type: Microsoft.Sql/managedInstances
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}':
    delete:
      description: Deletes a managed instance.
      operationId: ManagedInstances_Delete
      parameters:
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ManagedInstanceNameParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the managed instance.
        '202':
          description: Accepted
        '204':
          description: The specified managed instance does not exist.
        default:
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 404 SubscriptionDoesNotHaveManagedInstance - The requested managed instance was not found

             * 404 ManagedInstanceNotInSubscriptionResourceGroup - Specified managed instance does not exist in the specified resource group and subscription.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 ResourceNotFound - The requested resource was not found.

             * 409 ConflictingManagedInstanceOperation - An operation is currently in progress for the managed instance.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.
      tags:
        - ManagedInstances
      x-ms-examples:
        Delete managed instance:
          parameters:
            api-version: 2015-05-01-preview
            managedInstanceName: testinstance
            resourceGroupName: testrg
            subscriptionId: 20D7082A-0FC7-4468-82BD-542694D5042B
          responses:
            '200':
              body: ''
            '202': {}
            '204':
              body: ''
      x-ms-long-running-operation: true
    get:
      description: Gets a managed instance.
      operationId: ManagedInstances_Get
      parameters:
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ManagedInstanceNameParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the specified managed instance.
          schema:
            $ref: '#/definitions/ManagedInstance'
        default:
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 404 SubscriptionDoesNotHaveManagedInstance - The requested managed instance was not found

             * 404 ManagedInstanceNotInSubscriptionResourceGroup - Specified managed instance does not exist in the specified resource group and subscription.

             * 404 ResourceNotFound - The requested resource was not found.

             * 409 ConflictingManagedInstanceOperation - An operation is currently in progress for the managed instance.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.
      tags:
        - ManagedInstances
      x-ms-examples:
        Get managed instance:
          parameters:
            api-version: 2015-05-01-preview
            managedInstanceName: testcl
            resourceGroupName: testrg
            subscriptionId: 20d7082a-0fc7-4468-82bd-542694d5042b
          responses:
            '200':
              body:
                id: /subscriptions/20d7082a-0fc7-4468-82bd-542694d5042b/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testcl
                location: onebox
                name: testcl
                properties:
                  administratorLogin: cloudSA
                  collation: SQL_Latin1_General_CP1_CI_AS
                  dnsZone: 1b4e2caff2530
                  fullyQualifiedDomainName: testcl.1b4e2caff2530.database.windows.net
                  licenseType: Full
                  state: Ready
                  storageSizeInGB: 1024
                  vCores: 8
                sku:
                  capacity: 1
                  family: Gen4
                  name: CLS3
                  tier: Standard
                type: Microsoft.Sql/managedInstances
    patch:
      description: Updates a managed instance.
      operationId: ManagedInstances_Update
      parameters:
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ManagedInstanceNameParameter'
        - description: The requested managed instance resource state.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ManagedInstanceUpdate'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully updated the managed instance.
          schema:
            $ref: '#/definitions/ManagedInstance'
        '202':
          description: Accepted
        default:
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 VnetInWrongRegion - Virtual network is in wrong region.

             * 400 VnetAddressRangeError - Virtual network address range is invalid.

             * 400 VnetConfigIsNotAllowed - Virtual network configuration is not allowed.

             * 400 ManagedInstanceClassicVnetNotSupported - Managed Instance cannot be joined to a classic virtual network.

             * 400 VnetConfigHasNsg - User tried to inject Managed Server subnet with Network Security Groups.

             * 400 VnetConfigHasNoUdr - User tried to inject Managed Server subnet without default User Defined Route Table.

             * 400 VnetConfigHasInvalidUdr - User tried to inject Managed Server subnet with invalid User Defined Route Table.

             * 400 VnetConfigHasInvalidDns - User tried to inject Managed Server subnet with invalid custom DNS.

             * 400 VnetConfigHasServiceEndpoints - User tried to inject Managed Server subnet with service endpoints.

             * 400 VnetSubnetIsInUse - User tried to inject Managed Server subnet that is not empty.

             * 400 VnetSubnetIsLocked - User tried to inject Managed Server subnet that is in locked scope.

             * 400 NameAlreadyExists - The provided name already exists.

             * 400 VnetSubnetIsGateway - User tried to inject Managed Server subnet that is Gateway subnet.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 VnetSubnetIsUnknown - User tried to inject Managed Server subnet that does not exist.

             * 400 VnetSubnetConflictWithIntendedPolicy - User tried to inject Managed Server subnet that has a conflict with IntendedPolicy.

             * 400 VnetResourceNotFound - Resource not found: '{0}'.

             * 400 ManagedInstanceLocalStorageUpdateSloDisabled - Update SLO for managed instances with local storage is not supported yet.

             * 400 InvalidLoginName - The provided login name is invalid.

             * 400 InvalidUsername - Supplied user name contains invalid characters.

             * 400 PasswordTooShort - The provided password is too short

             * 400 RegionDoesNotSupportVersion - A user attempted to create a server of a specified version in a location where that server version isn't supported.

             * 400 PasswordTooLong - The provided password is too long.

             * 400 PasswordNotComplex - The provided password is not complex enough.

             * 400 InvalidParameterValue - An invalid value was given to a parameter.

             * 400 InvalidLocation - An invalid location was specified.

             * 400 InvalidServerName - Invalid server name specified.

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 400 TokenTooLong - The provided token is too long.

             * 400 InvalidCollation - Collation is not recognized by the server.

             * 400 ServerNotFound - The requested server was not found.

             * 400 RegionDoesNotAllowProvisioning - The selected location is not accepting new Windows Azure SQL Database servers. This may change at a later time.

             * 400 InvalidSubnetResourceId - The provided subnet resource ID for the managed instance create or update is invalid.

             * 404 SubscriptionDoesNotHaveManagedInstance - The requested managed instance was not found

             * 404 ManagedInstanceNotInSubscriptionResourceGroup - Specified managed instance does not exist in the specified resource group and subscription.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 ResourceNotFound - The requested resource was not found.

             * 405 InvalidVcoreValue - vCore value {0} is not valid. Please specify a valid vCore value.

             * 405 InvalidHardwareGenerationValue - HardwareGeneration {0} is not valid. Please specify a valid HardwareGeneration value.

             * 405 InvalidStorageSizeValue - "Invalid storage size: {0} GB. Storage size must be specified between {1} and {2} gigabytes, in increments of {3} GB.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 409 ServerDisabled - Server is disabled.

             * 409 SubscriptionDisabled - Subscription is disabled.

             * 409 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 409 ServerAlreadyExists - Duplicate server name.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.
      tags:
        - ManagedInstances
      x-ms-examples:
        Update managed instance with all properties:
          parameters:
            api-version: 2015-05-01-preview
            managedInstanceName: testinstance
            parameters:
              properties:
                administratorLogin: dummylogin
                administratorLoginPassword: Un53cuRE!
                fullyQualifiedDomainName: testinstance.1b4e2caff2530.database.windows.net
                subnetId: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
              sku:
                capacity: 1
                name: CLS3
                tier: Standard
              tags:
                tagKey1: TagValue1
            resourceGroupName: testrg
            subscriptionId: 20D7082A-0FC7-4468-82BD-542694D5042B
          responses:
            '200':
              body:
                id: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance1
                location: japaneast
                name: testinstance1
                properties:
                  administratorLogin: dummylogin
                  collation: SQL_Latin1_General_CP1_CI_AS
                  dnsZone: 1b4e2caff2530
                  fullyQualifiedDomainName: testinstance.1b4e2caff2530.database.windows.net
                  state: Ready
                  subnetId: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                sku:
                  capacity: 1
                  name: CLS3
                  tier: Standard
                tags:
                  tagKey1: TagValue1
                type: Microsoft.Sql/managedInstances
            '202': {}
        Update managed instance with minimal properties:
          parameters:
            api-version: 2015-05-01-preview
            managedInstanceName: testinstance
            parameters:
              tags:
                tagKey1: TagValue1
            resourceGroupName: testrg
            subscriptionId: 20D7082A-0FC7-4468-82BD-542694D5042B
          responses:
            '200':
              body:
                id: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance
                location: japaneast
                name: testinstance
                properties:
                  administratorLogin: dummylogin
                  collation: SQL_Latin1_General_CP1_CI_AS
                  dnsZone: 1b4e2caff2530
                  fullyQualifiedDomainName: testinstance.1b4e2caff2530.database.windows.net
                  state: Ready
                sku:
                  capacity: 1
                  name: CLS3
                  tier: Standard
                tags:
                  tagKey1: TagValue1
                type: Microsoft.Sql/managedInstances
            '202': {}
      x-ms-long-running-operation: true
    put:
      description: Creates or updates a managed instance.
      operationId: ManagedInstances_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ManagedInstanceNameParameter'
        - description: The requested managed instance resource state.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ManagedInstance'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully updated the managed instance.
          schema:
            $ref: '#/definitions/ManagedInstance'
        '201':
          description: Successfully created the managed instance.
          schema:
            $ref: '#/definitions/ManagedInstance'
        '202':
          description: Accepted
        default:
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 VnetInWrongRegion - Virtual network is in wrong region.

             * 400 VnetAddressRangeError - Virtual network address range is invalid.

             * 400 VnetConfigIsNotAllowed - Virtual network configuration is not allowed.

             * 400 ManagedInstanceClassicVnetNotSupported - Managed Instance cannot be joined to a classic virtual network.

             * 400 VnetConfigHasNsg - User tried to inject Managed Server subnet with Network Security Groups.

             * 400 VnetConfigHasNoUdr - User tried to inject Managed Server subnet without default User Defined Route Table.

             * 400 VnetConfigHasInvalidUdr - User tried to inject Managed Server subnet with invalid User Defined Route Table.

             * 400 VnetConfigHasInvalidDns - User tried to inject Managed Server subnet with invalid custom DNS.

             * 400 VnetConfigHasServiceEndpoints - User tried to inject Managed Server subnet with service endpoints.

             * 400 VnetSubnetIsInUse - User tried to inject Managed Server subnet that is not empty.

             * 400 VnetSubnetIsLocked - User tried to inject Managed Server subnet that is in locked scope.

             * 400 NameAlreadyExists - The provided name already exists.

             * 400 VnetSubnetIsGateway - User tried to inject Managed Server subnet that is Gateway subnet.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 VnetSubnetIsUnknown - User tried to inject Managed Server subnet that does not exist.

             * 400 VnetSubnetConflictWithIntendedPolicy - User tried to inject Managed Server subnet that has a conflict with IntendedPolicy.

             * 400 VnetResourceNotFound - Resource not found: '{0}'.

             * 400 ManagedInstanceLocalStorageUpdateSloDisabled - Update SLO for managed instances with local storage is not supported yet.

             * 400 InvalidLoginName - The provided login name is invalid.

             * 400 InvalidUsername - Supplied user name contains invalid characters.

             * 400 PasswordTooShort - The provided password is too short

             * 400 RegionDoesNotSupportVersion - A user attempted to create a server of a specified version in a location where that server version isn't supported.

             * 400 PasswordTooLong - The provided password is too long.

             * 400 PasswordNotComplex - The provided password is not complex enough.

             * 400 InvalidParameterValue - An invalid value was given to a parameter.

             * 400 InvalidLocation - An invalid location was specified.

             * 400 InvalidServerName - Invalid server name specified.

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 400 TokenTooLong - The provided token is too long.

             * 400 InvalidCollation - Collation is not recognized by the server.

             * 400 ServerNotFound - The requested server was not found.

             * 400 RegionDoesNotAllowProvisioning - The selected location is not accepting new Windows Azure SQL Database servers. This may change at a later time.

             * 400 InvalidSubnetResourceId - The provided subnet resource ID for the managed instance create or update is invalid.

             * 400 InvalidManagedServerDnsZonePartner - Invalid DNS zone partner resource id specified in properties.

             * 404 SubscriptionDoesNotHaveManagedInstance - The requested managed instance was not found

             * 404 ManagedInstanceNotInSubscriptionResourceGroup - Specified managed instance does not exist in the specified resource group and subscription.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 ResourceNotFound - The requested resource was not found.

             * 405 InvalidVcoreValue - vCore value {0} is not valid. Please specify a valid vCore value.

             * 405 InvalidHardwareGenerationValue - HardwareGeneration {0} is not valid. Please specify a valid HardwareGeneration value.

             * 405 InvalidStorageSizeValue - "Invalid storage size: {0} GB. Storage size must be specified between {1} and {2} gigabytes, in increments of {3} GB.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 409 ServerDisabled - Server is disabled.

             * 409 SubscriptionDisabled - Subscription is disabled.

             * 409 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 409 ServerAlreadyExists - Duplicate server name.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.
      tags:
        - ManagedInstances
      x-ms-examples:
        Create managed instance with all properties:
          parameters:
            api-version: 2015-05-01-preview
            managedInstanceName: testinstance
            parameters:
              location: Japan East
              properties:
                administratorLogin: dummylogin
                administratorLoginPassword: Un53cuRE!
                collation: SQL_Latin1_General_CP1_CI_AS
                dnsZonePartner: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance
                fullyQualifiedDomainName: testinstance.1b4e2caff2530.database.windows.net
                licenseType: Full
                storageSizeInGB: 1024
                subnetId: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                vCores: 8
              sku:
                capacity: 1
                name: CLS3
                tier: Standard
              tags:
                tagKey1: TagValue1
            resourceGroupName: testrg
            subscriptionId: 20D7082A-0FC7-4468-82BD-542694D5042B
          responses:
            '200':
              body:
                id: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance1
                location: japaneast
                name: testinstance1
                properties:
                  administratorLogin: dummylogin
                  collation: SQL_Latin1_General_CP1_CI_AS
                  dnsZone: 1b4e2caff2530
                  fullyQualifiedDomainName: testinstance.1b4e2caff2530.database.windows.net
                  state: Ready
                  subnetId: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                sku:
                  capacity: 1
                  name: CLS3
                  tier: Standard
                tags:
                  tagKey1: TagValue1
                type: Microsoft.Sql/managedInstances
            '201':
              body:
                id: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance2
                location: japaneast
                name: testinstance2
                properties:
                  administratorLogin: dummylogin
                  collation: SQL_Latin1_General_CP1_CI_AS
                  dnsZone: 1b4e2caff2530
                  fullyQualifiedDomainName: testinstance.1b4e2caff2530.database.windows.net
                  state: Ready
                  subnetId: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                sku:
                  capacity: 1
                  name: CLS3
                  tier: Standard
                tags:
                  tagKey1: TagValue1
                type: Microsoft.Sql/managedInstances
            '202': {}
        Create managed instance with minimal properties:
          parameters:
            api-version: 2015-05-01-preview
            managedInstanceName: testinstance
            parameters:
              location: Japan East
              properties:
                administratorLogin: dummylogin
                administratorLoginPassword: Un53cuRE!
            resourceGroupName: testrg
            subscriptionId: 20D7082A-0FC7-4468-82BD-542694D5042B
          responses:
            '200':
              body:
                id: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance
                location: japaneast
                name: testinstance
                properties:
                  administratorLogin: dummylogin
                  collation: SQL_Latin1_General_CP1_CI_AS
                  dnsZone: 1b4e2caff2530
                  fullyQualifiedDomainName: testinstance.1b4e2caff2530.database.windows.net
                  state: Ready
                sku:
                  capacity: 1
                  name: CLS3
                  tier: Standard
                type: Microsoft.Sql/managedInstances
            '201':
              body:
                id: /subscriptions/20D7082A-0FC7-4468-82BD-542694D5042B/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testinstance
                location: japaneast
                name: testinstance
                properties:
                  administratorLogin: dummylogin
                  collation: SQL_Latin1_General_CP1_CI_AS
                  dnsZone: 1b4e2caff2530
                  fullyQualifiedDomainName: testinstance.1b4e2caff2530.database.windows.net
                  state: Ready
                sku:
                  capacity: 1
                  name: CLS3
                  tier: Standard
                type: Microsoft.Sql/managedInstances
            '202': {}
      x-ms-long-running-operation: true
definitions:
  ManagedInstance:
    allOf:
      - allOf:
          - description: ARM resource.
            properties:
              id:
                description: Resource ID.
                readOnly: true
                type: string
              name:
                description: Resource name.
                readOnly: true
                type: string
              type:
                description: Resource type.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: ARM tracked top level resource.
        properties:
          location:
            description: Resource location.
            type: string
            x-ms-mutability:
              - read
              - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
        required:
          - location
        type: object
    description: An Azure SQL managed instance.
    properties:
      identity:
        description: Azure Active Directory identity configuration for a resource.
        properties:
          principalId:
            description: The Azure Active Directory principal id.
            format: uuid
            readOnly: true
            type: string
          tenantId:
            description: The Azure Active Directory tenant id.
            format: uuid
            readOnly: true
            type: string
          type:
            description: The identity type. Set this to 'SystemAssigned' in order to automatically create and assign an Azure Active Directory principal for the resource.
            enum:
              - SystemAssigned
            type: string
            x-ms-enum:
              modelAsString: true
              name: IdentityType
        type: object
      properties:
        $ref: '#/definitions/ManagedInstanceProperties'
        description: Resource properties.
        x-ms-client-flatten: true
      sku:
        description: The resource model definition representing SKU
        properties:
          capacity:
            description: If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted.
            format: int32
            type: integer
          family:
            description: 'If the service has different generations of hardware, for the same SKU, then that can be captured here.'
            type: string
          name:
            description: The name of the SKU. Ex - P3. It is typically a letter+number code
            type: string
          size:
            description: 'The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. '
            type: string
          tier:
            description: 'This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT.'
            type: string
        required:
          - name
    required:
      - location
    type: object
  ManagedInstanceListResult:
    description: A list of managed instances.
    properties:
      nextLink:
        description: Link to retrieve next page of results.
        readOnly: true
        type: string
      value:
        description: Array of results.
        items:
          $ref: '#/definitions/ManagedInstance'
        readOnly: true
        type: array
    type: object
  ManagedInstanceProperties:
    description: The properties of a managed instance.
    properties:
      administratorLogin:
        description: Administrator username for the managed instance. Can only be specified when the managed instance is being created (and is required for creation).
        type: string
        x-ms-mutability:
          - read
          - create
      administratorLoginPassword:
        description: The administrator login password (required for managed instance creation).
        type: string
        x-ms-mutability:
          - create
          - update
      collation:
        description: Collation of the managed instance.
        type: string
        x-ms-mutability:
          - read
          - create
      dnsZone:
        description: The Dns Zone that the managed instance is in.
        readOnly: true
        type: string
      dnsZonePartner:
        description: The resource id of another managed instance whose DNS zone this managed instance will share after creation.
        type: string
        x-ms-mutability:
          - create
      fullyQualifiedDomainName:
        description: The fully qualified domain name of the managed instance.
        readOnly: true
        type: string
      licenseType:
        description: The license type. Possible values are 'LicenseIncluded' and 'BasePrice'.
        type: string
      state:
        description: The state of the managed instance.
        readOnly: true
        type: string
      storageSizeInGB:
        description: The maximum storage size in GB.
        format: int32
        type: integer
      subnetId:
        description: Subnet resource ID for the managed instance.
        type: string
      vCores:
        description: The number of VCores.
        format: int32
        type: integer
    type: object
  ManagedInstanceUpdate:
    description: An update request for an Azure SQL Database managed instance.
    properties:
      properties:
        $ref: '#/definitions/ManagedInstanceProperties'
        description: Resource properties.
        x-ms-client-flatten: true
      sku:
        description: The resource model definition representing SKU
        properties:
          capacity:
            description: If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted.
            format: int32
            type: integer
          family:
            description: 'If the service has different generations of hardware, for the same SKU, then that can be captured here.'
            type: string
          name:
            description: The name of the SKU. Ex - P3. It is typically a letter+number code
            type: string
          size:
            description: 'The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. '
            type: string
          tier:
            description: 'This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT.'
            type: string
        required:
          - name
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
    type: object
