swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: Use these REST APIs for queuering APIs. Operations and Products by tags in your Azure API Management deployment.
  title: ApiManagementClient
  version: '2017-03-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimtagresources.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: apimanagement-apimtagresources
  x-tags:
    - Azure
    - Microsoft
consumes: []
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tagResources':
    get:
      description: Lists a collection of resources associated with tags.
      operationId: TagResource_ListByService
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: |-
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | aid         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | apiName     | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | apiRevision | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | path        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | serviceUrl  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | method      | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | urlTemplate | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | terms       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | state       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | isCurrent   | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Lists a collection of TagResource entities.
          schema:
            $ref: '#/definitions/TagResourceCollection'
      tags:
        - TagResources
      x-ms-examples:
        ApiManagementListTagResources:
          parameters:
            api-version: '2017-03-01'
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                  - properties:
                      operation:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apiId1/operations/opid1
                        name: opid1
                        properties:
                          apiName: api1
                          apiRevision: '1'
                          apiVersion: null
                          description: some operation
                          displayName: apiop1
                          method: GET
                          urlTemplate: /op1
                        type: Microsoft.ApiManagement/service/apis/operations
                      tag:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020001
                        name: 5600b59375ff190048020001
                        properties:
                          displayName: tag1
                        type: Microsoft.ApiManagement/service/tags
                  - properties:
                      operation:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apiId1/operations/opid2
                        name: opid2
                        properties:
                          apiName: api1
                          apiRevision: '1'
                          apiVersion: null
                          description: some operation
                          displayName: apiop2
                          method: GET
                          urlTemplate: /op2
                        type: Microsoft.ApiManagement/service/apis/operations
                      tag:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020001
                        name: 5600b59375ff190048020001
                        properties:
                          displayName: tag1
                        type: Microsoft.ApiManagement/service/tags
                  - properties:
                      api:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api
                        name: echo-api
                        properties:
                          apiRevision: '1'
                          displayName: Echo API
                          isCurrent: true
                          isOnline: true
                          path: echo
                          protocols:
                            - https
                          serviceUrl: 'http://echoapi.cloudapp.net/api'
                        type: Microsoft.ApiManagement/service/apis
                      tag:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020002
                        name: 5600b59375ff190048020002
                        properties:
                          displayName: tag2
                        type: Microsoft.ApiManagement/service/tags
                  - properties:
                      product:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/starter
                        name: starter
                        properties:
                          approvalRequired: false
                          description: Subscribers will be able to run 5 calls/minute up to a maximum of 100 calls/week.
                          displayName: Starter
                          state: published
                          subscriptionRequired: true
                          subscriptionsLimit: 1
                          terms: ''
                        type: Microsoft.ApiManagement/service/products
                      tag:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020002
                        name: 5600b59375ff190048020002
                        properties:
                          displayName: tag2
                        type: Microsoft.ApiManagement/service/tags
              nextLink: ''
      x-ms-odata: '#/definitions/TagResourceContract'
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  OperationEntityContract:
    allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Operation Entity Contract Properties.
    properties:
      properties:
        $ref: '#/definitions/OperationEntityContractProperties'
        description: Operation entity contract properties.
        x-ms-client-flatten: true
  OperationEntityContractProperties:
    description: Operation Entity contract Properties.
    properties:
      apiName:
        description: Api Name.
        readOnly: true
        type: string
      apiRevision:
        description: Api Revision.
        readOnly: true
        type: string
      apiVersion:
        description: Api Version.
        readOnly: true
        type: string
      description:
        description: Operation Description.
        readOnly: true
        type: string
      displayName:
        description: Operation name.
        readOnly: true
        type: string
      method:
        description: 'A Valid HTTP Operation Method. Typical Http Methods like GET, PUT, POST but not limited by only them.'
        externalDocs:
          description: As defined by RFC.
          url: 'http://www.rfc-editor.org/rfc/rfc7230.txt'
        readOnly: true
        type: string
      urlTemplate:
        description: 'Relative URL template identifying the target resource for this operation. May include parameters. Example: /customers/{cid}/orders/{oid}/?date={date}'
        readOnly: true
        type: string
  TagResourceCollection:
    description: Paged Tag list representation.
    properties:
      nextLink:
        description: Next page link if any.
        type: string
      value:
        description: Page values.
        items:
          $ref: '#/definitions/TagResourceContract'
        type: array
  TagResourceContract:
    allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Contract details.
    properties:
      properties:
        $ref: '#/definitions/TagResourceContractProperties'
        description: TagResource entity contract properties.
        x-ms-client-flatten: true
  TagResourceContractProperties:
    description: TagResource contract properties.
    properties:
      api:
        allOf:
          - description: The Resource definition.
            properties:
              id:
                description: Resource ID.
                readOnly: true
                type: string
              name:
                description: Resource name.
                readOnly: true
                type: string
              type:
                description: Resource type for API Management resource.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: API details.
        properties:
          properties:
            $ref: '#/definitions/ApiContractProperties'
            description: Api entity contract properties.
            x-ms-client-flatten: true
      operation:
        $ref: '#/definitions/OperationEntityContract'
        description: Api associated with the tag.
      product:
        allOf:
          - description: The Resource definition.
            properties:
              id:
                description: Resource ID.
                readOnly: true
                type: string
              name:
                description: Resource name.
                readOnly: true
                type: string
              type:
                description: Resource type for API Management resource.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: Product details.
        properties:
          properties:
            $ref: '#/definitions/ProductContractProperties'
            description: Product entity contract properties.
            x-ms-client-flatten: true
      tag:
        allOf:
          - description: The Resource definition.
            properties:
              id:
                description: Resource ID.
                readOnly: true
                type: string
              name:
                description: Resource name.
                readOnly: true
                type: string
              type:
                description: Resource type for API Management resource.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: Tag Contract details.
        properties:
          properties:
            $ref: '#/definitions/TagContractProperties'
            description: Tag entity contract properties.
            x-ms-client-flatten: true
