swagger: '2.0'
schemes:
  - http
host: api.loginbycall.com
basePath: /api
info:
  description: 'The LoginByCall API allows authentification on WordPress using your cell phone. The service is free of charge!'
  title: LoginByCall
  version: v1
  x-logo:
    url: 'https://loginbycall.com/assets/logo-3-4f108de71b80dbe15912d6adbfcaa69a.png'
  x-origin:
    format: swagger
    url: 'http://api.loginbycall.com/api/swagger_doc.json'
    version: '1.2'
  x-providerName: loginbycall.com
tags:
  - name: call
  - name: calls
paths:
  '/v1/call/{token}.json':
    delete:
      operationId: DELETE--version-call--token---format-
      parameters:
        - in: path
          name: token
          required: true
          type: string
      produces:
        - application/xml
        - application/json
        - application/vnd.api+json
        - text/plain
      responses:
        '200':
          description: No response was specified
          schema:
            $ref: '#/definitions/CallLog'
      summary: Cancels active call
      tags:
        - call
    get:
      operationId: GET--version-call--token---format-
      parameters:
        - in: path
          name: token
          required: true
          type: string
      produces:
        - application/xml
        - application/json
        - application/vnd.api+json
        - text/plain
      responses:
        '200':
          description: No response was specified
          schema:
            $ref: '#/definitions/CallLog'
      summary: Fetches call status
      tags:
        - call
  /v1/calls.json:
    post:
      operationId: POST--version-calls---format-
      parameters:
        - description: Target phone number
          in: formData
          name: number
          required: true
          type: string
        - description: API consumer token
          in: formData
          name: api_key
          required: true
          type: string
      produces:
        - application/xml
        - application/json
        - application/vnd.api+json
        - text/plain
      responses:
        '200':
          description: No response was specified
      tags:
        - calls
definitions:
  CallLog:
    properties:
      end_code:
        description: Call result status in terms of adhearsion
        type: integer
      end_time:
        description: Call end time
        format: date-time
        type: string
      operator_duration:
        description: Duration of operator call in seconds ( from the moment the operator answers the call and till hangup
        type: integer
      operator_result:
        description: Operator call ( first leg ) result
        type: string
      start_time:
        description: Call start time
        format: date-time
        type: string
      target_duration:
        description: Duration of talk with target number
        type: integer
      target_number:
        description: Phone number of call recipient
        type: string
      target_result:
        description: Target number call ( second leg ) result
        type: string
      token:
        description: Call token
        type: string
