openapi: 3.0.0
servers:
  - url: 'https://adexperiencereport.googleapis.com/'
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'View Ad Experience Report data, and get a list of sites that have a significant number of annoying ads.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Ad Experience Report
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://adexperiencereport.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: adexperiencereport
externalDocs:
  url: 'https://developers.google.com/ad-experience-report/'
tags:
  - name: sites
  - name: violatingSites
paths:
  /v1/violatingSites:
    get:
      description: Lists sites with Ad Experience Report statuses of "Failing" or "Warning".
      operationId: adexperiencereport.violatingSites.list
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ViolatingSitesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/xapi.zoo'
          Oauth2c:
            - 'https://www.googleapis.com/auth/xapi.zoo'
      tags:
        - violatingSites
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/bearer_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/pp'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/upload_protocol'
  '/v1/{name}':
    get:
      description: Gets a summary of the ads rating of a site.
      operationId: adexperiencereport.sites.get
      parameters:
        - description: |-
            The required site name. It should be a site property registered in Search
            Console. The server will return an error of BAD_REQUEST if this field is
            not filled in.
          in: path
          name: name
          required: true
          x-reservedExpansion: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SiteSummaryResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/xapi.zoo'
          Oauth2c:
            - 'https://www.googleapis.com/auth/xapi.zoo'
      tags:
        - sites
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/bearer_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/pp'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/upload_protocol'
components:
  schemas:
    PlatformSummary:
      description: Summary of the ads rating of a site for a specific platform.
      properties:
        betterAdsStatus:
          description: The status of the site reviewed for the Better Ads Standards.
          enum:
            - UNKNOWN
            - PASSING
            - WARNING
            - FAILING
          type: string
        egregiousStatus:
          description: The status of the site reviewed for egregious ads.
          enum:
            - UNKNOWN
            - PASSING
            - FAILING
          type: string
        enforcementTime:
          description: The date on which ad filtering begins.
          format: google-datetime
          type: string
        filterStatus:
          description: The ad filtering status of the site.
          enum:
            - UNKNOWN
            - 'ON'
            - 'OFF'
            - PAUSED
            - PENDING
          type: string
        lastChangeTime:
          description: The last time that the site changed status.
          format: google-datetime
          type: string
        region:
          description: The assigned regions for the site and platform.
          items:
            enum:
              - REGION_UNKNOWN
              - REGION_A
              - REGION_B
            type: string
          type: array
        reportUrl:
          description: A link that leads to a full ad experience report.
          type: string
        underReview:
          description: Whether the site is currently under review.
          type: boolean
      type: object
    SiteSummaryResponse:
      description: Response message for GetSiteSummary.
      properties:
        desktopSummary:
          $ref: '#/components/schemas/PlatformSummary'
        mobileSummary:
          $ref: '#/components/schemas/PlatformSummary'
        reviewedSite:
          description: The name of the site reviewed.
          type: string
      type: object
    ViolatingSitesResponse:
      description: Response message for ListViolatingSites.
      properties:
        violatingSites:
          description: A list of summaries of violating sites.
          items:
            $ref: '#/components/schemas/SiteSummaryResponse'
          type: array
      type: object
  parameters:
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
        default: json
    bearer_token:
      description: OAuth bearer token.
      in: query
      name: bearer_token
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    pp:
      description: Pretty-print response.
      in: query
      name: pp
      schema:
        type: boolean
        default: true
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
        default: true
    quotaUser:
      description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: 'Upload protocol for media (e.g. "raw", "multipart").'
      in: query
      name: upload_protocol
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
          scopes:
            'https://www.googleapis.com/auth/xapi.zoo': Test scope for access to the Zoo service
    Oauth2c:
      description: Oauth 2.0 accessCode authentication
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
          tokenUrl: 'https://accounts.google.com/o/oauth2/token'
          scopes:
            'https://www.googleapis.com/auth/xapi.zoo': Test scope for access to the Zoo service
