swagger: '2.0'
schemes:
  - https
host: monitoring.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Manages your Stackdriver Monitoring data and configurations. Most projects must be associated with a Stackdriver account, with a few exceptions as noted on the individual method pages.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Stackdriver Monitoring
  version: v3
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - monitoring
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.6.0
      format: google
      url: 'https://monitoring.googleapis.com/$discovery/rest?version=v3'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: monitoring
externalDocs:
  url: 'https://cloud.google.com/monitoring/api/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/monitoring': View and write monitoring data for all of your Google and third-party Cloud and API projects
      'https://www.googleapis.com/auth/monitoring.read': View monitoring data for all of your Google Cloud and third-party projects
      'https://www.googleapis.com/auth/monitoring.write': Publish metric data to your Google Cloud projects
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/monitoring': View and write monitoring data for all of your Google and third-party Cloud and API projects
      'https://www.googleapis.com/auth/monitoring.read': View monitoring data for all of your Google Cloud and third-party projects
      'https://www.googleapis.com/auth/monitoring.write': Publish metric data to your Google Cloud projects
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: projects
  - name: uptimeCheckIps
paths:
  /v3/uptimeCheckIps:
    get:
      description: Returns the list of IPs that checkers run from
      operationId: monitoring.uptimeCheckIps.list
      parameters:
        - description: 'The maximum number of results to return in a single response. The server may further constrain the maximum number of results returned in a single page. If the page_size is <=0, the server will decide the number of results to be returned. NOTE: this field is not yet implemented'
          in: query
          name: pageSize
          type: integer
        - description: 'If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return more results from the previous method call. NOTE: this field is not yet implemented'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListUptimeCheckIpsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.read'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring.read'
      tags:
        - uptimeCheckIps
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v3/{name}':
    delete:
      description: Deletes an uptime check configuration. Note that this method will fail if the uptime check configuration is referenced by an alert policy or other dependent configs that would be rendered invalid by the deletion.
      operationId: monitoring.projects.uptimeCheckConfigs.delete
      parameters:
        - description: 'The uptime check configuration to delete. The formatis projects/[PROJECT_ID]/uptimeCheckConfigs/[UPTIME_CHECK_ID].'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring'
      tags:
        - projects
    get:
      description: Gets a single uptime check configuration.
      operationId: monitoring.projects.uptimeCheckConfigs.get
      parameters:
        - description: 'The uptime check configuration to retrieve. The formatis projects/[PROJECT_ID]/uptimeCheckConfigs/[UPTIME_CHECK_ID].'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UptimeCheckConfig'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.read'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring.read'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring.write'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: Updates an uptime check configuration. You can either replace the entire configuration with a new one or replace only certain fields in the current configuration by specifying the fields to be updated via "updateMask". Returns the updated configuration.
      operationId: monitoring.projects.uptimeCheckConfigs.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UptimeCheckConfig'
        - description: 'A unique resource name for this UptimeCheckConfig. The format is:projects/[PROJECT_ID]/uptimeCheckConfigs/[UPTIME_CHECK_ID].This field should be omitted when creating the uptime check configuration; on create, the resource name is assigned by the server and included in the response.'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: 'Optional. If present, only the listed fields in the current uptime check configuration are updated with values from the new configuration. If this field is empty, then the current configuration is completely replaced with the new configuration.'
          in: query
          name: updateMask
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UptimeCheckConfig'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring'
      tags:
        - projects
    put:
      description: Updates an existing group. You can change any group attributes except name.
      operationId: monitoring.projects.groups.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Group'
        - description: 'Output only. The name of this group. The format is "projects/{project_id_or_number}/groups/{group_id}". When creating a group, this field is ignored and a new name is created consisting of the project specified in the call to CreateGroup and a unique {group_id} that is generated automatically.'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: 'If true, validate this request but do not update the existing group.'
          in: query
          name: validateOnly
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Group'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring'
      tags:
        - projects
  '/v3/{name}/collectdTimeSeries':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: 'Stackdriver Monitoring Agent only: Creates a new time series.<aside class="caution">This method is only for use by the Stackdriver Monitoring Agent. Use projects.timeSeries.create instead.</aside>'
      operationId: monitoring.projects.collectdTimeSeries.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateCollectdTimeSeriesRequest'
        - description: The project in which to create the time series. The format is "projects/PROJECT_ID_OR_NUMBER".
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreateCollectdTimeSeriesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring.write'
      tags:
        - projects
  '/v3/{name}/groups':
    get:
      description: Lists the existing groups.
      operationId: monitoring.projects.groups.list
      parameters:
        - description: 'A group name: "projects/{project_id_or_number}/groups/{group_id}". Returns groups that are ancestors of the specified group. The groups are returned in order, starting with the immediate parent and ending with the most distant ancestor. If the specified group has no immediate parent, the results are empty.'
          in: query
          name: ancestorsOfGroup
          type: string
        - description: 'A group name: "projects/{project_id_or_number}/groups/{group_id}". Returns groups whose parentName field contains the group name. If no groups have this parent, the results are empty.'
          in: query
          name: childrenOfGroup
          type: string
        - description: 'A group name: "projects/{project_id_or_number}/groups/{group_id}". Returns the descendants of the specified group. This is a superset of the results returned by the childrenOfGroup filter, and includes children-of-children, and so forth.'
          in: query
          name: descendantsOfGroup
          type: string
        - description: 'The project whose groups are to be listed. The format is "projects/{project_id_or_number}".'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: A positive number that is the maximum number of results to return.
          in: query
          name: pageSize
          type: integer
        - description: If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListGroupsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.read'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring.read'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a new group.
      operationId: monitoring.projects.groups.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Group'
        - description: 'The project in which to create the group. The format is "projects/{project_id_or_number}".'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: 'If true, validate this request but do not create the group.'
          in: query
          name: validateOnly
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Group'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring'
      tags:
        - projects
  '/v3/{name}/members':
    get:
      description: Lists the monitored resources that are members of a group.
      operationId: monitoring.projects.groups.members.list
      parameters:
        - description: |
            An optional list filter describing the members to be returned. The filter may reference the type, labels, and metadata of monitored resources that comprise the group. For example, to return only resources representing Compute Engine VM instances, use this filter:
            resource.type = "gce_instance"
          in: query
          name: filter
          type: string
        - description: Required. The end of the time interval.
          in: query
          name: interval.endTime
          type: string
        - description: Optional. The beginning of the time interval. The default value for the start time is the end time. The start time must not be later than the end time.
          in: query
          name: interval.startTime
          type: string
        - description: 'The group whose members are listed. The format is "projects/{project_id_or_number}/groups/{group_id}".'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: A positive number that is the maximum number of results to return.
          in: query
          name: pageSize
          type: integer
        - description: If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListGroupMembersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.read'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring.read'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v3/{name}/metricDescriptors':
    get:
      description: Lists metric descriptors that match a filter. This method does not require a Stackdriver account.
      operationId: monitoring.projects.metricDescriptors.list
      parameters:
        - description: |
            If this field is empty, all custom and system-defined metric descriptors are returned. Otherwise, the filter specifies which metric descriptors are to be returned. For example, the following filter matches all custom metrics:
            metric.type = starts_with("custom.googleapis.com/")
          in: query
          name: filter
          type: string
        - description: 'The project on which to execute the request. The format is "projects/{project_id_or_number}".'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: A positive number that is the maximum number of results to return.
          in: query
          name: pageSize
          type: integer
        - description: If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListMetricDescriptorsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.read'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring.read'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring.write'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a new metric descriptor. User-created metric descriptors define custom metrics.
      operationId: monitoring.projects.metricDescriptors.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/MetricDescriptor'
        - description: 'The project on which to execute the request. The format is "projects/{project_id_or_number}".'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/MetricDescriptor'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring.write'
      tags:
        - projects
  '/v3/{name}/monitoredResourceDescriptors':
    get:
      description: Lists monitored resource descriptors that match a filter. This method does not require a Stackdriver account.
      operationId: monitoring.projects.monitoredResourceDescriptors.list
      parameters:
        - description: |
            An optional filter describing the descriptors to be returned. The filter can reference the descriptor's type and labels. For example, the following filter returns only Google Compute Engine descriptors that have an id label:
            resource.type = starts_with("gce_") AND resource.label:id
          in: query
          name: filter
          type: string
        - description: 'The project on which to execute the request. The format is "projects/{project_id_or_number}".'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: A positive number that is the maximum number of results to return.
          in: query
          name: pageSize
          type: integer
        - description: If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListMonitoredResourceDescriptorsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.read'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring.read'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring.write'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v3/{name}/timeSeries':
    get:
      description: Lists time series that match a filter. This method does not require a Stackdriver account.
      operationId: monitoring.projects.timeSeries.list
      parameters:
        - description: 'The alignment period for per-time series alignment. If present, alignmentPeriod must be at least 60 seconds. After per-time series alignment, each time series will contain data points only on the period boundaries. If perSeriesAligner is not specified or equals ALIGN_NONE, then this field is ignored. If perSeriesAligner is specified and does not equal ALIGN_NONE, then this field must be defined; otherwise an error is returned.'
          in: query
          name: aggregation.alignmentPeriod
          type: string
        - description: 'The approach to be used to combine time series. Not all reducer functions may be applied to all time series, depending on the metric type and the value type of the original time series. Reduction may change the metric type of value type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If crossSeriesReducer is specified, then perSeriesAligner must be specified and not equal ALIGN_NONE and alignmentPeriod must be specified; otherwise, an error is returned.'
          enum:
            - REDUCE_NONE
            - REDUCE_MEAN
            - REDUCE_MIN
            - REDUCE_MAX
            - REDUCE_SUM
            - REDUCE_STDDEV
            - REDUCE_COUNT
            - REDUCE_COUNT_TRUE
            - REDUCE_COUNT_FALSE
            - REDUCE_FRACTION_TRUE
            - REDUCE_PERCENTILE_99
            - REDUCE_PERCENTILE_95
            - REDUCE_PERCENTILE_50
            - REDUCE_PERCENTILE_05
          in: query
          name: aggregation.crossSeriesReducer
          type: string
        - collectionFormat: multi
          description: 'The set of fields to preserve when crossSeriesReducer is specified. The groupByFields determine how the time series are partitioned into subsets prior to applying the aggregation function. Each subset contains time series that have the same value for each of the grouping fields. Each individual time series is a member of exactly one subset. The crossSeriesReducer is applied to each subset of time series. It is not possible to reduce across different resource types, so this field implicitly contains resource.type. Fields not specified in groupByFields are aggregated away. If groupByFields is not specified and all the time series have the same resource type, then the time series are aggregated into a single output time series. If crossSeriesReducer is not defined, this field is ignored.'
          in: query
          items:
            type: string
          name: aggregation.groupByFields
          type: array
        - description: 'The approach to be used to align individual time series. Not all alignment functions may be applied to all time series, depending on the metric type and value type of the original time series. Alignment may change the metric type or the value type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If crossSeriesReducer is specified, then perSeriesAligner must be specified and not equal ALIGN_NONE and alignmentPeriod must be specified; otherwise, an error is returned.'
          enum:
            - ALIGN_NONE
            - ALIGN_DELTA
            - ALIGN_RATE
            - ALIGN_INTERPOLATE
            - ALIGN_NEXT_OLDER
            - ALIGN_MIN
            - ALIGN_MAX
            - ALIGN_MEAN
            - ALIGN_COUNT
            - ALIGN_SUM
            - ALIGN_STDDEV
            - ALIGN_COUNT_TRUE
            - ALIGN_COUNT_FALSE
            - ALIGN_FRACTION_TRUE
            - ALIGN_PERCENTILE_99
            - ALIGN_PERCENTILE_95
            - ALIGN_PERCENTILE_50
            - ALIGN_PERCENTILE_05
            - ALIGN_PERCENT_CHANGE
          in: query
          name: aggregation.perSeriesAligner
          type: string
        - description: |
            A monitoring filter that specifies which time series should be returned. The filter must specify a single metric type, and can additionally specify metric labels and other information. For example:
            metric.type = "compute.googleapis.com/instance/cpu/usage_time" AND
                metric.label.instance_name = "my-instance-name"
          in: query
          name: filter
          type: string
        - description: Required. The end of the time interval.
          in: query
          name: interval.endTime
          type: string
        - description: Optional. The beginning of the time interval. The default value for the start time is the end time. The start time must not be later than the end time.
          in: query
          name: interval.startTime
          type: string
        - description: 'The project on which to execute the request. The format is "projects/{project_id_or_number}".'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: 'Unsupported: must be left blank. The points in each time series are returned in reverse time order.'
          in: query
          name: orderBy
          type: string
        - description: 'A positive number that is the maximum number of results to return. When view field sets to FULL, it limits the number of Points server will return; if view field is HEADERS, it limits the number of TimeSeries server will return.'
          in: query
          name: pageSize
          type: integer
        - description: If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.
          in: query
          name: pageToken
          type: string
        - description: Specifies which information is returned about the time series.
          enum:
            - FULL
            - HEADERS
          in: query
          name: view
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListTimeSeriesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.read'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring.read'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: 'Creates or adds data to one or more time series. The response is empty if all time series in the request were written. If any time series could not be written, a corresponding failure message is included in the error response.'
      operationId: monitoring.projects.timeSeries.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateTimeSeriesRequest'
        - description: 'The project on which to execute the request. The format is "projects/{project_id_or_number}".'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring.write'
      tags:
        - projects
  '/v3/{parent}/uptimeCheckConfigs':
    get:
      description: 'Lists the existing valid uptime check configurations for the project, leaving out any invalid configurations.'
      operationId: monitoring.projects.uptimeCheckConfigs.list
      parameters:
        - description: 'The maximum number of results to return in a single response. The server may further constrain the maximum number of results returned in a single page. If the page_size is <=0, the server will decide the number of results to be returned.'
          in: query
          name: pageSize
          type: integer
        - description: If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return more results from the previous method call.
          in: query
          name: pageToken
          type: string
        - description: 'The project whose uptime check configurations are listed. The formatis projects/[PROJECT_ID].'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListUptimeCheckConfigsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.read'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring.read'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a new uptime check configuration.
      operationId: monitoring.projects.uptimeCheckConfigs.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UptimeCheckConfig'
        - description: 'The project in which to create the uptime check. The formatis projects/[PROJECT_ID].'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UptimeCheckConfig'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
          Oauth2c:
            - 'https://www.googleapis.com/auth/monitoring'
      tags:
        - projects
definitions:
  BasicAuthentication:
    description: 'A type of authentication to perform against the specified resource or URL that uses username and password. Currently, only Basic authentication is supported in Uptime Monitoring.'
    properties:
      password:
        description: The password to authenticate.
        type: string
      username:
        description: The username to authenticate.
        type: string
    type: object
  BucketOptions:
    description: 'BucketOptions describes the bucket boundaries used to create a histogram for the distribution. The buckets can be in a linear sequence, an exponential sequence, or each bucket can be specified explicitly. BucketOptions does not include the number of values in each bucket.A bucket has an inclusive lower bound and exclusive upper bound for the values that are counted for that bucket. The upper bound of a bucket must be strictly greater than the lower bound. The sequence of N buckets for a distribution consists of an underflow bucket (number 0), zero or more finite buckets (number 1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous: the lower bound of bucket i (i > 0) is the same as the upper bound of bucket i - 1. The buckets span the whole range of finite values: lower bound of the underflow bucket is -infinity and the upper bound of the overflow bucket is +infinity. The finite buckets are so-called because both bounds are finite.'
    properties:
      explicitBuckets:
        $ref: '#/definitions/Explicit'
        description: The explicit buckets.
      exponentialBuckets:
        $ref: '#/definitions/Exponential'
        description: The exponential buckets.
      linearBuckets:
        $ref: '#/definitions/Linear'
        description: The linear bucket.
    type: object
  CollectdPayload:
    description: A collection of data points sent from a collectd-based plugin. See the collectd documentation for more information.
    properties:
      endTime:
        description: The end time of the interval.
        format: google-datetime
        type: string
      metadata:
        additionalProperties:
          $ref: '#/definitions/TypedValue'
        description: 'The measurement metadata. Example: "process_id" -> 12345'
        type: object
      plugin:
        description: 'The name of the plugin. Example: "disk".'
        type: string
      pluginInstance:
        description: 'The instance name of the plugin Example: "hdcl".'
        type: string
      startTime:
        description: The start time of the interval.
        format: google-datetime
        type: string
      type:
        description: 'The measurement type. Example: "memory".'
        type: string
      typeInstance:
        description: 'The measurement type instance. Example: "used".'
        type: string
      values:
        description: The measured values during this time interval. Each value must have a different dataSourceName.
        items:
          $ref: '#/definitions/CollectdValue'
        type: array
    type: object
  CollectdPayloadError:
    description: Describes the error status for payloads that were not written.
    properties:
      error:
        $ref: '#/definitions/Status'
        description: 'Records the error status for the payload. If this field is present, the partial errors for nested values won''t be populated.'
      index:
        description: The zero-based index in CreateCollectdTimeSeriesRequest.collectd_payloads.
        format: int32
        type: integer
      valueErrors:
        description: Records the error status for values that were not written due to an error.Failed payloads for which nothing is written will not include partial value errors.
        items:
          $ref: '#/definitions/CollectdValueError'
        type: array
    type: object
  CollectdValue:
    description: A single data point from a collectd-based plugin.
    properties:
      dataSourceName:
        description: 'The data source for the collectd value. For example there are two data sources for network measurements: "rx" and "tx".'
        type: string
      dataSourceType:
        description: The type of measurement.
        enum:
          - UNSPECIFIED_DATA_SOURCE_TYPE
          - GAUGE
          - COUNTER
          - DERIVE
          - ABSOLUTE
        type: string
      value:
        $ref: '#/definitions/TypedValue'
        description: The measurement value.
    type: object
  CollectdValueError:
    description: Describes the error status for values that were not written.
    properties:
      error:
        $ref: '#/definitions/Status'
        description: Records the error status for the value.
      index:
        description: The zero-based index in CollectdPayload.values within the parent CreateCollectdTimeSeriesRequest.collectd_payloads.
        format: int32
        type: integer
    type: object
  ContentMatcher:
    description: 'Used to perform string matching. Currently, this matches on the exact content. In the future, it can be expanded to allow for regular expressions and more complex matching.'
    properties:
      content:
        description: String content to match
        type: string
    type: object
  CreateCollectdTimeSeriesRequest:
    description: The CreateCollectdTimeSeries request.
    properties:
      collectdPayloads:
        description: 'The collectd payloads representing the time series data. You must not include more than a single point for each time series, so no two payloads can have the same values for all of the fields plugin, plugin_instance, type, and type_instance.'
        items:
          $ref: '#/definitions/CollectdPayload'
        type: array
      collectdVersion:
        description: 'The version of collectd that collected the data. Example: "5.3.0-192.el6".'
        type: string
      resource:
        $ref: '#/definitions/MonitoredResource'
        description: The monitored resource associated with the time series.
    type: object
  CreateCollectdTimeSeriesResponse:
    description: The CreateCollectdTimeSeries response.
    properties:
      payloadErrors:
        description: Records the error status for points that were not written due to an error.Failed requests for which nothing is written will return an error response instead.
        items:
          $ref: '#/definitions/CollectdPayloadError'
        type: array
    type: object
  CreateTimeSeriesRequest:
    description: The CreateTimeSeries request.
    properties:
      timeSeries:
        description: The new data to be added to a list of time series. Adds at most one data point to each of several time series. The new data point must be more recent than any other point in its time series. Each TimeSeries value must fully specify a unique time series by supplying all label values for the metric and the monitored resource.
        items:
          $ref: '#/definitions/TimeSeries'
        type: array
    type: object
  Distribution:
    description: 'Distribution contains summary statistics for a population of values. It optionally contains a histogram representing the distribution of those values across a set of buckets.The summary statistics are the count, mean, sum of the squared deviation from the mean, the minimum, and the maximum of the set of population of values. The histogram is based on a sequence of buckets and gives a count of values that fall into each bucket. The boundaries of the buckets are given either explicitly or by formulas for buckets of fixed or exponentially increasing widths.Although it is not forbidden, it is generally a bad idea to include non-finite values (infinities or NaNs) in the population of values, as this will render the mean and sum_of_squared_deviation fields meaningless.'
    properties:
      bucketCounts:
        description: 'Required in the Stackdriver Monitoring API v3. The values for each bucket specified in bucket_options. The sum of the values in bucketCounts must equal the value in the count field of the Distribution object. The order of the bucket counts follows the numbering schemes described for the three bucket types. The underflow bucket has number 0; the finite buckets, if any, have numbers 1 through N-2; and the overflow bucket has number N-1. The size of bucket_counts must not be greater than N. If the size is less than N, then the remaining buckets are assigned values of zero.'
        items:
          format: int64
          type: string
        type: array
      bucketOptions:
        $ref: '#/definitions/BucketOptions'
        description: Required in the Stackdriver Monitoring API v3. Defines the histogram bucket boundaries.
      count:
        description: The number of values in the population. Must be non-negative. This value must equal the sum of the values in bucket_counts if a histogram is provided.
        format: int64
        type: string
      mean:
        description: The arithmetic mean of the values in the population. If count is zero then this field must be zero.
        format: double
        type: number
      range:
        $ref: '#/definitions/Range'
        description: 'If specified, contains the range of the population values. The field must not be present if the count is zero. This field is presently ignored by the Stackdriver Monitoring API v3.'
      sumOfSquaredDeviation:
        description: |-
          The sum of squared deviations from the mean of the values in the population. For values x_i this is:
          Sum[i=1..n]((x_i - mean)^2)
          Knuth, "The Art of Computer Programming", Vol. 2, page 323, 3rd edition describes Welford's method for accumulating this sum in one pass.If count is zero then this field must be zero.
        format: double
        type: number
    type: object
  Empty:
    description: |-
      A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance:
      service Foo {
        rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);
      }
      The JSON representation for Empty is empty JSON object {}.
    properties: {}
    type: object
  Explicit:
    description: 'Specifies a set of buckets with arbitrary widths.There are size(bounds) + 1 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 <= i < N-1): boundsi  Lower bound (1 <= i < N); boundsi - 1The bounds field must contain at least one element. If bounds has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.'
    properties:
      bounds:
        description: The values must be monotonically increasing.
        items:
          format: double
          type: number
        type: array
    type: object
  Exponential:
    description: 'Specifies an exponential sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 <= i < N-1): scale * (growth_factor ^ i).  Lower bound (1 <= i < N): scale * (growth_factor ^ (i - 1)).'
    properties:
      growthFactor:
        description: Must be greater than 1.
        format: double
        type: number
      numFiniteBuckets:
        description: Must be greater than 0.
        format: int32
        type: integer
      scale:
        description: Must be greater than 0.
        format: double
        type: number
    type: object
  Field:
    description: A single field of a message type.
    properties:
      cardinality:
        description: The field cardinality.
        enum:
          - CARDINALITY_UNKNOWN
          - CARDINALITY_OPTIONAL
          - CARDINALITY_REQUIRED
          - CARDINALITY_REPEATED
        type: string
      defaultValue:
        description: The string value of the default value of this field. Proto2 syntax only.
        type: string
      jsonName:
        description: The field JSON name.
        type: string
      kind:
        description: The field type.
        enum:
          - TYPE_UNKNOWN
          - TYPE_DOUBLE
          - TYPE_FLOAT
          - TYPE_INT64
          - TYPE_UINT64
          - TYPE_INT32
          - TYPE_FIXED64
          - TYPE_FIXED32
          - TYPE_BOOL
          - TYPE_STRING
          - TYPE_GROUP
          - TYPE_MESSAGE
          - TYPE_BYTES
          - TYPE_UINT32
          - TYPE_ENUM
          - TYPE_SFIXED32
          - TYPE_SFIXED64
          - TYPE_SINT32
          - TYPE_SINT64
        type: string
      name:
        description: The field name.
        type: string
      number:
        description: The field number.
        format: int32
        type: integer
      oneofIndex:
        description: 'The index of the field type in Type.oneofs, for message or enumeration types. The first type has index 1; zero means the type is not in the list.'
        format: int32
        type: integer
      options:
        description: The protocol buffer options.
        items:
          $ref: '#/definitions/Option'
        type: array
      packed:
        description: Whether to use alternative packed wire representation.
        type: boolean
      typeUrl:
        description: 'The field type URL, without the scheme, for message or enumeration types. Example: "type.googleapis.com/google.protobuf.Timestamp".'
        type: string
    type: object
  Group:
    description: 'The description of a dynamic collection of monitored resources. Each group has a filter that is matched against monitored resources and their associated metadata. If a group''s filter matches an available monitored resource, then that resource is a member of that group. Groups can contain any number of monitored resources, and each monitored resource can be a member of any number of groups.Groups can be nested in parent-child hierarchies. The parentName field identifies an optional parent for each group. If a group has a parent, then the only monitored resources available to be matched by the group''s filter are the resources contained in the parent group. In other words, a group contains the monitored resources that match its filter and the filters of all the group''s ancestors. A group without a parent can contain any monitored resource.For example, consider an infrastructure running a set of instances with two user-defined tags: "environment" and "role". A parent group has a filter, environment="production". A child of that parent group has a filter, role="transcoder". The parent group contains all instances in the production environment, regardless of their roles. The child group contains instances that have the transcoder role and are in the production environment.The monitored resources contained in a group can change at any moment, depending on what resources exist and what filters are associated with the group and its ancestors.'
    properties:
      displayName:
        description: 'A user-assigned name for this group, used only for display purposes.'
        type: string
      filter:
        description: The filter used to determine which monitored resources belong to this group.
        type: string
      isCluster:
        description: 'If true, the members of this group are considered to be a cluster. The system can perform additional analysis on groups that are clusters.'
        type: boolean
      name:
        description: 'Output only. The name of this group. The format is "projects/{project_id_or_number}/groups/{group_id}". When creating a group, this field is ignored and a new name is created consisting of the project specified in the call to CreateGroup and a unique {group_id} that is generated automatically.'
        type: string
      parentName:
        description: 'The name of the group''s parent, if it has one. The format is "projects/{project_id_or_number}/groups/{group_id}". For groups with no parent, parentName is the empty string, "".'
        type: string
    type: object
  HttpCheck:
    description: Information involved in an HTTP/HTTPS uptime check request.
    properties:
      authInfo:
        $ref: '#/definitions/BasicAuthentication'
        description: The authentication information. Optional when creating an HTTP check; defaults to empty.
      headers:
        additionalProperties:
          type: string
        description: 'The list of headers to send as part of the uptime check request. If two headers have the same key and different values, they should be entered as a single header, with the value being a comma-separated list of all the desired values as described at https://www.w3.org/Protocols/rfc2616/rfc2616.txt (page 31). Entering two separate headers with the same key in a Create call will cause the first to be overwritten by the second. The maximum number of headers allowed is 100.'
        type: object
      maskHeaders:
        description: 'Boolean specifiying whether to encrypt the header information. Encryption should be specified for any headers related to authentication that you do not wish to be seen when retrieving the configuration. The server will be responsible for encrypting the headers. On Get/List calls, if mask_headers is set to True then the headers will be obscured with ******.'
        type: boolean
      path:
        description: The path to the page to run the check against. Will be combined with the host (specified within the MonitoredResource) and port to construct the full URL. Optional (defaults to "/").
        type: string
      port:
        description: 'The port to the page to run the check against. Will be combined with host (specified within the MonitoredResource) and path to construct the full URL. Optional (defaults to 80 without SSL, or 443 with SSL).'
        format: int32
        type: integer
      useSsl:
        description: 'If true, use HTTPS instead of HTTP to run the check.'
        type: boolean
    type: object
  InternalChecker:
    description: Nimbus InternalCheckers.
    properties:
      checkerId:
        description: The checker ID.
        type: string
      displayName:
        description: The checker's human-readable name.
        type: string
      gcpZone:
        description: 'The GCP zone the uptime check should egress from. Only respected for internal uptime checks, where internal_network is specified.'
        type: string
      network:
        description: The internal network to perform this uptime check on.
        type: string
      projectId:
        description: The GCP project ID. Not necessarily the same as the project_id for the config.
        type: string
    type: object
  LabelDescriptor:
    description: A description of a label.
    properties:
      description:
        description: A human-readable description for the label.
        type: string
      key:
        description: The label key.
        type: string
      valueType:
        description: The type of data that can be assigned to the label.
        enum:
          - STRING
          - BOOL
          - INT64
        type: string
    type: object
  Linear:
    description: 'Specifies a linear sequence of buckets that all have the same width (except overflow and underflow). Each bucket represents a constant absolute uncertainty on the specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 <= i < N-1): offset + (width * i).  Lower bound (1 <= i < N): offset + (width * (i - 1)).'
    properties:
      numFiniteBuckets:
        description: Must be greater than 0.
        format: int32
        type: integer
      offset:
        description: Lower bound of the first bucket.
        format: double
        type: number
      width:
        description: Must be greater than 0.
        format: double
        type: number
    type: object
  ListGroupMembersResponse:
    description: The ListGroupMembers response.
    properties:
      members:
        description: A set of monitored resources in the group.
        items:
          $ref: '#/definitions/MonitoredResource'
        type: array
      nextPageToken:
        description: 'If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.'
        type: string
      totalSize:
        description: The total number of elements matching this request.
        format: int32
        type: integer
    type: object
  ListGroupsResponse:
    description: The ListGroups response.
    properties:
      group:
        description: The groups that match the specified filters.
        items:
          $ref: '#/definitions/Group'
        type: array
      nextPageToken:
        description: 'If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.'
        type: string
    type: object
  ListMetricDescriptorsResponse:
    description: The ListMetricDescriptors response.
    properties:
      metricDescriptors:
        description: 'The metric descriptors that are available to the project and that match the value of filter, if present.'
        items:
          $ref: '#/definitions/MetricDescriptor'
        type: array
      nextPageToken:
        description: 'If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.'
        type: string
    type: object
  ListMonitoredResourceDescriptorsResponse:
    description: The ListMonitoredResourceDescriptors response.
    properties:
      nextPageToken:
        description: 'If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.'
        type: string
      resourceDescriptors:
        description: 'The monitored resource descriptors that are available to this project and that match filter, if present.'
        items:
          $ref: '#/definitions/MonitoredResourceDescriptor'
        type: array
    type: object
  ListTimeSeriesResponse:
    description: The ListTimeSeries response.
    properties:
      nextPageToken:
        description: 'If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.'
        type: string
      timeSeries:
        description: One or more time series that match the filter included in the request.
        items:
          $ref: '#/definitions/TimeSeries'
        type: array
    type: object
  ListUptimeCheckConfigsResponse:
    description: The protocol for the ListUptimeCheckConfigs response.
    properties:
      nextPageToken:
        description: 'This field represents the pagination token to retrieve the next page of results. If the value is empty, it means no further results for the request. To retrieve the next page of results, the value of the next_page_token is passed to the subsequent List method call (in the request message''s page_token field).'
        type: string
      totalSize:
        description: 'The total number of uptime check configurations for the project, irrespective of any pagination.'
        format: int32
        type: integer
      uptimeCheckConfigs:
        description: The returned uptime check configurations.
        items:
          $ref: '#/definitions/UptimeCheckConfig'
        type: array
    type: object
  ListUptimeCheckIpsResponse:
    description: The protocol for the ListUptimeCheckIps response.
    properties:
      nextPageToken:
        description: 'This field represents the pagination token to retrieve the next page of results. If the value is empty, it means no further results for the request. To retrieve the next page of results, the value of the next_page_token is passed to the subsequent List method call (in the request message''s page_token field). NOTE: this field is not yet implemented'
        type: string
      uptimeCheckIps:
        description: The returned list of IP addresses (including region and location) that the checkers run from.
        items:
          $ref: '#/definitions/UptimeCheckIp'
        type: array
    type: object
  Metric:
    description: 'A specific metric, identified by specifying values for all of the labels of a MetricDescriptor.'
    properties:
      labels:
        additionalProperties:
          type: string
        description: The set of label values that uniquely identify this metric. All labels listed in the MetricDescriptor must be assigned values.
        type: object
      type:
        description: 'An existing metric type, see google.api.MetricDescriptor. For example, custom.googleapis.com/invoice/paid/amount.'
        type: string
    type: object
  MetricDescriptor:
    description: 'Defines a metric type and its schema. Once a metric descriptor is created, deleting or altering it stops data collection and makes the metric type''s existing data unusable.'
    properties:
      description:
        description: 'A detailed description of the metric, which can be used in documentation.'
        type: string
      displayName:
        description: 'A concise name for the metric, which can be displayed in user interfaces. Use sentence case without an ending period, for example "Request count". This field is optional but it is recommended to be set for any metrics associated with user-visible concepts, such as Quota.'
        type: string
      labels:
        description: 'The set of labels that can be used to describe a specific instance of this metric type. For example, the appengine.googleapis.com/http/server/response_latencies metric type has a label for the HTTP response code, response_code, so you can look at latencies for successful responses or just for responses that failed.'
        items:
          $ref: '#/definitions/LabelDescriptor'
        type: array
      metricKind:
        description: 'Whether the metric records instantaneous values, changes to a value, etc. Some combinations of metric_kind and value_type might not be supported.'
        enum:
          - METRIC_KIND_UNSPECIFIED
          - GAUGE
          - DELTA
          - CUMULATIVE
        type: string
      name:
        description: The resource name of the metric descriptor.
        type: string
      type:
        description: |
          The metric type, including its DNS name prefix. The type is not URL-encoded. All user-defined custom metric types have the DNS name custom.googleapis.com. Metric types should use a natural hierarchical grouping. For example:
          "custom.googleapis.com/invoice/paid/amount"
          "appengine.googleapis.com/http/server/response_latencies"
        type: string
      unit:
        description: 'Optional. The unit in which the metric value is reported. For example, kBy/s means kilobytes/sec, and 1 is the dimensionless unit. The supported units are a subset of The Unified Code for Units of Measure standard (http://unitsofmeasure.org/ucum.html).<br><br> This field is part of the metric''s documentation, but it is ignored by Stackdriver.'
        type: string
      valueType:
        description: 'Whether the measurement is an integer, a floating-point number, etc. Some combinations of metric_kind and value_type might not be supported.'
        enum:
          - VALUE_TYPE_UNSPECIFIED
          - BOOL
          - INT64
          - DOUBLE
          - STRING
          - DISTRIBUTION
          - MONEY
        type: string
    type: object
  MonitoredResource:
    description: |
      An object representing a resource that can be used for monitoring, logging, billing, or other purposes. Examples include virtual machine instances, databases, and storage devices such as disks. The type field identifies a MonitoredResourceDescriptor object that describes the resource's schema. Information in the labels field identifies the actual resource and its attributes according to the schema. For example, a particular Compute Engine VM instance could be represented by the following object, because the MonitoredResourceDescriptor for "gce_instance" has labels "instance_id" and "zone":
      { "type": "gce_instance",
        "labels": { "instance_id": "12345678901234",
                    "zone": "us-central1-a" }}
    properties:
      labels:
        additionalProperties:
          type: string
        description: 'Required. Values for all of the labels listed in the associated monitored resource descriptor. For example, Compute Engine VM instances use the labels "project_id", "instance_id", and "zone".'
        type: object
      type:
        description: 'Required. The monitored resource type. This field must match the type field of a MonitoredResourceDescriptor object. For example, the type of a Compute Engine VM instance is gce_instance.'
        type: string
    type: object
  MonitoredResourceDescriptor:
    description: 'An object that describes the schema of a MonitoredResource object using a type name and a set of labels. For example, the monitored resource descriptor for Google Compute Engine VM instances has a type of "gce_instance" and specifies the use of the labels "instance_id" and "zone" to identify particular VM instances.Different APIs can support different monitored resource types. APIs generally provide a list method that returns the monitored resource descriptors used by the API.'
    properties:
      description:
        description: Optional. A detailed description of the monitored resource type that might be used in documentation.
        type: string
      displayName:
        description: 'Optional. A concise name for the monitored resource type that might be displayed in user interfaces. It should be a Title Cased Noun Phrase, without any article or other determiners. For example, "Google Cloud SQL Database".'
        type: string
      labels:
        description: 'Required. A set of labels used to describe instances of this monitored resource type. For example, an individual Google Cloud SQL database is identified by values for the labels "database_id" and "zone".'
        items:
          $ref: '#/definitions/LabelDescriptor'
        type: array
      name:
        description: 'Optional. The resource name of the monitored resource descriptor: "projects/{project_id}/monitoredResourceDescriptors/{type}" where {type} is the value of the type field in this object and {project_id} is a project ID that provides API-specific context for accessing the type. APIs that do not use project information can use the resource name format "monitoredResourceDescriptors/{type}".'
        type: string
      type:
        description: 'Required. The monitored resource type. For example, the type "cloudsql_database" represents databases in Google Cloud SQL. The maximum length of this value is 256 characters.'
        type: string
    type: object
  MonitoredResourceMetadata:
    description: 'Auxiliary metadata for a MonitoredResource object. MonitoredResource objects contain the minimum set of information to uniquely identify a monitored resource instance. There is some other useful auxiliary metadata. Google Stackdriver Monitoring & Logging uses an ingestion pipeline to extract metadata for cloud resources of all types , and stores the metadata in this message.'
    properties:
      systemLabels:
        additionalProperties:
          description: Properties of the object.
        description: |
          Output only. Values for predefined system metadata labels. System labels are a kind of metadata extracted by Google Stackdriver. Stackdriver determines what system labels are useful and how to obtain their values. Some examples: "machine_image", "vpc", "subnet_id", "security_group", "name", etc. System label values can be only strings, Boolean values, or a list of strings. For example:
          { "name": "my-test-instance",
            "security_group": ["a", "b", "c"],
            "spot_instance": false }
        type: object
      userLabels:
        additionalProperties:
          type: string
        description: Output only. A map of user-defined metadata labels.
        type: object
    type: object
  Option:
    description: 'A protocol buffer option, which can be attached to a message, field, enumeration, etc.'
    properties:
      name:
        description: 'The option''s name. For protobuf built-in options (options defined in descriptor.proto), this is the short name. For example, "map_entry". For custom options, it should be the fully-qualified name. For example, "google.api.http".'
        type: string
      value:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: 'The option''s value packed in an Any message. If the value is a primitive, the corresponding wrapper type defined in google/protobuf/wrappers.proto should be used. If the value is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value type.'
        type: object
    type: object
  Point:
    description: A single data point in a time series.
    properties:
      interval:
        $ref: '#/definitions/TimeInterval'
        description: 'The time interval to which the data point applies. For GAUGE metrics, only the end time of the interval is used. For DELTA metrics, the start and end time should specify a non-zero interval, with subsequent points specifying contiguous and non-overlapping intervals. For CUMULATIVE metrics, the start and end time should specify a non-zero interval, with subsequent points specifying the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points.'
      value:
        $ref: '#/definitions/TypedValue'
        description: The value of the data point.
    type: object
  Range:
    description: The range of the population values.
    properties:
      max:
        description: The maximum of the population values.
        format: double
        type: number
      min:
        description: The minimum of the population values.
        format: double
        type: number
    type: object
  ResourceGroup:
    description: 'The resource submessage for group checks. It can be used instead of a monitored resource, when multiple resources are being monitored.'
    properties:
      groupId:
        description: 'The group of resources being monitored. Should be only the group_id, not projects/<project_id>/groups/<group_id>.'
        type: string
      resourceType:
        description: The resource type of the group members.
        enum:
          - RESOURCE_TYPE_UNSPECIFIED
          - INSTANCE
          - AWS_ELB_LOAD_BALANCER
        type: string
    type: object
  SourceContext:
    description: 'SourceContext represents information about the source of a protobuf element, like the file in which it is defined.'
    properties:
      fileName:
        description: 'The path-qualified name of the .proto file that contained the associated protobuf element. For example: "google/protobuf/source_context.proto".'
        type: string
    type: object
  Status:
    description: |-
      The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). The error model is designed to be:
      Simple to use and understand for most users
      Flexible enough to meet unexpected needsOverviewThe Status message contains three pieces of data: error code, error message, and error details. The error code should be an enum value of google.rpc.Code, but it may accept additional error codes if needed. The error message should be a developer-facing English message that helps developers understand and resolve the error. If a localized user-facing error message is needed, put the localized message in the error details or localize it in the client. The optional error details may contain arbitrary information about the error. There is a predefined set of error detail types in the package google.rpc that can be used for common error conditions.Language mappingThe Status message is the logical representation of the error model, but it is not necessarily the actual wire format. When the Status message is exposed in different client libraries and different wire protocols, it can be mapped differently. For example, it will likely be mapped to some exceptions in Java, but more likely mapped to some error codes in C.Other usesThe error model and the Status message can be used in a variety of environments, either with or without APIs, to provide a consistent developer experience across different environments.Example uses of this error model include:
      Partial errors. If a service needs to return partial errors to the client, it may embed the Status in the normal response to indicate the partial errors.
      Workflow errors. A typical workflow has multiple steps. Each step may have a Status message for error reporting.
      Batch operations. If a client uses batch request and batch response, the Status message should be used directly inside batch response, one for each error sub-response.
      Asynchronous operations. If an API call embeds asynchronous operation results in its response, the status of those operations should be represented directly using the Status message.
      Logging. If some API errors are stored in logs, the message Status could be used directly after any stripping needed for security/privacy reasons.
    properties:
      code:
        description: 'The status code, which should be an enum value of google.rpc.Code.'
        format: int32
        type: integer
      details:
        description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
        items:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          type: object
        type: array
      message:
        description: 'A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.'
        type: string
    type: object
  TcpCheck:
    description: Information required for a TCP uptime check request.
    properties:
      port:
        description: The port to the page to run the check against. Will be combined with host (specified within the MonitoredResource) to construct the full URL. Required.
        format: int32
        type: integer
    type: object
  TimeInterval:
    description: 'A time interval extending just after a start time through an end time. If the start time is the same as the end time, then the interval represents a single point in time.'
    properties:
      endTime:
        description: Required. The end of the time interval.
        format: google-datetime
        type: string
      startTime:
        description: Optional. The beginning of the time interval. The default value for the start time is the end time. The start time must not be later than the end time.
        format: google-datetime
        type: string
    type: object
  TimeSeries:
    description: A collection of data points that describes the time-varying values of a metric. A time series is identified by a combination of a fully-specified monitored resource and a fully-specified metric. This type is used for both listing and creating time series.
    properties:
      metadata:
        $ref: '#/definitions/MonitoredResourceMetadata'
        description: 'Output only. The associated monitored resource metadata. When reading a a timeseries, this field will include metadata labels that are explicitly named in the reduction. When creating a timeseries, this field is ignored.'
      metric:
        $ref: '#/definitions/Metric'
        description: The associated metric. A fully-specified metric used to identify the time series.
      metricKind:
        description: 'The metric kind of the time series. When listing time series, this metric kind might be different from the metric kind of the associated metric if this time series is an alignment or reduction of other time series.When creating a time series, this field is optional. If present, it must be the same as the metric kind of the associated metric. If the associated metric''s descriptor must be auto-created, then this field specifies the metric kind of the new descriptor and must be either GAUGE (the default) or CUMULATIVE.'
        enum:
          - METRIC_KIND_UNSPECIFIED
          - GAUGE
          - DELTA
          - CUMULATIVE
        type: string
      points:
        description: 'The data points of this time series. When listing time series, points are returned in reverse time order.When creating a time series, this field must contain exactly one point and the point''s type must be the same as the value type of the associated metric. If the associated metric''s descriptor must be auto-created, then the value type of the descriptor is determined by the point''s type, which must be BOOL, INT64, DOUBLE, or DISTRIBUTION.'
        items:
          $ref: '#/definitions/Point'
        type: array
      resource:
        $ref: '#/definitions/MonitoredResource'
        description: The associated monitored resource. Custom metrics can use only certain monitored resource types in their time series data.
      valueType:
        description: 'The value type of the time series. When listing time series, this value type might be different from the value type of the associated metric if this time series is an alignment or reduction of other time series.When creating a time series, this field is optional. If present, it must be the same as the type of the data in the points field.'
        enum:
          - VALUE_TYPE_UNSPECIFIED
          - BOOL
          - INT64
          - DOUBLE
          - STRING
          - DISTRIBUTION
          - MONEY
        type: string
    type: object
  Type:
    description: A protocol buffer message type.
    properties:
      fields:
        description: The list of fields.
        items:
          $ref: '#/definitions/Field'
        type: array
      name:
        description: The fully qualified message name.
        type: string
      oneofs:
        description: The list of types appearing in oneof definitions in this type.
        items:
          type: string
        type: array
      options:
        description: The protocol buffer options.
        items:
          $ref: '#/definitions/Option'
        type: array
      sourceContext:
        $ref: '#/definitions/SourceContext'
        description: The source context.
      syntax:
        description: The source syntax.
        enum:
          - SYNTAX_PROTO2
          - SYNTAX_PROTO3
        type: string
    type: object
  TypedValue:
    description: A single strongly-typed value.
    properties:
      boolValue:
        description: 'A Boolean value: true or false.'
        type: boolean
      distributionValue:
        $ref: '#/definitions/Distribution'
        description: A distribution value.
      doubleValue:
        description: A 64-bit double-precision floating-point number. Its magnitude is approximately &plusmn;10<sup>&plusmn;300</sup> and it has 16 significant digits of precision.
        format: double
        type: number
      int64Value:
        description: A 64-bit integer. Its range is approximately &plusmn;9.2x10<sup>18</sup>.
        format: int64
        type: string
      stringValue:
        description: A variable-length string value.
        type: string
    type: object
  UptimeCheckConfig:
    description: This message configures which resources and services to monitor for availability.
    properties:
      contentMatchers:
        description: 'The expected content on the page the check is run against. Currently, only the first entry in the list is supported, and other entries will be ignored. The server will look for an exact match of the string in the page response''s content. This field is optional and should only be specified if a content match is required.'
        items:
          $ref: '#/definitions/ContentMatcher'
        type: array
      displayName:
        description: 'A human-friendly name for the uptime check configuration. The display name should be unique within a Stackdriver Account in order to make it easier to identify; however, uniqueness is not enforced. Required.'
        type: string
      httpCheck:
        $ref: '#/definitions/HttpCheck'
        description: Contains information needed to make an HTTP or HTTPS check.
      internalCheckers:
        description: 'The internal checkers that this check will egress from. If is_internal is true and this list is empty, the check will egress from all InternalCheckers configured for the project that owns this CheckConfig.'
        items:
          $ref: '#/definitions/InternalChecker'
        type: array
      isInternal:
        description: Denotes whether this is a check that egresses from InternalCheckers.
        type: boolean
      monitoredResource:
        $ref: '#/definitions/MonitoredResource'
        description: The monitored resource associated with the configuration.
      name:
        description: 'A unique resource name for this UptimeCheckConfig. The format is:projects/[PROJECT_ID]/uptimeCheckConfigs/[UPTIME_CHECK_ID].This field should be omitted when creating the uptime check configuration; on create, the resource name is assigned by the server and included in the response.'
        type: string
      period:
        description: 'How often the uptime check is performed. Currently, only 1, 5, 10, and 15 minutes are supported. Required.'
        format: google-duration
        type: string
      resourceGroup:
        $ref: '#/definitions/ResourceGroup'
        description: The group resource associated with the configuration.
      selectedRegions:
        description: 'The list of regions from which the check will be run. If this field is specified, enough regions to include a minimum of 3 locations must be provided, or an error message is returned. Not specifying this field will result in uptime checks running from all regions.'
        items:
          enum:
            - REGION_UNSPECIFIED
            - USA
            - EUROPE
            - SOUTH_AMERICA
            - ASIA_PACIFIC
          type: string
        type: array
      tcpCheck:
        $ref: '#/definitions/TcpCheck'
        description: Contains information needed to make a TCP check.
      timeout:
        description: The maximum amount of time to wait for the request to complete (must be between 1 and 60 seconds). Required.
        format: google-duration
        type: string
    type: object
  UptimeCheckIp:
    description: 'Contains the region, location, and list of IP addresses where checkers in the location run from.'
    properties:
      ipAddress:
        description: 'The IP address from which the uptime check originates. This is a full IP address (not an IP address range). Most IP addresses, as of this publication, are in IPv4 format; however, one should not rely on the IP addresses being in IPv4 format indefinitely and should support interpreting this field in either IPv4 or IPv6 format.'
        type: string
      location:
        description: A more specific location within the region that typically encodes a particular city/town/metro (and its containing state/province or country) within the broader umbrella region category.
        type: string
      region:
        description: A broad region category in which the IP address is located.
        enum:
          - REGION_UNSPECIFIED
          - USA
          - EUROPE
          - SOUTH_AMERICA
          - ASIA_PACIFIC
        type: string
    type: object
