openapi: 3.0.0
servers:
  - description: production
    url: https://api.digitalocean.com
info:
  contact:
    email: api-engineering@digitalocean.com
    name: DigitalOcean API Team
  description: >
    # Introduction


    The DigitalOcean API allows you to manage Droplets and resources within the

    DigitalOcean cloud in a simple, programmatic way using conventional HTTP requests.


    All of the functionality that you are familiar with in the DigitalOcean

    control panel is also available through the API, allowing you to script the

    complex actions that your situation requires.


    The API documentation will start with a general overview about the design

    and technology that has been implemented, followed by reference information

    about specific endpoints.


    ## Requests


    Any tool that is fluent in HTTP can communicate with the API simply by

    requesting the correct URI. Requests should be made using the HTTPS protocol

    so that traffic is encrypted. The interface responds to different methods

    depending on the action required.


    |Method|Usage|

    |--- |--- |

    |GET|For simple retrieval of information about your account, Droplets, or environment, you should use the GET method.  The information you request will be returned to you as a JSON object. The attributes defined by the JSON object can be used to form additional requests.  Any request using the GET method is read-only and will not affect any of the objects you are querying.|

    |DELETE|To destroy a resource and remove it from your account and environment, the DELETE method should be used.  This will remove the specified object if it is found.  If it is not found, the operation will return a response indicating that the object was not found. This idempotency means that you do not have to check for a resource's availability prior to issuing a delete command, the final state will be the same regardless of its existence.|

    |PUT|To update the information about a resource in your account, the PUT method is available. Like the DELETE Method, the PUT method is idempotent.  It sets the state of the target using the provided values, regardless of their current values. Requests using the PUT method do not need to check the current attributes of the object.|

    |PATCH|Some resources support partial modification. In these cases, the PATCH method is available. Unlike PUT which generally requires a complete representation of a resource, a PATCH request is is a set of instructions on how to modify a resource updating only specific attributes.|

    |POST|To create a new object, your request should specify the POST method. The POST request includes all of the attributes necessary to create a new object.  When you wish to create a new object, send a POST request to the target endpoint.|

    |HEAD|Finally, to retrieve metadata information, you should use the HEAD method to get the headers.  This returns only the header of what would be returned with an associated GET request. Response headers contain some useful information about your API access and the results that are available for your request. For instance, the headers contain your current rate-limit value and the amount of time available until the limit resets. It also contains metrics about the total number of objects found, pagination information, and the total content length.|



    ## HTTP Statuses


    Along with the HTTP methods that the API responds to, it will also return

    standard HTTP statuses, including error codes.


    In the event of a problem, the status will contain the error code, while the

    body of the response will usually contain additional information about the

    problem that was encountered.


    In general, if the status returned is in the 200 range, it indicates that

    the request was fulfilled successfully and that no error was encountered.


    Return codes in the 400 range typically indicate that there was an issue

    with the request that was sent. Among other things, this could mean that you

    did not authenticate correctly, that you are requesting an action that you

    do not have authorization for, that the object you are requesting does not

    exist, or that your request is malformed.


    If you receive a status in the 500 range, this generally indicates a

    server-side problem. This means that we are having an issue on our end and

    cannot fulfill your request currently.


    400 and 500 level error responses will include a JSON object in their body,

    including the following attributes:


    |Name|Type|Description|

    |--- |--- |--- |

    |id|string|A short identifier corresponding to the HTTP status code returned. For example, the ID for a response returning a 404 status code would be "not_found."|

    |message|string|A message providing additional information about the error, including details to help resolve it when possible.|

    |request_id|string|Optionally, some endpoints may include a request ID that should be provided when reporting bugs or opening support tickets to help identify the issue.|


    ### Example Error Response


    ```
        HTTP/1.1 403 Forbidden
        {
          "id":       "forbidden",
          "message":  "You do not have access for the attempted action."
        }
    ```


    ## Responses


    When a request is successful, a response body will typically be sent back in

    the form of a JSON object. An exception to this is when a DELETE request is

    processed, which will result in a successful HTTP 204 status and an empty

    response body.


    Inside of this JSON object, the resource root that was the target of the

    request will be set as the key. This will be the singular form of the word

    if the request operated on a single object, and the plural form of the word

    if a collection was processed.


    For example, if you send a GET request to `/v2/droplets/$DROPLET_ID` you

    will get back an object with a key called "`droplet`". However, if you send

    the GET request to the general collection at `/v2/droplets`, you will get

    back an object with a key called "`droplets`".


    The value of these keys will generally be a JSON object for a request on a

    single object and an array of objects for a request on a collection of

    objects.


    ### Response for a Single Object


    ```
        {
            "droplet": {
                "name": "example.com"
                . . .
            }
        }
    ```


    ### Response for an Object Collection


    ```
        {
            "droplets": [
                {
                    "name": "example.com"
                    . . .
                },
                {
                    "name": "second.com"
                    . . .
                }
            ]
        }
    ```


    ## Meta


    In addition to the main resource root, the response may also contain a

    `meta` object. This object contains information about the response itself.


    The `meta` object contains a `total` key that is set to the total number of

    objects returned by the request. This has implications on the `links` object

    and pagination.


    The `meta` object will only be displayed when it has a value. Currently, the

    `meta` object will have a value when a request is made on a collection (like

    `droplets` or `domains`).



    ### Sample Meta Object


    ```
        {
            . . .
            "meta": {
                "total": 43
            }
            . . .
        }
    ```


    ## Links & Pagination


    The `links` object is returned as part of the response body when pagination

    is enabled. By default, 20 objects are returned per page. If the response

    contains 20 objects or fewer, no `links` object will be returned. If the

    response contains more than 20 objects, the first 20 will be returned along

    with the `links` object.


    You can request a different pagination limit or force pagination by

    appending `?per_page=` to the request with the number of items you would

    like per page. For instance, to show only two results per page, you could

    add `?per_page=2` to the end of your query. The maximum number of results

    per page is 200.


    The `links` object contains a `pages` object. The `pages` object, in turn,

    contains keys indicating the relationship of additional pages. The values of

    these are the URLs of the associated pages. The keys will be one of the

    following:


    *   **first**: The URI of the first page of results.

    *   **prev**: The URI of the previous sequential page of results.

    *   **next**: The URI of the next sequential page of results.

    *   **last**: The URI of the last page of results.


    The `pages` object will only include the links that make sense. So for the

    first page of results, no `first` or `prev` links will ever be set. This

    convention holds true in other situations where a link would not make sense.


    ### Sample Links Object


    ```
        {
            . . .
            "links": {
                "pages": {
                    "last": "https://api.digitalocean.com/v2/images?page=2",
                    "next": "https://api.digitalocean.com/v2/images?page=2"
                }
            }
            . . .
        }
    ```


    ## Rate Limit


    Requests through the API are rate limited per OAuth token. Current rate limits:


    *   5,000 requests per hour

    *   250 requests per minute (5% of the hourly total)


    Once you exceed either limit, you will be rate limited until the next cycle

    starts. Space out any requests that you would otherwise issue in bursts for

    the best results.


    The rate limiting information is contained within the response headers of

    each request. The relevant headers are:


    *   **RateLimit-Limit**: The number of requests that can be made per hour.

    *   **RateLimit-Remaining**: The number of requests that remain before you hit your request limit. See the information below for how the request limits expire.

    *   **RateLimit-Reset**: This represents the time when the oldest request will expire. The value is given in [Unix epoch time](http://en.wikipedia.org/wiki/Unix_time). See below for more information about how request limits expire.


    As long as the `RateLimit-Remaining` count is above zero, you will be able

    to make additional requests.


    The way that a request expires and is removed from the current limit count

    is important to understand. Rather than counting all of the requests for an

    hour and resetting the `RateLimit-Remaining` value at the end of the hour,

    each request instead has its own timer.


    This means that each request contributes toward the `RateLimit-Remaining`

    count for one complete hour after the request is made. When that request's

    timer runs out, it is no longer counted towards the request limit.


    This has implications on the meaning of the `RateLimit-Reset` header as

    well. Because the entire rate limit is not reset at one time, the value of

    this header is set to the time when the _oldest_ request will expire.


    Keep this in mind if you see your `RateLimit-Reset` value change, but not

    move an entire hour into the future.


    If the `RateLimit-Remaining` reaches zero, subsequent requests will receive

    a 429 error code until the request reset has been reached. You can see the

    format of the response in the examples.


    **Note:** The following endpoints have special rate limit requirements that

    are independent of the limits defined above.


    *   Only 12 `POST` requests to the `/v2/floating_ips` endpoint to create Floating IPs can be made per 60 seconds.

    *   Only 10 `GET` requests to the `/v2/account/keys` endpoint to list SSH keys can be made per 60 seconds.


    ### Sample Rate Limit Headers


    ```
        . . .
        RateLimit-Limit: 1200
        RateLimit-Remaining: 1193
        RateLimit-Reset: 1402425459
        . . .
    ```


    ### Sample Rate Exceeded Response


    ```
        429 Too Many Requests
        {
                id: "too_many_requests",
                message: "API Rate limit exceeded."
        }
    ```


    ## Curl Examples


    Throughout this document, some example API requests will be given using the

    `curl` command. This will allow us to demonstrate the various endpoints in a

    simple, textual format.


    The names of account-specific references (like Droplet IDs, for instance)

    will be represented by variables. For instance, a Droplet ID may be

    represented by a variable called `$DROPLET_ID`. You can set the associated

    variables in your environment if you wish to use the examples without

    modification.


    The first variable that you should set to get started is your OAuth

    authorization token. The next section will go over the details of this, but

    you can set an environmental variable for it now.


    Generate a token by going to the [Apps & API](https://cloud.digitalocean.com/settings/applications)

    section of the DigitalOcean control panel. Use an existing token if you have

    saved one, or generate a new token with the "Generate new token" button.

    Copy the generated token and use it to set and export the TOKEN variable in

    your environment as the example shows.


    You may also wish to set some other variables now or as you go along. For

    example, you may wish to set the `DROPLET_ID` variable to one of your

    Droplet IDs since this will be used frequently in the API.


    If you are following along, make sure you use a Droplet ID that you control

    so that your commands will execute correctly.


    If you need access to the headers of a response through `curl`, you can pass

    the `-i` flag to display the header information along with the body. If you

    are only interested in the header, you can instead pass the `-I` flag, which

    will exclude the response body entirely.


    ### Set and Export your OAuth Token


    ```

    export DIGITALOCEAN_TOKEN=your_token_here

    ```


    ### Set and Export a Variable


    ```

    export DROPLET_ID=1111111

    ```


    ## Parameters


    There are two different ways to pass parameters in a request with the API.


    When passing parameters to create or update an object, parameters should be

    passed as a JSON object containing the appropriate attribute names and

    values as key-value pairs. When you use this format, you should specify that

    you are sending a JSON object in the header. This is done by setting the

    `Content-Type` header to `application/json`. This ensures that your request

    is interpreted correctly.


    When passing parameters to filter a response on GET requests, parameters can

    be passed using standard query attributes. In this case, the parameters

    would be embedded into the URI itself by appending a `?` to the end of the

    URI and then setting each attribute with an equal sign. Attributes can be

    separated with a `&`. Tools like `curl` can create the appropriate URI when

    given parameters and values; this can also be done using the `-F` flag and

    then passing the key and value as an argument. The argument should take the

    form of a quoted string with the attribute being set to a value with an

    equal sign.


    ### Pass Parameters as a JSON Object


    ```
        curl -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" \
            -H "Content-Type: application/json" \
            -d '{"name": "example.com", "ip_address": "127.0.0.1"}' \
            -X POST "https://api.digitalocean.com/v2/domains"
    ```


    ### Pass Filter Parameters as a Query String


    ```
         curl -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" \
             -X GET \
             "https://api.digitalocean.com/v2/images?private=true"
    ```


    ## Cross Origin Resource Sharing


    In order to make requests to the API from other domains, the API implements

    Cross Origin Resource Sharing (CORS) support.


    CORS support is generally used to create AJAX requests outside of the domain

    that the request originated from. This is necessary to implement projects

    like control panels utilizing the API. This tells the browser that it can

    send requests to an outside domain.


    The procedure that the browser initiates in order to perform these actions

    (other than GET requests) begins by sending a "preflight" request. This sets

    the `Origin` header and uses the `OPTIONS` method. The server will reply

    back with the methods it allows and some of the limits it imposes. The

    client then sends the actual request if it falls within the allowed

    constraints.


    This process is usually done in the background by the browser, but you can

    use curl to emulate this process using the example provided. The headers

    that will be set to show the constraints are:


    *   **Access-Control-Allow-Origin**: This is the domain that is sent by the client or browser as the origin of the request. It is set through an `Origin` header.

    *   **Access-Control-Allow-Methods**: This specifies the allowed options for requests from that domain. This will generally be all available methods.

    *   **Access-Control-Expose-Headers**: This will contain the headers that will be available to requests from the origin domain.

    *   **Access-Control-Max-Age**: This is the length of time that the access is considered valid. After this expires, a new preflight should be sent.

    *   **Access-Control-Allow-Credentials**: This will be set to `true`. It basically allows you to send your OAuth token for authentication.


    You should not need to be concerned with the details of these headers,

    because the browser will typically do all of the work for you.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.digitalocean.com/legal/terms-of-service-agreement/
  title: DigitalOcean API
  version: "2.0"
  x-apisguru-categories:
    - hosting
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/digitalocean/openapi/main/specification/DigitalOcean-public.v2.yaml
      version: "3.0"
  x-providerName: digitalocean.com
security:
  - bearer_auth: []
tags:
  - description: 1-Click applications are pre-built Droplet images or Kubernetes
      apps with software, features, and configuration details already set up for
      you. They can be found in the [DigitalOcean
      Marketplace](https://www.digitalocean.com/docs/marketplace).
    name: 1-Click Applications
  - description: Provides information about your current account.
    name: Account
  - description: >-
      Actions are records of events that have occurred on the resources
      in your account. These can be things like rebooting a Droplet, or
      transferring an image to a new region.

      An action object is created every time one of these actions is initiated. The action object contains information about the current status of the action, start and complete timestamps, and the associated resource type and ID.

      Every action that creates an action object is available through this endpoint. Completed actions are not removed from this list and are always available for querying.
    name: Actions
  - description: >-
      App Platform is a Platform-as-a-Service (PaaS) offering from
      DigitalOcean that allows developers to publish code directly to
      DigitalOcean servers without worrying about the underlying infrastructure.

      Most API operations are centered around a few core object types. Following are the definitions of these types. These definitions will be omitted from the operation-specific documentation.

      For documentation on app specifications (`AppSpec` objects), please refer to the [product documentation](https://www.digitalocean.com/docs/app-platform/references/app-specification-reference/).
    name: Apps
  - description: >-
      The billing endpoints allow you to retrieve your account balance,
      invoices and billing history.  


      **Balance:** By sending requests to the `/v2/customers/my/balance` endpoint, you can retrieve the balance information for the requested customer account.  


      **Invoices:** [Invoices](https://www.digitalocean.com/docs/accounts/billing/invoices/) are generated on the first of each month for every DigitalOcean customer. An invoice preview is generated daily, which can be accessed with the `preview` keyword in place of `$INVOICE_UUID`. To interact with  invoices, you will generally send requests to the invoices endpoint at `/v2/customers/my/invoices`.  


      **Billing History:** Billing history is a record of billing events for your account. For example, entries may include events like payments made, invoices issued, or credits granted. To interact with invoices, you will generally send requests to the invoices endpoint at `/v2/customers/my/billing_history`.  
    name: Billing
  - description: >-
      [DigitalOcean Block Storage
      Volumes](https://www.digitalocean.com/docs/volumes/) provide expanded
      storage capacity for your Droplets and can be moved between Droplets
      within a specific region.

      Volumes function as raw block devices, meaning they appear to the operating system as locally attached storage which can be formatted using any file system supported by the OS. They may be created in sizes from 1GiB to 16TiB.

      By sending requests to the /v2/volumes endpoint, you can list, create, or delete volumes as well as attach and detach them from Droplets
    name: Block Storage
  - description: >-
      Block storage actions are commands that can be given to a
      DigitalOcean Block Storage Volume. An example would be detaching or
      attaching a volume from a Droplet. These requests are made on the
      `/v2/volumes/$VOLUME_ID/actions` endpoint.

      An action object is returned. These objects hold the current status of the requested action.
    name: Block Storage Actions
  - description: Content hosted in DigitalOcean's object storage solution,
      [Spaces](https://www.digitalocean.com/docs/spaces/overview/), can
      optionally be served by our globally distributed Content Delivery Network
      (CDN). By sending requests to `/v2/cdn/endpoints`, you can list, create,
      or delete CDN Endpoints as well as purge cached content. To use a custom
      subdomain to access the CDN Endpoint, provide the ID of a DigitalOcean
      managed TLS certificate and the fully qualified domain name for the custom
      subdomain.
    name: CDN Endpoints
  - description: >-
      In order to perform SSL termination on load balancers, DigitalOcean
      offers two types of [SSL certificate
      management](https://www.digitalocean.com/docs/accounts/security/#certificates):

      * **Custom**: User-generated certificates may be uploaded to DigitalOcean where they will be placed in a fully encrypted and isolated storage system.

      * **Let's Encrypt**: Certificates may be automatically generated by DigitalOcean utilizing an integration with Let's Encrypt, the free and open certificate authority. These certificates will also be automatically renewed as required.
    name: Certificates
  - description: >-
      DigitalOcean offers the ability for you to create a [private
      container
      registry](https://www.digitalocean.com/docs/images/container-registry/quickstart/)
      to store your Docker images for use with your Kubernetes clusters. This
      container registry runs inside the same datacenters as your cluster,
      ensuring reliable and performant rollout of image deployments.

      You can only create one registry per DigitalOcean account, but you can use that registry to create as many repositories as you wish.
    name: Container Registry
  - description: >
      DigitalOcean's [managed database
      service](https://www.digitalocean.com/docs/databases)

      simplifies the creation and management of highly available database clusters. Currently, it

      offers support for [PostgreSQL](http://www.digitalocean.com/docs/databases/postgresql/),

      [Redis](https://www.digitalocean.com/docs/databases/redis/),

      [MySQL](https://www.digitalocean.com/docs/databases/mysql/), and 

      [MongoDB](https://www.digitalocean.com/docs/databases/mongodb/).


      By sending requests to the `/v2/databases` endpoint, you can list, create, or delete

      database clusters as well as scale the size of a cluster, add or remove read-only replicas,

      and manage other configuration details.


      The size of individual nodes in a database cluster is represented by a human-readable slug.

      These slugs denote the underlying Droplet class, amount of RAM, and CPU count for the node.

      Database clusters may be deployed in a multi-node, highly available configuration. In

      addition to the primary node, up to two standby nodes may be added to a cluster with one

      exception. High availability configurations are not available when using the smallest node

      size. The currently available sizes and their corresponding slugs are:


      Size Slug        | RAM   | CPU     | Storage | High Availability Plans

      -----------------|-------|---------|---------|------------------------

      db-s-1vcpu-1gb   | 1 GB  | 1 vCPU  | 10 GB   | False

      db-s-1vcpu-2gb   | 2 GB  | 1 vCPU  | 25 GB   | True

      db-s-2vcpu-4gb   | 4 GB  | 2 vCPU  | 38 GB   | True

      db-s-4vcpu-8gb   | 8 GB  | 4 vCPU  | 115 GB  | True

      db-s-6vcpu-16gb  | 16 GB | 6 vCPU  | 270 GB  | True

      db-s-8vcpu-32gb  | 32 GB | 8 vCPU  | 580 GB  | True

      db-s-16vcpu-64gb | 64 GB | 16 vCPU | 1.12 TB | True
    name: Databases
  - description: >
      Domain record resources are used to set or retrieve information
      about the

      individual DNS records configured for a domain. This allows you to build

      and manage DNS zone files by adding and modifying individual records for a

      domain.


      The [DigitalOcean DNS management interface](https://www.digitalocean.com/docs/networking/dns/)

      allows you to configure the following DNS records:


      Name  | Description                                                                                                                                        |

      ------|----------------------------------------------------------------------------------------------------------------------------------------------------|

      A     | This record type is used to map an IPv4 address to a hostname.                                                                                     |

      AAAA  | This record type is used to map an IPv6 address to a hostname.                                                                                     |

      CAA   | As specified in RFC-6844, this record type can be used to restrict which certificate authorities are permitted to issue certificates for a domain. |

      CNAME | This record type defines an alias for your canonical hostname (the one defined by an A or AAAA record).                                            |

      MX    | This record type is used to define the mail exchanges used for the domain.                                                                         |

      NS    | This record type defines the name servers that are used for this zone.                                                                             |

      TXT   | This record type is used to associate a string of text with a hostname, primarily used for verification.                                           |

      SRV   | This record type specifies the location (hostname and port number) of servers for specific services.                                               |

      SOA   | This record type defines administrative information about the zone. Can only have ttl changed, cannot be deleted                                   |
    name: Domain Records
  - description: >-
      Domain resources are domain names that you have purchased from a
      domain name registrar that you are managing through the [DigitalOcean DNS
      interface](https://www.digitalocean.com/docs/networking/dns/).

      This resource establishes top-level control over each domain. Actions that affect individual domain records should be taken on the [Domain Records](#tag/Domain-Records) resource.
    name: Domains
  - description: >-
      Droplet actions are tasks that can be executed on a Droplet. These
      can be things like rebooting, resizing, snapshotting, etc.

      Droplet action requests are generally targeted at one of the "actions" endpoints for a specific Droplet. The specific actions are usually initiated by sending a POST request with the action and arguments as parameters.

      Droplet action requests create a Droplet actions object, which can be used to get information about the status of an action. Creating a Droplet action is asynchronous: the HTTP call will return the action object before the action has finished processing on the Droplet. The current status of an action can be retrieved from either the Droplet actions endpoint or the global actions endpoint. If a Droplet action is uncompleted it may block the creation of a subsequent action for that Droplet, the locked attribute of the Droplet will be true and attempts to create a Droplet action will fail with a status of 422.
    name: Droplet Actions
  - description: >-
      A [Droplet](https://www.digitalocean.com/docs/droplets/) is a
      DigitalOcean virtual machine. By sending requests to the Droplet endpoint,
      you can list, create, or delete Droplets.

      Some of the attributes will have an object value. The `region` and `image` objects will all contain the standard attributes of their associated types. Find more information about each of these objects in their respective sections.
    name: Droplets
  - description: "[DigitalOcean Cloud
      Firewalls](https://www.digitalocean.com/docs/networking/firewalls/)
      provide the ability to restrict network access to and from a Droplet
      allowing you to define which ports will accept inbound or outbound
      connections. By sending requests to the `/v2/firewalls` endpoint, you can
      list, create, or delete firewalls as well as modify access rules."
    name: Firewalls
  - description: >-
      Floating IP actions are commands that can be given to a
      DigitalOcean floating IP. These requests are made on the actions endpoint
      of a specific floating IP.

      An action object is returned. These objects hold the current status of the requested action.
    name: Floating IP Actions
  - description: >-
      [DigitalOcean Floating
      IPs](https://www.digitalocean.com/docs/networking/floating-ips/) are
      publicly-accessible static IP addresses that can be mapped to one of your
      Droplets. They can be used to create highly available setups or other
      configurations requiring movable addresses.

      Floating IPs are bound to a specific region.
    name: Floating IPs
  - description: >+
      Image actions are commands that can be given to a DigitalOcean
      image. In general, these requests are made on the actions endpoint of a
      specific image.

      An image action object is returned. These objects hold the current status of the requested action.

    name: Image Actions
  - description: >-
      A DigitalOcean [image](https://www.digitalocean.com/docs/images/)
      can be used to create a Droplet and may come in a number of flavors.
      Currently, there are five types of images: snapshots, backups,
      applications, distributions, and custom images.

      * [Snapshots](https://www.digitalocean.com/docs/images/snapshots/) provide a full copy of an existing Droplet instance taken on demand.

      * [Backups](https://www.digitalocean.com/docs/images/backups/) are similar to snapshots but are created automatically at regular intervals when enabled for a Droplet.

      * [Custom images](https://www.digitalocean.com/docs/images/custom-images/) are Linux-based virtual machine images (raw, qcow2, vhdx, vdi, and vmdk formats are supported) that you may upload for use on DigitalOcean.

      * Distributions are the public Linux distributions that are available to be used as a base to create Droplets.

      * Applications, or [1-Click Apps](https://www.digitalocean.com/docs/one-clicks/), are distributions pre-configured with additional software.

      To interact with images, you will generally send requests to the images endpoint at /v2/images.
    name: Images
  - description: "[DigitalOcean
      Kubernetes](https://www.digitalocean.com/docs/kubernetes/) allows you to
      quickly deploy scalable and secure Kubernetes clusters. By sending
      requests to the `/v2/kubernetes/clusters` endpoint, you can list, create,
      or delete clusters as well as scale node pools up and down, recycle
      individual nodes, and retrieve the kubeconfig file for use with a
      cluster."
    name: Kubernetes
  - description: "[DigitalOcean Load
      Balancers](https://www.digitalocean.com/docs/networking/load-balancers/)
      provide a way to distribute traffic across multiple Droplets. By sending
      requests to the `/v2/load_balancers` endpoint, you can list, create, or
      delete load balancers as well as add or remove Droplets, forwarding rules,
      and other configuration details."
    name: Load Balancers
  - description: >-
      Project Resources are resources that can be grouped into your
      projects.

      You can group resources (like Droplets, Spaces, load balancers, domains,

      and floating IPs) in ways that align with the applications you host on

      DigitalOcean.


      ### Supported Resource Types Examples


      Projects resources are identified by uniform resource names or URNs. A

      valid URN has the following format: `do:resource_type:resource_id`. The

      following resource types are supported:


      Resource Type | Example URN

      --------------|------------

      Database      | `do:dbaas:83c7a55f-0d84-4760-9245-aba076ec2fb2`

      Domain        | `do:domain:example.com`

      Droplet       | `do:droplet:4126873`

      Floating IP   | `do:floatingip:192.168.99.100`

      Load Balancer | `do:loadbalancer:39052d89-8dd4-4d49-8d5a-3c3b6b365b5b`

      Space         | `do:space:my-website-assets`

      Volume        | `do:volume:6fc4c277-ea5c-448a-93cd-dd496cfef71f`


      ### Resource Status Codes


      When assigning and retrieving resources in projects, a `status` attribute

      is returned that indicates if a resource was successfully retrieved or

      assigned. The status codes can be one of the following:


      Status Code | Explanation

      ------------|------------

      `ok`          | There was no problem retrieving or assigning a resource.

      `not_found`   | The resource was not found.

      `assigned`    | The resource was successfully assigned.

      `already_assigned` | The resource was already assigned.

      `service_down`     | There was a problem retrieving or assigning a resource. Please try again.
    name: Project Resources
  - description: Projects allow you to organize your resources into groups that fit
      the way you work. You can group resources (like Droplets, Spaces, load
      balancers, domains, and floating IPs) in ways that align with the
      applications you host on DigitalOcean.
    name: Projects
  - description: Provides information about DigitalOcean data center regions.
    name: Regions
  - description: >-
      The sizes objects represent different packages of hardware
      resources that can be used for Droplets. When a Droplet is created, a size
      must be selected so that the correct resources can be allocated.

      Each size represents a plan that bundles together specific sets of resources. This includes the amount of RAM, the number of virtual CPUs, disk space, and transfer. The size object also includes the pricing details and the regions that the size is available in.
    name: Sizes
  - description: >-
      [Snapshots](https://www.digitalocean.com/docs/images/snapshots/)
      are saved instances of a Droplet or a block storage volume, which is
      reflected in the `resource_type` attribute. In order to avoid problems
      with compressing filesystems, each defines a `min_disk_size` attribute
      which is the minimum size of the Droplet or volume disk when creating a
      new resource from the saved snapshot.

      To interact with snapshots, you will generally send requests to the snapshots endpoint at `/v2/snapshots`.
    name: Snapshots
  - description: Manage SSH keys available on your account.
    name: SSH Keys
  - description: >-
      A tag is a label that can be applied to a resource (currently
      Droplets, Images, Volumes, Volume Snapshots, and Database clusters) in
      order to better organize or facilitate the lookups and actions on it.

      Tags have two attributes: a user defined `name` attribute and an embedded `resources` attribute with information about resources that have been tagged.
    name: Tags
  - description: >-
      [VPCs (virtual private
      clouds)](https://www.digitalocean.com/docs/networking/vpc/) allow you to
      create virtual networks containing resources that can communicate with
      each other in full isolation using private IP addresses.

      By sending requests to the `/v2/vpcs` endpoint, you can create, configure, list, and delete custom VPCs as well as retrieve information about the resources assigned to them.
    name: VPCs
paths:
  /v2/1-clicks:
    get:
      description: >
        To list all available 1-Click applications, send a GET request to
        `/v2/1-clicks`. The `type` may

        be provided as query paramater in order to restrict results to a certain type of 1-Click, for

        example: `/v2/1-clicks?type=droplet`. Current supported types are `kubernetes` and `droplet`.


        The response will be a JSON object with a key called `1_clicks`. This will be set to an array of

        1-Click application data, each of which will contain the the slug and type for the 1-Click.
      operationId: list
      parameters:
        - description: Restrict results to a certain type of 1-Click.
          example: kubernetes
          in: query
          name: type
          required: false
          schema:
            enum:
              - droplet
              - kubernetes
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                All 1-Click Applications:
                  value:
                    1_clicks:
                      - slug: monitoring
                        type: kubernetes
                      - slug: wordpress-18-04
                        type: droplet
              schema:
                properties:
                  1_clicks:
                    items:
                      properties:
                        slug:
                          description: The slug identifier for the 1-Click application.
                          example: monitoring
                          title: slug
                          type: string
                        type:
                          description: The type of the 1-Click application.
                          example: kubernetes
                          title: type
                          type: string
                      required:
                        - slug
                        - type
                      type: object
                    type: array
          description: A JSON object with a key of `1_clicks`.
          headers:
            ratelimit-limit:
              description: The default limit on number of requests that can be made per hour
                and per minute. Current rate limits are 5000 requests per hour
                and 250 requests per minute.
              example: 5000
              schema:
                type: integer
            ratelimit-remaining:
              description: The number of requests in your hourly quota that remain before you
                hit your request limit. See
                https://developers.digitalocean.com/documentation/v2/#rate-limit
                for information about how requests expire.
              example: 4816
              schema:
                type: integer
            ratelimit-reset:
              description: The time when the oldest request will expire. The value is given in
                Unix epoch time. See
                https://developers.digitalocean.com/documentation/v2/#rate-limit
                for information about how requests expire.
              example: 1444931833
              schema:
                type: integer
        "401":
          content:
            application/json:
              example:
                id: unauthorized
                message: Unable to authenticate you.
              schema:
                properties:
                  id:
                    description: A short identifier corresponding to the HTTP status code returned.
                      For  example, the ID for a response returning a 404 status
                      code would be "not_found."
                    example: not_found
                    type: string
                  message:
                    description: A message providing additional information about the error,
                      including  details to help resolve it when possible.
                    example: The resource you were accessing could not be found.
                    type: string
                  request_id:
                    description: Optionally, some endpoints may include a request ID that should
                      be  provided when reporting bugs or opening support
                      tickets to help  identify the issue.
                    example: 4d9d8375-3c56-4925-a3e7-eb137fed17e9
                    type: string
                required:
                  - id
                  - message
                type: object
          description: Unauthorized
          headers:
            ratelimit-limit:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-limit"
            ratelimit-remaining:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-remaining"
            ratelimit-reset:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-reset"
        "429":
          content:
            application/json:
              example:
                id: too_many_requests
                message: API Rate limit exceeded.
              schema:
                $ref: "#/paths/~1v2~11-clicks/get/responses/401/content/application~1json/schem\
                  a"
          description: API Rate limit exceeded
          headers:
            ratelimit-limit:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-limit"
            ratelimit-remaining:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-remaining"
            ratelimit-reset:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-reset"
        "500":
          content:
            application/json:
              example:
                id: server_error
                message: Unexpected server-side error
              schema:
                $ref: "#/paths/~1v2~11-clicks/get/responses/401/content/application~1json/schem\
                  a"
          description: Server error.
          headers:
            ratelimit-limit:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-limit"
            ratelimit-remaining:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-remaining"
            ratelimit-reset:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-reset"
        default:
          content:
            application/json:
              example:
                id: im_a_teapot
                message: how do you do?
              schema:
                $ref: "#/paths/~1v2~11-clicks/get/responses/401/content/application~1json/schem\
                  a"
          description: Unexpected error
          headers:
            ratelimit-limit:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-limit"
            ratelimit-remaining:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-remaining"
            ratelimit-reset:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-reset"
      summary: List 1-Click Applications
      tags:
        - 1-Click Applications
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "Content-Type: application/json"  \
              -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" \
              "https://api.digitalocean.com/v2/1-clicks"
  /v2/1-clicks/kubernetes:
    post:
      description: >
        To install a Kubernetes 1-Click application on a cluster, send a
        POST request to

        `/v2/1-clicks/kubernetes`. The `addon_slugs` and `cluster_uuid` must be provided as body

        parameter in order to specify which 1-Click application(s) to install. To list all available

        1-Click Kubernetes applications, send a request to `/v2/1-clicks?type=kubernetes`.
      operationId: install_kubernetes
      requestBody:
        content:
          application/json:
            schema:
              properties:
                addon_slugs:
                  default: []
                  description: An array of 1-Click Application slugs to be installed to the
                    Kubernetes cluster.
                  example:
                    - kube-state-metrics
                    - loki
                  items:
                    type: string
                  title: addon_slugs
                  type: array
                cluster_uuid:
                  description: A unique ID for the Kubernetes cluster to which the 1-Click
                    Applications will be installed.
                  example: 50a994b6-c303-438f-9495-7e896cfe6b08
                  title: cluster_uuid
                  type: string
              required:
                - addon_slugs
                - cluster_uuid
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Install a 1-Click Application:
                  value:
                    message: Successfully kicked off addon job.
              schema:
                properties:
                  message:
                    description: A message about the result of the request.
                    example: Successfully kicked off addon job.
                    type: string
                type: object
          description: >
            The response will verify that a job has been successfully created
            to install a 1-Click. The

            post-installation lifecycle of a 1-Click application can not be managed via the DigitalOcean

            API. For additional details specific to the 1-Click, find and view its

            [DigitalOcean Marketplace](https://marketplace.digitalocean.com) page.
          headers:
            ratelimit-limit:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-limit"
            ratelimit-remaining:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-remaining"
            ratelimit-reset:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-reset"
        "401":
          $ref: "#/paths/~1v2~11-clicks/get/responses/401"
        "429":
          $ref: "#/paths/~1v2~11-clicks/get/responses/429"
        "500":
          $ref: "#/paths/~1v2~11-clicks/get/responses/500"
        default:
          $ref: "#/paths/~1v2~11-clicks/get/responses/default"
      summary: Install Kubernetes 1-Click Applications
      tags:
        - 1-Click Applications
      x-codeSamples:
        - lang: cURL
          source: >-
            curl -X POST \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" \
              -d '{"addon_slugs": ["kube-state-metrics", "loki"], "cluster_uuid": "50a994b6-c303-438f-9495-7e896cfe6b08"}'' \
              "https://api.digitalocean.com/v2/1-clicks/kubernetes"
  /v2/account:
    get:
      description: To show information about the current user account, send a GET
        request to `/v2/account`.
      operationId: get_user_information
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  account:
                    properties:
                      droplet_limit:
                        description: The total number of Droplets current user or team may have active
                          at one time.
                        example: 25
                        type: integer
                      email:
                        description: The email address used by the current user to register for
                          DigitalOcean.
                        example: sammy@digitalocean.com
                        type: string
                      email_verified:
                        default: false
                        description: If true, the user has verified their account via email. False
                          otherwise.
                        example: true
                        type: boolean
                      floating_ip_limit:
                        description: The total number of Floating IPs the current user or team may have.
                        example: 5
                        type: integer
                      status:
                        default: active
                        description: This value is one of "active", "warning" or "locked".
                        enum:
                          - active
                          - warning
                          - locked
                        example: active
                        type: string
                      status_message:
                        description: A human-readable message giving more details about the status of
                          the account.
                        example: " "
                        type: string
                      uuid:
                        description: The unique universal identifier for the current user.
                        example: b6fr89dbf6d9156cace5f3c78dc9851d957381ef
                        type: string
                    required:
                      - droplet_limit
                      - floating_ip_limit
                      - email
                      - uuid
                      - email_verified
                      - status
                      - status_message
                    type: object
          description: A JSON object keyed on account with an excerpt of the current user
            account data.
          headers:
            ratelimit-limit:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-limit"
            ratelimit-remaining:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-remaining"
            ratelimit-reset:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-reset"
        "401":
          $ref: "#/paths/~1v2~11-clicks/get/responses/401"
        "429":
          $ref: "#/paths/~1v2~11-clicks/get/responses/429"
        "500":
          $ref: "#/paths/~1v2~11-clicks/get/responses/500"
        default:
          $ref: "#/paths/~1v2~11-clicks/get/responses/default"
      summary: Get User Information
      tags:
        - Account
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" \
              "https://api.digitalocean.com/v2/account"
  /v2/account/keys:
    get:
      description: To list all of the keys in your account, send a GET request to
        `/v2/account/keys`. The response will be a JSON object with a key set to
        `ssh_keys`. The value of this will be an array of ssh_key objects, each
        of which contains the standard ssh_key attributes.
      operationId: list_all_keys
      parameters:
        - description: Number of items returned per page
          example: 2
          in: query
          name: per_page
          required: false
          schema:
            default: 20
            maximum: 200
            minimum: 1
            type: integer
        - description: Which 'page' of paginated results to return.
          example: 1
          in: query
          name: page
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      ssh_keys:
                        items:
                          properties:
                            fingerprint:
                              description: A unique identifier that differentiates this key from other keys
                                using  a format that SSH recognizes. The
                                fingerprint is created when the key is added to
                                your account.
                              example: 3b:16:bf:e4:8b:00:8b:b8:59:8c:a9:d3:f0:19:45:fa
                              readOnly: true
                              type: string
                            id:
                              description: A unique identification number for this key. Can be used to embed
                                a  specific SSH key into a Droplet.
                              example: 512189
                              readOnly: true
                              type: integer
                            name:
                              description: A human-readable display name for this key, used to easily identify
                                the SSH keys when they are displayed.
                              example: My SSH Public Key
                              type: string
                            public_key:
                              description: The entire public key string that was uploaded. Embedded into the
                                root user's `authorized_keys` file if you
                                include this key during Droplet creation.
                              example: ssh-rsa
                                AEXAMPLEaC1yc2EAAAADAQABAAAAQQDDHr/jh2Jy4yALcK4JyWbVkPRaWmhck3IgCoeOO3z1e2dBowLh64QAM+Qb72pxekALga2oi4GvT+TlWNhzPH4V
                                example
                              type: string
                          required:
                            - public_key
                            - name
                          type: object
                        type: array
                  - properties:
                      links:
                        properties:
                          pages:
                            anyOf:
                              - allOf:
                                  - properties:
                                      last:
                                        description: URI of the last page of the results.
                                        example: https://api.digitalocean.com/v2/images?page=2
                                        type: string
                                    type: object
                                  - properties:
                                      next:
                                        description: URI of the next page of the results.
                                        example: https://api.digitalocean.com/v2/images?page=2
                                        type: string
                                    type: object
                              - allOf:
                                  - properties:
                                      first:
                                        description: URI of the first page of the results.
                                        example: https://api.digitalocean.com/v2/images?page=1
                                        type: string
                                    type: object
                                  - properties:
                                      prev:
                                        description: URI of the previous page of the results.
                                        example: https://api.digitalocean.com/v2/images?page=1
                                        type: string
                                    type: object
                              - {}
                            example:
                              pages:
                                first: https://api.digitalocean.com/v2/account/keys?page=1
                                prev: https://api.digitalocean.com/v2/account/keys?page=2
                        type: object
                    type: object
                  - properties:
                      meta:
                        description: Information about the response itself.
                        properties:
                          total:
                            description: Number of objects returned by the request.
                            example: 1
                            type: integer
                        required:
                          - total
                        type: object
                    required:
                      - meta
                    type: object
                example:
                  links: {}
                  meta:
                    total: 1
                  ssh_keys:
                    - fingerprint: 3b:16:e4:bf:8b:00:8b:b8:59:8c:a9:d3:f0:19:fa:45
                      id: 289794
                      name: Other Public Key
                      public_key: ssh-rsa
                        ANOTHEREXAMPLEaC1yc2EAAAADAQABAAAAQQDDHr/jh2Jy4yALcK4JyWbVkPRaWmhck3IgCoeOO3z1e2dBowLh64QAM+Qb72pxekALga2oi4GvT+TlWNhzPH4V
                        anotherexample
          description: A JSON object with the key set to `ssh_keys`. The value is an array
            of `ssh_key` objects, each of which contains the standard `ssh_key`
            attributes.
          headers:
            ratelimit-limit:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-limit"
            ratelimit-remaining:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-remaining"
            ratelimit-reset:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-reset"
        "401":
          $ref: "#/paths/~1v2~11-clicks/get/responses/401"
        "429":
          $ref: "#/paths/~1v2~11-clicks/get/responses/429"
        "500":
          $ref: "#/paths/~1v2~11-clicks/get/responses/500"
        default:
          $ref: "#/paths/~1v2~11-clicks/get/responses/default"
      summary: List All SSH Keys
      tags:
        - SSH Keys
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" \
              "https://api.digitalocean.com/v2/account/keys"
        - lang: Go
          source: |-
            import (
                "context"
                "os"

                "github.com/digitalocean/godo"
            )

            func main() {
                token := os.Getenv("DIGITALOCEAN_TOKEN")

                client := godo.NewFromToken(token)
                ctx := context.TODO()

                opt := &godo.ListOptions{
                    Page:    1,
                    PerPage: 200,
                }

                keys, _, err := client.Keys.List(ctx, opt)
            }
        - lang: Ruby
          source: |-
            require 'droplet_kit'
            token = ENV['DIGITALOCEAN_TOKEN']
            client = DropletKit::Client.new(access_token: token)

            ssh_keys = client.ssh_keys.all
            ssh_keys.each
    post:
      description: To add a new SSH public key to your DigitalOcean account, send a
        POST request to `/v2/account/keys`. Set the `name` attribute to the name
        you wish to use and the `public_key` attribute to the full public key
        you are adding.
      operationId: create_ssh_key
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/paths/~1v2~1account~1keys/get/responses/200/content/application~1json/\
                schema/allOf/0/properties/ssh_keys/items"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  ssh_key:
                    $ref: "#/paths/~1v2~1account~1keys/get/responses/200/content/application~1json/\
                      schema/allOf/0/properties/ssh_keys/items"
          description: The response body will be a JSON object with a key set to `ssh_key`.
          headers:
            ratelimit-limit:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-limit"
            ratelimit-remaining:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-remaining"
            ratelimit-reset:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-reset"
          links:
            delete_ssh_key_by_fingerprint:
              description: The `fingerprint` value returned in the response can be used as
                the  `ssh_key_identifier` parameter in `DELETE
                /v2/account/keys/{ssh_key_identifier}`.
              operationId: destroy_a_key
              parameters:
                ssh_key_identifier: $response.body#/ssh_key/fingerprint
            delete_ssh_key_by_id:
              description: The `id` value returned in the response can be used as
                the  `ssh_key_identifier` parameter in `DELETE
                /v2/account/keys/{ssh_key_identifier}`.
              operationId: destroy_a_key
              parameters:
                ssh_key_identifier: $response.body#/ssh_key/id
            get_ssh_key_by_fingerprint:
              description: The `fingerprint` value returned in the response can be used as the
                `ssh_key_identifier` parameter in `GET
                /v2/account/keys/{ssh_key_identifier}`.
              operationId: get_ssh_key_by_fingerprint
              parameters:
                ssh_key_identifier: $response.body#/ssh_key/fingerprint
            get_ssh_key_by_id:
              description: The `id` value returned in the response can be used as the
                `ssh_key_identifier` parameter in `GET
                /v2/account/keys/{ssh_key_identifier}`.
              operationId: get_ssh_key_by_id
              parameters:
                ssh_key_identifier: $response.body#/ssh_key/id
        "401":
          $ref: "#/paths/~1v2~11-clicks/get/responses/401"
        "429":
          $ref: "#/paths/~1v2~11-clicks/get/responses/429"
        "500":
          $ref: "#/paths/~1v2~11-clicks/get/responses/500"
        default:
          $ref: "#/paths/~1v2~11-clicks/get/responses/default"
      summary: Create a New SSH Key
      tags:
        - SSH Keys
      x-codeSamples:
        - lang: cURL
          source: >-
            curl -X POST \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" \
              -d '{"name":"My SSH Public Key","public_key":"ssh-rsa AEXAMPLEaC1yc2EAAAADAQABAAAAQQDDHr/jh2Jy4yALcK4JyWbVkPRaWmhck3IgCoeOO3z1e2dBowLh64QAM+Qb72pxekALga2oi4GvT+TlWNhzPH4V example"}' \
              "https://api.digitalocean.com/v2/account/keys" 
        - lang: Go
          source: >-
            import (
                "context"
                "os"

                "github.com/digitalocean/godo"
            )


            func main() {
                token := os.Getenv("DIGITALOCEAN_TOKEN")

                client := godo.NewFromToken(token)
                ctx := context.TODO()

                createRequest := &godo.KeyCreateRequest{
                    Name:      "My SSH Public Key",
                    PublicKey: "ssh-rsa AEXAMPLEaC1yc2EAAAADAQABAAAAQQDDHr/jh2Jy4yALcK4JyWbVkPRaWmhck3IgCoeOO3z1e2dBowLh64QAM+Qb72pxekALga2oi4GvT+TlWNhzPH4V example",
                }

                transfer, _, err := client.Keys.Create(ctx, createRequest)
            }
        - lang: Ruby
          source: >-
            require 'droplet_kit'

            token = ENV['DIGITALOCEAN_TOKEN']

            client = DropletKit::Client.new(access_token: token)


            ssh_key = DropletKit::SSHKey.new(
              name: 'My SSH Public Key',
              public_key: 'ssh-rsa AEXAMPLEaC1yc2EAAAADAQABAAAAQQDDHr/jh2Jy4yALcK4JyWbVkPRaWmhck3IgCoeOO3z1e2dBowLh64QAM+Qb72pxekALga2oi4GvT+TlWNhzPH4V example'
            )

            client.ssh_keys.create(ssh_key)
  "/v2/account/keys/{ssh_key_identifier}":
    delete:
      description: >-
        To destroy a public SSH key that you have in your account, send a
        DELETE request to `/v2/account/keys/$KEY_ID` or
        `/v2/account/keys/$KEY_FINGERPRINT`.

        A 204 status will be returned, indicating that the action was successful and that the response body is empty.
      operationId: destroy_ssh_key
      parameters:
        - $ref: "#/paths/~1v2~1account~1keys~1%7Bssh_key_identifier%7D/get/parameters/0"
      responses:
        "204":
          description: The action was successful and the response body is empty.
          headers:
            ratelimit-limit:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-limit"
            ratelimit-remaining:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-remaining"
            ratelimit-reset:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-reset"
        "401":
          $ref: "#/paths/~1v2~11-clicks/get/responses/401"
        "404":
          $ref: "#/paths/~1v2~1account~1keys~1%7Bssh_key_identifier%7D/get/responses/404"
        "429":
          $ref: "#/paths/~1v2~11-clicks/get/responses/429"
        "500":
          $ref: "#/paths/~1v2~11-clicks/get/responses/500"
        default:
          $ref: "#/paths/~1v2~11-clicks/get/responses/default"
      summary: Delete an SSH Key
      tags:
        - SSH Keys
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X DELETE \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" \
              "https://api.digitalocean.com/v2/account/keys/512190" 
        - lang: Go
          source: |-
            import (
                "context"
                "os"

                "github.com/digitalocean/godo"
            )

            func main() {
                token := os.Getenv("DIGITALOCEAN_TOKEN")

                client := godo.NewFromToken(token)
                ctx := context.TODO()

                _, err := client.Keys.DeleteByID(ctx, 512190)
            }
        - lang: Ruby
          source: |-
            require 'droplet_kit'
            token = ENV['DIGITALOCEAN_TOKEN']
            client = DropletKit::Client.new(access_token: token)

            client.ssh_keys.delete(id: 512190)
    get:
      description: >-
        To get information about a key, send a GET request to
        `/v2/account/keys/$KEY_ID` or `/v2/account/keys/$KEY_FINGERPRINT`.

        The response will be a JSON object with the key `ssh_key` and value an ssh_key object which contains the standard ssh_key attributes.
      operationId: get_ssh_key
      parameters:
        - description: Either the ID or the fingerprint of an existing SSH key.
          example: 512189
          in: path
          name: ssh_key_identifier
          required: true
          schema:
            anyOf:
              - $ref: "#/paths/~1v2~1account~1keys/get/responses/200/content/application~1json/\
                  schema/allOf/0/properties/ssh_keys/items/properties/id"
              - $ref: "#/paths/~1v2~1account~1keys/get/responses/200/content/application~1json/\
                  schema/allOf/0/properties/ssh_keys/items/properties/fingerpri\
                  nt"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  ssh_key:
                    $ref: "#/paths/~1v2~1account~1keys/get/responses/200/content/application~1json/\
                      schema/allOf/0/properties/ssh_keys/items"
          description: A JSON object with the key set to `ssh_key`. The value is an
            `ssh_key` object containing the standard `ssh_key` attributes.
          headers:
            ratelimit-limit:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-limit"
            ratelimit-remaining:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-remaining"
            ratelimit-reset:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-reset"
          links:
            delete_ssh_key_by_fingerprint:
              $ref: "#/paths/~1v2~1account~1keys/post/responses/201/links/delete_ssh_key_by_f\
                ingerprint"
            delete_ssh_key_by_id:
              $ref: "#/paths/~1v2~1account~1keys/post/responses/201/links/delete_ssh_key_by_i\
                d"
            get_ssh_key_by_fingerprint:
              $ref: "#/paths/~1v2~1account~1keys/post/responses/201/links/get_ssh_key_by_fing\
                erprint"
            get_ssh_key_by_id:
              $ref: "#/paths/~1v2~1account~1keys/post/responses/201/links/get_ssh_key_by_id"
        "401":
          $ref: "#/paths/~1v2~11-clicks/get/responses/401"
        "404":
          content:
            application/json:
              example:
                id: not_found
                message: The resource you requested could not be found.
              schema:
                $ref: "#/paths/~1v2~11-clicks/get/responses/401/content/application~1json/schem\
                  a"
          description: The resource was not found.
          headers:
            ratelimit-limit:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-limit"
            ratelimit-remaining:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-remaining"
            ratelimit-reset:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-reset"
        "429":
          $ref: "#/paths/~1v2~11-clicks/get/responses/429"
        "500":
          $ref: "#/paths/~1v2~11-clicks/get/responses/500"
        default:
          $ref: "#/paths/~1v2~11-clicks/get/responses/default"
      summary: Retrieve an Existing SSH Key
      tags:
        - SSH Keys
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" \
              "https://api.digitalocean.com/v2/account/keys/512190" 
        - lang: Go
          source: |-
            import (
                "context"
                "os"

                "github.com/digitalocean/godo"
            )

            func main() {
                token := os.Getenv("DIGITALOCEAN_TOKEN")

                client := godo.NewFromToken(token)
                ctx := context.TODO()

                key, _, err := client.Keys.GetByID(ctx, 512190)
            }
        - lang: Ruby
          source: |-
            require 'droplet_kit'
            token = ENV['DIGITALOCEAN_TOKEN']
            client = DropletKit::Client.new(access_token: token)

            client.ssh_keys.find(id: 512190) 
    patch:
      description: To update the name of an SSH key, send a PUT request to either
        `/v2/account/keys/$SSH_KEY_ID` or
        `/v2/account/keys/$SSH_KEY_FINGERPRINT`. Set the `name` attribute to the
        new name you want to use.
      operationId: patch_ssh_key
      parameters:
        - $ref: "#/paths/~1v2~1account~1keys~1%7Bssh_key_identifier%7D/get/parameters/0"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  $ref: "#/paths/~1v2~1account~1keys/get/responses/200/content/application~1json/\
                    schema/allOf/0/properties/ssh_keys/items/properties/name"
              type: object
        description: Set the `name` attribute to the new name you want to use.
        required: true
      responses:
        "200":
          $ref: "#/paths/~1v2~1account~1keys~1%7Bssh_key_identifier%7D/get/responses/200"
        "401":
          $ref: "#/paths/~1v2~11-clicks/get/responses/401"
        "404":
          $ref: "#/paths/~1v2~1account~1keys~1%7Bssh_key_identifier%7D/get/responses/404"
        "429":
          $ref: "#/paths/~1v2~11-clicks/get/responses/429"
        "500":
          $ref: "#/paths/~1v2~11-clicks/get/responses/500"
        default:
          $ref: "#/paths/~1v2~11-clicks/get/responses/default"
      summary: Update an SSH Key's Name
      tags:
        - SSH Keys
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X PUT \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" \
              -d '{"name":"Renamed SSH Key"}' \
              "https://api.digitalocean.com/v2/account/keys/512190"
        - lang: Go
          source: >-
            import (
                "context"
                "os"

                "github.com/digitalocean/godo"
            )


            func main() {
                token := os.Getenv("DIGITALOCEAN_TOKEN")

                client := godo.NewFromToken(token)
                ctx := context.TODO()

                updateRequest := &godo.KeyUpdateRequest{
                    Name:      "Renamed SSH Key",
                }

                key, _, err := client.Keys.UpdateByID(ctx, 512190, updateRequest)
            }
        - lang: Ruby
          source: |-
            require 'droplet_kit'
            token = ENV['DIGITALOCEAN_TOKEN']
            client = DropletKit::Client.new(access_token: token)

            ssh_key = DropletKit::SSHKey.new(name: 'Renamed SSH Key')
            client.ssh_keys.update(ssh_key, id: 512190)
  /v2/actions:
    get:
      description: This will be the entire list of actions taken on your account, so
        it will be quite large. As with any large collection returned by the
        API, the results will be paginated with only 20 on each page by default.
      operationId: list_all_actions
      parameters:
        - $ref: "#/paths/~1v2~1account~1keys/get/parameters/0"
        - $ref: "#/paths/~1v2~1account~1keys/get/parameters/1"
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      actions:
                        items:
                          properties:
                            completed_at:
                              description: A time value given in ISO8601 combined date and time format that
                                represents when the action was completed.
                              example: 2020-11-14T16:30:06Z
                              format: date-time
                              nullable: true
                              type: string
                            id:
                              description: A unique numeric ID that can be used to identify and reference an
                                action.
                              example: 36804636
                              type: integer
                            region:
                              properties:
                                available:
                                  description: This is a boolean value that represents whether new Droplets can be
                                    created in this region.
                                  example: true
                                  type: boolean
                                features:
                                  description: This attribute is set to an array which contains features available
                                    in this region
                                  example:
                                    - private_networking
                                    - backups
                                    - ipv6
                                    - metadata
                                    - install_agent
                                    - storage
                                    - image_transfer
                                  items:
                                    type: string
                                name:
                                  description: The display name of the region.  This will be a full name that is
                                    used in the control panel and other
                                    interfaces.
                                  example: New York 3
                                  type: string
                                sizes:
                                  description: This attribute is set to an array which contains the identifying
                                    slugs for the sizes available in this
                                    region.
                                  example:
                                    - s-1vcpu-1gb
                                    - s-1vcpu-2gb
                                    - s-1vcpu-3gb
                                    - s-2vcpu-2gb
                                    - s-3vcpu-1gb
                                    - s-2vcpu-4gb
                                    - s-4vcpu-8gb
                                    - s-6vcpu-16gb
                                    - s-8vcpu-32gb
                                    - s-12vcpu-48gb
                                    - s-16vcpu-64gb
                                    - s-20vcpu-96gb
                                    - s-24vcpu-128gb
                                    - s-32vcpu-192g
                                  items:
                                    type: string
                                slug:
                                  description: A human-readable string that is used as a unique identifier for
                                    each region.
                                  example: nyc3
                                  type: string
                              required:
                                - available
                                - features
                                - name
                                - sizes
                                - slug
                              type: object
                            region_slug:
                              allOf:
                                - $ref: "#/paths/~1v2~1actions/get/responses/200/content/application~1json/schema\
                                    /allOf/0/properties/actions/items/propertie\
                                    s/region/properties/slug"
                                - nullable: true
                                  type: string
                            resource_id:
                              description: A unique identifier for the resource that the action is associated
                                with.
                              example: 3164444
                              nullable: true
                              type: integer
                            resource_type:
                              description: The type of resource that the action is associated with.
                              example: droplet
                              type: string
                            started_at:
                              description: A time value given in ISO8601 combined date and time format that
                                represents when the action was initiated.
                              example: 2020-11-14T16:29:21Z
                              format: date-time
                              type: string
                            status:
                              default: in-progress
                              description: The current status of the action. This can be "in-progress",
                                "completed", or "errored".
                              enum:
                                - in-progress
                                - completed
                                - errored
                              example: completed
                              type: string
                            type:
                              description: This is the type of action that the object represents. For example,
                                this could be "transfer" to represent the state
                                of an image transfer action.
                              example: create
                              type: string
                          type: object
                        type: array
                    type: object
                  - $ref: "#/paths/~1v2~1account~1keys/get/responses/200/content/application~1json/\
                      schema/allOf/1"
                  - $ref: "#/paths/~1v2~1account~1keys/get/responses/200/content/application~1json/\
                      schema/allOf/2"
          description: The results will be returned as a JSON object with an actions
            key.  This will be set to an array filled with action objects
            containing the standard action attributes
          headers:
            ratelimit-limit:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-limit"
            ratelimit-remaining:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-remaining"
            ratelimit-reset:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-reset"
        "401":
          $ref: "#/paths/~1v2~11-clicks/get/responses/401"
        "429":
          $ref: "#/paths/~1v2~11-clicks/get/responses/429"
        "500":
          $ref: "#/paths/~1v2~11-clicks/get/responses/500"
        default:
          $ref: "#/paths/~1v2~11-clicks/get/responses/default"
      summary: List All Actions
      tags:
        - Actions
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" \
              "https://api.digitalocean.com/v2/actions?page=1&per_page=1"
        - lang: Go
          source: |-
            import (
              "context"
                "os"

              "github.com/digitalocean/godo"
              )

            func main() {
              token := os.Getenv("DIGITALOCEAN_TOKEN")

              client := godo.NewFromToken(token)
              ctx := context.TODO()

              opt := &godo.ListOptions{
                  Page:    1,
                  PerPage: 200,
              }
              actions, _, err := client.Actions.List(ctx, opt)
              }
        - lang: Ruby
          source: |-
            require 'droplet_kit'
            token = ENV['DIGITALOCEAN_TOKEN']
            client = DropletKit::Client.new(access_token: token)

            actions = client.actions.all
            actions.each
  "/v2/actions/{action_id}":
    get:
      description: To retrieve a specific action object, send a GET request to
        `/v2/actions/$ACTION_ID`.
      operationId: get_action
      parameters:
        - description: A unique numeric ID that can be used to identify and reference an
            action.
          example: 36804636
          in: path
          name: action_id
          required: true
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  action:
                    $ref: "#/paths/~1v2~1actions/get/responses/200/content/application~1json/schema\
                      /allOf/0/properties/actions/items"
          description: The result will be a JSON object with an action key.  This will be
            set to an action object containing the standard action attributes.
          headers:
            ratelimit-limit:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-limit"
            ratelimit-remaining:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-remaining"
            ratelimit-reset:
              $ref: "#/paths/~1v2~11-clicks/get/responses/200/headers/ratelimit-reset"
        "401":
          $ref: "#/paths/~1v2~11-clicks/get/responses/401"
        "404":
          $ref: "#/paths/~1v2~1account~1keys~1%7Bssh_key_identifier%7D/get/responses/404"
        "429":
          $ref: "#/paths/~1v2~11-clicks/get/responses/429"
        "500":
          $ref: "#/paths/~1v2~11-clicks/get/responses/500"
        default:
          $ref: "#/paths/~1v2~11-clicks/get/responses/default"
      summary: Retrieve an Existing Action
      tags:
        - Actions
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" \
              "https://api.digitalocean.com/v2/actions/36804636"
        - lang: Go
          source: |-
            import (
                "context"
                "os"

                "github.com/digitalocean/godo"
            )

            func main() {
                token := os.Getenv("DIGITALOCEAN_TOKEN")

                client := godo.NewFromToken(token)
                ctx := context.TODO()

                action, _, err := client.Actions.Get(ctx, 36804636)
            }
        - lang: Ruby
          source: |-
            require 'droplet_kit'
            token = ENV['DIGITALOCEAN_TOKEN']
            client = DropletKit::Client.new(access_token: token)

            client.actions.find(id: 36804636)
  /v2/apps:
    get:
      description: List all apps on your account. Information about the current active
        deployment as well as any in progress ones will also be included for
        each app.
      operationId: list_apps
      parameters:
        - $ref: "#/paths/~1v2~1account~1keys/get/parameters/1"
        - $ref: "#/paths/~1v2~1account~1keys/get/parameters/0"
      responses:
        "200":
          content:
            application/json:
              examples:
                apps:
                  value:
                    apps:
                      - active_deployment:
                          created_at: 2020-12-01T00:40:05Z
                          id: 3aa4d20e-5527-4c00-b496-601fbd22520a
                          phase_last_updated_at: 2020-12-01T00:42:12Z
                          services:
                            - name: sample-php
                              source_commit_hash: 54d4a727f457231062439895000d45437c7bb405
                          spec:
                            name: sample-php
                            region: fra
                            services:
                              - environment_slug: php
                                git:
                                  branch: main
                                  repo_clone_url: https://github.com/digitalocean/sample-php.git
                                http_port: 8080
                                instance_count: 1
                                instance_size_slug: basic-xxs
                                name: sample-php
                                routes:
                                  - path: /
                                run_command: heroku-php-apache2
                          updated_at: 2020-12-01T00:42:12Z
                        cause: app spec updated
                        created_at: 2020-11-19T20:27:18Z
                        default_ingress: https://sample-php-iaj87.ondigitalocean.app
                        id: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf
                        last_deployment_created_at: 2020-12-01T00:40:05Z
                        live_domain: sample-php-iaj87.ondigitalocean.app
                        live_url: https://sample-php-iaj87.ondigitalocean.app
                        live_url_base: https://sample-php-iaj87.ondigitalocean.app
                        owner_uuid: ff36cbc6fd350fe12577f5123133bb5ba01a2419
                        progress:
                          phase: ACTIVE
                          steps:
                            - ended_at: 2020-12-01T00:41:26.653989756Z
                              name: build
                              started_at: 2020-12-01T00:40:11.979257919Z
                              status: SUCCESS
                              steps:
                                - ended_at: 2020-12-01T00:40:12.470972033Z
                                  name: initialize
                                  started_at: 2020-12-01T00:40:11.979305214Z
                                  status: SUCCESS
                                - ended_at: 2020-12-01T00:41:26.180360487Z
                                  name: components
                                  started_at: 2020-12-01T00:40:12.470996857Z
                                  status: SUCCESS
                                  steps:
                                    - component_name: sample-php
                                      ended_at: 0001-01-01T00:00:00Z
                                      message_base: Building service
                                      name: sample-php
                                      started_at: 0001-01-01T00:00:00Z
                                      status: SUCCESS
                          success_steps: 6
                          tier_slug: basic
                          total_steps: 6
                        region:
                          continent: Europe
                          data_centers:
                            - fra1
                          flag: germany
                          label: Frankfurt
                          slug: fra
                        spec:
                          name: sample-php
                          services:
                            - environment_slug: php
                              git:
                                branch: main
                                repo_clone_url: https://github.com/digitalocean/sample-php.git
                              http_port: 8080
                              instance_count: 1
                              instance_size_slug: basic-xxs
                              name: sample-php
                              routes:
                                - path: /
                              run_command: heroku-php-apache2
                        tier_slug: basic
                        updated_at: 2020-12-01T00:42:16Z
              schema:
                properties:
                  apps:
                    items:
                      description: An application's configuration and status.
                      properties:
                        active_deployment:
                          $ref: "#/paths/~1v2~1apps~1%7Bapp_id%7D~1deployments/get/responses/200/content/\
                            application~1json/schema/properties/deployments/ite\
                            ms"
                        created_at:
                          example: 2020-11-19T20:27:18Z
                          format: date-time
                          readOnly: true
                          title: The creation time of the app
                          type: string
                        default_ingress:
                          example: digitalocean.com
                          readOnly: true
                          title: The default hostname on which the app is accessible
                          type: string
                        domains:
                          items:
                            properties:
                              id:
                                example: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf
                                title: The ID of the domain
                                type: string
                              phase:
                                default: UNKNOWN
                                enum:
                                  - UNKNOWN
                                  - PENDING
                                  - CONFIGURING
                                  - ACTIVE
                                  - ERROR
                                example: ACTIVE
                                type: string
                              progress:
                                properties:
                                  steps:
                                    items:
                                      type: object
                                    title: The steps of the domain's progress
                                    type: array
                                type: object
                              spec:
                                $ref: "#/paths/~1v2~1apps~1%7Bapp_id%7D~1deployments/get/responses/200/content/\
                                  application~1json/schema/properties/deploymen\
                                  ts/items/properties/spec/properties/domains/i\
                                  tems"
                            type: object
                          readOnly: true
                          title: Contains all domains for the app
                          type: array
                        id:
                          example: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf
                          readOnly: true
                          title: The ID of the application
                          type: string
                        in_progress_deployment:
                          $ref: "#/paths/~1v2~1apps~1%7Bapp_id%7D~1deployments/get/responses/200/content/\
                            application~1json/schema/properties/deployments/ite\
                            ms"
                        last_deployment_created_at:
                          example: 2020-11-19T20:27:18Z
                          format: date-time
                          readOnly: true
                          title: The creation time of the last deployment
                          type: string
                        live_domain:
                          example: live_domain
                          readOnly: true
                          title: The live domain of the app
                          type: string
                        live_url:
                          example: google.com
                          readOnly: true
                          title: The live URL of the app
                          type: string
                        live_url_base:
                          example: digitalocean.com
                          readOnly: true
                          title: The live URL base of the app, the URL excluding the path
                          type: string
                        owner_uuid:
                          example: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf
                          readOnly: true
                          title: The ID of the account to which the application belongs
                          type: string
                        region:
                          properties:
                            continent:
                              example: europe
                              readOnly: true
                              title: The continent that this region is in
                              type: string
                            data_centers:
                              example:
                                - ams
                              items:
                                example: ams
                                type: string
                              readOnly: true
                              title: Data centers that are in this region
                              type: array
                            default:
                              description: Whether or not the region is presented as the default.
                              example: true
                              readOnly: true
                              type: boolean
                            disabled:
                              example: true
                              readOnly: true
                              title: Whether or not the region is open for new apps
                              type: boolean
                            flag:
                              example: ams
                              readOnly: true
                              title: The flag of this region
                              type: string
                            label:
                              example: ams
                              readOnly: true
                              title: A human-readable name of the region
                              type: string
                            reason:
                              example: to crowded
                              readOnly: true
                              title: Reason that this region is not available
                              type: string
                            slug:
                              example: basic
                              readOnly: true
                              title: The slug form of the region name
                              type: string
                          title: Geographical information about an app origin
                          type: object
                        spec:
                          $ref: "#/paths/~1v2~1apps~1%7Bapp_id%7D~1deployments/get/responses/200/content/\
                            application~1json/schema/properties/deployments/ite\
                            ms/properties/spec"
                        tier_slug:
                          example: basic
                          readOnly: true
                          title: The current pricing tier slug of the app
                          type: string
                        updated_at:
                          example: 2020-12-01T00:42:16Z
                          format: date-time
                          readOnly: true
                          title: Time of the app's last configuration update
                          type: string
                      required:
                        - spec
                      type: object
[...]
