openapi: 3.0.0
servers:
  - description: production
    url: https://api.digitalocean.com
info:
  contact:
    email: api-engineering@digitalocean.com
    name: DigitalOcean API Team
  description: >
    The DigitalOcean API allows you to manage Droplets and resources within the DigitalOcean cloud in a simple, programmatic way using conventional HTTP requests.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.digitalocean.com/legal/terms-of-service-agreement/
  title: DigitalOcean API
  version: "2.0"
  x-apisguru-categories:
    - hosting
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/digitalocean/openapi/main/specification/DigitalOcean-public.v2.yaml
      version: "3.0"
  x-providerName: digitalocean.com
  x-preferred: null
security:
  - bearer_auth: []
tags:
  - description: 1-Click applications are pre-built Droplet images or Kubernetes apps with software, features, and configuration details already set up for you. They can be found in the [DigitalOcean Marketplace](https://www.digitalocean.com/docs/marketplace).
    name: 1-Click Applications
  - description: Provides information about your current account.
    name: Account
  - description: >-
      Actions are records of events that have occurred on the resources in your account. These can be things like rebooting a Droplet, or transferring an image to a new region.

      An action object is created every time one of these actions is initiated. The action object contains information about the current status of the action, start and complete timestamps, and the associated resource type and ID.

      Every action that creates an action object is available through this endpoint. Completed actions are not removed from this list and are always available for querying.
    name: Actions
  - description: >-
      App Platform is a Platform-as-a-Service (PaaS) offering from DigitalOcean that allows developers to publish code directly to DigitalOcean servers without worrying about the underlying infrastructure.

      Most API operations are centered around a few core object types. Following are the definitions of these types. These definitions will be omitted from the operation-specific documentation.

      For documentation on app specifications (`AppSpec` objects), please refer to the [product documentation](https://www.digitalocean.com/docs/app-platform/references/app-specification-reference/).
    name: Apps
  - description: By sending requests to the `/v2/customers/my/balance` endpoint, you can retrieve the balance information for the requested customer account.
    name: Balance
  - description: >-
      Billing history is a record of billing events for your account. For example, entries may include events like payments made, invoices issued, or credits granted.

      To interact with the billing history for an account, you will generally send requests to the billing history endpoint at `/v2/customers/my/billing_history`.
    name: Billing History
  - description: >-
      [DigitalOcean Block Storage Volumes](https://www.digitalocean.com/docs/volumes/) provide expanded storage capacity for your Droplets and can be moved between Droplets within a specific region.

      Volumes function as raw block devices, meaning they appear to the operating system as locally attached storage which can be formatted using any file system supported by the OS. They may be created in sizes from 1GiB to 16TiB.

      By sending requests to the /v2/volumes endpoint, you can list, create, or delete volumes as well as attach and detach them from Droplets
    name: Block Storage
  - description: >-
      Block storage actions are commands that can be given to a DigitalOcean Block Storage Volume. An example would be detaching or attaching a volume from a Droplet. These requests are made on the `/v2/volumes/$VOLUME_ID/actions` endpoint.

      An action object is returned. These objects hold the current status of the requested action.
    name: Block Storage Actions
  - description: Content hosted in DigitalOcean's object storage solution, [Spaces](https://www.digitalocean.com/docs/spaces/overview/), can optionally be served by our globally distributed Content Delivery Network (CDN). By sending requests to `/v2/cdn/endpoints`, you can list, create, or delete CDN Endpoints as well as purge cached content. To use a custom subdomain to access the CDN Endpoint, provide the ID of a DigitalOcean managed TLS certificate and the fully qualified domain name for the custom subdomain.
    name: CDN Endpoints
  - description: >-
      In order to perform SSL termination on load balancers, DigitalOcean offers two types of [SSL certificate management](https://www.digitalocean.com/docs/accounts/security/#certificates):

      * **Custom**: User-generated certificates may be uploaded to DigitalOcean where they will be placed in a fully encrypted and isolated storage system.

      * **Let's Encrypt**: Certificates may be automatically generated by DigitalOcean utilizing an integration with Let's Encrypt, the free and open certificate authority. These certificates will also be automatically renewed as required.
    name: Certificates
  - description: >-
      DigitalOcean offers the ability for you to create a [private container registry](https://www.digitalocean.com/docs/images/container-registry/quickstart/) to store your Docker images for use with your Kubernetes clusters. This container registry runs inside the same datacenters as your cluster, ensuring reliable and performant rollout of image deployments.

      You can only create one registry per DigitalOcean account, but you can use that registry to create as many repositories as you wish.
    name: Container Registry
  - description: >
      DigitalOcean's [managed database service](https://www.digitalocean.com/docs/databases)

      simplifies the creation and management of highly available database clusters. Currently, it

      offers support for [PostgreSQL](http://www.digitalocean.com/docs/databases/postgresql/),

      [Redis](https://www.digitalocean.com/docs/databases/redis/), and

      [MySQL](https://www.digitalocean.com/docs/databases/mysql/).


      By sending requests to the `/v2/databases` endpoint, you can list, create, or delete

      database clusters as well as scale the size of a cluster, add or remove read-only replicas,

      and manage other configuration details.


      The size of individual nodes in a database cluster is represented by a human-readable slug.

      These slugs denote the underlying Droplet class, amount of RAM, and CPU count for the node.

      Database clusters may be deployed in a multi-node, highly available configuration. In

      addition to the primary node, up to two standby nodes may be added to a cluster with one

      exception. High availability configurations are not available when using the smallest node

      size. The currently available sizes and their corresponding slugs are:


      Size Slug        | RAM   | CPU     | Storage | High Availability Plans

      -----------------|-------|---------|---------|------------------------

      db-s-1vcpu-1gb   | 1 GB  | 1 vCPU  | 10 GB   | False

      db-s-1vcpu-2gb   | 2 GB  | 1 vCPU  | 25 GB   | True

      db-s-2vcpu-4gb   | 4 GB  | 2 vCPU  | 38 GB   | True

      db-s-4vcpu-8gb   | 8 GB  | 4 vCPU  | 115 GB  | True

      db-s-6vcpu-16gb  | 16 GB | 6 vCPU  | 270 GB  | True

      db-s-8vcpu-32gb  | 32 GB | 8 vCPU  | 580 GB  | True

      db-s-16vcpu-64gb | 64 GB | 16 vCPU | 1.12 TB | True
    name: Databases
  - description: >
      Domain record resources are used to set or retrieve information about the

      individual DNS records configured for a domain. This allows you to build

      and manage DNS zone files by adding and modifying individual records for a

      domain.


      The [DigitalOcean DNS management interface](https://www.digitalocean.com/docs/networking/dns/)

      allows you to configure the following DNS records:


      Name  | Description                                                                                                                                        | Description                                                                                                                                                                                                                                                                                                                                                                 | Required

      ------|----------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------

      A     | This record type is used to map an IPv4 address to a hostname.                                                                                     | The record type (A, MX, CNAME, etc).                                                                                                                                                                                                                                                                                                                                        | All Records

      AAAA  | This record type is used to map an IPv6 address to a hostname.                                                                                     | The host name, alias, or service being defined by the record.                                                                                                                                                                                                                                                                                                               | A, AAAA, CAA, CNAME, TXT, SRV

      CAA   | As specified in RFC-6844, this record type can be used to restrict which certificate authorities are permitted to issue certificates for a domain. | Variable data depending on record type. For example, the "data" value for an A record would be the IPv4 address to which the domain will be mapped. For a CAA record, it would contain the domain name of the CA being granted permission to issue certificates.                                                                                                            | A, AAAA, CAA, CNAME, MX, TXT, SRV, NS

      CNAME | This record type defines an alias for your canonical hostname (the one defined by an A or AAAA record).                                            | The priority of the host (for SRV and MX records. null otherwise).                                                                                                                                                                                                                                                                                                          | MX, SRV

      MX    | This record type is used to define the mail exchanges used for the domain.                                                                         | The port that the service is accessible on (for SRV records only. null otherwise).                                                                                                                                                                                                                                                                                          | SRV

      NS    | This record type defines the name servers that are used for this zone.                                                                             | This value is the time to live for the record, in seconds. This defines the time frame that clients can cache queried information before a refresh should be requested. There is a minimum ttl value of 30, unless it is not set. If not set, the default value is the value of the SOA record. For SOA records, defines the time to live for purposes of negative caching. | SOA

      TXT   | This record type is used to associate a string of text with a hostname, primarily used for verification.                                           | The weight of records with the same priority (for SRV records only. null otherwise).                                                                                                                                                                                                                                                                                        | SRV

      SRV   | This record type specifies the location (hostname and port number) of servers for specific services.                                               | An unsigned integer between 0-255 used for CAA records.                                                                                                                                                                                                                                                                                                                     | CAA

      SOA   | This record type defines administrative information about the zone. Can only have ttl changed, cannot be deleted                                   | The parameter tag for CAA records. Valid values are "issue", "issuewild", or "iodef"                                                                                                                                                                                                                                                                                        | CAA
    name: Domain Records
  - description: >-
      Domain resources are domain names that you have purchased from a domain name registrar that you are managing through the [DigitalOcean DNS interface](https://www.digitalocean.com/docs/networking/dns/).

      This resource establishes top-level control over each domain. Actions that affect individual domain records should be taken on the [Domain Records](#tag/Domain-Records) resource.
    name: Domains
  - description: >-
      Droplet actions are tasks that can be executed on a Droplet. These can be things like rebooting, resizing, snapshotting, etc.

      Droplet action requests are generally targeted at one of the "actions" endpoints for a specific Droplet. The specific actions are usually initiated by sending a POST request with the action and arguments as parameters.

      Droplet action requests create a Droplet actions object, which can be used to get information about the status of an action. Creating a Droplet action is asynchronous: the HTTP call will return the action object before the action has finished processing on the Droplet. The current status of an action can be retrieved from either the Droplet actions endpoint or the global actions endpoint. If a Droplet action is uncompleted it may block the creation of a subsequent action for that Droplet, the locked attribute of the Droplet will be true and attempts to create a Droplet action will fail with a status of 422.
    name: Droplet Actions
  - description: >-
      A [Droplet](https://www.digitalocean.com/docs/droplets/) is a DigitalOcean virtual machine. By sending requests to the Droplet endpoint, you can list, create, or delete Droplets.

      Some of the attributes will have an object value. The `region` and `image` objects will all contain the standard attributes of their associated types. Find more information about each of these objects in their respective sections.
    name: Droplets
  - description: "[DigitalOcean Cloud Firewalls](https://www.digitalocean.com/docs/networking/firewalls/) provide the ability to restrict network access to and from a Droplet allowing you to define which ports will accept inbound or outbound connections. By sending requests to the `/v2/firewalls` endpoint, you can list, create, or delete firewalls as well as modify access rules."
    name: Firewalls
  - description: >-
      Floating IP actions are commands that can be given to a DigitalOcean floating IP. These requests are made on the actions endpoint of a specific floating IP.

      An action object is returned. These objects hold the current status of the requested action.
    name: Floating IP Actions
  - description: >-
      [DigitalOcean Floating IPs](https://www.digitalocean.com/docs/networking/floating-ips/) are publicly-accessible static IP addresses that can be mapped to one of your Droplets. They can be used to create highly available setups or other configurations requiring movable addresses.

      Floating IPs are bound to a specific region.
    name: Floating IPs
  - description: >+
      Image actions are commands that can be given to a DigitalOcean image. In general, these requests are made on the actions endpoint of a specific image.

      An image action object is returned. These objects hold the current status of the requested action.

    name: Image Actions
  - description: >-
      A DigitalOcean [image](https://www.digitalocean.com/docs/images/) can be used to create a Droplet and may come in a number of flavors. Currently, there are five types of images: snapshots, backups, applications, distributions, and custom images.

      * [Snapshots](https://www.digitalocean.com/docs/images/snapshots/) provide a full copy of an existing Droplet instance taken on demand.

      * [Backups](https://www.digitalocean.com/docs/images/backups/) are similar to snapshots but are created automatically at regular intervals when enabled for a Droplet.

      * [Custom images](https://www.digitalocean.com/docs/images/custom-images/) are Linux-based virtual machine images (raw, qcow2, vhdx, vdi, and vmdk formats are supported) that you may upload for use on DigitalOcean.

      * Distributions are the public Linux distributions that are available to be used as a base to create Droplets.

      * Applications, or [1-Click Apps](https://www.digitalocean.com/docs/one-clicks/), are distributions pre-configured with additional software.

      To interact with images, you will generally send requests to the images endpoint at /v2/images.
    name: Images
  - description: >-
      [Invoices](https://www.digitalocean.com/docs/accounts/billing/invoices/) are generated on the first of each month for every DigitalOcean customer. An invoice preview is generated daily, which can be accessed with the `preview` keyword in place of `$INVOICE_UUID`.

      To interact with invoices, you will generally send requests to the invoices endpoint at `/v2/customers/my/invoices`.
    name: Invoices
  - description: "[DigitalOcean Kubernetes](https://www.digitalocean.com/docs/kubernetes/) allows you to quickly deploy scalable and secure Kubernetes clusters. By sending requests to the `/v2/kubernetes/clusters` endpoint, you can list, create, or delete clusters as well as scale node pools up and down, recycle individual nodes, and retrieve the kubeconfig file for use with a cluster."
    name: Kubernetes
  - description: "[DigitalOcean Load Balancers](https://www.digitalocean.com/docs/networking/load-balancers/) provide a way to distribute traffic across multiple Droplets. By sending requests to the `/v2/load_balancers` endpoint, you can list, create, or delete load balancers as well as add or remove Droplets, forwarding rules, and other configuration details."
    name: Load Balancers
  - description: >-
      Project Resources are resources that can be grouped into your projects.

      You can group resources (like Droplets, Spaces, load balancers, domains,

      and floating IPs) in ways that align with the applications you host on

      DigitalOcean.


      ### Supported Resource Types Examples


      Projects resources are identified by uniform resource names or URNs. A

      valid URN has the following format: `do:resource_type:resource_id`. The

      following resource types are supported:


      Resource Type | Example URN

      --------------|------------

      Database      | `do:dbaas:83c7a55f-0d84-4760-9245-aba076ec2fb2`

      Domain        | `do:domain:example.com`

      Droplet       | `do:droplet:4126873`

      Floating IP   | `do:floatingip:192.168.99.100`

      Load Balancer | `do:loadbalancer:39052d89-8dd4-4d49-8d5a-3c3b6b365b5b`

      Space         | `do:space:my-website-assets`

      Volume        | `do:volume:6fc4c277-ea5c-448a-93cd-dd496cfef71f`


      ### Resource Status Codes


      When assigning and retrieving resources in projects, a `status` attribute

      is returned that indicates if a resource was successfully retrieved or

      assigned. The status codes can be one of the following:


      Status Code | Explanation

      ------------|------------

      `ok`          | There was no problem retrieving or assigning a resource.

      `not_found`   | The resource was not found.

      `assigned`    | The resource was successfully assigned.

      `already_assigned` | The resource was already assigned.

      `service_down`     | There was a problem retrieving or assigning a resource. Please try again.
    name: Project Resources
  - description: Projects allow you to organize your resources into groups that fit the way you work. You can group resources (like Droplets, Spaces, load balancers, domains, and floating IPs) in ways that align with the applications you host on DigitalOcean.
    name: Projects
  - description: Provides information about DigitalOcean data center regions.
    name: Regions
  - description: >-
      The sizes objects represent different packages of hardware resources that can be used for Droplets. When a Droplet is created, a size must be selected so that the correct resources can be allocated.

      Each size represents a plan that bundles together specific sets of resources. This includes the amount of RAM, the number of virtual CPUs, disk space, and transfer. The size object also includes the pricing details and the regions that the size is available in.
    name: Sizes
  - description: >-
      [Snapshots](https://www.digitalocean.com/docs/images/snapshots/) are saved instances of a Droplet or a block storage volume, which is reflected in the `resource_type` attribute. In order to avoid problems with compressing filesystems, each defines a `min_disk_size` attribute which is the minimum size of the Droplet or volume disk when creating a new resource from the saved snapshot.

      To interact with snapshots, you will generally send requests to the snapshots endpoint at `/v2/snapshots`.
    name: Snapshots
  - description: Manage SSH keys available on your account.
    name: SSH Keys
  - description: >-
      A tag is a label that can be applied to a resource (currently Droplets, Images, Volumes, Volume Snapshots, and Database clusters) in order to better organize or facilitate the lookups and actions on it.

      Tags have two attributes: a user defined `name` attribute and an embedded `resources` attribute with information about resources that have been tagged.
    name: Tags
  - description: >-
      [VPCs (virtual private clouds)](https://www.digitalocean.com/docs/networking/vpc/) allow you to create virtual networks containing resources that can communicate with each other in full isolation using private IP addresses.

      By sending requests to the `/v2/vpcs` endpoint, you can create, configure, list, and delete custom VPCs as well as retrieve information about the resources assigned to them.
    name: VPCs
paths:
  /v2/1-clicks:
    get:
      description: >
        To list all available 1-Click applications, send a GET request to `/v2/1-clicks`. The `type` may

        be provided as query paramater in order to restrict results to a certain type of 1-Click, for

        example: `/v2/1-clicks?type=droplet`. Current supported types are `kubernetes` and `droplet`.


        The response will be a JSON object with a key called `1_clicks`. This will be set to an array of

        1-Click application data, each of which will contain the the slug and type for the 1-Click.
      operationId: list
      parameters:
        - $ref: "#/components/parameters/1_click_type"
      responses:
        "200":
          $ref: "#/components/responses/all_1_clicks"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List 1-Click Applications
      tags:
        - 1-Click Applications
  /v2/1-clicks/kubernetes:
    post:
      description: >
        To install a Kubernetes 1-Click application on a cluster, send a POST request to

        `/v2/1-clicks/kubernetes`. The `addon_slugs` and `cluster_uuid` must be provided as body

        parameter in order to specify which 1-Click application(s) to install. To list all available

        1-Click Kubernetes applications, send a request to `/v2/1-clicks?type=kubernetes`.
      operationId: install_kubernetes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/1_click_create"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/1_click_create"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Install Kubernetes 1-Click Applications
      tags:
        - 1-Click Applications
  /v2/account:
    get:
      description: To show information about the current user account, send a GET request to `/v2/account`.
      operationId: get_user_information
      responses:
        "200":
          $ref: "#/components/responses/account"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Get User Information
      tags:
        - Account
  /v2/account/keys:
    get:
      description: To list all of the keys in your account, send a GET request to `/v2/account/keys`. The response will be a JSON object with a key set to `ssh_keys`. The value of this will be an array of ssh_key objects, each of which contains the standard ssh_key attributes.
      operationId: list_all_keys
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          $ref: "#/components/responses/all_keys"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List All SSH Keys
      tags:
        - SSH Keys
    post:
      description: To add a new SSH public key to your DigitalOcean account, send a POST request to `/v2/account/keys`. Set the `name` attribute to the name you wish to use and the `public_key` attribute to the full public key you are adding.
      operationId: create_ssh_key
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ssh_key"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/key_created"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Create a New SSH Key
      tags:
        - SSH Keys
  "/v2/account/keys/{ssh_key_identifier}":
    delete:
      description: >-
        To destroy a public SSH key that you have in your account, send a DELETE request to `/v2/account/keys/$KEY_ID` or `/v2/account/keys/$KEY_FINGERPRINT`.

        A 204 status will be returned, indicating that the action was successful and that the response body is empty.
      operationId: destroy_ssh_key
      parameters:
        - $ref: "#/components/parameters/ssh_key_identifier"
      responses:
        "204":
          $ref: "#/components/responses/no_content"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Delete an SSH Key
      tags:
        - SSH Keys
    get:
      description: >-
        To get information about a key, send a GET request to `/v2/account/keys/$KEY_ID` or `/v2/account/keys/$KEY_FINGERPRINT`.

        The response will be a JSON object with the key `ssh_key` and value an ssh_key object which contains the standard ssh_key attributes.
      operationId: get_ssh_key
      parameters:
        - $ref: "#/components/parameters/ssh_key_identifier"
      responses:
        "200":
          $ref: "#/components/responses/existing_key"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an Existing SSH Key
      tags:
        - SSH Keys
    patch:
      description: To update the name of an SSH key, send a PUT request to either `/v2/account/keys/$SSH_KEY_ID` or `/v2/account/keys/$SSH_KEY_FINGERPRINT`. Set the `name` attribute to the new name you want to use.
      operationId: patch_ssh_key
      parameters:
        - $ref: "#/components/parameters/ssh_key_identifier"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  $ref: "#/components/schemas/ssh_key_name"
              type: object
        description: Set the `name` attribute to the new name you want to use.
        required: true
      responses:
        "200":
          $ref: "#/components/responses/existing_key"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Update an SSH Key's Name
      tags:
        - SSH Keys
  /v2/actions:
    get:
      description: This will be the entire list of actions taken on your account, so it will be quite large.  As with any large collection returned by the API, the results will be paginated with only 20 on each page by default.
      operationId: list_all_actions
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          $ref: "#/components/responses/all_actions"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List All Actions
      tags:
        - Actions
  "/v2/actions/{action_id}":
    get:
      description: To retrieve a specific action object, send a GET request to `/v2/actions/$ACTION_ID`.
      operationId: get_action
      parameters:
        - $ref: "#/components/parameters/action_id"
      responses:
        "200":
          $ref: "#/components/responses/existing_action"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an Existing Action
      tags:
        - Actions
  /v2/apps:
    get:
      description: List all apps on your account. Information about the current active deployment as well as any in progress ones will also be included for each app.
      operationId: list_apps
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/per_page"
      responses:
        "200":
          $ref: "#/components/responses/list_apps"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List All Apps
      tags:
        - Apps
    post:
      description: Create a new app by submitting an app specification. For documentation on app specifications (`AppSpec` objects), please refer to [the product documentation](https://www.digitalocean.com/docs/app-platform/references/app-specification-reference/).
      operationId: create_app
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/apps_create_app_request"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/new_app"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Create a New App
      tags:
        - Apps
  /v2/apps/detect:
    post:
      description: >-
        Given a git repository, app detection will scan it for supported types of applications and return the first match. You can use this information to aid in the creation of app specifications.


        You may specify either a branch in the source spec or a specific commit hash. Additionally, you may pass a preferred component type to target. For documentation on app specifications (`AppSpec` objects), please refer to [the product documentation](https://www.digitalocean.com/docs/app-platform/references/app-specification-reference/).
      operationId: post_detect
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/apps_detect_request"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/detect"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Run App Detection
      tags:
        - Apps
  /v2/apps/regions:
    get:
      description: List all regions supported by App Platform.
      operationId: list_regions
      responses:
        "200":
          $ref: "#/components/responses/list_regions"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List App Regions
      tags:
        - Apps
  /v2/apps/tiers:
    get:
      description: List all app tiers.
      operationId: list_tiers
      responses:
        "200":
          $ref: "#/components/responses/all_tiers"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List App Tiers
      tags:
        - Apps
  /v2/apps/tiers/instance_sizes:
    get:
      description: List all instance sizes for `service`, `worker`, and `job` components.
      operationId: list_instance_sizes
      responses:
        "200":
          $ref: "#/components/responses/list_instance"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List Instance Sizes
      tags:
        - Apps
  "/v2/apps/tiers/instance_sizes/{slug}":
    get:
      description: Retrieve information about a specific instance size for `service`, `worker`, and `job` components.
      operationId: get_instance_size
      parameters:
        - $ref: "#/components/parameters/slug_size"
      responses:
        "200":
          $ref: "#/components/responses/get_instance"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an Instance Size
      tags:
        - Apps
  "/v2/apps/tiers/{slug}":
    get:
      description: Retrieve information about a specific app tier.
      operationId: get_tier
      parameters:
        - $ref: "#/components/parameters/slug_tier"
      responses:
        "200":
          $ref: "#/components/responses/get_tier"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an App Tier
      tags:
        - Apps
  "/v2/apps/{app_id}/deployments":
    get:
      description: List all deployments of an app.
      operationId: list_deployments
      parameters:
        - $ref: "#/components/parameters/app_id"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/per_page"
      responses:
        "200":
          $ref: "#/components/responses/existing_deployments"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List App Deployments
      tags:
        - Apps
    post:
      description: Creating an app deployment will pull the latest changes from your repository and schedule a new deployment for your app.
      operationId: create_deployment
      parameters:
        - $ref: "#/components/parameters/app_id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/apps_create_deployment_request"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/new_app_deployment"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Create an App Deployment
      tags:
        - Apps
  "/v2/apps/{app_id}/deployments/{deployment_id}":
    get:
      description: Retrieve information about an app deployment.
      operationId: get_deployment
      parameters:
        - $ref: "#/components/parameters/app_id"
        - $ref: "#/components/parameters/deployment_id"
      responses:
        "200":
          $ref: "#/components/responses/list_deployment"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an App Deployment
      tags:
        - Apps
  "/v2/apps/{app_id}/deployments/{deployment_id}/cancel":
    post:
      description: Immediately cancel an in-progress deployment.
      operationId: post_cancel_deployment
      parameters:
        - $ref: "#/components/parameters/app_id"
        - $ref: "#/components/parameters/deployment_id"
      responses:
        "200":
          $ref: "#/components/responses/cancel_deployment"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Cancel a Deployment
      tags:
        - Apps
  "/v2/apps/{app_id}/deployments/{deployment_id}/components/{component_name}/logs":
    get:
      description: Retrieve the logs of a past, in-progress, or active deployment. If a component name is specified, the logs will be limited to only that component. The response will include links to either real-time logs of an in-progress or active deployment or archived logs of a past deployment.
      operationId: get_logs
      parameters:
        - $ref: "#/components/parameters/app_id"
        - $ref: "#/components/parameters/deployment_id"
        - $ref: "#/components/parameters/component"
        - $ref: "#/components/parameters/live_updates"
        - $ref: "#/components/parameters/log_type"
        - $ref: "#/components/parameters/time_wait"
      responses:
        "200":
          $ref: "#/components/responses/list_logs"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve Deployment Logs
      tags:
        - Apps
  "/v2/apps/{app_id}/deployments/{deployment_id}/logs":
    get:
      description: Retrieve the logs of a past, in-progress, or active deployment. If a component name is specified, the logs will be limited to only that component. The response will include links to either real-time logs of an in-progress or active deployment or archived logs of a past deployment.
      operationId: get_logs_aggregate
      parameters:
        - $ref: "#/components/parameters/app_id"
        - $ref: "#/components/parameters/deployment_id"
        - $ref: "#/components/parameters/live_updates"
        - $ref: "#/components/parameters/log_type"
        - $ref: "#/components/parameters/time_wait"
      responses:
        "200":
          $ref: "#/components/responses/list_logs_aggregate"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve Aggregate Deployment Logs
      tags:
        - Apps
  "/v2/apps/{id}":
    delete:
      description: Delete an existing app. Once deleted, all active deployments will be permanently shut down and the app deleted. If needed, be sure to back up your app specification so that you may re-create it at a later time.
      operationId: delete_app
      parameters:
        - $ref: "#/components/parameters/id_app"
      responses:
        "200":
          $ref: "#/components/responses/delete_app"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Delete an App
      tags:
        - Apps
    get:
      description: Retrieve details about an existing app by either its ID or name. To retrieve an app by its name, do not include an ID in the request path. Information about the current active deployment as well as any in progress ones will also be included in the response.
      operationId: get_app
      parameters:
        - $ref: "#/components/parameters/id_app"
        - $ref: "#/components/parameters/app_name"
      responses:
        "200":
          $ref: "#/components/responses/get_app"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an Existing App
      tags:
        - Apps
    put:
      description: Update an existing app by submiting a new app specification. For documentation on app specifications (`AppSpec` objects), please refer to [the product documentation](https://www.digitalocean.com/docs/app-platform/references/app-specification-reference/).
      operationId: update_app
      parameters:
        - $ref: "#/components/parameters/id_app"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/apps_update_app_request"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/update_app"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Update an App
      tags:
        - Apps
  /v2/cdn/endpoints:
    get:
      description: To list all of the CDN endpoints available on your account, send a GET request to `/v2/cdn/endpoints`.
      operationId: list_cdn_endpoints
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          $ref: "#/components/responses/all_cdn_endpoints"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List All CDN Endpoints
      tags:
        - CDN Endpoints
    post:
      description: >
        To create a new CDN endpoint, send a POST request to `/v2/cdn/endpoints`. The

        origin attribute must be set to the fully qualified domain name (FQDN) of a

        DigitalOcean Space. Optionally, the TTL may be configured by setting the `ttl`

        attribute.


        A custom subdomain may be configured by specifying the `custom_domain` and

        `certificate_id` attributes.
      operationId: create_cdn_endpoint
      requestBody:
        content:
          application/json:
            examples:
              CDN Endpoint:
                value:
                  origin: static-images.nyc3.digitaloceanspaces.com
                  ttl: 3600
              CDN Endpoint With Custom Domain:
                value:
                  certificate_id: 892071a0-bb95-49bc-8021-3afd67a210bf
                  custom_domain: static.example.com
                  origin: static-images.nyc3.digitaloceanspaces.com
                  ttl: 3600
            schema:
              $ref: "#/components/schemas/cdn_endpoint"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/existing_endpoint"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Create a New CDN Endpoint
      tags:
        - CDN Endpoints
  "/v2/cdn/endpoints/{cdn_id}":
    delete:
      description: >
        To delete a specific CDN endpoint, send a DELETE request to

        `/v2/cdn/endpoints/$ENDPOINT_ID`.


        A status of 204 will be given. This indicates that the request was processed

        successfully, but that no response body is needed.
      operationId: delete_cdn_endpoint
      parameters:
        - $ref: "#/components/parameters/cdn_endpoint_id"
      responses:
        "204":
          $ref: "#/components/responses/no_content"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Delete a CDN Endpoint
      tags:
        - CDN Endpoints
    get:
      description: To show information about an existing CDN endpoint, send a GET request to `/v2/cdn/endpoints/$ENDPOINT_ID`.
      operationId: get_cdn_endpoint
      parameters:
        - $ref: "#/components/parameters/cdn_endpoint_id"
      responses:
        "200":
          $ref: "#/components/responses/existing_endpoint"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an Existing CDN Endpoint
      tags:
        - CDN Endpoints
  "/v2/cdn/endpoints/{cdn_id}/cache":
    delete:
      description: >
        To purge cached content from a CDN endpoint, send a DELETE request to

        `/v2/cdn/endpoints/$ENDPOINT_ID/cache`. The body of the request should include

        a `files` attribute containing a list of cached file paths to be purged. A

        path may be for a single file or may contain a wildcard (`*`) to recursively

        purge all files under a directory. When only a wildcard is provided, all

        cached files will be purged.
      operationId: purge_cdn_cache
      parameters:
        - $ref: "#/components/parameters/cdn_endpoint_id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/purge_cache"
        required: true
      responses:
        "204":
          $ref: "#/components/responses/no_content"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Purge the Cache for an Existing CDN Endpoint
      tags:
        - CDN Endpoints
  /v2/certificates:
    get:
      description: To list all of the certificates available on your account, send a GET request to `/v2/certificates`.
      operationId: list_certificates
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          $ref: "#/components/responses/all_certificates"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List All Certificates
      tags:
        - Certificates
    post:
      description: >
        To upload new SSL certificate which you have previously generated, send a POST

        request to `/v2/certificates`.


        When uploading a user-generated certificate, the `private_key`,

        `leaf_certificate`, and optionally the `certificate_chain` attributes should

        be provided. The type must be set to `custom`.


        When using Let's Encrypt to create a certificate, the `dns_names` attribute

        must be provided, and the type must be set to `lets_encrypt`.
      operationId: create_certificates
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/certificate_request_lets_encrypt"
                - $ref: "#/components/schemas/certificate_request_custom"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/new_certificate"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Create a New Certificate
      tags:
        - Certificates
  "/v2/certificates/{certificate_id}":
    delete:
      description: >
        To delete a specific certificate, send a DELETE request to

        `/v2/certificates/$CERTIFICATE_ID`.
      operationId: delete_certificate
      parameters:
        - $ref: "#/components/parameters/certificate_id"
      responses:
        "204":
          $ref: "#/components/responses/no_content"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Delete a Certificate
      tags:
        - Certificates
    get:
      description: To show information about an existing certificate, send a GET request to `/v2/certificates/$CERTIFICATE_ID`.
      operationId: get_certificate
      parameters:
        - $ref: "#/components/parameters/certificate_id"
      responses:
        "200":
          $ref: "#/components/responses/existing_certificate"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an Existing Certificate
      tags:
        - Certificates
  /v2/customers/my/balance:
    get:
      description: To retrieve the balances on a customer's account, send a GET request to  `/v2/customers/my/balance`.
      operationId: get_customer_balance
      responses:
        "200":
          $ref: "#/components/responses/balance"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Get Customer Balance
      tags:
        - Balance
  /v2/customers/my/billing_history:
    get:
      description: To retrieve a list of all billing history entries, send a GET request to  `/v2/customers/my/billing_history`.
      operationId: list_billing_history
      responses:
        "200":
          $ref: "#/components/responses/billing_history"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List Billing History
      tags:
        - Billing History
  /v2/customers/my/invoices:
    get:
      description: To retrieve a list of all invoices, send a GET request to  `/v2/customers/my/invoices`.
      operationId: list_invoices
      responses:
        "200":
          $ref: "#/components/responses/invoices"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List All Invoices
      tags:
        - Invoices
  "/v2/customers/my/invoices/{invoice_uuid}":
    get:
      description: To retrieve the invoice items for an invoice, send a GET request to  `/v2/customers/my/invoices/$INVOICE_UUID`.
      operationId: get_invoice_by_uuid
      parameters:
        - $ref: "#/components/parameters/invoice_uuid"
      responses:
        "200":
          $ref: "#/components/responses/invoice"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an Invoice by UUID
      tags:
        - Invoices
  "/v2/customers/my/invoices/{invoice_uuid}/csv":
    get:
      description: To retrieve a CSV for an invoice, send a GET request to  `/v2/customers/my/invoices/$INVOICE_UUID/csv`.
      operationId: get_invoice_csv_by_uuid
      parameters:
        - $ref: "#/components/parameters/invoice_uuid"
      responses:
        "200":
          $ref: "#/components/responses/invoice_csv"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an Invoice CSV by UUID
      tags:
        - Invoices
  "/v2/customers/my/invoices/{invoice_uuid}/pdf":
    get:
      description: To retrieve a PDF for an invoice, send a GET request to  `/v2/customers/my/invoices/$INVOICE_UUID/pdf`.
      operationId: get_invoice_pdf_by_uuid
      parameters:
        - $ref: "#/components/parameters/invoice_uuid"
      responses:
        "200":
          $ref: "#/components/responses/invoice_pdf"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an Invoice PDF by UUID
      tags:
        - Invoices
  "/v2/customers/my/invoices/{invoice_uuid}/summary":
    get:
      description: To retrieve a summary for an invoice, send a GET request to  `/v2/customers/my/invoices/$INVOICE_UUID/summary`.
      operationId: get_invoice_summary_by_uuid
      parameters:
        - $ref: "#/components/parameters/invoice_uuid"
      responses:
        "200":
          $ref: "#/components/responses/invoice_summary"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an Invoice Summary by UUID
      tags:
        - Invoices
  /v2/databases:
    get:
      description: >-
        To list all of the database clusters available on your account, send a GET request to `/v2/databases`. To limit the results to database clusters with a specific tag, include the `tag_name` query parameter set to the name of the tag. For example, `/v2/databases?tag_name=$TAG_NAME`.

        The result will be a JSON object with a `databases` key. This will be set to an array of database objects, each of which will contain the standard database attributes.

        The embedded `connection` and `private_connection` objects will contain the information needed to access the database cluster:

        The embedded `maintenance_window` object will contain information about any scheduled maintenance for the database cluster.
      operationId: list_database_clusters
      parameters:
        - $ref: "#/components/parameters/tag_name"
      responses:
        "200":
          $ref: "#/components/responses/database_clusters"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List All Database Clusters
      tags:
        - Databases
    post:
      description: >-
        To create a database cluster, send a POST request to `/v2/databases`.

        The response will be a JSON object with a key called `database`. The value of this will be an object that contains the standard attributes associated with a database cluster. The initial value of the database cluster's `status` attribute will be `creating`. When the cluster is ready to receive traffic, this will transition to `online`.

        The embedded `connection` and `private_connection` objects will contain the information needed to access the database cluster.

        DigitalOcean managed PostgreSQL and MySQL database clusters take automated daily backups. To create a new database cluster based on a backup of an exising cluster, send a POST request to `/v2/databases`. In addition to the standard database cluster attributes, the JSON body must include a key named `backup_restore` with the name of the original database cluster and the timestamp of the backup to be restored.

        Note: Backups are not supported for Redis clusters.
      operationId: create_database_cluster
      requestBody:
        content:
          application/json:
            examples:
              Create a New Database Cluster:
                value:
                  engine: pg
                  name: backend
                  num_nodes: 2
                  region: nyc3
                  size: db-s-2vcpu-4gb
                  tags:
                    - production
                  version: "10"
              Restore from a Database Cluster Backup:
                value:
                  backup_restore:
                    backup_created_at: 2019-01-31T19:25:22Z
                    database_name: backend
                  engine: pg
                  name: backend-restored
                  num_nodes: 2
                  region: nyc3
                  size: db-s-2vcpu-4gb
                  version: "10"
            schema:
              allOf:
                - $ref: "#/components/schemas/database_cluster"
                - properties:
                    backup_restore:
                      $ref: "#/components/schemas/database_backup"
                  type: object
        required: true
      responses:
        "201":
          $ref: "#/components/responses/database_cluster"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Create a New Database Cluster
      tags:
        - Databases
  "/v2/databases/{database_cluster_uuid}":
    get:
      description: >-
        To show information about an existing database cluster, send a GET request to `/v2/databases/$DATABASE_ID`.

        The response will be a JSON object with a database key. This will be set to an object containing the standard database cluster attributes.

        The embedded connection and private_connection objects will contain the information needed to access the database cluster.

        The embedded maintenance_window object will contain information about any scheduled maintenance for the database cluster.
      operationId: get_database_cluster
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
      responses:
        "200":
          $ref: "#/components/responses/database_cluster"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an Existing Database Cluster
      tags:
        - Databases
  "/v2/databases/{database_cluster_uuid}/backups":
    get:
      description: >-
        To list all of the available backups of a PostgreSQL or MySQL database cluster, send a GET request to `/v2/databases/$DATABASE_ID/backups`.

        **Note**: Backups are not supported for Redis clusters.

        The result will be a JSON object with a `backups key`. This will be set to an array of backup objects, each of which will contain the size of the backup and the timestamp at which it was created.
      operationId: list_database_backups
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
      responses:
        "200":
          $ref: "#/components/responses/database_backups"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List Backups for a Database Cluster
      tags:
        - Databases
  "/v2/databases/{database_cluster_uuid}/dbs":
    get:
      description: >
        To list all of the databases in a clusters, send a GET request to

        `/v2/databases/$DATABASE_ID/dbs`.


        The result will be a JSON object with a `dbs` key. This will be set to an array

        of database objects, each of which will contain the standard database attributes.


        Note: Database management is not supported for Redis clusters.
      operationId: list_databases
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
      responses:
        "200":
          $ref: "#/components/responses/databases"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List All Databases
      tags:
        - Databases
    post:
      description: >
        To add a new database to an existing cluster, send a POST request to

        `/v2/databases/$DATABASE_ID/dbs`.


        Note: Database management is not supported for Redis clusters.


        The response will be a JSON object with a key called `db`. The value of this will be

        an object that contains the standard attributes associated with a database.
      operationId: add_database
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
      requestBody:
        content:
          application/json:
            example:
              name: alpha
            schema:
              $ref: "#/components/schemas/database"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/database"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Add a New Database
      tags:
        - Databases
  "/v2/databases/{database_cluster_uuid}/dbs/{database_name}":
    delete:
      description: >
        To delete a specific database, send a DELETE request to

        `/v2/databases/$DATABASE_ID/dbs/$DB_NAME`.


        A status of 204 will be given. This indicates that the request was processed

        successfully, but that no response body is needed.


        Note: Database management is not supported for Redis clusters.
      operationId: delete_database
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
        - $ref: "#/components/parameters/database_name"
      responses:
        "204":
          $ref: "#/components/responses/no_content"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Delete a Database
      tags:
        - Databases
    get:
      description: >
        To show information about an existing database cluster, send a GET request to

        `/v2/databases/$DATABASE_ID/dbs/$DB_NAME`.


        Note: Database management is not supported for Redis clusters.


        The response will be a JSON object with a `db` key. This will be set to an object

        containing the standard database attributes.
      operationId: get_database
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
        - $ref: "#/components/parameters/database_name"
      responses:
        "200":
          $ref: "#/components/responses/database"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an Existing Database
      tags:
        - Databases
  "/v2/databases/{database_cluster_uuid}/eviction_policy":
    get:
      description: >-
        To retrieve the configured eviction policy for an existing Redis cluster, send a GET request to `/v2/databases/$DATABASE_ID/eviction_policy`.

        The response will be a JSON object with an `eviction_policy` key. This will be set to a string representing the eviction policy.
      operationId: get_eviction_policy
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
      responses:
        "200":
          $ref: "#/components/responses/eviction_policy"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve the Eviction Policy for a Redis Cluster
      tags:
        - Databases
    put:
      description: To configure an eviction policy for an existing Redis cluster, send a PUT request to `/v2/databases/$DATABASE_ID/eviction_policy` specifying the desired policy.
      operationId: update_eviction_policy
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
      requestBody:
        content:
          application/json:
            example:
              eviction_policy: allkeys_lru
            schema:
              $ref: "#/components/schemas/eviction_policy"
        required: true
      responses:
        "204":
          $ref: "#/components/responses/no_content"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Configure the Eviction Policy for a Redis Cluster
      tags:
        - Databases
  "/v2/databases/{database_cluster_uuid}/firewall":
    get:
      description: >-
        To list all of a database cluster's firewall rules (known as "trusted sources" in the control panel), send a GET request to `/v2/databases/$DATABASE_ID/firewall`.

        The result will be a JSON object with a `rules` key.
      operationId: list_database_firewalls
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
      responses:
        "200":
          $ref: "#/components/responses/firewall_rules"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List Firewall Rules (Trusted Sources) for a Database Cluster
      tags:
        - Databases
    put:
      description: >-
        To update a database cluster's firewall rules (known as "trusted sources" in the control panel), send a PUT request to `/v2/databases/$DATABASE_ID/firewall` specifying which resources should be able to open connections to the database. You may limit connections to specific Droplets, Kubernetes clusters, or IP addresses. When a tag is provided, any Droplet or Kubernetes node with that tag applied to it will have access. The firewall is limited to 100 rules (or trusted sources). When possible, we recommend [placing your databases into a VPC network](https://www.digitalocean.com/docs/networking/vpc/) to limit access to them instead of using a firewall.

        A successful
      operationId: update_database_firewall
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
      requestBody:
        content:
          application/json:
            example:
              rules:
                - type: ip_addr
                  value: 192.168.1.1
                - type: k8s
                  value: ff2a6c52-5a44-4b63-b99c-0e98e7a63d61
                - type: droplet
                  value: "163973392"
                - type: tag
                  value: backend
            schema:
              properties:
                rules:
                  items:
                    $ref: "#/components/schemas/firewall_rule"
                  type: array
              type: object
        required: true
      responses:
        "204":
          $ref: "#/components/responses/no_content"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Update Firewall Rules (Trusted Sources) for a Database
      tags:
        - Databases
  "/v2/databases/{database_cluster_uuid}/maintenance":
    put:
      description: >-
        To configure the window when automatic maintenance should be performed for a database cluster, send a PUT request to `/v2/databases/$DATABASE_ID/maintenance`.

        A successful request will receive a 204 No Content status code with no body in response.
      operationId: update_maintenance_window
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
      requestBody:
        content:
          application/json:
            example:
              day: tuesday
              hour: 14:00
            schema:
              $ref: "#/components/schemas/database_maintenance_window"
        required: true
      responses:
        "204":
          $ref: "#/components/responses/no_content"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Configure a Database Cluster's Maintenance Window
      tags:
        - Databases
  "/v2/databases/{database_cluster_uuid}/migrate":
    put:
      description: >
        To migrate a database cluster to a new region, send a `PUT` request to

        `/v2/databases/$DATABASE_ID/migrate`. The body of the request must specify a

        `region` attribute.


        A successful request will receive a 202 Accepted status code with no body in

        response. Querying the database cluster will show that its `status` attribute

        will now be set to `migrating`. This will transition back to `online` when the

        migration has completed.
      operationId: update_database_cluster
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
      requestBody:
        content:
          application/json:
            schema:
              example:
                region: lon1
              properties:
                region:
                  description: A slug identifier for the region to which the database cluster will be migrated.
                  example: lon1
                  type: string
              required:
                - region
              type: object
        required: true
      responses:
        "202":
          $ref: "#/components/responses/accepted"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Migrate a Database Cluster to a New Region
      tags:
        - Databases
  "/v2/databases/{database_cluster_uuid}/replicas":
    get:
      description: >-
        To list all of the read-only replicas associated with a database cluster, send a GET request to `/v2/databases/$DATABASE_ID/replicas`.

        **Note**: Read-only replicas are not supported for Redis clusters.

        The result will be a JSON object with a `replicas` key. This will be set to an array of database replica objects, each of which will contain the standard database replica attributes.
      operationId: list_replicas
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
      responses:
        "200":
          $ref: "#/components/responses/database_replicas"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List All Read-only Replicas
      tags:
        - Databases
    post:
      description: >-
        To create a read-only replica for a PostgreSQL or MySQL database cluster, send a POST request to `/v2/databases/$DATABASE_ID/replicas` specifying the name it should be given, the size of the node to be used, and the region where it will be located.

        **Note**: Read-only replicas are not supported for Redis clusters.

        The response will be a JSON object with a key called `replica`. The value of this will be an object that contains the standard attributes associated with a database replica. The initial value of the read-only replica's `status` attribute will be `forking`. When the replica is ready to receive traffic, this will transition to `active`.
      operationId: create_replica
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
      requestBody:
        content:
          application/json:
            example:
              name: read-nyc3-01
              region: nyc3
              size: db-s-2vcpu-4gb
            schema:
              allOf:
                - $ref: "#/components/schemas/database_replica"
              required:
                - name
                - size
      responses:
        "201":
          $ref: "#/components/responses/database_replica"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Create a Read-only Replica
      tags:
        - Databases
  "/v2/databases/{database_cluster_uuid}/replicas/{replica_name}":
    delete:
      description: >-
        To destroy a specific read-only replica, send a DELETE request to `/v2/databases/$DATABASE_ID/replicas/$REPLICA_NAME`.

        **Note**: Read-only replicas are not supported for Redis clusters.

        A status of 204 will be given. This indicates that the request was processed successfully, but that no response body is needed.
      operationId: destroy_replica
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
        - $ref: "#/components/parameters/replica_name"
      responses:
        "204":
          $ref: "#/components/responses/no_content"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Destroy a Read-only Replica
      tags:
        - Databases
    get:
      description: >-
        To show information about an existing database replica, send a GET request to `/v2/databases/$DATABASE_ID/replicas/$REPLICA_NAME`.

        **Note**: Read-only replicas are not supported for Redis clusters.

        The response will be a JSON object with a `replica key`. This will be set to an object containing the standard database replica attributes.
      operationId: get_replica
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
        - $ref: "#/components/parameters/replica_name"
      responses:
        "200":
          $ref: "#/components/responses/database_replica"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an Existing Read-only Replica
      tags:
        - Databases
  "/v2/databases/{database_cluster_uuid}/sql_mode":
    get:
      description: >-
        To retrieve the configured SQL modes for an existing MySQL cluster, send a GET request to `/v2/databases/$DATABASE_ID/sql_mode`.

        The response will be a JSON object with a `sql_mode` key. This will be set to a string representing the configured SQL modes.
      operationId: get_sql_mode
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
      responses:
        "200":
          $ref: "#/components/responses/sql_mode"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve the SQL Modes for a MySQL Cluster
      tags:
        - Databases
    put:
      description: >-
        To configure the SQL modes for an existing MySQL cluster, send a PUT request to `/v2/databases/$DATABASE_ID/sql_mode` specifying the desired modes. See the official MySQL 8 documentation for a [full list of supported SQL modes](https://dev.mysql.com/doc/refman/8.0/en/sql-mode.html#sql-mode-full).

        A successful request will receive a 204 No Content status code with no body in response.
      operationId: update_sql_mode
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
      requestBody:
        content:
          application/json:
            example:
              sql_mode: ANSI,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE
            schema:
              $ref: "#/components/schemas/sql_mode"
        required: true
      responses:
        "204":
          $ref: "#/components/responses/no_content"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Configure the Eviction Policy for a Redis Cluster
      tags:
        - Databases
  "/v2/databases/{database_cluster_uuid}/users":
    get:
      description: >
        To list all of the users for your database cluster, send a GET request to

        `/v2/databases/$DATABASE_ID/users`.


        Note: User management is not supported for Redis clusters.


        The result will be a JSON object with a `users` key. This will be set to an array

        of database user objects, each of which will contain the standard database user attributes.


        For MySQL clusters, additional options will be contained in the mysql_settings object.
      operationId: list_users
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
      responses:
        "200":
          $ref: "#/components/responses/users"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List all Database Users
      tags:
        - Databases
    post:
      description: >
        To add a new database user, send a POST request to `/v2/databases/$DATABASE_ID/users`

        with the desired username.


        Note: User management is not supported for Redis clusters.


        When adding a user to a MySQL cluster, additional options can be configured in the

        `mysql_settings` object.


        The response will be a JSON object with a key called `user`. The value of this will be an

        object that contains the standard attributes associated with a database user including

        its randomly generated password.
      operationId: add_user
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
      requestBody:
        content:
          application/json:
            examples:
              Add New User:
                value:
                  name: app-01
              Add New User with MySQL Auth Plugin:
                value:
                  mysql_settings:
                    auth_plugin: mysql_native_password
                  name: app-02
            schema:
              $ref: "#/components/schemas/database_user"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/user"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Add a Database User
      tags:
        - Databases
  "/v2/databases/{database_cluster_uuid}/users/{username}":
    delete:
      description: >
        To remove a specific database user, send a DELETE request to

        `/v2/databases/$DATABASE_ID/users/$USERNAME`.


        A status of 204 will be given. This indicates that the request was processed

        successfully, but that no response body is needed.


        Note: User management is not supported for Redis clusters.
      operationId: delete_user
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
        - $ref: "#/components/parameters/username"
      responses:
        "204":
          $ref: "#/components/responses/no_content"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Remove a Database User
      tags:
        - Databases
    get:
      description: >
        To show information about an existing database user, send a GET request to

        `/v2/databases/$DATABASE_ID/users/$USERNAME`.


        Note: User management is not supported for Redis clusters.


        The response will be a JSON object with a `user` key. This will be set to an object

        containing the standard database user attributes.


        For MySQL clusters, additional options will be contained in the mysql_settings

        object.
      operationId: get_user
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
        - $ref: "#/components/parameters/username"
      responses:
        "200":
          $ref: "#/components/responses/user"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an Existing Database User
      tags:
        - Databases
  "/v2/databases/{database_cluster_uuid}/users/{username}/reset_auth":
    post:
      description: >
        To reset the MySQL authentication method for a user, send a POST request to

        `/v2/databases/$DATABASE_ID/users/$USERNAME/reset_auth`. The JSON body must include

        a key called `mysql_settings`.


        Note: Resetting user authentication is not supported for PostgreSQL and Redis clusters.


        The response will be a JSON object with a `user` key. This will be set to an object

        containing the standard database user attributes.
      operationId: reset_auth
      parameters:
        - $ref: "#/components/parameters/database_cluster_uuid"
        - $ref: "#/components/parameters/username"
      requestBody:
        content:
          application/json:
            example:
              mysql_settings:
                auth_plugin: caching_sha2_password
            schema:
              properties:
                mysql_settings:
                  $ref: "#/components/schemas/mysql_settings"
              required:
                - mysql_settings
              type: object
        required: true
      responses:
        "200":
          $ref: "#/components/responses/user"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Reset a Database User's MySQL Authentication Method
      tags:
        - Databases
  /v2/domains:
    get:
      description: To retrieve a list of all of the domains in your account, send a GET request to `/v2/domains`.
      operationId: list_all_domains
      responses:
        "200":
          $ref: "#/components/responses/all_domains_response"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List All Domains
      tags:
        - Domains
    post:
      description: >
        To create a new domain, send a POST request to `/v2/domains`. Set the "name"

        attribute to the domain name you are adding. Optionally, you may set the

        "ip_address" attribute, and an A record will be automatically created pointing

        to the apex domain.
      operationId: create_domain
      requestBody:
        content:
          application/json:
            examples:
              All Domain Records:
                $ref: "#/components/examples/domain_record_created"
            schema:
              $ref: "#/components/schemas/domain"
      responses:
        "202":
          $ref: "#/components/responses/create_domain_response"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Create a New Domain
      tags:
        - Domains
  "/v2/domains/{domain_name}":
    delete:
      description: >
        To delete a domain, send a DELETE request to `/v2/domains/$DOMAIN_NAME`.
      operationId: delete_domain
      parameters:
        - $ref: "#/components/parameters/domain_name"
      responses:
        "204":
          $ref: "#/components/responses/no_content"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Delete a Domain
      tags:
        - Domains
    get:
      description: To get details about a specific domain, send a GET request to `/v2/domains/$DOMAIN_NAME`.
      operationId: get_domain
      parameters:
        - $ref: "#/components/parameters/domain_name"
      responses:
        "200":
          $ref: "#/components/responses/existing_domain"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an Existing Domain
      tags:
        - Domains
  "/v2/domains/{domain_name}/records":
    get:
      description: >+
        To get a listing of all records configured for a domain, send a GET request to `/v2/domains/$DOMAIN_NAME/records`.

        The list of records returned can be filtered by using the `name` and `type` query parameters. For example, to only include A records for a domain, send a GET request to `/v2/domains/$DOMAIN_NAME/records?type=A`. `name` must be a fully qualified record name. For example, to only include records matching `sub.example.com`, send a GET request to  `/v2/domains/$DOMAIN_NAME/records?name=sub.example.com`. Both name and type may be used together.

      operationId: list_all_domain_records
      parameters:
        - $ref: "#/components/parameters/domain_name"
        - $ref: "#/components/parameters/domain_name_query"
        - $ref: "#/components/parameters/domain_type_query"
      responses:
        "200":
          $ref: "#/components/responses/all_domain_records_response"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: List All Domain Records
      tags:
        - Domain Records
    post:
      description: >
        To create a new record to a domain, send a POST request to

        `/v2/domains/$DOMAIN_NAME/records`.


        The request must include all of the required fields for the domain record type

        being added.


        See the [attribute table](#tag/Domain-Records) for details regarding record

        types and their respective required attributes.
      operationId: create_domain_record
      parameters:
        - $ref: "#/components/parameters/domain_name"
      requestBody:
        content:
          application/json:
            example:
              data: 162.10.66.0
              flags: null
              name: www
              port: null
              priority: null
              tag: null
              ttl: 1800
              type: A
              weight: null
            schema:
              anyOf:
                - $ref: "#/components/schemas/domain_record_a"
                - $ref: "#/components/schemas/domain_record_aaaa"
                - $ref: "#/components/schemas/domain_record_caa"
                - $ref: "#/components/schemas/domain_record_cname"
                - $ref: "#/components/schemas/domain_record_mx"
                - $ref: "#/components/schemas/domain_record_ns"
                - $ref: "#/components/schemas/domain_record_soa"
                - $ref: "#/components/schemas/domain_record_srv"
                - $ref: "#/components/schemas/domain_record_txt"
              discriminator:
                mapping:
                  A: "#/components/schemas/domain_record_a"
                  AAAA: "#/components/schemas/domain_record_aaaa"
                  CAA: "#/components/schemas/domain_record_caa"
                  CNAME: "#/components/schemas/domain_record_cname"
                  MX: "#/components/schemas/domain_record_mx"
                  NS: "#/components/schemas/domain_record_ns"
                  SOA: "#/components/schemas/domain_record_soa"
                  SRV: "#/components/schemas/domain_record_srv"
                  TXT: "#/components/schemas/domain_record_txt"
                propertyName: type
      responses:
        "201":
          $ref: "#/components/responses/created_domain_record"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Create a New Domain Record
      tags:
        - Domain Records
  "/v2/domains/{domain_name}/records/{domain_record_id}":
    delete:
      description: >
        To delete a record for a domain, send a DELETE request to

        `/v2/domains/$DOMAIN_NAME/records/$DOMAIN_RECORD_ID`.


        The record will be deleted and the response status will be a 204. This

        indicates a successful request with no body returned.
      operationId: delete_domain_record
      parameters:
        - $ref: "#/components/parameters/domain_name"
        - $ref: "#/components/parameters/domain_record_id"
      responses:
        "204":
          $ref: "#/components/responses/no_content"
        "401":
          $ref: "#/components/responses/unauthorized"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Delete a Domain Record
      tags:
        - Domain Records
    get:
      description: To retrieve a specific domain record, send a GET request to `/v2/domains/$DOMAIN_NAME/records/$RECORD_ID`.
      operationId: get_domain_record
      parameters:
        - $ref: "#/components/parameters/domain_name"
        - $ref: "#/components/parameters/domain_record_id"
      responses:
        "200":
          $ref: "#/components/responses/domain_record"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Retrieve an Existing Domain Record
      tags:
        - Domain Records
    patch:
      description: >
        To update an existing record, send a PATCH request to

        `/v2/domains/$DOMAIN_NAME/records/$DOMAIN_RECORD_ID`. Any attribute valid for

        the record type can be set to a new value for the record.


        See the [attribute table](#tag/Domain-Records) for details regarding record

        types and their respective attributes.
      operationId: patch_update_domain_record
      parameters:
        - $ref: "#/components/parameters/domain_name"
        - $ref: "#/components/parameters/domain_record_id"
      requestBody:
        content:
          application/json:
            example:
              name: blog
            schema:
              $ref: "#/components/schemas/domain_record"
      responses:
        "200":
          $ref: "#/components/responses/domain_record"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
      summary: Update a Domain Record
      tags:
        - Domain Records
    put:
      description: >
        To update an existing record, send a PUT request to

        `/v2/domains/$DOMAIN_NAME/records/$DOMAIN_RECORD_ID`. Any attribute valid for

        the record type can be set to a new value for the record.


        See the [attribute table](#tag/Domain-Records) for details regarding record

        types and their respective attributes.
      operationId: update_domain_record
      parameters:
        - $ref: "#/components/parameters/domain_name"
        - $ref: "#/components/parameters/domain_record_id"
      requestBody:
        content:
          application/json:
            example:
              name: blog
            schema:
              $ref: "#/components/schemas/domain_record"
      responses:
        "200":
          $ref: "#/components/responses/domain_record"
        "401":
          $ref: "#/components/responses/unauthorized"
        "500":
          $ref: "#/components/responses/server_error"
        default:
          $ref: "#/components/responses/unexpected_error"
[...]
