swagger: '2.0'
schemes:
  - https
host: proximitybeacon.googleapis.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'This API provides services to register, manage, index, and search beacons.'
  title: Google Proximity Beacon
  version: v1beta1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/proximitybeacon/v1beta1/rest'
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: proximitybeacon
externalDocs:
  url: 'https://developers.google.com/beacons/proximity/'
parameters:
  $.xgafv:
    description: V1 error format.
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
paths:
  '/v1beta1/beaconinfo:getforobserved':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    post:
      description: 'Given one or more beacon observations, returns any beacon information and attachments accessible to your application.'
      operationId: proximitybeacon.beaconinfo.getforobserved
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetInfoForObservedBeaconsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetInfoForObservedBeaconsResponse'
      tags:
        - beaconinfo
  /v1beta1/beacons:
    get:
      description: Searches the beacon registry for beacons that match the given search criteria. Only those beacons that the client has permission to list will be returned.
      operationId: proximitybeacon.beacons.list
      parameters:
        - description: "Filter query string that supports the following field filters: * `description:\"\"` For example: `description:\"Room 3\"` Returns beacons whose description matches tokens in the string \"Room 3\" (not necessarily that exact string). The string must be double-quoted. * `status:` For example: `status:active` Returns beacons whose status matches the given value. Values must be one of the Beacon.Status enum values (case insensitive). Accepts multiple filters which will be combined with OR logic. * `stability:` For example: `stability:mobile` Returns beacons whose expected stability matches the given value. Values must be one of the Beacon.Stability enum values (case insensitive). Accepts multiple filters which will be combined with OR logic. * `place_id:\"\"` For example: `place_id:\"ChIJVSZzVR8FdkgRXGmmm6SslKw=\"` Returns beacons explicitly registered at the given place, expressed as a Place ID obtained from [Google Places API](/places/place-id). Does not match places inside the given place. Does not consider the beacon's actual location (which may be different from its registered place). Accepts multiple filters that will be combined with OR logic. The place ID must be double-quoted. * `registration_time[|=]` For example: `registration_time>=1433116800` Returns beacons whose registration time matches the given filter. Supports the operators: , =. Timestamp must be expressed as an integer number of seconds since midnight January 1, 1970 UTC. Accepts at most two filters that will be combined with AND logic, to support \"between\" semantics. If more than two are supplied, the latter ones are ignored. * `lat: lng: radius:` For example: `lat:51.1232343 lng:-1.093852 radius:1000` Returns beacons whose registered location is within the given circle. When any of these fields are given, all are required. Latitude and longitude must be decimal degrees between -90.0 and 90.0 and between -180.0 and 180.0 respectively. Radius must be an integer number of meters less than 1,000,000 (1000 km). * `property:\"=\"` For example: `property:\"battery-type=CR2032\"` Returns beacons which have a property of the given name and value. Supports multiple filters which will be combined with OR logic. The entire name=value string must be double-quoted as one string. * `attachment_type:\"\"` For example: `attachment_type:\"my-namespace/my-type\"` Returns beacons having at least one attachment of the given namespaced type. Supports \"any within this namespace\" via the partial wildcard syntax: \"my-namespace/*\". Supports multiple filters which will be combined with OR logic. The string must be double-quoted. Multiple filters on the same field are combined with OR logic (except registration_time which is combined with AND logic). Multiple filters on different fields are combined with AND logic. Filters should be separated by spaces. As with any HTTP query string parameter, the whole filter expression must be URL-encoded. Example REST request: `GET /v1beta1/beacons?q=status:active%20lat:51.123%20lng:-1.095%20radius:1000`"
          in: query
          name: q
          type: string
        - description: A pagination token obtained from a previous request to list beacons.
          in: query
          name: pageToken
          type: string
        - description: 'The maximum number of records to return for this request, up to a server-defined upper limit.'
          in: query
          name: pageSize
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListBeaconsResponse'
      tags:
        - beacons
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
  '/v1beta1/beacons:register':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    post:
      description: Registers a previously unregistered beacon given its `advertisedId`. These IDs are unique within the system. An ID can be registered only once.
      operationId: proximitybeacon.beacons.register
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Beacon'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Beacon'
      tags:
        - beacons
  /v1beta1/namespaces:
    get:
      description: 'Lists all attachment namespaces owned by your Google Developers Console project. Attachment data associated with a beacon must include a namespaced type, and the namespace must be owned by your project.'
      operationId: proximitybeacon.namespaces.list
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListNamespacesResponse'
      tags:
        - namespaces
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
  '/v1beta1/{attachmentName}':
    delete:
      description: Deletes the specified attachment for the given beacon. Each attachment has a unique attachment name (`attachmentName`) which is returned when you fetch the attachment data via this API. You specify this with the delete request to control which attachment is removed. This operation cannot be undone.
      operationId: proximitybeacon.beacons.attachments.delete
      parameters:
        - description: 'The attachment name (`attachmentName`) of the attachment to remove. For example: `beacons/3!893737abc9/attachments/c5e937-af0-494-959-ec49d12738` Required.'
          in: path
          name: attachmentName
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      tags:
        - beacons
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
  '/v1beta1/{beaconName}':
    get:
      description: Returns detailed information about the specified beacon.
      operationId: proximitybeacon.beacons.get
      parameters:
        - description: Beacon that is requested.
          in: path
          name: beaconName
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Beacon'
      tags:
        - beacons
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    put:
      description: 'Updates the information about the specified beacon. **Any field that you do not populate in the submitted beacon will be permanently erased**, so you should follow the "read, modify, write" pattern to avoid inadvertently destroying data. Changes to the beacon status via this method will be silently ignored. To update beacon status, use the separate methods on this API for (de)activation and decommissioning.'
      operationId: proximitybeacon.beacons.update
      parameters:
        - description: "Resource name of this beacon. A beacon name has the format \"beacons/N!beaconId\" where the beaconId is the base16 ID broadcast by the beacon and N is a code for the beacon's type. Possible values are `3` for Eddystone, `1` for iBeacon, or `5` for AltBeacon. This field must be left empty when registering. After reading a beacon, clients can use the name for future operations."
          in: path
          name: beaconName
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Beacon'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Beacon'
      tags:
        - beacons
  '/v1beta1/{beaconName}/attachments':
    get:
      description: 'Returns the attachments for the specified beacon that match the specified namespaced-type pattern. To control which namespaced types are returned, you add the `namespacedType` query parameter to the request. You must either use `*/*`, to return all attachments, or the namespace must be one of the ones returned from the `namespaces` endpoint.'
      operationId: proximitybeacon.beacons.attachments.list
      parameters:
        - description: The beacon whose attachments are to be fetched. Required.
          in: path
          name: beaconName
          required: true
          type: string
          x-reservedExpansion: true
        - description: 'Specifies the namespace and type of attachment to include in response in namespace/type format. Accepts `*/*` to specify "all types in all namespaces".'
          in: query
          name: namespacedType
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListBeaconAttachmentsResponse'
      tags:
        - beacons
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    post:
      description: "Associates the given data with the specified beacon. Attachment data must contain two parts:  \n- A namespaced type. \n- The actual attachment data itself.  The namespaced type consists of two parts, the namespace and the type. The namespace must be one of the values returned by the `namespaces` endpoint, while the type can be a string of any characters except for the forward slash (`/`) up to 100 characters in length. Attachment data can be up to 1024 bytes long."
      operationId: proximitybeacon.beacons.attachments.create
      parameters:
        - description: The beacon on which the attachment should be created. Required.
          in: path
          name: beaconName
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BeaconAttachment'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BeaconAttachment'
      tags:
        - beacons
  '/v1beta1/{beaconName}/attachments:batchDelete':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    post:
      description: 'Deletes multiple attachments on a given beacon. This operation is permanent and cannot be undone. You can optionally specify `namespacedType` to choose which attachments should be deleted. If you do not specify `namespacedType`, all your attachments on the given beacon will be deleted. You also may explicitly specify `*/*` to delete all.'
      operationId: proximitybeacon.beacons.attachments.batchDelete
      parameters:
        - description: The beacon whose attachments are to be deleted. Required.
          in: path
          name: beaconName
          required: true
          type: string
          x-reservedExpansion: true
        - description: 'Specifies the namespace and type of attachments to delete in `namespace/type` format. Accepts `*/*` to specify "all types in all namespaces". Optional.'
          in: query
          name: namespacedType
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DeleteAttachmentsResponse'
      tags:
        - beacons
  '/v1beta1/{beaconName}/diagnostics':
    get:
      description: List the diagnostics for a single beacon. You can also list diagnostics for all the beacons owned by your Google Developers Console project by using the beacon name `beacons/-`.
      operationId: proximitybeacon.beacons.diagnostics.list
      parameters:
        - description: Beacon that the diagnostics are for.
          in: path
          name: beaconName
          required: true
          type: string
          x-reservedExpansion: true
        - description: Specifies the maximum number of results to return. Defaults to 10. Maximum 1000. Optional.
          in: query
          name: pageSize
          type: integer
        - description: 'Requests results that occur after the `page_token`, obtained from the response to a previous request. Optional.'
          in: query
          name: pageToken
          type: string
        - description: 'Requests only beacons that have the given alert. For example, to find beacons that have low batteries use `alert_filter=LOW_BATTERY`.'
          enum:
            - ALERT_UNSPECIFIED
            - WRONG_LOCATION
            - LOW_BATTERY
          in: query
          name: alertFilter
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListDiagnosticsResponse'
      tags:
        - beacons
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
  '/v1beta1/{beaconName}:activate':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    post:
      description: (Re)activates a beacon. A beacon that is active will return information and attachment data when queried via `beaconinfo.getforobserved`. Calling this method on an already active beacon will do nothing (but will return a successful response code).
      operationId: proximitybeacon.beacons.activate
      parameters:
        - description: The beacon to activate. Required.
          in: path
          name: beaconName
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      tags:
        - beacons
  '/v1beta1/{beaconName}:deactivate':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    post:
      description: 'Deactivates a beacon. Once deactivated, the API will not return information nor attachment data for the beacon when queried via `beaconinfo.getforobserved`. Calling this method on an already inactive beacon will do nothing (but will return a successful response code).'
      operationId: proximitybeacon.beacons.deactivate
      parameters:
        - description: The beacon name of this beacon.
          in: path
          name: beaconName
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      tags:
        - beacons
  '/v1beta1/{beaconName}:decommission':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    post:
      description: Decommissions the specified beacon in the service. This beacon will no longer be returned from `beaconinfo.getforobserved`. This operation is permanent -- you will not be able to re-register a beacon with this ID again.
      operationId: proximitybeacon.beacons.decommission
      parameters:
        - description: Beacon that should be decommissioned. Required.
          in: path
          name: beaconName
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      tags:
        - beacons
definitions:
  AdvertisedId:
    description: Defines a unique identifier of a beacon as broadcast by the device.
    properties:
      id:
        description: 'The actual beacon identifier, as broadcast by the beacon hardware. Must be [base64](http://tools.ietf.org/html/rfc4648#section-4) encoded in HTTP requests, and will be so encoded (with padding) in responses. The base64 encoding should be of the binary byte-stream and not any textual (such as hex) representation thereof. Required.'
        format: byte
        type: string
      type:
        description: Specifies the identifier type. Required.
        enum:
          - TYPE_UNSPECIFIED
          - EDDYSTONE
          - IBEACON
          - ALTBEACON
        type: string
    type: object
  AttachmentInfo:
    description: 'A subset of attachment information served via the `beaconinfo.getforobserved` method, used when your users encounter your beacons.'
    properties:
      data:
        description: An opaque data container for client-provided data.
        format: byte
        type: string
      namespacedType:
        description: 'Specifies what kind of attachment this is. Tells a client how to interpret the `data` field. Format is namespace/type, for example scrupulous-wombat-12345/welcome-message'
        type: string
    type: object
  Beacon:
    description: Details of a beacon device.
    properties:
      advertisedId:
        $ref: '#/definitions/AdvertisedId'
        description: The identifier of a beacon as advertised by it. This field must be populated when registering. It may be empty when updating a beacon record because it is ignored in updates.
      beaconName:
        description: "Resource name of this beacon. A beacon name has the format \"beacons/N!beaconId\" where the beaconId is the base16 ID broadcast by the beacon and N is a code for the beacon's type. Possible values are `3` for Eddystone, `1` for iBeacon, or `5` for AltBeacon. This field must be left empty when registering. After reading a beacon, clients can use the name for future operations."
        type: string
      description:
        description: Free text used to identify and describe the beacon. Maximum length 140 characters. Optional.
        type: string
      expectedStability:
        description: 'Expected location stability. This is set when the beacon is registered or updated, not automatically detected in any way. Optional.'
        enum:
          - STABILITY_UNSPECIFIED
          - STABLE
          - PORTABLE
          - MOBILE
          - ROVING
        type: string
      indoorLevel:
        $ref: '#/definitions/IndoorLevel'
        description: 'The indoor level information for this beacon, if known. As returned by the Google Maps API. Optional.'
      latLng:
        $ref: '#/definitions/LatLng'
        description: 'The location of the beacon, expressed as a latitude and longitude pair. This location is given when the beacon is registered or updated. It does not necessarily indicate the actual current location of the beacon. Optional.'
      placeId:
        description: 'The [Google Places API](/places/place-id) Place ID of the place where the beacon is deployed. This is given when the beacon is registered or updated, not automatically detected in any way. Optional.'
        type: string
      properties:
        additionalProperties:
          type: string
        description: 'Properties of the beacon device, for example battery type or firmware version. Optional.'
        type: object
      status:
        description: Current status of the beacon. Required.
        enum:
          - STATUS_UNSPECIFIED
          - ACTIVE
          - DECOMMISSIONED
          - INACTIVE
        type: string
    type: object
  BeaconAttachment:
    description: Project-specific data associated with a beacon.
    properties:
      attachmentName:
        description: 'Resource name of this attachment. Attachment names have the format: beacons/beacon_id/attachments/attachment_id. Leave this empty on creation.'
        type: string
      data:
        description: 'An opaque data container for client-provided data. Must be [base64](http://tools.ietf.org/html/rfc4648#section-4) encoded in HTTP requests, and will be so encoded (with padding) in responses. Required.'
        format: byte
        type: string
      namespacedType:
        description: 'Specifies what kind of attachment this is. Tells a client how to interpret the `data` field. Format is namespace/type. Namespace provides type separation between clients. Type describes the type of `data`, for use by the client when parsing the `data` field. Required.'
        type: string
    type: object
  BeaconInfo:
    description: 'A subset of beacon information served via the `beaconinfo.getforobserved` method, which you call when users of your app encounter your beacons.'
    properties:
      advertisedId:
        $ref: '#/definitions/AdvertisedId'
        description: The ID advertised by the beacon.
      attachments:
        description: 'Attachments matching the type(s) requested. May be empty if no attachment types were requested, or if none matched.'
        items:
          $ref: '#/definitions/AttachmentInfo'
        type: array
      beaconName:
        description: The name under which the beacon is registered.
        type: string
      description:
        description: 'Free text used to identify or describe the beacon in a registered establishment. For example: "entrance", "room 101", etc. May be empty.'
        type: string
    type: object
  Date:
    description: 'Represents a whole calendar date, e.g. date of birth. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the Proleptic Gregorian Calendar. The day may be 0 to represent a year and month where the day is not significant, e.g. credit card expiration date. The year may be 0 to represent a month and day independent of year, e.g. anniversary date. Related types are [google.type.TimeOfDay][] and `google.protobuf.Timestamp`.'
    properties:
      day:
        description: 'Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a year/month where the day is not sigificant.'
        format: int32
        type: integer
      month:
        description: Month of year of date. Must be from 1 to 12.
        format: int32
        type: integer
      year:
        description: 'Year of date. Must be from 1 to 9,999, or 0 if specifying a date without a year.'
        format: int32
        type: integer
    type: object
  DeleteAttachmentsResponse:
    description: Response for a request to delete attachments.
    properties:
      numDeleted:
        description: The number of attachments that were deleted.
        format: int32
        type: integer
    type: object
  Diagnostics:
    description: Diagnostics for a single beacon.
    properties:
      alerts:
        description: An unordered list of Alerts that the beacon has.
        items:
          enum:
            - ALERT_UNSPECIFIED
            - WRONG_LOCATION
            - LOW_BATTERY
          type: string
        type: array
      beaconName:
        description: Resource name of the beacon.
        type: string
      estimatedLowBatteryDate:
        $ref: '#/definitions/Date'
        description: 'The date when the battery is expected to be low. If the value is missing then there is no estimate for when the battery will be low. This value is only an estimate, not an exact date.'
    type: object
  Empty:
    description: 'A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.'
    type: object
  GetInfoForObservedBeaconsRequest:
    description: 'Request for beacon and attachment information about beacons that a mobile client has encountered "in the wild".'
    properties:
      namespacedTypes:
        description: 'Specifies what kind of attachments to include in the response. When given, the response will include only attachments of the given types. When empty, no attachments will be returned. Must be in the format namespace/type. Accepts `*` to specify all types in all namespaces. Optional.'
        items:
          type: string
        type: array
      observations:
        description: The beacons that the client has encountered. At least one must be given.
        items:
          $ref: '#/definitions/Observation'
        type: array
    type: object
  GetInfoForObservedBeaconsResponse:
    description: 'Information about the requested beacons, optionally including attachment data.'
    properties:
      beacons:
        description: Public information about beacons. May be empty if the request matched no beacons.
        items:
          $ref: '#/definitions/BeaconInfo'
        type: array
    type: object
  IndoorLevel:
    description: 'Indoor level, a human-readable string as returned by Google Maps APIs, useful to indicate which floor of a building a beacon is located on.'
    properties:
      name:
        description: The name of this level.
        type: string
    type: object
  LatLng:
    description: 'An object representing a latitude/longitude pair. This is expressed as a pair of doubles representing degrees latitude and degrees longitude. Unless specified otherwise, this must conform to the WGS84 standard. Values must be within normalized ranges. Example of normalization code in Python: def NormalizeLongitude(longitude): """Wrapsdecimal degrees longitude to [-180.0, 180.0].""" q, r = divmod(longitude, 360.0) if r > 180.0 or (r == 180.0 and q <= -1.0): return r - 360.0 return r def NormalizeLatLng(latitude, longitude): """Wraps decimal degrees latitude and longitude to [-180.0, 180.0] and [-90.0, 90.0], respectively.""" r = latitude % 360.0 if r = 270.0: return r - 360, NormalizeLongitude(longitude) else: return 180 - r, NormalizeLongitude(longitude + 180.0) assert 180.0 == NormalizeLongitude(180.0) assert -180.0 == NormalizeLongitude(-180.0) assert -179.0 == NormalizeLongitude(181.0) assert (0.0, 0.0) == NormalizeLatLng(360.0, 0.0) assert (0.0, 0.0) == NormalizeLatLng(-360.0, 0.0) assert (85.0, 180.0) == NormalizeLatLng(95.0, 0.0) assert (-85.0, -170.0) == NormalizeLatLng(-95.0, 10.0) assert (90.0, 10.0) == NormalizeLatLng(90.0, 10.0) assert (-90.0, -10.0) == NormalizeLatLng(-90.0, -10.0) assert (0.0, -170.0) == NormalizeLatLng(-180.0, 10.0) assert (0.0, -170.0) == NormalizeLatLng(180.0, 10.0) assert (-90.0, 10.0) == NormalizeLatLng(270.0, 10.0) assert (90.0, 10.0) == NormalizeLatLng(-270.0, 10.0)'
    properties:
      latitude:
        description: 'The latitude in degrees. It must be in the range [-90.0, +90.0].'
        format: double
        type: number
      longitude:
        description: 'The longitude in degrees. It must be in the range [-180.0, +180.0].'
        format: double
        type: number
    type: object
  ListBeaconAttachmentsResponse:
    description: Response to ListBeaconAttachments that contains the requested attachments.
    properties:
      attachments:
        description: The attachments that corresponded to the request params.
        items:
          $ref: '#/definitions/BeaconAttachment'
        type: array
    type: object
  ListBeaconsResponse:
    description: Response that contains list beacon results and pagination help.
    properties:
      beacons:
        description: The beacons that matched the search criteria.
        items:
          $ref: '#/definitions/Beacon'
        type: array
      nextPageToken:
        description: An opaque pagination token that the client may provide in their next request to retrieve the next page of results.
        type: string
      totalCount:
        description: Estimate of the total number of beacons matched by the query. Higher values may be less accurate.
        format: int64
        type: string
    type: object
  ListDiagnosticsResponse:
    description: Response that contains the requested diagnostics.
    properties:
      diagnostics:
        description: The diagnostics matching the given request.
        items:
          $ref: '#/definitions/Diagnostics'
        type: array
      nextPageToken:
        description: Token that can be used for pagination. Returned only if the request matches more beacons than can be returned in this response.
        type: string
    type: object
  ListNamespacesResponse:
    description: "Response to ListNamespacesRequest that contains all the project's namespaces."
    properties:
      namespaces:
        description: The attachments that corresponded to the request params.
        items:
          $ref: '#/definitions/Namespace'
        type: array
    type: object
  Namespace:
    description: 'An attachment namespace defines read and write access for all the attachments created under it. Each namespace is globally unique, and owned by one project which is the only project that can create attachments under it.'
    properties:
      namespaceName:
        description: 'Resource name of this namespace. Namespaces names have the format: namespaces/namespace.'
        type: string
      servingVisibility:
        description: Specifies what clients may receive attachments under this namespace via `beaconinfo.getforobserved`.
        enum:
          - VISIBILITY_UNSPECIFIED
          - UNLISTED
          - PUBLIC
        type: string
    type: object
  Observation:
    description: Represents one beacon observed once.
    properties:
      advertisedId:
        $ref: '#/definitions/AdvertisedId'
        description: The ID advertised by the beacon the client has encountered. Required.
      telemetry:
        description: 'The array of telemetry bytes received from the beacon. The server is responsible for parsing it. This field may frequently be empty, as with a beacon that transmits telemetry only occasionally.'
        format: byte
        type: string
      timestampMs:
        description: 'Time when the beacon was observed. Being sourced from a mobile device, this time may be suspect.'
        type: string
    type: object
