swagger: '2.0'
schemes:
  - https
host: slack.com
basePath: /api
info:
  description: 'One way to interact with the Slack platform is its HTTP RPC-based Web API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace tokens blessed with related OAuth scopes.'
  title: Slack
  version: 1.0.4
  x-apisguru-categories:
    - collaboration
    - messaging
  x-logo:
    url: 'http://static.tumblr.com/wvuzcz9/LlKncfhmp/slack_logo_240.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/slackapi/slack-api-specs/master/web-api/slack_web_openapi_v2.json'
      version: '2.0'
  x-providerName: slack.com
externalDocs:
  description: Learn more about the Slack Web API
  url: 'https://api.slack.com/web'
produces:
  - application/json
securityDefinitions:
  slackAuth:
    authorizationUrl: 'https://slack.com/oauth/authorize'
    flow: accessCode
    scopes:
      admin: admin
      bot: Bot user scope
      'channels:history': 'channels:history'
      'channels:read': 'channels:read'
      'channels:write': 'channels:write'
      'chat:write': 'chat:write'
      'chat:write:bot': Author messages as a bot
      'chat:write:user': 'chat:write:user'
      'conversations:history': 'conversations:history'
      'conversations:read': 'conversations:read'
      'conversations:write': 'conversations:write'
      'dnd:read': 'dnd:read'
      'dnd:write': 'dnd:write'
      'emoji:read': 'emoji:read'
      'files:read': 'files:read'
      'files:write:user': 'files:write:user'
      'groups:history': 'groups:history'
      'groups:read': 'groups:read'
      'groups:write': 'groups:write'
      identity.basic: identity.basic
      'im:history': 'im:history'
      'im:read': 'im:read'
      'im:write': 'im:write'
      'links:write': 'links:write'
      'mpim:history': 'mpim:history'
      'mpim:read': 'mpim:read'
      'mpim:write': 'mpim:write'
      none: No scope required
      'pins:read': 'pins:read'
      'pins:write': 'pins:write'
      'reactions:read': 'reactions:read'
      'reactions:write': 'reactions:write'
      'reminders:read': 'reminders:read'
      'reminders:write': 'reminders:write'
      'rtm:stream': 'rtm:stream'
      'search:read': 'search:read'
      'stars:read': 'stars:read'
      'stars:write': 'stars:write'
      'team:read': 'team:read'
      tokens.basic: tokens.basic
      'usergroups:read': 'usergroups:read'
      'usergroups:write': 'usergroups:write'
      'users.profile:read': 'users.profile:read'
      'users.profile:write': 'users.profile:write'
      'users:read': 'users:read'
      'users:read.email': 'users:read.email'
      'users:write': 'users:write'
    tokenUrl: 'https://slack.com/api/oauth.access'
    type: oauth2
paths:
  /api.test:
    get:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Checks API calling code.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/api.test'
      operationId: api_test
      parameters:
        - description: example property to return
          in: query
          name: foo
          type: string
        - description: Error response to return
          in: query
          name: error
          type: string
      responses:
        '200':
          description: Standard success response
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties:
              type: object
            description: Schema for successful response api.test method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: api.test success schema
            type: object
        default:
          description: Artificial error response
          examples:
            application/json:
              args:
                error: my_error
              error: my_error
              ok: false
          schema:
            additionalProperties:
              type: object
            description: Schema for error response api.test method
            properties:
              error:
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: api.test error schema
            type: object
      security:
        - slackAuth:
            - none
      tags:
        - api
  /apps.permissions.info:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Returns list of permissions this app has on a team.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/apps.permissions.info'
      operationId: apps_permissions_info
      parameters:
        - description: 'Authentication token. Requires scope: `none`'
          in: query
          name: token
          type: string
      responses:
        '200':
          description: Standard success response when used with a user token
          examples:
            application/json:
              info:
                app_home:
                  resources:
                    ids:
                      - D0C0NU1Q8
                      - D0BH95DLH
                  scopes:
                    - 'chat:write'
                    - 'im:history'
                    - 'im:read'
                channel:
                  resources:
                    excluded_ids: []
                    ids:
                      - C061FA5PB
                    wildcard: false
                  scopes:
                    - 'channels:read'
                group:
                  resources:
                    ids: []
                  scopes: []
                im:
                  resources:
                    ids: []
                  scopes: []
                mpim:
                  resources:
                    ids: []
                  scopes: []
                team:
                  resources:
                    ids: []
                  scopes: []
              ok: true
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: Standard failure response when used with an invalid token
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - none
      tags:
        - apps.permissions
        - apps
  /apps.permissions.request:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Allows an app to request additional scopes
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/apps.permissions.request'
      operationId: apps_permissions_request
      parameters:
        - description: A comma separated list of scopes to request for
          in: query
          name: scopes
          type: string
        - description: 'Authentication token. Requires scope: `none`'
          in: query
          name: token
          type: string
        - description: Token used to trigger the permissions API
          in: query
          name: trigger_id
          type: string
      responses:
        '200':
          description: Standard success response when used with a user token
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: Standard failure response when trigger_id is invalid
          examples:
            application/json:
              error: invalid_trigger_id
              ok: false
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - none
      tags:
        - apps.permissions
        - apps
  /auth.revoke:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Revokes a token.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/auth.revoke'
      operationId: auth_revoke
      parameters:
        - description: Setting this parameter to `1` triggers a _testing mode_ where the specified token will not actually be revoked.
          in: query
          name: test
          type: boolean
        - description: 'Authentication token. Requires scope: `none`'
          in: query
          name: token
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
              revoked: true
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - none
      tags:
        - auth
  /auth.test:
    get:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Checks authentication & identity.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/auth.test'
      operationId: auth_test
      parameters:
        - description: 'Authentication token. Requires scope: `none`'
          in: header
          name: token
          type: string
      responses:
        '200':
          description: Standard success response when used with a user token
          examples:
            application/json:
              ok: true
              team: Subarachnoid Workspace
              team_id: T12345678
              url: 'https://subarachnoid.slack.com/'
              user: grace
              user_id: W12345678
          schema:
            additionalProperties: true
            description: Schema for successful response auth.test method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
              team:
                type: string
              team_id:
                $ref: '#/definitions/defs_team'
              url:
                type: string
              user:
                type: string
              user_id:
                $ref: '#/definitions/defs_user_id'
            required:
              - ok
              - url
              - team
              - user
              - team_id
              - user_id
            title: auth.test success schema
            type: object
        default:
          description: Standard failure response when used with an invalid token
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: true
            description: Schema for error response auth.test method
            properties:
              error:
                enum:
                  - not_authed
                  - invalid_auth
                  - token_revoked
                  - account_inactive
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: auth.test error schema
            type: object
      security:
        - slackAuth:
            - none
      tags:
        - auth
  /bots.info:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Gets information about a bot user.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/bots.info'
      operationId: bots_info
      parameters:
        - description: 'Authentication token. Requires scope: `users:read`'
          in: query
          name: token
          type: string
        - description: Bot user to get info on
          in: query
          name: bot
          type: string
      responses:
        '200':
          description: 'When successful, returns bot info by bot ID.'
          examples:
            application/json:
              bot:
                app_id: A061BLERW
                deleted: false
                icons:
                  image_36: 'https://...'
                  image_48: 'https://...'
                  image_72: 'https://...'
                id: B061F7JQ1
                name: commandeer
                updated: 1449272004
              ok: true
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: 'When no bot can be found, it returns an error.'
          examples:
            application/json:
              error: bot_not_found
              ok: false
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - 'users:read'
      tags:
        - bots
  /channels.archive:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Archives a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.archive'
      operationId: channels_archive
      parameters:
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: Channel to archive
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties: true
            description: Schema for successful response from channels.archive method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: channels.archive success schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: true
            description: Schema for error response channels.archive method
            properties:
              error:
                enum:
                  - channel_not_found
                  - already_archived
                  - cant_archive_general
                  - restricted_action
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - user_is_bot
                  - user_is_restricted
                  - user_is_ultra_restricted
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - team_added_to_org
                  - missing_charset
                  - superfluous_charset
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.archive error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.create:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Creates a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.create'
      operationId: channels_create
      parameters:
        - description: Whether to return errors on invalid channel name instead of modifying it to meet the specified criteria.
          in: formData
          name: validate
          type: boolean
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: Name of channel to create
          in: formData
          name: name
          type: string
      responses:
        '200':
          description: Typical success response resulting in a new channel
          examples:
            application/json:
              channel:
                created: 1502833204
                creator: U061F7AUR
                id: C0DEL09A5
                is_archived: false
                is_channel: true
                is_general: false
                is_member: true
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                last_read: 0000000000.000000
                members:
                  - U061F7AUR
                name: endeavor
                name_normalized: endeavor
                previous_names: []
                purpose:
                  creator: ''
                  last_set: 0
                  value: ''
                topic:
                  creator: ''
                  last_set: 0
                  value: ''
                unread_count: 0
                unread_count_display: 0
              ok: true
          schema:
            additionalProperties: true
            description: Schema for successful response channels.create method
            properties:
              channel:
                $ref: '#/definitions/objs_channel'
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - channel
            title: channels.create error schema
            type: object
        default:
          description: Example error response when an invalid name is provided
          examples:
            application/json:
              detail: Value passed for `name` contained unallowed special characters.
              error: invalid_name_specials
              ok: false
          schema:
            additionalProperties: true
            description: Schema for error response channels.create method
            properties:
              error:
                enum:
                  - name_taken
                  - restricted_action
                  - no_channel
                  - invalid_name_required
                  - invalid_name_punctuation
                  - invalid_name_maxlength
                  - invalid_name_specials
                  - invalid_name
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - user_is_bot
                  - user_is_restricted
                  - user_is_ultra_restricted
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - team_added_to_org
                  - missing_charset
                  - superfluous_charset
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.create error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.history:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Fetches history of messages and events from a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.history'
      operationId: channels_history
      parameters:
        - description: 'Number of messages to return, between 1 and 1000.'
          in: query
          name: count
          type: integer
        - description: Include `unread_count_display` in the output?
          in: query
          name: unreads
          type: boolean
        - description: Include messages with latest or oldest timestamp in results.
          in: query
          name: inclusive
          type: boolean
        - description: 'Authentication token. Requires scope: `channels:history`'
          in: query
          name: token
          type: string
        - description: Start of time range of messages to include in results.
          in: query
          name: oldest
          type: number
        - description: Channel to fetch history for.
          in: query
          name: channel
          type: string
        - description: End of time range of messages to include in results.
          in: query
          name: latest
          type: number
      responses:
        '200':
          description: Typical success response containing the channel's history
          examples:
            application/json:
              has_more: false
              latest: '1358547726.000003'
              messages:
                - text: Hello
                  ts: '1358546515.000008'
                  type: message
                  user: U2147483896
                - is_starred: true
                  reactions:
                    - count: 3
                      name: space_invader
                      users:
                        - U1
                        - U2
                        - U3
                    - count: 5
                      name: sweet_potato
                      users:
                        - U1
                        - U2
                        - U3
                        - U4
                        - U5
                  text: World
                  ts: '1358546515.000007'
                  type: message
                  user: U2147483896
                - ts: '1358546515.000007'
                  type: something_else
                - attachments:
                    - fallback: This is an attachment fallback
                      id: 1
                      text: Don't get too attached
                  bot_id: B19LU7CSY
                  subtype: bot_message
                  text: Containment unit is 98% full
                  ts: '1503435956.000247'
                  type: message
                  username: ecto1138
              ok: true
          schema:
            additionalProperties: true
            description: Schema for successful response channels.history method
            properties:
              has_more:
                type: boolean
              messages:
                items:
                  $ref: '#/definitions/objs_message'
                minItems: 1
                type: array
                uniqueItems: true
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - messages
              - has_more
            title: channels.history success schema
            type: object
        default:
          description: Error response when the specified channel cannot be found
          examples:
            application/json:
              error: channel_not_found
              ok: false
          schema:
            additionalProperties: true
            description: Schema for error response channels.history method
            properties:
              error:
                enum:
                  - channel_not_found
                  - invalid_ts_latest
                  - invalid_ts_oldest
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.history error schema
            type: object
      security:
        - slackAuth:
            - 'channels:history'
      tags:
        - channels
  /channels.info:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Gets information about a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.info'
      operationId: channels_info
      parameters:
        - description: 'Authentication token. Requires scope: `channels:read`'
          in: query
          name: token
          type: string
        - description: Set this to `true` to receive the locale for this channel. Defaults to `false`
          in: query
          name: include_locale
          type: boolean
        - description: Channel to get info on
          in: query
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              channel:
                created: 1466025154
                creator: U0G9QF9C6
                id: C1H9RESGL
                is_archived: false
                is_channel: true
                is_general: false
                is_member: true
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                last_read: '1503435939.000101'
                latest:
                  attachments:
                    - fallback: This is an attachment fallback
                      id: 1
                      text: Don't get too attached
                  bot_id: B19LU7CSY
                  subtype: bot_message
                  text: Containment unit is 98% full
                  ts: '1503435956.000247'
                  type: message
                  username: ecto1138
                members:
                  - U0G9QF9C6
                  - U1QNSQB9U
                name: busting
                name_normalized: busting
                previous_names:
                  - dusting
                purpose:
                  creator: U0G9QF9C6
                  last_set: 1503435128
                  value: Discuss busting ghosts
                topic:
                  creator: U0G9QF9C6
                  last_set: 1503435128
                  value: Spiritual containment strategies
                unread_count: 1
                unread_count_display: 1
              ok: true
          schema:
            additionalProperties: true
            description: Schema for successful response channels.info method
            properties:
              channel:
                $ref: '#/definitions/objs_channel'
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - channel
            title: channels.info success schema
            type: object
        default:
          description: Error response when the specified channel cannot be found
          examples:
            application/json:
              error: channel_not_found
              ok: false
          schema:
            additionalProperties: true
            description: Schema for error response channels.info method
            properties:
              error:
                enum:
                  - channel_not_found
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - team_added_to_org
                  - missing_charset
                  - superfluous_charset
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.info error schema
            type: object
      security:
        - slackAuth:
            - 'channels:read'
      tags:
        - channels
  /channels.invite:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Invites a user to a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.invite'
      operationId: channels_invite
      parameters:
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: User to invite to channel.
          in: formData
          name: user
          type: string
        - description: Channel to invite user to.
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              channel:
                created: 1466025154
                creator: U0G9QF9C6
                id: C1H9RESGL
                is_archived: false
                is_channel: true
                is_general: false
                is_member: true
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                last_read: '1503435963.000307'
                latest:
                  subtype: channel_leave
                  text: <@U1QNSQB9U|protobot> has left the channel
                  ts: '1503435963.000307'
                  type: message
                  user: U1QNSQB9U
                members:
                  - U0G9QF9C6
                  - U1QNSQB9U
                name: busting
                name_normalized: busting
                previous_names: []
                purpose:
                  creator: U0G9QF9C6
                  last_set: 1503435128
                  value: My Purpose
                topic:
                  creator: U0G9QF9C6
                  last_set: 1503435128
                  value: My Topic
                unread_count: 0
                unread_count_display: 0
              ok: true
          schema:
            additionalProperties: true
            description: Schema for successful response channels.invite method
            properties:
              channel:
                $ref: '#/definitions/objs_channel'
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - channel
            title: channels.invite error schema
            type: object
        default:
          description: A somewhat typical error response
          examples:
            application/json:
              error: cant_invite
              ok: false
          schema:
            additionalProperties: true
            description: Schema for error response channels.invite method
            properties:
              error:
                enum:
                  - channel_not_found
                  - user_not_found
                  - cant_invite_self
                  - not_in_channel
                  - already_in_channel
                  - is_archived
                  - cant_invite
                  - too_many_users
                  - ura_max_channels
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - user_is_bot
                  - user_is_restricted
                  - user_is_ultra_restricted
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - team_added_to_org
                  - missing_charset
                  - superfluous_charset
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.invite error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.join:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: 'Joins a channel, creating it if needed.'
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.join'
      operationId: channels_join
      parameters:
        - description: Whether to return errors on invalid channel name instead of modifying it to meet the specified criteria.
          in: formData
          name: validate
          type: boolean
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: Name of channel to join
          in: formData
          name: name
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              already_in_channel: true
              channel:
                created: 1466025154
                creator: U0G9QF9C6
                id: C1H9RESGL
                is_archived: false
                is_channel: true
                is_general: false
                is_member: true
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                members:
                  - U0G9QF9C6
                  - U1QNSQB9U
                name: busting
                name_normalized: busting
                previous_names: []
                purpose:
                  creator: U0G9QF9C6
                  last_set: 1503435128
                  value: My Purpose
                topic:
                  creator: U0G9QF9C6
                  last_set: 1503435128
                  value: My Topic
              ok: true
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: channel_not_found
              ok: false
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.kick:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Removes a user from a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.kick'
      operationId: channels_kick
      parameters:
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: User to remove from channel.
          in: formData
          name: user
          type: string
        - description: Channel to remove user from.
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: not_in_channel
              ok: false
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.leave:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Leaves a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.leave'
      operationId: channels_leave
      parameters:
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: Channel to leave
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.list:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Lists all channels in a Slack team.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.list'
      operationId: channels_list
      parameters:
        - description: Exclude the `members` collection from each `channel`
          in: query
          name: exclude_members
          type: boolean
        - description: 'Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request''s `response_metadata`. Default value fetches the first "page" of the collection. See [pagination](/docs/pagination) for more detail.'
          in: query
          name: cursor
          type: string
        - description: 'Authentication token. Requires scope: `channels:read`'
          in: query
          name: token
          type: string
        - description: 'The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the users list hasn''t been reached.'
          in: query
          name: limit
          type: integer
        - description: Exclude archived channels from the list
          in: query
          name: exclude_archived
          type: boolean
      responses:
        '200':
          description: Typical cursored success response
          examples:
            application/json:
              channels:
                - created: 1449709280
                  creator: U0G9QF9C6
                  id: C0G9QF9GW
                  is_archived: false
                  is_channel: true
                  is_general: false
                  is_member: true
                  is_mpim: false
                  is_org_shared: false
                  is_private: false
                  is_shared: false
                  members:
                    - U0G9QF9C6
                    - U0G9WFXNZ
                  name: random
                  name_normalized: random
                  num_members: 2
                  previous_names: []
                  purpose:
                    creator: ''
                    last_set: 0
                    value: 'A place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber you''d prefer to keep out of more focused work-related channels.'
                  topic:
                    creator: U0G9QF9C6
                    last_set: 1449709352
                    value: Other stuff
                - created: 1449709280
                  creator: U0G9QF9C6
                  id: C0G9QKBBL
                  is_archived: false
                  is_channel: true
                  is_general: true
                  is_member: true
                  is_mpim: false
                  is_org_shared: false
                  is_private: false
                  is_shared: false
                  members:
                    - U0G9QF9C6
                    - U0G9WFXNZ
                  name: general
                  name_normalized: general
                  num_members: 2
                  previous_names: []
                  purpose:
                    creator: U0G9QF9C6
                    last_set: 1449709334
                    value: To talk about anything!
                  topic:
                    creator: U0G9QF9C6
                    last_set: 1449709364
                    value: Talk about anything!
              ok: true
              response_metadata:
                next_cursor: dGVhbTpDMUg5UkVTR0w=
          schema:
            additionalProperties: true
            description: Schema for successful response channels.list method
            properties:
              channels:
                items:
                  $ref: '#/definitions/objs_channel'
                minItems: 1
                type: array
                uniqueItems: true
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - channels
            title: channels.list success schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: true
            description: Schema for error response channels.list method
            properties:
              error:
                enum:
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.list error schema
            type: object
      security:
        - slackAuth:
            - 'channels:read'
      tags:
        - channels
  /channels.mark:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Sets the read cursor in a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.mark'
      operationId: channels_mark
      parameters:
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: Timestamp of the most recently seen message.
          in: formData
          name: ts
          type: number
        - description: Channel to set reading cursor in.
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties: true
            description: Schema for successful response channels.mark method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: channels.mark success schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: true
            description: Schema for error response channels.mark method
            properties:
              error:
                enum:
                  - channel_not_found
                  - invalid_timestamp
                  - not_in_channel
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.mark error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.rename:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Renames a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.rename'
      operationId: channels_rename
      parameters:
        - description: Whether to return errors on invalid channel name instead of modifying it to meet the specified criteria.
          in: formData
          name: validate
          type: boolean
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: New name for channel.
          in: formData
          name: name
          type: string
        - description: Channel to rename
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              channel:
                created: 1477445146
                creator: U2U85N1RZ
                id: C2U875RJN
                is_archived: false
                is_channel: true
                is_general: false
                is_member: false
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                members: []
                name: humans-and-bots
                name_normalized: humans-and-bots
                previous_names:
                  - humans
                purpose:
                  creator: U2U85N1RZ
                  last_set: 1509475801
                  value: the purpose of this channel is to bring people and robots together in harmony
                topic:
                  creator: U2U85N1RZ
                  last_set: 1509475775
                  value: here be robots
                unlinked: 0
              ok: true
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.replies:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Retrieve a thread of messages posted to a channel
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.replies'
      operationId: channels_replies
      parameters:
        - description: Unique identifier of a thread's parent message
          in: query
          name: thread_ts
          type: number
        - description: 'Authentication token. Requires scope: `channels:history`'
          in: query
          name: token
          type: string
        - description: Channel to fetch thread from
          in: query
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              has_more: false
              messages:
                - last_read: '1509484885.000082'
                  replies:
                    - ts: '1509484424.000601'
                      user: U2U85N1RZ
                    - ts: '1509484885.000082'
                      user: U2U85N1RZ
                  reply_count: 2
                  subscribed: true
                  text: This is a channel message
                  thread_ts: '1485913694.000025'
                  ts: '1485913694.000025'
                  type: message
                  unread_count: 0
                  user: U2X9P5FEL
                - parent_user_id: U2X9P5FEL
                  text: This is a thread reply
                  thread_ts: '1485913694.000025'
                  ts: '1509484424.000601'
                  type: message
                  user: U2U85N1RZ
                - parent_user_id: U2X9P5FEL
                  text: This is another thread reply
                  thread_ts: '1485913694.000025'
                  ts: '1509484885.000082'
                  type: message
                  user: U2U85N1RZ
              ok: true
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: thread_not_found
              ok: false
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - 'channels:history'
      tags:
        - channels
  /channels.setPurpose:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Sets the purpose for a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.setPurpose'
      operationId: channels_setPurpose
      parameters:
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: The new purpose
          in: formData
          name: purpose
          type: string
        - description: Channel to set the purpose of
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
              purpose: My special purpose
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.setTopic:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Sets the topic for a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.setTopic'
      operationId: channels_setTopic
      parameters:
        - description: The new topic
          in: formData
          name: topic
          type: string
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: Channel to set the topic of
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
              topic: To picture topicality
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.unarchive:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Unarchives a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.unarchive'
      operationId: channels_unarchive
      parameters:
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: Channel to unarchive
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /chat.delete:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Deletes a message.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/chat.delete'
      operationId: chat_delete
      parameters:
        - description: 'Pass true to delete the message as the authed user with `chat:write:user` scope. [Bot users](/bot-users) in this context are considered authed users. If unused or false, the message will be deleted with `chat:write:bot` scope.'
          in: formData
          name: as_user
          type: boolean
        - description: 'Authentication token. Requires scope: `chat:write`'
          in: header
          name: token
          type: string
        - description: Timestamp of the message to be deleted.
          in: formData
          name: ts
          type: number
        - description: Channel containing the message to be deleted.
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              channel: C024BE91L
              ok: true
              ts: '1401383885.000061'
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: message_not_found
              ok: false
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - 'chat:write:user'
            - 'chat:write:bot'
      tags:
        - chat
  /chat.getPermalink:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Retrieve a permalink URL for a specific extant message
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/chat.getPermalink'
      operationId: chat_getPermalink
      parameters:
        - description: 'Authentication token. Requires scope: `none`'
          in: query
          name: token
          type: string
        - description: 'A message''s `ts` value, uniquely identifying it within a channel'
          in: query
          name: message_ts
          type: number
        - description: The ID of the conversation or channel containing the message
          in: query
          name: channel
          type: string
      responses:
        '200':
          description: Standard success response
          examples:
            application/json:
              channel: C1H9RESGA
              ok: true
              permalink: 'https://ghostbusters.slack.com/archives/C1H9RESGA/p135854651500008'
          schema:
            additionalProperties: true
            description: Schema for successful response chat.getPermalink
            properties:
              channel:
                $ref: '#/definitions/defs_channel'
              ok:
                $ref: '#/definitions/defs_ok_true'
              permalink:
                type: string
            required:
              - ok
              - channel
              - permalink
            title: chat.getPermalink success schema
            type: object
        default:
          description: Error response when channel cannot be found
          examples:
            application/json:
              error: channel_not_found
              ok: false
          schema: {}
      security:
        - slackAuth:
            - none
      tags:
        - chat
  /chat.meMessage:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Share a me message into a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/chat.meMessage'
      operationId: chat_meMessage
      parameters:
        - description: Text of the message to send.
          in: formData
          name: text
          type: string
        - description: 'Authentication token. Requires scope: `chat:write:user`'
          in: header
          name: token
          type: string
        - description: 'Channel to send message to. Can be a public channel, private group or IM channel. Can be an encoded ID, or a name.'
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              channel: C024BE7LR
              ok: true
              ts: '1417671948.000006'
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: true
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - 'chat:write:user'
      tags:
        - chat
  /chat.postEphemeral:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Sends an ephemeral message to a user in a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/chat.postEphemeral'
      operationId: chat_postEphemeral
      parameters:
        - description: 'A JSON-based array of structured attachments, presented as a URL-encoded string.'
          in: formData
          name: attachments
          type: string
        - description: 'Text of the message to send. See below for an explanation of [formatting](#formatting). This field is usually required, unless you''re providing only `attachments` instead.'
          in: formData
          name: text
          type: string
        - description: Find and link channel names and usernames.
          in: formData
          name: link_names
          type: boolean
        - description: 'Change how messages are treated. Defaults to `none`. See [below](#formatting).'
          in: formData
          name: parse
          type: string
        - description: 'Authentication token. Requires scope: `chat:write`'
          in: header
          name: token
          type: string
        - description: '`id` of the user who will receive the ephemeral message. The user should be in the channel specified by the `channel` argument.'
          in: formData
          name: user
          type: string
        - description: Pass true to post the message as the authed bot. Defaults to false.
          in: formData
          name: as_user
          type: boolean
        - description: 'Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name.'
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              message_ts: '1502210682.580145'
              ok: true
          schema:
            additionalProperties: true
            description: Schema for successful response of chat.postEphemeral method
            properties:
              message_ts:
                $ref: '#/definitions/defs_ts'
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - message_ts
            title: chat.postEphemeral success schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: user_not_in_channel
              ok: false
          schema: {}
      security:
        - slackAuth:
            - 'chat:write:user'
            - 'chat:write:bot'
      tags:
        - chat
  /chat.postMessage:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Sends a message to a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/chat.postMessage'
      operationId: chat_postMessage
      parameters:
        - description: 'Set your bot''s user name. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below.'
          in: formData
          name: username
          type: string
        - description: Provide another message's `ts` value to make this message a reply. Avoid using a reply's `ts` value; use its parent instead.
          in: formData
          name: thread_ts
          type: number
        - description: 'A JSON-based array of structured attachments, presented as a URL-encoded string.'
          in: formData
          name: attachments
          type: string
        - description: Pass true to enable unfurling of primarily text-based content.
          in: formData
          name: unfurl_links
          type: boolean
        - description: 'Text of the message to send. See below for an explanation of [formatting](#formatting). This field is usually required, unless you''re providing only `attachments` instead.'
          in: formData
          name: text
          type: string
        - description: Pass false to disable unfurling of media content.
          in: formData
          name: unfurl_media
          type: boolean
        - description: 'Change how messages are treated. Defaults to `none`. See [below](#formatting).'
          in: formData
          name: parse
          type: string
        - description: 'Pass true to post the message as the authed user, instead of as a bot. Defaults to false. See [authorship](#authorship) below.'
          in: formData
          name: as_user
          type: boolean
        - description: 'Authentication token. Requires scope: `chat:write`'
          in: header
          name: token
          type: string
        - description: Disable Slack markup parsing by setting to `false`. Enabled by default.
          in: formData
          name: mrkdwn
          type: boolean
        - description: 'Emoji to use as the icon for this message. Overrides `icon_url`. Must be used in conjunction with `as_user` set to `false`, otherwise ignored. See [authorship](#authorship) below.'
          in: formData
          name: icon_emoji
          type: string
        - description: Find and link channel names and usernames.
          in: formData
          name: link_names
          type: boolean
        - description: 'URL to an image to use as the icon for this message. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below.'
          in: formData
          name: icon_url
          type: string
        - description: 'Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name. See [below](#channels) for more details.'
          in: formData
          name: channel
          type: string
        - description: Used in conjunction with `thread_ts` and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to `false`.
          in: formData
          name: reply_broadcast
          type: boolean
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              channel: C1H9RESGL
              message:
                attachments:
                  - fallback: This is an attachment's fallback
                    id: 1
                    text: This is an attachment
                bot_id: B19LU7CSY
                subtype: bot_message
                text: Here's a message for you
                ts: '1503435956.000247'
                type: message
                username: ecto1
              ok: true
              ts: '1503435956.000247'
          schema:
            additionalProperties: true
            description: Schema for successful response of chat.postMessage method
            properties:
              channel:
                $ref: '#/definitions/defs_channel'
              message:
                $ref: '#/definitions/objs_message'
              ok:
                $ref: '#/definitions/defs_ok_true'
              ts:
                $ref: '#/definitions/defs_ts'
            required:
              - ok
              - channel
              - ts
              - message
            title: chat.postMessage success schema
            type: object
        default:
          description: Typical error response if too many attachments are included
          examples:
            application/json:
              error: too_many_attachments
              ok: false
          schema:
            additionalProperties: true
            description: Schema for error response chat.postMessage method
            properties:
              error:
                enum:
                  - channel_not_found
                  - not_in_channel
                  - is_archived
                  - msg_too_long
                  - no_text
                  - too_many_attachments
                  - rate_limited
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: chat.postMessage error schema
            type: object
      security:
        - slackAuth:
            - 'chat:write:user'
            - 'chat:write:bot'
      tags:
        - chat
  /chat.unfurl:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Provide custom unfurl behavior for user-posted URLs
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/chat.unfurl'
      operationId: chat_unfurl
      parameters:
        - description: Provide a simply-formatted string to send as an ephemeral message to the user as invitation to authenticate further and enable full unfurling behavior
          in: formData
          name: user_auth_message
          type: string
        - description: Set to `true` or `1` to indicate the user must install your Slack app to trigger unfurls for this domain
          in: formData
          name: user_auth_required
          type: boolean
        - description: 'URL-encoded JSON map with keys set to URLs featured in the the message, pointing to their unfurl message attachments.'
          in: formData
          name: unfurls
          type: string
        - description: Timestamp of the message to add unfurl behavior to.
          in: formData
          name: ts
          type: string
        - description: Send users to this custom URL where they will complete authentication in your app to fully trigger unfurling. Value should be properly URL-encoded.
          in: formData
          name: user_auth_url
          type: string
        - description: 'Authentication token. Requires scope: `links:write`'
          in: header
          name: token
          type: string
        - description: Channel ID of the message
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: 'Typical, minimal success response'
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties: true
            description: Schema for successful response of chat.unfurl method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: chat.unfurl success schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: cannot_unfurl_url
              ok: false
          schema: {}
      security:
        - slackAuth:
            - 'links:write'
      tags:
        - chat
  /chat.update:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Updates a message.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/chat.update'
      operationId: chat_update
      parameters:
        - description: 'A JSON-based array of structured attachments, presented as a URL-encoded string. This field is required when not presenting `text`.'
          in: formData
          name: attachments
          type: string
        - description: 'New text for the message, using the [default formatting rules](/docs/formatting). It''s not required when presenting `attachments`.'
          in: formData
          name: text
          type: string
        - description: Timestamp of the message to be updated.
          in: formData
          name: ts
          type: number
        - description: 'Change how messages are treated. Defaults to `client`, unlike `chat.postMessage`. See [below](#formatting).'
          in: formData
          name: parse
          type: string
        - description: 'Pass true to update the message as the authed user. [Bot users](/bot-users) in this context are considered authed users.'
          in: formData
          name: as_user
          type: boolean
        - description: 'Authentication token. Requires scope: `chat:write`'
          in: header
          name: token
          type: string
        - description: 'Find and link channel names and usernames. Defaults to `none`. This parameter should be used in conjunction with `parse`. To set `link_names` to `1`, specify a `parse` mode of `full`.'
          in: formData
          name: link_names
          type: boolean
        - description: Channel containing the message to be updated.
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              channel: C024BE91L
              ok: true
              text: Updated text you carefully authored
              ts: '1401383885.000061'
          schema:
            additionalProperties: true
            description: Schema for successful response of chat.update method
            properties:
              channel:
                $ref: '#/definitions/defs_channel'
              ok:
                $ref: '#/definitions/defs_ok_true'
              text:
                title: Updated message text
                type: string
              ts:
                $ref: '#/definitions/defs_ts'
            required:
              - ok
              - channel
              - ts
              - text
            title: chat.update success schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: cant_update_message
              ok: false
          schema: {}
      security:
        - slackAuth:
            - 'chat:write:user'
            - 'chat:write:bot'
      tags:
        - chat
  /conversations.archive:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Archives a conversation.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/conversations.archive'
      operationId: conversations_archive
      parameters:
        - description: 'Authentication token. Requires scope: `conversations:write`'
          in: header
          name: token
          type: string
        - description: ID of conversation to archive
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties: true
            description: Schema for successful response conversations.archive method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: conversations.archive success schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: channel_not_found
              ok: false
          schema:
            additionalProperties: true
            description: Schema for error response from conversations.archive method
            properties:
              error:
                enum:
                  - method_not_supported_for_channel_type
                  - missing_scope
                  - not_supported
                  - channel_not_found
                  - already_archived
                  - cant_archive_general
                  - restricted_action
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - user_is_bot
                  - user_is_restricted
                  - user_is_ultra_restricted
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - team_added_to_org
                  - missing_charset
                  - superfluous_charset
                type: string
              needed:
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
              provided:
                type: string
            required:
              - ok
              - error
            title: conversations.archive error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
            - 'groups:write'
            - 'im:write'
            - 'mpim:write'
      tags:
        - conversations
  /conversations.close:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Closes a direct message or multi-person direct message.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/conversations.close'
      operationId: conversations_close
      parameters:
        - description: 'Authentication token. Requires scope: `conversations:write`'
          in: header
          name: token
          type: string
        - description: Conversation to close.
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties: true
            description: Schema for successful response conversations.close method
            properties:
              already_closed:
                type: boolean
              no_op:
                type: boolean
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: conversations.close success schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: channel_not_found
              ok: false
          schema:
            additionalProperties: true
            description: Schema for error response from conversations.close method
            properties:
              error:
                enum:
                  - method_not_supported_for_channel_type
                  - channel_not_found
                  - user_does_not_own_channel
                  - missing_scope
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                type: string
              needed:
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
              provided:
                type: string
            required:
              - ok
              - error
            title: conversations.close error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
            - 'groups:write'
            - 'im:write'
            - 'mpim:write'
      tags:
        - conversations
  /conversations.create:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Initiates a public or private channel-based conversation
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/conversations.create'
      operationId: conversations_create
      parameters:
        - description: 'Authentication token. Requires scope: `conversations:write`'
          in: header
          name: token
          type: string
        - description: Name of the public or private channel to create
          in: formData
          name: name
          type: string
        - description: Create a private channel instead of a public one
          in: formData
          name: is_private
          type: boolean
      responses:
        '200':
          description: 'If successful, the command returns a rather stark [conversation object](/types/conversation)'
          examples:
            application/json:
              channel:
                created: 1504554479
                creator: U0123456
                id: C0EAQDV4Z
                is_archived: false
                is_channel: true
                is_ext_shared: false
                is_general: false
                is_group: false
                is_im: false
                is_member: true
                is_mpim: false
                is_org_shared: false
                is_pending_ext_shared: false
                is_private: false
                is_shared: false
                last_read: 0000000000.000000
                name: endeavor
                name_normalized: endeavor
                pending_shared: []
                previous_names: []
                priority: 0
                purpose:
                  creator: ''
                  last_set: 0
                  value: ''
                topic:
                  creator: ''
                  last_set: 0
                  value: ''
                unlinked: 0
                unread_count: 0
                unread_count_display: 0
              ok: true
          schema:
            additionalProperties: true
            description: Schema for successful response conversations.create method
            properties:
              channel:
                $ref: '#/definitions/objs_conversation'
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - channel
            title: conversations.create success schema
            type: object
        default:
          description: Typical error response when name already in use
          examples:
            application/json:
              error: name_taken
              ok: false
          schema:
            additionalProperties: true
            description: Schema for error response from conversations.create method
            properties:
              detail:
                type: string
              error:
                enum:
                  - method_not_supported_for_channel_type
                  - missing_scope
                  - name_taken
                  - restricted_action
                  - no_channel
                  - invalid_name_required
                  - invalid_name_punctuation
                  - invalid_name_maxlength
                  - invalid_name_specials
                  - invalid_name
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - user_is_bot
                  - user_is_restricted
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                type: string
              needed:
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
              provided:
                type: string
            required:
              - ok
              - error
            title: conversations.create error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
            - 'groups:write'
            - 'im:write'
            - 'mpim:write'
      tags:
        - conversations
  /conversations.history:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Fetches a conversation's history of messages and events.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/conversations.history'
      operationId: conversations_history
      parameters:
        - description: Include messages with latest or oldest timestamp in results only when either timestamp is specified.
          in: query
          name: inclusive
          type: boolean
        - description: 'Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request''s `response_metadata`. Default value fetches the first "page" of the collection. See [pagination](/docs/pagination) for more detail.'
          in: query
          name: cursor
          type: string
        - description: 'Authentication token. Requires scope: `conversations:history`'
          in: query
          name: token
          type: string
        - description: 'The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the users list hasn''t been reached.'
          in: query
          name: limit
          type: integer
        - description: Start of time range of messages to include in results.
          in: query
          name: oldest
          type: number
        - description: Conversation ID to fetch history for.
          in: query
          name: channel
          type: string
        - description: End of time range of messages to include in results.
          in: query
          name: latest
          type: number
      responses:
        '200':
          description: Typical success response containing a channel's messages
          examples:
            application/json:
              has_more: true
              messages:
                - text: I find you punny and would like to smell your nose letter
                  ts: '1512085950.000216'
                  type: message
                  user: U012AB3CDE
                - text: 'What, you want to smell my shoes better?'
                  ts: '1512104434.000490'
                  type: message
                  user: U061F7AUR
              ok: true
              pin_count: 0
              response_metadata:
                next_cursor: bmV4dF90czoxNTEyMDg1ODYxMDAwNTQz
          schema:
            additionalProperties: true
            description: Schema for successful response from conversations.history method
            properties:
              has_more:
                type: boolean
              messages:
                items:
                  $ref: '#/definitions/objs_message'
                minItems: 1
                type: array
                uniqueItems: true
              ok:
                $ref: '#/definitions/defs_ok_true'
              pin_count:
                type: integer
            required:
              - ok
              - messages
              - has_more
              - pin_count
            title: conversations.history success schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: channel_not_found
              ok: false
          schema:
            additionalProperties: true
            description: Schema for error response from conversations.history method
            properties:
              error:
                enum:
                  - missing_scope
                  - channel_not_found
                  - invalid_ts_latest
                  - invalid_ts_oldest
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                type: string
              needed:
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
              provided:
                type: string
            required:
              - ok
              - error
            title: conversations.history error schema
            type: object
      security:
        - slackAuth:
            - 'channels:history'
            - 'groups:history'
            - 'im:history'
            - 'mpim:history'
      tags:
        - conversations
  /conversations.info:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Retrieve information about a conversation.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/conversations.info'
      operationId: conversations_info
      parameters:
        - description: 'Authentication token. Requires scope: `conversations:read`'
          in: query
          name: token
          type: string
        - description: Conversation ID to learn more about
          in: query
          name: channel
          type: string
        - description: Set this to `true` to receive the locale for this conversation. Defaults to `false`
          in: query
          name: include_locale
          type: boolean
      responses:
        '200':
          description: 'Typical success response for a public channel. (Also, a response from a private channel and a multi-party IM is very similar to this example.)'
          examples:
            application/json:
              channel:
                created: 1449252889
                creator: W012A3BCD
                id: C012AB3CD
                is_archived: false
                is_channel: true
                is_ext_shared: false
                is_general: true
                is_group: false
                is_im: false
                is_member: true
                is_mpim: false
                is_org_shared: false
                is_pending_ext_shared: false
                is_private: false
                is_read_only: false
                is_shared: false
                last_read: '1502126650.228446'
                locale: en-US
                name: general
                name_normalized: general
                num_members: 23
                pending_shared: []
                previous_names:
                  - specifics
                  - abstractions
                  - etc
                purpose:
                  creator: W012A3BCD
                  last_set: 1449709364
                  value: This part of the workspace is for fun. Make fun here.
                topic:
                  creator: W012A3BCD
                  last_set: 1449709364
                  value: For public discussion of generalities
                unlinked: 0
              ok: true
          schema:
            additionalProperties: true
            description: Schema for successful response conversations.info
            properties:
              channel:
                $ref: '#/definitions/objs_conversation'
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - channel
            title: conversations.info success schema
            type: object
        default:
          description: Typical error response when a channel cannot be found
          examples:
            application/json:
              error: channel_not_found
              ok: false
          schema:
            additionalProperties: true
            description: Schema for error response from conversations.info method
            properties:
              error:
[...]
