swagger: '2.0'
schemes:
  - https
host: classroom.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Google Classroom API
  title: Google Classroom API
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/classroom/v1/rest'
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: classroom
externalDocs:
  url: 'https://developers.google.com/classroom/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/classroom.courses': Manage your Google Classroom classes
      'https://www.googleapis.com/auth/classroom.courses.readonly': View your Google Classroom classes
      'https://www.googleapis.com/auth/classroom.profile.emails': View the email addresses of people in your classes
      'https://www.googleapis.com/auth/classroom.profile.photos': View the profile photos of people in your classes
      'https://www.googleapis.com/auth/classroom.rosters': Manage your Google Classroom class rosters
      'https://www.googleapis.com/auth/classroom.rosters.readonly': View your Google Classroom class rosters
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
paths:
  /v1/courses:
    get:
      description: 'Returns a list of courses that the requesting user is permitted to view, restricted to those that match the request. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the query argument is malformed. * `NOT_FOUND` if any users specified in the query arguments do not exist.'
      operationId: classroom.courses.list
      parameters:
        - description: 'Restricts returned courses to those having a student with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `"me"`, indicating the requesting user'
          in: query
          name: studentId
          type: string
        - description: 'Restricts returned courses to those having a teacher with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `"me"`, indicating the requesting user'
          in: query
          name: teacherId
          type: string
        - description: Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.
          in: query
          name: pageSize
          type: integer
        - description: 'nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListCoursesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
            - 'https://www.googleapis.com/auth/classroom.courses.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    post:
      description: "Creates a course. The user specified in `ownerId` is the owner of the created course and added as a teacher. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create courses or for access errors. * `NOT_FOUND` if the primary teacher is not a valid user. * `FAILED_PRECONDITION` if the course owner's account is disabled or for the following request errors: * UserGroupsMembershipLimitReached * `ALREADY_EXISTS` if an alias was specified in the `id` and already exists."
      operationId: classroom.courses.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Course'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Course'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
      tags:
        - courses
  '/v1/courses/{courseId}/aliases':
    get:
      description: 'Returns a list of aliases for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the course or for access errors. * `NOT_FOUND` if the course does not exist.'
      operationId: classroom.courses.aliases.list
      parameters:
        - description: The identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.
          in: query
          name: pageSize
          type: integer
        - description: 'nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListCourseAliasesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
            - 'https://www.googleapis.com/auth/classroom.courses.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    post:
      description: 'Creates an alias for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the alias or for access errors. * `NOT_FOUND` if the course does not exist. * `ALREADY_EXISTS` if the alias already exists.'
      operationId: classroom.courses.aliases.create
      parameters:
        - description: Identifier of the course to alias. This identifier can be either the Classroom-assigned identifier or an alias.
          in: path
          name: courseId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CourseAlias'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CourseAlias'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
      tags:
        - courses
  '/v1/courses/{courseId}/aliases/{alias}':
    delete:
      description: 'Deletes an alias of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to remove the alias or for access errors. * `NOT_FOUND` if the alias does not exist.'
      operationId: classroom.courses.aliases.delete
      parameters:
        - description: Identifier of the course whose alias should be deleted. This identifier can be either the Classroom-assigned identifier or an alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: Alias to delete. This may not be the Classroom-assigned identifier.
          in: path
          name: alias
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
  '/v1/courses/{courseId}/students':
    get:
      description: 'Returns a list of students of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.'
      operationId: classroom.courses.students.list
      parameters:
        - description: Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: Maximum number of items to return. Zero means no maximum. The server may return fewer than the specified number of results.
          in: query
          name: pageSize
          type: integer
        - description: 'nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListStudentsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
            - 'https://www.googleapis.com/auth/classroom.rosters'
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    post:
      description: "Adds a user as a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create students in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * UserGroupsMembershipLimitReached * `ALREADY_EXISTS` if the user is already a student or teacher in the course."
      operationId: classroom.courses.students.create
      parameters:
        - description: Identifier of the course to create the student in. This identifier can be either the Classroom-assigned identifier or an alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: Enrollment code of the course to create the student in. This code is required if userId corresponds to the requesting user; it may be omitted if the requesting user has administrative permissions to create students for any user.
          in: query
          name: enrollmentCode
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Student'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Student'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
            - 'https://www.googleapis.com/auth/classroom.rosters'
      tags:
        - courses
  '/v1/courses/{courseId}/students/{userId}':
    delete:
      description: 'Deletes a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete students of this course or for access errors. * `NOT_FOUND` if no student of this course has the requested ID or if the course does not exist.'
      operationId: classroom.courses.students.delete
      parameters:
        - description: Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: 'Identifier of the student to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `"me"`, indicating the requesting user'
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
      tags:
        - courses
    get:
      description: 'Returns a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view students of this course or for access errors. * `NOT_FOUND` if no student of this course has the requested ID or if the course does not exist.'
      operationId: classroom.courses.students.get
      parameters:
        - description: Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: 'Identifier of the student to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `"me"`, indicating the requesting user'
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Student'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
            - 'https://www.googleapis.com/auth/classroom.rosters'
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
  '/v1/courses/{courseId}/teachers':
    get:
      description: 'Returns a list of teachers of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.'
      operationId: classroom.courses.teachers.list
      parameters:
        - description: Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: Maximum number of items to return. Zero means no maximum. The server may return fewer than the specified number of results.
          in: query
          name: pageSize
          type: integer
        - description: 'nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListTeachersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
            - 'https://www.googleapis.com/auth/classroom.rosters'
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    post:
      description: "Creates a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create teachers in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * `ALREADY_EXISTS` if the user is already a teacher or student in the course."
      operationId: classroom.courses.teachers.create
      parameters:
        - description: Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
          in: path
          name: courseId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Teacher'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Teacher'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
            - 'https://www.googleapis.com/auth/classroom.rosters'
      tags:
        - courses
  '/v1/courses/{courseId}/teachers/{userId}':
    delete:
      description: 'Deletes a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist. * `FAILED_PRECONDITION` if the requested ID belongs to the primary teacher of this course.'
      operationId: classroom.courses.teachers.delete
      parameters:
        - description: Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: 'Identifier of the teacher to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `"me"`, indicating the requesting user'
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
      tags:
        - courses
    get:
      description: 'Returns a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist.'
      operationId: classroom.courses.teachers.get
      parameters:
        - description: Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: 'Identifier of the teacher to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `"me"`, indicating the requesting user'
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Teacher'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
            - 'https://www.googleapis.com/auth/classroom.rosters'
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
  '/v1/courses/{id}':
    delete:
      description: 'Deletes a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID.'
      operationId: classroom.courses.delete
      parameters:
        - description: Identifier of the course to delete. This identifier can be either the Classroom-assigned identifier or an alias.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
      tags:
        - courses
    get:
      description: 'Returns a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID.'
      operationId: classroom.courses.get
      parameters:
        - description: Identifier of the course to return. This identifier can be either the Classroom-assigned identifier or an alias.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Course'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
            - 'https://www.googleapis.com/auth/classroom.courses.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    patch:
      description: 'Updates one or more fields in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `INVALID_ARGUMENT` if invalid fields are specified in the update mask or if no update mask is supplied. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable'
      operationId: classroom.courses.patch
      parameters:
        - description: Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias.
          in: path
          name: id
          required: true
          type: string
        - description: 'Mask that identifies which fields on the course to update. This field is required to do an update. The update will fail if invalid fields are specified. The following fields are valid: * `name` * `section` * `descriptionHeading` * `description` * `room` * `courseState` When set in a query parameter, this field should be specified as `updateMask=,,...`'
          in: query
          name: updateMask
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Course'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Course'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
      tags:
        - courses
    put:
      description: 'Updates a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable'
      operationId: classroom.courses.update
      parameters:
        - description: Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Course'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Course'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
      tags:
        - courses
  /v1/invitations:
    get:
      description: 'Returns a list of invitations that the requesting user is permitted to view, restricted to those that match the list request. *Note:* At least one of `user_id` or `course_id` must be supplied. Both fields can be supplied. This method returns the following error codes: * `PERMISSION_DENIED` for access errors.'
      operationId: classroom.invitations.list
      parameters:
        - description: 'Restricts returned invitations to those for a specific user. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `"me"`, indicating the requesting user'
          in: query
          name: userId
          type: string
        - description: Restricts returned invitations to those for a course with the specified identifier.
          in: query
          name: courseId
          type: string
        - description: Maximum number of items to return. Zero means no maximum. The server may return fewer than the specified number of results.
          in: query
          name: pageSize
          type: integer
        - description: 'nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListInvitationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
      tags:
        - invitations
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    post:
      description: "Creates an invitation. Only one invitation for a user and course may exist at a time. Delete and re-create an invitation to make changes. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create invitations for this course or for access errors. * `NOT_FOUND` if the course or the user does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled or if the user already has this role or a role with greater permissions. * `ALREADY_EXISTS` if an invitation for the specified user and course already exists."
      operationId: classroom.invitations.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Invitation'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Invitation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
      tags:
        - invitations
  '/v1/invitations/{id}':
    delete:
      description: 'Deletes an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID.'
      operationId: classroom.invitations.delete
      parameters:
        - description: Identifier of the invitation to delete.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
      tags:
        - invitations
    get:
      description: 'Returns an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID.'
      operationId: classroom.invitations.get
      parameters:
        - description: Identifier of the invitation to return.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Invitation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
      tags:
        - invitations
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
  '/v1/invitations/{id}:accept':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    post:
      description: 'Accepts an invitation, removing it and adding the invited user to the teachers or students (as appropriate) of the specified course. Only the invited user may accept an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to accept the requested invitation or for access errors. * `FAILED_PRECONDITION` for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * `NOT_FOUND` if no invitation exists with the requested ID.'
      operationId: classroom.invitations.accept
      parameters:
        - description: Identifier of the invitation to accept.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
      tags:
        - invitations
  '/v1/userProfiles/{userId}':
    get:
      description: 'Returns a user profile. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access this user profile or if no profile exists with the requested ID or for access errors.'
      operationId: classroom.userProfiles.get
      parameters:
        - description: 'Identifier of the profile to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `"me"`, indicating the requesting user'
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UserProfile'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
            - 'https://www.googleapis.com/auth/classroom.rosters'
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
      tags:
        - userProfiles
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
definitions:
  Course:
    description: A Course in Classroom.
    properties:
      alternateLink:
        description: Absolute link to this course in the Classroom web UI. Read-only.
        type: string
      courseState:
        description: 'State of the course. If unspecified, the default state is `PROVISIONED`.'
        enum:
          - COURSE_STATE_UNSPECIFIED
          - ACTIVE
          - ARCHIVED
          - PROVISIONED
          - DECLINED
        type: string
      creationTime:
        description: Creation time of the course. Specifying this field in a course update mask will result in an error. Read-only.
        type: string
      description:
        description: "Optional description. For example, \"We'll be learning about the structure of living creatures from a combination of textbooks, guest lectures, and lab work. Expect to be excited!\" If set, this field must be a valid UTF-8 string and no longer than 30,000 characters."
        type: string
      descriptionHeading:
        description: 'Optional heading for the description. For example, "Welcome to 10th Grade Biology." If set, this field must be a valid UTF-8 string and no longer than 3600 characters.'
        type: string
      enrollmentCode:
        description: Enrollment code to use when joining this course. Specifying this field in a course update mask will result in an error. Read-only.
        type: string
      id:
        description: 'Identifier for this course assigned by Classroom. When creating a course, you may optionally set this identifier to an alias string in the request to create a corresponding alias. The `id` is still assigned by Classroom and cannot be updated after the course is created. Specifying this field in a course update mask will result in an error.'
        type: string
      name:
        description: 'Name of the course. For example, "10th Grade Biology". The name is required. It must be between 1 and 750 characters and a valid UTF-8 string.'
        type: string
      ownerId:
        description: 'The identifier of the owner of a course. When specified as a parameter of a create course request, this field is required. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `"me"`, indicating the requesting user This must be set in a create request. Specifying this field in a course update mask will result in an `INVALID_ARGUMENT` error.'
        type: string
      room:
        description: 'Optional room location. For example, "301". If set, this field must be a valid UTF-8 string and no longer than 650 characters.'
        type: string
      section:
        description: 'Section of the course. For example, "Period 2". If set, this field must be a valid UTF-8 string and no longer than 2800 characters.'
        type: string
      updateTime:
        description: Time of the most recent update to this course. Specifying this field in a course update mask will result in an error. Read-only.
        type: string
    type: object
  CourseAlias:
    description: "Alternative identifier for a course. An alias uniquely identifies a course. It must be unique within one of the following scopes: * domain: A domain-scoped alias is visible to all users within the alias creator's domain and can be created only by a domain admin. A domain-scoped alias is often used when a course has an identifier external to Classroom. * project: A project-scoped alias is visible to any request from an application using the Developer Console project ID that created the alias and can be created by any project. A project-scoped alias is often used when an application has alternative identifiers. A random value can also be used to avoid duplicate courses in the event of transmission failures, as retrying a request will return `ALREADY_EXISTS` if a previous one has succeeded."
    properties:
      alias:
        description: 'Alias string. The format of the string indicates the desired alias scoping. * `d:` indicates a domain-scoped alias. Example: `d:math_101` * `p:` indicates a project-scoped alias. Example: `p:abc123` This field has a maximum length of 256 characters.'
        type: string
    type: object
  Empty:
    description: 'A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.'
    type: object
  GlobalPermission:
    description: Global user permission description.
    properties:
      permission:
        description: Permission value.
        enum:
          - PERMISSION_UNSPECIFIED
          - CREATE_COURSE
        type: string
    type: object
  Invitation:
    description: An invitation to join a course.
    properties:
      courseId:
        description: Identifier of the course to invite the user to.
        type: string
      id:
        description: Identifier assigned by Classroom. Read-only.
        type: string
      role:
        description: Role to invite the user to have. Must not be `COURSE_ROLE_UNSPECIFIED`.
        enum:
          - COURSE_ROLE_UNSPECIFIED
          - STUDENT
          - TEACHER
        type: string
      userId:
        description: 'Identifier of the invited user. When specified as a parameter of a request, this identifier can be set to one of the following: * the numeric identifier for the user * the email address of the user * the string literal `"me"`, indicating the requesting user'
        type: string
    type: object
  ListCourseAliasesResponse:
    description: Response when listing course aliases.
    properties:
      aliases:
        description: The course aliases.
        items:
          $ref: '#/definitions/CourseAlias'
        type: array
      nextPageToken:
        description: 'Token identifying the next page of results to return. If empty, no further results are available.'
        type: string
    type: object
  ListCoursesResponse:
    description: Response when listing courses.
    properties:
      courses:
        description: Courses that match the list request.
        items:
          $ref: '#/definitions/Course'
        type: array
      nextPageToken:
        description: 'Token identifying the next page of results to return. If empty, no further results are available.'
        type: string
    type: object
  ListInvitationsResponse:
    description: Response when listing invitations.
    properties:
      invitations:
        description: Invitations that match the list request.
        items:
          $ref: '#/definitions/Invitation'
        type: array
      nextPageToken:
        description: 'Token identifying the next page of results to return. If empty, no further results are available.'
        type: string
    type: object
  ListStudentsResponse:
    description: Response when listing students.
    properties:
      nextPageToken:
        description: 'Token identifying the next page of results to return. If empty, no further results are available.'
        type: string
      students:
        description: Students who match the list request.
        items:
          $ref: '#/definitions/Student'
        type: array
    type: object
  ListTeachersResponse:
    description: Response when listing teachers.
    properties:
      nextPageToken:
        description: 'Token identifying the next page of results to return. If empty, no further results are available.'
        type: string
      teachers:
        description: Teachers who match the list request.
        items:
          $ref: '#/definitions/Teacher'
        type: array
    type: object
  Name:
    description: "Details of the user's name."
    properties:
      familyName:
        description: "The user's last name. Read-only."
        type: string
      fullName:
        description: "The user's full name formed by concatenating the first and last name values. Read-only."
        type: string
      givenName:
        description: "The user's first name. Read-only."
        type: string
    type: object
  Student:
    description: Student in a course.
    properties:
      courseId:
        description: Identifier of the course. Read-only.
        type: string
      profile:
        $ref: '#/definitions/UserProfile'
        description: Global user information for the student. Read-only.
      userId:
        description: 'Identifier of the user. When specified as a parameter of a request, this identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `"me"`, indicating the requesting user'
        type: string
    type: object
  Teacher:
    description: Teacher of a course.
    properties:
      courseId:
        description: Identifier of the course. Read-only.
        type: string
      profile:
        $ref: '#/definitions/UserProfile'
        description: Global user information for the teacher. Read-only.
      userId:
        description: 'Identifier of the user. When specified as a parameter of a request, this identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `"me"`, indicating the requesting user'
        type: string
    type: object
  UserProfile:
    description: Global information for a user.
    properties:
      emailAddress:
        description: Email address of the user. Read-only.
        type: string
      id:
        description: Identifier of the user. Read-only.
        type: string
      name:
        $ref: '#/definitions/Name'
        description: Name of the user. Read-only.
      permissions:
        description: Global permissions of the user. Read-only.
        items:
          $ref: '#/definitions/GlobalPermission'
        type: array
      photoUrl:
        description: "URL of user's profile photo. Read-only."
        type: string
    type: object
