swagger: '2.0'
schemes:
  - https
host: classroom.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Manages classes, rosters, and invitations in Google Classroom.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Classroom
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - education
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://classroom.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: classroom
externalDocs:
  url: 'https://developers.google.com/classroom/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/classroom.courses': Manage your Google Classroom classes
      'https://www.googleapis.com/auth/classroom.courses.readonly': View your Google Classroom classes
      'https://www.googleapis.com/auth/classroom.coursework.me': Manage your course work and view your grades in Google Classroom
      'https://www.googleapis.com/auth/classroom.coursework.me.readonly': View your course work and grades in Google Classroom
      'https://www.googleapis.com/auth/classroom.coursework.students': Manage course work and grades for students in the Google Classroom classes you teach and view the course work and grades for classes you administer
      'https://www.googleapis.com/auth/classroom.coursework.students.readonly': View course work and grades for students in the Google Classroom classes you teach or administer
      'https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly': View your Google Classroom guardians
      'https://www.googleapis.com/auth/classroom.guardianlinks.students': View and manage guardians for students in your Google Classroom classes
      'https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly': View guardians for students in your Google Classroom classes
      'https://www.googleapis.com/auth/classroom.profile.emails': View the email addresses of people in your classes
      'https://www.googleapis.com/auth/classroom.profile.photos': View the profile photos of people in your classes
      'https://www.googleapis.com/auth/classroom.rosters': Manage your Google Classroom class rosters
      'https://www.googleapis.com/auth/classroom.rosters.readonly': View your Google Classroom class rosters
      'https://www.googleapis.com/auth/classroom.student-submissions.me.readonly': View your course work and grades in Google Classroom
      'https://www.googleapis.com/auth/classroom.student-submissions.students.readonly': View course work and grades for students in the Google Classroom classes you teach or administer
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/classroom.courses': Manage your Google Classroom classes
      'https://www.googleapis.com/auth/classroom.courses.readonly': View your Google Classroom classes
      'https://www.googleapis.com/auth/classroom.coursework.me': Manage your course work and view your grades in Google Classroom
      'https://www.googleapis.com/auth/classroom.coursework.me.readonly': View your course work and grades in Google Classroom
      'https://www.googleapis.com/auth/classroom.coursework.students': Manage course work and grades for students in the Google Classroom classes you teach and view the course work and grades for classes you administer
      'https://www.googleapis.com/auth/classroom.coursework.students.readonly': View course work and grades for students in the Google Classroom classes you teach or administer
      'https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly': View your Google Classroom guardians
      'https://www.googleapis.com/auth/classroom.guardianlinks.students': View and manage guardians for students in your Google Classroom classes
      'https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly': View guardians for students in your Google Classroom classes
      'https://www.googleapis.com/auth/classroom.profile.emails': View the email addresses of people in your classes
      'https://www.googleapis.com/auth/classroom.profile.photos': View the profile photos of people in your classes
      'https://www.googleapis.com/auth/classroom.rosters': Manage your Google Classroom class rosters
      'https://www.googleapis.com/auth/classroom.rosters.readonly': View your Google Classroom class rosters
      'https://www.googleapis.com/auth/classroom.student-submissions.me.readonly': View your course work and grades in Google Classroom
      'https://www.googleapis.com/auth/classroom.student-submissions.students.readonly': View course work and grades for students in the Google Classroom classes you teach or administer
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: courses
  - name: invitations
  - name: userProfiles
paths:
  /v1/courses:
    get:
      description: |-
        Returns a list of courses that the requesting user is permitted to view,
        restricted to those that match the request. Returned courses are ordered by
        creation time, with the most recently created coming first.

        This method returns the following error codes:

        * `PERMISSION_DENIED` for access errors.
        * `INVALID_ARGUMENT` if the query argument is malformed.
        * `NOT_FOUND` if any users specified in the query arguments do not exist.
      operationId: classroom.courses.list
      parameters:
        - collectionFormat: multi
          description: |-
            Restricts returned courses to those in one of the specified states
            The default value is ACTIVE, ARCHIVED, PROVISIONED, DECLINED.
          in: query
          items:
            enum:
              - COURSE_STATE_UNSPECIFIED
              - ACTIVE
              - ARCHIVED
              - PROVISIONED
              - DECLINED
              - SUSPENDED
            type: string
          name: courseStates
          type: array
        - description: |-
            Maximum number of items to return. Zero or unspecified indicates that the
            server may assign a maximum.

            The server may return fewer than the specified number of results.
          in: query
          name: pageSize
          type: integer
        - description: |-
            Restricts returned courses to those having a teacher with the specified
            identifier. The identifier can be one of the following:

            * the numeric identifier for the user
            * the email address of the user
            * the string literal `"me"`, indicating the requesting user
          in: query
          name: teacherId
          type: string
        - description: |-
            Restricts returned courses to those having a student with the specified
            identifier. The identifier can be one of the following:

            * the numeric identifier for the user
            * the email address of the user
            * the string literal `"me"`, indicating the requesting user
          in: query
          name: studentId
          type: string
        - description: |-
            nextPageToken
            value returned from a previous
            list call,
            indicating that the subsequent page of results should be returned.

            The list request must be
            otherwise identical to the one that resulted in this token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListCoursesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.courses'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.courses.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a course.

        The user specified in `ownerId` is the owner of the created course
        and added as a teacher.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to create
        courses or for access errors.
        * `NOT_FOUND` if the primary teacher is not a valid user.
        * `FAILED_PRECONDITION` if the course owner's account is disabled or for
        the following request errors:
            * UserGroupsMembershipLimitReached
        * `ALREADY_EXISTS` if an alias was specified in the `id` and
        already exists.
      operationId: classroom.courses.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Course'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Course'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.courses'
      tags:
        - courses
  '/v1/courses/{courseId}/aliases':
    get:
      description: |-
        Returns a list of aliases for a course.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to access the
        course or for access errors.
        * `NOT_FOUND` if the course does not exist.
      operationId: classroom.courses.aliases.list
      parameters:
        - description: |-
            The identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: |-
            Maximum number of items to return. Zero or unspecified indicates that the
            server may assign a maximum.

            The server may return fewer than the specified number of results.
          in: query
          name: pageSize
          type: integer
        - description: |-
            nextPageToken
            value returned from a previous
            list call,
            indicating that the subsequent page of results should be returned.

            The list request
            must be otherwise identical to the one that resulted in this token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListCourseAliasesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.courses'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.courses.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates an alias for a course.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to create the
        alias or for access errors.
        * `NOT_FOUND` if the course does not exist.
        * `ALREADY_EXISTS` if the alias already exists.
        * `FAILED_PRECONDITION` if the alias requested does not make sense for the
          requesting user or course (for example, if a user not in a domain
          attempts to access a domain-scoped alias).
      operationId: classroom.courses.aliases.create
      parameters:
        - description: |-
            Identifier of the course to alias.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CourseAlias'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CourseAlias'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.courses'
      tags:
        - courses
  '/v1/courses/{courseId}/aliases/{alias}':
    delete:
      description: |-
        Deletes an alias of a course.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to remove the
        alias or for access errors.
        * `NOT_FOUND` if the alias does not exist.
        * `FAILED_PRECONDITION` if the alias requested does not make sense for the
          requesting user or course (for example, if a user not in a domain
          attempts to delete a domain-scoped alias).
      operationId: classroom.courses.aliases.delete
      parameters:
        - description: |-
            Identifier of the course whose alias should be deleted.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: |-
            Alias to delete.
            This may not be the Classroom-assigned identifier.
          in: path
          name: alias
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.courses'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v1/courses/{courseId}/courseWork':
    get:
      description: |-
        Returns a list of course work that the requester is permitted to view.

        Course students may only view `PUBLISHED` course work. Course teachers
        and domain administrators may view all course work.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to access
        the requested course or for access errors.
        * `INVALID_ARGUMENT` if the request is malformed.
        * `NOT_FOUND` if the requested course does not exist.
      operationId: classroom.courses.courseWork.list
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - collectionFormat: multi
          description: |-
            Restriction on the work status to return. Only courseWork that matches
            is returned. If unspecified, items with a work status of `PUBLISHED`
            is returned.
          in: query
          items:
            enum:
              - COURSE_WORK_STATE_UNSPECIFIED
              - PUBLISHED
              - DRAFT
              - DELETED
            type: string
          name: courseWorkStates
          type: array
        - description: |-
            Maximum number of items to return. Zero or unspecified indicates that the
            server may assign a maximum.

            The server may return fewer than the specified number of results.
          in: query
          name: pageSize
          type: integer
        - description: |-
            Optional sort ordering for results. A comma-separated list of fields with
            an optional sort direction keyword. Supported fields are `updateTime`
            and `dueDate`. Supported direction keywords are `asc` and `desc`.
            If not specified, `updateTime desc` is the default behavior.
            Examples: `dueDate asc,updateTime desc`, `updateTime,dueDate desc`
          in: query
          name: orderBy
          type: string
        - description: |-
            nextPageToken
            value returned from a previous
            list call,
            indicating that the subsequent page of results should be returned.

            The list request
            must be otherwise identical to the one that resulted in this token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListCourseWorkResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.me'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.me'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.me.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.me.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.students.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.students.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates course work.

        The resulting course work (and corresponding student submissions) are
        associated with the Developer Console project of the
        [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to
        make the request. Classroom API requests to modify course work and student
        submissions must be made with an OAuth client ID from the associated
        Developer Console project.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to access the
        requested course, create course work in the requested course, share a
        Drive attachment, or for access errors.
        * `INVALID_ARGUMENT` if the request is malformed.
        * `NOT_FOUND` if the requested course does not exist.
        * `FAILED_PRECONDITION` for the following request error:
            * AttachmentNotVisible
      operationId: classroom.courses.courseWork.create
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CourseWork'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CourseWork'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
      tags:
        - courses
  '/v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions':
    get:
      description: |-
        Returns a list of student submissions that the requester is permitted to
        view, factoring in the OAuth scopes of the request.
        `-` may be specified as the `course_work_id` to include student
        submissions for multiple course work items.

        Course students may only view their own work. Course teachers
        and domain administrators may view all student submissions.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to access the
        requested course or course work, or for access errors.
        * `INVALID_ARGUMENT` if the request is malformed.
        * `NOT_FOUND` if the requested course does not exist.
      operationId: classroom.courses.courseWork.studentSubmissions.list
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: |-
            Identifier of the student work to request.
            This may be set to the string literal `"-"` to request student work for
            all course work in the specified course.
          in: path
          name: courseWorkId
          required: true
          type: string
        - description: |-
            Requested lateness value. If specified, returned student submissions are
            restricted by the requested value.
            If unspecified, submissions are returned regardless of `late` value.
          enum:
            - LATE_VALUES_UNSPECIFIED
            - LATE_ONLY
            - NOT_LATE_ONLY
          in: query
          name: late
          type: string
        - description: |-
            Maximum number of items to return. Zero or unspecified indicates that the
            server may assign a maximum.

            The server may return fewer than the specified number of results.
          in: query
          name: pageSize
          type: integer
        - description: |-
            nextPageToken
            value returned from a previous
            list call,
            indicating that the subsequent page of results should be returned.

            The list request
            must be otherwise identical to the one that resulted in this token.
          in: query
          name: pageToken
          type: string
        - collectionFormat: multi
          description: |-
            Requested submission states. If specified, returned student submissions
            match one of the specified submission states.
          in: query
          items:
            enum:
              - SUBMISSION_STATE_UNSPECIFIED
              - NEW
              - CREATED
              - TURNED_IN
              - RETURNED
              - RECLAIMED_BY_STUDENT
            type: string
          name: states
          type: array
        - description: |-
            Optional argument to restrict returned student work to those owned by the
            student with the specified identifier. The identifier can be one of the
            following:

            * the numeric identifier for the user
            * the email address of the user
            * the string literal `"me"`, indicating the requesting user
          in: query
          name: userId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListStudentSubmissionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.me'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.me'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.me.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.me.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.students.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.students.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.student-submissions.me.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.student-submissions.me.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.student-submissions.students.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.student-submissions.students.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}':
    get:
      description: |-
        Returns a student submission.

        * `PERMISSION_DENIED` if the requesting user is not permitted to access the
        requested course, course work, or student submission or for
        access errors.
        * `INVALID_ARGUMENT` if the request is malformed.
        * `NOT_FOUND` if the requested course, course work, or student submission
        does not exist.
      operationId: classroom.courses.courseWork.studentSubmissions.get
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: Identifier of the course work.
          in: path
          name: courseWorkId
          required: true
          type: string
        - description: Identifier of the student submission.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StudentSubmission'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.me'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.me'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.me.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.me.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.students.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.students.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.student-submissions.me.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.student-submissions.me.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.student-submissions.students.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.student-submissions.students.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: |-
        Updates one or more fields of a student submission.

        See google.classroom.v1.StudentSubmission for details
        of which fields may be updated and who may change them.

        This request must be made by the Developer Console project of the
        [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to
        create the corresponding course work item.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting developer project did not create
        the corresponding course work, if the user is not permitted to make the
        requested modification to the student submission, or for
        access errors.
        * `INVALID_ARGUMENT` if the request is malformed.
        * `NOT_FOUND` if the requested course, course work, or student submission
        does not exist.
      operationId: classroom.courses.courseWork.studentSubmissions.patch
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: Identifier of the course work.
          in: path
          name: courseWorkId
          required: true
          type: string
        - description: Identifier of the student submission.
          in: path
          name: id
          required: true
          type: string
        - description: |-
            Mask that identifies which fields on the student submission to update.
            This field is required to do an update. The update fails if invalid
            fields are specified.

            The following fields may be specified by teachers:
            * `draft_grade`
            * `assigned_grade`
          in: query
          name: updateMask
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/StudentSubmission'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StudentSubmission'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.me'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.me'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
      tags:
        - courses
  '/v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:modifyAttachments':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Modifies attachments of student submission.

        Attachments may only be added to student submissions belonging to course
        work objects with a `workType` of `ASSIGNMENT`.

        This request must be made by the Developer Console project of the
        [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to
        create the corresponding course work item.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to access the
        requested course or course work, if the user is not permitted to modify
        attachments on the requested student submission, or for
        access errors.
        * `INVALID_ARGUMENT` if the request is malformed.
        * `NOT_FOUND` if the requested course, course work, or student submission
        does not exist.
      operationId: classroom.courses.courseWork.studentSubmissions.modifyAttachments
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: Identifier of the course work.
          in: path
          name: courseWorkId
          required: true
          type: string
        - description: Identifier of the student submission.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ModifyAttachmentsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StudentSubmission'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.me'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.me'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
      tags:
        - courses
  '/v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:reclaim':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Reclaims a student submission on behalf of the student that owns it.

        Reclaiming a student submission transfers ownership of attached Drive
        files to the student and update the submission state.

        Only the student that owns the requested student submission may call this
        method, and only for a student submission that has been turned in.

        This request must be made by the Developer Console project of the
        [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to
        create the corresponding course work item.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to access the
        requested course or course work, unsubmit the requested student submission,
        or for access errors.
        * `FAILED_PRECONDITION` if the student submission has not been turned in.
        * `INVALID_ARGUMENT` if the request is malformed.
        * `NOT_FOUND` if the requested course, course work, or student submission
        does not exist.
      operationId: classroom.courses.courseWork.studentSubmissions.reclaim
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: Identifier of the course work.
          in: path
          name: courseWorkId
          required: true
          type: string
        - description: Identifier of the student submission.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ReclaimStudentSubmissionRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.me'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.me'
      tags:
        - courses
  '/v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:return':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Returns a student submission.

        Returning a student submission transfers ownership of attached Drive
        files to the student and may also update the submission state.
        Unlike the Classroom application, returning a student submission does not
        set assignedGrade to the draftGrade value.

        Only a teacher of the course that contains the requested student submission
        may call this method.

        This request must be made by the Developer Console project of the
        [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to
        create the corresponding course work item.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to access the
        requested course or course work, return the requested student submission,
        or for access errors.
        * `INVALID_ARGUMENT` if the request is malformed.
        * `NOT_FOUND` if the requested course, course work, or student submission
        does not exist.
      operationId: classroom.courses.courseWork.studentSubmissions.return
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: Identifier of the course work.
          in: path
          name: courseWorkId
          required: true
          type: string
        - description: Identifier of the student submission.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ReturnStudentSubmissionRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
      tags:
        - courses
  '/v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:turnIn':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Turns in a student submission.

        Turning in a student submission transfers ownership of attached Drive
        files to the teacher and may also update the submission state.

        This may only be called by the student that owns the specified student
        submission.

        This request must be made by the Developer Console project of the
        [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to
        create the corresponding course work item.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to access the
        requested course or course work, turn in the requested student submission,
        or for access errors.
        * `INVALID_ARGUMENT` if the request is malformed.
        * `NOT_FOUND` if the requested course, course work, or student submission
        does not exist.
      operationId: classroom.courses.courseWork.studentSubmissions.turnIn
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: Identifier of the course work.
          in: path
          name: courseWorkId
          required: true
          type: string
        - description: Identifier of the student submission.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TurnInStudentSubmissionRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.me'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.me'
      tags:
        - courses
  '/v1/courses/{courseId}/courseWork/{id}':
    delete:
      description: |-
        Deletes a course work.

        This request must be made by the Developer Console project of the
        [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to
        create the corresponding course work item.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting developer project did not create
        the corresponding course work, if the requesting user is not permitted
        to delete the requested course or for access errors.
        * `FAILED_PRECONDITION` if the requested course work has already been
        deleted.
        * `NOT_FOUND` if no course exists with the requested ID.
      operationId: classroom.courses.courseWork.delete
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: |-
            Identifier of the course work to delete.
            This identifier is a Classroom-assigned identifier.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
      tags:
        - courses
    get:
      description: |-
        Returns course work.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to access the
        requested course or course work, or for access errors.
        * `INVALID_ARGUMENT` if the request is malformed.
        * `NOT_FOUND` if the requested course or course work does not exist.
      operationId: classroom.courses.courseWork.get
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: Identifier of the course work.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CourseWork'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.me'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.me'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.me.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.me.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.students.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.students.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: |-
        Updates one or more fields of a course work.

        See google.classroom.v1.CourseWork for details
        of which fields may be updated and who may change them.

        This request must be made by the Developer Console project of the
        [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to
        create the corresponding course work item.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting developer project did not create
        the corresponding course work, if the user is not permitted to make the
        requested modification to the student submission, or for
        access errors.
        * `INVALID_ARGUMENT` if the request is malformed.
        * `FAILED_PRECONDITION` if the requested course work has already been
        deleted.
        * `NOT_FOUND` if the requested course, course work, or student submission
        does not exist.
      operationId: classroom.courses.courseWork.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CourseWork'
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: Identifier of the course work.
          in: path
          name: id
          required: true
          type: string
        - description: |-
            Mask that identifies which fields on the course work to update.
            This field is required to do an update. The update fails if invalid
            fields are specified. If a field supports empty values, it can be cleared
            by specifying it in the update mask and not in the CourseWork object. If a
            field that does not support empty values is included in the update mask and
            not set in the CourseWork object, an `INVALID_ARGUMENT` error will be
            returned.

            The following fields may be specified by teachers:
            * `title`
            * `description`
            * `state`
            * `due_date`
            * `due_time`
            * `max_points`
            * `scheduled_time`
            * `submission_modification_mode`
          in: query
          name: updateMask
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CourseWork'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.coursework.students'
      tags:
        - courses
  '/v1/courses/{courseId}/students':
    get:
      description: |-
        Returns a list of students of this course that the requester
        is permitted to view.

        This method returns the following error codes:

        * `NOT_FOUND` if the course does not exist.
        * `PERMISSION_DENIED` for access errors.
      operationId: classroom.courses.students.list
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: |-
            Maximum number of items to return. Zero means no maximum.

            The server may return fewer than the specified number of results.
          in: query
          name: pageSize
          type: integer
        - description: |-
            nextPageToken
            value returned from a previous
            list call, indicating that
            the subsequent page of results should be returned.

            The list request must be
            otherwise identical to the one that resulted in this token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListStudentsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Adds a user as a student of a course.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to create
        students in this course or for access errors.
        * `NOT_FOUND` if the requested course ID does not exist.
        * `FAILED_PRECONDITION` if the requested user's account is disabled,
        for the following request errors:
            * CourseMemberLimitReached
            * CourseNotModifiable
            * UserGroupsMembershipLimitReached
        * `ALREADY_EXISTS` if the user is already a student or teacher in the
        course.
      operationId: classroom.courses.students.create
      parameters:
        - description: |-
            Identifier of the course to create the student in.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: |-
            Enrollment code of the course to create the student in.
            This code is required if userId
            corresponds to the requesting user; it may be omitted if the requesting
            user has administrative permissions to create students for any user.
          in: query
          name: enrollmentCode
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Student'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Student'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters'
      tags:
        - courses
  '/v1/courses/{courseId}/students/{userId}':
    delete:
      description: |-
        Deletes a student of a course.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to delete
        students of this course or for access errors.
        * `NOT_FOUND` if no student of this course has the requested ID or if the
        course does not exist.
      operationId: classroom.courses.students.delete
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: |-
            Identifier of the student to delete. The identifier can be one of the
            following:

            * the numeric identifier for the user
            * the email address of the user
            * the string literal `"me"`, indicating the requesting user
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters'
      tags:
        - courses
    get:
      description: |-
        Returns a student of a course.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to view
        students of this course or for access errors.
        * `NOT_FOUND` if no student of this course has the requested ID or if the
        course does not exist.
      operationId: classroom.courses.students.get
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: |-
            Identifier of the student to return. The identifier can be one of the
            following:

            * the numeric identifier for the user
            * the email address of the user
            * the string literal `"me"`, indicating the requesting user
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Student'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v1/courses/{courseId}/teachers':
    get:
      description: |-
        Returns a list of teachers of this course that the requester
        is permitted to view.

        This method returns the following error codes:

        * `NOT_FOUND` if the course does not exist.
        * `PERMISSION_DENIED` for access errors.
      operationId: classroom.courses.teachers.list
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: |-
            Maximum number of items to return. Zero means no maximum.

            The server may return fewer than the specified number of results.
          in: query
          name: pageSize
          type: integer
        - description: |-
            nextPageToken
            value returned from a previous
            list call, indicating that
            the subsequent page of results should be returned.

            The list request must be
            otherwise identical to the one that resulted in this token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListTeachersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a teacher of a course.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not  permitted to create
        teachers in this course or for access errors.
        * `NOT_FOUND` if the requested course ID does not exist.
        * `FAILED_PRECONDITION` if the requested user's account is disabled,
        for the following request errors:
            * CourseMemberLimitReached
            * CourseNotModifiable
            * CourseTeacherLimitReached
            * UserGroupsMembershipLimitReached
        * `ALREADY_EXISTS` if the user is already a teacher or student in the
        course.
      operationId: classroom.courses.teachers.create
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Teacher'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Teacher'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters'
      tags:
        - courses
  '/v1/courses/{courseId}/teachers/{userId}':
    delete:
      description: |-
        Deletes a teacher of a course.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to delete
        teachers of this course or for access errors.
        * `NOT_FOUND` if no teacher of this course has the requested ID or if the
        course does not exist.
        * `FAILED_PRECONDITION` if the requested ID belongs to the primary teacher
        of this course.
      operationId: classroom.courses.teachers.delete
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: |-
            Identifier of the teacher to delete. The identifier can be one of the
            following:

            * the numeric identifier for the user
            * the email address of the user
            * the string literal `"me"`, indicating the requesting user
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters'
      tags:
        - courses
    get:
      description: |-
        Returns a teacher of a course.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to view
        teachers of this course or for access errors.
        * `NOT_FOUND` if no teacher of this course has the requested ID or if the
        course does not exist.
      operationId: classroom.courses.teachers.get
      parameters:
        - description: |-
            Identifier of the course.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: courseId
          required: true
          type: string
        - description: |-
            Identifier of the teacher to return. The identifier can be one of the
            following:

            * the numeric identifier for the user
            * the email address of the user
            * the string literal `"me"`, indicating the requesting user
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Teacher'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.profile.emails'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.profile.photos'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v1/courses/{id}':
    delete:
      description: |-
        Deletes a course.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to delete the
        requested course or for access errors.
        * `NOT_FOUND` if no course exists with the requested ID.
      operationId: classroom.courses.delete
      parameters:
        - description: |-
            Identifier of the course to delete.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.courses'
      tags:
        - courses
    get:
      description: |-
        Returns a course.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to access the
        requested course or for access errors.
        * `NOT_FOUND` if no course exists with the requested ID.
      operationId: classroom.courses.get
      parameters:
        - description: |-
            Identifier of the course to return.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Course'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.courses'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.courses.readonly'
      tags:
        - courses
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: |-
        Updates one or more fields in a course.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to modify the
        requested course or for access errors.
        * `NOT_FOUND` if no course exists with the requested ID.
        * `INVALID_ARGUMENT` if invalid fields are specified in the update mask or
        if no update mask is supplied.
        * `FAILED_PRECONDITION` for the following request errors:
            * CourseNotModifiable
      operationId: classroom.courses.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Course'
        - description: |-
            Identifier of the course to update.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: id
          required: true
          type: string
        - description: |-
            Mask that identifies which fields on the course to update.
            This field is required to do an update. The update will fail if invalid
            fields are specified. The following fields are valid:

            * `name`
            * `section`
            * `descriptionHeading`
            * `description`
            * `room`
            * `courseState`
            * `ownerId`

            Note: patches to ownerId are treated as being effective immediately, but in
            practice it may take some time for the ownership transfer of all affected
            resources to complete.

            When set in a query parameter, this field should be specified as

            `updateMask=<field1>,<field2>,...`
          in: query
          name: updateMask
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Course'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.courses'
      tags:
        - courses
    put:
      description: |-
        Updates a course.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to modify the
        requested course or for access errors.
        * `NOT_FOUND` if no course exists with the requested ID.
        * `FAILED_PRECONDITION` for the following request errors:
            * CourseNotModifiable
      operationId: classroom.courses.update
      parameters:
        - description: |-
            Identifier of the course to update.
            This identifier can be either the Classroom-assigned identifier or an
            alias.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Course'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Course'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.courses'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.courses'
      tags:
        - courses
  /v1/invitations:
    get:
      description: |-
        Returns a list of invitations that the requesting user is permitted to
        view, restricted to those that match the list request.

        *Note:* At least one of `user_id` or `course_id` must be supplied. Both
        fields can be supplied.

        This method returns the following error codes:

        * `PERMISSION_DENIED` for access errors.
      operationId: classroom.invitations.list
      parameters:
        - description: |-
            Restricts returned invitations to those for a course with the specified
            identifier.
          in: query
          name: courseId
          type: string
        - description: |-
            Maximum number of items to return. Zero means no maximum.

            The server may return fewer than the specified number of results.
          in: query
          name: pageSize
          type: integer
        - description: |-
            Restricts returned invitations to those for a specific user. The identifier
            can be one of the following:

            * the numeric identifier for the user
            * the email address of the user
            * the string literal `"me"`, indicating the requesting user
          in: query
          name: userId
          type: string
        - description: |-
            nextPageToken
            value returned from a previous
            list call, indicating
            that the subsequent page of results should be returned.

            The list request must be
            otherwise identical to the one that resulted in this token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListInvitationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
      tags:
        - invitations
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates an invitation. Only one invitation for a user and course may exist
        at a time. Delete and re-create an invitation to make changes.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to create
        invitations for this course or for access errors.
        * `NOT_FOUND` if the course or the user does not exist.
        * `FAILED_PRECONDITION` if the requested user's account is disabled or if
        the user already has this role or a role with greater permissions.
        * `ALREADY_EXISTS` if an invitation for the specified user and course
        already exists.
      operationId: classroom.invitations.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Invitation'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Invitation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters'
      tags:
        - invitations
  '/v1/invitations/{id}':
    delete:
      description: |-
        Deletes an invitation.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to delete the
        requested invitation or for access errors.
        * `NOT_FOUND` if no invitation exists with the requested ID.
      operationId: classroom.invitations.delete
      parameters:
        - description: Identifier of the invitation to delete.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters'
      tags:
        - invitations
    get:
      description: |-
        Returns an invitation.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to view the
        requested invitation or for access errors.
        * `NOT_FOUND` if no invitation exists with the requested ID.
      operationId: classroom.invitations.get
      parameters:
        - description: Identifier of the invitation to return.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Invitation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters.readonly'
      tags:
        - invitations
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v1/invitations/{id}:accept':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Accepts an invitation, removing it and adding the invited user to the
        teachers or students (as appropriate) of the specified course. Only the
        invited user may accept an invitation.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to accept the
        requested invitation or for access errors.
        * `FAILED_PRECONDITION` for the following request errors:
            * CourseMemberLimitReached
            * CourseNotModifiable
            * CourseTeacherLimitReached
            * UserGroupsMembershipLimitReached
        * `NOT_FOUND` if no invitation exists with the requested ID.
      operationId: classroom.invitations.accept
      parameters:
        - description: Identifier of the invitation to accept.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.rosters'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.rosters'
      tags:
        - invitations
  '/v1/userProfiles/{studentId}/guardianInvitations':
    get:
      description: |-
        Returns a list of guardian invitations that the requesting user is
        permitted to view, filtered by the parameters provided.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting
          user is not permitted to view guardian invitations for that student, if
          `"-"` is specified as the `student_id` and the user is not a domain
          administrator, if guardians are not enabled for the domain in question,
          or for other access errors.
        * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot
          be recognized (it is not an email address, nor a `student_id` from the
          API, nor the literal string `me`). May also be returned if an invalid
          `page_token` or `state` is provided.
        * `NOT_FOUND` if a `student_id` is specified, and its format can be
          recognized, but Classroom has no record of that student.
      operationId: classroom.userProfiles.guardianInvitations.list
      parameters:
        - description: |-
            The ID of the student whose guardian invitations are to be returned.
            The identifier can be one of the following:

            * the numeric identifier for the user
            * the email address of the user
            * the string literal `"me"`, indicating the requesting user
            * the string literal `"-"`, indicating that results should be returned for
              all students that the requesting user is permitted to view guardian
              invitations.
          in: path
          name: studentId
          required: true
          type: string
        - description: |-
            Maximum number of items to return. Zero or unspecified indicates that the
            server may assign a maximum.

            The server may return fewer than the specified number of results.
          in: query
          name: pageSize
          type: integer
        - description: |-
            If specified, only results with the specified `invited_email_address`
            will be returned.
          in: query
          name: invitedEmailAddress
          type: string
        - collectionFormat: multi
          description: |-
            If specified, only results with the specified `state` values will be
            returned. Otherwise, results with a `state` of `PENDING` will be returned.
          in: query
          items:
            enum:
              - GUARDIAN_INVITATION_STATE_UNSPECIFIED
              - PENDING
              - COMPLETE
            type: string
          name: states
          type: array
        - description: |-
            nextPageToken
            value returned from a previous
            list call,
            indicating that the subsequent page of results should be returned.

            The list request
            must be otherwise identical to the one that resulted in this token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListGuardianInvitationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.guardianlinks.students'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.guardianlinks.students'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly'
      tags:
        - userProfiles
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a guardian invitation, and sends an email to the guardian asking
        them to confirm that they are the student's guardian.

        Once the guardian accepts the invitation, their `state` will change to
        `COMPLETED` and they will start receiving guardian notifications. A
        `Guardian` resource will also be created to represent the active guardian.

        The request object must have the `student_id` and
        `invited_email_address` fields set. Failing to set these fields, or
        setting any other fields in the request, will result in an error.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the current user does not have permission to
          manage guardians, if the guardian in question has already rejected
          too many requests for that student, if guardians are not enabled for the
          domain in question, or for other access errors.
        * `RESOURCE_EXHAUSTED` if the student or guardian has exceeded the guardian
          link limit.
        * `INVALID_ARGUMENT` if the guardian email address is not valid (for
          example, if it is too long), or if the format of the student ID provided
          cannot be recognized (it is not an email address, nor a `user_id` from
          this API). This error will also be returned if read-only fields are set,
          or if the `state` field is set to to a value other than `PENDING`.
        * `NOT_FOUND` if the student ID provided is a valid student ID, but
          Classroom has no record of that student.
        * `ALREADY_EXISTS` if there is already a pending guardian invitation for
          the student and `invited_email_address` provided, or if the provided
          `invited_email_address` matches the Google account of an existing
          `Guardian` for this user.
      operationId: classroom.userProfiles.guardianInvitations.create
      parameters:
        - description: ID of the student (in standard format)
          in: path
          name: studentId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GuardianInvitation'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GuardianInvitation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.guardianlinks.students'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.guardianlinks.students'
      tags:
        - userProfiles
  '/v1/userProfiles/{studentId}/guardianInvitations/{invitationId}':
    get:
      description: |-
        Returns a specific guardian invitation.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the requesting user is not permitted to view
          guardian invitations for the student identified by the `student_id`, if
          guardians are not enabled for the domain in question, or for other
          access errors.
        * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot
          be recognized (it is not an email address, nor a `student_id` from the
          API, nor the literal string `me`).
        * `NOT_FOUND` if Classroom cannot find any record of the given student or
          `invitation_id`. May also be returned if the student exists, but the
          requesting user does not have access to see that student.
      operationId: classroom.userProfiles.guardianInvitations.get
      parameters:
        - description: The ID of the student whose guardian invitation is being requested.
          in: path
          name: studentId
          required: true
          type: string
        - description: The `id` field of the `GuardianInvitation` being requested.
          in: path
          name: invitationId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GuardianInvitation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.guardianlinks.students'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.guardianlinks.students'
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly'
      tags:
        - userProfiles
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: |-
        Modifies a guardian invitation.

        Currently, the only valid modification is to change the `state` from
        `PENDING` to `COMPLETE`. This has the effect of withdrawing the invitation.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if the current user does not have permission to
          manage guardians, if guardians are not enabled for the domain in question
          or for other access errors.
        * `FAILED_PRECONDITION` if the guardian link is not in the `PENDING` state.
        * `INVALID_ARGUMENT` if the format of the student ID provided
          cannot be recognized (it is not an email address, nor a `user_id` from
          this API), or if the passed `GuardianInvitation` has a `state` other than
          `COMPLETE`, or if it modifies fields other than `state`.
        * `NOT_FOUND` if the student ID provided is a valid student ID, but
          Classroom has no record of that student, or if the `id` field does not
          refer to a guardian invitation known to Classroom.
      operationId: classroom.userProfiles.guardianInvitations.patch
      parameters:
        - description: The ID of the student whose guardian invitation is to be modified.
          in: path
          name: studentId
          required: true
          type: string
        - description: The `id` field of the `GuardianInvitation` to be modified.
          in: path
          name: invitationId
          required: true
          type: string
        - description: |-
            Mask that identifies which fields on the course to update.
            This field is required to do an update. The update will fail if invalid
            fields are specified. The following fields are valid:

            * `state`

            When set in a query parameter, this field should be specified as

            `updateMask=<field1>,<field2>,...`
          in: query
          name: updateMask
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GuardianInvitation'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GuardianInvitation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/classroom.guardianlinks.students'
          Oauth2c:
            - 'https://www.googleapis.com/auth/classroom.guardianlinks.students'
      tags:
        - userProfiles
  '/v1/userProfiles/{studentId}/guardians':
    get:
      description: |-
        Returns a list of guardians that the requesting user is permitted to
        view, restricted to those that match the request.

        To list guardians for any student that the requesting user may view
        guardians for, use the literal character `-` for the student ID.

        This method returns the following error codes:

        * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting
          user is not permitted to view guardian information for that student, if
          `"-"` is specified as the `student_id` and the user is not a domain
          administrator, if guardians are not enabled for the domain in question,
          if the `invited_email_address` filter is set by a user who is not a
          domain administrator, or for other access errors.
        * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot
          be recognized (it is not an email address, nor a `student_id` from the
          API, nor the literal string `me`). May also be returned if an invalid
          `page_token` is provided.
        * `NOT_FOUND` if a `student_id` is specified, and its format can be
          recognized, but Classroom has no record of that student.
      operationId: classroom.userProfiles.guardians.list
      parameters:
        - description: |-
            Filter results by the student who the guardian is linked to.
            The identifier can be one of the following:

            * the numeric identifier for the user
            * the email address of the user
            * the string literal `"me"`, indicating the requesting user
            * the string literal `"-"`, indicating that results should be returned for
              all students that the requesting user has access to view.
          in: path
          name: studentId
          required: true
          type: string
        - description: |-
            Maximum number of items to return. Zero or unspecified indicates that the
            server may assign a maximum.

            The server may return fewer than the specified number of results.
          in: query
          name: pageSize
          type: integer
        - description: |-
            Filter results by the email address that the original invitation was sent
            to, resulting in this guardian link.
            This filter can only be used by domain administrators.
          in: query
          name: invitedEmailAddress
          type: string
        - description: |-
            nextPageToken
            value returned from a previous
            list call,
            indicating that the subsequent page of results should be returned.

            The list request
            must be otherwise identical to the one that resulted in this token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
[...]
