swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /androidenterprise/v1
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Manages the deployment of apps to Android for Work users.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Play EMM
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.gstatic.com/android/market_images/web/play_logo_x2.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/androidenterprise/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: androidenterprise
externalDocs:
  url: 'https://developers.google.com/android/work/play/emm-api'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/androidenterprise': Manage corporate Android devices
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/androidenterprise': Manage corporate Android devices
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: devices
  - name: enterprises
  - name: entitlements
  - name: grouplicenses
  - name: grouplicenseusers
  - name: installs
  - name: managedconfigurationsfordevice
  - name: managedconfigurationsforuser
  - name: permissions
  - name: products
  - name: serviceaccountkeys
  - name: storelayoutclusters
  - name: storelayoutpages
  - name: users
paths:
  /enterprises:
    get:
      description: Looks up an enterprise by domain name. This is only supported for enterprises created via the Google-initiated creation flow. Lookup of the id is not needed for enterprises created via the EMM-initiated flow since the EMM learns the enterprise ID in the callback specified in the Enterprises.generateSignupUrl call.
      operationId: androidenterprise.enterprises.list
      parameters:
        - description: The exact primary domain name of the enterprise to look up.
          in: query
          name: domain
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/EnterprisesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Establishes the binding between the EMM and an enterprise. This is now deprecated; use enroll instead.
      operationId: androidenterprise.enterprises.insert
      parameters:
        - description: The token provided by the enterprise to register the EMM.
          in: query
          name: token
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Enterprise'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Enterprise'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
  /enterprises/acknowledgeNotificationSet:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Acknowledges notifications that were received from Enterprises.PullNotificationSet to prevent subsequent calls from returning the same notifications.
      operationId: androidenterprise.enterprises.acknowledgeNotificationSet
      parameters:
        - description: The notification set ID as returned by Enterprises.PullNotificationSet. This must be provided.
          in: query
          name: notificationSetId
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
  /enterprises/completeSignup:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Completes the signup flow, by specifying the Completion token and Enterprise token. This request must not be called multiple times for a given Enterprise Token.'
      operationId: androidenterprise.enterprises.completeSignup
      parameters:
        - description: The Completion token initially returned by GenerateSignupUrl.
          in: query
          name: completionToken
          type: string
        - description: The Enterprise token appended to the Callback URL.
          in: query
          name: enterpriseToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Enterprise'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
  /enterprises/enroll:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Enrolls an enterprise with the calling EMM.
      operationId: androidenterprise.enterprises.enroll
      parameters:
        - description: The token provided by the enterprise to register the EMM.
          in: query
          name: token
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Enterprise'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Enterprise'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
  /enterprises/pullNotificationSet:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Pulls and returns a notification set for the enterprises associated with the service account authenticated for the request. The notification set may be empty if no notification are pending.
        A notification set returned needs to be acknowledged within 20 seconds by calling Enterprises.AcknowledgeNotificationSet, unless the notification set is empty.
        Notifications that are not acknowledged within the 20 seconds will eventually be included again in the response to another PullNotificationSet request, and those that are never acknowledged will ultimately be deleted according to the Google Cloud Platform Pub/Sub system policy.
        Multiple requests might be performed concurrently to retrieve notifications, in which case the pending notifications (if any) will be split among each caller, if any are pending.
        If no notifications are present, an empty notification list is returned. Subsequent requests may return more notifications once they become available.
      operationId: androidenterprise.enterprises.pullNotificationSet
      parameters:
        - description: |-
            The request mode for pulling notifications.
            Specifying waitForNotifications will cause the request to block and wait until one or more notifications are present, or return an empty notification list if no notifications are present after some time.
            Speciying returnImmediately will cause the request to immediately return the pending notifications, or an empty list if no notifications are present.
            If omitted, defaults to waitForNotifications.
          enum:
            - returnImmediately
            - waitForNotifications
          in: query
          name: requestMode
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/NotificationSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
  /enterprises/signupUrl:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Generates a sign-up URL.
      operationId: androidenterprise.enterprises.generateSignupUrl
      parameters:
        - description: |-
            The callback URL to which the Admin will be redirected after successfully creating an enterprise. Before redirecting there the system will add a single query parameter to this URL named "enterpriseToken" which will contain an opaque token to be used for the CompleteSignup request.
            Beware that this means that the URL will be parsed, the parameter added and then a new URL formatted, i.e. there may be some minor formatting changes and, more importantly, the URL must be well-formed so that it can be parsed.
          in: query
          name: callbackUrl
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SignupInfo'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
  '/enterprises/{enterpriseId}':
    delete:
      description: 'Deletes the binding between the EMM and enterprise. This is now deprecated. Use this method only to unenroll customers that were previously enrolled with the insert call, then enroll them again with the enroll call.'
      operationId: androidenterprise.enterprises.delete
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
    get:
      description: Retrieves the name and domain of an enterprise.
      operationId: androidenterprise.enterprises.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Enterprise'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/enterprises/{enterpriseId}/account':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: Sets the account that will be used to authenticate to the API as the enterprise.
      operationId: androidenterprise.enterprises.setAccount
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/EnterpriseAccount'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/EnterpriseAccount'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
  '/enterprises/{enterpriseId}/androidDevicePolicyConfig':
    get:
      description: Returns the Android Device Policy config resource.
      operationId: androidenterprise.enterprises.getAndroidDevicePolicyConfig
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AndroidDevicePolicyConfig'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: 'Sets the Android Device Policy config resource. EMM may use this method to enable or disable Android Device Policy support for the specified enterprise. To learn more about managing devices and apps with Android Device Policy, see the Android Management API.'
      operationId: androidenterprise.enterprises.setAndroidDevicePolicyConfig
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AndroidDevicePolicyConfig'
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AndroidDevicePolicyConfig'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
  '/enterprises/{enterpriseId}/createWebToken':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Returns a unique token to access an embeddable UI. To generate a web UI, pass the generated token into the managed Google Play javascript API. Each token may only be used to start one UI session. See the javascript API documentation for further information.'
      operationId: androidenterprise.enterprises.createWebToken
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AdministratorWebTokenSpec'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AdministratorWebToken'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
  '/enterprises/{enterpriseId}/groupLicenses':
    get:
      description: Retrieves IDs of all products for which the enterprise has a group license.
      operationId: androidenterprise.grouplicenses.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GroupLicensesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - grouplicenses
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}':
    get:
      description: Retrieves details of an enterprise's group license for a product.
      operationId: androidenterprise.grouplicenses.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: 'The ID of the product the group license is for, e.g. "app:com.google.android.gm".'
          in: path
          name: groupLicenseId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GroupLicense'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - grouplicenses
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}/users':
    get:
      description: Retrieves the IDs of the users who have been granted entitlements under the license.
      operationId: androidenterprise.grouplicenseusers.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: 'The ID of the product the group license is for, e.g. "app:com.google.android.gm".'
          in: path
          name: groupLicenseId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GroupLicenseUsersListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - grouplicenseusers
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/enterprises/{enterpriseId}/products':
    get:
      description: 'Finds approved products that match a query, or all approved products if there is no query.'
      operationId: androidenterprise.products.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: 'Specifies whether to search among all products (false) or among only products that have been approved (true). Only "true" is supported, and should be specified.'
          in: query
          name: approved
          type: boolean
        - description: 'The BCP47 tag for the user''s preferred language (e.g. "en-US", "de"). Results are returned in the language best matching the preferred language.'
          in: query
          name: language
          type: string
        - description: 'Specifies the maximum number of products that can be returned per request. If not specified, uses a default value of 100, which is also the maximum retrievable within a single response.'
          in: query
          name: maxResults
          type: integer
        - description: 'The search query as typed in the Google Play store search box. If omitted, all approved apps will be returned (using the pagination parameters), including apps that are not available in the store (e.g. unpublished apps).'
          in: query
          name: query
          type: string
        - description: 'A pagination token is contained in a request''''s response when there are more products. The token can be used in a subsequent request to obtain more products, and so forth. This parameter cannot be used in the initial request.'
          in: query
          name: token
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProductsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - products
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/enterprises/{enterpriseId}/products/{productId}':
    get:
      description: Retrieves details of a product for display to an enterprise admin.
      operationId: androidenterprise.products.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: 'The ID of the product, e.g. "app:com.google.android.gm".'
          in: path
          name: productId
          required: true
          type: string
        - description: 'The BCP47 tag for the user''s preferred language (e.g. "en-US", "de").'
          in: query
          name: language
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Product'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - products
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/enterprises/{enterpriseId}/products/{productId}/appRestrictionsSchema':
    get:
      description: 'Retrieves the schema that defines the configurable properties for this product. All products have a schema, but this schema may be empty if no managed configurations have been defined. This schema can be used to populate a UI that allows an admin to configure the product. To apply a managed configuration based on the schema obtained using this API, see Managed Configurations through Play.'
      operationId: androidenterprise.products.getAppRestrictionsSchema
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          type: string
        - description: 'The BCP47 tag for the user''s preferred language (e.g. "en-US", "de").'
          in: query
          name: language
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AppRestrictionsSchema'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - products
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/enterprises/{enterpriseId}/products/{productId}/approve':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Approves the specified product and the relevant app permissions, if any. The maximum number of products that you can approve per enterprise customer is 1,000.

        To learn how to use managed Google Play to design and create a store layout to display approved products to your users, see Store Layout Design.
      operationId: androidenterprise.products.approve
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ProductsApproveRequest'
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - products
  '/enterprises/{enterpriseId}/products/{productId}/generateApprovalUrl':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Generates a URL that can be rendered in an iframe to display the permissions (if any) of a product. An enterprise admin must view these permissions and accept them on behalf of their organization in order to approve that product.

        Admins should accept the displayed permissions by interacting with a separate UI element in the EMM console, which in turn should trigger the use of this URL as the approvalUrlInfo.approvalUrl property in a Products.approve call to approve the product. This URL can only be used to display permissions for up to 1 day.
      operationId: androidenterprise.products.generateApprovalUrl
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          type: string
        - description: 'The BCP 47 language code used for permission names and descriptions in the returned iframe, for instance "en-US".'
          in: query
          name: languageCode
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProductsGenerateApprovalUrlResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - products
  '/enterprises/{enterpriseId}/products/{productId}/permissions':
    get:
      description: Retrieves the Android app permissions required by this app.
      operationId: androidenterprise.products.getPermissions
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProductPermissions'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - products
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/enterprises/{enterpriseId}/products/{productId}/unapprove':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Unapproves the specified product (and the relevant app permissions, if any)'
      operationId: androidenterprise.products.unapprove
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - products
  '/enterprises/{enterpriseId}/sendTestPushNotification':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Sends a test notification to validate the EMM integration with the Google Cloud Pub/Sub service for this enterprise.
      operationId: androidenterprise.enterprises.sendTestPushNotification
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/EnterprisesSendTestPushNotificationResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
  '/enterprises/{enterpriseId}/serviceAccount':
    get:
      description: |-
        Returns a service account and credentials. The service account can be bound to the enterprise by calling setAccount. The service account is unique to this enterprise and EMM, and will be deleted if the enterprise is unbound. The credentials contain private key data and are not stored server-side.

        This method can only be called after calling Enterprises.Enroll or Enterprises.CompleteSignup, and before Enterprises.SetAccount; at other times it will return an error.

        Subsequent calls after the first will generate a new, unique set of credentials, and invalidate the previously generated credentials.

        Once the service account is bound to the enterprise, it can be managed using the serviceAccountKeys resource.
      operationId: androidenterprise.enterprises.getServiceAccount
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The type of credential to return with the service account. Required.
          enum:
            - googleCredentials
            - pkcs12
          in: query
          name: keyType
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ServiceAccount'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/enterprises/{enterpriseId}/serviceAccountKeys':
    get:
      description: Lists all active credentials for the service account associated with this enterprise. Only the ID and key type are returned. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount.
      operationId: androidenterprise.serviceaccountkeys.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ServiceAccountKeysListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - serviceaccountkeys
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Generates new credentials for the service account associated with this enterprise. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount.

        Only the type of the key should be populated in the resource to be inserted.
      operationId: androidenterprise.serviceaccountkeys.insert
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ServiceAccountKey'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ServiceAccountKey'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - serviceaccountkeys
  '/enterprises/{enterpriseId}/serviceAccountKeys/{keyId}':
    delete:
      description: Removes and invalidates the specified credentials for the service account associated with this enterprise. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount.
      operationId: androidenterprise.serviceaccountkeys.delete
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the key.
          in: path
          name: keyId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - serviceaccountkeys
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/enterprises/{enterpriseId}/storeLayout':
    get:
      description: 'Returns the store layout for the enterprise. If the store layout has not been set, returns "basic" as the store layout type and no homepage.'
      operationId: androidenterprise.enterprises.getStoreLayout
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StoreLayout'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: 'Sets the store layout for the enterprise. By default, storeLayoutType is set to "basic" and the basic store layout is enabled. The basic layout only contains apps approved by the admin, and that have been added to the available product set for a user (using the  setAvailableProductSet call). Apps on the page are sorted in order of their product ID value. If you create a custom store layout (by setting storeLayoutType = "custom" and setting a homepage), the basic store layout is disabled.'
      operationId: androidenterprise.enterprises.setStoreLayout
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/StoreLayout'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StoreLayout'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
  '/enterprises/{enterpriseId}/storeLayout/pages':
    get:
      description: Retrieves the details of all pages in the store.
      operationId: androidenterprise.storelayoutpages.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StoreLayoutPagesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - storelayoutpages
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Inserts a new store page.
      operationId: androidenterprise.storelayoutpages.insert
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/StorePage'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StorePage'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - storelayoutpages
  '/enterprises/{enterpriseId}/storeLayout/pages/{pageId}':
    delete:
      description: Deletes a store page.
      operationId: androidenterprise.storelayoutpages.delete
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - storelayoutpages
    get:
      description: Retrieves details of a store page.
      operationId: androidenterprise.storelayoutpages.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StorePage'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - storelayoutpages
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates the content of a store page. This method supports patch semantics.
      operationId: androidenterprise.storelayoutpages.patch
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/StorePage'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StorePage'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - storelayoutpages
    put:
      description: Updates the content of a store page.
      operationId: androidenterprise.storelayoutpages.update
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/StorePage'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StorePage'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - storelayoutpages
  '/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters':
    get:
      description: Retrieves the details of all clusters on the specified page.
      operationId: androidenterprise.storelayoutclusters.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StoreLayoutClustersListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - storelayoutclusters
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Inserts a new cluster in a page.
      operationId: androidenterprise.storelayoutclusters.insert
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/StoreCluster'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StoreCluster'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - storelayoutclusters
  '/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}':
    delete:
      description: Deletes a cluster.
      operationId: androidenterprise.storelayoutclusters.delete
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          type: string
        - description: The ID of the cluster.
          in: path
          name: clusterId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - storelayoutclusters
    get:
      description: Retrieves details of a cluster.
      operationId: androidenterprise.storelayoutclusters.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          type: string
        - description: The ID of the cluster.
          in: path
          name: clusterId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StoreCluster'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - storelayoutclusters
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a cluster. This method supports patch semantics.
      operationId: androidenterprise.storelayoutclusters.patch
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          type: string
        - description: The ID of the cluster.
          in: path
          name: clusterId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/StoreCluster'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StoreCluster'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - storelayoutclusters
    put:
      description: Updates a cluster.
      operationId: androidenterprise.storelayoutclusters.update
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the page.
          in: path
          name: pageId
          required: true
          type: string
        - description: The ID of the cluster.
          in: path
          name: clusterId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/StoreCluster'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StoreCluster'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - storelayoutclusters
  '/enterprises/{enterpriseId}/unenroll':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Unenrolls an enterprise from the calling EMM.
      operationId: androidenterprise.enterprises.unenroll
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - enterprises
  '/enterprises/{enterpriseId}/users':
    get:
      description: Looks up a user by primary email address. This is only supported for Google-managed users. Lookup of the id is not needed for EMM-managed users because the id is already returned in the result of the Users.insert call.
      operationId: androidenterprise.users.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The exact primary email address of the user to look up.
          in: query
          name: email
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UsersListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Creates a new EMM-managed user.

        The Users resource passed in the body of the request should include an accountIdentifier and an accountType.
        If a corresponding user already exists with the same account identifier, the user will be updated with the resource. In this case only the displayName field can be changed.
      operationId: androidenterprise.users.insert
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/User'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/User'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - users
  '/enterprises/{enterpriseId}/users/{userId}':
    delete:
      description: Deleted an EMM-managed user.
      operationId: androidenterprise.users.delete
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - users
    get:
      description: Retrieves a user's details.
      operationId: androidenterprise.users.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/User'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: |-
        Updates the details of an EMM-managed user.

        Can be used with EMM-managed users only (not Google managed users). Pass the new details in the Users resource in the request body. Only the displayName field can be changed. Other fields must either be unset or have the currently active value. This method supports patch semantics.
      operationId: androidenterprise.users.patch
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/User'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/User'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - users
    put:
      description: |-
        Updates the details of an EMM-managed user.

        Can be used with EMM-managed users only (not Google managed users). Pass the new details in the Users resource in the request body. Only the displayName field can be changed. Other fields must either be unset or have the currently active value.
      operationId: androidenterprise.users.update
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/User'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/User'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - users
  '/enterprises/{enterpriseId}/users/{userId}/authenticationToken':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Generates an authentication token which the device policy client can use to provision the given EMM-managed user account on a device. The generated token is single-use and expires after a few minutes.

        This call only works with EMM-managed accounts.
      operationId: androidenterprise.users.generateAuthenticationToken
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AuthenticationToken'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - users
  '/enterprises/{enterpriseId}/users/{userId}/availableProductSet':
    get:
      description: Retrieves the set of products a user is entitled to access.
      operationId: androidenterprise.users.getAvailableProductSet
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProductSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: Modifies the set of products that a user is entitled to access (referred to as whitelisted products). Only products that are approved or products that were previously approved (products with revoked approval) can be whitelisted.
      operationId: androidenterprise.users.setAvailableProductSet
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ProductSet'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProductSet'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - users
  '/enterprises/{enterpriseId}/users/{userId}/devices':
    get:
      description: Retrieves the IDs of all of a user's devices.
      operationId: androidenterprise.devices.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DevicesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - devices
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}':
    get:
      description: Retrieves the details of a device.
      operationId: androidenterprise.devices.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the device.
          in: path
          name: deviceId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Device'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - devices
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs':
    get:
      description: Retrieves the details of all apps installed on the specified device.
      operationId: androidenterprise.installs.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InstallsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - installs
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}':
    delete:
      description: Requests to remove an app from a device. A call to get or list will still show the app as installed on the device until it is actually removed.
      operationId: androidenterprise.installs.delete
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          type: string
        - description: 'The ID of the product represented by the install, e.g. "app:com.google.android.gm".'
          in: path
          name: installId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - installs
    get:
      description: Retrieves details of an installation of an app on a device.
      operationId: androidenterprise.installs.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          type: string
        - description: 'The ID of the product represented by the install, e.g. "app:com.google.android.gm".'
          in: path
          name: installId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Install'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - installs
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: 'Requests to install the latest version of an app to a device. If the app is already installed, then it is updated to the latest version if necessary. This method supports patch semantics.'
      operationId: androidenterprise.installs.patch
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          type: string
        - description: 'The ID of the product represented by the install, e.g. "app:com.google.android.gm".'
          in: path
          name: installId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Install'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Install'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - installs
    put:
      description: 'Requests to install the latest version of an app to a device. If the app is already installed, then it is updated to the latest version if necessary.'
      operationId: androidenterprise.installs.update
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          type: string
        - description: 'The ID of the product represented by the install, e.g. "app:com.google.android.gm".'
          in: path
          name: installId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Install'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Install'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - installs
  '/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice':
    get:
      description: Lists all the per-device managed configurations for the specified device. Only the ID is set.
      operationId: androidenterprise.managedconfigurationsfordevice.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedConfigurationsForDeviceListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - managedconfigurationsfordevice
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}':
    delete:
      description: Removes a per-device managed configuration for an app for the specified device.
      operationId: androidenterprise.managedconfigurationsfordevice.delete
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          type: string
        - description: 'The ID of the managed configuration (a product ID), e.g. "app:com.google.android.gm".'
          in: path
          name: managedConfigurationForDeviceId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - managedconfigurationsfordevice
    get:
      description: Retrieves details of a per-device managed configuration.
      operationId: androidenterprise.managedconfigurationsfordevice.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          type: string
        - description: 'The ID of the managed configuration (a product ID), e.g. "app:com.google.android.gm".'
          in: path
          name: managedConfigurationForDeviceId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedConfiguration'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - managedconfigurationsfordevice
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Adds or updates a per-device managed configuration for an app for the specified device. This method supports patch semantics.
      operationId: androidenterprise.managedconfigurationsfordevice.patch
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          type: string
        - description: 'The ID of the managed configuration (a product ID), e.g. "app:com.google.android.gm".'
          in: path
          name: managedConfigurationForDeviceId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ManagedConfiguration'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedConfiguration'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - managedconfigurationsfordevice
    put:
      description: Adds or updates a per-device managed configuration for an app for the specified device.
      operationId: androidenterprise.managedconfigurationsfordevice.update
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: The Android ID of the device.
          in: path
          name: deviceId
          required: true
          type: string
        - description: 'The ID of the managed configuration (a product ID), e.g. "app:com.google.android.gm".'
          in: path
          name: managedConfigurationForDeviceId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ManagedConfiguration'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedConfiguration'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - managedconfigurationsfordevice
  '/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state':
    get:
      description: 'Retrieves whether a device''s access to Google services is enabled or disabled. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services. This is only supported for Google-managed users.'
      operationId: androidenterprise.devices.getState
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the device.
          in: path
          name: deviceId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DeviceState'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - devices
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: 'Sets whether a device''s access to Google services is enabled or disabled. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services. This is only supported for Google-managed users.'
      operationId: androidenterprise.devices.setState
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the device.
          in: path
          name: deviceId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DeviceState'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DeviceState'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - devices
  '/enterprises/{enterpriseId}/users/{userId}/entitlements':
    get:
      description: Lists all entitlements for the specified user. Only the ID is set.
      operationId: androidenterprise.entitlements.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/EntitlementsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - entitlements
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}':
    delete:
      description: Removes an entitlement to an app for a user.
      operationId: androidenterprise.entitlements.delete
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: 'The ID of the entitlement (a product ID), e.g. "app:com.google.android.gm".'
          in: path
          name: entitlementId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - entitlements
    get:
      description: Retrieves details of an entitlement.
      operationId: androidenterprise.entitlements.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: 'The ID of the entitlement (a product ID), e.g. "app:com.google.android.gm".'
          in: path
          name: entitlementId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Entitlement'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - entitlements
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Adds or updates an entitlement to an app for a user. This method supports patch semantics.
      operationId: androidenterprise.entitlements.patch
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: 'The ID of the entitlement (a product ID), e.g. "app:com.google.android.gm".'
          in: path
          name: entitlementId
          required: true
          type: string
        - description: 'Set to true to also install the product on all the user''s devices where possible. Failure to install on one or more devices will not prevent this operation from returning successfully, as long as the entitlement was successfully assigned to the user.'
          in: query
          name: install
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Entitlement'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Entitlement'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - entitlements
    put:
      description: Adds or updates an entitlement to an app for a user.
      operationId: androidenterprise.entitlements.update
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: 'The ID of the entitlement (a product ID), e.g. "app:com.google.android.gm".'
          in: path
          name: entitlementId
          required: true
          type: string
        - description: 'Set to true to also install the product on all the user''s devices where possible. Failure to install on one or more devices will not prevent this operation from returning successfully, as long as the entitlement was successfully assigned to the user.'
          in: query
          name: install
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Entitlement'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Entitlement'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - entitlements
  '/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser':
    get:
      description: Lists all the per-user managed configurations for the specified user. Only the ID is set.
      operationId: androidenterprise.managedconfigurationsforuser.list
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedConfigurationsForUserListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - managedconfigurationsforuser
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}':
    delete:
      description: Removes a per-user managed configuration for an app for the specified user.
      operationId: androidenterprise.managedconfigurationsforuser.delete
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: 'The ID of the managed configuration (a product ID), e.g. "app:com.google.android.gm".'
          in: path
          name: managedConfigurationForUserId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - managedconfigurationsforuser
    get:
      description: Retrieves details of a per-user managed configuration for an app for the specified user.
      operationId: androidenterprise.managedconfigurationsforuser.get
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: 'The ID of the managed configuration (a product ID), e.g. "app:com.google.android.gm".'
          in: path
          name: managedConfigurationForUserId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedConfiguration'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - managedconfigurationsforuser
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Adds or updates a per-user managed configuration for an app for the specified user. This method supports patch semantics.
      operationId: androidenterprise.managedconfigurationsforuser.patch
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: 'The ID of the managed configuration (a product ID), e.g. "app:com.google.android.gm".'
          in: path
          name: managedConfigurationForUserId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ManagedConfiguration'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedConfiguration'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - managedconfigurationsforuser
    put:
      description: Adds or updates a per-user managed configuration for an app for the specified user.
      operationId: androidenterprise.managedconfigurationsforuser.update
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
        - description: 'The ID of the managed configuration (a product ID), e.g. "app:com.google.android.gm".'
          in: path
          name: managedConfigurationForUserId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ManagedConfiguration'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedConfiguration'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - managedconfigurationsforuser
  '/enterprises/{enterpriseId}/users/{userId}/token':
    delete:
      description: Revokes a previously generated token (activation code) for the user.
      operationId: androidenterprise.users.revokeToken
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Generates a token (activation code) to allow this user to configure their managed account in the Android Setup Wizard. Revokes any previously generated token.

        This call only works with Google managed accounts.
      operationId: androidenterprise.users.generateToken
      parameters:
        - description: The ID of the enterprise.
          in: path
          name: enterpriseId
          required: true
          type: string
        - description: The ID of the user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UserToken'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - users
  '/permissions/{permissionId}':
    get:
      description: Retrieves details of an Android app permission for display to an enterprise admin.
      operationId: androidenterprise.permissions.get
      parameters:
        - description: The ID of the permission.
          in: path
          name: permissionId
          required: true
          type: string
        - description: 'The BCP47 tag for the user''s preferred language (e.g. "en-US", "de")'
          in: query
          name: language
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Permission'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidenterprise'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidenterprise'
      tags:
        - permissions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  Administrator:
    description: This represents an enterprise admin who can manage the enterprise in the managed Google Play store.
    properties:
      email:
        description: The admin's email address.
        type: string
    type: object
  AdministratorWebToken:
    description: A token authorizing an admin to access an iframe.
    properties:
      kind:
        default: 'androidenterprise#administratorWebToken'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidenterprise#administratorWebToken".'
        type: string
      token:
[...]
