openapi: 3.0.0
servers:
  - url: 'https://management.azure.com/'
info:
  description: Use this API to manage the IoT hubs in your Azure subscription.
  title: iotHubClient
  version: '2016-02-03'
  x-apisguru-categories:
    - iot
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-iothub/2016-02-03/swagger/iothub.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: arm-iothub
  x-tags:
    - Azure
    - Microsoft
    - IoT
    - real-time
    - bi-directional
    - monitoring
security: []
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Devices/IotHubs':
    get:
      deprecated: false
      description: Get all the IoT hubs in a subscription.
      operationId: IotHubResource_ListBySubscription
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the IoT hubs in the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescriptionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/IotHubDescriptionListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Get all the IoT hubs in a subscription.
      tags:
        - GET
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Devices/checkNameAvailability':
    post:
      deprecated: false
      description: Check if an IoT hub name is available.
      operationId: IotHubResource_CheckNameAvailability
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          description: 'This is a synchronous operation. The body contains a JSON-serialized response that specifies whether the IoT hub name is available. If the name is not available, the body contains the reason.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubNameAvailabilityInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/IotHubNameAvailabilityInfo'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Check if an IoT hub name is available.
      tags:
        - POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationInputs'
          text/json:
            schema:
              $ref: '#/components/schemas/OperationInputs'
        description: Set the name parameter in the OperationInputs structure to the name of the IoT hub to check.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs':
    get:
      deprecated: false
      description: Get all the IoT hubs in a resource group.
      operationId: IotHubResource_ListByResourceGroup
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hubs.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the IoT hubs in the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescriptionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/IotHubDescriptionListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Get all the IoT hubs in a resource group.
      tags:
        - GET
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}':
    delete:
      deprecated: false
      description: Delete an IoT hub.
      operationId: IotHubResource_Delete
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the IoT hub to delete.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: This is returned as a response to the status polling request for the delete operation. The body contains the resource representation that indicates a transitional provisioning state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
            text/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
        '202':
          description: 'The Iot Hub resource provider always returns a 202 Accepted status code with valid Location and Retry-After headers. The resource provider also sets the Azure-AsyncOperation header with a URL that points to the operation resource for this operation. Subsequent GET attempts on the resource after a DELETE operation return a resource representation that indicates a transitional provisioning state (such as Terminating). To retrieve the status of the operation, a client can either poll the URL returned in the Location header after the Retry-After interval, get the IoT Hub service status directly, or query the operation resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
            text/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
        '204':
          description: 'Once the long running delete operation completes successfully, a 204 No Content status code is returned when the status polling request finds the Iot hub metadata in the service and the status of the delete operation is set to a completed state.'
        '404':
          description: 'After the long running delete operation completes successfully, a 404 Not Found is returned when the status polling request no longer finds the Iot hub metadata in the service.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Delete an IoT hub.
      tags:
        - DELETE
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Get the non-security related metadata of an IoT hub.
      operationId: IotHubResource_Get
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the IoT hub.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The body contains all the non-security properties of the IoT hub. Security-related properties are set to null.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
            text/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Get the non-security related metadata of an IoT hub.
      tags:
        - GET
    put:
      deprecated: false
      description: 'Create or update the metadata of an Iot hub. The usual pattern to modify a property is to retrieve the IoT hub metadata and security metadata, and then combine them with the modified values in a new body to update the IoT hub.'
      operationId: IotHubResource_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the IoT hub to create or update.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
            text/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
        '201':
          description: 'This is a long running operation. The operation returns a 201 if the validation is complete. The response includes an Azure-AsyncOperation header that contains a status URL. Clients are expected to poll the status URL for the status of the operation. If successful, the operation returns HTTP status code of 201 (OK).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
            text/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Create or update the metadata of an IoT hub.
      tags:
        - PUT
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IotHubDescription'
          text/json:
            schema:
              $ref: '#/components/schemas/IotHubDescription'
        description: The IoT hub metadata and security metadata.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubKeys/{keyName}/listkeys':
    post:
      deprecated: false
      description: 'Get a shared access policy by name from an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security.'
      operationId: IotHubResource_GetKeysForKeyName
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the IoT hub.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - description: The name of the shared access policy.
          in: path
          name: keyName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'This is a synchronous operation. The body contains a JSON-serialized shared access policy, including keys, that you can use to access one or more IoT hub endpoints.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRule'
            text/json:
              schema:
                $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRule'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: 'Get a shared access policy by name from an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security.'
      tags:
        - POST
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubStats':
    get:
      deprecated: false
      description: Get the statistics from an IoT hub.
      operationId: IotHubResource_GetStats
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the IoT hub.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: This is a synchronous operation. The body contains JSON-serialized statistics from the identity registry in the IoT hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryStatistics'
            text/json:
              schema:
                $ref: '#/components/schemas/RegistryStatistics'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Get the statistics from an IoT hub.
      tags:
        - GET
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups':
    get:
      deprecated: false
      description: Get a list of the consumer groups in the Event Hub-compatible device-to-cloud endpoint in an IoT hub.
      operationId: IotHubResource_ListEventHubConsumerGroups
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the IoT hub.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - description: The name of the Event Hub-compatible endpoint.
          in: path
          name: eventHubEndpointName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized list of the consumer groups in the the Event Hub-compatible endpoint in this IoT hub
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConsumerGroupsListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/EventHubConsumerGroupsListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Get a list of the consumer groups in the Event Hub-compatible device-to-cloud endpoint in an IoT hub.
      tags:
        - GET
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups/{name}':
    delete:
      deprecated: false
      description: Delete a consumer group from an Event Hub-compatible endpoint in an IoT hub.
      operationId: IotHubResource_DeleteEventHubConsumerGroup
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the IoT hub.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - description: The name of the Event Hub-compatible endpoint in the IoT hub.
          in: path
          name: eventHubEndpointName
          required: true
          schema:
            type: string
        - description: The name of the consumer group to delete.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: This is a synchronous operation.
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Delete a consumer group from an Event Hub-compatible endpoint in an IoT hub.
      tags:
        - DELETE
    get:
      deprecated: false
      description: Get a consumer group from the Event Hub-compatible device-to-cloud endpoint for an IoT hub.
      operationId: IotHubResource_GetEventHubConsumerGroup
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the IoT hub.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - description: The name of the Event Hub-compatible endpoint in the IoT hub.
          in: path
          name: eventHubEndpointName
          required: true
          schema:
            type: string
        - description: The name of the consumer group to retrieve.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized consumer group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConsumerGroupInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/EventHubConsumerGroupInfo'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Get a consumer group from the Event Hub-compatible device-to-cloud endpoint for an IoT hub.
      tags:
        - GET
    put:
      deprecated: false
      description: Add a consumer group to an Event Hub-compatible endpoint in an IoT hub.
      operationId: IotHubResource_CreateEventHubConsumerGroup
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the IoT hub.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - description: The name of the Event Hub-compatible endpoint in the IoT hub.
          in: path
          name: eventHubEndpointName
          required: true
          schema:
            type: string
        - description: The name of the consumer group to add.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: This is a synchronous operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConsumerGroupInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/EventHubConsumerGroupInfo'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Add a consumer group to an Event Hub-compatible endpoint in an IoT hub.
      tags:
        - PUT
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/exportDevices':
    post:
      deprecated: false
      description: 'Exports all the device identities in the IoT hub identity registry to an Azure Storage blob container. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities.'
      operationId: IotHubResource_ExportDevices
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the IoT hub.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: 'Exports all the device identities in the IoT hub identity registry to an Azure Storage blob container. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities.'
      tags:
        - POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportDevicesRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ExportDevicesRequest'
        description: The parameters that specify the export devices operation.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/importDevices':
    post:
      deprecated: false
      description: 'Import, update, or delete device identities in the IoT hub identity registry from a blob. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities.'
      operationId: IotHubResource_ImportDevices
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the IoT hub.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: 'Import, update, or delete device identities in the IoT hub identity registry from a blob. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities.'
      tags:
        - POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportDevicesRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ImportDevicesRequest'
        description: The parameters that specify the import devices operation.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/jobs':
    get:
      deprecated: false
      description: 'Get a list of all the jobs in an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry.'
      operationId: IotHubResource_ListJobs
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the IoT hub.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: This is a synchronous operation. The response contains a JSON-serialized array of all the jobs in the IoT hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponseListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/JobResponseListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: 'Get a list of all the jobs in an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry.'
      tags:
        - GET
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/jobs/{jobId}':
    get:
      deprecated: false
      description: 'Get the details of a job from an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry.'
      operationId: IotHubResource_GetJob
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the IoT hub.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - description: The job identifier.
          in: path
          name: jobId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: This is a synchronous operation. The response contains a JSON-serialized description of the job in the IoT hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: 'Get the details of a job from an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry.'
      tags:
        - GET
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/listkeys':
    post:
      deprecated: false
      description: 'Get the security metadata for an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security.'
      operationId: IotHubResource_ListKeys
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the IoT hub.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'This is a synchronous operation. The body contains a JSON-serialized array of shared access policies, including keys, that you can use to access the IoT hub endpoints.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRuleListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRuleListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: 'Get the security metadata for an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security.'
      tags:
        - POST
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/quotaMetrics':
    get:
      deprecated: false
      description: Get the quota metrics for an IoT hub.
      operationId: IotHubResource_GetQuotaMetrics
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the IoT hub.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: This is a synchronous operation. The response contains a JSON-serialized array of the quota metrics for the IoT hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubQuotaMetricInfoListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/IotHubQuotaMetricInfoListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Get the quota metrics for an IoT hub.
      tags:
        - GET
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/skus':
    get:
      deprecated: false
      description: Get the list of valid SKUs for an IoT hub.
      operationId: IotHubResource_GetValidSkus
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group that contains the IoT hub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the IoT hub.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized array of the valid SKUs for this IoT hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubSkuDescriptionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/IotHubSkuDescriptionListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Get the list of valid SKUs for an IoT hub.
      tags:
        - GET
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    CloudToDeviceProperties:
      description: The IoT hub cloud-to-device messaging properties.
      properties:
        defaultTtlAsIso8601:
          description: 'The default time to live for cloud-to-device messages in the device queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.'
          format: duration
          type: string
        feedback:
          $ref: '#/components/schemas/FeedbackProperties'
        maxDeliveryCount:
          description: 'The max delivery count for cloud-to-device messages in the device queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.'
          format: int32
          maximum: 100
          minimum: 1
          type: integer
      type: object
    ErrorDetails:
      description: Error details.
      properties:
        Code:
          description: The error code.
          readOnly: true
          type: string
        Details:
          description: The error details.
          readOnly: true
          type: string
        HttpStatusCode:
          description: The HTTP status code.
          readOnly: true
          type: string
        Message:
          description: The error message.
          readOnly: true
          type: string
      type: object
    EventHubConsumerGroupInfo:
      description: The properties of the EventHubConsumerGroupInfo object.
      properties:
        id:
          description: The Event Hub-compatible consumer group identifier.
          type: string
        name:
          description: The Event Hub-compatible consumer group name.
          type: string
        tags:
          additionalProperties:
            type: string
          description: The tags.
          type: object
      type: object
    EventHubConsumerGroupsListResult:
      description: The JSON-serialized array of Event Hub-compatible consumer group names with a next link.
      properties:
        nextLink:
          description: The next link.
          readOnly: true
          type: string
        value:
          description: The array of Event Hub-compatible consumer group names.
          items:
            type: string
          type: array
      type: object
    EventHubProperties:
      description: The properties of the provisioned Event Hub-compatible endpoint used by the IoT hub.
      properties:
        endpoint:
          description: The Event Hub-compatible endpoint.
          readOnly: true
          type: string
        partitionCount:
          description: 'The number of paritions for receiving device-to-cloud messages in the Event Hub-compatible endpoint. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#device-to-cloud-messages.'
          format: int32
          type: integer
        partitionIds:
          description: The partition ids in the Event Hub-compatible endpoint.
          items:
            type: string
          readOnly: true
          type: array
        path:
          description: The Event Hub-compatible name.
          readOnly: true
          type: string
        retentionTimeInDays:
          description: 'The retention time for device-to-cloud messages in days. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#device-to-cloud-messages'
          format: int64
          type: integer
      type: object
    ExportDevicesRequest:
      description: Use to provide parameters when requesting an export of all devices in the IoT hub.
      properties:
        ExcludeKeys:
          description: The value indicating whether keys should be excluded during export.
          type: boolean
        ExportBlobContainerUri:
          description: The export blob container URI.
          type: string
      required:
        - ExportBlobContainerUri
        - ExcludeKeys
      type: object
    FeedbackProperties:
      description: The properties of the feedback queue for cloud-to-device messages.
      properties:
        lockDurationAsIso8601:
          description: 'The lock duration for the feedback queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.'
          format: duration
          type: string
        maxDeliveryCount:
          description: 'The number of times the IoT hub attempts to deliver a message on the feedback queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.'
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        ttlAsIso8601:
          description: 'The period of time for which a message is available to consume before it is expired by the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.'
          format: duration
          type: string
      type: object
    ImportDevicesRequest:
      description: Use to provide parameters when requesting an import of all devices in the hub.
      properties:
        InputBlobContainerUri:
          description: The input blob container URI.
          type: string
        OutputBlobContainerUri:
          description: The output blob container URI.
          type: string
      required:
        - InputBlobContainerUri
        - OutputBlobContainerUri
      type: object
    IotHubCapacity:
      description: IoT Hub capacity information.
      properties:
        default:
          description: The default number of units.
          format: int64
          readOnly: true
          type: integer
        maximum:
          description: The maximum number of units.
          format: int64
          readOnly: true
          type: integer
        minimum:
          description: The minimum number of units.
          format: int64
          maximum: 1
          minimum: 1
          readOnly: true
          type: integer
        scaleType:
          description: The type of the scaling enabled.
          enum:
            - Automatic
            - Manual
            - None
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: IotHubScaleType
      type: object
    IotHubDescription:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: The description of the IoT hub.
      properties:
        etag:
          description: 'The Etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal ETag convention.'
          type: string
        properties:
          $ref: '#/components/schemas/IotHubProperties'
        resourcegroup:
          description: The name of the resource group that contains the IoT hub. A resource group name uniquely identifies the resource group within the subscription.
          type: string
        sku:
          $ref: '#/components/schemas/IotHubSkuInfo'
        subscriptionid:
          description: The subscription identifier.
          type: string
      required:
        - subscriptionid
        - resourcegroup
        - sku
      type: object
    IotHubDescriptionListResult:
      description: The JSON-serialized array of IotHubDescription objects with a next link.
      properties:
        nextLink:
          description: The next link.
          readOnly: true
          type: string
        value:
          description: The array of IotHubDescription objects.
          items:
            $ref: '#/components/schemas/IotHubDescription'
          type: array
      type: object
    IotHubNameAvailabilityInfo:
      description: The properties indicating whether a given IoT hub name is available.
      properties:
        message:
          description: The detailed reason message.
          type: string
        nameAvailable:
          description: The value which indicates whether the provided name is available.
          readOnly: true
          type: boolean
        reason:
          description: The reason for unavailability.
          enum:
            - Invalid
            - AlreadyExists
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: IotHubNameUnavailabilityReason
      type: object
    IotHubProperties:
      description: The properties of an IoT hub.
      properties:
        authorizationPolicies:
          description: The shared access policies you can use to secure a connection to the IoT hub.
          items:
            $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRule'
          type: array
        cloudToDevice:
          $ref: '#/components/schemas/CloudToDeviceProperties'
        comments:
          description: Comments.
          type: string
        enableFileUploadNotifications:
          description: 'If True, file upload notifications are enabled.'
          type: boolean
        eventHubEndpoints:
          additionalProperties:
            $ref: '#/components/schemas/EventHubProperties'
          description: The Event Hub-compatible endpoint properties. The possible keys to this dictionary are events and operationsMonitoringEvents. Both of these keys have to be present in the dictionary while making create or update calls for the IoT hub.
          type: object
        features:
          description: The capabilities and features enabled for the IoT hub.
          enum:
            - None
            - DeviceManagement
          type: string
          x-ms-enum:
            modelAsString: true
            name: Capabilities
        hostName:
          description: The name of the host.
          readOnly: true
          type: string
        ipFilterRules:
          description: The IP filter rules.
          items:
            $ref: '#/components/schemas/IpFilterRule'
          type: array
        messagingEndpoints:
          additionalProperties:
            $ref: '#/components/schemas/MessagingEndpointProperties'
          description: The messaging endpoint properties for the file upload notification queue.
          type: object
        operationsMonitoringProperties:
          $ref: '#/components/schemas/OperationsMonitoringProperties'
        provisioningState:
          description: The provisioning state.
          readOnly: true
          type: string
        storageEndpoints:
          additionalProperties:
            $ref: '#/components/schemas/StorageEndpointProperties'
          description: 'The list of Azure Storage endpoints where you can upload files. Currently you can configure only one Azure Storage account and that MUST have its key as $default. Specifying more than one storage account causes an error to be thrown. Not specifying a value for this property when the enableFileUploadNotifications property is set to True, causes an error to be thrown.'
          type: object
      type: object
    IotHubQuotaMetricInfo:
      description: Quota metrics properties.
      properties:
        CurrentValue:
          description: The current value for the quota metric.
          format: int64
          readOnly: true
          type: integer
        MaxValue:
          description: The maximum value of the quota metric.
          format: int64
          readOnly: true
          type: integer
        Name:
          description: The name of the quota metric.
          readOnly: true
          type: string
      type: object
    IotHubQuotaMetricInfoListResult:
      description: The JSON-serialized array of IotHubQuotaMetricInfo objects with a next link.
      properties:
        nextLink:
          description: The next link.
          readOnly: true
          type: string
        value:
          description: The array of quota metrics objects.
          items:
            $ref: '#/components/schemas/IotHubQuotaMetricInfo'
          type: array
      type: object
    IotHubSkuDescription:
      description: SKU properties.
      properties:
        capacity:
          $ref: '#/components/schemas/IotHubCapacity'
        resourceType:
          description: The type of the resource.
          readOnly: true
          type: string
        sku:
          $ref: '#/components/schemas/IotHubSkuInfo'
      required:
        - sku
        - capacity
      type: object
    IotHubSkuDescriptionListResult:
      description: The JSON-serialized array of IotHubSkuDescription objects with a next link.
      properties:
        nextLink:
          description: The next link.
          readOnly: true
          type: string
        value:
          description: The array of IotHubSkuDescription.
          items:
            $ref: '#/components/schemas/IotHubSkuDescription'
          type: array
      type: object
    IotHubSkuInfo:
      description: Information about the SKU of the IoT hub.
      properties:
        capacity:
          description: 'The number of provisioned IoT Hub units. See: https://docs.microsoft.com/azure/azure-subscription-service-limits#iot-hub-limits.'
          format: int64
          type: integer
        name:
          description: The name of the SKU.
          enum:
            - F1
            - S1
            - S2
            - S3
          type: string
          x-ms-enum:
            modelAsString: true
            name: IotHubSku
        tier:
          description: The billing tier for the IoT hub.
          enum:
            - Free
            - Standard
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: IotHubSkuTier
      required:
        - name
        - capacity
      type: object
    IpFilterRule:
      description: The IP filter rules for the IoT hub.
      properties:
        action:
          description: The desired action for requests captured by this rule.
          enum:
            - Accept
            - Reject
          type: string
          x-ms-enum:
            modelAsString: false
            name: IpFilterActionType
        filterName:
          description: The name of the IP filter rule.
          type: string
        ipMask:
          description: A string that contains the IP address range in CIDR notation for the rule.
          type: string
      required:
        - filterName
        - action
        - ipMask
      type: object
    JobResponse:
      description: The properties of the Job Response object.
      properties:
        endTimeUtc:
          description: The time the job stopped processing.
          format: date-time-rfc1123
          readOnly: true
          type: string
        failureReason:
          description: 'If status == failed, this string containing the reason for the failure.'
          readOnly: true
          type: string
        jobId:
          description: The job identifier.
          readOnly: true
          type: string
        parentJobId:
          description: 'The job identifier of the parent job, if any.'
          readOnly: true
          type: string
        startTimeUtc:
          description: The start time of the job.
          format: date-time-rfc1123
          readOnly: true
          type: string
        status:
          description: The status of the job.
          enum:
            - unknown
            - enqueued
            - running
            - completed
            - failed
            - cancelled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: JobStatus
        statusMessage:
          description: The status message for the job.
          readOnly: true
          type: string
        type:
          description: The type of the job.
          enum:
            - unknown
            - export
            - import
            - backup
            - readDeviceProperties
            - writeDeviceProperties
            - updateDeviceConfiguration
            - rebootDevice
            - factoryResetDevice
            - firmwareUpdate
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: JobType
      type: object
    JobResponseListResult:
      description: The JSON-serialized array of JobResponse objects with a next link.
      properties:
        nextLink:
          description: The next link.
          readOnly: true
          type: string
        value:
          description: The array of JobResponse objects.
          items:
            $ref: '#/components/schemas/JobResponse'
          type: array
      type: object
    MessagingEndpointProperties:
      description: The properties of the messaging endpoints used by this IoT hub.
      properties:
        lockDurationAsIso8601:
          description: 'The lock duration. See: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-file-upload.'
          format: duration
          type: string
        maxDeliveryCount:
          description: 'The number of times the IoT hub attempts to deliver a message. See: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-file-upload.'
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        ttlAsIso8601:
          description: 'The period of time for which a message is available to consume before it is expired by the IoT hub. See: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-file-upload.'
          format: duration
          type: string
      type: object
    OperationInputs:
      description: Input values.
      properties:
        Name:
          description: The name of the IoT hub to check.
          type: string
      required:
        - Name
      type: object
    OperationsMonitoringProperties:
      description: 'The operations monitoring properties for the IoT hub. The possible keys to the dictionary are Connections, DeviceTelemetry, C2DCommands, DeviceIdentityOperations, FileUploadOperations.'
      properties:
        events:
          additionalProperties:
            description: The operations monitoring level.
            enum:
              - None
              - Error
              - Information
              - 'Error, Information'
            type: string
            x-ms-enum:
              modelAsString: true
              name: OperationMonitoringLevel
          type: object
      type: object
    RegistryStatistics:
      description: Identity registry statistics.
      properties:
        disabledDeviceCount:
          description: The count of disabled devices in the identity registry.
          format: int64
          readOnly: true
          type: integer
        enabledDeviceCount:
          description: The count of enabled devices in the identity registry.
          format: int64
          readOnly: true
          type: integer
        totalDeviceCount:
          description: The total count of devices in the identity registry.
          format: int64
          readOnly: true
          type: integer
      type: object
    Resource:
      description: The common properties of an Azure resource.
      properties:
        id:
          description: The resource identifier.
          readOnly: true
          type: string
        location:
          description: The resource location.
          type: string
        name:
          description: The resource name.
          pattern: '^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$'
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: The resource tags.
          type: object
        type:
          description: The resource type.
          readOnly: true
          type: string
      required:
        - location
      x-ms-azure-resource: true
    SharedAccessSignatureAuthorizationRule:
      description: The properties of an IoT hub shared access policy.
      properties:
        keyName:
          description: The name of the shared access policy.
          type: string
        primaryKey:
          description: The primary key.
          type: string
        rights:
          description: The permissions assigned to the shared access policy.
          enum:
            - RegistryRead
            - RegistryWrite
            - ServiceConnect
            - DeviceConnect
            - 'RegistryRead, RegistryWrite'
            - 'RegistryRead, ServiceConnect'
            - 'RegistryRead, DeviceConnect'
            - 'RegistryWrite, ServiceConnect'
            - 'RegistryWrite, DeviceConnect'
            - 'ServiceConnect, DeviceConnect'
            - 'RegistryRead, RegistryWrite, ServiceConnect'
            - 'RegistryRead, RegistryWrite, DeviceConnect'
            - 'RegistryRead, ServiceConnect, DeviceConnect'
            - 'RegistryWrite, ServiceConnect, DeviceConnect'
            - 'RegistryRead, RegistryWrite, ServiceConnect, DeviceConnect'
          type: string
          x-ms-enum:
            modelAsString: false
            name: AccessRights
        secondaryKey:
          description: The secondary key.
          type: string
      required:
        - keyName
        - rights
      type: object
    SharedAccessSignatureAuthorizationRuleListResult:
      description: The list of shared access policies with a next link.
      properties:
        nextLink:
          description: The next link.
          readOnly: true
          type: string
        value:
          description: The list of shared access policies.
          items:
            $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRule'
          type: array
      type: object
    StorageEndpointProperties:
      description: The properties of the Azure Storage endpoint for file upload.
      properties:
        connectionString:
          description: The connection string for the Azure Storage account to which files are uploaded.
          type: string
        containerName:
          description: The name of the root container where you upload files. The container need not exist but should be creatable using the connectionString specified.
          type: string
        sasTtlAsIso8601:
          description: 'The period of time for which the the SAS URI generated by IoT Hub for file upload is valid. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload#file-upload-notification-configuration-options.'
          format: duration
          type: string
      required:
        - connectionString
        - containerName
      type: object
  parameters:
    api-version:
      description: The version of the API.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionId:
      description: The subscription identifier.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
