swagger: '2.0'
schemes:
  - https
host: acceleratedmobilepageurl.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: |
    Retrieves the list of AMP URLs (and equivalent AMP Cache URLs) for a given list of public URL(s).
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Accelerated Mobile Pages (AMP) URL
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://acceleratedmobilepageurl.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: acceleratedmobilepageurl
externalDocs:
  url: 'https://developers.google.com/amp/cache/'
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: ampUrls
paths:
  '/v1/ampUrls:batchGet':
    parameters:
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
    post:
      description: |-
        Returns AMP URL(s) and equivalent
        [AMP Cache URL(s)](/amp/cache/overview#amp-cache-url-format).
      operationId: acceleratedmobilepageurl.ampUrls.batchGet
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BatchGetAmpUrlsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BatchGetAmpUrlsResponse'
      tags:
        - ampUrls
definitions:
  AmpUrl:
    description: AMP URL response for a requested URL.
    properties:
      ampUrl:
        description: The AMP URL pointing to the publisher's web server.
        type: string
      cdnAmpUrl:
        description: |-
          The [AMP Cache URL](/amp/cache/overview#amp-cache-url-format) pointing to
          the cached document in the Google AMP Cache.
        type: string
      originalUrl:
        description: The original non-AMP URL.
        type: string
    type: object
  AmpUrlError:
    description: AMP URL Error resource for a requested URL that couldn't be found.
    properties:
      errorCode:
        description: The error code of an API call.
        enum:
          - ERROR_CODE_UNSPECIFIED
          - INPUT_URL_NOT_FOUND
          - NO_AMP_URL
          - APPLICATION_ERROR
          - URL_IS_VALID_AMP
          - URL_IS_INVALID_AMP
        type: string
      errorMessage:
        description: An optional descriptive error message.
        type: string
      originalUrl:
        description: The original non-AMP URL.
        type: string
    type: object
  BatchGetAmpUrlsRequest:
    description: AMP URL request for a batch of URLs.
    properties:
      lookupStrategy:
        description: The lookup_strategy being requested.
        enum:
          - FETCH_LIVE_DOC
          - IN_INDEX_DOC
        type: string
      urls:
        description: |-
          List of URLs to look up for the paired AMP URLs.
          The URLs are case-sensitive. Up to 50 URLs per lookup
          (see [Usage Limits](/amp/cache/reference/limits)).
        items:
          type: string
        type: array
    type: object
  BatchGetAmpUrlsResponse:
    description: Batch AMP URL response.
    properties:
      ampUrls:
        description: |-
          For each URL in BatchAmpUrlsRequest, the URL response. The response might
          not be in the same order as URLs in the batch request.
          If BatchAmpUrlsRequest contains duplicate URLs, AmpUrl is generated
          only once.
        items:
          $ref: '#/definitions/AmpUrl'
        type: array
      urlErrors:
        description: The errors for requested URLs that have no AMP URL.
        items:
          $ref: '#/definitions/AmpUrlError'
        type: array
    type: object
