openapi: 3.0.0
servers:
  - url: https://toolresults.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: API to publish and access results from developer tools.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Tool Results API
  version: v1beta3
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://toolresults.googleapis.com/$discovery/rest?version=v1beta3
      version: v1
  x-providerName: googleapis.com
  x-serviceName: toolresults
externalDocs:
  url: https://firebase.google.com/docs/test-lab/
tags:
  - name: projects
paths:
  "/toolresults/v1beta3/projects/{projectId}/histories":
    get:
      description: "Lists Histories for a given Project. The histories are sorted by modification time in descending order. The history_id key will be used to order the history with the same modification time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist"
      operationId: toolresults.projects.histories.list
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: If set, only return histories with the given name. Optional.
          in: query
          name: filterByName
          schema:
            type: string
        - description: "The maximum number of Histories to fetch. Default value: 20. The server will use this default if the field is not set or has a value of 0. Any value greater than 100 will be treated as 100. Optional."
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A continuation token to resume the query at the next item. Optional.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListHistoriesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Creates a History. The returned History will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing project does not exist"
      operationId: toolresults.projects.histories.create
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/History"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/History"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}":
    get:
      description: "Gets a History. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist"
      operationId: toolresults.projects.histories.get
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A History id. Required.
          in: path
          name: historyId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/History"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions":
    get:
      description: "Lists Executions for a given History. The executions are sorted by creation_time in descending order. The execution_id key will be used to order the executions with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist"
      operationId: toolresults.projects.histories.executions.list
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A History id. Required.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: "The maximum number of Executions to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional."
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A continuation token to resume the query at the next item. Optional.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListExecutionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Creates an Execution. The returned Execution will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist"
      operationId: toolresults.projects.histories.executions.create
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A History id. Required.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Execution"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Execution"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}":
    get:
      description: "Gets an Execution. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution does not exist"
      operationId: toolresults.projects.histories.executions.get
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A History id. Required.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: An Execution id. Required.
          in: path
          name: executionId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Execution"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: "Updates an existing Execution with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal - NOT_FOUND - if the containing History does not exist"
      operationId: toolresults.projects.histories.executions.patch
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Required.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: Required.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Execution"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Execution"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters":
    get:
      description: Lists Screenshot Clusters Returns the list of screenshot clusters corresponding to an execution. Screenshot clusters are created after the execution is finished. Clusters are created from a set of screenshots. Between any two screenshots, a matching score is calculated based off their metadata that determines how similar they are. Screenshots are placed in the cluster that has screens which have the highest matching scores.
      operationId: toolresults.projects.histories.executions.clusters.list
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A History id. Required.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: An Execution id. Required.
          in: path
          name: executionId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListScreenshotClustersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}":
    get:
      description: Retrieves a single screenshot cluster by its ID
      operationId: toolresults.projects.histories.executions.clusters.get
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A History id. Required.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: An Execution id. Required.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: A Cluster id Required.
          in: path
          name: clusterId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScreenshotCluster"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments":
    get:
      description: "Lists Environments for a given Execution. The Environments are sorted by display name. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Execution does not exist"
      operationId: toolresults.projects.histories.executions.environments.list
      parameters:
        - description: Required. A Project id.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Required. A History id.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: Required. An Execution id.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: "The maximum number of Environments to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0."
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A continuation token to resume the query at the next item.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEnvironmentsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}":
    get:
      description: "Gets an Environment. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Environment does not exist"
      operationId: toolresults.projects.histories.executions.environments.get
      parameters:
        - description: Required. A Project id.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Required. A History id.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: Required. An Execution id.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: Required. An Environment id.
          in: path
          name: environmentId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Environment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps":
    get:
      description: "Lists Steps for a given Execution. The steps are sorted by creation_time in descending order. The step_id key will be used to order the steps with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if an attempt is made to list the children of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist"
      operationId: toolresults.projects.histories.executions.steps.list
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A History id. Required.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: A Execution id. Required.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: "The maximum number of Steps to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional."
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A continuation token to resume the query at the next item. Optional.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListStepsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Creates a Step. The returned Step will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist"
      operationId: toolresults.projects.histories.executions.steps.create
      parameters:
        - description: Required. A Project id.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Required. A History id.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: Required. An Execution id.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Step"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Step"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}":
    get:
      description: "Gets a Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Step does not exist"
      operationId: toolresults.projects.histories.executions.steps.get
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A History id. Required.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: A Execution id. Required.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: A Step id. Required.
          in: path
          name: stepId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Step"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: "Updates an existing Step with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal (e.g try to upload a duplicate xml file), if the updated step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist"
      operationId: toolresults.projects.histories.executions.steps.patch
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A History id. Required.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: A Execution id. Required.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: A Step id. Required.
          in: path
          name: stepId
          required: true
          schema:
            type: string
        - description: A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Step"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Step"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary":
    get:
      description: "Retrieves a PerfMetricsSummary. May return any of the following error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist"
      operationId: toolresults.projects.histories.executions.steps.getPerfMetricsSummary
      parameters:
        - description: The cloud project
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A tool results history ID.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: A tool results execution ID.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: A tool results step ID.
          in: path
          name: stepId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PerfMetricsSummary"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Creates a PerfMetricsSummary resource. Returns the existing one if it has already been created. May return any of the following error code(s): - NOT_FOUND - The containing Step does not exist"
      operationId: toolresults.projects.histories.executions.steps.perfMetricsSummary.create
      parameters:
        - description: The cloud project
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A tool results history ID.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: A tool results execution ID.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: A tool results step ID.
          in: path
          name: stepId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PerfMetricsSummary"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PerfMetricsSummary"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries":
    get:
      description: "Lists PerfSampleSeries for a given Step. The request provides an optional filter which specifies one or more PerfMetricsType to include in the result; if none returns all. The resulting PerfSampleSeries are sorted by ids. May return any of the following canonical error codes: - NOT_FOUND - The containing Step does not exist"
      operationId: toolresults.projects.histories.executions.steps.perfSampleSeries.list
      parameters:
        - description: The cloud project
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A tool results history ID.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: A tool results execution ID.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: A tool results step ID.
          in: path
          name: stepId
          required: true
          schema:
            type: string
        - description: Specify one or more PerfMetricType values such as CPU to filter the result
          explode: true
          in: query
          name: filter
          schema:
            items:
              enum:
                - perfMetricTypeUnspecified
                - memory
                - cpu
                - network
                - graphics
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPerfSampleSeriesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Creates a PerfSampleSeries. May return any of the following error code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given Step - NOT_FOUND - The containing Step does not exist"
      operationId: toolresults.projects.histories.executions.steps.perfSampleSeries.create
      parameters:
        - description: The cloud project
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A tool results history ID.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: A tool results execution ID.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: A tool results step ID.
          in: path
          name: stepId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PerfSampleSeries"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PerfSampleSeries"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}":
    get:
      description: "Gets a PerfSampleSeries. May return any of the following error code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist"
      operationId: toolresults.projects.histories.executions.steps.perfSampleSeries.get
      parameters:
        - description: The cloud project
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A tool results history ID.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: A tool results execution ID.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: A tool results step ID.
          in: path
          name: stepId
          required: true
          schema:
            type: string
        - description: A sample series id
          in: path
          name: sampleSeriesId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PerfSampleSeries"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples":
    get:
      description: "Lists the Performance Samples of a given Sample Series - The list results are sorted by timestamps ascending - The default page size is 500 samples; and maximum size allowed 5000 - The response token indicates the last returned PerfSample timestamp - When the results size exceeds the page size, submit a subsequent request including the page token to return the rest of the samples up to the page limit May return any of the following canonical error codes: - OUT_OF_RANGE - The specified request page_token is out of valid range - NOT_FOUND - The containing PerfSampleSeries does not exist"
      operationId: toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list
      parameters:
        - description: The cloud project
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A tool results history ID.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: A tool results execution ID.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: A tool results step ID.
          in: path
          name: stepId
          required: true
          schema:
            type: string
        - description: A sample series id
          in: path
          name: sampleSeriesId
          required: true
          schema:
            type: string
        - description: The default page size is 500 samples, and the maximum size is 5000. If the page_size is greater than 5000, the effective page size will be 5000
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional, the next_page_token returned in the previous response
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPerfSamplesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Creates a batch of PerfSamples - a client can submit multiple batches of Perf Samples through repeated calls to this method in order to split up a large request payload - duplicates and existing timestamp entries will be ignored. - the batch operation may partially succeed - the set of elements successfully inserted is returned in the response (omits items which already existed in the database). May return any of the following canonical error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist"
      operationId: toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate
      parameters:
        - description: The cloud project
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A tool results history ID.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: A tool results execution ID.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: A tool results step ID.
          in: path
          name: stepId
          required: true
          schema:
            type: string
        - description: A sample series id
          in: path
          name: sampleSeriesId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchCreatePerfSamplesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchCreatePerfSamplesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases":
    get:
      description: "Lists Test Cases attached to a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Step does not exist"
      operationId: toolresults.projects.histories.executions.steps.testCases.list
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A History id. Required.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: A Execution id Required.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: "A Step id. Note: This step must include a TestExecutionStep. Required."
          in: path
          name: stepId
          required: true
          schema:
            type: string
        - description: "The maximum number of TestCases to fetch. Default value: 100. The server will use this default if the field is not set or has a value of 0. Optional."
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A continuation token to resume the query at the next item. Optional.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTestCasesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}":
    get:
      description: "Gets details of a Test Case for a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Test Case does not exist"
      operationId: toolresults.projects.histories.executions.steps.testCases.get
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A History id. Required.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: A Execution id Required.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: "A Step id. Note: This step must include a TestExecutionStep. Required."
          in: path
          name: stepId
          required: true
          schema:
            type: string
        - description: A Test Case id. Required.
          in: path
          name: testCaseId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestCase"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails":
    get:
      description: "Lists thumbnails of images attached to a step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the step does not exist, or if any of the images do not exist"
      operationId: toolresults.projects.histories.executions.steps.thumbnails.list
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A History id. Required.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: An Execution id. Required.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: A Step id. Required.
          in: path
          name: stepId
          required: true
          schema:
            type: string
        - description: "The maximum number of thumbnails to fetch. Default value: 50. The server will use this default if the field is not set or has a value of 0. Optional."
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A continuation token to resume the query at the next item. Optional.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListStepThumbnailsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Publish xml files to an existing Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal, e.g. try to upload a duplicate xml file or a file too large. - NOT_FOUND - if the containing Execution does not exist"
      operationId: toolresults.projects.histories.executions.steps.publishXunitXmlFiles
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: A History id. Required.
          in: path
          name: historyId
          required: true
          schema:
            type: string
        - description: A Execution id. Required.
          in: path
          name: executionId
          required: true
          schema:
            type: string
        - description: "A Step id. Note: This step must include a TestExecutionStep. Required."
          in: path
          name: stepId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublishXunitXmlFilesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Step"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/toolresults/v1beta3/projects/{projectId}/settings":
    get:
      description: "Gets the Tool Results settings for a project. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from project"
      operationId: toolresults.projects.getSettings
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSettings"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/toolresults/v1beta3/projects/{projectId}:initializeSettings":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Creates resources for settings which have not yet been set. Currently, this creates a single resource: a Google Cloud Storage bucket, to be used as the default bucket for this project. The bucket is created in an FTL-own storage project. Except for in rare cases, calling this method in parallel from multiple clients will only create a single bucket. In order to avoid unnecessary storage charges, the bucket is configured to automatically delete objects older than 90 days. The bucket is created with the following permissions: - Owner access for owners of central storage project (FTL-owned) - Writer access for owners/editors of customer project - Reader access for viewers of customer project The default ACL on objects created in the bucket is: - Owner access for owners of central storage project - Reader access for owners/editors/viewers of customer project See Google Cloud Storage documentation for more details. If there is already a default bucket set and the project can access the bucket, this call does nothing. However, if the project doesn't have the permission to access the bucket or the bucket is deleted, a new bucket will be created. May return any canonical error codes, including the following: - PERMISSION_DENIED - if the user is not authorized to write to project - Any error code raised by Google Cloud Storage"
      operationId: toolresults.projects.initializeSettings
      parameters:
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSettings"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/toolresults/v1beta3/{name}:accessibilityClusters":
    get:
      description: "Lists accessibility clusters for a given Step May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if the locale format is incorrect - NOT_FOUND - if the containing Step does not exist"
      operationId: toolresults.projects.histories.executions.steps.accessibilityClusters
      parameters:
        - description: A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Required.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The accepted format is the canonical Unicode format with hyphen as a delimiter. Language must be lowercase, Language Script - Capitalized, Region - UPPERCASE. See http://www.unicode.org/reports/tr35/#Unicode_locale_identifier for details. Required.
          in: query
          name: locale
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListStepAccessibilityClustersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    ANR:
      description: Additional details for an ANR crash.
      properties:
        stackTrace:
          $ref: "#/components/schemas/StackTrace"
          description: The stack trace of the ANR crash. Optional.
      type: object
    AndroidAppInfo:
      description: Android app information.
      properties:
        name:
          description: The name of the app. Optional
          type: string
        packageName:
          description: The package name of the app. Required.
          type: string
        versionCode:
          description: The internal version code of the app. Optional.
          type: string
        versionName:
          description: The version name of the app. Optional.
          type: string
      type: object
    AndroidInstrumentationTest:
      description: A test of an Android application that can control an Android component independently of its normal lifecycle. See for more information on types of Android tests.
      properties:
        testPackageId:
          description: The java package for the test to be executed. Required
          type: string
        testRunnerClass:
          description: The InstrumentationTestRunner class. Required
          type: string
        testTargets:
          description: 'Each target must be fully qualified with the package name or class name, in one of these formats: - "package package_name" - "class package_name.class_name" - "class package_name.class_name#method_name" If empty, all targets in the module will be run.'
          items:
            type: string
          type: array
        useOrchestrator:
          description: The flag indicates whether Android Test Orchestrator will be used to run test or not.
          type: boolean
      type: object
    AndroidRoboTest:
      description: A test of an android application that explores the application on a virtual or physical Android device, finding culprits and crashes as it goes.
      properties:
        appInitialActivity:
          description: The initial activity that should be used to start the app. Optional
          type: string
        bootstrapPackageId:
          description: The java package for the bootstrap. Optional
          type: string
        bootstrapRunnerClass:
          description: The runner class for the bootstrap. Optional
          type: string
        maxDepth:
          description: The max depth of the traversal stack Robo can explore. Optional
          format: int32
          type: integer
        maxSteps:
          description: The max number of steps/actions Robo can execute. Default is no limit (0). Optional
          format: int32
          type: integer
      type: object
    AndroidTest:
      description: An Android mobile test specification.
      properties:
        androidAppInfo:
          $ref: "#/components/schemas/AndroidAppInfo"
          description: Information about the application under test.
        androidInstrumentationTest:
          $ref: "#/components/schemas/AndroidInstrumentationTest"
          description: An Android instrumentation test.
        androidRoboTest:
          $ref: "#/components/schemas/AndroidRoboTest"
          description: An Android robo test.
        androidTestLoop:
          $ref: "#/components/schemas/AndroidTestLoop"
          description: An Android test loop.
        testTimeout:
          $ref: "#/components/schemas/Duration"
          description: Max time a test is allowed to run before it is automatically cancelled.
      type: object
    AndroidTestLoop:
      description: Test Loops are tests that can be launched by the app itself, determining when to run by listening for an intent.
      properties: {}
      type: object
    Any:
      description: " `Any` contains an arbitrary serialized protocol buffer message along with a URL that describes the type of the serialized message. Protobuf library provides support to pack/unpack Any values in the form of utility functions or additional generated methods of the Any type. Example 1: Pack and unpack a message in C++. Foo foo = ...; Any any; any.PackFrom(foo); ... if (any.UnpackTo(&foo)) { ... } Example 2: Pack and unpack a message in Java. Foo foo = ...; Any any = Any.pack(foo); ... if (any.is(Foo.class)) { foo = any.unpack(Foo.class); } Example 3: Pack and unpack a message in Python. foo = Foo(...) any = Any() any.Pack(foo) ... if any.Is(Foo.DESCRIPTOR): any.Unpack(foo) ... Example 4: Pack and unpack a message in Go foo := &pb.Foo{...} any, err := ptypes.MarshalAny(foo) ... foo := &pb.Foo{} if err := ptypes.UnmarshalAny(any, foo); err != nil { ... } The pack methods provided by protobuf library will by default use 'type.googleapis.com/full.type.name' as the type URL and the unpack methods only use the fully qualified type name after the last '/' in the type URL, for example \"foo.bar.com/x/y.z\" will yield type name \"y.z\". # JSON The JSON representation of an `Any` value uses the regular representation of the deserialized, embedded message, with an additional field `@type` which contains the type URL. Example: package google.profile; message Person { string first_name = 1; string last_name = 2; } { \"@type\": \"type.googleapis.com/google.profile.Person\", \"firstName\": , \"lastName\": } If the embedded message type is well-known and has a custom JSON representation, that representation will be embedded adding a field `value` which holds the custom JSON in addition to the `@type` field. Example (for message google.protobuf.Duration): { \"@type\": \"type.googleapis.com/google.protobuf.Duration\", \"value\": \"1.212s\" }"
      properties:
        typeUrl:
          description: "A URL/resource name that uniquely identifies the type of the serialized protocol buffer message. This string must contain at least one \"/\" character. The last segment of the URL's path must represent the fully qualified name of the type (as in `path/google.protobuf.Duration`). The name should be in a canonical form (e.g., leading \".\" is not accepted). In practice, teams usually precompile into the binary all types that they expect it to use in the context of Any. However, for URLs which use the scheme `http`, `https`, or no scheme, one can optionally set up a type server that maps type URLs to message definitions as follows: * If no scheme is provided, `https` is assumed. * An HTTP GET on the URL must yield a google.protobuf.Type value in binary format, or produce an error. * Applications are allowed to cache lookup results based on the URL, or have them precompiled into a binary to avoid any lookup. Therefore, binary compatibility needs to be preserved on changes to types. (Use versioned type names to manage breaking changes.) Note: this functionality is not currently available in the official protobuf release, and it is not used for type URLs beginning with type.googleapis.com. Schemes other than `http`, `https` (or the empty scheme) might be used with implementation specific semantics."
          type: string
        value:
          description: Must be a valid serialized protocol buffer of the above specified type.
          format: byte
          type: string
      type: object
    AppStartTime:
      properties:
        fullyDrawnTime:
          $ref: "#/components/schemas/Duration"
          description: Optional. The time from app start to reaching the developer-reported "fully drawn" time. This is only stored if the app includes a call to Activity.reportFullyDrawn(). See https://developer.android.com/topic/performance/launch-time.html#time-full
        initialDisplayTime:
          $ref: "#/components/schemas/Duration"
          description: The time from app start to the first displayed activity being drawn, as reported in Logcat. See https://developer.android.com/topic/performance/launch-time.html#time-initial
      type: object
    AvailableDeepLinks:
      description: A suggestion to use deep links for a Robo run.
      properties: {}
      type: object
    BasicPerfSampleSeries:
      description: Encapsulates the metadata for basic sample series represented by a line chart
      properties:
        perfMetricType:
          enum:
            - perfMetricTypeUnspecified
            - memory
            - cpu
            - network
            - graphics
          type: string
        perfUnit:
          enum:
            - perfUnitUnspecified
            - kibibyte
            - percent
            - bytesPerSecond
            - framesPerSecond
            - byte
          type: string
        sampleSeriesLabel:
          enum:
            - sampleSeriesTypeUnspecified
            - memoryRssPrivate
            - memoryRssShared
            - memoryRssTotal
            - memoryTotal
            - cpuUser
            - cpuKernel
            - cpuTotal
            - ntBytesTransferred
            - ntBytesReceived
            - networkSent
            - networkReceived
            - graphicsFrameRate
          type: string
      type: object
    BatchCreatePerfSamplesRequest:
      description: The request must provide up to a maximum of 5000 samples to be created; a larger sample size will cause an INVALID_ARGUMENT error
      properties:
        perfSamples:
          description: The set of PerfSamples to create should not include existing timestamps
          items:
            $ref: "#/components/schemas/PerfSample"
          type: array
      type: object
    BatchCreatePerfSamplesResponse:
      properties:
        perfSamples:
          items:
            $ref: "#/components/schemas/PerfSample"
          type: array
      type: object
    BlankScreen:
      description: A warning that Robo encountered a screen that was mostly blank; this may indicate a problem with the app.
      properties:
        screenId:
          description: The screen id of the element
          type: string
      type: object
    CPUInfo:
      properties:
        cpuProcessor:
          description: description of the device processor ie '1.8 GHz hexa core 64-bit ARMv8-A'
          type: string
        cpuSpeedInGhz:
          description: the CPU clock speed in GHz
          format: float
          type: number
        numberOfCores:
          description: the number of CPU cores
          format: int32
          type: integer
      type: object
    CrashDialogError:
      description: Crash dialog was detected during the test execution
      properties:
        crashPackage:
          description: The name of the package that caused the dialog.
          type: string
      type: object
    DetectedAppSplashScreen:
      description: A notification that Robo detected a splash screen provided by app (vs. Android OS splash screen).
      properties: {}
      type: object
    DeviceOutOfMemory:
      description: A warning that device ran out of memory
      properties: {}
      type: object
    Duration:
      description: ' A Duration represents a signed, fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like "day" or "month". It is related to Timestamp in that the difference between two Timestamp values is a Duration and it can be added or subtracted from a Timestamp. Range is approximately +-10,000 years.'
      properties:
        nanos:
          description: Signed fractions of a second at nanosecond resolution of the span of time. Durations less than one second are represented with a 0 `seconds` field and a positive or negative `nanos` field. For durations of one second or more, a non-zero value for the `nanos` field must be of the same sign as the `seconds` field. Must be from -999,999,999 to +999,999,999 inclusive.
          format: int32
          type: integer
        seconds:
          description: "Signed seconds of the span of time. Must be from -315,576,000,000 to +315,576,000,000 inclusive. Note: these bounds are computed from: 60 sec/min * 60 min/hr * 24 hr/day * 365.25 days/year * 10000 years"
          format: int64
          type: string
      type: object
    EncounteredLoginScreen:
      description: Additional details about encountered login screens.
      properties:
        distinctScreens:
          description: Number of encountered distinct login screens.
          format: int32
          type: integer
        screenIds:
          description: Subset of login screens.
          items:
            type: string
          type: array
      type: object
    EncounteredNonAndroidUiWidgetScreen:
      description: Additional details about encountered screens with elements that are not Android UI widgets.
      properties:
        distinctScreens:
          description: Number of encountered distinct screens with non Android UI widgets.
          format: int32
          type: integer
        screenIds:
          description: Subset of screens which contain non Android UI widgets.
          items:
            type: string
          type: array
      type: object
    Environment:
      description: An Environment represents the set of test runs (Steps) from the parent Execution that are configured with the same set of dimensions (Model, Version, Locale, and Orientation). Multiple such runs occur particularly because of features like sharding (splitting up a test suite to run in parallel across devices) and reruns (running a test multiple times to check for different outcomes).
      properties:
        completionTime:
          $ref: "#/components/schemas/Timestamp"
          description: Output only. The time when the Environment status was set to complete. This value will be set automatically when state transitions to COMPLETE.
        creationTime:
          $ref: "#/components/schemas/Timestamp"
          description: Output only. The time when the Environment was created.
        dimensionValue:
          description: 'Dimension values describing the environment. Dimension values always consist of "Model", "Version", "Locale", and "Orientation". - In response: always set - In create request: always set - In update request: never set'
          items:
            $ref: "#/components/schemas/EnvironmentDimensionValueEntry"
          type: array
        displayName:
          description: "A short human-readable name to display in the UI. Maximum of 100 characters. For example: Nexus 5, API 27."
          type: string
        environmentId:
          description: Output only. An Environment id.
          type: string
        environmentResult:
          $ref: "#/components/schemas/MergedResult"
          description: Merged result of the environment.
        executionId:
          description: Output only. An Execution id.
          type: string
        historyId:
          description: Output only. A History id.
          type: string
        projectId:
          description: Output only. A Project id.
          type: string
        resultsStorage:
          $ref: "#/components/schemas/ResultsStorage"
          description: The location where output files are stored in the user bucket.
        shardSummaries:
          description: Output only. Summaries of shards. Only one shard will present unless sharding feature is enabled in TestExecutionService.
          items:
            $ref: "#/components/schemas/ShardSummary"
          type: array
      type: object
    EnvironmentDimensionValueEntry:
      properties:
        key:
          type: string
        value:
          type: string
      type: object
    Execution:
      description: "An Execution represents a collection of Steps. For instance, it could represent: - a mobile test executed across a range of device configurations - a jenkins job with a build step followed by a test step The maximum size of an execution message is 1 MiB. An Execution can be updated until its state is set to COMPLETE at which point it becomes immutable. Next tag: 17"
      properties:
        completionTime:
          $ref: "#/components/schemas/Timestamp"
          description: "The time when the Execution status transitioned to COMPLETE. This value will be set automatically when state transitions to COMPLETE. - In response: set if the execution state is COMPLETE. - In create/update request: never set"
        creationTime:
          $ref: "#/components/schemas/Timestamp"
          description: "The time when the Execution was created. This value will be set automatically when CreateExecution is called. - In response: always set - In create/update request: never set"
        dimensionDefinitions:
          description: "The dimensions along which different steps in this execution may vary. This must remain fixed over the life of the execution. Returns INVALID_ARGUMENT if this field is set in an update request. Returns INVALID_ARGUMENT if the same name occurs in more than one dimension_definition. Returns INVALID_ARGUMENT if the size of the list is over 100. - In response: present if set by create - In create request: optional - In update request: never set"
          items:
            $ref: "#/components/schemas/MatrixDimensionDefinition"
          type: array
        executionId:
          description: "A unique identifier within a History for this Execution. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create/update request: never set"
          type: string
        outcome:
          $ref: "#/components/schemas/Outcome"
          description: "Classify the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional"
        specification:
          $ref: "#/components/schemas/Specification"
          description: "Lightweight information about execution request. - In response: present if set by create - In create: optional - In update: optional"
        state:
          description: "The initial state is IN_PROGRESS. The only legal state transitions is from IN_PROGRESS to COMPLETE. A PRECONDITION_FAILED will be returned if an invalid transition is requested. The state can only be set to COMPLETE once. A FAILED_PRECONDITION will be returned if the state is set to COMPLETE multiple times. If the state is set to COMPLETE, all the in-progress steps within the execution will be set as COMPLETE. If the outcome of the step is not set, the outcome will be set to INCONCLUSIVE. - In response always set - In create/update request: optional"
          enum:
            - unknownState
            - pending
            - inProgress
            - complete
          type: string
        testExecutionMatrixId:
          description: "TestExecution Matrix ID that the TestExecutionService uses. - In response: present if set by create - In create: optional - In update: never set"
          type: string
      type: object
    FailedToInstall:
      description: Failed to install the APK.
      properties: {}
      type: object
    FailureDetail:
      description: Details for an outcome with a FAILURE outcome summary.
      properties:
        crashed:
          description: If the failure was severe because the system (app) under test crashed.
          type: boolean
        deviceOutOfMemory:
          description: If the device ran out of memory during a test, causing the test to crash.
          type: boolean
        failedRoboscript:
          description: If the Roboscript failed to complete successfully, e.g., because a Roboscript action or assertion failed or a Roboscript action could not be matched during the entire crawl.
          type: boolean
        notInstalled:
          description: If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.
          type: boolean
        otherNativeCrash:
          description: If a native process (including any other than the app) crashed.
          type: boolean
        timedOut:
          description: If the test overran some time limit, and that is why it failed.
          type: boolean
        unableToCrawl:
          description: If the robo was unable to crawl the app; perhaps because the app did not start.
          type: boolean
      type: object
    FatalException:
      description: Additional details for a fatal exception.
      properties:
        stackTrace:
          $ref: "#/components/schemas/StackTrace"
          description: The stack trace of the fatal exception. Optional.
      type: object
    FileReference:
      description: A reference to a file.
      properties:
        fileUri:
          description: "The URI of a file stored in Google Cloud Storage. For example: http://storage.googleapis.com/mybucket/path/to/test.xml or in gsutil format: gs://mybucket/path/to/test.xml with version-specific info, gs://mybucket/path/to/test.xml#1360383693690000 An INVALID_ARGUMENT error will be returned if the URI format is not supported. - In response: always set - In create/update request: always set"
          type: string
      type: object
    GraphicsStats:
      description: "Graphics statistics for the App. The information is collected from 'adb shell dumpsys graphicsstats'. For more info see: https://developer.android.com/training/testing/performance.html Statistics will only be present for API 23+."
      properties:
        buckets:
          description: Histogram of frame render times. There should be 154 buckets ranging from [5ms, 6ms) to [4950ms, infinity)
          items:
            $ref: "#/components/schemas/GraphicsStatsBucket"
          type: array
        highInputLatencyCount:
          description: Total "high input latency" events.
          format: int64
          type: string
        jankyFrames:
          description: Total frames with slow render time. Should be <= total_frames.
          format: int64
          type: string
        missedVsyncCount:
          description: Total "missed vsync" events.
          format: int64
          type: string
        p50Millis:
          description: 50th percentile frame render time in milliseconds.
          format: int64
          type: string
        p90Millis:
          description: 90th percentile frame render time in milliseconds.
          format: int64
          type: string
        p95Millis:
          description: 95th percentile frame render time in milliseconds.
          format: int64
          type: string
        p99Millis:
          description: 99th percentile frame render time in milliseconds.
          format: int64
          type: string
        slowBitmapUploadCount:
          description: Total "slow bitmap upload" events.
          format: int64
          type: string
        slowDrawCount:
          description: Total "slow draw" events.
          format: int64
          type: string
        slowUiThreadCount:
          description: Total "slow UI thread" events.
          format: int64
          type: string
        totalFrames:
          description: Total frames rendered by package.
          format: int64
          type: string
      type: object
    GraphicsStatsBucket:
      properties:
        frameCount:
          description: Number of frames in the bucket.
          format: int64
          type: string
        renderMillis:
          description: Lower bound of render time in milliseconds.
          format: int64
          type: string
      type: object
    History:
      description: A History represents a sorted list of Executions ordered by the start_timestamp_millis field (descending). It can be used to group all the Executions of a continuous build. Note that the ordering only operates on one-dimension. If a repository has multiple branches, it means that multiple histories will need to be used in order to order Executions per branch.
      properties:
        displayName:
          description: "A short human-readable (plain text) name to display in the UI. Maximum of 100 characters. - In response: present if set during create. - In create request: optional"
          type: string
        historyId:
          description: "A unique identifier within a project for this History. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create request: never set"
          type: string
        name:
          description: "A name to uniquely identify a history within a project. Maximum of 200 characters. - In response always set - In create request: always set"
          type: string
        testPlatform:
          description: "The platform of the test history. - In response: always set. Returns the platform of the last execution if unknown."
          enum:
            - unknownPlatform
            - android
            - ios
          type: string
      type: object
    Image:
      description: An image, with a link to the main image and a thumbnail.
      properties:
        error:
          $ref: "#/components/schemas/Status"
          description: An error explaining why the thumbnail could not be rendered.
        sourceImage:
          $ref: "#/components/schemas/ToolOutputReference"
          description: A reference to the full-size, original image. This is the same as the tool_outputs entry for the image under its Step. Always set.
        stepId:
          description: The step to which the image is attached. Always set.
          type: string
        thumbnail:
          $ref: "#/components/schemas/Thumbnail"
          description: The thumbnail.
      type: object
    InAppPurchasesFound:
      description: Additional details of in-app purchases encountered during the crawl.
      properties:
        inAppPurchasesFlowsExplored:
          description: "The total number of in-app purchases flows explored: how many times the robo tries to buy a SKU."
          format: int32
          type: integer
        inAppPurchasesFlowsStarted:
          description: The total number of in-app purchases flows started.
          format: int32
          type: integer
      type: object
    InconclusiveDetail:
      description: Details for an outcome with an INCONCLUSIVE outcome summary.
      properties:
        abortedByUser:
          description: If the end user aborted the test execution before a pass or fail could be determined. For example, the user pressed ctrl-c which sent a kill signal to the test runner while the test was running.
          type: boolean
        hasErrorLogs:
          description: If results are being provided to the user in certain cases of infrastructure failures
          type: boolean
        infrastructureFailure:
          description: If the test runner could not determine success or failure because the test depends on a component other than the system under test which failed. For example, a mobile test requires provisioning a device where the test executes, and that provisioning can fail.
          type: boolean
      type: object
    IndividualOutcome:
      description: Step Id and outcome of each individual step that was run as a group with other steps with the same configuration.
      properties:
        multistepNumber:
          description: Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0.
          format: int32
          type: integer
        outcomeSummary:
          enum:
            - unset
            - success
            - failure
            - inconclusive
            - skipped
            - flaky
          type: string
        runDuration:
          $ref: "#/components/schemas/Duration"
          description: How long it took for this step to run.
        stepId:
          type: string
      type: object
    InsufficientCoverage:
      description: A warning that Robo did not crawl potentially important parts of the app.
      properties: {}
      type: object
    IosAppCrashed:
      description: Additional details for an iOS app crash.
      properties:
        stackTrace:
          $ref: "#/components/schemas/StackTrace"
          description: The stack trace, if one is available. Optional.
      type: object
    IosAppInfo:
      description: iOS app information
      properties:
        name:
          description: The name of the app. Required
          type: string
      type: object
    IosRoboTest:
      description: A Robo test for an iOS application.
      properties: {}
      type: object
    IosTest:
      description: A iOS mobile test specification
      properties:
        iosAppInfo:
          $ref: "#/components/schemas/IosAppInfo"
          description: Information about the application under test.
        iosRoboTest:
          $ref: "#/components/schemas/IosRoboTest"
          description: An iOS Robo test.
        iosTestLoop:
          $ref: "#/components/schemas/IosTestLoop"
          description: An iOS test loop.
        iosXcTest:
          $ref: "#/components/schemas/IosXcTest"
          description: An iOS XCTest.
        testTimeout:
          $ref: "#/components/schemas/Duration"
          description: Max time a test is allowed to run before it is automatically cancelled.
      type: object
    IosTestLoop:
      description: A game loop test of an iOS application.
      properties:
        bundleId:
          description: Bundle ID of the app.
          type: string
      type: object
    IosXcTest:
      description: A test of an iOS application that uses the XCTest framework.
      properties:
        bundleId:
          description: Bundle ID of the app.
          type: string
        xcodeVersion:
          description: Xcode version that the test was run with.
          type: string
      type: object
    LauncherActivityNotFound:
      description: Failed to find the launcher activity of an app.
      properties: {}
      type: object
    ListEnvironmentsResponse:
      description: Response message for EnvironmentService.ListEnvironments.
      properties:
        environments:
          description: Environments. Always set.
          items:
            $ref: "#/components/schemas/Environment"
          type: array
        executionId:
          description: A Execution id Always set.
          type: string
        historyId:
          description: A History id. Always set.
          type: string
        nextPageToken:
          description: A continuation token to resume the query at the next item. Will only be set if there are more Environments to fetch.
          type: string
        projectId:
          description: A Project id. Always set.
          type: string
      type: object
    ListExecutionsResponse:
      properties:
        executions:
          description: Executions. Always set.
          items:
            $ref: "#/components/schemas/Execution"
          type: array
        nextPageToken:
          description: A continuation token to resume the query at the next item. Will only be set if there are more Executions to fetch.
          type: string
      type: object
    ListHistoriesResponse:
      description: Response message for HistoryService.List
      properties:
        histories:
          description: Histories.
          items:
            $ref: "#/components/schemas/History"
          type: array
        nextPageToken:
          description: A continuation token to resume the query at the next item. Will only be set if there are more histories to fetch. Tokens are valid for up to one hour from the time of the first list request. For instance, if you make a list request at 1PM and use the token from this first request 10 minutes later, the token from this second response will only be valid for 50 minutes.
          type: string
      type: object
    ListPerfSampleSeriesResponse:
      properties:
        perfSampleSeries:
          description: The resulting PerfSampleSeries sorted by id
          items:
            $ref: "#/components/schemas/PerfSampleSeries"
          type: array
      type: object
    ListPerfSamplesResponse:
      properties:
        nextPageToken:
          description: Optional, returned if result size exceeds the page size specified in the request (or the default page size, 500, if unspecified). It indicates the last sample timestamp to be used as page_token in subsequent request
          type: string
        perfSamples:
          items:
            $ref: "#/components/schemas/PerfSample"
          type: array
      type: object
    ListScreenshotClustersResponse:
      properties:
        clusters:
          description: The set of clusters associated with an execution Always set
          items:
            $ref: "#/components/schemas/ScreenshotCluster"
          type: array
      type: object
    ListStepAccessibilityClustersResponse:
      description: Response message for AccessibilityService.ListStepAccessibilityClusters.
      properties:
        clusters:
          description: A sequence of accessibility suggestions, grouped into clusters. Within the sequence, clusters that belong to the same SuggestionCategory should be adjacent. Within each category, clusters should be ordered by their SuggestionPriority (ERRORs first). The categories should be ordered by their highest priority cluster.
          items:
            $ref: "#/components/schemas/SuggestionClusterProto"
          type: array
        name:
          description: A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Always presents.
          type: string
      type: object
    ListStepThumbnailsResponse:
      description: A response containing the thumbnails in a step.
      properties:
        nextPageToken:
          description: A continuation token to resume the query at the next item. If set, indicates that there are more thumbnails to read, by calling list again with this value in the page_token field.
          type: string
        thumbnails:
          description: "A list of image data. Images are returned in a deterministic order; they are ordered by these factors, in order of importance: * First, by their associated test case. Images without a test case are considered greater than images with one. * Second, by their creation time. Images without a creation time are greater than images with one. * Third, by the order in which they were added to the step (by calls to CreateStep or UpdateStep)."
          items:
            $ref: "#/components/schemas/Image"
          type: array
      type: object
    ListStepsResponse:
      description: Response message for StepService.List.
      properties:
        nextPageToken:
[...]
