swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /fusiontables/v1
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: API for working with Fusion Tables data.
  title: Fusion Tables
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/fusiontables/v1/rest'
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: fusiontables
externalDocs:
  url: 'https://developers.google.com/fusiontables'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/fusiontables': Manage your Fusion Tables
      'https://www.googleapis.com/auth/fusiontables.readonly': View your Fusion Tables
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - csv
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: column
  - name: query
  - name: style
  - name: table
  - name: task
  - name: template
paths:
  /query:
    get:
      description: Executes an SQL SELECT/SHOW/DESCRIBE statement.
      operationId: fusiontables.query.sqlGet
      parameters:
        - description: An SQL SELECT/SHOW/DESCRIBE statement.
          in: query
          name: sql
          required: true
          type: string
        - description: Should column names be included (in the first row)?. Default is true.
          in: query
          name: hdrs
          type: boolean
        - description: Should typed values be returned in the (JSON) response -- numbers for numeric values and parsed geometries for KML values? Default is true.
          in: query
          name: typed
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Sqlresponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables.readonly'
      tags:
        - query
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Executes an SQL SELECT/INSERT/UPDATE/DELETE/SHOW/DESCRIBE/CREATE statement.
      operationId: fusiontables.query.sql
      parameters:
        - description: An SQL SELECT/SHOW/DESCRIBE/INSERT/UPDATE/DELETE/CREATE statement.
          in: query
          name: sql
          required: true
          type: string
        - description: Should column names be included (in the first row)?. Default is true.
          in: query
          name: hdrs
          type: boolean
        - description: Should typed values be returned in the (JSON) response -- numbers for numeric values and parsed geometries for KML values? Default is true.
          in: query
          name: typed
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Sqlresponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables.readonly'
      tags:
        - query
  /tables:
    get:
      description: Retrieves a list of tables a user owns.
      operationId: fusiontables.table.list
      parameters:
        - description: Maximum number of styles to return. Optional. Default is 5.
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: Continuation token specifying which result page to return. Optional.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TableList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables.readonly'
      tags:
        - table
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new table.
      operationId: fusiontables.table.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Table'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Table'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - table
  /tables/import:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - application/octet-stream
      description: Import a new table.
      operationId: fusiontables.table.importTable
      parameters:
        - description: The name to be assigned to the new table.
          in: query
          name: name
          required: true
          type: string
        - description: 'The delimiter used to separate cell values. This can only consist of a single character. Default is '',''.'
          in: query
          name: delimiter
          type: string
        - description: The encoding of the content. Default is UTF-8. Use 'auto-detect' if you are unsure of the encoding.
          in: query
          name: encoding
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Table'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - table
  '/tables/{tableId}':
    delete:
      description: Deletes a table.
      operationId: fusiontables.table.delete
      parameters:
        - description: ID of the table that is being deleted.
          in: path
          name: tableId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - table
    get:
      description: Retrieves a specific table by its id.
      operationId: fusiontables.table.get
      parameters:
        - description: Identifier(ID) for the table being requested.
          in: path
          name: tableId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Table'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables.readonly'
      tags:
        - table
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: 'Updates an existing table. Unless explicitly requested, only the name, description, and attribution will be updated. This method supports patch semantics.'
      operationId: fusiontables.table.patch
      parameters:
        - description: ID of the table that is being updated.
          in: path
          name: tableId
          required: true
          type: string
        - description: Should the view definition also be updated? The specified view definition replaces the existing one. Only a view can be updated with a new definition.
          in: query
          name: replaceViewDefinition
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Table'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Table'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - table
    put:
      description: 'Updates an existing table. Unless explicitly requested, only the name, description, and attribution will be updated.'
      operationId: fusiontables.table.update
      parameters:
        - description: ID of the table that is being updated.
          in: path
          name: tableId
          required: true
          type: string
        - description: Should the view definition also be updated? The specified view definition replaces the existing one. Only a view can be updated with a new definition.
          in: query
          name: replaceViewDefinition
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Table'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Table'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - table
  '/tables/{tableId}/columns':
    get:
      description: Retrieves a list of columns.
      operationId: fusiontables.column.list
      parameters:
        - description: Table whose columns are being listed.
          in: path
          name: tableId
          required: true
          type: string
        - description: Maximum number of columns to return. Optional. Default is 5.
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: Continuation token specifying which result page to return. Optional.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ColumnList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables.readonly'
      tags:
        - column
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Adds a new column to the table.
      operationId: fusiontables.column.insert
      parameters:
        - description: Table for which a new column is being added.
          in: path
          name: tableId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Column'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Column'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - column
  '/tables/{tableId}/columns/{columnId}':
    delete:
      description: Deletes the column.
      operationId: fusiontables.column.delete
      parameters:
        - description: Table from which the column is being deleted.
          in: path
          name: tableId
          required: true
          type: string
        - description: Name or identifier for the column being deleted.
          in: path
          name: columnId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - column
    get:
      description: Retrieves a specific column by its id.
      operationId: fusiontables.column.get
      parameters:
        - description: Table to which the column belongs.
          in: path
          name: tableId
          required: true
          type: string
        - description: Name or identifier for the column that is being requested.
          in: path
          name: columnId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Column'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables.readonly'
      tags:
        - column
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates the name or type of an existing column. This method supports patch semantics.
      operationId: fusiontables.column.patch
      parameters:
        - description: Table for which the column is being updated.
          in: path
          name: tableId
          required: true
          type: string
        - description: Name or identifier for the column that is being updated.
          in: path
          name: columnId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Column'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Column'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - column
    put:
      description: Updates the name or type of an existing column.
      operationId: fusiontables.column.update
      parameters:
        - description: Table for which the column is being updated.
          in: path
          name: tableId
          required: true
          type: string
        - description: Name or identifier for the column that is being updated.
          in: path
          name: columnId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Column'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Column'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - column
  '/tables/{tableId}/copy':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Copies a table.
      operationId: fusiontables.table.copy
      parameters:
        - description: ID of the table that is being copied.
          in: path
          name: tableId
          required: true
          type: string
        - description: 'Whether to also copy tabs, styles, and templates. Default is false.'
          in: query
          name: copyPresentation
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Table'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables.readonly'
      tags:
        - table
  '/tables/{tableId}/import':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - application/octet-stream
      description: Import more rows into a table.
      operationId: fusiontables.table.importRows
      parameters:
        - description: The table into which new rows are being imported.
          in: path
          name: tableId
          required: true
          type: string
        - description: 'The delimiter used to separate cell values. This can only consist of a single character. Default is '',''.'
          in: query
          name: delimiter
          type: string
        - description: The encoding of the content. Default is UTF-8. Use 'auto-detect' if you are unsure of the encoding.
          in: query
          name: encoding
          type: string
        - description: 'The index of the last line from which to start importing, exclusive. Thus, the number of imported lines is endLine - startLine. If this parameter is not provided, the file will be imported until the last line of the file. If endLine is negative, then the imported content will exclude the last endLine lines. That is, if endline is negative, no line will be imported whose index is greater than N + endLine where N is the number of lines in the file, and the number of imported lines will be N + endLine - startLine.'
          in: query
          name: endLine
          type: integer
        - description: 'Whether the CSV must have the same number of values for each row. If false, rows with fewer values will be padded with empty values. Default is true.'
          in: query
          name: isStrict
          type: boolean
        - description: 'The index of the first line from which to start importing, inclusive. Default is 0.'
          in: query
          name: startLine
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Import'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - table
  '/tables/{tableId}/styles':
    get:
      description: Retrieves a list of styles.
      operationId: fusiontables.style.list
      parameters:
        - description: Table whose styles are being listed
          in: path
          name: tableId
          required: true
          type: string
        - description: Maximum number of styles to return. Optional. Default is 5.
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: Continuation token specifying which result page to return. Optional.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StyleSettingList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables.readonly'
      tags:
        - style
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Adds a new style for the table.
      operationId: fusiontables.style.insert
      parameters:
        - description: Table for which a new style is being added
          in: path
          name: tableId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/StyleSetting'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StyleSetting'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - style
  '/tables/{tableId}/styles/{styleId}':
    delete:
      description: Deletes a style.
      operationId: fusiontables.style.delete
      parameters:
        - description: Table from which the style is being deleted
          in: path
          name: tableId
          required: true
          type: string
        - description: Identifier (within a table) for the style being deleted
          in: path
          name: styleId
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - style
    get:
      description: Gets a specific style.
      operationId: fusiontables.style.get
      parameters:
        - description: Table to which the requested style belongs
          in: path
          name: tableId
          required: true
          type: string
        - description: Identifier (integer) for a specific style in a table
          in: path
          name: styleId
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StyleSetting'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables.readonly'
      tags:
        - style
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing style. This method supports patch semantics.
      operationId: fusiontables.style.patch
      parameters:
        - description: Table whose style is being updated.
          in: path
          name: tableId
          required: true
          type: string
        - description: Identifier (within a table) for the style being updated.
          in: path
          name: styleId
          required: true
          type: integer
        - in: body
          name: body
          schema:
            $ref: '#/definitions/StyleSetting'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StyleSetting'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - style
    put:
      description: Updates an existing style.
      operationId: fusiontables.style.update
      parameters:
        - description: Table whose style is being updated.
          in: path
          name: tableId
          required: true
          type: string
        - description: Identifier (within a table) for the style being updated.
          in: path
          name: styleId
          required: true
          type: integer
        - in: body
          name: body
          schema:
            $ref: '#/definitions/StyleSetting'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StyleSetting'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - style
  '/tables/{tableId}/tasks':
    get:
      description: Retrieves a list of tasks.
      operationId: fusiontables.task.list
      parameters:
        - description: Table whose tasks are being listed.
          in: path
          name: tableId
          required: true
          type: string
        - description: Maximum number of columns to return. Optional. Default is 5.
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - in: query
          name: pageToken
          type: string
        - in: query
          name: startIndex
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TaskList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables.readonly'
      tags:
        - task
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/tables/{tableId}/tasks/{taskId}':
    delete:
      description: 'Deletes the task, unless already started.'
      operationId: fusiontables.task.delete
      parameters:
        - description: Table from which the task is being deleted.
          in: path
          name: tableId
          required: true
          type: string
        - in: path
          name: taskId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - task
    get:
      description: Retrieves a specific task by its id.
      operationId: fusiontables.task.get
      parameters:
        - description: Table to which the task belongs.
          in: path
          name: tableId
          required: true
          type: string
        - in: path
          name: taskId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Task'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables.readonly'
      tags:
        - task
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/tables/{tableId}/templates':
    get:
      description: Retrieves a list of templates.
      operationId: fusiontables.template.list
      parameters:
        - description: Identifier for the table whose templates are being requested
          in: path
          name: tableId
          required: true
          type: string
        - description: Maximum number of templates to return. Optional. Default is 5.
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: Continuation token specifying which results page to return. Optional.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TemplateList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables.readonly'
      tags:
        - template
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new template for the table.
      operationId: fusiontables.template.insert
      parameters:
        - description: Table for which a new template is being created
          in: path
          name: tableId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Template'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Template'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - template
  '/tables/{tableId}/templates/{templateId}':
    delete:
      description: Deletes a template
      operationId: fusiontables.template.delete
      parameters:
        - description: Table from which the template is being deleted
          in: path
          name: tableId
          required: true
          type: string
        - description: Identifier for the template which is being deleted
          in: path
          name: templateId
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - template
    get:
      description: Retrieves a specific template by its id
      operationId: fusiontables.template.get
      parameters:
        - description: Table to which the template belongs
          in: path
          name: tableId
          required: true
          type: string
        - description: Identifier for the template that is being requested
          in: path
          name: templateId
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Template'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables.readonly'
      tags:
        - template
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing template. This method supports patch semantics.
      operationId: fusiontables.template.patch
      parameters:
        - description: Table to which the updated template belongs
          in: path
          name: tableId
          required: true
          type: string
        - description: Identifier for the template that is being updated
          in: path
          name: templateId
          required: true
          type: integer
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Template'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Template'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - template
    put:
      description: Updates an existing template
      operationId: fusiontables.template.update
      parameters:
        - description: Table to which the updated template belongs
          in: path
          name: tableId
          required: true
          type: string
        - description: Identifier for the template that is being updated
          in: path
          name: templateId
          required: true
          type: integer
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Template'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Template'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/fusiontables'
      tags:
        - template
definitions:
  Bucket:
    description: 'Specifies the minimum and maximum values, the color, opacity, icon and weight of a bucket within a StyleSetting.'
    properties:
      color:
        description: 'Color of line or the interior of a polygon in #RRGGBB format.'
        type: string
      icon:
        description: Icon name used for a point.
        type: string
      max:
        description: 'Maximum value in the selected column for a row to be styled according to the bucket color, opacity, icon, or weight.'
        format: double
        type: number
      min:
        description: 'Minimum value in the selected column for a row to be styled according to the bucket color, opacity, icon, or weight.'
        format: double
        type: number
      opacity:
        description: 'Opacity of the color: 0.0 (transparent) to 1.0 (opaque).'
        format: double
        type: number
      weight:
        description: Width of a line (in pixels).
        format: int32
        type: integer
    type: object
  Column:
    description: 'Specifies the id, name and type of a column in a table.'
    properties:
      baseColumn:
        description: 'Optional identifier of the base column. If present, this column is derived from the specified base column.'
        properties:
          columnId:
            description: The id of the column in the base table from which this column is derived.
            format: int32
            type: integer
          tableIndex:
            description: Offset to the entry in the list of base tables in the table definition.
            format: int32
            type: integer
        type: object
      columnId:
        description: Identifier for the column.
        format: int32
        type: integer
      description:
        description: Optional column description.
        type: string
      graph_predicate:
        description: 'Optional column predicate. Used to map table to graph data model (subject,predicate,object) See http://www.w3.org/TR/2014/REC-rdf11-concepts-20140225/#data-model'
        type: string
      kind:
        default: 'fusiontables#column'
        description: 'Type name: a template for an individual column.'
        type: string
      name:
        description: Required name of the column.
        type: string
      type:
        description: Required type of the column.
        type: string
    type: object
  ColumnList:
    description: Represents a list of columns in a table.
    properties:
      items:
        description: List of all requested columns.
        items:
          $ref: '#/definitions/Column'
        type: array
      kind:
        default: 'fusiontables#columnList'
        description: 'Type name: a list of all columns.'
        type: string
      nextPageToken:
        description: Token used to access the next page of this result. No token is displayed if there are no more pages left.
        type: string
      totalItems:
        description: Total number of columns for the table.
        format: int32
        type: integer
    type: object
  Geometry:
    description: Represents a Geometry object.
    properties:
      geometries:
        description: The list of geometries in this geometry collection.
        items: {}
        type: array
      geometry: {}
      type:
        default: GeometryCollection
        description: 'Type: A collection of geometries.'
        type: string
    type: object
  Import:
    description: Represents an import request.
    properties:
      kind:
        default: 'fusiontables#import'
        description: 'Type name: a template for an import request.'
        type: string
      numRowsReceived:
        description: The number of rows received from the import request.
        format: int64
        type: string
    type: object
  Line:
    description: Represents a line geometry.
    properties:
      coordinates:
        description: The coordinates that define the line.
        items:
          items:
            format: double
            type: number
          type: array
        type: array
      type:
        default: LineString
        description: 'Type: A line geometry.'
        type: string
    type: object
  LineStyle:
    description: Represents a LineStyle within a StyleSetting
    properties:
      strokeColor:
        description: 'Color of the line in #RRGGBB format.'
        type: string
      strokeColorStyler:
        $ref: '#/definitions/StyleFunction'
        description: 'Column-value, gradient or buckets styler that is used to determine the line color and opacity.'
      strokeOpacity:
        description: 'Opacity of the line : 0.0 (transparent) to 1.0 (opaque).'
        format: double
        type: number
      strokeWeight:
        description: Width of the line in pixels.
        format: int32
        type: integer
      strokeWeightStyler:
        $ref: '#/definitions/StyleFunction'
        description: Column-value or bucket styler that is used to determine the width of the line.
    type: object
  Point:
    description: Represents a point object.
    properties:
      coordinates:
        description: The coordinates that define the point.
        items:
          format: double
          type: number
        type: array
      type:
        default: Point
        description: 'Point: A point geometry.'
        type: string
    type: object
  PointStyle:
    description: Represents a PointStyle within a StyleSetting
    properties:
      iconName:
        description: 'Name of the icon. Use values defined in http://www.google.com/fusiontables/DataSource?dsrcid=308519'
        type: string
      iconStyler:
        $ref: '#/definitions/StyleFunction'
        description: Column or a bucket value from which the icon name is to be determined.
    type: object
  Polygon:
    description: Represents a polygon object.
    properties:
      coordinates:
        description: The coordinates that define the polygon.
        items:
          items:
            items:
              format: double
              type: number
            type: array
          type: array
        type: array
      type:
        default: Polygon
        description: 'Type: A polygon geometry.'
        type: string
    type: object
  PolygonStyle:
    description: Represents a PolygonStyle within a StyleSetting
    properties:
      fillColor:
        description: 'Color of the interior of the polygon in #RRGGBB format.'
        type: string
      fillColorStyler:
        $ref: '#/definitions/StyleFunction'
        description: 'Column-value, gradient, or bucket styler that is used to determine the interior color and opacity of the polygon.'
      fillOpacity:
        description: 'Opacity of the interior of the polygon: 0.0 (transparent) to 1.0 (opaque).'
        format: double
        type: number
      strokeColor:
        description: 'Color of the polygon border in #RRGGBB format.'
        type: string
      strokeColorStyler:
        $ref: '#/definitions/StyleFunction'
        description: 'Column-value, gradient or buckets styler that is used to determine the border color and opacity.'
      strokeOpacity:
        description: 'Opacity of the polygon border: 0.0 (transparent) to 1.0 (opaque).'
        format: double
        type: number
      strokeWeight:
        description: Width of the polyon border in pixels.
        format: int32
        type: integer
      strokeWeightStyler:
        $ref: '#/definitions/StyleFunction'
        description: Column-value or bucket styler that is used to determine the width of the polygon border.
    type: object
  Sqlresponse:
    description: Represents a response to an sql statement.
    properties:
      columns:
        description: Columns in the table.
        items:
          type: string
        type: array
      kind:
        default: 'fusiontables#sqlresponse'
        description: 'Type name: a template for an individual table.'
        type: string
      rows:
        description: 'The rows in the table. For each cell we print out whatever cell value (e.g., numeric, string) exists. Thus it is important that each cell contains only one value.'
        items:
          items: {}
          type: array
        type: array
    type: object
  StyleFunction:
    description: Represents a StyleFunction within a StyleSetting
    properties:
      buckets:
        description: Bucket function that assigns a style based on the range a column value falls into.
        items:
          $ref: '#/definitions/Bucket'
        type: array
      columnName:
        description: Name of the column whose value is used in the style.
        type: string
      gradient:
        description: Gradient function that interpolates a range of colors based on column value.
        properties:
          colors:
            description: Array with two or more colors.
            items:
              properties:
                color:
                  description: 'Color in #RRGGBB format.'
                  type: string
                opacity:
                  description: 'Opacity of the color: 0.0 (transparent) to 1.0 (opaque).'
                  format: double
                  type: number
              type: object
            type: array
          max:
            description: 'Higher-end of the interpolation range: rows with this value will be assigned to colors[n-1].'
            format: double
            type: number
          min:
            description: 'Lower-end of the interpolation range: rows with this value will be assigned to colors[0].'
            format: double
            type: number
        type: object
      kind:
        description: 'Stylers can be one of three kinds: "fusiontables#fromColumn" if the column value is to be used as is, i.e., the column values can have colors in #RRGGBBAA format or integer line widths or icon names; "fusiontables#gradient" if the styling of the row is to be based on applying the gradient function on the column value; or "fusiontables#buckets" if the styling is to based on the bucket into which the the column value falls.'
        type: string
    type: object
  StyleSetting:
    description: Represents a complete StyleSettings object. The primary key is a combination of the tableId and a styleId.
    properties:
      kind:
        default: 'fusiontables#styleSetting'
        description: 'Type name: an individual style setting. A StyleSetting contains the style defintions for points, lines, and polygons in a table. Since a table can have any one or all of them, a style definition can have point, line and polygon style definitions.'
        type: string
      markerOptions:
        $ref: '#/definitions/PointStyle'
        description: Style definition for points in the table.
      name:
        description: Optional name for the style setting.
        type: string
      polygonOptions:
        $ref: '#/definitions/PolygonStyle'
        description: Style definition for polygons in the table.
      polylineOptions:
        $ref: '#/definitions/LineStyle'
        description: Style definition for lines in the table.
      styleId:
        description: Identifier for the style setting (unique only within tables).
        format: int32
        type: integer
      tableId:
        description: Identifier for the table.
        type: string
    type: object
  StyleSettingList:
    description: Represents a list of styles for a given table.
    properties:
      items:
        description: All requested style settings.
        items:
          $ref: '#/definitions/StyleSetting'
        type: array
      kind:
        default: 'fusiontables#styleSettingList'
        description: 'Type name: in this case, a list of style settings.'
        type: string
      nextPageToken:
        description: Token used to access the next page of this result. No token is displayed if there are no more pages left.
        type: string
      totalItems:
        description: Total number of styles for the table.
        format: int32
        type: integer
    type: object
  Table:
    description: 'Represents a table. Specifies the name, whether it is exportable, description, attribution, and attribution link.'
    properties:
      attribution:
        description: Optional attribution assigned to the table.
        type: string
      attributionLink:
        description: Optional link for attribution.
        type: string
      baseTableIds:
        description: Optional base table identifier if this table is a view or merged table.
        items:
          type: string
        type: array
      columns:
        description: Columns in the table.
        items:
          $ref: '#/definitions/Column'
        type: array
      description:
        description: Optional description assigned to the table.
        type: string
      isExportable:
        description: Variable for whether table is exportable.
        type: boolean
      kind:
        default: 'fusiontables#table'
        description: 'Type name: a template for an individual table.'
        type: string
      name:
        description: Name assigned to a table.
        type: string
      sql:
        description: Optional sql that encodes the table definition for derived tables.
        type: string
      tableId:
        description: Encrypted unique alphanumeric identifier for the table.
        type: string
    type: object
  TableList:
    description: Represents a list of tables.
    properties:
      items:
        description: List of all requested tables.
        items:
          $ref: '#/definitions/Table'
        type: array
      kind:
        default: 'fusiontables#tableList'
        description: 'Type name: a list of all tables.'
        type: string
      nextPageToken:
        description: Token used to access the next page of this result. No token is displayed if there are no more pages left.
        type: string
    type: object
  Task:
    description: 'Specifies the identifier, name, and type of a task in a table.'
    properties:
      kind:
        default: 'fusiontables#task'
        description: 'Type of the resource. This is always "fusiontables#task".'
        type: string
      progress:
        description: An indication of task progress.
        type: string
      started:
        description: false while the table is busy with some other task. true if this background task is currently running.
        type: boolean
      taskId:
        description: Identifier for the task.
        format: int64
        type: string
      type:
        description: Type of background task. One of  DELETE_ROWS Deletes one or more rows from the table. ADD_ROWS "Adds one or more rows to a table. Includes importing data into a new table and importing more rows into an existing table. ADD_COLUMN Adds a new column to the table. CHANGE_TYPE Changes the type of a column.
        type: string
    type: object
  TaskList:
    description: Represents a list of tasks for a table.
    properties:
      items:
        description: List of all requested tasks.
        items:
          $ref: '#/definitions/Task'
        type: array
      kind:
        default: 'fusiontables#taskList'
        description: 'Type of the resource. This is always "fusiontables#taskList".'
        type: string
      nextPageToken:
        description: Token used to access the next page of this result. No token is displayed if there are no more pages left.
        type: string
      totalItems:
        description: Total number of tasks for the table.
        format: int32
        type: integer
    type: object
  Template:
    description: Represents the contents of InfoWindow templates.
    properties:
      automaticColumnNames:
        description: List of columns from which the template is to be automatically constructed. Only one of body or automaticColumns can be specified.
        items:
          type: string
        type: array
      body:
        description: 'Body of the template. It contains HTML with {column_name} to insert values from a particular column. The body is sanitized to remove certain tags, e.g., script. Only one of body or automaticColumns can be specified.'
        type: string
      kind:
        default: 'fusiontables#template'
        description: 'Type name: a template for the info window contents. The template can either include an HTML body or a list of columns from which the template is computed automatically.'
        type: string
      name:
        description: Optional name assigned to a template.
        type: string
      tableId:
        description: Identifier for the table for which the template is defined.
        type: string
      templateId:
        description: 'Identifier for the template, unique within the context of a particular table.'
        format: int32
        type: integer
    type: object
  TemplateList:
    description: Represents a list of templates for a given table.
    properties:
      items:
        description: List of all requested templates.
        items:
          $ref: '#/definitions/Template'
        type: array
      kind:
        default: 'fusiontables#templateList'
        description: 'Type name: a list of all templates.'
        type: string
      nextPageToken:
        description: Token used to access the next page of this result. No token is displayed if there are no more pages left.
        type: string
      totalItems:
        description: Total number of templates for the table.
        format: int32
        type: integer
    type: object
