openapi: 3.0.0
servers:
  - url: //backend.id4i.de
info:
  contact:
    email: info@bluerain.de
    name: BlueRain Software GmbH & Co. KG
    url: http://bluerain.de
  description: ID4i HTTP API
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: http://id4i.de
  title: ID4i API
  version: 1.0.2
  x-apisguru-categories:
    - enterprise
  x-logo:
    backgroundColor: "#FAFAFA"
    url: https://api.apis.guru/v2/cache/logo/https_id4i.de_wp-content_uploads_2017_11_id4d_logo_h87.png
  x-origin:
    - format: openapi
      url: https://backend.id4i.de/docs/swagger.json
      version: "3.0"
  x-providerName: id4i.de
tags:
  - description: User accounts allows people to register for ID4i and login. All permissions and roles for interactive ID4i usage (as opposed to machine-to-machine interactions) are attached to Organizations and User Accounts. The API allows users to register, verify their registration, login and reset their passwords.
    name: Accounts
  - description: Guid Alias Controller
    name: Alias
  - description: Api Key Controller
    name: Api Keys
  - description: Auditing services allow to review changes made by users or api keys. Changelog messages can be resolved as plain text or formatted message with parameters.
    name: Auditing
  - description: Billing Controller
    name: Billing
  - description: Collection Controller
    name: Collections
  - description: Guid Alias Controller
    name: Guids
  - description: Allows to retrieve a GUID's history and to publish new history items.
    name: History
  - description: Services can use images stored with public visibility. This API allows you to retrieve the stored image by ID.
    name: Images
  - description: Organization Messaging Controller
    name: Messaging
  - description: App Info Controller
    name: Meta Information
  - description: Country Controller
    name: Organizations
  - description: Go Controller
    name: Public Services
  - description: Routing Controller
    name: Routing
  - description: Document Storage Controller
    name: Storage
  - description: Id 4n Transfer Controller
    name: Transfer
  - description: Who Is Controller
    name: WhoIs
paths:
  /account/password:
    post:
      description: "Requesting a reset for a new password. "
      operationId: requestPasswordReset
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetRequest"
          application/xml:
            schema:
              $ref: "#/components/schemas/PasswordResetRequest"
        description: Contains the required information to request a new password.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleMessageResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/SimpleMessageResponse"
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      summary: Request password reset
      tags:
        - Accounts
    put:
      description: Setting a new password and verifying the request to set the password.
      operationId: verifyPasswordReset
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetVerificationRequest"
          application/xml:
            schema:
              $ref: "#/components/schemas/PasswordResetVerificationRequest"
        description: Contains the new password and the verification token to set the new password.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleMessageResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/SimpleMessageResponse"
          description: OK
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      summary: Verify password reset
      tags:
        - Accounts
  /account/registration:
    post:
      description: Registering a new user.
      operationId: registerUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRegistrationRequest"
          application/xml:
            schema:
              $ref: "#/components/schemas/UserRegistrationRequest"
        description: The user information about the new created user.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserRegistrationResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/UserRegistrationResponse"
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      summary: Register user
      tags:
        - Accounts
    put:
      description: Completing a registration e.g. for invited users. Finish registration with a username and a password.
      operationId: completeRegistration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteUserRegistrationRequest"
          application/xml:
            schema:
              $ref: "#/components/schemas/CompleteUserRegistrationRequest"
        description: Contains the verification token, the username and the initial password.
        required: true
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      summary: Complete registration
      tags:
        - Accounts
  /account/verification:
    post:
      description: Verifies a new user registration.
      operationId: verifyUserRegistration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegistrationVerificationTokenPresentation"
          application/xml:
            schema:
              $ref: "#/components/schemas/RegistrationVerificationTokenPresentation"
        description: The token for user verification.
        required: true
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      summary: Verify registration
      tags:
        - Accounts
  /api/v1/apikeys:
    get:
      description: Finding all API key assigned to the specified organization in a paginated manner.
      operationId: listAllApiKeysOfOrganization
      parameters:
        - description: The namespace of the organization to search in.
          in: query
          name: organizationId
          required: false
          schema:
            type: string
        - description: Start with the n-th element
          in: query
          name: offset
          required: false
          schema:
            format: int32
            type: integer
        - description: The maximum count of returned elements
          in: query
          name: limit
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfApiKeyPresentation"
            application/xml:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfApiKeyPresentation"
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Find API key by organization
      tags:
        - Api Keys
    post:
      description: Creation of a new API key.
      operationId: createNewApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiKeyCreationRequest"
          application/xml:
            schema:
              $ref: "#/components/schemas/ApiKeyCreationRequest"
        description: API key to be created.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyPresentation"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiKeyPresentation"
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Create API key
      tags:
        - Api Keys
  /api/v1/apikeys/privileges:
    get:
      description: Listing all possible API key privileges.
      operationId: listAllApiKeyPrivileges
      parameters:
        - description: id4nConcerning
          in: query
          name: id4nConcerning
          required: false
          schema:
            type: boolean
        - description: Start with the n-th element
          in: query
          name: offset
          required: false
          schema:
            format: int32
            type: integer
        - description: The maximum count of returned elements
          in: query
          name: limit
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfApiKeyPrivilegeInfo"
            application/xml:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfApiKeyPrivilegeInfo"
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: List all privileges
      tags:
        - Api Keys
  "/api/v1/apikeys/{key}":
    delete:
      description: Deletion of an API key.
      operationId: deleteApiKey
      parameters:
        - description: The API key to delete.
          in: path
          name: key
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Delete API key
      tags:
        - Api Keys
    get:
      description: Showing the details of an API key.
      operationId: getApiKey
      parameters:
        - description: The API key to show.
          in: path
          name: key
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyPresentation"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiKeyPresentation"
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Show API key
      tags:
        - Api Keys
    put:
      description: API keys can be updated with new labels, and be activated and deactivated. The secret or UUID cannot be changed.
      operationId: updateApiKey
      parameters:
        - description: The API key to be updated.
          in: path
          name: key
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiKeyChangeRequest"
          application/xml:
            schema:
              $ref: "#/components/schemas/ApiKeyChangeRequest"
        description: The new values to apply.
        required: true
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Update API keys
      tags:
        - Api Keys
  "/api/v1/apikeys/{key}/privileges":
    delete:
      operationId: removeApiKeyPrivilege
      parameters:
        - description: key
          in: path
          name: key
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveApiKeyPrivilegeRequest"
          application/xml:
            schema:
              $ref: "#/components/schemas/RemoveApiKeyPrivilegeRequest"
        description: removeApiKeyPrivilegeRequest
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Remove privilege
      tags:
        - Api Keys
    get:
      operationId: listApiKeyPrivileges
      parameters:
        - description: key
          in: path
          name: key
          required: true
          schema:
            type: string
        - description: Start with the n-th element
          in: query
          name: offset
          required: false
          schema:
            format: int32
            type: integer
        - description: The maximum count of returned elements
          in: query
          name: limit
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfApiKeyPrivilege"
            application/xml:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfApiKeyPrivilege"
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: List privileges
      tags:
        - Api Keys
    post:
      operationId: addApiKeyPrivilege
      parameters:
        - description: key
          in: path
          name: key
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddApiKeyPrivilegeRequest"
          application/xml:
            schema:
              $ref: "#/components/schemas/AddApiKeyPrivilegeRequest"
        description: addApiKeyPrivilegeRequest
        required: true
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Add privilege
      tags:
        - Api Keys
  "/api/v1/apikeys/{key}/privileges/{privilege}/id4ns":
    delete:
      operationId: removeApiKeyPrivilegeForId4ns
      parameters:
        - description: key
          in: path
          name: key
          required: true
          schema:
            type: string
        - description: privilege
          in: path
          name: privilege
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ListOfId4ns"
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Remove id4ns of a privilege
      tags:
        - Api Keys
    get:
      description: Listing ID4ns of a id4n concerning privilege
      operationId: listId4ns
      parameters:
        - description: key
          in: path
          name: key
          required: true
          schema:
            type: string
        - description: privilege
          in: path
          name: privilege
          required: true
          schema:
            type: string
        - description: Start with the n-th element
          in: query
          name: offset
          required: false
          schema:
            format: int32
            type: integer
        - description: The maximum count of returned elements
          in: query
          name: limit
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfId4nPresentation"
            application/xml:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfId4nPresentation"
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: ID4ns of a privilege
      tags:
        - Api Keys
    post:
      operationId: addApiKeyPrivilegeForId4ns
      parameters:
        - description: key
          in: path
          name: key
          required: true
          schema:
            type: string
        - description: privilege
          in: path
          name: privilege
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ListOfId4ns"
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Add ID4ns of a privilege
      tags:
        - Api Keys
  "/api/v1/billing/{organizationId}":
    get:
      operationId: getSumForOrganization
      parameters:
        - description: The organization to compute the billing information for
          in: path
          name: organizationId
          required: true
          schema:
            type: string
        - description: Billing start date
          in: query
          name: fromDate
          required: false
          schema:
            format: date-time
            type: string
        - description: Billing end date
          in: query
          name: toDate
          required: false
          schema:
            format: date-time
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceCosts"
            application/xml:
              schema:
                $ref: "#/components/schemas/ServiceCosts"
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Get billing amount of services for a given organization
      tags:
        - Billing
  "/api/v1/billing/{organizationId}/positions":
    get:
      operationId: getPositionsForOrganization
      parameters:
        - description: The organization to compute the billing information for
          in: path
          name: organizationId
          required: true
          schema:
            type: string
        - description: Billing start date
          in: query
          name: fromDate
          required: false
          schema:
            format: date-time
            type: string
        - description: Billing end date
          in: query
          name: toDate
          required: false
          schema:
            format: date-time
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BillingPosition"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/BillingPosition"
                type: array
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Get billing positions for a given organization
      tags:
        - Billing
  "/api/v1/changelog/organization/{organizationId}/":
    get:
      description: Listing change log entries of the specified organization id.
      operationId: listOrganizationChangeLog
      parameters:
        - description: The namespace identifying the organization whose change log entries are to be listed
          in: path
          name: organizationId
          required: true
          schema:
            type: string
        - description: "The Mime-type for the message format that should be returned. e.g. 'text/plain' or 'text/mustache' "
          in: query
          name: messageMimeType
          required: false
          schema:
            default: text/mustache
            type: string
        - description: From date time as UTC Date-Time format
          in: query
          name: fromDate
          required: false
          schema:
            format: date-time
            type: string
        - description: To date time as UTC Date-Time format
          in: query
          name: toDate
          required: false
          schema:
            format: date-time
            type: string
        - description: Start with the n-th element
          in: query
          name: offset
          required: false
          schema:
            format: int32
            type: integer
        - description: The maximum count of returned elements
          in: query
          name: limit
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfChangeLogEntry"
            application/xml:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfChangeLogEntry"
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: List change log entries of an organization
      tags:
        - Auditing
  /api/v1/collections:
    post:
      operationId: createCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCollectionRequest"
          application/xml:
            schema:
              $ref: "#/components/schemas/CreateCollectionRequest"
        description: createInfo
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Id4n"
            application/xml:
              schema:
                $ref: "#/components/schemas/Id4n"
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Create collection
      tags:
        - Collections
  "/api/v1/collections/{id4n}":
    delete:
      operationId: deleteCollection
      parameters:
        - description: id4n
          in: path
          name: id4n
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Delete collection
      tags:
        - Collections
    get:
      operationId: findCollection
      parameters:
        - description: id4n
          in: path
          name: id4n
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuidCollection"
            application/xml:
              schema:
                $ref: "#/components/schemas/GuidCollection"
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Find collection
      tags:
        - Collections
    patch:
      description: Update collection changing only the given values
      operationId: updateCollection
      parameters:
        - description: id4n
          in: path
          name: id4n
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GuidCollection"
          application/xml:
            schema:
              $ref: "#/components/schemas/GuidCollection"
        description: request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
          description: OK
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - Authorization: []
      summary: Update collection
      tags:
        - Collections
  "/api/v1/collections/{id4n}/elements":
    delete:
      operationId: removeElementsFromCollection
      parameters:
        - description: id4n
          in: path
          name: id4n
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ListOfId4ns2"
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Remove elements from collection
      tags:
        - Collections
    get:
      operationId: listElementsOfCollection
      parameters:
        - description: id4n
          in: path
          name: id4n
          required: true
          schema:
            type: string
        - description: Start with the n-th element
          in: query
          name: offset
          required: false
          schema:
            format: int32
            type: integer
        - description: The maximum count of returned elements
          in: query
          name: limit
          required: false
          schema:
            format: int32
            type: integer
        - description: The organization namespace.
          in: query
          name: organizationId
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfGuid"
            application/xml:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfGuid"
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: List contents of the collection
      tags:
        - Collections
    post:
      operationId: addElementsToCollection
      parameters:
        - description: id4n
          in: path
          name: id4n
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ListOfId4ns2"
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Add elements to collection
      tags:
        - Collections
  /api/v1/countries:
    get:
      operationId: listCountries
      parameters:
        - description: Start with the n-th element
          in: query
          name: offset
          required: false
          schema:
            format: int32
            type: integer
        - description: The maximum count of returned elements
          in: query
          name: limit
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfCountry"
            application/xml:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfCountry"
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: List countries
      tags:
        - Organizations
  "/api/v1/documents/{id4n}":
    get:
      description: Listing all documents of an id4n
      operationId: listAllDocuments
      parameters:
        - description: id4n
          in: path
          name: id4n
          required: true
          schema:
            type: string
        - description: Filter by owner organization
          in: query
          name: owner
          required: false
          schema:
            type: string
        - description: Start with the n-th element
          in: query
          name: offset
          required: false
          schema:
            format: int32
            type: integer
        - description: The maximum count of returned elements
          in: query
          name: limit
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfDocument"
            application/xml:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfDocument"
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: List documents
      tags:
        - Storage
  "/api/v1/documents/{id4n}/{organizationId}":
    get:
      description: Listing documents of an id4n seen by a specified organization
      operationId: listDocuments
      parameters:
        - description: organizationId
          in: path
          name: organizationId
          required: true
          schema:
            type: string
        - description: id4n
          in: path
          name: id4n
          required: true
          schema:
            type: string
        - description: Filter by owner organization
          in: query
          name: owner
          required: false
          schema:
            type: string
        - description: Start with the n-th element
          in: query
          name: offset
          required: false
          schema:
            format: int32
            type: integer
        - description: The maximum count of returned elements
          in: query
          name: limit
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfDocument"
            application/xml:
              schema:
                $ref: "#/components/schemas/PaginatedResponseOfDocument"
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: List organization specific documents
      tags:
        - Storage
    post:
      description: The documents' mime type is suggested on octet-stream data. Otherwise the specified content mime type is used.
      operationId: createDocument
      parameters:
        - description: organizationId
          in: path
          name: organizationId
          required: true
          schema:
            type: string
        - description: id4n
          in: path
          name: id4n
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/createDocument"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
            application/xml:
              schema:
                $ref: "#/components/schemas/Document"
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Create an document for an id4n
      tags:
        - Storage
    put:
      description: "Creating or overwriting an existing document "
      operationId: putDocument
      parameters:
        - description: organizationId
          in: path
          name: organizationId
          required: true
          schema:
            type: string
        - description: id4n
          in: path
          name: id4n
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/createDocument"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
            application/xml:
              schema:
                $ref: "#/components/schemas/Document"
          description: OK
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal Server Error
      security:
        - Authorization: []
      summary: Put an document for an id4n
      tags:
        - Storage
  "/api/v1/documents/{id4n}/{organizationId}/{fileName}":
    delete:
      operationId: deleteDocument
      parameters:
        - description: organizationId
          in: path
          name: organizationId
          required: true
          schema:
            type: string
        - description: id4n
          in: path
          name: id4n
          required: true
          schema:
            type: string
        - description: fileName
          in: path
          name: fileName
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
            application/xml:
              schema:
[...]
