openapi: 3.0.0
servers:
  - description: Live Server
    url: https://api.rebilly.com/v2.1
  - description: Sandbox Server
    url: https://api-sandbox.rebilly.com/v2.1
info:
  contact:
    email: integrations@rebilly.com
    name: Rebilly API Support
    url: https://www.rebilly.com/contact/
  description: >
    # Introduction

    The Rebilly API is built on HTTP.  Our API is RESTful.  It has predictable

    resource URLs.  It returns HTTP response codes to indicate errors.  It also

    accepts and returns JSON in the HTTP body.  You can use your favorite

    HTTP/REST library for your programming language to use Rebilly's API, or

    you can use one of our SDKs (currently available in [PHP](https://github.com/Rebilly/rebilly-php)

    and [Javascript](https://github.com/Rebilly/rebilly-js-sdk)).


    We have other APIs that are also available.  Every action from our [app](https://app.rebilly.com)

    is supported by an API which is documented and available for use so that you

    may automate any workflows necessary.  This document contains the most commonly

    integrated resources.


    # Authentication

    When you sign up for an account, you are given your first secret API key.

    You can generate additional API keys, and delete API keys (as you may

    need to rotate your keys in the future). You authenticate to the

    Rebilly API by providing your secret key in the request header.


    Rebilly offers three forms of authentication:  secret key, publishable key, JSON Web Tokens, and public signature key.

    - [Secret API key](#section/Authentication/SecretApiKey): used for requests made
      from the server side. Never share these keys. Keep them guarded and secure.
    - [Publishable API key](#section/Authentication/PublishableApiKey): used for
      requests from the client side. For now can only be used to create
      a [Payment Token](#operation/PostToken) and
      a [File token](#operation/PostFile).
    - [JWT](#section/Authentication/JWT): short lifetime tokens that can be assigned a specific expiration time.


    Never share your secret keys. Keep them guarded and secure.


    <!-- ReDoc-Inject: <security-definitions> -->


    # SDKs


    Rebilly offers a Javascript SDK and a PHP SDK to help interact with

    the API.  However, no SDK is required to use the API.


    Rebilly also offers [FramePay](https://rebilly.github.io/framepay-docs/),
     a client-side iFrame-based solution to help
    create payment tokens while minimizing PCI DSS compliance burdens

    and maximizing the customizability. [FramePay](https://rebilly.github.io/framepay-docs/)

    is interacting with the [payment tokens creation operation](#operation/PostToken).


    ## Javascript SDK


    The [Javascript SDK](https://github.com/Rebilly/rebilly-js-sdk) is maintained

    within Github, and contains the installation and usage instructions.


    ## PHP SDK

    For all PHP SDK examples provided in these docs you will need to configure the `$client`.

    You may do it like this:


    ```php

    $client = new Rebilly\Client([
        'apiKey' => 'YourApiKeyHere',
        'baseUrl' => 'https://api.rebilly.com',
    ]);

    ```


    # Using filter with Collections

    Rebilly provides collections filtering. You can use `?filter` param on collection to define which records should be shown in the response.


    Here is filter format description:


    - Fields and values in filter are separated with `:`: `?filter=firstName:John`.


    - Fields in filter are separated with `;`: `?filter=firstName:John;lastName:Doe`.


    - You can use multiple values using `,` as values separator: `?filter=firstName:John,Bob`.


    - To negate the filter use `!`: `?filter=firstName:!John`. Note that you can negate multiple values like this: `?filter=firstName:!John,Bob`. This filter rule will exclude all Johns and Bobs from the response.


    - You can use range filters like this: `?filter=amount:1..10`.


    - You can use gte (greater than or equals) filter like this: `?filter=amount:1..`, or lte (less than or equals) than filter like this: `?filter=amount:..10`.


    - You can create some [predefined values lists](https://user-api-docs.rebilly.com/#tag/Lists) and use them in filter: `?filter=firstName:@yourListName`. You can also exclude list values: `?filter=firstName:!@yourListName`


    # Expand to Include Embedded Objects

    Rebilly provides the ability to pre-load additional

    objects with a request.


    You can use `?expand` param on most requests to expand

    and include embedded objects within the

    `_embedded` property of the response.


    The `_embedded` property contains an array of

    objects keyed by the expand parameter value(s).


    You may expand multiple objects by passing them

    as comma-separated to the expand value like so:


    ```

    ?expand=recentInvoice,customer

    ```


    And in the response, you would see:


    ```

    "_embedded": [
        "recentInvoice": {...},
        "customer": {...}
    ]

    ```

    Expand may be utilitized not only on `GET` requests but also on `PATCH`, `POST`, `PUT` requests too.



    # Getting Started Guide


    Rebilly's API has over 300 operations.  That's more than you'll

    need to implement your use cases.  If you have a use

    case you would like to implement, please consult us for

    feedback on the best API operations for the task.


    Our getting started guide will demonstrate a basic order form use

    case.  It will allow us to highlight core resources

    in Rebilly that will be helpful for many other use cases

    too.


    Within 25 minutes, you'll have sent API requests (via our console)

    to create a subscription order.


    [Click here to visit our API Guide Tutorial](https://api-guides.rebilly.com/).
  license:
    name: Rebilly
    url: https://www.rebilly.com/api-license/
  termsOfService: https://www.rebilly.com/terms-of-use/
  title: Rebilly
  version: "2.1"
  x-apisguru-categories:
    - developer_tools
  x-origin:
    - format: openapi
      url: https://api-reference.rebilly.com/openapi.json
      version: "3.0"
  x-providerName: rebilly.com
security:
  - SecretApiKey: []
  - JWT: []
tags:
  - description: |
      3D Secure is a way to authenticate and protect transactions.  Typically,
      it's only possible to protect the initial transaction in a subscription
      with 3D Secure.
    name: 3D Secure
  - description: |
      Bank Accounts are a type of payment instrument used to collect
      ACH (echeck) payments, similar to how a payment
      card would be used to for a credit card payment.
    name: Bank Accounts
  - description: |
      Your blacklists contains values of customerIds, email addresses,
      ipAddresses, bank identification numbers, countries or payment cards that
      you do NOT want to do business with. They are a good tool for managing
      risk. A blacklist entry that expires after a period of time we call a
      greylist.
    name: Blacklists
  - description: >
      Contacts are Customer's address book.

      All contact information used in Invoices, Subscriptions, Transactions, etc is enlisted here. Hovewer, changing a Contact won't change corresponding contact information in related resources
    name: Contacts
  - description: >
      Coupons allows to apply different types of discounts to Invoices,
      Subscriptions and Plans. Redeemed Coupons will be applied only to Invoices
      with the same currency.
    name: Coupons
  - description: |
      Customers are your customers, sometimes known as accounts, clients,
      members, patrons, or players in other systems.
    name: Customers
  - description: >
      The customers timeline keeps an audit trail of changes and activity
      for each customer.
    name: Customers Timeline
  - description: >
      Customer KYC files uploaded on behalf of a customer, tagged with a
      document type and submitted for validation.
    name: KYC Documents
  - description: >
      Create authentication credentials, login, logout, and verify your
      customers.
    name: Customer Authentication
  - description: |
      Create additional custom fields for particular resources.  You may name,
      describe, and determine the type of the schema.
    name: Custom Fields
  - description: |
      Handle disputes (chargebacks and retrievals).
    name: Disputes
  - description: >
      A File is an entity that can store a physical file and some
      metadata. It also provides an easy access to

      its size, mime-type, user-defined tags and description thus allowing easy sorting and searching among stored

      files.

      There are several methods of file uploading available: multipart/form-data encoded form, RAW POST (by sending

      file contents as POST body), fetching from URL (by providing the file URL via 'url' param)

      Attachment is an entity that is used to link a File to one or multiple objects like Customer, Dispute, Payment,

      Transaction, Subscription, Plan, Product, Invoice, Note. That allows to quickly find and use files related to

      those specific entities.
    name: Files
  - description: >
      Invoices leave a record for both you and your customer of the
      products sold.
    name: Invoices
  - description: >
      Payments endpoints are deprecated.  Please use the transactions
      resource

      instead.  A payment is a transaction with type `sale`.  The transactions

      resource is more robust and has withstood the test of time by enterprises.


      Collect money from your customers with payments.  You can schedule a payment

      to occur in the future.  You can assign a dunning schedule to a payment to collect

      in the case of a decline.


      Some payments may be, what we term, offsite payments.  These types of payments

      require user interaction.  For example, an initial PayPal purchase, a 3D Secure

      purchase, China Union Pay, and more require the customer's interaction to

      complete the payment.  We call these a "offsite" payment flow.
    name: Payments
  - description: >
      Payment cards are a type of payment instrument used for credit and
      debit card

      sales.  Rebilly securely vaults the full payment card number, and can pass it

      onward securely to any gateway account to transact business.
    name: Payment Cards
  - description: >
      PayPal Accounts are used for paying with PayPal.  We can generate a
      BAID (billing

      agreement id) which will allow for recurring billing.
    name: PayPal Accounts
  - description: >
      Payment tokens are used to reduce the scope of PCI DSS
      compliance.  A payment

      token can be made using a different authentication scheme (refer to the public key

      authentication scheme in the Authentication section), which allows you to

      create a payment token directly from the browser, bypassing the need to send

      sensitive cardholder info to your servers.  We recommend using this with our

      Rebilly.js library, which helps you wire a form into this API resource and create

      payment tokens.
    name: Payment Tokens
  - description: >
      Plans are a template for making a subscription.  For example, you
      may have a plan

      that has a 30-day free trial followed by a recurring charge of $19.95 per month

      until canceled.  The combination of the plan and a request to make a subscription

      will apply those instructions to create the invoices according to the plan's

      schedule.
    name: Plans
  - description: |
      A product describes what you sell (goods or services).
      A product determines how what you sell appears on invoices and receipts.
      The pricing for products is set in Plans.  One product can have many
      plans.
    name: Products
  - description: >
      The Rebilly Reporting API is currently experimental. You may see

      the [Reports API Documentation here](https://reports-api-docs.rebilly.com).
    name: Reports
  - description: |
      Search data including customers, invoices, orders, transactions and more.
    name: Search
  - description: >
      A shipping zone contains regions and countries that you ship to.
      Each shipping zone has its own shipping rates.
    name: Shipping Zones
  - description: >
      A subscription applies a plan's template to create invoices for a
      customer at the

      appropriate scheduled intervals.  A subscription may also determine if the payment

      is collected automatically (with autopay set true).
    name: Subscriptions
  - description: |
      You can map a product to a tax category.  The tax category is used by
      tax providers to calculate taxes for invoices.
    name: Taxes
  - description: |
      Get and refund transactions.
    name: Transactions
  - description: >
      The Rebilly User API is primarily for our GUI apps.  You may see

      the [User API Documentation here](https://user-api-docs.rebilly.com).

      A User represents a person who can login to Rebilly, and take actions subject to

      their granted permissions.  It has resources less commonly integrated by

      3rd parties.
    name: Users
paths:
  /3dsecure:
    get:
      operationId: Get3DSecureCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ThreeDSecure"
                type: array
          description: A list was retrieved successfully
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
      summary: Retrieve a list of ThreeDSecure entries
      tags:
        - 3D Secure
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Create a ThreeDSecure entry
      operationId: Post3DSecure
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ThreeDSecure"
        description: ThreeDSecure resource
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThreeDSecure"
          description: ThreeDSecure entry was created
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Create a ThreeDSecure entry
      tags:
        - 3D Secure
  "/3dsecure/{id}":
    get:
      description: |
        Retrieve a ThreeDSecure entry with specified identifier string
      operationId: Get3DSecure
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThreeDSecure"
          description: ThreeDSecure entry was retrieved successfully
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Retrieve a ThreeDSecure entry
      tags:
        - 3D Secure
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
  /attachments:
    get:
      description: |
        Retrieve a list of Attachments
      operationId: GetAttachmentCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
        - $ref: "#/components/parameters/collectionFilter"
        - $ref: "#/components/parameters/collectionQuery"
        - $ref: "#/components/parameters/collectionExpand"
        - $ref: "#/components/parameters/collectionFields"
        - description: The collection items sort field and order (prefix with "-" for
            descending sort).
          explode: false
          in: query
          name: sort
          schema:
            items:
              enum:
                - id
                - -id
                - name
                - -name
                - relatedId
                - -relatedId
                - relatedType
                - -relatedType
                - fileId
                - -fileId
                - createdTime
                - -createdTime
                - updatedTime
                - -updatedTime
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Attachment"
                type: array
          description: A list of Attachments was retrieved successfully
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
      summary: Retrieve a list of Attachments
      tags:
        - Files
      x-code-samples:
        - lang: PHP
          source: |
            $attachments = $client->attachments()->search([
                'filter' => 'relatedType:customer',
            ]);
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Create an Attachment
      operationId: PostAttachment
      requestBody:
        $ref: "#/components/requestBodies/Attachment"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Attachment was created
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Create an Attachment
      tags:
        - Files
      x-code-samples:
        - lang: PHP
          source: |
            $attachmentForm = new Rebilly\Entities\Attachment();
            $attachmentForm->setFileId('fileId');
            $attachmentForm->setRelatedType($attachmentForm::TYPE_CUSTOMER);
            $attachmentForm->setRelatedId('customerId');

            try {
                $attachment = $client->attachments()->create($attachmentForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  "/attachments/{id}":
    delete:
      description: |
        Delete the Attachment with predefined identifier string
      operationId: DeleteAttachment
      responses:
        "204":
          description: Attachment was deleted
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Delete an Attachment
      tags:
        - Files
      x-code-samples:
        - lang: PHP
          source: |
            $client->attachments()->delete('attachmentId');
    get:
      description: |
        Retrieve a Attachment with specified identifier string
      operationId: GetAttachment
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Attachment was retrieved successfully
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Retrieve an Attachment
      tags:
        - Files
      x-code-samples:
        - lang: PHP
          source: |
            $attachment = $client->attachments()->load('attachmentId');
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
    put:
      description: |
        Update the Attachment with predefined ID
      operationId: PutAttachment
      requestBody:
        $ref: "#/components/requestBodies/Attachment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Attachment was updated
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Attachment was created
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Update the Attachment with predefined ID
      tags:
        - Files
      x-code-samples:
        - lang: PHP
          source: >
            $attachmentForm = new Rebilly\Entities\Attachment();

            $attachmentForm->setFileId('fileId');

            $attachmentForm->setRelatedType($attachmentForm::TYPE_CUSTOMER);

            $attachmentForm->setRelatedId('customerId');


            try {
                $attachment = $client->attachments()->update('attachmentId', $attachmentForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  /authentication-options:
    get:
      description: |
        Read current authentication options
      operationId: GetAuthenticationOption
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AuthenticationOptions"
                type: array
          description: Current authentication options was retrieved successfully
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
      summary: Read current authentication options
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $authenticationOptions = $client->authenticationOptions()->load();
    parameters:
      - $ref: "#/components/parameters/organizationId"
    put:
      description: |
        Change options
      operationId: PutAuthenticationOption
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthenticationOptions"
        description: Authentication Options resource
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationOptions"
          description: Authentication Options were updated
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Change authentication options
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: >
            $authenticationOptionsForm = new
            Rebilly\Entities\AuthenticationOptions();

            // Regular expression below matches any password with 6+ length that contains alphabet symbols and/or numbers.

            $authenticationOptionsForm->setPasswordPattern('/^[a-zA-Z0-9]{6,}$/');


            try {
                $authenticationOptions = $client->authenticationOptions()->update($authenticationOptionsForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  /authentication-tokens:
    get:
      description: |
        Retrieve a list of auth tokens
      operationId: GetAuthenticationTokenCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AuthenticationToken"
                type: array
          description: A list of auth tokens was retrieved successfully
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
      summary: Retrieve a list of auth tokens
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $authenticationTokens = $client->authenticationTokens()->search([
                'filter' => 'customerId:testCustomer',
            ]);
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Login a customer
      operationId: PostAuthenticationToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthenticationToken"
        description: AuthenticationToken resource
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationToken"
          description: Login successful
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      security:
        - SecretApiKey: []
        - JWT: []
        - PublishableApiKey: []
      summary: Login
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: >
            $authenticationForm = new Rebilly\Entities\AuthenticationToken();

            $authenticationForm->setUsername('username');

            $authenticationForm->setPassword('test123');


            try {
                $authenticationToken = $client->authenticationTokens()->login($authenticationForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  "/authentication-tokens/{token}":
    delete:
      description: |
        Logout a customer
      operationId: DeleteAuthenticationToken
      responses:
        "204":
          description: Customer was logged out
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
        - SecretApiKey: []
        - JWT: []
        - PublishableApiKey: []
      summary: Logout a customer
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $client->authenticationTokens()->logout('token');
    get:
      description: |
        Verify an authentication token
      operationId: GetAuthenticationTokenVerification
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationToken"
          description: Authentication Token was verified
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
        - SecretApiKey: []
        - JWT: []
        - PublishableApiKey: []
      summary: Verify
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $isVerified = $client->authenticationTokens()->verify('token');
    parameters:
      - description: The token identifier string
        in: path
        name: token
        required: true
        schema:
          type: string
      - $ref: "#/components/parameters/organizationId"
  "/authentication-tokens/{token}/exchange":
    parameters:
      - description: The token identifier string
        in: path
        name: token
        required: true
        schema:
          type: string
      - $ref: "#/components/parameters/organizationId"
    post:
      description: >
        Exchange Authentication Token for JWT


        It will also invalidate an Authentication Token by default (so it can only be exchanged once).
      operationId: PostAuthenticationTokenExchange
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerJWT"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerJWT"
          description: Authentication Token exchanged for JWT
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
        - SecretApiKey: []
        - JWT: []
        - PublishableApiKey: []
      summary: Exchange
      tags:
        - Customer Authentication
  /bank-accounts:
    get:
      description: |
        Retrieve a list of Bank Accounts
      operationId: GetBankAccountCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BankAccount"
                type: array
          description: A list of Bank Accounts was retrieved successfully
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
      summary: Retrieve a list of bank accounts
      tags:
        - Bank Accounts
      x-code-samples:
        - lang: PHP
          source: |
            $bankAccounts = $client->bankAccounts()->search([
                'filter' => 'customerId:testId',
            ]);
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Create a Bank Account
      operationId: PostBankAccount
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/BankAccountCreateToken"
                - $ref: "#/components/schemas/BankAccountCreatePlain"
        description: BankAccount resource
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankAccount"
          description: Bank Account was created
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Create a Bank Account
      tags:
        - Bank Accounts
      x-code-samples:
        - lang: PHP
          source: >
            $bankAccountForm = new Rebilly\Entities\BankAccount();

            $bankAccountForm->setCustomerId('customerId');

            $bankAccountForm->setRoutingNumber('0123456');

            $bankAccountForm->setAccountNumber('0123456');

            $bankAccountForm->setAccountType('checking');

            $bankAccountForm->setBillingAddress([
                'firstName' => 'John',
                'lastName' => 'Doe',
                'organization' => 'Test LTD',
                'address' => 'Test street 5',
                'address2' => 'Test house 5',
                'city' => 'New York',
                'region' => 'Long Island',
                'country' => 'US',
                'postalCode' => '123456',
                'emails' => [
                    [
                        'label' => 'main',
                        'value' => 'johndoe@testemail.com',
                        'primary' => true,
                    ],
                    [
                        'label' => 'secondary',
                        'value' => 'otheremail@testemail.com',
                    ],
                ],
                'phoneNumbers' => [
                    [
                        'label' => 'work',
                        'value' => '+123456789',
                        'primary' => true,
                    ],
                    [
                        'label' => 'home',
                        'value' => '+9874654321',
                    ],
                ],
            ]);


            try {
                $bankAccount = $client->bankAccounts()->create($bankAccountForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  "/bank-accounts/{id}":
    get:
      description: |
        Retrieve a Bank Account with specified identifier string
      operationId: GetBankAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankAccount"
          description: Bank Account was retrieved successfully
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Retrieve a Bank Account
      tags:
        - Bank Accounts
      x-code-samples:
        - lang: PHP
          source: |
            $bankAccount = $client->bankAccounts()->load('bankAccountId');
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
    patch:
      description: >
        Update bank account's values except for the account number and
        routing number
      operationId: PatchBankAccount
      requestBody:
        content:
          application/json:
            schema:
              properties:
                accountType:
                  description: Bank's Account type.
                  enum:
                    - checking
                    - savings
                    - other
                  type: string
                address:
                  allOf:
                    - $ref: "#/components/schemas/ContactObject"
                  description: The Address.
                bankName:
                  description: Bank's name.
                  type: string
                customFields:
                  $ref: "#/components/schemas/ResourceCustomFields"
              type: object
        description: Bank Account
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankAccount"
          description: Bank Account was updated
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Update a bank account's values
      tags:
        - Bank Accounts
    put:
      description: |
        Create or update a BankAccount with predefined identifier string
      operationId: PutBankAccount
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/BankAccountCreateToken"
                - $ref: "#/components/schemas/BankAccountCreatePlain"
        description: BankAccount resource
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankAccount"
          description: BankAccount was updated
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankAccount"
          description: BankAccount was created
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Create a Bank Account with predefined ID
      tags:
        - Bank Accounts
      x-code-samples:
        - lang: PHP
          source: >
            $bankAccountForm = new Rebilly\Entities\BankAccount();

            $bankAccountForm->setCustomerId('customerId');

            $bankAccountForm->setRoutingNumber('0123456');

            $bankAccountForm->setAccountNumber('0123456');

            $bankAccountForm->setAccountType('checking');

            $bankAccountForm->setBillingAddress([
                'firstName' => 'John',
                'lastName' => 'Doe',
                'organization' => 'Test LTD',
                'address' => 'Test street 5',
                'address2' => 'Test house 5',
                'city' => 'New York',
                'region' => 'Long Island',
                'country' => 'US',
                'postalCode' => '123456',
                'emails' => [
                    [
                        'label' => 'main',
                        'value' => 'johndoe@testemail.com',
                        'primary' => true,
                    ],
                    [
                        'label' => 'secondary',
                        'value' => 'otheremail@testemail.com',
                    ],
                ],
                'phoneNumbers' => [
                    [
                        'label' => 'work',
                        'value' => '+123456789',
                        'primary' => true,
                    ],
                    [
                        'label' => 'home',
                        'value' => '+9874654321',
                    ],
                ],
            ]);


            try {
                $bankAccount = $client->customers()->create($bankAccountForm, 'bankAccountId');
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  "/bank-accounts/{id}/deactivation":
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Deactivate a Bank Account
      operationId: PostBankAccountDeactivation
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankAccount"
          description: Bank Account was deactivated
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
      summary: Deactivate a Bank Account
      tags:
        - Bank Accounts
      x-code-samples:
        - lang: PHP
          source: |
            $bankAccount = $client->bankAccounts()->deactivate('bankAccountId');
  /blacklists:
    get:
      description: |
        Retrieve a list of blacklists
      operationId: GetBlacklistCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Blacklist"
                type: array
          description: A list of Blacklists was retrieved successfully
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
      summary: Retrieve a list of blacklists
      tags:
        - Blacklists
      x-code-samples:
        - lang: PHP
          source: |
            $blacklists = $client->blacklists()->search([
                'filter' => 'value:testValue',
            ]);
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Create a blacklist
      operationId: PostBlacklist
      requestBody:
        $ref: "#/components/requestBodies/Blacklist"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blacklist"
          description: Blacklist was created
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Create a blacklist
      tags:
        - Blacklists
      x-code-samples:
        - lang: PHP
          source: |
            $blacklistForm = new Rebilly\Entities\Blacklist();
            $blacklistForm->setType($blacklistForm::TYPE_EMAIL);
            $blacklistForm->setValue('test@test.com');
            $blacklistForm->setExpiredTime('2025-01-01 05:00:00');

            try {
                $blacklist = $client->blacklists()->create($blacklistForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  "/blacklists/{id}":
    delete:
      description: |
        Delete a blacklist with predefined identifier string
      operationId: DeleteBlacklist
      responses:
        "204":
          description: Blacklist was deleted
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Delete a blacklist
      tags:
        - Blacklists
      x-code-samples:
        - lang: PHP
          source: |
            $client->blacklists()->delete('blacklistId');
    get:
      description: |
        Retrieve a blacklist with specified identifier string
      operationId: GetBlacklist
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blacklist"
          description: Blacklist was retrieved successfully
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Retrieve a blacklist
      tags:
        - Blacklists
      x-code-samples:
        - lang: PHP
          source: |
            $blacklist = $client->blacklists()->load('blacklistId');
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
    put:
      description: |
        Create a blacklist with predefined identifier string
      operationId: PutBlacklist
      requestBody:
        $ref: "#/components/requestBodies/Blacklist"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blacklist"
          description: Blacklist was created
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Blacklist exist and cannot be updated
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Create a blacklist with predefined ID
      tags:
        - Blacklists
      x-code-samples:
        - lang: PHP
          source: >
            $blacklistForm = new Rebilly\Entities\Blacklist();

            $blacklistForm->setType($blacklistForm::TYPE_EMAIL);

            $blacklistForm->setValue('test@test.com');

            $blacklistForm->setExpiredTime('2025-01-01 05:00:00');


            try {
                $blacklist = $client->blacklists()->create($blacklistForm, 'blacklistId');
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  /contacts:
    get:
      deprecated: true
      description: |
        Retrieve a list of contacts.  This may be useful
        when giving the customer a choice between previous
        addresses they've used before.
      operationId: GetContactCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Contact"
                type: array
          description: A list of Contacts was retrieved successfully
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
      summary: Retrieve a list of contacts
      tags:
        - Contacts
      x-code-samples:
        - lang: PHP
          source: |
            $contacts = $client->contacts()->search([
                'filter' => 'firstName:John',
            ]);
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      deprecated: true
      description: |
        Contacts are created automatically by data passed to the
        contact-related hashes within the customer, invoice,
        payment instrument (like payment card), subscriptions,
        and more.
        <div class="alert alert-warning">
          Note: This method should almost never be used.
          Please check with us on your use case before using it.
        </div>
      operationId: PostContact
      requestBody:
        $ref: "#/components/requestBodies/Contact"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
          description: Contact was created
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Create a contact
      tags:
        - Contacts
      x-code-samples:
        - lang: PHP
          source: |
            $contactForm = new Rebilly\Entities\Contact();
            $contactForm->setFirstName('Sherlock');
            $contactForm->setLastName('Holmes');
            $contactForm->setOrganization('TestOrganization');
            $contactForm->setEmails(
                [
                    [
                        'label' => 'main',
                        'value' => 'johndoe@testemail.com',
                        'primary' => true,
                    ],
                    [
                        'label' => 'secondary',
                        'value' => 'otheremail@testemail.com',
                    ],
                ]
            );
            $contactForm->setPhoneNumbers(
                [
                    [
                        'label' => 'work',
                        'value' => '+123456789',
                        'primary' => true,
                    ],
                    [
                        'label' => 'home',
                        'value' => '+9874654321',
                    ],
                ]
            );

            try {
                $contact = $client->contacts()->create($contactForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  "/contacts/{id}":
    delete:
      deprecated: true
      description: |
        Delete a contact with predefined identifier string
      operationId: DeleteContact
      responses:
        "204":
          description: Contact was deleted
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "402":
          description: Contact cannot be deleted
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Delete a contact
      tags:
        - Contacts
    get:
      deprecated: true
      description: |
        Retrieve a contact with specified identifier string
      operationId: GetContact
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
          description: Contact was retrieved successfully
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Retrieve a contact
      tags:
        - Contacts
      x-code-samples:
        - lang: PHP
          source: |
            $contact = $client->contacts()->load('contactId');
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
    put:
      deprecated: true
      description: |
        Create or update a contact with predefined identifier string
      operationId: PutContact
      requestBody:
        $ref: "#/components/requestBodies/Contact"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
          description: Contact was created
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Contact exists and cannot be updated
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Create or update a contact with predefined ID
      tags:
        - Contacts
      x-code-samples:
        - lang: PHP
          source: >
            $contactForm = new Rebilly\Entities\Contact();

            $contactForm->setFirstName('Sherlock');

            $contactForm->setLastName('Holmes');

            $contactForm->setOrganization('TestOrganization');

            $contactForm->setEmails(
                [
                    [
                        'label' => 'main',
                        'value' => 'johndoe@testemail.com',
                        'primary' => true,
                    ],
                    [
                        'label' => 'secondary',
                        'value' => 'otheremail@testemail.com',
                    ],
                ]
            );

            $contactForm->setPhoneNumbers(
                [
                    [
                        'label' => 'work',
                        'value' => '+123456789',
                        'primary' => true,
                    ],
                    [
                        'label' => 'home',
                        'value' => '+9874654321',
                    ],
                ]
            );


            try {
                $contact = $client->contacts()->update('contactId', $contactForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  /coupons:
    get:
      description: |
        Retrieve a list of coupons
      operationId: GetCouponCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
        - $ref: "#/components/parameters/collectionFilter"
        - $ref: "#/components/parameters/collectionQuery"
        - $ref: "#/components/parameters/collectionSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Coupon"
                type: array
          description: A list of coupons was retrieved successfully
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
      summary: Retrieve a list of coupons
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $coupons = $client->coupons()->search([
                'filter' => 'status:issued',
            ]);
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Create a coupon
      operationId: PostCoupon
      requestBody:
        $ref: "#/components/requestBodies/Coupon"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Coupon"
          description: Coupon was created
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Create a coupon
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: >
            $couponForm = new Rebilly\Entities\Coupons\Coupon();


            $discountArray = [
                'currency' => 'USD',
                'amount' => 1.99,
            ];


            $discountForm = new \Rebilly\Entities\Coupons\Discounts\Fixed($discountArray);

            $couponForm->setDiscount($discountForm);

            // Coupon can be used right now

            $couponForm->setIssuedTime(date('Y-m-d H:i:s'));


            $restrictionArray = [
                'quantity' => 2,
            ];


            $restrictionForm = new Rebilly\Entities\Coupons\Restrictions\DiscountsPerRedemption($restrictionArray);


            $couponForm->setRestrictions([$restrictionForm]);


            try {
                $coupon = $client->coupons()->create($couponForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  /coupons-redemptions:
    get:
      operationId: GetCouponRedemptionCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
        - $ref: "#/components/parameters/collectionFilter"
        - $ref: "#/components/parameters/collectionQuery"
        - $ref: "#/components/parameters/collectionSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CouponRedemption"
                type: array
          description: Coupons redemptions were retrieved successfully
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
      summary: Retrieve a list of coupon redemptions
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $couponRedemptions = $client->couponsRedemptions()->search([
                'filter' => 'customerId:testCustomer',
            ]);
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Redeem a coupon
      operationId: PostCouponRedemption
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CouponRedemption"
        description: Redeem a coupon
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CouponRedemption"
          description: Coupon was redeemed
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Redeem a coupon
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: >
            $redemptionForm = new Rebilly\Entities\Coupons\Redemption();

            $redemptionForm->setCustomerId('customerId');

            $redemptionForm->setRedemptionCode('redemptionCode');


            $restrictionArray = [
                'type' => Rebilly\Entities\Coupons\Restriction::TYPE_DISCOUNTS_PER_REDEMPTION,
                'quantity' => 2,
            ];


            $restrictionForm = new Rebilly\Entities\Coupons\Restriction([
                $restrictionArray,
            ]);


            $redemptionForm->setAdditionalRestrictions($restrictionForm);


            try {
                $couponRedemption = $client->couponsRedemptions()->redeem($redemptionForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  "/coupons-redemptions/{id}":
    get:
      operationId: GetCouponRedemption
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CouponRedemption"
          description: Retrieve a coupon redemption with specified identifier string
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Retrieve a coupon redemption with specified identifier string
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: >
            $couponRedemption =
            $client->couponsRedemptions()->load('redemptionCode');
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
  "/coupons-redemptions/{id}/cancel":
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
    post:
      operationId: PostCouponRedemptionCancellation
      responses:
        "201":
          description: Cancel a coupon redemption
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Cancel a coupon redemption
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $client->couponsRedemptions()->cancel('id');
  "/coupons/{redemptionCode}":
    get:
      description: |
        Retrieve a coupon with specified redemption code string
      operationId: GetCoupon
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Coupon"
          description: Coupon was retrieved successfully
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Retrieve a coupon
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $coupon = $client->coupons()->load('redemptionCode');
    parameters:
      - description: The Coupon's redemption code
        in: path
        name: redemptionCode
        required: true
        schema:
          type: string
      - $ref: "#/components/parameters/organizationId"
    put:
      description: |
        Create or update a coupon with predefined redemption code
      operationId: PutCoupon
      requestBody:
        $ref: "#/components/requestBodies/Coupon"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Coupon"
          description: Coupon was updated
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Coupon"
          description: Coupon was created
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Create or update a coupon with predefined redemption code
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: >
            $couponForm = new Rebilly\Entities\Coupons\Coupon();


            $discountArray = [
                'type' => Rebilly\Entities\Coupons\Discount::TYPE_FIXED,
                'currency' => 'USD',
                'amount' => 1.99,
            ];


            $discountForm = new Rebilly\Entities\Coupons\Discount($discountArray);

            $couponForm->setDiscount($discountForm);


            $restrictionArray = [
                'type' => Rebilly\Entities\Coupons\Restriction::TYPE_DISCOUNTS_PER_REDEMPTION,
                'quantity' => 2,
            ];


            $restrictionForm = new Rebilly\Entities\Coupons\Restriction([
                $restrictionArray,
            ]);


            $couponForm->setRestrictions($restrictionForm);


            try {
                $coupon = $client->coupons()->create($couponForm, 'redemptionCode');
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  "/coupons/{redemptionCode}/expiration":
    parameters:
      - description: The coupon's redemption code
        in: path
        name: redemptionCode
        required: true
        schema:
          type: string
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Set a coupon's expiry time with the specified redemption code.
        The expiredTime of a coupon must be greater than its issuedTime.
        This cannot be performed on expired coupons.
      operationId: PostCouponExpiration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CouponExpiration"
        description: Coupon resource
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Coupon"
          description: Coupon expiration was successfully set
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: The coupon is already expired and has been redeemed, unable to
            reschedule expiration
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Set a coupon's expiration time.
      tags:
        - Coupons
  /credentials:
    get:
      description: |
        Retrieve a list of credentials
      operationId: GetCredentialCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Credential"
                type: array
          description: A list of Credentials was retrieved successfully
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
      summary: Retrieve a list of credentials
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $customerCredentials = $client->customerCredentials()->search([
                'filter' => 'customerId:testCustomer',
            ]);
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Create a credential
      operationId: PostCredential
      requestBody:
        $ref: "#/components/requestBodies/Credential"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Credential"
          description: Credential was created
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Create a credential
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: >
            $customerCredentialForm = new Rebilly\Entities\CustomerCredential();

            $customerCredentialForm->setCustomerId('customerId');

            $customerCredentialForm->setUsername('test');

            $customerCredentialForm->setPassword('1234');


            try {
                $customerCredential = $client->customerCredentials()->create($customerCredentialForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  "/credentials/{id}":
    delete:
      description: |
        Delete a credential with predefined identifier string
      operationId: DeleteCredential
      responses:
        "204":
          description: Credential was deleted
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Delete a credential
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $client->customerCredentials()->delete('credentialId');
    get:
      description: |
        Retrieve a credential with specified identifier string
      operationId: GetCredential
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Credential"
          description: Credential was retrieved successfully
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Retrieve a credential
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: >
            $customerCredential =
            $client->customerCredentials()->load('credentialId');
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
    put:
      description: |
        Create or update a credential with predefined identifier string
      operationId: PutCredential
      requestBody:
        $ref: "#/components/requestBodies/Credential"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Credential"
          description: Credential was updated
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Credential"
          description: Credential was created
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Create or update a credential with predefined ID
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: >
            $customerCredentialForm = new Rebilly\Entities\CustomerCredential();

            $customerCredentialForm->setCustomerId('customerId');

            $customerCredentialForm->setUsername('test');

            $customerCredentialForm->setPassword('1234');


            try {
                $customerCredential = $client->customerCredentials()->update('credentialId', $customerCredentialForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  "/custom-fields/{resource}":
    get:
      description: |
        Retrieve a schema of Custom Fields for the given resource type
      operationId: GetCustomFieldCollection
      responses:
        "200":
          content:
            application/json:
              schema:
                description: The list of custom fields
                items:
                  $ref: "#/components/schemas/CustomField"
                type: array
          description: A schema of Custom Fields was retrieved successfully
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
      summary: Retrieve Custom Fields
      tags:
        - Custom Fields
      x-code-samples:
        - lang: PHP
          source: |
            $customFields = $client->customFields()->search('customers', [
                'filter' => 'type:boolean',
            ]);
    parameters:
      - $ref: "#/components/parameters/customFieldResource"
      - $ref: "#/components/parameters/organizationId"
  "/custom-fields/{resource}/{name}":
    get:
      description: |
        Retrieve a schema of the given Custom Field for the given resource type
      operationId: GetCustomField
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomField"
          description: A schema of the Custom Field was retrieved successfully
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Retrieve a Custom Field
      tags:
        - Custom Fields
      x-code-samples:
        - lang: PHP
          source: >
            $customField = $client->customFields()->load('customers',
            'testFieldName');
    parameters:
      - $ref: "#/components/parameters/customFieldResource"
      - description: The custom field's identifier string
        in: path
        name: name
        required: true
        schema:
          maxLength: 60
          pattern: ^[\w-]+$
          type: string
      - $ref: "#/components/parameters/organizationId"
    put:
      description: >
        Create or alter a schema of the given Custom Field for the given
        resource type.
      operationId: PutCustomField
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomField"
        description: Custom Fields schema of the given resource type
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomField"
          description: The Custom Field was updated
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomField"
          description: The Custom Fields was created
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: >
            The schema is in use: remove all the associated data in order to
            remove or alter the schema
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Create or alter a Custom Field
      tags:
        - Custom Fields
      x-code-samples:
        - lang: PHP
          source: >
            $customFieldForm = new Rebilly\Entities\CustomField();

            $customFieldForm->setType($customFieldForm::TYPE_BOOLEAN);


            try {
                $customField = $client->customFields()->update('customers', 'testFieldName', $customFieldForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  /customer-timeline-custom-events:
    get:
      description: |
        Retrieve a list of customer timeline custom event types
      operationId: GetCustomerTimelineCustomEventTypeCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
        - $ref: "#/components/parameters/collectionFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CustomerTimelineCustomEvent"
                type: array
          description: A list of customer timeline custom event types was retrieved
            successfully
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
      summary: Retrieve a list of customer timeline custom event types
      tags:
        - Customers Timeline
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Create Customer Timeline custom event type
      operationId: PostCustomerTimelineCustomEventType
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerTimelineCustomEvent"
        description: Customer Timeline Custom Event Type resource
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerTimelineCustomEvent"
          description: Customer Timeline Custom Event Type was created
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Create Customer Timeline custom event type
      tags:
        - Customers
  "/customer-timeline-custom-events/{id}":
    get:
      description: |
        Retrieve customer timeline custom event type
      operationId: GetCustomerTimelineCustomEventType
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerTimelineCustomEvent"
          description: Customer Timeline custom event type was retrieved successfully
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
      summary: Retrieve customer timeline custom event type with specified identifier
        string
      tags:
        - Customers Timeline
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
  /customer-timeline-events:
    get:
      description: |
        Retrieve a list of customer timeline messages for all customers
      operationId: GetCustomerTimelineEventCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
        - $ref: "#/components/parameters/collectionFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CustomerTimeline"
                type: array
          description: A list of customer timeline messages was retrieved successfully
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
      summary: Retrieve a list of customer timeline messages for all customers
      tags:
        - Customers Timeline
    parameters:
      - $ref: "#/components/parameters/organizationId"
  /customers:
    get:
      description: |
        Retrieve a list of customers
      operationId: GetCustomerCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
        - $ref: "#/components/parameters/collectionFilter"
        - $ref: "#/components/parameters/collectionQuery"
        - $ref: "#/components/parameters/collectionExpand"
        - $ref: "#/components/parameters/collectionFields"
        - description: The collection items sort field and order (prefix with "-" for
            descending sort).
          explode: false
          in: query
          name: sort
          schema:
            items:
              enum:
                - id
                - -id
                - email
                - -email
                - averageValue
                - -averageValue
                - paymentCount
                - -paymentCount
                - lastPaymentTime
                - -lastPaymentTime
                - lifetimeRevenue
                - -lifetimeRevenue
                - invoiceCount
                - -invoiceCount
                - createdTime
                - -createdTime
                - updatedTime
                - -updatedTime
              type: string
            type: array
          style: form
        - description: The response media type
          in: header
          name: Accept
          schema:
            default: application/json
            enum:
              - application/json
              - text/csv
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Customer"
                type: array
            text/csv:
              schema:
                items:
                  $ref: "#/components/schemas/Customer"
                type: array
          description: A list of Customers was retrieved successfully
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
      summary: Retrieve a list of customers
      tags:
        - Customers
      x-code-samples:
        - lang: PHP
          source: |
            $customers = $client->customers()->search([
                'filter' => 'firstName:John',
            ]);
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: >
        Create a customer without a predefined ID.

        The customer's primary address

        will be used as the default address for payment

        instruments, subscriptions and invoices if none

        are provided.


        If you wish to create the customer with a predefined

        ID (which we recommend to prevent duplication), you

        may use our `PUT` request described below.


        Read our guide to [preventing duplicates](https://api-guides.rebilly.com/core-concepts/preventing-duplicates)

        to understand more.
      operationId: PostCustomer
      requestBody:
        $ref: "#/components/requestBodies/Customer"
      responses:
        "201":
          $ref: "#/components/responses/Customer"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/InvalidDataError"
      summary: Create a customer (without an ID)
      tags:
        - Customers
      x-code-samples:
        - lang: PHP
          source: |
            $customerForm = new Rebilly\Entities\Customer();
            $customerForm->setPrimaryAddress([
                'firstName' => 'John',
                'lastName' => 'Doe',
                'organization' => 'Test LTD',
                'address' => 'Test street 5',
                'address2' => 'Test house 5',
                'city' => 'New York',
                'region' => 'Long Island',
                'country' => 'US',
                'postalCode' => '123456',
                'emails' => [
                    [
                        'label' => 'main',
                        'value' => 'johndoe@testemail.com',
                        'primary' => true,
                    ],
                    [
                        'label' => 'secondary',
                        'value' => 'otheremail@testemail.com',
                    ],
                ],
                'phoneNumbers' => [
                    [
                        'label' => 'work',
                        'value' => '+123456789',
                        'primary' => true,
                    ],
                    [
                        'label' => 'home',
                        'value' => '+9874654321',
                    ],
                ],
            ]);

            try {
                $customer = $client->customers()->create($customerForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  "/customers/{id}":
    delete:
      description: Merge one duplicate customer to another target customer and delete
        the former.
      operationId: DeleteCustomer
      parameters:
        - description: The customer idendifier to get the data of the deleted duplicate
            customer
          in: query
          name: targetCustomerId
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Customer has been merged and removed
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/AccessForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Merge and delete a customer
      tags:
        - Customers
    get:
      description: |
        Retrieve a customer with specified identifier string
      operationId: GetCustomer
[...]
