swagger: '2.0'
schemes:
  - https
host: api.rebilly.com
basePath: /v2.1
info:
  contact:
    email: integrations@rebilly.com
    name: Rebilly API Support
    url: 'https://www.rebilly.com/contact/'
  license:
    name: Rebilly
    url: 'https://www.rebilly.com/api/license/'
  termsOfService: 'https://www.rebilly.com/terms/'
  title: Rebilly
  version: '2.1'
  x-logo:
    backgroundColor: '#0033A0'
    url: 'https://rebilly.github.io/RebillyAPI/rb_apiLogo.svg'
  x-origin:
    format: swagger
    url: 'http://rebilly.github.io/RebillyAPI/swagger.json'
    version: '2.0'
  x-providerName: rebilly.com
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  ApiKey:
    description: |
      When you sign up for an account, you are given your first API key.
      To do so please follow this link: https://www.rebilly.com/site/signup/
      Also you can generate additional API keys, and delete API keys (as you may
      need to rotate your keys in the future).
    in: header
    name: REB-APIKEY
    type: apiKey
  JWT:
    description: |
      You can create a JSON Web Token (JWT) via our Sessions resource.
    type: basic
  RebAuth:
    description: |
      Only for the Tokens resource.
      The REB-AUTH value is created in this way
      Generate a Nonce (random string), and a Timestamp (unix timestamp)
      Concatenate the values of ApiUser, Nonce, and Timestamp (in that order).
      Use that value as the input data when you calculate the <a href="http://tools.ietf.org/html/rfc2104">HMAC-SHA1</a> with your secret key, called the signature.
      Forming the four data points into a JSON object.  {"REB-APIUSER":"abcdefg","REB-NONCE":"adfsjtreitou345fgkdafgj","REB-TIMESTAMP":"1382591345","REB-SIGNATURE":"a234fc95460401cfg09c9d09"}
      Then base64 encode that JSON object.  This is the final value of the REB-AUTH HTTP header
    in: header
    name: REB-AUTH
    type: apiKey
security:
  - ApiKey: []
parameters:
  collectionExpand:
    description: Expand response to get full related object intead of ID.  See the expand guide for more info.
    in: query
    name: expand
    type: string
  collectionFields:
    description: 'Limit the returned fields to the list specified, separated by comma.  Note that id is always returned.'
    in: query
    name: fields
    type: string
  collectionFilter:
    description: |
      The collection items filter requires a special format.
      Use "," for multiple allowed values.  Use ";" for multiple fields.
      See the filter guide for more options and examples about this format.
    in: query
    name: filter
    type: string
  collectionLimit:
    description: The collection items limit
    in: query
    maximum: 1000
    minimum: 0
    name: limit
    type: integer
  collectionOffset:
    description: The collection items offset
    in: query
    minimum: 0
    name: offset
    type: integer
  collectionQuery:
    description: The partial search of the text fields.
    in: query
    name: q
    type: string
  collectionSort:
    description: The collection items sort field and order (prefix with "-" for descending sort).
    in: query
    name: sort
    type: string
  resourceId:
    description: The resource identifier string
    in: path
    name: id
    required: true
    type: string
responses:
  AccessForbidden:
    description: 'Access forbidden, invalid API-KEY was used'
    schema:
      $ref: '#/definitions/Error'
  Conflict:
    description: Conflict
    schema:
      $ref: '#/definitions/Error'
  InvalidDataError:
    description: Invalid data was sent
    schema:
      $ref: '#/definitions/InvalidError'
  NotFound:
    description: Resource was not found
    schema:
      $ref: '#/definitions/Error'
tags:
  - description: |
      The Rebilly API is built on HTTP.  Our API is RESTful.  It has predictable
      resource URLs.  It returns HTTP response codes to indicate errors.  It also
      accepts and returns JSON in the HTTP body.  You can use your favorite
      HTTP/REST library for your programming language to use Rebilly's API, or
      you can use one of our SDKs (currently available in [PHP](https://github.com/Rebilly/rebilly-php)
      and [C#](https://github.com/Rebilly/rebilly-dotnet-client)).
    name: Introduction
  - description: |
      When you sign up for an account, you are given your first API key.
      You can generate additional API keys, and delete API keys (as you may
      need to rotate your keys in the future). You authenticate to the
      Rebilly API by providing your secret key in the request header.

      Rebilly offers three forms of authentication:  private key, JSON Web Tokens, and
      public key.
      - private key: authenticates each request by searching for the presence
      of an HTTP header: REB-APIKEY.
      - JWT: authenticates each request by the HTTP header: Authorization.
      - public key: authenticates by the HTTP header: REB-AUTH (read more on this below).

      Rebilly also offers JSON Web Tokens (JWT) authentication, where you can control
      the specific granular permissions and expiration for that JWT.  We call our resource
      for generating JWT [Sessions](#tag/Session).

      Rebilly also has a client-side authentication scheme that uses an
      apiUser and HMAC-SHA1 signature (only for the Tokens resource), so
      that you may safely create tokens from the client-side without compromising
      your secret keys.

      Never share your secret keys. Keep them guarded and secure.
      The client-side authentication scheme uses one HTTP header named REB-AUTH.
    name: Authentication
  - description: |
      Customers are your customers, sometimes known as accounts, clients,
      members, patrons, or players in other systems.
    name: Customers
  - description: |
      Contacts belong to Customers. A Customer can have many contacts.
      Some contacts are associated to Invoices, Payment Cards, Subscriptions
      and Transactions.
    name: Contacts
  - description: |
      Your blacklists contains values of customerIds, email addresses,
      ipAddresses, bank identification numbers, countries or payment cards that
      you do NOT want to do business with. They are a good tool for managing
      risk. A blacklist entry that expires after a period of time we call a
      greylist.
    name: Blacklists
  - description: |
      Layouts are used to hold collections of plans. A layout can be used to
      power a pricing page. You can make multiple layouts, and use rules to
      target them to different audiences.
    name: Layouts
  - description: |
      Organizations include the name and address of the entities related to your
      account. An account may be multi-national, and support multiple
      organizations. Note: Organizations are share between "Live" and "Sandbox"
    name: Organizations
  - description: |
      Collect money from your customers with payments.  You can schedule a payment
      to occur in the future.  You can assign a dunning schedule to a payment to collect
      in the case of a decline

      Some payments may be, what we term, suspended payments.  These types of payments
      require user interaction.  For example, an initial PayPal purchase, a 3D Secure
      purchase, China Union Pay, and more require the customer's interaction to
      complete the payment.  We call these a "suspended" payment flow.
    name: Payments
  - description: |
      Proposed:  Your product includes digital goods, services, and physical goods.
    name: Products
  - description: |
      Proposed: You can map a product to a tax category.  The tax category is used by
      tax providers to calculate taxes for invoices.
    name: Taxes
  - description: |
      A Website represents the website/brand that customers interact with... You
      could think of it like a brand.  For example, Nestle owns Perrier and Purina
      and PowerBar.

      We recognize that some enterprises have more than one website (or brand).  The
      website is related to each invoice and each payment gateway account.  This feature
      would allow you to have gateway accounts that are related to multiple websites, or
      exclusive to particular websites.  And gives you more control over your business.
    name: Websites
  - description: |
      A User represents a person who can login to Rebilly, and take actions subject to
      their granted permissions.
    name: Users
  - description: |
      A session contains a token, which is a JSON Web Token.  The token is created
      with a user's signin credentials.

      This token can be used to authenticate to the API.  In addition, the session can be set to
      expire at a particular time, and has very granular control over permissions.
      Use the token to then authenticate for further requests to the Rebilly API.

      The token should be kept private, but could be stored on the user's browser
      client to simulate a "session."
    name: Sessions
  - description: |
      Tracking is a layer for accessing all the activity (API requests,
      subscriptions, webhooks, events, etc.), thus providing easier
      debugging and issues auditing.
    name: Tracking
paths:
  /3dsecure:
    get:
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/ThreeDSecure'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of ThreeDSecure entries
      tags:
        - 3D Secure
    post:
      description: |
        Create a ThreeDSecure entry
      parameters:
        - description: ThreeDSecure resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ThreeDSecure'
      responses:
        '201':
          description: ThreeDSecure entry was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/ThreeDSecure'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          $ref: '#/responses/InvalidDataError'
          description: Invalid data was sent
      summary: Create a ThreeDSecure entry
      tags:
        - 3D Secure
  '/3dsecure/{id}':
    get:
      description: |
        Retrieve a ThreeDSecure entry with specified identifier string
      responses:
        '200':
          description: ThreeDSecure entry was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/ThreeDSecure'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a ThreeDSecure entry
      tags:
        - 3D Secure
    parameters:
      - $ref: '#/parameters/resourceId'
  /api-keys:
    get:
      description: |
        Retrieve a list of api keys
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of api keys was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/ApiKey'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of api keys
      tags:
        - API Keys
    post:
      description: |
        Create an api key
      parameters:
        - description: ApiKey resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ApiKey'
      responses:
        '201':
          description: Api Key was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/ApiKey'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create an api key
      tags:
        - API Keys
  '/api-keys/{id}':
    delete:
      description: |
        Delete api key with predefined identifier string
      responses:
        '204':
          description: ApiKey was deleted
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '409':
          $ref: '#/responses/Conflict'
          description: ApiKey has related resources and cannot be deleted
      summary: Delete api key
      tags:
        - API Keys
    get:
      description: |
        Retrieve api key with specified identifier string
      responses:
        '200':
          description: Api key was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/ApiKey'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve api key
      tags:
        - API Keys
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Create or update api key with predefined identifier string
      parameters:
        - description: ApiKey resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ApiKey'
      responses:
        '200':
          description: ApiKey was updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/ApiKey'
        '201':
          description: ApiKey was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/ApiKey'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '422':
          $ref: '#/responses/InvalidDataError'
          description: Invalid data was sent
      summary: Create or update api key with predefined ID
      tags:
        - API Keys
  /authentication-options:
    get:
      description: |
        Read current authentication options
      responses:
        '200':
          description: Current authentication options was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/AuthenticationOptions'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Read current authentication options
      tags:
        - Customer Authentication
    put:
      description: |
        Change options
      parameters:
        - description: Authentication Options resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AuthenticationOptions'
      responses:
        '200':
          description: Authentication Options were updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/AuthenticationOptions'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Change authentication options
      tags:
        - Customer Authentication
  /authentication-tokens:
    get:
      description: |
        Retrieve a list of auth tokens
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of auth tokens was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/AuthenticationToken'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of auth tokens
      tags:
        - Customer Authentication
    post:
      description: |
        Login a user (customer)
      parameters:
        - description: AuthenticationToken resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AuthenticationToken'
      responses:
        '201':
          description: Login successful
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/AuthenticationToken'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Login
      tags:
        - Customer Authentication
  '/authentication-tokens/{token}':
    delete:
      description: |
        Logout a user
      responses:
        '204':
          description: User was logged out
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Logout a user
      tags:
        - Customer Authentication
    get:
      description: |
        Verify an authentication token
      responses:
        '200':
          description: Authentication Token was verified
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/AuthenticationToken'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Verify
      tags:
        - Customer Authentication
    parameters:
      - description: The token identifier string
        in: path
        name: token
        required: true
        type: string
  /bank-accounts:
    get:
      description: |
        Retrieve a list of Bank Accounts
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of Bank Accounts was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/BankAccount'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of bank accounts
      tags:
        - Bank Accounts
    post:
      description: |
        Create a Bank Account
      parameters:
        - description: BankAccount resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BankAccount'
      responses:
        '201':
          description: Bank Account was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/BankAccount'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create a Bank Account
      tags:
        - Bank Accounts
  '/bank-accounts/{id}':
    get:
      description: |
        Retrieve a Bank Account with specified identifier string
      responses:
        '200':
          description: BankAccount was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/BankAccount'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a Bank Account
      tags:
        - Bank Accounts
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Create or update a BankAccount with predefined identifier string
      parameters:
        - description: BankAccount resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BankAccount'
      responses:
        '200':
          description: BankAccount was updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/BankAccount'
        '201':
          description: BankAccount was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/BankAccount'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create a BankAccount with predefined ID
      tags:
        - Bank Accounts
  '/bank-accounts/{id}/deactivation':
    parameters:
      - $ref: '#/parameters/resourceId'
    post:
      description: |
        Deactivate a Bank Account
      responses:
        '201':
          description: Deactivated successful
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/BankAccount'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Deactivate a Bank Account
      tags:
        - Bank Accounts
  /blacklists:
    get:
      description: |
        Retrieve a list of blacklists
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of Blacklists was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/Blacklist'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of blacklists
      tags:
        - Blacklists
    post:
      description: |
        Create a blacklist
      parameters:
        - description: Blacklist resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Blacklist'
      responses:
        '201':
          description: Blacklist was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Blacklist'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          $ref: '#/responses/InvalidDataError'
      summary: Create a blacklist
      tags:
        - Blacklists
  '/blacklists/{id}':
    delete:
      description: |
        Delete a blacklist with predefined identifier string
      responses:
        '204':
          description: Blacklist was deleted
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Delete a blacklist
      tags:
        - Blacklists
    get:
      description: |
        Retrieve a blacklist with specified identifier string
      responses:
        '200':
          description: Blacklist was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Blacklist'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a blacklist
      tags:
        - Blacklists
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Create a blacklist with predefined identifier string
      parameters:
        - description: Blacklist resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Blacklist'
      responses:
        '201':
          description: Blacklist was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Blacklist'
        '401':
          $ref: '#/responses/AccessForbidden'
        '409':
          description: Blacklist exist and cannot be updated
          schema:
            $ref: '#/definitions/Error'
        '422':
          $ref: '#/responses/InvalidDataError'
      summary: Create a blacklist with predefined ID
      tags:
        - Blacklists
  /checkout-pages:
    get:
      description: |
        Retrieve a list of checkout pages
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of checkout pages was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/CheckoutPage'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of checkout pages
      tags:
        - Checkout Pages
    post:
      description: |
        Create a Checkout Page
      parameters:
        - description: Checkout Page resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CheckoutPage'
      responses:
        '201':
          description: Checkout Page was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/CheckoutPage'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create a Checkout Page
      tags:
        - Checkout Pages
  '/checkout-pages/{id}':
    delete:
      description: |
        Delete a Checkout Page with predefined identifier string
      responses:
        '204':
          description: Checkout Page was deleted
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '409':
          description: Checkout page cannot be deleted
      summary: Delete a Checkout Page
      tags:
        - Checkout Pages
    get:
      description: |
        Retrieve a Checkout Page with specified identifier string
      responses:
        '200':
          description: Checkout Page was retrieved successfully
          schema:
            $ref: '#/definitions/CheckoutPage'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a Checkout Page
      tags:
        - Checkout Pages
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Create or update a Checkout Page with predefined identifier string
      parameters:
        - description: Checkout Page resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CheckoutPage'
      responses:
        '200':
          description: Checkout Page was updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/CheckoutPage'
        '201':
          description: Checkout Page was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/CheckoutPage'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create or update a Checkout Page with predefined ID
      tags:
        - Checkout Pages
  /contacts:
    get:
      description: |
        Retrieve a list of contacts
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of Contacts was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/Contact'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of contacts
      tags:
        - Contacts
    post:
      description: |
        Create a contact
      parameters:
        - description: Contact resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Contact'
      responses:
        '201':
          description: Contact was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Contact'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          $ref: '#/responses/InvalidDataError'
      summary: Create a contact
      tags:
        - Contacts
  '/contacts/{id}':
    get:
      description: |
        Retrieve a contact with specified identifier string
      responses:
        '200':
          description: Contact was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Contact'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a contact
      tags:
        - Contacts
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Create or update a contact with predefined identifier string
      parameters:
        - description: Contact resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Contact'
      responses:
        '201':
          description: Contact was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Contact'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '409':
          description: Contact exists and cannot be updated
        '422':
          $ref: '#/responses/InvalidDataError'
      summary: Create or update a contact with predefined ID
      tags:
        - Contacts
  /credentials:
    get:
      description: |
        Retrieve a list of credentials
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of Credentials was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/Credential'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of credentials
      tags:
        - Customer Authentication
    post:
      description: |
        Create a credential
      parameters:
        - description: Credential resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Credential'
      responses:
        '201':
          description: Credential was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Credential'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create a credential
      tags:
        - Customer Authentication
  '/credentials/{id}':
    delete:
      description: |
        Delete a credential with predefined identifier string
      responses:
        '204':
          description: Credential was deleted
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Delete a credential
      tags:
        - Customer Authentication
    get:
      description: |
        Retrieve a credential with specified identifier string
      responses:
        '200':
          description: Credential was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Credential'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a credential
      tags:
        - Customer Authentication
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Create or update a credential with predefined identifier string
      parameters:
        - description: Credential resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Credential'
      responses:
        '200':
          description: Credential was updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Credential'
        '201':
          description: Credential was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Credential'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create or update a credential with predefined ID
      tags:
        - Customer Authentication
  '/custom-fields/{resource}':
    get:
      description: |
        Retrieve a schema of Custom Fields for the given resource type
      responses:
        '200':
          description: A schema of Custom Fields was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            description: The list of custom fields
            items:
              $ref: '#/definitions/CustomField'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve Custom Fields
      tags:
        - Custom Fields
    parameters:
      - description: The resource type string
        enum:
          - customers
          - payment-cards
          - subscriptions
          - payments
          - websites
          - contacts
        in: path
        name: resource
        required: true
        type: string
  '/custom-fields/{resource}/{name}':
    delete:
      description: |
        Delete a custom field by its name
      responses:
        '204':
          description: Custom field has been deleted
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '409':
          description: 'The field is in use: remove all the associated data first'
          schema:
            $ref: '#/definitions/Error'
      summary: Delete a custom field
      tags:
        - Custom Fields
    get:
      description: |
        Retrieve a schema of the given Custom Field for the given resource type
      responses:
        '200':
          description: A schema of the Custom Field was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/CustomField'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a Custom Field
      tags:
        - Custom Fields
    parameters:
      - description: The resource type string
        enum:
          - customers
          - payment-cards
          - subscriptions
          - payments
          - websites
          - contacts
        in: path
        name: resource
        required: true
        type: string
      - description: The custom field's identifier string
        in: path
        name: name
        required: true
        type: string
    put:
      description: |
        Create or alter a schema of the given Custom Field for the given resource type.
      parameters:
        - description: Custom Fields schema of the given resource type
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CustomField'
      responses:
        '200':
          description: The Custom Field was updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/CustomField'
        '201':
          description: The Custom Fields was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/CustomField'
        '401':
          $ref: '#/responses/AccessForbidden'
        '409':
          description: 'The schema is in use: remove all the associated data in order to remove or alter the schema'
          schema:
            $ref: '#/definitions/Error'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create or alter a Custom Field
      tags:
        - Custom Fields
  /customers:
    get:
      description: |
        Retrieve a list of customers
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
        - $ref: '#/parameters/collectionFilter'
        - $ref: '#/parameters/collectionQuery'
        - $ref: '#/parameters/collectionSort'
        - $ref: '#/parameters/collectionFields'
        - $ref: '#/parameters/collectionExpand'
      responses:
        '200':
          description: A list of Customers was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/Customer'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of customers
      tags:
        - Customers
    post:
      description: |
        Create a customer
      parameters:
        - description: Customer resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Customer'
      responses:
        '201':
          description: Customer was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Customer'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          $ref: '#/responses/InvalidDataError'
      summary: Create a customer
      tags:
        - Customers
  '/customers/{id}':
    get:
      description: |
        Retrieve a customer with specified identifier string
      responses:
        '200':
          description: Customer was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Customer'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a customer
      tags:
        - Customers
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Create a customer with predefined identifier string
      parameters:
        - description: Customer resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Customer'
      responses:
        '200':
          description: Customer was updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Customer'
        '201':
          description: Customer was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Customer'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          $ref: '#/responses/InvalidDataError'
      summary: Create a customer with predefined ID
      tags:
        - Customers
  /disputes:
    get:
      description: |
        Retrieve a list of disputes
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of disputes was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/Dispute'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of disputes
      tags:
        - Disputes
    post:
      description: |
        Create a dispute
      parameters:
        - description: Dispute resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Dispute'
      responses:
        '201':
          description: Dispute was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Dispute'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create a dispute
      tags:
        - Disputes
  '/disputes/{id}':
    get:
      description: |
        Retrieve a dispute with specified identifier string
      responses:
        '200':
          description: Dispute was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Dispute'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a dispute
      tags:
        - Disputes
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Create or update a Dispute with predefined identifier string
      parameters:
        - description: Dispute resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Dispute'
      responses:
        '200':
          description: Dispute was updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Dispute'
        '201':
          description: Dispute was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Dispute'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create or update a Dispute with predefined ID
      tags:
        - Disputes
  /email-credentials:
    get:
      description: |
        Retrieve a list of email credentials
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of email credentials was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/EmailCredential'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of email credentials
      tags:
        - Email Credentials
    post:
      description: Create email credential
      parameters:
        - description: EmailCredential resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/EmailCredential'
      responses:
        '201':
          description: Email credential was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/EmailCredential'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create email credential
      tags:
        - Email Credentials
  '/email-credentials/{id}':
    delete:
      description: |
        Delete an email credential with predefined identifier string
      responses:
        '204':
          description: Email credential was deleted
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Delete an email credential
      tags:
        - Email Credentials
    get:
      description: |
        Retrieve email credential with specified identifier string
      responses:
        '200':
          description: Email credential was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/EmailCredential'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve email credential
      tags:
        - Email Credentials
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Create or update email credential with predefined identifier string
      parameters:
        - description: EmailCredential resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/EmailCredential'
      responses:
        '200':
          description: Email credential was updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/EmailCredential'
        '201':
          description: Email credential was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/EmailCredential'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create or update email credential with predefined ID
      tags:
        - Email Credentials
  /forgot-password:
    post:
      description: |
        Sends an email with a link containing a token to reset user password
      parameters:
        - description: Email resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Email'
      responses:
        '204':
          description: Email sent successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Sends an email with a link containing a token to reset user password
      tags:
        - Users
  /gateway-accounts:
    get:
      description: |
        Retrieve a list of gateway accounts
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of Gateway Accounts was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/GatewayAccount'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of gateway accounts
      tags:
        - Gateway Accounts
    post:
      description: |
        Create a Gateway Account
      parameters:
        - description: Gateway Account resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GatewayAccount'
      responses:
        '201':
          description: Gateway Account was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/GatewayAccount'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create a Gateway Account
      tags:
        - Gateway Accounts
  '/gateway-accounts/{id}':
    delete:
      description: |
        Delete a Gateway Account with predefined identifier string
      responses:
        '204':
          description: Gateway Account was deleted
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Delete a Gateway Account
      tags:
        - Gateway Accounts
    get:
      description: |
        Retrieve a Gateway Account with specified identifier string
      responses:
        '200':
          description: Gateway Account was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/GatewayAccount'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a Gateway Account
      tags:
        - Gateway Accounts
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Create or update a GatewayAccount with predefined identifier string
      parameters:
        - description: Gateway Account resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GatewayAccount'
      responses:
        '200':
          description: Gateway Account was updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/GatewayAccount'
        '201':
          description: Gateway Account was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/GatewayAccount'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create or update a Gateway Account with predefined ID
      tags:
        - Gateway Accounts
  /histograms/transactions:
    get:
      description: |
        Get Transaction histogram report data.
      parameters:
        - description: Report start day
          format: date-time
          in: query
          name: periodStart
          required: true
          type: string
        - description: Report end day
          format: date-time
          in: query
          name: periodEnd
          required: true
          type: string
        - description: Report aggregation field
          enum:
            - website
            - currency
            - bin
            - rebillNumber
            - transactionResult
            - transactionType
            - gatewayAccount
            - leadsAffiliate
            - leadsCampaign
            - leadsContent
            - leadsMedium
            - leadsSalesAgent
            - leadsSource
            - leadsSubAffiliate
            - leadsTerm
          in: query
          name: aggregationField
          required: true
          type: string
        - description: Report aggregation period
          enum:
            - hour
            - day
            - month
          in: query
          name: aggregationPeriod
          required: true
          type: string
        - description: Report metric
          enum:
            - ApprovalThroughput
            - AuthApprovalThroughput
            - AvgSalesPrice
            - Refunds
            - RefundCount
            - Sales
            - SalesCount
          in: query
          name: metric
          required: true
          type: string
      responses:
        '200':
          description: Transaction report was retrieved successfully.
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/HistogramData'
      summary: Get Transaction histogram report data
      tags:
        - Transaction
        - Histogram
        - Report
  /invoices:
    get:
      description: |
        Retrieve a list of invoices
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of invoices was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/Invoice'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of invoices
      tags:
        - Invoices
    post:
      description: |
        Create an invoice
      parameters:
        - description: Invoice resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Invoice'
      responses:
        '201':
          description: Invoice was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Invoice'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create an invoice
      tags:
        - Invoices
  '/invoices/{id}':
    get:
      description: |
        Retrieve an invoice with specified identifier string
      responses:
        '200':
          description: Invoice was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Invoice'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve an invoice
      tags:
        - Invoices
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Create or update an invoice with predefined identifier string
      parameters:
        - description: Invoice resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Invoice'
      responses:
        '200':
          description: Invoice was updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Invoice'
        '201':
          description: Invoice was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Invoice'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create or update an invoice with predefined ID
      tags:
        - Invoices
  '/invoices/{id}/abandon':
    parameters:
      - $ref: '#/parameters/resourceId'
    post:
      description: |
        Abandon an invoice with specified identifier string
      responses:
        '201':
          description: Invoice was abandoned successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Invoice'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Abandon an invoice
      tags:
        - Invoices
  '/invoices/{id}/issue':
    parameters:
      - $ref: '#/parameters/resourceId'
    post:
      description: |
        Issue an invoice with specified identifier string
      parameters:
        - description: InvoiceItem resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/InvoiceIssue'
      responses:
        '201':
          description: Invoice was abandoned successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Invoice'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Issue an invoice
      tags:
        - Invoices
  '/invoices/{id}/items':
    get:
      description: |
        Retrieve an invoice items with specified invoice identifier string
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: Invoice items were retrieved successfully
          headers:
            Rate-Limit-Limit:
[...]
