swagger: '2.0'
schemes:
  - https
host: api.rebilly.com
basePath: /v2.1
info:
  contact:
    email: integrations@rebilly.com
    name: Rebilly API Support
    url: 'https://www.rebilly.com/contact/'
  description: |
    # Introduction
    The Rebilly API is built on HTTP.  Our API is RESTful.  It has predictable
    resource URLs.  It returns HTTP response codes to indicate errors.  It also
    accepts and returns JSON in the HTTP body.  You can use your favorite
    HTTP/REST library for your programming language to use Rebilly's API, or
    you can use one of our SDKs (currently available in [PHP](https://github.com/Rebilly/rebilly-php)
    and [C#](https://github.com/Rebilly/rebilly-dotnet-client)).

    # Authentication
    When you sign up for an account, you are given your first API key.
    You can generate additional API keys, and delete API keys (as you may
    need to rotate your keys in the future). You authenticate to the
    Rebilly API by providing your secret key in the request header.

    Rebilly offers three forms of authentication:  private key, JSON Web Tokens, and
    public key.
    - private key: authenticates each request by searching for the presence
    of an HTTP header: REB-APIKEY.
    - JWT: authenticates each request by the HTTP header: Authorization.
    - public key: authenticates by the HTTP header: REB-AUTH (read more on this below).

    Rebilly also offers JSON Web Tokens (JWT) authentication, where you can control
    the specific granular permissions and expiration for that JWT.  We call our resource
    for generating JWT [Sessions](#tag/Sessions).

    Rebilly also has a client-side authentication scheme that uses an
    apiUser and HMAC-SHA1 signature (only for the Tokens resource), so
    that you may safely create tokens from the client-side without compromising
    your secret keys.

    Never share your secret keys. Keep them guarded and secure.
    The client-side authentication scheme uses one HTTP header named REB-AUTH.

    <!-- ReDoc-Inject: <security-definitions> -->

    # PHP SDK
    For all PHP SDK examples provided in this spec you will need to configure `$client`.
    You may do it like this:

    ```php
    $client = new Rebilly\Client([
        'apiKey' => 'YourApiKeyHere',
        'baseUrl' => 'https://api.rebilly.com',
    ]);
    ```
  license:
    name: Rebilly
    url: 'https://my.rebilly.com/api/license/'
  termsOfService: 'https://www.rebilly.com/terms/'
  title: Rebilly
  version: '2.1'
  x-apisguru-categories:
    - payment
    - ecommerce
  x-logo:
    backgroundColor: '#0033A0'
    url: 'https://rebilly.github.io/RebillyAPI/rb_apiLogo.svg'
  x-origin:
    - format: swagger
      url: 'http://rebilly.github.io/RebillyAPI/swagger.json'
      version: '2.0'
  x-providerName: rebilly.com
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  ApiKey:
    description: |
      When you sign up for an account, you are given your first API key.
      To do so please follow this link: https://www.rebilly.com/site/signup/
      Also you can generate additional API keys, and delete API keys (as you may
      need to rotate your keys in the future).
    in: header
    name: REB-APIKEY
    type: apiKey
  JWT:
    description: |
      You can create a JSON Web Token (JWT) via our Sessions resource.
    type: basic
  RebAuth:
    description: |
      Only for the Tokens resource.
      The REB-AUTH value is created in this way
      Generate a Nonce (random string), and a Timestamp (unix timestamp)
      Concatenate the values of ApiUser, Nonce, and Timestamp (in that order).
      Use that value as the input data when you calculate the <a href="http://tools.ietf.org/html/rfc2104">HMAC-SHA1</a> with your secret key, called the signature.
      Forming the four data points into a JSON object.

      ```json
      {
        "REB-APIUSER": "abcdefg",
        "REB-NONCE": "adfsjtreitou345fgkdafgj",
        "REB-TIMESTAMP": "1382591345",
        "REB-SIGNATURE": "a234fc95460401cfg09c9d09"
      }
      ```

      Then base64 encode that JSON object. This is the final value of the REB-AUTH HTTP header
    in: header
    name: REB-AUTH
    type: apiKey
security:
  - ApiKey: []
parameters:
  collectionCriteria:
    description: The json criteria for collection
    in: query
    name: criteria
    type: string
  collectionExpand:
    description: Expand response to get full related object intead of ID.  See the expand guide for more info.
    in: query
    name: expand
    type: string
  collectionFields:
    description: 'Limit the returned fields to the list specified, separated by comma.  Note that id is always returned.'
    in: query
    name: fields
    type: string
  collectionFilter:
    description: |
      The collection items filter requires a special format.
      Use "," for multiple allowed values.  Use ";" for multiple fields.
      See the filter guide for more options and examples about this format.
    in: query
    name: filter
    type: string
  collectionLimit:
    description: The collection items limit
    in: query
    maximum: 1000
    minimum: 0
    name: limit
    type: integer
  collectionOffset:
    description: The collection items offset
    in: query
    minimum: 0
    name: offset
    type: integer
  collectionQuery:
    description: The partial search of the text fields.
    in: query
    name: q
    type: string
  collectionSort:
    collectionFormat: csv
    description: The collection items sort field and order (prefix with "-" for descending sort).
    in: query
    items:
      type: string
    name: sort
    type: array
  hash:
    description: The token identifier string
    in: path
    name: hash
    required: true
    type: string
  mediaType:
    default: application/json
    description: The response media type
    enum:
      - application/json
    in: header
    name: Accept
    type: string
  resourceId:
    description: The resource identifier string
    in: path
    name: id
    required: true
    type: string
  rulesVersion:
    description: The rule set version. Expand response to get full related object instead of ID.  See the expand guide for more info.
    in: path
    minimum: 1
    name: version
    required: true
    type: integer
  systemEventType:
    description: The event type
    in: path
    name: eventType
    required: true
    type: string
responses:
  AccessForbidden:
    description: 'Access forbidden, invalid API-KEY was used'
    schema:
      $ref: '#/definitions/Error'
  Conflict:
    description: Conflict
    schema:
      $ref: '#/definitions/Error'
  InvalidDataError:
    description: Invalid data was sent
    schema:
      $ref: '#/definitions/InvalidError'
  NotFound:
    description: Resource was not found
    schema:
      $ref: '#/definitions/Error'
tags:
  - description: |
      3D Secure is a way to authenticate and protect transactions.  Typically,
      it's only possible to protect the initial transaction in a subscription
      with 3D Secure.
    name: 3D Secure
  - description: |
      Always keep your API Keys private.  In addition to your API Keys, you may use
      JSON Web Tokens (JWT) to authenticate to the API.  See
      our [Sessions](#tag/Sessions) resource for more information.
    name: API Keys
  - description: |
      Bank Accounts are a type of payment instrument used to collect
      ACH (echeck) payments, similar to how a payment
      card would be used to for a credit card payment.
    name: Bank Accounts
  - description: |
      Your blacklists contains values of customerIds, email addresses,
      ipAddresses, bank identification numbers, countries or payment cards that
      you do NOT want to do business with. They are a good tool for managing
      risk. A blacklist entry that expires after a period of time we call a
      greylist.
    name: Blacklists
  - description: |
      Hosted checkout pages.
    name: Checkout Pages
  - description: |
      Contacts belong to Customers. A Customer can have many contacts.
      Some contacts are associated to Invoices, Payment Cards, Subscriptions
      and Transactions.
    name: Contacts
  - description: |
      Coupons allows to apply different types of discounts to Invoices, Subscriptions and Plans. Redeemed Coupons will be applied only to Invoices with the same currency.
    name: Coupons
  - description: |
      Customers are your customers, sometimes known as accounts, clients,
      members, patrons, or players in other systems.
    name: Customers
  - description: |
      Create authentication credentials, login, logout, and verify your customers.
    name: Customer Authentication
  - description: |
      If system events can't solve your problems, you are able to create a custom event
      that can fit your requirements, and use it to solve your own business logic.
    name: Custom Events
  - description: |
      "Don't conform to the rules. Create the rules."
      Rather than adapt your workflow and business, Rebilly can align with your business
      objectives by giving you the power to automate certain behaviors when key events happen.
      You can use this to your advantage to mitigate risk, maximize conversions and minimize costs.
      You have the controls at your fingertips here. If you need more control,
      or help dialing in on a strategy, feel free to contact us.

      When an event happens, it triggers the evaluation of conditions (that you set up),
      in order from top to bottom. If the condition is met, the corresponding actions are executed.
      The conditions continue to be checked until either all of the conditions have been executed,
      or a special "stop" action is executed.
    name: Custom Rules
  - description: |
      Create additional custom fields for particular resources.  You may name,
      describe, and determine the type of the schema.
    name: Custom Fields
  - description: |
      Get and create SMTP and Webhook credential hashes.
    name: Credential Hashes
  - description: |
      Handle disputes (chargebacks and retrievals).
    name: Disputes
  - description: |
      Send automated emails through our system by connecting to your third party
      SMTP server (or your third party email service provider's SMTP server).
    name: Email Credentials
  - description: |
      A File is an entity that can store a phyiscal file and some metadata. It also provides an easy access to
      its size, mime-type, user-defined tags and description thus allowing easy sorting and searching among stored
      files.
      There are several methods of file uploading available: multipart/form-data encoded form, RAW POST (by sending
      file contents as POST body), fetching from URL (by providing the file URL via 'url' param)
      Attachment is an entity that is used to link a File to one or multiple objects like Customer, Dispute, Payment,
      Transaction, Subscription, Plan, Product, Invoice, Note. That allows to quickly find and use files related to
      those specific entities.
    name: Files
  - description: |
      Gateway accounts connect payment request to third party networks and platforms.
    name: Gateway Accounts
  - description: |
      Invoices leave a record for both you and your customer of the products sold.
    name: Invoices
  - description: |
      Layouts are used to hold collections of plans. A layout can be used to
      power a pricing page. You can make multiple layouts, and use rules to
      target them to different audiences.
    name: Layouts
  - description: |
      Lists contain sets of values and may be referenced within Rules criteria.

      You may grant permissions to edit Lists to different people than those who can edit Rules.
      It may be useful if your workflow involves frequent updates to value sets used in criteria.
    name: Lists
  - description: |
      Migrate payment cards from one gateway to another.
    name: Migrate payment cards
  - description: |
      Leave notes on a customer record to have a handy location to share with
      others who may interface with the customer.  It's great for customer service.
    name: Notes
  - description: |
      Organizations include the name and address of the entities related to your
      account. An account may be multi-national, and support multiple
      organizations. Note: Organizations are share between "Live" and "Sandbox"
    name: Organizations
  - description: |
      Collect money from your customers with payments.  You can schedule a payment
      to occur in the future.  You can assign a dunning schedule to a payment to collect
      in the case of a decline.

      Some payments may be, what we term, suspended payments.  These types of payments
      require user interaction.  For example, an initial PayPal purchase, a 3D Secure
      purchase, China Union Pay, and more require the customer's interaction to
      complete the payment.  We call these a "suspended" payment flow.
    name: Payments
  - description: |
      Payment cards are a type of payment instrument used for credit and debit card
      sales.  Rebilly securely vaults the full payment card number, and can pass it
      onward securely to any gateway account to transact business.
    name: Payment Cards
  - description: |
      Payment tokens are used to reduce the scope of PCI DSS compliance.  A payment
      token can be made using a different authentication scheme (refer to the public key
      authentication scheme in the Authentication section), which allows you to
      create a payment tokeng directly from the browser, bypassing the need to send
      sensitive cardholder info to your servers.  We recommend using this with our
      Rebilly.js library, which helps you wire a form into this API resource and create
      payment tokens.
    name: Payment Tokens
  - description: |
      Plans are a template for making a subscription.  For example, you may have a plan
      that has a 30-day free trial followed by a recurring charge of $19.95 per month
      until canceled.  The combination of the plan and a request to make a subscription
      will apply those instructions to create the invoices according to the plan's
      schedule.
    name: Plans
  - description: |
      Proposed:  Your product includes digital goods, services, and physical goods.
    name: Products
  - description: |
      The Rebilly Reporting API is currently experimental.  You may see
      the [Reports API Documentation here](https://rebilly.github.io/RebillyReportsAPI/).
    name: Reports
  - description: |
      "Don't conform to the rules. Create the rules."
      Rather than adapt your workflow and business, Rebilly can align with your business
      objectives by giving you the power to automate certain behaviors when key events happen.
      You can use this to your advantage to mitigate risk, maximize conversions and minimize costs.
      You have the controls at your fingertips here. If you need more control,
      or help dialing in on a strategy, feel free to contact us.

      When an event happens, it triggers the evaluation of conditions (that you set up),
      in order from top to bottom. If the condition is met, the corresponding actions are executed.
      The conditions continue to be checked until either all of the conditions have been executed,
      or a special "stop" action is executed.
    name: Rules
  - description: |
      A session contains a token, which is a JSON Web Token.  The token is created
      with a user's signin credentials.

      This token can be used to authenticate to the API.  In addition, the session can be set to
      expire at a particular time, and has very granular control over permissions.
      Use the token to then authenticate for further requests to the Rebilly API.

      The token should be kept private, but could be stored on the user's browser
      client to simulate a "session."
    name: Sessions
  - description: |
      A shipping zone contains regions and countries that you ship to. Each shipping zone has its own shipping rates.
    name: Shipping Zones
  - description: |
      Check the status of the Rebilly API (no authentication required).
    name: Status
  - description: |
      A subscription applies a plan's template to create invoices for a customer at the
      appropriate scheduled intervals.  A subscription may also determine if the payment
      is collected automatically (with autopay set true).
    name: Subscriptions
  - description: |
      Proposed: You can map a product to a tax category.  The tax category is used by
      tax providers to calculate taxes for invoices.
    name: Taxes
  - description: |
      Tracking is a layer for accessing all the activity (API requests,
      subscriptions, webhooks, events, etc.), thus providing easier
      debugging and issues auditing.
    name: Tracking
  - description: |
      Get and refund transactions.
    name: Transactions
  - description: |
      A User represents a person who can login to Rebilly, and take actions subject to
      their granted permissions.
    name: Users
  - description: |
      A Website represents the website/brand that customers interact with... You
      could think of it like a brand.  For example, Nestle owns Perrier and Purina
      and PowerBar.

      We recognize that some enterprises have more than one website (or brand).  The
      website is related to each invoice and each payment gateway account.  This feature
      would allow you to have gateway accounts that are related to multiple websites, or
      exclusive to particular websites.  And gives you more control over your business.
    name: Websites
  - description: |
      Webhooks are designed to notify your systems when certain/all registered events happen in near real-time.
      They allow you to collect information about those events. Rebilly can send these information via
      POST to an URL of your choice.
    name: Webhooks
paths:
  /3dsecure:
    get:
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/ThreeDSecure'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of ThreeDSecure entries
      tags:
        - 3D Secure
    post:
      description: |
        Create a ThreeDSecure entry
      parameters:
        - description: ThreeDSecure resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ThreeDSecure'
      responses:
        '201':
          description: ThreeDSecure entry was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/ThreeDSecure'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          $ref: '#/responses/InvalidDataError'
      summary: Create a ThreeDSecure entry
      tags:
        - 3D Secure
  '/3dsecure/{id}':
    get:
      description: |
        Retrieve a ThreeDSecure entry with specified identifier string
      responses:
        '200':
          description: ThreeDSecure entry was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/ThreeDSecure'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a ThreeDSecure entry
      tags:
        - 3D Secure
    parameters:
      - $ref: '#/parameters/resourceId'
  '/activation/{token}':
    parameters:
      - description: The token string
        in: path
        name: token
        required: true
        type: string
    post:
      description: |
        Sends a token to activate user account
      responses:
        '204':
          description: User account was activated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
        '422':
          description: Invalid token was sent
          schema:
            $ref: '#/definitions/InvalidError'
      security:
        - RebAuth: []
      summary: Sends a token to activate user account
      tags:
        - Users
      x-code-samples:
        - lang: PHP
          source: |
            try {
                $client->users()->activate('token');
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  /api-keys:
    get:
      description: |
        Retrieve a list of api keys
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of api keys was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/ApiKey'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of api keys
      tags:
        - API Keys
      x-code-samples:
        - lang: PHP
          source: |
            $apiKeys = $client->apiKeys()->search([
                'filter' => 'description:Test',
            ]);
    post:
      description: |
        Create an api key
      parameters:
        - description: ApiKey resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ApiKey'
      responses:
        '201':
          description: Api Key was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/ApiKey'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create an api key
      tags:
        - API Keys
      x-code-samples:
        - lang: PHP
          source: |
            $apiKeyForm = new Rebilly\Entities\ApiKey();
            $apiKeyForm->setDescription('Test');
            $apiKeyForm->setDatetimeFormat($apiKeyForm::DATETIME_FORMAT_MYSQL);

            try {
                $apiKey = $client->apiKeys()->create($apiKeyForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  '/api-keys/{id}':
    delete:
      description: |
        Delete api key with predefined identifier string
      responses:
        '204':
          description: ApiKey was deleted
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '409':
          $ref: '#/responses/Conflict'
          description: ApiKey has related resources and cannot be deleted
      summary: Delete api key
      tags:
        - API Keys
      x-code-samples:
        - lang: PHP
          source: |
            $client->apiKeys()->delete('apiKeyID');
    get:
      description: |
        Retrieve api key with specified identifier string
      responses:
        '200':
          description: Api key was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/ApiKey'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve api key
      tags:
        - API Keys
      x-code-samples:
        - lang: PHP
          source: |
            $apiKeys = $client->apiKeys()->load('apiKeyID');
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Create or update api key with predefined identifier string
      parameters:
        - description: ApiKey resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ApiKey'
      responses:
        '200':
          description: ApiKey was updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/ApiKey'
        '201':
          description: ApiKey was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/ApiKey'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '422':
          $ref: '#/responses/InvalidDataError'
          description: Invalid data was sent
      summary: Create or update api key with predefined ID
      tags:
        - API Keys
      x-code-samples:
        - lang: PHP
          source: |
            $apiKeyForm = new Rebilly\Entities\ApiKey();
            $apiKeyForm->setDescription('TestPut');
            $apiKeyForm->setDatetimeFormat($apiKeyForm::DATETIME_FORMAT_MYSQL);

            try {
                $apiKey = $client->apiKeys()->update('apiKeyID', $apiKeyForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  /attachments:
    get:
      description: |
        Retrieve a list of Attachments
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
        - $ref: '#/parameters/collectionFilter'
        - $ref: '#/parameters/collectionQuery'
        - $ref: '#/parameters/collectionExpand'
        - $ref: '#/parameters/collectionFields'
        - collectionFormat: csv
          description: The collection items sort field and order (prefix with "-" for descending sort).
          in: query
          items:
            enum:
              - id
              - '-id'
              - name
              - '-name'
              - relatedId
              - '-relatedId'
              - relatedType
              - '-relatedType'
              - fileId
              - '-fileId'
              - createdTime
              - '-createdTime'
              - updatedTime
              - '-updatedTime'
            type: string
          name: sort
          type: array
      responses:
        '200':
          description: A list of Attachments was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/Attachment'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of Attachments
      tags:
        - Files
      x-code-samples:
        - lang: PHP
          source: |
            $attachments = $client->attachments()->search([
                'filter' => 'relatedType:customer',
            ]);
    post:
      description: |
        Create an Attachment
      parameters:
        - description: Attachment resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Attachment'
      responses:
        '201':
          description: Attachment was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Attachment'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          $ref: '#/responses/InvalidDataError'
      summary: Create an Attachment
      tags:
        - Files
      x-code-samples:
        - lang: PHP
          source: |
            $attachmentForm = new Rebilly\Entities\Attachment();
            $attachmentForm->setFileId('fileId');
            $attachmentForm->setRelatedType($attachmentForm::TYPE_CUSTOMER);
            $attachmentForm->setRelatedId('customerId');

            try {
                $attachment = $client->attachments()->create($attachmentForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  '/attachments/{id}':
    delete:
      description: |
        Delete the Attachment with predefined identifier string
      responses:
        '204':
          description: Attachment was deleted
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Delete an Attachment
      tags:
        - Files
      x-code-samples:
        - lang: PHP
          source: |
            $client->attachments()->delete('attachmentId');
    get:
      description: |
        Retrieve a Attachment with specified identifier string
      responses:
        '200':
          description: Attachment was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Attachment'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve an Attachment
      tags:
        - Files
      x-code-samples:
        - lang: PHP
          source: |
            $attachment = $client->attachments()->load('attachmentId');
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Update the Attachment with predefined ID
      parameters:
        - description: Attachment resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Attachment'
      responses:
        '200':
          description: Attachment was updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Attachment'
        '201':
          description: Attachment was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Attachment'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Update the Attachment with predefined ID
      tags:
        - Files
      x-code-samples:
        - lang: PHP
          source: |
            $attachmentForm = new Rebilly\Entities\Attachment();
            $attachmentForm->setFileId('fileId');
            $attachmentForm->setRelatedType($attachmentForm::TYPE_CUSTOMER);
            $attachmentForm->setRelatedId('customerId');

            try {
                $attachment = $client->attachments()->update('attachmentId', $attachmentForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  /authentication-options:
    get:
      description: |
        Read current authentication options
      responses:
        '200':
          description: Current authentication options was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/AuthenticationOptions'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Read current authentication options
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $authenticationOptions = $client->authenticationOptions()->load();
    put:
      description: |
        Change options
      parameters:
        - description: Authentication Options resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AuthenticationOptions'
      responses:
        '200':
          description: Authentication Options were updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/AuthenticationOptions'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Change authentication options
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $authenticationOptionsForm = new Rebilly\Entities\AuthenticationOptions();
            // Regular expression below matches any password with 6+ length that contains alphabet symbols and/or numbers.
            $authenticationOptionsForm->setPasswordPattern('/^[a-zA-Z0-9]{6,}$/');

            try {
                $authenticationOptions = $client->authenticationOptions()->update($authenticationOptionsForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  /authentication-tokens:
    get:
      description: |
        Retrieve a list of auth tokens
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of auth tokens was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/AuthenticationToken'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of auth tokens
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $authenticationTokens = $client->authenticationTokens()->search([
                'filter' => 'customerId:testCustomer',
            ]);
    post:
      description: |
        Login a user (customer)
      parameters:
        - description: AuthenticationToken resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AuthenticationToken'
      responses:
        '201':
          description: Login successful
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/AuthenticationToken'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Login
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $authenticationForm = new Rebilly\Entities\AuthenticationToken();
            $authenticationForm->setUsername('username');
            $authenticationForm->setPassword('test123');

            try {
                $authenticationToken = $client->authenticationTokens()->login($authenticationForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  '/authentication-tokens/{token}':
    delete:
      description: |
        Logout a user
      responses:
        '204':
          description: User was logged out
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Logout a user
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $client->authenticationTokens()->logout('token');
    get:
      description: |
        Verify an authentication token
      responses:
        '200':
          description: Authentication Token was verified
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/AuthenticationToken'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Verify
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $isVerified = $client->authenticationTokens()->verify('token');
    parameters:
      - description: The token identifier string
        in: path
        name: token
        required: true
        type: string
  /bank-accounts:
    get:
      description: |
        Retrieve a list of Bank Accounts
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of Bank Accounts was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/BankAccount'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of bank accounts
      tags:
        - Bank Accounts
      x-code-samples:
        - lang: PHP
          source: |
            $bankAccounts = $client->bankAccounts()->search([
                'filter' => 'customerId:testId',
            ]);
    post:
      description: |
        Create a Bank Account
      parameters:
        - description: BankAccount resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BankAccount'
      responses:
        '201':
          description: Bank Account was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/BankAccount'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create a Bank Account
      tags:
        - Bank Accounts
      x-code-samples:
        - lang: PHP
          source: |
            $bankAccountForm = new Rebilly\Entities\BankAccount();
            $bankAccountForm->setCustomerId('customerId');
            $bankAccountForm->setContactId('contactId');
            $bankAccountForm->setRoutingNumber('0123456');
            $bankAccountForm->setAccountNumber('0123456');
            $bankAccountForm->setAccountType('checking');

            try {
                $bankAccount = $client->bankAccounts()->create($bankAccountForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  '/bank-accounts/{id}':
    get:
      description: |
        Retrieve a Bank Account with specified identifier string
      responses:
        '200':
          description: BankAccount was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/BankAccount'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a Bank Account
      tags:
        - Bank Accounts
      x-code-samples:
        - lang: PHP
          source: |
            $bankAccount = $client->bankAccounts()->load('bankAccountId');
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Create or update a BankAccount with predefined identifier string
      parameters:
        - description: BankAccount resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BankAccount'
      responses:
        '200':
          description: BankAccount was updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/BankAccount'
        '201':
          description: BankAccount was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/BankAccount'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create a BankAccount with predefined ID
      tags:
        - Bank Accounts
      x-code-samples:
        - lang: PHP
          source: |
            $bankAccountForm = new Rebilly\Entities\BankAccount();
            $bankAccountForm->setCustomerId('customerId');
            $bankAccountForm->setContactId('contactId');
            $bankAccountForm->setRoutingNumber('0123456');
            $bankAccountForm->setAccountNumber('0123456');
            $bankAccountForm->setAccountType('checking');

            try {
                $bankAccount = $client->customers()->update('bankAccountId', $bankAccountForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  '/bank-accounts/{id}/deactivation':
    parameters:
      - $ref: '#/parameters/resourceId'
    post:
      description: |
        Deactivate a Bank Account
      responses:
        '201':
          description: Deactivated successful
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/BankAccount'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Deactivate a Bank Account
      tags:
        - Bank Accounts
      x-code-samples:
        - lang: PHP
          source: |
            $bankAccount = $client->bankAccounts()->deactivate('bankAccountId');
  /blacklists:
    get:
      description: |
        Retrieve a list of blacklists
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of Blacklists was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/Blacklist'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of blacklists
      tags:
        - Blacklists
      x-code-samples:
        - lang: PHP
          source: |
            $blacklists = $client->blacklists()->search([
                'filter' => 'value:testValue',
            ]);
    post:
      description: |
        Create a blacklist
      parameters:
        - description: Blacklist resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Blacklist'
      responses:
        '201':
          description: Blacklist was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Blacklist'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          $ref: '#/responses/InvalidDataError'
      summary: Create a blacklist
      tags:
        - Blacklists
      x-code-samples:
        - lang: PHP
          source: |
            $blacklistForm = new Rebilly\Entities\Blacklist();
            $blacklistForm->setType($blacklistForm::TYPE_EMAIL);
            $blacklistForm->setValue('test@test.com');
            $blacklistForm->setExpiredTime('2025-01-01 05:00:00');

            try {
                $blacklist = $client->blacklists()->create($blacklistForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  '/blacklists/{id}':
    delete:
      description: |
        Delete a blacklist with predefined identifier string
      responses:
        '204':
          description: Blacklist was deleted
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Delete a blacklist
      tags:
        - Blacklists
      x-code-samples:
        - lang: PHP
          source: |
            $client->blacklists()->delete('blacklistId');
    get:
      description: |
        Retrieve a blacklist with specified identifier string
      responses:
        '200':
          description: Blacklist was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Blacklist'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a blacklist
      tags:
        - Blacklists
      x-code-samples:
        - lang: PHP
          source: |
            $blacklist = $client->blacklists()->load('blacklistId');
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Create a blacklist with predefined identifier string
      parameters:
        - description: Blacklist resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Blacklist'
      responses:
        '201':
          description: Blacklist was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Blacklist'
        '401':
          $ref: '#/responses/AccessForbidden'
        '409':
          description: Blacklist exist and cannot be updated
          schema:
            $ref: '#/definitions/Error'
        '422':
          $ref: '#/responses/InvalidDataError'
      summary: Create a blacklist with predefined ID
      tags:
        - Blacklists
      x-code-samples:
        - lang: PHP
          source: |
            $blacklistForm = new Rebilly\Entities\Blacklist();
            $blacklistForm->setType($blacklistForm::TYPE_EMAIL);
            $blacklistForm->setValue('test@test.com');
            $blacklistForm->setExpiredTime('2025-01-01 05:00:00');

            try {
                $blacklist = $client->blacklists()->update('blacklistId', $blacklistForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  /checkout-pages:
    get:
      description: |
        Retrieve a list of checkout pages
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of checkout pages was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/CheckoutPage'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of checkout pages
      tags:
        - Checkout Pages
      x-code-samples:
        - lang: PHP
          source: |
            $checkoutPages = $client->checkoutPages()->search([
                'filter' => 'name:testCheckoutPage',
            ]);
    post:
      description: |
        Create a Checkout Page
      parameters:
        - description: Checkout Page resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CheckoutPage'
      responses:
        '201':
          description: Checkout Page was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/CheckoutPage'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create a Checkout Page
      tags:
        - Checkout Pages
      x-code-samples:
        - lang: PHP
          source: |
            $checkoutPageForm = new Rebilly\Entities\CheckoutPage();
            $checkoutPageForm->setPlanId('planId');
            $checkoutPageForm->setWebsiteId('websiteId');
            $checkoutPageForm->setName('TestCheckoutPage');
            $checkoutPageForm->setUriPath('test-checkout-page');

            try {
                $checkoutPage = $client->checkoutPages()->create($checkoutPageForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  '/checkout-pages/{id}':
    delete:
      description: |
        Delete a Checkout Page with predefined identifier string
      responses:
        '204':
          description: Checkout Page was deleted
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '409':
          description: Checkout page cannot be deleted
      summary: Delete a Checkout Page
      tags:
        - Checkout Pages
      x-code-samples:
        - lang: PHP
          source: |
            $client->checkoutPages()->delete('checkoutPageId');
    get:
      description: |
        Retrieve a Checkout Page with specified identifier string
      responses:
        '200':
          description: Checkout Page was retrieved successfully
          schema:
            $ref: '#/definitions/CheckoutPage'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a Checkout Page
      tags:
        - Checkout Pages
      x-code-samples:
        - lang: PHP
          source: |
            $checkoutPage = $client->checkoutPages()->load('checkoutPageId');
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Create or update a Checkout Page with predefined identifier string
      parameters:
        - description: Checkout Page resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CheckoutPage'
      responses:
        '200':
          description: Checkout Page was updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/CheckoutPage'
        '201':
          description: Checkout Page was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/CheckoutPage'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create or update a Checkout Page with predefined ID
      tags:
        - Checkout Pages
      x-code-samples:
        - lang: PHP
          source: |
            $checkoutPageForm = new Rebilly\Entities\CheckoutPage();
            $checkoutPageForm->setPlanId('planId');
            $checkoutPageForm->setWebsiteId('websiteId');
            $checkoutPageForm->setName('TestCheckoutPage');
            $checkoutPageForm->setUriPath('test-checkout-page');

            try {
                $checkoutPage = $client->checkoutPages()->update('checkoutPageId', $checkoutPageForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  /contacts:
    get:
      description: |
        Retrieve a list of contacts
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of Contacts was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/Contact'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of contacts
      tags:
        - Contacts
      x-code-samples:
        - lang: PHP
          source: |
            $contacts = $client->contacts()->search([
                'filter' => 'firstName:John',
            ]);
    post:
      description: |
        Create a contact
      parameters:
        - description: Contact resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Contact'
      responses:
        '201':
          description: Contact was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Contact'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          $ref: '#/responses/InvalidDataError'
      summary: Create a contact
      tags:
        - Contacts
      x-code-samples:
        - lang: PHP
          source: |
            $contactForm = new Rebilly\Entities\Contact();
            $contactForm->setFirstName('Sherlock');
            $contactForm->setLastName('Holmes');
            $contactForm->setOrganization('TestOrganization');

            try {
                $contact = $client->contacts()->create($contactForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  '/contacts/{id}':
    get:
      description: |
        Retrieve a contact with specified identifier string
      responses:
        '200':
          description: Contact was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Contact'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a contact
      tags:
        - Contacts
      x-code-samples:
        - lang: PHP
          source: |
            $contact = $client->contacts()->load('contactId');
    parameters:
      - $ref: '#/parameters/resourceId'
    put:
      description: |
        Create or update a contact with predefined identifier string
      parameters:
        - description: Contact resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Contact'
      responses:
        '201':
          description: Contact was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Contact'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '409':
          description: Contact exists and cannot be updated
        '422':
          $ref: '#/responses/InvalidDataError'
      summary: Create or update a contact with predefined ID
      tags:
        - Contacts
      x-code-samples:
        - lang: PHP
          source: |
            $contactForm = new Rebilly\Entities\Contact();
            $contactForm->setFirstName('Sherlock');
            $contactForm->setLastName('Holmes');
            $contactForm->setOrganization('TestOrganization');

            try {
                $contact = $client->contacts()->update('contactId', $contactForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  /coupons:
    get:
      description: |
        Retrieve a list of coupons
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
        - $ref: '#/parameters/collectionFilter'
        - $ref: '#/parameters/collectionQuery'
        - $ref: '#/parameters/collectionCriteria'
        - $ref: '#/parameters/collectionSort'
      responses:
        '200':
          description: A list of coupons was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/Coupon'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of coupons
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $coupons = $client->coupons()->search([
                'filter' => 'status:issued',
            ]);
    post:
      description: |
        Create a coupon
      parameters:
        - description: Coupon resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Coupon'
      responses:
        '201':
          description: Coupon was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Coupon'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create a coupon
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $couponForm = new Rebilly\Entities\Coupons\Coupon();

            $discountArray = [
                'type' => Rebilly\Entities\Coupons\Discount::TYPE_FIXED,
                'currency' => 'USD',
                'amount' => 1.99,
            ];

            $discountForm = new Rebilly\Entities\Coupons\Discount($discountArray);
            $couponForm->setDiscount($discountForm);

            $restrictionArray = [
                'type' => Rebilly\Entities\Coupons\Restriction::TYPE_DISCOUNTS_PER_REDEMPTION,
                'quantity' => 2,
            ];

            $restrictionForm = new Rebilly\Entities\Coupons\Restriction([
                $restrictionArray,
            ]);

            $couponForm->setRestrictions($restrictionForm);

            try {
                $coupon = $client->coupons()->create($couponForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  /coupons-redemptions:
    get:
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
        - $ref: '#/parameters/collectionFilter'
        - $ref: '#/parameters/collectionQuery'
        - $ref: '#/parameters/collectionCriteria'
        - $ref: '#/parameters/collectionSort'
      responses:
        '200':
          description: Coupons redemptions were retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/CouponRedemption'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of coupon redemptions
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $couponRedemptions = $client->couponsRedemptions()->search([
                'filter' => 'customerId:testCustomer',
            ]);
    post:
      description: |
        Redeem a coupon
      parameters:
        - description: Redeem a coupon
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CouponRedemption'
      responses:
        '201':
          description: Coupon was redeemed
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/CouponRedemption'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Redeem a coupon
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $redemptionForm = new Rebilly\Entities\Coupons\Redemption();
            $redemptionForm->setCustomerId('customerId');
            $redemptionForm->setRedemptionCode('redemptionCode');

            $restrictionArray = [
                'type' => Rebilly\Entities\Coupons\Restriction::TYPE_DISCOUNTS_PER_REDEMPTION,
                'quantity' => 2,
            ];

            $restrictionForm = new Rebilly\Entities\Coupons\Restriction([
                $restrictionArray,
            ]);

            $redemptionForm->setAdditionalRestrictions($restrictionForm);

            try {
                $couponRedemption = $client->couponsRedemptions()->redeem($redemptionForm);
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  '/coupons-redemptions/{id}':
    get:
      responses:
        '200':
          description: Retrieve a coupon redemption with specified identifier string
          schema:
            $ref: '#/definitions/CouponRedemption'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a coupon redemption with specified identifier string
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $couponRedemption = $client->couponsRedemptions()->load('redemptionCode');
    parameters:
      - $ref: '#/parameters/resourceId'
  '/coupons-redemptions/{id}/cancel':
    parameters:
      - $ref: '#/parameters/resourceId'
    post:
      responses:
        '201':
          description: Cancel a coupon redemption
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Cancel a coupon redemption
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $client->couponsRedemptions()->cancel('id');
  '/coupons/{redemptionCode}':
    get:
      description: |
        Retrieve a coupon with specified redemption code string
      responses:
        '200':
          description: Coupon was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Coupon'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a coupon
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $coupon = $client->coupons()->load('redemptionCode');
    parameters:
      - description: The Coupon's redemption code
        in: path
        name: redemptionCode
        required: true
        type: string
    put:
      description: |
        Create or update a coupon with predefined redemption code
      parameters:
        - description: Coupon resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Coupon'
      responses:
        '200':
          description: Coupon was updated
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Coupon'
        '201':
          description: Coupon was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Coupon'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
        '409':
          description: Coupon was redeemed already and cannot be changed
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create or update a coupon with predefined redemption code
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $couponForm = new Rebilly\Entities\Coupons\Coupon();

            $discountArray = [
                'type' => Rebilly\Entities\Coupons\Discount::TYPE_FIXED,
                'currency' => 'USD',
                'amount' => 1.99,
            ];

            $discountForm = new Rebilly\Entities\Coupons\Discount($discountArray);
            $couponForm->setDiscount($discountForm);

            $restrictionArray = [
                'type' => Rebilly\Entities\Coupons\Restriction::TYPE_DISCOUNTS_PER_REDEMPTION,
                'quantity' => 2,
            ];

            $restrictionForm = new Rebilly\Entities\Coupons\Restriction([
                $restrictionArray,
            ]);

            $couponForm->setRestrictions($restrictionForm);

            try {
                $coupon = $client->coupons()->create($couponForm, 'redemptionCode');
            } catch (UnprocessableEntityException $e) {
                echo $e->getMessage();
            }
  /credential-hashes/emails:
    post:
      description: |
        Create an email credential
      parameters:
        - description: Email credential resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/SmtpCredential'
      responses:
        '201':
          description: Email credential was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/SmtpCredential'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create an email credential
      tags:
        - Credential Hashes
  '/credential-hashes/emails/{hash}':
    get:
      description: |
        Retrieve an email credential with specified token identifier string
      responses:
        '200':
          description: Email credential was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/SmtpCredential'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve an email credential
      tags:
        - Credential Hashes
    parameters:
      - $ref: '#/parameters/hash'
  /credential-hashes/webhooks:
    post:
      description: |
        Create a webhook credential
      parameters:
        - description: Credential resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/WebhookCredential'
      responses:
        '201':
          description: Webhook credential was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/WebhookCredential'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create a webhook credential
      tags:
        - Credential Hashes
  '/credential-hashes/webhooks/{hash}':
    get:
      description: |
        Retrieve a webhook credential with specified token identifier string
      responses:
        '200':
          description: Webhook credential was retrieved successfully
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/WebhookCredential'
        '401':
          $ref: '#/responses/AccessForbidden'
        '404':
          $ref: '#/responses/NotFound'
      summary: Retrieve a webhook credential
      tags:
        - Credential Hashes
    parameters:
      - $ref: '#/parameters/hash'
  /credentials:
    get:
      description: |
        Retrieve a list of credentials
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionOffset'
      responses:
        '200':
          description: A list of Credentials was retrieved successfully
          headers:
            Pagination-Limit:
              description: Items per page limit
              type: integer
            Pagination-Offset:
              description: Pagination offset
              type: integer
            Pagination-Total:
              description: Total items count
              type: integer
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            items:
              $ref: '#/definitions/Credential'
            type: array
        '401':
          $ref: '#/responses/AccessForbidden'
      summary: Retrieve a list of credentials
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $customerCredentials = $client->customerCredentials()->search([
                'filter' => 'customerId:testCustomer',
            ]);
    post:
      description: |
        Create a credential
      parameters:
        - description: Credential resource
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Credential'
      responses:
        '201':
          description: Credential was created
          headers:
            Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            Rate-Limit-Reset:
              description: |
                The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
                when the current period will reset
              type: string
          schema:
            $ref: '#/definitions/Credential'
        '401':
          $ref: '#/responses/AccessForbidden'
        '422':
          description: Invalid data was sent
          schema:
            $ref: '#/definitions/InvalidError'
      summary: Create a credential
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $customerCredentialForm = new Rebilly\Entities\CustomerCredential();
            $customerCredentialForm->setCustomerId('customerId');
            $customerCredentialForm->setUsername('test');
            $customerCredentialForm->setPassword('1234');

            try {
                $customerCredential = $client->customerCredentials()->create($customerCredentialForm);
            } catch (UnprocessableEntityException $e) {
[...]
