openapi: 3.0.1
servers:
  - description: Sandbox
    url: https://sandbox-api.va.gov/services/va_facilities/{version}
    variables:
      version:
        default: v0
  - description: Production
    url: https://api.va.gov/services/va_facilities/{version}
    variables:
      version:
        default: v0
info:
  contact:
    name: developer.va.gov
  description: >-
    ## Background


    This RESTful API provides information about physical VA facilities. Information available includes

    geographic location, address, phone, hours of operation, and available services.


    VA operates several different types of facilities, the types represented in this API include:

    - Health Facilities (vha)

    - Benefits Facilities (vba)

    - Cemeteries (nca)

    - Vet Centers (vc)


    To read an FAQ on how wait times are calculated, click the "For more information" link on [this page](https://www.accesstocare.va.gov/PWT/SearchWaitTimes).


    ## Getting Started


    ### Base URLs


    The base URLs for the VA Facilities API in the various environments are:

    - Sandbox: `https://sandbox-api.va.gov/services/va_facilities/v0`

    - Production: `https://api.va.gov/services/va_facilities/v0`


    ### Authorization


    API requests are authorized through a symmetric API token, provided in an HTTP header with name `apikey`.


    ### Response Formats


    Clients may request several response formats by setting the `Accept` header.

    - `application/json` - The default JSON response format complies with JSON API. This media type is *not* available for bulk requests using the `/facilities/all` endpoint. It will return `406 Not Acceptable`.

    - `application/geo+json` - GeoJSON-compliant format, representing each facility as a feature with a point geometry.

    - `application/vnd.geo+json` - Deprecated. Prefer application/geo+json.

    - `text/csv` - Available for the bulk download operation only. Some structured fields are omitted from the CSV response.


    ### Response Elements


    Some data elements within the response are only present for facilities of a given type:

    - The patient satisfaction scores contained in the `satisfaction` element are only applicable
      to VA health facilities.
    - The patient wait time values contained in the `wait_times` element are only applicable to
      VA health facilities.
    - The list of available services in the `services` element is only applicable to VA health and
      benefits facilities.
    - The operational hours special instructions contained in the `operational_hours_special_instructions` element is only applicable to VA health and Vet Center facilities.


    ### Facility ID Formats and Constraints


    A facility ID has the format `prefix_stationNumber`. The prefix is one of nca, vc, vba, or vha. Cemeteries may be national (VA) or non-national; non-national cemeteries have the station number prefixed with an `s`. There are no other constraints on the format. Examples:

    - Health: `vha_402GA`

    - Benefits: `vba_539GB`

    - National cemetery: `nca_063`

    - Non-national cemetery: `nca_s1082`

    - Vet center: `vc_0872MVC`



    ### Mobile Facilities


    The mobile health facilities move regularly within a region. If a facility comes back from this API with `"mobile": "true"`, the latitude/longitude and address could be inaccurate. To get the exact current location, please call the number listed.


    ## Deprecations


    - `active_status` field is deprecated and replaced with `operating_status`.

    - `application/vnd.geo+json` media type is deprecated and replaced by `application/geo+json`



    ## Reference


    - [Raw VA Facilities Open API Spec](https://api.va.gov/services/va_facilities/docs/v0/api)

    - [GeoJSON Format](https://tools.ietf.org/html/rfc7946)

    - [JSON API Format](https://jsonapi.org/format/)
  title: VA Facilities
  version: 0.0.1
  x-apisguru-categories:
    - location
  x-logo:
    url: https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/img/design/icons/apple-touch-icon.png
  x-origin:
    - format: openapi
      url: https://api.va.gov/services/va_facilities/docs/v0/api
      version: "3.0"
  x-providerName: va.gov
  x-serviceName: facilities
tags:
  - description: VA Facilities API
    name: facilities
paths:
  /facilities:
    get:
      description: >-
        Query facilities by bounding box, latitude and longitude, state,
        visn, or zip code. Bounding box is specified as four `bbox[]`
        parameters, long1, lat1, long2, lat2. (Relative order is unimportant.)


        A query by latitude and longitude returns all facilities in the system, sorted by distance from that location.


        All location queries support filtering by facility type, available services, and mobile status.


        One can also retrieve facilities by ID using a comma-separated list like `?ids=id1,id2`. When requesting multiple facilities by ID, the API will return as many results as it can find matches for, omitting IDs where there is no match. It will not return an HTTP error code if it is unable to match a requested ID. Clients may supply IDs up to the limit their HTTP client enforces for URI path lengths. (Usually 2048 characters.)


        Results are paginated. JSON responses include pagination information in the standard JSON API "links" and "meta" elements. 


        ### Parameter combinations

        You may optionally specify `page` and `per_page` with any query. You must specify one of the following parameter combinations: 


        - `bbox[]`, with the option of any combination of `type`, `services[]`, or `mobile`


        - `ids`


        - `lat` and `long`, with the option of any combination of `ids`, `type`, `services[]`, or `mobile`


        - `state`, with the option of any combination of `type`, `services[]`, or `mobile`


        - `visn`


        - `zip`, with the option of any combination of `type`, `services[]`, or `mobile`

         Invalid combinations will return `400 Bad Request`.
      operationId: getFacilitiesByLocation
      parameters:
        - description: List of comma-separated facility IDs to retrieve in a single
            request. Can be combined with lat and long parameters to retrieve
            facilities sorted by distance from a location.
          examples:
            ids:
              description: ids
              value: vha_688,vha_644
          in: query
          name: ids
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Zip code to search for facilities. More detailed zip codes can be
            passed in, but only the first five digits are used to determine
            facilities to return.
          examples:
            zip:
              description: zip
              value: 80301-1000
          in: query
          name: zip
          schema:
            format: "##### or #####-####"
            type: string
        - description: State in which to search for facilities. Except in rare cases, this
            is two characters.
          examples:
            state:
              description: state
              value: CO
          in: query
          name: state
          schema:
            format: XX
            type: string
        - description: Latitude of point to search for facilities, in WGS84 coordinate
            reference system.
          examples:
            coordinates:
              description: coordinates
              value: 40
          in: query
          name: lat
          schema:
            format: float
            type: number
        - description: Longitude of point to search for facilities, in WGS84 coordinate
            reference system.
          examples:
            coordinates:
              description: coordinates
              value: -105
          in: query
          name: long
          schema:
            format: float
            type: number
          style: form
        - description: Bounding box (longitude, latitude, longitude, latitude) within
            which facilities will be returned. (WGS84 coordinate reference
            system)
          examples:
            bbox:
              description: bbox
              value: -105.4, 39.4, -104.5, 40.1
          in: query
          name: bbox[]
          schema:
            items:
              format: float
              type: number
            maxItems: 4
            minItems: 4
            type: array
          style: form
        - description: VISN search of matching facilities.
          in: query
          name: visn
          schema:
            type: number
        - description: Optional facility type search filter
          in: query
          name: type
          schema:
            enum:
              - health
              - cemetery
              - benefits
              - vet_center
            type: string
        - description: Optional facility service search filter
          in: query
          name: services[]
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Optional facility mobile search filter
          in: query
          name: mobile
          schema:
            type: boolean
        - description: Page of results to return per paginated response.
          in: query
          name: page
          schema:
            default: 1
            format: int64
            type: integer
        - description: Number of results to return per paginated response.
          in: query
          name: per_page
          schema:
            default: 10
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/GeoFacilitiesResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/FacilitiesResponse"
            application/vnd.geo+json:
              schema:
                $ref: "#/components/schemas/GeoFacilitiesResponse"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Missing API token
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Invalid API token
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Requested format unacceptable
      security:
        - apikey: []
      summary: Query facilities by location or IDs, with optional filters
      tags:
        - facilities
  /facilities/all:
    get:
      description: Retrieve all available facilities in a single operation, formatted
        as either a GeoJSON FeatureCollection or as a CSV. Due to the complexity
        of the facility resource type, the CSV response contains a subset of
        available facility data - specifically it omits the available services,
        patient satisfaction, and patient wait time data.
      operationId: getAllFacilities
      parameters:
        - example: application/geo+json
          in: header
          name: Accept
          required: true
          schema:
            enum:
              - application/geo+json
              - application/vnd.geo+json
              - text/csv
            type: string
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/GeoFacilitiesResponse"
            application/vnd.geo+json:
              schema:
                $ref: "#/components/schemas/GeoFacilitiesResponse"
            text/csv:
              schema:
                example: >-
                  id,name,station_id,latitude,longitude,facility_type,classification,website,physical_address_1,physical_address_2,physical_address_3,physical_city,physical_state,physical_zip,mailing_address_1,mailing_address_2,mailing_address_3,mailing_city,mailing_state,mailing_zip,phone_main,phone_fax,phone_mental_health_clinic,phone_pharmacy,phone_after_hours,phone_patient_advocate,phone_enrollment_coordinator,hours_monday,hours_tuesay,hours_wednesday,hours_thursday,hours_friday,hours_saturday,hours_sunday,mobile,active_status,visn

                  vc_0101V,Boston Vet Center,0101V,42.3445959000001,-71.0361051099999,vet_center,,,7 Drydock Avenue,Suite 2070,,Boston,MA,2210,,,,,,,857-203-6461 x,,,,,,,800AM-700PM,800AM-800PM,800AM-700PM,800AM-800PM,800AM-600PM,-,-,,,

                  vba_362b,Houston Regional Benefit Office at Frank Tejeda Outpatient Clinic,362b,29.51690196,-98.59601936,va_benefits_facility,Outbased,NULL,5788 Eckhert Road,,,San Antonio,TX,78240,,,,,,,210-699-5040,210-699-5079,,,,,,,,,,,,,,,

                  vha_459GH,Saipan VA Clinic,459GH,15.216794,145.729385,va_health_facility,Other Outpatient Services (OOS),,Marina Heights Business Park - Garapan,Medical Associates of the Pacific,MH-II Building Suite 100 and 206,Saipan,MP,96950-9998,,,,,,,670-322-0035 x,670-322-0038 x,"",800-465-8387 x,800-214-1306 x,670-322-0035 x,808-433-7600 x,,,,,,,,false,A,21
                type: string
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Missing API token
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Invalid API token
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Requested format unacceptable
      security:
        - apikey: []
      summary: Bulk download information for all facilities
      tags:
        - facilities
  "/facilities/{id}":
    get:
      operationId: getFacilityById
      parameters:
        - description: Facility ID, in the form `<prefix>_<station>`, where prefix is one
            of "vha", "vba", "nca", or "vc", for health facility, benefits,
            cemetery, or vet center, respectively.
          example: vha_688
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/GeoFacilityReadResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/FacilityReadResponse"
            application/vnd.geo+json:
              schema:
                $ref: "#/components/schemas/GeoFacilityReadResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request - invalid or missing query parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Missing API token
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Invalid API token
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Facility not found
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Requested format unacceptable
      security:
        - apikey: []
      summary: Retrieve a specific facility by ID
      tags:
        - facilities
  /ids:
    get:
      description: Retrieves all available facility IDs only
      operationId: getFacilityIds
      parameters:
        - description: Optional facility type search filter
          in: query
          name: type
          schema:
            enum:
              - health
              - cemetery
              - benefits
              - vet_center
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacilitiesIdsResponse"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Missing API token
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Invalid API token
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Requested format unacceptable
      security:
        - apikey: []
      summary: Bulk download of all facility IDs
      tags:
        - facilities
  /nearby:
    get:
      description: >-
        Retrieve all VA health facilities that are located within a
        specified drive time from a specified location based on address
        (`street_address`, `city`, `state`, and `zip`) or coordinates (`lat` and
        `lng`). Optional filter parameters include `drive_time` and
        `services[]`. 


        Results of this operation are paginated. Responses include pagination information in the standard JSON API "links" and "meta" elements. 


        The "attributes" element has information about the drive-time band that contains the requested location for each facility in the response. The values of `min_time` and `max_time` are in minutes. For example, a facility returned with a matched `min_time` of 10 and `max_time` of 20 is a 10 to 20 minute drive from the requested location.


        To retrieve full details for nearby facilities, see the documentation for `/facilities?ids`.
      operationId: getNearbyFacilities
      parameters:
        - description: Street address of the location from which drive time will be
            calculated.
          examples:
            address:
              description: address
              value: 1350 I St. NW
          in: query
          name: street_address
          schema:
            type: string
        - description: City of the location from which drive time will be calculated.
          examples:
            address:
              description: address
              value: Washington
          in: query
          name: city
          schema:
            type: string
        - description: Two character state code of the location from which drive time will
            be calculated.
          examples:
            address:
              description: address
              value: DC
          in: query
          name: state
          schema:
            type: string
        - description: Zip code of the location from which drive time will be calculated.
          examples:
            address:
              description: address
              value: 20005-3305
          in: query
          name: zip
          schema:
            description: "##### or #####-####"
            type: string
        - description: Latitude of the location from which drive time will be calculated.
          examples:
            coordinates:
              description: coordinates
              value: 123.4
          in: query
          name: lat
          schema:
            format: float
            type: number
        - description: Longitude of the location from which drive time will be calculated.
          examples:
            coordinates:
              description: coordinates
              value: 456.7
          in: query
          name: lng
          schema:
            format: float
            type: number
          style: form
        - description: Filter to only include facilities that are within the specified
            number of drive time minutes from the requested location.
          in: query
          name: drive_time
          schema:
            default: 90
            enum:
              - 10
              - 20
              - 30
              - 40
              - 50
              - 60
              - 70
              - 80
              - 90
            format: int32
            type: integer
        - description: Optional facility service search filter
          in: query
          name: services[]
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Page of results to return per paginated response.
          in: query
          name: page
          schema:
            default: 1
            format: int32
            type: integer
        - description: Number of results to return per paginated response.
          in: query
          name: per_page
          schema:
            default: 20
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NearbyResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Missing Required Or Ambiguous Parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Missing API token
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Invalid API token
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Requested format unacceptable
      security:
        - apikey: []
      summary: Retrieve all VA health facilities reachable by driving within the
        specified time period
      tags:
        - facilities
components:
  schemas:
    Address:
      properties:
        address_1:
          example: 50 Irving Street, Northwest
          type: string
        address_2:
          type: string
        address_3:
          type: string
        city:
          example: Washington
          type: string
        state:
          example: DC
          type: string
        zip:
          example: 20422-0001
          type: string
      type: object
    Addresses:
      properties:
        mailing:
          $ref: "#/components/schemas/Address"
        physical:
          $ref: "#/components/schemas/Address"
      type: object
    ApiError:
      description: API invocation or processing error
      properties:
        errors:
          items:
            $ref: "#/components/schemas/ErrorMessage"
          type: array
      required:
        - errors
      type: object
    AppointmentPhoneNumber:
      properties:
        extension:
          type: string
        label:
          type: string
        number:
          type: string
        type:
          type: string
      type: object
    DetailedService:
      description: Detailed information of a facility service
      properties:
        appointment_leadin:
          example: Your VA health care team will contact you if you...
          type: string
        appointment_phones:
          items:
            $ref: "#/components/schemas/AppointmentPhoneNumber"
          type: array
        description_facility:
          example: Facility description for vaccine availability for COVID-19
          type: string
        description_national:
          $ref: "#/components/schemas/DetailedService"
        description_system:
          $ref: "#/components/schemas/DetailedService"
        health_service_api_id:
          $ref: "#/components/schemas/DetailedService"
        name:
          example: COVID-19 vaccines
          type: string
        online_scheduling_available:
          example: "True"
          type: string
        path:
          example: https://www.boston.va.gov/services/covid-19-vaccines.asp
          type: string
        referral_required:
          example: "False"
          type: string
        service_locations:
          items:
            $ref: "#/components/schemas/DetailedServiceLocation"
          type: array
        walk_ins_accepted:
          example: "True"
          type: string
      type: object
    DetailedServiceAddress:
      properties:
        address_line1:
          example: 50 Irving Street, Northwest
          type: string
        address_line2:
          type: string
        building_name_number:
          type: string
        city:
          type: string
        clinic_name:
          type: string
        country_code:
          type: string
        state:
          example: NY
          type: string
        wing_floor_or_room_number:
          example: Wing East
          type: string
        zip_code:
          example: 20422-0001
          type: string
      type: object
    DetailedServiceEmailContact:
      properties:
        email_address:
          example: georgea@va.gov
          type: string
        email_label:
          example: George Anderson
          type: string
      type: object
    DetailedServiceHours:
      description: Standard hours of operation. Currently formatted as descriptive
        text suitable for display, with no guarantee of a standard parseable
        format. Hours of operation may vary due to holidays or other events.
      properties:
        Friday:
          example: 9AM-5PM
          type: string
        Monday:
          example: 9AM-5PM
          type: string
        Saturday:
          example: Closed
          type: string
        Sunday:
          example: Closed
          type: string
        Thursday:
          example: 9AM-5PM
          type: string
        Tuesday:
          example: 9AM-5PM
          type: string
        Wednesday:
          example: 9AM-5PM
          type: string
      type: object
    DetailedServiceLocation:
      properties:
        additional_hours_info:
          type: string
        appointment_phones:
          items:
            $ref: "#/components/schemas/AppointmentPhoneNumber"
          type: array
        email_contacts:
          items:
            $ref: "#/components/schemas/DetailedServiceEmailContact"
          type: array
        facility_service_hours:
          $ref: "#/components/schemas/DetailedServiceHours"
        service_location_address:
          $ref: "#/components/schemas/DetailedServiceAddress"
      type: object
    Distance:
      properties:
        distance:
          type: number
        id:
          type: string
      required:
        - distance
        - id
      type: object
    ErrorMessage:
      properties:
        code:
          example: "103"
          type: string
        detail:
          example: Detailed error message
          type: string
        status:
          example: "400"
          type: string
        title:
          example: Error title
          type: string
      type: object
    FacilitiesIdsResponse:
      properties:
        data:
          example:
            - vha_688
          items:
            example: '["vha_688"]'
            type: string
          type: array
      type: object
    FacilitiesMetadata:
      properties:
        distances:
          items:
            $ref: "#/components/schemas/Distance"
          type: array
        pagination:
          $ref: "#/components/schemas/Pagination"
      required:
        - distances
        - pagination
      type: object
    FacilitiesResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/Facility"
          type: array
        links:
          $ref: "#/components/schemas/PageLinks"
        meta:
          $ref: "#/components/schemas/FacilitiesMetadata"
      required:
        - links
        - meta
      type: object
    Facility:
      description: JSON API-compliant object describing a VA facility
      properties:
        attributes:
          $ref: "#/components/schemas/FacilityAttributes"
        id:
          example: vha_688
          type: string
        type:
          enum:
            - va_facilities
          type: string
      required:
        - attributes
        - id
        - type
      type: object
    FacilityAttributes:
      properties:
        active_status:
          description: This field is deprecated and replaced with "operating_status".
          enum:
            - A
            - T
          type: string
        address:
          $ref: "#/components/schemas/Addresses"
        classification:
          example: VA Medical Center (VAMC)
          type: string
        detailed_services:
          items:
            $ref: "#/components/schemas/DetailedService"
          type: array
        facility_type:
          enum:
            - va_benefits_facility
            - va_cemetery
            - va_health_facility
            - vet_center
          type: string
        hours:
          $ref: "#/components/schemas/Hours"
        lat:
          description: Facility latitude
          example: 38.9311137
          format: float
          type: number
        long:
          description: Facility longitude
          example: -77.0109110499999
          format: float
          type: number
        mobile:
          example: false
          type: boolean
        name:
          example: Washington VA Medical Center
          type: string
        operating_status:
          $ref: "#/components/schemas/OperatingStatus"
        operational_hours_special_instructions:
          example: Administrative hours are Monday-Friday 8:00 a.m. to 4:30 p.m.
          type: string
        phone:
          $ref: "#/components/schemas/Phone"
        satisfaction:
          $ref: "#/components/schemas/Satisfaction"
        services:
          $ref: "#/components/schemas/Services"
        visn:
          example: "20"
          type: string
        wait_times:
          $ref: "#/components/schemas/WaitTimes"
        website:
          example: http://www.washingtondc.va.gov
          type: string
      required:
        - facility_type
        - lat
        - long
        - name
        - operating_status
      type: object
    FacilityReadResponse:
      properties:
        data:
          $ref: "#/components/schemas/Facility"
      required:
        - data
      type: object
    GenericError:
      description: A general error json response for things like Authorization Errors
        or Bad Requests (ex. invalid parameter values).
      properties:
        message:
          example: Detailed Error Message
          type: string
      required:
        - message
      type: object
    GeoFacilitiesResponse:
      properties:
        features:
          items:
            $ref: "#/components/schemas/GeoFacility"
          type: array
        type:
          enum:
            - FeatureCollection
          type: string
      required:
        - type
      type: object
    GeoFacility:
      description: GeoJSON-complaint Feature object describing a VA Facility
      properties:
        geometry:
          $ref: "#/components/schemas/Geometry"
        properties:
          $ref: "#/components/schemas/Properties"
        type:
          enum:
            - Feature
          example: Feature
          type: string
      required:
        - geometry
        - properties
        - type
      type: object
    GeoFacilityReadResponse:
      properties:
        geometry:
          $ref: "#/components/schemas/Geometry"
        properties:
          $ref: "#/components/schemas/Properties"
        type:
          enum:
            - Feature
          type: string
      required:
        - geometry
        - properties
        - type
      type: object
    Geometry:
      properties:
        coordinates:
          example:
            - -77.0367761
            - 38.9004181
          items:
            type: number
          maxItems: 2
          minItems: 2
          type: array
        type:
          enum:
            - Point
          example: Point
          type: string
      required:
        - type
      type: object
    Hours:
      description: Standard hours of operation. Currently formatted as descriptive
        text suitable for display, with no guarantee of a standard parseable
        format. Hours of operation may vary due to holidays or other events.
      properties:
        friday:
          example: 9AM-5PM
          type: string
        monday:
          example: 9AM-5PM
          type: string
        saturday:
          example: Closed
          type: string
        sunday:
          example: Closed
          type: string
        thursday:
          example: 9AM-5PM
          type: string
        tuesday:
          example: 9AM-5PM
          type: string
        wednesday:
          example: 9AM-5PM
          type: string
      type: object
    Nearby:
      description: JSON API-compliant object describing a nearby VA facility
      properties:
        attributes:
          $ref: "#/components/schemas/NearbyAttributes"
        id:
          example: vha_688
          type: string
        type:
          enum:
            - NearbyFacility
          example: nearby_facility
          type: string
      required:
        - attributes
        - id
        - type
      type: object
    NearbyAttributes:
      properties:
        max_time:
          example: 20
          format: int32
          type: integer
        min_time:
          example: 10
          format: int32
          type: integer
      required:
        - max_time
        - min_time
      type: object
    NearbyResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/Nearby"
          type: array
      required:
        - data
      type: object
    OperatingStatus:
      description: "Current status of facility operations. The overall status of the
        facility, which can be: Normal Hours and Services, Facility Notice,
        Limited Hours and/or Services, or Closed. This field replaces
        active_status."
      properties:
        additional_info:
          description: Details of facility notices for visitors, such as messages about
            parking lot closures or floor visitation information.
          maxLength: 300
          minLength: 0
          type: string
        code:
          description: Status codes indicate normal hours/services, limited
            hours/services, closed operations, or published facility notices for
            visitors.
          enum:
            - NORMAL
            - NOTICE
            - LIMITED
            - CLOSED
          example: NORMAL
          type: string
      required:
        - code
      type: object
    PageLinks:
      properties:
        first:
          type: string
        last:
          type: string
        next:
          type: string
        prev:
          type: string
        related:
          description: /services/va_facilities/v0/facilities?id=vha_688
          type: string
        self:
          type: string
      required:
        - self
      type: object
    Pagination:
      properties:
        current_page:
          example: 1
          format: int32
          type: integer
        per_page:
          example: 10
          format: int32
          type: integer
        total_entries:
          example: 2162
          format: int32
          type: integer
        total_pages:
          example: 217
          format: int32
          type: integer
      required:
        - current_page
        - per_page
        - total_entries
        - total_pages
      type: object
    PatientSatisfaction:
      description: Veteran-reported satisfaction scores for health care services
      properties:
        primary_care_routine:
          description: "% of Veterans who say they usually or always get an appointment
            when they need it at a primary care location."
          example: 0.85
          format: float
          type: number
        primary_care_urgent:
          description: "% of Veterans who say they usually or always get an appointment
            when they need care right away at a primary care location."
          example: 0.85
          format: float
          type: number
        specialty_care_routine:
          description: "% of Veterans who say they usually or always get an appointment
            when they need it at a specialty location."
          example: 0.85
          format: float
          type: number
        specialty_care_urgent:
          description: "% of Veterans who say they usually or always get an appointment
            when they need care right away at a specialty location."
          example: 0.85
          format: float
          type: number
      type: object
    PatientWaitTime:
      description: Expected wait times for new and established patients for a given
        health care service
      properties:
        established:
          description: Average number of days a patient who has already been to this
            location has to wait for a non-urgent appointment.
          example: 5
          type: number
        new:
          description: Average number of days a Veteran who hasn't been to this location
            has to wait for a non-urgent appointment.
          example: 10
          type: number
        service:
          enum:
            - Audiology
            - Cardiology
            - Covid19Vaccine
            - DentalServices
            - Dermatology
            - EmergencyCare
            - Gastroenterology
            - Gynecology
            - MentalHealthCare
            - Ophthalmology
            - Optometry
            - Orthopedics
            - Nutrition
            - Podiatry
            - PrimaryCare
            - SpecialtyCare
            - UrgentCare
            - Urology
            - WomensHealth
          type: string
      required:
        - service
      type: object
    Phone:
      properties:
        after_hours:
          example: 202-555-1212
          type: string
        enrollment_coordinator:
          example: 202-555-1212
          type: string
        fax:
          example: 202-555-1212
          type: string
        main:
          example: 202-555-1212
          type: string
        mental_health_clinic:
          example: 202-555-1212
          type: string
        patient_advocate:
          example: 202-555-1212
          type: string
        pharmacy:
          example: 202-555-1212
          type: string
      type: object
    Properties:
      properties:
        active_status:
          enum:
            - A
            - T
          type: string
        address:
          $ref: "#/components/schemas/Addresses"
        classification:
          example: VA Medical Center (VAMC)
          type: string
        detailed_services:
          items:
            $ref: "#/components/schemas/DetailedService"
          type: array
        facility_type:
          enum:
            - va_benefits_facility
            - va_cemetery
            - va_health_facility
            - vet_center
          type: string
        hours:
          $ref: "#/components/schemas/Hours"
        id:
          example: vha_688
          type: string
        mobile:
          example: false
          type: boolean
        name:
          example: Washington VA Medical Center
          type: string
        operating_status:
          $ref: "#/components/schemas/OperatingStatus"
        operational_hours_special_instructions:
          example: Administrative hours are Monday-Friday 8:00 a.m. to 4:30 p.m.
          type: string
        phone:
          $ref: "#/components/schemas/Phone"
        satisfaction:
          $ref: "#/components/schemas/Satisfaction"
        services:
          $ref: "#/components/schemas/Services"
        visn:
          example: "20"
          type: string
        wait_times:
          $ref: "#/components/schemas/WaitTimes"
        website:
          example: http://www.washingtondc.va.gov
          type: string
      required:
        - facility_type
        - id
        - operating_status
      type: object
    Satisfaction:
      properties:
        effective_date:
          example: 2018-01-01
          format: date
          type: string
        health:
          $ref: "#/components/schemas/PatientSatisfaction"
      type: object
    Services:
      properties:
        benefits:
          items:
            enum:
              - ApplyingForBenefits
              - BurialClaimAssistance
              - DisabilityClaimAssistance
              - eBenefitsRegistrationAssistance
              - EducationAndCareerCounseling
              - EducationClaimAssistance
              - FamilyMemberClaimAssistance
              - HomelessAssistance
              - InsuranceClaimAssistanceAndFinancialCounseling
              - IntegratedDisabilityEvaluationSystemAssistance
              - Pensions
              - PreDischargeClaimAssistance
              - TransitionAssistance
              - UpdatingDirectDepositInformation
              - VAHomeLoanAssistance
              - VocationalRehabilitationAndEmploymentAssistance
            type: string
          type: array
        health:
          items:
            enum:
              - Audiology
              - Cardiology
              - Covid19Vaccine
              - DentalServices
              - Dermatology
              - EmergencyCare
              - Gastroenterology
              - Gynecology
              - MentalHealthCare
              - Ophthalmology
              - Optometry
              - Orthopedics
              - Nutrition
              - Podiatry
              - PrimaryCare
              - SpecialtyCare
              - UrgentCare
              - Urology
              - WomensHealth
            type: string
          type: array
        last_updated:
          example: 2018-01-01
          format: date
          type: string
        other:
          items:
            enum:
              - OnlineScheduling
            type: string
          type: array
      type: object
    WaitTimes:
      properties:
        effective_date:
          example: 2018-01-01
          format: date
          type: string
        health:
          items:
            $ref: "#/components/schemas/PatientWaitTime"
          type: array
      type: object
  securitySchemes:
    apikey:
      in: header
      name: apikey
      type: apiKey
