swagger: '2.0'
schemes:
  - https
  - http
host: workmail.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<p>Amazon WorkMail is a secure, managed business email and calendaring service with support for existing desktop and mobile email clients. You can access your email, contacts, and calendars using Microsoft Outlook, your browser, or other native iOS and Android email applications. You can integrate WorkMail with your existing corporate directory and control both the keys that encrypt your data and the location in which your data is stored.</p> <p>The WorkMail API is designed for the following scenarios:</p> <ul> <li> <p>Listing and describing organizations</p> </li> </ul> <ul> <li> <p>Managing users</p> </li> </ul> <ul> <li> <p>Managing groups</p> </li> </ul> <ul> <li> <p>Managing resources</p> </li> </ul> <p>All WorkMail API operations are Amazon-authenticated and certificate-signed. They not only require the use of the AWS SDK, but also allow for the exclusive use of AWS Identity and Access Management users and roles to help facilitate access, trust, and permission policies. By creating a role and allowing an IAM user to access the WorkMail site, the IAM user gains full administrative visibility into the entire WorkMail organization (or as set in the IAM policy). This includes, but is not limited to, the ability to create, update, and delete users, groups, and resources. This allows developers to perform the scenarios listed above, as well as give users the ability to grant access on a selective basis using the IAM model.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon WorkMail
  version: '2017-10-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/workmail-2017-10-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: workmail
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/workmail/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=WorkMailService.AssociateDelegateToResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds a member (user or group) to the resource's set of delegates.
      operationId: AssociateDelegateToResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AssociateDelegateToResourceRequest'
        - enum:
            - WorkMailService.AssociateDelegateToResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateDelegateToResourceResponse'
        '480':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '481':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '484':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.AssociateMemberToGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds a member (user or group) to the group's set.
      operationId: AssociateMemberToGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AssociateMemberToGroupRequest'
        - enum:
            - WorkMailService.AssociateMemberToGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateMemberToGroupResponse'
        '480':
          description: DirectoryServiceAuthenticationFailedException
          schema:
            $ref: '#/definitions/DirectoryServiceAuthenticationFailedException'
        '481':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '482':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '483':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '484':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '485':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '486':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
        '487':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=WorkMailService.CreateAlias':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds an alias to the set of a given member (user or group) of Amazon WorkMail.
      operationId: CreateAlias
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateAliasRequest'
        - enum:
            - WorkMailService.CreateAlias
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAliasResponse'
        '480':
          description: EmailAddressInUseException
          schema:
            $ref: '#/definitions/EmailAddressInUseException'
        '481':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '482':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '484':
          description: MailDomainNotFoundException
          schema:
            $ref: '#/definitions/MailDomainNotFoundException'
        '485':
          description: MailDomainStateException
          schema:
            $ref: '#/definitions/MailDomainStateException'
        '486':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '487':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.CreateGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a group that can be used in Amazon WorkMail by calling the <a>RegisterToWorkMail</a> operation.
      operationId: CreateGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateGroupRequest'
        - enum:
            - WorkMailService.CreateGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupResponse'
        '480':
          description: DirectoryServiceAuthenticationFailedException
          schema:
            $ref: '#/definitions/DirectoryServiceAuthenticationFailedException'
        '481':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: NameAvailabilityException
          schema:
            $ref: '#/definitions/NameAvailabilityException'
        '484':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '485':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
        '486':
          description: ReservedNameException
          schema:
            $ref: '#/definitions/ReservedNameException'
        '487':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=WorkMailService.CreateResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a new Amazon WorkMail resource. '
      operationId: CreateResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateResourceRequest'
        - enum:
            - WorkMailService.CreateResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateResourceResponse'
        '480':
          description: DirectoryServiceAuthenticationFailedException
          schema:
            $ref: '#/definitions/DirectoryServiceAuthenticationFailedException'
        '481':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: NameAvailabilityException
          schema:
            $ref: '#/definitions/NameAvailabilityException'
        '484':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '485':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
        '486':
          description: ReservedNameException
          schema:
            $ref: '#/definitions/ReservedNameException'
  '/#X-Amz-Target=WorkMailService.CreateUser':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a user who can be used in Amazon WorkMail by calling the <a>RegisterToWorkMail</a> operation.
      operationId: CreateUser
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateUserRequest'
        - enum:
            - WorkMailService.CreateUser
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateUserResponse'
        '480':
          description: DirectoryServiceAuthenticationFailedException
          schema:
            $ref: '#/definitions/DirectoryServiceAuthenticationFailedException'
        '481':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: InvalidPasswordException
          schema:
            $ref: '#/definitions/InvalidPasswordException'
        '484':
          description: NameAvailabilityException
          schema:
            $ref: '#/definitions/NameAvailabilityException'
        '485':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '486':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
        '487':
          description: ReservedNameException
          schema:
            $ref: '#/definitions/ReservedNameException'
        '488':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=WorkMailService.DeleteAlias':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Remove one or more specified aliases from a set of aliases for a given user.
      operationId: DeleteAlias
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAliasRequest'
        - enum:
            - WorkMailService.DeleteAlias
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAliasResponse'
        '480':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '481':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '484':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.DeleteGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a group from Amazon WorkMail.
      operationId: DeleteGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteGroupRequest'
        - enum:
            - WorkMailService.DeleteGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteGroupResponse'
        '480':
          description: DirectoryServiceAuthenticationFailedException
          schema:
            $ref: '#/definitions/DirectoryServiceAuthenticationFailedException'
        '481':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '482':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '484':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '485':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
        '486':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=WorkMailService.DeleteMailboxPermissions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes permissions granted to a member (user or group).
      operationId: DeleteMailboxPermissions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteMailboxPermissionsRequest'
        - enum:
            - WorkMailService.DeleteMailboxPermissions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteMailboxPermissionsResponse'
        '480':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '481':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '484':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.DeleteResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes the specified resource. '
      operationId: DeleteResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteResourceRequest'
        - enum:
            - WorkMailService.DeleteResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteResourceResponse'
        '480':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '483':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.DeleteUser':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a user from Amazon WorkMail and all subsequent systems. Before you can delete a user, the user state must be <code>DISABLED</code>. Use the <a>DescribeUser</a> action to confirm the user state.</p> <p>Deleting a user is permanent and cannot be undone. WorkMail archives user mailboxes for 30 days before they are permanently removed.</p>'
      operationId: DeleteUser
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteUserRequest'
        - enum:
            - WorkMailService.DeleteUser
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteUserResponse'
        '480':
          description: DirectoryServiceAuthenticationFailedException
          schema:
            $ref: '#/definitions/DirectoryServiceAuthenticationFailedException'
        '481':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '482':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '484':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '485':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
        '486':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=WorkMailService.DeregisterFromWorkMail':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Mark a user, group, or resource as no longer used in Amazon WorkMail. This action disassociates the mailbox and schedules it for clean-up. WorkMail keeps mailboxes for 30 days before they are permanently removed. The functionality in the console is <i>Disable</i>.'
      operationId: DeregisterFromWorkMail
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeregisterFromWorkMailRequest'
        - enum:
            - WorkMailService.DeregisterFromWorkMail
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterFromWorkMailResponse'
        '480':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '481':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '484':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.DescribeGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the data available for the group.
      operationId: DescribeGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeGroupRequest'
        - enum:
            - WorkMailService.DescribeGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeGroupResponse'
        '480':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '483':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.DescribeOrganization':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Provides more information regarding a given organization based on its identifier.
      operationId: DescribeOrganization
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeOrganizationRequest'
        - enum:
            - WorkMailService.DescribeOrganization
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeOrganizationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
  '/#X-Amz-Target=WorkMailService.DescribeResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the data available for the resource.
      operationId: DescribeResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeResourceRequest'
        - enum:
            - WorkMailService.DescribeResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeResourceResponse'
        '480':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '483':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.DescribeUser':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Provides information regarding the user.
      operationId: DescribeUser
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeUserRequest'
        - enum:
            - WorkMailService.DescribeUser
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeUserResponse'
        '480':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '483':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.DisassociateDelegateFromResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes a member from the resource's set of delegates.
      operationId: DisassociateDelegateFromResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateDelegateFromResourceRequest'
        - enum:
            - WorkMailService.DisassociateDelegateFromResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateDelegateFromResourceResponse'
        '480':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '481':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '484':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.DisassociateMemberFromGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes a member from a group.
      operationId: DisassociateMemberFromGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateMemberFromGroupRequest'
        - enum:
            - WorkMailService.DisassociateMemberFromGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateMemberFromGroupResponse'
        '480':
          description: DirectoryServiceAuthenticationFailedException
          schema:
            $ref: '#/definitions/DirectoryServiceAuthenticationFailedException'
        '481':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '482':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '483':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '484':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '485':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '486':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
        '487':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=WorkMailService.GetMailboxDetails':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Requests a user's mailbox details for a specified organization and user.
      operationId: GetMailboxDetails
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetMailboxDetailsRequest'
        - enum:
            - WorkMailService.GetMailboxDetails
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMailboxDetailsResponse'
        '480':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '481':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
        '482':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
  '/#X-Amz-Target=WorkMailService.ListAliases':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a paginated call to list the aliases associated with a given entity.
      operationId: ListAliases
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListAliasesRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - WorkMailService.ListAliases
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAliasesResponse'
        '480':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '481':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '484':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.ListGroupMembers':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns an overview of the members of a group. Users and groups can be members of a group.
      operationId: ListGroupMembers
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListGroupMembersRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - WorkMailService.ListGroupMembers
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGroupMembersResponse'
        '480':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '481':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '484':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.ListGroups':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns summaries of the organization's groups.
      operationId: ListGroups
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListGroupsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - WorkMailService.ListGroups
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGroupsResponse'
        '480':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '483':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.ListMailboxPermissions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Lists the mailbox permissions associated with a user, group, or resource mailbox.'
      operationId: ListMailboxPermissions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListMailboxPermissionsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - WorkMailService.ListMailboxPermissions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMailboxPermissionsResponse'
        '480':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '483':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.ListOrganizations':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns summaries of the customer's non-deleted organizations.
      operationId: ListOrganizations
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListOrganizationsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - WorkMailService.ListOrganizations
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListOrganizationsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
  '/#X-Amz-Target=WorkMailService.ListResourceDelegates':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the delegates associated with a resource. Users and groups can be resource delegates and answer requests on behalf of the resource.
      operationId: ListResourceDelegates
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListResourceDelegatesRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - WorkMailService.ListResourceDelegates
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResourceDelegatesResponse'
        '480':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '481':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '484':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.ListResources':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns summaries of the organization's resources.
      operationId: ListResources
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListResourcesRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - WorkMailService.ListResources
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResourcesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '482':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.ListUsers':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns summaries of the organization's users.
      operationId: ListUsers
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListUsersRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - WorkMailService.ListUsers
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListUsersResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '482':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.PutMailboxPermissions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Sets permissions for a user, group, or resource. This replaces any pre-existing permissions.'
      operationId: PutMailboxPermissions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutMailboxPermissionsRequest'
        - enum:
            - WorkMailService.PutMailboxPermissions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutMailboxPermissionsResponse'
        '480':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '481':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '484':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.RegisterToWorkMail':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Registers an existing and disabled user, group, or resource for Amazon WorkMail use by associating a mailbox and calendaring capabilities. It performs no change if the user, group, or resource is enabled and fails if the user, group, or resource is deleted. This operation results in the accumulation of costs. For more information, see <a href="https://aws.amazon.com//workmail/pricing">Pricing</a>. The equivalent console functionality for this operation is <i>Enable</i>. </p> <p>Users can either be created by calling the <a>CreateUser</a> API operation or they can be synchronized from your directory. For more information, see <a>DeregisterFromWorkMail</a>.</p>'
      operationId: RegisterToWorkMail
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RegisterToWorkMailRequest'
        - enum:
            - WorkMailService.RegisterToWorkMail
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegisterToWorkMailResponse'
        '480':
          description: DirectoryServiceAuthenticationFailedException
          schema:
            $ref: '#/definitions/DirectoryServiceAuthenticationFailedException'
        '481':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '482':
          description: EmailAddressInUseException
          schema:
            $ref: '#/definitions/EmailAddressInUseException'
        '483':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '484':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '485':
          description: EntityAlreadyRegisteredException
          schema:
            $ref: '#/definitions/EntityAlreadyRegisteredException'
        '486':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '487':
          description: MailDomainNotFoundException
          schema:
            $ref: '#/definitions/MailDomainNotFoundException'
        '488':
          description: MailDomainStateException
          schema:
            $ref: '#/definitions/MailDomainStateException'
        '489':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '490':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
  '/#X-Amz-Target=WorkMailService.ResetPassword':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Allows the administrator to reset the password for a user.
      operationId: ResetPassword
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ResetPasswordRequest'
        - enum:
            - WorkMailService.ResetPassword
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResetPasswordResponse'
        '480':
          description: DirectoryServiceAuthenticationFailedException
          schema:
            $ref: '#/definitions/DirectoryServiceAuthenticationFailedException'
        '481':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '482':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '483':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '484':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '485':
          description: InvalidPasswordException
          schema:
            $ref: '#/definitions/InvalidPasswordException'
        '486':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '487':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
        '488':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=WorkMailService.UpdateMailboxQuota':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates a user's current mailbox quota for a specified organization and user.
      operationId: UpdateMailboxQuota
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateMailboxQuotaRequest'
        - enum:
            - WorkMailService.UpdateMailboxQuota
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateMailboxQuotaResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '482':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
        '483':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '484':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
  '/#X-Amz-Target=WorkMailService.UpdatePrimaryEmailAddress':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Updates the primary email for a user, group, or resource. The current email is moved into the list of aliases (or swapped between an existing alias and the current primary email), and the email provided in the input is promoted as the primary.'
      operationId: UpdatePrimaryEmailAddress
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdatePrimaryEmailAddressRequest'
        - enum:
            - WorkMailService.UpdatePrimaryEmailAddress
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdatePrimaryEmailAddressResponse'
        '480':
          description: DirectoryServiceAuthenticationFailedException
          schema:
            $ref: '#/definitions/DirectoryServiceAuthenticationFailedException'
        '481':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '482':
          description: EmailAddressInUseException
          schema:
            $ref: '#/definitions/EmailAddressInUseException'
        '483':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '484':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '485':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '486':
          description: MailDomainNotFoundException
          schema:
            $ref: '#/definitions/MailDomainNotFoundException'
        '487':
          description: MailDomainStateException
          schema:
            $ref: '#/definitions/MailDomainStateException'
        '488':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '489':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '490':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
        '491':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=WorkMailService.UpdateResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Updates data for the resource. To have the latest information, it must be preceded by a <a>DescribeResource</a> call. The dataset in the request should be the one expected when performing another <code>DescribeResource</code> call.'
      operationId: UpdateResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateResourceRequest'
        - enum:
            - WorkMailService.UpdateResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateResourceResponse'
        '480':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '481':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '482':
          description: EntityStateException
          schema:
            $ref: '#/definitions/EntityStateException'
        '483':
          description: InvalidConfigurationException
          schema:
            $ref: '#/definitions/InvalidConfigurationException'
        '484':
          description: EmailAddressInUseException
          schema:
            $ref: '#/definitions/EmailAddressInUseException'
        '485':
          description: MailDomainNotFoundException
          schema:
            $ref: '#/definitions/MailDomainNotFoundException'
        '486':
          description: MailDomainStateException
          schema:
            $ref: '#/definitions/MailDomainStateException'
        '487':
          description: NameAvailabilityException
          schema:
            $ref: '#/definitions/NameAvailabilityException'
        '488':
          description: OrganizationNotFoundException
          schema:
            $ref: '#/definitions/OrganizationNotFoundException'
        '489':
          description: OrganizationStateException
          schema:
            $ref: '#/definitions/OrganizationStateException'
definitions:
  Aliases:
    items:
      $ref: '#/definitions/EmailAddress'
    type: array
  AssociateDelegateToResourceRequest:
    properties:
      EntityId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The member (user or group) to associate to the resource.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The organization under which the resource exists.
      ResourceId:
        $ref: '#/definitions/ResourceId'
        description: The resource for which members (users or groups) are associated.
    required:
      - OrganizationId
      - ResourceId
      - EntityId
    type: object
  AssociateDelegateToResourceResponse:
    properties: {}
    type: object
  AssociateMemberToGroupRequest:
    properties:
      GroupId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The group to which the member (user or group) is associated.
      MemberId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The member (user or group) to associate to the group.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The organization under which the group exists.
    required:
      - OrganizationId
      - GroupId
      - MemberId
    type: object
  AssociateMemberToGroupResponse:
    properties: {}
    type: object
  BookingOptions:
    description: At least one delegate must be associated to the resource to disable automatic replies from the resource.
    properties:
      AutoAcceptRequests:
        $ref: '#/definitions/Boolean'
        description: 'The resource''s ability to automatically reply to requests. If disabled, delegates must be associated to the resource.'
      AutoDeclineConflictingRequests:
        $ref: '#/definitions/Boolean'
        description: The resource's ability to automatically decline any conflicting requests.
      AutoDeclineRecurringRequests:
        $ref: '#/definitions/Boolean'
        description: The resource's ability to automatically decline any recurring requests.
    type: object
  Boolean:
    type: boolean
  CreateAliasRequest:
    properties:
      Alias:
        $ref: '#/definitions/EmailAddress'
        description: The alias to add to the member set.
      EntityId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The member (user or group) to which this alias is added.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The organization under which the member (user or group) exists.
    required:
      - OrganizationId
      - EntityId
      - Alias
    type: object
  CreateAliasResponse:
    properties: {}
    type: object
  CreateGroupRequest:
    properties:
      Name:
        $ref: '#/definitions/GroupName'
        description: The name of the group.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The organization under which the group is to be created.
    required:
      - OrganizationId
      - Name
    type: object
  CreateGroupResponse:
    properties:
      GroupId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier of the group.
    type: object
  CreateResourceRequest:
    properties:
      Name:
        $ref: '#/definitions/ResourceName'
        description: The name of the new resource.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier associated with the organization for which the resource is created.
      Type:
        $ref: '#/definitions/ResourceType'
        description: The type of the new resource. The available types are <code>equipment</code> and <code>room</code>.
    required:
      - OrganizationId
      - Name
      - Type
    type: object
  CreateResourceResponse:
    properties:
      ResourceId:
        $ref: '#/definitions/ResourceId'
        description: The identifier of the new resource.
    type: object
  CreateUserRequest:
    properties:
      DisplayName:
        $ref: '#/definitions/String'
        description: The display name for the new user.
      Name:
        $ref: '#/definitions/UserName'
        description: The name for the new user. Simple AD or AD Connector user names have a maximum length of 20. All others have a maximum length of 64.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier of the organization for which the user is created.
      Password:
        $ref: '#/definitions/Password'
        description: The password for the new user.
    required:
      - OrganizationId
      - Name
      - DisplayName
      - Password
    type: object
  CreateUserResponse:
    properties:
      UserId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier for the new user.
    type: object
  Delegate:
    description: 'The name of the attribute, which is one of the values defined in the UserAttribute enumeration.'
    properties:
      Id:
        $ref: '#/definitions/String'
        description: The identifier for the user or group associated as the resource's delegate.
      Type:
        $ref: '#/definitions/MemberType'
        description: 'The type of the delegate: user or group.'
    required:
      - Id
      - Type
    type: object
  DeleteAliasRequest:
    properties:
      Alias:
        $ref: '#/definitions/EmailAddress'
        description: The aliases to be removed from the user's set of aliases. Duplicate entries in the list are collapsed into single entries (the list is transformed into a set).
      EntityId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier for the member (user or group) from which to have the aliases removed.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier for the organization under which the user exists.
    required:
      - OrganizationId
      - EntityId
      - Alias
    type: object
  DeleteAliasResponse:
    properties: {}
    type: object
  DeleteGroupRequest:
    properties:
      GroupId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier of the group to be deleted.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The organization that contains the group.
    required:
      - OrganizationId
      - GroupId
    type: object
  DeleteGroupResponse:
    properties: {}
    type: object
  DeleteMailboxPermissionsRequest:
    properties:
      EntityId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier of the member (user or group)that owns the mailbox.
      GranteeId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier of the member (user or group) for which to delete granted permissions.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier of the organization under which the member (user or group) exists.
    required:
      - OrganizationId
      - EntityId
      - GranteeId
    type: object
  DeleteMailboxPermissionsResponse:
    properties: {}
    type: object
  DeleteResourceRequest:
    properties:
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier associated with the organization from which the resource is deleted.
      ResourceId:
        $ref: '#/definitions/ResourceId'
        description: The identifier of the resource to be deleted.
    required:
      - OrganizationId
      - ResourceId
    type: object
  DeleteResourceResponse:
    properties: {}
    type: object
  DeleteUserRequest:
    properties:
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The organization that contains the user to be deleted.
      UserId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier of the user to be deleted.
    required:
      - OrganizationId
      - UserId
    type: object
  DeleteUserResponse:
    properties: {}
    type: object
  DeregisterFromWorkMailRequest:
    properties:
      EntityId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier for the member (user or group) to be updated.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier for the organization under which the Amazon WorkMail entity exists.
    required:
      - OrganizationId
      - EntityId
    type: object
  DeregisterFromWorkMailResponse:
    properties: {}
    type: object
  DescribeGroupRequest:
    properties:
      GroupId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier for the group to be described.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier for the organization under which the group exists.
    required:
      - OrganizationId
      - GroupId
    type: object
  DescribeGroupResponse:
    properties:
      DisabledDate:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time when a user was deregistered from WorkMail, in UNIX epoch time format.'
      Email:
        $ref: '#/definitions/EmailAddress'
        description: The email of the described group.
      EnabledDate:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time when a user was registered to WorkMail, in UNIX epoch time format.'
      GroupId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier of the described group.
      Name:
        $ref: '#/definitions/GroupName'
        description: The name of the described group.
      State:
        $ref: '#/definitions/EntityState'
        description: 'The state of the user: enabled (registered to Amazon WorkMail) or disabled (deregistered or never registered to WorkMail).'
    type: object
  DescribeOrganizationRequest:
    properties:
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier for the organization to be described.
    required:
      - OrganizationId
    type: object
  DescribeOrganizationResponse:
    properties:
      Alias:
        $ref: '#/definitions/OrganizationName'
        description: The alias for an organization.
      CompletedDate:
        $ref: '#/definitions/Timestamp'
        description: 'The date at which the organization became usable in the WorkMail context, in UNIX epoch time format.'
      DefaultMailDomain:
        $ref: '#/definitions/String'
        description: The default mail domain associated with the organization.
      DirectoryId:
        $ref: '#/definitions/String'
        description: The identifier for the directory associated with an Amazon WorkMail organization.
      DirectoryType:
        $ref: '#/definitions/String'
        description: The type of directory associated with the WorkMail organization.
      ErrorMessage:
        $ref: '#/definitions/String'
        description: (Optional) The error message indicating if unexpected behavior was encountered with regards to the organization.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier of an organization.
      State:
        $ref: '#/definitions/String'
        description: The state of an organization.
    type: object
  DescribeResourceRequest:
    properties:
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier associated with the organization for which the resource is described.
      ResourceId:
        $ref: '#/definitions/ResourceId'
        description: The identifier of the resource to be described.
    required:
      - OrganizationId
      - ResourceId
    type: object
  DescribeResourceResponse:
    properties:
      BookingOptions:
        $ref: '#/definitions/BookingOptions'
        description: The booking options for the described resource.
      DisabledDate:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time when a resource was disabled from WorkMail, in UNIX epoch time format.'
      Email:
        $ref: '#/definitions/EmailAddress'
        description: The email of the described resource.
      EnabledDate:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time when a resource was enabled for WorkMail, in UNIX epoch time format.'
      Name:
        $ref: '#/definitions/ResourceName'
        description: The name of the described resource.
      ResourceId:
        $ref: '#/definitions/ResourceId'
        description: The identifier of the described resource.
      State:
        $ref: '#/definitions/EntityState'
        description: 'The state of the resource: enabled (registered to Amazon WorkMail) or disabled (deregistered or never registered to WorkMail).'
      Type:
        $ref: '#/definitions/ResourceType'
        description: The type of the described resource.
    type: object
  DescribeUserRequest:
    properties:
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier for the organization under which the user exists.
      UserId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier for the user to be described.
    required:
      - OrganizationId
      - UserId
    type: object
  DescribeUserResponse:
    properties:
      DisabledDate:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time at which the user was disabled for Amazon WorkMail usage, in UNIX epoch time format.'
      DisplayName:
        $ref: '#/definitions/String'
        description: The display name of the user.
      Email:
        $ref: '#/definitions/EmailAddress'
        description: The email of the user.
      EnabledDate:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time at which the user was enabled for Amazon WorkMail usage, in UNIX epoch time format.'
      Name:
        $ref: '#/definitions/UserName'
        description: The name for the user.
      State:
        $ref: '#/definitions/EntityState'
        description: 'The state of a user: enabled (registered to Amazon WorkMail) or disabled (deregistered or never registered to WorkMail).'
      UserId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier for the described user.
      UserRole:
        $ref: '#/definitions/UserRole'
        description: 'In certain cases, other entities are modeled as users. If interoperability is enabled, resources are imported into Amazon WorkMail as users. Because different WorkMail organizations rely on different directory types, administrators can distinguish between an unregistered user (account is disabled and has a user role) and the directory administrators. The values are USER, RESOURCE, and SYSTEM_USER.'
    type: object
  DirectoryServiceAuthenticationFailedException: {}
  DirectoryUnavailableException: {}
  DisassociateDelegateFromResourceRequest:
    properties:
      EntityId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: 'The identifier for the member (user, group) to be removed from the resource''s delegates.'
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier for the organization under which the resource exists.
      ResourceId:
        $ref: '#/definitions/ResourceId'
        description: 'The identifier of the resource from which delegates'' set members are removed. '
    required:
      - OrganizationId
      - ResourceId
      - EntityId
    type: object
  DisassociateDelegateFromResourceResponse:
    properties: {}
    type: object
  DisassociateMemberFromGroupRequest:
    properties:
      GroupId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier for the group from which members are removed.
      MemberId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier for the member to be removed to the group.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier for the organization under which the group exists.
    required:
      - OrganizationId
      - GroupId
      - MemberId
    type: object
  DisassociateMemberFromGroupResponse:
    properties: {}
    type: object
  EmailAddress:
    maxLength: 254
    minLength: 1
    pattern: '[a-zA-Z0-9._%+-]{1,64}@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'
    type: string
  EmailAddressInUseException: {}
  EntityAlreadyRegisteredException: {}
  EntityNotFoundException: {}
  EntityState:
    enum:
      - ENABLED
      - DISABLED
      - DELETED
    type: string
  EntityStateException: {}
  GetMailboxDetailsRequest:
    properties:
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier for the organization that contains the user whose mailbox details are being requested.
      UserId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier for the user whose mailbox details are being requested.
    required:
      - OrganizationId
      - UserId
    type: object
  GetMailboxDetailsResponse:
    properties:
      MailboxQuota:
        $ref: '#/definitions/MailboxQuota'
        description: 'The maximum allowed mailbox size, in MB, for the specified user.'
      MailboxSize:
        $ref: '#/definitions/MailboxSize'
        description: 'The current mailbox size, in MB, for the specified user.'
    type: object
  Group:
    description: The representation of an Amazon WorkMail group.
    properties:
      DisabledDate:
        $ref: '#/definitions/Timestamp'
        description: The date indicating when the group was disabled from Amazon WorkMail use.
      Email:
        $ref: '#/definitions/EmailAddress'
        description: The email of the group.
      EnabledDate:
        $ref: '#/definitions/Timestamp'
        description: The date indicating when the group was enabled for Amazon WorkMail use.
      Id:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier of the group.
      Name:
        $ref: '#/definitions/GroupName'
        description: The name of the group.
      State:
        $ref: '#/definitions/EntityState'
        description: 'The state of the group, which can be ENABLED, DISABLED, or DELETED.'
    type: object
  GroupName:
    maxLength: 256
    minLength: 1
    pattern: '[\u0020-\u00FF]+'
    type: string
  Groups:
    items:
      $ref: '#/definitions/Group'
    type: array
  InvalidConfigurationException: {}
  InvalidParameterException: {}
  InvalidPasswordException: {}
  ListAliasesRequest:
    properties:
      EntityId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier for the entity for which to list the aliases.
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return in a single call.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token to use to retrieve the next page of results. The first call does not contain any tokens.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier for the organization under which the entity exists.
    required:
      - OrganizationId
      - EntityId
    type: object
  ListAliasesResponse:
    properties:
      Aliases:
        $ref: '#/definitions/Aliases'
        description: The entity's paginated aliases.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token to use to retrieve the next page of results. The value is "null" when there are no more results to return.
    type: object
  ListGroupMembersRequest:
    properties:
      GroupId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier for the group to which the members (users or groups) are associated.
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return in a single call.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: ' The token to use to retrieve the next page of results. The first call does not contain any tokens.'
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier for the organization under which the group exists.
    required:
      - OrganizationId
      - GroupId
    type: object
  ListGroupMembersResponse:
    properties:
      Members:
        $ref: '#/definitions/Members'
        description: The members associated to the group.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token to use to retrieve the next page of results. The first call does not contain any tokens.
    type: object
  ListGroupsRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return in a single call.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token to use to retrieve the next page of results. The first call does not contain any tokens.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier for the organization under which the groups exist.
    required:
      - OrganizationId
    type: object
  ListGroupsResponse:
    properties:
      Groups:
        $ref: '#/definitions/Groups'
        description: The overview of groups for an organization.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token to use to retrieve the next page of results. The value is "null" when there are no more results to return.
    type: object
  ListMailboxPermissionsRequest:
    properties:
      EntityId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: 'The identifier of the user, group, or resource for which to list mailbox permissions.'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return in a single call.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token to use to retrieve the next page of results. The first call does not contain any tokens.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: 'The identifier of the organization under which the user, group, or resource exists.'
    required:
      - OrganizationId
      - EntityId
    type: object
  ListMailboxPermissionsResponse:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token to use to retrieve the next page of results. The value is "null" when there are no more results to return.
      Permissions:
        $ref: '#/definitions/Permissions'
        description: 'One page of the user, group, or resource mailbox permissions.'
    type: object
  ListOrganizationsRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return in a single call.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token to use to retrieve the next page of results. The first call does not contain any tokens.
    type: object
  ListOrganizationsResponse:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token to use to retrieve the next page of results. The value is "null" when there are no more results to return.
      OrganizationSummaries:
        $ref: '#/definitions/OrganizationSummaries'
        description: The overview of owned organizations presented as a list of organization summaries.
    type: object
  ListResourceDelegatesRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The number of maximum results in a page.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token used to paginate through the delegates associated with a resource.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier for the organization that contains the resource for which delegates are listed.
      ResourceId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: The identifier for the resource whose delegates are listed.
    required:
      - OrganizationId
      - ResourceId
    type: object
  ListResourceDelegatesResponse:
    properties:
      Delegates:
        $ref: '#/definitions/ResourceDelegates'
        description: One page of the resource's delegates.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The token used to paginate through the delegates associated with a resource. While results are still available, it has an associated value. When the last page is reached, the token is empty. '
    type: object
  ListResourcesRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return in a single call.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token to use to retrieve the next page of results. The first call does not contain any tokens.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier for the organization under which the resources exist.
    required:
      - OrganizationId
    type: object
  ListResourcesResponse:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: ' The token used to paginate through all the organization''s resources. While results are still available, it has an associated value. When the last page is reached, the token is empty.'
      Resources:
        $ref: '#/definitions/Resources'
        description: One page of the organization's resource representation.
    type: object
  ListUsersRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return in a single call.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token to use to retrieve the next page of results. The first call does not contain any tokens.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier for the organization under which the users exist.
    required:
      - OrganizationId
    type: object
  ListUsersResponse:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: ' The token to use to retrieve the next page of results. This value is `null` when there are no more results to return.'
      Users:
        $ref: '#/definitions/Users'
        description: The overview of users for an organization.
    type: object
  MailDomainNotFoundException: {}
  MailDomainStateException: {}
  MailboxQuota:
    minimum: 1
    type: integer
  MailboxSize:
    format: double
    minimum: 0
    type: number
  MaxResults:
    maximum: 100
    minimum: 1
    type: integer
  Member:
    description: The representation of a user or group.
    properties:
      DisabledDate:
        $ref: '#/definitions/Timestamp'
        description: The date indicating when the member was disabled from Amazon WorkMail use.
      EnabledDate:
        $ref: '#/definitions/Timestamp'
        description: The date indicating when the member was enabled for Amazon WorkMail use.
      Id:
        $ref: '#/definitions/String'
        description: The identifier of the member.
      Name:
        $ref: '#/definitions/String'
        description: The name of the member.
      State:
        $ref: '#/definitions/EntityState'
        description: 'The state of the member, which can be ENABLED, DISABLED, or DELETED.'
      Type:
        $ref: '#/definitions/MemberType'
        description: A member can be a user or group.
    type: object
  MemberType:
    enum:
      - GROUP
      - USER
    type: string
  Members:
    items:
      $ref: '#/definitions/Member'
    type: array
  NameAvailabilityException: {}
  NextToken:
    maxLength: 1024
    minLength: 1
    type: string
  OrganizationId:
    pattern: '^m-[0-9a-f]{32}$'
    type: string
  OrganizationName:
    maxLength: 62
    minLength: 1
    pattern: '^(?!d-)([\da-zA-Z]+)([-]*[\da-zA-Z])*'
    type: string
  OrganizationNotFoundException: {}
  OrganizationStateException: {}
  OrganizationSummaries:
    items:
      $ref: '#/definitions/OrganizationSummary'
    type: array
  OrganizationSummary:
    description: The representation of an organization.
    properties:
      Alias:
        $ref: '#/definitions/OrganizationName'
        description: The alias associated with the organization.
      ErrorMessage:
        $ref: '#/definitions/String'
        description: The error message associated with the organization. It is only present if unexpected behavior has occurred with regards to the organization. It provides insight or solutions regarding unexpected behavior.
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: The identifier associated with the organization.
      State:
        $ref: '#/definitions/String'
        description: The state associated with the organization.
    type: object
  Password:
    format: password
    maxLength: 256
    pattern: '[\u0020-\u00FF]+'
    type: string
  Permission:
    description: 'Permission granted to a user, group, or resource to access a certain aspect of another user, group, or resource mailbox.'
    properties:
      GranteeId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: 'The identifier of the user, group, or resource to which the permissions are granted.'
      GranteeType:
        $ref: '#/definitions/MemberType'
        description: 'The type of user, group, or resource referred to in GranteeId.'
      PermissionValues:
        $ref: '#/definitions/PermissionValues'
        description: 'The permissions granted to the grantee. SEND_AS allows the grantee to send email as the owner of the mailbox (the grantee is not mentioned on these emails). SEND_ON_BEHALF allows the grantee to send email on behalf of the owner of the mailbox (the grantee is not mentioned as the physical sender of these emails). FULL_ACCESS allows the grantee full access to the mailbox, irrespective of other folder-level permissions set on the mailbox.'
    required:
      - GranteeId
      - GranteeType
      - PermissionValues
    type: object
  PermissionType:
    enum:
      - FULL_ACCESS
      - SEND_AS
      - SEND_ON_BEHALF
    type: string
  PermissionValues:
    items:
      $ref: '#/definitions/PermissionType'
    type: array
  Permissions:
    items:
      $ref: '#/definitions/Permission'
    type: array
  PutMailboxPermissionsRequest:
    properties:
      EntityId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: 'The identifier of the user, group, or resource for which to update mailbox permissions.'
      GranteeId:
        $ref: '#/definitions/WorkMailIdentifier'
        description: 'The identifier of the user, group, or resource to which to grant the permissions.'
      OrganizationId:
        $ref: '#/definitions/OrganizationId'
        description: 'The identifier of the organization under which the user, group, or resource exists.'
      PermissionValues:
        $ref: '#/definitions/PermissionValues'
        description: 'The permissions granted to the grantee. SEND_AS allows the grantee to send email as the owner of the mailbox (the grantee is not mentioned on these emails). SEND_ON_BEHALF allows the grantee to send email on behalf of the owner of the mailbox (the grantee is not mentioned as the physical sender of these emails). FULL_ACCESS allows the grantee full access to the mailbox, irrespective of other folder-level permissions set on the mailbox.'
    required:
      - OrganizationId
      - EntityId
      - GranteeId
      - PermissionValues
    type: object
  PutMailboxPermissionsResponse:
    properties: {}
    type: object
  RegisterToWorkMailRequest:
    properties:
      Email:
        $ref: '#/definitions/EmailAddress'
        description: 'The email for the user, group, or resource to be updated.'
      EntityId:
        $ref: '#/definitions/WorkMailIdentifier'
[...]
