swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: Azure Service Bus client
  title: ServiceBusManagementClient
  version: '2015-08-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-servicebus/2015-08-01/swagger/servicebus.json'
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: arm-servicebus
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/namespaces':
    get:
      description: Lists all the available namespaces within the subscription irrespective of the resourceGroups.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx'
      operationId: Namespaces_ListBySubscription
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Namespaces returned successfully
          schema:
            $ref: '#/definitions/NamespaceListResult'
      tags:
        - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces':
    get:
      description: Lists the available namespaces within a resourceGroup.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx'
      operationId: Namespaces_ListByResourceGroup
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Namespaces returned successfully
          schema:
            $ref: '#/definitions/NamespaceListResult'
      tags:
        - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}':
    delete:
      description: Deletes an existing namespace. This operation also removes all associated resources under the namespace.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639389.aspx'
      operationId: Namespaces_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Namespace delete successful
        '202':
          description: Namespace delete request has been accepted
        '204':
          description: No Content
      tags:
        - Namespaces
      x-ms-long-running-operation: true
    get:
      description: Returns the description for the specified namespace.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639379.aspx'
      operationId: Namespaces_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Namespace returned successfully
          schema:
            $ref: '#/definitions/NamespaceResource'
      tags:
        - Namespaces
    put:
      description: 'Creates/Updates a service namespace. Once created, this namespace''s resource manifest is immutable. This operation is idempotent.'
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639408.aspx'
      operationId: Namespaces_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: Parameters supplied to create a Namespace Resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/NamespaceCreateOrUpdateParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Namespace create request successful
          schema:
            $ref: '#/definitions/NamespaceResource'
        '201':
          description: Namespace create request accepted
          schema:
            $ref: '#/definitions/NamespaceResource'
      tags:
        - Namespaces
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/AuthorizationRules':
    get:
      description: Authorization rules for a namespace.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639376.aspx'
      operationId: Namespaces_ListAuthorizationRules
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name
          in: path
          name: namespaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Namespace Authorization rule returned successfully
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleListResult'
      tags:
        - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}':
    delete:
      description: Deletes a namespace authorization rule
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639417.aspx'
      operationId: Namespaces_DeleteAuthorizationRule
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: Authorization Rule Name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Namespace Authorization rule deleted
        '204':
          description: No Content
      tags:
        - Namespaces
    get:
      description: Authorization rule for a namespace by name.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639392.aspx'
      operationId: Namespaces_GetAuthorizationRule
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name
          in: path
          name: namespaceName
          required: true
          type: string
        - description: Authorization rule name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Namespace Authorization rule returned successfully
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleResource'
      tags:
        - Namespaces
    put:
      description: Creates an authorization rule for a namespace
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639410.aspx'
      operationId: Namespaces_CreateOrUpdateAuthorizationRule
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: Namespace Aauthorization Rule Name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - description: The shared access authorization rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Namespace Authorization rule created
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleResource'
      tags:
        - Namespaces
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys':
    post:
      description: 'Primary and Secondary ConnectionStrings to the namespace '
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639398.aspx'
      operationId: Namespaces_ListKeys
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The authorizationRule name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful
          schema:
            $ref: '#/definitions/ResourceListKeys'
      tags:
        - Namespaces
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys':
    post:
      description: 'Regenerats the Primary or Secondary ConnectionStrings to the namespace '
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt718977.aspx'
      operationId: Namespaces_RegenerateKeys
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The authorizationRule name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - description: Parameters supplied to regenerate Auth Rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/RegenerateKeysParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful
          schema:
            $ref: '#/definitions/ResourceListKeys'
      tags:
        - Namespaces
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues':
    get:
      description: Lists the queues within the namespace.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639415.aspx'
      operationId: Queues_ListAll
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Queues returned successfully
          schema:
            $ref: '#/definitions/QueueListResult'
      tags:
        - Queues
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}':
    delete:
      description: Deletes a queue from the specified namespace in resource group.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639411.aspx'
      operationId: Queues_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The queue name.
          in: path
          name: queueName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Queue deleted.
        '204':
          description: No Content
      tags:
        - Queues
    get:
      description: Returns the description for the specified queue.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639380.aspx'
      operationId: Queues_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The queue name.
          in: path
          name: queueName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully retrieved queue description.
          schema:
            $ref: '#/definitions/QueueResource'
      tags:
        - Queues
    put:
      description: Creates/Updates a service Queue. This operation is idempotent.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639395.aspx'
      operationId: Queues_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The queue name.
          in: path
          name: queueName
          required: true
          type: string
        - description: Parameters supplied to create a Queue Resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/QueueCreateOrUpdateParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Queue created
          schema:
            $ref: '#/definitions/QueueResource'
      tags:
        - Queues
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}/authorizationRules':
    get:
      description: Returns all Queue authorizationRules.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt705607.aspx'
      operationId: Queues_ListAuthorizationRules
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The queue name.
          in: path
          name: queueName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Queues Authorization rule returned successfully
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleListResult'
      tags:
        - Queues
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}/authorizationRules/{authorizationRuleName}':
    delete:
      description: Deletes a queue authorization rule
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt705609.aspx'
      operationId: Queues_DeleteAuthorizationRule
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The queue name.
          in: path
          name: queueName
          required: true
          type: string
        - description: Authorization Rule Name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Queue authorizationRule deleted
        '204':
          description: No Content
      tags:
        - Queues
    get:
      description: Queue authorizationRule for a queue by name.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt705611.aspx'
      operationId: Queues_GetAuthorizationRule
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The queue name.
          in: path
          name: queueName
          required: true
          type: string
        - description: Authorization rule name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Queues AuthorizationRule returned successfully
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleResource'
      tags:
        - Queues
    put:
      description: Creates an authorization rule for a queue
      operationId: Queues_CreateOrUpdateAuthorizationRule
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The queue name.
          in: path
          name: queueName
          required: true
          type: string
        - description: Aauthorization Rule Name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - description: The shared access authorization rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Queues Authorization rule created
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleResource'
      tags:
        - Queues
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}/authorizationRules/{authorizationRuleName}/ListKeys':
    post:
      description: Primary and Secondary ConnectionStrings to the queue.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt705608.aspx'
      operationId: Queues_ListKeys
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The queue name.
          in: path
          name: queueName
          required: true
          type: string
        - description: The authorizationRule name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful
          schema:
            $ref: '#/definitions/ResourceListKeys'
      tags:
        - Queues
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}/authorizationRules/{authorizationRuleName}/regenerateKeys':
    post:
      description: Regenerates the Primary or Secondary ConnectionStrings to the Queue
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt705606.aspx'
      operationId: Queues_RegenerateKeys
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The queue name.
          in: path
          name: queueName
          required: true
          type: string
        - description: The authorizationRule name
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - description: Parameters supplied to regenerate Auth Rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/RegenerateKeysParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful
          schema:
            $ref: '#/definitions/ResourceListKeys'
      tags:
        - Queues
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics':
    get:
      description: Lists all the topics in a namespace.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639388.aspx'
      operationId: Topics_ListAll
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully retrieved list of topics.
          schema:
            $ref: '#/definitions/TopicListResult'
      tags:
        - Topics
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}':
    delete:
      description: Deletes a topic from the specified namespace and resource group.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639404.aspx'
      operationId: Topics_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The topics name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The topics name.
          in: path
          name: topicName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Topic delete successful
        '204':
          description: No Content
      tags:
        - Topics
    get:
      description: Returns the description for the specified topic
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639399.aspx'
      operationId: Topics_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The topic name.
          in: path
          name: topicName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully retrieved topic description.
          schema:
            $ref: '#/definitions/TopicResource'
      tags:
        - Topics
    put:
      description: Creates a topic in the specified namespace
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639409.aspx'
      operationId: Topics_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The topic name.
          in: path
          name: topicName
          required: true
          type: string
        - description: Parameters supplied to create a Topic Resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/TopicCreateOrUpdateParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Topic created
          schema:
            $ref: '#/definitions/TopicResource'
      tags:
        - Topics
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules':
    get:
      description: Authorization rules for a topic.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt720681.aspx'
      operationId: Topics_ListAuthorizationRules
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The topic name
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The topic name.
          in: path
          name: topicName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Topic AuthorizationRule returned successfully
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleListResult'
      tags:
        - Topics
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules/{authorizationRuleName}':
    delete:
      description: Deletes a topic authorizationRule
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt720681.aspx'
      operationId: Topics_DeleteAuthorizationRule
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The topic name.
          in: path
          name: topicName
          required: true
          type: string
        - description: AuthorizationRule Name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Topics AuthorizationRule deleted
        '204':
          description: No Content
      tags:
        - Topics
    get:
      description: Returns the specified authorizationRule.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt720676.aspx'
      operationId: Topics_GetAuthorizationRule
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The topic name.
          in: path
          name: topicName
          required: true
          type: string
        - description: Authorization rule name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Topic AuthorizationRule returned successfully
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleResource'
      tags:
        - Topics
    put:
      description: Creates an authorizatioRule for the specified topic.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt720678.aspx'
      operationId: Topics_CreateOrUpdateAuthorizationRule
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The topic name.
          in: path
          name: topicName
          required: true
          type: string
        - description: Aauthorization Rule Name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - description: The shared access authorization rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Topic Authorization rule created
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleResource'
      tags:
        - Topics
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules/{authorizationRuleName}/ListKeys':
    post:
      description: Primary and Secondary ConnectionStrings to the topic
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt720677.aspx'
      operationId: Topics_ListKeys
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The topic name.
          in: path
          name: topicName
          required: true
          type: string
        - description: The authorizationRule name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful
          schema:
            $ref: '#/definitions/ResourceListKeys'
      tags:
        - Topics
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules/{authorizationRuleName}/regenerateKeys':
    post:
      description: Regenerates Primary or Secondary ConnectionStrings to the topic
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt720679.aspx'
      operationId: Topics_RegenerateKeys
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The topic name.
          in: path
          name: topicName
          required: true
          type: string
        - description: The authorizationRule name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - description: Parameters supplied to regenerate Auth Rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/RegenerateKeysParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful
          schema:
            $ref: '#/definitions/ResourceListKeys'
      tags:
        - Topics
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions':
    get:
      description: Lsit all the subscriptions under a specified topic
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639400.aspx'
      operationId: Subscriptions_ListAll
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The topic name.
          in: path
          name: topicName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully retrieved list of Subscriptions.
          schema:
            $ref: '#/definitions/SubscriptionListResult'
      tags:
        - Subscriptions
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}':
    delete:
      description: Deletes a subscription from the specified topic.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639381.aspx'
      operationId: Subscriptions_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The topic name.
          in: path
          name: topicName
          required: true
          type: string
        - description: The subscription name.
          in: path
          name: subscriptionName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Subscription deleted.
        '204':
          description: No Content
      tags:
        - Subscriptions
    get:
      description: Returns a subscription description for the specified topic.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639402.aspx'
      operationId: Subscriptions_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The topic name.
          in: path
          name: topicName
          required: true
          type: string
        - description: The subscription name.
          in: path
          name: subscriptionName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully retrieved queue description.
          schema:
            $ref: '#/definitions/SubscriptionResource'
      tags:
        - Subscriptions
    put:
      description: Creates a topic subscription
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639385.aspx'
      operationId: Subscriptions_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The topicName name.
          in: path
          name: topicName
          required: true
          type: string
        - description: The subscriptionName name.
          in: path
          name: subscriptionName
          required: true
          type: string
        - description: Parameters supplied to create a subscription Resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/SubscriptionCreateOrUpdateParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Subscription create request accepted
          schema:
            $ref: '#/definitions/SubscriptionResource'
      tags:
        - Subscriptions
definitions:
  EntityAvailabilityStatus:
    description: Entity availability status.
    enum:
      - Available
      - Limited
      - Renaming
      - Restoring
      - Unknown
    type: string
    x-ms-enum:
      modelAsString: false
      name: EntityAvailabilityStatus
  EntityStatus:
    description: Entity status.
    enum:
      - Active
      - Creating
      - Deleting
      - Disabled
      - ReceiveDisabled
      - Renaming
      - Restoring
      - SendDisabled
      - Unknown
    type: string
    x-ms-enum:
      modelAsString: false
      name: EntityStatus
  MessageCountDetails:
    description: Message Count Details.
    properties:
      activeMessageCount:
        description: 'Number of active messages in the queue, topic, or subscription.'
        format: int64
        type: integer
      deadLetterMessageCount:
        description: Number of messages that are dead letters.
        format: int64
        type: integer
      scheduledMessageCount:
        description: Number scheduled messages.
        format: int64
        type: integer
      transferDeadLetterMessageCount:
        description: Number of messages transferred into dead letters.
        format: int64
        type: integer
      transferMessageCount:
        description: 'Number of messages transferred to another queue, topic, or subscription.'
        format: int64
        type: integer
    type: object
  NamespaceCreateOrUpdateParameters:
    description: Parameters supplied to the CreateOrUpdate Namespace operation.
    properties:
      location:
        description: Namespace location.
        type: string
      properties:
        $ref: '#/definitions/NamespaceProperties'
        x-ms-client-flatten: true
      sku:
        $ref: '#/definitions/Sku'
      tags:
        additionalProperties:
          type: string
        description: Namespace tags.
        type: object
    required:
      - location
  NamespaceListResult:
    description: The response of the List Namespace operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of Namespaces
        type: string
      value:
        description: Result of the List Namespace operation.
        items:
          $ref: '#/definitions/NamespaceResource'
        type: array
  NamespaceProperties:
    description: Properties of the Namespace.
    properties:
      createACSNamespace:
        description: Indicates whether to create ACS namespace.
        type: boolean
      createdAt:
        description: The time the namespace was created.
        format: date-time
        type: string
      enabled:
        description: Specifies whether this instance is enabled.
        type: boolean
      provisioningState:
        description: Provisioning state of the Namespace.
        type: string
      serviceBusEndpoint:
        description: Endpoint you can use to perform ServiceBus operations.
        externalDocs:
          url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
        type: string
      status:
        description: State of the namespace.
        enum:
          - Unknown
          - Creating
          - Created
          - Activating
          - Enabling
          - Active
          - Disabling
          - Disabled
          - SoftDeleting
          - SoftDeleted
          - Removing
          - Removed
          - Failed
        type: string
        x-ms-enum:
          modelAsString: false
          name: NamespaceState
      updatedAt:
        description: The time the namespace was updated.
        format: date-time
        type: string
  NamespaceResource:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Description of a Namespace resource.
    properties:
      properties:
        $ref: '#/definitions/NamespaceProperties'
        x-ms-client-flatten: true
      sku:
        $ref: '#/definitions/Sku'
  QueueCreateOrUpdateParameters:
    description: Parameters supplied to the CreateOrUpdate Queue operation.
    properties:
      location:
        description: location of the resource.
        type: string
      name:
        description: Queue name.
        type: string
      properties:
        $ref: '#/definitions/QueueProperties'
        x-ms-client-flatten: true
    required:
      - location
  QueueListResult:
    description: The response of the List Queues operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of Queues
        type: string
      value:
        description: Result of the List Queues operation.
        items:
          $ref: '#/definitions/QueueResource'
        type: array
  QueueProperties:
    properties:
      accessedAt:
        description: 'Last time a message was sent, or the last time there was a receive request to this queue.'
        format: date-time
        type: string
      autoDeleteOnIdle:
        description: the TimeSpan idle interval after which the queue is automatically deleted. The minimum duration is 5 minutes.
        type: string
      countDetails:
        $ref: '#/definitions/MessageCountDetails'
      createdAt:
        description: the exact time the message was created.
        format: date-time
        type: string
      deadLetteringOnMessageExpiration:
        description: a value that indicates whether this queue has dead letter support when a message expires.
        type: boolean
      defaultMessageTimeToLive:
        description: 'the default message time to live value. This is the duration after which the message expires, starting from when the message is sent to Service Bus. This is the default value used when TimeToLive is not set on a message itself.'
        type: string
      'duplicateDetectionHistoryTimeWindow ':
        description: TimeSpan structure that defines the duration of the duplicate detection history. The default value is 10 minutes..
        type: string
      enableBatchedOperations:
        description: value that indicates whether server-side batched operations are enabled..
        type: boolean
      enableExpress:
        description: a value that indicates whether Express Entities are enabled. An express queue holds a message in memory temporarily before writing it to persistent storage.
        type: boolean
      enablePartitioning:
        description: value that indicates whether the queue to be partitioned across multiple message brokers is enabled.
        type: boolean
      'entityAvailabilityStatus ':
        $ref: '#/definitions/EntityAvailabilityStatus'
        description: Entity availability status for the queue.
      isAnonymousAccessible:
        description: a value that indicates whether the message is anonymous accessible.
        type: boolean
      'lockDuration ':
        description: 'the duration of a peek lock; that is, the amount of time that the message is locked for other receivers. The maximum value for LockDuration is 5 minutes; the default value is 1 minute.'
        type: string
      'maxDeliveryCount ':
        description: the maximum delivery count. A message is automatically deadlettered after this number of deliveries.
        format: int32
        type: integer
      maxSizeInMegabytes:
        description: 'the maximum size of the queue in megabytes, which is the size of memory allocated for the queue.'
        format: int64
        type: integer
      'messageCount ':
        description: the number of messages in the queue.
        format: int64
        type: integer
      requiresDuplicateDetection:
        description: the value indicating if this queue requires duplicate detection.
        type: boolean
      requiresSession:
        description: a value that indicates whether the queue supports the concept of session.
        type: boolean
      'sizeInBytes ':
        description: the size of the queue in bytes.
        format: int64
        type: integer
      status:
        $ref: '#/definitions/EntityStatus'
        description: Enumerates the possible values for the status of a messaging entity.
      supportOrdering:
        description: a value that indicates whether the queue supports ordering.
        type: boolean
      updatedAt:
        description: the exact time the message has been updated.
        format: date-time
        type: string
  QueueResource:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Description of queue Resource.
    properties:
      properties:
        $ref: '#/definitions/QueueProperties'
        x-ms-client-flatten: true
  RegenerateKeysParameters:
    description: Parameters supplied to the Regenerate Auth Rule.
    properties:
      Policykey:
        description: Key that needs to be regenerated .
        enum:
          - PrimaryKey
          - SecondaryKey
        type: string
        x-ms-enum:
          modelAsString: false
          name: Policykey
  Resource:
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  ResourceListKeys:
    description: Namespace/ServiceBus Connection String
    properties:
      keyName:
        description: A string that describes the authorization rule
        type: string
      primaryConnectionString:
        description: PrimaryConnectionString of the created Namespace AuthorizationRule.
        type: string
      primaryKey:
        description: A base64-encoded 256-bit primary key for signing and validating the SAS token
        type: string
      secondaryConnectionString:
        description: SecondaryConnectionString of the created Namespace AuthorizationRule
        type: string
      secondaryKey:
        description: A base64-encoded 256-bit primary key for signing and validating the SAS token
        type: string
  SharedAccessAuthorizationRuleCreateOrUpdateParameters:
    description: Parameters supplied to the CreateOrUpdate  AuthorizationRules.
    properties:
      location:
        description: data center location.
        type: string
      name:
        description: Name of the AuthorizationRule.
        type: string
      properties:
        $ref: '#/definitions/SharedAccessAuthorizationRuleProperties'
        x-ms-client-flatten: true
  SharedAccessAuthorizationRuleListResult:
    description: The response of the List Namespace operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of AuthorizationRules
        type: string
      value:
        description: Result of the List AuthorizationRules operation.
        items:
          $ref: '#/definitions/SharedAccessAuthorizationRuleResource'
        type: array
  SharedAccessAuthorizationRuleProperties:
    description: SharedAccessAuthorizationRule properties.
    properties:
      rights:
        description: The rights associated with the rule.
        items:
          enum:
            - Manage
            - Send
            - Listen
          type: string
          x-ms-enum:
            modelAsString: false
            name: AccessRights
        type: array
    required:
      - rights
  SharedAccessAuthorizationRuleResource:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Description of a Namespace AuthorizationRules.
    properties:
      properties:
        $ref: '#/definitions/SharedAccessAuthorizationRuleProperties'
        x-ms-client-flatten: true
  Sku:
    description: Sku of the Namespace.
    properties:
      capacity:
        description: The messaging units for the tier specified
        format: int32
        type: integer
      name:
        description: Name of this Sku
        enum:
          - Basic
          - Standard
          - Premium
        type: string
        x-ms-enum:
          modelAsString: true
          name: SkuName
      tier:
        description: The tier of this particular SKU
        enum:
          - Basic
          - Standard
          - Premium
        type: string
        x-ms-enum:
          modelAsString: true
          name: SkuTier
    required:
      - tier
    type: object
  SubscriptionCreateOrUpdateParameters:
    description: Parameters supplied to the CreateOrUpdate Subscription operation.
    properties:
      location:
        description: Subscription data center location.
        type: string
      properties:
        $ref: '#/definitions/SubscriptionProperties'
        x-ms-client-flatten: true
      type:
        description: Resource Manager type of the resource.
        type: string
    required:
      - location
  SubscriptionListResult:
    description: The response of the List Subscriptions operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of Subscriptions
        type: string
      value:
        description: Result of the List Subscriptions operation.
        items:
          $ref: '#/definitions/SubscriptionResource'
        type: array
  SubscriptionProperties:
    description: Description of Subscription Resource.
    properties:
      accessedAt:
        description: Last time a there was a receive request to this subscription.
        format: date-time
        type: string
      autoDeleteOnIdle:
        description: TimeSpan idle interval after which the topic is automatically deleted. The minimum duration is 5 minutes.
        type: string
      countDetails:
        $ref: '#/definitions/MessageCountDetails'
      createdAt:
        description: Exact time the message was created.
        format: date-time
        type: string
      deadLetteringOnFilterEvaluationExceptions:
        description: Value that indicates if a subscription has dead letter support on Filter evaluation exceptions.
        type: boolean
      deadLetteringOnMessageExpiration:
        description: Value that indicates if a subscription has dead letter support when a message expires.
        type: boolean
      defaultMessageTimeToLive:
        description: 'Default message time to live value. This is the duration after which the message expires, starting from when the message is sent to Service Bus. This is the default value used when TimeToLive is not set on a message itself.'
        type: string
      enableBatchedOperations:
        description: Value that indicates whether server-side batched operations are enabled..
        type: boolean
      entityAvailabilityStatus:
        $ref: '#/definitions/EntityAvailabilityStatus'
        description: Entity availability status for the topic.
      isReadOnly:
        description: Value that indicates whether the entity description is read-only.
        type: boolean
      lockDuration:
        description: The lock duration time span for the subscription.
        type: string
      maxDeliveryCount:
        description: Number of maximum deliveries.
        format: int32
        type: integer
      messageCount:
        description: Number of messages.
        format: int64
        type: integer
      requiresSession:
        description: Value indicating if a subscription supports the concept of session.
        type: boolean
      status:
        $ref: '#/definitions/EntityStatus'
        description: Enumerates the possible values for the status of a messaging entity.
      updatedAt:
        description: The exact time the message has been updated.
        format: date-time
        type: string
  SubscriptionResource:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Description of Subscription Resource.
    properties:
      properties:
        $ref: '#/definitions/SubscriptionProperties'
        x-ms-client-flatten: true
  TopicCreateOrUpdateParameters:
    description: Parameters supplied to the CreateOrUpdate Topic operation.
    properties:
      location:
        description: Location of the resource.
        type: string
      name:
        description: Topic name.
        type: string
      properties:
        $ref: '#/definitions/TopicProperties'
        x-ms-client-flatten: true
    required:
      - location
  TopicListResult:
    description: The response of the List Topics operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of Topics
        type: string
      value:
        description: Result of the List Topics operation.
        items:
          $ref: '#/definitions/TopicResource'
        type: array
  TopicProperties:
    properties:
      accessedAt:
        description: Last time the message was sent or a request was received for this topic.
        format: date-time
        type: string
      autoDeleteOnIdle:
        description: TimeSpan idle interval after which the topic is automatically deleted. The minimum duration is 5 minutes.
        type: string
      countDetails:
        $ref: '#/definitions/MessageCountDetails'
      createdAt:
        description: Exact time the message was created.
        format: date-time
        type: string
      defaultMessageTimeToLive:
        description: 'Default message time to live value. This is the duration after which the message expires, starting from when the message is sent to Service Bus. This is the default value used when TimeToLive is not set on a message itself.'
        type: string
      'duplicateDetectionHistoryTimeWindow ':
        description: TimeSpan structure that defines the duration of the duplicate detection history. The default value is 10 minutes..
        type: string
      enableBatchedOperations:
        description: Value that indicates whether server-side batched operations are enabled..
        type: boolean
      enableExpress:
        description: Value that indicates whether Express Entities are enabled. An express topic holds a message in memory temporarily before writing it to persistent storage.
        type: boolean
      enablePartitioning:
        description: Value that indicates whether the topic to be partitioned across multiple message brokers is enabled.
        type: boolean
      enableSubscriptionPartitioning:
        description: Value that indicates whether partitioning is enabled or disabled..
        type: boolean
      'entityAvailabilityStatus ':
        $ref: '#/definitions/EntityAvailabilityStatus'
        description: Entity availability status for the topic.
      filteringMessagesBeforePublishing:
        description: Whether messages should be filtered before publishing.
        type: boolean
      isAnonymousAccessible:
        description: Value that indicates whether the message is anonymous accessible.
        type: boolean
      isExpress:
        description: ''
        type: boolean
      maxSizeInMegabytes:
        description: 'Maximum size of the topic in megabytes, which is the size of memory allocated for the topic.'
        format: int64
        type: integer
      requiresDuplicateDetection:
        description: Value indicating if this topic requires duplicate detection.
        type: boolean
      sizeInBytes:
        description: Size of the topic in bytes.
        format: int64
        type: integer
      status:
        $ref: '#/definitions/EntityStatus'
        description: Enumerates the possible values for the status of a messaging entity.
      subscriptionCount:
        description: Number of subscriptions.
        format: int32
        type: integer
      supportOrdering:
        description: Value that indicates whether the topic supports ordering.
        type: boolean
      updatedAt:
        description: The exact time the message has been updated.
        format: date-time
        type: string
  TopicResource:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Description of topic Resource.
    properties:
      properties:
        $ref: '#/definitions/TopicProperties'
        x-ms-client-flatten: true
