openapi: 3.0.0
servers:
  - url: https://firebasedynamiclinks.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Programmatically creates and manages Firebase Dynamic Links.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Firebase Dynamic Links API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: google
      url: https://firebasedynamiclinks.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: firebasedynamiclinks
externalDocs:
  url: https://firebase.google.com/docs/dynamic-links/
tags:
  - name: managedShortLinks
  - name: shortLinks
  - name: v1
paths:
  /v1/installAttribution:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Get iOS strong/weak-match info for post-install attribution.
      operationId: firebasedynamiclinks.installAttribution
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetIosPostInstallAttributionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetIosPostInstallAttributionResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/firebase
          Oauth2c:
            - https://www.googleapis.com/auth/firebase
      tags:
        - v1
  /v1/managedShortLinks:create:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Creates a managed short Dynamic Link given either a valid long Dynamic Link or details such as Dynamic Link domain, Android and iOS app information. The created short Dynamic Link will not expire. This differs from CreateShortDynamicLink in the following ways: - The request will also contain a name for the link (non unique name for the front end). - The response must be authenticated with an auth token (generated with the admin service account). - The link will appear in the FDL list of links in the console front end. The Dynamic Link domain in the request must be owned by requester's Firebase project."
      operationId: firebasedynamiclinks.managedShortLinks.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateManagedShortLinkRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateManagedShortLinkResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/firebase
          Oauth2c:
            - https://www.googleapis.com/auth/firebase
      tags:
        - managedShortLinks
  /v1/reopenAttribution:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Get iOS reopen attribution for app universal link open deeplinking.
      operationId: firebasedynamiclinks.reopenAttribution
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetIosReopenAttributionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetIosReopenAttributionResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/firebase
          Oauth2c:
            - https://www.googleapis.com/auth/firebase
      tags:
        - v1
  /v1/shortLinks:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a short Dynamic Link given either a valid long Dynamic Link or details such as Dynamic Link domain, Android and iOS app information. The created short Dynamic Link will not expire. Repeated calls with the same long Dynamic Link or Dynamic Link information will produce the same short Dynamic Link. The Dynamic Link domain in the request must be owned by requester's Firebase project.
      operationId: firebasedynamiclinks.shortLinks.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateShortDynamicLinkRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateShortDynamicLinkResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/firebase
          Oauth2c:
            - https://www.googleapis.com/auth/firebase
      tags:
        - shortLinks
  "/v1/{dynamicLink}/linkStats":
    get:
      description: Fetches analytics stats of a short Dynamic Link for a given duration. Metrics include number of clicks, redirects, installs, app first opens, and app reopens.
      operationId: firebasedynamiclinks.getLinkStats
      parameters:
        - description: Dynamic Link URL. e.g. https://abcd.app.goo.gl/wxyz
          in: path
          name: dynamicLink
          required: true
          schema:
            type: string
        - description: The span of time requested in days.
          in: query
          name: durationDays
          schema:
            type: string
        - description: Google SDK version. Version takes the form "$major.$minor.$patch"
          in: query
          name: sdkVersion
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DynamicLinkStats"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/firebase
          Oauth2c:
            - https://www.googleapis.com/auth/firebase
      tags:
        - v1
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AnalyticsInfo:
      description: Tracking parameters supported by Dynamic Link.
      properties:
        googlePlayAnalytics:
          $ref: "#/components/schemas/GooglePlayAnalytics"
          description: Google Play Campaign Measurements.
        itunesConnectAnalytics:
          $ref: "#/components/schemas/ITunesConnectAnalytics"
          description: iTunes Connect App Analytics.
      type: object
    AndroidInfo:
      description: Android related attributes to the Dynamic Link.
      properties:
        androidFallbackLink:
          description: Link to open on Android if the app is not installed.
          type: string
        androidLink:
          description: If specified, this overrides the ‘link’ parameter on Android.
          type: string
        androidMinPackageVersionCode:
          description: Minimum version code for the Android app. If the installed app’s version code is lower, then the user is taken to the Play Store.
          type: string
        androidPackageName:
          description: Android package name of the app.
          type: string
      type: object
    CreateManagedShortLinkRequest:
      description: Request to create a managed Short Dynamic Link.
      properties:
        dynamicLinkInfo:
          $ref: "#/components/schemas/DynamicLinkInfo"
          description: Information about the Dynamic Link to be shortened. [Learn more](https://firebase.google.com/docs/reference/dynamic-links/link-shortener).
        longDynamicLink:
          description: Full long Dynamic Link URL with desired query parameters specified. For example, "https://sample.app.goo.gl/?link=http://www.google.com&apn=com.sample", [Learn more](https://firebase.google.com/docs/reference/dynamic-links/link-shortener).
          type: string
        name:
          description: Link name to associate with the link. It's used for marketer to identify manually-created links in the Firebase console (https://console.firebase.google.com/). Links must be named to be tracked.
          type: string
        sdkVersion:
          description: Google SDK version. Version takes the form "$major.$minor.$patch"
          type: string
        suffix:
          $ref: "#/components/schemas/Suffix"
          description: Short Dynamic Link suffix. Optional.
      type: object
    CreateManagedShortLinkResponse:
      description: Response to create a short Dynamic Link.
      properties:
        managedShortLink:
          $ref: "#/components/schemas/ManagedShortLink"
          description: Short Dynamic Link value. e.g. https://abcd.app.goo.gl/wxyz
        previewLink:
          description: Preview link to show the link flow chart. (debug info.)
          type: string
        warning:
          description: Information about potential warnings on link creation.
          items:
            $ref: "#/components/schemas/DynamicLinkWarning"
          type: array
      type: object
    CreateShortDynamicLinkRequest:
      description: Request to create a short Dynamic Link.
      properties:
        dynamicLinkInfo:
          $ref: "#/components/schemas/DynamicLinkInfo"
          description: Information about the Dynamic Link to be shortened. [Learn more](https://firebase.google.com/docs/reference/dynamic-links/link-shortener).
        longDynamicLink:
          description: Full long Dynamic Link URL with desired query parameters specified. For example, "https://sample.app.goo.gl/?link=http://www.google.com&apn=com.sample", [Learn more](https://firebase.google.com/docs/reference/dynamic-links/link-shortener).
          type: string
        sdkVersion:
          description: Google SDK version. Version takes the form "$major.$minor.$patch"
          type: string
        suffix:
          $ref: "#/components/schemas/Suffix"
          description: Short Dynamic Link suffix. Optional.
      type: object
    CreateShortDynamicLinkResponse:
      description: Response to create a short Dynamic Link.
      properties:
        previewLink:
          description: Preview link to show the link flow chart. (debug info.)
          type: string
        shortLink:
          description: Short Dynamic Link value. e.g. https://abcd.app.goo.gl/wxyz
          type: string
        warning:
          description: Information about potential warnings on link creation.
          items:
            $ref: "#/components/schemas/DynamicLinkWarning"
          type: array
      type: object
    DesktopInfo:
      description: Desktop related attributes to the Dynamic Link.
      properties:
        desktopFallbackLink:
          description: Link to open on desktop.
          type: string
      type: object
    DeviceInfo:
      description: Signals associated with the device making the request.
      properties:
        deviceModelName:
          description: Device model name.
          type: string
        languageCode:
          description: Device language code setting.
          type: string
        languageCodeFromWebview:
          description: Device language code setting obtained by executing JavaScript code in WebView.
          type: string
        languageCodeRaw:
          description: Device language code raw setting. iOS does returns language code in different format than iOS WebView. For example WebView returns en_US, but iOS returns en-US. Field below will return raw value returned by iOS.
          type: string
        screenResolutionHeight:
          description: Device display resolution height.
          format: int64
          type: string
        screenResolutionWidth:
          description: Device display resolution width.
          format: int64
          type: string
        timezone:
          description: Device timezone setting.
          type: string
      type: object
    DynamicLinkEventStat:
      description: Dynamic Link event stat.
      properties:
        count:
          description: The number of times this event occurred.
          format: int64
          type: string
        event:
          description: Link event.
          enum:
            - DYNAMIC_LINK_EVENT_UNSPECIFIED
            - CLICK
            - REDIRECT
            - APP_INSTALL
            - APP_FIRST_OPEN
            - APP_RE_OPEN
          type: string
        platform:
          description: Requested platform.
          enum:
            - DYNAMIC_LINK_PLATFORM_UNSPECIFIED
            - ANDROID
            - IOS
            - DESKTOP
            - OTHER
          type: string
      type: object
    DynamicLinkInfo:
      description: Information about a Dynamic Link.
      properties:
        analyticsInfo:
          $ref: "#/components/schemas/AnalyticsInfo"
          description: Parameters used for tracking. See all tracking parameters in the [documentation](https://firebase.google.com/docs/dynamic-links/create-manually).
        androidInfo:
          $ref: "#/components/schemas/AndroidInfo"
          description: Android related information. See Android related parameters in the [documentation](https://firebase.google.com/docs/dynamic-links/create-manually).
        desktopInfo:
          $ref: "#/components/schemas/DesktopInfo"
          description: Desktop related information. See desktop related parameters in the [documentation](https://firebase.google.com/docs/dynamic-links/create-manually).
        domainUriPrefix:
          description: E.g. https://maps.app.goo.gl, https://maps.page.link, https://g.co/maps More examples can be found in description of getNormalizedUriPrefix in j/c/g/firebase/dynamiclinks/uri/DdlDomain.java Will fallback to dynamic_link_domain is this field is missing
          type: string
        dynamicLinkDomain:
          description: Dynamic Links domain that the project owns, e.g. abcd.app.goo.gl [Learn more](https://firebase.google.com/docs/dynamic-links/android/receive) on how to set up Dynamic Link domain associated with your Firebase project. Required if missing domain_uri_prefix.
          type: string
        iosInfo:
          $ref: "#/components/schemas/IosInfo"
          description: iOS related information. See iOS related parameters in the [documentation](https://firebase.google.com/docs/dynamic-links/create-manually).
        link:
          description: The link your app will open, You can specify any URL your app can handle. This link must be a well-formatted URL, be properly URL-encoded, and use the HTTP or HTTPS scheme. See 'link' parameters in the [documentation](https://firebase.google.com/docs/dynamic-links/create-manually). Required.
          type: string
        navigationInfo:
          $ref: "#/components/schemas/NavigationInfo"
          description: Information of navigation behavior of a Firebase Dynamic Links.
        socialMetaTagInfo:
          $ref: "#/components/schemas/SocialMetaTagInfo"
          description: Parameters for social meta tag params. Used to set meta tag data for link previews on social sites.
      type: object
    DynamicLinkStats:
      description: Analytics stats of a Dynamic Link for a given timeframe.
      properties:
        linkEventStats:
          description: Dynamic Link event stats.
          items:
            $ref: "#/components/schemas/DynamicLinkEventStat"
          type: array
      type: object
    DynamicLinkWarning:
      description: Dynamic Links warning messages.
      properties:
        warningCode:
          description: The warning code.
          enum:
            - CODE_UNSPECIFIED
            - NOT_IN_PROJECT_ANDROID_PACKAGE_NAME
            - NOT_INTEGER_ANDROID_PACKAGE_MIN_VERSION
            - UNNECESSARY_ANDROID_PACKAGE_MIN_VERSION
            - NOT_URI_ANDROID_LINK
            - UNNECESSARY_ANDROID_LINK
            - NOT_URI_ANDROID_FALLBACK_LINK
            - BAD_URI_SCHEME_ANDROID_FALLBACK_LINK
            - NOT_IN_PROJECT_IOS_BUNDLE_ID
            - NOT_IN_PROJECT_IPAD_BUNDLE_ID
            - UNNECESSARY_IOS_URL_SCHEME
            - NOT_NUMERIC_IOS_APP_STORE_ID
            - UNNECESSARY_IOS_APP_STORE_ID
            - NOT_URI_IOS_FALLBACK_LINK
            - BAD_URI_SCHEME_IOS_FALLBACK_LINK
            - NOT_URI_IPAD_FALLBACK_LINK
            - BAD_URI_SCHEME_IPAD_FALLBACK_LINK
            - BAD_DEBUG_PARAM
            - BAD_AD_PARAM
            - DEPRECATED_PARAM
            - UNRECOGNIZED_PARAM
            - TOO_LONG_PARAM
            - NOT_URI_SOCIAL_IMAGE_LINK
            - BAD_URI_SCHEME_SOCIAL_IMAGE_LINK
            - NOT_URI_SOCIAL_URL
            - BAD_URI_SCHEME_SOCIAL_URL
            - LINK_LENGTH_TOO_LONG
            - LINK_WITH_FRAGMENTS
            - NOT_MATCHING_IOS_BUNDLE_ID_AND_STORE_ID
          type: string
        warningDocumentLink:
          description: The document describing the warning, and helps resolve.
          type: string
        warningMessage:
          description: The warning message to help developers improve their requests.
          type: string
      type: object
    GetIosPostInstallAttributionRequest:
      description: Request for iSDK to execute strong match flow for post-install attribution. This is meant for iOS requests only. Requests from other platforms will not be honored.
      properties:
        appInstallationTime:
          description: App installation epoch time (https://en.wikipedia.org/wiki/Unix_time). This is a client signal for a more accurate weak match.
          format: int64
          type: string
        bundleId:
          description: APP bundle ID.
          type: string
        device:
          $ref: "#/components/schemas/DeviceInfo"
          description: Device information.
        iosVersion:
          description: 'iOS version, ie: 9.3.5. Consider adding "build".'
          type: string
        retrievalMethod:
          description: App post install attribution retrieval information. Disambiguates mechanism (iSDK or developer invoked) to retrieve payload from clicked link.
          enum:
            - UNKNOWN_PAYLOAD_RETRIEVAL_METHOD
            - IMPLICIT_WEAK_MATCH
            - EXPLICIT_WEAK_MATCH
            - EXPLICIT_STRONG_AFTER_WEAK_MATCH
          type: string
        sdkVersion:
          description: Google SDK version. Version takes the form "$major.$minor.$patch"
          type: string
        uniqueMatchLinkToCheck:
          description: Possible unique matched link that server need to check before performing fingerprint match. If passed link is short server need to expand the link. If link is long server need to vslidate the link.
          type: string
        visualStyle:
          description: Strong match page information. Disambiguates between default UI and custom page to present when strong match succeeds/fails to find cookie.
          enum:
            - UNKNOWN_VISUAL_STYLE
            - DEFAULT_STYLE
            - CUSTOM_STYLE
          type: string
      type: object
    GetIosPostInstallAttributionResponse:
      description: Response for iSDK to execute strong match flow for post-install attribution.
      properties:
        appMinimumVersion:
          description: The minimum version for app, specified by dev through ?imv= parameter. Return to iSDK to allow app to evaluate if current version meets this.
          type: string
        attributionConfidence:
          description: The confidence of the returned attribution.
          enum:
            - UNKNOWN_ATTRIBUTION_CONFIDENCE
            - WEAK
            - DEFAULT
            - UNIQUE
          type: string
        deepLink:
          description: The deep-link attributed post-install via one of several techniques (fingerprint, copy unique).
          type: string
        externalBrowserDestinationLink:
          description: "User-agent specific custom-scheme URIs for iSDK to open. This will be set according to the user-agent tha the click was originally made in. There is no Safari-equivalent custom-scheme open URLs. ie: googlechrome://www.example.com ie: firefox://open-url?url=http://www.example.com ie: opera-http://example.com"
          type: string
        fallbackLink:
          description: "The link to navigate to update the app if min version is not met. This is either (in order): 1) fallback link (from ?ifl= parameter, if specified by developer) or 2) AppStore URL (from ?isi= parameter, if specified), or 3) the payload link (from required link= parameter)."
          type: string
        invitationId:
          description: Invitation ID attributed post-install via one of several techniques (fingerprint, copy unique).
          type: string
        isStrongMatchExecutable:
          description: Instruction for iSDK to attemmpt to perform strong match. For instance, if browser does not support/allow cookie or outside of support browsers, this will be false.
          type: boolean
        matchMessage:
          description: 'Describes why match failed, ie: "discarded due to low confidence". This message will be publicly visible.'
          type: string
        requestIpVersion:
          description: Which IP version the request was made from.
          enum:
            - UNKNOWN_IP_VERSION
            - IP_V4
            - IP_V6
          type: string
        requestedLink:
          description: Entire FDL (short or long) attributed post-install via one of several techniques (fingerprint, copy unique).
          type: string
        resolvedLink:
          description: "The entire FDL, expanded from a short link. It is the same as the requested_link, if it is long. Parameters from this should not be used directly (ie: server can default utm_[campaign|medium|source] to a value when requested_link lack them, server determine the best fallback_link when requested_link specifies >1 fallback links)."
          type: string
        utmCampaign:
          description: Scion campaign value to be propagated by iSDK to Scion at post-install.
          type: string
        utmContent:
          description: Scion content value to be propagated by iSDK to Scion at app-reopen.
          type: string
        utmMedium:
          description: Scion medium value to be propagated by iSDK to Scion at post-install.
          type: string
        utmSource:
          description: Scion source value to be propagated by iSDK to Scion at post-install.
          type: string
        utmTerm:
          description: Scion term value to be propagated by iSDK to Scion at app-reopen.
          type: string
      type: object
    GetIosReopenAttributionRequest:
      description: Request for iSDK to get reopen attribution for app universal link open deeplinking. This endpoint is meant for only iOS requests.
      properties:
        bundleId:
          description: APP bundle ID.
          type: string
        requestedLink:
          description: "FDL link to be verified from an app universal link open. The FDL link can be one of: 1) short FDL. e.g. .page.link/, or 2) long FDL. e.g. .page.link/?{query params}, or 3) Invite FDL. e.g. .page.link/i/"
          type: string
        sdkVersion:
          description: Google SDK version. Version takes the form "$major.$minor.$patch"
          type: string
      type: object
    GetIosReopenAttributionResponse:
      description: Response for iSDK to get reopen attribution for app universal link open deeplinking. This endpoint is meant for only iOS requests.
      properties:
        deepLink:
          description: The deep-link attributed the app universal link open. For both regular FDL links and invite FDL links.
          type: string
        invitationId:
          description: Optional invitation ID, for only invite typed requested FDL links.
          type: string
        iosMinAppVersion:
          description: FDL input value of the "&imv=" parameter, minimum app version to be returned to Google Firebase SDK running on iOS-9.
          type: string
        resolvedLink:
          description: The entire FDL, expanded from a short link. It is the same as the requested_link, if it is long.
          type: string
        utmCampaign:
          description: Scion campaign value to be propagated by iSDK to Scion at app-reopen.
          type: string
        utmContent:
          description: Scion content value to be propagated by iSDK to Scion at app-reopen.
          type: string
        utmMedium:
          description: Scion medium value to be propagated by iSDK to Scion at app-reopen.
          type: string
        utmSource:
          description: Scion source value to be propagated by iSDK to Scion at app-reopen.
          type: string
        utmTerm:
          description: Scion term value to be propagated by iSDK to Scion at app-reopen.
          type: string
      type: object
    GooglePlayAnalytics:
      description: Parameters for Google Play Campaign Measurements. [Learn more](https://developers.google.com/analytics/devguides/collection/android/v4/campaigns#campaign-params)
      properties:
        gclid:
          description: Deprecated; FDL SDK does not process nor log it.
          type: string
        utmCampaign:
          description: Campaign name; used for keyword analysis to identify a specific product promotion or strategic campaign.
          type: string
        utmContent:
          description: Campaign content; used for A/B testing and content-targeted ads to differentiate ads or links that point to the same URL.
          type: string
        utmMedium:
          description: Campaign medium; used to identify a medium such as email or cost-per-click.
          type: string
        utmSource:
          description: Campaign source; used to identify a search engine, newsletter, or other source.
          type: string
        utmTerm:
          description: Campaign term; used with paid search to supply the keywords for ads.
          type: string
      type: object
    ITunesConnectAnalytics:
      description: Parameters for iTunes Connect App Analytics.
      properties:
        at:
          description: Affiliate token used to create affiliate-coded links.
          type: string
        ct:
          description: Campaign text that developers can optionally add to any link in order to track sales from a specific marketing campaign.
          type: string
        mt:
          description: iTune media types, including music, podcasts, audiobooks and so on.
          type: string
        pt:
          description: Provider token that enables analytics for Dynamic Links from within iTunes Connect.
          type: string
      type: object
    IosInfo:
      description: iOS related attributes to the Dynamic Link..
      properties:
        iosAppStoreId:
          description: iOS App Store ID.
          type: string
        iosBundleId:
          description: iOS bundle ID of the app.
          type: string
        iosCustomScheme:
          description: Custom (destination) scheme to use for iOS. By default, we’ll use the bundle ID as the custom scheme. Developer can override this behavior using this param.
          type: string
        iosFallbackLink:
          description: Link to open on iOS if the app is not installed.
          type: string
        iosIpadBundleId:
          description: iPad bundle ID of the app.
          type: string
        iosIpadFallbackLink:
          description: If specified, this overrides the ios_fallback_link value on iPads.
          type: string
        iosMinimumVersion:
          description: iOS minimum version.
          type: string
      type: object
    ManagedShortLink:
      description: Managed Short Link.
      properties:
        creationTime:
          description: Creation timestamp of the short link.
          format: google-datetime
          type: string
        flaggedAttribute:
          description: Attributes that have been flagged about this short url.
          items:
            enum:
              - UNSPECIFIED_ATTRIBUTE
              - SPAM
            type: string
          type: array
        info:
          $ref: "#/components/schemas/DynamicLinkInfo"
          description: Full Dyamic Link info
        link:
          description: Short durable link url, for example, "https://sample.app.goo.gl/xyz123". Required.
          type: string
        linkName:
          description: Link name defined by the creator. Required.
          type: string
        visibility:
          description: Visibility status of link.
          enum:
            - UNSPECIFIED_VISIBILITY
            - UNARCHIVED
            - ARCHIVED
            - NEVER_SHOWN
          type: string
      type: object
    NavigationInfo:
      description: Information of navigation behavior.
      properties:
        enableForcedRedirect:
          description: If this option is on, FDL click will be forced to redirect rather than show an interstitial page.
          type: boolean
      type: object
    SocialMetaTagInfo:
      description: Parameters for social meta tag params. Used to set meta tag data for link previews on social sites.
      properties:
        socialDescription:
          description: A short description of the link. Optional.
          type: string
        socialImageLink:
          description: An image url string. Optional.
          type: string
        socialTitle:
          description: Title to be displayed. Optional.
          type: string
      type: object
    Suffix:
      description: Short Dynamic Link suffix.
      properties:
        customSuffix:
          description: Only applies to Option.CUSTOM.
          type: string
        option:
          description: Suffix option.
          enum:
            - OPTION_UNSPECIFIED
            - UNGUESSABLE
            - SHORT
            - CUSTOM
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/firebase: View and administer all your Firebase data and settings
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/firebase: View and administer all your Firebase data and settings
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
