swagger: '2.0'
schemes:
  - https
host: api.clever-cloud.com
basePath: /v2
info:
  contact:
    x-twitter: clever_cloud
  description: Public API for managing Clever-Cloud data and products
  title: Clever-Cloud
  version: 1.0.0
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://twitter.com/clever_cloud/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://www.clever-cloud.com/doc/api/swagger.json'
      version: '2.0'
  x-providerName: clever-cloud.com
tags:
  - description: Default section
    name: Default
paths:
  '/application/{appId}/environment':
    get:
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: query
          name: token
          required: false
          type: string
      responses:
        default:
          description: getEnv
      tags:
        - all
    put:
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: query
          name: token
          required: false
          type: string
      responses:
        default:
          description: updateEnv
      tags:
        - all
  /authorize:
    post:
      description: Handled by our API.
      operationId: postAuthorize
      parameters: []
      responses:
        '200':
          description: authorize
      tags:
        - all
  /events/event-socket:
    get:
      description: 'Retrieve events as they come through a websocket connection. To have authorization, you have to send a `{ "message_type": "oauth", "authorization": "oauth authorization string" }` message'
      responses:
        default:
          description: <No description>
      tags:
        - all
        - events
  /github:
    get:
      operationId: getGithub
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: startGithub
          schema:
            $ref: '#/definitions/Transaction_Id'
      tags:
        - all
        - github
  /github/applications:
    get:
      operationId: getGithubApplications
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: getGithubApplications
          schema:
            items:
              $ref: '#/definitions/Application'
            type: array
      tags:
        - all
        - applications
        - github
  /github/callback:
    get:
      operationId: getGithubCallback
      parameters:
        - in: query
          name: code
          required: false
          type: string
        - in: query
          name: state
          required: false
          type: string
        - in: query
          name: error
          required: false
          type: string
        - in: query
          name: error_description
          required: false
          type: string
        - in: query
          name: error_uri
          required: false
          type: string
        - in: header
          name: Cookie
          required: false
          type: string
      responses:
        '200':
          description: githubCallback
      tags:
        - all
        - github
  /github/emails:
    get:
      operationId: getGithubEmails
      parameters: []
      responses:
        '200':
          description: getGithubEmails
          schema:
            items:
              type: string
            type: array
      tags:
        - all
        - github
  /github/keys:
    get:
      operationId: getGithubKeys
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: getGithubKeys
          schema:
            items:
              $ref: '#/definitions/Key'
            type: array
      tags:
        - all
        - github
  /github/link:
    delete:
      operationId: deleteGithubLink
      parameters: []
      responses:
        '200':
          description: unlinkGithub
      tags:
        - all
        - github
    get:
      operationId: getGithubLink
      parameters:
        - description: From GET /github
          in: query
          name: transactionId
          required: false
          type: string
        - in: query
          name: redirectUrl
          required: false
          type: string
      responses:
        '200':
          description: linkGithub
      tags:
        - all
        - github
  /github/login:
    get:
      operationId: getGithubLogin
      parameters:
        - in: query
          name: redirectUrl
          required: false
          type: string
        - in: query
          name: fromAuthorize
          required: false
          type: string
      responses:
        '200':
          description: githubLogin
      tags:
        - all
        - github
  /github/redeploy:
    post:
      operationId: postGithubRedeploy
      parameters:
        - in: header
          name: User-Agent
          required: false
          type: string
        - in: header
          name: X-Github-Event
          required: false
          type: string
        - in: header
          name: X-Hub-Signature
          required: false
          type: string
      responses:
        '200':
          description: redeployApp
      tags:
        - all
        - github
  /github/signup:
    get:
      operationId: getGithubSignup
      parameters:
        - in: query
          name: redirectUrl
          required: false
          type: string
        - in: query
          name: fromAuthorize
          required: false
          type: string
      responses:
        '200':
          description: githubSignup
      tags:
        - all
        - github
    post:
      operationId: postGithubSignup
      parameters:
        - in: query
          name: transactionId
          required: false
          type: string
        - in: query
          name: name
          required: false
          type: string
        - in: query
          name: otherId
          required: false
          type: string
        - in: query
          name: otherEmail
          required: false
          type: string
        - in: query
          name: password
          required: false
          type: string
        - in: query
          name: autoLink
          required: false
          type: string
        - in: query
          name: terms
          required: false
          type: string
      responses:
        '200':
          description: finsihGithubSignup
      tags:
        - all
        - github
  /github/username:
    get:
      operationId: getGithubUsername
      parameters: []
      responses:
        '200':
          description: getGithubUsername
          schema:
            type: string
      tags:
        - all
        - github
  '/logs/logs-chunked/{appId}':
    get:
      description: 'Retrieve logs as they come through a chunked, never-ending response'
      parameters:
        - description: Application Id
          in: path
          name: appId
          required: true
          type: string
        - description: Tell the user-agent to download the body as a file
          in: query
          name: download
          required: false
          type: boolean
      responses:
        default:
          description: <No description>
      tags:
        - all
        - logs
  '/logs/logs-socket/{appId}':
    get:
      description: 'Retrieve logs as they come through a websocket connection. To have authorization, you have to send a `{ "message_type": "oauth", "authorization": "oauth authorization string" }` message'
      parameters:
        - description: Application Id
          in: path
          name: appId
          required: true
          type: string
        - description: Only fetch logs newer than this (ISO-8601 formatted) date
          format: date-time
          in: query
          name: since
          required: false
          type: string
        - description: A pattern to filter with
          in: query
          name: filter
          required: false
          type: string
        - description: Only fetch logs emitted by this deployment
          in: query
          name: deployment_id
          required: false
          type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
        - logs
  '/logs/{appId}':
    get:
      description: Fetch the logs for a given application
      parameters:
        - description: Application Id
          in: path
          name: appId
          required: true
          type: string
        - description: Number of lines to return
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - default: desc
          description: Logs order
          enum:
            - asc
            - desc
          in: query
          name: order
          required: false
          type: string
        - description: 'Lowest bound for logs date, ISO 8601'
          format: date-time
          in: query
          name: after
          required: false
          type: string
        - description: 'Highest bounds for logs date, ISO 8601'
          format: date-time
          in: query
          name: before
          required: false
          type: string
        - description: A pattern to filter with
          in: query
          name: filter
          required: false
          type: string
        - description: Only fetch logs emitted by this deployment
          in: query
          name: deployment_id
          required: false
          type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
        - logs
  /newsfeeds/blog:
    get:
      operationId: getNewsfeedsBlog
      parameters: []
      responses:
        '200':
          description: getBlogFeed
      tags:
        - all
  /newsfeeds/engineering:
    get:
      operationId: getNewsfeedEngineering
      parameters: []
      responses:
        '200':
          description: getEngineeringFeed
      tags:
        - all
  '/notifications/emailhooks/{ownerId}':
    get:
      description: list created e-mail hooks
      parameters:
        - in: path
          name: ownerId
          required: true
          type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
    post:
      description: create a hook for e-mail notifications
      parameters:
        - in: path
          name: ownerId
          required: true
          type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
  '/notifications/emailhooks/{ownerId}/:id':
    delete:
      description: delete an e-mail hook
      parameters:
        - in: path
          name: ownerId
          required: true
          type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
    put:
      description: edit an e-mail hook
      parameters:
        - in: path
          name: ownerId
          required: true
          type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
  /notifications/info/events:
    get:
      description: list available events
      responses:
        default:
          description: <No description>
      tags:
        - all
        - events
  /notifications/info/webhookformats:
    get:
      description: list available webhook formats
      responses:
        default:
          description: <No description>
      tags:
        - all
  '/notifications/webhooks/{ownerId}':
    get:
      description: list created hooks
      parameters:
        - in: path
          name: ownerId
          required: true
          type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
    post:
      description: create a hook for notifications
      parameters:
        - in: path
          name: ownerId
          required: true
          type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
  '/notifications/webhooks/{ownerId}/:id':
    delete:
      description: delete a hook
      parameters:
        - in: path
          name: ownerId
          required: true
          type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
    put:
      description: edit a hook
      parameters:
        - in: path
          name: ownerId
          required: true
          type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
  /oauth/access_token:
    post:
      operationId: postOauthAccessToken
      parameters:
        - in: query
          name: oauth_consumer_key
          required: false
          type: string
        - in: query
          name: oauth_token
          required: false
          type: string
        - in: query
          name: oauth_signature_method
          required: false
          type: string
        - in: query
          name: oauth_signature
          required: false
          type: string
        - in: query
          name: oauth_timestamp
          required: false
          type: string
        - in: query
          name: oauth_nonce
          required: false
          type: string
        - in: query
          name: oauth_version
          required: false
          type: string
        - in: query
          name: oauth_verifier
          required: false
          type: string
        - in: query
          name: oauth_callback
          required: false
          type: string
        - in: query
          name: oauth_token_secret
          required: false
          type: string
        - in: query
          name: oauth_callback_confirmed
          required: false
          type: string
      responses:
        '200':
          description: postAccessTokenRequest
      tags:
        - all
        - oauth
  /oauth/access_token_query:
    post:
      parameters:
        - in: query
          name: oauth_consumer_key
          required: false
          type: string
        - in: query
          name: oauth_token
          required: false
          type: string
        - in: query
          name: oauth_signature_method
          required: false
          type: string
        - in: query
          name: oauth_signature
          required: false
          type: string
        - in: query
          name: oauth_timestamp
          required: false
          type: string
        - in: query
          name: oauth_nonce
          required: false
          type: string
        - in: query
          name: oauth_version
          required: false
          type: string
        - in: query
          name: oauth_verifier
          required: false
          type: string
        - in: query
          name: oauth_callback
          required: false
          type: string
        - in: query
          name: oauth_token_secret
          required: false
          type: string
        - in: query
          name: oauth_callback_confirmed
          required: false
          type: string
      responses:
        default:
          description: postAccessTokenRequestQuery
      tags:
        - all
        - oauth
  /oauth/authorize:
    get:
      operationId: getOauthAuthorize
      parameters:
        - in: query
          name: oauth_token
          required: false
          type: string
        - in: header
          name: Cookie
          required: false
          type: string
      responses:
        '200':
          description: authorizeForm
      tags:
        - all
        - oauth
    post:
      operationId: postOauthAuthorize
      parameters:
        - in: query
          name: almighty
          required: false
          type: string
        - in: query
          name: access_organisations
          required: false
          type: string
        - in: query
          name: manage_organisations
          required: false
          type: string
        - in: query
          name: manage_organisations_services
          required: false
          type: string
        - in: query
          name: manage_organisations_applications
          required: false
          type: string
        - in: query
          name: manage_organisations_members
          required: false
          type: string
        - in: query
          name: access_organisations_bills
          required: false
          type: string
        - in: query
          name: access_organisations_credit_count
          required: false
          type: string
        - in: query
          name: access_organisations_consumption_statistics
          required: false
          type: string
        - in: query
          name: access_personal_information
          required: false
          type: string
        - in: query
          name: manage_personal_information
          required: false
          type: string
        - in: query
          name: manage_ssh_keys
          required: false
          type: string
        - in: query
          name: manage_services
          required: false
          type: string
        - in: query
          name: manage_applications
          required: false
          type: string
        - in: query
          name: access_bills
          required: false
          type: string
        - in: query
          name: access_credit_count
          required: false
          type: string
        - in: query
          name: access_consumption_statistics
          required: false
          type: string
        - in: header
          name: Cookie
          required: false
          type: string
      responses:
        '200':
          description: authorizeToken
      tags:
        - all
        - oauth
  /oauth/request_token:
    post:
      operationId: postOauthRequestToken
      parameters:
        - in: query
          name: oauth_consumer_key
          required: false
          type: string
        - in: query
          name: oauth_token
          required: false
          type: string
        - in: query
          name: oauth_signature_method
          required: false
          type: string
        - in: query
          name: oauth_signature
          required: false
          type: string
        - in: query
          name: oauth_timestamp
          required: false
          type: string
        - in: query
          name: oauth_nonce
          required: false
          type: string
        - in: query
          name: oauth_version
          required: false
          type: string
        - in: query
          name: oauth_verifier
          required: false
          type: string
        - in: query
          name: oauth_callback
          required: false
          type: string
        - in: query
          name: oauth_token_secret
          required: false
          type: string
        - in: query
          name: oauth_callback_confirmed
          required: false
          type: string
      responses:
        '200':
          description: postReqTokenRequest
      tags:
        - all
        - oauth
  /oauth/request_token_query:
    post:
      parameters:
        - in: query
          name: oauth_consumer_key
          required: false
          type: string
        - in: query
          name: oauth_token
          required: false
          type: string
        - in: query
          name: oauth_signature_method
          required: false
          type: string
        - in: query
          name: oauth_signature
          required: false
          type: string
        - in: query
          name: oauth_timestamp
          required: false
          type: string
        - in: query
          name: oauth_nonce
          required: false
          type: string
        - in: query
          name: oauth_version
          required: false
          type: string
        - in: query
          name: oauth_verifier
          required: false
          type: string
        - in: query
          name: oauth_callback
          required: false
          type: string
        - in: query
          name: oauth_token_secret
          required: false
          type: string
        - in: query
          name: oauth_callback_confirmed
          required: false
          type: string
      responses:
        default:
          description: postReqTokenRequestQueryString
      tags:
        - all
        - oauth
  /oauth/rights:
    get:
      operationId: getOauthRights
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: getAvailableRights
          schema:
            $ref: '#/definitions/Rights'
      tags:
        - all
        - oauth
  /organisations:
    get:
      operationId: getOrganisations
      parameters:
        - in: query
          name: user
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getUserOrganisations
          schema:
            items:
              $ref: '#/definitions/Organisation'
            type: array
      tags:
        - all
        - organisations
    post:
      consumes:
        - application/json
      operationId: postOrganisations
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeOrganisation'
      responses:
        '200':
          description: createOrganisation
      tags:
        - all
        - organisations
  '/organisations/{id}':
    delete:
      operationId: deleteOrganisationsId
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: deleteOrganisation
      tags:
        - all
        - organisations
    get:
      operationId: getOrganisationsId
      parameters:
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getOrganisation
          schema:
            $ref: '#/definitions/Organisation'
      tags:
        - all
        - organisations
    put:
      consumes:
        - application/json
      operationId: putOrganisationsId
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeOrganisation'
      responses:
        '200':
          description: editOrganisation
      tags:
        - all
        - organisations
  '/organisations/{id}/addonproviders':
    get:
      operationId: getOrganisationsIdAddonproviders
      parameters:
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: Get all informations about all providers.
          schema:
            items:
              $ref: '#/definitions/Provider'
            type: array
      tags:
        - all
        - organisations
    post:
      consumes:
        - application/json
      operationId: postOrganisationsIdAddonproviders
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeAddonProvider'
      responses:
        '200':
          description: createProvider
      tags:
        - all
        - organisations
  '/organisations/{id}/addonproviders/{providerId}':
    get:
      operationId: getOrganisationsIdAddonprovidersProviderId
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: providerId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: Get all informations about given provider.
          schema:
            $ref: '#/definitions/Provider'
      tags:
        - all
        - organisations
    put:
      consumes:
        - application/json
      operationId: putOrganisationsIdAddonprovidersProviderId
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: providerId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeAddonProvider'
      responses:
        '200':
          description: updateProviderInfos
      tags:
        - all
        - organisations
  '/organisations/{id}/addonproviders/{providerId}/features':
    get:
      operationId: getOrganisationsIdAddonprovidersProviderIdFeatures
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: providerId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getProviderFeatures
          schema:
            items:
              $ref: '#/definitions/Feature'
            type: array
      tags:
        - all
        - organisations
    post:
      consumes:
        - application/json
      operationId: postOrganisationsIdAddonprovidersProviderIdFeatures
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: providerId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeFeature'
      responses:
        '200':
          description: addProviderFeature
      tags:
        - all
        - organisations
  '/organisations/{id}/addonproviders/{providerId}/features/{featureId}':
    delete:
      operationId: deleteOrganisationsIdAddonprovidersProviderIdFeaturesFeatureId
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: featureId
          required: true
          type: string
        - in: path
          name: providerId
          required: true
          type: string
      responses:
        '200':
          description: deleteProviderFeature
      tags:
        - all
        - organisations
  '/organisations/{id}/addonproviders/{providerId}/plans':
    get:
      operationId: getOrganisationsIdAddonprovidersProviderIdPlans
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: providerId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getProviderPlans
          schema:
            items:
              $ref: '#/definitions/Plan'
            type: array
      tags:
        - all
        - organisations
    post:
      consumes:
        - application/json
      operationId: postOrganisationsIdAddonprovidersProviderIdPlans
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: providerId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabePlan'
      responses:
        '200':
          description: addProviderPlan
      tags:
        - all
        - organisations
  '/organisations/{id}/addonproviders/{providerId}/plans/{planId}':
    delete:
      operationId: deleteOrganisationsIdAddonprovidersProviderIdPlansPlanId
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: providerId
          required: true
          type: string
        - in: path
          name: planId
          required: true
          type: string
      responses:
        '200':
          description: deleteProviderPlan
      tags:
        - all
        - organisations
    get:
      operationId: getOrganisationsIdAddonprovidersProviderIdPlansPlanId
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: providerId
          required: true
          type: string
        - in: path
          name: planId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getProviderPlan
          schema:
            $ref: '#/definitions/Plan'
      tags:
        - all
        - organisations
    put:
      consumes:
        - application/json
      operationId: putOrganisationsIdAddonprovidersProviderIdPlansPlanId
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: providerId
          required: true
          type: string
        - in: path
          name: planId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabePlan'
      responses:
        '200':
          description: editProviderPlan
      tags:
        - all
        - organisations
  '/organisations/{id}/addonproviders/{providerId}/plans/{planId}/features/{featureName}':
    delete:
      operationId: deleteOrganisationsIdAddonprovidersProviderIdPlansPlanIdFeaturesFeatureName
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: featureName
          required: true
          type: string
        - in: path
          name: providerId
          required: true
          type: string
        - in: path
          name: planId
          required: true
          type: string
      responses:
        '200':
          description: deleteProviderPlanFeature
      tags:
        - all
        - organisations
    put:
      consumes:
        - application/json
      operationId: putOrganisationsIdAddonprovidersProviderIdPlansPlanIdFeaturesFeatureName
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: featureName
          required: true
          type: string
        - in: path
          name: providerId
          required: true
          type: string
        - in: path
          name: planId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabePlanFeature'
      responses:
        '200':
          description: editProviderPlanFeature
      tags:
        - all
        - organisations
  '/organisations/{id}/addonproviders/{providerId}/sso':
    get:
      parameters:
        - in: path
          name: providerId
          required: true
          type: string
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getSSOData
          schema:
            $ref: '#/definitions/AddonProviderSso'
      tags:
        - all
        - organisations
  '/organisations/{id}/addonproviders/{providerId}/tags':
    get:
      operationId: getOrganisationsIdAddonprovidersProviderIdTags
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: providerId
          required: true
          type: string
      responses:
        '200':
          description: getProviderTags
          schema:
            items:
              type: string
            type: array
      tags:
        - all
        - organisations
  '/organisations/{id}/addonproviders/{providerId}/testers':
    post:
      operationId: postOrganisationsIdAddonprovidersProviderIdTesters
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: providerId
          required: true
          type: string
      responses:
        '200':
          description: addBetaTester
      tags:
        - all
        - organisations
  '/organisations/{id}/addons':
    get:
      operationId: getOrganisationsIdAddons
      parameters:
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getAddons
          schema:
            items:
              $ref: '#/definitions/Addon'
            type: array
      tags:
        - all
        - addons
        - organisations
    post:
      consumes:
        - application/json
      operationId: postOrganisationsIdAddons
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeAddon'
      responses:
        '200':
          description: provisionAddon
      tags:
        - all
        - addons
        - organisations
  '/organisations/{id}/addons/preorders':
    post:
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/WannabeAddon'
      responses:
        default:
          description: preorderAddon
      tags:
        - all
        - addons
        - organisations
  '/organisations/{id}/addons/{addonId}':
    delete:
      operationId: deleteOrganisationsIdAddonsAddonId
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: addonId
          required: true
          type: string
      responses:
        '200':
          description: deprovisionAddon
      tags:
        - all
        - addons
        - organisations
    get:
      operationId: getOrganisationsIdAddonsAddonId
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: addonId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getAddon
          schema:
            $ref: '#/definitions/Addon'
      tags:
        - all
        - addons
        - organisations
    put:
      consumes:
        - application/json
      operationId: putOrganisationsIdAddonsAddonId
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: addonId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeAddon'
      responses:
        '200':
          description: Update addon information
      tags:
        - all
        - addons
        - organisations
  '/organisations/{id}/addons/{addonId}/applications':
    get:
      operationId: getOrganisationsIdAddonsAddonIdApplications
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: addonId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getApplicationsLinkedToAddon
          schema:
            items:
              $ref: '#/definitions/Application'
            type: array
      tags:
        - all
        - addons
        - applications
        - organisations
  '/organisations/{id}/addons/{addonId}/env':
    get:
      operationId: getOrganisationsIdAddonsAddonIdEnv
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: addonId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getAddonEnv
          schema:
            items:
              $ref: '#/definitions/ListEnv'
            type: array
      tags:
        - all
        - addons
        - organisations
  '/organisations/{id}/addons/{addonId}/plan':
    put:
      consumes:
        - application/json
      operationId: putOrganisationsIdAddonsAddonIdPlan
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: addonId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabePlan'
      responses:
        '200':
          description: Update plan of an add-on.
      tags:
        - all
        - addons
        - organisations
  '/organisations/{id}/addons/{addonId}/sso':
    get:
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: addonId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getSSOData
          schema:
            $ref: '#/definitions/Sso'
      tags:
        - all
        - addons
        - organisations
  '/organisations/{id}/addons/{addonId}/tags':
    get:
      operationId: getOrganisationsIdAddonsAddonIdTags
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: addonId
          required: true
          type: string
      responses:
        '200':
          description: getAddonTags
          schema:
            items:
              type: string
            type: array
      tags:
        - all
        - addons
        - organisations
  '/organisations/{id}/addons/{addonId}/tags/{tag}':
    delete:
      operationId: deleteOrganisationsIdAddonsAddonIdTagsTag
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: tag
          required: true
          type: string
        - in: path
          name: addonId
          required: true
          type: string
      responses:
        '200':
          description: deleteAddonTag
      tags:
        - all
        - addons
        - organisations
    put:
      operationId: putOrganisationsIdAddonsAddonIdTagsTag
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: tag
          required: true
          type: string
        - in: path
          name: addonId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/Body'
      responses:
        '200':
          description: addAddonTag
      tags:
        - all
        - addons
        - organisations
  '/organisations/{id}/applications':
    get:
      operationId: getOrganisationsIdApplications
      parameters:
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getAllApplications
          schema:
            items:
              $ref: '#/definitions/Application'
            type: array
      tags:
        - all
        - applications
        - organisations
    post:
      consumes:
        - application/json
      description: 'Creates an application. If you want to create a Github app, you need to replace the oauthApp field with what you will find here: https://github.com/CleverCloud/doc.clever-cloud.com/issues/179'
      operationId: postOrganisationsIdApplications
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeApplication'
      responses:
        '200':
          description: addApplication
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}':
    delete:
      operationId: deleteOrganisationsIdApplicationsAppId
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
      responses:
        '200':
          description: deleteApplication
      tags:
        - all
        - applications
        - organisations
    get:
      operationId: getOrganisationsIdApplicationsAppId
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getApplication
          schema:
            $ref: '#/definitions/Application'
      tags:
        - all
        - applications
        - organisations
    put:
      consumes:
        - application/json
      operationId: putOrganisationsIdApplicationsAppId
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeApplication'
      responses:
        '200':
          description: editApplication
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/addons':
    get:
      operationId: getOrganisationsIdApplicationsAppIdAddons
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getAddonsLinkedToApplication
          schema:
            items:
              $ref: '#/definitions/Addon'
            type: array
      tags:
        - all
        - addons
        - applications
        - organisations
    post:
      operationId: postOrganisationsIdApplicationsAppIdAddons
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/Body'
      responses:
        '200':
          description: linkAddonToApplication
      tags:
        - all
        - addons
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/addons/env':
    get:
      operationId: getOrganisationsIdApplicationsAppIdAddonsEnv
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getEnvOfAddonsLinkedToApplication
          schema:
            items:
              $ref: '#/definitions/Env'
            type: array
      tags:
        - all
        - addons
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/addons/{addonId}':
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdAddonsAddonId
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: addonId
          required: true
          type: string
      responses:
        '200':
          description: unlinkAddonFromApplication
      tags:
        - all
        - addons
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/branch':
    put:
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: id
          required: true
          type: string
      responses:
        default:
          description: setApplicationBranch
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/branches':
    get:
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: id
          required: true
          type: string
      responses:
        default:
          description: getApplicationBranches
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/dependencies':
    get:
      operationId: getOrganisationsIdApplicationsAppIdDependencies
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getApplicationDependencies
          schema:
            items:
              $ref: '#/definitions/Application'
            type: array
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/dependencies/{dependencyId}':
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdDependenciesDependencyId
      parameters:
        - in: path
          name: dependencyId
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: deleteApplicationDependency
      tags:
        - all
        - applications
        - organisations
    put:
      operationId: putOrganisationsIdApplicationsAppIdDependenciesDependencyId
      parameters:
        - in: path
          name: dependencyId
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/Body'
      responses:
        '200':
          description: addApplicationDependency
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/dependents':
    get:
      operationId: getOrganisationsIdApplicationsAppIdDependents
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getApplicationDependents
          schema:
            items:
              $ref: '#/definitions/Application'
            type: array
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/deployments':
    get:
      operationId: getOrganisationsIdApplicationsAppIdDeployments
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: query
          name: limit
          required: false
          type: string
        - in: query
          name: offset
          required: false
          type: string
        - in: query
          name: action
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getApplicationDeploymentsForOrga
          schema:
            items:
              $ref: '#/definitions/Deployment'
            type: array
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/deployments/{deploymentId}/instances':
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdDeploymentsDeploymentIdInstances
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: deploymentId
          required: true
          type: string
      responses:
        '200':
          description: getApplicationDeploymentsForOrga
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/env':
    get:
      operationId: getOrganisationsIdApplicationsAppIdEnv
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getApplicationEnv
          schema:
            items:
              $ref: '#/definitions/ListEnv'
            type: array
      tags:
        - all
        - applications
        - organisations
    put:
      consumes:
        - application/json
      operationId: putOrganisationsIdApplicationsAppIdEnv
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeEnv'
      responses:
        '200':
          description: editApplicationEnvironment
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/env/{envName}':
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdEnvEnvName
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: envName
          required: true
          type: string
      responses:
        '200':
          description: removeApplicationEnv
      tags:
        - all
        - applications
        - organisations
    put:
      consumes:
        - application/json
      operationId: putOrganisationsIdApplicationsAppIdEnvEnvName
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: envName
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeEnv'
      responses:
        '200':
          description: editApplicationEnv
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/exposed_env':
    get:
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: id
          required: true
          type: string
      responses:
        default:
          description: getExposedEnv
      tags:
        - all
        - applications
        - organisations
    put:
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: id
          required: true
          type: string
      responses:
        default:
          description: updateExposedEnv
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/instances':
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdInstances
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
      responses:
        '200':
          description: undeployApplication
      tags:
        - all
        - applications
        - organisations
    get:
      operationId: getOrganisationsIdApplicationsAppIdInstances
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getApplicationInstances
          schema:
            items:
              $ref: '#/definitions/AppInstance'
            type: array
      tags:
        - all
        - applications
        - organisations
    post:
      operationId: postOrganisationsIdApplicationsAppIdInstances
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: query
          name: commit
          required: false
          type: string
      responses:
        '200':
          description: redeployApplication
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/instances/{instanceId}':
    get:
      parameters:
        - in: path
          name: instanceId
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: id
          required: true
          type: string
      responses:
        default:
          description: getApplicationInstance
          schema:
            $ref: '#/definitions/AppInstance'
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/tags':
    get:
      operationId: getOrganisationsIdApplicationsAppIdTags
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
      responses:
        '200':
          description: getApplicationTags
          schema:
            items:
              type: string
            type: array
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/tags/{tag}':
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdTagsTag
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: tag
          required: true
          type: string
      responses:
        '200':
          description: deleteApplicationTag
      tags:
        - all
        - applications
        - organisations
    put:
      operationId: putOrganisationsIdApplicationsAppIdTagsTag
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: tag
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/Body'
      responses:
        '200':
          description: addApplicationTag
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/vhosts':
    get:
      operationId: getOrganisationsIdApplicationsAppIdVhosts
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getVhosts
          schema:
            items:
              $ref: '#/definitions/Vhost'
            type: array
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/vhosts/favourite':
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdVhostsFavourite
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
      responses:
        '200':
          description: unmarkFavouriteVhost
      tags:
        - all
        - applications
        - organisations
    get:
      operationId: getOrganisationsIdApplicationsAppIdVhostsFavourite
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getFavouriteVhost
          schema:
            $ref: '#/definitions/Vhost'
      tags:
        - all
        - applications
        - organisations
    put:
      consumes:
        - application/json
      operationId: putOrganisationsIdApplicationsAppIdVhostsFavourite
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/Vhost'
      responses:
        '200':
          description: markFavouriteVhost
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/applications/{appId}/vhosts/{domain}':
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdVhostsDomain
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: domain
          required: true
          type: string
      responses:
        '200':
          description: removeVhost
      tags:
        - all
        - applications
        - organisations
    put:
      consumes:
        - application/json
      operationId: putOrganisationsIdApplicationsAppIdVhostsDomain
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: domain
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/Vhost'
      responses:
        '200':
          description: addVhost
      tags:
        - all
        - applications
        - organisations
  '/organisations/{id}/avatar':
    put:
      description: 'If you want to upload an image from your computer, send the image in the body of the request without anything else.'
      operationId: putOrganisationsIdAvatar
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: |-
            setOrgaAvatar
            setOrgaAvatarFromSource
      tags:
        - all
        - organisations
  '/organisations/{id}/consumers':
    get:
      operationId: getOrganisationsIdConsumers
      parameters:
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getConsumers
          schema:
            items:
              $ref: '#/definitions/Consumer'
            type: array
      tags:
        - all
        - organisations
    post:
      consumes:
        - application/json
      operationId: postOrganisationsIdConsumers
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeConsumer'
      responses:
        '200':
          description: createConsumer
      tags:
        - all
        - organisations
  '/organisations/{id}/consumers/{key}':
    delete:
      operationId: deleteOrganisationsIdConsumersKey
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: key
          required: true
          type: string
      responses:
        '200':
          description: deleteConsumer
      tags:
        - all
        - organisations
    get:
      operationId: getOrganisationsIdConsumersKey
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: key
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getConsumer
          schema:
            $ref: '#/definitions/Consumer'
      tags:
        - all
        - organisations
    put:
      consumes:
        - application/json
      operationId: putOrganisationsIdConsumersKey
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: key
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeConsumer'
      responses:
        '200':
          description: PUT the same data as in POST.
      tags:
        - all
        - organisations
  '/organisations/{id}/consumers/{key}/secret':
    get:
      operationId: getOrganisationsIdConsumersKeySecret
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: key
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getConsumerSecret
          schema:
            $ref: '#/definitions/Secret'
      tags:
        - all
        - organisations
  '/organisations/{id}/consumptions':
    get:
      operationId: getOrganisationsIdConsumptions
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: query
          name: appId
          required: false
          type: string
        - in: query
          name: from
          required: false
          type: string
        - in: query
          name: to
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getAmount
          schema:
            $ref: '#/definitions/Conso'
      tags:
        - all
        - organisations
  '/organisations/{id}/credits':
    get:
      operationId: getOrganisationsIdCredits
      parameters:
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getAmount
          schema:
            $ref: '#/definitions/Credits'
      tags:
        - all
        - organisations
  '/organisations/{id}/instances':
    get:
      operationId: getOrganisationsIdInstances
      parameters:
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getInstancesForAllApps
          schema:
            additionalProperties:
              items:
                $ref: '#/definitions/AppInstance'
              type: array
            type: object
      tags:
        - all
        - organisations
  '/organisations/{id}/members':
    get:
      operationId: getOrganisationsIdMembers
      parameters:
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getOrganisationMembers
          schema:
            items:
              $ref: '#/definitions/Member'
            type: array
      tags:
        - all
        - organisations
    post:
      consumes:
        - application/json
      operationId: postOrganisationsIdMembers
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: query
          name: invitationKey
          required: false
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeMember'
      responses:
        '200':
          description: addOrganisationMember
      tags:
        - all
        - organisations
  '/organisations/{id}/members/{userId}':
    delete:
      operationId: deleteOrganisationsIdMembersUserId
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: removeOrganisationMember
      tags:
        - all
        - organisations
    put:
      consumes:
        - application/json
      operationId: putOrganisationsIdMembersUserId
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeMember'
      responses:
        '200':
          description: editOrganisationMember
      tags:
        - all
        - organisations
  '/organisations/{id}/payment-info':
    get:
      operationId: getOrganisationsIdPaymentInfo
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: getPaymentInfo
      tags:
        - all
        - organisations
  '/organisations/{id}/payments/billings':
    get:
      operationId: getOrganisationsIdPaymentsBillings
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: getInvoices
      tags:
        - all
        - organisations
        - payments
    post:
      operationId: postOrganisationsIdPaymentsBillings
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: buyDrops
      tags:
        - all
        - organisations
        - payments
  '/organisations/{id}/payments/billings/{bid}':
    delete:
      operationId: deleteOrganisationsIdPaymentsBillingsBid
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: bid
          required: true
          type: string
      responses:
        '200':
          description: deletePurchaseOrder
      tags:
        - all
        - organisations
        - payments
    get:
      operationId: getOrganisationsIdPaymentsBillingsBid
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: bid
          required: true
          type: string
      responses:
        '200':
          description: getInvoice
      tags:
        - all
        - organisations
        - payments
    put:
      operationId: putOrganisationsIdPaymentsBillingsBid
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: bid
          required: true
          type: string
      responses:
        '200':
          description: choosePaymentProvider
      tags:
        - all
        - organisations
        - payments
  '/organisations/{id}/payments/billings/{bid}.pdf':
    get:
      operationId: getOrganisationsIdPaymentsBillingsBidPdf
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: bid
          required: true
          type: string
        - in: query
          name: token
          required: false
          type: string
      responses:
        '200':
          description: getPdfInvoice
      tags:
        - all
        - organisations
        - payments
  '/organisations/{id}/payments/fullprice/{price}':
    get:
      operationId: getOrganisationsIdPaymentsFullPricePrice
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: price
          required: true
          type: string
      responses:
        '200':
          description: priceWithTax
      tags:
        - all
        - organisations
        - payments
  '/organisations/{id}/payments/methods':
    get:
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        default:
          description: 'Get the payments methods for the {id} organisation.'
      tags:
        - all
        - organisations
        - payments
    post:
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema: {}
      responses:
        default:
          description: 'Add a payment method to {id} organisation.'
      tags:
        - all
        - organisations
        - payments
  '/organisations/{id}/payments/methods/default':
    get:
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        default:
          description: 'Get the default payment method for {id} organisation.'
      tags:
        - all
        - organisations
        - payments
    put:
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PaymentData'
      responses:
        default:
          description: 'Set the default payment method for {id} organisation.'
      tags:
        - all
        - organisations
        - payments
  '/organisations/{id}/payments/methods/{mId}':
    delete:
      parameters:
        - in: path
          name: mId
          required: true
          type: string
        - in: path
          name: id
          required: true
          type: string
      responses:
        default:
          description: deletePaymentMethod
      tags:
        - all
        - organisations
        - payments
  '/organisations/{id}/payments/recurring':
    delete:
      operationId: deleteOrganisationsIdPaymentsRecurring
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: deleteRecurrentPayment
      tags:
        - all
        - organisations
        - payments
    get:
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        default:
          description: getRecurrentPayment
      tags:
        - all
        - organisations
        - payments
  '/organisations/{id}/payments/tokens/bt':
    get:
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        default:
          description: getBraintreeToken
      tags:
        - all
        - organisations
        - payments
  /password_forgotten:
    get:
      operationId: getPasswordForgotten
      parameters: []
      responses:
        '200':
          description: getPasswordForgottenForm
      tags:
        - all
        - password_forgotten
    post:
      operationId: postPasswordForgotten
      parameters:
        - in: query
          name: login
          required: false
          type: string
        - in: query
          name: drop_tokens
          required: false
          type: string
        - in: header
          name: TesterPass
          required: false
          type: string
      responses:
        '200':
          description: askForPasswordResetViaForm
      tags:
        - all
        - password_forgotten
  '/password_forgotten/{key}':
    get:
      operationId: getPasswordForgottenKey
      parameters:
        - in: path
          name: key
          required: true
          type: string
      responses:
        '200':
          description: confirmPasswordResetRequest
      tags:
        - all
        - password_forgotten
    post:
      operationId: postPasswordForgottenKey
      parameters:
        - in: path
          name: key
          required: true
          type: string
        - in: query
          name: pass
          required: false
          type: string
        - in: query
          name: pass2
          required: false
          type: string
      responses:
        '200':
          description: resetPasswordForgotten
      tags:
        - all
        - password_forgotten
  '/payments/coupons/{name}':
    get:
      operationId: getPaymentsCouponsName
      parameters:
        - in: path
          name: name
          required: true
          type: string
      responses:
        '200':
          description: getCoupon
      tags:
        - all
        - payments
  /payments/providers:
    get:
      operationId: getPaymentsProviders
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: getAvailablePaymentProviders
          schema:
            items:
              $ref: '#/definitions/Payment_Provider'
            type: array
      tags:
        - all
        - payments
  /payments/tokens/bt:
    get:
      operationId: getPaymentsTokensBt
      parameters: []
      responses:
        '200':
          description: getBraintreeToken
      tags:
        - all
        - payments
  /payments/webhooks/bt:
    get:
      operationId: getPaymentsWebhooksBt
      parameters:
        - in: query
          name: bt_challenge
          required: false
          type: string
      responses:
        '200':
          description: subscriptionEventPing
      tags:
        - all
        - payments
  '/payments/{bid}/end/bt':
    post:
      operationId: postPaymentsBidEndBt
      parameters:
        - in: path
          name: bid
          required: true
          type: string
      responses:
        '200':
          description: endPaymentWithBraintree
      tags:
        - all
        - payments
  /products/addonproviders:
    get:
      operationId: getProductsAddonProviders
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: getAddonProviders
          schema:
            items:
              $ref: '#/definitions/Provider'
            type: array
      tags:
        - all
        - products
  '/products/addonproviders/{provider_id}':
    get:
      operationId: getProductsAddonProvidersProviderId
      parameters:
        - in: path
          name: provider_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getAddonProvider
          schema:
            $ref: '#/definitions/Provider'
      tags:
        - all
        - products
  /products/countries:
    get:
      operationId: getProductsCountries
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: getCountries
          schema:
            $ref: '#/definitions/Country'
      tags:
        - all
        - products
  /products/countrycodes:
    get:
      operationId: getProductsCountrycodes
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: getCountryCodes
          schema:
            $ref: '#/definitions/Country'
      tags:
        - all
        - products
  /products/instances:
    get:
      operationId: getProductsInstances
      parameters:
        - in: query
          name: for
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getAvailableInstances
          schema:
            items:
              $ref: '#/definitions/Instance'
            type: array
      tags:
        - all
        - products
  '/products/instances/{type: [^-]+}-{version}':
    get:
      operationId: getProductsInstancesTypeVersion
      parameters:
        - in: path
          name: version
          required: true
          type: string
        - in: query
          name: for
          required: false
          type: string
        - in: query
          name: app
          required: false
          type: string
        - in: path
          name: 'type: [^-]+'
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getAvailableInstance
          schema:
            $ref: '#/definitions/Instance'
      tags:
        - all
        - products
  /products/mfa_kinds:
    get:
      responses:
        default:
          description: getMFAKinds
      tags:
        - all
        - products
  /products/packages:
    get:
      operationId: getProductsPackages
      parameters:
        - in: query
          name: coupon
          required: false
          type: string
        - in: query
          name: orgaId
          required: false
          type: string
        - in: query
          name: currency
          required: false
          type: string
      responses:
        '200':
          description: getAvailablePackages
      tags:
        - all
        - products
  /products/prices:
    get:
      operationId: getProductsPrices
      parameters: []
      responses:
        '200':
          description: getExchangeRates
      tags:
        - all
        - products
  /products/zones:
    get:
      operationId: getProductsZones
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: getZones
          schema:
            items:
              $ref: '#/definitions/Zone'
            type: array
      tags:
        - all
        - products
  /self:
    delete:
      operationId: deleteSelf
      parameters: []
      responses:
        '200':
          description: deleteUser
      tags:
        - all
        - self
    get:
      description: Get information about yourself
      operationId: getSelf
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: getUser
          schema:
            $ref: '#/definitions/User'
      summary: ''
      tags:
        - all
        - self
    put:
      consumes:
        - application/json
      operationId: putSelf
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeUser'
      responses:
        '200':
          description: editUser
      tags:
        - all
        - self
  /self/addons:
    get:
      description: Get all the addons
      operationId: getSelfAddons
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: getAddons
          schema:
            items:
              $ref: '#/definitions/Addon'
            type: array
      summary: Addon
      tags:
        - all
        - addons
        - self
    post:
      consumes:
        - application/json
      operationId: postSelfAddons
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeAddon'
      responses:
        '200':
          description: provisionAddon
      tags:
        - all
        - addons
        - self
  /self/addons/preorders:
    post:
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/WannabeAddon'
      responses:
        default:
          description: preorderAddon
      tags:
        - all
        - addons
        - self
  '/self/addons/{addonId}':
    delete:
      operationId: deleteSelfAddonsAddonId
      parameters:
        - in: path
          name: addonId
          required: true
          type: string
      responses:
        '200':
          description: deprovisionAddon
      tags:
        - all
        - addons
        - self
    get:
      description: Get a specific addon
      operationId: getSelfAddonsAddonId
      parameters:
        - in: path
          name: addonId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getAddon
          schema:
            $ref: '#/definitions/Addon'
      summary: Specific addon
      tags:
        - all
        - addons
        - self
    put:
      consumes:
        - application/json
      operationId: putSelfAddonsAddonId
      parameters:
        - in: path
          name: addonId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeAddon'
      responses:
        '200':
          description: Update addon informations
      tags:
        - all
        - addons
        - self
  '/self/addons/{addonId}/applications':
    get:
      operationId: getSelfAddonsAddonIdApplications
      parameters:
        - in: path
          name: addonId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getApplicationsLinkedToAddon
          schema:
            items:
              $ref: '#/definitions/Application'
            type: array
      tags:
        - all
        - addons
        - applications
        - self
  '/self/addons/{addonId}/env':
    get:
      operationId: getSelfAddonsAddonIdEnv
      parameters:
        - in: path
          name: addonId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getAddonEnv
          schema:
            items:
              $ref: '#/definitions/ListEnv'
            type: array
      tags:
        - all
        - addons
        - self
  '/self/addons/{addonId}/plan':
    put:
      consumes:
        - application/json
      operationId: putSelfAddonsAddonIdPlan
      parameters:
        - in: path
          name: addonId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabePlan'
      responses:
        '200':
          description: Update plan of an add-on.
      tags:
        - all
        - addons
        - self
  '/self/addons/{addonId}/sso':
    get:
      operationId: getSelfAddonsAddonIdSso
      parameters:
        - in: path
          name: addonId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getSSOData
          schema:
            $ref: '#/definitions/Sso'
      tags:
        - all
        - addons
        - self
  '/self/addons/{addonId}/tags':
    get:
      operationId: getSelfAddonsAddonIdTags
      parameters:
        - in: path
          name: addonId
          required: true
          type: string
      responses:
        '200':
          description: getAddonTags
          schema:
            items:
              type: string
            type: array
      tags:
        - all
        - addons
        - self
  '/self/addons/{addonId}/tags/{tag}':
    delete:
      operationId: deleteSelfAddonsAddonIdTagsTag
      parameters:
        - in: path
          name: tag
          required: true
          type: string
        - in: path
          name: addonId
          required: true
          type: string
      responses:
        '200':
          description: deleteAddonTag
      tags:
        - all
        - addons
        - self
    put:
      operationId: putSelfAddonsAddonIdTagsTag
      parameters:
        - in: path
          name: tag
          required: true
          type: string
        - in: path
          name: addonId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/Body'
      responses:
        '200':
          description: addAddonTag
      tags:
        - all
        - addons
        - self
  /self/applications:
    get:
      operationId: getSelfApplications
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: getApplications
          schema:
            items:
              $ref: '#/definitions/Application'
            type: array
      tags:
        - all
        - applications
        - self
    post:
      consumes:
        - application/json
      description: 'Creates an application. If you want to create a Github app, you need to replace the oauthApp field with what you will find here: https://github.com/CleverCloud/doc.clever-cloud.com/issues/179'
      operationId: postSelfApplications
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeApplication'
      responses:
        '200':
          description: addApplication
      tags:
        - all
        - applications
        - self
  '/self/applications/{appId}':
    delete:
      operationId: deleteSelfApplicationsAppId
      parameters:
        - in: path
          name: appId
          required: true
          type: string
      responses:
        '200':
          description: deleteApplication
      tags:
        - all
        - applications
        - self
    get:
      operationId: getSelfApplicationsAppId
      parameters:
        - in: path
          name: appId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getApplication
          schema:
            $ref: '#/definitions/Application'
      tags:
        - all
        - applications
        - self
    put:
      consumes:
        - application/json
      operationId: putSelfApplicationsAppId
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeApplication'
      responses:
        '200':
          description: editApplication
      tags:
        - all
        - applications
        - self
  '/self/applications/{appId}/addons':
    get:
      operationId: getSelfApplicationsAppIdAddons
      parameters:
        - in: path
          name: appId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getAddonsLinkedToApplication
          schema:
            items:
              $ref: '#/definitions/Addon'
            type: array
      tags:
        - all
        - addons
        - applications
        - self
    post:
      operationId: postSelfApplicationsAppIdAddons
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/Body'
      responses:
        '200':
          description: linkAddonToApplication
      tags:
        - all
        - addons
        - applications
        - self
  '/self/applications/{appId}/addons/env':
    get:
      operationId: getSelfApplicationsAppIdAddonsEnv
      parameters:
        - in: path
          name: appId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getEnvOfAddonsLinkedToApplication
          schema:
            items:
              $ref: '#/definitions/Env'
            type: array
      tags:
        - all
        - addons
        - applications
        - self
  '/self/applications/{appId}/addons/{addonId}':
    delete:
      operationId: deleteSelfApplicationsAppIdAddonsAddonId
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: addonId
          required: true
          type: string
      responses:
        '200':
          description: unlinkAddonFromApplication
      tags:
        - all
        - addons
        - applications
        - self
  '/self/applications/{appId}/branch':
    put:
      parameters:
        - in: path
          name: appId
          required: true
          type: string
      responses:
        default:
          description: setApplicationBranch
      tags:
        - all
        - applications
        - self
  '/self/applications/{appId}/branches':
    get:
      parameters:
        - in: path
          name: appId
          required: true
          type: string
      responses:
        default:
          description: getApplicationBranches
      tags:
        - all
        - applications
        - self
  '/self/applications/{appId}/dependencies':
    get:
      operationId: getSelfApplicationsAppIdDependencies
      parameters:
        - in: path
          name: appId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getApplicationDependencies
          schema:
            items:
              $ref: '#/definitions/Application'
            type: array
      tags:
        - all
        - applications
        - self
  '/self/applications/{appId}/dependencies/{dependencyId}':
    delete:
      operationId: deleteSelfApplicationsAppIdDependenciesDependencyId
      parameters:
        - in: path
          name: dependencyId
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
      responses:
        '200':
          description: deleteApplicationDependency
      tags:
        - all
        - applications
        - self
    put:
      consumes:
        - application/json
      operationId: getSelfApplicationsAppIdDependenciesDependencyId
      parameters:
        - in: path
          name: dependencyId
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeApplication'
      responses:
        '200':
          description: addApplicationDependency
      tags:
        - all
        - applications
        - self
  '/self/applications/{appId}/dependents':
    get:
      operationId: getSelfApplicationsAppIdDependents
      parameters:
        - in: path
          name: appId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getApplicationDependents
          schema:
            items:
              $ref: '#/definitions/Application'
            type: array
      tags:
        - all
        - applications
        - self
  '/self/applications/{appId}/deployments':
    get:
      operationId: getSelfApplicationsAppIdDeployments
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: query
          name: limit
          required: false
          type: string
        - in: query
          name: offset
          required: false
          type: string
        - in: query
          name: action
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getApplicationDeployments
          schema:
            items:
              $ref: '#/definitions/Deployment'
            type: array
      tags:
        - all
        - applications
        - self
  '/self/applications/{appId}/deployments/{deploymentId}/instances':
    delete:
      operationId: deleteSelfApplicationsAppIdDeploymentsDeploymentIdInstances
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: deploymentId
          required: true
          type: string
      responses:
        '200':
          description: cancelDeploy
      tags:
        - all
        - applications
        - self
  '/self/applications/{appId}/env':
    get:
      operationId: getSelfApplicationsAppIdEnv
      parameters:
        - in: path
          name: appId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: editApplicationEnv
          schema:
            items:
              $ref: '#/definitions/ListEnv'
            type: array
      tags:
        - all
        - applications
        - self
    put:
      consumes:
        - application/json
      operationId: putSelfApplicationsAppIdEnv
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeEnv'
      responses:
        '200':
          description: editApplicationEnvironment
      tags:
        - all
        - applications
        - self
  '/self/applications/{appId}/env/{envName}':
    delete:
      operationId: deleteSelfApplicationsAppIdEnvEnvName
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: envName
          required: true
          type: string
      responses:
        '200':
          description: removeApplicationEnv
      tags:
        - all
        - applications
        - self
    put:
      consumes:
        - application/json
      operationId: putSelfApplicationsAppIdEnvEnvName
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: envName
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/WannabeEnv'
      responses:
        '200':
          description: editApplicationEnv
      tags:
        - all
        - applications
        - self
  '/self/applications/{appId}/exposed_env':
    get:
      parameters:
        - in: path
          name: appId
          required: true
          type: string
      responses:
        default:
          description: getExposedEnv
      tags:
        - all
        - applications
        - self
    put:
      parameters:
        - in: path
          name: appId
          required: true
          type: string
      responses:
        default:
          description: updateExposedEnv
      tags:
        - all
        - applications
        - self
  '/self/applications/{appId}/instances':
    delete:
      operationId: deleteSelfApplicationsAppIdInstances
      parameters:
        - in: path
          name: appId
          required: true
          type: string
      responses:
        '200':
          description: undeployApplication
      tags:
        - all
        - applications
        - self
    get:
      operationId: getSelfApplicationsAppIdInstances
      parameters:
        - in: path
          name: appId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: getApplicationInstances
          schema:
            items:
              $ref: '#/definitions/Instance'
            type: array
      tags:
        - all
        - applications
        - self
    post:
      operationId: postSelfApplicationsAppIdInstances
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: query
          name: commit
          required: false
          type: string
      responses:
        '200':
          description: redeployApplication
      tags:
        - all
        - applications
        - self
  '/self/applications/{appId}/instances/{instanceId}':
    get:
      parameters:
        - in: path
          name: instanceId
          required: true
          type: string
        - in: path
          name: appId
          required: true
          type: string
      responses:
        default:
          description: getApplicationInstance
          schema:
            $ref: '#/definitions/AppInstance'
      tags:
        - all
        - applications
        - self
  '/self/applications/{appId}/tags':
    get:
      operationId: getSelfApplicationsAppIdTags
      parameters:
        - in: path
          name: appId
          required: true
          type: string
      responses:
        '200':
          description: getApplicationTags
          schema:
            items:
              type: string
            type: array
      tags:
        - all
        - applications
        - self
  '/self/applications/{appId}/tags/{tag}':
    delete:
      operationId: deleteSelfApplicationsAppIdTagsTag
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: tag
          required: true
          type: string
      responses:
        '200':
          description: deleteApplicationTag
      tags:
        - all
        - applications
        - self
    put:
      operationId: putSelfApplicationsAppIdTagsTag
      parameters:
        - in: path
          name: appId
          required: true
          type: string
        - in: path
          name: tag
          required: true
          type: string
        - in: body
          name: body
[...]
