swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /games/v1configuration
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: The Publishing API for Google Play Game Services.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Play Game Services Publishing
  version: v1configuration
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.gstatic.com/images/icons/material/product/2x/play_games_64dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/gamesConfiguration/v1configuration/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: gamesConfiguration
externalDocs:
  url: 'https://developers.google.com/games/services'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/androidpublisher': View and manage your Google Play Developer account
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/androidpublisher': View and manage your Google Play Developer account
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: achievementConfigurations
  - name: imageConfigurations
  - name: leaderboardConfigurations
paths:
  '/achievements/{achievementId}':
    delete:
      description: Delete the achievement configuration with the given ID.
      operationId: gamesConfiguration.achievementConfigurations.delete
      parameters:
        - description: The ID of the achievement used by this method.
          in: path
          name: achievementId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - achievementConfigurations
    get:
      description: Retrieves the metadata of the achievement configuration with the given ID.
      operationId: gamesConfiguration.achievementConfigurations.get
      parameters:
        - description: The ID of the achievement used by this method.
          in: path
          name: achievementId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AchievementConfiguration'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - achievementConfigurations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Update the metadata of the achievement configuration with the given ID. This method supports patch semantics.
      operationId: gamesConfiguration.achievementConfigurations.patch
      parameters:
        - description: The ID of the achievement used by this method.
          in: path
          name: achievementId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AchievementConfiguration'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AchievementConfiguration'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - achievementConfigurations
    put:
      description: Update the metadata of the achievement configuration with the given ID.
      operationId: gamesConfiguration.achievementConfigurations.update
      parameters:
        - description: The ID of the achievement used by this method.
          in: path
          name: achievementId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AchievementConfiguration'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AchievementConfiguration'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - achievementConfigurations
  '/applications/{applicationId}/achievements':
    get:
      description: Returns a list of the achievement configurations in this application.
      operationId: gamesConfiguration.achievementConfigurations.list
      parameters:
        - description: The application ID from the Google Play developer console.
          in: path
          name: applicationId
          required: true
          type: string
        - description: 'The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified maxResults.'
          in: query
          maximum: 200
          minimum: 1
          name: maxResults
          type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AchievementConfigurationListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - achievementConfigurations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Insert a new achievement configuration in this application.
      operationId: gamesConfiguration.achievementConfigurations.insert
      parameters:
        - description: The application ID from the Google Play developer console.
          in: path
          name: applicationId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AchievementConfiguration'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AchievementConfiguration'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - achievementConfigurations
  '/applications/{applicationId}/leaderboards':
    get:
      description: Returns a list of the leaderboard configurations in this application.
      operationId: gamesConfiguration.leaderboardConfigurations.list
      parameters:
        - description: The application ID from the Google Play developer console.
          in: path
          name: applicationId
          required: true
          type: string
        - description: 'The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified maxResults.'
          in: query
          maximum: 200
          minimum: 1
          name: maxResults
          type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LeaderboardConfigurationListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - leaderboardConfigurations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Insert a new leaderboard configuration in this application.
      operationId: gamesConfiguration.leaderboardConfigurations.insert
      parameters:
        - description: The application ID from the Google Play developer console.
          in: path
          name: applicationId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LeaderboardConfiguration'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LeaderboardConfiguration'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - leaderboardConfigurations
  '/images/{resourceId}/imageType/{imageType}':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - image/apng
        - image/bmp
        - image/cgm
        - image/dicom-rle
        - image/emf
        - image/fits
        - image/g3fax
        - image/gif
        - image/ief
        - image/jls
        - image/jp2
        - image/jpeg
        - image/jpm
        - image/jpx
        - image/ktx
        - image/naplps
        - image/pjpeg
        - image/png
        - image/prs.btif
        - image/prs.pti
        - image/pwg-raster
        - image/sgi
        - image/svg+xml
        - image/t38
        - image/tiff
        - image/tiff-fx
        - image/vnd.adobe.photoshop
        - image/vnd.airzip.accelerator.azv
        - image/vnd.cns.inf2
        - image/vnd.dece.graphic
        - image/vnd.djvu
        - image/vnd.dvb.subtitle
        - image/vnd.dwg
        - image/vnd.dxf
        - image/vnd.fastbidsheet
        - image/vnd.fpx
        - image/vnd.fst
        - image/vnd.fujixerox.edmics-mmr
        - image/vnd.fujixerox.edmics-rlc
        - image/vnd.globalgraphics.pgb
        - image/vnd.microsoft.icon
        - image/vnd.mix
        - image/vnd.mozilla.apng
        - image/vnd.ms-modi
        - image/vnd.ms-photo
        - image/vnd.net-fpx
        - image/vnd.radiance
        - image/vnd.sealed.png
        - image/vnd.sealedmedia.softseal.gif
        - image/vnd.sealedmedia.softseal.jpg
        - image/vnd.svf
        - image/vnd.tencent.tap
        - image/vnd.valve.source.texture
        - image/vnd.wap.wbmp
        - image/vnd.xiff
        - image/vnd.zbrush.pcx
        - image/webp
        - image/wmf
        - image/x-3ds
        - image/x-cmu-raster
        - image/x-cmx
        - image/x-freehand
        - image/x-icon
        - image/x-jng
        - image/x-mrsid-image
        - image/x-ms-bmp
        - image/x-pcx
        - image/x-pict
        - image/x-portable-anymap
        - image/x-portable-bitmap
        - image/x-portable-graymap
        - image/x-portable-pixmap
        - image/x-rgb
        - image/x-tga
        - image/x-xbitmap
        - image/x-xcf
        - image/x-xpixmap
        - image/x-xwindowdump
      description: Uploads an image for a resource with the given ID and image type.
      operationId: gamesConfiguration.imageConfigurations.upload
      parameters:
        - description: The ID of the resource used by this method.
          in: path
          name: resourceId
          required: true
          type: string
        - description: Selects which image in a resource for this method.
          enum:
            - ACHIEVEMENT_ICON
            - LEADERBOARD_ICON
          in: path
          name: imageType
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ImageConfiguration'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - imageConfigurations
  '/leaderboards/{leaderboardId}':
    delete:
      description: Delete the leaderboard configuration with the given ID.
      operationId: gamesConfiguration.leaderboardConfigurations.delete
      parameters:
        - description: The ID of the leaderboard.
          in: path
          name: leaderboardId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - leaderboardConfigurations
    get:
      description: Retrieves the metadata of the leaderboard configuration with the given ID.
      operationId: gamesConfiguration.leaderboardConfigurations.get
      parameters:
        - description: The ID of the leaderboard.
          in: path
          name: leaderboardId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LeaderboardConfiguration'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - leaderboardConfigurations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Update the metadata of the leaderboard configuration with the given ID. This method supports patch semantics.
      operationId: gamesConfiguration.leaderboardConfigurations.patch
      parameters:
        - description: The ID of the leaderboard.
          in: path
          name: leaderboardId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LeaderboardConfiguration'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LeaderboardConfiguration'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - leaderboardConfigurations
    put:
      description: Update the metadata of the leaderboard configuration with the given ID.
      operationId: gamesConfiguration.leaderboardConfigurations.update
      parameters:
        - description: The ID of the leaderboard.
          in: path
          name: leaderboardId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LeaderboardConfiguration'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LeaderboardConfiguration'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - leaderboardConfigurations
definitions:
  AchievementConfiguration:
    description: This is a JSON template for an achievement configuration resource.
    properties:
      achievementType:
        description: |-
          The type of the achievement.
          Possible values are:  
          - "STANDARD" - Achievement is either locked or unlocked. 
          - "INCREMENTAL" - Achievement is incremental.
        type: string
      draft:
        $ref: '#/definitions/AchievementConfigurationDetail'
        description: The draft data of the achievement.
      id:
        description: The ID of the achievement.
        type: string
      initialState:
        description: |-
          The initial state of the achievement.
          Possible values are:  
          - "HIDDEN" - Achievement is hidden. 
          - "REVEALED" - Achievement is revealed. 
          - "UNLOCKED" - Achievement is unlocked.
        type: string
      kind:
        default: 'gamesConfiguration#achievementConfiguration'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfiguration.'
        type: string
      published:
        $ref: '#/definitions/AchievementConfigurationDetail'
        description: The read-only published data of the achievement.
      stepsToUnlock:
        description: Steps to unlock. Only applicable to incremental achievements.
        format: int32
        type: integer
      token:
        description: The token for this resource.
        type: string
    type: object
  AchievementConfigurationDetail:
    description: This is a JSON template for an achievement configuration detail.
    properties:
      description:
        $ref: '#/definitions/LocalizedStringBundle'
        description: Localized strings for the achievement description.
      iconUrl:
        description: The icon url of this achievement. Writes to this field are ignored.
        type: string
      kind:
        default: 'gamesConfiguration#achievementConfigurationDetail'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfigurationDetail.'
        type: string
      name:
        $ref: '#/definitions/LocalizedStringBundle'
        description: Localized strings for the achievement name.
      pointValue:
        description: Point value for the achievement.
        format: int32
        type: integer
      sortRank:
        description: The sort rank of this achievement. Writes to this field are ignored.
        format: int32
        type: integer
    type: object
  AchievementConfigurationListResponse:
    description: This is a JSON template for a ListConfigurations response.
    properties:
      items:
        description: The achievement configurations.
        items:
          $ref: '#/definitions/AchievementConfiguration'
        type: array
      kind:
        default: 'gamesConfiguration#achievementConfigurationListResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#achievementConfigurationListResponse.'
        type: string
      nextPageToken:
        description: The pagination token for the next page of results.
        type: string
    type: object
  GamesNumberAffixConfiguration:
    description: This is a JSON template for a number affix resource.
    properties:
      few:
        $ref: '#/definitions/LocalizedStringBundle'
        description: 'When the language requires special treatment of "small" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish).'
      many:
        $ref: '#/definitions/LocalizedStringBundle'
        description: When the language requires special treatment of "large" numbers (as with numbers ending 11-99 in Maltese).
      one:
        $ref: '#/definitions/LocalizedStringBundle'
        description: 'When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class).'
      other:
        $ref: '#/definitions/LocalizedStringBundle'
        description: 'When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English).'
      two:
        $ref: '#/definitions/LocalizedStringBundle'
        description: 'When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian).'
      zero:
        $ref: '#/definitions/LocalizedStringBundle'
        description: When the language requires special treatment of the number 0 (as in Arabic).
    type: object
  GamesNumberFormatConfiguration:
    description: This is a JSON template for a number format resource.
    properties:
      currencyCode:
        description: The curreny code string. Only used for CURRENCY format type.
        type: string
      numDecimalPlaces:
        description: The number of decimal places for number. Only used for NUMERIC format type.
        format: int32
        type: integer
      numberFormatType:
        description: |-
          The formatting for the number.
          Possible values are:  
          - "NUMERIC" - Numbers are formatted to have no digits or a fixed number of digits after the decimal point according to locale. An optional custom unit can be added.
          - "TIME_DURATION" - Numbers are formatted to hours, minutes and seconds.
          - "CURRENCY" - Numbers are formatted to currency according to locale.
        type: string
      suffix:
        $ref: '#/definitions/GamesNumberAffixConfiguration'
        description: An optional suffix for the NUMERIC format type. These strings follow the same  plural rules as all Android string resources.
    type: object
  ImageConfiguration:
    description: This is a JSON template for an image configuration resource.
    properties:
      imageType:
        description: The image type for the image.
        type: string
      kind:
        default: 'gamesConfiguration#imageConfiguration'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#imageConfiguration.'
        type: string
      resourceId:
        description: The resource ID of resource which the image belongs to.
        type: string
      url:
        description: The url for this image.
        type: string
    type: object
  LeaderboardConfiguration:
    description: This is a JSON template for an leaderboard configuration resource.
    properties:
      draft:
        $ref: '#/definitions/LeaderboardConfigurationDetail'
        description: The draft data of the leaderboard.
      id:
        description: The ID of the leaderboard.
        type: string
      kind:
        default: 'gamesConfiguration#leaderboardConfiguration'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#leaderboardConfiguration.'
        type: string
      published:
        $ref: '#/definitions/LeaderboardConfigurationDetail'
        description: The read-only published data of the leaderboard.
      scoreMax:
        description: Maximum score that can be posted to this leaderboard.
        format: int64
        type: string
      scoreMin:
        description: Minimum score that can be posted to this leaderboard.
        format: int64
        type: string
      scoreOrder:
        description: |-
          The type of the leaderboard.
          Possible values are:  
          - "LARGER_IS_BETTER" - Larger scores posted are ranked higher. 
          - "SMALLER_IS_BETTER" - Smaller scores posted are ranked higher.
        type: string
      token:
        description: The token for this resource.
        type: string
    type: object
  LeaderboardConfigurationDetail:
    description: This is a JSON template for a leaderboard configuration detail.
    properties:
      iconUrl:
        description: The icon url of this leaderboard. Writes to this field are ignored.
        type: string
      kind:
        default: 'gamesConfiguration#leaderboardConfigurationDetail'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#leaderboardConfigurationDetail.'
        type: string
      name:
        $ref: '#/definitions/LocalizedStringBundle'
        description: Localized strings for the leaderboard name.
      scoreFormat:
        $ref: '#/definitions/GamesNumberFormatConfiguration'
        description: The score formatting for the leaderboard.
      sortRank:
        description: The sort rank of this leaderboard. Writes to this field are ignored.
        format: int32
        type: integer
    type: object
  LeaderboardConfigurationListResponse:
    description: This is a JSON template for a ListConfigurations response.
    properties:
      items:
        description: The leaderboard configurations.
        items:
          $ref: '#/definitions/LeaderboardConfiguration'
        type: array
      kind:
        default: 'gamesConfiguration#leaderboardConfigurationListResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#leaderboardConfigurationListResponse.'
        type: string
      nextPageToken:
        description: The pagination token for the next page of results.
        type: string
    type: object
  LocalizedString:
    description: This is a JSON template for a localized string resource.
    properties:
      kind:
        default: 'gamesConfiguration#localizedString'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.'
        type: string
      locale:
        description: The locale string.
        type: string
      value:
        description: The string value.
        type: string
    type: object
  LocalizedStringBundle:
    description: This is a JSON template for a localized string bundle resource.
    properties:
      kind:
        default: 'gamesConfiguration#localizedStringBundle'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.'
        type: string
      translations:
        description: The locale strings.
        items:
          $ref: '#/definitions/LocalizedString'
        type: array
    type: object
