swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient
  version: '2016-06-01'
  x-apisguru-categories:
    - developer_tools
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-logic/2016-06-01/swagger/logic.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: arm-logic
  x-tags:
    - Azure
    - Microsoft
    - applications
    - automation
    - integrations
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  api-version:
    description: The API version.
    in: query
    name: api-version
    required: true
    type: string
  subscriptionId:
    description: The subscription id.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Logic/operations:
    get:
      description: Lists all of the available Logic REST API operations.
      operationId: ListOperations
      parameters:
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Logic error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationAccounts':
    get:
      description: Gets a list of integration accounts by subscription.
      operationId: IntegrationAccounts_ListBySubscription
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/api-version'
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountListResult'
      tags:
        - IntegrationAccounts
      x-ms-examples:
        List IntegrationAccounts by subscription:
          parameters:
            api-version: '2016-06-01'
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                nextLink: 'https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Logic/integrationAccounts?api-version=2016-06-01&%24skiptoken=<token>'
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                    location: northcentralus
                    name: daviburgIAFabrikam
                    properties: {}
                    sku:
                      name: Free
                    type: Microsoft.Logic/integrationAccounts
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Logic/workflows':
    get:
      description: Gets a list of workflows by subscription.
      operationId: Workflows_ListBySubscription
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/api-version'
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowListResult'
      tags:
        - Workflows
      x-ms-odata: '#/definitions/WorkflowFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts':
    get:
      description: Gets a list of integration accounts by resource group.
      operationId: IntegrationAccounts_ListByResourceGroup
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountListResult'
      tags:
        - IntegrationAccounts
      x-ms-examples:
        List IntegrationAccounts by resourcegroup name:
          parameters:
            api-version: '2016-06-01'
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/IntegrationAccount9020
                    location: westus
                    name: IntegrationAccount9020
                    properties: {}
                    sku:
                      name: Standard
                    type: Microsoft.Logic/integrationAccounts
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}':
    delete:
      description: Deletes an integration account.
      operationId: IntegrationAccounts_Delete
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      tags:
        - IntegrationAccounts
      x-ms-examples:
        Delete an IntegrationAccount:
          parameters:
            api-version: '2016-06-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200': {}
            '204': {}
    get:
      description: Gets an integration account.
      operationId: IntegrationAccounts_Get
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccount'
      tags:
        - IntegrationAccounts
      x-ms-examples:
        Get IntegrationAccount by name:
          parameters:
            api-version: '2016-06-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                location: westus
                name: IntegrationAccount5892
                properties: {}
                sku:
                  name: Standard
                type: Microsoft.Logic/integrationAccounts
    patch:
      description: Updates an integration account.
      operationId: IntegrationAccounts_Update
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The integration account.
          in: body
          name: integrationAccount
          required: true
          schema:
            $ref: '#/definitions/IntegrationAccount'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccount'
      tags:
        - IntegrationAccounts
      x-ms-examples:
        Patch an IntegrationAccount:
          parameters:
            api-version: '2016-06-01'
            integrationAccount:
              location: westus
              properties: {}
              sku:
                name: Standard
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                location: westus
                name: testIntegrationAccount
                properties: {}
                sku:
                  name: Standard
                type: Microsoft.Logic/integrationAccounts
    put:
      description: Creates or updates an integration account.
      operationId: IntegrationAccounts_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The integration account.
          in: body
          name: integrationAccount
          required: true
          schema:
            $ref: '#/definitions/IntegrationAccount'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccount'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccount'
      tags:
        - IntegrationAccounts
      x-ms-examples:
        Create or update an IntegrationAccount:
          parameters:
            api-version: '2016-06-01'
            integrationAccount:
              location: westus
              properties: {}
              sku:
                name: Standard
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                location: westus
                name: testIntegrationAccount
                properties: {}
                sku:
                  name: Standard
                type: Microsoft.Logic/integrationAccounts
            '201':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                location: westus
                name: testIntegrationAccount
                properties: {}
                sku:
                  name: Standard
                type: Microsoft.Logic/integrationAccounts
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements':
    get:
      description: Gets a list of integration account agreements.
      operationId: Agreements_ListByIntegrationAccounts
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountAgreementListResult'
      tags:
        - IntegrationAccountAgreements
      x-ms-examples:
        Get agreements by integrationaccount name:
          parameters:
            api-version: '2016-06-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccountName>/agreements/<IntegrationAccountAgreementName>
                    name: <IntegrationAccountAgreementName>
                    properties:
                      agreementType: X12
                      changedTime: '2017-03-06T22:00:54.1520445Z'
                      content:
                        x12:
                          receiveAgreement:
                            protocolSettings:
                              acknowledgementSettings:
                                acknowledgementControlNumberLowerBound: 1
                                acknowledgementControlNumberUpperBound: 999999999
                                batchFunctionalAcknowledgements: true
                                batchImplementationAcknowledgements: false
                                batchTechnicalAcknowledgements: true
                                needFunctionalAcknowledgement: false
                                needImplementationAcknowledgement: false
                                needLoopForValidMessages: false
                                needTechnicalAcknowledgement: false
                                rolloverAcknowledgementControlNumber: true
                                sendSynchronousAcknowledgement: true
                              envelopeSettings:
                                controlStandardsId: 85
                                controlVersionNumber: '00401'
                                enableDefaultGroupHeaders: true
                                groupControlNumberLowerBound: 1
                                groupControlNumberUpperBound: 999999999
                                groupHeaderAgencyCode: T
                                groupHeaderDateFormat: CCYYMMDD
                                groupHeaderTimeFormat: HHMM
                                groupHeaderVersion: '00401'
                                interchangeControlNumberLowerBound: 1
                                interchangeControlNumberUpperBound: 999999999
                                overwriteExistingTransactionSetControlNumber: true
                                receiverApplicationId: RECEIVE-APP
                                rolloverGroupControlNumber: true
                                rolloverInterchangeControlNumber: true
                                rolloverTransactionSetControlNumber: true
                                senderApplicationId: BTS-SENDER
                                transactionSetControlNumberLowerBound: 1
                                transactionSetControlNumberUpperBound: 999999999
                                usageIndicator: Test
                                useControlStandardsIdAsRepetitionCharacter: false
                              framingSettings:
                                characterSet: UTF8
                                componentSeparator: 58
                                dataElementSeparator: 42
                                replaceCharacter: 36
                                replaceSeparatorsInPayload: false
                                segmentTerminator: 126
                                segmentTerminatorSuffix: None
                              messageFilter:
                                messageFilterType: Exclude
                              processingSettings:
                                convertImpliedDecimal: true
                                createEmptyXmlTagsForTrailingSeparators: true
                                maskSecurityInfo: true
                                preserveInterchange: true
                                suspendInterchangeOnError: true
                                useDotAsDecimalSeparator: true
                              schemaReferences: []
                              securitySettings:
                                authorizationQualifier: '00'
                                securityQualifier: '00'
                              validationSettings:
                                allowLeadingAndTrailingSpacesAndZeroes: false
                                checkDuplicateGroupControlNumber: false
                                checkDuplicateInterchangeControlNumber: false
                                checkDuplicateTransactionSetControlNumber: false
                                interchangeControlNumberValidityDays: 30
                                trailingSeparatorPolicy: NotAllowed
                                trimLeadingAndTrailingSpacesAndZeroes: false
                                validateCharacterSet: true
                                validateEdiTypes: true
                                validateXsdTypes: false
                            receiverBusinessIdentity:
                              qualifier: ZZ
                              value: ZZ
                            senderBusinessIdentity:
                              qualifier: AA
                              value: AA
                          sendAgreement:
                            protocolSettings:
                              acknowledgementSettings:
                                acknowledgementControlNumberLowerBound: 1
                                acknowledgementControlNumberUpperBound: 999999999
                                batchFunctionalAcknowledgements: true
                                batchImplementationAcknowledgements: false
                                batchTechnicalAcknowledgements: true
                                needFunctionalAcknowledgement: false
                                needImplementationAcknowledgement: false
                                needLoopForValidMessages: false
                                needTechnicalAcknowledgement: false
                                rolloverAcknowledgementControlNumber: true
                                sendSynchronousAcknowledgement: true
                              envelopeSettings:
                                controlStandardsId: 100
                                controlVersionNumber: '0.0'
                                enableDefaultGroupHeaders: true
                                functionalGroupId: '1'
                                groupControlNumberLowerBound: 1
                                groupControlNumberUpperBound: 999999999
                                groupHeaderAgencyCode: T
                                groupHeaderDateFormat: CCYYMMDD
                                groupHeaderTimeFormat: HHMM
                                groupHeaderVersion: '0.0'
                                interchangeControlNumberLowerBound: 1
                                interchangeControlNumberUpperBound: 999999999
                                overwriteExistingTransactionSetControlNumber: true
                                receiverApplicationId: '100'
                                rolloverGroupControlNumber: true
                                rolloverInterchangeControlNumber: true
                                rolloverTransactionSetControlNumber: true
                                senderApplicationId: '100'
                                transactionSetControlNumberLowerBound: 1
                                transactionSetControlNumberPrefix: ''
                                transactionSetControlNumberSuffix: ''
                                transactionSetControlNumberUpperBound: 999999999
                                usageIndicator: Information
                                useControlStandardsIdAsRepetitionCharacter: true
                              framingSettings:
                                characterSet: UTF8
                                componentSeparator: 58
                                dataElementSeparator: 42
                                replaceCharacter: 36
                                replaceSeparatorsInPayload: false
                                segmentTerminator: 126
                                segmentTerminatorSuffix: None
                              messageFilter:
                                messageFilterType: Exclude
                              processingSettings:
                                convertImpliedDecimal: true
                                createEmptyXmlTagsForTrailingSeparators: true
                                maskSecurityInfo: true
                                preserveInterchange: true
                                suspendInterchangeOnError: true
                                useDotAsDecimalSeparator: true
                              schemaReferences: []
                              securitySettings:
                                authorizationQualifier: '00'
                                securityQualifier: '00'
                              validationSettings:
                                allowLeadingAndTrailingSpacesAndZeroes: false
                                checkDuplicateGroupControlNumber: false
                                checkDuplicateInterchangeControlNumber: false
                                checkDuplicateTransactionSetControlNumber: false
                                interchangeControlNumberValidityDays: 30
                                trailingSeparatorPolicy: NotAllowed
                                trimLeadingAndTrailingSpacesAndZeroes: false
                                validateCharacterSet: true
                                validateEdiTypes: true
                                validateXsdTypes: false
                            receiverBusinessIdentity:
                              qualifier: AA
                              value: AA
                            senderBusinessIdentity:
                              qualifier: ZZ
                              value: ZZ
                      createdTime: '2017-03-06T22:00:54.1516558Z'
                      guestIdentity:
                        qualifier: AA
                        value: AA
                      guestPartner: GuestPartner
                      hostIdentity:
                        qualifier: ZZ
                        value: ZZ
                      hostPartner: HostPartner
                      metadata: {}
                    type: Microsoft.Logic/integrationAccounts/agreements
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccountName>/agreements/<IntegrationAccountAgreementName>
                    name: <IntegrationAccountAgreementName>
                    properties:
                      agreementType: AS2
                      changedTime: '2017-03-06T22:00:53.4140804Z'
                      content:
                        aS2:
                          receiveAgreement:
                            protocolSettings:
                              acknowledgementConnectionSettings:
                                ignoreCertificateNameMismatch: true
                                keepHttpConnectionAlive: true
                                supportHttpStatusCodeContinue: true
                                unfoldHttpHeaders: true
                              envelopeSettings:
                                autogenerateFileName: true
                                fileNameTemplate: Test
                                messageContentType: text/plain
                                suspendMessageOnFileNameGenerationError: true
                                transmitFileNameInMimeHeader: true
                              errorSettings:
                                resendIfMdnNotReceived: true
                                suspendDuplicateMessage: true
                              mdnSettings:
                                dispositionNotificationTo: 'http://tempuri.org'
                                mdnText: Sample
                                micHashingAlgorithm: None
                                needMdn: true
                                receiptDeliveryUrl: 'http://tempuri.org'
                                sendInboundMdnToMessageBox: true
                                sendMdnAsynchronously: true
                                signMdn: true
                                signOutboundMdnIfOptional: true
                              messageConnectionSettings:
                                ignoreCertificateNameMismatch: true
                                keepHttpConnectionAlive: true
                                supportHttpStatusCodeContinue: true
                                unfoldHttpHeaders: true
                              securitySettings:
                                enableNrrForInboundDecodedMessages: true
                                enableNrrForInboundEncodedMessages: true
                                enableNrrForInboundMdn: true
                                enableNrrForOutboundDecodedMessages: true
                                enableNrrForOutboundEncodedMessages: true
                                enableNrrForOutboundMdn: true
                                overrideGroupSigningCertificate: false
                              validationSettings:
                                checkCertificateRevocationListOnReceive: true
                                checkCertificateRevocationListOnSend: true
                                checkDuplicateMessage: true
                                compressMessage: true
                                encryptMessage: false
                                encryptionAlgorithm: AES128
                                interchangeDuplicatesValidityDays: 100
                                overrideMessageProperties: true
                                signMessage: false
                            receiverBusinessIdentity:
                              qualifier: ZZ
                              value: ZZ
                            senderBusinessIdentity:
                              qualifier: AA
                              value: AA
                          sendAgreement:
                            protocolSettings:
                              acknowledgementConnectionSettings:
                                ignoreCertificateNameMismatch: true
                                keepHttpConnectionAlive: true
                                supportHttpStatusCodeContinue: true
                                unfoldHttpHeaders: true
                              envelopeSettings:
                                autogenerateFileName: true
                                fileNameTemplate: Test
                                messageContentType: text/plain
                                suspendMessageOnFileNameGenerationError: true
                                transmitFileNameInMimeHeader: true
                              errorSettings:
                                resendIfMdnNotReceived: true
                                suspendDuplicateMessage: true
                              mdnSettings:
                                dispositionNotificationTo: 'http://tempuri.org'
                                mdnText: Sample
                                micHashingAlgorithm: None
                                needMdn: true
                                receiptDeliveryUrl: 'http://tempuri.org'
                                sendInboundMdnToMessageBox: true
                                sendMdnAsynchronously: true
                                signMdn: true
                                signOutboundMdnIfOptional: true
                              messageConnectionSettings:
                                ignoreCertificateNameMismatch: true
                                keepHttpConnectionAlive: true
                                supportHttpStatusCodeContinue: true
                                unfoldHttpHeaders: true
                              securitySettings:
                                enableNrrForInboundDecodedMessages: true
                                enableNrrForInboundEncodedMessages: true
                                enableNrrForInboundMdn: true
                                enableNrrForOutboundDecodedMessages: true
                                enableNrrForOutboundEncodedMessages: true
                                enableNrrForOutboundMdn: true
                                overrideGroupSigningCertificate: false
                              validationSettings:
                                checkCertificateRevocationListOnReceive: true
                                checkCertificateRevocationListOnSend: true
                                checkDuplicateMessage: true
                                compressMessage: true
                                encryptMessage: false
                                encryptionAlgorithm: AES128
                                interchangeDuplicatesValidityDays: 100
                                overrideMessageProperties: true
                                signMessage: false
                            receiverBusinessIdentity:
                              qualifier: AA
                              value: AA
                            senderBusinessIdentity:
                              qualifier: ZZ
                              value: ZZ
                      createdTime: '2017-03-06T22:00:53.4134038Z'
                      guestIdentity:
                        qualifier: AA
                        value: AA
                      guestPartner: GuestPartner
                      hostIdentity:
                        qualifier: ZZ
                        value: ZZ
                      hostPartner: HostPartner
                      metadata: {}
                    type: Microsoft.Logic/integrationAccounts/agreements
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccountName>/agreements/<IntegrationAccountAgreementName>
                    name: <IntegrationAccountAgreementName>
                    properties:
                      agreementType: Edifact
                      changedTime: '2017-03-06T22:00:53.8212345Z'
                      content:
                        edifact:
                          receiveAgreement:
                            protocolSettings:
                              acknowledgementSettings:
                                acknowledgementControlNumberLowerBound: 1
                                acknowledgementControlNumberPrefix: ''
                                acknowledgementControlNumberSuffix: ''
                                acknowledgementControlNumberUpperBound: 99999999
                                batchFunctionalAcknowledgements: true
                                batchTechnicalAcknowledgements: true
                                needFunctionalAcknowledgement: false
                                needLoopForValidMessages: false
                                needTechnicalAcknowledgement: true
                                rolloverAcknowledgementControlNumber: true
                                sendSynchronousAcknowledgement: true
                              envelopeSettings:
                                applicationReferenceId: '0'
                                applyDelimiterStringAdvice: true
                                communicationAgreementId: '0'
                                createGroupingSegments: true
                                enableDefaultGroupHeaders: true
                                functionalGroupId: '0'
                                groupApplicationPassword: '0'
                                groupApplicationReceiverId: '0'
                                groupApplicationReceiverQualifier: ZZZ
                                groupApplicationSenderId: AAA
                                groupApplicationSenderQualifier: ZZZ
                                groupAssociationAssignedCode: '0'
                                groupControlNumberLowerBound: 1
                                groupControlNumberPrefix: CU
                                groupControlNumberSuffix: NUM
                                groupControlNumberUpperBound: 99999999
                                groupControllingAgencyCode: '0'
                                groupMessageRelease: '0.0'
                                groupMessageVersion: '0.0'
                                interchangeControlNumberLowerBound: 1
                                interchangeControlNumberPrefix: CU
                                interchangeControlNumberSuffix: NUM
                                interchangeControlNumberUpperBound: 99999999
                                isTestInterchange: true
                                overwriteExistingTransactionSetControlNumber: true
                                processingPriorityCode: '0'
                                receiverInternalIdentification: '0'
                                receiverInternalSubIdentification: '0'
                                recipientReferencePasswordQualifier: ZZ
                                recipientReferencePasswordValue: AA
                                rolloverGroupControlNumber: true
                                rolloverInterchangeControlNumber: true
                                rolloverTransactionSetControlNumber: true
                                senderInternalIdentification: AA
                                senderInternalSubIdentification: AA
                                transactionSetControlNumberLowerBound: 1
                                transactionSetControlNumberPrefix: ''
                                transactionSetControlNumberSuffix: ''
                                transactionSetControlNumberUpperBound: 99999999
                              framingSettings:
                                characterEncoding: UTF
                                characterSet: UNOC
                                componentSeparator: 58
                                dataElementSeparator: 53
                                decimalPointIndicator: Comma
                                protocolVersion: 4
                                releaseIndicator: 63
                                repetitionSeparator: 42
                                segmentTerminator: 39
                                segmentTerminatorSuffix: None
                              messageFilter:
                                messageFilterType: Exclude
                              processingSettings:
                                createEmptyXmlTagsForTrailingSeparators: true
                                maskSecurityInfo: true
                                preserveInterchange: true
                                suspendInterchangeOnError: true
                                useDotAsDecimalSeparator: true
                              schemaReferences: []
                              validationSettings:
                                allowLeadingAndTrailingSpacesAndZeroes: true
                                checkDuplicateGroupControlNumber: true
                                checkDuplicateInterchangeControlNumber: true
                                checkDuplicateTransactionSetControlNumber: true
                                interchangeControlNumberValidityDays: 30
                                trailingSeparatorPolicy: Optional
                                trimLeadingAndTrailingSpacesAndZeroes: true
                                validateCharacterSet: true
                                validateEdiTypes: true
                                validateXsdTypes: true
                            receiverBusinessIdentity:
                              qualifier: ZZ
                              value: ZZ
                            senderBusinessIdentity:
                              qualifier: AA
                              value: AA
                          sendAgreement:
                            protocolSettings:
                              acknowledgementSettings:
                                acknowledgementControlNumberLowerBound: 1
                                acknowledgementControlNumberPrefix: CN
                                acknowledgementControlNumberSuffix: NUM
                                acknowledgementControlNumberUpperBound: 999999999
                                batchFunctionalAcknowledgements: true
                                batchTechnicalAcknowledgements: true
                                needFunctionalAcknowledgement: true
                                needLoopForValidMessages: true
                                needTechnicalAcknowledgement: true
                                rolloverAcknowledgementControlNumber: true
                                sendSynchronousAcknowledgement: true
                              envelopeSettings:
                                applicationReferenceId: '0'
                                applyDelimiterStringAdvice: true
                                communicationAgreementId: '0'
                                createGroupingSegments: true
                                enableDefaultGroupHeaders: true
                                functionalGroupId: '0'
                                groupApplicationPassword: '0'
                                groupApplicationReceiverId: '0'
                                groupApplicationReceiverQualifier: ZZ
                                groupApplicationSenderId: AA
                                groupApplicationSenderQualifier: ZZ
                                groupAssociationAssignedCode: '0'
                                groupControlNumberLowerBound: 1
                                groupControlNumberPrefix: ''
                                groupControlNumberSuffix: ''
                                groupControlNumberUpperBound: 999999999
                                groupControllingAgencyCode: '0'
                                groupMessageRelease: '0.0'
                                groupMessageVersion: '0.0'
                                interchangeControlNumberLowerBound: 1
                                interchangeControlNumberPrefix: CU
                                interchangeControlNumberSuffix: NUM
                                interchangeControlNumberUpperBound: 999999999
                                isTestInterchange: true
                                overwriteExistingTransactionSetControlNumber: true
                                processingPriorityCode: '0'
                                receiverInternalIdentification: '0'
                                receiverInternalSubIdentification: '0'
                                recipientReferencePasswordQualifier: ZZ
                                recipientReferencePasswordValue: AA
                                rolloverGroupControlNumber: true
                                rolloverInterchangeControlNumber: true
                                rolloverTransactionSetControlNumber: true
                                senderInternalIdentification: AA
                                senderInternalSubIdentification: AA
                                transactionSetControlNumberLowerBound: 1
                                transactionSetControlNumberPrefix: ''
                                transactionSetControlNumberSuffix: ''
                                transactionSetControlNumberUpperBound: 999999999
                              framingSettings:
                                characterEncoding: UTF
                                characterSet: UNOC
                                componentSeparator: 58
                                dataElementSeparator: 53
                                decimalPointIndicator: Comma
                                protocolVersion: 4
                                releaseIndicator: 63
                                repetitionSeparator: 42
                                segmentTerminator: 39
                                segmentTerminatorSuffix: None
                              messageFilter:
                                messageFilterType: Exclude
                              processingSettings:
                                createEmptyXmlTagsForTrailingSeparators: true
                                maskSecurityInfo: true
                                preserveInterchange: true
                                suspendInterchangeOnError: true
                                useDotAsDecimalSeparator: true
                              schemaReferences: []
                              validationSettings:
                                allowLeadingAndTrailingSpacesAndZeroes: true
                                checkDuplicateGroupControlNumber: true
                                checkDuplicateInterchangeControlNumber: true
                                checkDuplicateTransactionSetControlNumber: true
                                interchangeControlNumberValidityDays: 30
                                trailingSeparatorPolicy: Optional
                                trimLeadingAndTrailingSpacesAndZeroes: true
                                validateCharacterSet: true
                                validateEdiTypes: true
                                validateXsdTypes: true
                            receiverBusinessIdentity:
                              qualifier: ZZ
                              value: ZZ
                            senderBusinessIdentity:
                              qualifier: AA
                              value: AA
                      createdTime: '2017-03-06T22:00:53.8205121Z'
                      guestIdentity:
                        qualifier: AA
                        value: AA
                      guestPartner: GuestPartner
                      hostIdentity:
                        qualifier: ZZ
                        value: ZZ
                      hostPartner: HostPartner
                      metadata: {}
                    type: Microsoft.Logic/integrationAccounts/agreements
      x-ms-odata: '#/definitions/IntegrationAccountAgreementFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements/{agreementName}':
    delete:
      description: Deletes an integration account agreement.
      operationId: Agreements_Delete
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - description: The integration account agreement name.
          in: path
          name: agreementName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      tags:
        - IntegrationAccountAgreements
      x-ms-examples:
        Delete an agreement:
          parameters:
            agreementName: testAgreement
            api-version: '2016-06-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200': {}
            '204': {}
    get:
      description: Gets an integration account agreement.
      operationId: Agreements_Get
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - description: The integration account agreement name.
          in: path
          name: agreementName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountAgreement'
      tags:
        - IntegrationAccountAgreements
      x-ms-examples:
        Get agreement by name:
          parameters:
            agreementName: testAgreement
            api-version: '2016-06-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccountName>/agreements/<IntegrationAccountAgreementName>
                name: <IntegrationAccountAgreementName>
                properties:
                  agreementType: AS2
                  changedTime: '2017-03-06T22:32:54.2945291Z'
                  content:
                    aS2:
                      receiveAgreement:
                        protocolSettings:
                          acknowledgementConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          envelopeSettings:
                            autogenerateFileName: true
                            fileNameTemplate: Test
                            messageContentType: text/plain
                            suspendMessageOnFileNameGenerationError: true
                            transmitFileNameInMimeHeader: true
                          errorSettings:
                            resendIfMdnNotReceived: true
                            suspendDuplicateMessage: true
                          mdnSettings:
                            dispositionNotificationTo: 'http://tempuri.org'
                            mdnText: Sample
                            micHashingAlgorithm: SHA1
                            needMdn: true
                            receiptDeliveryUrl: 'http://tempuri.org'
                            sendInboundMdnToMessageBox: true
                            sendMdnAsynchronously: true
                            signMdn: true
                            signOutboundMdnIfOptional: true
                          messageConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          securitySettings:
                            enableNrrForInboundDecodedMessages: true
                            enableNrrForInboundEncodedMessages: true
                            enableNrrForInboundMdn: true
                            enableNrrForOutboundDecodedMessages: true
                            enableNrrForOutboundEncodedMessages: true
                            enableNrrForOutboundMdn: true
                            overrideGroupSigningCertificate: false
                          validationSettings:
                            checkCertificateRevocationListOnReceive: true
                            checkCertificateRevocationListOnSend: true
                            checkDuplicateMessage: true
                            compressMessage: true
                            encryptMessage: false
                            encryptionAlgorithm: AES128
                            interchangeDuplicatesValidityDays: 100
                            overrideMessageProperties: true
                            signMessage: false
                        receiverBusinessIdentity:
                          qualifier: ZZ
                          value: ZZ
                        senderBusinessIdentity:
                          qualifier: AA
                          value: AA
                      sendAgreement:
                        protocolSettings:
                          acknowledgementConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          envelopeSettings:
                            autogenerateFileName: true
                            fileNameTemplate: Test
                            messageContentType: text/plain
                            suspendMessageOnFileNameGenerationError: true
                            transmitFileNameInMimeHeader: true
                          errorSettings:
                            resendIfMdnNotReceived: true
                            suspendDuplicateMessage: true
                          mdnSettings:
                            dispositionNotificationTo: 'http://tempuri.org'
                            mdnText: Sample
                            micHashingAlgorithm: SHA1
                            needMdn: true
                            receiptDeliveryUrl: 'http://tempuri.org'
                            sendInboundMdnToMessageBox: true
                            sendMdnAsynchronously: true
                            signMdn: true
                            signOutboundMdnIfOptional: true
                          messageConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          securitySettings:
                            enableNrrForInboundDecodedMessages: true
                            enableNrrForInboundEncodedMessages: true
                            enableNrrForInboundMdn: true
                            enableNrrForOutboundDecodedMessages: true
                            enableNrrForOutboundEncodedMessages: true
                            enableNrrForOutboundMdn: true
                            overrideGroupSigningCertificate: false
                          validationSettings:
                            checkCertificateRevocationListOnReceive: true
                            checkCertificateRevocationListOnSend: true
                            checkDuplicateMessage: true
                            compressMessage: true
                            encryptMessage: false
                            encryptionAlgorithm: AES128
                            interchangeDuplicatesValidityDays: 100
                            overrideMessageProperties: true
                            signMessage: false
                        receiverBusinessIdentity:
                          qualifier: AA
                          value: AA
                        senderBusinessIdentity:
                          qualifier: ZZ
                          value: ZZ
                  createdTime: '2017-03-06T22:32:54.2938748Z'
                  guestIdentity:
                    qualifier: AA
                    value: AA
                  guestPartner: GuestPartner
                  hostIdentity:
                    qualifier: ZZ
                    value: ZZ
                  hostPartner: HostPartner
                  metadata: {}
                type: Microsoft.Logic/integrationAccounts/agreements
    put:
      description: Creates or updates an integration account agreement.
      operationId: Agreements_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - description: The integration account agreement name.
          in: path
          name: agreementName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The integration account agreement.
          in: body
          name: agreement
          required: true
          schema:
            $ref: '#/definitions/IntegrationAccountAgreement'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountAgreement'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountAgreement'
      tags:
        - IntegrationAccountAgreements
      x-ms-examples:
        Create or update an agreement:
          parameters:
            agreement:
              location: westus
              properties:
                agreementType: AS2
                content:
                  aS2:
                    receiveAgreement:
                      protocolSettings:
                        acknowledgementConnectionSettings:
                          ignoreCertificateNameMismatch: true
                          keepHttpConnectionAlive: true
                          supportHttpStatusCodeContinue: true
                          unfoldHttpHeaders: true
                        envelopeSettings:
                          autogenerateFileName: true
                          fileNameTemplate: Test
                          messageContentType: text/plain
                          suspendMessageOnFileNameGenerationError: true
                          transmitFileNameInMimeHeader: true
                        errorSettings:
                          resendIfMdnNotReceived: true
                          suspendDuplicateMessage: true
                        mdnSettings:
                          dispositionNotificationTo: 'http://tempuri.org'
                          mdnText: Sample
                          micHashingAlgorithm: SHA1
                          needMdn: true
                          receiptDeliveryUrl: 'http://tempuri.org'
                          sendInboundMdnToMessageBox: true
                          sendMdnAsynchronously: true
                          signMdn: true
                          signOutboundMdnIfOptional: true
                        messageConnectionSettings:
                          ignoreCertificateNameMismatch: true
                          keepHttpConnectionAlive: true
                          supportHttpStatusCodeContinue: true
                          unfoldHttpHeaders: true
                        securitySettings:
                          enableNrrForInboundDecodedMessages: true
                          enableNrrForInboundEncodedMessages: true
                          enableNrrForInboundMdn: true
                          enableNrrForOutboundDecodedMessages: true
                          enableNrrForOutboundEncodedMessages: true
                          enableNrrForOutboundMdn: true
                          overrideGroupSigningCertificate: false
                        validationSettings:
                          checkCertificateRevocationListOnReceive: true
                          checkCertificateRevocationListOnSend: true
                          checkDuplicateMessage: true
                          compressMessage: true
                          encryptMessage: false
                          encryptionAlgorithm: AES128
                          interchangeDuplicatesValidityDays: 100
                          overrideMessageProperties: true
                          signMessage: false
                      receiverBusinessIdentity:
                        qualifier: ZZ
                        value: ZZ
                      senderBusinessIdentity:
                        qualifier: AA
                        value: AA
                    sendAgreement:
                      protocolSettings:
                        acknowledgementConnectionSettings:
                          ignoreCertificateNameMismatch: true
                          keepHttpConnectionAlive: true
                          supportHttpStatusCodeContinue: true
                          unfoldHttpHeaders: true
                        envelopeSettings:
                          autogenerateFileName: true
                          fileNameTemplate: Test
                          messageContentType: text/plain
                          suspendMessageOnFileNameGenerationError: true
                          transmitFileNameInMimeHeader: true
                        errorSettings:
                          resendIfMdnNotReceived: true
                          suspendDuplicateMessage: true
                        mdnSettings:
                          dispositionNotificationTo: 'http://tempuri.org'
                          mdnText: Sample
                          micHashingAlgorithm: SHA1
                          needMdn: true
                          receiptDeliveryUrl: 'http://tempuri.org'
                          sendInboundMdnToMessageBox: true
                          sendMdnAsynchronously: true
                          signMdn: true
                          signOutboundMdnIfOptional: true
                        messageConnectionSettings:
                          ignoreCertificateNameMismatch: true
                          keepHttpConnectionAlive: true
                          supportHttpStatusCodeContinue: true
                          unfoldHttpHeaders: true
                        securitySettings:
                          enableNrrForInboundDecodedMessages: true
                          enableNrrForInboundEncodedMessages: true
                          enableNrrForInboundMdn: true
                          enableNrrForOutboundDecodedMessages: true
                          enableNrrForOutboundEncodedMessages: true
                          enableNrrForOutboundMdn: true
                          overrideGroupSigningCertificate: false
                        validationSettings:
                          checkCertificateRevocationListOnReceive: true
                          checkCertificateRevocationListOnSend: true
                          checkDuplicateMessage: true
                          compressMessage: true
                          encryptMessage: false
                          encryptionAlgorithm: AES128
                          interchangeDuplicatesValidityDays: 100
                          overrideMessageProperties: true
                          signMessage: false
                      receiverBusinessIdentity:
                        qualifier: AA
                        value: AA
                      senderBusinessIdentity:
                        qualifier: ZZ
                        value: ZZ
                guestIdentity:
                  qualifier: AA
                  value: AA
                guestPartner: GuestPartner
                hostIdentity:
                  qualifier: ZZ
                  value: ZZ
                hostPartner: HostPartner
                metadata: {}
              tags:
                IntegrationAccountAgreement: <IntegrationAccountAgreementName>
            agreementName: testAgreement
            api-version: '2016-06-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/IntegrationAccount4533/agreements/<IntegrationAccountAgreementName>
                name: <IntegrationAccountAgreementName>
                properties:
                  agreementType: AS2
                  changedTime: '2017-03-06T22:32:54.2945291Z'
                  content:
                    aS2:
                      receiveAgreement:
                        protocolSettings:
                          acknowledgementConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          envelopeSettings:
                            autogenerateFileName: true
                            fileNameTemplate: Test
                            messageContentType: text/plain
                            suspendMessageOnFileNameGenerationError: true
                            transmitFileNameInMimeHeader: true
                          errorSettings:
                            resendIfMdnNotReceived: true
                            suspendDuplicateMessage: true
                          mdnSettings:
                            dispositionNotificationTo: 'http://tempuri.org'
                            mdnText: Sample
                            micHashingAlgorithm: SHA1
                            needMdn: true
                            receiptDeliveryUrl: 'http://tempuri.org'
                            sendInboundMdnToMessageBox: true
                            sendMdnAsynchronously: true
                            signMdn: true
                            signOutboundMdnIfOptional: true
                          messageConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          securitySettings:
                            enableNrrForInboundDecodedMessages: true
                            enableNrrForInboundEncodedMessages: true
                            enableNrrForInboundMdn: true
                            enableNrrForOutboundDecodedMessages: true
                            enableNrrForOutboundEncodedMessages: true
                            enableNrrForOutboundMdn: true
                            overrideGroupSigningCertificate: false
                          validationSettings:
                            checkCertificateRevocationListOnReceive: true
                            checkCertificateRevocationListOnSend: true
                            checkDuplicateMessage: true
                            compressMessage: true
                            encryptMessage: false
                            encryptionAlgorithm: AES128
                            interchangeDuplicatesValidityDays: 100
                            overrideMessageProperties: true
                            signMessage: false
                        receiverBusinessIdentity:
                          qualifier: ZZ
                          value: ZZ
                        senderBusinessIdentity:
                          qualifier: AA
                          value: AA
                      sendAgreement:
                        protocolSettings:
                          acknowledgementConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          envelopeSettings:
                            autogenerateFileName: true
                            fileNameTemplate: Test
                            messageContentType: text/plain
                            suspendMessageOnFileNameGenerationError: true
                            transmitFileNameInMimeHeader: true
                          errorSettings:
                            resendIfMdnNotReceived: true
                            suspendDuplicateMessage: true
                          mdnSettings:
                            dispositionNotificationTo: 'http://tempuri.org'
                            mdnText: Sample
                            micHashingAlgorithm: SHA1
                            needMdn: true
                            receiptDeliveryUrl: 'http://tempuri.org'
                            sendInboundMdnToMessageBox: true
                            sendMdnAsynchronously: true
                            signMdn: true
                            signOutboundMdnIfOptional: true
                          messageConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          securitySettings:
                            enableNrrForInboundDecodedMessages: true
                            enableNrrForInboundEncodedMessages: true
                            enableNrrForInboundMdn: true
                            enableNrrForOutboundDecodedMessages: true
                            enableNrrForOutboundEncodedMessages: true
                            enableNrrForOutboundMdn: true
                            overrideGroupSigningCertificate: false
                          validationSettings:
                            checkCertificateRevocationListOnReceive: true
                            checkCertificateRevocationListOnSend: true
                            checkDuplicateMessage: true
                            compressMessage: true
                            encryptMessage: false
                            encryptionAlgorithm: AES128
                            interchangeDuplicatesValidityDays: 100
                            overrideMessageProperties: true
                            signMessage: false
                        receiverBusinessIdentity:
                          qualifier: AA
                          value: AA
                        senderBusinessIdentity:
                          qualifier: ZZ
                          value: ZZ
                  createdTime: '2017-03-06T22:32:54.2938748Z'
                  guestIdentity:
                    qualifier: AA
                    value: AA
                  guestPartner: GuestPartner
                  hostIdentity:
                    qualifier: ZZ
                    value: ZZ
                  hostPartner: HostPartner
                  metadata: {}
                type: Microsoft.Logic/integrationAccounts/agreements
            '201':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/IntegrationAccount4533/agreements/<IntegrationAccountAgreementName>
                name: <IntegrationAccountAgreementName>
                properties:
                  agreementType: AS2
                  changedTime: '2017-03-06T22:32:54.2945291Z'
                  content:
                    aS2:
                      receiveAgreement:
                        protocolSettings:
                          acknowledgementConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          envelopeSettings:
                            autogenerateFileName: true
                            fileNameTemplate: Test
                            messageContentType: text/plain
                            suspendMessageOnFileNameGenerationError: true
                            transmitFileNameInMimeHeader: true
                          errorSettings:
                            resendIfMdnNotReceived: true
                            suspendDuplicateMessage: true
                          mdnSettings:
                            dispositionNotificationTo: 'http://tempuri.org'
                            mdnText: Sample
                            micHashingAlgorithm: SHA1
                            needMdn: true
                            receiptDeliveryUrl: 'http://tempuri.org'
                            sendInboundMdnToMessageBox: true
                            sendMdnAsynchronously: true
                            signMdn: true
                            signOutboundMdnIfOptional: true
                          messageConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          securitySettings:
                            enableNrrForInboundDecodedMessages: true
                            enableNrrForInboundEncodedMessages: true
                            enableNrrForInboundMdn: true
                            enableNrrForOutboundDecodedMessages: true
                            enableNrrForOutboundEncodedMessages: true
                            enableNrrForOutboundMdn: true
                            overrideGroupSigningCertificate: false
                          validationSettings:
                            checkCertificateRevocationListOnReceive: true
                            checkCertificateRevocationListOnSend: true
                            checkDuplicateMessage: true
                            compressMessage: true
                            encryptMessage: false
                            encryptionAlgorithm: AES128
                            interchangeDuplicatesValidityDays: 100
                            overrideMessageProperties: true
                            signMessage: false
                        receiverBusinessIdentity:
                          qualifier: ZZ
                          value: ZZ
                        senderBusinessIdentity:
                          qualifier: AA
                          value: AA
                      sendAgreement:
                        protocolSettings:
                          acknowledgementConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          envelopeSettings:
                            autogenerateFileName: true
                            fileNameTemplate: Test
                            messageContentType: text/plain
                            suspendMessageOnFileNameGenerationError: true
                            transmitFileNameInMimeHeader: true
                          errorSettings:
                            resendIfMdnNotReceived: true
                            suspendDuplicateMessage: true
                          mdnSettings:
                            dispositionNotificationTo: 'http://tempuri.org'
                            mdnText: Sample
                            micHashingAlgorithm: SHA1
                            needMdn: true
                            receiptDeliveryUrl: 'http://tempuri.org'
                            sendInboundMdnToMessageBox: true
                            sendMdnAsynchronously: true
                            signMdn: true
                            signOutboundMdnIfOptional: true
                          messageConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          securitySettings:
                            enableNrrForInboundDecodedMessages: true
                            enableNrrForInboundEncodedMessages: true
                            enableNrrForInboundMdn: true
                            enableNrrForOutboundDecodedMessages: true
                            enableNrrForOutboundEncodedMessages: true
                            enableNrrForOutboundMdn: true
                            overrideGroupSigningCertificate: false
                          validationSettings:
                            checkCertificateRevocationListOnReceive: true
                            checkCertificateRevocationListOnSend: true
                            checkDuplicateMessage: true
                            compressMessage: true
                            encryptMessage: false
                            encryptionAlgorithm: AES128
                            interchangeDuplicatesValidityDays: 100
                            overrideMessageProperties: true
                            signMessage: false
                        receiverBusinessIdentity:
                          qualifier: AA
                          value: AA
                        senderBusinessIdentity:
                          qualifier: ZZ
                          value: ZZ
                  createdTime: '2017-03-06T22:32:54.2938748Z'
                  guestIdentity:
                    qualifier: AA
                    value: AA
                  guestPartner: GuestPartner
                  hostIdentity:
                    qualifier: ZZ
                    value: ZZ
                  hostPartner: HostPartner
                  metadata: {}
                type: Microsoft.Logic/integrationAccounts/agreements
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/certificates':
    get:
      description: Gets a list of integration account certificates.
      operationId: Certificates_ListByIntegrationAccounts
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountCertificateListResult'
      tags:
        - IntegrationAccountCertificates
      x-ms-examples:
        Get certificates by integrationAccount name:
          parameters:
            api-version: '2016-06-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/certificates/<integrationAccountCertificateName>
                    name: <IntegrationAccountCertificateName>
                    properties:
                      changedTime: '2017-03-06T20:33:09.7032076Z'
                      createdTime: '2017-03-06T20:33:09.7022471Z'
                      key:
                        keyName: <keyName>
                        keyVault:
                          id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testResourceGroup/providers/microsoft.keyvault/vaults/<keyVaultName>
                          name: AzureSdkTestKeyVault
                          type: Microsoft.KeyVault/vaults
                        keyVersion: 87d9764197604449b9b8eb7bd8710868
                      publicCertificate: <publicCertificate>
                    type: Microsoft.Logic/integrationAccounts/certificates
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/certificates/{certificateName}':
    delete:
      description: Deletes an integration account certificate.
      operationId: Certificates_Delete
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - description: The integration account certificate name.
          in: path
          name: certificateName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      tags:
        - IntegrationAccountCertificates
      x-ms-examples:
        Delete a certificate:
          parameters:
            api-version: '2016-06-01'
            certificateName: testCertificate
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200': {}
            '204': {}
    get:
      description: Gets an integration account certificate.
      operationId: Certificates_Get
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - description: The integration account certificate name.
          in: path
          name: certificateName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountCertificate'
      tags:
        - IntegrationAccountCertificates
      x-ms-examples:
        Get certificate by name:
          parameters:
            api-version: '2016-06-01'
            certificateName: testCertificate
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/IntegrationAccount9472/certificates/testCertificate
                name: testCertificate
                properties:
                  changedTime: '2017-03-06T20:42:21.051317Z'
                  createdTime: '2017-03-06T20:42:21.0510202Z'
                  key:
                    keyName: <keyName>
                    keyVault:
                      id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testResourceGroup/providers/microsoft.keyvault/vaults/<keyVaultName>
                      name: <keyVaultName>
                      type: Microsoft.KeyVault/vaults
                    keyVersion: 87d9764197604449b9b8eb7bd8710868
                  publicCertificate: <publicCertificate>
                type: Microsoft.Logic/integrationAccounts/certificates
    put:
      description: Creates or updates an integration account certificate.
      operationId: Certificates_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - description: The integration account certificate name.
          in: path
          name: certificateName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The integration account certificate.
          in: body
          name: certificate
          required: true
          schema:
            $ref: '#/definitions/IntegrationAccountCertificate'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountCertificate'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountCertificate'
      tags:
        - IntegrationAccountCertificates
      x-ms-examples:
        Create or update a certificate:
          parameters:
            api-version: '2016-06-01'
            certificate:
              location: brazilsouth
              properties:
                key:
                  keyName: <keyName>
                  keyVault:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testResourceGroup/providers/microsoft.keyvault/vaults/<keyVaultName>
                  keyVersion: 87d9764197604449b9b8eb7bd8710868
                publicCertificate: <publicCertificateValue>
            certificateName: testCertificate
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/certificates/testCertificate
                name: testCertificate
                properties:
                  changedTime: '2017-03-06T20:42:21.051317Z'
                  createdTime: '2017-03-06T20:42:21.0510202Z'
                  key:
                    keyName: <keyName>
                    keyVault:
                      id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/resourcegroups/flowrg/providers/microsoft.keyvault/vaults/<keyVaultName>
                      name: <keyVaultName>
                      type: Microsoft.KeyVault/vaults
                    keyVersion: 87d9764197604449b9b8eb7bd8710868
                  publicCertificate: <publicCertificateValue>
                type: Microsoft.Logic/integrationAccounts/certificates
            '201':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/certificates/testCertificate
                name: testCertificate
                properties:
                  changedTime: '2017-03-06T20:42:21.051317Z'
                  createdTime: '2017-03-06T20:42:21.0510202Z'
                  key:
                    keyName: <keyName>
                    keyVault:
                      id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/resourcegroups/flowrg/providers/microsoft.keyvault/vaults/<keyVaultName>
                      name: <keyVaultName>
                      type: Microsoft.KeyVault/vaults
                    keyVersion: 87d9764197604449b9b8eb7bd8710868
                  publicCertificate: <publicCertificateValue>
                type: Microsoft.Logic/integrationAccounts/certificates
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/listCallbackUrl':
    post:
      description: Gets the integration account callback URL.
      operationId: IntegrationAccounts_GetCallbackUrl
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The callback URL parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/GetCallbackUrlParameters'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CallbackUrl'
      tags:
        - IntegrationAccounts
      x-ms-examples:
        Get IntegrationAccount callback URL:
          parameters:
            api-version: '2016-06-01'
            integrationAccountName: testIntegrationAccount
            parameters:
              keyType: Primary
              notAfter: '2017-03-05T08:00:00Z'
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value: 'https://testprod-westus.logic.azure.com:443/integrationAccounts/ce41a499a1e64d95b874f5f14b4bf3b6?api-version=2015-08-01-preview&se=2017-03-17T07%3A00%3A00.0000000Z&sp=%2F%2F%2A&sv=1.0'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps':
    get:
      description: Gets a list of integration account maps.
      operationId: Maps_ListByIntegrationAccounts
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountMapListResult'
      tags:
        - IntegrationAccountMaps
      x-ms-examples:
        Get maps by integration account name:
          parameters:
            api-version: '2016-06-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/maps/IntegrationAccountMap9943
                    name: IntegrationAccountMap9943
                    properties:
                      changedTime: '2017-02-24T18:34:32.390576Z'
                      contentLink:
                        contentHash:
                          algorithm: md5
                          value: A2avz/M0ov2FPI3+Je8vDw==
                        contentSize: 3056
                        contentVersion: '"0x8D45CE3C6D23B4B"'
                        uri: <Uri>
                      createdTime: '2017-02-24T18:34:32.3902373Z'
                      mapType: Xslt
                      metadata: {}
                    type: Microsoft.Logic/integrationAccounts/maps
      x-ms-odata: '#/definitions/IntegrationAccountMapFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps/{mapName}':
    delete:
      description: Deletes an integration account map.
      operationId: Maps_Delete
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - description: The integration account map name.
          in: path
          name: mapName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      tags:
        - IntegrationAccountMaps
      x-ms-examples:
        Delete a map:
          parameters:
            api-version: '2016-06-01'
            integrationAccountName: testIntegrationAccount
            mapName: testMap
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200': {}
            '204': {}
    get:
      description: Gets an integration account map.
      operationId: Maps_Get
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - description: The integration account map name.
          in: path
          name: mapName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountMap'
      tags:
        - IntegrationAccountMaps
      x-ms-examples:
        Get map by name:
          parameters:
            api-version: '2016-06-01'
            integrationAccountName: testIntegrationAccount
            mapName: testMap
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/maps/testMap
                name: testMap
                properties:
                  changedTime: '2017-02-24T18:45:23.4137139Z'
                  contentLink:
                    contentHash:
                      algorithm: md5
                      value: A2avz/M0ov2FPI3+Je8vDw==
                    contentSize: 3056
                    contentVersion: '"0x8D45CE54B058881"'
                    uri: <Uri>
                  createdTime: '2017-02-24T18:45:23.4129778Z'
                  mapType: Xslt
                  metadata: {}
                type: Microsoft.Logic/integrationAccounts/maps
    put:
      description: Creates or updates an integration account map.
      operationId: Maps_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - description: The integration account map name.
          in: path
          name: mapName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The integration account map.
          in: body
          name: map
          required: true
          schema:
            $ref: '#/definitions/IntegrationAccountMap'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountMap'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountMap'
      tags:
        - IntegrationAccountMaps
      x-ms-examples:
        Create or update a map:
          parameters:
            api-version: '2016-06-01'
            integrationAccountName: testIntegrationAccount
            map:
              location: westus
              properties:
                content: "<?xml version=\"1.0\" encoding=\"UTF-16\"?>\r\n<xsl:stylesheet xmlns:xsl=\"http://www.w3.org/1999/XSL/Transform\" xmlns:msxsl=\"urn:schemas-microsoft-com:xslt\" xmlns:var=\"http://schemas.microsoft.com/BizTalk/2003/var\" exclude-result-prefixes=\"msxsl var s0 userCSharp\" version=\"1.0\" xmlns:ns0=\"http://BizTalk_Server_Project4.StringFunctoidsDestinationSchema\" xmlns:s0=\"http://BizTalk_Server_Project4.StringFunctoidsSourceSchema\" xmlns:userCSharp=\"http://schemas.microsoft.com/BizTalk/2003/userCSharp\">\r\n  <xsl:import href=\"http://btsfunctoids.blob.core.windows.net/functoids/functoids.xslt\" />\r\n  <xsl:output omit-xml-declaration=\"yes\" method=\"xml\" version=\"1.0\" />\r\n  <xsl:template match=\"/\">\r\n    <xsl:apply-templates select=\"/s0:Root\" />\r\n  </xsl:template>\r\n  <xsl:template match=\"/s0:Root\">\r\n    <xsl:variable name=\"var:v1\" select=\"userCSharp:StringFind(string(StringFindSource/text()) , &quot;SearchString&quot;)\" />\r\n    <xsl:variable name=\"var:v2\" select=\"userCSharp:StringLeft(string(StringLeftSource/text()) , &quot;2&quot;)\" />\r\n    <xsl:variable name=\"var:v3\" select=\"userCSharp:StringRight(string(StringRightSource/text()) , &quot;2&quot;)\" />\r\n    <xsl:variable name=\"var:v4\" select=\"userCSharp:StringUpperCase(string(UppercaseSource/text()))\" />\r\n    <xsl:variable name=\"var:v5\" select=\"userCSharp:StringLowerCase(string(LowercaseSource/text()))\" />\r\n    <xsl:variable name=\"var:v6\" select=\"userCSharp:StringSize(string(SizeSource/text()))\" />\r\n    <xsl:variable name=\"var:v7\" select=\"userCSharp:StringSubstring(string(StringExtractSource/text()) , &quot;0&quot; , &quot;2&quot;)\" />\r\n    <xsl:variable name=\"var:v8\" select=\"userCSharp:StringConcat(string(StringConcatSource/text()))\" />\r\n    <xsl:variable name=\"var:v9\" select=\"userCSharp:StringTrimLeft(string(StringLeftTrimSource/text()))\" />\r\n    <xsl:variable name=\"var:v10\" select=\"userCSharp:StringTrimRight(string(StringRightTrimSource/text()))\" />\r\n    <ns0:Root>\r\n      <StringFindDestination>\r\n        <xsl:value-of select=\"$var:v1\" />\r\n      </StringFindDestination>\r\n      <StringLeftDestination>\r\n        <xsl:value-of select=\"$var:v2\" />\r\n      </StringLeftDestination>\r\n      <StringRightDestination>\r\n        <xsl:value-of select=\"$var:v3\" />\r\n      </StringRightDestination>\r\n      <UppercaseDestination>\r\n        <xsl:value-of select=\"$var:v4\" />\r\n      </UppercaseDestination>\r\n      <LowercaseDestination>\r\n        <xsl:value-of select=\"$var:v5\" />\r\n      </LowercaseDestination>\r\n      <SizeDestination>\r\n        <xsl:value-of select=\"$var:v6\" />\r\n      </SizeDestination>\r\n      <StringExtractDestination>\r\n        <xsl:value-of select=\"$var:v7\" />\r\n      </StringExtractDestination>\r\n      <StringConcatDestination>\r\n        <xsl:value-of select=\"$var:v8\" />\r\n      </StringConcatDestination>\r\n      <StringLeftTrimDestination>\r\n        <xsl:value-of select=\"$var:v9\" />\r\n      </StringLeftTrimDestination>\r\n      <StringRightTrimDestination>\r\n        <xsl:value-of select=\"$var:v10\" />\r\n      </StringRightTrimDestination>\r\n    </ns0:Root>\r\n  </xsl:template>\r\n</xsl:stylesheet>"
                contentType: application/xml
                mapType: Xslt
                metadata: {}
            mapName: testMap
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/<resourceGroup>/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccount>/maps/testMap
                name: IntegrationAccountMap291
                properties:
                  changedTime: '2017-03-06T18:41:04.4088605Z'
                  contentLink:
                    contentHash:
                      algorithm: md5
[...]
