swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient
  version: '2016-06-01'
  x-apisguru-categories:
    - developer_tools
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-logic/2016-06-01/swagger/logic.json'
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: arm-logic
  x-tags:
    - Azure
    - Microsoft
    - applications
    - automation
    - integrations
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  api-version:
    description: The API version.
    in: query
    name: api-version
    required: true
    type: string
  subscriptionId:
    description: The subscription id.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Logic/workflows':
    get:
      description: Gets a list of workflows by subscription.
      operationId: Workflows_ListBySubscription
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/api-version'
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowListResult'
      tags:
        - Workflows
      x-ms-odata: '#/definitions/WorkflowFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/locations/{location}/workflows/{workflowName}/validate':
    post:
      description: Validates the workflow definition.
      operationId: Workflows_Validate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow location.
          in: path
          name: location
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The workflow definition.
          in: body
          name: workflow
          required: true
          schema:
            $ref: '#/definitions/Workflow'
      responses:
        '200':
          description: OK
      tags:
        - Workflows
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows':
    get:
      description: Gets a list of workflows by resource group.
      operationId: Workflows_ListByResourceGroup
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowListResult'
      tags:
        - Workflows
      x-ms-odata: '#/definitions/WorkflowFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}':
    delete:
      description: Deletes a workflow.
      operationId: Workflows_Delete
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      tags:
        - Workflows
    get:
      description: Gets a workflow.
      operationId: Workflows_Get
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Workflow'
      tags:
        - Workflows
    patch:
      description: Updates a workflow.
      operationId: Workflows_Update
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The workflow.
          in: body
          name: workflow
          required: true
          schema:
            $ref: '#/definitions/Workflow'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Workflow'
      tags:
        - Workflows
    put:
      description: Creates or updates a workflow.
      operationId: Workflows_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The workflow.
          in: body
          name: workflow
          required: true
          schema:
            $ref: '#/definitions/Workflow'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Workflow'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Workflow'
      tags:
        - Workflows
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/disable':
    post:
      description: Disables a workflow.
      operationId: Workflows_Disable
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
      tags:
        - Workflows
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/enable':
    post:
      description: Enables a workflow.
      operationId: Workflows_Enable
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
      tags:
        - Workflows
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/generateUpgradedDefinition':
    post:
      description: Generates the upgraded definition for a workflow.
      operationId: Workflows_GenerateUpgradedDefinition
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: Parameters for generating an upgraded definition.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/GenerateUpgradedDefinitionParameters'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      tags:
        - Workflows
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs':
    get:
      description: Gets a list of workflow runs.
      operationId: WorkflowRuns_List
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowRunListResult'
      tags:
        - WorkflowRuns
      x-ms-odata: '#/definitions/WorkflowRunFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}':
    get:
      description: Gets a workflow run.
      operationId: WorkflowRuns_Get
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow run name.
          in: path
          name: runName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowRun'
      tags:
        - WorkflowRuns
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions':
    get:
      description: Gets a list of workflow run actions.
      operationId: WorkflowRunActions_List
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow run name.
          in: path
          name: runName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowRunActionListResult'
      tags:
        - WorkflowRunActions
      x-ms-odata: '#/definitions/WorkflowRunActionFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions/{actionName}':
    get:
      description: Gets a workflow run action.
      operationId: WorkflowRunActions_Get
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow run name.
          in: path
          name: runName
          required: true
          type: string
        - description: The workflow action name.
          in: path
          name: actionName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowRunAction'
      tags:
        - WorkflowRunActions
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/cancel':
    post:
      description: Cancels a workflow run.
      operationId: WorkflowRuns_Cancel
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow run name.
          in: path
          name: runName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
      tags:
        - WorkflowRuns
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/':
    get:
      description: Gets a list of workflow triggers.
      operationId: WorkflowTriggers_List
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowTriggerListResult'
      tags:
        - WorkflowTriggers
      x-ms-odata: '#/definitions/WorkflowTriggerFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}':
    get:
      description: Gets a workflow trigger.
      operationId: WorkflowTriggers_Get
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow trigger name.
          in: path
          name: triggerName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowTrigger'
      tags:
        - WorkflowTriggers
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/histories':
    get:
      description: Gets a list of workflow trigger histories.
      operationId: WorkflowTriggerHistories_List
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow trigger name.
          in: path
          name: triggerName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowTriggerHistoryListResult'
      tags:
        - WorkflowTriggerHistories
      x-ms-odata: '#/definitions/WorkflowTriggerHistoryFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/histories/{historyName}':
    get:
      description: Gets a workflow trigger history.
      operationId: WorkflowTriggerHistories_Get
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow trigger name.
          in: path
          name: triggerName
          required: true
          type: string
        - description: The workflow trigger history name.
          in: path
          name: historyName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowTriggerHistory'
      tags:
        - WorkflowTriggerHistories
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/listCallbackUrl':
    post:
      description: Gets the callback URL for a workflow trigger.
      operationId: WorkflowTriggers_ListCallbackUrl
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow trigger name.
          in: path
          name: triggerName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowTriggerCallbackUrl'
      tags:
        - WorkflowTriggers
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/run':
    post:
      description: Runs a workflow trigger.
      operationId: WorkflowTriggers_Run
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow trigger name.
          in: path
          name: triggerName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        default:
          description: All status codes are acceptable.
          schema:
            $ref: '#/definitions/Object'
      tags:
        - WorkflowTriggers
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/versions':
    get:
      description: Gets a list of workflow versions.
      operationId: WorkflowVersions_List
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowVersionListResult'
      tags:
        - WorkflowVersions
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/versions/{versionId}':
    get:
      description: Gets a workflow version.
      operationId: WorkflowVersions_Get
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow versionId.
          in: path
          name: versionId
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowVersion'
      tags:
        - WorkflowVersions
definitions:
  ContentHash:
    properties:
      algorithm:
        description: The algorithm.
        type: string
      value:
        description: The value.
        type: string
    type: object
  ContentLink:
    properties:
      contentHash:
        $ref: '#/definitions/ContentHash'
        description: The content hash.
      contentSize:
        description: The content size.
        format: int64
        type: integer
      contentVersion:
        description: The content version.
        type: string
      metadata:
        $ref: '#/definitions/Object'
        description: The metadata.
      uri:
        description: The content link URI.
        type: string
    type: object
  Correlation:
    properties:
      clientTrackingId:
        description: The client tracking id.
        type: string
    type: object
  DayOfWeek:
    enum:
      - Sunday
      - Monday
      - Tuesday
      - Wednesday
      - Thursday
      - Friday
      - Saturday
    type: string
    x-ms-enum:
      modelAsString: false
      name: DayOfWeek
  GenerateUpgradedDefinitionParameters:
    properties:
      targetSchemaVersion:
        description: The target schema version.
        type: string
    type: object
  KeyType:
    enum:
      - NotSpecified
      - Primary
      - Secondary
    type: string
    x-ms-enum:
      modelAsString: false
      name: KeyType
  Object:
    properties: {}
    type: object
  ParameterType:
    enum:
      - NotSpecified
      - String
      - SecureString
      - Int
      - Float
      - Bool
      - Array
      - Object
      - SecureObject
    type: string
    x-ms-enum:
      modelAsString: false
      name: ParameterType
  RecurrenceFrequency:
    enum:
      - NotSpecified
      - Second
      - Minute
      - Hour
      - Day
      - Week
      - Month
      - Year
    type: string
    x-ms-enum:
      modelAsString: false
      name: RecurrenceFrequency
  RecurrenceSchedule:
    properties:
      hours:
        description: The hours.
        items:
          format: int32
          type: integer
        type: array
      minutes:
        description: The minutes.
        items:
          format: int32
          type: integer
        type: array
      monthDays:
        description: The month days.
        items:
          format: int32
          type: integer
        type: array
      monthlyOccurrences:
        description: The monthly occurrences.
        items:
          $ref: '#/definitions/RecurrenceScheduleOccurrence'
        type: array
      weekDays:
        description: The days of the week.
        items:
          enum:
            - Sunday
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
          type: string
          x-ms-enum:
            modelAsString: false
            name: DaysOfWeek
        type: array
    type: object
  RecurrenceScheduleOccurrence:
    properties:
      day:
        $ref: '#/definitions/DayOfWeek'
        description: The day of the week.
      occurrence:
        description: The occurrence.
        format: int32
        type: integer
    type: object
  Resource:
    properties:
      id:
        description: The resource id.
        type: string
      location:
        description: The resource location.
        type: string
      name:
        description: Gets the resource name.
        type: string
      tags:
        additionalProperties:
          type: string
        description: The resource tags.
        type: object
      type:
        description: Gets the resource type.
        type: string
    x-ms-azure-resource: true
  ResourceReference:
    properties:
      id:
        description: The resource id.
        type: string
      name:
        description: Gets the resource name.
        readOnly: true
        type: string
      type:
        description: Gets the resource type.
        readOnly: true
        type: string
    type: object
  Sku:
    properties:
      name:
        $ref: '#/definitions/SkuName'
        description: The name.
      plan:
        $ref: '#/definitions/ResourceReference'
        description: The reference to plan.
    type: object
  SkuName:
    enum:
      - NotSpecified
      - Free
      - Shared
      - Basic
      - Standard
      - Premium
    type: string
    x-ms-enum:
      modelAsString: false
      name: SkuName
  SubResource:
    properties:
      id:
        description: The resource id.
        type: string
    x-ms-azure-resource: true
  Workflow:
    allOf:
      - $ref: '#/definitions/Resource'
    properties:
      properties:
        $ref: '#/definitions/WorkflowProperties'
        description: The workflow properties.
        x-ms-client-flatten: true
    type: object
  WorkflowFilter:
    properties:
      state:
        $ref: '#/definitions/WorkflowState'
        description: The state of workflows.
    type: object
  WorkflowListResult:
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: The list of workflows.
        items:
          $ref: '#/definitions/Workflow'
        type: array
    type: object
  WorkflowOutputParameter:
    allOf:
      - $ref: '#/definitions/WorkflowParameter'
    properties:
      error:
        $ref: '#/definitions/Object'
        description: Gets the error.
        readOnly: true
    type: object
  WorkflowParameter:
    properties:
      description:
        description: The description.
        type: string
      metadata:
        $ref: '#/definitions/Object'
        description: The metadata.
      type:
        $ref: '#/definitions/ParameterType'
        description: The type.
      value:
        $ref: '#/definitions/Object'
        description: The value.
    type: object
  WorkflowProperties:
    properties:
      accessEndpoint:
        description: Gets the access endpoint.
        readOnly: true
        type: string
      changedTime:
        description: Gets the changed time.
        format: date-time
        readOnly: true
        type: string
      createdTime:
        description: Gets the created time.
        format: date-time
        readOnly: true
        type: string
      definition:
        $ref: '#/definitions/Object'
        description: The definition.
      integrationAccount:
        $ref: '#/definitions/ResourceReference'
        description: The integration account.
      parameters:
        additionalProperties:
          $ref: '#/definitions/WorkflowParameter'
        description: The parameters.
        type: object
      provisioningState:
        $ref: '#/definitions/WorkflowProvisioningState'
        description: Gets the provisioning state.
        readOnly: true
      sku:
        $ref: '#/definitions/Sku'
        description: The sku.
      state:
        $ref: '#/definitions/WorkflowState'
        description: The state.
      version:
        description: Gets the version.
        readOnly: true
        type: string
    type: object
  WorkflowProvisioningState:
    enum:
      - NotSpecified
      - Accepted
      - Running
      - Ready
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Moving
      - Updating
      - Registering
      - Registered
      - Unregistering
      - Unregistered
      - Completed
    type: string
    x-ms-enum:
      modelAsString: false
      name: WorkflowProvisioningState
  WorkflowRun:
    allOf:
      - $ref: '#/definitions/SubResource'
    properties:
      name:
        description: Gets the workflow run name.
        readOnly: true
        type: string
      properties:
        $ref: '#/definitions/WorkflowRunProperties'
        description: The workflow run properties.
        x-ms-client-flatten: true
      type:
        description: Gets the workflow run type.
        readOnly: true
        type: string
    type: object
  WorkflowRunAction:
    allOf:
      - $ref: '#/definitions/SubResource'
    properties:
      name:
        description: Gets the workflow run action name.
        readOnly: true
        type: string
      properties:
        $ref: '#/definitions/WorkflowRunActionProperties'
        description: The workflow run action properties.
        x-ms-client-flatten: true
      type:
        description: Gets the workflow run action type.
        readOnly: true
        type: string
    type: object
  WorkflowRunActionFilter:
    properties:
      status:
        $ref: '#/definitions/WorkflowStatus'
        description: The status of workflow run action.
    type: object
  WorkflowRunActionListResult:
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: A list of workflow run actions.
        items:
          $ref: '#/definitions/WorkflowRunAction'
        type: array
    type: object
  WorkflowRunActionProperties:
    properties:
      code:
        description: Gets the code.
        readOnly: true
        type: string
      correlation:
        $ref: '#/definitions/Correlation'
        description: The correlation properties.
      endTime:
        description: Gets the end time.
        format: date-time
        readOnly: true
        type: string
      error:
        $ref: '#/definitions/Object'
        description: Gets the error.
        readOnly: true
      inputsLink:
        $ref: '#/definitions/ContentLink'
        description: Gets the link to inputs.
        readOnly: true
      outputsLink:
        $ref: '#/definitions/ContentLink'
        description: Gets the link to outputs.
        readOnly: true
      startTime:
        description: Gets the start time.
        format: date-time
        readOnly: true
        type: string
      status:
        $ref: '#/definitions/WorkflowStatus'
        description: Gets the status.
        readOnly: true
      trackedProperties:
        $ref: '#/definitions/Object'
        description: Gets the tracked properties.
        readOnly: true
      trackingId:
        description: Gets the tracking id.
        readOnly: true
        type: string
    type: object
  WorkflowRunFilter:
    properties:
      status:
        $ref: '#/definitions/WorkflowStatus'
        description: The status of workflow run.
    type: object
  WorkflowRunListResult:
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: A list of workflow runs.
        items:
          $ref: '#/definitions/WorkflowRun'
        type: array
    type: object
  WorkflowRunProperties:
    properties:
      code:
        description: Gets the code.
        readOnly: true
        type: string
      correlation:
        $ref: '#/definitions/Correlation'
        description: The run correlation.
      correlationId:
        description: Gets the correlation id.
        readOnly: true
        type: string
      endTime:
        description: Gets the end time.
        format: date-time
        readOnly: true
        type: string
      error:
        $ref: '#/definitions/Object'
        description: Gets the error.
        readOnly: true
      outputs:
        additionalProperties:
          $ref: '#/definitions/WorkflowOutputParameter'
        description: Gets the outputs.
        readOnly: true
        type: object
      response:
        $ref: '#/definitions/WorkflowRunTrigger'
        description: Gets the response of the flow run.
        readOnly: true
      startTime:
        description: Gets the start time.
        format: date-time
        readOnly: true
        type: string
      status:
        $ref: '#/definitions/WorkflowStatus'
        description: Gets the status.
        readOnly: true
      trigger:
        $ref: '#/definitions/WorkflowRunTrigger'
        description: Gets the fired trigger.
        readOnly: true
      workflow:
        $ref: '#/definitions/ResourceReference'
        description: Gets the reference to workflow version.
        readOnly: true
    type: object
  WorkflowRunTrigger:
    properties:
      code:
        description: Gets the code.
        readOnly: true
        type: string
      correlation:
        $ref: '#/definitions/Correlation'
        description: The run correlation.
      endTime:
        description: Gets the end time.
        format: date-time
        readOnly: true
        type: string
      error:
        $ref: '#/definitions/Object'
        description: Gets the error.
        readOnly: true
      inputs:
        $ref: '#/definitions/Object'
        description: Gets the inputs.
        readOnly: true
      inputsLink:
        $ref: '#/definitions/ContentLink'
        description: Gets the link to inputs.
        readOnly: true
      name:
        description: Gets the name.
        readOnly: true
        type: string
      outputs:
        $ref: '#/definitions/Object'
        description: Gets the outputs.
        readOnly: true
      outputsLink:
        $ref: '#/definitions/ContentLink'
        description: Gets the link to outputs.
        readOnly: true
      startTime:
        description: Gets the start time.
        format: date-time
        readOnly: true
        type: string
      status:
        $ref: '#/definitions/WorkflowStatus'
        description: Gets the status.
        readOnly: true
      trackedProperties:
        $ref: '#/definitions/Object'
        description: Gets the tracked properties.
        readOnly: true
      trackingId:
        description: Gets the tracking id.
        readOnly: true
        type: string
    type: object
  WorkflowState:
    enum:
      - NotSpecified
      - Completed
      - Enabled
      - Disabled
      - Deleted
      - Suspended
    type: string
    x-ms-enum:
      modelAsString: false
      name: WorkflowState
  WorkflowStatus:
    enum:
      - NotSpecified
      - Paused
      - Running
      - Waiting
      - Succeeded
      - Skipped
      - Suspended
      - Cancelled
      - Failed
      - Faulted
      - TimedOut
      - Aborted
      - Ignored
    type: string
    x-ms-enum:
      modelAsString: false
      name: WorkflowStatus
  WorkflowTrigger:
    allOf:
      - $ref: '#/definitions/SubResource'
    properties:
      name:
        description: Gets the workflow trigger name.
        readOnly: true
        type: string
      properties:
        $ref: '#/definitions/WorkflowTriggerProperties'
        description: The workflow trigger properties.
        x-ms-client-flatten: true
      type:
        description: Gets the workflow trigger type.
        readOnly: true
        type: string
    type: object
  WorkflowTriggerCallbackUrl:
    properties:
      value:
        description: Gets the workflow trigger callback URL.
        readOnly: true
        type: string
    type: object
  WorkflowTriggerFilter:
    properties:
      state:
        $ref: '#/definitions/WorkflowState'
        description: The state of workflow trigger.
    type: object
  WorkflowTriggerHistory:
    allOf:
      - $ref: '#/definitions/SubResource'
    properties:
      name:
        description: Gets the workflow trigger history name.
        readOnly: true
        type: string
      properties:
        $ref: '#/definitions/WorkflowTriggerHistoryProperties'
        description: Gets the workflow trigger history properties.
        x-ms-client-flatten: true
      type:
        description: Gets the workflow trigger history type.
        readOnly: true
        type: string
    type: object
  WorkflowTriggerHistoryFilter:
    properties:
      status:
        $ref: '#/definitions/WorkflowStatus'
        description: The status of workflow trigger history.
    type: object
  WorkflowTriggerHistoryListResult:
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: A list of workflow trigger histories.
        items:
          $ref: '#/definitions/WorkflowTriggerHistory'
        type: array
    type: object
  WorkflowTriggerHistoryProperties:
    properties:
      code:
        description: Gets the code.
        readOnly: true
        type: string
      correlation:
        $ref: '#/definitions/Correlation'
        description: The run correlation.
      endTime:
        description: Gets the end time.
        format: date-time
        readOnly: true
        type: string
      error:
        $ref: '#/definitions/Object'
        description: Gets the error.
        readOnly: true
      fired:
        description: Gets a value indicating whether trigger was fired.
        readOnly: true
        type: boolean
      inputsLink:
        $ref: '#/definitions/ContentLink'
        description: Gets the link to input parameters.
        readOnly: true
      outputsLink:
        $ref: '#/definitions/ContentLink'
        description: Gets the link to output parameters.
        readOnly: true
      run:
        $ref: '#/definitions/ResourceReference'
        description: Gets the reference to workflow run.
        readOnly: true
      startTime:
        description: Gets the start time.
        format: date-time
        readOnly: true
        type: string
      status:
        $ref: '#/definitions/WorkflowStatus'
        description: Gets the status.
        readOnly: true
      trackingId:
        description: Gets the tracking id.
        readOnly: true
        type: string
    type: object
  WorkflowTriggerListResult:
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: A list of workflow triggers.
        items:
          $ref: '#/definitions/WorkflowTrigger'
        type: array
    type: object
  WorkflowTriggerProperties:
    properties:
      changedTime:
        description: Gets the changed time.
        format: date-time
        readOnly: true
        type: string
      createdTime:
        description: Gets the created time.
        format: date-time
        readOnly: true
        type: string
      lastExecutionTime:
        description: Gets the last execution time.
        format: date-time
        readOnly: true
        type: string
      nextExecutionTime:
        description: Gets the next execution time.
        format: date-time
        readOnly: true
        type: string
      provisioningState:
        $ref: '#/definitions/WorkflowTriggerProvisioningState'
        description: Gets the provisioning state.
        readOnly: true
      recurrence:
        $ref: '#/definitions/WorkflowTriggerRecurrence'
        description: Gets the workflow trigger recurrence.
        readOnly: true
      state:
        $ref: '#/definitions/WorkflowState'
        description: Gets the state.
        readOnly: true
      status:
        $ref: '#/definitions/WorkflowStatus'
        description: Gets the status.
        readOnly: true
      workflow:
        $ref: '#/definitions/ResourceReference'
        description: Gets the reference to workflow.
        readOnly: true
    type: object
  WorkflowTriggerProvisioningState:
    enum:
      - NotSpecified
      - Accepted
      - Running
      - Ready
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Moving
      - Updating
      - Registering
      - Registered
      - Unregistering
      - Unregistered
      - Completed
    type: string
    x-ms-enum:
      modelAsString: false
      name: WorkflowTriggerProvisioningState
  WorkflowTriggerRecurrence:
    properties:
      endTime:
        description: The end time.
        format: date-time
        type: string
      frequency:
        $ref: '#/definitions/RecurrenceFrequency'
        description: The frequency.
      interval:
        description: The interval.
        format: int32
        type: integer
      schedule:
        $ref: '#/definitions/RecurrenceSchedule'
        description: The recurrence schedule.
      startTime:
        description: The start time.
        format: date-time
        type: string
      timeZone:
        description: The time zone.
        type: string
    type: object
  WorkflowVersion:
    allOf:
      - $ref: '#/definitions/Resource'
    properties:
      properties:
        $ref: '#/definitions/WorkflowVersionProperties'
        description: The workflow version properties.
        x-ms-client-flatten: true
    type: object
  WorkflowVersionListResult:
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: A list of workflow versions.
        items:
          $ref: '#/definitions/WorkflowVersion'
        type: array
    type: object
  WorkflowVersionProperties:
    properties:
      accessEndpoint:
        description: Gets the access endpoint.
        readOnly: true
        type: string
      changedTime:
        description: Gets the changed time.
        format: date-time
        readOnly: true
        type: string
      createdTime:
        description: Gets the created time.
        format: date-time
        readOnly: true
        type: string
      definition:
        $ref: '#/definitions/Object'
        description: The definition.
      integrationAccount:
        $ref: '#/definitions/ResourceReference'
        description: The integration account.
      parameters:
        additionalProperties:
          $ref: '#/definitions/WorkflowParameter'
        description: The parameters.
        type: object
      sku:
        $ref: '#/definitions/Sku'
        description: The sku.
      state:
        $ref: '#/definitions/WorkflowState'
        description: The state.
      version:
        description: Gets the version.
        readOnly: true
        type: string
    type: object
