{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://tv.api.pressassociation.io/v2"
    },
    {
      "url": "http://tv.api.pressassociation.io/v2"
    }
  ],
  "info": {
    "description": "Welcome to the API Reference Docs page for the Press Association TV API (v2).",
    "title": "TV API",
    "version": "2.0",
    "x-apisguru-categories": [
      "media"
    ],
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/PressAssociation/tv-api-v2-development-kit/master/swagger.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "pressassociation.io",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    }
  },
  "paths": {
    "/asset": {
      "get": {
        "description": "Return a collection of Assets.",
        "operationId": "listAssets",
        "parameters": [
          {
            "description": "Updated After",
            "in": "query",
            "name": "updatedAfter",
            "required": false,
            "schema": {
              "default": "2015-05-05T00:00:00.000Z",
              "pattern": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Limit the the number of items to be returned per page. For example: 5.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Flag to display Legacy and Provider Ids.",
            "in": "query",
            "name": "aliases",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n\t\"hasNext\": true,\n\t\"limit\": 2,\n\t\"item\": [{\n\t\t\t\"id\": \"5ad4cc44-3f18-52c5-8a3b-b65e791a25cf\",\n\t\t\t\"type\": \"movie\",\n\t\t\t\"title\": \"Hello Ladies: The Movie\",\n\t\t\t\"runtime\": 85,\n\t\t\t\"productionYear\": 2014,\n\t\t\t\"certification\": {\n\t\t\t\t\"bbfc\": \"12\"\n\t\t\t},\n\t\t\t\"meta\": {},\n\t\t\t\"category\": [{\n\t\t\t\t\t\"code\": \"movie-drama\",\n\t\t\t\t\t\"name\": \"Movie/Drama\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"code\": \"movie-drama:comedy\",\n\t\t\t\t\t\"name\": \"Comedy\",\n\t\t\t\t\t\"dvb\": \"1400\"\n\t\t\t\t}\n\t\t\t],\n\t\t\t\"attribute\": [\n\t\t\t\t\"tv-movie\"\n\t\t\t],\n\t\t\t\"summary\": {\n\t\t\t\t\"long\": \"Stuart's ex calls him from Britain to tell him she and her husband are visiting Los Angeles, so he sets out to impress them by recruiting a Russian model to pose as his girlfriend. However, the plan soon starts to unravel when she cancels, leaving Stuart to try to persuade his flatmate Jessica to take over. Feature-length special of the comedy, starring Stephen Merchant and Christine Woods, with a cameo appearance by Nicole Kidman\",\n\t\t\t\t\"medium\": \"Stuart tries to impress his visiting ex and her husband by recruiting a Russian model to pose as his girlfriend. Feature-length special of the comedy, starring Stephen Merchant\",\n\t\t\t\t\"short\": \"Feature-length special of the comedy, starring Stephen Merchant\"\n\t\t\t},\n\t\t\t\"media\": [{\n\t\t\t\t\"kind\": \"image:asset\",\n\t\t\t\t\"copyright\": \"¬© HBO\",\n\t\t\t\t\"expiry\": \"2019-01-01T00:00:00.000Z\",\n\t\t\t\t\"rendition\": {\n\t\t\t\t\t\"default\": {\n\t\t\t\t\t\t\"href\": \"https://tv.assets.pressassociation.io/aa8e0f8e-6650-50dc-8196-919e7caeba2c.jpg\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}],\n\t\t\t\"related\": [{\n\t\t\t\t\"type\": \"series\",\n\t\t\t\t\"id\": \"476baf58-6cbf-54c9-9d69-00be74be6c34\",\n\t\t\t\t\"title\": \"Hello Ladies\",\n\t\t\t\t\"media\": []\n\t\t\t}],\n\t\t\t\"subject\": [{\n\t\t    \"code\": \"programme:patv:2091892\",\n\t\t    \"profile\": \"asset\"\n\t    }],\n\t\t\t\"link\": [{\n\t\t\t\t\"rel\": \"contributor\",\n\t\t\t\t\"href\": \"https://tv.api.pressassociation.io/v2/asset/5ad4cc44-3f18-52c5-8a3b-b65e791a25cf/contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-07-21T18:07:00.425Z\",\n\t\t\t\"updatedAt\": \"2018-09-13T11:32:41.140Z\"\n\t\t},\n\t\t{\n\t\t\t\"id\": \"4f83438e-7e0b-50e3-b491-0fbdb758fde9\",\n\t\t\t\"type\": \"episode\",\n\t\t\t\"number\": 3,\n\t\t\t\"certification\": {},\n\t\t\t\"meta\": {\n\t\t\t\t\"episode\": \"3\"\n\t\t\t},\n\t\t\t\"category\": [],\n\t\t\t\"attribute\": [],\n\t\t\t\"summary\": {\n\t\t\t\t\"medium\": \"The sheer power that online platforms have to bring about the downfall of anyone in a matter of hours\",\n\t\t\t\t\"short\": \"The power that online platforms to bring people down\"\n\t\t\t},\n\t\t\t\"media\": [],\n\t\t\t\"related\": [{\n\t\t\t\t\t\"type\": \"season\",\n\t\t\t\t\t\"id\": \"9f8c14fd-e1bb-5acf-bea7-18d2f87ba940\",\n\t\t\t\t\t\"title\": \"Vogue Season 2\",\n\t\t\t\t\t\"number\": 2,\n\t\t\t\t\t\"media\": []\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"series\",\n\t\t\t\t\t\"id\": \"7bb984f4-85d6-5d70-9b95-967c56009cdf\",\n\t\t\t\t\t\"title\": \"Vogue\",\n\t\t\t\t\t\"media\": []\n\t\t\t\t}\n\t\t\t],\n\t\t\t\"subject\": [{\n\t\t    \"code\": \"programme:patv:3082393\",\n\t\t    \"profile\": \"asset\"\n\t    }],\n\t\t\t\"link\": [],\n\t\t\t\"createdAt\": \"2018-09-13T12:08:41.188Z\",\n\t\t\t\"updatedAt\": \"2018-09-13T12:08:41.188Z\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Asset Collection",
        "tags": [
          "Asset"
        ]
      }
    },
    "/asset/{assetId}": {
      "get": {
        "description": "Return the content of the selected asset.",
        "operationId": "getAsset",
        "parameters": [
          {
            "description": "A asset ID filter for the schedule collection. This can be a reference to any type of asset i.e. movie, season, series or episode.",
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Flag to display Legacy and Provider Ids.",
            "in": "query",
            "name": "aliases",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n\t\"id\": \"5ad4cc44-3f18-52c5-8a3b-b65e791a25cf\",\n\t\"type\": \"movie\",\n\t\"title\": \"Hello Ladies: The Movie\",\n\t\"runtime\": 85,\n\t\"productionYear\": 2014,\n\t\"certification\": {\n\t\t\"bbfc\": \"12\"\n\t},\n\t\"meta\": {},\n\t\"category\": [{\n\t\t\t\"code\": \"movie-drama\",\n\t\t\t\"name\": \"Movie/Drama\"\n\t\t},\n\t\t{\n\t\t\t\"code\": \"movie-drama:comedy\",\n\t\t\t\"name\": \"Comedy\",\n\t\t\t\"dvb\": \"1400\"\n\t\t}\n\t],\n\t\"attribute\": [\n\t\t\"tv-movie\"\n\t],\n\t\"summary\": {\n\t\t\"long\": \"Stuart's ex calls him from Britain to tell him she and her husband are visiting Los Angeles, so he sets out to impress them by recruiting a Russian model to pose as his girlfriend. However, the plan soon starts to unravel when she cancels, leaving Stuart to try to persuade his flatmate Jessica to take over. Feature-length special of the comedy, starring Stephen Merchant and Christine Woods, with a cameo appearance by Nicole Kidman\",\n\t\t\"medium\": \"Stuart tries to impress his visiting ex and her husband by recruiting a Russian model to pose as his girlfriend. Feature-length special of the comedy, starring Stephen Merchant\",\n\t\t\"short\": \"Feature-length special of the comedy, starring Stephen Merchant\"\n\t},\n\t\"media\": [{\n\t\t\"kind\": \"image:asset\",\n\t\t\"copyright\": \"¬© HBO\",\n\t\t\"expiry\": \"2019-01-01T00:00:00.000Z\",\n\t\t\"rendition\": {\n\t\t\t\"default\": {\n\t\t\t\t\"href\": \"https://tv.assets.pressassociation.io/aa8e0f8e-6650-50dc-8196-919e7caeba2c.jpg\"\n\t\t\t}\n\t\t}\n\t}],\n\t\"related\": [{\n\t\t\"type\": \"series\",\n\t\t\"id\": \"476baf58-6cbf-54c9-9d69-00be74be6c34\",\n\t\t\"title\": \"Hello Ladies\",\n\t\t\"subject\": [{\n\t\t\t\"code\": \"series:patv:171382\",\n\t\t\t\"profile\": \"asset\"\n\t\t}],\n\t\t\"media\": []\n\t}],\n\t\"subject\": [{\n\t\t\"code\": \"programme:patv:2091892\",\n\t\t\"profile\": \"asset\"\n\t}],\n\t\"link\": [{\n\t\t\"rel\": \"contributor\",\n\t\t\"href\": \"https://tv.api.pressassociation.io/v2/asset/5ad4cc44-3f18-52c5-8a3b-b65e791a25cf/contributor\"\n\t}],\n\t\"createdAt\": \"2018-07-21T18:07:00.425Z\",\n\t\"updatedAt\": \"2018-09-13T12:32:41.140Z\"\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Asset Detail",
        "tags": [
          "Asset"
        ]
      }
    },
    "/asset/{assetId}/contributor": {
      "get": {
        "description": "Return the contributors of the selected asset.",
        "operationId": "getAssetContributors",
        "parameters": [
          {
            "description": "A asset ID filter for the schedule collection. This can be a reference to any type of asset i.e. movie, season, series or episode.",
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Flag to display Legacy and Provider Ids.",
            "in": "query",
            "name": "aliases",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n\t\"hasNext\": false,\n\t\"total\": 12,\n\t\"item\": [{\n\t\t\t\"id\": \"e315bafc-c277-5e83-a496-050920771a32\",\n\t\t\t\"name\": \"Stephen Merchant\",\n\t\t\t\"dob\": \"1974-11-24\",\n\t\t\t\"from\": \"Bristol\",\n\t\t\t\"gender\": \"male\",\n\t\t\t\"meta\": {\n\t\t\t\t\"best-known-for\": \"Being Ricky Gervais' best friend, and sending Karl Pilkington around the world.\",\n\t\t\t\t\"early-life\": \"Merchant was born in Bristol and attended Hanham High School. He graduated from University of Warwick with a first-class degree in Film and Literature.\",\n\t\t\t\t\"career\": \"Before Merchant met Gervais, he was performing stand-up comedy. The pair worked together at London radio station XFM. Later, Merchant worked on a production course at the BBC, in which he enlisted Gervais' help for a short film called 'Seedy Boss' - which is when the idea of The Office arose, with both writing and directing the series. While The Office then enjoyed success Stateside, Gervais and Merchant also concentrated on BBC sitcom Extras. Then came Merchant's radio show for BBC 6 Music, The Steve Show. The comic is in the midst of nationwide tour of the UK, with a stop in New York, and continues to show up in movies and TV shows, including vehicles like An Idiot Abroad and Life's Too Short. \",\n\t\t\t\t\"quote\": \"\\\"Ricky's quite happy to provoke opinion, to blur the line between his acting and his stand-up persona. He likes to be a little bit provocative. He takes pleasure from that and he's good at it, and to him it feels challenging. It feels important. That doesn't concern me.\\\"  \",\n\t\t\t\t\"trivia\": \"\"\n\t\t\t},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:44703\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-07-18T16:20:19.008Z\",\n\t\t\t\"updatedAt\": \"2018-07-18T16:20:19.008Z\",\n\t\t\t\"character\": [{\n\t\t\t\t\"type\": \"actor\",\n\t\t\t\t\"name\": \"Stuart\"\n\t\t\t}],\n\t\t\t\"role\": [\n\t\t\t\t\"actor\",\n\t\t\t\t\"director\"\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"4e8e4d70-73bd-5ddc-a3f6-b641dd74a1c5\",\n\t\t\t\"name\": \"Christine Woods\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:116603\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-07-18T17:20:13.612Z\",\n\t\t\t\"updatedAt\": \"2018-07-18T17:20:13.612Z\",\n\t\t\t\"character\": [{\n\t\t\t\t\"type\": \"actor\",\n\t\t\t\t\"name\": \"Jessica\"\n\t\t\t}],\n\t\t\t\"role\": [\n\t\t\t\t\"actor\"\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"32a484a4-2db7-595e-aa1a-d3da8a627ceb\",\n\t\t\t\"name\": \"Nate Torrence\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:108549\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-07-18T17:11:30.159Z\",\n\t\t\t\"updatedAt\": \"2018-07-18T17:11:30.159Z\",\n\t\t\t\"character\": [{\n\t\t\t\t\"type\": \"actor\",\n\t\t\t\t\"name\": \"Wade\"\n\t\t\t}],\n\t\t\t\"role\": [\n\t\t\t\t\"actor\"\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"3935f2eb-6750-5382-ab7b-3efaf2278ff8\",\n\t\t\t\"name\": \"Kevin Weisman\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:70416\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-07-18T16:38:08.180Z\",\n\t\t\t\"updatedAt\": \"2018-07-18T16:38:08.180Z\",\n\t\t\t\"character\": [{\n\t\t\t\t\"type\": \"actor\",\n\t\t\t\t\"name\": \"Kives\"\n\t\t\t}],\n\t\t\t\"role\": [\n\t\t\t\t\"actor\"\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"96b213f4-6b60-539e-8bc8-9bea41498f72\",\n\t\t\t\"name\": \"Kyle Mooney\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:187866\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-07-18T18:23:43.446Z\",\n\t\t\t\"updatedAt\": \"2018-07-18T18:23:43.446Z\",\n\t\t\t\"character\": [{\n\t\t\t\t\"type\": \"actor\",\n\t\t\t\t\"name\": \"Rory\"\n\t\t\t}],\n\t\t\t\"role\": [\n\t\t\t\t\"actor\"\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"f4da7be8-0ee9-501e-80a7-34f1d2882ee9\",\n\t\t\t\"name\": \"Adam Campbell\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:85937\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-07-18T16:53:34.535Z\",\n\t\t\t\"updatedAt\": \"2018-07-18T16:53:34.535Z\",\n\t\t\t\"character\": [{\n\t\t\t\t\"type\": \"actor\",\n\t\t\t\t\"name\": \"Mike\"\n\t\t\t}],\n\t\t\t\"role\": [\n\t\t\t\t\"actor\"\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"6a1808ee-0576-59d2-ae04-2387f4c51baf\",\n\t\t\t\"name\": \"Carly Craig\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:187867\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-07-18T18:23:43.349Z\",\n\t\t\t\"updatedAt\": \"2018-07-18T18:23:43.349Z\",\n\t\t\t\"character\": [{\n\t\t\t\t\"type\": \"actor\",\n\t\t\t\t\"name\": \"Carrie\"\n\t\t\t}],\n\t\t\t\"role\": [\n\t\t\t\t\"actor\"\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"4c0b74e6-73e7-51b5-9cdb-d9c1b8ee4b65\",\n\t\t\t\"name\": \"Crista Flanagan\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:112273\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-07-18T17:16:10.228Z\",\n\t\t\t\"updatedAt\": \"2018-07-18T17:16:10.228Z\",\n\t\t\t\"character\": [{\n\t\t\t\t\"type\": \"actor\",\n\t\t\t\t\"name\": \"Marion\"\n\t\t\t}],\n\t\t\t\"role\": [\n\t\t\t\t\"actor\"\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"92b14527-1e9a-5b07-995a-dcc28777d635\",\n\t\t\t\"name\": \"Stephanie Corneliussen\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:187868\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-07-18T18:23:43.342Z\",\n\t\t\t\"updatedAt\": \"2018-07-18T18:23:43.342Z\",\n\t\t\t\"character\": [{\n\t\t\t\t\"type\": \"actor\",\n\t\t\t\t\"name\": \"Tatiana\"\n\t\t\t}],\n\t\t\t\"role\": [\n\t\t\t\t\"actor\"\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"de803291-8e80-5cca-ab09-417ac9a4a314\",\n\t\t\t\"name\": \"Stephen Tobolowsky\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:13712\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-07-18T15:54:00.330Z\",\n\t\t\t\"updatedAt\": \"2018-07-18T15:54:00.330Z\",\n\t\t\t\"character\": [{\n\t\t\t\t\"type\": \"actor\",\n\t\t\t\t\"name\": \"Alan\"\n\t\t\t}],\n\t\t\t\"role\": [\n\t\t\t\t\"actor\"\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"2fbf8395-44e9-5127-8e3a-d27eb9afab9c\",\n\t\t\t\"name\": \"Allison Tolman\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:178796\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-07-18T18:16:38.032Z\",\n\t\t\t\"updatedAt\": \"2018-07-18T18:16:38.032Z\",\n\t\t\t\"character\": [{\n\t\t\t\t\"type\": \"actor\",\n\t\t\t\t\"name\": \"Kate\"\n\t\t\t}],\n\t\t\t\"role\": [\n\t\t\t\t\"actor\"\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"93cb60a6-4cc3-5644-89c0-a45928a8498b\",\n\t\t\t\"name\": \"Nicole Kidman\",\n\t\t\t\"dob\": \"1967-06-20\",\n\t\t\t\"from\": \"Honolulu, Hawaii\",\n\t\t\t\"gender\": \"female\",\n\t\t\t\"meta\": {\n\t\t\t\t\"best-known-for\": \"A string of Hollywood movies.\",\n\t\t\t\t\"early-life\": \"Nicole Mary Kidman was born in Honolulu, Hawaii, on June 20, 1967, but spent three years in Washington DC before her parents moved to their native Sydney, Australia. Her father was a biochemist and clinical psychologist, her mother a nursing instructor. Her younger sister, Antonia, is a TV presenter in Australia. Nicole took ballet lessons, but eventually turned to acting, and received a letter of praise and encouragement from Jane Campion, who saw her in a play and later directed her in The Portrait of a Lady in 1996.\",\n\t\t\t\t\"career\": \"At 16, Kidman made her TV and film debuts in Young Talent Time and BMX Bandits respectively. Roles in Bush Christmas and A Country Practice followed. In 1989, Dead Calm and miniseries Bangkok Hilton brought her international acclaim, and launched her career in America. Future husband Tom Cruise cast her in Days of Thunder, while To Die For proved she was more than just a pretty face. Since then, she's appeared in a number of Hollywood movies, including Eyes Wide Shut, Moulin Rouge!, The Others and The Hours (for which she won an Oscar). More recent films include Rabbit Hole, The Paperboy, The Railway Man, Grace of Monaco, Before I Go to Sleep and Paddington.\",\n\t\t\t\t\"quote\": \"\\\"I believe that as much as you take, you have to give back. It's important not to focus on yourself too much.\\\"\",\n\t\t\t\t\"trivia\": \"In 1994, Kidman was appointed a goodwill ambassador for Unicef.\"\n\t\t\t},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:2030\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-07-18T15:51:34.948Z\",\n\t\t\t\"updatedAt\": \"2018-07-18T15:51:34.948Z\",\n\t\t\t\"character\": [{\n\t\t\t\t\"type\": \"actor\",\n\t\t\t\t\"name\": \"Herself\"\n\t\t\t}],\n\t\t\t\"role\": [\n\t\t\t\t\"actor\"\n\t\t\t]\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Asset Contributors",
        "tags": [
          "Asset"
        ]
      }
    },
    "/catalogue": {
      "get": {
        "description": "Return a collection of Catalogues.",
        "operationId": "listCatalogues",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"hasNext\": false,\n    \"total\": 3,\n    \"items\": [{\n      \"id\": \"f55530eb-d12f-40aa-8b20-e2fa4361cc24\",\n      \"name\": \"Amazon Prime\",\n      \"namespace\": \"catalogue:amazon-prime\"\n    }, {\n      \"id\": \"a2815ecc-dae1-521d-930a-43333e266c86\",\n      \"name\": \"BBC iPlayer\",\n      \"namespace\": \"catalogue:iplayer\"\n    }, {\n      \"id\": \"3e8bf6a5-5910-56f1-8070-ecea9143e89e\",\n      \"name\": \"Netflix\",\n      \"namespace\": \"catalogue:netflix\"\n    }]\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Catalogue Collection",
        "tags": [
          "Catalogue"
        ]
      }
    },
    "/catalogue/{catalogueId}": {
      "get": {
        "description": "Return the content of the selected catalogue.",
        "operationId": "getCatalogue",
        "parameters": [
          {
            "description": "The identifier for the selected catalogue.",
            "in": "path",
            "name": "catalogueId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"id\": \"f55530eb-d12f-40aa-8b20-e2fa4361cc24\",\n  \"name\": \"Amazon Prime\",\n  \"namespace\": \"catalogue:amazon-prime\"\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Catalogue Detail",
        "tags": [
          "Catalogue"
        ]
      }
    },
    "/catalogue/{catalogueId}/asset": {
      "get": {
        "description": "Return the content of the selected catalogue.",
        "operationId": "getCatalogueAsset",
        "parameters": [
          {
            "description": "The identifier for the selected catalogue.",
            "in": "path",
            "name": "catalogueId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The query string for a title search",
            "in": "query",
            "name": "title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The Start Date for the catalogue date range.",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "default": "2015-05-05T00:00:00",
              "pattern": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The End Date for the catalogue date range.",
            "in": "query",
            "name": "end",
            "required": false,
            "schema": {
              "default": "2015-05-06T00:00:00",
              "pattern": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Retrieve items only that have been updated after this point.",
            "in": "query",
            "name": "updatedAfter",
            "required": false,
            "schema": {
              "default": "2015-05-06T00:00:00",
              "pattern": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Restrict number of returned items Min = 1, Max = 500.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 500,
              "type": "number"
            }
          },
          {
            "description": "Flag to display Legacy and Provider Ids.",
            "in": "query",
            "name": "aliases",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"hasNext\": false,\n  \"total\": 93,\n  \"item\": [\n    {\n      \"id\": \"f55530eb-d12f-40aa-8b20-e2fa4361cc24\",\n      \"title\": \"The Hole\",\n      \"availibility\": {\n        \"start\": \"2020-12-22T14:15:00Z\",\n        \"end\": \"2021-03-22T14:15:00Z\"\n      },\n      \"link\": [\n        {\n          \"rel\": \"bbc-iplayer-playback\",\n          \"href\": \"https://www.live.bbctvapps.co.uk/tap/iplayer/tv/playback/b0872vmq\"\n        },\n        {\n          \"rel\": \"bbc-iplayer\",\n          \"href\": \"https://www.live.bbctvapps.co.uk/tap/iplayer\"\n        },\n        {\n          \"rel\": \"bbc-iplayer-ait\",\n          \"href\": \"https://www.live.bbctvapps.co.uk/tap/iplayer/ait/launch/iplayer.aitx\"\n        }\n      ],\n      \"asset\": {\n        \"id\": \"04ae6b98-6e5f-5f76-a879-16b04d8ade0b\",\n        \"type\": \"movie\",\n        \"title\": \"The Hole\",\n        \"runtime\": 91,\n        \"productionYear\": 2009,\n        \"certification\": {\n          \"bbfc\": \"12\"\n        },\n        \"meta\": {},\n        \"category\": [\n          {\n            \"code\": \"movie-drama\",\n            \"name\": \"Movie/Drama\",\n            \"dvb\": \"1000\"\n          },\n          {\n            \"code\": \"movie-drama:horror\",\n            \"name\": \"Horror\",\n            \"dvb\": \"1F03\"\n          }\n        ],\n        \"attribute\": [],\n        \"summary\": {\n          \"short\": \"Horror, starring Chris Massoglia\",\n          \"medium\": \"Three kids discover a mysterious hole in a basement that leads to a strange world where they must face their worst fears. Horror, starring Chris Massoglia and Haley Bennett\",\n          \"long\": \"Two brothers left alone in their new house discover a mysterious hole in the basement. Aided by a girl living next door, they explore the dark depths in search of treasure, only to end up in a strange world where they must each face their own worst fears. Joe Dante's horror, starring Chris Massoglia, Haley Bennett, Nathan Gamble, Teri Polo and Bruce Dern\"\n        },\n        \"contributor\": [\n          {\n            \"id\": \"a740ab1c-69b5-5e46-ae6c-ea2894940bec\",\n            \"name\": \"Chris Massoglia\",\n            \"meta\": {},\n            \"media\": [],\n            \"character\": [\n              {\n                \"type\": \"actor\",\n                \"name\": \"Dane\"\n              }\n            ],\n            \"role\": [\n                \"actor\"\n            ]\n          },\n          {\n            \"id\": \"e8c1460b-7348-5620-8641-40172762d925\",\n            \"name\": \"Haley Bennett\",\n            \"meta\": {},\n            \"media\": [],\n            \"character\": [\n              {\n                \"type\": \"actor\",\n                \"name\": \"Julie\"\n              }\n            ],\n            \"role\": [\n                \"actor\"\n            ]\n          },\n          {\n            \"id\": \"d8abeab7-efc3-57cf-b3f1-c7b4f0347c4a\",\n            \"name\": \"Nathan Gamble\",\n            \"meta\": {},\n            \"media\": [],\n            \"character\": [\n              {\n                \"type\": \"actor\",\n                \"name\": \"Lucas\"\n              }\n            ],\n            \"role\": [\n                \"actor\"\n            ]\n          },\n          {\n            \"id\": \"070c70d5-af59-5a3e-8715-943281b72c96\",\n            \"name\": \"Teri Polo\",\n            \"meta\": {},\n            \"media\": [],\n            \"character\": [\n              {\n                \"type\": \"actor\",\n                \"name\": \"Susan\"\n              }\n            ],\n            \"role\": [\n                \"actor\"\n            ]\n          },\n          {\n            \"id\": \"e325fc7a-a985-5bbe-8d89-99003960bfbc\",\n            \"name\": \"Bruce Dern\",\n            \"meta\": {},\n            \"media\": [],\n            \"character\": [\n              {\n                \"type\": \"actor\",\n                \"name\": \"Creepy Carl\"\n              }\n            ],\n            \"role\": [\n                \"actor\"\n            ]\n          },\n          {\n            \"id\": \"418fe6d6-7df1-5012-a367-56abdc3e3c44\",\n            \"name\": \"Quinn Lord\",\n            \"meta\": {},\n            \"media\": [],\n            \"character\": [\n              {\n                \"type\": \"actor\",\n                \"name\": \"Annie Smith\"\n              }\n            ],\n            \"role\": [\n                \"actor\"\n            ]\n          },\n          {\n            \"id\": \"bf1dc78e-73bf-58c7-aa17-e820e20d32ed\",\n            \"name\": \"Mark Pawson\",\n            \"meta\": {},\n            \"media\": [],\n            \"character\": [\n              {\n                \"type\": \"actor\",\n                \"name\": \"Travis\"\n              }\n            ],\n            \"role\": [\n                \"actor\"\n            ]\n          },\n          {\n            \"id\": \"d8221daf-c1c5-54ff-b7a3-b2b696edf6e1\",\n            \"name\": \"Merritt Patterson\",\n            \"meta\": {},\n            \"media\": [],\n            \"character\": [\n              {\n                \"type\": \"actor\",\n                \"name\": \"Jessica\"\n              }\n            ],\n            \"role\": [\n                \"actor\"\n            ]\n          },\n          {\n            \"id\": \"477fe6b3-35b9-5127-aa4e-125285010eb7\",\n            \"name\": \"Joe Dante\",\n            \"meta\": {},\n            \"media\": [],\n            \"character\": [],\n            \"role\": [\n                \"director\"\n            ]\n          }\n        ],\n        \"media\": [\n          {\n            \"kind\": \"image:asset\",\n            \"copyright\": \"© 2009 Ed Araquel/Bold FIlms/sky\",\n            \"rendition\": {\n              \"default\": {\n                \"href\": \"https://tv.assets.pressassociation.io/6caf8bc9-2bb9-53f6-b145-8fe056fa7395.jpg\"\n              }\n            }\n          }\n        ],\n        \"related\": [],\n        \"link\": [\n          {\n            \"rel\": \"contributor\",\n            \"href\": \"https://tv.api.pressassociation.io/v2/asset/04ae6b98-6e5f-5f76-a879-16b04d8ade0b/contributor\"\n          }\n        ]\n      }\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Catalogue Asset Collection",
        "tags": [
          "Catalogue"
        ]
      }
    },
    "/catalogue/{catalogueId}/asset/{assetId}": {
      "get": {
        "description": "Return the content of the selected catalogue asset.",
        "operationId": "getCatalogueAssetDetail",
        "parameters": [
          {
            "description": "The identifier for the selected catalogue.",
            "in": "path",
            "name": "catalogueId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The identifier for the selected catalogue asset.",
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"id\": \"44cc7da6-6a71-5d4c-a943-c8f457945aa0\",\n  \"title\": \"House Guest\",\n  \"number\": 2,\n  \"season\": 3,\n  \"certification\": {\n    \"netflix\": \"U\"\n  },\n  \"meta\": {\n    \"cast\": \"Jasmine St. Clair,Allegra Clark,Rosamund Marks,Faye Mata,Kira Buckland,David Roach,Brad Venable\",\n    \"directors\": \"Andrew Tan,Stephen Murray\",\n    \"genres\": \"Kids' Music,Kids' TV,TV Cartoons\",\n    \"episode\": 2,\n    \"season\": 3\n  },\n  \"attribute\": [],\n  \"media\": [],\n  \"summary\": {\n    \"long\": \"When Dr. Alvah and her gruff friends move into the Friendship House, the girls must find a new spot to hang out.\"\n  },\n  \"link\": [\n    {\n      \"rel\": \"asset\",\n      \"href\": \"https://tv.api.pressassociation.io/v2/asset/031fa01e-7acf-58d9-95e2-8df67afa860c\"\n    }\n  ],\n  \"availability\": {\n    \"start\": \"2022-07-17T00:00:00.000Z\",\n    \"region\": \"UK\"\n  },\n  \"deeplink\": [\n    {\n      \"rel\": \"url\",\n      \"href\": \"https://www.netflix.com/browse?jbv=81279856\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Catalogue Asset Detail",
        "tags": [
          "Catalogue"
        ]
      }
    },
    "/channel": {
      "get": {
        "description": "If you are interested in a list of channels that have had there schedule updated you can filter by the following query params.\n - scheduleStart\n - scheduleEnd\n - scheduleUpdatedSince\n\nadding these query params will filter the channel collection to only return channels that have been updated within the given range, updatedSince stores the state of your previous call.\n\nExample Usage: Every 10 minutes get me the channels that have updated schedules for the next 2 weeks.\n\n/channel?platform={uuid}&scheduleStart={today}&scheduleEnd={today + 2 weeks}&updatedSince={10 minutes ago}\n\nAlso please note epg numbers are only exposed when a platform and region are passed to the query.",
        "operationId": "listChannels",
        "parameters": [
          {
            "description": "The identifier for the selected platform. Multiple platforms can be passed to the API without a region Id. Passing multiple platforms without a region will not return epg numbers as these are linked to a platform and region.",
            "in": "query",
            "name": "platformId",
            "required": false,
            "schema": {
              "default": "d3b26caa-8c7d-5f97-9eff-40fcf1a6f8d3",
              "type": "string"
            }
          },
          {
            "description": "The platform region ID for the channel selection.",
            "in": "query",
            "name": "regionId",
            "required": false,
            "schema": {
              "default": "afa4f624-da9b-54ce-b514-570345dbbdce",
              "type": "string"
            }
          },
          {
            "description": "Flag to display Legacy and Provider Ids.",
            "in": "query",
            "name": "aliases",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          },
          {
            "description": "Date of the Channel State to select, this will display channel names and attributes in the future or past.",
            "in": "query",
            "name": "date",
            "required": false,
            "schema": {
              "default": "2018-09-15",
              "pattern": "date",
              "type": "string"
            }
          },
          {
            "description": "The Start Date for the schedule.",
            "in": "query",
            "name": "scheduleStart",
            "required": false,
            "schema": {
              "default": "2015-05-05T00:00:00",
              "pattern": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The End Date for the schedule.",
            "in": "query",
            "name": "scheduleEnd",
            "required": false,
            "schema": {
              "default": "2015-05-06T00:00:00",
              "pattern": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Schedule Updated Since",
            "in": "query",
            "name": "scheduleUpdatedSince",
            "required": false,
            "schema": {
              "default": "2015-05-05T00:00:00",
              "pattern": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n\t\"hasNext\": false,\n\t\"total\": 4,\n\t\"item\": [{\n\t\t\t\"id\": \"39a2da9d-dfff-5c6c-8117-43f7d97c992a\",\n\t\t\t\"title\": \"Sky Arts HD\",\n\t\t\t\"epg\": \"122\",\n\t\t\t\"attribute\": [\n\t\t\t\t\"hd\"\n\t\t\t],\n\t\t\t\"meta\": {},\n\t\t\t\"category\": [{\n\t\t\t\t\"code\": \"entertainment\",\n\t\t\t\t\"name\": \"Entertainment\"\n\t\t\t}],\n\t\t\t\"media\": [{\n\t\t\t\t\"kind\": \"image:logo\",\n\t\t\t\t\"rendition\": {\n\t\t\t\t\t\"default\": {\n\t\t\t\t\t\t\"href\": \"https://tv.assets.pressassociation.io/703fd0ae-9879-5931-aabd-e28d924881b2.png\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"channel:patv:1356\",\n\t\t\t\t\"profile\": \"channel\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"5c56dba8-10dd-5b7e-aa9d-0317867ec2c9\",\n\t\t\t\"title\": \"Sky Atlantic\",\n\t\t\t\"epg\": \"808\",\n\t\t\t\"attribute\": [],\n\t\t\t\"meta\": {},\n\t\t\t\"category\": [{\n\t\t\t\t\"code\": \"entertainment\",\n\t\t\t\t\"name\": \"Entertainment\"\n\t\t\t}],\n\t\t\t\"media\": [{\n\t\t\t\t\"kind\": \"image:logo\",\n\t\t\t\t\"rendition\": {\n\t\t\t\t\t\"default\": {\n\t\t\t\t\t\t\"href\": \"https://tv.assets.pressassociation.io/9815ca87-c213-5c76-8ccc-244f698b391b.png\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"channel:patv:1628\",\n\t\t\t\t\"profile\": \"channel\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"a09789e9-1ed1-5dc9-9bb0-843240810372\",\n\t\t\t\"title\": \"Sky Atlantic +1\",\n\t\t\t\"epg\": \"208\",\n\t\t\t\"attribute\": [],\n\t\t\t\"meta\": {},\n\t\t\t\"category\": [{\n\t\t\t\t\"code\": \"entertainment\",\n\t\t\t\t\"name\": \"Entertainment\"\n\t\t\t}],\n\t\t\t\"media\": [{\n\t\t\t\t\"kind\": \"image:logo\",\n\t\t\t\t\"rendition\": {\n\t\t\t\t\t\"default\": {\n\t\t\t\t\t\t\"href\": \"https://tv.assets.pressassociation.io/9b7e7ce9-a080-5f64-b22a-e09bb62b5c92.png\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"channel:patv:1757\",\n\t\t\t\t\"profile\": \"channel\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"17430b79-ac54-55a9-8530-1b62247e9d9f\",\n\t\t\t\"title\": \"Sky Atlantic HD\",\n\t\t\t\"epg\": \"108\",\n\t\t\t\"attribute\": [\n\t\t\t\t\"hd\"\n\t\t\t],\n\t\t\t\"meta\": {},\n\t\t\t\"category\": [{\n\t\t\t\t\"code\": \"entertainment\",\n\t\t\t\t\"name\": \"Entertainment\"\n\t\t\t}],\n\t\t\t\"media\": [{\n\t\t\t\t\"kind\": \"image:logo\",\n\t\t\t\t\"rendition\": {\n\t\t\t\t\t\"default\": {\n\t\t\t\t\t\t\"href\": \"https://tv.assets.pressassociation.io/9f1a0be2-570d-56cf-a0ed-07f8efcec6b1.png\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"channel:patv:1629\",\n\t\t\t\t\"profile\": \"channel\"\n\t\t\t}]\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Channel Collection",
        "tags": [
          "Channel"
        ]
      }
    },
    "/channel/{channelId}": {
      "get": {
        "description": "Return the content of the selected channel.",
        "operationId": "getChannel",
        "parameters": [
          {
            "description": "The identifier for the selected channel.",
            "in": "path",
            "name": "channelId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Flag to display Legacy and Provider Ids.",
            "in": "query",
            "name": "aliases",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n\t\"id\": \"04498b90-567b-56f0-a4ee-793c4d5d1f40\",\n\t\"title\": \"BBC One HD\",\n\t\"attribute\": [\n\t\t\"hd\"\n\t],\n\t\"meta\": {\n\t\t\"live-stream\": \"https://www.bbc.co.uk/tv/bbcone/live\"\n\t},\n\t\"category\": [{\n\t\t\"code\": \"entertainment\",\n\t\t\"name\": \"Entertainment\"\n\t}],\n\t\"media\": [{\n\t\t\"kind\": \"image:logo\",\n\t\t\"rendition\": {\n\t\t\t\"default\": {\n\t\t\t\t\"href\": \"https://tv.assets.pressassociation.io/ea24a3e3-bd81-53fe-9d30-b0cbcea05abf.png\"\n\t\t\t}\n\t\t}\n\t}],\n\t\"subject\": [{\n\t\t\t\"code\": \"channel:patv:1609\",\n\t\t\t\"profile\": \"channel\"\n\t\t},\n\t\t{\n\t\t\t\"code\": \"channel:youview:1182\",\n\t\t\t\"profile\": \"channel\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Channel Detail",
        "tags": [
          "Channel"
        ]
      }
    },
    "/contributor": {
      "get": {
        "description": "Return a collection of Contributors.",
        "operationId": "listContributor",
        "parameters": [
          {
            "description": "Updated After",
            "in": "query",
            "name": "updatedAfter",
            "required": false,
            "schema": {
              "default": "2015-05-05T00:00:00.000Z",
              "pattern": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Limit the the number of items to be returned per page. For example: 5.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Flag to display Legacy and Provider Ids.",
            "in": "query",
            "name": "aliases",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n\t\"hasNext\": true,\n\t\"limit\": 10,\n\t\"item\": [{\n\t\t\t\"id\": \"3190b65d-a5f4-52a3-ab81-7e4c74d4b669\",\n\t\t\t\"name\": \"Ned Michaels\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:219728\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-09-13T14:07:01.210Z\",\n\t\t\t\"updatedAt\": \"2018-09-13T10:07:01.210Z\"\n\t\t},\n\t\t{\n\t\t\t\"id\": \"ddae2b39-8eb6-5b42-a7dc-401a45342b60\",\n\t\t\t\"name\": \"Adriano Falivene\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:219727\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-09-13T11:51:00.811Z\",\n\t\t\t\"updatedAt\": \"2018-09-13T11:51:00.811Z\"\n\t\t},\n\t\t{\n\t\t\t\"id\": \"e2f80721-76d7-5a88-81c0-c7ee595faa7d\",\n\t\t\t\"name\": \"Luca Tanganelli\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:219726\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-09-13T11:50:40.808Z\",\n\t\t\t\"updatedAt\": \"2018-09-13T12:50:40.808Z\"\n\t\t},\n\t\t{\n\t\t\t\"id\": \"43cad8e3-3bd1-58fe-8fd5-f896bc2830d9\",\n\t\t\t\"name\": \"Vincenzo De Michele\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:219725\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-09-13T11:50:20.778Z\",\n\t\t\t\"updatedAt\": \"2018-09-13T13:50:20.778Z\"\n\t\t},\n\t\t{\n\t\t\t\"id\": \"884b1aa4-c432-5d25-9fb1-5628a16f6006\",\n\t\t\t\"name\": \"Giovanni Calcagno\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:219724\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-09-13T11:50:00.900Z\",\n\t\t\t\"updatedAt\": \"2018-09-13T14:50:00.900Z\"\n\t\t},\n\t\t{\n\t\t\t\"id\": \"823328c0-c60f-5d6c-9ced-9faa9ff7d93e\",\n\t\t\t\"name\": \"Franco Salamon\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:219723\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-09-13T11:49:40.809Z\",\n\t\t\t\"updatedAt\": \"2018-09-13T15:49:40.809Z\"\n\t\t},\n\t\t{\n\t\t\t\"id\": \"a1476b32-e459-57a5-987e-431abaa7d4f7\",\n\t\t\t\"name\": \"Giulio Beranek\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:219722\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-09-13T11:49:20.942Z\",\n\t\t\t\"updatedAt\": \"2018-09-13T16:49:20.942Z\"\n\t\t},\n\t\t{\n\t\t\t\"id\": \"eca6748f-7a64-5e91-b51c-e7faffeafda8\",\n\t\t\t\"name\": \"Massimiliano Frateschi\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:219721\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-09-13T11:49:20.940Z\",\n\t\t\t\"updatedAt\": \"2018-09-13T17:49:20.940Z\"\n\t\t},\n\t\t{\n\t\t\t\"id\": \"f860d05f-49c5-5021-8ad1-6051d3dcb7cd\",\n\t\t\t\"name\": \"Luca Marinelli\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:219720\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-09-13T11:48:20.978Z\",\n\t\t\t\"updatedAt\": \"2018-09-13T18:48:20.978Z\"\n\t\t},\n\t\t{\n\t\t\t\"id\": \"27ba4011-9bc8-5236-9161-d87737a28f44\",\n\t\t\t\"name\": \"Ruben Alba\",\n\t\t\t\"meta\": {},\n\t\t\t\"media\": [],\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"person:patv:219719\",\n\t\t\t\t\"profile\": \"contributor\"\n\t\t\t}],\n\t\t\t\"createdAt\": \"2018-09-13T10:00:40.717Z\",\n\t\t\t\"updatedAt\": \"2018-09-13T19:00:40.717Z\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Contributor Collection",
        "tags": [
          "Contributor"
        ]
      }
    },
    "/contributor/{contributorId}": {
      "get": {
        "description": "Return the content of the selected contributor.",
        "operationId": "getContributor",
        "parameters": [
          {
            "description": "Filter the schedule items by contributor ID",
            "in": "path",
            "name": "contributorId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Flag to display Legacy and Provider Ids.",
            "in": "query",
            "name": "aliases",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n\t\"id\": \"e315bafc-c277-5e83-a496-050920771a32\",\n\t\"name\": \"Stephen Merchant\",\n\t\"dob\": \"1974-11-24\",\n\t\"from\": \"Bristol\",\n\t\"gender\": \"male\",\n\t\"meta\": {\n\t\t\"best-known-for\": \"Being Ricky Gervais' best friend, and sending Karl Pilkington around the world.\",\n\t\t\"early-life\": \"Merchant was born in Bristol and attended Hanham High School. He graduated from University of Warwick with a first-class degree in Film and Literature.\",\n\t\t\"career\": \"Before Merchant met Gervais, he was performing stand-up comedy. The pair worked together at London radio station XFM. Later, Merchant worked on a production course at the BBC, in which he enlisted Gervais' help for a short film called 'Seedy Boss' - which is when the idea of The Office arose, with both writing and directing the series. While The Office then enjoyed success Stateside, Gervais and Merchant also concentrated on BBC sitcom Extras. Then came Merchant's radio show for BBC 6 Music, The Steve Show. The comic is in the midst of nationwide tour of the UK, with a stop in New York, and continues to show up in movies and TV shows, including vehicles like An Idiot Abroad and Life's Too Short. \",\n\t\t\"quote\": \"\\\"Ricky's quite happy to provoke opinion, to blur the line between his acting and his stand-up persona. He likes to be a little bit provocative. He takes pleasure from that and he's good at it, and to him it feels challenging. It feels important. That doesn't concern me.\\\"  \",\n\t\t\"trivia\": \"\"\n\t},\n\t\"media\": [],\n\t\"subject\": [{\n\t\t\"code\": \"person:patv:44703\",\n\t\t\"profile\": \"contributor\"\n\t}],\n\t\"createdAt\": \"2018-07-18T16:20:19.008Z\",\n\t\"updatedAt\": \"2018-07-18T16:20:19.008Z\"\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Contributor Detail",
        "tags": [
          "Contributor"
        ]
      }
    },
    "/feature": {
      "get": {
        "description": "Return a collection of Feature.",
        "operationId": "listFeatures",
        "parameters": [
          {
            "description": "The namespace of the feature type.",
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "default": "netflix-monthly",
              "type": "string"
            }
          },
          {
            "description": "Date of the collection of feature items.",
            "in": "query",
            "name": "date",
            "required": false,
            "schema": {
              "default": "2018-09-15",
              "pattern": "date",
              "type": "string"
            }
          },
          {
            "description": "Start date for a range of features.",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "default": "2018-09-15",
              "pattern": "date",
              "type": "string"
            }
          },
          {
            "description": "End date for a range of features.",
            "in": "query",
            "name": "end",
            "required": false,
            "schema": {
              "default": "2018-10-15",
              "pattern": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n\t\"id\": \"98bfb7dc-2531-56b7-acb0-fdbe1b8c1e48\",\n\t\"start\": \"2018-08-31T23:00:00.000Z\",\n\t\"end\": \"2018-09-30T22:59:59.999Z\",\n\t\"type\": \"monthly-all4\",\n\t\"selection\": [{\n\t\t\t\"available\": \"2018-09-08T00:00:00.000Z\",\n\t\t\t\"summary\": {\n\t\t\t\t\"long\": \"(Available now) Remember an Icelandic crime series called Case, which was available early in 2017? The Court is its prequel, set in the offices of a Reykjavik law firm. Lawyers Brynhildur and Hordur offer support to their colleague, Logi Traustason, when he becomes increasingly obsessed with solving a bizarre incident from his youth that led him to his incarceration for manslaughter. The Court, or Rettur as it's known in its native country, is Iceland's most acclaimed crime series ever, and after watching the first episode, you'll realise why.\"\n\t\t\t},\n\t\t\t\"attribute\": [],\n\t\t\t\"asset\": {\n\t\t\t\t\"id\": \"b171d710-cfce-5cf0-835d-f5d99d7f3b49\",\n\t\t\t\t\"type\": \"episode\",\n\t\t\t\t\"certification\": {},\n\t\t\t\t\"meta\": {},\n\t\t\t\t\"category\": [{\n\t\t\t\t\t\t\"code\": \"movie-drama\",\n\t\t\t\t\t\t\"name\": \"Movie/Drama\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"movie-drama:detective-thriller\",\n\t\t\t\t\t\t\"name\": \"Detective/Thriller\",\n\t\t\t\t\t\t\"dvb\": \"1100\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"attribute\": [],\n\t\t\t\t\"summary\": {\n\t\t\t\t\t\"short\": \"Icelandic crime drama, starring Magnús Jónsson\"\n\t\t\t\t},\n\t\t\t\t\"media\": [],\n\t\t\t\t\"contributor\": [],\n\t\t\t\t\"related\": [{\n\t\t\t\t\t\"type\": \"series\",\n\t\t\t\t\t\"id\": \"5c6f9b04-ed1f-5c64-b4da-44527804f319\",\n\t\t\t\t\t\"title\": \"The Court\",\n\t\t\t\t\t\"subject\": [{\n\t\t\t\t\t\t\"code\": \"series:patv:266353\",\n\t\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t\t}],\n\t\t\t\t\t\"media\": []\n\t\t\t\t}],\n\t\t\t\t\"subject\": [{\n\t\t\t\t\t\"code\": \"programme:patv:3071733\",\n\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t}],\n\t\t\t\t\"link\": []\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"available\": \"2018-09-08T00:00:00.000Z\",\n\t\t\t\"summary\": {\n\t\t\t\t\"long\": \"(From Friday) After Friday, when the internationally renowned VICE channel makes 900 hours of its award-winning programmes available via All 4, viewers really won't be able to say they can't find anything to watch anymore. Among the highlights we can expect Jamali Maddix's documentary series Hate Thy Neighbour, the Emmy-nominated travel series Gaycation, Black Market, which is a personal project for The Wire and Boardwalk Empire star Michael K Williams, and Needles and Pins, an in-depth look at the tattoo scene.\"\n\t\t\t},\n\t\t\t\"attribute\": [],\n\t\t\t\"asset\": {\n\t\t\t\t\"id\": \"ef8805aa-ee59-5985-aa15-86b755c63e83\",\n\t\t\t\t\"type\": \"episode\",\n\t\t\t\t\"certification\": {},\n\t\t\t\t\"meta\": {},\n\t\t\t\t\"category\": [{\n\t\t\t\t\t\t\"code\": \"social-political-issues-economics\",\n\t\t\t\t\t\t\"name\": \"Social/Political Issues/Economics\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"social-political-issues-economics:general\",\n\t\t\t\t\t\t\"name\": \"General\",\n\t\t\t\t\t\t\"dvb\": \"8000\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"attribute\": [],\n\t\t\t\t\"summary\": {\n\t\t\t\t\t\"short\": \"All4 on demand platform\"\n\t\t\t\t},\n\t\t\t\t\"contributor\": [],\n\t\t\t\t\"media\": [],\n\t\t\t\t\"related\": [{\n\t\t\t\t\t\"type\": \"series\",\n\t\t\t\t\t\"id\": \"5b1ff7e7-5cbc-5e80-a9b3-1b065d384ac9\",\n\t\t\t\t\t\"title\": \"Vice\",\n\t\t\t\t\t\"subject\": [{\n\t\t\t\t\t\t\"code\": \"series:patv:266357\",\n\t\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t\t}],\n\t\t\t\t\t\"media\": []\n\t\t\t\t}],\n\t\t\t\t\"subject\": [{\n\t\t\t\t\t\"code\": \"programme:patv:3071756\",\n\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t}],\n\t\t\t\t\"link\": []\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"available\": \"2018-09-01T00:00:00.000Z\",\n\t\t\t\"summary\": {},\n\t\t\t\"attribute\": [],\n\t\t\t\"asset\": {\n\t\t\t\t\"id\": \"bc0324e2-14d3-51fc-aff4-012ba9871ffb\",\n\t\t\t\t\"type\": \"episode\",\n\t\t\t\t\"title\": \"Box Set\",\n\t\t\t\t\"certification\": {},\n\t\t\t\t\"meta\": {},\n\t\t\t\t\"category\": [],\n\t\t\t\t\"attribute\": [],\n\t\t\t\t\"summary\": {\n\t\t\t\t\t\"short\": \"Drama following a group of young people in Chester\",\n\t\t\t\t\t\"medium\": \"Drama following the lives and loves of young people in Chester\",\n\t\t\t\t\t\"long\": \"Drama following the lives and loves of a group of teenagers and young adults in Chester\"\n\t\t\t\t},\n\t\t\t\t\"contributor\": [],\n\t\t\t\t\"media\": [],\n\t\t\t\t\"related\": [{\n\t\t\t\t\t\"type\": \"series\",\n\t\t\t\t\t\"id\": \"895826b7-cce2-52fb-91bd-46419c793880\",\n\t\t\t\t\t\"title\": \"Hollyoaks\",\n\t\t\t\t\t\"subject\": [{\n\t\t\t\t\t\t\"code\": \"series:patv:798\",\n\t\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t\t}],\n\t\t\t\t\t\"media\": []\n\t\t\t\t}],\n\t\t\t\t\"subject\": [{\n\t\t\t\t\t\"code\": \"programme:patv:3049329\",\n\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t}],\n\t\t\t\t\"link\": []\n\t\t\t}\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Feature Collection",
        "tags": [
          "Feature"
        ]
      }
    },
    "/feature-type": {
      "get": {
        "description": "Return a collection of Feature Types.",
        "operationId": "listFeatureTypes",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n\t\"hasNext\": false,\n\t\"total\": 3,\n\t\"item\": [{\n\t\t\t\"id\": \"15426f44-eabc-52f0-b208-8e19cbb1ab58\",\n\t\t\t\"name\": \"Monthly Now TV Entertainment\",\n\t\t\t\"namespace\": \"monthly-now-tv-entertainment\"\n\t\t},\n\t\t{\n\t\t\t\"id\": \"1def4c60-ce2b-59cd-a6b1-885168370456\",\n\t\t\t\"name\": \"Monthly Amazon Prime\",\n\t\t\t\"namespace\": \"monthly-amazon-prime\"\n\t\t},\n\t\t{\n\t\t\t\"id\": \"8a6ee958-efdb-5111-ac5c-f42afc5b5ec6\",\n\t\t\t\"name\": \"Monthly All4\",\n\t\t\t\"namespace\": \"monthly-all4\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Feature Type Collection",
        "tags": [
          "Feature"
        ]
      }
    },
    "/feature/{featureId}": {
      "get": {
        "description": "Return the content of the selected feature.",
        "operationId": "getFeature",
        "parameters": [
          {
            "description": "The identifier for the selected feature.",
            "in": "path",
            "name": "featureId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n\t\"id\": \"98bfb7dc-2531-56b7-acb0-fdbe1b8c1e48\",\n\t\"start\": \"2018-08-31T23:00:00.000Z\",\n\t\"end\": \"2018-09-30T22:59:59.999Z\",\n\t\"type\": \"monthly-all4\",\n\t\"selection\": [{\n\t\t\t\"available\": \"2018-09-08T00:00:00.000Z\",\n\t\t\t\"summary\": {\n\t\t\t\t\"long\": \"(Available now) Remember an Icelandic crime series called Case, which was available early in 2017? The Court is its prequel, set in the offices of a Reykjavik law firm. Lawyers Brynhildur and Hordur offer support to their colleague, Logi Traustason, when he becomes increasingly obsessed with solving a bizarre incident from his youth that led him to his incarceration for manslaughter. The Court, or Rettur as it's known in its native country, is Iceland's most acclaimed crime series ever, and after watching the first episode, you'll realise why.\"\n\t\t\t},\n\t\t\t\"attribute\": [],\n\t\t\t\"asset\": {\n\t\t\t\t\"id\": \"b171d710-cfce-5cf0-835d-f5d99d7f3b49\",\n\t\t\t\t\"type\": \"episode\",\n\t\t\t\t\"certification\": {},\n\t\t\t\t\"meta\": {},\n\t\t\t\t\"category\": [{\n\t\t\t\t\t\t\"code\": \"movie-drama\",\n\t\t\t\t\t\t\"name\": \"Movie/Drama\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"movie-drama:detective-thriller\",\n\t\t\t\t\t\t\"name\": \"Detective/Thriller\",\n\t\t\t\t\t\t\"dvb\": \"1100\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"attribute\": [],\n\t\t\t\t\"summary\": {\n\t\t\t\t\t\"short\": \"Icelandic crime drama, starring Magnús Jónsson\"\n\t\t\t\t},\n\t\t\t\t\"contributor\": [],\n\t\t\t\t\"media\": [],\n\t\t\t\t\"related\": [{\n\t\t\t\t\t\"type\": \"series\",\n\t\t\t\t\t\"id\": \"5c6f9b04-ed1f-5c64-b4da-44527804f319\",\n\t\t\t\t\t\"title\": \"The Court\",\n\t\t\t\t\t\"subject\": [{\n\t\t\t\t\t\t\"code\": \"series:patv:266353\",\n\t\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t\t}],\n\t\t\t\t\t\"media\": []\n\t\t\t\t}],\n\t\t\t\t\"subject\": [{\n\t\t\t\t\t\"code\": \"programme:patv:3071733\",\n\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t}],\n\t\t\t\t\"link\": []\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"available\": \"2018-09-08T00:00:00.000Z\",\n\t\t\t\"summary\": {\n\t\t\t\t\"long\": \"(From Friday) After Friday, when the internationally renowned VICE channel makes 900 hours of its award-winning programmes available via All 4, viewers really won't be able to say they can't find anything to watch anymore. Among the highlights we can expect Jamali Maddix's documentary series Hate Thy Neighbour, the Emmy-nominated travel series Gaycation, Black Market, which is a personal project for The Wire and Boardwalk Empire star Michael K Williams, and Needles and Pins, an in-depth look at the tattoo scene.\"\n\t\t\t},\n\t\t\t\"attribute\": [],\n\t\t\t\"asset\": {\n\t\t\t\t\"id\": \"ef8805aa-ee59-5985-aa15-86b755c63e83\",\n\t\t\t\t\"type\": \"episode\",\n\t\t\t\t\"certification\": {},\n\t\t\t\t\"meta\": {},\n\t\t\t\t\"category\": [{\n\t\t\t\t\t\t\"code\": \"social-political-issues-economics\",\n\t\t\t\t\t\t\"name\": \"Social/Political Issues/Economics\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"social-political-issues-economics:general\",\n\t\t\t\t\t\t\"name\": \"General\",\n\t\t\t\t\t\t\"dvb\": \"8000\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"attribute\": [],\n\t\t\t\t\"summary\": {\n\t\t\t\t\t\"short\": \"All4 on demand platform\"\n\t\t\t\t},\n\t\t\t\t\"media\": [],\n\t\t\t\t\"contributor\": [],\n\t\t\t\t\"related\": [{\n\t\t\t\t\t\"type\": \"series\",\n\t\t\t\t\t\"id\": \"5b1ff7e7-5cbc-5e80-a9b3-1b065d384ac9\",\n\t\t\t\t\t\"title\": \"Vice\",\n\t\t\t\t\t\"subject\": [{\n\t\t\t\t\t\t\"code\": \"series:patv:266357\",\n\t\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t\t}],\n\t\t\t\t\t\"media\": []\n\t\t\t\t}],\n\t\t\t\t\"subject\": [{\n\t\t\t\t\t\"code\": \"programme:patv:3071756\",\n\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t}],\n\t\t\t\t\"link\": []\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"available\": \"2018-09-01T00:00:00.000Z\",\n\t\t\t\"summary\": {},\n\t\t\t\"attribute\": [],\n\t\t\t\"asset\": {\n\t\t\t\t\"id\": \"bc0324e2-14d3-51fc-aff4-012ba9871ffb\",\n\t\t\t\t\"type\": \"episode\",\n\t\t\t\t\"title\": \"Box Set\",\n\t\t\t\t\"certification\": {},\n\t\t\t\t\"meta\": {},\n\t\t\t\t\"category\": [],\n\t\t\t\t\"attribute\": [],\n\t\t\t\t\"summary\": {\n\t\t\t\t\t\"short\": \"Drama following a group of young people in Chester\",\n\t\t\t\t\t\"medium\": \"Drama following the lives and loves of young people in Chester\",\n\t\t\t\t\t\"long\": \"Drama following the lives and loves of a group of teenagers and young adults in Chester\"\n\t\t\t\t},\n\t\t\t\t\"media\": [],\n\t\t\t\t\"contributor\": [],\n\t\t\t\t\"related\": [{\n\t\t\t\t\t\"type\": \"series\",\n\t\t\t\t\t\"id\": \"895826b7-cce2-52fb-91bd-46419c793880\",\n\t\t\t\t\t\"title\": \"Hollyoaks\",\n\t\t\t\t\t\"subject\": [{\n\t\t\t\t\t\t\"code\": \"series:patv:798\",\n\t\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t\t}],\n\t\t\t\t\t\"media\": []\n\t\t\t\t}],\n\t\t\t\t\"subject\": [{\n\t\t\t\t\t\"code\": \"programme:patv:3049329\",\n\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t}],\n\t\t\t\t\"link\": []\n\t\t\t}\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Feature Detail",
        "tags": [
          "Feature"
        ]
      }
    },
    "/platform": {
      "get": {
        "description": "Return a list of available platforms.",
        "operationId": "listPlatforms",
        "parameters": [
          {
            "description": "Flag to display Legacy and Provider Ids.",
            "in": "query",
            "name": "aliases",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n\t\"hasNext\": false,\n\t\"total\": 13,\n\t\"item\": [{\n\t\t\t\"id\": \"f55acb3b-a288-5ff7-962b-0da29811d046\",\n\t\t\t\"title\": \"BT TV\",\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"platform:patv:11\",\n\t\t\t\t\"profile\": \"platform\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"4f44db8b-c50b-5505-8f26-96d6893d5f68\",\n\t\t\t\"title\": \"Freesat\",\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"platform:patv:4\",\n\t\t\t\t\"profile\": \"platform\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"f00688ce-618e-52bd-ac1b-6829e20fc236\",\n\t\t\t\"title\": \"Freeview\",\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"platform:patv:3\",\n\t\t\t\t\"profile\": \"platform\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"33139c53-38e4-5e58-bb11-ecce4985b1fb\",\n\t\t\t\"title\": \"International\",\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"platform:patv:14\",\n\t\t\t\t\"profile\": \"platform\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"1a8b9f29-ac88-54d1-814c-4d51fbbc3986\",\n\t\t\t\"title\": \"Irish Radio\",\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"platform:patv:13\",\n\t\t\t\t\"profile\": \"platform\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"afff7fdb-4da4-5c49-8e06-94be28be1ffc\",\n\t\t\t\"title\": \"Saorsat\",\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"platform:patv:9\",\n\t\t\t\t\"profile\": \"platform\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"01c13cf5-d37a-5158-a614-592c37514ebc\",\n\t\t\t\"title\": \"Saorview\",\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"platform:patv:8\",\n\t\t\t\t\"profile\": \"platform\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"d3b26caa-8c7d-5f97-9eff-40fcf1a6f8d3\",\n\t\t\t\"title\": \"Sky HD\",\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"platform:patv:1\",\n\t\t\t\t\"profile\": \"platform\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"663c1c3c-e306-59fc-a51b-53faa97640fa\",\n\t\t\t\"title\": \"Sky SD\",\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"platform:patv:2\",\n\t\t\t\t\"profile\": \"platform\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"04330045-d657-56a4-92ca-3c3df585ccf5\",\n\t\t\t\"title\": \"TalkTalk YouView\",\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"platform:patv:12\",\n\t\t\t\t\"profile\": \"platform\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"972ff074-8146-554a-b0b9-9b20238f1553\",\n\t\t\t\"title\": \"Virgin\",\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"platform:patv:5\",\n\t\t\t\t\"profile\": \"platform\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"77167797-7f2e-5076-9eaf-8be13fc65ff3\",\n\t\t\t\"title\": \"Virgin Media Ireland\",\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"platform:patv:7\",\n\t\t\t\t\"profile\": \"platform\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"752f9903-b233-58f9-9b38-65f16f09a65b\",\n\t\t\t\"title\": \"YouView\",\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"platform:patv:10\",\n\t\t\t\t\"profile\": \"platform\"\n\t\t\t}]\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Platform Collection",
        "tags": [
          "Platform"
        ]
      }
    },
    "/platform/{platformId}": {
      "get": {
        "description": "Return the content of the selected platform.",
        "operationId": "getPlatform",
        "parameters": [
          {
            "description": "The identifier for the selected platform.",
            "in": "path",
            "name": "platformId",
            "required": true,
            "schema": {
              "default": "d3b26caa-8c7d-5f97-9eff-40fcf1a6f8d3",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n\t\"id\": \"d3b26caa-8c7d-5f97-9eff-40fcf1a6f8d3\",\n\t\"title\": \"Sky HD\",\n\t\"subject\": [{\n\t\t\"code\": \"platform:patv:1\",\n\t\t\"profile\": \"platform\"\n\t}]\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Platform Detail",
        "tags": [
          "Platform"
        ]
      }
    },
    "/platform/{platformId}/region": {
      "get": {
        "description": "Return a list of regions for a platform.",
        "operationId": "listPlatformRegions",
        "parameters": [
          {
            "description": "The identifier for the selected platform.",
            "in": "path",
            "name": "platformId",
            "required": true,
            "schema": {
              "default": "d3b26caa-8c7d-5f97-9eff-40fcf1a6f8d3",
              "type": "string"
            }
          },
          {
            "description": "Flag to display Legacy and Provider Ids.",
            "in": "query",
            "name": "aliases",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n\t\"hasNext\": false,\n\t\"total\": 3,\n\t\"item\": [{\n\t\t\t\"id\": \"b7ca55cd-8528-5422-bb04-5c14491a3274\",\n\t\t\t\"title\": \"Anglia\",\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"region:patv:1\",\n\t\t\t\t\"profile\": \"region\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"de884ff9-8ab7-5edc-a16a-7f4ad9dbf166\",\n\t\t\t\"title\": \"Cambridgeshire\",\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"region:patv:2\",\n\t\t\t\t\"profile\": \"region\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"id\": \"b21a3fcd-36cd-5d12-8536-52cdc9ef63b4\",\n\t\t\t\"title\": \"Channel Islands\",\n\t\t\t\"subject\": [{\n\t\t\t\t\"code\": \"region:patv:3\",\n\t\t\t\t\"profile\": \"region\"\n\t\t\t}]\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Platform Region Collection",
        "tags": [
          "Platform"
        ]
      }
    },
    "/schedule": {
      "get": {
        "description": "The schedule endpoint produces a linear TV schedule for a given channel and date range.\n\n - The date range supplied must be no larger than 21 days.\n - If no end data is passed the API will default to start date + 24 hours.",
        "operationId": "listSchedule",
        "parameters": [
          {
            "description": "The identifier for the selected channel.",
            "in": "query",
            "name": "channelId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The Start Date for the schedule.",
            "in": "query",
            "name": "start",
            "required": true,
            "schema": {
              "default": "2015-05-05T00:00:00",
              "pattern": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The End Date for the schedule.",
            "in": "query",
            "name": "end",
            "required": false,
            "schema": {
              "default": "2015-05-06T00:00:00",
              "pattern": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Flag to display Legacy and Provider Ids.",
            "in": "query",
            "name": "aliases",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n\t\"hasNext\": false,\n\t\"total\": 3,\n\t\"item\": [{\n\t\t\t\"id\": \"8d37623a-a2c5-429a-ab1b-a2fd32a99830\",\n\t\t\t\"title\": \"Weather for the Week Ahead\",\n\t\t\t\"dateTime\": \"2018-09-11T00:25:00.000Z\",\n\t\t\t\"duration\": 5,\n\t\t\t\"certification\": {},\n\t\t\t\"meta\": {},\n\t\t\t\"attribute\": [\n\t\t\t\t\"subtitles\",\n\t\t\t\t\"16x9\",\n\t\t\t\t\"hd\"\n\t\t\t],\n\t\t\t\"summary\": {},\n\t\t\t\"asset\": {\n\t\t\t\t\"id\": \"fcb7f5ac-8745-5644-a4a8-854eecf9ed7f\",\n\t\t\t\t\"type\": \"episode\",\n\t\t\t\t\"certification\": {},\n\t\t\t\t\"meta\": {},\n\t\t\t\t\"category\": [{\n\t\t\t\t\t\t\"code\": \"news-current-affairs\",\n\t\t\t\t\t\t\"name\": \"News/Current Affairs\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"news-current-affairs:weather\",\n\t\t\t\t\t\t\"name\": \"Weather\",\n\t\t\t\t\t\t\"dvb\": \"2F03\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"attribute\": [],\n\t\t\t\t\"summary\": {},\n\t\t\t\t\"media\": [],\n\t\t\t\t\"related\": [{\n\t\t\t\t\t\"type\": \"series\",\n\t\t\t\t\t\"id\": \"6953ebec-f877-5881-8dae-33329dc7dab2\",\n\t\t\t\t\t\"title\": \"Weather for the Week Ahead\",\n\t\t\t\t\t\"subject\": [{\n\t\t\t\t\t\t\"code\": \"series:patv:12838\",\n\t\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t\t}],\n\t\t\t\t\t\"media\": [{\n\t\t\t\t\t\t\"kind\": \"image:asset\",\n\t\t\t\t\t\t\"copyright\": \"BBC iPlayer\",\n\t\t\t\t\t\t\"rendition\": {\n\t\t\t\t\t\t\t\"default\": {\n\t\t\t\t\t\t\t\t\"href\": \"https://tv.assets.pressassociation.io/f6edde30-7a58-57f7-a186-1c96bea11b9d.jpg\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"expiry\": \"2018-09-18T00:00:00.000Z\"\n\t\t\t\t\t}]\n\t\t\t\t}],\n\t\t\t\t\"subject\": [{\n\t\t\t\t\t\"code\": \"programme:patv:3070067\",\n\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t}],\n\t\t\t\t\"link\": []\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"id\": \"5b3249e1-766d-4e6e-ad82-043f993630b7\",\n\t\t\t\"title\": \"BBC News\",\n\t\t\t\"dateTime\": \"2018-09-11T00:30:00.000Z\",\n\t\t\t\"duration\": 270,\n\t\t\t\"certification\": {},\n\t\t\t\"meta\": {},\n\t\t\t\"attribute\": [\n\t\t\t\t\"subtitles\",\n\t\t\t\t\"16x9\",\n\t\t\t\t\"hd\"\n\t\t\t],\n\t\t\t\"summary\": {},\n\t\t\t\"asset\": {\n\t\t\t\t\"id\": \"89e90a81-01bd-5837-8166-8d850963e430\",\n\t\t\t\t\"type\": \"episode\",\n\t\t\t\t\"title\": \"10/09/2018\",\n\t\t\t\t\"certification\": {},\n\t\t\t\t\"meta\": {},\n\t\t\t\t\"category\": [],\n\t\t\t\t\"attribute\": [],\n\t\t\t\t\"summary\": {},\n\t\t\t\t\"contributor\": [],\n\t\t\t\t\"media\": [],\n\t\t\t\t\"related\": [{\n\t\t\t\t\t\"type\": \"series\",\n\t\t\t\t\t\"id\": \"6725dbee-4db4-50c6-b3cc-d5162ca8a231\",\n\t\t\t\t\t\"title\": \"BBC News\",\n\t\t\t\t\t\"subject\": [{\n\t\t\t\t\t\t\"code\": \"series:patv:212735\",\n\t\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t\t}],\n\t\t\t\t\t\"media\": [{\n\t\t\t\t\t\t\"kind\": \"image:asset\",\n\t\t\t\t\t\t\"copyright\": \"BBC\",\n\t\t\t\t\t\t\"rendition\": {\n\t\t\t\t\t\t\t\"default\": {\n\t\t\t\t\t\t\t\t\"href\": \"https://tv.assets.pressassociation.io/36e7ad3d-6ab6-5ae6-b911-5e2c333e1478.jpg\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"expiry\": \"2018-09-18T00:00:00.000Z\"\n\t\t\t\t\t}]\n\t\t\t\t}],\n\t\t\t\t\"subject\": [{\n\t\t\t\t\t\"code\": \"programme:patv:3074741\",\n\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t}],\n\t\t\t\t\"link\": []\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"id\": \"c30669b1-056b-4bf5-a8a2-3fe75355b038\",\n\t\t\t\"title\": \"Breakfast\",\n\t\t\t\"dateTime\": \"2018-09-11T05:00:00.000Z\",\n\t\t\t\"duration\": 195,\n\t\t\t\"certification\": {},\n\t\t\t\"meta\": {},\n\t\t\t\"attribute\": [\n\t\t\t\t\"subtitles\",\n\t\t\t\t\"16x9\",\n\t\t\t\t\"interactive-content\",\n\t\t\t\t\"hd\"\n\t\t\t],\n\t\t\t\"summary\": {\n\t\t\t\t\"short\": \"Presented by Dan Walker and Naga Munchetty\",\n\t\t\t\t\"medium\": \"A round-up of national and international news, plus current affairs, arts and entertainment, and weather. Presented by Dan Walker and Naga Munchetty\"\n\t\t\t},\n\t\t\t\"asset\": {\n\t\t\t\t\"id\": \"62ab7c29-311e-56ef-8584-06a5fb134a47\",\n\t\t\t\t\"type\": \"episode\",\n\t\t\t\t\"title\": \"11/09/2018\",\n\t\t\t\t\"certification\": {},\n\t\t\t\t\"meta\": {},\n\t\t\t\t\"category\": [],\n\t\t\t\t\"attribute\": [],\n\t\t\t\t\"summary\": {\n\t\t\t\t\t\"short\": \"Presented by Dan Walker and Naga Munchetty\",\n\t\t\t\t\t\"medium\": \"A round-up of national and international news, plus current affairs, arts and entertainment, and weather. Presented by Dan Walker and Naga Munchetty\"\n\t\t\t\t},\n\t\t\t\t\"contributor\": [],\n\t\t\t\t\"media\": [],\n\t\t\t\t\"related\": [{\n\t\t\t\t\t\"type\": \"series\",\n\t\t\t\t\t\"id\": \"0cb4dfe4-9fb4-5ccc-85fc-f7794b5267dd\",\n\t\t\t\t\t\"title\": \"Breakfast\",\n\t\t\t\t\t\"subject\": [{\n\t\t\t\t\t\t\"code\": \"series:patv:15041\",\n\t\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t\t}],\n\t\t\t\t\t\"media\": [{\n\t\t\t\t\t\t\"kind\": \"image:asset\",\n\t\t\t\t\t\t\"copyright\": \"BBC\",\n\t\t\t\t\t\t\"rendition\": {\n\t\t\t\t\t\t\t\"default\": {\n\t\t\t\t\t\t\t\t\"href\": \"https://tv.assets.pressassociation.io/b9bc4659-ce07-55ac-894d-66e2bfe95c9a.jpg\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"expiry\": \"2018-09-18T00:00:00.000Z\"\n\t\t\t\t\t}]\n\t\t\t\t}],\n\t\t\t\t\"subject\": [{\n\t\t\t\t\t\"code\": \"programme:patv:3069479\",\n\t\t\t\t\t\"profile\": \"asset\"\n\t\t\t\t}],\n\t\t\t\t\"link\": []\n\t\t\t}\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Schedule Collection",
        "tags": [
          "Schedule"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apikey": {
        "in": "header",
        "name": "apikey",
        "type": "apiKey"
      }
    }
  }
}