swagger: '2.0'
schemes:
  - https
host: api.taxrates.io
basePath: /api
info:
  contact:
    name: apiteam@taxrates.io
  description: 'Taxrates.io API - the successfully streamlined tax rates monitoring process. Use ''Expand operation'' link on the right to see details. Start with authentication: get your token and generate authorization string. We recommend using <a href=''https://www.getpostman.com/'' target=_new>Postman</a> when discovering our API. Happy using!'
  license:
    name: Private licence - only for using by authorized Members of taxrates.io
    url: 'http://taxrates.io/license/'
  termsOfService: 'http://taxrates.io/terms/'
  title: Taxrates.io
  version: '3.0'
  x-apisguru-categories:
    - financial
  x-logo:
    url: 'https://pbs.twimg.com/profile_images/919999226955927553/lLFntE3W_400x400.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.taxrates.io/taxrates_io_API.yaml'
      version: '2.0'
  x-providerName: taxrates.io
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  Apikey:
    in: header
    name: Authorization
    type: apiKey
paths:
  /v1/tax/byaddress:
    post:
      description: This endpoint returns tax rates for the country based on the address provided
      parameters:
        - description: 'Domain name: api.taxrates.io'
          in: query
          name: domain
          required: true
          type: string
        - description: Address
          in: body
          name: address
          required: true
          schema:
            $ref: '#/definitions/Address'
        - description: 'You can filter your taxes by one of following types: ''standard'', ''reduced'', ''second reduced'', ''third reduced'' and ''super reduced''.'
          in: query
          name: filter
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Rates'
        '404':
          description: Country not found. Please check you address and make sure it is valid.
        '500':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - Apikey: []
      summary: Get tax rates by address
      tags:
        - Tax service
  /v1/tax/countrycode:
    get:
      description: This endpoint returns all available tax rates for selected country
      parameters:
        - description: 'Domain name: api.taxrates.io'
          in: query
          name: domain
          required: true
          type: string
        - description: Country code alpha 2
          in: query
          name: country_code
          required: true
          type: string
        - description: 'You can filter your taxes by one of following types: ''standard'', ''reduced'', ''second reduced'', ''third reduced'' and ''super reduced''.'
          in: query
          name: filter
          required: false
          type: string
        - description: You must provide a zip code if one of your selected countries is United States and you've had selected a state on your Taxrates.io member's dashboard.
          in: query
          name: zip
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Rates'
        '404':
          description: Country not found. Have you provided correct alpha-2 country code?
        '500':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - Apikey: []
      summary: Returns tax rate for selected country
      tags:
        - Tax service
  /v1/tax/ip:
    get:
      description: This endpoint will return tax rates for country discovered based on Customer's IP address
      parameters:
        - description: 'Domain name: api.taxrates.io'
          in: query
          name: domain
          required: true
          type: string
        - description: Customer's IP address
          in: query
          name: ip
          required: true
          type: string
        - description: 'You can filter your taxes by one of following types: ''standard'', ''reduced'', ''second reduced'', ''third reduced'' and ''super reduced''.'
          in: query
          name: filter
          required: false
          type: string
        - description: You must provide a zip code if one of your selected countries is United States and you've had selected a state on your Taxrates.io member's dashboard.
          in: query
          name: zip
          required: false
          type: string
      responses:
        '200':
          description: 'An array of tax rates for VAT, GST & TAX'
          schema:
            items:
              $ref: '#/definitions/Rates'
            type: array
        '404':
          description: Geolocation can not be processed/No matching country found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - Apikey: []
      summary: Tax rates by geolocation based on Customer IP address
      tags:
        - Tax service
  /v3/tax/rates:
    get:
      description: This method returns all tax rates configured on Member's account using cursor. Use X-Cursor-Next header to recursively read all rates. Max limit is 500 records per request.
      parameters:
        - description: 'Domain name: api.taxrates.io'
          in: query
          name: domain
          required: true
          type: string
        - description: 'You can filter your taxes by one of following types: ''standard'', ''reduced'', ''second reduced'', ''third reduced'' and ''super reduced''.'
          in: query
          name: filter
          required: false
          type: string
        - description: 'Cursor shows from which record you want to get information. Default value is 0, next value can be retrieved from X-Cursor-Next header.'
          in: query
          name: cursor
          required: false
          type: string
      responses:
        '200':
          description: An array of locations with tax rates
          schema:
            items:
              $ref: '#/definitions/Location'
            type: array
        '404':
          description: No configured tax rates found. Have you added any country to your account?
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - Apikey: []
      summary: Get all tax rates
      tags:
        - Tax service
definitions:
  Address:
    properties:
      apartment_number:
        description: Apartment number if any
        type: string
      city:
        description: City name
        type: string
      country:
        description: Country name
        type: string
      postal_code:
        description: City zip code
        type: string
      state:
        description: Province or state
        type: string
      street:
        description: Street
        type: string
      street_number:
        description: Street number
        type: string
    type: object
  Error:
    properties:
      code:
        format: int32
        type: integer
      fields:
        type: string
      message:
        type: string
    type: object
  Location:
    properties:
      id:
        type: integer
      name:
        description: Country name
        type: string
      rates:
        items:
          $ref: '#/definitions/TaxRate'
        type: array
      state:
        description: State/province name if exists
        type: string
      zip:
        description: Zipcode
        type: string
    type: object
  Rates:
    properties:
      country_name:
        description: The country name
        type: string
      taxes:
        items:
          $ref: '#/definitions/Tax'
        type: array
    type: object
  Tax:
    properties:
      Country:
        description: The country name
        type: string
      Type:
        description: The tax type
        type: string
      data_name:
        description: 'The tax name and description (VAT, GST, PIT, CIT etc)'
        type: string
      data_value:
        description: The tax value in percents
        type: string
    type: object
  TaxRate:
    properties:
      data_name:
        description: 'The tax name and description (VAT, GST, PIT, CIT etc)'
        type: string
      data_value:
        description: The tax value in percents
        type: string
      type:
        description: The tax type
        type: string
    type: object
