swagger: '2.0'
schemes:
  - https
host: vault.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Archiving and eDiscovery for G Suite.
  title: Google Vault
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - storage
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://vault.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: vault
externalDocs:
  url: 'https://developers.google.com/vault'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/ediscovery': Manage your eDiscovery data
      'https://www.googleapis.com/auth/ediscovery.readonly': View your eDiscovery data
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: matters
paths:
  /v1/matters:
    get:
      description: Lists matters the user has access to.
      operationId: vault.matters.list
      parameters:
        - description: |-
            The number of matters to return in the response.
            Default and maximum are 100.
          in: query
          name: pageSize
          type: integer
        - description: The pagination token as returned in the response.
          in: query
          name: pageToken
          type: string
        - description: |-
            If set, list only matters with that specific state. The default is listing
            matters of all states.
          enum:
            - STATE_UNSPECIFIED
            - OPEN
            - CLOSED
            - DELETED
          in: query
          name: state
          type: string
        - description: Specifies which parts of the matter to return in response.
          enum:
            - VIEW_UNSPECIFIED
            - BASIC
            - FULL
          in: query
          name: view
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListMattersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery.readonly'
      tags:
        - matters
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a new matter with the given name and description. The initial state
        is open, and the owner is the method caller. Returns the created matter
        with default view.
      operationId: vault.matters.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Matter'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Matter'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
      tags:
        - matters
  '/v1/matters/{matterId}':
    delete:
      description: Deletes the specified matter. Returns matter with updated state.
      operationId: vault.matters.delete
      parameters:
        - description: The matter ID
          in: path
          name: matterId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Matter'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
      tags:
        - matters
    get:
      description: Gets the specified matter.
      operationId: vault.matters.get
      parameters:
        - description: The matter ID.
          in: path
          name: matterId
          required: true
          type: string
        - description: Specifies which parts of the Matter to return in the response.
          enum:
            - VIEW_UNSPECIFIED
            - BASIC
            - FULL
          in: query
          name: view
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Matter'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery.readonly'
      tags:
        - matters
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    put:
      description: |-
        Updates the specified matter.
        This updates only the name and description of the matter, identified by
        matter id. Changes to any other fields are ignored.
        Returns the default view of the matter.
      operationId: vault.matters.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Matter'
        - description: The matter ID.
          in: path
          name: matterId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Matter'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
      tags:
        - matters
  '/v1/matters/{matterId}/holds':
    get:
      description: |-
        Lists holds within a matter. An empty page token in ListHoldsResponse
        denotes no more holds to list.
      operationId: vault.matters.holds.list
      parameters:
        - description: The matter ID.
          in: path
          name: matterId
          required: true
          type: string
        - description: |-
            The number of holds to return in the response, between 0 and 100 inclusive.
            Leaving this empty, or as 0, is the same as page_size = 100.
          in: query
          name: pageSize
          type: integer
        - description: |-
            The pagination token as returned in the response.
            An empty token means start from the beginning.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListHoldsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery.readonly'
      tags:
        - matters
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a hold in the given matter.
      operationId: vault.matters.holds.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Hold'
        - description: The matter ID.
          in: path
          name: matterId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Hold'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
      tags:
        - matters
  '/v1/matters/{matterId}/holds/{holdId}':
    delete:
      description: Removes a hold by ID. This will release any HeldAccounts on this Hold.
      operationId: vault.matters.holds.delete
      parameters:
        - description: The hold ID.
          in: path
          name: holdId
          required: true
          type: string
        - description: The matter ID.
          in: path
          name: matterId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
      tags:
        - matters
    get:
      description: Gets a hold by ID.
      operationId: vault.matters.holds.get
      parameters:
        - description: The hold ID.
          in: path
          name: holdId
          required: true
          type: string
        - description: The matter ID.
          in: path
          name: matterId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Hold'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery.readonly'
      tags:
        - matters
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    put:
      description: |-
        Updates the OU and/or query parameters of a hold. You cannot add accounts
        to a hold that covers an OU, nor can you add OUs to a hold that covers
        individual accounts. Accounts listed in the hold will be ignored.
      operationId: vault.matters.holds.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Hold'
        - description: The ID of the hold.
          in: path
          name: holdId
          required: true
          type: string
        - description: The matter ID.
          in: path
          name: matterId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Hold'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
      tags:
        - matters
  '/v1/matters/{matterId}/holds/{holdId}/accounts':
    get:
      description: |-
        Lists HeldAccounts for a hold. This will only list individually specified
        held accounts. If the hold is on an OU, then use
        <a href="https://developers.google.com/admin-sdk/">Admin SDK</a>
        to enumerate its members.
      operationId: vault.matters.holds.accounts.list
      parameters:
        - description: The hold ID.
          in: path
          name: holdId
          required: true
          type: string
        - description: The matter ID.
          in: path
          name: matterId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListHeldAccountsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery.readonly'
      tags:
        - matters
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Adds a HeldAccount to a hold. Accounts can only be added to a hold that
        has no held_org_unit set. Attempting to add an account to an OU-based
        hold will result in an error.
      operationId: vault.matters.holds.accounts.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/HeldAccount'
        - description: The hold ID.
          in: path
          name: holdId
          required: true
          type: string
        - description: The matter ID.
          in: path
          name: matterId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HeldAccount'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
      tags:
        - matters
  '/v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}':
    delete:
      description: |-
        Removes a HeldAccount from a hold. If this request leaves the hold with
        no held accounts, the hold will not apply to any accounts.
      operationId: vault.matters.holds.accounts.delete
      parameters:
        - description: The ID of the account to remove from the hold.
          in: path
          name: accountId
          required: true
          type: string
        - description: The hold ID.
          in: path
          name: holdId
          required: true
          type: string
        - description: The matter ID.
          in: path
          name: matterId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
      tags:
        - matters
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/matters/{matterId}:addPermissions':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Adds an account as a matter collaborator.
      operationId: vault.matters.addPermissions
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AddMatterPermissionsRequest'
        - description: The matter ID.
          in: path
          name: matterId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/MatterPermission'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
      tags:
        - matters
  '/v1/matters/{matterId}:close':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Closes the specified matter. Returns matter with updated state.
      operationId: vault.matters.close
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CloseMatterRequest'
        - description: The matter ID.
          in: path
          name: matterId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CloseMatterResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
      tags:
        - matters
  '/v1/matters/{matterId}:removePermissions':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Removes an account as a matter collaborator.
      operationId: vault.matters.removePermissions
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RemoveMatterPermissionsRequest'
        - description: The matter ID.
          in: path
          name: matterId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
      tags:
        - matters
  '/v1/matters/{matterId}:reopen':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Reopens the specified matter. Returns matter with updated state.
      operationId: vault.matters.reopen
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ReopenMatterRequest'
        - description: The matter ID.
          in: path
          name: matterId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ReopenMatterResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
      tags:
        - matters
  '/v1/matters/{matterId}:undelete':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Undeletes the specified matter. Returns matter with updated state.
      operationId: vault.matters.undelete
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UndeleteMatterRequest'
        - description: The matter ID.
          in: path
          name: matterId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Matter'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ediscovery'
      tags:
        - matters
definitions:
  AddMatterPermissionsRequest:
    description: |-
      Add an account with the permission specified. The role cannot be owner.
      If an account already has a role in the matter, it will be
      overwritten.
    properties:
      ccMe:
        description: |-
          Only relevant if send_emails is true.
          True to CC requestor in the email message.
          False to not CC requestor.
        type: boolean
      matterPermission:
        $ref: '#/definitions/MatterPermission'
        description: The MatterPermission to add.
      sendEmails:
        description: |-
          True to send notification email to the added account.
          False to not send notification email.
        type: boolean
    type: object
  CloseMatterRequest:
    description: Close a matter by ID.
    properties: {}
    type: object
  CloseMatterResponse:
    description: Response to a CloseMatterRequest.
    properties:
      matter:
        $ref: '#/definitions/Matter'
        description: 'The updated matter, with state CLOSED.'
    type: object
  CorpusQuery:
    description: Corpus specific queries.
    properties:
      driveQuery:
        $ref: '#/definitions/HeldDriveQuery'
        description: 'Details pertaining to Drive holds. If set, corpus must be Drive.'
      groupsQuery:
        $ref: '#/definitions/HeldGroupsQuery'
        description: 'Details pertaining to Groups holds. If set, corpus must be Groups.'
      mailQuery:
        $ref: '#/definitions/HeldMailQuery'
        description: 'Details pertaining to mail holds. If set, corpus must be mail.'
    type: object
  Empty:
    description: |-
      A generic empty message that you can re-use to avoid defining duplicated
      empty messages in your APIs. A typical example is to use it as the request
      or the response type of an API method. For instance:

          service Foo {
            rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);
          }

      The JSON representation for `Empty` is empty JSON object `{}`.
    properties: {}
    type: object
  HeldAccount:
    description: |-
      An account being held in a particular hold. This structure is immutable.
      This can be either a single user or a google group, depending on the corpus.
    properties:
      accountId:
        description: |-
          The account's ID as provided by the
          <a href="https://developers.google.com/admin-sdk/">Admin SDK</a>.
        type: string
      holdTime:
        description: When the account was put on hold.
        format: google-datetime
        type: string
    type: object
  HeldDriveQuery:
    description: Query options for drive holds.
    properties:
      includeTeamDriveFiles:
        description: 'If true, include files in Team Drives in the hold.'
        type: boolean
    type: object
  HeldGroupsQuery:
    description: Query options for group holds.
    properties:
      endTime:
        description: |-
          The end date range for the search query. These timestamps are in GMT and
          rounded down to the start of the given date.
        format: google-datetime
        type: string
      startTime:
        description: |-
          The start date range for the search query. These timestamps are in GMT and
          rounded down to the start of the given date.
        format: google-datetime
        type: string
      terms:
        description: The search terms for the hold.
        type: string
    type: object
  HeldMailQuery:
    description: Query options for mail holds.
    properties:
      endTime:
        description: |-
          The end date range for the search query. These timestamps are in GMT and
          rounded down to the start of the given date.
        format: google-datetime
        type: string
      startTime:
        description: |-
          The start date range for the search query. These timestamps are in GMT and
          rounded down to the start of the given date.
        format: google-datetime
        type: string
      terms:
        description: The search terms for the hold.
        type: string
    type: object
  HeldOrgUnit:
    description: |-
      A organizational unit being held in a particular hold.
      This structure is immutable.
    properties:
      holdTime:
        description: When the org unit was put on hold. This property is immutable.
        format: google-datetime
        type: string
      orgUnitId:
        description: The org unit's immutable ID as provided by the admin SDK.
        type: string
    type: object
  Hold:
    description: |-
      Represents a hold within Vault. A hold restricts purging of
      artifacts based on the combination of the query and accounts restrictions.
      A hold can be configured to either apply to an explicitly configured set
      of accounts, or can be applied to all members of an organizational unit.
    properties:
      accounts:
        description: |-
          If set, the hold applies to the enumerated accounts and org_unit must be
          empty.
        items:
          $ref: '#/definitions/HeldAccount'
        type: array
      corpus:
        description: The corpus to be searched.
        enum:
          - CORPUS_TYPE_UNSPECIFIED
          - DRIVE
          - MAIL
          - GROUPS
        type: string
      holdId:
        description: The unique immutable ID of the hold. Assigned during creation.
        type: string
      name:
        description: The name of the hold.
        type: string
      orgUnit:
        $ref: '#/definitions/HeldOrgUnit'
        description: |-
          If set, the hold applies to all members of the organizational unit and
          accounts must be empty. This property is mutable. For groups holds,
          set the accounts field.
      query:
        $ref: '#/definitions/CorpusQuery'
        description: |-
          The corpus-specific query. If set, the corpusQuery must match corpus
          type.
      updateTime:
        description: The last time this hold was modified.
        format: google-datetime
        type: string
    type: object
  ListHeldAccountsResponse:
    description: Returns a list of held accounts for a hold.
    properties:
      accounts:
        description: The held accounts on a hold.
        items:
          $ref: '#/definitions/HeldAccount'
        type: array
    type: object
  ListHoldsResponse:
    description: The holds for a matter.
    properties:
      holds:
        description: The list of holds.
        items:
          $ref: '#/definitions/Hold'
        type: array
      nextPageToken:
        description: |-
          Page token to retrieve the next page of results in the list.
          If this is empty, then there are no more holds to list.
        type: string
    type: object
  ListMattersResponse:
    description: Provides the list of matters.
    properties:
      matters:
        description: List of matters.
        items:
          $ref: '#/definitions/Matter'
        type: array
      nextPageToken:
        description: Page token to retrieve the next page of results in the list.
        type: string
    type: object
  Matter:
    description: Represents a matter.
    properties:
      description:
        description: The description of the matter.
        type: string
      matterId:
        description: |-
          The matter ID which is generated by the server.
          Should be blank when creating a new matter.
        type: string
      matterPermissions:
        description: |-
          List of users and access to the matter. Currently there is no programmer
          defined limit on the number of permissions a matter can have.
        items:
          $ref: '#/definitions/MatterPermission'
        type: array
      name:
        description: The name of the matter.
        type: string
      state:
        description: The state of the matter.
        enum:
          - STATE_UNSPECIFIED
          - OPEN
          - CLOSED
          - DELETED
        type: string
    type: object
  MatterPermission:
    description: |-
      Currently each matter only has one owner, and all others are collaborators.
      When an account is purged, its corresponding MatterPermission resources
      cease to exist.
    properties:
      accountId:
        description: 'The account id, as provided by <a href="https://developers.google.com/admin-sdk/">Admin SDK</a>.'
        type: string
      role:
        description: The user's role in this matter.
        enum:
          - ROLE_UNSPECIFIED
          - COLLABORATOR
          - OWNER
        type: string
    type: object
  RemoveMatterPermissionsRequest:
    description: Remove an account as a matter collaborator.
    properties:
      accountId:
        description: The account ID.
        type: string
    type: object
  ReopenMatterRequest:
    description: Reopen a matter by ID.
    properties: {}
    type: object
  ReopenMatterResponse:
    description: Response to a ReopenMatterRequest.
    properties:
      matter:
        $ref: '#/definitions/Matter'
        description: 'The updated matter, with state OPEN.'
    type: object
  UndeleteMatterRequest:
    description: Undelete a matter by ID.
    properties: {}
    type: object
