openapi: 3.0.0
servers:
  - url: 'https://api.apitore.com/api/37'
info:
  description: 'SentencePiece tokenizer (wikipedia).<BR />[Endpoint] https://api.apitore.com/api/37'
  title: SentencePiece APIs (wikipedia)
  version: 0.0.3
  x-description-language: jp
  x-logo:
    url: 'https://apitore.com/img/apis/37.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.apitore.com/json/37'
      version: '2.0'
  x-providerName: apitore.com
  x-serviceName: sentencepieceApis_wikipedia_
tags:
  - description: Sentence Piece Bpe Controller
    name: sentence-piece-bpe-controller
  - description: Sentence Piece Controller
    name: sentence-piece-controller
paths:
  /sentencepiece-bpe-wiki/get:
    get:
      description: 'SentencePiece (bpe).<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/sentencepiece-response">sentencepiece-response</a><BR />&nbsp; Class: com.apitore.banana.response.com.atilika.sentencepiece.SentencePieceTokenResponseEntity<BR />'
      operationId: getUsingGET_1
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          schema:
            type: string
        - description: 'Text [up to 400 characters]'
          in: query
          name: text
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentencePieceTokenResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: SentencePiece (bpe)
      tags:
        - sentence-piece-bpe-controller
  /sentencepiece-unigram-wiki/get:
    get:
      description: 'SentencePiece (unigram).<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/sentencepiece-response">sentencepiece-response</a><BR />&nbsp; Class: com.apitore.banana.response.com.atilika.sentencepiece.SentencePieceTokenResponseEntity<BR />'
      operationId: getUsingGET_2
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          schema:
            type: string
        - description: 'Text [up to 400 characters]'
          in: query
          name: text
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentencePieceTokenResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: SentencePiece (unigram)
      tags:
        - sentence-piece-controller
components:
  schemas:
    SPTokenEntity:
      properties:
        token:
          description: Token
          type: string
        wid:
          description: Word ID
          format: int64
          type: integer
      required:
        - token
        - wid
      type: object
    SentencePieceTokenResponseEntity:
      properties:
        endTime:
          description: End date
          type: string
        log:
          description: Log message
          type: string
        processTime:
          description: 'Process time [millisecond]'
          type: string
        startTime:
          description: Start date
          type: string
        tokens:
          description: SentencePiece Tokens
          items:
            $ref: '#/components/schemas/SPTokenEntity'
          type: array
      required:
        - endTime
        - log
        - processTime
        - startTime
      type: object
