openapi: 3.0.0
servers:
  - url: https://art19.com
info:
  contact:
    email: support@art19.com
    name: ART19 Engineering Team
    x-twitter: art19co
  description: >
    The ART19 Content API conforms to the [JSON:API specification](http://jsonapi.org).


    API requests **MUST** use the HTTP Accept header:


    `Accept: application/vnd.api+json`


    API requests **MUST** be authenticated using the HTTP Authorization header:


    `Authorization: Token token="your-token", credential="your-credential"`


    ## General Notes


    Some query parameters use unencoded [ and ] characters simply for readability. Defaults, examples, and

    possible values are additionally rendered in double quotes for readability. In practice, query parameters should

    not have quotes around the values (e.g., `foo=bar` is valid, not `foo="bar"`), and both query parameter keys

    and values must be percent-encoded, per the requirements in [RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).


    ## Rate Limiting


    In order to provide a fair distribution of available resources, all API calls are subject to rate limits.

    If you exceed the number of API calls per minute granted to your credential, a `429 Too Many Requests`

    error response will be returned.


    In that case, a `Retry-After` header MAY be included in the response, describing the number of seconds

    after which a request can be retried.


    If you run into a high number of 429 errors, please reach out to ART19 Support to adjust your rate limit.


    ### Example


    In the following example the request can be retried after waiting for 21 seconds:

        HTTP/1.1 429 Too Many Requests
        Content-Type: text/html
        Retry-After: 21

    ## Pagination


    Requests to collection endpoints **SHOULD** provide pagination parameters.

    Some endpoints **REQUIRE** pagination parameters to be provided.

    Whenever pagination is provided, it **MUST** be valid.

    Failing to provide pagination when it is required or providing wrong or incomplete pagination

    always results in a `400 Bad Request` error response.


    The page numbering starts with `1` and the maximum page size (if not otherwise documented

    on an endpoint) is `100`. Pagination **MUST NOT** be specified if requesting a list of IDs (using an `ids[]` parameter).


    Providing invalid values for page number or page size, as well as providing only a page number or only a page size,

    is considered an error. Pagination is provided like this:


    `page[number]=1&page[size]=25`


    Responses conform to the [JSON:API specification's pagination section](https://jsonapi.org/format/#fetching-pagination)

    by including pagination links. Your requested page size will be carried into the pagination links.


    ## Sorting


    Requests to collection endpoints usually accept a `sort` parameter. Please refer to the

    [JSON:API Specification's sorting section](https://jsonapi.org/format/#fetching-sorting) for further details.


    ## Relationship Linking


    Currently, resources return all of their relationships, in no particular order, pursuant to how relationships

    should be returned [according to the JSON:API specification](https://jsonapi.org/format/#document-resource-object-relationships). Consumers of this API

    **MUST NOT** make assumptions about the order of these collections. Even though this data is not currently paginated, consumers **MUST** support

    paginating relationships per the JSON:API specification if this data is important for their application.
  termsOfService: https://art19.com/business-terms
  title: ART19 Content API Documentation
  version: 1.0.0
  x-apisguru-categories:
    - media
  x-logo:
    url: https://twitter.com/art19co/profile_image?size=original
  x-origin:
    - format: openapi
      url: https://art19.com/swagger_json/external/content.json
      version: "3.0"
  x-providerName: art19.com
security:
  - api_key: []
paths:
  /classification_inclusions:
    get:
      description: >
        Classification Inclusions connect classifications with entities like series, episodes, or campaigns, amongst others.


        In order to retrieve a set of classification inclusions, at least one of the following filter parameters must

        be provided. Failing to do so renders a `400 Bad Request` response.


        - `ids[]`

        - `classified_id` and `classified_type`

        - `classified_id` and `classification_type`

        - `classification_id` and `classified_type`
      parameters:
        - description: >
            The list of IDs to filter by. Repeat this parameter for each ID you want to include in the filter.

            The brackets *MUST* be percent-encoded, per the requirements in

            [RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).
          explode: true
          in: query
          name: ids[]
          required: false
          schema:
            items:
              format: uuid
              type: string
            type: array
            uniqueItems: true
        - description: >+
            Select which page number to receive results for. Pages are numbered starting at 1.

          in: query
          name: page[number]
          schema:
            minimum: 1
            type: integer
        - description: >+
            Indicate how many records to return per page. The maximum is 100.

          in: query
          name: page[size]
          schema:
            maximum: 100
            minimum: 1
            type: integer
        - description: Limit the result to classification inclusions linked to a classification with this ID.
          example: a90609c0-9f0c-48fd-8a41-83eb8414bedb
          in: query
          name: classification_id
          schema:
            format: uuid
            type: string
        - description: >
            The type of classification that the classification inclusions are linked to.

            Depending on the permissions of your credential, only a subset of these types are usable.
          in: query
          name: classification_type
          schema:
            enum:
              - AlternateFeedType
              - Genre
              - Industry
              - Language
              - MediaRating
            type: string
        - description: >
            Limit the result to classification inclusions linked to a resource with this ID.

            You will have to use this filter together with either `classified_type` or `classification_type`.
          example: fee1976e-f1bc-48a9-9ee8-58800f4d3462
          in: query
          name: classified_id
          schema:
            format: uuid
            type: string
        - description: Limit the result to classification inclusions linked to this type of entity.
          in: query
          name: classified_type
          schema:
            enum:
              - Series
              - Season
              - Episode
            type: string
        - description: >
            Limit the result to classification inclusions linked to a classification containing

            the parameter value disregarding case.
          in: query
          name: q
          schema:
            type: string
        - description: >
            Specify how to sort the result. Please refer to either the top section or the

            [JSON:API specification](https://jsonapi.org/format/#fetching-sorting) on how sorting works in general.
          explode: false
          in: query
          name: sort
          schema:
            default: created_at
            enum:
              - classification_value
              - created_at
              - position
            items:
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/ClassificationInclusion"
                    type: array
                  links:
                    $ref: "#/components/schemas/Links"
                type: object
          description: Success
        "400":
          description: >
            Bad Request


            Parameters requiring a specific format must adhere to that format.

            Pagination must have a positive page number and a page size no larger than 100. At least one filter parameter is required.
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "406":
          $ref: "#/components/responses/not_acceptable"
        "429":
          $ref: "#/components/responses/rate_limit_exceeded"
      summary: Get ClassificationInclusion records
      tags:
        - ClassificationInclusion
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: >
            response = Typhoeus.get(
              "https://art19.com/classification_inclusions",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="ab919d2b-1ffd-42bf-98d7-ae959e612ff6"'
              },
              params: {
                # add filters if desired
                page: { number: 1, size: 25 }
              },
              timeout: 10
            )

            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: >
            try {
              const response = await fetch('https://art19.com/classification_inclusions?page%5Bnumber%5D=1&page%5Bsize%5D=25', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="cce84b1f-220c-4d74-976a-41c8711da647"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: >
            <?php

            // Initialize a cURL resource for a request

            $request = curl_init();


            try {
              // The API endpoint to request data from
              $url = array('https://art19.com/classification_inclusions');

              // Provide extra parameters like filters or pagination to the request
              $url[] = http_build_query(array(
                'page' => array('number' => 1, 'size' => 25)
              ));

              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, implode('?', $url));
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="d8eba514-2364-46c6-8b37-58203492b586"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }

            ?>
        - label: cURL
          lang: shell
          source: >
            curl 'https://art19.com/classification_inclusions?page%5Bnumber%5D=1&page%5Bsize%5D=25' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="68df9275-0c4e-4ed4-b595-f9d92b848879"' \
              --compressed
  "/classification_inclusions/{id}":
    get:
      parameters:
        - description: The ID of the classification inclusion resource to load.
          example: dd115519-888c-4b1d-b4be-26b72b05a38f
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/ClassificationInclusion"
                  links:
                    $ref: "#/components/schemas/ResourceLink"
                type: object
          description: Success
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
        "406":
          $ref: "#/components/responses/not_acceptable"
        "429":
          $ref: "#/components/responses/rate_limit_exceeded"
      summary: Get a specific classification inclusion
      tags:
        - ClassificationInclusion
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: >
            response = Typhoeus.get(
              "https://art19.com/classification_inclusions/0366ea9e-04c8-4b37-8dec-34df4e8ff3b1",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="a32794e7-d809-4606-afb9-db88211d7b96"'
              },
              timeout: 10
            )

            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: >
            try {
              const response = await fetch('https://art19.com/classification_inclusions/0366ea9e-04c8-4b37-8dec-34df4e8ff3b1', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="e0685a69-6c5e-4ddf-8837-6dee85ac3beb"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: >
            <?php

            // Initialize a cURL resource for a request

            $request = curl_init();


            try {
              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, 'https://art19.com/classification_inclusions/0366ea9e-04c8-4b37-8dec-34df4e8ff3b1');
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="28f5c55b-236c-49a3-b24c-5d032b2d65b0"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }

            ?>
        - label: cURL
          lang: shell
          source: >
            curl 'https://art19.com/classification_inclusions/0366ea9e-04c8-4b37-8dec-34df4e8ff3b1' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="174aedf5-d90e-44a4-808c-ffbcacb9cf62"' \
              --compressed
  /classifications:
    get:
      parameters:
        - description: >
            The list of IDs to filter by. Repeat this parameter for each ID you want to include in the filter.

            The brackets *MUST* be percent-encoded, per the requirements in

            [RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).
          explode: true
          in: query
          name: ids[]
          required: false
          schema:
            items:
              format: uuid
              type: string
            type: array
            uniqueItems: true
        - description: >+
            Select which page number to receive results for. Pages are numbered starting at 1.

          in: query
          name: page[number]
          schema:
            minimum: 1
            type: integer
        - description: >+
            Indicate how many records to return per page. The maximum is 100.

          in: query
          name: page[size]
          schema:
            maximum: 100
            minimum: 1
            type: integer
        - description: >
            Limit the result to classifications of this type. The possible values for types

            depends on the privileges of the provided credential.
          example: Genre
          in: query
          name: type
          schema:
            enum:
              - AlternateFeedType
              - Genre
              - Industry
              - Language
              - MediaRating
            type: string
        - description: >
            Limit the result to classifications with a value containing the parameter value

            disregarding case.
          in: query
          name: q
          schema:
            type: string
        - description: >
            If this parameter is provided and not empty, limit the result to classifications

            of type `Geography` representing countries. The credential must have at least one

            privilege with a network, series, or advertiser profile.
          example: "true"
          in: query
          name: is_country
          schema:
            type: string
        - description: >
            Specify how to sort the result. Please refer to either the top section or the

            [JSON:API specification](https://jsonapi.org/format/#fetching-sorting) on how sorting works in general.
          explode: false
          in: query
          name: sort
          schema:
            default: value
            enum:
              - created_at
              - updated_at
              - value
            items:
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Classification"
                    type: array
                  links:
                    $ref: "#/components/schemas/Links"
                type: object
          description: Success
        "400":
          description: >
            Bad Request


            Parameters requiring a specific format must adhere to that format.

            Pagination must have a positive page number and a page size no larger than 100. Filtering by type for AudienceSegment and AudienceTag is no longer supported.
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "406":
          $ref: "#/components/responses/not_acceptable"
        "429":
          $ref: "#/components/responses/rate_limit_exceeded"
      summary: Get a list of classifications
      tags:
        - Classification
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: >
            response = Typhoeus.get(
              "https://art19.com/classifications",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="80e36191-ddf5-48c9-9396-f0d360787d74"'
              },
              params: {
                # add filters if desired
                page: { number: 1, size: 25 }
              },
              timeout: 10
            )

            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: >
            try {
              const response = await fetch('https://art19.com/classifications?page%5Bnumber%5D=1&page%5Bsize%5D=25', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="f7894f04-684a-432e-b64b-36a6300a3d5e"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: >
            <?php

            // Initialize a cURL resource for a request

            $request = curl_init();


            try {
              // The API endpoint to request data from
              $url = array('https://art19.com/classifications');

              // Provide extra parameters like filters or pagination to the request
              $url[] = http_build_query(array(
                'page' => array('number' => 1, 'size' => 25)
              ));

              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, implode('?', $url));
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="af3c523c-ab05-466c-94cd-fc49bff6e185"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }

            ?>
        - label: cURL
          lang: shell
          source: >
            curl 'https://art19.com/classifications?page%5Bnumber%5D=1&page%5Bsize%5D=25' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="913fe29d-f945-48a8-bdba-85ffebd03765"' \
              --compressed
  "/classifications/{id}":
    get:
      parameters:
        - description: The ID of the classification resource to load.
          example: e5a6a42f-3784-44b7-956c-79d29d42fb48
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/Classification"
                  links:
                    $ref: "#/components/schemas/ResourceLink"
                type: object
          description: Success
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
        "406":
          $ref: "#/components/responses/not_acceptable"
        "429":
          $ref: "#/components/responses/rate_limit_exceeded"
      summary: Get a specific classification
      tags:
        - Classification
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: >
            response = Typhoeus.get(
              "https://art19.com/classifications/eda0cf0c-8e74-4963-ba98-70f5ec973e70",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="cd1def2c-f6c5-4963-b084-aeee5f3f7849"'
              },
              timeout: 10
            )

            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: >
            try {
              const response = await fetch('https://art19.com/classifications/eda0cf0c-8e74-4963-ba98-70f5ec973e70', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="f82d6cea-84da-4c37-a127-7912c68c9fe2"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: >
            <?php

            // Initialize a cURL resource for a request

            $request = curl_init();


            try {
              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, 'https://art19.com/classifications/eda0cf0c-8e74-4963-ba98-70f5ec973e70');
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="3773941b-d1ba-4030-b4ad-5cea237587c0"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }

            ?>
        - label: cURL
          lang: shell
          source: >
            curl 'https://art19.com/classifications/eda0cf0c-8e74-4963-ba98-70f5ec973e70' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="cb295f1e-b350-4c29-9791-299316ece1fe"' \
              --compressed
  /credits:
    get:
      parameters:
        - description: >
            The list of IDs to filter by. Repeat this parameter for each ID you want to include in the filter.

            The brackets *MUST* be percent-encoded, per the requirements in

            [RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).
          explode: true
          in: query
          name: ids[]
          required: false
          schema:
            items:
              format: uuid
              type: string
            type: array
            uniqueItems: true
        - description: >+
            Select which page number to receive results for. Pages are numbered starting at 1.

          in: query
          name: page[number]
          schema:
            minimum: 1
            type: integer
        - description: >+
            Indicate how many records to return per page. The maximum is 100.

          in: query
          name: page[size]
          schema:
            maximum: 100
            minimum: 1
            type: integer
        - description: >
            Limit the result to credits for the entity with this ID only. If the entity is not

            published, the credential needs to have the right privilege to list the credits for it.
          example: 76654e16-76ce-4945-92e9-e0a381917853
          in: query
          name: creditable_id
          schema:
            format: uuid
            type: string
        - description: >
            Limit the result to credits linked to this type of entity only.

            Depending on the privileges of the credential, this list might be further reduced to

            only published entities.
          in: query
          name: creditable_type
          schema:
            enum:
              - Series
              - Season
              - Episode
            type: string
        - description: >
            Specify how to sort the result. Please refer to either the top section or the

            [JSON:API specification](https://jsonapi.org/format/#fetching-sorting) on how sorting works in general.
          explode: false
          in: query
          name: sort
          schema:
            default: position
            enum:
              - created_at
              - position
              - updated_at
            items:
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Credit"
                    type: array
                  links:
                    $ref: "#/components/schemas/Links"
                type: object
          description: Success
        "400":
          description: >
            Bad Request


            Parameters requiring a specific format must adhere to that format.

            Pagination must have a positive page number and a page size no larger than 100. 
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "406":
          $ref: "#/components/responses/not_acceptable"
        "429":
          $ref: "#/components/responses/rate_limit_exceeded"
      summary: Get a list of credits
      tags:
        - Credit
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: >
            response = Typhoeus.get(
              "https://art19.com/credits",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="b3bd07ba-6fc9-48ac-9ab3-19c7d8dd2942"'
              },
              params: {
                # add filters if desired
                page: { number: 1, size: 25 }
              },
              timeout: 10
            )

            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: >
            try {
              const response = await fetch('https://art19.com/credits?page%5Bnumber%5D=1&page%5Bsize%5D=25', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="77f1438d-f19a-48d8-ad18-527043095e5d"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: >
            <?php

            // Initialize a cURL resource for a request

            $request = curl_init();


            try {
              // The API endpoint to request data from
              $url = array('https://art19.com/credits');

              // Provide extra parameters like filters or pagination to the request
              $url[] = http_build_query(array(
                'page' => array('number' => 1, 'size' => 25)
              ));

              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, implode('?', $url));
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="eac603fd-0492-4463-9bc1-c3393a16a100"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }

            ?>
        - label: cURL
          lang: shell
          source: >
            curl 'https://art19.com/credits?page%5Bnumber%5D=1&page%5Bsize%5D=25' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="421382c3-1bd9-4bb6-be9f-2a63d3eb6aa1"' \
              --compressed
  "/credits/{id}":
    get:
      parameters:
        - description: The ID of the credit resource to load.
          example: abc85597-4d58-4c25-a92e-7f5f3becb120
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/Credit"
                  links:
                    $ref: "#/components/schemas/ResourceLink"
                type: object
          description: Success
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
        "406":
          $ref: "#/components/responses/not_acceptable"
        "429":
          $ref: "#/components/responses/rate_limit_exceeded"
      summary: Get a specific credit
      tags:
        - Credit
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: >
            response = Typhoeus.get(
              "https://art19.com/credits/86ad8f59-07a7-4aee-92b5-2aec3db45f95",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="502cdf59-9362-4f63-a4f1-f1bc6e6df626"'
              },
              timeout: 10
            )

            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: >
            try {
              const response = await fetch('https://art19.com/credits/86ad8f59-07a7-4aee-92b5-2aec3db45f95', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="5105c4c2-fc8f-436f-b4ef-1b2386cd532a"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: >
            <?php

            // Initialize a cURL resource for a request

            $request = curl_init();


            try {
              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, 'https://art19.com/credits/86ad8f59-07a7-4aee-92b5-2aec3db45f95');
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="54f258b6-13a1-4c21-aaf0-3315baf5862a"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }

            ?>
        - label: cURL
          lang: shell
          source: >
            curl 'https://art19.com/credits/86ad8f59-07a7-4aee-92b5-2aec3db45f95' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="1c12f1b2-934c-4c4f-a0e8-2a6b85645cce"' \
              --compressed
  /episodes:
    get:
      description: >
        One initial filter must be provided (`ids`, `series_id`, or `season_id`), otherwise a `400 Bad Request` response

        will be returned. Additional filters are allowed.


        This API will only return episodes that your credential has permission to access, which may not be exclusive to

        your account, depending on the filter(s) being used. Be careful to filter the results as needed.
      parameters:
        - description: >
            The list of IDs to filter by. Repeat this parameter for each ID you want to include in the filter.

            The brackets *MUST* be percent-encoded, per the requirements in

            [RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).
          explode: true
          in: query
          name: ids[]
          required: false
          schema:
            items:
              format: uuid
              type: string
            type: array
            uniqueItems: true
        - description: >+
            Select which page number to receive results for. Pages are numbered starting at 1.

          in: query
          name: page[number]
          required: true
          schema:
            minimum: 1
            type: integer
        - description: >+
            Indicate how many records to return per page. The maximum is 100.

          in: query
          name: page[size]
          required: true
          schema:
            maximum: 100
            minimum: 1
            type: integer
        - description: Limit the result to episodes usable with an inventory management calendar for the provided AdDeal ID.
          example: b97239ef-1776-489a-a1df-5f70a8407148
          in: query
          name: included_in_inventory_calendar
          schema:
            format: uuid
            type: string
        - description: Limit the result to episodes released in this month.
          in: query
          name: month
          schema:
            type: string
        - description: >
            If `true`, limit the result to published episodes only.

            If `false`, limit the result to _unpublished_ episodes only.
          in: query
          name: published
          schema:
            type: boolean
        - description: Limit the result to episodes with a title containing this parameter in a case-insensitive way.
          in: query
          name: q
          schema:
            type: string
        - description: Limit the result to episodes released after this timestamp.
          in: query
          name: released_after
          schema:
            format: date-time
            type: string
        - description: Limit the result to episodes released before this timestamp.
          in: query
          name: released_before
          schema:
            format: date-time
            type: string
        - description: >
            If `true`, limit the result to published and released episodes holding an available media file.

            If this is `true`, it also changes the default sort order to `-released_at`.
          in: query
          name: rss
          schema:
            type: boolean
        - description: Limit result to episodes linked to this season.
          example: 30e7b568-d099-486b-9a8e-51b7594cab7d
          in: query
          name: season_id
          schema:
            format: uuid
            type: string
        - description: Limit the result to episodes linked to this series.
          example: d0ceb1ff-b95b-4c1e-a7e5-a36ed7b4d3b7
          in: query
          name: series_id
          schema:
            format: uuid
            type: string
        - description: >
            Specify how to sort the result. Please refer to either the top section or the

            [JSON:API specification](https://jsonapi.org/format/#fetching-sorting) on how sorting works in general.
          explode: false
          in: query
          name: sort
          schema:
            default: sort_title
            enum:
              - created_at
              - earliest_released_at
              - released_at
              - released_or_created_at
              - sort_title
              - title
              - updated_at
            items:
              type: string
            type: array
          style: form
        - description: Limit the result to episodes released in this year.
          in: query
          name: year
          schema:
            type: string
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Episode"
                    type: array
                  links:
                    $ref: "#/components/schemas/Links"
                type: object
          description: Success
        "400":
          description: >
            Bad Request


            Parameters requiring a specific format must adhere to that format.

            Pagination must be present and have a positive page number and a page size no larger than 100. One initial filter must be provided (`ids`, `series_id`, or `season_id`).
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "406":
          $ref: "#/components/responses/not_acceptable"
        "429":
          $ref: "#/components/responses/rate_limit_exceeded"
      summary: Get a list of episodes
      tags:
        - Episode
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: >
            response = Typhoeus.get(
              "https://art19.com/episodes",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="d6dc87a1-ad6b-4651-bf4e-977f05a43993"'
              },
              params: {
                # add filters if desired
                page: { number: 1, size: 25 }
              },
              timeout: 10
            )

            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: >
            try {
              const response = await fetch('https://art19.com/episodes?page%5Bnumber%5D=1&page%5Bsize%5D=25', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="37376a3c-5cfc-4dad-bd93-43387833883e"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: >
            <?php

            // Initialize a cURL resource for a request

            $request = curl_init();


            try {
              // The API endpoint to request data from
              $url = array('https://art19.com/episodes');

              // Provide extra parameters like filters or pagination to the request
              $url[] = http_build_query(array(
                'page' => array('number' => 1, 'size' => 25)
              ));

              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, implode('?', $url));
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="00245eb4-f9ce-4616-83d2-85246bf14993"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }

            ?>
        - label: cURL
          lang: shell
          source: >
            curl 'https://art19.com/episodes?page%5Bnumber%5D=1&page%5Bsize%5D=25' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="9ae49e51-0740-4808-84ee-8a419ab738af"' \
              --compressed
  "/episodes/{id}":
    get:
      parameters:
        - description: The ID of the episode resource to load.
          example: 9dcdf083-bcc6-436e-b1f5-fa9627b94868
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/Episode"
                  links:
                    $ref: "#/components/schemas/ResourceLink"
                type: object
          description: Success
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
        "406":
          $ref: "#/components/responses/not_acceptable"
        "429":
          $ref: "#/components/responses/rate_limit_exceeded"
      summary: Get a specific episode
      tags:
        - Episode
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: >
            response = Typhoeus.get(
              "https://art19.com/episodes/e1ab05fa-1a30-4f27-bb24-138c04f49225",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="6752b5a5-b9c0-4f9f-8b07-6b993ded513a"'
              },
              timeout: 10
            )

            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: >
            try {
              const response = await fetch('https://art19.com/episodes/e1ab05fa-1a30-4f27-bb24-138c04f49225', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="b90d744f-a307-424c-995f-f8125e68652b"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: >
            <?php

            // Initialize a cURL resource for a request

            $request = curl_init();


            try {
              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, 'https://art19.com/episodes/e1ab05fa-1a30-4f27-bb24-138c04f49225');
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="d93df845-e5f4-46d2-b1cd-11544fd08655"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }

            ?>
        - label: cURL
          lang: shell
          source: >
            curl 'https://art19.com/episodes/e1ab05fa-1a30-4f27-bb24-138c04f49225' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="8d36161d-cfab-4e5f-a7f7-8c45e4ea5e80"' \
              --compressed
  "/episodes/{id}/next_sibling":
    get:
      parameters:
        - description: The ID of the episode to find the one episode released right after it.
          example: 02fc63a3-4811-4df2-a24e-2d976d476941
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - description: >
            If `true`, get the next released and published episode with an available media file.
          in: query
          name: rss
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/Episode"
                  links:
                    $ref: "#/components/schemas/ResourceLink"
                type: object
          description: Success
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
        "406":
          $ref: "#/components/responses/not_acceptable"
        "429":
          $ref: "#/components/responses/rate_limit_exceeded"
      summary: Get the episode released right after the specified one
      tags:
        - Episode
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: >
            response = Typhoeus.get(
              "https://art19.com/episodes/f2868a01-a56e-4367-adac-be4d1e9bd252/next_sibling",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="338cf9b5-c0d4-4526-9f2c-24137c19cf95"'
              },
              timeout: 10
            )

            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: >
            try {
              const response = await fetch('https://art19.com/episodes/f2868a01-a56e-4367-adac-be4d1e9bd252/next_sibling', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="0be68e5a-30bb-4025-9c7e-9bf78ffb115b"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: >
            <?php

            // Initialize a cURL resource for a request

            $request = curl_init();


            try {
              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, 'https://art19.com/episodes/f2868a01-a56e-4367-adac-be4d1e9bd252/next_sibling');
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="25cb389e-3433-4167-937b-f6ec3817b35a"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }

            ?>
        - label: cURL
          lang: shell
          source: >
            curl 'https://art19.com/episodes/f2868a01-a56e-4367-adac-be4d1e9bd252/next_sibling' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="6fc1a59f-405a-4b40-8ce3-7453fdd41f5d"' \
              --compressed
  "/episodes/{id}/previous_sibling":
    get:
      parameters:
        - description: The ID of the episode to find the one episode released right before it.
          example: ad75db44-1fc7-4197-8949-cea3da755521
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - description: >
            If `true`, get the previously released and published episode with an available media file.
          in: query
          name: rss
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/Episode"
                  links:
                    $ref: "#/components/schemas/ResourceLink"
                type: object
          description: Success
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
        "406":
          $ref: "#/components/responses/not_acceptable"
        "429":
          $ref: "#/components/responses/rate_limit_exceeded"
      summary: Get the episode released right before the specified one
      tags:
        - Episode
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: >
            response = Typhoeus.get(
              "https://art19.com/episodes/6faec9c1-0dd9-4dbe-8cac-8022ef1c0846/previous_sibling",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="4db174ba-42b6-49e1-8198-ae915a76e966"'
              },
              timeout: 10
            )

            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: >
            try {
              const response = await fetch('https://art19.com/episodes/6faec9c1-0dd9-4dbe-8cac-8022ef1c0846/previous_sibling', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="75045986-2929-4be9-af22-c4dec83d977e"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: >
            <?php

            // Initialize a cURL resource for a request

            $request = curl_init();


            try {
              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, 'https://art19.com/episodes/6faec9c1-0dd9-4dbe-8cac-8022ef1c0846/previous_sibling');
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="2c51ad11-2281-421c-a576-b8f7fe6bfb64"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }

            ?>
        - label: cURL
          lang: shell
          source: >
            curl 'https://art19.com/episodes/6faec9c1-0dd9-4dbe-8cac-8022ef1c0846/previous_sibling' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="7e4e0593-6f6e-48c4-95b1-85f75e48b00c"' \
              --compressed
  /images:
    get:
      description: >+
        An image represents a piece of artwork attached to some entity like a series, season, or episode,

        and is _owned_ by an entity called the `bucket`.

        An image is also a container for several `MediaAssets` representing the physical files for various

        styles used.


        ## Media Asset Styles for Images


        Most media assets use square images. You may upload and use a square image, or upload an image of any

        shape and crop it to a square by specifying the cropping area. This area – identified by a coordinate

        `x, y` and a `width` & `height` – is the portion of the image used for all cover art. If an image has

        cropping defined, the cropped version of the image will be used in any `regular` or `square` style of media

        asset. If the original file is rectangular and does not have cropping, then the system will use a squared

        version of the original file with the smaller of width or height as the square size.


        The original image as uploaded into the system is always retained unmodified and available through

        the style `original`. All media asset styles except `stripped-original` consist of the cropped image.


        An image has media assets with the following styles:


        - `original`: This is the original file provided. May not be available, depending on permissions
          and file type.
        - `stripped-original`: The original file with all metadata (EXIF, XMP, PNG metadata, etc.) removed.
          This should be used for any application needing the original, uncropped, image.
        - `regular`: If the image has cropping defined, this is the cropped image.
          If not, this is a square version of the original.
        - `thumb`: A square thumbnail of the image with a size of `100x100` pixels.

        - `square-400`: A square version of the image with a size of `400x400` pixels.

        - `square-640`: A square version of the image with a size of `640x640` pixels.

        - `square-888`: A square version of the image with a size of `888x888` pixels.

        - `square-3000`: A square version of the image with a size of `3000x3000` pixels.
          This variant is only created if the cropped width & height are each at least 3000.
        - `itunes`: A square version of the image with a size of `1400x1400` pixels.


        ### Preferred image used in feeds


        For the main series image used in feeds, it is ideal to use the `square-3000` version.

        If that is not available, the `itunes` version should be used instead.

      parameters:
        - description: >
            The list of IDs to filter by. Repeat this parameter for each ID you want to include in the filter.

            The brackets *MUST* be percent-encoded, per the requirements in

            [RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).
          explode: true
          in: query
          name: ids[]
          required: true
          schema:
            items:
              format: uuid
              type: string
            type: array
            uniqueItems: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Image"
                    type: array
                  links:
                    $ref: "#/components/schemas/Links"
                type: object
          description: Success
        "400":
          description: >
            Bad Request


            Parameters requiring a specific format must adhere to that format.

            Pagination must have a positive page number and a page size no larger than 100. 
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "406":
          $ref: "#/components/responses/not_acceptable"
        "429":
          $ref: "#/components/responses/rate_limit_exceeded"
      summary: Get a list of images
      tags:
        - Image
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: >
            response = Typhoeus.get(
              "https://art19.com/images",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="bd3d4b46-95c6-4a9d-81e7-f790d9931bf4"'
              },
              params: {
                # add filters if desired
                page: { number: 1, size: 25 }
              },
              timeout: 10
            )

            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: >
            try {
              const response = await fetch('https://art19.com/images?page%5Bnumber%5D=1&page%5Bsize%5D=25', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="088f6491-a523-461f-b2b9-742c3a2bd631"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: >
            <?php

            // Initialize a cURL resource for a request

            $request = curl_init();


            try {
              // The API endpoint to request data from
              $url = array('https://art19.com/images');

              // Provide extra parameters like filters or pagination to the request
              $url[] = http_build_query(array(
                'page' => array('number' => 1, 'size' => 25)
              ));

              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, implode('?', $url));
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="66696863-b5a5-4c4f-a76a-6e78550c403c"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }

            ?>
        - label: cURL
          lang: shell
          source: >
            curl 'https://art19.com/images?page%5Bnumber%5D=1&page%5Bsize%5D=25' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="f1f49e8e-34cf-42a6-84b4-24f036033330"' \
              --compressed
  "/images/{id}":
    get:
      description: >+
        An image represents a piece of artwork attached to some entity like a series, season, or episode,

        and is _owned_ by an entity called the `bucket`.

        An image is also a container for several `MediaAssets` representing the physical files for various

        styles used.


        ## Media Asset Styles for Images


        Most media assets use square images. You may upload and use a square image, or upload an image of any

        shape and crop it to a square by specifying the cropping area. This area – identified by a coordinate

        `x, y` and a `width` & `height` – is the portion of the image used for all cover art. If an image has

        cropping defined, the cropped version of the image will be used in any `regular` or `square` style of media

        asset. If the original file is rectangular and does not have cropping, then the system will use a squared

        version of the original file with the smaller of width or height as the square size.


        The original image as uploaded into the system is always retained unmodified and available through

        the style `original`. All media asset styles except `stripped-original` consist of the cropped image.


        An image has media assets with the following styles:


        - `original`: This is the original file provided. May not be available, depending on permissions
          and file type.
        - `stripped-original`: The original file with all metadata (EXIF, XMP, PNG metadata, etc.) removed.
          This should be used for any application needing the original, uncropped, image.
        - `regular`: If the image has cropping defined, this is the cropped image.
          If not, this is a square version of the original.
        - `thumb`: A square thumbnail of the image with a size of `100x100` pixels.

        - `square-400`: A square version of the image with a size of `400x400` pixels.

        - `square-640`: A square version of the image with a size of `640x640` pixels.

        - `square-888`: A square version of the image with a size of `888x888` pixels.

        - `square-3000`: A square version of the image with a size of `3000x3000` pixels.
          This variant is only created if the cropped width & height are each at least 3000.
        - `itunes`: A square version of the image with a size of `1400x1400` pixels.


        ### Preferred image used in feeds


        For the main series image used in feeds, it is ideal to use the `square-3000` version.

        If that is not available, the `itunes` version should be used instead.

      parameters:
        - description: The ID of the image resource to load.
          example: 987200b9-afd0-4355-a299-58b7473dcd19
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/Image"
                  links:
                    $ref: "#/components/schemas/ResourceLink"
                type: object
          description: Success
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
        "406":
          $ref: "#/components/responses/not_acceptable"
        "429":
          $ref: "#/components/responses/rate_limit_exceeded"
      summary: Get a specific image
      tags:
        - Image
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: >
            response = Typhoeus.get(
              "https://art19.com/images/06b52b06-ecd3-4817-8b72-a735d3208593",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="082409ed-5c00-433f-8dda-541f97a40d6c"'
              },
              timeout: 10
            )

            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: >
            try {
              const response = await fetch('https://art19.com/images/06b52b06-ecd3-4817-8b72-a735d3208593', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="a42e3cfb-5a0c-427b-a647-52d8d317902a"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: >
            <?php

            // Initialize a cURL resource for a request

            $request = curl_init();


            try {
              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, 'https://art19.com/images/06b52b06-ecd3-4817-8b72-a735d3208593');
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="eb1905fe-b329-47f9-8b93-f46689cbbcd7"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }

            ?>
        - label: cURL
          lang: shell
          source: >
            curl 'https://art19.com/images/06b52b06-ecd3-4817-8b72-a735d3208593' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="4831d34a-d1d9-4942-afbc-4b25d0021ab1"' \
              --compressed
  /media_assets:
    get:
      description: >+
        A media asset is part of a collection of assets or files representing an image or a piece of audio content

        like an episode or an ad. Images, for example, have differently sized versions for better rendering performance,

        and a piece of audio content usually comes in different encoding formats.


        The `style` attribute of a media asset describes the role an asset plays in the context of the collection.

        The collection is what an asset is attached to (`attachment_id|type`).


        ## Styles for Images


        Most media assets use square images. You may upload and use a square image, or upload an image of any

        shape and crop it to a square by specifying the cropping area. This area – identified by a coordinate

        `x, y` and a `width` & `height` – is the portion of the image used for all cover art. If an image has

        cropping defined, the cropped version of the image will be used in any `regular` or `square` style of media

        asset. If the original file is rectangular and does not have cropping, then the system will use a squared

        version of the original file with the smaller of width or height as the square size.


        The original image as uploaded into the system is always retained unmodified and available through

        the style `original`. All media asset styles except `stripped-original` consist of the cropped image.


        An image has media assets with the following styles:


        - `original`: This is the original file provided. May not be available, depending on permissions
          and file type.
        - `stripped-original`: The original file with all metadata (EXIF, XMP, PNG metadata, etc.) removed.
          This should be used for any application needing the original, uncropped, image.
        - `regular`: If the image has cropping defined, this is the cropped image.
          If not, this is a square version of the original.
        - `thumb`: A square thumbnail of the image with a size of `100x100` pixels.

        - `square-400`: A square version of the image with a size of `400x400` pixels.

        - `square-640`: A square version of the image with a size of `640x640` pixels.

        - `square-888`: A square version of the image with a size of `888x888` pixels.

        - `square-3000`: A square version of the image with a size of `3000x3000` pixels.
          This variant is only created if the cropped width & height are each at least 3000.
        - `itunes`: A square version of the image with a size of `1400x1400` pixels.


        ### Preferred image used in feeds


        For the main series image used in feeds, it is ideal to use the `square-3000` version.

        If that is not available, the `itunes` version should be used instead.



        ## Styles for Audio


        - `medium`: A medium-quality version of the audio asset in various formats.

        - `original`: This is the original file provided. May not be available, depending on permissions
          and file type.
        - `waveform_data`: The generated BBC Audiowaveform data in JSON or binary format.

      parameters:
        - description: >
            The list of IDs to filter by. Repeat this parameter for each ID you want to include in the filter.

            The brackets *MUST* be percent-encoded, per the requirements in

            [RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).
          explode: true
          in: query
          name: ids[]
          required: true
          schema:
            items:
              format: uuid
              type: string
            type: array
            uniqueItems: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/MediaAsset"
                    type: array
                  links:
                    $ref: "#/components/schemas/Links"
                type: object
          description: Success
        "400":
          description: >
            Bad Request


            Parameters requiring a specific format must adhere to that format.

            Pagination must have a positive page number and a page size no larger than 100. 
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "406":
          $ref: "#/components/responses/not_acceptable"
        "429":
          $ref: "#/components/responses/rate_limit_exceeded"
      summary: Get a list of media assets
      tags:
        - MediaAsset
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: >
            response = Typhoeus.get(
              "https://art19.com/media_assets",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="6bd7c158-cd31-4044-b76e-bc49efa83ba3"'
              },
              params: {
                # add filters if desired
                page: { number: 1, size: 25 }
              },
              timeout: 10
            )

            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: >
            try {
              const response = await fetch('https://art19.com/media_assets?page%5Bnumber%5D=1&page%5Bsize%5D=25', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="203f0830-2e7c-412d-b37e-cb8d355ba957"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: >
            <?php

            // Initialize a cURL resource for a request

            $request = curl_init();


            try {
              // The API endpoint to request data from
              $url = array('https://art19.com/media_assets');

              // Provide extra parameters like filters or pagination to the request
              $url[] = http_build_query(array(
                'page' => array('number' => 1, 'size' => 25)
              ));

              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, implode('?', $url));
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="6575ba0a-4c6e-4c92-aab0-3b44096c4f92"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }

            ?>
        - label: cURL
          lang: shell
          source: >
            curl 'https://art19.com/media_assets?page%5Bnumber%5D=1&page%5Bsize%5D=25' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="046910d5-8aec-4fbe-a17b-c13ec9d29957"' \
              --compressed
  "/media_assets/{id}":
    get:
      description: >+
        A media asset is part of a collection of assets or files representing an image or a piece of audio content

        like an episode or an ad. Images, for example, have differently sized versions for better rendering performance,

        and a piece of audio content usually comes in different encoding formats.


        The `style` attribute of a media asset describes the role an asset plays in the context of the collection.

        The collection is what an asset is attached to (`attachment_id|type`).


        ## Styles for Images


        Most media assets use square images. You may upload and use a square image, or upload an image of any

        shape and crop it to a square by specifying the cropping area. This area – identified by a coordinate

        `x, y` and a `width` & `height` – is the portion of the image used for all cover art. If an image has

        cropping defined, the cropped version of the image will be used in any `regular` or `square` style of media

        asset. If the original file is rectangular and does not have cropping, then the system will use a squared

        version of the original file with the smaller of width or height as the square size.


        The original image as uploaded into the system is always retained unmodified and available through

        the style `original`. All media asset styles except `stripped-original` consist of the cropped image.


        An image has media assets with the following styles:


        - `original`: This is the original file provided. May not be available, depending on permissions
          and file type.
        - `stripped-original`: The original file with all metadata (EXIF, XMP, PNG metadata, etc.) removed.
          This should be used for any application needing the original, uncropped, image.
        - `regular`: If the image has cropping defined, this is the cropped image.
          If not, this is a square version of the original.
        - `thumb`: A square thumbnail of the image with a size of `100x100` pixels.

        - `square-400`: A square version of the image with a size of `400x400` pixels.

        - `square-640`: A square version of the image with a size of `640x640` pixels.

        - `square-888`: A square version of the image with a size of `888x888` pixels.

        - `square-3000`: A square version of the image with a size of `3000x3000` pixels.
          This variant is only created if the cropped width & height are each at least 3000.
        - `itunes`: A square version of the image with a size of `1400x1400` pixels.


        ### Preferred image used in feeds


        For the main series image used in feeds, it is ideal to use the `square-3000` version.

        If that is not available, the `itunes` version should be used instead.



        ## Styles for Audio


        - `medium`: A medium-quality version of the audio asset in various formats.

        - `original`: This is the original file provided. May not be available, depending on permissions
          and file type.
        - `waveform_data`: The generated BBC Audiowaveform data in JSON or binary format.

      parameters:
        - description: The ID of the media asset resource to load.
          example: ad980196-52c1-4b9d-83d8-25d914d78095
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/MediaAsset"
                  links:
                    $ref: "#/components/schemas/ResourceLink"
                type: object
          description: Success
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
        "406":
          $ref: "#/components/responses/not_acceptable"
        "429":
          $ref: "#/components/responses/rate_limit_exceeded"
      summary: Get a specific media asset
      tags:
        - MediaAsset
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: >
            response = Typhoeus.get(
              "https://art19.com/media_assets/e103cd0d-ad13-4226-a41d-eb08af5dd5bf",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="9935c076-8ba3-48e3-9dc5-62f2da882639"'
              },
              timeout: 10
            )

            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: >
            try {
              const response = await fetch('https://art19.com/media_assets/e103cd0d-ad13-4226-a41d-eb08af5dd5bf', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="5d562adc-968c-400a-8c13-45139642ff9a"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: >
            <?php

            // Initialize a cURL resource for a request

            $request = curl_init();


            try {
              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, 'https://art19.com/media_assets/e103cd0d-ad13-4226-a41d-eb08af5dd5bf');
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="76f6f089-9b2b-4149-a07c-1cf48ea24248"'
              ));

              // Execute the request and grab all status information
[...]
