swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /serviceregistry/alpha/projects
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Manages service endpoints in Service Registry and provides integration with DNS for service discovery and name resolution.
  title: Google Cloud Service Registry
  version: alpha
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/serviceregistry/alpha/rest'
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: serviceregistry
externalDocs:
  url: 'https://developers.google.com/cloud-serviceregistry/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/ndev.cloudman': View and manage your Google Cloud Platform management resources and deployment status information
      'https://www.googleapis.com/auth/ndev.cloudman.readonly': View your Google Cloud Platform management resources and deployment status information
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: endpoints
  - name: operations
paths:
  '/{project}/global/endpoints':
    get:
      description: Lists endpoints for a project.
      operationId: serviceregistry.endpoints.list
      parameters:
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

            Compute Engine Beta API Only: When filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: |-
            Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

            You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

            Currently, only sorting by name or creationTimestamp desc is supported.
          in: query
          name: orderBy
          type: string
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/EndpointsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - endpoints
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates an endpoint.
      operationId: serviceregistry.endpoints.insert
      parameters:
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Endpoint'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - endpoints
  '/{project}/global/endpoints/{endpoint}':
    delete:
      description: Deletes an endpoint.
      operationId: serviceregistry.endpoints.delete
      parameters:
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the endpoint for this request.
          in: path
          name: endpoint
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - endpoints
    get:
      description: Gets an endpoint.
      operationId: serviceregistry.endpoints.get
      parameters:
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the endpoint for this request.
          in: path
          name: endpoint
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Endpoint'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - endpoints
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an endpoint. This method supports patch semantics.
      operationId: serviceregistry.endpoints.patch
      parameters:
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the endpoint for this request.
          in: path
          name: endpoint
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Endpoint'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - endpoints
    put:
      description: Updates an endpoint.
      operationId: serviceregistry.endpoints.update
      parameters:
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the endpoint for this request.
          in: path
          name: endpoint
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Endpoint'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - endpoints
  '/{project}/global/operations':
    get:
      description: Lists all operations for a project.
      operationId: serviceregistry.operations.list
      parameters:
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

            Compute Engine Beta API Only: When filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: |-
            Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

            You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

            Currently, only sorting by name or creationTimestamp desc is supported.
          in: query
          name: orderBy
          type: string
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OperationsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - operations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/operations/{operation}':
    get:
      description: Gets information about a specific operation.
      operationId: serviceregistry.operations.get
      parameters:
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the operation for this request.
          in: path
          name: operation
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - operations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  Endpoint:
    properties:
      address:
        description: 'A user-provided address of the service represented by this endpoint. This can be an IPv4 or IPv6 address, or a hostname.'
        type: string
      creationTimestamp:
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
        type: string
      description:
        description: An optional user-provided description of the endpoint.
        type: string
      fingerprint:
        description: Supply the fingerprint value for update requests. The fingerprint value is generated by the server and ensures optimistic concurrency (so that only one update can be performed at a time). The fingerprint changes after each update.
        format: byte
        type: string
      id:
        description: '[Output Only] Unique identifier for the resource; defined by the server.'
        format: uint64
        type: string
      name:
        description: 'A user-provided name of the endpoint, which must be unique within the project. The name must comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.'
        type: string
      port:
        description: An optional user-provided port of the service represented by this endpoint.
        format: int32
        type: integer
      selfLink:
        description: '[Output Only] Self link for the endpoint.'
        type: string
      state:
        description: '[Output Only] The current state of the endpoint, as determined by the system.'
        type: string
      visibility:
        $ref: '#/definitions/EndpointEndpointVisibility'
        description: The DNS Integration configuration for this endpoint. This must be a list of fully-qualified URLs to Compute Engine networks.
    type: object
  EndpointEndpointVisibility:
    properties:
      networks:
        description: Google Compute Engine networks for which the name of this endpoint should be resolvable through DNS.
        items:
          type: string
        type: array
    type: object
  EndpointsListResponse:
    description: 'A response containing a partial list of Endpoints and a page token used to build the next request if the request has been truncated. Next available tag: 6'
    properties:
      endpoints:
        description: The endpoints contained in this response.
        items:
          $ref: '#/definitions/Endpoint'
        type: array
      nextPageToken:
        description: '[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.'
        type: string
    type: object
  Operation:
    description: 'An Operation resource, used to manage asynchronous API requests.'
    properties:
      clientOperationId:
        description: '[Output Only] Reserved for future use.'
        type: string
      creationTimestamp:
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
        type: string
      description:
        description: '[Output Only] A textual description of the operation, which is set when the operation is created.'
        type: string
      endTime:
        description: '[Output Only] The time that this operation was completed. This value is in RFC3339 text format.'
        type: string
      error:
        description: '[Output Only] If errors are generated during processing of the operation, this field will be populated.'
        properties:
          errors:
            description: '[Output Only] The array of errors encountered while processing this operation.'
            items:
              properties:
                code:
                  description: '[Output Only] The error type identifier for this error.'
                  type: string
                location:
                  description: '[Output Only] Indicates the field in the request that caused the error. This property is optional.'
                  type: string
                message:
                  description: '[Output Only] An optional, human-readable error message.'
                  type: string
              type: object
            type: array
        type: object
      httpErrorMessage:
        description: '[Output Only] If the operation fails, this field contains the HTTP error message that was returned, such as NOT FOUND.'
        type: string
      httpErrorStatusCode:
        description: '[Output Only] If the operation fails, this field contains the HTTP error status code that was returned. For example, a 404 means the resource was not found.'
        format: int32
        type: integer
      id:
        description: '[Output Only] The unique identifier for the resource. This identifier is defined by the server.'
        format: uint64
        type: string
      insertTime:
        description: '[Output Only] The time that this operation was requested. This value is in RFC3339 text format.'
        type: string
      kind:
        default: 'serviceregistry#operation'
        description: '[Output Only] Type of the resource. Always compute#operation for Operation resources.'
        type: string
      name:
        description: '[Output Only] Name of the resource.'
        type: string
      operationType:
        description: '[Output Only] The type of operation, such as insert, update, or delete, and so on.'
        type: string
      progress:
        description: '[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess when the operation will be complete. This number should monotonically increase as the operation progresses.'
        format: int32
        type: integer
      region:
        description: '[Output Only] The URL of the region where the operation resides. Only available when performing regional operations.'
        type: string
      selfLink:
        description: '[Output Only] Server-defined URL for the resource.'
        type: string
      startTime:
        description: '[Output Only] The time that this operation was started by the server. This value is in RFC3339 text format.'
        type: string
      status:
        description: '[Output Only] The status of the operation, which can be one of the following: PENDING, RUNNING, or DONE.'
        type: string
      statusMessage:
        description: '[Output Only] An optional textual description of the current status of the operation.'
        type: string
      targetId:
        description: '[Output Only] The unique target ID, which identifies a specific incarnation of the target resource.'
        format: uint64
        type: string
      targetLink:
        description: '[Output Only] The URL of the resource that the operation modifies.'
        type: string
      user:
        description: '[Output Only] User who requested the operation, for example: user@example.com.'
        type: string
      warnings:
        description: '[Output Only] If warning messages are generated during processing of the operation, this field will be populated.'
        items:
          properties:
            code:
              description: '[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.'
              type: string
            data:
              description: |-
                [Output Only] Metadata about this warning in key: value format. For example:
                "data": [ { "key": "scope", "value": "zones/us-east1-d" }
              items:
                properties:
                  key:
                    description: '[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).'
                    type: string
                  value:
                    description: '[Output Only] A warning data value corresponding to the key.'
                    type: string
                type: object
              type: array
            message:
              description: '[Output Only] A human-readable description of the warning code.'
              type: string
          type: object
        type: array
      zone:
        description: '[Output Only] The URL of the zone where the operation resides. Only available when performing per-zone operations.'
        type: string
    type: object
  OperationsListResponse:
    description: A response containing a partial list of operations and a page token used to build the next request if the request has been truncated.
    properties:
      nextPageToken:
        description: '[Output Only] A token used to continue a truncated list request.'
        type: string
      operations:
        description: '[Output Only] Operations contained in this list response.'
        items:
          $ref: '#/definitions/Operation'
        type: array
    type: object
