{
  "swagger": "2.0",
  "info": {
    "title": "Google Container Engine API",
    "x-serviceName": "container",
    "description": "The Google Container Engine API is used for building and managing container based applications, powered by the open source Kubernetes technology.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1",
    "x-providerName": "googleapis.com",
    "x-origin": {
      "format": "google",
      "version": "v1",
      "url": "https://www.googleapis.com/discovery/v1/apis/container/v1/rest"
    }
  },
  "host": "container.googleapis.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/projects/{projectId}/zones/{zone}/clusters": {
      "get": {
        "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
        "operationId": "container.projects.zones.clusters.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListClustersResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The Google Developers Console [project ID](https://console.developers.google.com/project) or [project number](https://developers.google.com/console/help/project-number)",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "post": {
        "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances, plus a Kubernetes master endpoint. By default, the cluster is created in the project's [default network]('/compute/docs/networking#networks_1'). One firewall is added for the cluster. After cluster creation, the cluster creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range is being used by the cluster.",
        "operationId": "container.projects.zones.clusters.create",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The Google Developers Console [project ID](https://console.developers.google.com/project) or [project number](https://developers.google.com/console/help/project-number)",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CreateClusterRequest"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/upload_protocol"
        },
        {
          "$ref": "#/parameters/uploadType"
        },
        {
          "$ref": "#/parameters/$.xgafv"
        }
      ]
    },
    "/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}": {
      "get": {
        "description": "Gets a specific cluster.",
        "operationId": "container.projects.zones.clusters.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The Google Developers Console A [project ID](https://console.developers.google.com/project) or [project number](https://developers.google.com/console/help/project-number)",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "clusterId",
            "in": "path",
            "description": "The name of the cluster to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "put": {
        "description": "Update settings of a specific cluster.",
        "operationId": "container.projects.zones.clusters.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The Google Developers Console [project ID](https://console.developers.google.com/project) or [project number](https://developers.google.com/console/help/project-number)",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "clusterId",
            "in": "path",
            "description": "The name of the cluster to upgrade.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UpdateClusterRequest"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "delete": {
        "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted.",
        "operationId": "container.projects.zones.clusters.delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The Google Developers Console [project ID](https://console.developers.google.com/project) or [project number](https://developers.google.com/console/help/project-number)",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "clusterId",
            "in": "path",
            "description": "The name of the cluster to delete.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/upload_protocol"
        },
        {
          "$ref": "#/parameters/uploadType"
        },
        {
          "$ref": "#/parameters/$.xgafv"
        }
      ]
    },
    "/v1/projects/{projectId}/zones/{zone}/operations": {
      "get": {
        "description": "Lists all operations in a project in a specific zone or all zones.",
        "operationId": "container.projects.zones.operations.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListOperationsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The Google Developers Console [project ID](https://console.developers.google.com/project) or [project number](https://developers.google.com/console/help/project-number)",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) to return operations for, or \"-\" for all zones.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/upload_protocol"
        },
        {
          "$ref": "#/parameters/uploadType"
        },
        {
          "$ref": "#/parameters/$.xgafv"
        }
      ]
    },
    "/v1/projects/{projectId}/zones/{zone}/operations/{operationId}": {
      "get": {
        "description": "Gets the specified operation.",
        "operationId": "container.projects.zones.operations.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The Google Developers Console [project ID](https://console.developers.google.com/project) or [project number](https://developers.google.com/console/help/project-number)",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The server-assigned `name` of the operation.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/upload_protocol"
        },
        {
          "$ref": "#/parameters/uploadType"
        },
        {
          "$ref": "#/parameters/$.xgafv"
        }
      ]
    }
  },
  "definitions": {
    "ListClustersResponse": {
      "type": "object",
      "description": "ListClustersResponse is the result of ListClustersRequest.",
      "properties": {
        "clusters": {
          "type": "array",
          "description": "A list of clusters in the project in the specified zone, or across all ones.",
          "items": {
            "$ref": "#/definitions/Cluster"
          }
        }
      }
    },
    "Cluster": {
      "type": "object",
      "description": "A Google Container Engine cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of this cluster. The name must be unique within this project and zone, and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter."
        },
        "description": {
          "type": "string",
          "description": "An optional description of this cluster."
        },
        "initialNodeCount": {
          "type": "integer",
          "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine [resource quota](/compute/docs/resource-quotas) is sufficient for this number of instances. You must also have available firewall and routes quota.",
          "format": "int32"
        },
        "nodeConfig": {
          "$ref": "#/definitions/NodeConfig",
          "description": "Parameters used in creating the cluster's nodes. See the descriptions of the child properties of `nodeConfig`."
        },
        "masterAuth": {
          "$ref": "#/definitions/MasterAuth",
          "description": "The authentication information for accessing the master."
        },
        "loggingService": {
          "type": "string",
          "description": "The logging service that the cluster should write logs to. Currently available options: * \"logging.googleapis.com\" - the Google Cloud Logging service * \"none\" - no logs will be exported from the cluster * \"\" - default value; the default is \"logging.googleapis.com\""
        },
        "monitoringService": {
          "type": "string",
          "description": "The monitoring service that the cluster should write metrics to. Currently available options: * \"monitoring.googleapis.com\" - the Google Cloud Monitoring service * \"none\" - no metrics will be exported from the cluster * \"\" - default value; the default is \"monitoring.googleapis.com\""
        },
        "network": {
          "type": "string",
          "description": "The name of the Google Compute Engine [network](/compute/docs/networking#networks_1) to which the cluster is connected. If left unspecified, the \"default\" network will be used."
        },
        "clusterIpv4Cidr": {
          "type": "string",
          "description": "The IP address range of the container pods in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`). Leave blank to have one automatically chosen or specify a `/14` block in `10.0.0.0/8` or `172.16.0.0/12`."
        },
        "selfLink": {
          "type": "string",
          "description": "[Output only] Server-defined URL for the resource. @OutputOnly."
        },
        "zone": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides. @OutputOnly."
        },
        "endpoint": {
          "type": "string",
          "description": "[Output only] The IP address of this cluster's Kubernetes master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. @OutputOnly. See the `masterAuth` property of this resource for username and password information."
        },
        "initialClusterVersion": {
          "type": "string",
          "description": "[Output only] The software version of Kubernetes master and kubelets used in the cluster when it was first created. The version can be upgraded over time. @OutputOnly."
        },
        "currentMasterVersion": {
          "type": "string",
          "description": "[Output only] The current software version of the master endpoint. @OutputOnly."
        },
        "currentNodeVersion": {
          "type": "string",
          "description": "[Output only] The current version of the node software components. If they are currently at different versions because they're in the process of being upgraded, this reflects the minimum version of any of them. @OutputOnly."
        },
        "createTime": {
          "type": "string",
          "description": "[Output only] The time the cluster was created, in [RFC3339](href='https://www.ietf.org/rfc/rfc3339.txt) text format. @OutputOnly."
        },
        "status": {
          "type": "string",
          "description": "[Output only] The current status of this cluster. @OutputOnly.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR"
          ]
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output only] Additional information about the current status of this cluster, if available. @OutputOnly."
        },
        "nodeIpv4CidrSize": {
          "type": "integer",
          "description": "[Output only] The size of the address space on each node for hosting containers. This is provisioned from within the container_ipv4_cidr range. @OutputOnly.",
          "format": "int32"
        },
        "servicesIpv4Cidr": {
          "type": "string",
          "description": "[Output only] The IP address range of the Kubernetes services in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). Service addresses are typically put in the last /16 from the container CIDR. @OutputOnly."
        },
        "instanceGroupUrls": {
          "type": "array",
          "description": "[Output only] The resource URLs of [instance groups](/compute/docs/instance-groups/) associated with this cluster. @OutputOnly.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NodeConfig": {
      "type": "object",
      "description": "Per-node parameters.",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "The name of a Google Compute Engine [machine type](/compute/docs/machine-types) (e.g. `n1-standard-1`). If unspecified, the default machine type is `n1-standard-1`."
        },
        "diskSizeGb": {
          "type": "integer",
          "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB, and the default is 100GB.",
          "format": "int32"
        },
        "oauthScopes": {
          "type": "array",
          "description": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. Currently, the following scopes are necessary to ensure the correct functioning of the cluster: * \"https://www.googleapis.com/auth/compute\" * \"https://www.googleapis.com/auth/devstorage.read_only\"",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MasterAuth": {
      "type": "object",
      "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates.",
      "properties": {
        "username": {
          "type": "string",
          "description": "The username to use for HTTP basic authentication when accessing the Kubernetes master endpoint."
        },
        "password": {
          "type": "string",
          "description": "The password to use for HTTP basic authentication when accessing the Kubernetes master endpoint. Because the master endpoint is open to the internet, you should create a strong password."
        },
        "clusterCaCertificate": {
          "type": "string",
          "description": "[Output only] Base64 encoded public certificate that is the root of trust for the cluster. @OutputOnly."
        },
        "clientCertificate": {
          "type": "string",
          "description": "[Output only] Base64 encoded public certificate used by clients to authenticate to the cluster endpoint. @OutputOnly."
        },
        "clientKey": {
          "type": "string",
          "description": "[Output only] Base64 encoded private key used by clients to authenticate to the cluster endpoint. @OutputOnly."
        }
      }
    },
    "CreateClusterRequest": {
      "type": "object",
      "description": "CreateClusterRequest creates a cluster.",
      "properties": {
        "cluster": {
          "$ref": "#/definitions/Cluster",
          "description": "A [cluster resource](/container-engine/docs/v1/projects/zones/clusters)"
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "Defines the operation resource. All fields are output only.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned ID for the operation. @OutputOnly."
        },
        "zone": {
          "type": "string",
          "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the operation is taking place. @OutputOnly."
        },
        "operationType": {
          "type": "string",
          "description": "The operation type. @OutputOnly.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATE_CLUSTER",
            "DELETE_CLUSTER",
            "UPGRADE_MASTER",
            "UPGRADE_NODES",
            "REPAIR_CLUSTER"
          ]
        },
        "status": {
          "type": "string",
          "description": "The current status of the operation. @OutputOnly.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        },
        "statusMessage": {
          "type": "string",
          "description": "If an error has occurred, a textual description of the error. @OutputOnly."
        },
        "selfLink": {
          "type": "string",
          "description": "Server-defined URL for the resource. @OutputOnly."
        },
        "targetLink": {
          "type": "string",
          "description": "Server-defined URL for the target of the operation. @OutputOnly."
        }
      }
    },
    "UpdateClusterRequest": {
      "type": "object",
      "description": "UpdateClusterRequest updates a cluster.",
      "properties": {
        "update": {
          "$ref": "#/definitions/ClusterUpdate",
          "description": "A description of the update."
        }
      }
    },
    "ClusterUpdate": {
      "type": "object",
      "description": "ClusterUpdate describes an update to the cluster.",
      "properties": {
        "desiredNodeVersion": {
          "type": "string",
          "description": "The Kubernetes version to change the nodes to (typically an upgrade). Use \"-\" to upgrade to the latest version supported by the server."
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "ListOperationsResponse is the result of ListOperationsRequest.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations in the project in the specified zone.",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "name": "access_token",
      "in": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "bearer_token": {
      "name": "bearer_token",
      "in": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "callback": {
      "name": "callback",
      "in": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "pp": {
      "name": "pp",
      "in": "query",
      "description": "Pretty-print response.",
      "default": true,
      "type": "boolean"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": true,
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "name": "upload_protocol",
      "in": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "name": "uploadType",
      "in": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "name": "$.xgafv",
      "in": "query",
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "Oauth2": {
      "type": "oauth2",
      "description": "Oauth 2.0 authentication",
      "flow": "implicit",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": "View and manage your data across Google Cloud Platform services"
      }
    }
  },
  "externalDocs": {
    "url": "https://cloud.google.com/container-engine/"
  }
}