swagger: '2.0'
info:
  version: '2018-10-26'
  x-release: v4
  title: Amazon Detective
  description: '<important> <p>Amazon Detective is currently in preview. The Detective API can only be used by accounts that are admitted into the preview.</p> </important> <p>Detective uses machine learning and purpose-built visualizations to help you analyze and investigate security issues across your Amazon Web Services (AWS) workloads. Detective automatically extracts time-based events such as login attempts, API calls, and network traffic from AWS CloudTrail and Amazon Virtual Private Cloud (Amazon VPC) flow logs. It also extracts findings detected by Amazon GuardDuty.</p> <p>The Detective API primarily supports the creation and management of behavior graphs. A behavior graph contains the extracted data from a set of member accounts, and is created and managed by a master account.</p> <p>Every behavior graph is specific to a Region. You can only use the API to manage graphs that belong to the Region that is associated with the currently selected endpoint.</p> <p>A Detective master account can use the Detective API to do the following:</p> <ul> <li> <p>Enable and disable Detective. Enabling Detective creates a new behavior graph.</p> </li> <li> <p>View the list of member accounts in a behavior graph.</p> </li> <li> <p>Add member accounts to a behavior graph.</p> </li> <li> <p>Remove member accounts from a behavior graph.</p> </li> </ul> <p>A member account can use the Detective API to do the following:</p> <ul> <li> <p>View the list of behavior graphs that they are invited to.</p> </li> <li> <p>Accept an invitation to contribute to a behavior graph.</p> </li> <li> <p>Decline an invitation to contribute to a behavior graph.</p> </li> <li> <p>Remove their account from a behavior graph.</p> </li> </ul> <p>All API actions are logged as CloudTrail events. See <a href="https://docs.aws.amazon.com/detective/latest/adminguide/logging-using-cloudtrail.html">Logging Detective API Calls with CloudTrail</a>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: detective
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/detective-2018-10-26.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/detective/'
host: api.detective.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://api.detective.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon Detective multi-region endpoint
  - url: 'https://api.detective.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon Detective multi-region endpoint
  - url: 'http://api.detective.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon Detective endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://api.detective.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon Detective endpoint for China (Beijing) and China (Ningxia)
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /invitation:
    put:
      operationId: AcceptInvitation
      description: <p>Amazon Detective is currently in preview.</p> <p>Accepts an invitation for the member account to contribute data to a behavior graph. This operation can only be called by an invited member account. </p> <p>The request provides the ARN of behavior graph.</p> <p>The member account status in the graph must be <code>INVITED</code>.</p>
      responses:
        '200':
          description: Success
        '480':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - GraphArn
            properties:
              GraphArn:
                description: <p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>
                type: string
                pattern: '^arn:aws[-\w]{0,10}?:detective:[-\w]{2,20}?:\d{12}?:graph:[abcdef\d]{32}?$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /graph:
    post:
      operationId: CreateGraph
      description: '<p>Amazon Detective is currently in preview.</p> <p>Creates a new behavior graph for the calling account, and sets that account as the master account. This operation is called by the account that is enabling Detective.</p> <p>The operation also enables Detective for the calling account in the currently selected Region. It returns the ARN of the new behavior graph.</p> <p> <code>CreateGraph</code> triggers a process to create the corresponding data tables for the new behavior graph.</p> <p>An account can only be the master account for one behavior graph within a Region. If the same account calls <code>CreateGraph</code> with the same master account, it always returns the same behavior graph ARN. It does not create a new behavior graph.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGraphResponse'
        '480':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /graph/members:
    post:
      operationId: CreateMembers
      description: '<p>Amazon Detective is currently in preview.</p> <p>Sends a request to invite the specified AWS accounts to be member accounts in the behavior graph. This operation can only be called by the master account for a behavior graph. </p> <p> <code>CreateMembers</code> verifies the accounts and then sends invitations to the verified accounts.</p> <p>The request provides the behavior graph ARN and the list of accounts to invite.</p> <p>The response separates the requested accounts into two lists:</p> <ul> <li> <p>The accounts that <code>CreateMembers</code> was able to start the verification for. This list includes member accounts that are being verified, that have passed verification and are being sent an invitation, and that have failed verification.</p> </li> <li> <p>The accounts that <code>CreateMembers</code> was unable to process. This list includes accounts that were already invited to be member accounts in the behavior graph.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateMembersResponse'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: ServiceQuotaExceededException
          schema:
            $ref: '#/definitions/ServiceQuotaExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - GraphArn
              - Accounts
            properties:
              GraphArn:
                description: The ARN of the behavior graph to invite the member accounts to contribute their data to.
                type: string
                pattern: '^arn:aws[-\w]{0,10}?:detective:[-\w]{2,20}?:\d{12}?:graph:[abcdef\d]{32}?$'
              Message:
                description: Customized message text to include in the invitation email message to the invited member accounts.
                type: string
                minLength: 1
                maxLength: 1000
              Accounts:
                description: 'The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.'
                type: array
                items:
                  $ref: '#/definitions/Account'
                minItems: 1
                maxItems: 50
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /graph/removal:
    post:
      operationId: DeleteGraph
      description: <p>Amazon Detective is currently in preview.</p> <p>Disables the specified behavior graph and queues it to be deleted. This operation removes the graph from each member account's list of behavior graphs.</p> <p> <code>DeleteGraph</code> can only be called by the master account for a behavior graph.</p>
      responses:
        '200':
          description: Success
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - GraphArn
            properties:
              GraphArn:
                description: The ARN of the behavior graph to disable.
                type: string
                pattern: '^arn:aws[-\w]{0,10}?:detective:[-\w]{2,20}?:\d{12}?:graph:[abcdef\d]{32}?$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /graph/members/removal:
    post:
      operationId: DeleteMembers
      description: '<p>Amazon Detective is currently in preview.</p> <p>Deletes one or more member accounts from the master account behavior graph. This operation can only be called by a Detective master account. That account cannot use <code>DeleteMembers</code> to delete their own account from the Morocco graph. To disable a behavior graph, the master account uses the <code>DeleteGraph</code> API method.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteMembersResponse'
        '480':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - GraphArn
              - AccountIds
            properties:
              GraphArn:
                description: The ARN of the behavior graph to delete members from.
                type: string
                pattern: '^arn:aws[-\w]{0,10}?:detective:[-\w]{2,20}?:\d{12}?:graph:[abcdef\d]{32}?$'
              AccountIds:
                description: The list of AWS account identifiers for the member accounts to delete from the behavior graph.
                type: array
                items:
                  $ref: '#/definitions/AccountId'
                minItems: 1
                maxItems: 50
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /membership/removal:
    post:
      operationId: DisassociateMembership
      description: <p>Amazon Detective is currently in preview.</p> <p>Removes the member account from the specified behavior graph. This operation can only be called by a member account that has the <code>ENABLED</code> status.</p>
      responses:
        '200':
          description: Success
        '480':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - GraphArn
            properties:
              GraphArn:
                description: <p>The ARN of the behavior graph to remove the member account from.</p> <p>The member account's member status in the behavior graph must be <code>ENABLED</code>.</p>
                type: string
                pattern: '^arn:aws[-\w]{0,10}?:detective:[-\w]{2,20}?:\d{12}?:graph:[abcdef\d]{32}?$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /graph/members/get:
    post:
      operationId: GetMembers
      description: <p>Amazon Detective is currently in preview.</p> <p>Returns the membership details for specified member accounts for a behavior graph.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMembersResponse'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - GraphArn
              - AccountIds
            properties:
              GraphArn:
                description: The ARN of the behavior graph for which to request the member details.
                type: string
                pattern: '^arn:aws[-\w]{0,10}?:detective:[-\w]{2,20}?:\d{12}?:graph:[abcdef\d]{32}?$'
              AccountIds:
                description: <p>The list of AWS account identifiers for the member account for which to return member details.</p> <p>You cannot use <code>GetMembers</code> to retrieve information about member accounts that were removed from the behavior graph.</p>
                type: array
                items:
                  $ref: '#/definitions/AccountId'
                minItems: 1
                maxItems: 50
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /graphs/list:
    post:
      operationId: ListGraphs
      description: '<p>Amazon Detective is currently in preview.</p> <p>Returns the list of behavior graphs that the calling account is a master of. This operation can only be called by a master account.</p> <p>Because an account can currently only be the master of one behavior graph within a Region, the results always contain a single graph.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGraphsResponse'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              NextToken:
                description: 'For requests to get the next page of results, the pagination token that was returned with the previous set of results. The initial request does not include a pagination token.'
                type: string
                minLength: 1
                maxLength: 1024
              MaxResults:
                description: 'The maximum number of graphs to return at a time. The total must be less than the overall limit on the number of results to return, which is currently 200.'
                type: integer
                minimum: 1
                maximum: 200
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /invitations/list:
    post:
      operationId: ListInvitations
      description: <p>Amazon Detective is currently in preview.</p> <p>Retrieves the list of open and accepted behavior graph invitations for the member account. This operation can only be called by a member account.</p> <p>Open invitations are invitations that the member account has not responded to.</p> <p>The results do not include behavior graphs for which the member account declined the invitation. The results also do not include behavior graphs that the member account resigned from or was removed from.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInvitationsResponse'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              NextToken:
                description: 'For requests to retrieve the next page of results, the pagination token that was returned with the previous page of results. The initial request does not include a pagination token.'
                type: string
                minLength: 1
                maxLength: 1024
              MaxResults:
                description: 'The maximum number of behavior graph invitations to return in the response. The total must be less than the overall limit on the number of results to return, which is currently 200.'
                type: integer
                minimum: 1
                maximum: 200
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /graph/members/list:
    post:
      operationId: ListMembers
      description: <p>Amazon Detective is currently in preview.</p> <p>Retrieves the list of member accounts for a behavior graph. Does not return member accounts that were removed from the behavior graph.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMembersResponse'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - GraphArn
            properties:
              GraphArn:
                description: The ARN of the behavior graph for which to retrieve the list of member accounts.
                type: string
                pattern: '^arn:aws[-\w]{0,10}?:detective:[-\w]{2,20}?:\d{12}?:graph:[abcdef\d]{32}?$'
              NextToken:
                description: 'For requests to retrieve the next page of member account results, the pagination token that was returned with the previous page of results. The initial request does not include a pagination token.'
                type: string
                minLength: 1
                maxLength: 1024
              MaxResults:
                description: 'The maximum number of member accounts to include in the response. The total must be less than the overall limit on the number of results to return, which is currently 200.'
                type: integer
                minimum: 1
                maximum: 200
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /invitation/removal:
    post:
      operationId: RejectInvitation
      description: <p>Amazon Detective is currently in preview.</p> <p>Rejects an invitation to contribute the account data to a behavior graph. This operation must be called by a member account that has the <code>INVITED</code> status.</p>
      responses:
        '200':
          description: Success
        '480':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - GraphArn
            properties:
              GraphArn:
                description: <p>The ARN of the behavior graph to reject the invitation to.</p> <p>The member account's current member status in the behavior graph must be <code>INVITED</code>.</p>
                type: string
                pattern: '^arn:aws[-\w]{0,10}?:detective:[-\w]{2,20}?:\d{12}?:graph:[abcdef\d]{32}?$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  ConflictException: {}
  InternalServerException: {}
  ResourceNotFoundException: {}
  ValidationException: {}
  CreateGraphResponse:
    type: object
    properties:
      GraphArn:
        $ref: '#/definitions/GraphArn'
        description: The ARN of the new behavior graph.
  CreateMembersResponse:
    type: object
    properties:
      Members:
        $ref: '#/definitions/MemberDetailList'
        description: 'The set of member account invitation requests that Detective was able to process. This includes accounts that are being verified, that failed verification, and that passed verification and are being sent an invitation.'
      UnprocessedAccounts:
        $ref: '#/definitions/UnprocessedAccountList'
        description: 'The list of accounts for which Detective was unable to process the invitation request. For each account, the list provides the reason why the request could not be processed. The list includes accounts that are already member accounts in the behavior graph.'
  Account:
    type: object
    required:
      - AccountId
      - EmailAddress
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The account identifier of the AWS account.
      EmailAddress:
        $ref: '#/definitions/EmailAddress'
        description: The AWS account root user email address for the AWS account.
    description: <p>Amazon Detective is currently in preview.</p> <p>An AWS account that is the master of or a member of a behavior graph.</p>
  ServiceQuotaExceededException: {}
  DeleteMembersResponse:
    type: object
    properties:
      AccountIds:
        $ref: '#/definitions/AccountIdList'
        description: The list of AWS account identifiers for the member accounts that Detective successfully deleted from the behavior graph.
      UnprocessedAccounts:
        $ref: '#/definitions/UnprocessedAccountList'
        description: 'The list of member accounts that Detective was not able to delete from the behavior graph. For each member account, provides the reason that the deletion could not be processed.'
  AccountId:
    type: string
    pattern: '^[0-9]+$'
    minLength: 12
    maxLength: 12
  GetMembersResponse:
    type: object
    properties:
      MemberDetails:
        $ref: '#/definitions/MemberDetailList'
        description: The member account details that Detective is returning in response to the request.
      UnprocessedAccounts:
        $ref: '#/definitions/UnprocessedAccountList'
        description: '<p>The requested member accounts for which Detective was unable to return member details.</p> <p>For each account, provides the reason why the request could not be processed.</p>'
  ListGraphsResponse:
    type: object
    properties:
      GraphList:
        $ref: '#/definitions/GraphList'
        description: A list of behavior graphs that the account is a master for.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'If there are more behavior graphs remaining in the results, then this is the pagination token to use to request the next page of behavior graphs.'
  ListInvitationsResponse:
    type: object
    properties:
      Invitations:
        $ref: '#/definitions/MemberDetailList'
        description: The list of behavior graphs for which the member account has open or accepted invitations.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'If there are more behavior graphs remaining in the results, then this is the pagination token to use to request the next page of behavior graphs.'
  ListMembersResponse:
    type: object
    properties:
      MemberDetails:
        $ref: '#/definitions/MemberDetailList'
        description: <p>The list of member accounts in the behavior graph.</p> <p>The results include member accounts that did not pass verification and member accounts that have not yet accepted the invitation to the behavior graph. The results do not include member accounts that were removed from the behavior graph.</p>
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'If there are more member accounts remaining in the results, then this is the pagination token to use to request the next page of member accounts.'
  GraphArn:
    type: string
    pattern: '^arn:aws[-\w]{0,10}?:detective:[-\w]{2,20}?:\d{12}?:graph:[abcdef\d]{32}?$'
  AcceptInvitationRequest:
    type: object
    required:
      - GraphArn
    properties:
      GraphArn:
        $ref: '#/definitions/GraphArn'
        description: <p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>
  EmailAddress:
    type: string
    pattern: ^.+@.+$
    minLength: 1
    maxLength: 64
  AccountIdList:
    type: array
    items:
      $ref: '#/definitions/AccountId'
    minItems: 1
    maxItems: 50
  AccountList:
    type: array
    items:
      $ref: '#/definitions/Account'
    minItems: 1
    maxItems: 50
  EmailMessage:
    type: string
    minLength: 1
    maxLength: 1000
  CreateMembersRequest:
    type: object
    required:
      - GraphArn
      - Accounts
    properties:
      GraphArn:
        $ref: '#/definitions/GraphArn'
        description: The ARN of the behavior graph to invite the member accounts to contribute their data to.
      Message:
        $ref: '#/definitions/EmailMessage'
        description: Customized message text to include in the invitation email message to the invited member accounts.
      Accounts:
        $ref: '#/definitions/AccountList'
        description: 'The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.'
  MemberDetailList:
    type: array
    items:
      $ref: '#/definitions/MemberDetail'
  UnprocessedAccountList:
    type: array
    items:
      $ref: '#/definitions/UnprocessedAccount'
  DeleteGraphRequest:
    type: object
    required:
      - GraphArn
    properties:
      GraphArn:
        $ref: '#/definitions/GraphArn'
        description: The ARN of the behavior graph to disable.
  DeleteMembersRequest:
    type: object
    required:
      - GraphArn
      - AccountIds
    properties:
      GraphArn:
        $ref: '#/definitions/GraphArn'
        description: The ARN of the behavior graph to delete members from.
      AccountIds:
        $ref: '#/definitions/AccountIdList'
        description: The list of AWS account identifiers for the member accounts to delete from the behavior graph.
  DisassociateMembershipRequest:
    type: object
    required:
      - GraphArn
    properties:
      GraphArn:
        $ref: '#/definitions/GraphArn'
        description: <p>The ARN of the behavior graph to remove the member account from.</p> <p>The member account's member status in the behavior graph must be <code>ENABLED</code>.</p>
  GetMembersRequest:
    type: object
    required:
      - GraphArn
      - AccountIds
    properties:
      GraphArn:
        $ref: '#/definitions/GraphArn'
        description: The ARN of the behavior graph for which to request the member details.
      AccountIds:
        $ref: '#/definitions/AccountIdList'
        description: <p>The list of AWS account identifiers for the member account for which to return member details.</p> <p>You cannot use <code>GetMembers</code> to retrieve information about member accounts that were removed from the behavior graph.</p>
  Timestamp:
    type: string
    format: date-time
  Graph:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/GraphArn'
        description: The ARN of the behavior graph.
      CreatedTime:
        $ref: '#/definitions/Timestamp'
        description: The date and time that the behavior graph was created. The value is in milliseconds since the epoch.
    description: <p>Amazon Detective is currently in preview.</p> <p>A behavior graph in Detective.</p>
  GraphList:
    type: array
    items:
      $ref: '#/definitions/Graph'
  PaginationToken:
    type: string
    minLength: 1
    maxLength: 1024
  MemberResultsLimit:
    type: integer
    minimum: 1
    maximum: 200
  ListGraphsRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'For requests to get the next page of results, the pagination token that was returned with the previous set of results. The initial request does not include a pagination token.'
      MaxResults:
        $ref: '#/definitions/MemberResultsLimit'
        description: 'The maximum number of graphs to return at a time. The total must be less than the overall limit on the number of results to return, which is currently 200.'
  ListInvitationsRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'For requests to retrieve the next page of results, the pagination token that was returned with the previous page of results. The initial request does not include a pagination token.'
      MaxResults:
        $ref: '#/definitions/MemberResultsLimit'
        description: 'The maximum number of behavior graph invitations to return in the response. The total must be less than the overall limit on the number of results to return, which is currently 200.'
  ListMembersRequest:
    type: object
    required:
      - GraphArn
    properties:
      GraphArn:
        $ref: '#/definitions/GraphArn'
        description: The ARN of the behavior graph for which to retrieve the list of member accounts.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'For requests to retrieve the next page of member account results, the pagination token that was returned with the previous page of results. The initial request does not include a pagination token.'
      MaxResults:
        $ref: '#/definitions/MemberResultsLimit'
        description: 'The maximum number of member accounts to include in the response. The total must be less than the overall limit on the number of results to return, which is currently 200.'
  MemberStatus:
    type: string
    enum:
      - INVITED
      - VERIFICATION_IN_PROGRESS
      - VERIFICATION_FAILED
      - ENABLED
  MemberDetail:
    type: object
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The AWS account identifier for the member account.
      EmailAddress:
        $ref: '#/definitions/EmailAddress'
        description: The AWS account root user email address for the member account.
      GraphArn:
        $ref: '#/definitions/GraphArn'
        description: The ARN of the behavior graph that the member account was invited to.
      MasterId:
        $ref: '#/definitions/AccountId'
        description: The AWS account identifier of the master account for the behavior graph.
      Status:
        $ref: '#/definitions/MemberStatus'
        description: '<p>The current membership status of the member account. The status can have one of the following values:</p> <ul> <li> <p> <code>INVITED</code> - Indicates that the member was sent an invitation but has not yet responded.</p> </li> <li> <p> <code>VERIFICATION_IN_PROGRESS</code> - Indicates that Detective is verifying that the account identifier and email address provided for the member account match. If they do match, then Detective sends the invitation. If the email address and account identifier don''t match, then the member cannot be added to the behavior graph.</p> </li> <li> <p> <code>VERIFICATION_FAILED</code> - Indicates that the account and email address provided for the member account do not match, and Detective did not send an invitation to the account.</p> </li> <li> <p> <code>ENABLED</code> - Indicates that the member account accepted the invitation to contribute to the behavior graph.</p> </li> </ul> <p>Member accounts that declined an invitation or that were removed from the behavior graph are not included.</p>'
      InvitedTime:
        $ref: '#/definitions/Timestamp'
        description: The date and time that Detective sent the invitation to the member account. The value is in milliseconds since the epoch.
      UpdatedTime:
        $ref: '#/definitions/Timestamp'
        description: The date and time that the member account was last updated. The value is in milliseconds since the epoch.
    description: <p>Amazon Detective is currently in preview.</p> <p>Details about a member account that was invited to contribute to a behavior graph.</p>
  RejectInvitationRequest:
    type: object
    required:
      - GraphArn
    properties:
      GraphArn:
        $ref: '#/definitions/GraphArn'
        description: <p>The ARN of the behavior graph to reject the invitation to.</p> <p>The member account's current member status in the behavior graph must be <code>INVITED</code>.</p>
  UnprocessedReason:
    type: string
  UnprocessedAccount:
    type: object
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The AWS account identifier of the member account that was not processed.
      Reason:
        $ref: '#/definitions/UnprocessedReason'
        description: The reason that the member account request could not be processed.
    description: <p>Amazon Detective is currently in preview.</p> <p>A member account that was included in a request but for which the request could not be processed.</p>
