{
  "swagger": "2.0",
  "info": {
    "title": "Prediction API",
    "x-serviceName": "prediction",
    "description": "Lets you access a cloud hosted machine learning service that makes it easy to build smart apps",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1.2",
    "x-origin": {
      "format": "google",
      "version": "v1",
      "url": "https://www.googleapis.com/discovery/v1/apis/prediction/v1.2/rest"
    }
  },
  "host": "www.googleapis.com",
  "basePath": "/prediction/v1.2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/training/{data}/predict": {
      "post": {
        "description": "Submit data and request a prediction",
        "operationId": "prediction.predict",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Output"
            }
          }
        },
        "parameters": [
          {
            "name": "data",
            "in": "path",
            "description": "mybucket%2Fmydata resource in Google Storage",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Input"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/prediction"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/hostedmodels/{hostedModelName}/predict": {
      "post": {
        "description": "Submit input and request an output against a hosted model",
        "operationId": "prediction.hostedmodels.predict",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Output"
            }
          }
        },
        "parameters": [
          {
            "name": "hostedModelName",
            "in": "path",
            "description": "The name of a hosted model",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Input"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/prediction"
            ]
          }
        ],
        "tags": [
          "hostedmodels"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/training/{data}": {
      "delete": {
        "description": "Delete a trained model",
        "operationId": "prediction.training.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "data",
            "in": "path",
            "description": "mybucket/mydata resource in Google Storage",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/prediction"
            ]
          }
        ],
        "tags": [
          "training"
        ]
      },
      "get": {
        "description": "Check training status of your model",
        "operationId": "prediction.training.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Training"
            }
          }
        },
        "parameters": [
          {
            "name": "data",
            "in": "path",
            "description": "mybucket/mydata resource in Google Storage",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/prediction"
            ]
          }
        ],
        "tags": [
          "training"
        ]
      },
      "put": {
        "description": "Add new data to a trained model",
        "operationId": "prediction.training.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Training"
            }
          }
        },
        "parameters": [
          {
            "name": "data",
            "in": "path",
            "description": "mybucket/mydata resource in Google Storage",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/prediction"
            ]
          }
        ],
        "tags": [
          "training"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/training": {
      "post": {
        "description": "Begin training your model",
        "operationId": "prediction.training.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Training"
            }
          }
        },
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "description": "mybucket/mydata resource in Google Storage",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Training"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control",
              "https://www.googleapis.com/auth/devstorage.read_only",
              "https://www.googleapis.com/auth/devstorage.read_write",
              "https://www.googleapis.com/auth/prediction"
            ]
          }
        ],
        "tags": [
          "training"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "Input": {
      "type": "object",
      "properties": {
        "input": {
          "type": "object",
          "properties": {
            "csvInstance": {
              "type": "array",
              "items": {}
            }
          }
        }
      }
    },
    "Output": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "prediction#output"
        },
        "outputLabel": {
          "type": "string"
        },
        "outputMulti": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "score": {
                "type": "number",
                "format": "double"
              }
            }
          }
        },
        "outputValue": {
          "type": "number",
          "format": "double"
        },
        "selfLink": {
          "type": "string"
        }
      }
    },
    "Training": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "prediction#training"
        },
        "modelInfo": {
          "type": "object",
          "properties": {
            "classificationAccuracy": {
              "type": "number",
              "format": "double"
            },
            "meanSquaredError": {
              "type": "number",
              "format": "double"
            },
            "modelType": {
              "type": "string"
            }
          }
        },
        "selfLink": {
          "type": "string"
        },
        "trainingStatus": {
          "type": "string"
        }
      }
    },
    "Update": {
      "type": "object",
      "properties": {
        "classLabel": {
          "type": "string",
          "description": "The true class label of this instance"
        },
        "csvInstance": {
          "type": "array",
          "description": "The input features for this instance",
          "items": {}
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ]
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "userIp": {
      "name": "userIp",
      "in": "query",
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "Oauth2": {
      "type": "oauth2",
      "description": "Oauth 2.0 authentication",
      "flow": "implicit",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.full_control": "Manage your data and permissions in Google Cloud Storage",
        "https://www.googleapis.com/auth/devstorage.read_only": "View your data in Google Cloud Storage",
        "https://www.googleapis.com/auth/devstorage.read_write": "Manage your data in Google Cloud Storage",
        "https://www.googleapis.com/auth/prediction": "Manage your data in the Google Prediction API"
      }
    }
  },
  "externalDocs": {
    "url": "https://developers.google.com/prediction/docs/developer-guide"
  }
}